
/*_通用标签_*/
*{margin:0;padding:0;word-wrap:break-word;}
body{font:12px "Microsoft YaHei",'DejaVu Sans','Lucida Grande',Tahoma,'Hiragino Sans GB';  backgroud-size:100% 100%; width:100%; height:100%; }
a{color:#000;text-decoration:none;}

a img{border:none;} 
div,ul,li,p,form{padding: 0px; margin: 0px;list-style-type: none;}
em{font-style: normal;font-weight: normal;}
table {padding: 0px; margin: 0px;list-style-type: none;}
dt,dl,dd {padding: 0px; margin: 0px;list-style-type: none;}
form{margin:0px;padding:0px;}
tr {padding: 0px; margin: 0px;list-style-type: none;}
h3,h4{padding:0px; font-size:14px; font-weight:bold;}
.clear {clear:both;height:0px; _display:none;}
.ad{}
.mad{ margin:auto; margin-top:2px; width:950px;}
.add{ margin:auto; margin-top:4px; clear:both;}
.ads{ margin-top:0px; clear:both;}
.time{ float:right; margin-right:10px;}
.time a{ color:#5c8016; font-weight:normal;}

.center{ text-align:center;}
.left{ float:left;}
.right{ float:right;}
.r3{ margin-right:3px;}
.r5{ margin-right:5px;}
.r7{ margin-right:7px;}
.r8{ margin-right:8px;}
.r9{ margin-right:9px;}
.r10{ margin-right:10px;}
.r12{ margin-right:12px;}
.r15{ margin-right:15px;}
.r17{ margin-right:17px;}
.r20{ margin-right:20px;}
.l10{margin-left:10px;}
.l15{margin-left:15px;}
.top5{ margin-top:5px;}
.top3{ margin-top:3px;}
.top7{ margin-top:7px;}
.top8{ margin-top:8px;}
.top9{ margin-top:9px;}
.top10{ margin-top:10px;}
.top15{ margin-top:15px;}
.top20{ margin-top:20px;}
.top25{ margin-top:25px;}
.ptop5{ padding-top:5px;}
.auto{margin:auto;}
.overflow{ overflow:hidden;}
.yahei{ font-family:"Microsoft YaHei";}
.yahei a{ font-family:"Microsoft YaHei";}
.red{ color:#F00;}


.headtopnb{ height:62px; width:100%; background:#FFF; position:relative; z-index:100;}
.zsp1{ position:absolute; left:0; top:0;}
.zsp2{ position:absolute; right:0; top:0;}

.menuw{ width:1140px; margin:auto; height:62px;}

.logo{ width:130px; height:62px;}
.menulist{ width:920px; margin-left:90px; }
.menulist a{ width:106px; height:62px; display:block; float:left; line-height:62px; color:#1c1c1c; font-size:14px; text-align:center;}
.menulist a.on{ background:#009a2c; color:#fff; }
.menulist a:hover{ background:#009a2c; color:#fff; }


.flash{ width:100%;  overflow:hidden; overflow:hidden; position:relative; z-index:0; position:absolute; top:0px; left:0;}

.counter2{ width:1200px;  margin:auto; position:relative;  }

.counter{ width:1200px; margin:auto; padding-top:10px; position:relative; z-index:1000; height:550px; overflow:hidden; margin-top:50px; padding-left:10px; background:url(../image/bobyb.png) repeat; padding-bottom:10px;}





	


.dblist{ width:100%; height:30px; background:#000; overflow:hidden;  text-align:left; line-height:30px; color:#98c4da; position:absolute; z-index:1000; bottom:0px; left:0;_top:700px;
filter:alpha(opacity=60); 
-moz-opacity: 0.6; 
-khtml-opacity: 0.6; 
opacity:0.6;}

.opty{ width:1200px; margin:auto; position:relative;}

.dbfx{ height:33px; position:absolute; top:5px; right:0; width:190px;_width:0px; overflow:hidden;}
.dbfx a{ display:block; width:33px; overflow:hidden; height:33px; float:left; margin:0 7px;}
.dbfx a img.img{ margin-top:-33px;}




