

.oyelow{ width:228px; height:172px; padding:10px 30px 0 30px; background:#f2d72e; position:absolute; top:60px; right:0;}

.btel{ height:32px; line-height:32px; font-size:20px; font-weight:bold; letter-spacing:1px;}
.btel a{ font-size:20px; font-weight:bold;}
.stel{ height:26px; line-height:26px; font-size:14px;}
.stel a{ font-size:14px;}
.se1{ color:#977109;}
.se2{ color:#01800b;}
.se3{ color:#dbff95;}
.se4{ color:#01800b;}
.se1 a{ color:#977109;}
.se2 a{ color:#01800b;}
.se3 a{ color:#dbff95;}
.se4 a{ color:#01800b;}

.stel a{ color:#4f4f4f;}
.prod{ width:226px; height:105px; border:1px solid #c0b15d; overflow:hidden; background:#000;_background:#fff;}
.prod img{ width:226px;_height:105px; min-height:105px;}




.prod a:hover{filter: alpha(opacity=80); 
-moz-opacity: 0.8; 
-khtml-opacity: 0.8; 
opacity: 0.8;}

.obulew{ width:140px; padding:10px 30px 0 30px; height:170px; position:absolute; top:252px; right:0; background:#63bded;}

.prod2{ width:140px; height:95px; margin-top:5px; border:1px solid #c0b15d; overflow:hidden; background:#000;_background:#fff; position:relative;}
.prod2tel{ height:26px; width:140px; position:absolute; left:0; bottom:0; line-height:26px; text-align:center; background:#000;
filter: alpha(opacity=60); 
-moz-opacity: 0.6; 
-khtml-opacity: 0.6; 
opacity: 0.6;}
.prod2tel a{ color:#FFF;}
.prod2tel a:hover{ color:#FF0;}
.prod2 img{ width:140px;_height:105px; min-height:95px;}

.obulew2{ width:380px; padding:10px 30px 0 30px; height:170px; position:absolute; top:252px; right:210px; background:#48a358;}

.btel span{ font-weight:normal; font-size:13px; margin-left:20px;}

.obuw{ line-height:24px; margin-top:10px;}

.obuw a{color:#dbff95; margin-left:10px;}

.obuw a:hover{ color:#FF0;}

.oysan{ width:195px; padding:5px 30px 0 5px; height:175px; position:absolute; top:442px; right:0; background:url(../image/bobyb.png) repeat;}
.oyimg{ width:195px; height:95px; overflow:hidden; background:#000;_background:#FFF;}
.oyimg img{ width:195px; height:95px;}

.oysan2{ width:250px; padding:5px 30px 0 30px; height:175px; position:absolute; top:442px; right:240px; background:#7aaaf4;}

.se5 a{ color:#ebae0a;}
.ysanlist{ margin-top:10px;}
.ysanlist ul li{ line-height:30px;}
.ysanlist ul li a{ color:#ebae0a;}
.ysanlist ul li a font{ font-weight:bold; font-size:14px; margin-right:5px;}
.ysanlist ul li a:hover{ color:#FF0;}


a:hover{ color:#F00;}
a img:hover{filter: alpha(opacity=80); 
-moz-opacity: 0.8; 
-khtml-opacity: 0.8; 
opacity: 0.8;}