
/* 企业简介的内容页 */

.lisad{ position:relative; height:200px; width:100%; overflow:hidden; margin-top:-30px;}
.lisad img{height:200px; width:1440px;  margin:auto;}
.sanjiao{ position:absolute; top:210px; left:50%; margin-left:-678px; z-index:200;}

.gsqy{ margin-top:20px; height:412px; overflow:hidden;}

.gsqyleft{ width:285px; height:412px;}
.gsqyleft img{ width:285px; height:412px;}

.gsqyright{ margin-left:25px; width:790px;}
.jjtel{ font-size:18px; color:#3c3c3d; line-height:30px; text-align:center;}

.jjwen{ line-height:36px; margin-top:20px;}
.jjwen p{ text-indent:2em;}


.jjy{ margin-top:20px; background:url(../image/nyxt.png) repeat-x left top; width:1100px; padding-top:20px; margin-bottom:10px;}
.jjy ul li{ float:left; width:365px; padding-top:217px;}

.jjy ul li:hover{ cursor:pointer;}
.jjy ul li.aj1{ background:url(../image/kk1b.png) no-repeat center top;}
.jjy ul li.aj2{ background:url(../image/kk2b.png) no-repeat center top;}
.jjy ul li.aj3{ background:url(../image/kk3b.png) no-repeat center top;}

.jjy ul li.aj1:hover{ background:url(../image/kk1h.png) no-repeat center top;}
.jjy ul li.aj2:hover{ background:url(../image/kk2h.png) no-repeat center top;}
.jjy ul li.aj3:hover{ background:url(../image/kk3h.png) no-repeat center top;}

.jjy ul li p{ text-align:center;}
.pj1{ font-size:18px; font-weight:bold; color:#2e2e2e;}
.pj2{ line-height:20px; letter-spacing:-1px;}


.newlis ul li{ height:38px; line-height:35px; border-bottom:1px dashed #999; padding-left:5px;}
.newlis ul li span{ float:right; margin-right:5px; color:#333;}
.newlis ul li a{ display:block; padding-left:14px; background:url(../image/quan.jpg) no-repeat left center; color:#000;}
.newlis ul li a:hover{ color:#08699a;}
.newlis ul li:hover{border-bottom:1px dashed #08699a;}
.newlis ul li:hover span{color:#08699a;}


/* 产品类别页 */
.prodlistw{ padding:5px 0px 20px 0px; width:950px;}

.prodlistw a{ display:block; border:1px solid #FFF; width:218px; float:left; margin-right:15px; margin-bottom:20px; margin-top:10px; overflow:hidden;}

.prodlistw a img{ width:218px; height:140px;}

.prodlistw a p{ width:228px; height:25px; background:#CCC; text-align:center; line-height:25px; font-size:14px;}
.prodlistw a:hover{border:1px solid #009a2c;}
.prodlistw a:hover p{background:#009a2c; color:#FFF;}


/* 新闻列表页 */

.new_left{ width:229px; border-right:1px solid #eee;}
.lxwmimg{ padding-top:10px;}
.lxadr {
    line-height: 24px;
    margin-top: 10px;
	padding-right:15px;
}
.gstelist{ padding-left:10px;}
.gstelist a{ display:block; height:30px; line-height:30px; border-bottom:1px dashed #CCC; width:210px; margin-bottom:5px;}
.gstelist a font{ margin:0 5px 0 5px; color:#08699a;}

.gstelist a:hover{ color:#009a2c;}

.new_right{ width:930px; padding-left:10px; padding-right:10px; overflow:hidden; }
.wentel{ height:33px; line-height:27px; padding-left:10px; color:#545454; letter-spacing:1px; font-size:16px; border-bottom:2px solid #08699a;}

.newlistw{ padding:0px 0px 20px 10px;}

.newlistw ul li{ border-bottom:1px dashed #CCC; padding-bottom:5px; margin-top:10px; margin-bottom:10px; height:105px;}

.newpic{ width:152px; height:102px; border:1px solid #FFF;}
.newpic img{ width:150px; height:100px; }
.newpic img:hover{ border:1px solid #388d00;}

.newtxt{ width:660px; margin-left:30px; overflow:hidden;}
.newptel{ line-height:26px;}
.newptel a{ font-size:16px; color:#333;}
.newptel a:hover{ color:#388d00;}

.newpwen{ line-height:18px; height:36px; overflow:hidden; color:#666;}
.newptime{ line-height:40px; color:#009a2c;}


.newntel{   color:#4e4e4e;
    font-family: "Microsoft YaHei";
    font-size: 26px;
    padding-bottom: 20px;
    text-align: center;}
	
.newtelx{ border-bottom:1px dashed #CCC; line-height:25px;}	
.newtelx font{color:#4e4e4e; padding-left:5px;}

.newcontext{line-height:25px;  padding:10px 0px 10px 0px; color:#000; height:380px; overflow:hidden;_overflow-y:scroll;}

.newcontext{ width:910px; margin:5px auto; padding-right:12px; }
.newcontext p{color:#000; font-size:12px;  text-align:left; text-indent:2em;}

.newcontext img{ width:auto;!important;max-width:630px;}

.prdsx{ padding-left:5px; line-height:25px; color:#333; font-size:14px;}
.newtelx font.prdprice{ color:#F00; font-size:14px;}
.pwz{ margin-left:20px;}
.prdimg{ width:720px; overflow:hidden; margin:auto; margin-top:10px; overflow:hidden; text-align:center; position:relative;}
.prdimg img{ width:auto;!important; max-width:800px;}

/* 产品列表页 */

.casetel{ height:33px; margin-bottom:10px; border-bottom: 2px solid #08699a;}
.casetelgsjs{ height:13px; margin-bottom:10px;}
.casetel p{ width:100px; height:33px; line-height:30px; color:#545454; font-size:18px;}

.casesamll{ margin-top:10px; background:none; height:25px; overflow:hidden;}
.casesamll a{ height:25px; background:#d8d8d8; color:#4e4e4e; padding:0 15px; line-height:25px; display:block; float:left; margin:0 10px 0 5px;}
.casesamll a.one{background:#12244a; color:#FFF;}
.casesamll a:hover{background:#12244a; color:#FFF;}


.jsnew{ height:200px; width:100%; margin-bottom:10px;}
.jsnew_left{ width:150px; overflow:hidden;}
.jsnew_left img{ width:150px; height:200px;}
.jsnew_right{ width:550px;}

.dib{ margin-top:10px;}
.dib a{ margin:0 15px;}


/* 人才招聘列表页 */

.joblistw{ padding:0px 0px 20px 10px;}
.jobtel{ height:30px; line-height:30px; font-size:14px; color:#666; margin-bottom:10px;}
.jobtel table{ width:100%;}
.joblistw ul li{ width:100%; line-height:40px; border-bottom:1px dashed #ccc;}
.joblistw ul li table{ width:100%;}
.joblistw ul li a{ color:#333;}
.joblistw ul li a:hover{ color:#008aff;}


/* 人才招内容页 */

.rczpic{ text-align:left; height:114px; overflow:hidden; margin-bottom:5px;}

.jjtzwei{ border:1px dashed #08699a; padding:5px 0 5px 10px; border-right:none; padding-bottom:5px;}
.sming span{ margin-right:5px;}

.xqing{ width:150px; border-bottom:1px solid #08699a; height:30px; line-height:30px; margin-top:10px; padding-left:5px; font-weight:bold; letter-spacing:2px; margin-bottom:5px;}



