@charset "utf-8";
/* CSS Document */

/* 首页banner */
.slideBox{ width:958px; height:400px; overflow:hidden; position:relative;}
.slideBox:hover .prev{display: block;}
.slideBox:hover .next{display: block;}
.slideBox .hd{background: #000 none repeat scroll 0 0; border-radius: 30px; bottom: 12px; overflow: hidden; padding: 4px 10px; position: absolute; right: 20px; text-align: center; z-index: 800;}
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{background: #919090 none repeat scroll 0 0; border: 2px solid #626262; border-radius: 50%; cursor: pointer; display: inline-block; float: left; font-size: 0;    height: 10px; line-height: 0; margin: 0 3px; width: 10px;}
.slideBox .hd ul li.on{ background:#fff; border-color:#aaa; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; width:100%; }
.slideBox .bd img{ width:958px; height:400px; display:block;  }

/* 下面是前/后按钮代码，如果不需要删除即可 */
.slideBox .prev,
.slideBox .next{display:none; filter:alpha(opacity=30);opacity:0.3;  background: #000 none repeat scroll 0 0; border-bottom-left-radius: 3px; border-top-left-radius: 3px;    height: 73px; opacity: 0.3; overflow: hidden; width: 43px;margin-top: -35px; position: absolute; right: 0; text-align: center; top: 50%; z-index: 800;}
.slideBox .prev{ left:auto; left: 232px; border-bottom-right-radius: 3px;  border-top-right-radius: 3px; border-bottom-left-radius: 0; border-top-left-radius: 0; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=70); opacity:0.7;}
.slideBox .prevStop{ display:none;}
.slideBox .nextStop{ display:none;}

/*通用右侧幻灯*/
.slide_global{width:300px; height: 230px;}
.slide_global .bd img{width:300px; height: 230px;}