/* by nana */
/* 首页banner主版块 */
.bancon{width:1200px; overflow: hidden; margin:0 auto;}
.ban{position:relative;}
.ban_up{overflow: hidden; margin-bottom: 10px;}
.ban_down{overflow: hidden;}
.ban{width: 958px; height: 400px; float: left;}
.ban .bfont{font-size:32px; color: #fff; line-height: 73px;}

/* 首页学科导航 */
.sub_nav{position:absolute; left: 0; top:0; width:232px; height:400px; background:url("../images/course_bg.png"/*tpa=http://www.itcast.cn/images/course_bg.png*/); z-index: 55;}
.sub_nav .nav_txt{padding-top:20px;}
.sub_nav .nav_txt li{height:35px; line-height: 35px; margin-bottom: 1px; overflow: hidden;}
.sub_nav .nav_txt li a{display:block; color: #fff; height:35px; padding:0 38px;}
.sub_nav .nav_txt li:hover{background: #0099E5;}
.sub_nav .nav_txt li.cur{background: #0099E5;}
.sub_nav .nav_txt li span{float: left; cursor:pointer;}
.sub_nav .nav_txt li i{float: right; cursor:default;}
.course_kind{position:absolute; left:232px; top:0; width:150px; height:398px; border: 1px solid #E0E0E0; background: #F9F9F9; display: none;}
/* .course_kind ul li{width:119px; height:398px; margin: 0 auto; text-align: center; display: none; overflow: hidden;}
.course_kind ul li a{display: block; margin-top: 30px;}
.course_kind ul li img{display: inline-block;}
.course_kind ul li span{display: block; text-align: center; line-height:48px;} */
.course_kind{position:absolute; left:232px; top:0; width:120px; height:398px; border: 1px solid #E0E0E0; background: #F9F9F9; display: none;}
.course_kind .icon_fu .icon_fuli{width:120px; height:398px; margin: 0 auto; text-align: center; display: none; overflow: hidden;}
.course_kind .icon_fu .icon_fuli li span{display:block; width:54px; height:54px; margin:15px auto 8px; text-align:center; background:#eee; border:1px solid #F3F3F3; border-radius:50%; line-height:52px;}
.course_kind .icon_fu .icon_fuli li span .iconfont{font-size:24px; color:#979797;}
.course_kind .icon_fu .icon_fuli li p{text-align:center; font-size:12px;}
.course_kind .icon_fu .icon_fuli li:hover span{border-color:#3688FF; background:#fff; }
.course_kind .icon_fu .icon_fuli li:hover span .iconfont{color:#3688FF;}
.course_kind .icon_fu .icon_fuli li:hover p{color:#0099E5;} 


/* 首页信息港 */
.info{float:right; width:232px; height: 400px;}
.info h2{height: 45px; line-height: 45px; font-size:16px; color: #fff; background: #055C92; text-align: center;}
.info ul{padding-top:16px; height: 337px; border: 1px solid #E0E0E0; background: #F9F9F9; overflow: hidden;}
.info ul li{line-height: 36px; padding-left: 8px; overflow: hidden;}
.info ul li .sq{float:left; width:4px; height: 4px; line-height: 0; font-size: 0; background: #055C92; margin:19px 8px 0 0; position:relative; top:-2px;}
.info ul li a{float:left; font-size:13px; display: block; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; max-width: 205px;}

/* 焦点区域底部快速通道 */
.fast_path{width:230px; height: 128px; background: #F9F9F9; border: 1px solid #DFDFDF; float: left; position: relative;}
.fast_path ul{padding-top: 10px;}
.fast_path ul li{width:76px; height: 53px; float:left; text-align: center; border-right: 1px solid #DFDFDF; border-bottom: 1px solid #DFDFDF; overflow: hidden;}
.fast_path ul li.li_r{border-right: 0;}
.fast_path ul li.li_b{border-bottom: 0;}
.fast_path ul li .iconfont{font-size:22px;}
.fast_path ul li:hover .iconfont{color: #0099E5;}
.fast_path ul li.li_b a{padding-top: 8px; display: block; }
.fast_path ul li span{display: block; font-size: 12px; line-height: 27px;}
.fast_path .cc{width:9px; height: 8px; line-height: 0; font-size:0; background: #F9F9F9; position:absolute; left:0; top:59px;}
.fast_path .cc1{right: 0; left:inherit;}
.fast_path .cc2{width:17px; left:69px;}
.fast_path .cc3{ left:146px;}

/* 焦点区域底部右侧广告位 */
.fast_r{float:left;}
.fast_r ul{overflow: hidden;}
.fast_r ul li{float:left;margin-left: 10px;}

/* 首页推荐内容 */
.lay_tj{overflow:hidden;}
.lay_tj .lay_con{position: relative; width:1200px; overflow: hidden;}
.lay_tj #czimg{width: 9999px; position: absolute; top:0; left: 0; }
.lay_tj ul{width:1220px; overflow:hidden; float:left;}
.lay_tj .lay_con{height: 300px;}
.lay_tj ul li{float:left; width:230px; height:298px; overflow:hidden; border:1px solid #E0E0E0; background:#fff; margin-right:10px; text-align:center;}
.lay_tj ul li:hover{border-color:#0099E5;}

.lay_tj ul li .img_box{height:128px; padding:57px 0 40px 0; overflow:hidden;}
.lay_tj ul li a img{display:inline-block;}
.lay_tj ul li p{font-size:14px; line-height:22px;}
.lay_tj .hd_rr span{display:block; float:left; width:36px; height:21px; border:1px solid #E0E0E0; text-align:center; line-height:21px; margin-left:-1px; cursor:pointer; color:#E0E0E0;}
.lay_tj .hd_rr span:hover{color: #0099E5;}
.lay_tj .hd_rr span.cur{color:#BDC1CA;}

/* 首页课程中心 */ 
/* .lay_conke{width:100%;}
.lay_conke .icon_ul{width:1220px;}
.lay_conke .icon_ul li{float:left; position:relative; width:232px; height:270px; overflow:hidden; background:#fff; margin:0 10px 10px 0; top:0;}
.lay_conke .icon_ul li:hover{top:-3px; -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1); -moz-box-shadow: 0 15px 30px rgba(0,0,0,0.1); -o-box-shadow: 0 15px 30px rgba(0,0,0,0.1); box-shadow: 0 15px 30px rgba(0,0,0,0.1);}
.lay_conke .icon_ul li.li_zong:hover{-webkit-box-shadow:none; -moz-box-shadow:none; -o-box-shadow:none; box-shadow:none; top:0;}
.lay_conke .icon_ul li.li_zong h3{font-size:20px; font-weight:bold; color:#fff; padding-top:25px; padding-left:20px; line-height:40px;}
.lay_conke .icon_ul li.li_zong strong{color:#fff; padding-left:20px; font-size:13px; line-height:20px;  font-weight:100;}
.lay_conke .icon_ul li.li_zong img{display:block; margin:0 auto; padding-top:10px;}
.lay_conke .icon_ul li span{display:block; width:98px; height:97px; margin:60px auto 45px; text-align:center; background:#F3F3F3; border:1px solid #F3F3F3; border-radius:50%; line-height:92px;}
.lay_conke .icon_ul li span .iconfont{font-size:46px; color:#979797;}
.lay_conke .icon_ul li p{text-align:center; font-size:15px;}
.lay_conke .icon_ul li span{border-color:#3688FF; background:#fff; }
.lay_conke .icon_ul li span .iconfont{color:#3688FF;}
.lay_java .icon_ul li.li_zong{background:#3688FF;}
.lay_android .city_tab{border-color:#27B869;}
.lay_android .icon_ul li.li_zong{background:#27B869;}
.lay_android .icon_ul li span{border-color:#27B869;}
.lay_android .icon_ul li span .iconfont{color:#27B869;}
.lay_php .city_tab{border-color:#8BA2E4;}
.lay_php .icon_ul li.li_zong{background:#8BA2E4;}
.lay_php .icon_ul li span{border-color:#8BA2E4;}
.lay_php .icon_ul li span .iconfont{color:#8BA2E4;}
.lay_ui .city_tab{border-color:#E02C4F;}
.lay_ui .icon_ul li.li_zong{background:#E02C4F;}
.lay_ui .icon_ul li span{border-color:#E02C4F;}
.lay_ui .icon_ul li span .iconfont{color:#E02C4F;}
.lay_ios .city_tab{border-color:#898989;}
.lay_ios .icon_ul li.li_zong{background:#898989;}
.lay_ios .icon_ul li span{border-color:#898989;}
.lay_ios .icon_ul li span .iconfont{color:#898989;}
.lay_web .city_tab{border-color:#F5717C;}
.lay_web .icon_ul li.li_zong{background:#F5717C;}
.lay_web .icon_ul li span{border-color:#F5717C;}
.lay_web .icon_ul li span .iconfont{color:#F5717C;}
.lay_c .city_tab{border-color:#F3C048;}
.lay_c .icon_ul li.li_zong{background:#F3C048;}
.lay_c .icon_ul li.li_zong h3{color: #333;}
.lay_c .icon_ul li.li_zong strong{color: #333;}
.lay_c .icon_ul li span{border-color:#F3C048;}
.lay_c .icon_ul li span .iconfont{color:#F3C048;}
.lay_m .city_tab{border-color:#4EA3D0;}
.lay_m .icon_ul li.li_zong{background:#4EA3D0;}
.lay_m .icon_ul li span{border-color:#4EA3D0;}
.lay_m .icon_ul li span .iconfont{color:#4EA3D0;}
.lay_game .city_tab{border-color:#955EBB;}
.lay_game .icon_ul li.li_zong{background:#955EBB;}
.lay_game .icon_ul li span{border-color:#955EBB;}
.lay_game .icon_ul li span .iconfont{color:#955EBB;}
.lay_javayun .city_tab{border-color:#71A099;}
.lay_javayun .icon_ul li.li_zong{background:#71A099;}
.lay_javayun .icon_ul li span{border-color:#71A099;}
.lay_javayun .icon_ul li span .iconfont{color:#71A099;}

.lay_android .colorbg{background: #27B869;}
.lay_php .colorbg{background: #8BA2E4;}
.lay_ui .colorbg{background: #E02C4F;}
.lay_ios .colorbg{background: #898989;}
.lay_web .colorbg{background: #F5717C;}
.lay_c .colorbg{background: #F3C048;}
.lay_m .colorbg{background: #4EA3D0;}
.lay_game .colorbg{background: #955EBB;}
.lay_javayun .colorbg{background: #71A099;} */

/* 首页传智保障 */ 
.boxbz{width:100%; height: 115px;; background: #F3F3F3;}
.boxbz .inner{width:1200px; margin:0 auto;}
.boxbz ul{overflow:hidden; padding-top: 42px;}
.boxbz ul li{float:left; width:239px; height: 33px; line-height: 33px; border-right: 1px solid #E0E0E0; text-align: center;}
.boxbz ul li a{display: block; overflow: hidden;}
.boxbz ul li a:hover .iconfont{color: #0099E5;}
.boxbz ul li a .iconfont{font-size: 32px; color: #949494; float:left; margin-left: 30px;}
.boxbz ul li a span{float:left; margin-left: 27px;}

/* 首页开班信息添加 */
.city_class ul.cur{display:block; height:28px; line-height:28px; overflow:hidden;}

/* 首页课程中心 */ 
.lay_conke{width:100%;}
.lay_conke .div_zong{width:232px; height:350px; float: left; background: #3688FF;}
.lay_conke .div_zong:hover{-webkit-box-shadow:none; -moz-box-shadow:none; -o-box-shadow:none; box-shadow:none; top:0;}
.lay_conke .div_zong h3{font-size:20px; font-weight:bold; color:#fff; padding-top:25px; padding-left:20px; line-height:40px;}
.lay_conke .div_zong strong{color:#fff; padding-left:20px; font-size:13px; line-height:20px;  font-weight:100;}
.lay_conke .div_zong img{display:block; margin:0 auto; padding-top:30px;}
.lay_conke .icon_ul{width:968px; float: left;}
.lay_conke .icon_ul li{float:left; position:relative; width:232px; height:170px; overflow:hidden; background:#fff; margin:0 0 10px 10px; top:0; text-align: center;}
.lay_conke .icon_ul li:hover{top:-3px; -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1); -moz-box-shadow: 0 15px 30px rgba(0,0,0,0.1); -o-box-shadow: 0 15px 30px rgba(0,0,0,0.1); box-shadow: 0 15px 30px rgba(0,0,0,0.1);}
.lay_conke .icon_ul li a{display: block; width:232px; height:170px;}
.lay_conke .icon_ul li img{display: inline-block; padding-top: 40px; position: relative; z-index: 99;}

.lay_conke .icon_ul li span{display:block; width:40px; height:40px; border-radius:50%; position: absolute; top:40px; right: 80px; background: #A4C9FF;}
.lay_conke .icon_ul li p{text-align:center; font-size:15px; width:64px; position:absolute; left:50%; margin-left: -32px; bottom:24px;}
.lay_conke .icon_ul li span{border-color:#3688FF;}
.lay_conke .icon_ul li span .iconfont{color:#3688FF;}
.lay_android .city_tab{border-color:#27B869;}
.lay_android .div_zong{background:#27B869;}
.lay_android .icon_ul li span{background:#9EDFBB;}
.lay_php .city_tab{border-color:#8BA2E4;}
.lay_php .div_zong{background:#8BA2E4;}
.lay_php .icon_ul li span{background:#CBD5F3;}
.lay_ui .city_tab{border-color:#E02C4F;}
.lay_ui .div_zong{background:#E02C4F;}
.lay_ui .icon_ul li span{background:#F1A0B0;}
.lay_ios .city_tab{border-color:#898989;}
.lay_ios .div_zong{background:#898989;}
.lay_ios .icon_ul li span{background:#CACACA;}
.lay_web .city_tab{border-color:#F5717C;}
.lay_web .div_zong{background:#F5717C;}
.lay_web .icon_ul li span{background:#FABFC4;}
.lay_c .city_tab{border-color:#F3C048;}
.lay_c .div_zong{background:#F3C048;}
.lay_c .icon_ul li span{background:#FAE3AC;}
.lay_m .city_tab{border-color:#4EA3D0;}
.lay_m .div_zong{background:#4EA3D0;}
.lay_m .icon_ul li span{background:#AFD6EA;}
.lay_python .city_tab{border-color:#955EBB;}
.lay_python .div_zong{background:#955EBB;}
.lay_python .icon_ul li span{background:#d0a9eb;}
.lay_javayun .city_tab{border-color:#71A099;}
.lay_javayun .div_zong{background:#71A099;}
.lay_javayun .icon_ul li span{background:#BFD4D1;}


.lay_android .colorbg{background: #27B869;}
.lay_php .colorbg{background: #8BA2E4;}
.lay_ui .colorbg{background: #E02C4F;}
.lay_ios .colorbg{background: #898989;}
.lay_web .colorbg{background: #F5717C;}
.lay_c .colorbg{background: #F3C048;}
.lay_m .colorbg{background: #4EA3D0;}
.lay_python .colorbg{background: #955EBB;}
.lay_javayun .colorbg{background: #71A099;}