/* 左侧资讯列表 */
.news{ width:100%; background:#f5f5f5; overflow:hidden; padding-bottom:40px;}
.news .new_main{ width:1200px; height:auto; margin:0 auto; overflow:hidden;}
.news .new_main .new_l{width:1100px; padding:10px 50px; background:#fff;}
.new_l .news_tab{overflow:hidden;}
.new_l .news_tab h3{width:100%; height:50px; text-align:left;}
.new_l .news_tab h3 span{ display:inline-block; height:48px; line-height:48px; font-size:14px; color:#333; cursor:pointer; margin-right:40px; }
.new_l .news_tab h3 .current{color:#0099e5;}
.new_l .news_con{padding-bottom:30px; overflow:hidden;}
.new_l .news_con ul{overflow:hidden;}
.new_l .news_con ul li{padding:35px 0; border-top:1px solid #d2d2d2; overflow:hidden;}
.new_l .news_con li img{ width:250px; height:148px; float:left;}
.new_l .news_con .txtbox{ width:810px; height:148px; float:right;}
.new_l .news_con .txtbox h4{ font-size:20px; color:#333; font-weight:normal; margin-bottom:15px;}
.new_l .news_con .txtbox p{ font-size:14px; color:#777; line-height:24px; max-height:72px; overflow:hidden;}
.new_l .news_con .txtbox p a{ font-size:14px; color:#0099e6; }
.new_l .news_con .txtbox p a:hover{ text-decoration:underline;}
.new_l .news_con .txtbox div{ margin-top:15px;}
.new_l .news_con .txtbox div p{ float:left; color:#333;}
.new_l .news_con .txtbox div p span{ display:inline-block; color:#777; margin-left:5px;}
.new_l .news_con .txtbox div a{ display:inline-block; float:right; color:#777; line-height:24px;}
.new_l .news_con .pagebox{ height:22px; padding:20px 0; text-align:center;}
.new_l .news_con .pagebox a{ display:inline-block; height:20px; line-height:20px; width:50px; border:1px solid #d5d5d5;  color:#d5d5d5; font-size:14px;text-align:center; margin-right:5px;}
.new_l .news_con .pagebox a:hover{ width:52px; height:22px; line-height:22px; border:none; color:#fff; background-color:#0099e6;}
.new_l .news_con .pagebox .num{ width:38px; color:#2e3340;}
.new_l .news_con .pagebox .num:hover{ width:40px;}
.new_l .news_con .pagebox .current{ width:40px; height:22px; line-height:22px; border:none; color:#fff; background-color:#0099e6;}
