/* css by nana */
/* 外部专题调用开班信息样式 */
/*开班信息板块样式*/
.city_tab{width:1200px; overflow: hidden; margin:0 auto; margin-top: -2px; z-index:-1; }
.city_tab a{display: block; float:left; width:79px; border-right:1px solid #DFDFDF; background: #fff; text-align: center; height: 29px; line-height: 29px; position:relative; text-decoration:none; color:#333;}
.city_tab a span{position:relative; z-index: 2; font-size:14px;}
.city_tab .colorbg{position:absolute; top:0; left: 0; width:79px; height: 2px; line-height: 0; font-size: 0; background: #3688FF; z-index: 1; transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s; -o-transition: -ms-all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s;}
.city_tab a:hover .colorbg{height:29px;}
.city_tab a:hover span{color: #fff;}
.city_tab a.cur .colorbg{height:29px;}
.city_tab a.cur span{color: #fff;}
.city_class{width:1200px; margin:0 auto; overflow: hidden; background:#fff; padding: 5px 0;}
.city_class ul{width:1220px; display: none;}
.city_class ul.cur{display:block;}
.city_class ul li{float:left; padding-left: 30px; line-height: 28px;}
.city_class ul li em{display: inline-block; padding:0 7px;}
.city_class ul li .iconfont{font-size:12px; padding-right: 5px;}
.lay_kbinfo{border-top:2px solid #3688FF; position:relative; z-index:99; padding-bottom:40px;}
.lay_kbinfo .city_tab a{border-bottom: 1px solid #DFDFDF;}
.lay_kbinfo .city_class{padding-bottom:0;}
.city_subject ul{list-style:none; margin:0; padding:0;}
.city_subject ul li{width:100%; height: 72px; line-height: 72px; padding:0 20px; overflow: hidden; font-size: 16px; position:relative; color:#333; list-style:none;}
.city_subject ul li span{float:left; margin-right:60px; color:#333;}
.city_subject ul li span.span_name{width:192px; text-align:center;}
.city_subject ul li span.span_status{background: url("../images/hot.png"/*tpa=http://www.itcast.cn/images/hot.png*/) no-repeat right center; padding-right:25px;}
.city_subject ul li span em{font-style: normal; display:inline-block; min-width:25px; height: 33px; padding:0; text-align: center; line-height: 33px; background: #636C76; color: #fff; font-size: 24px; margin: 0 10px; border-radius: 3px; padding:0 5px;}
.city_subject ul li a{float:left; display:block; width:147px; height: 38px; line-height: 38px; text-align: center; color:#3688ff; border: 1px solid #6A6C6F; margin-top: 15px; text-decoration:none; position:absolute; right:95px; text-decoration:none; outline:none;}
.city_subject ul li a:hover{border-color:#3688ff;}
.city_subject ul li .ocp_complete{color:#999; margin-right:0;}
.city_subject ul li .ocp_full{color:#999; margin-right:0;}
.city_subject ul li .ocp_processing{ margin-right:0;}