/* 通用 css*/
/* by nana */
/*关于我们页面样式*/
.con_about{width:1200px; margin:0 auto; overflow: hidden;}
.about_nav{float:left; width:220px; min-height:440px; background:#fff; overflow: hidden;}
.about_nav ul{padding:40px 45px;}
.about_nav ul li{font-size:15px; padding-top: 13px;}
.about_nav ul li a{color:#757575;}
.about_nav ul li a.cur{color: #0099E5;}
.about_con{float:right; width:970px; min-height: 400px; padding-bottom:40px; background: #fff; overflow: hidden;}
.about_con .inner{padding:45px 0 0 45px; width:880px;}
.about_con h2{font-size:32px; color: #b0b0b0; margin-bottom: 25px;}
.about_con p{color:#757575; line-height: 24px;}
.about_con img{display: inline-block; text-align: center;}

/*企业招聘*/
.job_ban{width:100%; height: 260px; background:url("../images/job_ban.jpg"/*tpa=http://www.itcast.cn/images/job_ban.jpg*/) no-repeat center top; border-bottom: 2px solid #3688FF; position:relative;}
.city_job{width:1200px; margin:-2px auto 0; background:#F3F3F3;}
.city_job a{background: #f3f3f3;}
.job_con{width:1200px; margin:0 auto; padding:15px 0 20px; overflow: hidden;}
.job_l{float:left; width:850px; padding:20px; background: #fff;}
.job_l .course_hd{overflow: hidden;}
.job_l .course_hd li{float:left; display: inline-block; padding:0 10px; line-height: 26px; background: #A0A0A0; color: #fff; border-radius: 15px; margin-right: 10px; cursor: pointer;}
.job_l .course_hd li.cur{background: #0099E5;}
.job_zong .hd{overflow: hidden;}
.job_s .hd:hover{background:#F3F3F3;}
.job_zong .hd span{float:left; padding-right: 15px; height: 34px; line-height: 34px; font-size:13px;}
.job_zong .hd_zong span{font-size:16px; padding-top:15px;}
.job_zong .hd .sp1{width:154px; padding-left:15px;}
.job_zong .hd .sp2{width:258px;}
.job_zong .hd .sp3{width:135px;}
.job_zong .hd .sp4{width:110px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.job_zong .hd .sp5{width:70px;}
.job_zong .hd .sp6{cursor: pointer;}
.job_zong .ptext{display: none; font-size: 12px; line-height: 24px; color: #8d8d8d; padding-left:15px;}

.job_r{float:right; width:300px; overflow: hidden;}
.job_r .job_icon{background: #fff; padding:20px; margin-top: 10px;}
.job_r .job_icon h3{font-size:16px;}
.job_r .job_icon ul{overflow: hidden; width:290px; padding-top: 25px;}
.job_r .job_icon ul li{width:73px; height: 40px; margin:0 20px 15px 0; float: left; overflow: hidden; }
.job_r .job_icon ul li img{display: inline-block; width:73px; text-align: center;}

/*报名流程*/
/* .flow_banner{width:100%; height: 260px; background: url(../images/bm_banner.jpg) no-repeat center top;}
.flow_main{overflow: hidden;}
.flow_con{width:1200px; margin:20px auto; background: #fff;}
.flow_con .inner{padding:50px;}
.flow_con .flow_hd{width:977px; height: 54px; padding-top:100px; margin:0 auto 20px; background: url(../images/bm_flow.jpg) no-repeat center top; overflow: hidden;}
.flow_con .flow_hd ul{width:1200px;}
.flow_con .flow_hd ul li{float:left; width:115px; text-align: center; font-size: 18px; margin-right: 102px; padding-top: 15px;}
.flow_con .flow_tt{font-size:18px; border-bottom: 1px solid #ccc; height:54px; line-height: 54px; margin-bottom: 15px;}
.flow_con .flow_tt_nobd{border-bottom: 0;}
.flow_con .flow_tt i{display: inline-block; width:3px; height:15px; background: #D8271C; margin-right: 10px; position:relative; top:20px;}
.box_flow p{line-height: 34px;}
.box_flow p span{color:#0099E5;}
.box_flow .mm li{line-height: 36px; padding-left: 90px;}
.box_flow .bm_btn{display: block; width:160px; height:43px; text-align: center; line-height: 43px; font-size:16px; color: #fff; background: #0099E5; border-radius: 5px; margin:15px auto;}
.box_flow .bm_btn:hover{background: #00AAFF;}
.box_flow .city_tab a{border-bottom: 1px solid #dfdfdf; width:99px;}
.box_flow .city_tab .colorbg{width:99px;}
.bank .bank_list{display: none;}
.bank .bank_list_cur{display: block;}
.bank h3{font-size:18px; margin:45px 0 10px 0;}
.bank p span{color:#d8271c;} */

/*师资页面*/
.tea_banner{width:100%; height: 260px; background: url("../images/tea_banner.jpg"/*tpa=http://www.itcast.cn/images/tea_banner.jpg*/) no-repeat center top;}
.tea_main{overflow: hidden;}
.tea_con{width:1200px; margin:20px auto;}
.tea_hd{width:1200px; margin:20px auto 30px; overflow: hidden;}
.tea_hd ul{width:1300px;}
.tea_hd ul li{display: inline-block; padding:0 12px; margin-right: 5px; line-height: 26px; height: 26px; background: #A0A0A0; border-radius: 15px; color: #fff; cursor:pointer;}
.tea_hd ul li.cur{background: #0099E5;}
.tea_hd ul li a{color:#fff;}
.tea_txt{overflow: hidden; display:none;}
.tea_txt_cur{display: block;}
.tea_txt ul{width:1250px;}
.tea_txt ul li{float: left; width:350px; height: 260px; background: #fff; padding:20px; margin:0 15px 15px 0; border-radius: 11px; overflow: hidden;}
.tea_txt ul li img{float:left; width:180px; height: 260px;}
.tea_txt ul li .li_txt{float: right; width:157px;}
.tea_txt ul li .li_txt h3{font-size:20px; line-height: 50px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.tea_txt ul li .li_txt h4{padding-bottom:10px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.tea_txt ul li .li_txt p{font-size:12px; line-height: 20px; max-height: 184px; overflow: hidden;}

/*内容页样式*/
.sub_con{width:1200px; margin:0 auto; padding-bottom:20px; overflow: hidden;}
.sub_l{float:left; width:790px; padding:30px 50px; background: #fff;}
.sub_l .sub_tt{font-size:24px; text-align:center; color:#707070;}
.sub_l .time{text-align:center; color:#aaa; padding:10px 0 20px; border-bottom: 1px dashed #ccc;;}
.sub_l .sub_txt{padding-top: 20px; padding-bottom: 40px; line-height: 26px; color: #707070;}
.sub_l .sub_txt p{line-height: 26px; color: #707070;}
.sub_r{float:right; width:300px; overflow: hidden;}
.sub_r .sub_list{background: #fff; padding:20px; margin-top: 10px;}
.sub_r .sub_list ul li{line-height: 30px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

/*报名流程  20160510*/
.flow_banner{width:100%; height: 260px; background: url("../images/bm_banner.jpg"/*tpa=http://www.itcast.cn/images/bm_banner.jpg*/) no-repeat center top;}
.flow_main{overflow: hidden;}
.flow_con{width:1200px; margin:20px auto; background: #fff;}
.flow_con .inner{padding:50px;}
.flow_con .flow_hd{width:100%;}
.flow_con .flow_hd .hd{overflow: hidden; height: 80px;}
.flow_con .flow_hd h2{float:left; font-size:24px; height: 40px; line-height: 40px; background:url("../images/search.jpg"/*tpa=http://www.itcast.cn/images/search.jpg*/) no-repeat left center; padding-left:50px;}
.flow_con .flow_hd .selectbox{float:left; margin-left:65px;}
.flow_con .flow_hd .selectbox span{float:left; font-size:18px; color: #fff; display: inline-block; line-height: 40px; padding:0 20px; background: #4475AF;}
.flow_con .flow_hd .selectbox select{float: left; height: 40px; border-left:0; width:138px; padding-left: 5px; max-height: 300px; font-size:15px;}
.flow_con .kb_con{overflow: hidden;}
.flow_con .kb_list{width:1120px;}
.flow_con .kb_con ul{float:left; width:550px; border-right: 1px dashed #B3B3B3;}
.flow_con .kb_con ul li{float:left; font-size: 16px; margin-right: 20px; color:#6a6a6a; height: 54px; line-height: 54px;}
.flow_con .kb_con ul li .span_name{width:180px; text-align: center;}
.flow_con .kb_con ul li span{margin-right: 15px; display: inline-block;}
.flow_con .kb_con ul li span.span_status {background: url("../images/hot.png"/*tpa=http://www.itcast.cn/images/hot.png*/) no-repeat left center; padding-left: 25px;}
.flow_con .kb_con ul li span.ocp_full{background:none; color:#999;}
.flow_con .kb_con ul li a{padding:5px 10px; border: 1px solid #7A7A7A; color: #4475AF;}
.flow_con .kb_con ul li a:hover{border-color:#4475AF;}
.flow_con .box_flow{ margin-top: 45px;}
.flow_con .flow_tt{margin-bottom: 8px;}
.box_flow p{text-indent: 52px; line-height: 30px;}
.box_flow p.p_s{font-size:12px; color: #6f6f6f; line-height: 26px;}
.box_flow p.p_c{text-align: center; text-indent: 0; margin-top: 20px; font-size:18px;}
.box_flow p span{color:#d8271c;}
.box_flow .top{overflow: hidden; padding-left: 52px; margin-top: 20px;}
.box_flow .top select{float:left; width:120px; height: 38px; padding-left: 5px;}
.box_flow .top p{float:left; line-height: 38px; text-indent: 20px;}
.box_flow .bm_btn{display: block; width:150px; height:43px; text-align: center; line-height: 43px; font-size:16px; color: #fff; background: #0099E5; margin:15px auto;}
.box_flow .bm_btn:hover{background: #00AAFF;}
.box_flow .city_tab a{border-bottom: 1px solid #dfdfdf;}
.bank .bank_list{display: none;}
.bank .bank_list_cur{display: block;}
.bank h3{font-size:18px; margin:36px 0 10px 0; text-indent: 52px;}
.bank p span{color:#d8271c;}

.nav_left{border-left: 2px solid #959595; width:90px; padding:6px 0 0 10px; position:fixed; left:50%; margin-left:-680px; top:50%; margin-top: -150px; z-index: 9999;  display: none;;}
.nav_left ul li{height: 40px; color: #616161; font-size:13px; position:relative; cursor: pointer;}
.nav_left ul li span{display: block; width:6px; height: 6px; line-height: 0; font-size:0; background: #fff; border: 2px solid #616161; border-radius: 10px; position: absolute; left:-16px; top:6px;}
.nav_left ul li.cur{font-weight: bold; color:#5575d3;}
.nav_left ul li.cur span{background: #5575d3; border-color: #fff;}