/****  css by nana *****/
@charset "utf-8";
/****  文字大小初始化,使1em=10px *****/
body{font-size:62.5%; min-width:1200px;}/* for IE/Win */
html>body{font-size:14px;} /* for everything else */
/*字体边框等初始化*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,tr,th,td,img{padding:0; margin:0; font-size:14px;}
table{border-collapse:collapse; border-spacing:0;}
fieldset,img,input{border:0;}
address,caption,cite,code,dfn,th,var{font-weight:normal; font-style:normal;}
ol,ul,li{list-style:none; vertical-align:top;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:normal; font-size:100%;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
:focus { outline: 0; }
input, button, textarea,
select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
code, kbd, samp, tt { font-size: 100%; }
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input, button, textarea, select { *font-size: 100%; }
caption, th { text-align: left; }
sup, sub { font-size: 100%; vertical-align: baseline; }
/* remember to highlight anchors and inserts somehow! */
:link, :visited , ins { text-decoration: none; }
blockquote{ quotes: none; }
a{text-decoration:none; outline:none; color:#333;}
a img{border:none; display:block;}/*for IE*/
a:active{star:expression(this.onFocus=this.blur());}/*点击虚框去除*/
/*--------------end------------*/
body{background:#fff; font-size:14px; font-family:arial,'微软雅黑', 'Microsoft Yahei', 'Hiragino Sans GB',  '宋体', \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti; color:#333;}

@font-face {font-family: 'iconfont';
    src: url("../font/iconfont.eot"/*tpa=http://www.itcast.cn/font/iconfont.eot*/); /* IE9*/
    src: url("../font/iconfont.eot-#iefix"/*tpa=http://www.itcast.cn/font/iconfont.eot?#iefix*/) format('embedded-opentype'), /* IE6-IE8 */
    url("../font/iconfont.woff"/*tpa=http://www.itcast.cn/font/iconfont.woff*/) format('woff'), /* chrome、firefox */
    url("../font/iconfont.ttf"/*tpa=http://www.itcast.cn/font/iconfont.ttf*/) format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../font/iconfont.svg#iconfont"/*tpa=http://www.itcast.cn/font/iconfont.svg#iconfont*/) format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
