/* 通用 css*/
/* by nana */
.wrapper{width:100%;}
/* 通用过度样式 */
.a_gd{transition: all 0.3s; -moz-transition: all 0.3s; -webkit-transition: all 0.3s; -o-transition: all 0.3s;}
.a_default:hover{color:#0099e5;}
/* 通用间距样式 */
.clear{width:100%; height:40px; line-height:0; font-size:0; clear:both;}
.clear_s{height:30px;}

/* 头部快速通道样式 */
.topbar{width:100%; height: 40px; background: #055C92; border-bottom:1px solid #ddd;}
.topbar .inner{width:1200px; margin: 0 auto; color: #fff;}
.topbar .top_l{float:left;}
.topbar .top_l p{line-height:40px; font-size:12px;}
.topbar .top_l p a{color:#fff;}
.topbar .top_l p a:hover{color:#eee;} 
.topbar .top_r{float:right;}
.topbar .top_r p{line-height: 40px; font-size:12px;}

/* 头部导航样式 */
.whitebg{background: #fff;}
.graybg{background: #F3F3F3; width:100%; padding-bottom:15px;}
.header{ position: relative; z-index: 88;}
.header_con .inner{width:1200px; margin: 0 auto; height: 113px; position: relative;}
.header_con h1{float:left; padding:30px 0;}
.header_con h1 img{display: block;}
.header_con .nav{float:left; margin-left: 60px;}
.header_con .nav ul{overflow: hidden;}
.header_con .nav ul li{float:left; font-size: 16px; line-height: 113px; margin-right:25px;}
.header_con .nav ul li a{display:block;}
.header_con .nav ul li a.cur{color:#0099E5;}
.header_con .school_btn{position:absolute; right:121px; display: block; width:109px; height: 33px; line-height: 33px; background: #F9F9F9; text-align: center; border: 1px solid #E0E0E0; margin-top: 39px;}
.header_con .school_btn .sfont{font-size: 13px;}
.header_con .school_btn:hover{background: #fff;}
.header_con .school_btn:hover ul{display: block;}
.header_con .school_btn:hover .linebg{ display:block;}
.header_con .school_btn .linebg{width:109px; height: 1px; line-height: 0; font-size:0; background: #fff; left:0; bottom:-1px; position: absolute; z-index:101; display: none;}
.header_con .school_btn ul{position: absolute; top:33px; left: -1px; width:230px; padding:7px 0; background: #fff; border:1px solid #E0E0E0; display: none; z-index: 100;}
.header_con .school_btn ul li{float:left; font-size:12px; width:65px; margin-left:7px; line-height: 26px;}
.header_con .bmbtn{position: absolute; right: 0;}
.header_con .bmbtn a{display: block; width:109px; height: 33px; line-height: 33px; background: #F9F9F9; text-align: center; border: 1px solid #E0E0E0; margin-top: 39px;}
.header_con .bmbtn a:hover{background: #055C92; border-color:#055C92; color: #fff;}
.header_con .phone{position: absolute; right: 130px; text-align:center;}
.header_con .phone p{font-size:12px; margin-top: 42px; line-height:15px;}
.header_con .phone strong{color:#055C92;}
.fdnav{position:absolute; top:113px; width:100%; border-top:1px solid #DFDFDF; border-bottom:1px solid #DFDFDF; background: #fff; z-index: 99; display: none;}
.fdnav ul{width:1200px; margin:0 auto; padding:22px 0; overflow: hidden;}
.fdnav ul li{float:left; width:199px; border-right: 1px solid #DFDFDF;}
.fdnav ul li a{display: block; width:199px; height:81px;}
.fdnav ul li img{float:left; height:60px; margin:9px 0 0 20px; }
.fdnav ul li span{float: right; line-height: 81px; margin-right: 20px; font-size: 16px;}
.fdnav ul li.li_last{border-right:0;}
.fdnav ul li.li_s img{ margin-left: 36px;} 
/*导航新添加全部学科样式*/
.fdcourse ul li{width:108px;}
.fdcourse ul li img{float:inherit; display: block; margin:0 auto; height:60px;}
.fdcourse ul li a{width:108px;}
.fdcourse ul li span{float: inherit; line-height: 31px; margin-right: 0; text-align: center; display: block; font-size: 13px;}

/* 通用lay样式 */
.lay{width:1200px; margin:0 auto; overflow:visible;}
.lay .hd{width:100%; overflow:hidden; height:40px;}
.lay .hd_tt{float:left; font-size:22px;}
.lay .hd_rr{float:right;}
.lay .hd_rr ul li{float:left; padding:0 9px; border-right: 1px solid #7D7D7D; line-height: 14px; margin-right: -1px; cursor: pointer;}
.lay .hd_rr ul li.cur{color:#0099E5;}
.lay .hd_rr ul li:hover{color:#0099E5;}
.lay .hd_rr ul li.cur a{color:#0099E5;}
.lay .hd_rr ul li:hover a{color:#0099E5;}


/* tab栏通用样式 */
.lay_same .lay_con{width:1200px; overflow: hidden;}
.lay_same .lay_con ul{width:1220px; display:none;}
.lay_same .lay_con ul.cur{display:block;}
.lay_same .lay_con li{float:left; margin-right:10px;}
.lay_same .lay_con li:hover .casef{border-color:#0099E5;}
.lay_same .lay_con li:hover .caset img{border-color:#0099E5;}
.lay_same .lay_con .caset{width: 232px; overflow: hidden; position: relative;}
.lay_same .lay_con .caset p{width: 232px; height: 20px; line-height: 20px; position: absolute; bottom: 0; left: 0; background: #000; filter: alpha(opacity=40); -moz-opacity: 0.4; -khtml-opacity: 0.4; opacity: 0.4; z-index: 1;}
.lay_same .lay_con .caset b{line-height: 20px; position: absolute; bottom: 0; left: 0; color: #fff; font-size: 12px; text-indent: 10px; z-index: 2; font-weight: normal;}
.lay_same .lay_con .caset strong{display: block; padding: 0 6px; color: #fff; line-height: 20px; position: absolute; bottom: 0; right: 0; z-index: 3; font-weight: normal; background: #242A38;}
.lay_same .lay_con .casef{display: block; width: 230px; border-top: 0; height: 74px; overflow: hidden; position: relative; font-family: "微软雅黑"; border:1px solid #E0E0E0; border-top: 0; background: #fff;}
.lay_same .lay_con .casef .castx{display:inline-block; width:270px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.lay_same .lay_con .caset img{display: block; border:1px solid #E0E0E0; border-bottom: 0;  transition: all 0.3s ease 0s;}
.lay_same .lay_con .casef span{display: block; overflow: hidden; width: 216px; line-height: 19px; padding: 12px 0 0 10px; font-size: 14px; text-overflow: ellipsis; white-space: nowrap;}
.lay_same .lay_con .casef .course-num{font-size: 12px;}
.lay_same .lay_con .casef a.a_btn{position: absolute; bottom: 8px; right: 10px; width: 60px; border-radius: 3px; height:18px; line-height: 18px; font-size: 12px; border: 1px solid #ed4300; color: #ed4300; text-align: center;}

/* tab栏通用宽大样式 */
.lay_same .lay_big .caset{width: 290px;}
.lay_same .lay_big .caset p{width: 290px;}
.lay_same .lay_big .casef{ width: 288px;}
.lay_same .lay_big .casef{height:55px; text-align: center; line-height: 52px;}
.lay_same .lay_big .casef .iconfont{font-size:25px; position:relative; top:2px;}

/* 课程浮动导航 */ 
.coursefd{width:100%; height:50px; background:url("../images/course_bg.png"/*tpa=http://www.itcast.cn/images/course_bg.png*/); position:fixed; top:0; z-index: 9999; display: none;}
.coursefd .inner{width:1200px; margin:0 auto; padding:12px 0; line-height: 26px;}
.coursefd .inner ul li{float:left; width:119px; text-align: center; color:#fff; border-right:1px solid #666; cursor: pointer; position:relative;}
.coursefd .inner ul li span{ position: relative; z-index: 3;}
.coursefd .inner ul li div{width:121px; height:50px; background: #0099E5; position:absolute; left: -1px; top:-12px; z-index: 2; display: none;}

/*各校区开班信息样式*/
.city_tab{width:100%; overflow: hidden; background: #fff; border-top:2px solid #3688FF;}
.city_tab .inner{width:1200px;}
.city_tab a{display: block; float:left; width:79px; border-right:1px solid #DFDFDF; background: #fff; text-align: center; height: 29px; line-height: 29px; position:relative; top:-2px;}
.city_tab a span{position:relative; z-index: 2;}
.city_tab .colorbg{position:absolute; top:0; left: 0; width:79px; height: 2px; line-height: 0; font-size: 0; background: #3688FF; z-index: 1;}
.city_tab a:hover .colorbg{height:29px;}
.city_tab a:hover span{color: #fff;}
.city_tab a.cur .colorbg{height:29px;}
.city_tab a.cur span{color: #fff;}
.city_class{width:100%; overflow: hidden; background:#fff; padding: 5px 0;}
.city_class div.cur{display:block;}
.city_class ul{display: none;}
.city_class ul.cur{display:block;}
.city_class ul li{float:left; padding-left: 26px; line-height: 28px; font-size:13px;}
.city_class ul li em{display: inline-block; padding:0 7px;}
.city_class ul li strong{font-weight:100; display:inline-block; padding:3px 4px; font-family:"宋体"; line-height:12px; font-size:12px; background:#bbb; border-radius:3px; margin-right:4px; color:#fff; position:relative; bottom:1px;}
.city_class ul li strong.class_type2{background:#999;}
.city_class ul li .ocp_complete{color:#999;}
.city_class ul li .ocp_full{color:#999;}
/* 底部   */ 
.footer{width:1200px; margin:0 auto; overflow: hidden;}
.footer .foot_ch{padding:25px 0; overflow: hidden; border-top: 1px solid #E0E0E0;}
.footer .foot_ch h3{padding-bottom: 10px;}
.footer .about {border-top: 0;}
.footer .about .div_list{float:left; margin-right: 115px;}
.footer .about .div_list li a{ line-height: 24px; font-size:12px; color: #8d8d8d;}
.footer .about .div_list li a:hover{color: #0099E5;}
.footer .about .div_wx{float:right; margin-right: 0; overflow:hidden; width:276px;}
.footer .about .div_wx div{float:left; width:120px; text-align:center;}
.footer .about .div_wx div p{ font-size:12px;}
.footer .about .div_wx img{display: inline-block;}
.footer .fl{position:relative; padding:20px 0;}
.footer .fl .lk{width:100%; overflow: hidden;}
.footer .fl .lk a{display:inline-block; font-size:12px; color: #8d8d8d; float: left; margin-right: 10px; line-height: 26px;}
.footer .fl .lk a:hover{color: #0099E5;}
.footer .fl .miss_zhang{position: absolute; top:49px; right:0; display: block; width:292px; height: 64px; background: #F3F3F3; font-size: 20px; line-height: 64px; text-align: center;}
.footer .add h2{float: left; margin-top:5px;}
.footer .add p{float: left; font-size: 12px; line-height: 24px; margin-left: 20px;}
.footer .add p img{display:inline-block;}
.footer .add ul{float:right; overflow: hidden;}
.footer .add ul li{float: left; margin-left: 4px;}

/*面包屑*/
.bread_nav{background: #f3f3f3; height:40px;}
.bread_nav .inner{width:1200px; margin: 0 auto; font-size: 12px; height: 40px; line-height:40px;}
.bread_nav .iconfont{font-size:14px; padding:0 3px;}
.bread_nav .home{position: relative; top:-1px}
.bread_nav .right_arrow{font-size:10px;}

/*404*/
.error_404{border-top: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0;}
.error_404 .inner{width:897px; height: 404px; margin:0 auto; padding:40px 0 60px; background: url("../images/404_bg.jpg"/*tpa=http://www.itcast.cn/images/404_bg.jpg*/) no-repeat center center; position:relative}
.error_404 .inner a{position:absolute; display: block; width:172px; height: 48px; line-height: 48px; font-size:18px; background: #43B4E8; text-align: center; color: #fff; border-radius: 5px; right: 240px; bottom:114px;}
.error_404 .inner a:hover{background: #0099E5;}

/*弹窗*/
#webim{width:280px; height: 188px; position: fixed; right: 0; bottom:0; z-index:999999; border-radius:10px; overflow:hidden;}
#webim .dlstyle{width:24px; height: 24px; position: absolute; right:0; }
#webim .dlstyle span{width:24px; height: 24px; display: block; background: url("../files/image/201602/20160229150200530.jpg"/*tpa=http://www.itcast.cn/files/image/201602/20160229150200530.jpg*/);text-indent: -9999px;}