@charset "utf-8";
/* CSS Document */

/* 专题页面引用头部 */
.head{width:100%; height:50px; background:#444; overflow:hidden;}
.head .inner{width:1200px; margin:0 auto; overflow:hidden;}
.head h1{float:left;}
.head h1  img{margin-top:8px; width:110px;}
.head ul{float:right; overflow:hidden; overflow:hidden;}
.head ul li{float:left; margin-left:20px; font-size:14px; line-height:50px;}
.head ul li a{color:#bbb; text-decoration:none;}
.head ul li a:hover{color:#0099E5;}