/* 通用 css*/
/* by nana */
/*学院页面二级导航样式*/
.sub_nav{width:100%; height:40px; line-height: 40px; overflow: hidden; background:#F5F5F5;}
.sub_nav .inner{width:1200px; margin:0 auto; overflow: hidden;}
.sub_nav h2{float:left; font-size:18px;}
.sub_nav ul{float:right; overflow: hidden; position:relative; padding-right:65px;}
.sub_nav ul li{float:left}
.sub_nav ul li a{ padding:0 8px; border-right: 1px solid #333;}
.sub_nav ul a.onbm{border-right: 0; padding-right: 0; position:absolute; right:0;}
.sub_fixd{position:fixed; top:0; left: 0; z-index: 400;}

/*学院页面banner新样式*/
.subject_ban{ width:100%; height: auto; overflow:hidden; position:relative; border-bottom:2px solid #3688FF;}
.subject_ban .bd{ position:relative; z-index:0;   }
.subject_ban .bd ul{ width:100% !important  }
.subject_ban .bd li{ width:100% !important; height:450px; position:relative; zoom:1; vertical-align:middle; }
.subject_ban .bd li a{display: block; width:100% !important; height:450px; position:relative;}
.subject_ban .hd{background: #000 none repeat scroll 0 0; border-radius: 30px; overflow: hidden; padding: 4px 10px; position: absolute; top:338px; right:17px; text-align: center; z-index: 800;}
.subject_ban .hd ul{ overflow:hidden; zoom:1; float:left;  }
.subject_ban .hd ul li{background: #919090 none repeat scroll 0 0; border: 2px solid #626262; border-radius: 50%; cursor: pointer; display: inline-block; float: left; font-size: 0;    height: 10px; line-height: 0; margin: 0 3px; width: 10px;}
.subject_ban .hd ul li.on{ background:#fff; border-color:#aaa; }
.subject_ban .txt{width:1200px; position:absolute; left: 50%; margin-left: -600px; top:38px; z-index: 40;}
.subject_ban .txt .inner{width:307px; height: 317px; padding:60px 35px 0 35px;  background: url("../images/subject_bg.png"/*tpa=http://www.itcast.cn/images/subject_bg.png*/); position: absolute; right:0; color: #fff;}
.subject_ban .txt h3{font-size:30px; line-height:60px; margin-bottom: 10px;}
.subject_ban .txt .inner ul{margin-bottom: 20px;}
.subject_ban .txt .inner ul li{line-height:30px; overflow: hidden;}
.subject_ban .txt .inner ul li .sq{float:left; width:6px; height: 6px; line-height: 0; font-size: 0; background: #fff; margin:12px 6px 0 0; border-radius: 5px;}
.subject_ban .txt .inner ul li a{float:left; font-size:13px; color: #fff; display: block; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; width:230px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
.subject_ban .txt .inner ul li a:hover{color:#ccc;}
.subject_ban .txt .inner p a{font-size:16px; color: #FFCC00; line-height: 30px;}

/*开班信息板块样式*/
.lay_kbinfo{width:1200px; margin:0 auto; margin-top: -2px;}
.lay_kbinfo .city_tab a{border-bottom: 1px solid #DFDFDF;}
.lay_kbinfo .city_class{padding-bottom:0;}
.city_subject ul li{width:100%; height: 72px; line-height: 72px; padding:0 20px; overflow: hidden; font-size: 16px; position:relative;}
.city_subject ul li span{float:left; margin-right:60px;}
.city_subject ul li span.span_name{width:192px; text-align:center;}
.city_subject ul li span.span_status{background: url("../images/hot.png"/*tpa=http://www.itcast.cn/images/hot.png*/) no-repeat right center; padding-right:25px; width:80px; text-align:right;}
.city_subject ul li span em{font-style: normal; display:inline-block; min-width:25px; height: 33px; padding:0; text-align: center; line-height: 33px; background: #636C76; color: #fff; font-size: 24px; margin: 0 10px; border-radius: 3px; padding:0 5px;}
.city_subject ul li a{float:left; display:block; width:147px; height: 38px; line-height: 38px; text-align: center; color:#3688ff; border: 1px solid #6A6C6F; margin-top: 15px; position:absolute; right:95px;}
.city_subject ul li a:hover{border-color:#3688ff;}
.city_subject ul li .ocp_complete{color:#999; margin-right:0;}
.city_subject ul li .ocp_full{color:#999; margin-right:0;}
.city_subject ul li .ocp_processing{ margin-right:0;}

/*各学科咨询板块样式*/
.newbox{width:1260px; overflow:hidden;}
.newlist{float:left; width:360px; margin-right:60px;}
.newlist .hd{ overflow:inherit; border-bottom:1px solid #ccc; height:45px; margin-bottom:15px;}
.newlist .hd  h2{font-size:18px; color:#333; border-bottom:1px solid #3688FF; float:left; line-height:44px; position:relative; top:1px;}
.newlist .hd  a{float:right; margin-top:16px;}
.newlist li{height:34px; line-height:34px; overflow:hidden;}
.newlist li a{float:left; width:270px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.newlist li span{float:right; color:#666;} 

/*学院页面内容样式--ios范本*/
.con_txt .lay{width:100%; text-align: center; padding:60px 0 45px; overflow: hidden;}
.con_txt .lay .inner{width:1200px; margin: 0 auto; overflow: hidden;}
.con_txt .lay h2{font-size:44px; text-align: center; margin-bottom: 25px;}
.con_txt .lay .h_down{font-size:16px; line-height: 32px; text-align: center; margin-bottom: 30px;}
.con_txt .lay a:hover{text-decoration: underline;}
.con_txt .lay_2{background: url("../images/ios/laybox_02.jpg"/*tpa=http://www.itcast.cn/images/ios/laybox_02.jpg*/) no-repeat center top; padding-bottom: 80px;} 
.con_txt .lay_2 h2{font-size:30px; color: #fff;}
.con_txt .lay_2 .h_down{color:#fff;}
.con_txt .lay_2 .list{width:964px; margin:0 auto; overflow: hidden;}
.con_txt .lay_2 .list ul{width:990px;}
.con_txt .lay_2 .list ul li{float:left; width:224px; height: 124px; color:#fff; border: 1px solid #8B8B8B; margin-right:20px; border-radius: 3px;}
.con_txt .lay_2 .list ul li h3{font-size:22px; color: #00aaff; margin:36px 0 16px 0;}
.con_txt .lay_2 .list ul li p{font-size:13px;}
.con_txt .lay_3{background: #FAFAFA; text-align: left;}
.con_txt .lay_3 h2{text-align: left; padding-top:70px;}
.con_txt .lay_3 .h_down{text-align: left; font-size:16px;}
.con_txt .lay_3 .h_down span{color:#e60012; font-size: 22px;}
.con_txt .lay_3 .inner{background: url("../images/ios/laybox_03.jpg"/*tpa=http://www.itcast.cn/images/ios/laybox_03.jpg*/) no-repeat right top; height: 601px;}
.con_txt .lay_3 a{font-size:18px; color: #3688FF; display: inline-block; margin-top:40px;}
.con_txt .lay_4{text-align: right; background: url("../images/ios/laybox_04.jpg"/*tpa=http://www.itcast.cn/images/ios/laybox_04.jpg*/) no-repeat center bottom; height: 500px;}
.con_txt .lay_4 .inner{width:1080px; padding-right: 120px;}
.con_txt .lay_4 h2{text-align: right; padding-top:20px; }
.con_txt .lay_4 .h_down{text-align: right; font-size:16px;}
.con_txt .lay_4 a{font-size:18px; color: #3688FF; padding-right: 96px; display: inline-block; margin-top:30px;}
.con_txt .lay_5{background-image: url("../images/ios/laybox_05.jpg"/*tpa=http://www.itcast.cn/images/ios/laybox_05.jpg*/); height: 600px;}
.con_txt .lay_5 .inner{width:1020px; padding-right: 180px;}
.con_txt .lay_5 h2{padding:95px 30px 0 0; }
.con_txt .lay_5 a{padding-right: 156px; display: inline-block; margin-top:20px; font-size:18px; color: #3688FF;}
.con_txt .lay_6{padding-bottom: 20px;}
.con_txt .lay_6 img{display:inline-block;}
.con_txt .lay_6 a{line-height:100px; color: #3688ff; font-size: 18px;}

/*学院页面内容样式--android学科*/
.con_android .lay .inner{width:1200px;}
.con_android .lay_2{background-image: url("../images/android/android_02.jpg"/*tpa=http://www.itcast.cn/images/android/android_02.jpg*/);} 
.con_android .lay_4{background-image: url("../images/android/android_03.jpg"/*tpa=http://www.itcast.cn/images/android/android_03.jpg*/); height: 600px;}
.con_android .lay_5{background-image: url("../images/android/android_04.jpg"/*tpa=http://www.itcast.cn/images/android/android_04.jpg*/); height: 490px; color: #fff;}

/*学院页面内容样式--JavaEE学科*/
.con_java .lay_2{background-image: url("../images/javaee/java_02.jpg"/*tpa=http://www.itcast.cn/images/javaee/java_02.jpg*/);} 
.con_java .lay_4{background-image: none; height:600px; padding-bottom:0;}
.con_java .lay_4 .inner{background: url("../images/javaee/java_03.jpg"/*tpa=http://www.itcast.cn/images/javaee/java_03.jpg*/) no-repeat left bottom; height:600px; padding-right:80px; width:1120px;}
.con_java .lay_4 .h_down{text-align: center; padding-left:410px;}
.con_java .lay_4 a.newa{ padding-right:170px;}
.con_java .lay_5{background-image: url("../images/javaee/java_04.jpg"/*tpa=http://www.itcast.cn/images/javaee/java_04.jpg*/); height:485px; color:#fff;}
.con_java .lay_5 h2{text-align:left; padding-top:105px; }
.con_java .lay_5 .h_down{text-align: left; font-size:18px;}
.con_java .lay_5 a{ padding-right:568px; display: inline-block; margin-top:20px;}

/*学院页面内容样式--php学科*/
.con_php .lay_2{background-image: url("../images/php/php_02.jpg"/*tpa=http://www.itcast.cn/images/php/php_02.jpg*/);} 
.con_php .lay_4{background-image: url("../images/php/php_03.jpg"/*tpa=http://www.itcast.cn/images/php/php_03.jpg*/); height: 540px;}
.con_php .lay_4 .inner{ padding-right:40px; width:1160px; height: 540px;}
.con_php .lay_4 h2{text-align: right; padding-top:30px; line-height:61px; }
.con_php .lay_4 a.newa{padding-right:25px;}
.con_php .lay_5{background-image:none; background-color:#d0d8e0; height:500px;}
.con_php .lay_5 .inner{background: url("../images/php/php_04.jpg"/*tpa=http://www.itcast.cn/images/php/php_04.jpg*/) no-repeat left center; height: 500px;  width:1200px; text-align:right;}
.con_php .lay_5 h2{text-align: right; padding-top:20px; color: #000; line-height:62px; }
.con_php .lay_5 .h_down{ text-align:right; }

/*学院页面内容样式--C++/C学科*/
.con_c .lay_2{background-image: url("../images/c/c_02.jpg"/*tpa=http://www.itcast.cn/images/c/c_02.jpg*/);} 
.con_c .lay_4{background-image: none; height:600px; padding-bottom:0;}
.con_c .lay_4 .inner{background: url("../images/c/c_03.jpg"/*tpa=http://www.itcast.cn/images/c/c_03.jpg*/) no-repeat left bottom; height:600px; padding-right:50px; width:1150px;}
.con_c .lay_4 .h_down{text-align: center; padding-left:410px;}
.con_c .lay_4 a.newa{ padding-right:170px;}
.con_c .lay_5{background-image: url("../images/c/c_05.jpg"/*tpa=http://www.itcast.cn/images/c/c_05.jpg*/); height:377px; color:#fff; text-align:left;}
.con_c .lay_5 .inner{width:1200px; padding-right:0;}
.con_c .lay_5 h2{text-align:left; padding-top:0;}
.con_c .lay_5 .h_down{text-align: left;}
.con_c .lay_5 a{ color:#fff;}

/*学院页面内容样式--ui学科*/
.con_ui .lay_2{background-image: url("../images/ui/ui_02.jpg"/*tpa=http://www.itcast.cn/images/ui/ui_02.jpg*/);} 
.con_ui .lay_2 h2{ color:#921943;} 
.con_ui .lay_2 .h_down{ color:#921943; margin-bottom:35px;} 
.con_ui .lay_2 li{ background:url("../images/ui/ui_bg.png"/*tpa=http://www.itcast.cn/images/ui/ui_bg.png*/);} 
.con_ui .lay_2 li p{ color:#000;} 
.con_ui .lay_4{background-image: none; height:660px; padding:0;}
.con_ui .lay_4 .inner{background: url("../images/ui/ui_03.jpg"/*tpa=http://www.itcast.cn/images/ui/ui_03.jpg*/) no-repeat left top; height:660px; padding-right:50px; width:1150px; overflow:hidden;}
.con_ui .lay_4 h2{ margin-top:165px;} 
.con_ui .lay_5{background-image:none; background:#0095db; color:#fff; height:550px; padding-bottom:0;}
.con_ui .lay_5 .inner{height:550px; width:1150px; padding-right:50px; background: url("../images/ui/ui_04.jpg"/*tpa=http://www.itcast.cn/images/ui/ui_04.jpg*/) no-repeat left bottom; overflow:hidden;}
.con_ui .lay_5 h2{ text-align:right; padding-right:0; margin-top:55px;} 
.con_ui .lay_5 .h_down{ text-align:right;} 
.con_ui .lay_5 a{ color:#fff; padding-left:800px; padding-right:0;} 

/*学院页面内容样式--网络营销学科*/
.con_m .lay_2{background-image: url("../images/m/m_02.jpg"/*tpa=http://www.itcast.cn/images/m/m_02.jpg*/);} 
.con_m .lay_4{background-image: none; height:600px; padding-bottom:0;}
.con_m .lay_4 .inner{background: url("../images/m/m_03.jpg"/*tpa=http://www.itcast.cn/images/m/m_03.jpg*/) no-repeat left bottom; height:600px; padding-right:40px; width:1160px;}
.con_m .lay_4 h2{ padding-right:90px;}
.con_m .lay_4 .h_down{text-align: center; padding-left:520px;}
.con_m .lay_4 a.newa{ padding-right:143px;}
.con_m .lay_5{background-image: url("../images/m/m_04.jpg"/*tpa=http://www.itcast.cn/images/m/m_04.jpg*/); height:485px; color:#fff;}
.con_m .lay_5 h2{text-align:left; padding-top:180px; }
.con_m .lay_5 .h_down{text-align: left; font-size:18px;}
.con_m .lay_5 a{ padding-right:568px; display: inline-block; margin-top:20px;}

/*学院页面内容样式--云计算之大数据*/
.con_cloud .lay_2{background-image: url("../images/javayun/yun_02.jpg"/*tpa=http://www.itcast.cn/images/javayun/yun_02.jpg*/);} 
.con_cloud .lay_3{background: #5A6173; height:600px; padding-bottom:0; color:#fff;}
.con_cloud .lay_3 .inner{background: url("../images/javayun/yun_03.jpg"/*tpa=http://www.itcast.cn/images/javayun/yun_03.jpg*/) no-repeat right bottom; height:600px; width:1200px;}
.con_cloud .lay_3 h2{padding-top:0;}
.con_cloud .lay_3 a{color:#f6f409;}
.con_cloud .lay_4 {background:none; padding-top:0;}
.con_cloud .lay_4 .inner{width:1200px; padding-top:77px; background: url("../images/javayun/yun_04.jpg"/*tpa=http://www.itcast.cn/images/javayun/yun_04.jpg*/) no-repeat left bottom; padding-right:0;}
.con_cloud .lay_4 h2{ padding-right:90px; padding-top:0;}
.con_cloud .lay_4 .h_down{text-align: center; padding-left:520px;}
.con_cloud .lay_4 a.newa{ padding-right:143px;}
.con_cloud .lay_5{background:#4097DC url("../images/javayun/yun_05.jpg"/*tpa=http://www.itcast.cn/images/javayun/yun_05.jpg*/) no-repeat center bottom; height:485px; color:#fff; text-align:left;}
.con_cloud .lay_5 h2{padding-top:45px;}
.con_cloud .lay_5 .h_down{text-align: left; font-size:18px;}
.con_cloud .lay_5 a{ padding-right:568px; display: inline-block; color:#f6f409;}

/*学院页面内容样式--前端与移动开发*/
.con_web .lay_2{background-image: url("../images/web/web_02.jpg"/*tpa=http://www.itcast.cn/images/web/web_02.jpg*/);}
.con_web .lay_2 .list ul li{border-color:#fff;} 
.con_web .lay_2 .list ul li h3{color:#fff;}
.con_web .lay_3{background:#fff;}
.con_web .lay_3 .inner{background-image:url("../images/web/web_03.jpg"/*tpa=http://www.itcast.cn/images/web/web_03.jpg*/); height:408px;}
.con_web .lay_3 h2{padding-top:0;}
.con_web .lay_4{background:#86CCCC;}
.con_web .lay_4 .inner{width:1200px; background:url("../images/web/web_04.jpg"/*tpa=http://www.itcast.cn/images/web/web_04.jpg*/) no-repeat left center; padding-right:0;}
.con_web .lay_5{background:#F4F4F4; height:380px;}
.con_web .lay_5 .inner{width:1000px; text-align:left; background:url("../images/web/web_5.jpg"/*tpa=http://www.itcast.cn/images/web/web_5.jpg*/) no-repeat right center; padding:20px 0;}
.con_web .lay_5 h2{ text-align:left; padding-top:10px;}
.con_web .lay_5 .h_down{text-align: left;}

/*学院页面内容样式--Python*/
.con_python .lay_2{background-image: url("../images/python/python_02.jpg"/*tpa=http://www.itcast.cn/images/python/python_02.jpg*/);}
.con_python .lay_2 .list ul li{border-color:#fff;} 
.con_python .lay_2 .list ul li h3{color:#fff;}
.con_python .lay_3{background:#FAFAFA;}
.con_python .lay_3 .inner{background-image:url("../images/python/python_03.jpg"/*tpa=http://www.itcast.cn/images/python/python_03.jpg*/); height:408px;}
.con_python .lay_3 h2{padding-top:0;}
.con_python .lay_4{background:#fff; height:420px;}
.con_python .lay_4 .inner{width:1010px; background:url("../images/python/python_04.jpg"/*tpa=http://www.itcast.cn/images/python/python_04.jpg*/) no-repeat left center; padding-right:0;}
.con_python .lay_5{background:#5AC0A7 url("../images/python/python_05.jpg"/*tpa=http://www.itcast.cn/images/python/python_05.jpg*/) no-repeat center top; height:450px;}
.con_python .lay_5 .inner{width:1200px; color:#fff; text-align:left; padding:20px 0;}
.con_python .lay_5 h2{ text-align:left; padding-top:10px;}
.con_python .lay_5 .h_down{text-align: left;}
.con_python .lay_5 a{color:#fff;}














