/* 通用 css*/
/* by nana */
/*课程页面通用样式*/
.view_main .inner{width:1200px; margin:0 auto; padding-bottom: 20px;}
.view_banner{padding:30px 50px; height: 290px; background: url("../images/courseview_bg.jpg"/*tpa=http://www.itcast.cn/images/courseview_bg.jpg*/) no-repeat center top; overflow: hidden;}
.view_banner .video{float:left; width:500px; height: 290px; background: #263646;}
.view_banner .view_txt{float:right; width:540px; height:290px; color: #fff;}
.view_banner .view_txt h3{font-size:22px; padding:28px 0 14px 0;}
.view_banner .view_txt h4{padding-bottom: 24px;}
.view_banner .view_txt h4 em{display: inline-block; padding:0 15px;}
.view_banner .view_txt p{font-size:12px; line-height: 24px; max-height: 100px; overflow: hidden;}
.view_banner .view_txt .abox{margin-top:20px}
.view_banner .view_txt .abox a{display: inline-block; padding:0 35px; line-height: 40px; font-size: 16px; background: #fff; }
.view_banner .view_txt .abox .a1{color: #fff; background: #0099E5; margin-right: 15px;}
.view_banner .view_txt .abox a:hover{background: #00AAFF; color:#fff;}
.view_con{background: #fff; padding:0 50px 40px; overflow: hidden;}
.view_con .con_l{float:left; width:830px; color: #757575; line-height: 26px;}
.view_con .con_l img{max-width:820px;}
.view_con .con_l h1{font-size:34px; color: #B0B0B0; padding:30px 0;}
.view_con .con_l h2{font-size:22px; line-height: 76px;}
.view_con .con_l h3{font-size:18px; line-height: 40px;}
.view_con .con_l p{color:#757575; line-height: 26px;}
.view_con .con_l p a{display:inline-block;}
.view_con .con_l div a{display:inline-block;}
.view_con .con_l p.p_indent{text-indent: 36px;}
.view_con .con_r{float:right; width:205px; margin-top: 30px; border-left: 2px solid #EAEAEA; background: #fff;}
.view_con .con_r_fixd{position: fixed; top:100px; right:50%; margin-right: -550px;}
.view_con .con_r .re_box{position: relative; padding:10px 0 10px 20px;}
.view_con .con_r .dot{display: block; width:6px; height: 6px; font-size:0; line-height: 0; background: #fff; border-radius: 5px; border:2px solid #D1D1D1; position:absolute; left: -6px; top:0;}
.view_con .con_r .end_em{bottom:0; top:auto;}
.view_con .con_r span{display: block; width:19px; height: 12px; line-height: 0; font-size:0; background:url("../images/hd_box.png"/*tpa=http://www.itcast.cn/images/hd_box.png*/); position:absolute; left:-8px; top:23px; z-index: 3;}
.view_con .con_r .dot_p{background: #D1D1D1; border:2px solid #fff;  top:13px; left: -26px;}
.view_con .con_r h1{font-size:18px; font-weight: bold; line-height: 36px; position: relative; cursor: pointer;}
.view_con .con_r h1:hover{color:#0099E5;}
.view_con .con_r h2{position: relative; line-height: 36px; cursor: pointer;}
.view_con .con_r h2:hover{color:#0099E5;}
