@charset "utf-8";
/* CSS Document */

/* 右侧咨询 S */
.zx{width: 60px; position:fixed; right:0; top:50%; margin-top:-150px; z-index: 99999;}
.zx li{width: 58px; height: 58px; border: 1px solid #E0E0E0; margin-bottom: -1px; background: #fff; position: relative; z-index: 99999;}
.zx li a{display: block; width:58px; height: 58px; color:#333; overflow:hidden;}
.zx li span.icon_s{ display:block; width: 24px; height: 26px; background:url("../images/zx/zxzx1.gif"/*tpa=http://www.itcast.cn/images/zx/zxzx1.gif*/) no-repeat center top; margin: 7px auto 4px;}
.zx li p{font-size:12px; text-align: center;}
.zx li:hover{background: #E60012; border-color:#E60012;}
.zx li:hover span.icon_s{background-image:url("../images/zx/zxzx1.gif"/*tpa=http://www.itcast.cn/images/zx/zxzx1.gif*/);}
.zx li:hover p{color:#fff;}
.zx li.li_qq span.icon_s{background-image:url("../images/zx/qq_icon.png"/*tpa=http://www.itcast.cn/images/zx/qq_icon.png*/);}
.zx li.li_qq:hover{border-top-color:#E0E0E0;}
.zx li.li_qq:hover span.icon_s{background-image:url("../images/zx/qq_icon.png"/*tpa=http://www.itcast.cn/images/zx/qq_icon.png*/);}
.zx li.li_1{ background: #E60012; border-color:#E60012;}
.zx li.li_1 p{ color:#fff;}
.zx li.li_3{ border-top-color: #E0E0E0;}
.zx li.li_2 span.icon_s{background-image:url("../images/zx/nmzx.gif"/*tpa=http://www.itcast.cn/images/zx/nmzx.gif*/);}
.zx li.li_2:hover span.icon_s{background-image:url("../images/zx/nmzx1.gif"/*tpa=http://www.itcast.cn/images/zx/nmzx1.gif*/);}
.zx li.li_3 span.icon_s{background-image:url("../images/zx/whxq.gif"/*tpa=http://www.itcast.cn/images/zx/whxq.gif*/);}
.zx li.li_3:hover span.icon_s{background-image:url("../images/zx/whxq1.gif"/*tpa=http://www.itcast.cn/images/zx/whxq1.gif*/);}
.zx li.li_4 span.icon_s{background-image:url("../images/zx/zxbm.gif"/*tpa=http://www.itcast.cn/images/zx/zxbm.gif*/);}
.zx li.li_4:hover span.icon_s{background-image:url("../images/zx/zxbm1.gif"/*tpa=http://www.itcast.cn/images/zx/zxbm1.gif*/);}
.zx li.li_5 span.icon_s{background-image:url("../images/zx/dhzx.gif"/*tpa=http://www.itcast.cn/images/zx/dhzx.gif*/);}
.zx li.li_5:hover{border-color:#E0E0E0;}
.zx li.li_5:hover span.icon_s{background-image:url("../images/zx/dhzx1.gif"/*tpa=http://www.itcast.cn/images/zx/dhzx1.gif*/);}
.zx li.li_6{visibility:hidden; background: #E60012; border-color:#E60012; border-top-color: #E0E0E0;}
.zx li.li_6 span.icon_s{background-image:url("../images/zx/zx_bg1.png"/*tpa=http://www.itcast.cn/images/zx/zx_bg1.png*/);}
.zx li.li_6:hover span.icon_s{background-image:url("../images/zx/zx_bg1.png"/*tpa=http://www.itcast.cn/images/zx/zx_bg1.png*/);}
.zx li.li_6 a{color:#fff;}
.zx li.li_gd p.p_tm{width:58px; height: 22px; opacity: 0; position: absolute; left:0; top:15px;}
.zx li.li_gd p.p_tm iframe{width:58px; height: 22px;}
.zx li div{position: absolute; right: -1px; top:-1px; background:#e60012;  display:none; }
.zx li.li_gd div{background:#E60012;}
.zx li.li_gd div p{width:105px; padding-left: 30px; height:59px; line-height: 59px; font-weight: bold; font-size:13px; color:#fff; overflow:hidden; background: url("../images/zx/dhzx1.gif"/*tpa=http://www.itcast.cn/images/zx/dhzx1.gif*/) no-repeat 7px center; font-family:"微软雅黑";}
/* 右侧咨询 E */