/*
*zuozhe: wangchong@sina.cn
*for: worldpeace person website;
*/

@charset "utf-8";

body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,form,fieldset,legend,button,input,textarea,th,td {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 400; 
}

body,button,input,select,textarea {
	font: 12px/1.5 "MicroSoft YaHei","Hiragino Sans GB","\5b8b\4f53",sans-serif
}

body {
	background: #FFF;
	color: #333
}

em,i {
	font-style: normal
}

fieldset,img {
	border: 0
}

ul,ol,li {
	list-style: none;
	list-style-position: outside
}

button,input,select,textarea {
	font-size: 100%;
	outline: 0
}

textarea {
	resize: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

a {
	color: #333;
	text-decoration: none;
	outline: 0
}

a:hover {
	text-decoration: none
}

p,span,em,strong {
	word-break: break-all;
	word-wrap: break-word
}

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix {
	zoom: 1
}

.clear {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	font-size: 0
}

.tl {
	text-align: left
}

.tc {
	text-align: center
}

.tr {
	text-align: right
}

.fl {
	float: left;
	display: inline
}

.fr {
	float: right;
	display: inline
}

.pr {
	position: relative
}

.pa {
	position: absolute
}

.none {
	display: none
}

.fontYH {
	font-family: Microsoft YaHei,"\u5fae\u8f6f\u96c5\u9ed1",Microsoft JhengHei,"\u534e\u6587\u7ec6\u9ed1",STHeiti,MingLiu,Serif
}


/*******
font
***********/
.fc-007{color:#007e86}


.f10{font-size:10px}
.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}

/*******
padding  margin
***********/
.mt1 {margin-top:1px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}

.mb4 {margin-bottom:4px;}
.mb8 {margin-bottom:8px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb60{margin-bottom:60px;}

.mr8{margin-right:8px; }
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}

.p6{padding:6px;}
.p10{padding:10px;}
.p20{padding:20px;}
.p30{padding:30px;}
.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.pt35{padding-top:35px;}
.pb20{padding-bottom:20px;}
.pb40{padding-bottom:40px;}
.pl20{padding-left:20px;}