/* 
* @Author: Marte
* @Date:   2016-09-19 11:03:02
* @Last Modified by:   Marte
* @Last Modified time: 2016-11-06 16:41:21
*/
body{ overflow-x:hidden;}
.banner{width:100%;margin:0 auto;vertical-align: top;}
.banner img{width:100%;vertical-align:top;}


.fuwu{width:100%;margin:0 auto;vertical-align: top;}
.fuwu img{width:100%;vertical-align: top;}

.meet{clear:both;width:100%;margin:0 auto;position:relative;vertical-align:top;}
.meet img{width:100%;vertical-align:top;}
.meet li{position:absolute;left:39.5%;top:8%;width:334px;height:70px;background:#7912b7;border-radius:70px;
 line-height:70px;text-align:center;}
.meet li a{font-size:30px;color:#fff;}
.meet li a:hover{color:#ffff51;}
.meet li:hover{background:#51034f;color:#ffff51;}


.sell{width:100%;margin:0 auto;vertical-align: top;}
.sell img{width:100%;vertical-align: top;}

.first{clear:both;width:100%;margin:0 auto;position:relative;vertical-align:top;}
.first img{width:100%;vertical-align:top;}
.first li.left{position:absolute;left:29.5%;bottom:34%;width:100px;height:26px;background:#fff;border-radius:5px;
 line-height:26px;text-align:center;}

.first li.right{position:absolute;right:28.5%;bottom:34%;width:100px;height:26px;background:#fff;border-radius:5px;
 line-height:26px;text-align:center;}
.first li a{font-size:20px;color:#5a189c;font-weight:bold;}
.first li a:hover{color:#ffff51;}
.first li:hover{background:#51034f;color:#ffff51;}

.hot{width:100%;margin:0 auto;vertical-align: top;}
.hot img{width:100%;vertical-align: top;}


.second{clear:both;width:100%;margin:0 auto;position:relative;vertical-align:top;}
.second img{width:100%;vertical-align:top;}
.second li.left{position:absolute;left:29%;bottom:21%;width:100px;height:26px;background:#fff;border-radius:5px;
 line-height:26px;text-align:center;}

.second li.right{position:absolute;right:29%;bottom:21%;width:100px;height:26px;background:#fff;border-radius:5px;
 line-height:26px;text-align:center;}
.second li a{font-size:20px;color:#5a189c;font-weight:bold;}
.second li a:hover{color:#ffff51;}
.second li:hover{background:#51034f;color:#ffff51;}


.three{clear:both;width:100%;margin:0 auto;position:relative;vertical-align:top;}
.three img{width:100%;vertical-align:top;}
.three li{position:absolute;left:36%;top:27%;width:400px;height:58px;background:#e98b05;border-radius:4px;
 line-height:58px;text-align:center;}
.three li a{font-size:24px;color:#fff;}
.three li a:hover{color:#ffff51;}
.three li:hover{background:#51034f;color:#ffff51;}

.journey{width:100%;margin:0 auto;vertical-align: top;}
.journey img{width:100%;vertical-align:top;}

.four{clear:both;width:100%;margin:0 auto;vertical-align:top;position:relative;}
.four img{width:100%;vertical-align:top;}
.four ul {width:280px;height:42px;position:absolute;left:41.8%;top:20%;line-height:42px;border:1px solid #c19d49;}
.four ul li.left{float:left;width:70%; text-align:center;}
.four ul li.right{float:right;width:28%;height:42px; background:#fff; text-align:center;}
.four ul li.right img{width:62%;height:82%; vertical-align:middle;padding-left:16%;padding-top:4%; }
.four ul li a{font-size:16px;color:#c9b6b8;}
.four ul li a:hover{color:#fff;}



.pic{width:100%;margin:0 auto;vertical-align: top;}
.pic img{width:100%;vertical-align:top;}


.consulting{width:100%;height:380px;background:#dc504f;}
.consulting .center{width:80%;height:256px;margin:0 auto;}
.consulting .center .left{width:40%; height:256px;float:left; }
.consulting .center .left img{float:right;margin-top:140px;}
.consulting .center .right{width:60%;height:256px;float:right;}

.consulting .center .right .mark{width:100%;height:34px;}
.consulting .center .right .mark li{color:#fff;height:52px;line-height:52px;}
.consulting .center .right .mark li span{width:20px;height:20px;border-radius:20px;margin-left:50px; line-height:20px;text-align:center; background:#d70a07;display:inline-block;}
.consulting .center .right .form{width:100%;height:236px;}


.footer{width:100%;margin:0 auto;vertical-align: top;}
.footer img{width:100%;vertical-align:top;}
