
/* 相同样式属性 */
* html #online_qq_layer { _bottom:auto; _top:expression(eval(document.documentElement.scrollTop + 150));}
root {display: block;}
html, body, div, label, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, p, blockquote, th, td ,img,textarea{border: 0px;margin: 0px;outline: 0px;padding: 0px;}
fieldset, img { border: 0; }
img { display:inline-block; }
:focus { outline: 0; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: normal; font-weight: normal; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight:bold; }
abbr, acronym { border: 0; font-variant: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
code, kbd, samp, tt { font-size:100%; }
input, button, textarea, select { *font-size: 100%;font-family:微软雅黑;}
ol, ul { list-style: none outside none; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th { text-align: left; }
:link, :visited, ins { text-decoration: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
a{ color:#666666}
a:hover{ font-size:12px; color:#F90}
html,body{
    margin: 0;
    padding: 0;
    color: #232323;
    font-size: 12px;
    font-family:'微软雅黑',Arial,Helvetica,sans-serif,STHeiti;
    letter-spacing: 0px;
    overflow-x: hidden;
	background:#ffffff;	
}
/***********************************/
.clearfix:after,
ul:after,
li:after,
#page:after,
.main:after{
	display: block;
	clear: both;
	visibility: hidden;
	height:0;
	content:'';
}
.main,.page,.top,.bottom{ width:1000px; margin:0 auto;}
.left{ float:left}
.right{ float:right}
.margin_bottom{ margin-bottom:20px;}
/***************位置信息链接******************/
.web_way {overflow: hidden;margin: 10px 0px; float:right}
.web_way li {float: left;line-height: 25px;color: #999997;margin-right: 3px;}
.button_way {width: 13px;height: 20px;background: url(../images/img.png) no-repeat 0 -17px;}
/*************************分页样式属性****************************/
.pagenation_case {
	clear: both;
	width: auto;
	text-align: center;
	padding-top: 38px;
	padding-bottom: 10px;
}
.pagePrev_case {display: inline-block;width: 66px;height: 29px;zoom: 1;}
.pagePrev_case .prevHide_case {display: block;width: 66px;height: 29px;background: url(../images/pagenation/prevHideCase.png) no-repeat;}
.pageNo_case {
	display: inline-block;
	width: 30px;
	height: 29px;
	position: relative;
	top: -10px;
	zoom: 1;
}
.pageCaseBottom {
	display: inline-block;
	width: 52px;
	height: 29px;
	margin-left: 10px;
	position: relative;
	top: -10px;
	zoom: 1;
}
.pageCaseBottomInput {
	display: inline-block;
	width: 95px;
	height: 24px;
	position: relative;
	top: -10px;
	_top: 0;
	zoom: 1;
}
.pageCaseBottomInput input {width: 43px;margin-left: 2px;margin-right: 2px;outline: 0;}
.pageCaseBottom .grayTitle {display: block;width: auto;height: 29px;line-height: 29px;color: #484848;font-size: 12px;}
.pageNext_case a.nextShow_case:hover {background: url(../images/pagenation/nextShowCaseHover.png?v=201401081845) no-repeat;}
.pageNext_case {display: inline-block;width: 66px;height: 29px;zoom: 1;}
.pageEllipsis_new {display: inline-block;width: 21px;height: 28px;zoom: 1;background: url(../images/pagenation/ellipsis_new.jpg?v=201312251730) no-repeat;}
.pageNext_case a.nextShow_case {display: block;width: 66px;height: 29px;background: url(../images/pagenation/nextShowCase.png) no-repeat;}
.pageCaseBottom .bottomSearch {
	display: block;
	width: 51px;
	height: 23px;
	border: 1px solid #FD6500;
	border-radius: 3px;
	color: #FFF;
	line-height: 24px;
	background: #FF7200;
	cursor: pointer;
	position: relative;
	top: -1px;
}
/**************************************************首页样式属性**************************************************/
.top_herder{ position:relative}
.top_herder a{ display:block; height:100px; float:left;}
.top_herder a img{ float:left; margin-right:20px;}
.top_herder a .wenzi{ float:left; font-size:18px; margin-top:40px; display:block; border-left:1px solid #ddd; padding:0px 20px; color:#333333}
.top_herder .text_Searching{ width:200px; border:1px solid #ddd; height:30px; left:30px; padding:0px 50px 0px 10px; float:right; margin-top:40px;}
.top_herder .button_Search{ 
	background:url(../images/Searching_09.png) no-repeat; 
	height:30px; 
	width:30px; 
	border:0px; 
	position: 
	absolute; 
	top:43px; 
	right:10px; 
	cursor:pointer;
}
/***************************底部样式属性*******************************/
.footer{ background:#024d90; color:#FFFFFF; line-height:30px; padding:10px 0px;}
.footer .Copyright{ float:left; width:600px;}
.phone .telephone{ font-size:36px; font-family:Impact; margin-top:5px;}
.footer .Copyright a{ color:#FFFFFF}
.phone{ font-size:18px; float:right;}
/**********************************菜单栏样式属性******************************************/
.nav{ height:40px; line-height:40px;  position:relative; z-index:1;  }
.nav a{ color: #000000;  }
.nav .nLi{ float:left;  position:relative; display:inline;  }
.nav .on em{ position:absolute; width:22px; height:12px; background:url(../images/yuan_09.png) no-repeat; bottom:0px; left:51px;}
.nav .nLi h3{ float:left;  }
.nav .nLi h3 a{ display:block; padding:0 20px; font-size:14px; font-weight:bold; width:85px; text-align:center }
.nav .sub{ display:none; z-index:33; width:123px; left:0; top:40px;  position:absolute; background:#ffffff; border:1px solid  #003d7b; line-height:30px; padding:5px 0;  }
.nav .sub em{ position:absolute; width:22px; height:12px; background:url(../images/yuan_09.png) no-repeat 0px -12px; top:-1px; left:50px;}
.nav .sub li{ zoom:1; }
.nav .sub a{ display:block; padding:0 10px; }
.nav .sub a:hover{ background:#003d7b; color:#fff;  }
.nav .on h3 a{ background:#003d7b; color:#fff;   }
/************************幻灯片样式****************************/
.slideBox{ height:490px; overflow:hidden; position:relative;  }
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; left:45%; bottom:25px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ 
	float:left; 
	margin-right:2px;  
	line-height:14px; 
	text-align:center; 
	background-color: #FFFFFF;
	cursor:pointer; 
	width: 15px;
	height: 15px;
	float: left;
	border-radius: 50% 50% 50% 50%;
	cursor: pointer;
	display: inline-block;
	margin: 0 4px;
	overflow: hidden;
	text-indent: -999px
}
.slideBox .hd ul li.on{ background:#215993; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; text-align:center}
.slideBox .bd img{ max-width:100%; height:490px; display:block;  }
.slideBox .prev,
.slideBox .next{ 
    position:absolute; left:3%; top:50%; 
	margin-top:-25px; 
	display:block; 
	width:70px; 
	height:100px;
	background:url(../images/slider-arrow.png) no-repeat;
	filter:alpha(opacity=50);opacity:0.5;
}
.slideBox .prev{ width:33px; height:75px;}
.slideBox .next{ left:auto; right:3%; background-position:-34px 0px; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1; }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }
/***********************************************栏目板块样式属性****************************************************/
.Section_style{ margin-top:30px;}
.Section_style .Section_list{ float:left; width:213px; height:300px; margin-right:20px; padding:10px; border:1px solid #ddd;}
.Section_style .Section_img{ text-align:center;}
.Section_style .title{ text-align:center; margin-bottom:20px;}
.Section_style .title a{ font-size:24px; color:#003366; }
.Section_style .link_name a{ color:#999999; font-size:14px; display:block; line-height:30px}
.Section_style .link_name a:hover,
.Section_style .title a:hover,
.MEWS_style .News_list a:hover{ color: #FF6600}
.Section_style .Section_list.Spacing{ margin-right:0px;}
/*************************新闻动态样式属性******************************/
.MEWS_style{ margin:20px 0px;}
.Plate .title_name{ height:40px; line-height:40px; font-size:18px;}
.Plate .title_name .more{ float:right; color:#FF9900; font-size:12px}
.Plate .title_name b{ font-size:14px; padding-left:5px; color:#999999; font-weight:normal}
/**************新闻广告****************/
.Mews_slideBox{ width:450px; height:230px; overflow:hidden; position:relative; border:1px solid #ddd; float:left;  }
.Mews_slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
.Mews_slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.Mews_slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:15px; text-align:center; background:#fff; cursor:pointer; }
.Mews_slideBox .hd ul li.on{ background:#f00; color:#fff; }
.Mews_slideBox .bd{ position:relative; height:100%; z-index:0;   }
.Mews_slideBox .bd li{ zoom:1; vertical-align:middle; }
.Mews_slideBox .bd img{ width:450px; height:230px; display:block;  }
.Mews_slideBox .bd li .title{ width:400px; height:30px; line-height:30px; left:0; bottom:0;   position:absolute; z-index:2;  }
.Mews_slideBox .bd li .title a{ color:#fff; padding-left:15px;  }
.Mews_slideBox .prev,
.Mews_slideBox .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../images/slider-arrow1.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.Mews_slideBox .next{ left:auto; right:3%; background-position:8px 5px; }
.Mews_slideBox .prev:hover,
.Mews_slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.Mews_slideBox .prevStop{ display:none;  }
.Mews_slideBox .nextStop{ display:none;  }
.Mews_slideBox .bd li .bg {
	width: 450px;
	height: 30px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
	background: #000;
	filter: alpha(opacity=60);
	opacity: 0.6;
}
.MEWS_style .News_list{ float:left; margin-left:20px; width:528px}
.MEWS_style .News_list a{ 
	line-height:30px; 
	font-size:14px; 
	color: #333333;
	display:block; 
	float:left; 
	width:420px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.MEWS_style .News_list span{ float:right; color:#CCCCCC}
/****************************学院图片展示属性*******************************/
.School_Charisma{ margin-bottom:20px;}
.School_Charisma .title_name{ border-bottom:2px solid #ddd;}
/******************图片展示样式属性*********************/
.Collect_Products .title_name{ line-height:30px; font-size:18px; border-bottom:3px solid #ddd}
#Collect_Products .picList .pic img{ width:218px; height:213px; border:1px solid #ddd}
#Collect_Products .picList .title{ padding:0px 10px; height:40px;}
.Collect_Products{ overflow:hidden; position:relative;  width:1000px; } 
.Collect_Products .hd{ overflow:hidden;  } 
.Collect_Products .hd .prev,
.Collect_Products .hd .next{ 
	 position:absolute; 
	 top:15px;
	 color:#ddd;
	 text-align:center;
	 overflow:visible;
	 display:block; 
	 width:30px;
	 line-height:213px;
	 height:213px;
	 font-size:36px;
	 cursor:pointer	;
	 font-family:"新宋体"; 	
	 border:1px solid #ddd;
} 
.Collect_Products .hd .prev:hover,
.Collect_Products .hd .next:hover{ color:#FF6600; border:1px solid #FF6600}
.Collect_Products .hd .prev{left:968px;}
.Collect_Products .hd ul{ float:right; overflow:hidden; zoom:1; margin-top:10px;  } 
.Collect_Products .hd ul li.on{ background:#f00;  } 
.Collect_Products .bd{ padding:5px 0px; margin-left:32px;} 
.Collect_Products .bd ul{ overflow:hidden; zoom:1; } 
.Collect_Products .bd ul li{ margin:0 8px; padding:10px 0px;display:_inline; width:218px;} 
.Collect_Products .bd ul li a{font-family:"新宋体"; color:#333333;}
.Collect_Products .bd ul li a:hover{color: #FF6600}
.Collect_Products .bd ul li .p_Price{ color:#FF0000; font-weight:bold; font-size:14px; padding:0px 10px;}
/******************合作单位logo样式属性******************/
.Cooperate{ background:#9BCFEC; padding:10px 0px;}
.Cooperate_logo .title_name{ line-height:30px; font-size:18px; border-bottom:3px solid   #ddd}
#Cooperate_logo .picList .pic img{ width:171px; height:80px;}
#Cooperate_logo .picList .title{ padding:0px 10px; height:40px;}
.Cooperate_logo{ overflow:hidden; position:relative;  width:1000px; } 
.Cooperate_logo .hd{ overflow:hidden;  } 
.Cooperate_logo .hd .prev,
.Cooperate_logo .hd .next{ 
	 position:absolute; 
	 top:15px;
	 color:#fff;
	 text-align:center;
	 overflow:visible;
	 display:block; 
	 width:30px;
	 line-height:78px;
	 height:78px;
	 font-size:36px;
	 cursor:pointer	;
	 font-family:"新宋体"; 	
	 border:1px solid #fff;
} 
.Cooperate_logo .hd .prev:hover,
.Cooperate_logo .hd .next:hover{color:#FF6600; border:1px solid #FF6600}
.Cooperate_logo .hd .prev{left:968px;}
.Cooperate_logo .hd ul{float:right; overflow:hidden; zoom:1; margin-top:10px;} 
.Cooperate_logo .hd ul li.on{ background:#f00;} 
.Cooperate_logo .bd{padding:5px 0px; margin-left:32px;} 
.Cooperate_logo .bd ul{overflow:hidden; zoom:1;} 
.Cooperate_logo .bd ul li{margin:0 8px; padding:10px 0px;display:_inline; width:171px;} 
.Cooperate_logo .bd ul li a{font-family:"新宋体"; color:#333333;}
.Cooperate_logo .bd ul li a:hover{color: #FF6600}
.Cooperate_logo .bd ul li .p_Price{color:#FF0000; font-weight:bold; font-size:14px; padding:0px 10px;}
/*********************************qq资讯样式*****************************/
.kfli img{top:10px; position:relative;}
.kfli{
	height:40px; 
	line-height:30px; 
	color: #000000; 
	text-align:center;
	cursor:pointer; 
	border-bottom:1px solid  #D8D8D8; 
	margin:0px 20px; 
	font-size:14px; 
	font-family:"Microsoft YaHei"
}
#leftad span,#rightad span{cursor:pointer;} 
#divMenu{ float:right; width:161px;} 
.phone_Advisory{ text-align:center;} 
.phone_img{ background:url(../images/QQ_phone.png) no-repeat; height:29px; text-align:center; background-position:center;}
.phone_Advisory .Number{ font-size:18px; font-family:Impact; color: #CC0000; text-align:center;}
.QQ_bottom{ background:url(../images/QQ_img_08.png) no-repeat; height:30px;}
/* 在线客服 */
#online_qq_layer { position:fixed; right:0px; top:150px; overflow:hidden; _position:absolute; z-index:110; }
#online_qq_tab { float:left; margin-top: 50px; }
.online_icon { width:30px; height:185px; overflow:hidden;}
.online_icon a { display:block; width:30px; height:185px; background: url(../images/zixun_img.png) no-repeat left top; }
#onlineService { float:left; display:none; }
.online_windows { width:161px;}
.online_w_top { background:url(../images/qq_online_top.png) no-repeat; height:9px; }
.online_w_c { background:url(../images/qq_online_mid.png) repeat-y; }
.online_w_bottom { background:url(../images/qq_online_bot.png) no-repeat; height:20px; margin-left:-1px;}
#online_qq, #online_tel, #online_weixin { clear:both; width:160px; }
#online_qq ul li { line-height:36px; border-bottom:1px solid #e7e7e7;}
#online_qq ul li a { 
	display:block; 
	height:36px; 
	line-height:36px; 
	padding-left:25px; 
	font-family: "Microsoft YaHei"; 
	font-size:14px; 
	background:url(img/qq_ico.jpg) no-repeat 5px 11px; 
}


