@CHARSET "UTF-8";
.form .field .error-tishi {
    margin-left: 20px;
}
.form .button{    
    display: inline-block;
}
.id_card_upload {
    position: absolute;
    top: 207px;
    left: 310px;
}
.id_card_upload input {
    position: absolute;
    top: -4px;
    left: 201px;
    margin: 0px;
    opacity: 0;
    direction: ltr;
    cursor: pointer;
    font-size: 100%;
    width: 70px;
    height: 38px;
}
.id_card_upload2 {
    top: 255px;
}
.add-bankcard-form{
	height: 300px;
}
.cert_r{
    width: 700px;
}
.cert_r .item {
    width: 650px;
}
.m_input .item {
    height: 50px;
    margin: 10px 0px 0px;
}
.m_input .item .text {
    width: 100px;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: right;
    margin-right: 10px;
}
.m_input .select .box {
    height: 30px;
    position: relative;
    z-index: 0;
}
.m_input .item .box {
    float: left;
}
.m_input .select .s_value {
    position: relative;
    z-index: 0;
    height: 30px;
    line-height: 30px;
    border: 1px solid #CCC;
    padding: 0px 12px 0px 5px;
}
.m_input .select .s_value b {
    position: absolute;
    width: 12px;
    right: 0px;
    top: 0px;
    height: 30px;
    display: block;
    cursor: pointer;
    z-index: 0;
}
.m_input .select .s_value i {
    position: absolute;
    z-index: 0;
    right: 2px;
    height: 0px;
    display: inline-block;
    border: 5px solid #FFF;
    cursor: pointer;
}
.m_input .select .s_value i.arrow_down {
    top: 11px;
    border-top-color: #6B6B6B;
}
.m_input .select .s_value ul {
    position: absolute;
    top: 28px;
    left: -1px;
    border-right: 1px solid #CCC;
    border-width: 0px 1px 1px;
    border-style: none solid solid;
    border-color: -moz-use-text-color #CCC #CCC;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    background: none repeat scroll 0% 0% #FFF;
    text-indent: 5px;
    z-index: 1000000;
}
.c_bkcd_bkul {
    height: 220px;
    overflow-y: scroll;
}
.m_input .item .box input {
    float: left;
    height: 30px;
    padding: 4px 10px;
}
.m_input .select .s_value ul li {
    cursor: pointer;
    list-style: outside none none;
    display: block;
    z-index: 1000000;
}
.m_input .select .s_value ul li:hover {
   background-color: #ccc;
}
.ti-bankcard{
	margin-left: 20px;
}

.c_bkcd_info_add {
    width: 280px;
    height: 150px;
    float: left;
    margin-left: 15px;
    border:solid 1px #ddd;
    border-radius:5px;
}
.bkcd_info_hand{
	height: 35px;
	width: 240px;
	margin-left: 15px;
	border-bottom: dashed 1px #DDD;
	padding: 0px 5px 0px 5px; 
}
.bkcd_info_minute{
	width: 255px;
	height:115px;
	line-height:30px;
	margin-left: 20px;
	font-size: 14px;
	color:#333;
	padding: 13px 0px 0px 5px;
}

.c_bkcd_bank_logo{
	float: left;
}
.del_bkcd_info{
	float: right;
	margin-top: 5px;
}
.c_add_bankcard{
	text-align: center;
}
.c_add_bankcard img{
	margin-bottom: 10px;
	cursor: pointer;
}
.c_add_bankcard a{
	font-weight: bold;
}
.look-bankcar-info{
	height: 200px;
}
/***************银行卡LOGO CSS***************/
.bank_logo_pingan{background:url(../images/bank_logo_pic.png) no-repeat left -758px; height:35px; width:126px;}/****平安银行、原深发展LOGO****/
.bank_logo_ICBC{background:url(../images/bank_logo_pic.png) no-repeat left -542px; height:35px; width:126px;}/****工商银行LOGO****/
.bank_logo_CCB{background:url(../images/bank_logo_pic.png) no-repeat left -147px; height:35px; width:126px;}/****建设银行LOGO****/
.bank_logo_CMB{background:url(../images/bank_logo_pic.png) no-repeat left -321px; height:35px; width:126px;}/****招商银行LOGO****/
.bank_logo_CIB{background:url(../images/bank_logo_pic.png) no-repeat left -254px; height:35px; width:126px;}/****兴业银行LOGO****/
.bank_logo_CMBC{background:url(../images/bank_logo_pic.png) no-repeat left -361px; height:35px; width:126px;}/****民生银行LOGO****/
.bank_logo_HXB{background:url(../images/bank_logo_pic.png) no-repeat left -1243px; height:35px; width:126px;}/****华夏银行LOGO****/
.bank_logo_BOS{background:url(../images/bank_logo_pic.png) no-repeat left -685px; height:35px; width:126px;}/****上海银行LOGO****/
.bank_logo_CEBB{background:url(../images/bank_logo_pic.png) no-repeat left -215px; height:35px; width:126px;}/****光大银行LOGO****/
.bank_logo_GZCB{background:url(../images/bank_logo_pic.png) no-repeat left -1279px; height:35px; width:126px;}/****广州银行LOGO****/
.bank_logo_CGB{background:url(../images/bank_logo_pic.png) no-repeat left -470px; height:35px; width:126px;}/****广东发展银行LOGO   广发银行****/
.bank_logo_ecitic{background:url(../images/bank_logo_pic.png) no-repeat left -288px; height:35px; width:126px;}/****中信银行LOGO ****/
.bank_logo_PSBC{background:url(../images/bank_logo_pic.png) no-repeat left -612px; height:35px; width:126px;}/****邮政储蓄银行LOGO ****/
.bank_logo_BOC{background:url(../images/bank_logo_pic.png) no-repeat left -109px; height:35px; width:126px;}/****中国银行LOGO ****/
.bank_logo_COMM{background:url(../images/bank_logo_pic.png) no-repeat left -397px; height:35px; width:126px;}/****交通银行LOGO ****/
.bank_logo_SPDB{background:url(../images/bank_logo_pic.png) no-repeat left -793px; height:35px; width:126px;}/****浦发银行LOGO ****/
.bank_logo_ABC{background:url(../images/bank_logo_pic.png) no-repeat left 2px; height:35px; width:126px;}/****农业银行LOGO ****/
.bank_logo_tenpay{background:url(../images/bank_logo_pic.png) no-repeat left -967px; height:35px; width:126px;}/****财付通LOGO ****/
.bank_logo_OTH{background:url(../images/bank_logo_pic.png) no-repeat left -1646px; height:35px; width:126px;}/****其他银行 ****/

.c-delBkcdByPhoneBox{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    overflow: auto;
    text-align: center;
    background: none repeat scroll 0% 0% rgba(89, 89, 89, 0.2);
    z-index: 1000;
}
.del_bank_card_div{
	height: 215px;
	width: 480px;
	border: 4px solid #999;
	background-color: #FFF;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-90px;
	margin-left:-190px;
}
.del_bank_card_div a{
	color: #00A0E9;
}
.del_bank_card_hd{
	height: 40px;
	line-height: 30px;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
}
.colse_del_bkcd{
	float: right;
	height: 15px;
	width: 15px;
	margin: 1px 1px 0px 0px;
	+margin-top:-19px;
}
.colse_del_bkcd:hover{
	cursor:pointer;
}
.colse_del_bidts{
	+margin-top:20px;
}
.sure_del_bkcd{
	margin-top: 15px;
}
.sure_del_bkcd input{
	width: 80px;
	height: 30px;
	text-align: center;
}
.js-timer-phone-delBkcd{
	color: #F00;
}
/*cert-pic-look*/
.c-singlePicBox {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    overflow: auto;
    text-align: center;
    background: none repeat scroll 0% 0% rgba(89, 89, 89, 0.8);
    z-index: 1000;
}
.c-singlePicBox .c-img-wrap{
   position: absolute
}
.c-singlePicBox .c-viewpic-image{
    height: 100%;
    width: 100%;
    vertical-align: middle;
}
.c-singlePicBox .c-close-dialog {
    width: 27px;
    height: 27px;
    overflow: hidden;
    position: absolute;
    border-radius: 15px;
  	background: url('../images/c_a_closelg.png') no-repeat scroll -152px -92px #666;
    border: 2px solid #ccc;
    z-index: 10;
	top:10px;
	right:5px;
}
.m_input .item .focus_text b {
    font-weight: normal;
    color: #F00;
    line-height: 30px;
    font-size: 12px;
}
.colse_del_bkcd {
    float: right;
    height: 15px;
    width: 15px;
    margin: 1px 1px 0px 0px;
}
.chaozuotishi{
	display: inline-block;
	margin-left: 130px;
}

/*标详细信息 用户信息调整*/
.bid-user-info dl{
	padding:8px;
}
.bid-user-info dl dd{
	padding:0px;
}