body{text-align:center;	font-family:"Microsoft Yahei";text-align:center;	font-size:12px;color:#4F4F4F;}
input{font-family:"Microsoft Yahei";}
/*头部*/
.head_t{ width:100%; height:30px; line-height:30px; background:#555;}
.head_t .head_tm{ width:1160px; height:30px; margin:0px auto; line-height:30px; text-align:left; color:#FFF;}
.head_tm .head_tr{ width:40%; height:30px; line-height:30px; float:right; text-align:right;}
.head_tm .head_tr a{ display:inline-block; *display:inline; zoom:1; height:15px; line-height:15px; vertical-align:top; margin:0px 20px; color:#FFF; margin-top:7px;}
.head_tm .head_tr a.code{ border-left:1px  solid #444; margin-left:0px; padding-left:20px;}
.head_tm .head_tr a span{ width:16px; height:16px; background:url(../images/icon1.png) no-repeat center center;}
.head_tm .head_tr a:hover{ text-decoration:underline;}
.header{ width:1160px; height:83px; margin:0px auto; line-height:83px;}
.header .logo{ width:185px; height:57px; float:left; margin-top:13px;}
.header .logo img{ width:185px; height:57px;}
.header .nav{ width:70%; text-align:right; height:27px; line-height:27px; float:right; margin-top:33px;}
.header .nav a{ display:inline-block; *display:inline; zoom:1; width:85px; height:27px; margin-right:15px; text-align:center; font-size:16px; color:#1F1F1F;}
.header .nav a.now , .header .nav a:hover{ background:#2A7FB8; color:#FFF;}
/*幻灯片*/
.banner{ width:100%; min-width:1160px; overflow:hidden; height:335px; margin:0px auto; margin-top:5px;}
#inner { width:100%;margin: 0 auto;height:335px;overflow:hidden;}
.hot-event {padding: 0px;position: relative;}
.hot-event .switch-tab {text-align: center;	position:absolute;left:0px;top:305px;width:100%;height:30px;line-height:30px;z-index:99;}
.hot-event .switch-tab a, .hot-event .switch-tab .current {margin: 0 2px;display: inline-block; width:16px; height:16px; background:url(../images/banner_ico.png) no-repeat; text-indent:-99999px;}
.hot-event .switch-tab .current { background:url(../images/banner_ico_n.png) no-repeat;}
.hot-event .event-item {height:335px;width:100%;position: absolute;z-index: 1;left: 0;top: 0;}
.hot-event .event-item .banner {display: block;	overflow:hidden;text-align:center;position:relative;margin:0px auto;}
.hot-event .event-item img {-webkit-box-reflect: below 0 -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(85%, transparent), to(rgba(255,255,255,.2)));border: 0;width:1920px;	height:335px;margin:0px auto;}
.hide-clip {position: absolute!important;clip: rect(1px 1px 1px 1px);clip: rect(1px,1px,1px,1px);padding: 0!important;border: 0!important;height: 1px!important;line-height: 0!important;width: 1px!important;overflow: hidden;}
/*幻灯片*/
.main_a{ width:1160px; height:225px; margin:0px auto; overflow:hidden;}
.main_a .main_al{ width:285px; float:left;}
.main_al dl{ width:100%; background:#F1F0F0; margin-bottom:11px;}
.main_al dl dt{ width:72px; text-align:center; border-right:1px solid #FFF; float:left;}
.main_al dl dd{ width:211px; float:left; border-left:1px solid #ddd;}
.main_al dl.one , .main_al dl.one dt { height:78px;}
.main_al dl.one dd{ height:58px; padding:10px 0px;}
.main_al dl.two , .main_al dl.two dt{ height:135px;}
.main_al dl.two dd{ height:115px; padding:10px 0px;}
.main_al dl dt img{ width:58px; height:58px; vertical-align:top; margin-top:10px;}
.main_al dl.two dt img{ margin-top:38px;}
.main_al dl dd p{ text-align:left; width:191px; margin-left:10px; height:30px; line-height:30px; white-space:nowrap; overflow:hidden;}
.main_al dl dd p a{ color:#333;}
.main_al dl dd p a:hover{ color:#2A80B9;}
.main_al dl.two dd p{ height:35px; line-height:35px; margin-bottom:5px;}
.main_a .main_am , .box{ width:500px; height:223px; border:1px solid #ddd; float:left; margin-left:20px;}
.box .box_h{ width:100%; height:35px; line-height:35px; border-bottom:2px solid #ddd; position:relative;}
.box .box_h span{ height:35px; line-height:35px; border-bottom:2px solid #005F89; font-size:18px; color:#005F89; padding:0px 10px; position:absolute; left:0px; top:0px; z-index:2;}
.box .box_m{ width:100%; text-align:left;}
.main_am .box_m dt{ width:206px; height:161px; float:left; margin:10px;}
.main_am .box_m dt img{ width:206px; height:161px;}
.main_am .box_m dd{ width:254px; float:left; margin-top:10px; height:166px; overflow:hidden; margin-left:10px;}
.main_am .box_m dd ul{ width:100%;}
.main_am .box_m dd ul li{ width:100%; height:30px; line-height:30px; background:url(../images/icon4.png) no-repeat left center; border-bottom:1px solid #ddd; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.main_am .box_m dd ul li a{ color:#333; margin-left:20px;}
.main_am .box_m dd ul li a:hover{ color:#2A80B9;}
.main_a .main_ar{ width:350px; height:225px; float:right; overflow:hidden;}
.main_a .main_ar li{ width:95px; height:90px; float:left; margin-left:21px; text-align:center; background:#E2E2E2; margin-bottom:25px;}
.main_a .main_ar li:hover{ background:#2A80B9;}
.main_a .main_ar li .tu{ width:55px; height:55px; background:url(../images/ico.png) no-repeat; margin:0px auto; margin-top:5px;}
.main_a .main_ar li .tu_a{ background-position:-55 0;}
.main_a .main_ar li:hover .tu_a{ background-position:0 0;}
.main_a .main_ar li .tu_b{ background-position:-55 -55;}
.main_a .main_ar li:hover .tu_b{ background-position:0 -55;}
.main_a .main_ar li .tu_c{ background-position:-55 -110;}
.main_a .main_ar li:hover .tu_c{ background-position:0 -110;}
.main_a .main_ar li .tu_d{ background-position:-55 -165;}
.main_a .main_ar li:hover .tu_d{ background-position:0 -165;}
.main_a .main_ar li .tu_e{ background-position:-55 -220;}
.main_a .main_ar li:hover .tu_e{ background-position:0 -220;}
.main_a .main_ar li .tu_f{ background-position:-55 -285;}
.main_a .main_ar li:hover .tu_f{ background-position:0 -285;}
.main_a .main_ar li span{ display:block; width:100%; height:25px; line-height:25px; color:#333;}
.main_a .main_ar li:hover span{ color:#FFF;}
.main_b{ width:1160px; height:103px; margin:0px auto; overflow:hidden;}
.main_b li{ width:272px; float:left; height:103px; margin-right:24px;}
.main_b li img{ width:272px; height:103px; vertical-align:top;}
.main_c{ width:1160px; margin:0px auto;}
.main_c .main_cr{ width:317px; float:right; height:332px; overflow:hidden;}
.main_c .main_cr li{ width:317px; height:104px; margin-bottom:10px;}
.main_c .main_cr li img{ width:317px; height:104px; vertical-align:top;}
.main_c .main_cl{ width:818px; float:left;}
.main_cl .tabBox_t , .main_cl .tabBox  {width:100%;text-align:left;}
.main_cl .tabBox .tabNav { height:40px; line-height:40px; border-bottom:2px solid #FF0000;margin: 0px;padding:0px;width: 100%;list-style:none;text-align:left;}
.main_cl .tabBox .tabNav li {float: left; display:inline-block; *display:inline; zoom:1; width:auto; height:38px; line-height:38px;cursor: pointer;font-size: 14px; position:relative;}
.main_cl .tabBox .tabNav li span{display:inline-block; *display:inline; zoom:1; width:auto; padding:0px 15px; height:38px; line-height:38px;border: 2px solid #fff;border-bottom: none; position:relative; background:#FFF; left:0px; top:0px;}
.main_cl .tabBox .tabNav li.now { color:#F00; border:2px solid #F00; border-bottom:0px; z-index:2; font-size:16px;}
.main_cl .tabBox .tabCont {display: none; width:100%; margin-top:5px; background:#EDEDED; font-size:12px; height:285px;}
.main_cl .tabBox .tabCont table{ width:100%; font-size:12px; color:#333; text-align:center;}
.main_cl .tabBox .tabCont table th{ height:40px; background:#D4D4D4; line-height:40px;}
.main_cl .tabBox .tabCont table th span{ display:inline-block; *display:inline; zoom:1; width:100%; height:14px; line-height:14px; vertical-align:middle; text-align:center; font-size:14px; color:#F00; border-right:1px solid #F00;}
.main_cl .tabBox .tabCont table th .last{ border:0px;}
.main_cl .tabBox .tabCont table td{ height:35px; line-height:35px;}
.main_d{ width:1160px; height:260px; margin:0px auto;}
.main_d .main_cr{ height:260px;}
.main_d .main_cr li , .main_d .main_cr li img{ height:125px;}
.main_d .main_cl .box{ margin-left:0px; margin-right:25px; width:394px; margin-right:25px; height:258px;}
.main_d .main_cl .box_m{ margin-top:15px; width:374px; margin-left:10px; height:195px; overflow:hidden;}
.main_d .main_cl .box_m li{ width:100%; height:30px; line-height:30px; border-bottom:1px solid #ddd; background:url(../images/icon4.png) no-repeat left center; position:relative;}
.main_d .main_cl .box_m li p{ width:260px; height:30px; line-height:30px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.main_d .main_cl .box_m li span{ display:block; height:30px; line-height:30px; position:absolute; right:0px; top:0; text-align:right;}
.main_d .main_cl .box_m li a{ color:#333; margin-left:20px;}
.main_d .main_cl .box_m li a:hover{color:#2A80B9;}
.main_e{ margin-top:25px;}
.main_f{ width:1160px; height:293px; margin:0px auto; float:none;}
.slidegrid {float: left;position: relative;overflow: hidden;}
.slideitems {width: 20000em;position: absolute;}
.slideitems li {float: left;}
.mainPhoto {width:1130px;height:225px;margin: 0 auto;padding-top: 20px;position: relative;}
.mainPhoto span.goleft, .mainPhoto span.goright {display: block;width: 22px;height: 22px;position: absolute;top:-30px; z-index:999; cursor:pointer;}
.mainPhoto span.goleft {right:30px; background:url(../images/prev.png) no-repeat;}
.mainPhoto span.goleft:hover{ background:url(../images/prev_h.png) no-repeat;}
.mainPhoto span.goright {right:0px;background:url(../images/next.png) no-repeat;}
.mainPhoto span.goright:hover{background:url(../images/next_h.png) no-repeat;}
.mainPhoto .go {width:1130px;height:225px;position: relative;left:0px;overflow: hidden}
.mainPhoto .go li {width:205px;height:225px;margin-right: 26px;overflow: hidden;}
.mainPhoto .go li img {width:205px;height: 193px;}
.mainPhoto .go li span{ display:block; width:100%; height:30px; line-height:30px; text-align:center; color:#333; font-size:14px;}
.mainPhoto .go li:hover span{color:#2A80B9;}
.main_g{ width:1160px; float:none; margin:0px auto; height:auto;}
.main_g .box_m{ padding:10px;}
.main_g .box_m a{ display:inline-block; *display:inline; zoom:1; font-size:14px; color:#555; line-height:180%; margin-right:40px;}
.foot_nav{ width:100%; background:#EBEBEB; min-width:1160px;}
.foot_nav .foot_mt{ width:100%; height:11px; background:url(../images/icon5.png) repeat-x; min-width:1160px;}
.foot_nav .foot_nm{ width:1160px; margin:0px auto; padding-bottom:25px;}
.foot_nm li{ width:20%; float:left; text-align:left;}
.foot_nm li h5{ width:100%; height:70px; line-height:70px; margin-top:5px;font-size:16px; color:#333333;}
.foot_nm li p{ width:100%; height:22px; line-height:22px; background:url(../images/icon6.png) no-repeat left center;}
.foot_nm li p a{ margin-left:13px; color:#333;}
.foot_nm li p a:hover{ color:#005F89;}
.foot{ width:100%; min-width:1160px; background:#353535; height:85px;}
.foot .foot_m{ width:1160px; padding:15px 0px; margin:0px auto; position:relative; text-align:left;}
.foot_m p{ height:25px; line-height:25px; color:#A9A9A9; margin-top:3px;}
.foot_m p span{ margin-left:40px;}
.foot_m .foot_r{ width:60%; text-align:right; color:#A9A9A9; position:absolute; right:0px; top:35px;}
/*法律规则*/
.banner_a{ width:100%; height:335px; min-width:1160px;}
.banner_a img{ width:1920px; height:335px; vertical-align:top;}
.second{ width:1160px; margin:0px auto;}
.second .sidenav{ width:235px; float:left; border:1px solid #ddd;}
.sidenav ul{ width:205px; margin:10px 15px; margin-top:5px;}
.sidenav ul li{ width:100%; text-align:left; border-bottom:1px dashed #ddd; height:40px; line-height:40px; background:url(../images/icon9.png) no-repeat left center;}
.sidenav ul li a{ font-size:14px; color:#919191; margin-left:15px;}
.sidenav ul li a:hover{ color:#005F89;}
.sidenav ul li.title{border-bottom:1px solid #ddd; position:relative; background:none;}
.sidenav ul li.title span{ font-size:18px; padding:0px 10px; height:40px; line-height:40px; color:#005F89; border-bottom:2px solid #005F89; position:absolute; left:0px; top:0px;}
.second .scd_r{ width:891px; float:right; border:1px solid #ddd; text-align:left; padding-bottom:20px;}
.scd_r .scd_rh{ width:861px; margin:5px 15px 15px; height:40px; line-height:40px; border-bottom:1px solid #ddd; text-align:left; position:relative; color:#005F89; font-size:18px;}
.scd_r .scd_rh p{ width:50%; height:40px; line-height:40px; position:absolute; right:0px; top:0px; text-align:right; font-size:12px; color:#555;}
.scd_r .scd_rh p a{ color:#666;}
.scd_r .scd_rh p a:hover{color:#005F89;}
.scd_r .scd_rm{ width:861px; margin:5px 15px 15px;}
.scd_rm .scd_rma{ width:100%; height:30px; line-height:30px; position:relative; background:url(../images/icon7.png) no-repeat left center;}
.scd_rm .scd_rma p{ font-size:16px; width:50%; position:absolute; left:25px; top:0px; color:#5F5F5F;}
.scd_rm .scd_rma .search{ width:225px; height:23px; border:1px solid #ddd; float:right; margin-top:2px; position:relative;}
.scd_rm .scd_rma .search input{ width:160px; height:23px; padding:0px 5px; line-height:23px; position:absolute; left:0px; top:0px; border:0px; background:none;}
.scd_rm .scd_rma .search .sbtn{ width:38px; height:25px; position:absolute; left:190px; top:-1px; background-color:#00608A; background-image:url(../images/s_btn.png); background-position: center center; background-repeat:no-repeat; cursor:pointer;}
.scd_rm .scd_rmb{ width:100%; margin-top:20px;}
.scd_rm .scd_rmb ul{ width:100%; min-height:200px;}
.scd_rm .scd_rmb ul li{ width:100%; height:30px; line-height:30px; background:url(../images/icon8.png) no-repeat left center; position:relative;}
.scd_rm .scd_rmb ul li p{ width:50%; height:30px; line-height:30px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin-left:12px;}
.scd_rm .scd_rmb ul li p a{ color:#777;}
.scd_rm .scd_rmb ul li p a:hover{ color:#005F89;}
.scd_rm .scd_rmb ul li span{ display:block; text-align:right; position:absolute; right:0px; top:0px; color:#777;}
.scd_rm .scd_rmb .pages{ width:100%; height:40px; line-height:40px; text-align:center;}
.scd_rm .scd_rmb .pages a, .scd_rm .scd_rmb .pages span , .scd_rm .scd_rmb .pages input{ display:inline-block; *display:inline; zoom:1; height:20px; line-height:20px; vertical-align:top;}
.scd_rm .scd_rmb .pages a{ padding:0px 20px; color:#858585; border:1px solid #ddd;}
.scd_rm .scd_rmb .pages span{ color:#444; padding:0px 5px;}
.scd_rm .scd_rmb .pages input{ width:35px; padding:0px 5px; border:1px solid #ddd;}
.scd_rm .scd_rmb .pages .btn{ color:#444; background:#D4D4D4; text-align:center; width:60px; cursor:pointer;}
/*法律规则*/
.about{ width:100%; padding-bottom:20px;}
.about img{ float:left; margin-right:15px; margin-bottom:15px;}
.about p{line-height:200%; color:#5F5F5F; text-indent:2em;}
.scd_rmb .news{ width:100%; margin-bottom:10px;}
.news .tabBox_t , .news .tabBox  {width:100%;text-align:left;}
.news .tabBox .tabNav {overflow: hidden;margin: 0px;padding:0px;width:100%;list-style:none;text-align:left; height:31px; min-height:31px;}
.news .tabBox .tabNav li {float: left;text-align: center;cursor: pointer;font-size: 14px; width:120px; height:31px; line-height:31px; color:#FFF; background:#005F89; margin-right:15px;}
.news .tabBox .tabNav li.now {background:#EEEEEE;color: #333;}
.news .tabBox .tabCont {display: none;margin-top:0px; background:#EEEEEE; padding:10px 0px;}
.news .tabBox .tabCont dl{ width:841px; margin:0px 10px;}
.news .tabBox .tabCont dl dt{ width:413px; height:242px; float:left;}
.news .tabBox .tabCont dl dt img{ width:413px; height:242px; vertical-align:top;}
.news .tabBox .tabCont dl dd{ width:418px; float:left; margin-left:10px;}
.scd_rm .scd_rmb .news .tabBox .tabCont ul li p{ width:70%;}
.scd_rmb .zq{ width:100%; margin-bottom:10px;}
.scd_rmb .zq th{ background:#00608A; font-size:14px; color:#FFF; text-align:center; height:27px;}
.scd_rmb .zq td{ height:30px; line-height:30px; border-bottom:1px solid #ddd; border-left:1px solid #ddd; text-align:center; font-size:14px;}
.scd_rmb .zq td a{ color:#333;}
.scd_rmb .zq td a:hover{ color:#00608A;}
