*{
  margin:0px;
  padding:0px;
  font-family:Tahoma, Verdana, Garamond, Arial, sans-serif;
  font-size:12px;
  font-family:"宋体";
  color:#333;
  list-style-type:none;
  text-decoration:none;}
body{
  background-color:#AF0500;
  margin:0 auto;}
img{
  border:none;}
a{
  text-decoration:none;}
a:link{
  text-decoration:none;}
a:hover{
  text-decoration:underline;}
form{
  margin:0px;
  padding:0px;}
clear{
  line-height:1px;
  clear:both;
  visibility:hidden;}
  
/*样式表*/
#main{ width:960px; margin:0 auto;}
.top{width:960px; height:263px;}
.top1{width:960px; height:68px;}
.top1left{float:left; width:172px; height:68px; background:url("../images/logo.gif"/*tpa=http://www.021kd.com/images/logo.gif*/) no-repeat;}
.top1right{
	float:left;
	width:788px;
	height:68px;
	background-image: url("../grwx/top0008.gif"/*tpa=http://www.021kd.com/grwx/top0008.gif*/);
	background-repeat: no-repeat;
}.top1top{
	float:left;
	width:788px;
	height:68px;
	background-image: url("../images/top1.gif"/*tpa=http://www.021kd.com/images/top1.gif*/);
	background-repeat: no-repeat;
}.top3tee{
	float:left;
	width:575px;
	height:73px;
	background-image: url("top3_1.gif"/*tpa=http://www.021kd.com/Img/top3_1.gif*/);
	background-repeat: no-repeat;
}
.top2{width:960px; height:54px; background:url("../images/top2.gif"/*tpa=http://www.021kd.com/images/top2.gif*/) no-repeat;}
.top3{width:960px; height:73px;}
.top3left{float:left; width:575px; height:73px; background:url("../images/top3.gif"/*tpa=http://www.021kd.com/images/top3.gif*/) no-repeat;}
.top3right{float:left; width:385px; height:73px; background:url("../images/top4.gif"/*tpa=http://www.021kd.com/images/top4.gif*/) no-repeat;}
.top4{width:960px; height:34px; background:url("../images/top5.gif"/*tpa=http://www.021kd.com/images/top5.gif*/) no-repeat;}
.menu{width:960px; height:34px;}
.menu1{float:left; width:155px; height:34px; background:url("../images/menu1.gif"/*tpa=http://www.021kd.com/images/menu1.gif*/) no-repeat;}
.menu2{float:left; width:795px; height:34px; background:url("../images/menu2.gif"/*tpa=http://www.021kd.com/images/menu2.gif*/) repeat-x; line-height:34px; font-size:13px; color:#fff; text-align:center;}
.menu2 a{color:#fff; font-size:13px;}
.menu3{float:left; width:10px; height:34px; background:url("../images/menu3.gif"/*tpa=http://www.021kd.com/images/menu3.gif*/) no-repeat;}

.mid1{width:960px; height:319px;}
.mid1_1{width:960px; height:147px; background:url("../image/banner1.gif"/*tpa=http://www.021kd.com/image/banner1.gif*/) no-repeat;}

.mid1_6{width:960px; height:147px; background:url("banner8.gif"/*tpa=http://www.021kd.com/img/banner8.gif*/) no-repeat;}
.mid1_2{width:960px; height:117px; overflow:hidden;}
.mid1_2left{float:left; width:446px; height:117px; background:url("../images/banner2.gif"/*tpa=http://www.021kd.com/images/banner2.gif*/) no-repeat; overflow:hidden;}
.mid1_5{width:960px; height:147px; background:url("banner8.gif"/*tpa=http://www.021kd.com/img/banner8.gif*/) no-repeat;}
.mid1_4left{float:left; width:446px; height:117px; background:url("banner5.gif"/*tpa=http://www.021kd.com/img/banner5.gif*/) no-repeat;}
.mid1_2right{float:left; width:514px; height:117px; background:url("../images/banner3.gif"/*tpa=http://www.021kd.com/images/banner3.gif*/) no-repeat;}
.mid1_3{width:960px; height:55px; background:url("../images/banner4.gif"/*tpa=http://www.021kd.com/images/banner4.gif*/) no-repeat;}

.mid2{width:960px;}
.mid2top{width:960px;background-color:#fff;}
.mid2topz{width:960px; height:1215px !important; background-color:#fff;}
.mid2bottom{width:960px; height:33px; background:url("../images/bbdbottom.gif"/*tpa=http://www.021kd.com/images/bbdbottom.gif*/) no-repeat;}

.mid2text{width:951px; height:auto; border:1px solid #AF0500; margin:2px auto;}
.mid2texttitlte{width:949px; height:41px; background:url("../images/title1.gif"/*tpa=http://www.021kd.com/images/title1.gif*/) no-repeat; margin:1px 0 0 1px;}
.mid2textmid{width:945px; margin-left:1px;}
.mid2textmidleft{float:left; width:284px; height:829px;}
.mid2textmidright{float:right; width:653px; height:auto; }
.hd1{width:284px; height:28px; background:url("../images/gq1.gif"/*tpa=http://www.021kd.com/images/gq1.gif*/) no-repeat left;}
.hd2{width:284px; height:283px; background:url("../images/gq2.gif"/*tpa=http://www.021kd.com/images/gq2.gif*/) no-repeat;}
.hd3{width:284px; height:108px; background:url("../images/gq3.gif"/*tpa=http://www.021kd.com/images/gq3.gif*/) no-repeat;}
.hd2text{width:250px; padding:2px 0 0 22px; color:#fff; line-height:18px;}
.hd2text2{width:250px; height:89px; margin:7px 0 0 22px;}
.bottonb{float:left;width:75px; height:85px;}
.bottonb ul li{width:69px; height:30px;}
.bttonsm{float:left; width:170px; height:85px; color:#FFF600; font-weight:bold;}
.bttonsm p{ color:#FFF600; font-weight:bold;}
.hd2text3{width:250px; height:50px; line-height:16px; color:#fff; font-weight:bold; margin:2px 0 0 22px;}
.hd4{width:284px; height:47px; background:url("../images/gq4.gif"/*tpa=http://www.021kd.com/images/gq4.gif*/) no-repeat;}
.hd5{width:278px; background-color:#9E0500; margin-left:6px;}
.hd5text{width:250px; padding:10px 0 0 12px; color:#fff; line-height:18px;}
.hd5text ul li{width:250px; min-height:50px; height:auto !important; border-bottom:1px dashed #fff; color:#fff; padding:5px 0;}
.hd6{width:284px; height:10px; background:url("../images/gq5.gif"/*tpa=http://www.021kd.com/images/gq5.gif*/) no-repeat;}
.hdtitle{width:540px; height:30px; line-height:30px; font-size:14px; color:#FF0000; margin:8px 0 0 400px; font-weight:bold;}

.zftb{width:651px; height:auto; border:1px solid #B51712; margin-top:3px;}
.zftb1{width:649px; height:31px; border:1px solid #B51712; background-color:#ccc;}
.zftb1 ul li{float:left;width:71px; height:29px; background:url("../images/tbbg1.gif"/*tpa=http://www.021kd.com/images/tbbg1.gif*/) repeat-x; margin:1px 0 0 1px; line-height:29px; color:#FFCC00; font-weight:bold; text-align:center; font-size:13px;}
.zftb2{width:649px; height:66px; margin:0px 0 0 1px;}
.zftb2 ul li{float:left; width:69px; height:59px; border:1px solid #B51712; line-height:18px; background:url("../images/tbbg4.gif"/*tpa=http://www.021kd.com/images/tbbg4.gif*/) repeat-x; margin:1px 0 0 1px; color:#fff; font-size:13px; text-align:center; padding-top:5px;}
.hz{font-size:14px; color:#FFFF00; font-weight:bold;}

.yhhd{
	width:641px;
	height:auto;
	margin-top:15px;
	background-image: url("../images/yh9.gif"/*tpa=http://www.021kd.com/images/yh9.gif*/);
}
.yhhd1{width:631px; height:60px; background:url("../images/yh1.gif"/*tpa=http://www.021kd.com/images/yh1.gif*/) no-repeat;}
.yh1title1{
	width:500px;
	height:30px;
	color:#FF0000;
	font-size:14px;
	font-weight:bold;
	line-height:30px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: 110px;
}
.yhhd2{width:629px; height:auto; border-left:1px solid #EDE9ED; border-right:1px solid #EDE9ED;}
.yhhd2text{width:600px; height:30px; line-height:16px; color:#333; margin:3px 0 0 20px;}
.yhhd3{width:631px; height:76px; background:url("../images/yh2.gif"/*tpa=http://www.021kd.com/images/yh2.gif*/) no-repeat;}
.yhhd4{width:629px; height:22px; border-left:1px solid #EDE9ED; border-right:1px solid #EDE9ED;}
.yhhd4text{width:600px; line-height:18px; margin:3px 0 0 20px;}
.yhhd5{width:631px; height:55px; background:url("../images/yh3.gif"/*tpa=http://www.021kd.com/images/yh3.gif*/) no-repeat;}
.yhhd7{width:631px; height:55px; background:url("../image/yh5.gif"/*tpa=http://www.021kd.com/image/yh5.gif*/) no-repeat;}
.yhhd8{width:631px; height:55px; background:url("../image/yh6.gif"/*tpa=http://www.021kd.com/image/yh6.gif*/) no-repeat;}
.yhhd9{width:631px; height:55px; background:url("../images/yh7.gif"/*tpa=http://www.021kd.com/images/yh7.gif*/) no-repeat;}
.yhhd6{widht:631px;height:auto;margin-top:10px;background-image: url("../images/yh4.gif"/*tpa=http://www.021kd.com/images/yh4.gif*/);background-repeat: no-repeat;}

.zfsm{width:651px; padding-top:5px;}
.zfsmtop{width:651px;background:url("../images/zf1.gif"/*tpa=http://www.021kd.com/images/zf1.gif*/) no-repeat;}
.zfsm12{width:600px; padding:45px 0 0 15px; line-height:16px;}
.dhz{font-size:14px; font-weight:bold; color:#FF0000; line-height:18px;}
.zfsmmid{width:648px; height:290px; border-left:1px solid #ff0000; border-right:1px solid #ff0000; border-bottom:1px solid #ff0000;}
.zfsmmidtext{width:599px; height:280px; padding:5px 0 0 15px; line-height:16px; background:url("../images/tel.gif"/*tpa=http://www.021kd.com/images/tel.gif*/) no-repeat right bottom;}

.bottom{width:960px; height:144px;}
.bottomtop{width:960px; height:131px; background-color:#fff;}
.bottomtext{width:920px; height:120px; margin-left:20px; padding-top:5px; background:url("../images/btlogo.gif"/*tpa=http://www.021kd.com/images/btlogo.gif*/) no-repeat left top;}
.bottomtextmid{width:600px; height:100px; margin:10px 0 0 210px; line-height:16px;}
.bottommid{width:960px; height:13px; background:url("../images/bottombg.gif"/*tpa=http://www.021kd.com/images/bottombg.gif*/) no-repeat;}
.sqbutton{width:127px; height:55px; margin:10px 0 0 10px;}

.gqswyhzf{width:653px; height:975px;}
.gqswyhzftop{width:653x; height:62px; background:url("../images/guangqianzhuanxian_zftop.gif"/*tpa=http://www.021kd.com/images/guangqianzhuanxian_zftop.gif*/) no-repeat;}
.gqswyhzfmid{width:642px; height:702px; border-left:1px solid #8BE0CC; border-right:1px solid #8BE0CC; background-color:#F5FFFD; margin-left:9px;}
.gqswyhzfbottom{width:644px; height:34px; background:url("../images/guangqianzhuanxian_kxb.gif"/*tpa=http://www.021kd.com/images/guangqianzhuanxian_kxb.gif*/) no-repeat; margin-left:9px;}
.gqswyhzfkxb{width:642px; height:170px; border-left:1px solid #8BE0CC; border-right:1px solid #8BE0CC; border-bottom:1px solid #8BE0CC;  background-color:#F5FFFD; margin-left:9px; padding-top:5px;}

.gqswyhzftable{width:628px !important; width:632px; height:467px; border:1px solid #C3E6EE; background-color:#fff; padding:2px; margin-left:4px;}
.gqswyhzfzp{width:120px; height:29px; background:url("../images/guangqianzhuanxian_zs1.gif"/*tpa=http://www.021kd.com/images/guangqianzhuanxian_zs1.gif*/) no-repeat; margin-left:10px; margin-top:10px;}
.gqswyhzfzp2{width:132px; height:29px; background:url("../images/guangqianzhuanxian_zs2.gif"/*tpa=http://www.021kd.com/images/guangqianzhuanxian_zs2.gif*/) no-repeat; margin-left:10px; margin-top:10px;}
.gqswyhzfkxbtable{width:628px !important; width:632px; height:160px; border:1px solid #EC968B; background-color:#fff; padding:2px; margin-left:4px;}
.gqzw111zfws{width:653px; height:566px; margin-top:5px;}
.gqzw111zfwstop{width:653px; height:62px; background:url("../images/guangqianzhuanxian_sm.gif"/*tpa=http://www.021kd.com/images/guangqianzhuanxian_sm.gif*/) no-repeat;}
.gqzw111zfwsmid{width:642px; height:500px;  border-left:1px solid #E86B89; border-right:1px solid #E86B89; border-bottom:1px solid #E86B89;  margin-left:9px; background-color:#FFF7F9;}

.gqzw111sqsm{width:644px; height:238px; margin-left:9px;}
.gqzw111sqsmtop{width:644px; height:58px; background:url("../images/guangqianzhuanxian_sqsm.gif"/*tpa=http://www.021kd.com/images/guangqianzhuanxian_sqsm.gif*/) no-repeat;}
.gqzw111sqsmmid{width:642px; height:179px; border-bottom:1px solid #E86A88; border-left:1px solid #E86A88; border-right:1px solid #E86A88; background-color:#FFF7F9;}