@import url("base.css"/*tpa=http://dede20.va666.com/style/css/base.css*/);
body {
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #505050;
	overflow-x: hidden;
}
input, select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #444;
}
textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #444;
}
a:link, a:visited, a:active {
	color: #505050;
	text-decoration: none;
}
a:hover {
	color: #01a388;
	text-decoration: none;
}
.a:link, .a:visited, .a:active {
	color: #01a388;
	text-decoration: none;
}
.a:hover {
	color: #ff6d1e;
	text-decoration: none;
}
.anoline {
	outline: none;
	-moz-outline: none;
blr:expression(this.onFocus=this.blur());
}
.anolines a {
	outline: none;
	-moz-outline: none;
blr:expression(this.onFocus=this.blur());
}
#main {
}
#header_blk {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99;
	width: 100%;
	height: 87px;
	background: url("../images/header_bgs.png"/*tpa=http://dede20.va666.com/style/images/header_bgs.png*/);
}
#header {
	position: relative;
	z-index: 1;
	margin: 0px auto;
	width: 1200px;
	height: 87px;
}
#header_mar {
	width: 100%;
	height: 87px;
}
#logo {
	position: absolute;
	top: 7px;
	left: 0px;
}
#header_tel {
	position: absolute;
	top: 34px;
	right: 0px;
	padding: 0px 0px 0px 32px;
	font-family: "宋体";
	color: #fff;
	background: url("../images/header_tel.png"/*tpa=http://dede20.va666.com/style/images/header_tel.png*/) no-repeat 0px 1px;
}
#header_tel strong {
	display: block;
	position: relative;
	top: -4px;
	font-family: "微软雅黑";
	font-size: 16px;
}
#search {
	position: absolute;
	top: 20px;
	right: 0px;
	display: none;
	width: 200px;
	height: 25px;
	background: url("../images/search_bg.jpg"/*tpa=http://dede20.va666.com/style/images/search_bg.jpg*/) no-repeat;
}
#search_key {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 108px;
	height: 25px;
	line-height: 25px\9;
	border: none;
}
#search_button {
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
	width: 26px;
	height: 29px;
	cursor: pointer;
}
#nav_blk {
	width: 100%;
	height: 30px;
	background: #000;
}
#nav {
	position: absolute;
	top: 0px;
	left: 228px;
	height: 87px;
}
#nav li {
	float: left;
	position: relative;
	margin-right: 10px;
	width: 105px;
	height: 87px;
	font-family: "宋体";
}
.nav_out, .nav_over {
	display: block;
	padding-top: 40px;
	width: 105px;
	height: 47px;
	text-align: center;
	font-size: 16px;
	outline: none;
	-moz-outline: none;
blr:expression(this.onFocus=this.blur());
}
.nav_out:link, .nav_out:visited, .nav_out:active {
	color: #fff;
	background: none;
}
.nav_out:hover {
	color: #fff;
	background: url("../images/nav_over.jpg"/*tpa=http://dede20.va666.com/style/images/nav_over.jpg*/) no-repeat center bottom #008670;
}
.nav_over:link, .nav_over:visited, .nav_over:active, .nav_over:hover {
	color: #fff;
	background: url("../images/nav_over.jpg"/*tpa=http://dede20.va666.com/style/images/nav_over.jpg*/) no-repeat center bottom #008670;
}
#nav li p {
	position: absolute;
	top: 87px;
	left: 0px;
	display: none;
	padding-bottom: 15px;
	width: 105px;
	background: #008670;
}
#nav li p a {
	display: block;
	padding: 15px 0px 0px 0px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	outline: none;
	-moz-outline: none;
blr:expression(this.onFocus=this.blur());
}
#nav li p a:hover {
	color: #fff;
	text-decoration: underline;
}
#flash_blk {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 620px;
	overflow: hidden;
}
#flash {
	position: absolute;
	top: 0px;
	left: 50%;
	z-index: 1;
	margin-left: -960px;
	width: 1920px;
	height: 620px;
	overflow: hidden;
}
#flash p {
	width: 1920px;
	height: 620px;
	text-align: center;
	font-size: 0px;
}
#flash_button {
	position: absolute;
	bottom: 10px;
	left: 0px;
	z-index: 2;
	width: 100%;
	hegiht: 24px;
	text-align: center;
}
#flash_button a {
	display: inline-block;
	margin: 0px 4px;
	width: 40px;
	height: 24px;
	font-size: 0px;
	text-indent: 100px;
	background: #01a388;
	overflow: hidden;
	outline: none;
	-moz-outline: none;
blr:expression(this.onFocus=this.blur());
}
#flash_button a.activeSlide {
	background: #ff6d1e;
}
#flash_button a:hover {
	background: #ff6d1e;
}
#content {
	margin: 0px auto;
	width: 1200px;
}
#left {
	float: left;
	width: 210px;
}
#right {
	float: right;
	width: 740px;
}
#footer_image_blk {
	margin-top: 60px;
	width: 100%;
	height: 113px;
	background: url("../images/footer_image.jpg"/*tpa=http://dede20.va666.com/style/images/footer_image.jpg*/) no-repeat center top;
}
#footer_image {
	margin: 0px auto;
	width: 1200px;
	height: 113px;
	background: url("../images/footer_image.jpg"/*tpa=http://dede20.va666.com/style/images/footer_image.jpg*/) no-repeat center top;
}
#footer_blk {
	width: 100%;
	background: #01a388;
}
#footer {
	position: relative;
	margin: 0px auto;
	width: 1200px;
	height: 320px;
	color: #fff;
	font-size: 12px;
	background: #01a388;
}
#footer a {
	color: #fff;
}
#footer a:hover {
	text-decoration: underline;
}
#footer_nav {
	position: absolute;
	top: 45px;
	left: 0px;
	padding-bottom: 10px;
	width: 710px;
	text-align: center;
	font-size: 14px;
	border-bottom: 1px solid #53c1ae;
}
#footer_nav span {
	padding: 0px 28px;
}
#footer_tdc {
	position: absolute;
	top: 95px;
	left: 0px;
	width: 135px;
}
#footer_tdc img {
	display: block;
	margin-bottom: 6px;
	width: 135px;
	height: 135px;
}
#footer_logo {
	position: absolute;
	top: 122px;
	left: 155px;
}
#footer_contact {
	position: absolute;
	top: 120px;
	left: 370px;
	width: 340px;
	height: 95px;
	line-height: 2;
	overflow: hidden;
}
#footer_content {
	position: absolute;
	bottom: 26px;
	left: 0px;
	width: 710px;
	line-height: 1.6;
}
#footer_map {
	position: absolute;
	top: 38px;
	right: 0px;
	width: 457px;
	height: 256px;
	background: url("../images/t1.jpg"/*tpa=http://dede20.va666.com/style/images/t1.jpg*/) no-repeat;
}
.ititle {
	position: relative;
	height: 25px;
}
.ititle img {
	position: absolute;
	top: 10px;
	right: 0px;
}
#iabout_bg {
	width: 100%;
	height: 566px;
	background: url("../images/iabout_bg.jpg"/*tpa=http://dede20.va666.com/style/images/iabout_bg.jpg*/) no-repeat center top;
}
#iabout_blk {
	position: relative;
	margin: 0px auto;
	width: 1200px;
	height: 566px;
	background: url("../images/iabout_bg.jpg"/*tpa=http://dede20.va666.com/style/images/iabout_bg.jpg*/) no-repeat center top;
}
#iabout_menu {
	position: absolute;
	top: 45px;
	left: -3px;
	width: 130px;
}
#iabout_menu strong {
	display: block;
	padding-bottom: 10px;
	font-size: 24px;
	text-align: center;
	color: #333;
}
#iabout_menu a {
	display: block;
	padding: 10px 0px 12px 25px;
}
#iabout_menu a:hover {
	color: #fff;
	background: #01a388;
}
#iabout_title {
	position: absolute;
	top: 112px;
	right: 178px;
	font-size: 24px;
	font-weight: normal;
	color: #333;
}
#iabout {
	position: absolute;
	top: 160px;
	left: 430px;
	width: 592px;
	height: 175px;
	line-height: 2.1;
	overflow: hidden;
}
#inews_bg {
	width: 100%;
	height: 808px;
	background: url("../images/inews_bg.jpg"/*tpa=http://dede20.va666.com/style/images/inews_bg.jpg*/) no-repeat center top;
}
#inews_blk {
	position: relative;
	margin: 0px auto;
	width: 1200px;
	height: 808px;
	background: url("../images/inews_bg.jpg"/*tpa=http://dede20.va666.com/style/images/inews_bg.jpg*/) no-repeat center top;
	overflow: hidden;
}
#inews_title {
	position: absolute;
	top: 45px;
	left: 14px;
	font-size: 24px;
	color: #fff;
}
#inews_menu {
	position: absolute;
	top: 100px;
	right: 0px;
	font-size: 18px;
	font-weight: bold;
	color: #666;
}
#inews_menu span {
	cursor: pointer;
}
#inews_menu span.inews_menu_over {
	color: #01a388;
}
.inews {
	position: absolute;
	top: 135px;
	right: 0px;
	z-index: 1;
	width: 1073px;
	height: 500px;
}
.inews_com {
	width: 445px;
}
.inews_com dt {
	font-size: 0px;
}
.inews_com dt img {
	width: 445px;
	height: 310px;
}
.inews_com dd {
	padding-top: 12px;
}
.inews_com dd strong {
	display: block;
	font-size: 16px;
}
.inews_com dd span {
	font-size: 12px;
}
.inews_com dd p {
	margin: 10px 0px;
	height: 50px;
	line-height: 25px;
	overflow: hidden;
}
.inews_list_up {
	position: absolute;
	top: 425px;
	right: 60px;
	display: block;
	width: 59px;
	height: 27px;
	background: url("../images/inews_up.jpg"/*tpa=http://dede20.va666.com/style/images/inews_up.jpg*/) no-repeat;
	cursor: pointer;
}
.inews_list_down {
	position: absolute;
	top: 425px;
	right: 0px;
	display: block;
	width: 59px;
	height: 27px;
	background: url("../images/inews_down.jpg"/*tpa=http://dede20.va666.com/style/images/inews_down.jpg*/) no-repeat;
	cursor: pointer;
}
.inews_list {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 613px;
}
.inews_list dl {
	margin-bottom: 14px;
	width: 613px;
	height: 132px;
	background: #e5e4e4;
	overflow: hidden;
}
.inews_list dl:hover {
	color: #fff;
	background: #01a388;
}
.inews_list dl:hover a {
	color: #fff;
}
.inews_list dl dt {
	float: left;
	width: 190px;
	height: 132px;
	font-size: 0px;
}
.inews_list dl dt img {
	width: 190px;
	height: 132px;
}
.inews_list dl dd {
	float: right;
	padding: 12px 25px 0px 0px;
	width: 375px;
}
.inews_list dl dd strong {
	display: block;
	font-size: 16px;
}
.inews_list dl dd span {
	font-size: 12px;
}
.inews_list dl dd p {
	margin-top: 10px;
	height: 50px;
	line-height: 25px;
	overflow: hidden;
}
#iproducts_bg {
	widows: 100%;
	background: #f8f8f8;
}
#iproducts_box {
	margin: 0px auto;
	padding-top: 54px;
	width: 1200px;
	height: 96px;
	background: #f8f8f8;
}
#iproducts_title {
	position: relative;
	margin: 0px auto;
	width: 1200px;
	height: 66px;
	border-bottom: 1px solid #d6d6d6;
}
#iproducts_title strong {
	position: absolute;
	top: 20px;
	left: 0px;
	font-size: 24px;
	color: #01a388;
}
#iproducts_menu {
	position: absolute;
	bottom: -1px;
	right: 0px;
	height: 44px;
}
#iproducts_menu li {
	float: left;
	margin: 8px 0px 0px 6px;
	width: 118px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border: 1px solid #dfdfdf;
	border-bottom: none;
	cursor: pointer;
}
#iproducts_menu li.iproducts_menu_over {
	margin: 0px 0px 0px 6px;
	height: 43px;
	line-height: 43px;
	color: #01a388;
	border: 1px solid #dfdfdf;
	border-bottom: none;
	background: #f8f8f8;
}
.iproducts_blk {
	width: 100%;
}
.iproducts {
	width: 100%;
}
.iproducts p {
	display: inline-block;
	position: relative;
	margin: 0px 0px 10px 1%;
	width: 32%;
	height: auto;
	font-size: 0px;
	overflow: hidden;
}
.iproducts p img {
	display: block;
	width: 100%;
}
.iproducts p:hover a {
	display: block;
}
.iproducts p a {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	display: none;
	width: 100%;
	height: 100%;
	background: url("../images/pro_bg.png"/*tpa=http://dede20.va666.com/style/images/pro_bg.png*/) no-repeat center center;
}
#iphotos_box {
	margin: 0px auto;
	width: 1200px;
}
#iphotos_title {
	padding: 80px 0px 40px 0px;
	text-align: center;
}
#iphotos_blk {
	position: relative;
	margin: 0px auto;
	width: 1200px;
}
#iphotos_button_left {
	position: absolute;
	top: 100px;
	left: -50px;
	font-family: "宋体";
	font-size: 60px;
	color: #999;
	cursor: pointer;
}
#iphotos_button_right {
	position: absolute;
	top: 100px;
	right: -80px;
	font-family: "宋体";
	font-size: 60px;
	color: #999;
	cursor: pointer;
}
#iphotos {
	position: relative;
	width: 1228px;
	height: 270px;
	overflow: hidden;
}
#iphotos dl {
	float: left;
	margin-right: 24px;
	width: 289px;
}
#iphotos dl dt {
	width: 289px;
	height: 219px;
	background: url("../images/iphotos_bg.jpg"/*tpa=http://dede20.va666.com/style/images/iphotos_bg.jpg*/) no-repeat;
}
#iphotos dl dt img {
	width: 278px;
	height: 209px;
}
#iphotos dl dd {
	padding-top: 20px;
	font-size: 16px;
	text-align: center;
}
.left_title {
}
.left_menu {
}
.left_menu_over, .left_menu_out {
	display: block;
	margin: 0px auto;
	padding-left: 50px;
	width: 120px;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #ececec;
	background: url("../images/ico8.jpg"/*tpa=http://dede20.va666.com/style/images/ico8.jpg*/) no-repeat left 11px;
	outline: none;
	-moz-outline: none;
blr:expression(this.onFocus=this.blur());
}
.left_menu_out:link, .left_menu_out:visited, .left_menu_out:active {
}
.left_menu_out:hover {
}
.left_menu_over:link, .left_menu_over:visited, .left_menu_over:active, .left_menu_over:hover {
	color: #ff0000;
}
.left_menu ul {
	padding-bottom: 10px;
	border-bottom: 1px solid #dedede;
}
.left_menu ul li {
	padding: 10px 0px 0px 38px;
	background: url("../images/ico1.gif"/*tpa=http://dede20.va666.com/style/images/ico1.gif*/) no-repeat 25px 12px;
}
.left_contact {
	padding: 10px 20px;
	line-height: 20px;
}
.nodata {
	padding: 100px 0px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
#title_menu_bg {
	width: 100%;
	background: #f8f8f8;
}
#title_menu_blk {
	position: relative;
	margin: 0px auto;
	width: 1200px;
	height: 120px;
	border-bottom: 1px solid #d6d6d6;
	background: #f8f8f8;
}
#title_str1 {
	position: absolute;
	top: 45px;
	left: 0px;
	font-family: "Times New Roman", Times, serif;
	font-size: 28px;
	color: #9c9c9c;
}
#title_str2 {
	position: absolute;
	top: 75px;
	left: 0px;
	font-size: 24px;
	color: #01a388;
}
#title_menu {
	position: absolute;
	bottom: -1px;
	left: 165px;
	height: 44px;
}
#title_menu a {
	float: left;
	display: block;
	margin: 8px 10px 0px 0px;
	padding: 0px 20px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border: 1px solid #dfdfdf;
	border-bottom: none;
	cursor: pointer;
	outline: none;
	-moz-outline: none;
blr:expression(this.onFocus=this.blur());
}
#title_menu a.title_menu_over {
	margin: 0px 8px 0px 0px;
	padding: 0px 25px;
	height: 43px;
	line-height: 43px;
	color: #01a388;
	border: 1px solid #dfdfdf;
	border-bottom: none;
	background: #f8f8f8;
}
#showtext {
	margin: 0px auto;
	padding-top: 30px;
	width: 1200px;
	overflow: hidden;
}
.input_text {
	padding: 0px 5px;
	height: 28px;
	line-height: 28px\9;
	border: 1px solid #bbb;
}
.input_area {
	padding: 5px;
	line-height: 16px;
	border: 1px solid #bbb;
	overflow-y: auto;
}
.input_select {
	padding: 5px 4px;
	height: 28px;
	border: 1px solid #bbb;
}
.button {
	width: 150px;
	height: 40px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #fff;
	border: none;
	background: #333;
	cursor: pointer;
}
.button2 {
	width: 90px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-weight: bold;
	color: #333;
	cursor: pointer;
	border: none;
	background: url("../images/button2_bg.jpg"/*tpa=http://dede20.va666.com/style/images/button2_bg.jpg*/) no-repeat;
}
.button2 a {
	color: #333;
}
.editorc {
	line-height: 1.8;
}
.editorc p {
	margin-bottom: 15px;
}
.editorc a:link, .editorc a:visited, .editorc a:active {
	text-decoration: underline;
}
.editorc a:hover {
	text-decoration: underline;
}
.editorc ul {
	margin-left: 35px;
}
.editorc ul li {
	list-style-type: disc;
	line-height: 18px;
}
.editorc ol {
	margin-left: 35px;
}
.editorc ol li {
	list-style-type: decimal;
	line-height: 18px;
}
.editorc_tbe table {
	margin-bottom: 15px;
	border: none;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.editorc_tbe td {
	padding: 6px 5px;
	border: none;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.editorc_tbe td table {
	margin-bottom: 0px;
}
.editorc_tbe td p {
	margin: 0px;
	padding: 0px;
}
#prenext {
	position: relative;
	margin: 20px auto 0px auto;
	padding-top: 12px;
	height: 38px;
	font-size: 12px;
	border-top: 1px solid #ddd;
	overflow: hidden; width:1200px;
}
#prenext p {
	height: 20px;
}
#prenext_back {
	position: absolute;
	top: 12px;
	right: 0px;
	font-weight: bold;
}
#about_image_blk {
	margin: 0px auto;
	width: 1200px;
	overflow: hidden;
}
#about_image {
	width: 1230px;
}
#about_image dl {
	float: left;
	margin: 25px 30px 0px 0px;
	width: 216px;
	text-align: center;
}
#about_image dl dt {
	font-size: 0px;
}
#about_image dl dt img {
	padding: 1px;
	width: 206px;
	height: 155px;
	border: 4px solid #ddd;
}
#about_image dl dt img:hover {
	border: 4px solid #01a388;
}
#about_image dl dd {
	padding-top: 10px;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
}
#products_blk {
	margin: 0px auto;
	width: 1200px;
	overflow: hidden;
}
#products {
	width: 1221px;
}
#products dl {
	float: left;
	position: relative;
	margin: 21px 21px 0px 0px;
	width: 386px;
	height: 290px;
	text-align: center;
	overflow: hidden;
}
#products dl:hover dt a {
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	width: 100%;
	height: 100%;
	background: url("../images/pro_bg.png"/*tpa=http://dede20.va666.com/style/images/pro_bg.png*/) no-repeat center center;
}
#products dl:hover dd {
	display: none;
}
#products dl dt {
	position: relative;
	z-index: 2;
	width: 386px;
	height: 290px;
	font-size: 0px;
}
#products dl dt img {
	width: 386px;
	height: 290px;
}
#products dl dd {
	position: absolute;
	bottom: 10px;
	right: 0px;
	z-index: 2;
	padding-right: 20px;
	background: url("../images/black60.png"/*tpa=http://dede20.va666.com/style/images/black60.png*/);
}
#products dl dd a {
	display: block;
	padding: 10px 50px 10px 20px;
	min-height: 33px;
	line-height: 30px;
	color: #fff;
	font-weight: bold;
	background: url("../images/products_more.png"/*tpa=http://dede20.va666.com/style/images/products_more.png*/) no-repeat right 8px;
}
#products_show {
	margin: 30px auto 0px auto;
	width: 1200px;
}
#products_image_blk {
	float: left;
	width: 590px;
	font-size: 0px;
}
#products_image img {
	width: 590px;
}
#products_thumb_blk {
	width: 590px;
	overflow: hidden;
}
#products_thumb {
	width: 600px;
}
#products_thumb img {
	margin: 10px 10px 0px 0px;
	width: 90px;
	height: 68px;
	cursor: pointer;
}
#products_desc_blk {
	float: right;
	width: 560px;
}
#products_name {
	padding: 10px 0px 10px 0px;
	font-size: 24px;
	color: #333;
}
#products_price {
	color: #ff6600;
	font-size: 22px;
	font-weight: bold;
}
#products_desc {
	margin-top: 10px;
	line-height: 1.8;
}
#products_button {
	margin-top: 30px;
	width: 150px;
	height: 40px;
	background: #01a388;
}
#products_button a {
	display: block;
	height: 40px;
	line-height: 38px;
	text-align: center;
	font-size: 18px;
	color: #fff;
}
#news {
}
#news dl {
	margin-top: 30px;
	width: 1200px;
	height: 132px;
	background: #e5e4e4;
	overflow: hidden;
}
#news dl:hover {
	color: #fff;
	background: #01a388;
}
#news dl:hover a {
	color: #fff;
}
#news dl dt {
	float: left;
	width: 190px;
	height: 132px;
	font-size: 0px;
}
#news dl dt img {
	width: 190px;
	height: 132px;
}
#news dl dd {
	float: right;
	padding: 12px 25px 0px 0px;
	width: 950px;
}
#news dl dd strong {
	display: block;
	font-size: 16px;
}
#news dl dd span {
	font-size: 12px;
}
#news dl dd p {
	margin-top: 10px;
	height: 50px;
	line-height: 25px;
	overflow: hidden;
}
#news_title {
	margin: 0px auto;
	padding: 40px 0px 30px 0px;
	line-height: 1.6;
	text-align: center;
	font-size: 16px;
	color: #333;
}
#news_info {
	padding-bottom: 10px;
	color: #999;
	font-size: 12px;
	text-align: center;
	background: url("../images/line3_ccc.gif"/*tpa=http://dede20.va666.com/style/images/line3_ccc.gif*/) repeat-x left bottom;
}
#feedback {
	padding: 10px 0px 0px 0px;
}
#feedback td {
	padding: 12px 5px 0px 5px;
}
#feedback td span {
	margin-left: 5px;
	font-family: "宋体";
	font-size: 12px;
	color: #ff0000;
}
#qq_online {
	position: absolute;
	z-index: 99;
	width: 130px;
	font-family: "宋体";
	font-size: 12px;
}
#qq_online_top {
	position: relative;
	padding-left: 10px;
	height: 26px;
	line-height: 26px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	background: url("../images/style0_top.gif"/*tpa=http://dede20.va666.com/style/images/style0_top.gif*/) no-repeat;
}
#qq_online_top img {
	position: absolute;
	top: 8px;
	right: 10px;
	cursor: pointer;
}
#qq_online_list {
	background: url("../images/style0_bgs.gif"/*tpa=http://dede20.va666.com/style/images/style0_bgs.gif*/) repeat-y;
}
#qq_online_list p {
	position: relative;
	margin: 0px 3px;
	padding-left: 31px;
	width: 93px;
	height: 25px;
	line-height: 26px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background: #fff;
	overflow: hidden;
}
#qq_online_list p:hover {
	border-top: 1px solid #A3E7FC;
	border-bottom: 1px solid #A3E7FC;
	background: #E1F7FD;
}
#qq_online_list p img {
	position: absolute;
	top: 2px;
	left: 5px;
	width: 21px;
	height: 21px;
}
#qq_online_bottom {
	height: 42px;
	font-size: 0px;
	background: url("../images/style0_bottom.gif"/*tpa=http://dede20.va666.com/style/images/style0_bottom.gif*/) no-repeat;
}
#qq_onlines_top {
	position: relative;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}
#qq_onlines_top p {
	position: absolute;
	top: 40px;
	width: 35px;
	height: 173px;
	overflow: hidden;
	cursor: pointer;
}
.qq_onlines_small_left strong {
	left: 8px;
}
.qq_onlines_small_right strong {
	left: 13px;
}
#qq_onlines_top p strong {
	position: absolute;
	top: 40px;
	display: block;
	width: 16px;
	text-align: center;
	line-height: 20px;
}
#qq_onlines_box {
	border: 1px solid #e3e3e3;
	border-top: none;
	background: #fff;
}
#qq_onlines_tel {
	padding-top: 15px;
	text-align: center;
	font-size: 14px;
	color: #505050;
	background: url("../images/tel.jpg"/*tpa=http://dede20.va666.com/style/images/tel.jpg*/) no-repeat 15px 12px;
}
#qq_onlines_tel strong {
	display: block;
	padding: 12px 0px 8px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	border-bottom: 1px dashed #ccc;
}
#qq_onlines_list {
	padding-top: 10px;
}
#qq_onlines_list a {
	position: relative;
	display: block;
	margin: 0px auto 8px auto;
	padding-left: 35px;
	width: 72px;
	height: 25px;
	line-height: 26px;
	border: 1px solid #aaccd8;
	background: url("../images/list_bg.jpg"/*tpa=http://dede20.va666.com/style/images/list_bg.jpg*/) repeat-x;
	overflow: hidden;
	outline: none;
	-moz-outline: none;
blr:expression(this.onFocus=this.blur());
}
#qq_onlines_list a img {
	position: absolute;
	top: 2px;
	left: 7px;
	width: 21px;
	height: 21px;
}
#qq_onlines_tdc {
	padding: 8px 0px;
	font-size: 0px;
	text-align: center;
	border-top: 1px dashed #ccc;
}
#qq_onlines_tdc img {
	width: 110px;
	height: 110px;
}
.qq_onlines_1 p#qq_onlines_tel strong {
	color: #e10000;
}
.qq_onlines_1 div#qq_onlines_top {
	border-bottom: 8px solid #ff7200;
	background: #e10000;
}
.qq_onlines_1 p.qq_onlines_small_left {
	right: -35px;
	background: url("../images/style1_small_left.png"/*tpa=http://dede20.va666.com/style/images/style1_small_left.png*/) no-repeat;
}
.qq_onlines_1 p.qq_onlines_small_right {
	left: -35px;
	background: url("../images/style1_small_right.png"/*tpa=http://dede20.va666.com/style/images/style1_small_right.png*/) no-repeat;
}
.qq_onlines_2 p#qq_onlines_tel strong {
	color: #555;
}
.qq_onlines_2 div#qq_onlines_top {
	border-bottom: 8px solid #5d5d5d;
	background: #343434;
}
.qq_onlines_2 p.qq_onlines_small_left {
	right: -35px;
	background: url("../images/style2_small_left.png"/*tpa=http://dede20.va666.com/style/images/style2_small_left.png*/) no-repeat;
}
.qq_onlines_2 p.qq_onlines_small_right {
	left: -35px;
	background: url("../images/style2_small_right.png"/*tpa=http://dede20.va666.com/style/images/style2_small_right.png*/) no-repeat;
}
.qq_onlines_3 p#qq_onlines_tel strong {
	color: #df5f00;
}
.qq_onlines_3 div#qq_onlines_top {
	border-bottom: 8px solid #ddc9ba;
	background: #df9800;
}
.qq_onlines_3 p.qq_onlines_small_left {
	right: -35px;
	background: url("../images/style3_small_left.png"/*tpa=http://dede20.va666.com/style/images/style3_small_left.png*/) no-repeat;
}
.qq_onlines_3 p.qq_onlines_small_right {
	left: -35px;
	background: url("../images/style3_small_right.png"/*tpa=http://dede20.va666.com/style/images/style3_small_right.png*/) no-repeat;
}
.qq_onlines_4 p#qq_onlines_tel strong {
	color: #89a611;
}
.qq_onlines_4 div#qq_onlines_top {
	border-bottom: 8px solid #464a4b;
	background: #adce25;
}
.qq_onlines_4 p.qq_onlines_small_left {
	right: -35px;
	background: url("../images/style4_small_left.png"/*tpa=http://dede20.va666.com/style/images/style4_small_left.png*/) no-repeat;
}
.qq_onlines_4 p.qq_onlines_small_right {
	left: -35px;
	background: url("../images/style4_small_right.png"/*tpa=http://dede20.va666.com/style/images/style4_small_right.png*/) no-repeat;
}
.qq_onlines_5 p#qq_onlines_tel strong {
	color: #df5f00;
}
.qq_onlines_5 div#qq_onlines_top {
	border-bottom: 8px solid #ff9241;
	background: #ff6d00;
}
.qq_onlines_5 p.qq_onlines_small_left {
	right: -35px;
	background: url("../images/style5_small_left.png"/*tpa=http://dede20.va666.com/style/images/style5_small_left.png*/) no-repeat;
}
.qq_onlines_5 p.qq_onlines_small_right {
	left: -35px;
	background: url("../images/style5_small_right.png"/*tpa=http://dede20.va666.com/style/images/style5_small_right.png*/) no-repeat;
}
.qq_onlines_6 p#qq_onlines_tel strong {
	color: #006083;
}
.qq_onlines_6 div#qq_onlines_top {
	border-bottom: 8px solid #6b718d;
	background: #006083;
}
.qq_onlines_6 p.qq_onlines_small_left {
	right: -35px;
	background: url("../images/style6_small_left.png"/*tpa=http://dede20.va666.com/style/images/style6_small_left.png*/) no-repeat;
}
.qq_onlines_6 p.qq_onlines_small_right {
	left: -35px;
	background: url("../images/style6_small_right.png"/*tpa=http://dede20.va666.com/style/images/style6_small_right.png*/) no-repeat;
}
.qq_onlines_7 p#qq_onlines_tel strong {
	color: #00a0a8;
}
.qq_onlines_7 div#qq_onlines_top {
	border-bottom: 8px solid #6b718d;
	background: #00a0a8;
}
.qq_onlines_7 p.qq_onlines_small_left {
	right: -35px;
	background: url("../images/style7_small_left.png"/*tpa=http://dede20.va666.com/style/images/style7_small_left.png*/) no-repeat;
}
.qq_onlines_7 p.qq_onlines_small_right {
	left: -35px;
	background: url("../images/style7_small_right.png"/*tpa=http://dede20.va666.com/style/images/style7_small_right.png*/) no-repeat;
}
.qq_onlines_8 p#qq_onlines_tel strong {
	color: #c9004c;
}
.qq_onlines_8 div#qq_onlines_top {
	border-bottom: 8px solid #ebba28;
	background: #c9004c;
}
.qq_onlines_8 p.qq_onlines_small_left {
	right: -35px;
	background: url("../images/style8_small_left.png"/*tpa=http://dede20.va666.com/style/images/style8_small_left.png*/) no-repeat;
}
.qq_onlines_8 p.qq_onlines_small_right {
	left: -35px;
	background: url("../images/style8_small_right.png"/*tpa=http://dede20.va666.com/style/images/style8_small_right.png*/) no-repeat;
}
#products_page {
	margin-top: 40px;
	width: 100%;
}
#news_page {
	margin-top: 40px;
	width: 100%;
}
.fypage_blk {
	width: 100%;
	height: 28px;
	text-align: center;
}
.fypage a {
	display: inline-block;
	margin: 0px 5px;
	padding: 0px 10px;
	height: 26px;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
	outline: none;
	-moz-outline: none;
blr:expression(this.onFocus=this.blur());
}
.fypage a:link, .fypage a:visited, .fypage a:active {
	color: #505050;
	border: 1px solid #c7c7c7;
	background: #fff;
}
.fypage a:hover {
	color: #fff;
	border: 1px solid #01a388;
	background: #01a388;
}
.fypage span {
	display: inline-block;
	margin: 0px 5px;
	padding: 0px 10px;
	height: 26px;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
}
.fypage span.fypage_current {
	color: #fff;
	border: 1px solid #01a388;
	background: #01a388;
}
.fypage span.fypage_disabled {
	color: #505050;
	border: 1px solid #c7c7c7;
	background: #fff;
}
