/*header*/
#header{
	width: 100%;
	background: #001e3a;
}
.header{
	width: 1200px;
	margin: 0 auto;
	padding: 18px 0;
}
.logo{
	width: 319px;
	height: 62px;
	float: left;
}
.logo a img{
	height: 100%;
}
.nav{
	float: right;
	width: 720px;
	margin-top: 20px;
}
.nav ul li{
    float: left;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.nav ul li a{
	color: #14b9d7;
	padding: 0 22px;
}
.nav ul  .a {
	color: #fffffd;
}
/*header end*/
/*slide*/
#slide{

}
.slide_top{
	background:url(../images/qlsbj.gif) repeat;
	height:164px; 
	text-align: center;
}
.slide_top h1{
	height: 67px;
	line-height: 67px;
	padding-top: 50px;
}
.slide_top img{
	height: 67px;
}
/*.slide_top h1{
	font-size: 25px;
	line-height: 30px;
	color: #fffffd;
	padding-top: 50px;
}
.slide_top h1 span{
	font-size: 20px;
}*/
/* top_slide_wrap */
.top_slide_wrap{width:100%;height:470px;overflow:hidden;position:relative;z-index:1;}
.slide_box{height:470px;overflow:hidden}
.slide_box li{height:470px}
.slide_box img{width:100%;height:470px}
/* op_btns */
.op_btns{width:980px;margin:-540px auto 0;position:relative;z-index:3;*margin-top:-530px}
.op_btns .op_btn{display:block;width:62px;height:62px;cursor:pointer;overflow:hidden;position:absolute;margin-top:275px;}
.op_btns .op_prev{left:-135px}
.op_btns .op_next{right:-135px}
.op_btns .op_prev span,.op_btns .op_next span{display:block;width:24px;height:44px;background:url("../images/icons_cb372887.png") no-repeat;margin:8px 0 0 17px;cursor:pointer}
.op_btns .op_prev span{background-position:0 0;}
.op_btns .op_next span{background-position:-77px 0;margin-left:20px;}
/*slide end*/
/*content*/
#content{
	background: #f4f4f4;
}
.content{
	width: 1200px;
	margin: 0 auto;
}
/*index 关于嘉特*/
.index_about{
	padding-top: 53px;
}
.index_left{
	float: left;
	width: 795px;
	overflow: hidden;
	position: relative;
	height: 645px;
	background: #fff;
	-moz-box-shadow: 0 2px 5px #909090;/*firefox*/
	-webkit-box-shadow: 0 2px 5px #909090;/*safari或chrome*/
	box-shadow:0 2px 5px #909090;/*opera或ie9*/
}
.index_left_h3{
	height: 324px;
	width: 795px;
	overflow: hidden;
}
.index_left_h3 h3{
	position: absolute;
	height: 43px;
	line-height: 43px;
	background:rgba(0, 30, 58, 0.65) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
    filter:Alpha(opacity=80); background:#1e84c6;/*实现IE背景透明 */
    color: #15b8d7;
    font-weight: bold;
    padding-left: 20px;
    width: 100%;
    font-size: 18px;
}
.index_left_h3  h3 span{
	width: 28px;
	height: 28px;
	position: absolute;
	right:40px;
	top: 7px;
}
.index_left_h3 a img{
	width: 100%;
}
.index_left_p{
	width: 760px;
	margin: 50px auto 20px;
}
.index_left_p h1{
	font-size: 25px;
	color: #38393b;
	line-height: 25px;
}
.index_left_p h1 span{
	font-size: 14px;
	color: #636363;
}
.index_left_p h3{
	font-size: 12px;
	height: 14px;
    line-height: 14px;
    color: #b9b9b9;
}
.index_left_p2{
	height: 98px;
    margin: 30px 0;
}
.index_left_p2 p{
	line-height: 25px;
}
.more{
	float: right;
	height: 20px;
    line-height: 20px;
    padding: 5px;
    color: #14b9d7;
    font-weight: bold;
}
.index_right{
	float: right;
	width: 386px;
	height: 645px;
	background: #fff;
	-moz-box-shadow: 0 2px 5px #909090;/*firefox*/
	-webkit-box-shadow: 0 2px 5px #909090;/*safari或chrome*/
	box-shadow:0 2px 5px #909090;/*opera或ie9*/
}
.index_right_video embed{
	width: 386px;
	height: 324px;
}
.index_right_p{
	width: 351px;
}
.index_right_ul{
	height: 98px;
    margin: 30px 0;
}
.index_right_ul ul li{
	background: url(../images/li.gif) no-repeat 0px 6px;
	padding-left: 15px;
	font-weight: bold;
	margin-top: 5px;
}
.index_right_ul ul li span{
	display:block;
	font-size: 12px;
	font-weight: normal;
	color: #b8b8b8;
}
/*index 关于嘉特 end*/
/*index 项目介绍*/
.index_projecte{
	width: 386px;
}
.index_projecte .index_left_h3{
	width: 386px;
	height: 323px;
}

.index_projecte .index_left_h3 h3{
	background:rgba(0, 30, 58, 0.65) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
    filter:Alpha(opacity=80); background:#1e84c6;/*实现IE背景透明 */
}
.index_projecte .index_left_p{
	width: 355px;
}
.index_projecte .index_right_ul{
	height: 98px;
}
.index_projecte .index_right_ul ul li span{
	color: #696969;
}
.index_projecte2{
	margin: 0 20px;

}
/*.index_projecte2 .index_left_h3 h3{
	/*background:rgba(30, 132, 198, 0.65) none repeat scroll 0 0 !important;实现FF背景透明，文字不透明
    filter:Alpha(opacity=80); background:#1e84c6;实现IE背景透明*/
}
.index_projecte3 .index_left_h3 h3{
	/*	background:rgba(63, 129, 148, 0.65) none repeat scroll 0 0 !important;实现FF背景透明，文字不透明
    filter:Alpha(opacity=80); background:#3f8194;实现IE背景透明*/
}*/
/*index 项目介绍 end*/
/*index 课程介绍*/
.content2{
}
.index_class{
	border-top: 1px solid #11acc8;
}
.index_class h1{
	text-align: center;
	font-size: 53px;
	color: #14b9d6;
	height: 147px;
	line-height: 147px;
}

/*课程介绍 轮播*/
.friend {
    height: 413px;
    margin: 0 auto;
    overflow: hidden;
    width: 1300px;
}
.mr_frbox {
    height: 407px;
    padding: 24px 0px 0px;
}
.mr_frBtnL {
    cursor: pointer;
    display: inline;
    float: left;
    height: 46px;
    margin: 160px 10px 0 0;
    width: 28px;
}
.mr_frUl {
    float: left;
    height: 202px;
    width: 1047px;
    margin-left: 10px;
}
.mr_frBtnR {
    float: right;
    margin-top: 160px;
    cursor: pointer;
    width: 28px;
    height: 46px;
}
.mr_frUl ul li {
    display: inline;
    float: left;
    /*height: 389px;*/
    width: 300px;
    overflow: hidden;
    position: relative;
}
.mr_frUl ul li a img {
    /*display:block;*/
    width: 100%;
}
.mr_zhe{
    width: 300px;
    position: absolute;
    top: 0;
    background:rgba(78, 164, 181, 0.65) none repeat scroll 0 0 !important;实现FF背景透明，文字不透明
    filter:Alpha(opacity=80); background:#4ea4b5;/*实现IE背景透明*/
    /*height: 389px;*/
    left: 0;
    right: 0;

}
.mr_zhe_i h1{
    text-align: center;
    font-size: 182px;
    height: 138px;
    line-height: 138px;
    margin-top: 72px;
    margin-bottom: 64px;
    /*font-weight: bold;*/
    color: #fff;
}
.mr_zhe_p{
    margin-bottom: 60px;
}
.mr_zhe_p h3{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    line-height: 30px;

}
.mr_zhe_p h3 span{
    display: block;
    margin: 0 auto;
    width: 260px;
    font-size: 18px;
    padding-bottom: 6px;
    border-bottom: 1px solid #f4f4f4;
}

.mr_zhe_hover{
    bottom: -596px;
    height: 200px;
    position: absolute;
    width: 300px;
    background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;实现FF背景透明，文字不透明
    filter:Alpha(opacity=80); background:#0a0a0a;/*实现IE背景透明*/
}
.mr_zhe_hover h1{
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin: 22px 0;
    color: #fff;
}
/*合作伙伴 end*//*课程介绍 轮播 end*/


/*index 课程介绍 end*/
/*index 师资团队*/
.index_teacher h1{
	background:#11acc8;
	color: #fff;
}
/*师资团队 轮播*/
.icon-arrow-a-left, .icon-arrow-a-right { background: url(../images/icons_cb372887.png) no-repeat; }
.icon-arrow-a-left { background-position:-4px -121px; height: 50px; width: 50px;left: -19px; }
.icon-arrow-a-right { background-position: -59px -121px; height: 50px; width: 50px; }
.helper{
	position: relative;
}

#main {overflow: hidden; zoom: 1; position: relative; }
#index_b_hero { width: 960px; height: 410px; margin: auto; position: relative; }
#index_b_hero img { width:100%; height: 400px; }
#index_b_hero .heros { width: 960px; height: 410px; }
#index_b_hero .hero-wrap { overflow: visible; position: absolute; }
#index_b_hero .next, #index_b_hero .prev {position: absolute; top: 159px;  z-index:99999; }
#index_b_hero .next { right:-19px; }
#index_b_hero .disabled { background-color: #eee; }
#index_b_hero .mask-left, #index_b_hero .mask-right, #index_b_hero .hero { background: #fff;z-index: 1; position: absolute; top: 0; left: 0; width: 960px; height: 400px; overflow: hidden; left: 1920px; }
#index_b_hero .mask-right, #index_b_hero .mask-left { z-index: 4; left: -960px; overflow: hidden;
    background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;实现FF背景透明，文字不透明
    filter:Alpha(opacity=80); background:#060606;/*实现IE背景透明*/
}
#index_b_hero .mask-right { left: 960px; }
#index_b_hero .active { z-index: 2; left: 0; }
/*师资团队 轮播 end*/
/*index 师资团队 end*/
/*index 表单*/
.index_form{
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 30px;
}
.index_form_left{
	width: 387px;
	height: 350px;
	float: left;
}
.index_form_right{
	float: right;
	width: 793px;
	height: 350px;
}
.index_form_li ul li{
	width: 387px;
	height: 52px;
	line-height: 52px;
	margin-top: 20px;
	overflow: hidden;
}
.index_form_li ul li input{
	width: 100%;
	height: 100%;
	border: 0;
	font-size: 14px;
	font-weight: bold;
	height: 52px;
	line-height: 52px;
}
.index_form_li ul .index_form_a{
	margin-top: 0;
}
.index_form_right .index_form_li ul li{
	width: 793px;
	height: 123px;
	background: #fff;
	line-height: 123px;
	overflow: hidden;
}
.index_form_right .index_form_li ul .index_form_p{
	height: 52px;
	background: #11acc8;
	color: #fff;
	line-height: 52px;
}
.index_form_right .index_form_li ul li textarea{
	width: 100%;
	height: 100%;
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
	 padding-top: 20px;
	 border: 0;
	 overflow: hidden;
}
#index_submit{
	background: #11acc8;
	color: #fff;
	font-size: 19px;
}
/*index 表单 end*/
/*content end

/*index footer*/
#footer{
	width: 100%;
	background: #333;
	zoom: 1;
	overflow: hidden;
}
.footer{
	width: 1200px;
	margin: 0 auto;
}
.footer_h3{
	border-bottom: 2px solid #272727;
}
.footer_left,.footer_right{
	margin: 20px 0;
}
.footer_left{
	float: left;
	width: 298px;

}
.footer_left h3{
	zoom: 1;
	overflow: hidden;
}
.footer_left h3 img{
	float:left;
}
.footer_left h3 span{
	color: #fff;
	font-size: 18px;
	float: right;
	margin-top: 28px;
}
.footer_left h3 .footer_phone{
	color: #11acc8;
	margin-top: 0;
}
.footer_right{
	width: 853px;
	float: right;
}
.footer_right .nav{
	width: 853px;
	margin-top: 10px;
}
.footer_right .nav ul  .a{
	color: #fff;
}
.footer_right .nav ul li a{
	color: #a8a8a8;
}
.footer_kuai{
	margin-top: 30px;
	padding-bottom: 30px;
}
.foote_domestic{
	width: 307px;
	float: left;
}
.foote_domestic h3{
	font-size: 18px;
	font-weight: bold;
	color: #a8a8a8;
	border-bottom: 3px solid #11acc8;
}
.foote_domestic h3 span{
	display: block;
	margin-bottom: 15px;
}
.foote_domestic ul{
	width: 151px;
	float: left;
	margin-top: 15px;
}
.foote_domestic ul li{
	font-size: 12px;
	height: 25px;
	line-height: 25px;
}
.foote_domestic ul li a{
	color: #a8a8a8;
}
.foote_media{
	margin-left: 60px;
	width: 200px;
}
.foote_media ul{
    width: 115px;
}
.foote_media .footer_width{
	width: 85px;
}
.foote_media .footer_width li{
	padding-left: 30px;
}
.foote_foeign{
	margin-left: 60px;
}
.foote_foeign .foote_foeign_ul{
	width: 68px;
}
.foote_foeign .foote_foeign_ul2{
	width: 85px;
}
.foote_foeign .foote_foeign_ul3 li{
	padding-left: 5px;
}
.foote_foeign .foote_foeign_ul4 li{
	padding-left: 11px;
}
.foote_welcom{
	 width: 200px;
    height: 187px;
    overflow: hidden;
    display: block;
    margin-top: 15px;
}
.foote_welcom img{
	width: 100%;
}
.footer_copyright{
	margin: 15px 0;
	border-bottom: none;
}
.footer_copyright p{
	text-align: center;
	font-size: 12px;
	color: #a8a8a8;
}
/*index footer end*/
/*关于嘉特*/
.slide_about{
	height: 10px;
}
.about_pic,.about_pic .slide_box,.about_pic .slide_box li,.about_pic .slide_box img{
	height: 332px;
}

.about_list{
	padding-top: 50px;
}
.about_left{
	float: left;
	width: 387px;
	overflow: hidden;
	height: 293px;
}
.about_left a img{
	height: 100%;
	width: 100%;
}
.about_right{
	float: right;
	width: 793px;
	background: #fff;
	min-height: 289px;
	-moz-box-shadow: 0 2px 5px #909090;/*firefox*/
	-webkit-box-shadow: 0 2px 5px #909090;/*safari或chrome*/
	box-shadow:0 2px 5px #909090;/*opera或ie9*/
}
.about_right .index_left_p2{
	height: auto;
}
.about_right .index_left_p2 p{
	font-size: 12px;
	margin-bottom: 30px;
}
/*关于嘉特 end*/
/*课程介绍*/
.class{
	background: #fff;
    -moz-box-shadow: 0 2px 5px #909090;/*firefox*/
	-webkit-box-shadow: 0 2px 5px #909090;/*safari或chrome*/
	box-shadow:0 2px 5px #909090;/*opera或ie9*/
	padding-bottom: 70px;

}
.class table{
	width: 100%;
}
.class table tr{
	border-bottom: 1px solid #11acc8;
}
.class table tr td{
	 width: 33.3%;
	 padding: 15px 0 15px 20px;
	 overflow: hidden;
}
.class table .class_top{
	font-size: 18px;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    color: #11acc8;
    background: #334b61;
    border-bottom:none;
}
.class table .class_top td{
	 padding: 0 0 0 20px; 
}
.class_blod{
	font-weight: bold;
	color: #36393b;
}
.class_form{
	margin-top: 100px;
}
/*课程介绍 end*/
/*师资力量*/

.teacher_img a{
	width: 129px;
	height: 129px;
	float: left;
	display: block;
/*	margin: 0 18px;*/
}
.teacher_img h1{
	margin-top: 25px;
}
.teacher_img h1,.teacher_img h3{
	width: 615px;
	float: right;
}
.class_pic{
	margin: 30px auto 20px;
}
.class_pic .index_left_p2{
	clear: both;
	margin: 20px 0;
}
.teacher_page{
    margin: 50px auto 0;
    width: 780px;
}
.teacher_page a{
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    margin: 0 2px;
    overflow: hidden;
    text-align: center;
    width: 50px;
}

.page_left{
	background:#11acc8 url(../images/icons_cb372887.png) no-repeat 0px -201px;
}
.page_right{
	background:#11acc8 url(../images/icons_cb372887.png) no-repeat -56px -201px;
}
.teacher_page .page_one{
	width: 73px;
	background:#11acc8;
	font-size: 18px;
	color: #fff;
}
.teacher_page .page_input{
	margin-right: 40px;
}
.teacher_page .page_li{
	margin-left: 40px;
}
.page_ie input{
	border: 0 none;
    font-size: 24px;
    padding-left: 0;
    text-align: center;
    color: #ccc9c9;
    height: 50px;
    width: 73px;
    line-height: 50px;
}
.teacher_page .page_ie{
	background:none;
	border: 1px solid #11acc8;
	height: 48px;
}
/*师资力量 end*/
/*我要报名*/
.registration h3{
	height: 43px;
	line-height: 43px;
	background: #334b61;
	font-size: 18px;
	color: #11acc8;
	font-weight: bold;
	padding-left: 20px;
	margin-bottom: 25px;

}
/*我要报名 end*/
/*新闻中心*/
.news{
	padding-top: 50px;
}
.news_tab ul li{
	width: 589px;
	float: left;
	background:#11acc8;
	color: #fff;	
	font-weight: bold;
	font-size: 18px;
	overflow: hidden;

}
.news_tab ul li a{
	color: #fff;
	padding-left: 20px; 
	height: 43px;
	line-height: 43px;
	display: block;
	width: 589px;
}
.news_tab ul li .hovera{
	background: #334b61;
	color:#11acc8;
	width: 589px;	
	height: 43px;
	line-height: 43px;
}
.news_tba{
	margin-right: 20px;
}
/*新闻中心 end*/
/*新闻中心内页*/
.news_more{
	margin: 50px auto 20px;
    width: 760px;
}
.news_more_h1{
	 padding-bottom: 30px;
	 border-bottom: 1px solid #11acc8;
}
.news_morespan{
	width: 408px;
	float: left;
}
.news_morespan h1{
   font-size: 24px;
   font-weight: bold;
   line-height: 33px;
}
.news_morespan h1 span{
	font-size: 12px;
	font-weight: normal;
}
.news_more_close{
	width: 47px;
	float: right;
	height: 47px;
}
.news_more_close a img{
	width: 100%;
}
.news_more_p{
	margin-top: 30px;
}
.news_more_p p{
	font-size: 12px;
    margin-bottom: 30px;
    line-height: 25px;
    padding: 0 18px;
}
.news_more_page{
}
.news_more_page ul li a{
	display: block;
	float: left;
}
.news_more .page_left{
	background:#11acc8 url(../images/icons_cb372887.png) no-repeat -3px -250px; 
}
.news_more .page_left2{
	background:#11acc8 url(../images/icons_cb372887.png) no-repeat -3px -307px; 
}
.news_more .page_li{
	margin-left: 0;
}
.news_more .news_more_a{
	width: 500px;
	text-align: left;
	font-size: 18px;
	overflow: hidden;
	padding-left: 10px;
}
.news_more .news_more_a span:hover{
	color: #11acc8;
	border-bottom: 1px solid #11acc8;
}
#news_more_down{
	 margin: 20px auto 0;
}
.news_left{
	height: auto;
}
.news_left a{
	height: 293px;
    overflow: hidden;
    width: 387px; 
}
.news_left a img{
	width: 100%;
	height: 100%;
}
/*新闻中心 end*/
/*视频中心*/
.video{
}
.video ul li{
    float: left;
    height: 335px;
    overflow: hidden;
    width: 369px;
    margin: 0px 15px 30px 15px;
}
.video ul li a img{
	height: 293px;
	width: 387px;
}
.video ul li span{
	height: 30px;
    line-height: 30px;
    display: block;
    margin: 15px 0;
    color: #3f3f3f;
    font-weight: bold;
}
.video ul .video_margin{
	margin: 0 45px;
}
#video_ny a embed{
    height: 293px;
    overflow: hidden;
    width: 387px;
}
#video_ny a span{
	display: block;
    height: 30px;
    line-height: 30px;
    margin: 10px 0;
}

.video_open embed{
	height: 468px;
    width: 756px;
    margin: 0 auto;
}
/*视频中心 end*/