body{}
/*公共顶部*/
.com_top{ line-height:32px; height:32px; background-color:#f2f2f2; color:#999; border-bottom:1px solid #e5e5e5; font-family:"宋体",Hiragino Sans GB;}
.com_top a{ color:#999;}
.com_top a:hover{ color:#fa5f19;}
.com_top_l{ color:#999;}
.com_top_l a{
	display:inline-block; height:32px; line-height:32px; float:left; margin-right:10px;
}
.com_top_l a img{
	margin-top:7px;
}
.com_top_l a.welcome:hover{
	color:#999;
}
.com_top_l a.login{color:#fa5f19;}
.com_top_l a.login:hover{ text-decoration:underline;}
.com_top_r a{ margin: 0 10px;}
.icon_com{background:url(../images/sprite.png) no-repeat;}
.icon_mob{ background-position:0 -27px; padding-left:12px;}
.icon_shop{ background-position:0 8px; padding-left:18px; height:24px; display:inline-block;}
.icon_shop em{ float:left;}
.icon_shop i{ color:#fa5f19; font-size:14px; font-family:Arial; font-weight:bold; float:left;}
.myinfo{ position:relative; width:100px; height:47px; text-align:center; margin-right:10px; *margin-right:45px;}
.myinfo h1{ cursor:pointer; height:31px; position:absolute; line-height:31px; border:1px solid #f2f2f2; border-bottom:0; width:98px;}
.myinfo h1 em{ background-position:0 -231px; display:inline-block; height:4px; width:7px; margin-left:0px;}
.myinfo h1.cur{ background-color:#fff; border:1px solid #e3e3e3;border-bottom:0;}
.myinfo h1.cur em{background-position:0 -238px;}
.myinfo_ul{  border:1px solid #e3e3e3; border-top:0; width:98px; height:0; background-color:#fff; position:absolute; top:32px; overflow:hidden;}
.myinfo_ul li{ height:32px; line-height:32px; text-align:left; text-indent:10px;}
.logobox{ height:86px;}
.logobox span{ display:block; height:42px; float:left; width:400px; margin-top:28px;}
.logobox .appdownload{ 
	height:55px; width:145px;float:right; /*margin:16px 0 0 489px;*/ margin-top:16px; z-index:1999;
	display:none;
}
.logobox .appdownload .wei2apppic{
	position:absolute; left:0px; top:56px; display:none;
}
.logobox .appdownload:hover .wei2apppic{ display:block;}
.nav{
	height:42px; line-height:42px; margin:15px auto 3px !important; background-color:#fa661b;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fa661b), to(#fa5817));
	box-shadow:0px 3px 3px #d7d7d7; overflow:hidden;
}
.nva_r{}
.nav_l{ font-size:16px; height:100%;}
.nav_l a{
	color:#ffff00; padding:0 12px; height:24px; line-height:24px; display:block; float:left;
	margin:8px 0px 0 26px; border:1px solid transparent; position:relative;
}
.nav_l a b{
	display:none; width:0px; height:0px; top:100%; left:50%; position:absolute; margin-left:-4px;
	border-left:6px solid transparent; border-right:6px solid transparent;
	border-top:6px solid #d84400;
}
.nav_l a.hot{ color:#fff;}
.navline{ width:0px; height:16px; margin:14px 0px 0 26px;float:left; display:block; border-left:1px solid #cc4b10; border-right:1px solid #fc7e21;}
.nav_num{ font-size:18px;font-family:Arial; color:#fff;background:url(../images/num_pub_bg.png) no-repeat 0 0px; text-indent:28px;}
.nav_pub{ margin-left:30px; width:145px; height:42px; background:url(../images/num_pub_bg.png) no-repeat 30px -42px #e25817;}
.nav_pub a{
	display:block;width:145px; height:42px; line-height:42px; color:#fff; font-size:14px; text-indent:60px;
}
.nav_l a.cur{
	background-color:#d84400; border-radius:2px; border:1px solid #d04100; box-shadow:0 1px 1px #fb6b30;
}
.nav_l a.cur b{
	display:block; box-shadow:0 1px 1px #fb6b30;
}
.nav_pub:hover{background:url(../images/num_pub_bg.png) no-repeat 30px -42px #e25817;}
.mycarbox{
	margin:-3px 0 20px; border:1px solid #e5e5e5; border-top:none; overflow:hidden; height:80px;
	background-color:#fff;
}
.head_carbox_l{
	width:56px; text-align:center; color:#666; height:32px; line-height:16px; padding:24px 0px;
	position:relative;
}
.head_carbox_l b,.head_carbox_l em{
	display:block; position:absolute; width:0px; height:0px; top:50%; margin-top:-4px;
	border-top:7px solid transparent; border-bottom:7px solid transparent;
}
.head_carbox_l b{
	border-left:7px solid #e5e5e5; right:-8px;
}
.head_carbox_l em{
	border-left:7px solid #fff; right:-7px;
}
.head_car_logo{border:1px solid #e5e5e5; height:38px; width:48px; margin:20px 0 0 32px; background-color:#fff;}
.head_car_logo img{height:100%; width:100%;}
.head_carbox_r{ width:1130px; background-color:#f2f2f2; border-left:1px solid #e5e5e5; height:80px;}
.qr_code{ width:192px; height:72px; float:right; margin-left:11px;}

.wrap_min .mycarbox{ width:970px;padding:14px;}
.wrap_min .head_carbox_r{ width:885px; overflow:hidden;}
.head_car_select{ color:#666; height:80pxpx; line-height:80px;}
.head_car_select a{ color:#fa5f19; padding:0 3px;}
.head_car_name{
	font-size:16px; color:#2e3032; margin-top:20px; line-height:20px; font-family:"微软雅黑",Hiragino Sans GB;
}
.head_car_name em{ font-size:14px;}
.head_car_name a{ color:#999; font-size:12px; font-family:"宋体",Hiragino Sans GB;}.head_car_name a:hover{color:#fa5f19;}
.head_car_detail{ height:24px; color:#2e3032; line-height:24px;}
.head_car_logobtn{ height:26px; margin:40px 0 0 15px;}
.head_car_logobox2{ width:430px;}
.wrap_min .head_car_logobox2{ width:290px;}
.head_car_info{ line-height:24px; width:360px; font-size:12px; color:#666; margin-top:16px;}
.wrap_min .head_car_info{ width:200px;}
.navbotLine{ height:2px; background-color:#fa5f19; margin-top:2px; display:none;}
.head_car_info em,.head_car_plan i{ color:#666; font-size:12px;}
.head_car_info i{ font-size:14px;font-family:Arial; padding-right:5px; color:#333;}
.head_car_plan{
	color:#2e3032; width:200px; height:42px; line-height:42px;
	/* padding-left:50px;*/
	margin-top:22px; 
}
.head_car_plan .count{
	width:50px; height:42px; display:inline-block; float:left; position:relative;
	background:url(../images/plan_data.png) no-repeat;
}
.head_car_plan .count em{
	min-width:18px; height:18px; border-radius:18px; background-color:#fa5f19;
	color:#fff; font-size:12px; text-align:center; line-height:18px; position:absolute;
	display:block; left:29px; top:-4px; padding:0px;
}
.head_car_plan em{ color:#fa5f19; padding-right:25px;}
.head_car_plan a{ color:#fa5f19;}
.head_car_plan span{ font-size:14px; color:#666;}
.head_car_plan a:hover{ text-decoration:underline;}
.head_car_plan p{ font-size:14px; line-height:46px;}
/*footer*/

.mian_footer{/* height:324px;*/ background-color:#f2f2f2; margin-top:30px; border-top:2px solid #fa5f19;}
.main_footer_top{ height:167px;}
.main_footer_cen{height:23px; /*  background:#858585 url(../images/footer_text.png) no-repeat center center;*/ border-bottom:1px solid #e5e5e5; width:1000px; margin:0px auto;}
.main_footer_bot{ height:30px; margin-top:10px; color:#666; line-height:30px;}.main_footer_bot a{color:#666;}.main_footer_bot a:hover{ text-decoration:underline;}
.foot_friend{ line-height:32px;}
.foot_friend b{ color:#666; padding-right:10px;}
.foot_friend a{ color:#666; padding-right:16px; white-space:nowrap;}
.main_footer_bot i{ color:#adadad; padding:0 20px;}

.main_footerul{ height:137px; width:810px; padding:30px 0 0; overflow:hidden;}
.main_footerul li{ width:190px;_width:140px;height:138px; cursor:pointer; overflow:hidden !important;  float:left; border-right:1px solid #e5e5e5;}
.main_footerul .default{overflow:hidden;}

.main_footerul li.cur .default{ display:block !important; overflow:hidden;border:0;}
.main_footerul li.cur .hover{ display:none !important;border:0;}
.main_footerul .default dt{ margin-bottom:8px; height:20px; line-height:18px;color:#2e3032;font-size:16px;font-family:"微软雅黑",Hiragino Sans GB;/*background:url(../images/icon_footer1.png) 0 0 no-repeat;*/ text-indent:29px;}
.main_footerul .default dt a{ color:#2e3032;}
.main_footerul .default dt.icon_1{ background-position:0 bottom;}
.main_footerul .default dt.icon_2{ background-position:0 -40px;}
.main_footerul .default dt.icon_3{ background-position:0 -20px;}

.main_footerul .default dd{ height:22px; line-height:22px;color:#fff;font-size:12px;font-family:"微软雅黑",Hiragino Sans GB;/*background:url(../images/icon_footer2.png) 7px center no-repeat;*/ text-indent:29px;}
.main_footerul .default dd a{ color:#666;}
.main_footerul .default dd a:hover{ color:#fa5f19;}

.main_footerul li .hover a{ color:#fff;font-size:16px;font-family:"微软雅黑",Hiragino Sans GB;}
.main_footerul li em{ width:70px; height:70px;background:url(../images/icon_footer.png) no-repeat; display:block; margin-bottom:15px;}
.main_footerul li.two em{ background-position:-70px 0;}
.main_footerul li.three em{ background-position:-140px 0;}
.main_footerul li.four em{ background-position:-210px 0;}
.main_footer_btn{ width:160px; height:137px; padding:30px 30px 0 0; overflow:hidden;}
.main_footer_btn .pub-btn-big-orange{ width:140px; border-radius:0px; border-bottom:none;}
.main_footer_btn i{ font-family:Arial; padding-left:5px;}
.main_footer_btn p{ text-align:center; color:#fff; font-size:14px;width:170px; color:#999; padding-bottom:10px;}
.main_footer_btn p em{ display:block;font-size:26px;/* padding:7px 0; line-height:32px; height:32px;*/font-family: Arial; color:#2e3032; margin-bottom:8px;}


.popbox {margin:0 auto;padding:10px;margin: 0 auto;}
.popcon{ background-color:#fff; width:440px; height:270px;}
.pop_head { height: 45px; position: relative; width:100%;  }
.pop_head h3 a{ color:#f95f19; font-size:12px; padding-left:5px;}
.pop_head h3{line-height: 45px; text-indent:20px; line-height:45px; border-bottom:1px solid #c8c8c8; color: #666; font-size: 16px;}
.pop_head h3 em{ font-size:12px; color:#666; padding-left:5px;}
.pop_head .close { cursor:pointer;  position: absolute; width: 30px; height: 30px; top: 0px; right: 0px;background:url(../images/pop_close.png) no-repeat}
.pop_head .close:hover { opacity:0.8;}
.pop-confirm-wrong .close{ background-position:0 0;}
.pop-confirm-ok .close{ background-position:0 -30px;}
.popIcon{ width:38px; height:38px; margin:70px 0  0 100px; float:left;background:url(../images/pop_close.png) 0 -120px no-repeat;}
.pop_tip{ height:38px; float:left; line-height:38px; font-size:18px; color:#28c7a7; margin:70px 0 0 10px;}
.pop-confirm-wrong .popIcon{ background-position:0 -196px;}
.pop-confirm-error .popIcon{ background-position:0 -158px;}
.pop-confirm-wrong .pop_tip{ color:#2473c2;}
.pop-confirm-error .pop_tip{ color:#ff1212;}
.pophtml{ background-color:#fff; height:340px; width:540px;}
#updateData .pophtml{ height:320px;}
.pophtml .popcon{ width:520px; height:300px;}
.pop_body { padding: 20px; background-color:#fff;}
.pop_updateData{ width:500px;}
.pop_updateData .popcon{ width:480px;}
.pop_updateData .m_baoyang_input{ margin-left:40px;}
/*发布成功提示*/
.pop_success{ width:500px;}
.pop_success .popcon{ width:480px; height:300px;}
.pop_success .pop_body{width:380px;height:200px; padding:50px 0 0 100px;}
.pop_suc_tit{ height:34px;}
.pop_suc_tit .pop_suc_icon{width:38px; height:38px;float:left;background:url(../images/pop_close.png) 0 -120px no-repeat;}
.pop_suc_tit h4{height:38px; padding-left:20px; float:left; line-height:38px; font-size:18px; color:#28c7a7;}
.pop_suc_con{ padding-top:38px; height:52px; line-height:24px; font-size:12px; color:#666;}
.pop_suc_con b{ font-size:18px; font-weight:normal; padding:0 5px;}.pop_suc_con a{ color:#fa5f19;}
/*车型库操作*/
.libTipcon{ text-align:center; padding:40px 0 0 0;}
.libTipcon p{ font-size:14px; color:#666;}
.libTipbtn{ padding-top:55px;}
/*发布需求*/
.pop_pub{ width:670px; height:490px;}
.pop_pub .popcon{ width:650px; height:470px;}
.pop_pub .pop_body{ height:405px; width:610px; padding:20px 0 0 40px;}
.pop_pub_tit,.pop_pub_tit2{ color:#666; font-size:12px; margin-bottom:15px;}
.pop_pub_text textarea{ resize:none; width:558px; height:78px;border: 1px solid #c8c8c8;padding: 5px;}
.pop_pub_text textarea:focus{ background:#fff;  border-color:#999; outline:none;-webkit-transition: all ease .3s;-moz-transition: all ease .3s;-ms-transition: all ease .3s;-o-transition: all ease .3s;}
.pop_pub_tit2{ margin-bottom:0;}
.pop_pub_btn{ width:570px; text-align:center; margin-top:30px;}
.pop_pub_btn .lbt_btn{ width:290px;}
/*车型库存*/
.pop_updateCar{ width:560px;height:340px !important;}
.pop_updateCar .popcon{ width:540px; height:320px !important;}
.pop_updateCar .popbox{height:320px;  padding:10px;background: url(../images/dialogbg.png);}
.pop_updateCar .pop_body{height:230px;}
.car_lib_cur{ height:24px;line-height:24px; width:100%;}
.cur_text{ color:#f95f19;width:406px; float: right; padding-top:8px;}
.cur_text span{ font-size:16px;}
.car_lib_front dt,.car_lib_cur .fl{ float:left; width:72px; padding-top:6px; text-align:right; color:#999; font-size:14px;}
.car_lib_front dd{ cursor:pointer; float:right; width:406px; height:40px; padding:7px 10px; overflow:hidden; }
.car_lib_front dd .head_car_logo{ margin:0;}
.car_lib_front dd .head_car_name{ margin:0 0 0 5px !important; width:350px !important;}


.car_lib_front dd .lbt_btn{ display:none;}
.car_lib_front dd:hover{background-color:#f2f2f2}
.car_lib_front dd:hover .lbt_btn{ display:block;}
.car_lib_front dd .lib_conr{ padding-top:10px;}
.car_lib_front dd .head_car_detail{ line-height:34px;}
.car_lib_front dd .head_car_name a{font-size: 14px; height:24px; line-height:40px;color: #2e3032;}
.car_lib_front dd .head_car_name em{height: 24px;color: #2e3032; font-size:12px;}
.leftcom_top{position:fixed;right:50%; margin-right:-650px;  bottom:25px;}
#tbox{position:fixed;right:50%; margin-right:-650px; top:250px;height:220px;
_position:absolute;
_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
_margin-top:250px;
}
#gotop{ width:38px; height:220px; position:absolute; right:0; top:0;}
#gotop li{margin-bottom:5px;}
#gotop li a{ text-indent:-9999px; display:block;background:url(../images/navleft.png) right 0 no-repeat; width:38px; height:38px;}
#gotop li a:hover{background:url(../images/navleft.png) left 0 no-repeat;}
#gotop li.top_icon2 a{ background-position:right -43px;}
#gotop li.top_icon2 a:hover{ background-position:left -43px;}
#gotop li.top_icon3 a{ background-position:right -86px;}
#gotop li.top_icon3 a:hover{ background-position:left -86px;}
#gotop li.top_icon4 a{ background-position:right -129px;}
#gotop li.top_icon4 a:hover{ background-position:left -129px;}

#gotop li.top_icon5 a:hover{ background-position:left bottom;}
.leftweixin{ width:116px; height:110px; right:45px; position:absolute;top:84px; display:none;}
.wrap_min{ width:1000px; margin:0 auto;}
.leftcom_top a{text-indent:-9999px; display:block;background:url(../images/navleft.png) right bottom no-repeat; width:38px; height:38px;}
.leftcom_top a:hover{ background-position:left bottom;}
.wrap_min{ width:1000px; margin:0 auto;}
.leftapp{ width:116px; height:110px; right:45px; position:absolute;top:46px; display:none;}
.code_inputbox{ position:relative;}
#codepopbox{ width:300px; height:292px; padding:78px 120px 0 120px;overflow: hidden;}
#codepopbox h1{ font-size:30px; line-height:30px; color:#f95f19;  width:300px;text-align:center;}
#codepopbox aside{ padding:22px 0; font-size:18px; width:300px; height:18px; line-height:18px; color:#666; text-align:center;}
#codepopbox .code_input{ height:18px; padding:11px 0; margin-bottom:20px; outline:none; border:1px solid #c8c8c8; width:298px; font-size:18px;line-height:18px !important; text-align:center; color:#2e3032}
.code_btn{ width:270px; }
#codepopbox  .code_input_error{ border-color:#f13044; color:#f13044;animation:
codeAni 0.3s ease 0s  ;
-moz-animation:codeAni  0.3s ease 0s  ;
-webkit-animation:codeAni  0.3s ease 0s  ;
-o-animation:codeAni  0.3s ease 0s ;
}
@keyframes codeAni
{
0%   { margin-left:-5px;}
25%  {margin-left:5px;}
50%  {margin-left:-5px;}
75%  {margin-left:5px;}
100% {margin-left:0px;}
}

@-moz-keyframes codeAni /* Firefox */
{
0%   { margin-left:-5px;}
25%  {margin-left:5px;}
50%  {margin-left:-5px;}
75%  {margin-left:5px;}
100% {margin-left:0px;}
}

@-webkit-keyframes codeAni /* Safari and Chrome */
{
0%   { margin-left:-5px;}
25%  {margin-left:5px;}
50%  {margin-left:-5px;}
75%  {margin-left:5px;}
100% {margin-left:0px;}
}

@-o-keyframes codeAni /* Opera */
{
0%   { margin-left:-5px;}
25%  {margin-left:5px;}
50%  {margin-left:-5px;}
75%  {margin-left:5px;}
100% {margin-left:0px;}
}
