@charset "utf-8";
/* CSS Document */
.trial-report{ overflow:hidden; font-family:"微软雅黑";position:relative; padding-bottom:40px; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5;}
.report-style-single{
	overflow:hidden;
}
.trial-report h2{
	height:69px; line-height:69px; font-size:21px; color:#2e3032;
}
.trial-report a.more{
	display:block; position:absolute; width:80px; height:20px; line-height:20px; text-align:center;
	font-size:12px; color:#fff; background-color:#fa5f19; text-decoration:none;
	right:0px; top:25px;
}
.report-content{
	overflow:hidden;
}
.report-content > a{
	display:block; overflow:hidden; text-decoration:none;
}
.report-style-single .report-content > a{
	width:100%;
}
.report-style-more .report-content > a{
	width:290px; float:left; margin-left:20px; padding-left:20px; border-left:1px solid #e5e5e5;
}
.report-style-more .report-content > a:first-child{
	padding-left:0; margin-left:0; border:none;
}
.report-pic{
	height:216px; width:290px; overflow:hidden; position:relative;
}
.report-pic img{ width:100%; vertical-align: middle;}
.report-style-single .report-pic{ float:left;}
.pic-list{
	width:9000%; height:100%; position:absolute; left:0px; top:0px;
}
.pic-list li{
	width:290px; height:216px; float:left; overflow:hidden; line-height:216px;
}
.pic-view-bg{
	height:25px; position:absolute; bottom:0px; background-color:#000;
	opacity:0.5; filter:alpha(opacity=50);width:100%; display:none;
}
.pic-view{
	height:25px; position:absolute; bottom:0px; display:inline-block;
	right:4px;
}
.pic-view li{
	width:6px; height:6px; background-color:#000; margin:10px 6px 0 0; border-radius:6px; cursor:pointer;
	float:left;
}
.pic-view li.cur{
	background-color:#fa5f19;
}
.report-detail{overflow:hidden;}
.report-style-single .report-detail{
	width:650px; float:right; 
}
.report-detail h3{
	display:block; height:24px; line-height:24px; font-size:16px; color:#2e3032;
}
.report-style-more .report-detail h3{
	margin-top:10px;
}
.report-style-more .report-detail h3:hover{
	color:#fa5f19;
}
.report-detail .detail-desc{
	height:36px; line-height:32px; color:#999; font-size:12px; border-bottom:1px dashed #e5e5e5;
}
.report-detail .detail-desc .car-size{ float:left;}
.report-detail .detail-desc .time{ float:right; font-style:normal;}
.report-detail .detail-desc em{font-style:normal; color:#666;}
.report-detail .detail-text{ padding:4px 0 0; line-height:22px; font-size:12px; overflow:hidden;}
.report-detail .detail-text p{ padding:0; margin:0;}
.report-style-more .report-detail .detail-text:hover{ color:#fa5f19;}
