.gg { width: 100%; height: 360px; position: relative; z-index: 1; overflow: hidden; margin: 80px auto 0px; clear: both;}
.gg img:hover{opacity: 1}
.ggLoading { position: absolute; left: 40%; top: 200px; width: 325px; text-align: center; height: 56px; background-position: 0 -274px; background-repeat: no-repeat; line-height: 56px; color: #9c9c9c; }
.ggLoading2 { width: 330px; height: 56px; background-position: 213px -330px; background-repeat: no-repeat; }
.ggLoading em { font-weight: bold; }
.ggs { width: 200%; height: 360px; left: -50%; top: 0; position: absolute; }
.ggBox { width: 1920px; height: 360px; margin: 0 auto; }
.ggBox a { display: block; width: 1920px; height: 360px; position: absolute; z-index: 1; opacity: 0.1; }
.ggBox img { display: block; width: 1920px; height: 360px; }
.ggb { position: absolute; width: 100%; left: 0; bottom: 0; height:20px; z-index: 4;  }
.ggBtns { width:160px; height: 80px; margin: 0 auto;padding-left: 90px;}
.ggBtns a { float: left; display: block;background: url(../Images/bottomnavoff.png);margin-right:5px; width: 13px; height: 13px; text-indent: -9999px; position: relative; top: -10px; outline: none; background-repeat: no-repeat; cursor: pointer; }
.ggBtns a em { display: block; width: 30px;height: 30px; margin: 0 auto; overflow: hidden;font-style: normal; }
.ggBtns a:hover {background: url(../Images/bottomnavon.png); }
.ggBtns a:focus { outline: none; }
.ggBtns a.ggOn { background: url(../Images/bottomnavon.png); }
.ggb, .ggBtns a { border-radius:20px;}
a.ggOn { background: #fff;opacity:1 }

/*---------- 首页文字内容 ---------*/
.indexTextWrap{float: left;width: 100%;margin-top: 30px;text-shadow:1px 1px 0 #fff;}
.indexText{width: 1200px;margin: 0 auto;}
.indexTextLeft{width: 700px;float: left;}
.indexTextLeft span{width: 100%;float: left;height: 40px;line-height: 40px;border-bottom: 1px dotted #ddd;}
.indexTextLeft span strong{float: left;height: 39px;border-bottom: 2px solid #aaa;font-size: 20px;color: #222;font-weight: normal;}
.indexTextLeft .ul{width: 100%;float: left;margin-top: 20px;}
.indexTextLeft .ul li{width: 100%;float: left;margin-bottom: 20px;}
.indexTextLeft .ul li .img{width:150px;height:90px;float: left;border: 1px solid #ddd;padding: 9px;margin-right: 20px;}
.indexTextLeft .ul li .img img{width:150px;height:90px;float: left;}
.indexTextLeft .ul li h4{width:500px;line-height:30px;color:#333;font-size:16px;float: left;padding-bottom: 2px;}
.indexTextLeft .ul li p{width:500px;line-height:24px;color:#333;float: left;}
.indexTextLeft .ul li a{color:#428bca;}
.indexTextRight{width:450px;float: right;}
.indexTextRight span{width: 100%;float: left;height: 40px;line-height: 40px;border-bottom: 1px dotted #ddd;}
.indexTextRight span strong{float: left;height: 39px;border-bottom: 2px solid #aaa;font-size: 16px;color: #222;font-weight: bold;}
.indexTextRight ul{width: 410px;float: left;margin-top: 20px;border: 1px solid #ddd;padding: 24px;background: #f1f1f1;}
.indexTextRight ul li{width: 390px;float: left;list-style: disc;color: #C1C1C3;position: relative;margin-left: 20px;}
.indexTextRight ul li a{line-height:32px;color:#333;text-indent: 20px;width: 400px;font-size: 14px;}


/*-- tab1 --*/
.indexTab {width:100%;float: left;text-shadow:1px 1px 0 #fff;}
.indexTab ul{width:100%;height:42px;float: left;line-height: 42px;color:#333;border-bottom: 1px dotted #ddd}
.indexTab li{height: 42px;float:left;cursor:pointer;margin: 0 30px 0 0 ;font-size: 16px;}
.indexTab li a{color: #222;}
.indexTab li.hover{color:#222;text-shadow:1px 1px 0 #fff;border-bottom: 2px solid #aaa;height: 41px;font-weight: bold;}
