
/*--这里是皮肤样式start--*/
body{margin:0;padding:0;background:url("bg_x2.jpg"/*tpa=http://www.radio.cn/templates/default/images/bg_x2.jpg*/) repeat;}
#bodymain{width:100%;background:url("ttx_bg2.jpg"/*tpa=http://www.radio.cn/templates/default/images/ttx_bg2.jpg*/) repeat-x center top;}

/*--这里是皮肤样式end--*/

