@media screen and (max-width:770px) {
.head,.head .head_r,.i_ma,.i_mb,.i_mc,.i_md,.bq,.foot,.i_me,.scd{width:320px; margin:0px auto;}
.head{ position:relative;}
.head .logo img,.head .logo{ width:119px; height:81px;}
.head .logo{ position:absolute; left:0; top:0;}
.r_top span{ font-size:12px;}
.r_top .search{ width:190px; margin-top:10px;}
.head .nav{ margin-top:50px; text-align:left;}
.head .nav li a{ width:103px; padding:0; text-align:center;}
.head .nav li{ margin:0px;}
.banner{ height:auto;}
.flexslider .slides > li{ overflow:visible;}
.flexslider .slides img{ width:100%; height:auto; margin-left:0px !important;}
.i_ma .i_mal,.i_ma .i_mar{ width:100%;}
.i_ma .i_mal{ margin-bottom:20px;}
.i_mal .box_m{ line-height:185%;}
.i_mar .box_m{ height:auto; margin-bottom:10px;}
.i_mar .box_m embed{ width:320px; height:170px;}
.bg_a,.f_bg,.bq_bg,.banner_s,.banner{ min-width:320px;}
.i_mb ul{ height:870px; overflow:hidden;}
.i_mb ul li{ width:100%; margin-right:0px; text-align:center;}
.i_mc ul li{ float:none; margin:0px auto !important; margin-top:75px !important;}
.i_md ul{ height:866px; overflow:hidden;}
.i_md ul li{ width:100%; margin-right:0;}
.i_md ul li img{ width:320px; height:343px;}
.i_mc ul li{ width:318px;}
.i_mc ul li .tu{ left:110px;}
.i_mb ul li img{ width:320px; height:384px;}
.foot .f_nav{ width:100%;}
.foot .f_code{ width:100%; position:static; margin-top:20px;}
.f_nav li{ width:103px; margin-left:0px; height:200px;}
.foot .f_code p{ text-align:left;}
#focus_Box{ display:none;}
.sj_sp{ display:block;}
.banner_s,.banner_s img{ width:100%; height:auto; margin-left:0px !important;}
.scd .scd_l{ width:100%; background-size:100%; height:auto; padding-bottom:20px;}
.scd_l .s_nav li{ width:280px; background-repeat:repeat-x;}
.scd_l .s_nav li a{ width:241px;}
.scd .scd_r{ width:100%;}
.scd_r .r_title{ font-size:24px;}
.scd_r .scd_m{ overflow:hidden;}
.scd_r .scd_m img{ max-width:320px; height:auto;}
.pro li img,.pro li{ width:318px; height:296px; margin-right:0px;}
.pro li .des{ width:320px;}
.pages a{ font-size:14px;}
.news dl dt, .news dl dt img{ width:320px; height:183px;}
.news dl dd{ width:100%; margin-top:5px;}
.news dl dd .title em{ font-size:12px;}
.service dt,.service dd{ width:100%; height:auto;}
.service dt{ margin-bottom:20px;}
.contact dl dt{ width:100%; margin-right:0; text-align:center;}
.contact dl dd{ width:100%; line-height:180%;}
.contact dl dd p{ margin-bottom:10px;}
}
