body{font-family:"Microsoft Yahei";font-size:14px;color:#5B5B5B; padding:0; margin:0;}
input , textarea , select{font-family:"Microsoft Yahei"; color:#5B5B5B; font-size:14px;}
/*头部*/
.head{ width:1200px; margin:0px auto; height:130px;}
.head .logo{ width:156px; height:106px; float:left; margin-top:12px;}
.head .logo img{ width:156px; height:106px; vertical-align:top;}
.head .head_r{ width:840px; float:right; text-align:right;}
.head_r .r_top{ width:100%; height:30px; line-height:30px; text-align:right; padding-top:18px;}
.r_top span,.r_top .search{ display:inline-block; *display:inline; zoom:1; width:auto;}
.r_top span{ font-size:14px; color:#555555;}
.r_top span b{ color:#F08400; font-weight:normal;}
.r_top .search{ width:210px; height:27px; position:relative; margin-left:50px;}
.head .search input[type="text"]{ width:175px; height:27px; line-height:27px; position:absolute; left:0px; top:0px; padding:0px 5px; border:1px solid #ddd; border-right:0;}
.head .search input[type="submit"]{ width:35px; height:27px; position:absolute; right:0px; top:0px; cursor:pointer; border:0px; z-index:99; background-color:#E37528; background-image:url(../images/icon1.jpg); background-repeat:no-repeat; background-position:center center;}
.head .nav_m{ width:100%;}
.head .nav{ width:100%; text-align:right; margin-top:33px;}
.head .nav li{ display:inline-block; *display:inline; zoom:1; height:40px; border-bottom:2px solid #FFF; line-height:40px; margin-left:15px;}
.head .nav li a{ font-size:16px; color:#333; display:inline-block; *display:inline; zoom:1; height:40px; line-height:40px; padding:0px 22px;}
.head .nav li.now{ border-bottom:2px solid #F08400;}
.head .nav li.now a{ color:#F08400;}
.nav_m .n_icon{ display:inline-block; *display:inline; zoom:1; height:18px; line-height:18px; color:#FFF; padding-left:25px; background:url(../images/nav_ico.png) no-repeat left center; position:absolute; right:10px; top:-50px; z-index:9999; cursor:pointer;display:none;}
.banner{ width:100%; min-width:1200px; overflow:hidden; height:460px; margin:0px auto; position:relative;}
.i_ma{ width:1200px; margin:0px auto; margin-top:10px;}
.i_ma .i_mal{ width:665px; float:left;}
.i_ma .i_mar{ width:485px; float:right;}
.i_ma .box_h{ width:100%; height:50px; position:relative; background:#F2F2F2; line-height:50px; text-align:left;}
.i_ma .box_h a{ display:block; text-align:right; text-align:right; position:absolute; right:15px; top:0; color:#FF8C00; font-size:14px;}
.i_ma .box_h span{ display:block; padding-left:15px; font-size:20px; color:#EF8300; line-height:20px; position:absolute; left:0; top:5px;}
.i_ma .box_h p{ height:20px; line-height:20px; font-size:14px; color:#656565; padding-left:15px; position:absolute; left:0; bottom:5px;}
.i_ma .box_m{ width:100%; height:325px; padding:15px 0; overflow:hidden;font-size:14px; color:#555555; line-height:210%;}
.i_mal .box_m img{ width:310px; height:184px; float:left; margin-right:15px;}
.i_mal .box_m{ line-height:235%;}
.i_mar .box_m .des{ width:100%; height:50px; overflow:hidden; margin-top:5px;}
.bg_a{ width:100%; min-width:1200px; background:#EEEEEE; padding:20px 0;}
.i_name{ width:100%; text-align:center; padding-bottom:20px;}
.i_mb{ width:1200px; margin:0px auto;}
.i_mb ul{ width:100%;}
.i_mb ul li{ width:200px; float:left; margin-right:50px; margin-bottom:10px;}
.i_mb ul li img{ width:200px; height:240px; vertical-align:top;}
.i_mb ul li p{ width:100%; height:45px; line-height:45px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:18px; color:#333333; text-align:center;}
.i_mb ul li a:hover p{ color:#FF8100;}
.i_m .more{ width:100%; text-align:center;}
.i_m .more a{ display:inline-block; *display:inline; zoom:1; font-size:16px; color:#FF6500; height:30px; line-height:30px; border:1px solid #FF6500; padding:0 10px;}
.i_mc{ width:1200px; margin:0px auto; padding:20px 0;}
.i_mc ul{ width:100%;}
.i_mc ul li{ width:223px; float:left; height:190px; border:1px solid #ddd; float:left; margin-right:18px; margin-top:60px; margin-bottom:10px; position:relative; text-align:center;}
.i_mc ul li h6{ width:90%; margin:0px auto; height:30px; line-height:30px; font-size:15px; font-weight:bold; color:#333; padding-top:60px;}
.i_mc ul li .tu{ width:110px; height:110px; position:absolute; top:-55px; left:60px;transition: 0.7s;-moz-transition:  0.7s;-webkit-transition:  0.7s;-o-transition:  0.7s;}
.i_mc ul li:hover .tu{-moz-transform: rotateY(180deg);-webkit-transform: rotateY(180deg);transform: rotateY(180deg);}
.i_mc ul li p{ width:90%; margin:0px auto; font-size:14px; color:#555; line-height:150%; height:80px; overflow:hidden;}
.i_md{ width:1200px; margin:0px auto; padding:20px 0;}
.i_md ul{ width:100%;}
.i_md ul li{ width:270px; float:left; margin-right:40px; margin-bottom:20px;}
.i_md ul li img{ width:270px; height:290px; vertical-align:top;}
.i_md ul li .title{ width:100%; height:35px; line-height:35px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:18px; color:#000;}
.i_md ul li a:hover .title{ color:#FF8100;}
.i_md ul li .des{ width:100%; height:40px; font-size:14px; color:#555555; line-height:145%; overflow:hidden;}
.i_me{ width:1200px; margin:0px auto; padding:20px 0;}
#focus_Box{position:relative;width:1200px;height:242px;margin:0 auto; margin-bottom:30px;}
.index_Case_Title{ font-size:20px; line-height:30px;margin:0 auto; padding:35px 0 0 0; width:1200px;}
.index_Case_Title span a{ width:58px; height:20px; background:#d6d6d6; line-height:20px; text-align:center; font-size:12px; float:right;}
.index_Case_Title span a:hover{ width:58px; height:20px; background:#2b71b8; line-height:20px; text-align:center; font-size:12px; float:right; color:#fff;}
#focus_Box ul{position:relative;width:1132px;height:242px;left: 68px; top:px;}
#focus_Box li{z-index:0;position:absolute; width:0px;background:#787878;height:0px;top:146px;cursor:pointer;left:377px;border-radius:4px; display:inline-block; *display:inline; zoom:1; border:3px solid #ddd;}
#focus_Box li img{width:100%;height:100%;vertical-align:top}
#focus_Box li p{position:absolute;left:0;bottom:0px;width:100%;height:40px;line-height:40px;background:rgba(0,0,0,0.5);text-indent:8px;color:#fff;}
#focus_Box li p span{display:inline-block;width:70%;height:40px;overflow:hidden;}
#focus_Box .prev,#focus_Box .next{display:block;z-index:100;overflow:hidden;cursor:pointer;position:absolute;width:38px;height:74px;top:131px;}
#focus_Box .prev{background:url(../images/prev_1.png) left bottom no-repeat;left:0px; top:100px;}
#focus_Box .next{background:url(../images/next_1.png) right bottom no-repeat;right:0px;top:100px;} 
#focus_Box .prev:hover{background:url(../images/prev_2.png) left bottom no-repeat;}
#focus_Box .next:hover{background:url(../images/next_2.png) right bottom no-repeat;}
#focus_Box a.imgs-scroll-btn{display:block;position:absolute;z-index:110;top:7px;right:15px;width:51px;height:23px;overflow:hidden;text-indent:-999px;}
.f_bg{ width:100%; min-width:1200px; padding:20px 0; background:#717171}
.foot{ width:1200px; margin:0px auto; position:relative;}
.foot .f_code{ width:154px; position:absolute; right:30px; top:0;}
.foot .f_code img{ width:154px; height:157px; vertical-align:top;}
.foot .f_code p{ width:100%; height:30px; text-align:center; line-height:30px; font-size:16px; color:#fff;}
.foot .f_nav{ width:900px; text-align:left;}
.f_nav li{ width:130px; float:left; margin-left:30px;}
.f_nav li p{ height:30px; line-height:30px;}
.f_nav li b{ font-size:16px; color:#FFF; display:block; height:40px; line-height:40px; font-weight:normal;}
.f_nav li p a{ font-size:14px; color:#CBCBCB;}
.f_nav li p a:hover{ color:#FFF;}
.bq_bg{ width:100%; min-width:1200px; background:#434343; padding:12px 0;}
.bq{ width:1200px; margin:0px auto; text-align:center; font-size:14px; color:#FFF;}
.banner_s{ width:100%; height:260px; min-width:1200px; margin:0px auto; overflow:hidden;}
.banner_s img{ width:1920px; height:260px; vertical-align:top;}
.scd{ width:1200px; margin:0px auto; padding-bottom:20px;}
.scd .scd_l{ width:220px; height:615px; float:left; background:url(../images/bg_a.png) no-repeat;}
.scd_l .name{ width:100%; text-align:center; padding:30px 0;}
.scd_l .s_nav{ width:100%;}
.scd_l .s_nav li{ width:181px; height:42px; background:url(../images/line.jpg) no-repeat left bottom; float:right; margin-right:1px;}
.scd_l .s_nav li a{ display:block; width:141px; height:40px; padding-right:40px; text-align:right; line-height:40px; font-size:16px; color:#552F00;}
.scd_l .s_nav li.now a,.scd_l .s_nav li:hover a{ background:#A25425; color:#FFF;}
.scd_l .s_nav li a span{ display:inline-block; *display:inline; zoom:1; height:40px; line-height:40px; padding-left:15px; background:url(../images/icon3.png) no-repeat left center;}
.scd_l .s_nav li.now a span,.scd_l .s_nav li:hover a span{ color:#FFF; background:url(../images/icon2.png) no-repeat left center;}
.scd .scd_r{ width:945px; float:right;}
.scd_r .r_title{ width:100%; text-align:center; padding-top:55px; height:45px; line-height:45px; border-bottom:1px solid #ccc; font-size:30px; color:#000000;}
.scd_r .r_title span{ color:#999999;}
.scd_r .r_title span em{ font-size:18px;}
.scd_r .scd_m{ width:100%; padding:28px 0; font-size:14px; color:#999999; line-height:215%;}
.pro{ width:100%;}
.pro li{ width:300px; height:280px; float:left; margin-bottom:28px; border:1px solid #ddd; margin-right:19px; position:relative;}
.pro li:hover{ border:1px solid #7F604E;}
.pro li img{ width:300px; height:280px;}
.pro li .des{ width:302px; height:63px; background:url(../images/bg_b.png) repeat; position:absolute; left:-1px; bottom:-1px; z-index:99; text-align:center;}
.pro li .des p{ width:96%; margin:0px auto; height:30px; line-height:30px; text-align:center; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; color:#FFF;}
.pro li .des a{ display:inline-block; *display:inline; zoom:1; width:80px; height:23px; border:1px solid #FFFF00; background:#481D03; text-align:center; line-height:23px; color:#FFFF00; font-size:12px;}
.pages{ width:100%; height:30px; line-height:30px; text-align:center;}
.pages a{ display:inline-block; *display:inline; zoom:1; height:30px; line-height:30px; margin:0 5px; font-size:16px; color:#555;}
.pages a.now,.pages a:hover{ color:#E15400;}
.pages a.bg{ width:70px; text-align:center; color:#FFF; background:#646464; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.pages a.bg:hover{ color:#FFF; background:#913701;}
.service{ width:100%;}
.service dt,.service dt img{ width:407px; height:386px; float:left; vertical-align:top;}
.service dd{ width:530px; float:right; text-align:left;}
.service dd p{ text-indent:2em;}
.about{ width:100%; font-size:14px; color:#555555; line-height:255%;}
.contact{ width:100%;}
.contact h1{ width:100%; text-align:center; padding:10px 0 25px; font-size:24px; color:#993900; font-weight:normal;}
.contact dl{ width:100%;}
.contact dl dt{ width:185px; height:274px; float:right; margin-right:150px;}
.contact dl dt img{ width:185px; height:274px; vertical-align:top;}
.contact dl dd{ width:440px; float:left; text-align:left; font-size:16px; color:#555555; line-height:300%;}
.contact .map{ width:100%; margin-top:20px;}
.contact .map img{ width:100%; height:auto; vertical-align:top;}
.news{ width:100%;}
.news dl{ width:100%; padding-bottom:20px; margin-bottom:20px; border-bottom:1px dashed #ddd;}
.news dl dt,.news dl dt img{ width:235px; height:135px; float:left; vertical-align:top;}
.news dl dd{ width:675px; float:right; text-align:left;}
.news dl dd .title{ width:100%; height:30px; line-height:30px; position:relative;}
.news dl dd .title p{ width:70%; height:30px; line-height:30px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.news dl dd .title p a{ font-size:14px; color:#000; font-weight:bold;}
.news dl dd .title p a:hover{ color:#E35500;}
.news dl dd .title em{ display:block; text-align:right; position:absolute; right:0; top:0;}
.news dl dd .des{ width:100%; height:70px; font-size:14px; color:#555555; line-height:170%; overflow:hidden;}
.news dl dd .more{ display:block; width:90px; height:26px; border:1px solid #E35500; text-align:center; line-height:26px; margin-top:7px; font-size:14px; color:#E35500;}
.sj_sp{ display:none;}
.slidegrid {float: left;position: relative;overflow: hidden;}
.slideitems {width: 20000000em;position: absolute;}
.slideitems li {float: left;}
.mainPhoto {width:320px;height: 150px;margin: 0 auto;position: relative;	overflow: hidden}
.mainPhoto span.goleft, .mainPhoto span.goright {display: block;width:38px;height:74px;position: absolute;top: 30px;}
.mainPhoto span.goleft {left: 0; background:url(../images/prev_1.png) no-repeat;}
.mainPhoto span.goright {right: 0; background:url(../images/next_1.png) no-repeat;}
.mainPhoto .go {width:240px;height:128px;position: relative;left:40px;overflow: hidden}
.mainPhoto .go li {width:240px;height:128px;margin-right: 5px;overflow: hidden}
.mainPhoto .go li img{ width:240px; height:128px; vertical-align:top;}