root {display: block;}
html, body, div, label, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, p, blockquote, th, td ,img,textarea{border: 0px;margin: 0px;outline: 0px;padding: 0px;}
fieldset, img { border: 0; }
img { display:inline-block; }
li {display: list-item;text-align: -webkit-match-parent;}
em {font-style: normal;}
h1, h2, h3, h4, h5, h6 {font-weight:bold; }
abbr, acronym { border: 0; font-variant: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
code, kbd, samp, tt { font-size:100%; }
input, button, textarea, select { *font-size: 100%;font-family:"Microsoft YaHei";}
ol, ul { list-style: none outside none; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th { text-align: left; }
:link, :visited, ins { text-decoration: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
a{ color:#666666}
a:hover{ font-size:12px; color:#F90}
html,body{
    margin: 0;
    padding: 0;
    color: #232323;
    font-size: 12px;
    font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,STHeiti;
    letter-spacing: 0px;
	 height: 100%;
     width: 100%;
}
.left{ float:left}
.right{ float:right}
.center{ text-align:center}
.margintop{ margin-top:30px;}
.clearfix:after,
ul:after,
li:after{
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
	clear: both;
	font-size: 0;
	line-height: 0;
}
#top,#header, #mian,#footerbox, .page, .Product_Systems, .Spacing_title{width:1200px; margin:0 auto;}
h1, .h1 {font-size: 36px;}
* {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Microsoft YaHei,SimSun,Arial;
	-webkit-text-size-adjust: none;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
div {display: block;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {display: block;}
.fixToTop {position: fixed;z-index: 99999;top: 0px;}
/***************************************************报价器样式属性*************************************************/
.Offer_OpenBg {
	width: 40px;
	height: 131px;
	background: #46A8E7;
	position: fixed;
	bottom: 30px;
	left: 5px;
	display:none;
	z-index: 100;
	border-radius: 5px;
}
.Offer_OpenTitle {
	width: 40px;
	height: 140px;
	overflow: hidden;
	font-weight: bold;
	background-image: url(../images/Icon_Offer.png);
	background-repeat: no-repeat;
	background-position: center 10px;
	color: #FFF;
	font-size: 23px;
	text-align: center;
	padding-top: 45px;
	line-height: 26px;
}
.OfferBox {
	width: 170px;
	overflow: hidden;
	background: #F4FBFF;
	border-radius: 5px;
	margin: 10px;
	border: 2px solid  #1794C4;
	position: fixed;
	bottom: 20px;
	left: -5px;
	z-index: 100;
}
.OfferBg {width: 100%;height: 100%;position: relative;}
.OfferBox_Close {
	width: 15px;
	height: 15px;
	background: url(../images/offer_popup_close.png);
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 1;
	cursor: pointer;
}
.Icon_Offer {
	width: 25px;
	height: 32px;
	background: url(../images/Icon_Offer.png) no-repeat;
	position: absolute;
	top: 15px;
	left: 15px;
}
.OfferBox_Title {
	width: 168px;
	height: 57px;
	background: url(../images/OfferBox_Title.png) no-repeat 0 -40px;
	color: #FFF;
	font-size: 25px;
	font-weight: bold;
	padding-top: 12px;
	text-indent: 45px;
	position: relative;
}
.OfferBox_Content ul {width: 100%;overflow: hidden;margin-top: 5px;}
.OfferBox_Content {
	width: 160px;
	overflow: hidden;
	margin: 0 auto;
	font-size: 14px;
	color: #666;
	padding: 10px 5px 15px 5px;
	position: relative;
}
.OfferBox_Submit {width: 100%;overflow: hidden;margin-bottom: 15px;}
.OfferBox_Content li {float: left;}
.OfferBox_Content_Name {width:40px;overflow: hidden;line-height: 27px;}
.OfferBox_SelectContent_select select {width: 100px;height: 27px;font-size: 12px;}
.OfferBox_SelectContent_input {width: 98px;height: 27px;border: 1px solid #C3C3C3;background: #FFF;border-radius: 3px;}
.OfferBox_SelectContent_input input {width: 100%;height: 25px;border: 0;border-radius: 3px;color: #999;}
.OfferBox_Submit a {
	display: block;
	width: 140px;
	height: 35px;
	margin: 0 auto;
	background: #46A8E7;
	color: #FFF;
	text-align: center;
	line-height: 35px;
	font-size: 18px;
	border-radius: 5px;
	text-decoration: none;
}
.MallType_ButtonBox {width: 108px;overflow: hidden;margin: 0 auto;}
.MallType_QQ {
    margin-top:20px;
	width: 108px;
	height: 30px;
	overflow: hidden;
	float: left;
	text-align: center;
	cursor: pointer;
	background: url(../images/System_Button.png);
}
.MallType_QQ a {
	display: block;
	line-height: 30px;
	font-size: 12px;
	color: #FFF;
}
/**********************************添加申请样式************************************/
.reveal-modal.add_Application {
	visibility: hidden;
	top: 100px;
	left: 50%;
	background-image:none;
	margin-left:-200px;
	width: 450px;
	height:300px;
	position: absolute;
	z-index: 101;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	-box-shadow: 0 0 10px rgba(0,0,0,.4);
}
.reveal-modal.add_Application .ui-dialog-titlebar {
	background: #46A8E7;
	position: relative;
	padding: 0; 
	height:36px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}
.reveal-modal.add_Application .ui-dialog-title {
	font-size: 15px;
	color: #F9F7F7;
	line-height: 33px;
	padding-left: 10px;
	float: left;
	margin: .1em 0;
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.reveal-modal.add_Application .close-reveal-modal {
	font-size: 22px;
	line-height: 22px;
	text-align: center;
	position: absolute;
	top: 0px;
	right: 0px;
	color: #fff;
	text-shadow: 0 -1px 1px rbga(0,0,0,.6);
	font-weight: bold;
	cursor: pointer;
	background:none;
	height: 30px;
	width: 30px;
	-moz-border-radius: 0px;
	-webkit-border-radius:0px;
	border-radius:0px;
}
.reveal-modal.add_Application .login_content {width: 100%;overflow: hidden;margin: 12px 0;}
.reveal-modal.add_Application .login_left_button {height: 50px;float: left;}
.reveal-modal.add_Application .login_right_button {height: 50px;float: right;}
.reveal-modal.add_Application .login_content li {float: left;}
.login_content_name {
	width: 100px;
	overflow: hidden;
	text-align: right;
	color: #828284;
	line-height: 36px;
}
.login_content_input {width: 210px;overflow: hidden;}
.login_content a {color: #3C7BC5;line-height: 36px;padding-left: 5px;}
.login_content_other {overflow: hidden;text-align: left;line-height: 36px;}
.login_content_input input {
	width: 198px;
	height: 28px;
	border: 1px solid #B1B1B2;
	border-radius: 5px;
	margin: 3px;
	line-height: 28px;
}
.login_button_loginQQ {
	width: auto;
	overflow: hidden;
	line-height: 33px;
	font-size: 14px;
	color: #999;
	float: left;
	cursor: pointer;
	background: #DDD;
	padding: 0 10px;
	border-radius: 5px;
	min-width: 61px;
	text-align: center;
}
.login_left_button li {float: left;margin: 10px 10px 0 5px;}
.login_right_button li {float: right;margin: 10px 10px 0 5px;}
.login_button_login {
	width: 81px;
	height: 33px;
	background: #46A8E7;
	text-align: center;
	font-size: 14px;
	color: #FFF;
	line-height: 33px;
	cursor: pointer;
	border-radius: 5px;
}
.login_button_cancle {
	width: 30px;
	height: 33px;
	text-align: center;
	line-height: 33px;
	color: #646464;
	text-shadow: 0 1px 0 #FFF;
	cursor: pointer;
}
.Icon_Support {width: 24px;height: 24px;background: url(../images/Icon_support.png);margin: 0 auto;}