
/*********************************************************************************************************/
#header .topher{ margin-top:30px; height:110px;}
#header .topher .logo_lngk{ float:left; width:320px; margin-right:20px; display:block; height:80px; margin-top:10px;}
#header .topher .nav{ width:560px; float:left;}
#header .topher .nav .Menu{ margin-top:30px;}
#header .topher .nav  .Menu li{ float:left; padding:0px 25px; text-align:center}
#header .topher .nav  .Menu li h4{ font-size:16px}
#header .topher  .telephone{ float:right}
#header .topher  .telephone .phone_style{ line-height:24px; float: left; margin-right:10px;}
#header .topher  .telephone .phone_style h4{ font-size:16px; color:#FF3300; letter-spacing:1.5px;}
#header .topher  .telephone .phone_style em{ display:block; background:url(../images/phone.png) no-repeat; height:36px; width:35px; float:left; margin-right:8px;}
#header .topher  .telephone .Number{ font-size:24px; font-family:Impact; color:#13BB20; line-height:35px; margin:5px 0px;}
#header .topher  .telephone .phone_style .Note{  border-top:1px solid #ddd; font-family:"新宋体"; color:#15A8D2;letter-spacing:1.5px;}
/************************幻灯片样式****************************/
.slideBox{ height:440px; overflow:hidden; position:relative;  }
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; left:45%; bottom:10px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ 
	float:left; 
	margin-right:2px;  
	line-height:14px; 
	text-align:center; 
	background-color: #FFFFFF;
	cursor:pointer; 
	width: 15px;
	height: 15px;
	float: left;
	border-radius: 50% 50% 50% 50%;
	cursor: pointer;
	display: inline-block;
	margin: 0 4px;
	overflow: hidden;
	text-indent: -999px
}
.slideBox .hd ul li.on{ background:#215993; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; text-align:center}
.slideBox .bd img{ max-width:100%; height:490px; display:block;  }
.slideBox .prev,
.slideBox .next{ 
    position:absolute; 
	left:3%; 
	top:40%;  
	display:block; 
	width:50px; 
	height:120px;
	background:url(../images/icon_IndexBanner.png) no-repeat;
	filter:alpha(opacity=50);
	opacity:0.5;
}
.slideBox .prev{ width:50px; height:120px;}
.slideBox .next{ left:auto; right:3%; background-position:-50px 0px; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1; }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }
.IndexBanner_banner_Button {width: 1200px;height: 440px;margin: 0 auto;position: relative; z-index:111}
.Title1{position: absolute;top: 100px;left: 560px; font-size:36px}
.IndexBanner_banner_Button a {
	display: block;
	width: 183px;
	height: 55px;
	cursor: pointer;
	border-radius: 5px;
	color: #FFF;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	line-height: 50px;
}
.IndexBanner_banner_Title {
	width: 550px;
	overflow: hidden;
	font-size: 52px;
	font-weight: bold;
	color: #FFF;
}
.IndexBanner_banner1_a1 {
	position: absolute;
	top: 199px;
	left: 722px;
	background: #EE9515;
	border-bottom: 4px solid #B76E06;
}
.IndexBanner_banner_Button a {
	display: block;
	width: 183px;
	height: 55px;
	cursor: pointer;
	border-radius: 5px;
	color: #FFF;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	line-height: 50px;
}
.IndexBanner_banner_Button a:hover{ color:#FFFFFF; font-size:28px;}
.IndexBanner_banner1_a2 {
	position: absolute;
	top: 199px;
	left: 925px;
	background: #2EB4E4;
	border-bottom: 4px solid #187EA2;
}
.IndexBanner_Text {
	width: 1200px;
	height: 92px;
	position: absolute;
	bottom: 0;
	left: center;
	z-index:1111;
}
.IndexBanner_Text dl {
	width: 300px;
	float: left;
	padding: 10px;
	cursor: pointer;
}
.IndexBanner_Text dt {
	width: 100%;
	overflow: hidden;
	font-size: 22px;
	font-weight: bold;
	color: #FFF;
}
.IndexBanner_Text dd {width: 100%;overflow: hidden;font-size: 16px;color: #FFF; text-align:left}
.IndexBanner_Text1 {background: #44B5EF;}
.IndexBanner_Text2 {background: #F0B245;}
.IndexBanner_Text3 {background: #30D497;}
.IndexBanner_Text4 {background: #F24875;}
.IndexBanner_Text2:hover {background: #EDA538;}
.IndexBanner_Text3:hover {background: #27CC88;}
.IndexBanner_Text1:hover {background: #38A9EC;}
.IndexBanner_Text4:hover {background: #F03B65;}
/*******************************************产品图层样式属性************************************************/
.Products{ background:#fbf8f1; padding:30px 0px;}
.Products .Systems_info{ width:300px; float:left; padding:10px; text-align:center; line-height:24px; position:relative}
.Products .Systems_info:hover{left:-3px}
.Products .Systems_info .title_name h5{ font-size:18px; color:#333333}
.Products .Systems_info .title_name{ color:#999999; padding:5px 0px;}
.Products .Systems_info .About{ text-align:left; color:#999999; font-size:14px} 
.Products .Products_title_name{ text-align:center; color:#333333; font-size: 36px; border-bottom:2px solid #29a5d9; height:60px; margin-bottom:30px;}
.Products .title_English{ 
	display:block;
	background: #29a5d9;
	height:30px; 
	font-size:16px; 
	color:#FFFFFF; 
	line-height:30px; 
	text-align:center;
	width:220px; 
	margin:0 auto;
	-moz-border-radius: 15px;      /* Gecko browsers */
	-webkit-border-radius: 15px;   /* Webkit browsers */
	border-radius:15px;            /* W3C syntax */
}
/******************************************/
.heading_relative{ position:relative}
.heading.heading-border {margin: 45px 0px 25px 0px;}
.heading.heading_relative:before {
	border-top: 1px solid #DBDBDB;
	content: "";
	height: 0;
	left: auto;
	position: absolute;
	right: 0;
	top: 50%;
	width: 100%;
}
.heading.heading_relative h4{color: #F60 !important; font-size:18px;}
.heading .heading-primary {position: relative;background: #FFF;display: inline-block;padding:0px 45px}
.mb-xl {margin-bottom: 25px !important;}
.heading h1 {line-height: 44px;margin: 0 0 32px 0;}
.lead {margin-bottom: 25px;font-size: 16px;font-weight: 300;line-height: 1.4;}
/**********列表样式属性**********/
.Industry_info_title{ width:300px; float:left; padding:20px; text-align:center}
.thumb-info-centered-info .thumb-info-title {
	background: rgba(0, 0, 0, 0);
	left: 5%;
	width: 90%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	top: 30%;
	filter: alpha(opacity=0);
	opacity: 0;
	text-align: center;
	padding: 0;
}
.thumb-info-title {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background: url(../images/bg_Transparent.png) repeat;
	text-align:center;
	bottom:0;
	display:none;
	color: #FFF;
	font-size: 18px;
	left: 0;
	width:260px;
	height:160px;
	letter-spacing: -1px;
	position: absolute;
	text-transform: uppercase;
	z-index: 2;
}
 .thumb-info-wrapper {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	border-radius: 4px;
	margin: 4px;
	overflow: hidden;
	display: block;
	position: relative;
}
.Industry_info_title h4{ font-size:18px; margin:10px 0px}
.Industry_info_title  p {color: #666;line-height: 20px;margin: 0 0 20px;}
.Industry_info_title a{ color:#FF6600; font-size:14px}
.Industry_info_title .thumb-info-title img {
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
	margin-top:40px;
}
.thumb-info-no-borders img {border: 0;padding: 0;margin: 0;border-radius: 0;}
/****************************************平台亮点属性******************************************/
.Platform_ld{ background:url(../images/bg_img_02.png) no-repeat #e07166; height:532px; background-position:center;  }
.Platform_ld .title_name{ 
	background:url(../images/title_bgimg_03.png) no-repeat; 
	height:100px; 
	width:356px; 
	margin:0 auto; 
	text-align:center; 
	line-height:40px; 
	color:#FFFFFF; 
	font-size:18px; 
	padding:20px 0px;
}
.Platform_ld .Platform_contect{ margin-top:50px;}
.Platform_ld .Platform_contect li{ width:400px; float:left; text-align:center; padding:0px 30px;}
.Platform_ld .Platform_contect li .name{ font-size:24px; color:#FFFFFF; width:200px; margin:0 auto; padding-top:20px}
/********************************功能介绍样式属性**********************************/
.NEW_function {width: 100%;overflow: hidden;border-bottom: 1px solid #E2E2E2;background-color: #F6F6F6;border-top: 1px solid #E2E2E2;}
.NEW_function_box {width: 1200px;overflow: hidden;margin: 0 auto;margin-bottom: 30px;margin-top: 20px;}
.NEW_function_first {width: 170px;overflow: hidden;padding: 10px;float: left;cursor: default;}
/*******鼠标为移动的效果*****/
.NEW_function .icon_function_a {width: 50px;height: 50px;background: url(../images/icon_function_a.png);}
.NEW_function .icon_function_b {width: 50px;height: 50px;background: url(../images/icon_function_b.png);}
.NEW_function .icon_function_c {width: 50px;height: 50px;background: url(../images/icon_function_c.png);}
.NEW_function .icon_function_d {width: 50px;height: 50px;background: url(../images/icon_function_d.png);}
.NEW_function .icon_function_e{width: 50px;height: 50px;background: url(../images/icon_function_e.png);}
.NEW_function .icon_function_f {width: 50px;height: 50px;background: url(../images/icon_function_f.png);}
/******鼠标移动上去的效果******/
.NEW_function .hover .icon_function_a{width: 50px;height: 50px;background: url(../images/icon_function_a_hover.png);}
.NEW_function .hover .icon_function_b {width: 50px;height: 50px;background: url(../images/icon_function_b_hover.png);}
.NEW_function .hover .icon_function_c{width: 50px;height: 50px;background: url(../images/icon_function_c_hover.png);}
.NEW_function .hover .icon_function_d{width: 50px;height: 50px;background: url(../images/icon_function_d_hover.png);}
.NEW_function .hover .icon_function_e {width: 50px;height: 50px;background: url(../images/icon_function_e_hover.png);}
.NEW_function .hover .icon_function_f {width: 50px;height: 50px;background: url(../images/icon_function_f_hover.png);}
.NEW_function .icon_function_g {width: 50px;height: 50px;background: url(../images/32-Home-circle.png);}
.NEW_function .hover .icon_function_g {width: 50px;height: 50px;background: url(../images/32-Home-circle2.png);}
.NEW_function_button {width: 50px;height: 50px;margin: 0 auto;margin-top: 20px;cursor: pointer;}
.NEW_function_title {width: 100%;line-height: 50px;text-align: center;font-size: 20px;color: #262626;}
.NEW_function_introduce {width: 163px;overflow: hidden;color: #858585;line-height: 20px;}
/*************************************************案例展示属性*****************************************************/
.Case_list li{ width:400px; padding:15px; float:left; position:relative}
.Case_list li a{ display:block; border:1px solid #ddd;}
.Case_list li img{ width:368px; height:250px;}
.Case_list .Case_contect{ 
	color:#FFFFFF; 
	padding:10px; 
	position:absolute; 
	width:368px; 
	height:70px; 
	bottom:15px; 
	background: url(../images/bg_Transparent.png) repeat;
	line-height:30px;
}
.Case_list .title{ font-size:18px;}
.Case_list .Case_time{ font-size:14px; color:#FF6600;}
.Case_list .Case_About{ display:none}
.Case_list .hover .Case_About{ display:block}
/***************************************************增值服务样式属性*****************************************/
.NEW_accretion {width: 100%;overflow: hidden;background: #F7F7F7;border-top: 1px solid #FFF;border-bottom: 1px solid #FFF;}
.NEW_accretion_content {width: 1200px;overflow: hidden;margin: 0 auto;margin-top: 15px;}
.NEW_accretion_first {width: 300px;overflow: hidden;float: left;padding: 27px 10px 0 0;position: relative;}

.NEW_accretion_title {
	width: 100%;
	overflow: hidden;
	line-height: 30px;
	font-size: 20px;
	color: #191E26;
	text-indent: 75px;
}
.NEW_accretion_state {
	width: 230px;
	height: 141px;
	color: #858585;
	line-height: 20px;
	text-indent: 24px;
	margin-top: 20px;
	font-size: 14px;
	padding-left: 15px;
}
.icon_accretion_phone,
.icon_accretion_pay,
.icon_accretion_mail,
.icon_accretion_a {width: 60px;height: 60px;	position: absolute;top: 12px;left: 8px;}
.icon_accretion_phone {background: url(../images/icon_accretion_phone.png);}
.icon_accretion_pay {background: url(../images/icon_accretion_pay.png);}
.icon_accretion_mail {background: url(../images/icon_accretion_mail.png);}
.icon_accretion_a {background: url(../images/icon_accretion_a.png);}
/*****************客户*********************/
.Solution_Client {
	width:1200px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 30px;
}
.Solution_Client li {width:148px;height:56px;float:left;border:1px solid #D6D6D6;margin:10px;}
/************************************************************/
.Sign_up{ background:#F3F3F3; padding:20px 0px;}
.ban-layer-con-p {
    text-align:center;
	margin-bottom: 10px;
	padding: 0;
	color: #333333;
	font-size: 24px;
	line-height: 60px;
	z-index: 999;
    border-bottom:1px solid #ddd;
}
.ban-layer-con-select {width: 890px;margin: 0 auto;z-index: 999;height: 100%;}
.center-block {display: block;margin-right: auto;margin-left: auto;}
.wrap-span {margin-right: 18px;}
.text-blue {color: #47A1D9;float: left;margin-left: 10px;}
.wrapper-demo {margin-right: 20px;float: left;font-weight: 400;}
.wrapper-dropdown-1 {
	/* Size and position */
	position: relative; /* Enable absolute positionning for children and pseudo elements */
	width: 184px;
	padding: 8px;
	margin: 0 auto;
	border-radius: 3px;	
	border:1px solid #ddd;
	/* Styles */
	background: #fff;
	color: #000;
	outline: none;
	cursor: pointer;	
	/* Font settings
	font-weight: bold;*/
}
.wrapper-dropdown-2 input {border: none;color: #CCC;}
.text-dark {color: #1D2127 !important;}
.wrapper-dropdown-2 {
	position: relative;
	width: 300px;
	padding: 8px;
	margin: 0 auto;
	background: #FFF;
	color: #000;
	outline: none;
	cursor: pointer;
	border-radius: 3px;
	border:1px solid #ddd;
}
.wrapper-dropdown-1:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	right: 16px;
	top: 50%;
	margin-top: -6px;
	border-width: 6px 0 6px 6px;
	border-style: solid;
	border-color: transparent #000;
}

.wrapper-dropdown-1 .dropdown {
	/* Size & position */
	position: absolute;
	display:none;
	top: 100%;
	left: 0;
	right: 0;	
	/* Styles */
	background: #fff;
	list-style: none;
	font-weight: normal; /* Cancels previous font-weight: bold; */	
	/* Hiding */
	opacity: 0;
	pointer-events: none;
	z-index:11;
}
.wrapper-dropdown-1 .dropdown li .ipt-a {display: block;text-decoration: none;color: #333;padding: 10px 20px;}
/* Hover state */
.wrapper-dropdown-1 .dropdown li:hover .ipt-a {background: #f3f8f8;}
/* Active state */
.wrapper-dropdown-1.active .dropdown {
	opacity: 1;
	pointer-events: auto;
	overflow-y: scroll;
	border: 1px solid #ddd;
	height: 141px;
}
.wrapper-dropdown-1.active:after {border-color: #9bc7de transparent;border-width: 6px 6px 0 6px ;margin-top: -3px;}
.wrapper-dropdown-1.active {
	background: #9bc7de;
	background: -moz-linear-gradient(left,  #9bc7de 0%, #9bc7de 78%, #ffffff 78%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#9bc7de), color-stop(78%,#9bc7de), color-stop(78%,#ffffff), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(left,  #9bc7de 0%,#9bc7de 78%,#ffffff 78%,#ffffff 100%);
	background: -o-linear-gradient(left,  #9bc7de 0%,#9bc7de 78%,#ffffff 78%,#ffffff 100%);
	background: -ms-linear-gradient(left,  #9bc7de 0%,#9bc7de 78%,#ffffff 78%,#ffffff 100%);
	background: linear-gradient(to right,  #9bc7de 0%,#9bc7de 78%,#ffffff 78%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc7de', endColorstr='#ffffff',GradientType=1 );
}
.ban-layer-con-select button {
	width: 100px;
	padding: 8px;
	margin: 0 auto;
	float: left;
	background: #47A1D9;
	color: #FFF;
	border-radius: 3px;
	border: none;
}
/******************底部样式属性*********************/
#footer {
	background: #363431;
	border-top: 4px solid #312F2C;
	font-size: 14px;
	padding: 20px 0 0;
	position: relative;
	clear: both;
	line-height:30px;
}
#footer .nav-pills li {width: 50%;line-height: 30px;}
.nav-pills > li {float: left;}
#footer p {color: #999;}
.nav > li {position: relative;display: block;}
#footer h1, #footer h2, #footer h3, #footer h4, #footer a {color: #999 !important;}
#footer h4 {font-size: 1.8em;font-weight: 200; margin-bottom:10px;}
#footer .col-md-2{ float:left; padding:10px; width:200px;}
#footer ul i {width: 24px;font-size: 20px;}
.col-md-4{ float:left; width:400px;}
#footer .footer-copyright {background: #22201D;border-top: 4px solid #1D1B18;margin-top: 40px;padding: 30px 0 10px;}
#footer .footer-copyright nav {float: right;}
#footer .footer-copyright nav ul {list-style: none;margin: 0;padding: 0;}
#footer .footer-copyright nav ul li {border-left: 1px solid #505050;display: inline-block;line-height: 12px;margin: 0;padding: 0 8px;float:left}
#footer .footer-copyright nav ul li:first-child {border: medium none;padding-left: 0;}
.col-md-6 {width:300; float:left}
.logo_img{ float:left; width:300px; margin-right:10px;}
.scroll-to-top.visible {filter: alpha(opacity=75);opacity: 1;}
.scroll-to-top {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background: #404040;
	border-radius: 4px 4px 0 0;
	bottom: 0px;
	color: #FFF;
	display: block;
	height: 9px;
	opacity: 0;
	padding: 13px 10px 35px;
	position: fixed;
	right: 10px;
	text-align: center;
	text-decoration: none;
	min-width: 34px;
	z-index: 1040;
}
/*********************************qq资讯样式*****************************/
.kfli img{top:10px; position:relative;}
.kfli{
	height:40px; 
	line-height:30px; 
	color: #000000; 
	text-align:center;
	cursor:pointer; 
	border-bottom:1px solid  #D8D8D8; 
	margin:0px 20px; 
	font-size:14px; 
}
#leftad span,#rightad span{cursor:pointer;} 
#divMenu{ float:right; width:161px;} 
.phone_Advisory{ text-align:center;} 
.phone_img{ background:url(../images/QQ_phone.png) no-repeat; height:29px; text-align:center; background-position:center;}
.phone_Advisory .Number{ font-size:18px; font-family:Impact; color: #CC0000; text-align:center;}
.QQ_bottom{ background:url(../images/QQ_img_08.png) no-repeat; height:30px;}
/* 在线客服 */
#online_qq_layer { position:fixed; right:0px; top:150px; overflow:hidden; _position:absolute; z-index:110; }
#online_qq_tab { float:left; margin-top: 10px; }
.online_icon { width:30px; height:185px; overflow:hidden;}
.online_icon a { display:block; width:30px; height:185px; background: url(../images/zixun_img.png) no-repeat left top; }
#onlineService { float:left; display:none;}
.online_windows { width:161px;}
.online_w_top { background:url(../images/qq_online_top.png) no-repeat; height:9px;}
.online_w_c { background:url(../images/qq_online_mid.png) repeat-y; }
.online_w_bottom { background:url(../images/qq_online_bot.png) no-repeat; height:20px; margin-left:-1px;}
#online_qq, #online_tel, #online_weixin { clear:both; width:160px; }
#online_qq ul li { line-height:36px; border-bottom:1px solid #e7e7e7;}
#online_qq .phone_img {
background: url(../images/QQ_phone.png) no-repeat;
height: 29px;
text-align: center;
background-position: center;
}
/*****************************************内页样式属性******************************************/
.Advertising{ position:relative; height:320px;}
a.Advisory_btn{ 
	position:absolute; 
	right:10px;
	bottom:10px;
	font-size:18px;
	width:150px; 
	height:40px; 
	line-height:40px; 
	color: #7D4B03; 
	background:#FF9900;
	font-weight:bold;
	text-align: center;
	-moz-border-radius:5px;      /* Gecko browsers */
	-webkit-border-radius:5px;   /* Webkit browsers */
	border-radius:5px;            /* W3C syntax */
	text-shadow: 0 1px 0 #fff;
}
a.Advisory_btn:hover{ font-size:18px; background: #FF6600; color:#000000}
.web_way {width: 1200px;overflow: hidden;margin:10px 0px;}
.web_way li {float: left;line-height: 25px;color: #999997;margin-right: 3px;}
.button_way {width: 13px;height: 20px;background: url(../images/img.png) no-repeat 0 -17px;}
/***************************************************/
#cases_list{ margin:20px 0px;}
.cases_title{ height:50px; line-height:50px; border-bottom:1px solid #ddd; margin-bottom:30px; background:#FFFFFF}
.cases_title ul{ width:1200px; margin:0 auto}
.cases_title li.hovers{ 
	border-left:1px solid #ddd; 
	border-right:1px solid #ddd;
	border-bottom:1px solid #fff;
	border-top:1px solid #ddd;
	background:#FFFFFF;
	margin-top:-2px;
	-moz-border-radius:5px 5px 0px 0px;      /* Gecko browsers */
	-webkit-border-radius:5px 5px 0px 0px;   /* Webkit browsers */
	border-radius:5px 5px 0px 0px;            /* W3C syntax */
}
.cases_title li{ padding:0px 30px; float:left}
.cases_title li a{ font-size:24px}
.Screening{ border:1px solid #ddd; padding:10px; margin-bottom:20px;}
.Screening .Screening_title{ border-bottom:1px solid #ddd; height:30px; line-height:30px; font-size:18px;}
.Template_Classify_list {
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.Template_Classify_list li a{ line-height: 25px;font-size: 14px;text-align: center;color: #858585;}
.Template_Classify_list li {float:left;min-width:78px;height: 25px;padding: 0 10px;}
.Template_Classify_list .checked a {color: #4B8AD3;}
.cases_list .p_case_name{ width:300px; padding:10px; float:left;}
.cases_list .p_case_name .case_img{position:relative; height:180px;}
.cases_list .p_case_name .Preview{ display:none}
.cases_list .p_case_name.hover .Frame{ display:block; border:2px solid #0066FF}
.cases_list .p_case_name .Frame{ border:2px solid #ddd; display:block;}
.cases_list .p_case_name.hover .Preview{ display:block;width:280px; background:url(../images/bg_Transparent.png) repeat-x; height:40px; position:absolute; bottom:-3px;}
.cases_list .p_case_name.hover .Preview a{ color:#FFFFFF; position:absolute; bottom:5px; right:5px; width:50px; font-size:14px; background:#0066FF; height:30px; text-align:center; line-height:30px;}
.cases_list .p_case_name img{ width:276px; height:180px; box-shadow:0px 1px 3px #ddd; -moz-box-shadow:0px 1px 3px #ddd; -webkit-box-shadow:0px 1px 3px #ddd;}
.cases_list .case_info{ padding:10px 0px; line-height:24px}
.cases_list .case_info .title{ font-size:18px; color:#0066FF}
.cases_list .case_info .Profile{ color:#999999; font-family:"新宋体"}

/*************************分页样式属性****************************/
.pagenation_case {
	clear: both;
	width: auto;
	text-align: center;
	padding-top: 38px;
	padding-bottom: 10px;
}
.pagePrev_case {display: inline-block;width: 66px;height: 29px;zoom: 1;}
.pagePrev_case .prevHide_case {display: block;width: 66px;height: 29px;background: url(../images/pagenation/prevHideCase.png) no-repeat;}
.pageNo_case {
	display: inline-block;
	width: 30px;
	height: 29px;
	position: relative;
	top: -10px;
	zoom: 1;
}
.pageCaseBottom {
	display: inline-block;
	width: 52px;
	height: 29px;
	margin-left: 10px;
	position: relative;
	top: -10px;
	zoom: 1;
}
.pageCaseBottomInput {
	display: inline-block;
	width: 95px;
	height: 24px;
	position: relative;
	top: -10px;
	_top: 0;
	zoom: 1;
}
.pageCaseBottomInput input {width: 43px;margin-left: 2px;margin-right: 2px;outline: 0;}
.pageCaseBottom .grayTitle {display: block;width: auto;height: 29px;line-height: 29px;color: #484848;font-size: 12px;}
.pageNext_case a.nextShow_case:hover {background: url(../images/pagenation/nextShowCaseHover.png?v=201401081845) no-repeat;}
.pageNext_case {display: inline-block;width: 66px;height: 29px;zoom: 1;}
.pageEllipsis_new {display: inline-block;width: 21px;height: 28px;zoom: 1;background: url(../images/pagenation/ellipsis_new.jpg?v=201312251730) no-repeat;}
.pageNext_case a.nextShow_case {display: block;width: 66px;height: 29px;background: url(../images/pagenation/nextShowCase.png) no-repeat;}
.pageCaseBottom .bottomSearch {
	display: block;
	width: 51px;
	height: 23px;
	border: 1px solid #FD6500;
	border-radius: 3px;
	color: #FFF;
	line-height: 24px;
	background: #FF7200;
	cursor: pointer;
	position: relative;
	top: -1px;
}
.cases_list .weixin{ background: url(../images/Cell_phone_White.png) no-repeat; background-position:center; position:relative}
.cases_list .weixin.hover .hover_style{ display:block}
.cases_list .weixin .hover_style{ display:none; position:absolute; width:192px; height:344px; background:url(../images/bg_Transparent.png) repeat;top:90px; left:54px;}
.cases_list .weixin.hover{ background:url(../images/Cell_phone_black.png) no-repeat;background-position:center; }
.cases_list .title_name{ margin-top:70px; text-align:center; color:#0066FF; font-size:16px}
.cases_list .hover_style .wx_Prompt{ font-size:16px; text-align:center; color:#FFFFFF; margin-top:30px;}
.cases_list .hover_style .wx_rwm img{ width:130px; height:130px;}
.cases_list .hover_style .wx_rwm{ width:130px; margin:0 auto; margin-top:50px;}
.cases_list .case_img_wx{ width:200px; height:340px; margin-left:44px; margin-top:80px;}
.cases_list .wx_Preview_btn{ 
	display:block; 
	width:80px; 
	height:30px; 
	line-height:30px; 
	color:#FFFFFF;
	background:#FF6600;
	margin:0 auto; 
	margin-top:20px;
	-moz-border-radius:5px ;      /* Gecko browsers */
	-webkit-border-radius:5px ;   /* Webkit browsers */
	border-radius:5px;            /* W3C syntax */
	text-align: center;
	font-size:18px
}
.cases_list .case_img_wx img{ width:192px; height:340px;}
/*********************************************联系我们样式属性**************************************/
.contact{ margin:30px 0px;}
.contact .title_name{ height:60px; border-bottom:1px solid #0066FF; text-align:center;}
.contact .title_name .titles{ font-size:24px; line-height:40px;}
.contact .English_title{ 
	background:#0066FF; 
	color:#FFFFFF; 
	padding:3px 10px; 
	display:inline-table;	
	-moz-border-radius:5px ;      /* Gecko browsers */
	-webkit-border-radius:5px ;   /* Webkit browsers */
	border-radius:5px;            /* W3C syntax */
	font-size:18px
}
.contact .Contact_info{ line-height:30px; margin-top:20px; width:500px; border-right:1px solid #ddd; float:left; height:250px}
.contact .Contact_info li{ font-size:16px}
.contact .cantact_img{ float:left;}
.contact .Contact_info .company_name{ font-size:24px; color:#0066FF}
.contact_Office{ width:380px; padding:10px; float:left; line-height:30px; margin-bottom:30px}
.contact_Office li{ font-size:14px}
.contact_Office em{ 
	background:#0066FF; 
	height:30px; 
	text-align:center; 
	width:30px;
	font-size:16px; 
	font-family:Impact; 
	color:#FFFFFF; 
	display:block; 
	float:left;	
	-moz-border-radius:15px ;      /* Gecko browsers */
	-webkit-border-radius:15px ;   /* Webkit browsers */
	border-radius:15px;            /* W3C syntax */
	margin-right:10px;
}
/***********************解决方案样式属性********************************/
.solution{ margin:20px 0px;}
.solution .hd{ height:40px; line-height:40px; margin:10px 0px;}
.solution .hd li{ float:left; padding:0px 30px; font-size:24px;}
.solution .hd li.on{ 
	background:#0066FF; 
	color:#FFFFFF;
	-moz-border-radius:15px ;      /* Gecko browsers */
	-webkit-border-radius:15px ;   /* Webkit browsers */
	border-radius:15px;            /* W3C syntax */
}
.solution .bd{ padding:20px 0px;}
.solution .solution_img{ height:100px; background:url(../images/solution_img_03.png) no-repeat; position:relative}
.solution .solution_img span{ position:absolute; left:40px; top:15px; font-size:24px; color:#FFFFFF; width:50px;}
.description .hd{ background:#FFFFFF; width:1200px; height: 50px;line-height: 50px;border-bottom: 1px solid #DDD;margin-bottom: 30px;}
.description .hd li {padding: 0px 30px;float: left;}
.description .hd li a{ font-size:24px}
.description .hd li.on{border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #FFF;
	border-top: 1px solid #DDD;
	background: #FFF;
	margin-top: -2px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}
/*****************树桩菜单栏样式属性**********************/
.Product_Button{ background:url(../images/p_btn_03.png) no-repeat; height:40px; width:198px; text-align:center; color:#FFFFFF; font-size:18px; line-height:40px;
padding:8px 55px; margin-right:30px;}
.Product_Button:hover{ font-size:18px; color:#FFFFFF}
.jumpto_p_d_btn{ margin-top:20px;}
.jumpto_p_d_btn .Product_Button{ display:block; float:right; width:198px; height:40px; padding:0px; margin-right:20px;}
.p_d_btn{ height:50px; margin:10px; text-align:center;}
.jumpto-block{ margin-left:150px; position:relative; margin-bottom:40px;}
.jumpto-block .p_Headline{ display:block; background:url(../images/product_description_img_10.png) no-repeat; position:relative; height:120px;}
.jumpto-block .p_Headline i{ font-size:42px; font-family:Impact; color:#FFFFFF; top:30px; left:50px; position:absolute}
.jumpto-block .p_Headline .title_name{ padding-left:150px; padding-top:30px;font-size:36px; color:#0d9cde; display:block;}
.jumpto-block h2{ position:absolute; font-size:42px; color: #0d9cde; top:30px;  left:150px; font-weight:normal}
.jumpto-block .img{ float:left; width:550px; margin-right:10px;}
.jumpto-block .info_contect{ float:left; width:450px; font-size:16px; line-height:30px;}
.jumpto-cotainer {
  position: relative;
}
.jumpto-subnav {
  position: absolute;
  top: 0;
  width: 120px;
}

.jumpto-subnav .jumpto-second {
  display: none;
}

.jumpto-subnav.fixed {
  position: fixed !important;
  left: auto;
  top: 25px;
}

.jumpto-subnav.fixed.bottom {
  top: auto;
  bottom: 0;
  position: absolute !important;
}

.jumpto-subnav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.jumpto-subnav ul li{
  list-style: none;
  background:url(../images/p_Menu_06.png) no-repeat;
  height:43px;
  background-position:right;
  padding: 0;
  margin: 0;
}

.jumpto-subnav ul li a {
 text-align: right;
 padding-right:20px;
 display: block;
 box-sizing: border-box; 
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 color: #333333;
 font-size: 12px;
}

.jumpto-subnav ul li a:hover, .jumpto-subnav ul li a.active {
  background: url(../images/p_Menu_03.png) no-repeat ;
   padding-right:20px;
  background-position:right top;
  color:#0066FF
  
}
.jumpto-subnav ul > li > ul > li > a{
  padding-left: 15px;
}

.jumpto-title, .jumpto-close a{
  background: #7D0A2C;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 10px;
  display: block;
}
/*******************弹出图层**********************/
.reveal-modal-bg { 
	position: fixed; 
	height: 100%;
	width: 100%;
	background:#fff;
	background: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
	top: 0;
	left: 0; 
}
.reveal-modal {
	visibility: hidden;
	top: 100px; 
	left: 50%;
	margin-left: -300px;
	width: 600px;
	height:400px;
	background: url(../images/shiyong_img_03.png) no-repeat #FFFFFF ;
	background-position:bottom left;
	position: absolute;
	z-index: 101;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-box-shadow: 0 0 10px rgba(0,0,0,.4);
}

.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
.reveal-modal h2{
    text-align:center;
	background:#F3F3F3;
	font-size:24px;
	border-bottom:1px solid #ddd;
	line-height:50px; height:50px;	
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}
.reveal-modal .Prompt{ padding:10px 50px; font-size:24px; color:#0099FF; line-height:40px; border-bottom:1px solid #ddd;}
.reveal-modal .phone{ padding:10px; text-align:center; font-size:24px;}
.reveal-modal .phone b{ font-size:24px; color:#FF6600; position:relative; height:60px; line-height:60px;}
.reveal-modal .phone em{ display:block; background:url(../images/shiyong_img_06.png) no-repeat; height:58px; width:58px; position:absolute; left:40px;}
.reveal-modal .qq{ margin:30px}
.reveal-modal .qq_ul{ float:left;}
.reveal-modal .qq_ul li{ border:0px; float:left; width:90px; margin:0px 10px;}
.reveal-modal .qq_title{ font-size:18px; line-height:40px; height:40px; float:left}
.reveal-modal .close-reveal-modal {
	font-size: 22px;
	line-height:22px;
	text-align:center;
	position: absolute;
	top: -10px;
	right: -10px;
	color: #999999;
	text-shadow: 0 -1px 1px rbga(0,0,0,.6);
	font-weight: bold;
	cursor: pointer;
	background:#F3F3F3;
	height:30px;
	width:30px;
	-moz-border-radius:20px ;      /* Gecko browsers */
	-webkit-border-radius:20px ;   /* Webkit browsers */
	border-radius:20px;            /* W3C syntax */
} 
