@media screen and (max-width:1030px){
.t_bg .top,.head,.nav_m,.i_ma,.i_mb,.i_mc,.f_nav,.bq,.scd{width:740px; margin:0px auto;}
.head .search{ margin-left:35px; width:258px;}
.head .search input[type="text"]{ width:248px;}
.nav_m .nav li a{ font-size:15px;}
.nav_m .nav li,.nav_m .nav li a{ width:82px;}
.nav_m .nav li a i{ left:35px;}
.i_ma .ip_l{ width:100%; padding:0;}
.i_ma .ip_l li{ margin-right:15px; margin-bottom:15px; }
.i_ma .ip_l li,.i_ma .ip_l li .tu,.i_ma .ip_l li .des{width:234px; height:204px;}
.i_ma .ip_l li .tu img{ width:206px; height:146px;}
.i_ma .ip_l li .tu .title{ width:90%;}
.i_ma .ip_l li .des .more{ display:none;}
.i_mb dl{ margin-right:15px; width:236px;}
.i_mb dl dt, .i_mb dl dt img{ width:80px; height:80px;}
.i_mb dl dd{ width:150px;}
.i_mb dl dd .name{ height:30px; line-height:30px;}
.i_mc .i_mcl,.i_mc .i_mcr,.f_nav .f_nl,.f_nav .f_nr{ width:360px;}
.i_mc .i_mcl{ margin-right:20px;}
.i_mc dl dt, .i_mc dl dt img{ width:172px; height:99px;}
.i_mc dl dd{ width:180px;}
.i_mc dl dd .title{ height:28px; line-height:28px;}
.i_mc .i_mcr dl{ padding-bottom:18px; margin-bottom:18px;}
.f_nav .f_nr li{ margin-left:15px; width:90px;}
.f_nav .f_nr li img{ width:90px; height:90px;}
.bq{ font-size:13px;}
.scd .scd_l{ width:200px;}
.s_nav li a{ padding-left:30px;}
.s_nav li a,.s_nav li.now a,.s_nav li:hover a{ background-position:15px center;}
.scd .scd_r{ width:520px;}
.pro li{ width:259px; height:570px;}
.contact dl dt{ width:165px;}
.contact dl dd{ width:340px;}
}
@media screen and (max-width:770px) {
.t_bg .top,.head,.nav_m,.i_ma,.i_mb,.i_mc,.f_nav,.bq,.scd{width:480px; margin:0px auto;}
.head .search{ margin:0px; float:right; margin-top:10px;}
.head .search input[type="text"],.head .search,.head .search input[type="submit"]{ height:30px; line-height:30px;}
.head .tel{ margin-top:5px;}
.nav_m .nav li.now a i, .nav_m .nav li:hover a i{ display:none;}
.nav_m .n_icon{ display:block;}
.nav_m .nav{ display:none; position:absolute; left:0; top:42px; background:#4994C9; z-index:99999;}
.nav_m .nav li{ width:100%; text-align:left; height:auto;}
.nav_m .nav li a{ width:90%; padding:0 5%; margin:0px auto; text-align:left;}
.nav_m .nav li .er{ position:static; display:block;}
.nav_m .nav li .er a{ width:80%; padding:0 10%; text-align:left;}
.i_ma .ip_l li .des{ display:none;}
.i_ma .ip_l li, .i_ma .ip_l li .tu, .i_ma .ip_l li .des{ width:224px;}
.i_ma .ip_l li,.i_mb dl{ margin:0 5px 15px !important;}
.i_ma{ padding-bottom:15px;}
.i_mb dl{ width:230px;}
.i_mb dl dd{ width:145px;}
.i_mc .i_mcl, .i_mc .i_mcr, .f_nav .f_nl, .f_nav .f_nr{ width:100%; margin-right:0px; margin-bottom:25px;}
.i_mc dl dd{ width:300px;}
.f_nav .f_nr li{ float:left; width:140px;}
.f_nav .f_nr li img{ width:100px; height:100px;}
.scd .scd_l{ width:478px; margin-bottom:25px;}
.s_nav li a{ width:448px;}
.scd .scd_r{ width:100%;}
.pro li{ width:239px; height:555px;}
.contact dl dd{ width:310px;}
}
@media screen and (max-width:500px) {
.t_bg .top,.head,.nav_m,.i_ma,.i_mb,.i_mc,.f_nav,.bq,.scd{width:320px; margin:0px auto;}
.head{ height:auto; padding-bottom:10px; position:relative;}
.head .search,.head .tel{ float:left;}
.i_ma .ip_l li, .i_ma .ip_l li .tu, .i_ma .ip_l li .des{ width:300px; height:245px;}
.i_ma .ip_l li .tu img{ width:260px; height:184px;}
.i_mb dl{ width:310px;}
.i_mb dl dd{ width:215px;}
.i_mc dl dt, .i_mc dl dt img{ width:146px; height:84px;}
.i_mc dl dd{ width:165px;}
.i_mc dl dd p{ height:60px; line-height:160%;}
.f_nav .f_nr li{ width:95px; margin:10px 5px;}
.f_nav .f_nr li img{ width:85px; height:85px;}
.i_mc .box_m{ height:auto;}
.i_mc .i_mcr{ margin-bottom:0;}
.i_mc .i_mcr .box_m{ padding-bottom:0;}
.head .logo img,.head .logo{ width:150px; height:41px;}
.head .tel{ position:absolute; right:0; top:15px;}
.head .tel span em{ display:none;}
.head .tel b{ font-size:16px;}
.head .tel span { margin-right:-5px;}
.head .search{ width:320px;}
.head .search input[type="text"]{ width:268px;}
.scd .scd_l{ width:318px;}
.s_nav li a{ width:288px;}
.scd_r .dq{ margin-bottom:50px;}
.scd_r .dq .pst{ width:100%; text-align:left; top:40px; border-bottom:1px dashed #eee;}
.pro li{ width:100%; border-left:0 !important; height:auto;}
.case li em a, .case li p a:hover,.news li em{ font-size:12px;}
.case li em{ width:90px;}
.contact dl dt{ display:none;}
.contact dl dd{ width:100%;}
}
