@charset "utf-8";

@font-face {

	font-family:'hsw3'; 

	src: url("../font/HiraginoSansW3.ttf"/*tpa=http://www.4007087688.com/template/crystal/theme/font/HiraginoSansW3.ttf*/) format('truetype');

}

@font-face {

	font-family:'chaparralpro'; 

	src: url("../font/chaparralpro.ttf"/*tpa=http://www.4007087688.com/template/crystal/theme/font/chaparralpro.ttf*/) format('truetype'),

		 url("../font/chaparralpro.eot-#iefix"/*tpa=http://www.4007087688.com/template/crystal/theme/font/chaparralpro.eot?#iefix*/) format('embedded-opentype');

	font-weight:normal;

}

/* reset */

html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;outline:0;}

header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}

audio,canvas,video {display: inline-block;*display: inline;*zoom: 1;}

sub,sup {position: relative;font-size:75%;line-height: 0;vertical-align: baseline;}

table{border-collapse:collapse;border-spacing:0;table-layout:fixed;}

caption,th{text-align:left;font-weight:normal;}

html,body,fieldset,img,iframe,abbr{border:0;}

i,cite,em,var,address,dfn,em{font-style:normal;}

[hidefocus],summary{outline:0;}

li{list-style:none;}

img{display:block;border:0 none;}

h1,h2,h3,h4,h5,h6{font-size: 1em;}

h1,h2,h3,h4,h5,h6,em,strong{font-weight:bold;}

pre,code,kbd,samp{font-family:inherit;}

q:before,q:after{content:none;}

textarea{overflow:auto;resize:none;}

label,summary{cursor:default;}

input,label,button,select,textarea,keygen,legend{display:inline-block;font-family:inherit;vertical-align:top;*zoom:1;}

button,input[type=submit],input[type=image],input[type=reset]{cursor: pointer;border: 0 none;}

option{display:block;}

a, a:link, a:visited {text-decoration:none;outline:0 none;}

a:active { star:expression(this.onFocus = this.blur()); }

/* tag reset end */

/* function */

.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}

.f-cb,.f-cbli li{clear:both;*zoom:1;}

.f-cl{clear:left;}

.f-cr {clear:right;}

.f-ib{display:inline-block;*zoom:1;}

.f-fl{float:left;display: inline-block;*display:inline}

.f-fr{float:right;display: inline-block;*display:inline}

.f-posr{position:relative;left:0;top:0;z-index:10;}

.f-ovh{overflow:hidden;}

/*.f-vsh{visibility:hidden;}*/

/*.f-vsv{visibility:visible;}*/

/*.f-fwn{font-weight:normal;}*/

/*.f-fwb{font-weight:bold;}*/

.f-tal{text-align:left;}

.f-tac{text-align:center;}

.f-tar{text-align:right;}

/*.f-taj{text-align:justify;text-justify:inter-ideograph;}*/

/*.f-vat{vertical-align:top;}*/

/*.f-vab{vertical-align:bottom;}*/

/*.f-vam{vertical-align:middle;}*/

/*.f-wsn{word-wrap:normal;white-space:nowrap;}*/

/*.f-pre,pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}*/

/*.f-tovh{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;}*/

/*.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}*/

/*.f-tdu,.f-tdu:hover{text-decoration:underline;}*/

/*.f-tdn,.f-tdn:hover{text-decoration:none;}*/

/*.f-csp{cursor:pointer;}*/

/*.f-csd{cursor:default;}*/

/*.f-csh{cursor:help;}*/

/*.f-csm{cursor:move;}*/

/*.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}*/

.f-th{display:block;height: 0;font:0/1 arial;color: transparent;text-shadow: none;background-color: transparent;border: 0;overflow: hidden;}

/*.f-radiu{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}*/

/*.f-sd{box-shadow:0px 0px 2px #ccc;+border-right:2px solid #ddd;+border-bottom: 1px solid #ddd;}*/

/*.f-transition{transition: width 2s;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;}*/

/*.f-scale{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);}*/



/* function end */

/*grid*/



.g-widthmin{width:100%;min-width: 1200px;}

.g-width{width:1200px;}

.g-wrap{margin: 0 auto;}

/*.g-wp105{width:105%;}*/



/*grid end*/

/*ui*/

.u-b,.u-i{display:block;text-decoration:none;border:0 none;transition:0.5s all;}

.u-i{display:inline-block;vertical-align:middle;background:url("../bg/sprite.png"/*tpa=http://www.4007087688.com/template/crystal/theme/bg/sprite.png*/) -50px -50px no-repeat;+zoom:1;}

.u-b{cursor:pointer;text-align: center;}

.u-b:hover,.u-i:hover,.u-s:hover{transition:0.5s all;}



	/*u-i*/

.i-clock{width:35px;height:35px;background-position: 7px 7px;}

.i-place{width:35px;height:35px;background-position: -110px 7px;}

.i-camare{width:35px;height:35px;background-position: -172px 6px;}

.i-tel{width:35px;height:35px;background-position: -50px 7px;}

.i-wechart{width: 90px;height: 90px;background-position: 0 -40px;}

.i-qq{width: 90px;height: 90px;background-position: -120px -40px;}

.i-sina{width: 90px;height: 90px;background-position: -240px -40px;}

.i-wechart:hover{width: 90px;height: 90px;background-position: 0 -140px;}

.i-qq:hover{width: 90px;height: 90px;background-position: -120px -140px;}

.i-sina:hover{width: 90px;height: 90px;background-position: -240px -140px;}

.i-dazhong2{width: 40px;height: 40px;background-position: -80px -260px;}

.i-wechart2{width: 46px;height: 40px;background-position: -160px -260px;}
.i-hun2{width: 46px;height: 40px;background-position:-310px -255px;}

.i-sina2{width: 44px;height: 40px;background-position: 0 -260px;}

.act .i-dazhong2,.hover .i-dazhong2{width: 40px;height: 40px;background-position: -80px -320px;}

.act .i-wechart2,.hover .i-wechart2{width: 46px;height: 40px;background-position: -160px -320px;}
.act .i-hun2,.hover .i-hun2{width: 46px;height: 40px;background-position:-310px -315px;}

.act .i-sina2,.hover .i-sina2{width: 44px;height: 40px;background-position: 0 -320px;}
.act .u-i,.hover  .u-i,.u-i{transition:none;-webkit-transition:none;-o-transition:none;}

.i-book{width: 106px;height: 106px;background-position:-329px 25px;}

.i-next,.m-page .next{width: 15px;height:55px;background-position:-236px 20px;}

.i-prev,.m-page .prev{width: 15px;height:55px;background-position:-296px 20px;}

.i-prev2{width:38px;height:38px;background-position:12px -370px;border: 1px solid #898687;border-radius:50%;-webkit-border-radius:50%;background-color: #fff;}

.i-next2{width:38px;height:38px;background-position:-45px -370px;border: 1px solid #898687;border-radius:50%;-webkit-border-radius:50%;background-color: #fff;}

.i-prev2:hover{width:38px;height:38px;background-position:12px -410px;border: 1px solid #e5d2b8;background-color: #fff5e8;}

.i-next2:hover{width:38px;height:38px;background-position:-45px -410px;border: 1px solid #e5d2b8;background-color: #fff5e8;}

.i-next3{width:22px;height:22px;margin-top: 4px;margin-right: 4px;background-position:-131px -413px;background-color: #fff;border-radius:50%;-webkit-border-radius:50%}

.i-prev4{width:20px;height:28px;background-position:0 -417px;}

.i-next4{width:20px;height:28px;background-position:-50px -417px;}

.i-fav{width:12px;height:12px;background-position:-100px -380px;}

.i-view{width:14px;height:12px;background-position:-180px -380px;}

.i-arr{width:14px;height:12px;background-position:-100px -418px;}

.i-load{width:26px;height:26px;background-position:-239px -260px;margin-right: 10px;}

.i-prev5{width:30px;height:30px;background-position:9px -474px;background-color: #cecece;}

.i-next5{width:30px;height:30px;background-position:-48px -474px;background-color: #cecece;}

.i-prev5:hover{background-color: #c19860;}

.i-next5:hover{background-color: #c19860;}

.i-back{width:35px;height:35px;background-position:-240px -300px;}

.i-back:hover{-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg);}
.i-down{width: 10px;height: 10px;background-position: -180px -420px;}

.on .i-fav,.i-favon{width:12px;height:12px;background-position:-140px -380px;}

.on .i-view,.i-viewon{width:14px;height:12px;background-position:-220px -380px;}

.i-search{width:50px;height:50px;background:url("../bg/i-search.png"/*tpa=http://www.4007087688.com/template/crystal/theme/bg/i-search.png*/) center center no-repeat;}

.i-search2{width:24px;height:24px;background-position:-100px -477px;}

	/*u-i end*/

	/*b-i*/

.b1{width: 100%;border: 0 none;padding-top: 4px;font:30px/50px 'chaparralpro',Georgia,'Times New Roman',Times,serif;text-transform: uppercase;color: #956e39;background-color: #c09860;}

.b1:hover{background-color: #CBAB7D;}

.b2{border: 1px solid #d7d7d7;font: 14px/62px 'chaparralpro',Georgia,'Times New Roman',Times,serif;text-transform: capitalize;color: #282828;text-align: center;background-color: #f4f4f4;}

.b2:hover{color: #CBAB7D;border: 1px solid #CBAB7D;background-color: #fff;}

.b3{font: 12px/66px normal;color: #fff;text-align: center;background-color: #6b6b6b;}

.b4{font: 12px/28px normal;color: #aaa;text-align: center;}

.b4 img{margin: 0 auto;}

.b5{border: 1px solid #d7d7d7;font: 14px/53px 'chaparralpro',Georgia,'Times New Roman',Times,serif;color: #858585;background-color: #f4f4f4;}

.b5:hover{border: 1px solid #dbb969;color: #dbb969;background-color: #fff;}

.b6{border: 1px solid #d7d7d7;font: 14px/53px 'chaparralpro',Georgia,'Times New Roman',Times,serif;color: #858585;background-color: #fff;}

.b6:hover{border: 1px solid #dbb969;color: #dbb969;}



	/*b-i end*/

	/*ui*/

.u-t1{font:26px/30px 'chaparralpro',Georgia,'Times New Roman',Times,serif;text-transform: uppercase;color: #9fa0a0;}

.u-t1 span{font-family:'hsw3',\5FAE\8F6F\96C5\9ED1;color: #c09860;}

.u-t2{padding: 6px 15px 2px;font:normal 16px/22px 'chaparralpro',Times,serif;color: #956e39;text-transform: uppercase;background-color: #c09860;}

	/*ui end*/

/*ui end*/



	/* column */

.column-h{padding:62px 0 57px;min-width: 1200px;}

.column-i{display: block;margin: 0 auto;}

.column-scroll{display: block;width:40px;height:40px;margin:-3px auto -54px;background: #fff url("../bg/arr.png"/*tpa=http://www.4007087688.com/template/crystal/theme/bg/arr.png*/) center center no-repeat;}

.column-d{margin-top: 10px;font: 12px/22px \5FAE\8F6F\96C5\9ED1;color:#e1e2e2;text-align:center;}

.column-d a{font: 12px/22px \5FAE\8F6F\96C5\9ED1;color:#9fa0a0;margin:0 6px;}

.column-d a:hover,.column-d .act{color: #c09860;}

.column-img{width:100%;}

.column-img a{display: block;}

.column-img a img{display: block;width: auto;max-width: 100%;margin: 0 auto;}

	/* column end */



/*moulde end*/

/*public*/

	/*head*/
.head{ position:relative;left: 0;top: 0; z-index: 200;width: 100%;height:98px; padding-top:50px;min-width: 1200px;background-color:#fff;}
.logo{position:absolute;left:50%; margin-left:-125px; top:43px; width:250px;}
.logo img{display: block;width: 100%;}
.head ul{ width:1200px; margin:0px auto; height:98px;}
.head ul li{float: left;width: 105px;height: 100%;margin:0px 10px 0px 40px;}
.head ul li>a{display: block;text-indent: -999em;overflow: hidden;}
.head ul li.n4{margin-left:298px;}
.head ul li .nav span{ display:block; width:105px; height:67px; background:url("../bg/nav.jpg"/*tpa=http://www.4007087688.com/template/crystal/theme/bg/nav.jpg*/) no-repeat 0px 0px;}
.head ul li.n1 .nav span{ background-position:0px 0px;}
.head ul li.n1 .nav:hover span,.head ul li.n1.current a.nav span{ background-position:0px -68px;}
.head ul li.n2 .nav span{ background-position:-105px 0px;}
.head ul li.n2 .nav:hover span,.head ul li.n2.current a.nav span{ background-position:-105px -68px;}
.head ul li.n3 .nav span{ background-position:-210px 0px;}
.head ul li.n3 .nav:hover span,.head ul li.n3.current a.nav span{ background-position:-210px -68px;}
.head ul li.n4 .nav span{ background-position:-315px 0px;}
.head ul li.n4 .nav:hover span,.head ul li.n4.current a.nav span{ background-position:-315px -68px;}
.head ul li.n5 .nav span{ background-position:-420px 0px;}
.head ul li.n5 .nav:hover span,.head ul li.n5.current a.nav span{ background-position:-420px -68px;}
.head ul li.n6 .nav span{ background-position:-525px 0px;}
.head ul li.n6 .nav:hover span,.head ul li.n6.current a.nav span{ background-position:-525px -68px;}
.head ul li{position: relative;left: 0;top: 0;z-index: 10;}
.head ul .navbox{ display: none;position:absolute; left:-22px; top:78px; z-index:99999;width: 150px;font: 16px/35px \5FAE\8F6F\96C5\9ED1;background:url("../bg/nav-top.png"/*tpa=http://www.4007087688.com/template/crystal/theme/bg/nav-top.png*/) center 0 no-repeat;border-radius:3px;-webkit-border-radius:3px;}
.head ul .navbox>div{margin-top: 20px;padding:10px 0 17px;background: rgba(255,255,255,0.82);background:url("../bg/nav-bg.png"/*tpa=http://www.4007087688.com/template/crystal/theme/bg/nav-bg.png*/) 0 0 repeat;box-shadow:0 2px 1px rgba(0,0,0,0.2);-webkit-box-shadow:0 2px 1px rgba(0,0,0,0.2)}
.navbox a{display: block;width: 100px;margin: 0 auto 4px;color: #4c4c4c;text-align: center;white-space: nowrap;overflow: hidden;}
.navbox a:hover{ color: #fff;background:url("../bg/nav-act.png"/*tpa=http://www.4007087688.com/template/crystal/theme/bg/nav-act.png*/) center 0 no-repeat;}

	/*head end*/

	/*floathead*/
.floatHead{display: none;position: fixed;top: 0;left: 0;z-index: 200;width: 100%;height: 60px;font-size: 14px;line-height: 60px;background-color: #c09860;overflow: hidden;}
.floatHead a{display: block;color: #fff;text-align: center;}
.floatHead a:hover{background-color: #a77f48;}
#fhLogo{float: left;padding: 12px 35px 20px;}
.fhSns li a{padding:17px 25px;border-right: 1px solid #a77f48;}
.floatHead .fhNav{float: right;width: auto;}
.fhNav li{height: 60px;overflow: hidden;}
.fhNav li a span{display: block;font:16px/62px arial;text-transform: uppercase;}
.fhNav li a{width:90px;}
.fhNav li a:hover{margin-top: -60px;}
.fhNav li a, .fhNav li a:hover{-webkit-transition:0.5s all;-o-transition:0.5s all;transition:0.5s all;}
	/*floathead end*/

	/*contact*/

.footerContact{height: 110px;padding: 26px 0 28px;border-bottom: 1px solid #826741;background:#c09860; overflow:hidden;}

.footerContact .ewm{float: right;width: 110px;height:110px;margin-left: 20px;-webkit-box-shadow:0 0 2px #aaa;

box-shadow:0 0 2px #aaa;}

.visite{margin-right: 66px;}

.footerSlide,.visiteNum{float: left;}

.visiteNum{position:relative;z-index: 10;}

.visiteNum:after{content:"";display: block;position: absolute;z-index: 17;bottom: 43px;width: 100%;height: 2px;background-color: #c09860;}

.visiteNumCtn{position: absolute;bottom:29px;left: 0;z-index: 15;font:bolder 20px/30px arial;color: #9e7900;letter-spacing:9px;text-indent: 3px;}

.sns li{float: left;width: 90px;height: 90px;margin:8px -22px 0 40px;}

.sns li a,.sns li a:hover{-webkit-transition:none;-o-transition:none;transition:none;}



.map{ height:800px; position:relative; overflow:hidden;}

.shadowbg{ background:#000; position:absolute; top:0px; left:0px; width:100%; height:145px;filter:alpha(opacity=30);opacity:0.3;}

.mapTip{ position:absolute; top:20px; left:50%; margin-left:-600px; overflow:hidden; color:#7a7a7a; font-family:"Microsoft YaHei"; line-height:140%;}

.mapTip li{ float:left; border-right:1px dashed #838383; width:283px; margin-right:23px;}

.mapTip li:last-child,.mapTip .last-child{border-right: 0 none;margin-right: 0;}

.mapTip span{ font-size:30px; display:block; line-height:110%; color:#fff;}

.grayColor{ color:#c09860;font-weight: normal;}

.mapTip tt{ display:block; margin-top:10px;font-size: 10px;line-height:1.2;}

.addressBox{ position:absolute; bottom:210px; text-align:center;color:#fff; width:100%; background:url("../bg/line.png"/*tpa=http://www.4007087688.com/template/crystal/theme/bg/line.png*/) no-repeat top center; padding:20px 0px 0px;font-size:14px;}

.addressEfont{ font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; line-height:125%; margin-top:5px; font-size:12px;}

.cotactFont{ position:absolute;top:268px; text-align:center; width:100%;}

.cotactFont p{ background:url("../bg/sbg.png"/*tpa=http://www.4007087688.com/template/crystal/theme/bg/sbg.png*/) no-repeat center bottom;margin-top:40px; padding-bottom:30px;}

.cotactFont img{ display:inline-block;}



.shareFile{ width:164px; position:absolute; left:50%; margin-left:-82px; bottom:105px;}

.shareFile a{ background:url("../bg/shareIco01.png"/*tpa=http://www.4007087688.com/template/crystal/theme/bg/shareIco01.png*/) no-repeat 0px 0px; display:inline-block; width:38px; height:38px; margin:0px 1px;}

.shareFile a.s01:hover{ background-position:0px -38px;}

.shareFile a.s02{ background-position:-47px 0px;}

.shareFile a.s02:hover{ background-position:-47px -38px;}

.shareFile a.s03{ background-position:-96px 0px;}

.shareFile a.s03:hover{ background-position:-96px -38px;}



.siteMap{padding: 20px 0 50px;background-color: #eee;overflow: hidden;}

.siteMap h2{margin: 0 10px 12px;font:bold 12px/26px Verdana;text-transform: uppercase;color: #686868;border-bottom: 1px solid #aeaeae;}

.siteMap h2:after{content:"";display: inline-block;width: 0;height: 0;margin: -4px 0 auto 6px;font: 0/1 arial;border: 5px solid transparent;border-bottom: 8px solid #686868;}

.siteMap dl{float: left;margin-left: 10px;width: 158px;font:bold 12px/28px arial;color: #686868;}

/*.siteMap dl:hover{background-color: #f4f4f4;}*/

.siteMap dl dt{text-transform:uppercase;}

.siteMap dl dd{border-top: 1px solid #d3d3d3;padding-top: 7px;line-height: 23px;text-transform: capitalize;}

.siteMap dl a{display: block;color: #686868;}

.siteMap dl a:hover{color: #c09860;}



.copyright{padding: 35px 0;font-size: 12px;text-align: center;color: #585858;background-color: #dedede;}

.copyright a{display: inline;color: #585858;}

.copyright a:hover{display: inline;color: #C09860;}
.friendLink{margin-top: 10px;}
.friendLink a{margin: 0 5px;}
.toTop{display: block;position: fixed;right: 10%;bottom: 10%;z-index: 100;width:45px ;height:74px ;background:url("../bg/top.png"/*tpa=http://www.4007087688.com/template/crystal/theme/bg/top.png*/) 0 0 no-repeat;}
.toTop:hover{transform: translateY(15px);-webkit-transform: translateY(15px);-moz-transform: translateY(15px);-ms-transform: translateY(15px);}
.toTop:hover,.toTop{transition:0.5s all;-webkit-transition:0.5s all;-moz-transition:0.5s all;-ms-transition:0.5s all;}
	/* footer end */

	/*m-li-h*/

.m-li-h{width: 105%;}

.m-li-h>li,.m-li-h>li>a{float: left;}

	/*m-li-h end*/

	/*m-autoimg*/

.m-autoimg{width: 100%;min-width: 1200px;overflow: hidden;}

.m-autoimg>a,.m-autoimg>div{display: block;position: relative;left: 50%;top: 0;z-index:10;width: 3000px;margin-left: -1500px;text-align: center;}

.m-autoimg>a>img,.m-autoimg>div>img{display: block;margin: 0 auto;}

	/*m-autoimg end*/

	/*m-promo*/

.m-promo a,.m-promo img{display: block;}

	/*m-promo end*/

/*public end*/

/*animte*/

.rotated,.i-load,.newsOpr .u-b{

	-webkit-animation: rotated 1.5s infinite linear;

	-moz-animation: rotated 1.5s infinite linear;

	animation: rotated 1.5s infinite linear

}



@-webkit-keyframes rotated {

	0% {

	-webkit-transform:rotate(0deg);

	transform:rotate(0deg);

	}

	100%{

	-webkit-transform:rotate(360deg);

	transform:rotate(360deg);

	}

}

@-moz-keyframes rotated {

	0% {

	-moz-transform:rotate(0deg);

	transform:rotate(0deg);

	}

	100%{

	-moz-transform:rotate(360deg);

	transform:rotate(360deg);

	}

}

@keyframes rotated {

	0% {

	transform:rotate(0deg);

	}

	100%{

	transform:rotate(360deg);

	}

}



.u-guideTop.z-move {

	-webkit-animation: guideTop 1.5s infinite;

	-moz-animation: guideTop 1.5s infinite;

	animation: guideTop 1.5s infinite

}

@-moz-keyframes guideTop {

	0% {

	-moz-transform:translateY(10px);

	opacity:0

	}

	60% {

	-moz-transform:translateY(6px);

	opacity:1

	}

	100% {

	-moz-transform:translateY(0px);

	opacity:0

	}

}

@-webkit-keyframes guideTop {

	0% {

	-webkit-transform:translateY(10px);

	opacity:0

	}

	60% {

	-webkit-transform:translateY(6px);

	opacity:1

	}

	100% {

	-webkit-transform:translateY(0px);

	opacity:0

	}

}



@keyframes guideTop {

	0% {

	transform:translateY(10px);

	opacity:0

	}

	60% {

	transform:translateY(6px);

	opacity:1

	}

	100% {

	transform:translateY(0px);

	opacity:0

	}

}

/*animte end*/