body{text-align:center;	font-family:"Microsoft Yahei";text-align:center;	font-size:12px;color:#4F4F4F;}
/*头部*/
.head{ width:100%; margin:0px auto; min-width:1000px; position:relative; z-index:3;}
.head .head_m{ width:1000px; height:95px; margin:0px auto;}
.head .logo{ width:227px; height:65px; float:left; margin-top:15px;}
.head .logo img{ width:227px; height:65xp; vertical-align:top;}
.head .nav{ width:560px; float:right; margin-top:50px;}
.head .nav li{ display:inline-block; *display:inline; zoom:1; height:45px; line-height:45px; float:left; margin-right:60px;}
.head .nav li a{ font-size:14px; color:#333;}
.head .nav li.now a ,.head .nav li a:hover{ color:#01477D;}
.head .xm_bg , .head .xm_bg_a, .head .xm_bg_b{ width:100%; position:absolute; left:0px; top:94px; background-color:#FFF; background-image:url(../images/bg_a.jpg); background-repeat:repeat-x; z-index:9999; display:none;}
.xm_bg .tabBox_t , .xm_bg .tabBox{width:1000px; margin:0px auto;text-align:left;}
.tabBox .tabNav {overflow: hidden;text-align:left; width:1000px; margin:0px auto;}
.tabBox .tabNav li {float: left;cursor: pointer;font-size: 12px; position:relative; display:inline-block; *display:inline; zoom:1; padding:0 30px; *padding:0 20px; height:64px; line-height:64px; text-align:center; color:#666;}
.tabBox .tabNav li a{ font-size:12px; color:#666;}
.tabBox .tabNav li .l_l ,.tabBox .tabNav li .l_r{ width:2px; height:60px; background:url(../images/line.jpg) no-repeat; position:absolute; top:2px; display:none;}
.tabBox .tabNav li.now .l_l , .tabBox .tabNav li.now .l_r{ display:block;}
.tabBox .tabNav li .l_l{ left:0px;}
.tabBox .tabNav li .l_r{ right:0px;}
.tabBox .tabNav li.now { background:url(../images/bg_b.jpg) repeat-x; color:#2FBBF1;}
.tabBox .tabCont {display: none; width:1000px; margin:0px auto;}
.tabBox .tabCont ul{ width:100%; padding-bottom:10px;}
.tabBox .tabCont ul li{ width:145px; height:125px; float:left;}
.tabBox .tabCont ul li img{ width:145px; height:95px; vertical-align:top;}
.tabBox .tabCont ul li p{ width:100%; height:30px; line-height:30px; text-align:center; font-size:12px; color:#6C6C6C; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.tabBox .tabCont ul li a:hover p,.tabBox .tabNav li a:hover , .tabBox .tabNav li.now a{ color:#2FBBF1;}
/*幻灯片*/
.banner{ width:100%; min-width:1000px; overflow:hidden; height:685px; margin:0px auto; position:relative; z-index:1;}
/*幻灯片*/
.i_hot{ width:100%; min-width:1000px; height:38px; background:#E1EFFF;}
.i_hot .i_hotm{ width:1000px; height:38px; margin:0px auto; line-height:38px; overflow:hidden; text-align:left;}
.t_news{ height:19px; color:#838383; margin:9px 0; overflow:hidden; position:relative; overflow:hidden;}
.t_news b{ line-height:19px; font-size:14px; vertical-align:top; color:#004694; display:inline-block; font-weight:normal; *margin-top:-10px;}
.news_li,.swap{ line-height:19px; display:inline-block; position:absolute; top:0; left:74px;}
.news_li a,.swap a{ color:#838383;}
.swap{top:19px;}
.i_box{ width:1000px; margin:0px auto; padding:20px 0; text-align:left;}
.i_box .i_boxl{ width:480px; float:left;}
.i_box .i_boxr{ width:480px; float:right;}
.i_box .title{ width:100%; height:30px; line-height:30px; border-bottom:1px solid #ddd; font-size:14px; color:#616161;}
.i_box .i_boxm{ width:100%; height:315px; margin-top:20px;}
.i_boxl dl{ width:100%; height:100px; margin-bottom:25px;}
.i_boxl dl dt ,.i_boxl dl dt img{ width:148px; height:97px; float:left; vertical-align:top;}
.i_boxl dl dd{ width:315px; float:right;}
.i_boxl dl dd .name{ width:100%; height:30px; line-height:30px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.i_boxl dl dd .name a{ font-size:14px; color:#575454;}
.i_boxl dl dd .name a:hover,.i_boxl dl dd .des a:hover,.i_boxl ul li a:hover,.f_nav li p a:hover{ color:#004694;}
.i_boxl dl dd .des{ width:100%; margin-top:5px; text-indent:2em; height:60px; font-size:12px; color:#989898; line-height:180%; overflow:hidden;}
.i_boxl dl dd .des a{color:#989898;}
.i_boxl ul{ width:100%; border-top:1px solid #ddd;}
.i_boxl ul li{ width:100%;position:relative; height:41px; margin-top:10px; background:url(../images/icon1.png) no-repeat 66px center;}
.i_boxl ul li img{ width:61px; height:41px; vertical-align:top;}
.i_boxl ul li div{ width:402px; height:40px; line-height:40px; border-bottom:1px dashed #ddd; position:absolute; right:0px; top:0px;}
.i_boxl ul li div p{ width:300px; height:40px; line-height:40px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.i_boxl ul li a{ font-size:12px; color:#818181;}
.i_boxl ul li div em{ display:block; text-align:right; position:absolute; right:0px; top:0px;}
.i_boxr .slider{ width:480px; height:315px;}
.i_boxr .slider .flexslider img{ width:480px; height:315px; vertical-align:top; margin-left:0px !important;}
.i_boxr .flex-control-nav,.i_boxr .flex-direction-nav{ display:none;}
.i_boxr .flexslider{ box-shadow:0px 0px 0px #FFFFFF;}
.f_bg{ width:100%; min-width:1000px; padding:25px 0; background:#EAEAEA; }
.f_bg .foot{ width:1000px; margin:0px auto;}
.foot .f_nav{ width:100%; padding-bottom:25px; border-bottom:1px solid #ddd; margin-bottom:25px;}
.f_nav li{ width:62px; text-align:center; float:left; margin-right:110px;}
.f_nav li b{ display:block; height:30px; line-height:30px; font-size:14px; color:#2A2A2A;}
.f_nav li p{ height:25px; line-height:25px; font-size:12px;}
.f_nav li p a{ color:#4E4E4E;}
.f_nav li.code{ width:220px; position:relative; text-align:left;}
.f_nav li.code img{ width:94px; height:94px; vertical-align:top;}
.f_nav li.code .wen{ width:115px; position:absolute; right:0px; top:20px;}
.f_nav li.code .wen p{ width:100%; height:30px; line-height:30px; text-align:left; font-size:14px; color:#4E4E4E;}
.f_nav li.share{ width:150px;}
.f_nav li.share ul{ width:100%;}
.f_nav li.share ul li{ width:100%; height:19px; margin:0px; line-height:19px; text-align:left; margin-bottom:7px;}
.f_nav li.share ul li img{ width:19px; height:19px; vertical-align:top;}
.f_nav li.share ul li span{ font-size:12px; color:#666666; margin-left:10px;}
.foot .bq{ width:100%; text-align:center; line-height:185%; font-size:12px; color:#616161;}
.pro_a{ width:1000px; margin:0px auto; padding:20px 0; text-align:center;}
.pro_a .title{ width:100%; height:50px; line-height:50px; font-size:24px;  color:#004EA5; margin-bottom:35px; margin-top:20px;}
.pro_a .des{ width:100%; font-size:14px; color:#777777; line-height:175%;}
.pro_a img{ max-width:1000px; height:auto; vertical-align:top; margin-top:30px;}
.lan_bg{ width:100%; min-width:1000px; background:#EBF5FF; padding:30px 0;}
.pro_b{ width:1000px; margin:0px auto; padding:30px 0;}
.pro_b .title{ width:100%; height:50px; line-height:50px; font-size:24px; color:#004EA5; text-align:center; margin-bottom:60px;}
.pro_b dl{ width:100%; padding-bottom:40px;}
.pro_b dl dt ,.pro_b dl dt img{ width:432px; height:244px; float:right; vertical-align:top;}
.pro_b dl dt{ margin-top:30px;}
.pro_b dl dd{ width:530px; float:left;}
.pro_b dl dd ul{ width:100%;}
.pro_b dl dd ul li{ width:520px; background:url(../images/icon6.png) no-repeat left 11px; padding-left:10px; font-size:14px; color:#787878; line-height:175%; margin-bottom:25px; text-align:left;}
.pro_c{ padding:60px 0;}
.pro_c dl dt ,.pro_c dl dt img{ width:492px; height:290px; float:right; vertical-align:top;}
.pro_c dl dt{ margin-top:100px;}
.pro_c dl dd{ width:315px; float:left;}
.pro_c dl dd ul{ width:100%;}
.pro_c dl dd ul li{ background:none; margin-bottom:0px; padding:0px;}
.pro_c dl dd ul li.title{ font-size:14px; color:#000000; text-align:left; padding:0px; margin:0px; height:25px; line-height:25px;}
.pro_c dl dd .line{ width:180px; height:2px; border-bottom:1px dashed #ddd; margin:25px 0;}
.pro_d{ width:1000px; margin:0px auto;}
.pro_d img{ max-width:1000px; height:auto; vertical-align:top;}
.banner_s{ width:100%; height:350px; overflow:hidden; min-width:1000px;}
.banner_s img{ width:1920px; height:350px; vertical-align:top;}
.scd{ width:1000px; margin:0px auto; padding:30px 0 50px; text-align:left;}
.scd .scd_h{ width:100%; padding-bottom:30px; border-bottom:1px solid #ddd;}
.scd .scd_h a{ display:inline-block; *display:inline; zoom:1; height:16px; line-height:16px; padding:0 30px; border-right:1px dashed #ddd; font-size:16px; color:#505050;}
.scd .scd_h a.now,.scd .scd_h a:hover{ color:#0D65C7;}
.scd .scd_m{ width:100%; padding:25px 0; text-align:left; font-size:14px; color:#747474; line-height:200%;}
.contact{ width:1000px; padding:40px 0;}
.contact dt ,.contact dt img{ width:522px; height:316px; float:left; vertical-align:top;}
.contact dd{ width:440px; height:316px; float:right; background:url(../images/line_a.png) no-repeat left center;}
.contact dd h1{ display:inline-block; *display:inline; zoom:1; height:40px; line-height:40px; border-bottom:1px dashed #ddd; margin-top:50px; font-size:16px; color:#01477D; margin-left:45px; padding-bottom:10px; margin-bottom:15px;}
.contact dd p{ width:371px; margin-left:45px; font-size:14px; color:#595959; line-height:175%;}
.pages{ width:100%; text-align:center; padding-top:50px;}
.pages a ,.pages span , .pages input{ display:inline-block; *display:inline; zoom:1; height:25px; line-height:25px; vertical-align:top; margin:0 2px; font-size:12px; color:#333333; padding:0 10px;}
.pages a , .pages input{ border:1px solid #ddd; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.pages a.now , .pages a:hover{ color:#FFF; background:#FD6B01; border:1px solid #FD6B01;}
.pages span{ margin:0px;}
.pages input{ width:40px; text-align:center; padding:0px;}
.pages .btn{ cursor:pointer; background:#0D65C7; border:1px solid #0D65C7; color:#FFF; font-size:13px;}
.support{ width:100%; padding:30px 0;}
.support ul{ width:100%;}
.support ul li{ width:485px; height:48px; background:#D9D9D9; position:relative; float:left; margin-right:30px; margin-bottom:30px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.support ul li p{ width:340px; height:48px; line-height:48px; text-align:center; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:16px; color:#595959;}
.support ul li .down{ display:block; width:54px; height:27px; background-color:#ED7523; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; position:absolute; right:60px; top:11px; background-image:url(../images/icon7.png); background-repeat:no-repeat; background-position: center center;}
.news{ width:100%; }
.news dl{ width:100%;padding-bottom:30px; border-bottom:1px dashed #ddd; margin-bottom:30px;}
.news dl dt ,.news dl dt img{ width:200px; height:145xp; float:left; vertical-align:top;}
.news dl dd{ width:765px; float:right;}
.news dl dd .title{ width:100%; height:30px; line-height:30px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.news dl dd .title a{ font-size:16px; color:#505050;}
.news dl dd .title a:hover{ color:#0D65C7;}
.news dl dd .des{ width:100%; height:65px; font-size:14px; color:#989898; line-height:157%; text-indent:2em; overflow:hidden; margin:10px 0;}
.news dl dd .more{ font-size:14px; color:#B80000;}

