
@media only screen and (min-width: 480px) and (max-width: 768px){
	/* generated in /home/ftp/p/php7/wwwroot/quadric/wp-content/themes/quadric/assets/custom-styles/general-custom-styles-responsive.php edgtf_quadric_design_responsive_styles function */
.edgtf-section.edgtf-parallax-section-holder, .touch .edgtf-parallax-section-holder.edgtf-parallax-section-holder-touch-disabled { height: auto !important;min-height: 400px;}

}

@media only screen and (max-width: 480px){
	/* generated in /home/ftp/p/php7/wwwroot/quadric/wp-content/themes/quadric/assets/custom-styles/general-custom-styles-responsive.php edgtf_quadric_design_responsive_styles function */
.edgtf-section.edgtf-parallax-section-holder, .touch .edgtf-parallax-section-holder.edgtf-parallax-section-holder-touch-disabled { height: auto !important;min-height: 400px;}

}