/* generated in /home/ftp/p/php7/wwwroot/quadric/wp-content/themes/quadric/assets/custom-styles/general-custom-styles.php edgtf_quadric_design_styles function */
.edgtf-preload-background { background-image: url("../img/preload_pattern.png"/*tpa=http://demo.va666.com/quadric/wp-content/themes/quadric/assets/img/preload_pattern.png*/) !important;}

/* generated in /home/ftp/p/php7/wwwroot/quadric/wp-content/themes/quadric/assets/custom-styles/general-custom-styles.php edgtf_quadric_design_styles function */
.edgtf-boxed .edgtf-wrapper { background-attachment: fixed;}

/* generated in /home/ftp/p/php7/wwwroot/quadric/wp-content/themes/quadric/assets/custom-styles/general-custom-styles.php edgtf_quadric_design_styles function */
.edgtf-main-menu > ul > li:hover .item_title:before,  .edgtf-main-menu > ul > li:hover .item_title:after { left: calc(100% + 2px);}

/* generated in /home/ftp/p/php7/wwwroot/quadric/wp-content/themes/quadric/assets/custom-styles/general-custom-styles.php edgtf_quadric_design_styles function */
.edgtf-drop-down .second li > a:hover .item_inner:before, .edgtf-drop-down .second li > a:hover .item_inner:after { left: calc(100% + 1px);}

/* generated in /home/ftp/p/php7/wwwroot/quadric/wp-content/themes/quadric/assets/custom-styles/general-custom-styles.php edgtf_quadric_design_styles function */
.edgtf-drop-down .second { top: calc(100% + 1px);}


        
        
                

        
        
        
        
        

        
        
        
        
        
        
        
        
        
        
        
        
        
                    .edgtf-main-menu.edgtf-default-nav > ul > li > a span.plus{
            display: block;
            background-color: ;
            }
                

        
        
        
        
                    .edgtf-drop-down .second{
            border-top: 0 !important;
            }
        
                
        

        
        
        
        
        
        
        
        
        
        
        
                
        
                
        /* generated in /home/ftp/p/php7/wwwroot/quadric/wp-content/themes/quadric/framework/modules/sidearea/custom-styles/sidearea.php edgtf_quadric_side_area_icon_color_styles function */
a.edgtf-side-menu-button-opener { font-size: px;}

/* generated in /home/ftp/p/php7/wwwroot/quadric/wp-content/themes/quadric/framework/modules/sidearea/custom-styles/sidearea.php edgtf_quadric_side_area_icon_color_styles function */
.edgtf-header-standard .edgtf-menu-area .edgtf-vertical-align-containers a.edgtf-side-menu-button-opener { background-color: ;}

/* generated in /home/ftp/p/php7/wwwroot/quadric/wp-content/themes/quadric/framework/modules/title/custom-styles/title.php edgtf_quadric_title_area_background_style function */
.edgtf-title { background-image: url("../img/title-pattern.png"/*tpa=http://demo.va666.com/quadric/wp-content/themes/quadric/assets/img/title-pattern.png*/);background-repeat: repeat;}

