*{
	margin:0px;
	padding: 0px;
	border: 0px;
}
body{
	color: #666;
	font-size: 12px;
    font-family: "宋体";
}
.box1{
	background: url(../image/t_bg.gif) repeat-x;
    height: 204px;
    overflow: hidden;
}
.header{
	width: 960px;
    margin: 0 auto;
    overflow: hidden;
}
.h_top{
	line-height: 26px;
    height: 26px;
    color: #b8b8b8;
}
.h_top span{
	float: right;
}
.h_top a{
	padding: 0 10px;
    color: #c1c1c1;
}
.h_top i{
	font-style: normal;
    padding: 0 5px;
}
.h_top a:hover{
	color: black;
}
.h_con{
	height: 95px;
    font-family: "Microsoft Yahei";
    padding: 10px 0 0;
    overflow: hidden;
}
.h_con h1{
	font-size: 32px;
	float: left;
    padding: 25px 11px 0 0;
}
a{
	color: #666;
    text-decoration: none;
}
.h_con p{
	float: left;
    padding: 20px 0 0 0;
    font-size: 18px;
    letter-spacing: 3px;
}
p{
	word-spacing: -1.5px;
}
.h_con p i{
	    color: #1d7c5a;
    font-style: normal;
    display: block;
    line-height: 32px;
}
.h_con p b{
	    color: #1d7c5a;
    font-size: 18px;
}
.h_con q{
	float: right;
    font-size: 15px;
    color: #333;
    background: url(../image/h_phon.gif) no-repeat 124px 33px;
    padding: 36px 10px 0px 24px;
    text-align: right;
}
q{
	    display: inline;
}
.h_con q span{
	display: block;
    font-size: 28px;
    color: #40b064;
    font-weight: bold;
}
.nav{
	height: 73px;
    line-height: 100px;
}
.nav ul li{
	    font-size: 13px;
    font-family: "Microsoft Yahei"
}
.nav ul li a{
	color: #fff;
    float: left;
    display: inline-block;
    padding: 0 18px;
}
.cur a{
	text-decoration: none;
    background: url(../image/nav_cur.jpg) no-repeat center 11px;
}
.nav ul li a:hover{
    background: url(../image/nav_cur.jpg) no-repeat center 11px;
}
.clear{
	clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}
.box3{
	background: url(../image/s_bg.gif) no-repeat center 0;
    height: 77px;
}
.box3_q{
	width: 1000px;
    line-height: 77px;
    margin: 0 auto;
    color: #000;
    height: 41px;
}
.box3_q p{
	float: left;
    color: #919191;
    padding: 0 0 0 2px;
    font-size: 12px;
}
.box3_q p b{
	color: #828282;
}
.box3_q p a{
	color: #828282;
    padding: 0 7px;
}
.box3_w{
	float: right;
    padding: 26px 0 0;
}
.box3 input{
	height: 26px;
	/*font: 99% arial,helvetica,clean,sans-serif;*/
	float: left;
}
.box4{
	height: 1085px;
    background: url(../image/p_box.gif) repeat;
}
.box4_top{
	width: 960px;
    margin: 0 auto;
    padding-top: 38px;
}
.box4_topz{
	width: 210px;
    float: left;
    font-family: "Microsoft Yahei";
}
.box4_topz h3{
	font-size: 16px;
    background: url(../image/p_h3.gif) no-repeat left top;
    height: 42px;
    margin-bottom: 20px;
}
.box4_top .box4_topz h3 a{
	color: #00755a;
    padding: 23px 0 0 36px;
    display: inline-block;
}
.box4_topz h4{
	font-size: 14px;
    font-weight: normal;
    background: url(../image/pr_h4-03.gif) no-repeat;
    width: 210px;
    height: 38px;
    line-height: 26px;
}
.box4_topz h4 a{
	color: #fff;
    display: inline-block;
    padding-left: 60px;
}
.box4_topz ul{
	margin-left: 20px;
    margin-bottom: 20px;
}
.box4_topz ul li{
	border-bottom: 1px solid #dddfe0;
    width: 170px;
    height: 37px;
    line-height: 37px;
    font-size: 12px;
}
.box4_topz ul li a{
	color: #666;
    padding-left: 20px;
}
.box4_topz h5{
	background: url(../image/pr_log.gif) no-repeat center top #28895f;
    height: 55px;
    padding-top: 78px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
}
.box4_topz h5 span{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffe7b9;
    font-weight: bold;
    display: block;
}
.box4_topz ul li a:hover{
	text-decoration: underline;
}
.box4_topy{
	width: 724px;
    float: right;
}
.box4_topy h3{
	background: url(../image/pr_h4.gif) no-repeat left center;
    height: 43px;
    line-height: 43px;
    text-align: center;
    font-size: 20px;
    padding-left: 13px;
    margin-bottom: 20px;
}
.box4_topy h3 span{
	float: right;
    font-size: 12px;
    font-weight: normal;
}
.box4_topy h3 a{
	color: #1d7c5a;
}
.box4_topy h3 a:hover{
	text-decoration: underline;
}
.box4_topy dl{
	width: 218px;
    float: left;
    padding-right: 23px;
    height: 320px;
    margin-bottom: 33px;
}
.box4_topy dl dt{
	 height: 165px;
}
.box4_topy dl dt img{
	width: 218px;
    height: 148px;
    background: url(../image/pr_ppbg.gif) no-repeat center bottom;
    padding-bottom: 10px;
}
.box4_topy dl dd h2{
	font-size: 12px;
    height: 30px;
    line-height: 30px;
    background: #efefef;
    text-align: center;
    overflow: hidden;
}
.box4_topy dl dd h2 a{
	color: #00755a;
}
.box4_topy dl dd h2 a:hover{
	text-decoration: underline;
}
.box4_topy dl dd p{
    color: #8a8a8a;
    font-size: 12px;
    line-height: 20px;
    padding: 12px 0 0 0;
    border-bottom: 1px solid #cfcfcf;
    height: 69px;
    overflow: hidden;
    width: 208px;
}
.box4_topy dl dd em{
	display: block;
    padding-top: 11px;
    text-align: center;
}
.box4_topy dl dd em img{
	 padding-right: 12px;
}
.box4_topy .nopa{
	    padding-right: 0;
}
.box4_bottom{
	width: 960px;
    margin: 20px auto 0;
    position: relative;
    overflow: hidden;
}
.box4_bottom p{
	position: absolute;
    float: right;
    top: 61px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    right: 25px;
    font-weight: bold;
}
.box4_bottom p b{
	display: block;
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding-bottom: 6px;
}
.box5{
	background: url(../image/what_bg.jpg) no-repeat center 0;
    height: 683px;
}
.box5_q{
	width: 960px;
    margin: 0 auto;
}
.box5_q h3{
	padding: 130px 0 127px 205px;
    height: 82px;
}
.box5_q h3 a{
	color: #fff;
}
.box5_q h3 b{
	float: left;
    font-family: "Microsoft Yahei";
    font-size: 30px;
    width: 250px;
}
.box5_q h3 b span{
	display: block;
    font-size: 24px;
    line-height: 50px;
}
.box5_q h3 i{
	font-style: normal;
    float: left;
    font-size: 66px;
    color: #fff251;
    padding-left: 22px;
    display: inline-block;
    width: 405px;
}
.box5_q dl{
	clear: both;
    width: 460px;
    padding-left: 505px;
    font-family: "Microsoft Yahei";
}
.box5_q dl dt{
	font-size: 20px;
    font-weight: bold;
    height: 20px;
    height: 28px;
    overflow: hidden;
    padding-bottom: 40px;
}
.box5_q dl dt a{
	     color: #fff;
}
.box5_q dl dd p{
	color: #fff;
    font-size: 13px;
}
.box5_q dl dd .box5_e{
	margin: 20px 0;
    line-height: 22px;
    width: 405px;
}
.box5_q dl dd em{
	    display: block;
    margin-top: 30px;
}
.box6{
	width: 960px;
    margin: 0 auto;
    background: url(../image/ys_bg1.jpg) no-repeat center 62px;
    height: 664px;
    padding-top: 55px;
    font-family: "Microsoft Yahei";
}
.box6 h3{
	font-size: 36px;
    font-weight: normal;
    padding: 0 0 55px 72px;
    height: 103px;
}
.box6 h3 a{
	color: #288a60;
}
.box6 h3 a b{
	font-size: 36px;
}
.box6 h3 span{
	font-size: 78px;
    color: #3bb9a1;
    font-weight: bold;
    padding-left: 6px;
}
.box6 dl{
	width: 450px;
    margin-top: 29px;
}
.box6 dl dt{
	font-size: 18px;
    color: #288a60;
    height: 47px;
    padding-bottom: 18px;
}
.box6 dl dt i{
	font-size: 30px;
    font-weight: bold;
    font-style: italic;
    padding: 0 12px 0 64px; 
}
.box6 dl dd p{
	font-size: 14px;
    color: #666;
    line-height: 24px;
    background: url(../image/ys_p.gif) no-repeat left 14px;
    border-bottom: 1px solid #dadada;
    padding: 6px 0 8px 20px;
}
.box6 dl dd .nobor{
	border-bottom: none;
}
.box7{
	background: url(../image/ys_bg2.jpg) no-repeat center 0;
    height: 672px;
}
.box7_q{
	width: 960px;
    margin: 0 auto;
    background: url(../image/ys_bg1.jpg) no-repeat center 62px;
    height: 664px;
    padding-top: 55px;
    font-family: "Microsoft Yahei";
}
.box7_q dl{
	width: 450px;
    margin-top: 29px;
}
.box7 .box7_q{
	background: none;
    padding-top: 20px;
}
.box7 .box7_q dl{
	padding-left: 510px;
}
.box7 .box7_q dl dt{
	font-size: 18px;
    color: #288a60;
    height: 47px;
    padding-bottom: 18px;
}
.box7 .box7_q dl dt i{
	font-size: 30px;
    font-weight: bold;
    font-style: italic;
    padding: 0 12px 0 64px;
}
.box7 .box7_q dd p{
	padding: 12px 0 8px 20px;
    background: url(../image/ys_p.gif) no-repeat left 23px;
}
.box7 .box7_q .box7_w{
	margin-top: 22px;
}
.box7_w dt{
	font-size: 18px;
    color: #288a60;
    height: 47px;
    padding-bottom: 18px;
}
.box7_w dt i{
	font-size: 30px;
    font-weight: bold;
    font-style: italic;
    padding: 0 12px 0 64px;
}
.box7 .box7_w dd p{
	padding: 12px 0 8px 20px;
    background: url(../image/ys_p.gif) no-repeat left 23px;
}
.box7_w dd p{
	font-size: 14px;
    color: #666;
    line-height: 24px;
    background: url(../image/ys_p.gif) no-repeat left 14px;
    border-bottom: 1px solid #dadada;
    padding: 6px 0 8px 20px;
}
.box7_w dd .nobor{
	border-bottom: none;
}
.box8{
	background: #1d7c5a;
    height: 206px;
}
.box8_q{
	width: 960px;
    margin: 0 auto;
    position: relative;
}
.box8_q p{
	color: #bcffe7;
    top: 35px;
    position: absolute;
    left: 700px;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 4px;
    font-family: "Microsoft Yahei";
    text-align: center;
    width: 350px;
}
.box8_q p b{
	display: block;
    font-size: 30px;
    height: 69px;
    line-height: 52px;
}
.box9{
	background: url(../image/ly_bg1.jpg) no-repeat center 0;
    height: 970px;
}
.box9  .box9_q{
	background: none;
}
.box9_q{
	width: 960px;
    margin: 0 auto;
    background: url(../image/ys_bg1.jpg) no-repeat center 62px;
    height: 664px;
    padding-top: 55px;
    font-family: "Microsoft Yahei";
}

.box9_q h3{
	    font-size: 36px;
    font-weight: normal;
	padding: 0 0 55px 72px;
    height: 103px;
}
.box9 h3{
	font-size: 42px;
    font-weight: bold;
    padding-top: 79px;
    padding-left: 220px;
    position: relative;
}
.box9_q a{
	color: #288a60;
}
.box9 h3 em{
	font-size: 72px;
    color: #fff;
    font-style: normal;
    left: 551px;
    top: 35px;
    position: absolute;
}
.box9 h3 i{
	font-style: normal;
    padding-left: 120px;
}
.box9 dl{
	padding-left: 498px;
}
.box9_q dl{
	width: 450px;
    margin-top: 29px;
}
.box9 dl dt{
	padding-left: 41px;
    font-weight: bold;
    color: #389a58;
}
.box9_q dl dt{
	font-size: 18px;
    color: #288a60;
    height: 47px;
    padding-bottom: 18px;
}
.box9 dl em{
	font-style: normal;
    padding-right: 16px;
}
.box9 .box9_q dl dd p{
	padding: 12px 0 8px 20px;
    background: url(../image/ly_p.gif) no-repeat left 23px;
}
.box9 dl dd p{
	font-size: 15px;
    line-height: 28px;
}
.box9_q dl dd p{
	font-size: 14px;
    color: #666;
    line-height: 24px;
    background: url(../image/ys_p.gif) no-repeat left 14px;
    border-bottom: 1px solid #dadada;
    padding: 6px 0 8px 20px;
}
.box9 .nobor{
	border-bottom: none;
}
.box9 .box9_w{
	padding-left: 0;
    padding-top: 66px;
    width: 438px;
}
.box9 .box9_w dt{
	padding-left: 52px;
    color: #25825a;
    font-size: 16px;
    padding-bottom: 6px;
    margin-top: 14px;
}
.box10{
	background: url(../image/ly_bg2.jpg) no-repeat center 0;
    height: 819px;
}
.box10_q{
	width: 960px;
    margin: 0 auto;
    background: url(../image/ly_bg2.jpg) no-repeat center 62px;
    height: 664px;
    padding-top: 55px;
    font-family: "Microsoft Yahei";
}
.box10 .box10_q{
	background: none;
}
.box10 dl dt{
	font-weight: bold;
    color: #3bb9a1;
    padding-left: 45px;
    padding-bottom: 8px;
}
.box10_q dl dt{
	font-size: 18px;
    color: #288a60;
    height: 47px;
    padding-bottom: 18px;
}

.box10 dl dd p{
	font-size: 14px;
    color: #666;
    line-height: 24px;
    background: url(../image/ys_p.gif) no-repeat left 14px;
    border-bottom: 1px solid #dadada;
    padding: 6px 0 8px 20px;
}
.box10 dl{
	padding-left: 498px;
    margin-top: 13px;
}
.box10 .box10_q dl dd p{
	padding: 12px 0 8px 20px;
    background: url(../image/ly_p.gif) no-repeat left 23px;
}
.box10 dl .nobor{
	border-bottom: none;
}
.box10 .box10_w{
	padding-left: 12px;
    padding-top: 135px;
    width: 427px;
}
.box10 dl dt {
    font-weight: bold;
    color: #3bb9a1;
    padding-left: 45px;
    padding-bottom: 8px;
    margin-top: 14px;
}
.box10_w dd p{
	padding: 12px 0 8px 20px;
    background: url(../image/ly_p.gif) no-repeat left 23px;
}
.box11{
	background: url(../image/yr_bg.gif) no-repeat center 0;
    height: 816px;
}
.box11_q{
	width: 960px;
    margin: 0 auto;
    position: relative;
}
.box11_q .up{
	position: absolute;
    left: 1070px;
    top: -50px;
}
.box11 .tel{
	font-family: "Microsoft Yahei";
    font-size: 16px;
    color: #fff;
    text-align: center;
    top: 17px;
    position: absolute;
    left: 790px;
}
.box11 .tel b{
	width: 180px;
    display: block;
    font-size: 22px;
    height: 50px;
    line-height: 42px;
}
.box11_q h3{
	text-align: center;
    padding-top: 161px;
    height: 50px;
}
.box11_q h4{
	text-align: center;
    color: #fff;
    font-size: 24px;
    font-family: "Microsoft Yahei";
    font-weight: normal;
    padding-top: 24px;
    height: 49px;
    padding-bottom: 38px;
}
.box11_e{
	float: left;
    background: url(../image/ry_bg1.jpg) no-repeat;
    width: 578px;
    height: 369px;
    padding-left: 42px;
    font-family: "Microsoft Yahei";
}
.box11_e h6{
	background: url(../image/ry_h3.gif) no-repeat left bottom;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: normal;
    padding-left: 13px;
    width: 524px;
    padding-top: 10px;
    margin-bottom: 28px;
}
.box11_e h6 span{
	float: right;
    display: inline-block;
    padding: 20px 0 0 0;
}
.box11_e h6 a{
	color: #434343;
}
.box11_e h6 a:hover{
	text-decoration: underline;
}
.box11_e h6 span img{
	margin-top: -34px;
}
.box11_e dl{
	width: 248px;
    float: left;
    padding-right: 40px;
}
.box11_e dl dt a img{
	display: inline;
	width: 248px;
    height: 141px;
}
.box11_e dd b{
	font-size: 13px;
    font-weight: normal;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    margin: 9px 0 2px 0;
    display: block;
}
.box11_e dd b a{
	color: #1d7c5a;
}
.box11_e dd b a:hover{
	text-decoration: underline;
	
}
.box11_e dd p{
	color: #989898;
    line-height: 22px;
    height: 40px;
    overflow: hidden;
}
.box11_e dd em{
	display: block;
    padding-top: 10px;
}
.box12{
    float:left;
    background: url(../image/ry_bg2.jpg) no-repeat;
    width: 303px;
    height: 369px;
    font-family: "Microsoft Yahei";
    margin-left: 40px;
}
.box12 h6{
    width: 237px;
    margin-left: 28px;
    background: url(../image/ry_h3.gif) no-repeat left bottom;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: normal;
    padding-left: 13px;
    padding-top: 10px;
    margin-bottom: 28px;
}
.box12 h6 span{
    float: right;
    display: inline-block;
    padding: 20px 0 0 0;
}
.box12 h6 img{
    margin-top: -34px;
}
.box12 h6 a{
    color: #434343;
}
.box12 h6 a:hover{
    text-decoration: underline;
}
.box12_q{
    padding: 106px 10px 0 25px;
}
.box12_e{
    padding: 106px 9px 0 10px;
}
.q_1{
    float: left;
}
.box13{
    width: 960px;
    margin: 0px auto;
    overflow: hidden;
}
.box13_q{
    float: left;
    width: 621px;
    height: 250px;
    font-family: "Microsoft Yahei";
    background: url(../image/zj_bg.gif) no-repeat right center;
    padding: 60px 0;
    overflow: hidden;
}
.box13_q h3{
    width: 580px;
    background: url(../image/zj_h3.gif) no-repeat 107px center;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
}
.box13_q h3 span{
    float: right;
    display: inline-block;
    padding-top: 12px;
}
.box13_q a{
    color: #666;
    font-weight: bold;
}
.box13_q a:hover{
    text-decoration: underline;
}
.box13_q h3 span a img{
    margin-top: -34px;
}
.box13_q dl{
    width: 578px;
    padding-top: 25px;
    height: 210px;
}
.box13_q dl dt{
    float: left;
    width: 255px;
}
.box13_q dl dt img{
    width: 255px;
    height: 195px;
}
.box13_q dl dd{
    float: left;
    width: 301px;
    padding-left: 18px;
}
.box13_q dl dd h4{
    line-height: 30px;
    overflow: hidden;
    height: 30px;
    font-size: 14px;
}
.box13_q dl dd h4 a{
    font-size: 12px;
    color: #1d7c5a;
}
.box13_q dl dd p{
    color: #666;
    line-height: 25px;
    font-size: 12px;
    padding: 3px 0 11px 0;
    height: 121px;
    overflow: hidden;
}
.box13_q dl dd span{
    display: inline-block;
}
.box14{
    float: right;
    width: 310px;
    height: 250px;
    padding: 60px 0;
    overflow: hidden;
}
.box14 h3{
    width: 303px;
    background: url(../image/zj_h32.gif) no-repeat 73px center;
    margin-bottom: 25px;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
}
.box14 span{
    float: right;
    display: inline-block;
    padding-top: 12px
}
.box14 span a img{
    margin-top: -34px;
}
.box14 h3 a{
    color: #666;
    text-decoration: none;
}
.box15{
    width: 300px;
    float: left;
    margin-right: 67px;
    font-family: "Microsoft Yahei";
    overflow: hidden;
}
.box15 h3{
    font-size: 16px;
    border-bottom: 1px solid #c8c8c8;
    height: 40px;
    line-height: 40px;
}
.box15 h3 span{
    float: right;
    display: inline-block;
    padding-top: 22px;
}
.box15 h3 em a{
    padding: 0 6px;
    font-style: normal;
}
.box15 h3 em .select{
    color: #1d7c5a;
    border-bottom: 1px solid #1d7c5a;
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
}
.box15 h3 a img{
    margin-top: -34px;
}
.box15_q p,.box15_w p{
    padding-top: 22px;
}
.box15_q p img,.box15_w p img{
    width: 294px;
    height: 77px;
}
.box15_q ul li,.box15_w ul li{
    height: 38px;
    line-height: 38px;
    border-bottom: 1px dotted #a8a8a8;
    font-size: 12px;
    overflow: hidden;
    background: url(../image/wt_li.gif) no-repeat left center;
}
.box15_q ul li a,.box15_w ul li a{
    color: #474747;
    padding-left: 10px;
}
.box15_q ul li a:hover,.box15_w ul li a:hover{
    text-decoration: underline;
}
.box15_q,.box15_w{
    display: none;
}
.box16{
        width: 250px;
    float: left;
    font-family: "Microsoft Yahei";
    overflow: hidden;
}
.box16 h3{
    font-size: 16px;
    border-bottom: 1px solid #c8c8c8;
    height: 40px;
    line-height: 40px;
}
.box16 h3 span{
    float: right;
    display: inline-block;
    padding-top: 22px;
}
.box16 h3 a{
    color: #434343;
}
.box16 h3 a img{
    margin-top: -34px;
}
.box16 h3 a:hover{
    text-decoration: underline;
}
.box16 p{
    padding-top: 22px;
}
.box16 ul li{
    height: 38px;
    line-height: 38px;
    border-bottom: 1px dotted #a8a8a8;
    font-size: 12px;
    overflow: hidden;
    background: url(../image/wt_li.gif) no-repeat left center;
}
.box16 ul li a{
    color: #474747;
    padding-left: 10px;
}
.box16 ul li a:hover{
    text-decoration: underline;
}
.box17{
    width: 280px;
    float: right;
    height: 370px;
    font-family: "Microsoft Yahei";
    overflow: hidden;
}
.box17 .outerr{
    margin: 0px auto;
}
.box17 h3{
    font-size: 16px;
    border-bottom: 1px solid #c8c8c8;
    height: 40px;
    line-height: 40px;
    background: url(../image/wt_h3.gif) no-repeat 108px center;
}
.box17 h3 span{
    float: right;
    display: inline-block;
    padding-top: 22px;
}
.box17 h3 a{
    color: #434343;
}
.box17 h3 a:hover{
    text-decoration: underline;
}
.box17 h3 a img{
    margin-top: -34px;
}
.innerr dl{
    padding: 10px 0;
    border-bottom: dashed 1px #e5e5e5;
}
.innerr dl dt{
    background: url(../image/wd_w.gif) no-repeat left 8px;
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    overflow: hidden;
    font-weight: bold;
}
.innerr dl dt a{
    color: #4c4c4c;
}
.innerr dl dt a:hover{
    text-decoration: underline;
}
.innerr dd{
    background: url(../image/wd_d.gif) no-repeat left 6px;
    width: 239px;
    line-height: 25px;
    padding-left: 30px;
    color: #666;
    height: 53px;
    overflow: hidden;
}
.box18{
    background: url(../image/links_bg.gif) no-repeat center 10px;
    height: 216px;
    padding-top: 10px;
}
.box18_q{
    width: 960px;
    margin: 0 auto;
    font-family: "Microsoft Yahei";
}
.box18_q h3{
    padding: 90px 0 0 187px;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    height: 30px;
    line-height: 20px;
}
.box18_q h3 span{
    float: right;
    padding: 12px 26px 0 0;
    display: inline-block;
}
.box18_q h3 a{
    color: #333;
}
.box18_q p{
    padding-top: 12px;
}
.box18_q p a{
    color: #8f8f8f;
    padding: 0 18px;
    display: inline-block;
    line-height: 35px;
}
.footer{
    background: url(../image/f_bg.gif) no-repeat center 0;
    height: 353px;
    font-family: "微软雅黑";
}
.footer_q{
    width: 960px;
    margin: 0px auto;
    overflow: hidden;
}
.footer_top a{
    color: #fff;
    font-size: 14px;
    padding: 0 10px;
}
.footer_top a:hover{
    color: white;
    text-decoration: underline;
}
.footer_top{
    height: 61px;
    line-height: 71px;
    text-align: center;
    color: #fff;
    margin-bottom: 38px;
}
.footer_bottom h3{
    float: left;
    font-size: 20px;
    padding: 31px 43px 0 94px;
}.
.footer_bottom p{
    float: left;
    padding-top: 14px;
}
.footer_bottom p i{
    font-style: normal;
    display: block;
    color: #fff;
    font-size: 12px;
    line-height: 23px;
}
.footer_bottom p i span{
    padding: 0 20px;
}
.footer_bottom p i img{
    padding-top: 5px;
}