/*n_yi css*/

*{
	padding: 0px;
	margin:0px;
	border: 0px;
}
.banner{
	width: 960px;
    margin: 0px auto;
    margin-bottom: 10px;
}
.banner a{
	display: block;
    margin: 0 auto;
}
.content{
	width: 960px;
    margin: 0 auto;
    overflow: hidden;
}
.content_left{
	width: 201px;
    float: left;
    overflow: hidden;
}
.content_tit{
	background: #1D7C5A;
    height: 32px;
    line-height: 32px;
    padding-left: 13px;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}
.content_left .content_ul{
	border: 1px solid #dfdfdf;
    padding: 12px 5px 10px 5px;
    background: #fff;
    border-bottom: 0;
}
.content_ul a:hover{
	text-decoration: underline;
}
.content_left_top ul li a{
	display: block;
    padding-left: 40px;
    background: url(../image/ico003.gif) no-repeat 30px 10px;
    line-height: 24px;
    height: 24px;
    overflow: hidden;
}
.cont{
	background: url(../image/left_bot_img.gif) no-repeat;
    height: 3px;
    font-size: 0;
    overflow: hidden;
    margin-bottom: 10px;
}
.content_left_bottom{
	width: 201px;
	margin-top: 10px;
}
.cont_bottom{
	background: #FFF;
    border: 1px solid #DFDFDF;
    border-bottom: none;
    border-top: none;
}
.cont_contact{
	padding: 0 5px 0 10px;
}
.cont_contact_p1{
	line-height: 24px;
}
.cont_tel{
	background: url(../image/Teln.gif) no-repeat scroll 0 18px transparent;
    color: #666666;
    line-height: 20px;
    padding: 10px 0 10px 55px;
}
.cont_tel span{
	display: block;
    font: 18px "Impact";
    color: #6B9F1F;
}
.cont_contact p{
	line-height: 24px;
}
.content_right{
	width: 754px;
    float: left;
    display: inline;
    margin-left: 5px;
    overflow: hidden;
}
.con_right_t{
	background: url(../image/right_top_img.gif) no-repeat;
    height: 3px;
    font-size: 0;
    overflow: hidden;
}
.con_right_t1{
	background-color: #fff;
    height: 30px;
    line-height: 30px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 0 10px;
    position: relative;
    color: #666;
    overflow: hidden;
}
.con_right_t1 span a{ 
	color: #666;
}
.con_right_t1 span a:hover{
	text-decoration: underline;
}
.con_right_t2{
	background: url(../image/right_top_img.gif) no-repeat;
    height: 3px;
    font-size: 0;
    overflow: hidden;
    margin-bottom: 10px;
}
.cont_t3{
	background: url(../image/right_top_img.gif) no-repeat;
    height: 3px;
    font-size: 0;
    overflow: hidden;
}
.cont_t4{
	width: 752px;
    border: solid 1px #d5d5d5;
    border-top: 0;
    border-bottom: 0;
    padding-bottom: 15px;
    overflow: hidden;
}
.cont_t5{
	width: 710px;
    padding-top: 10px;
    line-height: 24px;
    margin-left: 19px;
}
.cont_t6{
	padding-left: 10px;
}
.cont_t5 .cont_t6 p{ 
	white-space: normal;
    letter-spacing: normal;
    word-spacing: 10px;
    margin: 25px 0;
    font-size: 14px;
    text-align: left;
}
.cont_t5 .cont_t6 .cont_t6_p1{
    text-align: center;

}
.cont_t5 .cont_t6 p span{
	font-size: 20px;
}
.cont_t5 .cont_t6 p span strong{
	font-weight: bold;
}
.cont_t6 table{
	width: 700px;
	text-align: center;
	font-size: inherit;
	border-collapse: collapse;
	border-spacing: 0;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    display: table;
}
.cont_t6 table tbody{
	display: table-row-group;
    vertical-align: middle;
    border-color: inherit;	
}
.cont_t6 table tbody td{
	width: 130px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid grey;
}
.cont_t6 p img{
	text-align: center;
}
.cont_end{
	background: url(../image/right_bot_img.gif) no-repeat;
    height: 3px;
    font-size: 0;
    overflow: hidden;
    margin-bottom: 10px;
}


/*n_er css*/

.n_er_con{
	width: 730px;
    margin: 0 auto;
    padding-top: 15px;
}
.n_er_con dl{
	width: 218px;
    padding: 10px 12px;
    float: left;
    display: inline-block;
    overflow: hidden;
}
.n_er_con dl a{
	width: 218px;
    height: 148px;
    padding: 1px;
    display: block;
    color: #666;
    text-decoration: none;
}
.n_er_con dl a img{
	display: block;
    width: 218px;
    height: 148px
}
.n_er_con dl dd{
	width: 218px;
    height: 24px;
    line-height: 24px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    padding: 0 4px;
}
.n_er_con dl dd a:hover{
	text-decoration: underline;
}


/*n_san css*/
.content_left_top h4{
	background: #40B064;
    height: 33px;
    line-height: 33px;
    padding-left: 28px;
    overflow: hidden;
    margin-top: 4px;
    font-size: 14px;
} 
.content_left_top h4 a{
	color: #fff;
}
.content_left_top .content_ull li a{
	background: url(../image/icon1.gif) no-repeat scroll 0 10px;
    padding-left: 17px;
    color: #666;
    line-height: 29px;
    overflow: hidden;
    white-space: nowrap;
    height: 29px;
    border-bottom: 1px dashed #DEDEDE;
    margin-left: 14px;
}
.content_left_top .content_ull li a:hover{
	text-decoration: underline;
}
.n_san_q{
	background-color: #fff;
    border: solid 1px #ccc;
    border-top: none;
    border-bottom: none;
    zoom: 1;
    padding: 10px 5px;
    overflow: hidden;
}
.n_san_w{
	width: 160px;
    overflow: hidden;
    float: left;
    padding: 5px 12px 10px;
}
.n_san_w dl dt{
	width: 160px;
    height: 122px;
    line-height: 0;
    font-size: 0;
}
.n_san_w dt img{
	width: 156px;
    height: 118px;
    padding: 1px;
    border: 1px solid #D6D6D6;
}
.n_san_w dl dd{
	margin-top: 3px;
    height: 20px;
    width: 160px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
}


/*n_si.css*/
.n_si_yi{
	width: 752px;
    border: solid 1px #d5d5d5;
    border-top: 0;
    border-bottom: 0;
    padding-bottom: 15px;
    overflow: hidden;
}
.n_si_er{
	width: 710px;
    padding-top: 10px;
    line-height: 24px;
    margin-left: 19px;
}
.n_si_dl{
	width: 177px;
    padding: 10px 14px;
    float: left;
    display: inline-block;
    overflow: hidden;
}
.n_si_dl dt{
	width: 181px;
    height: 242px;
    overflow: hidden;
}
.n_si_dl dt a{
	width: 177px;
    height: 238px;
    padding: 1px;
    border: 1px solid #ccc;
    display: block;
}
.n_si_dl dt a img{
	display: block;
    width: 177px;
    height: 238px;
}

.n_si_dl dd{
	width: 177px;
    height: 24px;
    line-height: 24px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    padding: 0 4px;
}
.n_si_dl dd a{
	color: #666;
}
.n_si_dl dd a:hover{
	text-decoration: underline;
}



/*n_wu.css*/
.k_h{
    width: 752px;
    border: solid 1px #d5d5d5;
    border-top: 0;
    border-bottom: 0;
    padding-bottom: 15px;
    overflow: hidden;
}
.k_h1{
    width: 730px;
    margin: 0 auto;
    padding-top: 15px;
}
.k_h2{
    height: 170px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #ccc;
    overflow: hidden;
}
.k_h2 dt{
    width: 204px;
    float: left;
}
.k_h2 dt a{
    width: 248px;
    height: 141px;
    padding: 1px;
    border: 1px solid #ccc;
    display: block;
}
.k_h2 dt a img{
    display: block;
    width: 248px;
    height: 141px;
}
.k_h2 dd{
    padding-left: 70px;
    float: left;
    width: 438px;
    line-height: 24px;
    height: 150px;
    overflow: hidden;
    color: #666;
}
.k_h2 dd h5{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
}
.k_h2 dd h5 a{
    color: #40b064;
    font-size: 13px;
}


/*n_liu.css*/

.x_w{
    width: 752px;
    border: solid 1px #d5d5d5;
    border-top: 0;
    border-bottom: 0;
    padding-bottom: 15px;
    overflow: hidden;
}
.x_w1{
    width: 730px;
    margin: 0 auto;
    padding-top: 15px;
}
.x_w1 dl{
    font-size: 14px;
    color: #666;
    padding: 0 5px;
    line-height: 22px;
    border-bottom: 1px dashed #CCCCCC;
}
.x_w1 dl dt{
    margin-bottom: 3px;
    margin-top: 5px;
    line-height: 24px;
    height: 24px;
    width: 720px;
    overflow: hidden;
}
.x_w1 dl dt a{
    height: 20px;
    background: url(../image/ico10.gif) no-repeat 0 6px;
    padding-left: 10px;
    font-size: 13px;
    color: #40b064;
    font-weight: bold;
}
.x_w1 dl dt a:hover{
    text-decoration: underline;
}
.x_w1 dl dt span{
    font-size: 12px;
    float: right;
    padding: 0 10px 0 8px;
    font-family: "宋体";
}
.x_w1 dl dd{
    font-size: 12px;
    padding-left: 10px;
    height: 45px;
    overflow: hidden;
    margin-bottom: 10px;
}
.y_m{
    width: 752px;
    border: solid 1px #d5d5d5;
    border-top: 0;
    border-bottom: 0;
    padding-bottom: 15px;
    overflow: hidden;
}
.y_m1{
    width: 710px;
    padding-top: 10px;
    line-height: 24px;
    margin-left: 19px;
}
.y_m2{
    padding-left: 10px;
}
.y_m2 p{
    margin: 25px 0;
    font-size: 14px;
    text-indent: 0em;
    white-space: normal;
    letter-spacing: normal;
    word-spacing: 10px;
}
.y_m3{
    text-align: center;
}



/*n_ba.css*/


.lianxi_hb{
    text-indent: 2em;
    word-spacing: 10px;
    text-align: left;
    margin: 25px 0;
    font-size: 14px;
    color: #666;
}



/*xinwen.css*/


.x_w1 h1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.x_w2 dt{
    text-indent: 2em;
    font-weight: bold;
    font-size: 16px;
}
.x_w2  dd{
    text-indent: 2em;
}
.x_w .x_w1 dl dd{
   overflow: block;
   height: 100%;
}
.s_y,.x_y{
    margin-top: 12px;
}
.s_y a:hover{
    text-decoration: underline;
}
.x_y a:hover{
    text-decoration: underline;
}


/*chanpin.css*/

.chan_pin{
    overflow: hidden;
}
.chan_pinz,.chan_piny{
    width: 300px;
    height: 300px;
    border:1px solid #D5D5D5;
    float: left;
    margin-left: 40px;
    text-align: center;
}
.chan_pinz img{
    margin: 50px auto
}
.chan_pin1{
    width: 300px;
    height: 80px;
    margin-left: 40px;
    margin-top: 12px;
    border: 1px solid #D5D5D5;
}
.chan_pin1 img{
    width: 60px;
    height:60px;
    line-height: 60px;
    display: inline-block;
    padding: 12px;
}
.chan_piny h1{
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    margin-top: 12px;
    margin-left: 12px;
}
.chan_piny p{
    font-size: 14px;
    text-align: left;
    margin-top: 8px;
    margin-left: 12px;
}
.chan_pin2{
    width: 266px;
    border:1px solid #D5D5D5;
}
.chan_pin3 .chan_js{
    width: 120px;
    height: 40px;   
    font-size: 16px;
    background: #1A773A;
    color: white;
    font-weight: bolder;
    line-height: 40px;
    text-align: center;
    margin-left: 40px;
    margin-top: 12px;
}
.chan_pin3 p{
    font-size: 14px;
    margin-left: 40px;
    margin-top: 12px;
    text-indent: 2em;
}