.cute{
		width: 200px;
		height: 300px;
		overflow: hidden;
		margin:0px auto;
	}
	.wu,.wu2{
		width: 200px;
		height: 300px;
		float: left;
	}
	.contt{
		width: 800px;	
		height: 260px;
		overflow: hidden;
	}
	.wu img,.wu2 img{
		float: left;
		width: 200px;
		height: 300px;
		margin-top: -24px;

	}
/*无缝滚动一*/
	.outerr{
		width: 290px;
		height: 400px;
		margin:50px auto;
		overflow: hidden;
	}
	.innerr{
		width: 200px;
		height: 800px;
	}
	.innerr ul{
		width: 200px;
		height: 100px;
		float: left;
	}
/*无缝滚动二*/