body{text-align:center;	/*font-family:"Microsoft Yahei";*/font-family:"宋体";text-align:center;	font-size:12px;color:#656565;}
/*头部*/
.head{ width:1094px; height:80px; margin:0px auto;}
.head .logo{ width:490px; height:45px; float:left; margin-top:17px;}
.head .logo img{ width:490px; height:45px; vertical-align:top;}
.head .tel{ width:210px; height:40px; float:right; margin-top:20px;}
.head .tel img{ width:210px; height:40px; vertical-align:top;}
.nav_bg{ width:100%; height:43px; background:#0C96B3; box-shadow:2px 2px 4px #666; position:relative; z-index:9999999;}
.nav_bg .nav_m{ width:1094px; height:45px; margin:0px auto; position:relative;}
.nav_m .nav{ width:830px; height:45px; position:absolute; left:0px; top:0px; text-align:left;}
.nav_m .nav li{ display:inline-block; *display:inline; zoom:1; height:43px; line-height:43px; padding:0px 20px; float:left;}
.nav_m .nav li a{ font-size:14px; font-weight:bold; color:#FFF;}
.nav_m .nav li.line{ width:2px; height:15px; margin-top:15px; border-left:1px solid #FFF; padding:0px;}
.nav_m .nav li.now{ background:#037891;}
.nav_m .search{ width:244px; height:25px; float:right; background:url(../images/s_bg.png) no-repeat; position:relative; margin-top:10px;}
.nav_m .search input{ width:190px; height:23px; line-height:23px; padding:0 5px; border:0px; background:none; position:absolute; left:10px; top:1px; color:#A9CED6;}
.nav_m .search .btn{ width:30px; height:23px; background:url(../images/s_btn.png) no-repeat center center; left:210px; cursor:pointer;}
/*幻灯片*/
.banner{ width:100%; min-width:1094px; overflow:hidden; height:370px; margin:0px auto; border-bottom:7px solid #C9C9C9;}
#inner { width:100%;	min-width:1000px;margin: 0 auto;height:370px;overflow:hidden;}
.hot-event {padding: 0px;position: relative;}
.hot-event .switch-tab {text-align: center;	position:absolute;left:0px;top:340px;width:100%;height:30px;line-height:30px;z-index:99;}
.hot-event .switch-tab a, .hot-event .switch-tab .current {margin: 0 2px;display: inline-block;width:8px;height:8px;background:#fff;overflow: hidden;vertical-align:middle;text-indent:-9999px; border-radius:200px; -moz-border-radius:200px; -webkit-border-radius:200px;}
.hot-event .switch-tab .current {background:#037891;width:9px;height:9px;}
.hot-event .event-item {height:370px;width:100%;position: absolute;z-index: 1;left: 0;top: 0;}
.hot-event .event-item .banner {display: block;	overflow:hidden;text-align:center;position:relative;margin:0px auto;}
.hot-event .event-item img {-webkit-box-reflect: below 0 -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(85%, transparent), to(rgba(255,255,255,.2)));border: 0;width:1920px;	height:370px;margin:0px auto;}
.hide-clip {position: absolute!important;clip: rect(1px 1px 1px 1px);clip: rect(1px,1px,1px,1px);padding: 0!important;border: 0!important;height: 1px!important;line-height: 0!important;width: 1px!important;overflow: hidden;}
/*幻灯片*/
.main_bg{ width:100%; min-width:1094px; background-color:#EEF3F1; background-image:url(../images/bg.jpg); background-repeat:no-repeat; background-position: center top;}
.main_bg .main{ width:1094px; margin:0px auto; position:relative; top:-7px; z-index:2; text-align:left; padding-bottom:35px;}
.main .box_a{ width:100%;}
.box_a .box_al{ width:188px; float:left; border-top:7px solid #067BB1; height:293px; overflow:hidden; background:#FFF;}
.box_al .box_h{ width:158px; margin-left:10px; height:40px; line-height:40px; padding-top:10px; border-bottom:2px solid #C3C3C3; font-size:14px; color:#555555; font-weight:bold; position:relative;}
.box_al .box_h span{ color:#0689A5;}
.box_al ul{ width:158px; margin-left:10px; padding:10px 0;}
.box_al ul li{ width:100%; height:40px; line-height:40px; border-bottom:1px dashed #ddd;}
.box_al ul li img{ width:21px; height:21px; vertical-align:top; margin-top:9px;}
.box_al ul li a{ color:#656565; font-size:14px;}
.box_al ul li a:hover{ color:#139BB8; font-weight:bold;}
.box_al ul li span{ display:inline-block; *display:inline; zoom:1; height:40px; line-height:40px; vertical-align:top; margin-left:5px;}
.box_a .box_am{ width:565px; height:300px; float:left; background:#149CB9; color:#FFF; overflow:hidden;}
.box_am .box_h{ width:535px; height:40px; line-height:40px; padding-top:17px; border-bottom:2px solid #FFF; font-weight:bold; font-size:14px; position:relative; margin-left:15px;}
.box_am .box_h .more, .box_ar .box_h .more{ display:block; width:42px; height:20px; background:url(../images/more_a.png) no-repeat center center; position:absolute; right:0px; bottom:7px;}
.box_am .box_gd{ width:535px; margin-left:15px; height:235px; overflow:hidden;}
.box_gd .maquee{ height:215px;overflow:hidden; position:relative;}
.news_li,.swap{display:inline-block; position:absolute; top:0; left:0px;}
.news_li a,.swap a{ color:#fff;}
.swap{top:215px;}
.news_li li , .swap li{ width:100%; height:70px;}
.news_li li h5 , .swap li h5{ display:inline-block; *display:inline; zoom:1; width:auto; border-bottom:1px solid #FFF; height:20px; line-height:20px; font-weight:bold; padding-top:10px; margin-bottom:5px;}
.news_li li:hover h5 , .swap li:hover h5{ border-bottom:0px;}
.news_li li h5 a , .swap li h5 a{ color:#FFF;}
.news_li li p , .swap li p{ height:40px; overflow:hidden; text-align:left; font-size:12px; color:#FFFFFF; line-height:142%;}
.box_a .box_ar{ width:340px; float:left; border-top:7px solid #06A5A3; height:292px; border-bottom:1px solid #ddd; overflow:hidden; background:#FFF;}
.box_ar .box_h{ width:300px; height:40px; line-height:40px; padding-top:10px; border-bottom:2px solid #C3C3C3; font-size:14px; color:#555555; font-weight:bold; position:relative; margin-left:30px;}
.box_ar .box_h span{ color:#0689A5;}
.box_ar .box_h .more{ background:url(../images/more.png) no-repeat center center;}
.box_ar ul{ width:300px; margin-left:30px; padding:10px 0;}
.box_ar ul li{ width:100%; height:30px; line-height:30px; border-bottom:1px dashed #ddd; position:relative;}
.box_ar ul li a{ font-size:12px; color:#656565;}
.box_ar ul li a:hover{ color:#149CB9;}
.box_ar ul li p{ width:200px; height:30px; line-height:30px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.box_ar ul li em{ display:block; text-align:right; position:absolute; right:0px; top:0px;}
.box_ar ul li.one{ height:87px; padding-top:3px;}
.box_ar ul li.one dl{ width:100%; height:87px;}
.box_ar ul li.one dl dt{ width:99px; height:77px; float:left;}
.box_ar ul li.one dl dt img{ width:99px; height:77px; vertical-align:top;}
.box_ar ul li.one dl dd{ width:180px; float:left; margin-left:13px;}
.box_ar ul li.one dl dd h5{ width:100%; height:28px; line-height:28px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.box_ar ul li.one dl dd h5 a{ font-weight:bold;}
.box_ar ul li.one dl dd p{ width:180px; height:47px; line-height:140%; white-space:normal;word-break:break-all; overflow:hidden;}
.box_b{ width:1094px; height:128px;}
.box_b .box_bl{ width:188px; height:128px; background:#149CB9; float:left; border-bottom-left-radius:15px; -moz-bottom-left-radius:15px; -webkit-bottom-left-radius:15px; text-align:center;}
.box_b .box_bl .name{ width:158px; margin-left:15px; text-align:left; color:#FFF; padding-top:10px; font-size:28px;}
.box_b .box_bl .name b{ display:block; font-size:15px;}
.box_b .box_bl a{ width:82px; height:22px; text-align:center; line-height:22px; display:inline-block; *display:inline; zoom:1; font-size:13px; color:#FFF; border:1px solid #FFF; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.box_b .box_bm{ width:758px; height:128px; background:#FFF; float:left; border-right:1px solid #ddd; overflow:hidden;}
.box_b .box_bm ul{ width:743px; margin:17px 0 0 17px; height:94px;}
.box_b .box_bm ul li{ width:174px; height:94px; float:left; margin-right:10px;}
.box_b .box_bm ul li img{ width:174px; height:94px; vertical-align:top;}
.box_b .box_br{ width:147px; float:left; position:relative;text-align:center; background:#FFF; height:128px;}
.box_b .box_br img{ width:82px; height:82px; vertical-align:top; margin-top:5px;}
.box_b .box_br p{ width:130px; text-align:left; margin-left:27px;}
.box_b .box_br .rf_bg{ width:149px; height:21px; position:absolute; background:url(../images/f_icon.png) no-repeat; right:0px; bottom:-10px;}
.f_bg{ width:100%; min-width:1094px; background:#818181; height:250px;}
.f_bg .foot_n{ width:1094px; height:250px; margin:0px auto;}
.foot_n li{ float:left; height:250px; border-right:1px solid #9A9A9A; font-size:12px; color:#FFF; text-align:left; margin-right:30px;}
.foot_n li .title{ display:block; width:100%; height:60px; line-height:60px; font-size:14px; color:#FFFFFF;}
.foot_n li a{ display:block; height:22px; line-height:22px; color:#FFFFFF;}
.foot_n li a:hover{ color:#037891; font-weight:bold;}
.foot_n .f_a{ width:295px; line-height:180%;}
.foot_n .f_b{ width:103px;}
.foot_n .f_c{ width:140px;}
.foot_n .f_d{ width:240px;}
.foot_n .f_e{ margin-right:0px; width:185px; border:0px;}
.bq_bg{ width:100%; min-width:1094px; height:30px; background:#777777;}
.bq_bg .bq{ width:1094px; height:30px; line-height:30px; text-align:left; margin:0px auto; font-size:12px; color:#DFDFDF;}
.foot_n .f_a dl{ width:100%; height:40px; margin-top:15px;}
.foot_n .f_a dl dt{ width:3px; height:40px; background:#F4F4F4; float:left;}
.foot_n .f_a dl dd{ width:270px; float:left; margin-left:5px;}
.foot_n .f_a dl dd p{ width:100%; height:22px; line-height:22px; font-size:14px; color:#FFFFFF; font-weight:bold;}
.foot_n .f_a dl dd img{ width:127px; height:12px; vertical-align:top; margin-top:3px;}
.foot_n .f_a .f_am{ width:260px; margin-top:20px; border-bottom:1px solid #9A9A9A; padding-bottom:10px; margin-bottom:10px;}
.foot_n .f_a .f_am b{ display:block; width:100%; font-size:14px; font-weight:bold; margin-bottom:5px;}
.second{ width:100%;}
.second .scd_tbg{ width:100%; height:110px; border-bottom:7px solid #C9C9C9; min-width:1094px; background:#F6F6F6;}
.second .second_t{ width:1094px; height:110px; margin:0px auto; border-bottom:7px solid #06A5A3; position:relative; z-index:2;}
.second_t .scd_tl{ width:465px; float:left; height:67px; position:relative; margin-top:21px; text-align:left;}
.second_t .scd_tl img{ vertical-align:top;}
.second_t .scd_tl .tip{ width:100%; height:18px; line-height:18px; text-align:left; font-size:12px; color:#555555; position:absolute; left:67px; bottom:-3px;}
.second_t .pst{ width:500px; text-align:right; height:20px; line-height:20px; font-size:12px; color:#2A2A2A; float:right; margin-top:75px;}
.second_t .pst a{color:#2A2A2A;}
.second_t .pst a.now , .second_t .pst a:hover{ color:#0C96B3;}
.second_t .scd_tl .h_fline{ width:250px; height:7px; background:#1485B9; position:absolute; left:0px; bottom:-29px; z-index:9;}
.scd_m{ width:1094px; margin:0px auto;}
.scd_m .scd_ml{ width:250px; padding:25px 0; float:left;}
.scd_ml .sidenav{ width:250px;}
.scd_ml .sidenav li{ width:250px; height:35px; line-height:35px; border-bottom:1px solid #D0D0D0; border-top:1px solid #FDFDFD; text-align:right; overflow:hidden;}
.scd_ml .sidenav li a{ font-size:13px; color:#555555; font-weight:bold; margin-right:40px;}
.scd_xt_m .scd_ml .sidenav li a{ margin-right:13px;}
.scd_ml .sidenav li.now{ border-bottom:0px; background:url(../images/bg_a.png) no-repeat right top; line-height:30px;}
.scd_ml .sidenav li.now a , .scd_ml .sidenav li.now a:hover{ color:#FFF;}
.scd_ml .sidenav li a:hover{ color:#0C96B3;}
.scd_m .scd_mr{ width:795px; float:right; border-top:1px solid #ddd; margin-top:32px; text-align:left; line-height:200%; font-size:13px; color:#555555; padding:15px 0 50px;}
.scd_m .scd_mr h5{ width:100%; font-size:14px; margin-bottom:10px;}
.case{ width:1094px; margin:0px auto; border-top:1px solid #ddd; margin-top:25px; text-align:left;}
.case .name{ width:100%; height:34px; line-height:34px; background:url(../images/bg_b.png) no-repeat left center; margin:5px 0;}
.case .name span{ font-size:14px; font-weight:bold; margin-left:18px; color:#FFF;}
.case .case_m{ width:100%; margin-top:20px;}
.case_m dl{ width:530px; float:left; margin-bottom:45px;}
.case_m dl dt{ width:242px; height:116px; float:left;}
.case_m dl dt img{ width:242px; height:116px; vertical-align:top;}
.case_m dl dd{ width:270px; float:left; margin-left:15px;}
.case_m dl dd h5{ width:100%; height:30px; line-height:30px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.case_m dl dd h5 a{ font-size:14px; color:#555555; font-weight:bold;}
.case_m dl dd h5 a:hover{ color:#1485B9;}
.case_m dl dd .des{ width:100%; height:74px; line-height:160%; overflow:hidden; font-size:12px; color:#555555;}
.scd_m .system{ width:795px; margin:0px auto; border-top:0px;}
.system .tabBox_t , .system .tabBox  {width:795px;text-align:left;}
.system .tabBox .tabNav {overflow: hidden; width:100%; height:35px; line-height:35px; border-bottom:1px solid #ddd; text-align:right;}
.system .tabBox .tabNav li {cursor: pointer; font-size:13px; color:#555555; display:inline-block; *display:inline; zoom:1; height:20px; line-height:20px; background:url(../images/icon7.png) no-repeat left center; padding-left:10px; margin-left:1px; vertical-align:top; margin-top:7px;}
.system .tabBox .tabNav li span{display:inline-block; *display:inline; zoom:1; font-size:13px; color:#555555; font-weight:bold; height:18px; padding:0px 7px;}
.system .tabBox .tabNav li.now { background:none; padding:0px;}
.system .tabBox .tabNav li.now span{ background:#0C96B3; color:#FFF;}
.system .tabBox .tabCont {display: none; width:100%; padding:10px 0 50px;}
.system .tabBox .tabCont h5{ width:100%; height:35px; line-height:35px; text-align:left; background:url(../images/bg_c.png) repeat-y;}
.system .tabBox .tabCont h5 span{ color:#FFF; margin-left:10px;}
.system .tabBox .tabCont .sys_stn{ width:100%; padding:40px 0; text-align:left; font-size:13px; color:#555555; line-height:200%;}
.scd_m .service{ width:795px; border-top:0px; padding:25px 0 50px;}