@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
body{ font-family:Verdana, Geneva, sans-serif; font-size:12px; margin:0; padding:0;}
ul,li,dt,dl,dd,h1,h2,h3,h4,h5,h6{ margin:0; padding:0}
img{ border:none;}
ul,li{ list-style:none;}
a{ text-decoration:none;}
a:hover{ text-decoration:none;}
.left{ float:left;}
.right{ float:right;}
.clear{ clear:both; height:0px; line-height:0px; font-size:0px;}
.blank{ clear:both; height:18px;}