@charset "utf-8";
/* CSS Document */

.header{ width:1000px; margin:0 auto;}
.top{ width:1000px; height:68px; margin:18px 0px;}
.logo{ width:308px; height:68px;}
.search{ width:318px; height:36px; margin-top:16px;}
.keyword{ width:267px; height:34px; border:1px solid #666; background:#ccc;}
.submit{ width:45px; height:36px; background:url(../images/submit.jpg) no-repeat center;}
.menu{ width:1000px; height:57px; background:url(../images/bg.jpg) no-repeat center;}
.menu ul li{ width:142px; height:57px; float:left; text-align:center; line-height:57px;}
.menu ul li:hover{ width:147px; background:url(../images/h.jpg) no-repeat center;}
.menu ul li a{ font-size:16px; color:#fff;}
.banner{ margin-top:10px;}

.content{ width:1000px; margin:0 auto;}
.con01{ width:1000px; margin-top:10px;}
.con01-l{ width:635px; height:410px; float:left;}
.con01-l-tit{ width:635px; height:40px; line-height:40px; border-bottom:1px solid #92311d;}
/*标题公共部分*/
.a1{ float:left; font-size:18px; font-weight:bold; color:#92311d;}
.a1 span{ color:#999; font-size:14px; font-weight:100; margin-left:5px;}
.sp{width:4px; height:19px; background:#92311d; margin-right:10px;}
.a2{ float:right; font-size:14px; color:#92311d; margin-right:10px;}

.tw{ width:635px; height:163px; margin-top:20px;}
.twl{ width:238px; float:left;}
.twr{ width:370px; float:right; height:162px; border-bottom:1px dashed #666;}
.twr h3 a{ color:#92311d; font-size:14px;}
.twr p{ font-size:14px; line-height:30px; color:#999; text-indent:2em; padding-right:15px; padding-top:10px;}
.lb{ width:635px; color:#333; margin-top:20px;}
.lb ul li a{ font-size:14px; color:#333; line-height:38px;}
.lb ul li a:hover{ color:#92311d;}

.con01-r{ width:348px; height:410px; float:right;}
.con01-r-tit{ width:348px; height:40px; line-height:40px; border-bottom:1px solid #92311d;}
.con01-r p{ margin-top:18px;}
.con01-r ul{ margin-top:20px;}
.con01-r ul li a{ font-size:14px; color:#333; line-height:38px;}
.con01-r ul li a:hover{ color:#92311d;}

.con02{ width:1000px; height:256px;}
.con02-l{ width:635px; height:256px; float:left;}
.con02-l-tit{ width:635px; height:39px; line-height:39px; background:#8b2918; font-size:18px; color:#fff; text-indent:0.5em;}
.con02-l-tit span{ font-size:14px; padding-left:10px;}
.keshi{ width:635px; height:125px;}
.keshi ul li{ padding:5px 20px; border:1px solid #ccc; float:left; display:block; margin-left:14px; margin-top:15px;}
.keshi ul li a { background:url(../images/t.jpg) no-repeat; padding-left:20px; line-height:30px; font-size:14px; color:#000; font-weight:bold;}
.keshi ul li:hover{ background:#92311d;}
.keshi ul li a:hover{ color:#fff;}
.pub{ margin-top:2px;}

.con02-r{ width:348px; height:256px; float:right;}
.con02-r-tit{ width:348px; height:39px; line-height:39px; background:#8b2918; font-size:18px; color:#fff; text-indent:0.5em;}
.con02-r-tit span{ font-size:14px; padding-left:10px;}
.dao ul li{ width:153px; height:56px; display:inline; float:left; margin-top:16px; margin-left:14px;}

.con03{ width:1000px; height:470px; margin-top:25px;}
.con03-tit{ width:1000px; height:39px; line-height:39px; background:#8b2918; font-size:18px; color:#fff; text-indent:0.5em;}
.con03-tit span{ font-size:14px; padding-left:10px;}
.con03-l{ width:530px; height:392px; display:inline; float:left;}
.con03-l ul li{ width:530px; display:block; clear:both; font-size:14px; line-height:40px;}
.con03-l ul li span{ width:123px; float:left; height:24px; background:#92311d; display:block; line-height:24px; text-align:center; font-size:14px; color:#fff; font-weight:bold;}
.con03-l ul li a{ color:#333; font-size:14px; font-weight:400; margin-left:25px;}
.con03-r{ width:470px; height:361px; float:left; display:inline; background:url(../images/11.jpg) no-repeat center top;}
.con03-r p{ width:415px; line-height:23px; padding-left:25px;}

.bottom{ width:1000px; height:275px; margin:0 auto;}
.bot_nav{ width:780px; height:43px;}
.bot_nav ul li{ width:260px; height:43px; line-height:43px; float:left; display:inline; font-size:18px; color:#8b2918; text-align:center;}
.bot_nav ul li span{ color:#999; font-size:14px; font-weight:100; margin-left:5px;}
.sp01{width:4px; height:19px; background:#92311d; margin-right:10px;}
.bot_nav ul li.hover{width:250px; height:43px; text-align:center; border-left:1px solid #8b2918; border-right:1px solid #8b2918; border-top:1px solid #8b2918;}
.zj_left{ float:left;}

.bot_con{ width:1000px; height:172px; border:1px solid #8b2918; float:left;}
.bot_con ul{ width:1000px; float:left;}
.bot_con ul li{ width:214px; height:127px; float:left; display:inline; margin-top:23px; margin-left:10px;}
.bot_con ul li img{ padding:1px; border:1px solid #ccc;}
#hjleft01,#hjright01,#hjleft02,#hjright02,#hjleft03,#hjright03{ width:17px; height:100px; float:left; display:inline; padding-top:74px; padding-left:10px; padding-right:10px;}

.footer{ height:274px; background:url(../images/f.jpg) repeat-x;}
.g{ width:312px; height:70px; margin:0 auto; padding-top:16px;}
.k{ width:470px; margin:0 auto; padding-top:40px; color:#fff; font-size:18px;}
.k a{ color:#fff; font-size:18px; padding:0 15px;}
.w{ width:470px; text-align:center; margin:0 auto; margin-top:20px;}
.w p{ font-size:14px; color:#fff; line-height:25px;}


/*yygk*/
.yygk{ width:1000px; margin:0 auto;}
.gk01{ width:1000px; height:382px;}
.gk01 h1{ width:260px; margin:0 auto; font-size:24px; color:#8b2918; text-align:center;}
.gk01 p{ width:260px; margin:0 auto; font-size:18px; color:#ccc; text-align:center;}
.gk01_con{ width:1000px; margin-top:15px;}
.gk01_con_l{ width:406px; height:287px; float:left;}
.gk01_con_l img{ padding:1px; border:1px solid #ccc;}
.gk01_con_r{ width:562px; height:287px; float:right;}
.gk01_con_r p{ width:562px; line-height:24px; font-size:12px; text-align:left; color:#000; text-indent:2em;}

.gk02{ width:1000px; height:420px;}
.gk02_tit h1{ width:260px; margin:0 auto; font-size:24px; color:#8b2918; text-align:center;}
.gk02_tit p{ width:260px; margin:0 auto; font-size:18px; color:#ccc; text-align:center;}
.gk02_con ul{ width:1000px;}
.gk02_con ul li{ width:189px; float:left; display:inline; margin-top:20px; margin-left:10px;}
.gk02_con ul p.pp{ width:189px; height:40px; line-height:40px; background:#f3981e; text-align:center; overflow:hidden;}
.pp a{ color:#fff; font-size:16px;}

.gk03{ width:1000px; height:456px;}
.gk03_tit h1{ width:260px; margin:0 auto; font-size:24px; color:#8b2918; text-align:center;}
.gk03_tit p{ width:260px; margin:0 auto; font-size:18px; color:#ccc; text-align:center;}
.gk03_con{ width:992px; height:358px; border:4px solid #ccc; background:#f7f7f7; margin-top:10px;}
.gk03_con_l{ width:222px; height:284px; float:left; display:inline; margin-left:65px; margin-top:36px;}
.gk03_con_l img{ border:1px solid #ccc;}
.gk03_con_r{ width:580px; float:left; display:inline; margin-left:59px; margin-top:36px;}
.gk03_con_r h1{ font-size:24px; color:#8b2918;}
.gk03_con_r h1 span{ font-size:14px; color:#000; padding-left:15px;}
.gk03_con_r p{ font-size:16px; line-height:29px; color:#333; text-indent:2em; margin-top:10px;}

/*keshi*/
.ks{ width:1000px; height:494px; border:1px solid #8b2918; margin:0 auto;}
.ks-tit{ width:1000px; height:40px; line-height:40px; border-bottom:1px solid #92311d;}
span.a2 { color:#92311d;}
span.a2 a{ color:#92311d;}
.ks-con-top{ width:1000px;}
.ks-con-top ul{ width:960px; margin:0 auto; height:65px; border-bottom:1px dashed #000; overflow:hidden;}
.ks-con-top ul li{ height:26px; float:left; font-size:16px; margin-left:45px; margin-top:20px;}
.ks-con-top ul li a{ color:#333333;}
.ks-con-bot{ width:960px; margin:0 auto;}
.ks-con-bot-l{ width:645px; float:left; display:inline;}
.ks-con-bot-r{ width:222px; float:left; display:inline;}
.ks-con-bot-l p{ width:645px; line-height:20px; color:#333333; font-size:14px; margin-top:20px;}
.ks-con-bot-l p span{ padding:1px; border:1px solid #ccc; background:url(../images/q.jpg) repeat; text-align:center; color:#000; font-weight:bold; margin-right:5px;}
.ks-con-bot-r{ width:222px; float:left; display:inline; margin-left:40px;}
.ks-con-bot-r h2{ margin:10px 0px;}

.ks-con-top ul li.hover{ padding:5px 15px; height:26px; line-height:26px; margin-top:20px; background:#92311d; color:#fff;}
.ks-con-top ul li.hover a{ font-size:14px; font-weight:bold; color:#fff;}

/*huandeng*/
.mainbox{
    overflow:hidden;
    position:relative;
}
.flashbox{
   overflow:hidden;
    position:relative;
}
.imagebox{
    text-align:right;position:relative;z-index:999;
}

.bitdiv{display:inline-block;width:18px;height:18px;margin:0px 10px 10px 0px;cursor:pointer;float:right;}
.defimg{background-image:url(../images/02.png)}
.curimg{background-image:url(../images/01.png)}

/*zhuanjia*/
.zj{ width:1000px; margin:0 auto;}
.zj-l{ width:236px; float:left; display:inline;}
.zj-r{ width:720px; float:right; display:inline;}
.zj-l ul li{ width:236px; height:60px; line-height:60px; font-size:20px; text-align:center; color:#92311d; font-weight:bold; background:#e9eaea;}
.zj-l ul li.hover{ background:#92311d; color:#FFF;}
.zj-l ul li a{ width:236px; height:60px; line-height:60px; font-size:20px; text-align:center; color:#92311d; font-weight:bold; background:#e9eaea;}
.zj-l ul li.hover a{ background:#92311d; color:#FFF;}
.zj-tel p{ font-size:18px; color:#ccc;}
.zj-tel p img{ margin-top:10px;}
.zj-map p{ font-size:18px; color:#ccc;}
.zj-map p img{ margin-top:10px;}
p.pt{ font-size:24px; color:#92311d; margin-top:30px;}

.zj-con{ width:720px;}
.zj-con-tit{ width:720px; height:40px; line-height:40px; border-bottom:1px solid #92311d;}
.zj-con ul li{ width:222px; height:350px; float:left; display:inline; text-align:center; margin-top:10px; margin-left:16px;}
.zj-con ul li p.tu img{ border:1px solid #ccc;}
.zj-con ul li p.xm a{ font-size:18px; color:#92311d; line-height:30px;}
.zj-con ul li p.zw a{ font-size:16px; color:#333;}

/*zhuanjia-wenzhangye*/
.zj-nn{ width:222px; height:350px; margin:0 auto; text-align:center;}
.zj-nn img{ border:1px solid #ccc;}
.zj-nn p{ font-size:24px; color:#92311d; line-height:30px;}
.zj-xx{ width:426px; margin:0 auto;}
.zj-xx p{ width:426px; margin:0 auto; line-height:30px; font-size:16px; color:#666666;}

/*jzzn*/
.zhinan{width:1000px; margin:0 auto; height:45px; background:#e9eaea;}
.zhinan p{ font-size:24px; line-height:45px; margin-left:10px; font-weight:bold; color:#92311d;}

/*list_aritcle*/
.list-r{ width:720px; float:right; display:inline;}
.list-con{ width:720px;}
.list-con-tit{ width:720px; height:40px; line-height:40px; border-bottom:1px solid #92311d;}
.list-con ul{ width:720px;}
.list-con ul li{ width:720px; height:40px;}
.list-con ul li a{ font-size:16px; letter-spacing:1px; color:#666;}
.list-con ul li a:hover{ color:#92311d;}

