/* 华夏名网2008版网站css定义 sudu.cn default style v2008.01 */
/* layout.css 版面布局css样式表 */
/* global.css 全局css样式表 */
/* 基本元素定义 basic elements definition */
* html{overflow-x:hidden;}
html{margin:0;padding:0;/*filter:gray;*/
}

body{font:12px/1.2em arial,helvetica,sans-serif;background-repeat:no-repeat;background-position:center top;
color:#333;margin:0;padding:0;text-align:left; background-color:#fafafa;}
p{margin:2px 0;text-align:justify;line-height:1.3em}
h1{font:1.2em Arial,Helvetica,sans-serif;letter-spacing:1px;margin:5px 0 15px 0;color:#000;}
h2{font:1.1em Arial,Helvetica,sans-serif;letter-spacing:1px;margin:5px 0;}
h3{font:1.1em georgia,sans-serif;letter-spacing:1px;margin:0 0 5px 0;}
img{BORDER:0px}
ul li,ol li{list-style-type:none;}
ul,dl,ol,form{margin:0;padding:0;}
sup{padding:2px;color:#FF0000}
/*常用颜色css样式 */
.red{color:#FF0000}
A.red:link{COLOR:#f00;TEXT-DECORATION:underline}
A.red:visited{COLOR:#f00;TEXT-DECORATION:underline}
A.red:active{COLOR:#ff0000;TEXT-DECORATION:underline}
A.red:hover{COLOR:#f00;TEXT-DECORATION:none}
.blue{color:#0000FF}
.gray{color:#ccc}
.zhonghuaxian{text-decoration:line-through}
.deprecated{text-decoration:line-through;font-size:1.3em}
.orange{color:#FF6600}
.white{color:#fff}
A.white:link{COLOR:#fff;TEXT-DECORATION:none}
A.white:visited{COLOR:#fff;TEXT-DECORATION:none}
A.white:active{COLOR:#fff;TEXT-DECORATION:none}
A.white:hover{COLOR:#fff;TEXT-DECORATION:underline}
.green{color:#060}
.b{font-weight:bold}
.keywords{font-family:verdana,tahoma,arial;font-size:12px;color:#FF3300;}
/*常用定位css样式 */
.left{float:left;clear:left}
.right{float:right;clear:right}
.Br{margin:8px 0}
.in_p,.binput,{border:1px solid #9FC9EA;padding:1px;height:15px;background-color:#FFF;background-image:url(../images/in_pj.gif);background-repeat:no-repeat;}
/*通用css样式 */
span.pageinfo{/*cursor:pointer;*/
font-family:Arial,Helvetica,sans-serif;font-weight:500;font-size:1.1em;color:#666666;line-height:1.5em;float:left;height:20px;padding:40px 17px 15px 15px;/*180;*/
}
.dispnone{display:none}
.tips_info{padding:8px;margin-bottom:5px;border:1px #f93 dashed;background:#FFE;line-height:20px;font-size:14px;font-weight:500}
.tips_info a:link,.tips_info a:visited,.tips_info a:hover,.tips_info a:active{color:#FF0000;font-weight:bold}
.tips_info p{margin:5px 0 10px 0;line-height:18px;}
.tips_info p img{padding:0 8px 5px 0}
/*返回顶部css样式 */
.gototop{float:right;margin:0;padding:0 6px 0 16px;background:url(../images/gototop1.gif) left center no-repeat;}
.gototop a:link,.gototop a:visited{text-decoration:none;color:#009900}
.gototop a:hover{text-decoration:underline;color:#f00}
/*more css样式 */
.more{float:right;clear:right;}
.more a:link,.more a:visited{text-decoration:underline;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:1.1em;color:#009933}
.more a:hover{text-decoration:none;color:#f00}
.hot /*英文的热门商品 热门特性 */
{background:url(../images/hot.gif) 100% 0px no-repeat;padding-right:27px;}
.new /*英文的热门商品 热门特性 */
{background:url(../images/new.gif) 100% 0px no-repeat;padding-right:27px;}
.newch /* 中文标注的新（新品、新特性） */
{background:url(../images/icon_new.gif) 100% 0px no-repeat;padding:5px 25px 2px 0}
.newchnav /* 导航中文标注的新 */
{background:url(../images/icon_new.gif) 100% 0px no-repeat;padding:10px 26px 2px 0}
.hotchnav /* 导航中文标注的热 */
{background:url(../images/shophot.gif) 100% 0px no-repeat;padding:10px 26px 2px 0}
.hotch /* 中文标注的热（热门商品 热门特性） */
{background:url(../images/shophot.gif) 100% 0px no-repeat;padding:0 24px 3px 0}
.shoprush /* 中文标注的抢（促销抢购商品） */
{background:url(../images/shoprush.gif) 100% 0px no-repeat;padding:5px 20px 2px 0}
.phonenumber{font:normal 1.2em Arial,sans-serif;letter-spacing:1px;color:#f30;}
.price /* 价格数字css样式 font-size:1.3em;font-family:Verdana,Arial;letter-spacing:0px;color:#f30;*/
{color:#AA0000;font-family:Arial;font-size:1.3em;font-weight:bold;}
.cheapprice /* 优惠价格数字css样式 */
{font:italic normal 1.4em Arial,sans-serif;letter-spacing:0px;color:#069D00;}
.noprice /* 不支持的价格数字css样式 */
{font-size:16px;color:#999;text-decoration:line-through}
.date /* 日期数字css样式 */
{font:normal 1em Arial,Helvetica,sans-serif;letter-spacing:0px;color:#090;}
.errmsg{color:#FF3300;font-size:14px}
.general-title{width:100%;height:100%;border-bottom:2px #3960AC solid;margin:10px 0;padding-bottom:6px;background-color:#FFFFFF;position:relative;}
.general-title h1{font-size:1.2em;color:#3960AC;margin:0;font-weight:bold;padding:0;height:100%}
.why_gh{background:url("../images/why.png") no-repeat scroll 0 0 transparent;height:16px;clear:both;display:block;position:relative;}
.why_gh .popbox{position:absolute;top:20px;left:10px;background:none repeat scroll 0 0 #FEFAEF;border:1px solid #FFCC66;color:#999999;font-size:12px;line-height:18px;padding:10px 15px;width:170px;z-index:9999;display:none;}
/*—— 圆角边框css代码开始 */
.circlebox{margin:0 0 6px 0}
.xtop,.xbottom{display:block;background:transparent;font-size:1px;}
.xb1,.xb2,.xb3,.xb4{display:block;overflow:hidden;}
.xb1,.xb2,.xb3{height:1px;}
.xb2,.xb3,.xb4{background:#fff;border-left:1px solid #C9D8FE;border-right:1px solid #C9D8FE;}
.xb1{margin:0 5px;background:#C9D8FE;}
.xb2{margin:0 3px;border-width:0 2px;}
.xb3{margin:0 2px;}
.xb4{height:2px;margin:0 1px;}
.xboxcontent{display:block;background:#fff;border:0 solid #C9D8FE;border-width:0 1px;height:100%}
/* 圆角边框css代码结束 —— */
/*—— 圆角边框css样式2代码开始 */
.bcirclebox{margin:0 0 6px 0}
.bxtop,.bxbottom{display:block;background:transparent;font-size:1px;}
.bxb1,.bxb2,.bxb3,.bxb4{display:block;overflow:hidden;}
.bxb1,.bxb2,.bxb3{height:1px;}
.bxb2,.bxb3,.bxb4{background:#fff;border-left:1px solid #E4B6F3;border-right:1px solid #E4B6F3;}
.bxb1{margin:0 5px;background:#E4B6F3;}
.bxb2{margin:0 3px;border-width:0 2px;}
.bxb3{margin:0 2px;}
.bxb4{height:2px;margin:0 1px;}
.bxboxcontent{display:block;background:#fff;border:0 solid #E4B6F3;border-width:0 1px;height:100%}
/* 圆角边框css样式2代码结束 —— */
/* 首页部分css样式开始 */
/* 以下为代理首页新闻 css样式 */
.news{margin:8px 0;padding:0 0 10px 0;background:url(../images/indexnewsbg.gif) bottom right no-repeat;}
.news div.title{width:100%;height:100%;border-bottom:1px #0cf solid;margin-bottom:15px;padding-bottom:6px;background-color:#FFFFFF;/*background:#FFFFFF url(../images/newsbg.gif) bottom right no-repeat*/
}
.news h1{font-size:14px;color:#0099CC;margin:0;padding:0;height:100%;float:left;clear:left}
.news ul{margin:0;padding:0 0 0 2px;line-height:1.3em;}
.news li{background:url(../images/newsicon.gif) left 1px no-repeat;padding-left:18px;margin:0 0 5px 0}
/* 以下为首页最新活动/虚拟主机部分 css样式 */
.sec2{background:url(../images/hosttitle.gif) bottom center no-repeat;font-size:13px;color:#555;font-weight:bold;CURSOR:pointer;}
.sec1{font-size:13px;color:#666;CURSOR:pointer;}
.glider_tab{width:395px;height:233px;padding-top:9px;}
.glider_tab table{width:395px}
div#index-glider-div{width:395px;height:242px;background:transparent url(../images/indexpromobg.gif) no-repeat scroll right center;position:relative}
div#index-glider-div div.scroller{width:365px;height:221px;overflow:hidden;padding:0;margin:0}
div#index-glider-div div.scroller div.section{width:368px;height:221px;overflow:hidden;float:left;padding:0;margin:0}
div#index-glider-div div.scroller div.content{width:10000px;}
.control_btn{width:11px;height:80px;overflow:hidden;cursor:pointer}
.control_td{width:11px}
.leftimg{padding-right:3px}
#bookbinding{width:40px;height:242px;position:absolute;left:177px;top:0px;z-index:1000;}
html>body #bookbinding{background-repeat:repeat;background-image:url(../images/bindingbg.png);}
* #bookbinding{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src=/images/index/bindingbg.png)}
.bookbinding{}
/* 以下为首页新闻 css样式 */
.sidecont{margin:0 0 8px 0;padding:0 0 10px 0;}
.side_news{background:url(../images/sidecont_bg.gif) bottom center no-repeat;}
.honor{background:url(../images/honorcont_bg.jpg) bottom center no-repeat;}
.side_contact{background:url(../images/contactcont_bg.gif) bottom center no-repeat;}
.side_contact h2{margin:12px 0 4px 0;padding-left:15px;font-size:14px;color:#666666;font-weight:600;}
.side_contact p{margin:5px 0;padding-left:15px;}
.side_contact p.hotline{color:#ff6600;line-height:1.5em}
.side_contact .phonenum{font-size:18px;font:Geneva,Arial,Helvetica,sans-serif;}
.side_hostnav{background:url(../images/hostnavcont_bg.gif) bottom center no-repeat;}
.sidecont .newstitle{padding:9px 11px 1px 11px;margin:0 0 2px 0;height:26px;text-align:left;background:url(../images/sidetitle_bg.gif) center no-repeat}
.sidecont .honortitle{padding:5px 11px;margin:0 0 5px 0;height:29px;text-align:left;background:url(../images/honortitle1_bg.gif) center no-repeat}
.side_text{margin:3px 0;width:245px;background:url(../images/whybettercont_bg.jpg) bottom center no-repeat;}
.side_text div.title{width:245px;line-height:44px;height:44px;text-align:left;background:url(../images/whybettertitle_bg.gif) no-repeat;}
.side_text div.title h1{line-height:44px;padding:0 0 0 6px;font-size:14px;color:#0099CC;}
.side_text div.textbody{padding:6px 10px}
.side_text h2{font-size:14px;color:#0099CC;margin:0;padding:0;height:100%;float:left;clear:left}
.side_text h1{font-size:12px;color:#000000;font-weight:bold;margin:2px 0;padding:0;height:100%;}
.side_text p{margin:0 0 4px 0;padding:1px;font-size:12px;line-height:1.5em;text-indent:2em}
.side_text li{line-height:1.5em;}
.side_question{margin:0 0 8px 0;padding:0 0 10px 0;background:url(../images/questioncont_bg.gif) bottom center no-repeat;}
.side_question .questiontitle{padding:5px 11px;margin:0 0 5px 0;height:25px;text-align:left;background:url(../images/question_title_bg.gif) center no-repeat}
.side_question h2{margin:12px 0 4px 0;padding-left:15px;font-size:14px;color:#666666;font-weight:600;}
.side_question p{margin:5px 0;padding-left:15px;}
.side_question p.hotline{color:#ff6600;line-height:1.5em}
.side_question .phonenum{font-size:18px;font:Geneva,Arial,Helvetica,sans-serif;}
.side_question ul{clear:both;*margin:0;margin:0 0 5px 0;padding:6px 0 6px 2px !important;padding:4px 0 4px 2px;height:100%;}
.side_question li{float:left;text-align:center;padding:0 2px 0 0}
.side_question li.name{width:55px}
.side_question li.qq{width:50px}
.side_question li.vip{width:62px}
.side_question li.zxkf{width:45px}
.sidecont .contacttitle{padding:5px 11px;margin:0 0 5px 0;height:26px;text-align:left;background:url(../images/contacttitle_bg.gif) center no-repeat}
.sidecont .hostnavtitle{padding:5px 30px;height:36px;text-align:left;background:url(../images/hostnavtitle_bg.gif) center no-repeat; color:#fff;}
.sidecont ul{margin:8px 0;padding:0 0 0 8px;line-height:1.5em;}
.sidecont ul.newslist li{background:url(../images/newsicon.gif) 3% 2px no-repeat;padding-left:22px;margin:0 0 5px 0}
.sidecont ul li.indexweihu{background:url(../images/weihuhr.gif) 8px top no-repeat;padding:20px 0 0 20px;margin:7px 0 5px 0;}
.sidecont ul li.indexweihu a:link,.sidecont ul li.indexweihu a:visited,.sidecont ul li.indexweihu a:active{color:#ff6600}
.sidecont li{padding-left:10px;margin:0 0 5px 0}
.sidecont li a:link,.sidecont li a:visited,.sidecont li a:active{FONT-WEIGHT:normal;COLOR:#666;TEXT-DECORATION:none;width:100%}
.sidecont li a:hover{COLOR:#FF6600;text-decoration:underline}
.sidecont .newstitle h1{margin:2px 0;padding:5px 0 0 5px;color:#3399CC}
.sidecont .hostnavtitle h1{margin:2px 0;padding:3px 0 0 20px;color:#fff}
.sidecont .newstitle h1 a:link,.sidecont .newstitle h1 a:active,.sidecont .newstitle h1 a:visited{font-size:14px;margin:4px 4px 0 0;padding:0;color:#187BDE;font-weight:bold;text-decoration:none}
.sidecont .newstitle h1 a:hover{margin:0 4px 0 0;padding:0;text-decoration:underline}
.sidecont .questiontitle h1{font-size:14px;margin:4px 4px 0 0;padding:0;color:#187BDE;font-weight:bold;text-decoration:none}
.honor img{margin:0 3px 0 0;border:0px #CCCCCC solid}
/* 以下为服务优势css样式 */
.whybetter{margin:10px 0 10px 0;padding:0 0 12px 0;}
.whybetter div.title{width:100%;height:100%;border-bottom:1px #0cf solid;margin-bottom:6px;padding-bottom:6px;background-color:#FFFFFF;font-size:15px;color:#0099CC;}
.whybetter h2{font-size:14px;color:#0099CC;margin:0;padding:0;height:100%;float:left;clear:left}
.whybetter h1{font-size:12px;color:#000000;font-weight:bold;margin:2px 0;padding:0;height:100%;}
.whybetter p{margin:0 0 4px 0;padding:1px;font-size:12px;line-height:1.5em;text-indent:2em}
.whybetter li{line-height:1.5em;}
/* 以下为其他侧边内容的css */
.sideContent{margin:5px 0;padding:0 0 10px 0;}
.sideContent div.title{width:100%;height:100%;border-bottom:1px #0cf solid;margin-bottom:2px;padding-bottom:6px;background-color:#FFFFFF;font-size:15px;color:#0099CC;}
.sideContent h1{font-size:14px;color:#0099CC;margin:0;padding:0;height:100%;}
.sideContent p{margin:0 0 4px 0;padding:1px;font-size:12px;line-height:1.5em;text-indent:2em}
.sideContent ul{list-style:disc;line-height:1.5em;margin:8px 0 0 0}
.sideContent li{margin:0 0 5px 0;}
.sideContent li.linux{float:left;clear:left;padding-left:10px}
.sideContent li.win{float:left;clear:left;padding-left:10px}
.sideContent img{margin:0 3px 0 0;border:1px #CCCCCC solid}
.linkimg{margin-bottom:4px;}
.index_kefuall{height:85px;background:url(../images/indexkefubg.jpg) center no-repeat;padding:15px 0 5px 80px;}
/*首页客服 */
.indexkf{margin:0;padding:6px 0;width:635px;/*635px */
}
.indexkf ul{float:left;margin:0;padding:2px 12px 2px 0;white-space:nowrap;}
.indexkf li{float:left;text-align:center;padding:0 3px 0 0}
/*首页qq客服 */
.qiyeqq{margin:0;padding:6px 0;width:510px;/*635px */
font-size:14px}
.qiyeqq img{margin-right:12px}
/*首页合作伙伴2 */
.indexpartner{margin:10px 0 0 0;padding:20px 0 10px 0;background:url(../images/partnerbg.jpg) top center no-repeat;width:717px;height:230px;}
.indexpartner ul{margin:28px 0 0 0;padding:0 3px 3px 14px;white-space:nowrap;}
.indexpartner li{float:left;text-align:center;padding:0 12px 2px 0;}
/*首页友情链接2 */
.indexlinks{margin:10px 0;padding:15px 0 10px 0;background:url(../images/linksbg.jpg) top center no-repeat}
.indexlinks ul{margin:29px 0 0 0;padding:0 3px 3px 14px;white-space:nowrap;}
.indexlinks li{float:left;text-align:center;padding:0 12px 0 0;line-height:20px}
.indexlinks a{color:#666666;text-decoration:none}
.indexlinks a.linkmore{color:#f60;text-decoration:none}
.indexlinks a:hover{color:#f60;text-decoration:underline}
.tab_index{background:url(../images/boxbg.png) top center no-repeat;_background:url(../images/boxbg.gif) top center no-repeat;/*css hack 解决ie6不支持png透明*/
}
.box_index{padding:5px 5px 2px 5px;text-align:left}
.box_index ul{padding:0;margin:0}
.box_index li{DISPLAY:inline;/*BACKGROUND:url(../images/col_bg.gif) no-repeat;*/
FLOAT:left;MARGIN-LEFT:0px;POSITION:relative;HEIGHT:50px;MARGIN:0px;FONT-FAMILY:Verdana,Arial,Helvetica,sans-serif;padding:0px;border-bottom:1px #FFFFFF solid;}
.box_index li.domain{BACKGROUND:url(../images/comsale.gif) no-repeat 2px 2px}
.box_index li.host{BACKGROUND:url(../images/hostbg.gif) no-repeat 2px 2px}
.box_index li.vps{BACKGROUND:url(../images/monthpaybg.gif) no-repeat 2px 2px}
.box_index li div.left{float:left;clear:left;padding:2px 0 0 3px;FONT-FAMILY:Verdana,Arial;FONT-WEIGHT:500;font-size:20px;LINE-HEIGHT:1.1em;color:#339900}
.box_index li div.rihgt{float:right;clear:right;padding:0 10x 0 0;}
.box_index DL{PADDING-RIGHT:0px;PADDING-LEFT:68px;PADDING-BOTTOM:0px;LINE-HEIGHT:18px;PADDING-TOP:8px;MARGIN:0px;FONT-FAMILY:Verdana,Arial,Helvetica,sans-serif;}
.box_index DT{PADDING-LEFT:0px;}
.box_index h1{FONT-WEIGHT:bold;COLOR:#ff3300;FONT-SIZE:1.1em;MARGIN:0px;FONT-FAMILY:Verdana,Arial,Helvetica,sans-serif;}
.box_index DD{COLOR:#626262;FONT-FAMILY:Arial,Helvetica,sans-serif;MARGIN:0px;FONT-FAMILY:Verdana,Arial,Helvetica,sans-serif;padding:2px 0 0 0px;}
.box_index p{text-align:left;padding:5px 0 0 10px;}
/* 首页部分css样式结束 */
/*虚拟主机页样式 */
.hostlist{border-collapse:collapse}
.hostlist td{padding:8px 5px;}
.tab_winhost{background:#FBFDFF url(../images/winhostbg.png) top center no-repeat;_background:#FBFDFF url(../images/winhostbg.gif) top center no-repeat;/*css hack 解决ie6不支持png透明*/
height:auto}
.tab_comhost{background:#FCFCFE url(../images/comhostbg.png) top center no-repeat;_background:#FCFCFE url(../images/comhostbg.gif) top center no-repeat;/*css hack 解决ie6不支持png透明*/
height:auto}
.tab_svps{background:#FBFDFF url(../images/svpsbg.png) top center no-repeat;_background:#FBFDFF url(../images/svpsbg.gif) top center no-repeat;/*css hack 解决ie6不支持png透明*/
height:auto}
.tab_mvps{background:#FCFCFE url(../images/mvpsbg.png) top center no-repeat;_background:#FCFCFE url(../images/mvpsbg.gif) top center no-repeat;/*css hack 解决ie6不支持png透明*/
height:auto}
.theadbg_host{background:#4766B2;color:#FFFFFF}
.titlebg_host{background:#CFDEF9;color:#333333}
.tdbg_host{background:#F9FAFE}
.box_host{padding:5px 0 0 0;text-align:left}
.box_host h1{FONT-WEIGHT:bold;COLOR:#333;FONT-SIZE:16px;padding:0 0 0 40px}
.box_host ul{padding:2px 0 2px 5px}
.box_host li{background:url(../images/arrow.gif) left 5px no-repeat;padding-left:8px;margin:4px 0}
.box_host .lib{background:none;padding-left:8px;margin:4px 0}
.box_host p{text-align:left;padding-left:8px;line-height:1.5em;margin:4px 0 0 0}
.box_host p a:hover{text-decoration:underline}
.box_host p.buynow{text-align:right;padding-right:5px}
.newbox_host ul{padding:2px 0 2px 2px}
.newbox_host li{background:url(../images/arrow.gif) left 5px no-repeat;padding-left:8px;margin:2px 0}
.comhostad{background:#fff url(../images/comhostad.jpg) center top no-repeat;height:224px;padding:0;}
.vpsad{background:#fff url(../images/vpsad.jpg) 50% top no-repeat;height:250px;padding:0;}
.features_host/*空间特色 */
{padding:1px 0 0 2px;margin:0;}
.features_host li/*空间特色 */
{float:left;margin:0;padding:5px 14px 2px 0}
.hostfeatures/*空间特色纵向 */
{padding:1px 0 0 8px;margin:0;float:left}
.hostfeatures li/*空间特色纵向*/
{float:left;margin:0;padding:0 4px 2px 0}
.hostfeatures img{width:70px;height:70px}
.host-features/*空间特色横向 */
{width:100%;padding:2px 0 0 4px;margin:0;float:left;clear:both;list-style:none;}
.host-features li/*空间特色横向 */
{float:left;margin:0;width:70px;padding:0 1px 1px 0}
.fuc_host /*空间功能 */
{background:url(../images/hostfuc.gif) left center no-repeat;padding-left:23px}
.db_host /*数据库支持 */
{background:url(../images/databasesup.gif) left center no-repeat;padding-left:23px}
.cp_host /*控制面板 */
{background:url(../images/hostpanel.gif) left center no-repeat;padding-left:23px}
.limit_host /*空间使用限制 */
{background:url(../images/hostlimit.gif) left center no-repeat;padding-left:23px}
.ps_host /*程序支持 */
{background:url(../images/hostps.gif) left center no-repeat;padding-left:23px}
/*以下为win/linux主机概要css样式 */
#hostGuide{width:717px;text-align:left;padding:2px 1px;margin:0 0 5px 0;font-size:12px;color:#000;background-color:#Fff;border:1px #dbc0e4 solid}
#hostGuide .noborder{border-right:0px #fff solid}
#hostGuide img{margin:0 2px 5px 2px;}
#hostGuide p{margin:8px 4px 4px 0;padding:0;text-align:right}
/*以下为linux主机概要css样式 */
#hostGuide .linuxlist{width:177px;float:left;margin:0 0 0 1px;border-right:1px #C9E0FC solid}
#hostGuide .linuxlist ul{padding:0 2px;text-align:left;float:left;margin:0;line-height:18px;}
#hostGuide .linuxlist li{padding:0 0 0 3px;margin:0}
#hostGuide .linuxlist .title{padding:4px 2px;margin:0 0 2px 0;text-align:center;background:url(../images/linuxhostlistbg.gif) center no-repeat}
#hostGuide .linuxlist .title h1{margin:2px 0;padding:0;}
#hostGuide .linuxlist .title h1 a{font-size:14px;margin:0;padding:0;color:#fff;font-weight:bold;text-decoration:none}
#hostGuide .linuxlist .title h1 a:hover{margin:0;padding:0;text-decoration:underline}
/*应用型主机概要css样式 comon.php 等页面出现 */
#appHost{width:auto;text-align:left;padding:6px 2px;margin:0 0 5px 0;clear:both;font-size:12px;color:#000;background-color:#FCFBEF;border:1px #C9B840 solid}
#appHost ul{padding:0 8px 0 0;text-align:left;float:left;margin:3px 2px 0 2px;line-height:16px;border-right:1px #DFDF86 solid}
#appHost ul.noborder{border-right:0px #999900 solid}
#appHost li{padding:0;margin:0}
#appHost h1{margin:2px 0 8px 0;padding:0;}
#appHost h1 a{font-size:14px;margin:0;padding:0;color:#0000FF;font-weight:bold;text-decoration:underline}
#appHost h1 a:hover{margin:0;padding:0;text-decoration:none}
#appHost img{margin:0 4px 0 0;}
#appHost p{margin:8px 0 4px 0;padding:0}
/*以下为应用型主机列表css样式 */
.apphostlist{border-collapse:collapse}
.apphostlist td{padding:4px;background-color:#FFF;text-align:center;line-height:1.5em}
.apphostlist tbody th{background-color:#EBF4FB;padding-left:4px;}
.apphostlist tbody td.common{background-color:#F5F7FD;}
.apphostlist tbody td.ent{background-color:#EEEAFB;}
.apphostlist tbody td.share{background-color:#E8F2FB;font-size:12px}
.apphostlist thead td{padding:6px;text-align:center;color:#FFF;background-color:#4054A7;font-size:14px}
.apphostlist thead td.common{background-color:#5171C0;}
.apphostlist thead td.ent{background-color:#4C4EA2;}
.apphostlist thead td.share{background-color:#376DB7;}
/*以下为应用型主机概要css样式 */
.hostintro{margin:4px 0;padding:2px;}
.hostintro p{margin:0 0 4px 0;padding:1px;line-height:1.5em;text-indent:2em}
/*以下为服务对比表格css样式 */
#servicecp{padding:0;margin:0 0 4px 0;border-top:1px #AFB8E2 solid;border-left:1px #AFB8E2 solid}
#servicecp table{border-collapse:collapse;}
#servicecp thead th{font:bold 13px/18px Arial;text-align:left;background:#CFDEF3;/*E3E4F4 */
color:#333;padding:8px 16px 8px 8px;border-right:1px solid #AFB8E2;border-bottom:1px solid #AFB8E2;}
#servicecp thead th.null{background:#EAEFFB;}
#servicecp tbody th{font:bold 12px/15px Arial;text-align:center;background:#E3EAF4;color:#333;padding:8px;border-bottom:1px solid #AFB8E2;border-right:1px solid #AFB8E2;}
#servicecp tbody td{font:normal 12px/15px Arial;color:#333;padding:8px;border-right:1px solid #AFB8E2;border-bottom:1px solid #AFB8E2;}
#servicecp tbody td.on{background:#f3f0e4;}
#servicecp thead th.on{background:#B5E1E1;}
#servicecp tbody th.on{background:#EDEAA2;}
/*以下为产品对比表格css样式 */
#productcp{padding:1px 1px 0 1px;margin:0 0 5px 0;border:1px #AFB8E2 solid}
#productcp table,#productcp td{font:100% Arial,Helvetica,sans-serif;}
#productcp table{width:100%;border-collapse:collapse;margin:0;cursor:pointer}
#productcp td{padding:.5em;border-top:1px solid #CCD2EE;border-left:1px solid #CCD2EE;border-bottom:0px solid #CCD2EE;border-right:0px solid #CCD2EE}
#productcp th{padding:.5em;text-align:center;border:1px solid #fff;}
#productcp th.null{background:#EAEFFB;}
#productcp td{text-align:center;}
#productcp td p{text-align:center;}
#productcp th{background:#D3D5F3;color:#333}
#productcp td{background:#f8fbfc;color:#333}
/* tablecloth styles */
#productcp td.promo{color:green;}
#productcp tr.even td{background:#fff;color:#333}
#productcp tr.odd td{background:#fff;color:#333}
/*#productcp tr.odd td{background:#DBE3F6 url(../images/tdbackground.gif) top no-repeat;color:#333}
*/
#productcp th.over,#productcp tr.even th.over,#productcp tr.odd th.over{background:#516EA6;color:#fff}
#productcp th.down,tr.even th.down,#productcp tr.odd th.down{background:#B5D87A}
#productcp th.selected,#productcp tr.even th.selected,#productcp tr.odd th.selected{background:#305194;color:#fff}
#productcp td.over,#productcp tr.even td.over,#productcp tr.odd td.over{background:#B4C5E9;color:#222;border-top:1px solid #fff;border-left:1px solid #fff;border-bottom:0px solid #fff;border-right:0px solid #fff}
#productcp td.down,#productcp tr.even td.down,#productcp tr.odd td.down{background:#bce774;color:#fff;}
#productcp td.selected,#productcp tr.even td.selected,#productcp tr.odd td.selected,#productcp td.selected a{background:#9FB4DF;color:#fff;font-weight:500}
/* use this if you want to apply different styleing to empty table cells*/
#productcp td.empty,#productcp tr.odd td.empty,#productcp tr.even td.empty{background:#fff;}
/*以下为用户填写的表格css样式 */
.general-table{padding:0;margin:0 0 5px 0;border-top:1px #AFB8E2 solid;border-left:1px #AFB8E2 solid}
.general-table table{border-collapse:collapse;}
.general-table thead th{font:bold 13px/18px Arial;text-align:left;background:#E8F6F6;color:#333;padding:8px 16px 8px 8px;border-right:1px solid #AFB8E2;border-bottom:1px solid #AFB8E2;}
.general-table thead th.null{background:#F9FEFE;}
.general-table tbody th{text-align:left;background:#F9FEFE;color:#333;padding:8px;border-bottom:1px solid #AFB8E2;border-right:1px solid #AFB8E2;}
.general-table tbody td{font:generalal 12px/15px Arial;color:#333;padding:8px;border-right:1px solid #AFB8E2;border-bottom:1px solid #AFB8E2;}
.general-table tbody td.on{background:#f3f0e4;}
.general-table thead th.on{background:#B5E1E1;}
.general-table tbody th.on{background:#EDEAA2;}
/*以下为通用表格css样式 */
.mod-table{padding:0;margin:0 0 5px 0;border-top:1px #AFB8E2 solid;border-left:1px #AFB8E2 solid}
.mod-table table{border-collapse:collapse;}
.mod-table thead th{font:bold 13px/18px Arial;text-align:left;background:#E8F6F6;color:#333;padding:8px 16px 8px 8px;border-right:1px solid #AFB8E2;border-bottom:1px solid #AFB8E2;}
.mod-table thead th.null{background:#F9FEFE;}
.mod-table tbody th{text-align:left;background:#F9FEFE;color:#333;padding:8px;border-bottom:1px solid #AFB8E2;border-right:1px solid #AFB8E2;}
.mod-table tbody td{font:generalal 12px/15px Arial;color:#333;padding:8px;border-right:1px solid #AFB8E2;border-bottom:1px solid #AFB8E2;}
.mod-table tbody td.on{background:#f3f0e4;}
.mod-table thead th.on{background:#B5E1E1;}
.mod-table tbody th.on{background:#EDEAA2;}
/* 没有边框的表格,用在被#servicecp,#productcp等嵌套又不需要边框的表格上 */
.noborder{border-collapse:none;}
.noborder thead th,.noborder tbody th,.noborder tbody td{border-right:none;border-bottom:none;padding:0px;}
/*以下为弹出tips css样式*/
.wh-tips-ele{z-index:1000;position:absolute;background-color:#FFFFF0;border-left:1px solid #656855;border-top:1px solid #656855;border-right:2px solid #656855;border-bottom:2px solid #656855;display:none;padding:10px;width:250px}
.wh-tips-radio{padding:0px;width:550px;height:35px;}
.wh-tips-ele div{word-break:break-all;word-wrap:break-word;}
.wh-tips-ele-forIE{z-index:999;position:absolute;border:none;filter:alpha(opacity=0);display:none}
.wh-tips-ele-forIE{z-index:999;position:absolute;border:none;filter:alpha(opacity=0);display:none}
/** 发起ajax请求时显示在页面上的提示 **/
div#global_onloading_div{display:none;background:#F8F1B9;color:#000;position:fixed;top:45px;left:46%;padding-top:2px;width:150px;height:18px;text-align:center;font-weight:bold;font-size:10pt;opacity:0.7;filter:alpha(opacity=70);}
* html div#global_onloading_div{position:absolute;top:expression(eval(document.compatMode&&document.compatMode=="CSS1Compat")?documentElement.scrollTop+45:document.body.scrollTop+45);}
/** 首页左侧主机功能概述列表 **/
#indexfeature{CLEAR:both;MARGIN:0px;OVERFLOW:auto;ZOOM:1;width:228px;FONT-FAMILY:Verdana,Arial,Helvetica,sans-serif;height:auto;}
#indexfeature UL{MARGIN:0px;FONT-FAMILY:Verdana,Arial,Helvetica,sans-serif;padding:0px;}
#indexfeature LI{DISPLAY:inline;/*BACKGROUND:url(../images/col_bg.gif) no-repeat;*/
FLOAT:left;MARGIN-LEFT:0px;WIDTH:228px;CURSOR:pointer;POSITION:relative;HEIGHT:50px;MARGIN:0px;FONT-FAMILY:Verdana,Arial,Helvetica,sans-serif;padding:0px;border-bottom:1px #FFFFFF solid}
#indexfeature LI.on{BACKGROUND:url(../images/col_bg.gif) no-repeat}
#indexfeature DL{PADDING-RIGHT:0px;PADDING-LEFT:55px;PADDING-BOTTOM:0px;LINE-HEIGHT:18px;PADDING-TOP:8px;MARGIN:0px;FONT-FAMILY:Verdana,Arial,Helvetica,sans-serif;}
#indexfeature DT{FONT-WEIGHT:bold;COLOR:#000000;FONT-SIZE:1.1em;MARGIN:0px;FONT-FAMILY:Verdana,Arial,Helvetica,sans-serif;padding:0px;}
#indexfeature DD{COLOR:#626262;FONT-FAMILY:Arial,Helvetica,sans-serif;MARGIN:0px;FONT-FAMILY:Verdana,Arial,Helvetica,sans-serif;padding:0px;}
#indexfeature DD a{color:#666}
#indexfeature-a1 DL{BACKGROUND:url(../images/linux_index.gif) no-repeat 5px 5px}
#indexfeature-a2 DL{BACKGROUND:url(../images/gclass_index.gif) no-repeat 5px 5px}
#indexfeature-a3 DL{BACKGROUND:url(../images/beian_index.gif) no-repeat 5px 5px}
#indexfeature-a4 DL{BACKGROUND:url(../images/zml_index.gif) no-repeat 5px 5px}
/** 涉及产品/服务列表的css样式 **/
.list-table table{border-collapse:collapse;margin:0;font-size:1em;}
.list-table th{background:#6A87BE;color:#fff;font-weight:bold;padding:5px 10px;text-align:left;border-right:1px solid #fff;line-height:1.5em;}
.list-table th a{color:#FFFFFF}
.list-table td{padding:6px;color:#333;line-height:1.5em;border-bottom:1px solid #95bce2;}
.list-table td a:link,.list-table td a:visited,.list-table td a:active{text-decoration:none}
.list-table td a:visited{color:#0000CC;}
.list-table td a:hover{color:#ff3300;text-decoration:underline}
.list-table tr.even td{background:#fefefe;}
.list-table tr.odd td{background:#F6F7FC;}
.list-table tr.over td,.list-table tr:hover td{background:#EDF0FC;}
.border_lrside{border-left:1px #95bce2 solid;border-right:1px #95bce2 solid}
/** 涉及登陆/注册部分的表格css样式 **/
.loginBox{border:1px #C3D9FF solid;padding:3px;color:#333333}
.loginBox table{background-color:#E8EEFA;}
.loginBox table td{padding:2px 2px 3px 5px;}
.regright{width:238px;line-height:1.6em;padding:10px;border:1px solid #f93;margin:2px 0 5px 0;background:#ffffee}
.regright ul{margin:15px 0}
.loginleft{line-height:1.6em;padding:0 8px}
.loginleft div{margin:15px 0}
.loginleft ul{margin:15px 0}
.loginleft h2{margin:10px 0 5px 0;}
.loginleft img{margin:0 8px 0 0;}
.loginleftnew1{padding:15px 0px 0px 17px;margin-top:16px;font-size:14px;color:#333333;line-height:160%;}
.loginleftnew1 ul{padding-left:0px;font-size:12px;margin-left:20px;color:#999999;line-height:160%;}
.loginleftnew1 li{list-style-type:disc;}
/** 会员中心的部分css样式 **/
.member_info{padding:3px;background:#FDFBEA;border:1px solid #E1D897;text-align:center;margin:0 0 5px 0;line-height:20px;font-size:1.1em;height:100%}
.member_info ul{clear:both;margin:0;text-align:center}
.member_info li{float:left;text-align:center;padding:0 4px 0 0}
.memberindex{padding:0;margin:5px 0}
.memberindex table{margin:5px 0}
.memberindex td{padding:4px;font-size:1.1em}
.memberindex ul{margin:0 0 0 10px;padding:4px;line-height:1.8em}
.memberindex li{}
/* 会员中心产品推荐 css样式 */
.member-product{padding:0;margin:5px 0}
.member-product table{margin:5px 0}
.member-product td{padding:4px;font-size:1.1em}
.member-product ul{margin:0;padding:4px;line-height:2em}
.member-product img{margin:0 5px 0 0;}
.member-product li{margin:0 0 10px 0}
/* 会员通知 css样式 */
.member-notice{padding:0;margin:5px 0}
.member-notice table{margin:5px 0}
.member-notice td{padding:4px;font-size:1.1em}
.member-notice ul{margin:0;padding:4px 6px;line-height:1.5em}
.member-notice img{margin:0 5px 0 0;}
.member-notice li{margin:0 0 5px 0}
/* 限时促销 css样式 */
.cuxiao_info{padding:1px;border:1px solid #FE9329;text-align:center;margin:0 0 5px 0;line-height:2em;font-size:1.1em;/*background:#FDF7D7 url(../images/shoprush.gif) 99% 3px no-repeat;*/
background:#FDF7D7 url(../images/countdown.png) top right no-repeat;}
.cuxiao_reg{padding:2px;border:1px solid #FE9329;text-align:center;margin:0 0 5px 0;line-height:2em;font-size:1.1em;background:#FDF7D7 url(../images/shoprush.gif) 99% 3px no-repeat;}
.cuxiao_info img,.cuxiao_reg img{margin:0 5px 0 0;}
.cuxiao_info .number,.cuxiao_reg .number{font:normal 18px Arial,Helvetica,sans-serif;color:#FF0000}
.domaincuxiao{padding:8px 20px 2px 20px}
.hostcuxiao{padding:4px 20px;}
.priceuppre{padding:4px 20px;font-size:14px;font-weight:600;color:#000000}
.vpscuxiao{padding:4px 20px;}
.servercuxiao{padding:4px 20px;}
/* 产品管理页促销 css样式 */
.manage_cuxiao{padding:5px 20px 8px 20px;border:1px solid #f93;text-align:center;margin:0 0 5px 0;line-height:2em;font-size:1.1em;background:#ffffee /*url(../images/shoprush.gif) 99% 3px no-repeat;*/
}
.manage_cuxiao img{margin:0 5px 0 0;}
.manage_cuxiao .number{font:normal 18px Arial,Helvetica,sans-serif;color:#FF0000}
/* 关于我们 css样式 */
/*.aboutus{margin:10px 0 20px 0;padding:0 0 12px 0;}
.aboutus h2{font-size:14px;color:#000000;font-weight:bold;margin:8px 0;padding:0;height:100%;}
.aboutus h3{font:Arial;font-size:13px;color:#333;font-weight:bold;margin:3px 0;padding:0;height:100%;}
.aboutus p{margin:0 0 4px 0;padding:1px;font-size:12px;line-height:1.5em;text-indent:2em}
*/
/* 网站地图 css样式 */
.sitemap{margin:10px 0 20px 0;padding:0 0 12px 0;}
.sitemap h2{font-size:14px;color:#000000;font-weight:bold;margin:8px 0;padding:0;height:100%;}
.sitemap p{margin:0 0 5px 0;padding:1px;font-size:12px;line-height:2em;text-indent:2em}
/* 邮件投递取消处广告 css样式 */
#cancelMailAd{width:auto;text-align:left;padding:4px 8px 3px 8px;margin:5px 0;clear:both;font-size:12px;color:#000;background-color:#F9F6DC;border:1px #C9B840 solid}
#cancelMailAd ul{padding:0;text-align:left;margin:5px 0;width:100%;clear:both;line-height:16px;}
#cancelMailAd li{padding:0;margin:0}
#cancelMailAd h1{margin:1px 0 4px 0;padding:0;}
#cancelMailAd h1 a{font-size:14px;margin:0;padding:0;color:#0000FF;font-weight:bold;text-decoration:underline}
#cancelMailAd h1 a:hover{margin:0;padding:0;text-decoration:none}
#cancelMailAd p{padding:0;margin:0}
/*价格的横排li*/
ul.pricelist{float:left;clear:both;width:320px}
li.pricelist{float:left;width:160px;list-style-type:none}
/*单个客服的横排li*/
.singlekefu{margin:0}
.singlekefu ul{margin:0;float:left;clear:both}
.singlekefu li{float:left;list-style-type:none;margin-right:3px;}
/*以下为工单系统表格css样式 */
.faqlist{border-collapse:collapse}
.faqlist td{padding:6px;background-color:#FFF;line-height:1.5em}
.faqlist thead td{padding:6px;text-align:center;color:#FFF;font-size:14px;font-weight:500;background-color:#81979D;}
.faqlist tbody th{background-color:#EDEEE7;padding-left:4px;}
.faqlist thead td a:link,.faqlist thead td a:visited,.faqlist thead td a:hover,.faqlist thead td a:active{color:#FFFFcc;font-weight:500}
.faq_info{padding:4px;margin-bottom:5px;background:#FDFBEA;border:1px solid #E1D897;line-height:16px;}
/* 客服服务规范css样式 */
.service_standard{margin:10px 0;padding:0 0 5px 0;line-height:2em;}
.service_standard .quote{border:1px #F6AA16 dashed;background:#FFFED6;padding:5px;margin:8px 2px 2px 2px;color:#333;line-height:20px;font-weight:normal}
.service_standard h1{font-size:15px;color:#222;font-weight:600;margin:8px 0;padding:0;height:100%;}
.host_info{padding:3px;background:#EFF6FD;border:1px solid #BED2F4;/*E1D897*/
text-align:center;margin:0 0 5px 0;line-height:20px;font-size:1.1em}
.host_info .number{font:normal 16px Arial,Times,serif;color:#FF3300}
/*以下为新版通用型主机概要css样式 */
#indexmailTest{width:559px;background:url(../images/hostbg2.gif) no-repeat;text-align:left;padding:6px 2px 0 2px;margin:0 0 0 0;font-size:12px;color:#000;overflow:hidden;clear:both;}
#indexmailTest ul{width:137px;padding:0;text-align:left;float:left;margin:0;line-height:16px;border-right:0px #DFDF86 solid;}
#indexmailTest li{padding:0 0 0 10px;margin:0;line-height:20px;color:#737F8D;}
#indexmailTest h1{margin:0 0 8px 0;padding:0 0 0 7px;color:#0A8DE5;}
#indexmailTest h1 a{font-size:14px;margin:0;padding:0 0 0 5px;color:#0A8DE5;font-weight:bold;text-decoration:none;}
#indexmailTest h1 a:hover{margin:0;text-decoration:underline;}
#indexmailTest img{margin:0 4px 0 0;}
#indexmailTest p{margin:10px 0 4px 0;padding:0 0 0 8px;/*ff hack*/
*padding:0 !important;/*ie7*/
*padding:0;/*ie6*/
}
/*以下为新版通用型主机概要css样式 */
#commonHostTest{width:559px;height:155px;background:url(../images/hostbg2.gif) no-repeat;text-align:left;padding:6px 2px;margin:0 0 5px 0;font-size:12px;color:#000;overflow:hidden;clear:both;}
#commonHostTest ul{width:137px;padding:0;text-align:left;float:left;margin:0;line-height:16px;border-right:0px #DFDF86 solid;}
#commonHostTest li{padding:0 0 0 10px;margin:0;line-height:20px;color:#737F8D;}
.host_red{color:#FF5400;font-size:14px;}
#commonHostTest h1{margin:4px 0 8px 0;padding:0 0 0 7px;color:#0A8DE5;}
#commonHostTest h1 a{font-size:14px;margin:0;padding:0 0 0 5px;color:#0A8DE5;font-weight:bold;text-decoration:none;}
#commonHostTest h1 a:hover{margin:0;text-decoration:underline;}
#commonHostTest img{margin:0 4px 0 0;}
#commonHostTest p{margin:12px 0 4px 0;padding:0 0 0 8px;/*ff hack*/
*padding:0 !important;/*ie7*/
*padding:0;/*ie6*/
}
.newhost_f{font-size:12px;color:#FF5400;}
.newhost_price{font-family:Arial;font-size:16px;color:#FF3300;font-weight:bold;}
#webhost_windows1{float:left;width:718px;height:16px;margin-top:5px}
#webhost_windows2{float:left;width:703px;height:20px;background-image:url(../images/webhosting_02.gif);padding-top:10px;padding-left:15px;}
#webhost_windows3{float:left;width:710px;height:175px;background:url(../images/webhosting_03.gif) no-repeat;padding-left:8px}
#webhost_windows4{float:left;width:172px;height:153px;background-image:url(../images/webhosting_04.gif);margin:12px 1px 4px 2px;}
.webhost_windows4 ul{font-size:12px;list-style-type:none;margin:8px;line-height:18px;}
.webhost_windows4 li{font-size:12px;color:#4e4e4e;}
.webhost_bai12{font-size:12px;line-height:20px;color:#FFFFFF;}
.webhost_bai13{font-size:13px;line-height:20px;color:#FFFFFF;}
.webhost_lan14{font-size:14px;font-weight:bold;color:#1677dc;line-height:16px;margin-left:35px}
/*linux*/
#webhost_linux2{float:left;width:703px;height:20px;background-image:url(../images/webhost_linux_02.gif);padding-top:10px;padding-left:15px;}
#webhost_linux3{float:left;width:710px;height:175px;background-image:url(../images/webhost_linux_03.gif);padding-left:8px}
#webhost_linux4{float:left;width:172px;height:153px;background-image:url(../images/linux_04.gif);margin:12px 1px 4px 2px;}
#webhost_linux5{float:left;width:172px;height:153px;margin-top:7px;}
.webhost_linux4 ul{font-size:12px;list-style-type:none;margin:8px;line-height:18px;}
.webhost_linux4 li{font-size:12px;color:#4e4e4e;}
.webhost_lv14{font-size:14px;font-weight:bold;color:#08684a;line-height:16px;margin-left:35px}
.webhost_lv12{font-size:12px;color:#187878;}
.webhost_org12{font-size:12px;color:#ff6f00;}
/*以下为新版主机导航css样式 */
.hostmenu{MARGIN:0 0px 5px 3px;WIDTH:238px}
.hostmenu DL{MARGIN:0px 0px 0px 2px;WIDTH:238px;HEIGHT:auto}
.hostmenu DL DT{PADDING-RIGHT:0px;PADDING-LEFT:6px;FONT-WEIGHT:bold;FONT-SIZE:12px;COLOR:#62a421;LINE-HEIGHT:25px;PADDING-TOP:8px}
.hostmenu DL DD{PADDING-RIGHT:3px;PADDING-LEFT:3px;PADDING-BOTTOM:3px;MARGIN:0px 0px 0px 18px;PADDING-TOP:3px; font-size:12px;}
.hostmenu DL DT A:link{COLOR:#458205;TEXT-DECORATION:none}
.hostmenu DL DT A:visited{COLOR:#458205;TEXT-DECORATION:none}
.hostmenu DL DT A:hover{COLOR:#ff6600;TEXT-DECORATION:underline}
.hostmenu DL DD A:link,.hostmenu DL DD A:visited,.hostmenu DL DD A:active{COLOR:#333;TEXT-DECORATION:none}
.hostmenu DL DD A:hover{COLOR:#ff6600;TEXT-DECORATION:underline}
/*--------------------------虚拟主机新首页-------------------------------------*/
#host_shop{width:718px;height:auto;}
#host_shopbg{width:718px;height:auto;background-image:url(../images/host_shop_bg1.gif);background-repeat:no-repeat;background-position:center top;padding-top:8px}
.host_shop1{width:718px;height:37px;background-image:url(../images/host_shop_01.gif);}
.host_shop3{width:718px;height:37px;background-image:url(../images/host_shop_03.gif);}
.host_shop4{width:718px;height:37px;background-image:url(../images/host_shop_04.gif);}
.host_shop2{float:left;width:350px;height:69px;background-image:url(../images/host_shop_02.gif);margin-left:6px;*margin-left:6px !important;*margin-left:3px;}
.host_shop2_2{float:left;width:350px;height:69px;background-image:url(../images/host_shop_02.gif);margin-left:1px;}
.host_shop2_3{float:left;width:350px;height:69px;margin-left:1px;}
.host_lan12{font-size:12px;color:#128198;line-height:25px;font-weight:bold;}
A.host_lan12:link,A.host_lan12:visited,A.host_lan12:active{COLOR:#128198;TEXT-DECORATION:underline}
A.host_lan12:hover{COLOR:#128198;TEXT-DECORATION:none}
.host_lv12{font-size:12px;color:#0b7d0b;line-height:25px;font-weight:bold;}
A.host_lv12:link,A.host_lv12:visited,A.host_lv12:active{COLOR:#0b7d0b;TEXT-DECORATION:underline}
A.host_lv12:hover{COLOR:#0b7d0b;TEXT-DECORATION:none}
.host_zi12{font-size:12px;color:#8e278e;line-height:25px;font-weight:bold;}
A.host_zi12:link,A.host_zi12:visited,A.host_zi12:active{COLOR:#8e278e;TEXT-DECORATION:underline}
A.host_zi12:hover{COLOR:#8e278e;TEXT-DECORATION:none}
.host_hui12{font-size:12px;color:#808080;line-height:18px;}
.host_bai14{font-size:14px;color:#ffffff;line-height:35px;font-weight:bold;margin:0 60px 0 75px}
.host_bai14_1{font-size:14px;color:#ffffff;line-height:35px;font-weight:bold;margin:0 30px 0 75px}
.host_shop5{width:718px;height:37px;background-image:url(../images/host_shop_05.gif);}
.host_shop6{width:718px;height:37px;background-image:url(../images/host_shop_06.gif);}
.host_shenhui12{font-size:12px;color:#5e4642;line-height:25px;font-weight:bold;}
A.host_shenhui12:link,A.host_shenhui12:visited,A.host_shenhui12:active{COLOR:#5e4642;TEXT-DECORATION:underline}
A.host_shenhui12:hover{COLOR:#5e4642;TEXT-DECORATION:none}
.membertips{line-height:20px;font-size:14px}
.system_tips{padding:8px;margin:5px 0;border:1px #f93 dashed;background:#fff;line-height:20px;font-size:12px;width:auto}
.system_tips a:link,.system_tips a:visited,.system_tips a:hover,.system_tips a:active{color:#FF0000;font-weight:bold}
.sdk_font{font-size:14px;font-weight:600;color:#333}
/*--------------------------域名在线客户新样式-------------------------------------*/
.service_qq{overflow:hidden;padding:5px;}
.consult{margin:0 5px 10px;padding:2px 5px;border-radius:20px;}
.qq{overflow:hidden;}
.qq_left{float:left;}
.qq_right{float:right;margin-right:20px}
.greenbox{border:1px solid #86C045;background-color:#86C045}
.graybox{border:1px solid #E2E2E2;background-color:#E2E2E2}
.h_title{color:#7EAE16;font-size:14px;padding-bottom:10px}
.h_title span{color:#CCCCCC;font-size:11px;}
.service_phoneall{padding:5px;overflow:hidden;}
.service_phoneall p{font-size:14px;color:#333333;float:left;margin-right:10px;}
.service_phoneall p span{font-size:12px;color:#0099FF;font-weight:bold;}
