/* 华夏名网2008版网站css定义 sudu.cn default style v2008.01 */
/* layout.css 版面布局css样式表 */
/* global.css 全局css样式表 */
/*页面层容器*/
#container{/*background:url(../images/head2.gif) no-repeat top center;*/
padding:20px 0 0 0;margin:0px auto;width:1200px;}
/*页头部分*/
#header{width:100%;margin:0 auto;height:70px;*height:78px !important;*height:70px;color:#666666/*background:url(../images/topbg2.gif) repeat-x 0% -15px;*/
}
#header a{color:#3399CC;text-decoration:none}
#header a:hover{color:#FF6600;text-decoration:underline}
#logo{float:left;margin:auto 5px;font-size:1.2em}
#logourl{cursor:pointer;width:175px;height:60px;float:left;margin:5px auto}
#login{width:360px;float:right;clear:right;text-align:right;margin:5px 3px 5px 0;padding:0 2px 0 0}
#shopingcar{width:auto;float:right;clear:right;width:400px;text-align:right;margin:4px 3px 0 0;padding:0 2px 0 0;font-size:1.1em}
.changeline{float:right;clear:right;text-align:right;margin:8px 4px 0 0;padding:0 2px 0 0;}
/*导航条部分css样式*/
#nav{margin:0 auto;padding:0;clear:both;width:980px;height:62px;*height:auto !important;background:url(../images/main_navbg.gif) 53% 0% no-repeat;}
#mainNav{padding:8px 0;margin:10px 0 0 10px;*margin:4px 0 0 8px !important;margin-bottom:0;list-style-type:none;}
#mainNav li{display:inline;margin:0;width:75px}
#mainNav li a{text-decoration:none;font-size:14px;font-weight:bold;padding:0 10px;/*ff hack*/
*padding:6px 10px !important;*padding:6px 10px;/*ie6*/
color:#ffffff;width:75px;background:url(../images/head_13.gif) right 30% no-repeat;/*background:#fff;*/
}
#mainNav li a:hover{color:#FFFF66;text-decoration:none;}
#mainNav li.selected a{/*selected main tab style FAEFDC*/
background:url(../images/head_10.gif) center top no-repeat;margin-top:3px;padding:2px 10px 14px 10px;/*ff hack*/
*padding:6px 10px 7px 10px !important;/*ie7*/
*padding:6px 10px 7px 10px;/*ie6*/
color:#000000;font-weight:600;text-decoration:none;}
#mainNav li.selected2 a{/*selected main tab style FAEFDC*/
background:url(../images/head_10.gif) center top no-repeat;margin-top:3px;padding:2px 12px 14px 12px;/*ff hack*/
*padding:6px 12px 7px 12px !important;/*ie7*/
*padding:6px 12px 7px 12px;/*ie6*/
color:#000000;font-weight:600;text-decoration:none;}
#mainNav li.selected2 a:hover{color:#FF6600;text-decoration:none;}
#mainNav li.selected a:hover{color:#FF6600;text-decoration:none;}
#mainNav li.jifen a{color:yellow;text-decoration:none;}
#mainNav li.selected a.jifen{color:#000;text-decoration:none;}
#subNav{/*2nd level content wrapper*/
height:100% /*IE7 beta2 fix*/
;padding:5px;}
#subNav ul{padding:0;margin-left:10px;list-style-type:none;display:none;}
#subNav ul li{display:inline;}
#subNav ul.selected{/*selected 2nd level content*/
display:block;}
#subNav ul.selected2{/*selected 2nd level content*/
display:block;position:relative;z-index:1000}
#subNav ul li a{background:url(../images/ico1.gif) left 40% no-repeat;font-family:"宋体";/*解决ie下中英文混排 无法对齐的情况*/
color:#555;padding:3px 2px 3px 10px;margin:0 6px 0 0;display:block;float:left;text-decoration:none;}
#subNav ul li a:hover,#subNav ul li.selected a{color:blue;text-decoration:none}
.clearfix:after{/*Clear floats hack*/
content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-table;}
/* Hides from IE-mac \*/
* html .clearfix{height:1%;}
.clearfix{display:block;}
/* End hide from IE-mac */
/*banner部分 单独使用*/
#banner{}
/*页面主体部分*/
#pageBody{min-height:500px;border:0;margin:69px auto;clear:both;width:1200px;}
#mainBody{width:718px;/*设定宽度*/
 float:left;/*浮动居左*/
 clear:left;/*不允许左侧存在浮动*/
 text-align:left;/*文字左对齐*/
 padding:0;/*overflow:hidden;/*超出宽度部分隐藏*/
 margin:0}
#indexmiddle{width:100%;height:100%;border:0;margin:5px auto;clear:both;border-top:#92A5BC 1px solid;border-bottom:#B5E4FB 0px solid}
#indexmiddle .left{float:left;clear:left;width:auto;height:100%;text-align:left;padding:0;background:url(../images/bg_indexfeature.gif) repeat-x;}
#indexmiddle .indexbanner{float:right;clear:right;width:480px;padding:0;margin:0}
#sideBar{width:246px;/*设定宽度*/
 text-align:left;/*文字左对齐*/
 float:right;/*浮动居右*/
 clear:right;/*不允许右侧存在浮动*/
 padding:0;/*overflow:hidden;/*超出宽度部分隐藏*/
 margin:0}
/*页脚部分*/
#footer{width:1000px;height:175px;background:#fff url(../images/bottomtex_bg.gif) center top no-repeat;margin:0 auto;padding-top:5px;text-align:center;color:#777;clear:both;/*background:url(../images/topbg2.gif) repeat-x 0% -15px;*/
}
#footer a:link,#footer .nav a:active{text-decoration:underline;color:#666}
#footer a:visited{text-decoration:underline;color:#666}
#footer a:hover{text-decoration:underline;color:#f60}
#footer .nav{width:975px;text-align:center;line-height:36px;margin:0 auto;clear:both;font-size:14px;background-image:url(../images/bottomtex_bg2.gif);background-repeat:no-repeat;background-position:left top;/* url(../images/footnavbg.gif) bottom repeat-x;*/
}
#footer .nav a:link,#footer .nav a:active{text-decoration:none;color:#0A82D1}
#footer .nav a:visited{text-decoration:none;color:#0A82D1}
#footer .nav a:hover{text-decoration:none;color:#f60}
#footer .ftcontent{width:975px;padding:0;margin:0 auto;text-align:center}
#footer .left{width:580px;float:left;clear:left;margin:0;padding:10px 0 10px 8px;}
#footer .left p{margin:5px 0;}
#footer .right{width:360px;float:right;clear:right;margin:0;padding:10px 15px 10px 0;}
#footer .right p{margin:5px 0;text-align:left;}
#footer .right p.linktop{text-align:center;margin:95px 0 0 0;}
.clear{clear:both;}
/*解决ie ff下均能实现高度自适应*/
