select.error,input.error{background-color:#FEEEEE;border-color:red;}
.col-sm-10 label{font-weight:normal}
label.tip{color:#428BCA !important}
.zajaxloader{background:url(../images/loading_gray.gif) no-repeat scroll center center rgba(0,0,0,0);height:100%;width:100%;}
a.login_sprite{width:28px;height:28px;display:inline-block;background:#fff url(../images/login_sprite.png) no-repeat 0 0;margin:0 3px;}
a.login_sprite_alipay{background-position:0 -30px}
a.login_sprite_sudo{background-position:0 -60px}
#userreg_dialog_footer{padding:0}
#user_dlg_footer{margin-left:225px;}
.otherlogmodes-left{left:20px;line-height:3em;position:absolute;text-align:center;top:100px;width:200px;}
.loginform-right{float:right; border-left:1px solid #eee; *border-left:none;}
.sns-login-btn{width:140px; margin-bottom:10px;}
.sns-login-btn span.sns-icon{display:block;float:left;width:36px;height:23px;background:url(../images/sns-login.png) no-repeat transparent;}
.sns-login-btn span.sudu{background-position:0 0;}
.sns-login-btn span.alipay{background-position:-47px 0;}
.sns-login-btn span.qq{background-position:-94px 0;}


.userreg_news{
    border-left:1px solid #efefef
}
#user_dlg_footer table tr td,#regform table tr td,#loginform table tr td{ /* line-height:60px; */padding:5px 10px;}
/*.userreg_news { width:750px;}
.userreg_news_content { width:560px; float:right;}
.user_news_input { width:200px; margin-left:10px; margin-right:10px;}
.user_news_input1 { width:90px; margin-left:10px; margin-right:10px; float:left;}
.user_news_input2 { width:30px; margin-left:4px;}
.user_news_input3 { width:100px; margin-left:10px; float:left;}
.user_news_input4 { width:100px; margin-left:10px; float:left;}
.user_news_input5 { width:210px; margin-left:10px; float:left;}
.user_news_input6 { width:30px; margin-left:10px;}
.font18 {font-size:18px;}
.user_a a { margin-left:9px;}
*/
label.error{display: inline-block;padding-top:8px}
#regform table tr.has-error{color:#A94442}
.form-control{ *padding:0;}
