.memcount{font-family:"宋体";font-size:12px;}
/*vps新首页样式开始*/
.pageheader-default-vps{background:url(../images/vps-topbg.jpg) no-repeat;}
.pageheader-default-vps .vps-topcontent{color:#fff;}
.pageheader-default-vps .vps-topcontent h1{margin-top:30px; margin-bottom:30px;}
/*新加成都虚拟主机样式开始*/
.sideNews {background: url(../images/sidecont_bg.gif) bottom center no-repeat;}
.sideNews .title{padding: 9px 11px 1px 11px;margin: 0 0 2px 0;height: 26px;text-align: left;background: url(../images/sidetitle_bg.gif) center no-repeat;}
.sideNews .title h1{ font-size:14px;}
.kfcontact {margin: 0 0 8px 0;padding: 0 0 10px 0;background: url(../images/questioncont_bg.gif) bottom center no-repeat;}
.kfcontact .title {padding: 5px 11px;margin: 0 0 5px 0;height: 25px;text-align: left;background: url(../images/question_title_bg.gif) no-repeat;}
.kfcontact .title .left { font-size:14px; color:#f36608;}
.kfcontact h2 {margin: 12px 0 4px 0;padding-left: 15px;font-size: 14px;color: #666666;font-weight: 600;}
.kfcontact p {margin: 5px 0;padding-left: 15px;}
.kfcontact p.hotline {color: #ff6600;line-height: 1.5em;}
.sideContent {background: url(../images/hostnavcont_bg.gif) bottom center no-repeat;}
.sideContent div.title {border-bottom:none;padding-bottom:0;}
.sideContent h1 {padding: 5px 30px;height: 36px;text-align: left;background: url(../images/hostnavtitle_bg.gif) bottom center no-repeat;color: #fff;}
.titlebg_host .fuc_host { font-size:18px;}
.theadbg_host h2,h3 { font-size:18px;}
.whybetter {margin: 3px 0;width: 245px;background: url(../images/whybettercont_bg.jpg) bottom center no-repeat;}
.whybetter div.title {border-bottom:none; padding-bottom:0;}
.whybetter .title{width: 245px;line-height: 44px;height: 44px;text-align: left;background: url(../images/whybettertitle_bg.gif) bottom center no-repeat;}
.whybetter .title b { margin-left:8px;}
.whybetter h1{font-size: 12px;color: #000000;font-weight: bold;margin: 2px 0;padding: 0;height: 100%; padding:0 8px 0 8px;}
.whybetter p { padding:0 8px 0 8px;}
.winlist{float: left;border-right: 1px #C9E0FC solid;width:175px;margin: 12px 1px 4px 2px;}
.winlist .title {text-align: center;background: url(../images/linuxhostlistbg.gif) center no-repeat;}
.winlist .title a { font-size:14px; color:#fff; vertical-align:top; line-height:40px;}
.linuxlist .title h1 a{ vertical-align:top; line-height:40px;}
/*新加成都虚拟主机样式结束*/
.font50 { font-size:50px; font-weight:bold;}
.top_bg { background:url(../images/top.png) no-repeat; width:1200px; height:538px;}
.top_bg table { margin-left:80px; width:1100px; height:240px; top:100px; position:absolute;}
.top_bg table tr td { color:#fff;line-height: 30px;}
.top_bg a { color:#fff; font-size:30px; font-weight:bold;}
.btn-vps-buy { background-color:#000;position:absolute; top:400px; left:490px; border:2px solid #fff; padding:14px 50px 14px 50px;}
.btn-vps-buy:hover { color:#fff;}
.btn-vps-buy:link {color: #fff}
.btn-vps-buy:visited {color: #fff}
.btn-vps-buy:active {color: #fff}
.performance { width:100%; height:760px; color:#4d4d4d;}
.performance p { line-height:30px;}
.performance_left { float:left; width:740px; margin-left:100px; margin-top:50px;}
.performance_left p { font-size:16px; color:#959595;}
.performance_left h3 { margin-top:40px; margin-bottom:10px;}
.performance_right { float:right; width:300px;}
.right_title { width:300px; height:80px; background-color:#01bcf3; line-height:80px; color:#fff; text-align:center; font-size:40px;}
.performance_right ul { width:300px; height:320px; background-color:#fcd116;}
.performance_right ul h3 { margin-left:40px; padding-top:40px; margin-bottom:10px;}
.performance_right ul li { line-height:40px; font-size:18px; margin-left:40px;}
.performance_right ul li img { margin-bottom:3px; margin-left:10px;}
.line { width:1000px; margin:0 auto; height:2px; border-bottom:1px solid #dedede;}
.environment { width:100%; height:760px;}
.environment h1,.ssd h1 { width:600px; margin:0 auto; text-align:center; margin-top:50px; line-height:50px;}
.environment_img { float:left; margin-left:50px; margin-top:40px;}
.environment_img h3,.ssd_img h3 { text-align:center; line-height:80px;}
.environment_img p,.ssd_img p { font-size:16px; text-align:center; color:#959595;}
.ssd { width:100%; height:650px;}
.ssd1 { width:100%; height:990px;}
.font-wb { font-weight:bold; height:80px;}
.padding-wb { background-color:#feffd4; padding:0 10px 0 10px;}
.ssd1 table { margin:30px auto;}
.ssd1 table tr td { line-height:24px;border-bottom:1px solid #b2b2b2; font-size:15px; text-align:center;}
.ssd_img { float:left; margin-left:130px; margin-top:40px;}
.ssd p { text-align:center; margin-bottom:40px; margin-top:30px;}
.ssd1 h1{ width:600px; margin:0 auto; text-align:center; margin-top:80px; line-height:50px;}
.ssd1 p { text-align:center; margin-top:40px;}
.mature { width:100%; height:600px; background-color:#00aeff; padding:80px;}
.mature h1 { color:#fff;}
.mature h3 { width:320px; height:40px; background-color:#fff; line-height:20px; padding:10px; margin-top:10px; color:#22bbeb;}
.mature_text { float:left; width:500px;}
.mature0 { width:100%; height:700px; background-color:#00aeff; padding:80px;}
.mature_text img { float:right;}
.mature_text p { font-size:16px; color:#fff; line-height:30px; margin-top:20px;}
.mature_text ul li { list-style:square; line-height:30px; color:#fff; font-size:18px;}
.cluster {width:100%; height:740px; background-color:#f3f3f3; padding:80px;}
.cluster_text { float:left; width:500px;}
.cluster_text p { font-size:16px; line-height:30px; margin-top:20px;}
.mature_text h2 { font-size:20px; margin-top:40px; margin-bottom:20px; color:#fff;}
.mature1 { width:100%; height:400px; background-color:#00aeff; padding:60px 80px 0 120px;}
.mature1 h1 { color:#fff; margin-bottom:50px; margin-top:50px;}
.mature_text1 { float:left; width:440px;}
.mature_text1 p { font-size:18px; color:#fff; line-height:30px;}
.mature_text1 img { float:right;}
.mature2 { width:100%; height:400px; background-color:#88d940; padding-left:120px; padding-top:100px;} 
.mature2 h1 { color:#fff; margin-bottom:30px; margin-top:20px;}
.mature_text2 { float:left; width:520px;}
.mature_text2 p { font-size:18px; color:#fff; line-height:30px;}
.mature_text2 img { float:right; padding-left:80px;}
/*vps新首页样式结束*/

.font20 { font-size:30px; font-weight:bold;}
.font16 { font-size:20px;}
