.zmessage{
position:fixed;
bottom:0;
right:0;
max-width:800px;
min-width:400px;
margin-bottom:2px;
margin-right:2px;
z-index:2500;
}
.zmessage button{
    margin-left:16px;
 }


.zajaxloader{
    background: url("../images/loading16_2.gif") no-repeat scroll center center transparent;
    height:100%;
    width:100%;
}