@media screen and (max-width:1020px){
.head,.nav_bg .nav_c ,.i_prom,.i_news li,.friend,.scd .title,.scd .about,.s_pro,.scd .pro_l,.pro_l ul,.pro_d,.i_news,.news{width:740px;}
.head .logo , .head .logo img{ width:415px; height:62px;}
.nav_c .search{ width:236px;}
.nav_c .search .text{ width:170px;}
.nav_c .nav{ width:500px;}
.nav_c .nav li{ width:100px;}
.b_head h6{ font-size:30px;}
.i_prom .lei{ width:180px;}
.i_prom .lei ul{ width:160px;}
.i_prom .i_prol,.mainPhoto ,.mainPhoto .go, .mainPhoto .go li{ width:528px;}
.mainPhoto .go li ul li{margin:17px 0 0 13px !important;}
.i_news li .tu, .i_news li .tu img{ width:366px; height:170px;}
.i_news li .wen{ width:346px; padding:0 10px 0; height:170px;}
.frd_m li , .frd_m li img{ width:180px; height:75px;}
.marqueeleft li{ height:175px;}
.marqueeleft li .pic , .marqueeleft li .pic img{ width:280px; height:175px;}
.pro_l .p_lei a{ padding:0px 40px;}
.pro_l ul li{ width:240px;}
.pro_l ul li img{ width:240px; height:145px;}
/*.pro_d .pro_da dt{ width:319px; height:219px;}
.pro_d .pro_da dt img{ width:289px; height:219px;}*/
.pro_d .pro_da dd{ width:360px;}
.news dl dd{ width:480px;}
.pro_d .pro_da dt{ width:365px;}
}
@media screen and (max-width:770px) {
.head,.nav_bg .nav_c ,.i_news,.i_prom,.i_news li,.friend,.scd .title,.scd .about,.s_pro,.scd .pro_l,.pro_l ul,.pro_d,.news{width:480px;}
.head{ height:auto;}
.head .h_tel{ float:left; margin-bottom:20px; margin-left:15px;}
.nav_bg,.nav_bg .nav_c{ height:auto;}
.nav_c .search{ width:480px; margin-bottom:10px;}
.nav_c .search .text{ width:420px;}
.nav_c .nav li{ height:45px; line-height:45px; font-size:15px; width:96px;}
.i_prom .lei , .i_prom .lei ul{ width:100%; height:auto; margin:0px; margin:0px auto;}
.i_prom .lei ul li{ width:96%; float:left; margin:0 2%;}
/*.i_prom .i_prol{ width:460px; margin:0px auto; height:auto; margin-top:20px;}*/
.i_prom .i_prol{ margin-top:20px !important;}
.i_prom .i_prol,.mainPhoto ,.mainPhoto .go, .mainPhoto .go li{ width:460px; margin:0px auto; height:830px;}
.mainPhoto .go li ul li img{ width:222px; height:230px;}
.mainPhoto .go li ul li{ width:222px;margin: 15px 0 6px 5px !important;}
.i_news li .tu, .i_news li .tu img{ width:480px; height:222px;}
.i_news li .wen{ width:460px;}
.frd_m li{ margin-right:5px;}
.frd_m li, .frd_m li img{ width:235px; height:97px;}
.marqueeleft li .pic, .marqueeleft li .pic img{ width:252px; height:157px;}
.marqueeleft li{ height:157px;}
.pro_l ul li img{ width:230px; height:139px;}
.pro_l ul li{ width:230px; margin-right:10px !important;}
.pro_d .pro_da dt{ width:100%; height:auto; border:0px;}
/*.pro_d .pro_da dt img{ width:100%; height:auto;}*/
.pro_d .pro_da dd{ width:100%; margin-top:20px; border-bottom:1px solid #ddd; padding-bottom:30px;}
.news dl{ border-bottom:1px dashed #ddd;}
.news dl dd{ width:100%; margin-bottom:15px; margin-top:5px;}
#preview{ margin:0px auto; margin-bottom:20px;}
.zoomdiv,.pro_d .pro_da dt .bigimg,.jqZoomPup{ display:none !important;}
}
@media screen and (max-width:510px) {
.head,.nav_bg .nav_c ,.i_news,.i_prom,.i_news li,.friend,.scd .title,.scd .about,.s_pro,.scd .pro_l,.pro_l ul,.pro_d,.news{width:320px;}
.head .logo, .head .logo img{ width:320px; height:47px;}
.head .h_tel{ width:305px;}
.head .h_tel dt img , .head .h_tel dt{ width:35px; height:35px;}
.head .h_tel dd{ width:259px;}
.head .h_tel dd div{ font-size:16px; height:20px; line-height:20px;}
.nav_c .search{ width:280px; float:left;}
.nav_c .search .text{ width:215px;}
.nav_c{ position:relative;}
.nav_c .nav{ display:none;}
.nav_c .nav_m{ display:block;}
.i_prom .i_prol,.mainPhoto ,.mainPhoto .go, .mainPhoto .go li{ width:300px; margin:0px auto; height:515px;}
.mainPhoto .go li ul li img{ width:144px; height:148px;}
.mainPhoto .go li ul li{ width:48%; height:148px; margin:10px 1% !important;}
.i_news li .tu, .i_news li .tu img{ width:144px; height:148px;}
.i_news li .wen{ width:300px;}
.foot{ width:320px; margin:0px auto;}
.foot .f_nav{ margin-bottom:10px;}
.frd_m li, .frd_m li img{ width:155px; height:63px;}
.s_pro{ padding:0px;}
.pro_l .p_lei a{ padding:0 20px;}
.pro_l ul li{ width:320px; margin:0px !important; margin-bottom:15px !important;}
.pro_l ul li img{ width:320px; height:193px;}
#preview,#spec-n5,.jqzoom{ width:320px;}
.jqzoom{ height:250px;}
.jqzoom img{ width:320px; height:242px;}
#spec-list div,#spec-list{ width:290px !important;}
#spec-list div{ margin-left:0px;}
}
