<!--
body {
	margin: 0px;
	font-size:12px
	
}
.fl{ float:left;}
.fr{ float:right}
.wi{ width:1000px; margin:0 auto;}
.w2{ width:1000px; margin:0 auto; background:#fff}

ul,li,p{ padding:0; margin:0; list-style:none;}
a{ color:#333; text-decoration:none;}
.yh{ font-family:微软雅黑;}
.yh a{ font-family:微软雅黑;}
.g10{ height:10px; background:#fff}
.g6{ height:6px; font-size:0;}
.bgf{ background:#fff;}
.c{ clear:both;}

.ding{ height:30px; line-height:30px;background-image:url("../images/top.jpg"/*tpa=http://www.cnmisc.org/qn/images/top.jpg*/); color:#fff;}
.sj{ margin-left:10px;}
.sc{ margin-right:10px;}
.sc a{ color:#fff}

.logo{ height:200px; background:url("../images/logo.jpg"/*tpa=http://www.cnmisc.org/qn/images/logo.jpg*/) no-repeat;}

.nav{ height:34px; line-height:34px; background:url("../images/dhbj.jpg"/*tpa=http://www.cnmisc.org/qn/images/dhbj.jpg*/)}
.nav ul{}
.nav ul li{ float:left; background:url("../images/line.jpg"/*tpa=http://www.cnmisc.org/qn/images/line.jpg*/) no-repeat left; padding:0 14px; text-align:center}
.nav ul li a{ font-size:14px; color:#fff; font-weight:bolder;}

.fm{ height:230px; padding-bottom:6px; overflow:hidden;}
.f{ width:310px; height:230px;}
.dt{ width:456px; height:230px; margin-left:10px;}
.ti{ height:25px; line-height:25px;background:url("../images/lmbj.jpg"/*tpa=http://www.cnmisc.org/qn/images/lmbj.jpg*/) no-repeat #fb0303}
.str{}
.str strong{ color:#fff; padding-left:50px;font-size:14px; }
.str span{ float:right; margin-right:10px;}
.str span a{ color:#fff; }

.tix{}
.tix ul{ padding:2px 10px;}
.tix ul li{ height:25px; line-height:25px; background:url("../images/i1.jpg"/*tpa=http://www.cnmisc.org/qn/images/i1.jpg*/) repeat-x bottom;}
.tix ul li span{ float:right; color:#666}
.b1{ border:1px solid #e2be8d ; border-top:0}
.g230{ height:205px; overflow:hidden}


.gg{ width:220px;}


.g220{ height:221px; overflow:hidden}
.xwx ul li{ height:25px; line-height:25px; background:url("../images/i1.jpg"/*tpa=http://www.cnmisc.org/qn/images/i1.jpg*/) repeat-x bottom;}
.xwx ul li span{ float:right; color:#666}

.lk{ width:980px; margin:0 auto; padding:10px; background:#fff;}
.lk strong{ color:#333}
.lk a{ margin-right:8px;}

.ldbz{ padding-top:10px; padding-bottom:8px;}


.nml{ width:210px;}
.lmti{height:30px; line-height:30px; background:url("../images/lmdh.jpg"/*tpa=http://www.cnmisc.org/qn/images/lmdh.jpg*/);}
.lmti strong{ color:#fff; padding-left:30px; font-size:14px}
.lmtx{}
.lmtx ul{}
.lmtx ul li{ height:33px; line-height:33px; background:url("../images/lmtx.jpg"/*tpa=http://www.cnmisc.org/qn/images/lmtx.jpg*/); padding-left:30px;}

.re ul{ padding:10px 0 10px 10px;}

.nmr{ width:780px; overflow:hidden;}
.n1{border:1px solid #fbb; border-top:0}

.wz{ height:32px; line-height:32px; background:url("../images/wzbg.jpg"/*tpa=http://www.cnmisc.org/qn/images/wzbg.jpg*/);}
.wz strong{ color:#f00;padding-left:30px; font-size:14px;}
.wz span{ float:right; margin-right:20px; color:#333}

.nei{height:auto; padding:10px;}
/*新闻列表*/
.lwz{ margin-top:10px;}
.lwz ul{  height:auto; background:url("x1.gif"/*tpa=http://www.cnmisc.org/qn/css/x1.gif*/);}
.lwz ul li{  height:36px; background:url("i2.jpg"/*tpa=http://www.cnmisc.org/qn/css/i2.jpg*/) 0 12px no-repeat; line-height:36px; padding-left:20px;}
.lwz ul li span{ float:right; margin-right:10px; color:#666}
.lwz ul li a{ text-decoration:none; color:#000;}
.lwz ul li a:hover{ color:#F00;}

/*新闻、产品内容*/
.con{ padding-top:20px;}
.con h1{text-align:center; font-size:20px; font-family:微软雅黑}
.info{ text-align:center; padding:5px 0; margin-top:10px; color:#999}
.cont p{ line-height:30px; font-size:14px; text-indent:25px; margin-top:10px;}
.cont{ line-height:30px; font-size:14px; color:#333; padding-top:20px;}
.sx{ padding:10px 0; line-height:26px; background:url("xs2.gif"/*tpa=http://www.cnmisc.org/qn/css/xs2.gif*/) top repeat-x;}
.sx a{ margin-right:10px;}
.tag {margin:15px 0;	background:url("zi.gif"/*tpa=http://www.cnmisc.org/qn/css/zi.gif*/) 0 8px no-repeat;	padding-left:20px; line-height:32px;}
.tag a {color:#2960b2;}
.tag span{display:block; float:right; line-height:normal;}
.xg {background:#fff;	border-bottom:1px solid #e2e2e2;	padding:6px 6px 2px 6px;}
.xg strong {font-size:15px;	border-bottom:2px solid #367400;	color:#e47911;	font-family:微软雅黑}
.xgx {padding:10px;}
.xgx ul {}
.xgx ul li {width:48%;float:left;height:26px;line-height:26px;background:url("i7.jpg"/*tpa=http://www.cnmisc.org/qn/css/i7.jpg*/) no-repeat 0 7px;padding-left:10px;}



.menu {
	display: block;
	text-align: center;
}
.dropdown {
	display: none;
	background-color:white;
	border:1px solid #ACA899;
	line-height:22px;
	list-style:none outside none;
	margin:8px 0 0 -4px;
	padding:2px;
	position:absolute;
	width:100px;
}

.dropdown a {
	display: block;
	text-align: left;
	padding-left:15px;
}

* html .dropdown li, * html .dropdown li a {
	zoom: 1;
}

.dropdown a:hover {
	background-color: #D13636;
	color: white;
}

.ListInfo
{
	width:100%;
	padding:0px;
	border-bottom:1px dotted #ccc;
	height:22px;
	
}


#TBV{ margin-top:5px;}



.full table{ width:100%}

.category a:link  { color: #ff0000; text-decoration: none} 
.category a:visited { color: #ff0000; text-decoration: none} 
.category a:hover { color: #ff0000; text-decoration: none} 
.category a:active { color: #ff0000; text-decoration: none}

img{ border:0}
.hidden{ display:none}
-->