/* CSS Document */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, button{padding:0;margin:0;}
fieldset, img{border:0;}
input, label, select, option, textarea, button, fieldset, legend{ font:12px/18px Verdana, Simsun, Helvetica, Arial, sans-serif;}
ul{ list-style:none;}
h1,h2,h3,h4,h5,h6{ font-size:100%; }
img,li{ vertical-align:top;border:0;}
img{ border:0; vertical-align:top;}
ul,li{ margin:0px; padding:0; list-style-type:none;}

.percent{ width:100%;}
.h_percnet{ height:100%;}
.content{ width:1000px; margin:0 auto;}
.wrap{ width:1000px;}
.fle{ float:left;}
.flr{ float:right;}
.position_r{ position:relative;}
.position_b{ position:absolute;}
.align{ text-align:center !important;}
.imgmid{display:inline-block !important;*display:inline !important;*zoom:1; height:100%; width:1px; margin-left:-1px; vertical-align:middle;}
.inline-block{ display:inline-block !important;}
.block{ display:block !important;}
.yahei{ font-family:"microsoft yahei"}
.Arial{ font-family:Arial, Helvetica, sans-serif !important;}
.font_04b08{ font-family:'04b08', Arial, Helvetica, sans-serif !important;}
.Candara_font{ font-family:Candara, Arial, Helvetica, sans-serif !important;}
.bold{ font-weight:800 !important;}
.clear{ clear:both; display:block;}

.red{ color:#F00 !important;}
.c_f30{ color:#F30 !important;}
.c_999{ color:#999 !important;}
.c_333{ color:#333 !important;}
.c_666{ color:#666 !important;}
.c_fc0{ color:#FC0 !important;}
.c_fff{ color:#FFF !important;}
.c_f60{ color:#F60 !important;}
.c_f90{ color:#F90 !important;}
.c_06f{ color:#06f !important;}
.c_8d7b4f{ color:#8d7b4f !important;}
.c_b32023{ color:#b32023 !important;}

.f11{ font-size:11px !important;}
.f12{ font-size:12px !important;}
.f13{ font-size:13px !important;}
.f14{ font-size:14px !important;}
.f15{ font-size:15px !important;}
.f16{ font-size:16px !important;}
.f18{ font-size:18px !important;}
.f20{ font-size:20px !important;}
.f21{ font-size:21px !important;}
.f22{ font-size:22px !important;}
.f24{ font-size:24px !important;}
.f26{ font-size:26px !important;}
.f30{ font-size:30px !important;}
.f41{ font-size:41px !important;}

.none{ display:none;}
.line_h{ line-height:20px !important;}
.line_h24{ line-height:24px !important;}
.line_h26{ line-height:26px !important;}
.line_h30{ line-height:30px !important;}
.text_c{ text-align:center !important;}
.text_l{ text-align:left !important;}
.text_r{ text-align:right !important;}
.pad20{ padding:20px !important;}
.pad0_5{ padding:0 5px !important;}
.pad5_0{ padding:5px 0 !important;}
.pad10{ padding:10px !important;}
.pad13{ padding:13px !important;}
.pad15{ padding:15px !important;}
.mt5{ margin-top:5px !important;}
.mt7{ margin-top:7px !important;}
.mt10{ margin-top:10px !important;}
.mt15{ margin-top:15px !important;}
.mt20{ margin-top:20px !important;}
.mt30{ margin-top:30px !important;}
.mt35{ margin-top:35px !important;}
.mtb0{ margin-bottom:0 !important;}
.bg_FFF{ background:#FFF !important;}
.bg_af2830{ background:#af2830 !important;}
.bg_333{ background:#333 !important;}
.cursor{ cursor:pointer !important;}
.border0{ border:0 !important;}
.underline{ text-decoration:underline !important;}

.gray333{ color:#333; text-decoration:none;}
.gray333:hover{ color:#cc3300; text-decoration:none;}

.top{ background:url(../images/top_bj.jpg) repeat-x; height:30px;}
.top_left{ width:500px; margin-top:6px;}
.top_left img{ margin-right:5px;}
.top_right{ width:500px; text-align:right;}
.home{ background:#e73f02; width:73px; height:30px; color:#fff !important; display:inline-block; text-align:center;}
.top_right a{ color:#666; text-decoration:none; margin-left:10px;}
.top_right a:hover{ color:#666; text-decoration: underline;}

.head{ margin-top:20px;}
.head_left{ width:295px;}
.head_right{ width:645px; position:relative; font-family:"微软雅黑"; margin-top:20px; z-index:10001;}

ul#jDropDown > li > a {height:65px; line-height:65px;position: relative;margin: 0px 5px 0px 5px; color:#000; text-decoration: none; padding:0px 20px 0px 20px;border:solid 1px #fff; border-bottom: none; z-index:10000;}

ul#jDropDown > li > .on, ul#jDropDown > li > a:hover{color: #484848;top:0px;background-color: #f9f9f9; border:solid 1px #d9d9d9; border-bottom: none; z-index:10005;height:65px; margin: 0px 5px 0px 5px; color:#000; text-decoration: none; padding:0px 20px 0px 20px;}

ul#jDropDown {position: relative;left: 0px;height:65px; 
width:645px; float:right;}
ul#jDropDown li {float: left;zoom: 1; font-size:18px;position: relative;}
ul#jDropDown li a {display: block;}


.column_1, .column_2, .column_3, .column_4, .column_5 {left:1px;position: absolute;top:65px; z-index:10003;visibility: hidden;
border: 1px solid #d9d9d9; 
background-color: #f9f9f9;}
.column_1 {width: 420px;}
.column_2 {width: 340px;}
.column_3 {width: 510px;}
.column_4 {width: 680px;}
.column_5 {width: 850px;}

.nav_left{ width:130px; font-size:14px; position:relative;}
.nav_left span{ line-height:48px; width:100px; display:inline-block; border-bottom:dotted 1px #ccc;}
.nav_left span img{ position:absolute; left:15px; margin-top:24px;}
.nav_left span a{ color:#000; text-decoration:none; padding-left:30px;}
.nav_left span a:hover{ color:#d02504; text-decoration:none;}

.nav_right{ width:268px; font-size:12px; font-family:"宋体"; line-height:24px; color:#666;}
.nav_right img{ margin-bottom:10px;}


.head_xian{ background:url(../images/xian.jpg) no-repeat; width:100%; height:3px; margin-top:1px;}
.summary{ background:url(../images/in_news_bj.jpg) repeat-x; height:33px; position:relative; padding-top:8px;}
.laba{ position:absolute; top:16px;}
.in_gd-news { font-size:12px; color:#cccccc; padding-left:5px;}
.in_gd-news ul { PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; liNE-HEIGHT: 26px; PADDING-TOP: 0px; liST-STYLE-TYPE: none; HEIGHT: 26px}
.in_gd-news ul li {MARGIN: 0px 0px 0px 1em; text-align:left;}
.in_gd-news ul li.active {DISPLAY: block}
.in_gd-news span { color:#999; margin-left:20px;}
.in_gd-news ul A { ColOR: #ccc; TEXT-DECORATION: none}
.in_gd-news ul A:hover {TEXT-DECORATION: underline}


.fullSlide {width:100%;position:relative;height:412px;background:#000;}
.fullSlide .bd {margin:0 auto;position:relative;z-index:0;overflow:hidden;}
.fullSlide .bd ul {width:100% !important;}
.fullSlide .bd li {width:100% !important;height:412px;overflow:hidden;text-align:center;}
.fullSlide .bd li a {display:block;height:412px;}
.fullSlide .hd {width:100%;position:absolute;z-index:1;bottom:0;left:0;height:30px;line-height:30px;}
.fullSlide .hd ul {text-align:center;}
.fullSlide .hd ul li {cursor:pointer;display:inline-block;*display:inline;zoom:1;width:42px;height:11px;margin:1px;overflow:hidden;background:#000;filter:alpha(opacity=50);opacity:0.5;line-height:999px;}
.fullSlide .hd ul .on {background:#f00;}
.fullSlide .prev,.fullSlide .next {display:block;position:absolute;z-index:1;top:50%;margin-top:-30px;left:15%;z-index:1;width:40px;height:60px;background:url(../images/slider-arrow.png) -126px -137px #000 no-repeat;cursor:pointer;filter:alpha(opacity=50);opacity:0.5;display:none;}
.fullSlide .next {left:auto;right:15%;background-position:-6px -137px;}

.in_main{ margin-top:25px; color:#666;}
.in_main_l,.in_main_con{ width:317px; background:url(../images/fgx.jpg) no-repeat right; height:300px;}
.in_main_con{ margin-left:48px;}
.in_main_r{ width:269px; margin-left:48px;}
.in_mian_title{ font-family:"微软雅黑"; font-weight:normal; line-height:36px; margin-bottom:15px; color:#000;}
.in_mian_title img{ margin-right:10px;}
.in_main_nr{ width:270px; display:inline-block; height:80px; line-height:24px; margin-top:10px;}
.in_main_more{ font-weight:normal;}
.in_main_more img{ margin:2px 0px 0px 5px;}
.in_main_more a{ color:#e10600; text-decoration:none;}
.in_main_more a:hover{ color:#e10600; text-decoration: underline;}

.in_main2{ background:#333; padding:20px 0px 20px 0px; position:relative;}
.in_about{ width:645px; color:#ccc;}
.in_main2_title{ font-size:18px; color:#fff; font-family:"微软雅黑"; font-weight:normal; border-bottom:dotted 1px #858585; padding-bottom:10px; margin-bottom:10px;}
.in_about p{ text-align:right; margin-top:25px;}

.in_results{ width:315px;}
#gd_results{ overflow:hidden; font-size:12px;}
.gd_results_img tr td{ width:101px; text-align:center; padding-right:20px; line-height:30px;}
.gd_results_img tr td a{ color:#fff; text-decoration:none;}
.gd_results_img tr td a:hover{ color:#fff; text-decoration: underline;}

.link{ margin-top:10px;}

.gotop{ width:90px; height:30px; right:70px; top:0px; background:url(../images/dtop.jpg) no-repeat; position:absolute;}

.foot{ background:#666; height:50px; line-height:50px; color:#fff;}
.foot_left{ width:500px;}
.foot_left a{ color:#fff; text-decoration:none; margin:0px 10px 0px 10px;}
.foot_left a:hover{ color:#fff; text-decoration: underline;}
.foot_right{ width:500px; text-align:right;}

/*--内页--*/
.site_main{ background:url(../images/jb.jpg) repeat-x; height:100%; overflow:hidden;}
.site_main_left{ width:181px; background:#f2f2f2; border-right:solid 1px #e6e6e6;}
.site_menu_title{ background:url(../images/menu_btbj.jpg) no-repeat; width:136px; height:37px; color:#fff; font-family:"微软雅黑"; font-size:18px; line-height:37px; padding-left:45px; margin-top:32px;}

.nav_dot{ width:143px; margin-left:15px;}
.nav_dot li a { text-decoration:none; font-size:14px; color:#000; display:block; height:36px; line-height:36px; border-bottom:1px dotted #d2d2d2; }
.nav_dot li h4 {}
.nav_dot li h4 a{ border:none; cursor:pointer; background:url(../images/menu_bj.jpg) no-repeat;text-decoration:none; font-size:14px; color:#000; line-height:36px; font-weight:normal; display:block; padding-left:30px; }
.nav_dot li h4 a:hover { color:#d02504; text-decoration:none; background:url(../images/menu_bj-1.jpg) no-repeat;}
.nav_dot li .list-item a { color:#333; display:block; font-size:12px; padding-left:30px; height:36px; line-height:36px; border-bottom:dotted 1px #999; font-family:"宋体";}
.nav_dot li .list-item a:hover{ text-decoration:none; color:#d02504;}

.site_left_phone{ margin:20px 0px 0px 10px; font-size:12px; color:#666;}
.site_left_phone img{ margin-right:5px;}
.site_left_phone span{ font-family:Arial, Helvetica, sans-serif; color:#333; font-size:18px;}
.site_left_phone span b{ color:#b32023; font-weight:normal;}

.site_main_right{ width:788px;}
.site_main_right_nr{ padding-bottom:30px;}
.site_main_title{ color:#cc3300; font-family:"微软雅黑";}

.fxui-tab { font-size:14px;}
.fxui-tab-hand { height:44px; border-top: solid 1px #d8d8d8; border-bottom: dashed 1px #d8d8d8;}
.fxui-tab-tit {display: block;float: left;font-size:14px;height:44px;line-height:44px; padding:0px 35px 0px 35px; cursor: pointer; border-left:dashed 1px #d8d8d8}
.fxui-tab-hand .curr { background:url(../images/new_tab_ann.jpg) no-repeat; color:#000;}
.fxui-tab-nav { }

.n_news li{ line-height:45px; border-bottom:dashed 1px #d8d8d8;}
.n_news li span{ font-size:12px; color:#999; width:80px; display: inline-block; padding-left:20px;}
.n_news li strong{ font-weight:normal; margin-left:20px;}

.fy{ padding-top:25px; text-align:center; margin:0px 20px 20px 0px;}
.fy a{ display:inline-block; padding:0 8px; height:20px; line-height:20px; text-align:center; border:1px solid #d3d3d3; margin:0 2px; color:#555; text-decoration:none; font-size:12px;}
.fy a:hover,.fy a.fyon{ text-decoration:none; color:#f13000;}
.sure,.page{ width:45px; text-align:center; height:23px; line-height:23px; border:1px solid #d3d3d3; background:none; vertical-align:middle; color:#555}

.new_site h1{ font-size:14px; color:#333; text-align:center; border-bottom:dashed 1px #d8d8d8; padding-bottom:20px;}
.new_site span{ display:inline-block; padding:30px 20px 0px 30px;}

.pro_list li{ float:left; width:394px; border-bottom:dashed 1px #c9c9c9; padding-bottom:25px; margin-top:25px;}
.pro_list li img{ border:solid 1px #e1e1e1; margin:0px 12px 0px 12px;}
.pro_list li h1 a{ color:#000; text-decoration:none;}
.pro_list li h1 a:hover{ color:#d02504; text-decoration:none;}
.pro_list li span{ line-height:22px; display:inline-block; margin-top:5px; width:195px; height:110px; overflow:hidden;}

.pro_list_site li{ border-bottom:dashed 1px #c9c9c9; padding-bottom:25px; height:100%; overflow:hidden; margin-top:25px;}
.pro_list_site img{ border:solid 1px #e1e1e1; margin:0px 12px 0px 12px;}
.pro_list_site li h1 a{ color:#000; text-decoration:none;}
.pro_list_site li h1 a:hover{ color:#d02504; text-decoration:none;}
.pro_list_site li span{ line-height:22px; display:inline-block; margin-top:10px; width:590px; height:65px; overflow:hidden;}
.pro_list_site li p img{ margin:0 auto;}

.product_site{ font-size:14px; font-weight:bold;}
.product_site img{ border:solid 1px #e1e1e1;}
.product_site_titile{ background:url(../images/site_bt_bj.jpg) no-repeat; height:32px; line-height:32px; padding-left:30px;}

.industry{ line-height:48px; font-family:"微软雅黑";}

.knowledge_list li{ border-bottom:dashed 1px #d8d8d8; padding-bottom:15px; margin-top:15px;}
.knowledge_list li h1 span{ font-weight:normal; float:right; color:#999;}
.knowledge_list_nr{ display:inline-block; height:40px;}

.honor_list dl{ float:left; width:212px; margin:10px 50px 10px 0px;}
.honor_list dl dt{ border:solid 1px #e0e0e0;}
.honor_list dl dd{ text-align:center; margin-top:10px;}
.honor_list dl dd a{ color:#000; text-decoration:none;}
.honor_list dl dd a:hover{ color:#cc3300; text-decoration:none;}

.qualification_list li{ border-bottom: dotted 1px #999; height:100%; overflow:hidden; padding-bottom:20px; margin-top:30px; line-height:30px;}
.qualification_list li h1{ height:30px; margin:20px 0; cursor:pointer;}

.qualifica_left{ width:116px; font-family:Arial, Helvetica, sans-serif;}
.gray_bj{ background:url(../images/yj_h_bj.jpg) no-repeat; width:61px; height:70px; line-height:70px; color:#fff; padding-left:55px;}
.red_bj{ background:url(../images/yj_red_bj.jpg) no-repeat; width:61px; height:70px; line-height:70px; color:#fff; padding-left:55px;}

.qualifica_right{ width:635px;}
.qualifica_right strong{ margin-top:25px; display:inline-block;}

.edu_list{ background:#f1f1f1;}
.edu_list_left{ border-right:solid 2px #fff;}

.edu_list_right{ line-height:40px; border-bottom:dotted 1px #cecece; padding-left:20px;}

.join_left{ width:570px; font-family:"微软雅黑"; line-height:40px;}
.join_right{ width:210px; text-align:right;}
.ann1{ background: url(../images/ann1.jpg) no-repeat; width:203px; height:51px; border:none; margin-top:10px; cursor:pointer;}

.join_zw{ background:#737373; height:30px; line-height:30px; padding:0px 20px 0px 20px; color:#fff; display:inline-block; margin-right:10px;}

.contact{ line-height:36px;}