@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a {
blr:expression(this.onFocus=this.blur())
}/*去掉a标签的虚线框，避免出现奇怪的选中区域*/
:focus {
	outline: 0;
}
img {
	vertical-align: middle;
}
table {
	margin: 0px;
	padding: 0px;
}
h1 {
	font-size: 16px;
}
h2, h3, h4 {
	font-size: 14px;
}
h5, h6 {
	font-size: 12px;
}
abbr, acronym {
	border: 0;
	font-variant: normal
}
address, caption, cite, code, dfn, em, th, var, optgroup {
	font-style: normal;
	font-weight: normal
}
input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit
}
input, button, textarea, select {
*font-size:100%
}
a, img {
	border: 0;
}
a {
	color: #604b2b;
	text-decoration: none;
}
a:hover {
	color: #ccb879;
	text-decoration: underline;
}
.clear {
	display: block;
	overflow: hidden;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-table;
}/* Hides from IE-mac \*/
*html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}/* End hide from IE-mac */
*+html .clearfix {
	min-height: 1%;
}
body {
	font-family:"宋体";
	color: #666;
	background: #000;
	font-size: 12px;
	line-height: 180%;
}
/* shortcut */
.shortcut {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
}
*html, *html body /* 修正IE6振动bug */ {
	background-image: url(about:blank);
	background-attachment: fixed;
}
*html .shortcut {
	position: absolute;
top:expression(eval(document.documentElement.scrollTop));
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.tL {
	text-align: left;
}
.tR {
	text-align: right;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------*/