body{font-family:"Microsoft Yahei";font-size:14px;color:#5B5B5B; padding:0; margin:0;}
input , textarea , select{font-family:"Microsoft Yahei"; color:#5B5B5B; font-size:14px;}
a{ color:#333;}
a:hover{ color:#00568C;}
/*头部*/
.header{ width:100%; margin:0px auto; position:relative; box-shadow:1px 1px 5px #666; z-index:99999;}
.header .head{ width:1100px; margin:0px auto; padding:20px 0;}
.head .logo,.head .logo img{ width:452px; height:58px; float:left; vertical-align:top;}
.head .h_r{ width:400px; height:25px; line-height:25px; float:right; text-align:right; margin-top:15px;}
.head .h_r span{ display:inline-block; *display:inline; zoom:1; margin-left:15px; vertical-align:top; height:25px; line-height:25px;}
.head .h_r .tel{ background:url(../images/icon1.jpg) no-repeat left center; padding-left:27px; color:#888;}
.head .h_r span a{ margin:0 3px;}
.head .h_r .tel a,.head .h_r .tel a:hover{ font-size:20px; color:#F10606;}
.head .h_r .tel a{ margin:0;}
.head .h_r span a.on,.head .h_r span a:hover{ color:#00568C;}
.header .nav_bg{ width:100%; border-top:1px solid #ddd;}
.nav_m{ width:1100px; margin:0px auto; height:48px; position:relative;}
.nav{ width:100%; text-align:left;}
.nav li{ margin-right:65px;}
.nav li,.nav li .li_m{ display:inline-block; *display:inline; zoom:1; width:auto; height:48px; position:relative; vertical-align:top;}
.nav li .li_m a{ display:inline-block; *display:inline; zoom:1; height:48px; line-height:48px; padding:0 20px; font-size:16px; vertical-align:top;}
.nav li.now .li_m a{ color:#00578D;}
.nav li .er{ width:120px; height:auto; background:rgba(255,255,255,0.8); position:absolute; left:-10px; top:48px; z-index:999999; text-align:center; display:none;}
.nav li:hover .er{ display:block; transition:all ease-in-out .4s; padding:10px 0;}
.nav li .er li{ width:100%; height:auto;}
.nav li .er li a{ display:block; width:100%; height:30px; line-height:30px; text-align:center;}
.nav_m .n_icon{ display:inline-block; *display:inline; zoom:1; height:18px; line-height:18px; color:#333; padding-left:25px; background:url(../images/nav_ico.png) no-repeat left center; position:absolute; right:10px; top:-43px; z-index:9999; cursor:pointer;display:none;}
/*幻灯片*/
.slider{ display:none;}
.owl-carousel .owl-wrapper:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
/* display none until init */
.owl-carousel{display: none;position: relative;width: 100%;-ms-touch-action: pan-y;}
.owl-carousel .owl-wrapper{display: none;position: relative;-webkit-transform: translate3d(0px, 0px, 0px);}
.owl-carousel .owl-wrapper-outer{overflow: hidden;position: relative;width: 100%;}
.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition: height 500ms ease-in-out;-moz-transition: height 500ms ease-in-out;-ms-transition: height 500ms ease-in-out;-o-transition: height 500ms ease-in-out;transition: height 500ms ease-in-out;}
.owl-carousel .owl-item{float: left;}
.owl-controls .owl-page,.owl-controls .owl-buttons div{cursor: pointer;}
.owl-controls {-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
/* mouse grab icon */
.grabbing {cursor:url(grabbing.png) 8 8, move;}
/* fix */
.owl-carousel  .owl-wrapper,.owl-carousel  .owl-item{-webkit-backface-visibility: hidden;-moz-backface-visibility:    hidden;-ms-backface-visibility:     hidden;-webkit-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0);}
#owl-demo { position: relative; width: 100%; margin-left: auto; margin-right: auto;}
#owl-demo .item{ position: relative; display: block; width:100%; overflow:hidden;}
#owl-demo img { display: block; width:1920px; height:300px;}
#owl-demo b { position: absolute; left: 0; bottom: 0; width: 100%; height: 78px; background-color: #000; opacity: .5; filter: alpha(opacity=50);}
#owl-demo span { position: absolute; left: 0; bottom: 37px; width: 100%; font: 18px/32px "微软雅黑","黑体"; color: #fff; text-align: center;}
.owl-pagination { position: absolute; left: 0; bottom: 5px; width: 100%; height: 22px; text-align: center;}
.owl-page { display: inline-block; width:10px; height: 10px; margin: 0 5px; background-image:url(../images/icon3.png); *display: inline; *zoom: 1;}
.owl-pagination .active { background-image: url(../images/icon2.png);}
.owl-buttons { display: none;}
.owl-buttons div { position: absolute; top: 50%; width: 24px; height: 48px; margin-top: -40px; text-indent: -9999px;}
/*.owl-prev { left: 10px; background-image: url(../images/bg17.png);}
.owl-next { right: 10px; background-image: url(../images/bg18.png);}
.owl-prev:hover { background-image: url(../images/bg17.png);}
.owl-next:hover { background-image: url(../images/bg18.png);}*/
@media screen and (max-width: 579px) {.owl-pagination{bottom:0px;height:15px;}}
/*幻灯片*/
.i_name{ width:100%; padding:20px 0; text-align:center;}
.i_name p{ width:100%; height:22px; line-height:22px; font-size:12px; color:#9B9B9B;}
.i_name span{ display:inline-block; *display:inline; zoom:1; height:30px; line-height:30px; font-size:20px; font-weight:bold;}
.i_name span em{ color:#00578C; font-weight:bold;}
.i_service{ width:1100px; margin:0px auto;}
.i_service li{ width:208px; float:left; margin-right:15px; margin-bottom:15px; border:1px solid #ddd; padding:15px 10px; text-align:center;}
.i_service li .tu{ width:100%; height:85px; text-align:center; padding-top:10px;}
.i_service li .tu img{ width:75px; height:60px; vertical-align:top;}
.i_service li .name{ width:100%; height:50px; line-height:50px; font-size:16px; font-weight:bold;}
.i_service li:hover .tu img{ transition:all ease-in-out .4s; transform:scale(1.1); -moz-transform:scale(1.1); -webkit-transform:scale(1.1);}
.i_service li .des{ width:100%; height:40px; font-size:13px; color:#B8B8B8; line-height:150%; overflow:hidden; text-align:left;}
.i_ma{ width:1100px; margin:0px auto;}
.i_ma .i_mal{ width:655px; float:left; border:1px solid #ddd; height:340px; margin-bottom:15px;}
.i_ma .i_mar{ width:430px; height:340px; float:right; border:1px solid #ddd; margin-bottom:15px;}
.box_h{ width:100%; height:45px; position:relative; border-bottom:1px solid #ddd; line-height:45px;}
.box_h a{ font-size:16px; font-weight:bold; margin-left:10px; color:#333;}
.box_h a span{ font-size:12px; color:#9B9B9B; margin-left:8px; font-weight:normal;}
.box_h a.more{ display:inline-block; *display:inline; zoom:1; font-size:12px; font-weight:normal; position:absolute; right:3px; top:0;}
.box_h a.more:hover{ color:#00558B;}
.tabBox_t , .tabBox  { width:100%; position:relative;}
.tabBox .tabNav { width:480px; height:45px; position:absolute; right:0; top:-45px; text-align:center;}
.tabBox .tabNav li { display:inline-block; *display:inline; zoom:1; height:23px; line-height:23px; padding:0 10px; background:url(../images/bg_5.png) repeat; position:relative; font-size:13px; color:#FFF; cursor:pointer; margin:11px 9px; vertical-align:top;}
.tabBox .tabNav li::before,.tabBox .tabNav li::after{position: absolute;top:0;content: '';opacity: 1; width:23px; height:23px;}
.tabBox .tabNav li::before{ left:-23px; background:url(../images/bg_3.png) no-repeat;}
.tabBox .tabNav li::after{ right:-23px; background:url(../images/bg_4.png) no-repeat;}
.tabBox .tabNav li.now::before{ background:url(../images/bg_1.png) no-repeat;}
.tabBox .tabNav li.now::after{ background:url(../images/bg_2.png) no-repeat;}
.tabBox .tabNav li.now { background:url(../images/bg_6.png) repeat;}
.tabBox .tabCont { display:none; width:100%; height:295px; padding:10px; overflow:hidden;}
.i_mar ul{ width:100%; height:295px; padding:15px; overflow:hidden;}
.i_mar ul li{ width:100%; height:30px; line-height:30px; background:url(../images/icon6.png) no-repeat left center; font-size:13px;}
.i_mar ul li:hover{ background:url(../images/icon7.png) no-repeat left center;}
.i_mar ul li a{ display:block; width:100%; height:30px; line-height:30px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; padding-left:17px;}
.i_mal dl{ width:100%;}
.i_mal dl dt,.i_mal dl dt img{ width:178px; height:114px; float:left; vertical-align:top;}
.i_mal dl dd{ width:440px; float:right;}
.i_mal dl dd .title{ width:100%; height:30px; line-height:30px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:15px;}
.i_mal dl dd .time{ width:100%; height:20px; line-height:20px; font-size:12px; color:#666;}
.i_mal dl dd .des{ width:100%; height:62px; font-size:12px; color:#888; overflow:hidden; line-height:175%;}
.i_mal .i_n{ width:100%; padding-top:10px;}
.i_mal .i_n li{ width:100%; height:30px; line-height:30px; background:url(../images/icon4.png) no-repeat left center; position:relative;}
.i_mal .i_n li:hover{ background:url(../images/icon5.png) no-repeat left center;}
.i_mal .i_n li p{ width:55%; height:30px; line-height:30px; padding-left:15px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.i_mal .i_n li em{ display:block; text-align:right; position:absolute; right:0; top:0; font-size:13px;}
.i_mb{ width:1100px; margin:0px auto;}
.i_mb .i_mbl{ width:540px; float:left; border:1px solid #ddd; margin-bottom:15px;}
.i_mb .i_mbr{ width:545px; float:right; border:1px solid #ddd; margin-bottom:15px;}
.i_mb .box_m{ width:100%; height:215px; padding:10px; overflow:hidden;}
.i_mbr dl{ width:100%;}
.i_mbr dl dt,.i_mbr dl dt img{ width:160px; height:195px; float:left; vertical-align:top;}
.i_mbr dl dd{ width:352px; float:right; text-align:left; font-size:13px; line-height:220%;}
.i_mbl iframe{ width:100%; height:195px; overflow:hidden;}
.i_mc{ width:1100px; margin:0px auto; border:1px solid #ddd; margin-bottom:15px;}
.i_mc .box_m{ width:100%; height:220px; overflow:hidden; padding:10px;}
.marqueeleft{ width:100%; height:200px;overflow:hidden;}
.marqueeleft ul{float:left;}
.marqueeleft li{float:left;margin:0 7px;display:inline;width:200px;height:200px;overflow:hidden;}
.marqueeleft li img{display:block; width:200px; height:160px; border:1px solid #ddd; vertical-align:top;}
.marqueeleft li .txt{text-align:center; width:100%; height:35px; line-height:35px; text-align:center; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:13px;}
.f_bg{ width:100%; background:#444444; padding:25px 0;}
.f_nav{ width:1100px; margin:0px auto;}
.f_nav ul{ width:54%; float:left; color:#eee;}
.f_nav dl{ width:46%; float:left; color:#eee;}
.f_nav ul li{ width:25%; float:left; padding-right:10px;}
.f_nav b{ display:block; width:100%; height:35px; line-height:35px; font-size:16px; font-weight:normal; color:#FFF;}
.f_nav p{ width:100%; padding:7px 0; font-size:13px;}
.f_nav dl dt{ width:140px; float:right; text-align:center;}
.f_nav dl dt img{ width:136px; height:136px; vertical-align:top;}
.f_nav dl dt p{ width:100%; height:25px; line-height:25px; font-size:13px;}
.f_nav dl dd{ width:355px; float:left;}
.bq_bg{ width:100%; padding:10px 0; background:#333333; text-align:center; color:#FFF; font-size:13px;}
.bq{ width:1100px; margin:0px auto;}
.bq span{ display:inline-block; *display:inline; zoom:1; height:30px; line-height:30px; vertical-align:top; margin:0 10px;}
.bq a,.f_nav a{ color:#eee;}
.bq a:hover,.f_nav a:hover{ color:#ccc;}
.pst_bg{ width:100%; height:75px; background:url(../images/bg_7.jpg) repeat-x;}
.pst{ width:1100px; height:75px; line-height:90px; margin:0px auto; text-align:right;}
.scd{ width:1100px; margin:0px auto;}
.scd .scd_l{ width:220px; float:left; position:relative; z-index:9; margin-top:-52px;}
.scd_l .l_name{ width:100%; height:85px; background:url(../images/bg_8.jpg) no-repeat; background-size:100% 100%; text-align:center; position:relative;}
.scd_l .l_name img{ width:180px; height:80px; vertical-align:top; margin-top:2px;}
.scd_l .l_name em{ display:block; width:32px; height:33px; position:absolute; right:-32px; bottom:0; background:url(../images/icon9.png) no-repeat;}
.scd_l .l_nav{ width:100%; border-right:1px solid #ddd; border-left:1px solid #ddd;}
.scd_l .l_nav li{ width:100%; position:relative; height:45px; line-height:45px; border-bottom:1px solid #ddd;}
.scd_l .l_nav li a{ display:block; width:100%; height:45px;}
.scd_l .l_nav li em,.scd_l .l_nav li span,.scd_l .l_nav li i{ display:inline-block; *display:inline; zoom:1;}
.scd_l .l_nav li em{ width:4px; height:45px; background:#00578D; position:absolute; left:-1px; top:0; display:none;transition:all ease-in-out .4s;}
.scd_l .l_nav li span{ font-size:16px; margin-left:40px;}
.scd_l .l_nav li i{ width:14px; height:15px; background:url(../images/icon8.png) no-repeat; position:absolute; right:15px; top:15px; display:none;transition:all ease-in-out .4s;}
.scd_l .l_nav li.on em,.scd_l .l_nav li:hover em,.scd_l .l_nav li.on i,.scd_l .l_nav li:hover i{ display:block; transition:all ease-in-out .4s;}
.scd_l .l_nav li.on span,.scd_l .l_nav li:hover span{ color:#00578D; transition:all ease-in-out .4s;}
.scd .scd_r{ width:850px; float:right; margin-top:30px;}
.scd .scd_ra{ width:100%;}
.scd_r .r_name{ width:100%; height:30px; line-height:30x; border-bottom:1px solid #ddd; position:relative;}
.scd_r .r_name span{ display:inline-block; *display:inline; zoom:1; height:30px; line-height:30px; padding:0 10px; position:absolute; left:0; top:0; font-size:16px; color:#00578D; border-bottom:2px solid #00578D;}
.scd_r .s_ctn{ width:100%; padding:20px 0; text-align:left; font-size:13px; line-height:200%;}
.contact{ width:100%;}
.contact dt,.contact dt img{ width:485px; float:right; height:auto; vertical-align:top;}
.contact dd{ width:345px; float:left; line-height:250%; font-size:13px;}
.contact dd h1{ width:100%; padding:15px 0; font-size:20px; font-weight:normal; color:#005798;}
.case{ width:100%;}
.case li{ width:250px; float:left; margin-right:33px; margin-bottom:20px;}
.case li img{ width:250px; height:200px; border:1px solid #ddd; vertical-align:top; }
.case li p{ width:100%; height:33px; line-height:33px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; text-align:center;}
.pages{ width:100%; text-align:center; margin-bottom:25px;}
.pages a{ display:inline-block; *display:inline; zoom:1; height:26px; line-height:22px; border:2px solid #eee; margin:0 1px 5px; font-size:12px; color:#555; padding:0 5px;}
.pages a.now,.pages a:hover{ color:#FFF; font-weight:bold; background:#00578D; border-color:#00578D;}
.team{ width:100%;}
.team dl{ width:415px; float:left; border:1px solid #ddd; float:left; margin-right:20px; margin-bottom:20px; height:150px; overflow:hidden;}
.team dl dt{ width:160px; height:150px; float:left; border-right:1px solid #ddd; overflow:hidden;}
.team dl dt img{ width:160px; height:150px; vertical-align:top;}
.team dl dd{ width:235px; float:left; margin-left:10px;}
.team dl dd .name{ width:100%; height:40px; line-height:40px; overflow:hidden; font-size:16px; color:#000;}
.team dl dd .des{ width:100%; height:65px; font-size:13px; line-height:175%; color:#666666; overflow:hidden; margin-bottom:10px;}
.team dl dd a{ display:inline-block; *display:inline; zoom:1; width:80px; height:25px; text-align:center; line-height:23px; border:1px solid #00578D; color:#00578D; font-size:13px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.news{ width:100%; padding-bottom:15px;}
.news li{ width:100%; height:42px; line-height:42px; padding-left:15px; border-bottom:1px dashed #ddd; position:relative; background:url(../images/icon10.png) no-repeat left center;}
.news li:hover{ background:url(../images/icon11.png) no-repeat left center;}
.news li p{ width:75%; height:42px; line-height:42px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.news li em{ display:block; text-align:right; position:absolute; right:0; top:0;}


