.index_header{ height:790px;background:url(../images/service_bg.gif) repeat-x bottom;}
.index_banner{height:480px; width:100%;  overflow:hidden; text-align:center;background:url(../images/service_bg.gif) repeat-x bottom;}
.home-slider{ overflow:hidden; }
.design_box{ width:1200px; margin:0px auto;position:relative; z-index:10000; left:0px; }
.design{width:1200px;margin:0 auto;position:absolute;bottom:30px;left:0px;overflow:hidden;z-index:10000;}
.design dl{float:left;width:310px;height:94px;background: url(../images/design_dl_bg.gif) no-repeat;text-align:center;padding:15px 30px;filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6;}

.design dl.sel{background: url(../images/design_dl_bg_hover.gif) no-repeat;color:#fff;filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;}
.design dl.sel dd{color:#fff;}
.design_center{margin:0 45px;}
.design dl dt{width:300px;font-family:"微软雅黑";font-size:20px;font-weight:bold;border-bottom:#0F6;}
.design dl dd{line-height:20px;padding-top:10px;color:#999; width:280px; text-align:center; margin:0px auto;}

.service_bg{width:1200px;margin:0 auto; top:0px; position:relative;height:290px;z-index:100000;}
.service{width:1200px;margin:0 auto;position:absolute;bottom:20px;left:0px;height:290px;}
.service dl{width:266px;height:290px;float:left;text-align:center; cursor:pointer;}
.service dt{font-family:"微软雅黑";font-size:16px;font-weight:bold;padding-top:200px;padding-bottom:10px;}
.service dd{font-size:12px;color:#999;}
.service01{background:url(../images/service_bg01.gif) no-repeat;margin-right:45px;}
.service01:hover{background:url(../images/service_bg01_hover.gif) no-repeat;color:#2eafbb;}
.service02{background:url(../images/service_bg02.gif) no-repeat;margin-right:45px;}
.service02:hover{background:url(../images/service_bg02_hover.gif) no-repeat;color:#2eafbb;}
.service03{background:url(../images/service_bg03.gif) no-repeat;margin-right:45px;}
.service03:hover{background:url(../images/service_bg03_hover.gif) no-repeat;color:#2eafbb;}
.service04{background:url(../images/service_bg04.gif) no-repeat;margin:0;}
.service04:hover{background:url(../images/service_bg04_hover.gif) no-repeat;color:#2eafbb;}
.service dl.service_hover dd{color:#2eafbb;}

.content{margin-top:40px;}
.content_title{margin-bottom:25px;background:url(../images/content_title_bg.png) repeat-x center center;}
.content_title2{ background-color:#fff; width:207px;}
.content_title3{ background-color:#fff; width:260px;}
.content_title4{ background-color:#f9f9f9; width:268px;}

.title_ch{font-family:"微软雅黑";font-size:20px;font-weight:bold;margin-right:15px;background:none;color:#2eafbb;}
a.title_ch{font-family:"微软雅黑";font-size:20px;font-weight:bold;margin-right:15px;background:none;color:#2eafbb;}
.title_en{font-family: Arial;font-size:20px;color:#aaa;text-transform:uppercase;background:none;}
.cases{padding-bottom:40px;width:1200px;margin:0 auto;}
.cases_dl{width:1200px;margin:0 auto;filter:alpha(opacity=30);-moz-opacity:0.3;opacity:0.3;}
.cases_dl dl{width:380px;float:left;}
.cases_name{font-size:14px;padding-top:15px;}
.cases_int{font-size:12px;padding-top:10px;color:#999;line-height:20px;}
.cases_center{margin:0 30px;}

.news_bg{margin:0 auto;background-color:#f9f9f9;}
.news{width:1200px;margin:0 auto;padding-top:40px; padding-bottom:40px;}
.news_con_left{float:left;width:550px; padding-right:45px; border-right:1px solid #eee;}
.news_con_right{float:left;width:550px; padding-left:45px;}
.news_con_left dl,.news_con_right dl{border-bottom:dashed 1px #d8d8d8;padding:20px 0 10px 0;}
.news_title{font-size:14px;font-weight:bold;}
.news_title a{color:#666;}
.news_title a:hover{color:#2eafbb;text-decoration:underline;}
.news_date{color:#999;font-family:Arial;}
.news_con_left dl dd,.news_con_right dl dd{line-height:20px;margin-top:10px;}
.news_con_left dl dd a,.news_con_right dl dd a{color:#999;}
.news_con_left dl dd a:hover,.news_con_right dl dd a:hover{color:#666;}

.partners{width:1200px;margin:0 auto;padding:40px 0 20px 0px;clear:both;}
.partners_table{margin-top:20px; clear:both; display:none;}
.partners_table li{ float:left; width:150px; text-align:center; height:90px;  }
.partners_table li img{ padding:0px; margin:0px;}

.link{line-height:24px;padding:10px 0;color:#999;}
.link a{color:#999; display:inline-block; white-space:nowrap; padding-right:10px;}
.link a:hover{text-decoration:underline;}

.adipoli-wrapper{margin:auto;position:relative;display:inline-block;}
.adipoli-wrapper>img{position: absolute;z-index:1;}
.adipoli-before{position:absolute;z-index:5;}
.adipoli-after{position:absolute;z-index:10;}
.adipoli-slice{display:block;position:absolute;z-index:15;height:100%;}
.adipoli-box{display:block;position:absolute;z-index:15;}