/*about.html start*/
.about_banner {background:url(../images/about_banner.jpg) no-repeat center top;height:350px;}
.general {
	width:100%;
	margin:0 auto;
	background:#fff;
	padding:40px 0;
}
.general_con {
	width:1200px;
	margin:0 auto;
	text-align:center;
	line-height:24px;	
}
.general_title {
	font-size:34px;
	font-family:"微软雅黑";
	text-align:center;
	margin:0 auto; line-height:40px;	
}
.general_title table {
	margin:0 auto;
	margin-bottom:50px;
}
.general_title table td, .general_title table {
	text-align:center;
}

.general_con_c_le, .general_con_c_ri, .general_con_c_le2, .general_con_c_ri2 {
	width:600px;
}
.general_con_c_ri {
	text-align:left;
}
.general_con_c_ri_title {
	color:#ccc;
	font-size:26px;
	font-family:"微软雅黑";
	margin-bottom:30px;
	font-weight:bold;
}
.general_con_c_ri_word {
	color:#666;
}
.general_con_c_ri_int {
	padding-top:15px;
	color:#999;
	font-size:14px;
	
	font-family:"微软雅黑";
}
.general2 {
	width:100%;
	margin:0 auto;
	background:#f6f6f6;
	padding:40px 0;
}
.general_con_c_le2 {
	text-align:left;
}
.what {
	font-size:26px;
	font-family:"微软雅黑";
	background:#4bcdd9;
	width:200px;
	height:40px;
	color:#fff;
	line-height:40px;
	padding-left:20px;
}
.what_int {
	color:#999;
	font-size:18px;
	font-family:"微软雅黑";
	padding:10px 20px;
}
.what_A {
	width:275px;
}
.what_name {
	padding:10px 0;
}
.what_name_ch {
	font-family:"微软雅黑";
	font-size:18px;
}
.what_name_en {
	font-family: Arial;
	font-size:14px;
	color:#999;
}
.what_B {
	width:180px;
}
.what_C {
	width:200px;
}
.what_D {
	width:275px;
}
.what_con ul li {
	float:left;
	margin-right:30px;
}
.general_con_c_ri_ad {
	font-family:"微软雅黑";
	font-size:14px;
	font-weight:bold;
	color:#666;
	padding-bottom:10px;
	margin-top:10px;
}
.general_con_c_ri_ad span {
	color:#ffba19;
}
.certificate_ul {
	height:220px;
	margin-bottom:20px;
	width:1200px;	
}
.certificate_ul ul
{
	 height:212px;
	 
}
.certificate_ul ul li {
	float:left;
	position:relative;
    height:212px;
	width:280px;
	_display:inline;
	overflow:hidden;
}

.certificate_img {
	margin-right:24px;
}

.jion_mail {
	margin-top:10px;
}
.jion_title {
	border-bottom:solid 1px #eee;
	margin-bottom:10px;
}
.jion_title_en {
	color:#4bcdd9;
	font-family:Impact;
	font-size:20px;
	text-transform:uppercase;
}
.jion_title_ch {
	font-family: "微软雅黑";
	font-size:28px;
	padding:5px 0 8px 0;
}
.skill {
	width:560px;
	height:55px;
	background:#eaeaea;
	padding:10px 20px;
	margin-top:5px;
}
.skill_word {
	font-family:Arial;
	text-transform:uppercase;
}
.skill ul li {
	float:left;
	margin-right:5px;
}
.general_con_c_ri ul li {
	margin-bottom:30px;
}

.box-l{left:-20%;position: absolute;}
.box-r{left:120%;position: absolute;}
.box1{ margin-left:-470px;}
.box2{ margin-left:-560px; width:600px; text-align:left;}
.box3{ margin-left:-500px; width:268px; height:190px; }
.box32{ width:600px; text-align:center;}
.box_parent{position:relative; width:1200px; overflow:hidden; height:235px; }
.box4{ margin-left:-600px; width:600px; text-align:right;}
.box5{ margin-left:190px; padding-top:25px;}
.box_b{ position:absolute; bottom:-205px; left:0px;}
.box6{ width:600px; height:235px; margin-left:-600px; padding-top:30px; }
/*about.html end*/


/*case.html start*/
.case_banner {background:url(../images/case_banner.jpg) no-repeat center top;height:350px;}
.case{width:1200px;margin:0 auto;padding:40px 0;}

.case_class ul{margin-bottom:30px;width:700px;height:36px;}
.search fr{ width:305px; float:right;}
.case_class ul li{float:left;margin-right:10px;font-size:18px;width:100px;height:36px;font-family:"微软雅黑";line-height:36px;text-align:center;}
.case_class ul li a{display:block;border:1px solid #ccc;}
.case_class ul li a:hover,.case_class ul li a.a2{background:#4bcdd9;color:#fff;border:1px solid #4bcdd9;}

.item_list{position:relative;padding:0px; background-color:#fff; width:1200px;  }
.item{ width:280px;background:#fff;margin:0px 20px 20px 0px; padding:0px; border:1px solid #eee;  overflow:hidden;}
.item_hover{border:1px solid #4bcdd9;width:280px;margin:0px 20px 20px 0px;	padding:0px;  overflow:hidden;}
.item dl{padding:0px 0px 0px 0px; margin:0px; width:280px; overflow:hidden;}
.item dt a:hover img{filter:alpha(opacity=80);-khtml-opacity:0.8;opacity:0.8;-webkit-transition:all 0.3s ease-out;-khtml-transition:all 0.3s ease-out;}
.case_name{font-size:14px;margin-top:15px;padding-left:20px;}
.case_name a{ color:#000;}
.case_int{color:#999;line-height:20px;border-top:1px solid #eee;padding:20px;background:#fafafa;} 
.case_int a{color:#999;}
.item_hover .case_int{color:#333;}
.item_hover a:hover{ color:#000;}
.case_tag{text-align:left;margin:10px 0;margin-left:20px;}
.case_tag a{ display:inline-block;background:#666;color:#fff;height:15px;line-height:15px; text-align:center; padding:2px 4px; margin-right:5px;}
.case_tag a:hover{ color:#fff;}

/* to_top */
.to_top a,.to_top a:hover{background:url(../images/gotop.png) no-repeat}
.to_top a{
	background-position:0 0;float:left;height:50px;overflow:hidden;width:50px;position:fixed;bottom:35px;cursor:pointer;right:20px;
	_position:absolute;
	_right:auto;
	_left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft, 10)||0)-(parseInt(this.currentStyle.marginRight, 10)||20));
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||20)-(parseInt(this.currentStyle.marginBottom, 10)||20)));
}
.to_top a:hover{background-position:-51px 0px;}
/*case.html end*/

/*case_detail.html start*/
.case_detail_bg{
	/*border-top:1px solid #f6f6f6;*/
	background: url(../images/yinying.png) repeat-x;
}
.case_detail{
	padding-top:20px;
	width:1200px;
	margin:0 auto;
}
.case_detail_color{ width:100%; float:left; min-height:365px;height:auto!important;height:365px;background:#fafafa;}
.case_detail_le{
	width:900px;
	background:#fff;
	
	min-height:365px;
	height:auto!important;
	height:365px;
	
}
.case_detail_le div{
    width:870px;
    background:#999;
	text-align:center;
	min-height:365px;
	height:auto!important;
	height:365px;
	padding:10px;
	}
.case_detail_le img{
	
	background:#fff;
	
}
.case_detail_ri{
	width:260px;
	padding:40px 0 0 40px;
	
	
}
.case_detail_name{
	font-size:18px;
	font-family:"微软雅黑";
}
.case_detail_date{
	color:#ffb243;
	margin:40px 0 20px 0;
}
.case_detail_rolling{
	margin-top:20px;
}
.case_detail_rolling a{
	display:block;
	background:#eee;
	border:1px solid #d8d8d8;
	width:26px;
	height:26px;
	margin-right:5px;
	text-align:center;
	line-height:26px;
}
.case_detail_rolling a:hover,.case_detail_rolling a.a3{
	background:#4bcdd9;
	border:1px solid #36a8b3;
	color:#fff;
}

.case_detail_info{ width:1200px; overflow:hidden; margin:10px auto; line-height:20px; text-align:left;}

.local{
	color:#666;
	text-align:left;
	
	border-bottom:1px solid #e5e5e5;
	
	padding-bottom:20px;
	margin-bottom:15px;
	padding-left:20px;
	
	background:url(../images/local.png) no-repeat 0px 0px;
	
}
.local span{
	color:#333;
}
.local img{
	padding-right:10px;
}


/*case_detail.html end*/


/*case_detail.html start*/
.service_banner{background:url(../images/service_banner.jpg) no-repeat center top;height:350px;}
.service_project{
	width:1200px;
	margin:0 auto;
	padding:40px 0; 
}
.service_project_dl01{
	margin-right:45px;
	margin-bottom:20px;
}
.service_project_dl dl{
	width:206px;
	height:230px;
	background:#f6f6f6;
	padding:35px 30px 25px 30px;
}
.service_project_dl dl dt{
	text-align:center;
}
.service_project_name{
	font-family:"微软雅黑";
	font-size:20px;
	margin-top:15px;
	font-weight:bold;
}
.service_project_int{
	color:#666;
	margin:5px 0 10px 0;
}
.service_project_word{
	color:#999;
	line-height:20px;
}
.service_scope_sub,.service_cooperation{
	width:100%;
	margin:0 auto;
	background:#fff;
	padding:40px 0;
}
.service_scope_sub_con,.service_cooperation_con{
	width:1200px;
	margin:0 auto;
	text-align:center;
}
.service_scope_sub_con_en{
	font-family:Arial;
	font-size:24px;
	color:#fff;
	background:#4bcdd9;
	line-height:22px;
	height:22px;
	width:430px;
	padding:5px;
	text-transform:uppercase;
	text-align:center;
	margin:0 auto;
}
.service_scope_sub_con_en2{
	font-family:Arial;
	font-size:14px;
	line-height:26px;
	width:980px;
	text-align:center;
	margin:0 auto;
	padding-top:20px;
	color:#666;
}
.service_scope{
	width:100%;
	margin:0 auto;
	background:#f6f6f6;
}
.service_scope_con{
	width:1200px;
	margin:0 auto;
	padding:40px 0;
}
.service_scope_dl01{
	width:362px;
	margin-right:55px;
}
.service_scope_dl01 dt{
	text-align:center;
	padding-bottom:20px;
}
.service_scope_int{
	height:221px;
	background: url(../images/service_scope_bg.png) no-repeat;
	font-family:"微软雅黑";
	font-size:14px;
	font-style:italic;
	line-height:32px;
	padding:50px 39px 0 39px;
}
.service_scope_title{
	margin-top:10px;
}
.service_scope_title_nu{
	font-family:Impact;
	font-size:22px;
	color:#ccc; margin-top:2px;
}
.service_scope_title_ch{
	font-family: "微软雅黑";
	font-size:22px;
	color:#666;
}
.service_scope_title span{ 
    display:block; 
	float:left;
}


.service_cooperation_dl table td{
	padding-bottom:15px;
}
/*case_detail.html end*/


/*mobile.html start*/
.mobile_banner{background:url(../images/mobile_banner.jpg) no-repeat center top;height:350px;}
.mobile_net{
	padding-top:40px;
}
.mobile_ul,.mobile_net_class01{
	width:1200px;
	margin:0 auto;
	padding:40px 0;
}
.mobile_APP{
	width:1200px;
	margin:0 auto;
	padding-top:40px;
}
.general_title_mobile{
	font-family:"微软雅黑";
	font-size:22px;
	color:#666;
}
.mobile_ul ul li{
	width:330px;
	margin-right:105px;
}
.mobile_li_ri{
	width:260px;
}

.mobile_li_title{
	font-size:18px;
	font-family:"微软雅黑";
	line-height:30px;
	font-weight:bold;
	margin-bottom:10px;
}
.mobile_li_con{
	font-size:12px;
	line-height:24px;
}
.mobile_net_class01_bg,.mobile_net_class02_bg{
	padding-top:15px;
}

.mobile_net_class01_bg{
	width:100%;
	margin:0 auto;
	background:#f6f6f6;
}
.mobile_net_class_le,.mobile_net_class_ri,.mobile_APP_le,.mobile_APP_ri{
	width:600px;
	margin:0 auto;
}
.mobile_net_class_le img{
	padding-left:180px;
}


.mobile_net_class_ri_title{
	width:400px;
}
.mobile_net_class_ri_title_ri{
	margin-left:10px;
}
.mobile_net_class_ri_title_ri_top{
	font-family:"微软雅黑";
	font-size:22px;
	margin-top:5px;
}
.mobile_net_class_ri_title_ri_bot{
	font-family:"微软雅黑";
	font-size:26px;
	color:#4bcdd9;
	font-weight:bold;
	margin-top:5px;
}
.mobile_net_class_ri_con_title{
	margin:20px 0 10px 0;
	font-family:"微软雅黑";
	font-size:18px;
}
.mobile_net_class_ri_con_int{
	font-size:14px;
	line-height:28px;
}
.mobile_net_class02_bg{
	width:100%;
	margin:0 auto;
	background:#fff;
}

.mobile_APP_le_title{
	color:#4bcdd9;
	font-family:"微软雅黑";
	font-size:30px;
}
.mobile_APP_le_int{
	font-size:18px;
	font-family:"微软雅黑";
	padding-top:20px;
	line-height:36px;
}
.mobile_APP_ri img{
	padding-left:150px;
}
.mobile_APP_le_bo{
	color:#81baf8;
	padding-top:20px;
}
.mobile_APP_le_bo span{
	padding-right:20px;
}
/*mobile.html end*/


/*solution.html start*/
.solution_banner{background:url(../images/solution_banner.jpg) no-repeat center top;height:350px;}

.solution_li{
	width:100%;
	margin:0 auto;
	background:#fff;
}
.solution_li2{
	width:100%;
	margin:0 auto;
	background:#f6f6f6;
	
}
.solution_li_con,.solution_li2_con{
	width:1200px;
	overflow:hidden;
	min-height:200px;
	margin:0 auto;
	padding:70px 0;
}
.solution_img{
	width:600px;
	margin:0 auto;
	text-align:center;
	overflow:hidden;
}
.solution_content{width:1200px; overflow:hidden; margin:0px auto; position:relative;}
.solution_con{
	width:600px;
	margin:0 auto;
	margin-top:20px;
	overflow:hidden;
}
.solution_img img{
	text-align:center;
	margin:0 auto;
}
.solution_title{
	color:#4bcdd9;
	font-size:26px;
	font-family:"微软雅黑";
	font-weight:bold;
}
.solution_int{
	font-size:14px;
	font-family:"微软雅黑";
	line-height:28px;
	margin-top:20px;
}
.read_more{
	font-size:16px;
	font-family: Arial;
	margin-top:30px;
}
.read_more a{
	color:#ffba19;
}
.read_more a:hover{
	text-decoration: underline;
}

.box-l2{left:50%;top:300px;position: absolute;}
.box-r2{left:50%;top:-300px;position: absolute;}
/*solution.html end*/
/*solution.html start*/
.solution_detail_word{text-align:center;margin:10px 0;}
.solution_detail_title_en{text-align:center;font-family:Arial;padding:5px;font-size:22px;background:#4bcdda;width:300px;margin:0 auto;color:#fff;}
.solution_detail_con{width:1200px;margin:0 auto;margin-top:50px;}
.solution_detail_con_title{font-size:24px;color:#4bcdda;font-family:"微软雅黑";font-weight:bold;}
.solution_detail_con_int{margin:10px 0;line-height:24px;}

.solution_detail_class {width:1200px;margin:0 auto;margin-top:50px;margin-bottom:20px;text-align:center;font-family:"微软雅黑";vertical-align:bottom;}
.solutions_content{ width:1200px; margin:40px auto;}
.solution_detail_class ul li{margin-bottom:10px; float:left; margin-right:10px;}
.solution_detail_class ul li a{ padding:6px; display:block;border:1px solid #ccc;}
.solutions_title{ font-size:24px; font-weight:bold; padding-bottom:20px; text-align:center; line-height:50px;}
.solutions_detail{ line-height:22px;}
/*solution.html end*/

/*news.html start*/
.news_banner{background:url(../images/news_banner.jpg) no-repeat center top;height:350px;}
.news{
	width:100%;
	margin:0 auto;
	background:#fff;
	padding:20px 0;
}
.news2{
	width:100%;
	margin:0 auto;
	background:#f6f6f6;
	padding:40px 0;
}

.news_con{
	width:1200px;
	margin:0 auto;
}
.news_con_int{
	padding-bottom:20px;
	
}
.news_con_int1{
	padding-bottom:20px;
	border-bottom: 1px dashed #d8d8d8;
    margin-top:20px;
    float:left;
}
.news_title1{
    font-family:"微软雅黑";
	font-weight:bold;
	font-size:18px;
	padding-bottom:10px;
}
.news_word1{
    font-size:14px;
	line-height:25px;
	padding-bottom:10px;
}
.news_left{width:260px; margin-right:20px;float:left;padding-top:5px;}
.news_right{float:left;}
.news_title{
	font-family:"微软雅黑";
	font-size:22px;
	margin-bottom:20px;
}
.news_word{
	font-size:14px;
	margin-bottom:20px;
	line-height:28px;
}
.news_add{
	margin-bottom:20px;
}
.news_add span{
	color:#4bcdd9;
}
.news_read_more{
	margin-bottom:20px;
}
.news_class{
	width:1200px;
	margin:0 auto;
	font-family:Arial;
	text-align:center;
	line-height:35px;
	font-size:16px;
}
.news_class a{
	color:#fff;
	background:#4bcdd9;
	width:130px;
	height:35px;
	display:block;
	float:right;
}
.news_class a:hover{
	background:#333;
}
/*news.html end*/
/*news_detail.html start*/
.news_title_add{
	color:#999;
	margin-bottom:20px;
}
.news_title_add a{
	color:#999;
}
.news_title_add a:hover{
	text-decoration:underline;
}
.news_bg_01{
	border-top:1px solid #eee;
	margin:0 auto;
}
.news_01{
	width:1200px;
	margin:0 auto;
	padding-top:30px;
	padding-bottom:40px; 
}
.news_con_01 dl{
	width:550px;	
	border-bottom:dashed 1px #d8d8d8;
	padding:20px 0 10px 0;	
}
.news_con_left{ border-right:1px solid #eee;padding-right:45px; float:left;}
.news_con_right{padding-left:45px; float:left; }
.news_con_01 dd
{
	line-height:20px;
	margin-top:10px;
}
.news_title_01{
	font-size:14px;
	font-weight:bold;
}
.news_date_01{
	color:#999;
	font-family:Arial;
}

/*news_detail.html end*/

/*contact.html start*/
.contact_banner {background:url(../images/contact_banner.jpg) no-repeat center top;height:350px;}
.contact{padding:40px 0px 0px 0px;font-family:"微软雅黑";}
.contact_type{width:1200px;margin:0 auto;overflow:hidden;}
.contact_type_ul{width:1300px;margin:0 auto;padding:40px 0;}
.contact_type_ul ul li{width:305px;height:360px;text-align:center;float:left;}
.contact_type_ad{background:url(../images/contact_item_bg.gif) no-repeat 0px 0px;}
.contact_type_tel{background:url(../images/contact_item_bg.gif) no-repeat -450px 0px;margin:0 143px;_display:inline;}
.contact_type_mail{background:url(../images/contact_item_bg.gif) no-repeat -899px 0px;}
.contact_type_ad_title{padding-top:140px;font-size:16px;font-weight:bold;padding-bottom:20px;}
.contact_type_ad_int{line-height:24px;font-size:14px;}
.contact_type_ad_button{width:95px;height:35px;background:#333;margin:0 auto;display:block;color:#fff;text-align:center;line-height:35px;font-size:14px;font-family:Arial;margin-top:20px;}
.contact_arrive{width:1200px;margin:0 auto;padding:40px 0;border-top:1px dotted #ccc;}
.contact_arrive h2{height:42px;line-height:42px;font-size:18px;color:#333;font-weight:normal;}
.contact_arrive_left{width:650px;float:left;}
.contact_arrive_left dt{font-size:14px;color:#333;height:24px;line-height:24px;margin:13px 0px;padding-left:24px;font-family:"微软雅黑";}
.contact_arrive_left .bus dt{ background:url(../images/contact_icon_bg.gif) no-repeat 0px 5px;}
.contact_arrive_left .car dt{ background:url(../images/contact_icon_bg.gif) no-repeat 0px -24px;}
.contact_arrive_left .train dt{ background:url(../images/contact_icon_bg.gif) no-repeat 0px -53px;}
.contact_arrive_left dd{font-size:14px;color:#666666;line-height:24px;}
.contact_arrive_right{ float:left;padding-left:30px;}
.contact_table table{ border-collapse:collapse; padding:0px; margin:0px;}
.contact_table td{ padding:9px 0px;}
.contact_table input{width:230px;height:36px;line-height:36px;border:1px solid #dddddd; font-size:12px;color:#999999;  margin-right:7px; padding:0px 6px;}
.contact_table textarea{width:420px; height:120px;border:1px solid #dddddd; font-size:12px;color:#999999; padding:5px; line-height:24px;}
.contact_table .btn_submit{ border:none;background:url(../images/contact_icon_bg.gif) no-repeat 0px -88px;width:133px;height:36px; cursor:pointer;}
/*contact.html end*/

/* webdesign begin */
.webdesign1{ background:url(../images/webdesign1.jpg) no-repeat center top; height:478px; width:100%;}
.webdesign2{ background:url(../images/webdesign2.jpg) no-repeat center top; height:501px; width:100%;}
.webdesign3{ background:url(../images/webdesign3.jpg) no-repeat center top; height:500px; width:100%;}
.webdesign4{ background:url(../images/webdesign4.jpg) no-repeat center top; height:500px; width:100%;}
.webdesign5{ background:url(../images/webdesign5.jpg) no-repeat center top; height:500px; width:100%;}
.webdesign6{ background:url(../images/webdesign6.jpg) no-repeat center top; height:500px; width:100%;}
.webdesign7{ background:url(../images/webdesign7.jpg) no-repeat center top; height:500px; width:100%;}
/* webdesign end */