*{margin: 0;padding-top: 0;}
li{list-style: none;}
a{text-decoration: none; color: #000;}
img{border: 0;}
body{font-size: 12px;
	font-family: "Microsoft YaHei, Arial" }

/*--banner---------------------------------------------------------------------*/
.bannerContent{
	width: 960px;
	margin: 0 auto;
}
.bannerContainer{
	background: #4BCED0;
}


/*--breadcrum---------------------------------------------------------------------*/
.breadcrumbCon{
	width: 960px;
	margin: 0 auto;
	padding: 10px 0;
}
.breadcrumbCon p i{
	display: inline-block;
	position: relative;
	top: 2px;
	width: 20px;
	height: 18px;
	margin:0 15px 0 20px ;
	background: url(../images/home.png) no-repeat;
}
.breadcrumbCon  p{
	font-size: 14px;
	color: #000;
}
.breadcrumbCon  p a{
	
}
.breadcrumbCon  p a:hover{
	text-decoration: underline;
	color: #BF4847;
}
.breadcrumbCon  p a:active{
	text-decoration: underline;
	color: #BF4847;
}
.breadcrumbCon p span{

	margin: 0 10px;
}

.mainNewlist-container{
	background: url(../images/mainNewlistback.jpg) repeat-x;
	background-color: #F6F6F6;

}
.mainNewtab{
	width: 958px;
	border: 1px solid #DEDEDE;
}

/*.mainNewtab ul li a:hover{
	color: #BA3635;
}*/

.mainNewtab ul li a.mainNew-light{
	color: #fff;
}

.mainNewtab ul li a.mainNew-light:hover{
	color:#fff;
}

/*--projectSelect---------------------------------------------------------------------*/
.projectSelect{
	width: 960px;
	margin: 0 auto;
	background:#fff;
}

.creditorSelect{
	display: none;
	width: 960px;
	margin: auto;
	background-color: #fff;
}

/*--selecttoggle---------------------------------------------------------------------*/
.projectSelect-tog,.creditorSelect-tog{
	position: relative;
	height: 48px;
	border: 1px solid #DEDEDE;
	border-top: none;
	z-index: 0;
}
.projectSelect-tog span,.creditorSelect-tog span{
	font-size: 14px;
	line-height: 48px;
	margin-left: 22px;
	color: #000;
}
.projectSelect-toggle,.creditorSelect-toggle{
	display: block;
	position: absolute;
	top:8px;
	right:10px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.toggleUparrow{
	background-image: url(../images/toggleArrowup.png);
}

.toggleDownarrow{
		background-image: url(../images/toggleArrowdown.png);
}

/*--selectitem---------------------------------------------------------------------*/
.projectSelect-con,.creditorSelect-con{
	border: 1px solid #DEDEDE;
	border-top: none;
	padding:20px 20px 30px 20px; 
}


.projectSelect-con ul,.creditorSelect-con ul{
	padding: 6px 0;
	overflow: hidden;
	_width:780px;
}
.projectSelect-con ul li,.creditorSelect-con ul li {
	float: left;
	margin-right: 28px;
	width:95px;
	text-align: left;

}

.projectSelect-con ul li.proSeltate-p,.creditorSelect-con ul li.proSeltate-p{
	float: left;
	font-size: 14px;
	width: 80px;
}

.projectSelect-con ul li span,.creditorSelect-con ul li span{
	font-size: 13px;
	padding:1px 6px;
	cursor:pointer;

}

.proSelitem-unselected:hover,.creSelitem-unselected:hover{
	border: 1px solid #eaeaea;
	border-radius: 4px;
	background-color:#eaeaea;
	color: #BA3635; 
}

.proSelitem-unselected,.creSelitem-unselected{

	border: none;
	background-color: #fff;
}

.proSelitem-selected,.creSelitem-selected{
	
	border: 1px solid #BA3935;
	border-radius: 4px;
	background-color:#BA3935; 
}

.proSelitem-unselected,.creSelitem-unselected,.proSelitem-unselected a,.creSelitem-unselected a{
	color: #000;
}

.proSelitem-selected,.creSelitem-selected,.proSelitem-selected a,.creSelitem-selected a{
	color: #fff;		
}

.proSelected,.creSelected{
	height: 24px;
	position: relative;
}
/*.proSelected em,.proSelected span,.creSelected em,.creSelected span{
	font-size: 13px;
	line-height: 24px;
}*/
.proSelected em,.creSelected em{
	margin: 0 10px 0 0;
}
.proSelected span b,.creSelected span b{
	font-weight: normal;
}

.proSelected span,.creSelected span{
	display: none;

	border: 1px solid #BA3937;
	position: relative;
	padding:3px 0 2px 8px;
	margin: 0 3px;
	_height: 20px;
}
.proSelected span i,.creSelected span i{
	display: inline-block;
	position: relative;
	top: 3px;
	width: 17px;
	height: 17px;
	background-image: url(../images/selectedClsoe.png);
	cursor: pointer;
}

.projectReset,.crejectReset{
	position: relative;
	top: 6px;
	display: inline-block;
	width: 77px;
	height: 24px;
	background: url(../images/projectReset.png) no-repeat;
	cursor: pointer;
}

/*--selectitemlist---------------------------------------------------------------------*/
.projectSelect-list{
	width: 958px;
	padding: 26px 0;
	border:1px solid #DEDEDE;
	border-top:none;
	z-index: 0;
}
.projectSelect-list i{
	display: inline-block;
	position: relative;
	top: 2px;
	margin:0 16px;
	width: 25px;
	height: 23px;
	background: url(../images/iconB.png) no-repeat -40px 0;
}
.projectSelect-list span{
	font-size: 18px;
}
.mainNewwait{
	border-bottom:1px solid #DEDEDE;
}

/*--unexitproject---------------------------------------------------------------------*/
.projectUnexist{
	display: none;
	width: 960px;
	text-align: center;
	padding: 16px 0;
	border:1px solid #DEDEDE;
	border-top: none;
}
.projectUnexist span{
	color: #888;
	font-size: 14px;
}

.projectUnexist i{
	display: inline-block;
	position: relative;
	top: 2px;
	width: 18px;
	height: 18px;
	margin-right: 10px;
	background-image: url(../images/projectUnexistico.png);
}

/*--tab-1---------------------------------------------------------------------------------------*/
.proListwait{
	overflow: hidden;

}

.proList-con{
	position: relative;
	background-color: #fff;
	border:1px solid #DEDEDE;
	border-top: none;
	overflow: hidden;
}

.proList-lef {
	position: relative;
	float: left;
	width: 674px;
	padding: 20px 0 20px 30px;
	overflow: hidden;
}
.proTabimg{
	display: block;
	float: left;
	width: 137px;
	height:103px;
	padding-top: 5px;
	margin-right: 16px;
}
.proListtable{
	width: 520px;
	float: left;
	overflow: hidden;
}

.proListtable th{
	font-size: 18px;

}

.proListtable tr th,.creListtable tr th,.creListtable-preview tr th{
 	width: 470px;
 	font-size: 18px;
}
.proListtable tr td,.creListtable tr td,.creListtable-preview tr td{
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	padding-top: 8px;
}

.proListtable{
	display: block;
	margin:0 auto;
}

.tabList tr td.tab-tit{
	width: 65px;
	padding-left: 5px;
	color: #717171;
}
.tabList tr td.tab-cont,.tab-cont a{
	color: #ba3938;
}
.tab-cont a:hover{
	text-decoration: underline;
}
.tab-cont a:active{
	text-decoration: underline;
}
.tabList tr td.tabLar-cont{
	font-size: 25px;
	color: #ba3938;
}

.progress{
	position: relative;
	bottom: 7px;
	width: 90%;
}
.progress-bar{
	background-color:#ffae00;
}

.proList-rig{
	float: left;
	width: 253px;
	height: 147px;
	border-left:1px solid #ccc;
	padding:40px 0 20px 0;
	text-align: center;
}
.proList-rig a{
	display: block;
	width: 186px;
	height: 57px;
	font-size: 26px;
	text-align: center;
	margin-bottom:24px;
	line-height: 57px;
	color:#fff;
}
.proList-rig a.proListedlink{
	background-color: #A5A5A5;
	margin-top: 20px;
	margin-left: 30px;
}
.proList-rig a.proListedlink:link{
	background-color: #A5A5A5;
}
.proList-rig a.proListedlink:visited{
	background-color: #A5A5A5;
}
.proList-rig a.proListedlink:hover{
	background-color: #8F8F8F;
}
.proList-rig a.proListedlink:active{
	background-color: #8F8F8F;
}

.proList-rig a.proListinglink{
	background: #BA3635;	
	margin-left: 30px;
}
.proList-rig a.proListinglink:link{
	background-color: #BA3635;
}
.proList-rig a.proListinglink:visited{
	background-color: #BA3635;
}
.proList-rig a.proListinglink:hover{
	background-color: #912B2A;
}
.proList-rig a.proListinglink:active{
	background-color: #912B2A;
}

.downArrow-cre,.upArrow-cre{
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-left:4px; 
}
.downArrow-cre{background: url(../images/iconGa.png) no-repeat -125px -290px;}
.upArrow-cre{background: url(../images/iconGa.png) no-repeat -137px -290px;}

/*
.proListed-con div.proList-rig a{
	background-color: #A5A5A5;
	margin-top: 20px;
}

.proListed-con div.proList-lef table{
	margin: 0 68px;
}*/

.proList-rig p,.proList-rig p span{
	font-size: 14px;
}
.proList-rig p{
	color: #717171;
	padding-left:22px;
	margin-bottom: 4px;
}
.proList-rig p span{
	color: #BA3635;
}
.backImg-financing,.backImg-full,.backImg-newer,.backImg-clear{
	display: block;
	position: absolute;
}
.backImg-financing{
	top: 0;
	right: -7px;
	width: 116px;
	height:  124px;
	background: url(../images/iconGa.png) no-repeat -294px 0;
}

.backImg-full,.backImg-clear{
	top: 24px;
	left: 450px;
	width:124px; 
	height:124px;
}
.backImg-full{
	background: url(../images/iconGa.png) no-repeat 0 -248px;
}

.backImg-clear{
	background: url(../images/iconGa.png) no-repeat 0 -372px;
}

.backImg-newer{
	top: 0;
	right: 0;
	width: 116px;
	height:  124px;
	background: url(../images/icon-new.png) no-repeat;
}

 /*--tab-4---------------------------------------------------------------------------------*/
 .tab-4{
 	display: none;
 }
.creListwait{
	overflow: hidden;
	position: relative;
	z-index: 10;
}

 .creList-item{
 	position: relative;
 	z-index: 9;
 	width: 958px;
 	margin: 0 auto;
 	border:1px solid #D2D2D2;
 	border-top: none;
 	background: #fff;
 }
.creTab-con{
	padding: 18px 20px;
	overflow: hidden;
}

.creListtable{
	float:left;
	width: 710px;
}

.creListbutton a{
	display: block;
	font-size: 26px;
	line-height: 56px;
	width: 185px;
	text-align: center;
	color: #fff;
}

.undertake{
	background-color: #BA3938;
}

.undertaking{
	background-color: #A5A5A5;
}

.creListbutton{
	float: left;
	margin-top: 13px;
}



 .creTabpreview-con{
	display: none;
 	position: absolute;
 	top: -120px;
 	left: 25px;
 	z-index: 99;
 	width: 883px;
 	height: 104px;
 	padding-top: 14px;
 	padding-left: 22px;
 	border:1px solid #D2D2D2; 
  	background-color: #ffd;	
 }
.creTabpreview-con i{
	display: block;
	position: absolute;
	top: 116px;
	_top:124px;
	left: 515px;
	z-index: 11;
	width: 17px;
	height: 14px;
	background:url(../images/preBottom.png) no-repeat 0 0;
}

 .crePro-show {
 	position: absolute;
 	left: 580px;
 	width: 90px;
 	padding: 3px 12px;
 	font-size: 14px;
 	border-radius: 6px;
 	cursor: pointer;
	
}

.crePro-gery{
	background-color:#DEDEDE;
	color: #7A7A7A;
}

.crePro-gery i{ 	
	background: url(../images/eyes.png) no-repeat 0 0;
}

.crePro-red{
	background-color: #BA3938;
	color: #fff;
}

.crePro-red i{
	background: url(../images/eyes.png) no-repeat -18px 0;
}

.crePro-hide{
	background-color:#BA3938;

}
 .crePro-show i{
 	display: inline-block;
	width: 18px;
 	height: 13px;
 	margin-right: 6px;
 	*position: relative;
 	*top: -3px;
 	_top: 4px;
 
 }

 .crePro-hide i{
 	background: url(../images/eyes.png) no-repeat -18px 0;
 }

 .pageList{
 	float: right;
 }

/*--tab4分页------------------------------------------------------------------------*/
.pageList{
	margin: 30px 0;
}
.pageList a:hover{
	background: #E4E4E4;
}

.pageList a span{
	display: inline-block;
	padding:0 10px;
	line-height: 28px;
	font-size: 14px;
	text-align: center;
	color: #717171;
}
.pageList a.currentPage{
	background-color: #BA3938;
}

.pageList a.currentPage span{
	color: #fff;
}

.pageHide{
	display: none;
}

.page-first,.page-prev,.page-next,.page-last{
	background: #EDEDED;
}

.page-prev,.page-next{
	margin: 0 6px\9;
}


/*----nav鼠标悬浮bug----*/
.mainNew-fir{
	padding:0 12px 10px 12px;
}

/*----分页新样式-------- */
.listdataNew{
	margin: 0;
	padding:55px 0 30px 0;
}

/*----项目列表开始时间--------------------------------------------------*/
/*.proStartime{
	width: 186px;
	margin-bottom: 20px;
}

.proStartime p{
	font-size: 12px;
}

.proStartime p.proStartime-tit{
	padding-left: 58px;
}

.shadowBox{
	height: 20px;
	padding:0 5px;
	color: #BB3634;
	border:1px solid #DFDFDF;
	line-height: 20px;
	font-size: 14px;
	border-radius: 6px;
	box-shadow:2px 2px 3px #aaaaaa;
}*/

/*----项目列表倒计时部分-------------------------------------------------------------------------*/
.time-item,.invest_time{
	padding-left: 16px;
	text-align: center;
}
.invest_time{
	margin-bottom: -5px;
}
.time-item,.invest_time{
	position: relative;
	top: -20px;
}
.time-item{
	display: none;
}

.rigList-head{
	height: 50px;
	line-height: 50px;
	text-align: center;
	color:#BB3634;
	margin-top: -25px;
	font-size: 14px;
	padding-left: 15px;

}

.rigList-time{
	padding: 10px 20px 0 20px;
	border-top:1px solid #DFDFDF;
}

.rigList-time span{
	display: block;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
}

.rigList-time strong{
	padding: 0 5px;
	margin-right: 5px;
	background:#fff;
	color: #ba3635;
	line-height: 29px;
	font-size: 14px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.rigList-info{
	font-size: 14px;
	color: #717171;
	text-align: center;
	line-height: 24px;
	margin-top: 5px;
}
/*----tab切换active*/
.mainNewtab ul li{
	padding:0;
}
.mainNewtab ul li a{
	display: block;
	padding:0 24px;
}
.mainNewtab ul li.hideSerch a:link{
	color: #333;
}
.mainNewtab ul li.hideSerch a:visited{
	color: #333;
}
.mainNewtab ul li.hideSerch a:hover{
	color: #fff;
	background: #BA3635;
}

.mainNewtab ul li.hideSerch a:active{
	color: #fff;
	background: #BA3635;
}
.mainNewtab ul li.mainNew-light a{
	color: #fff;
	background: #BA3635;

}

