/*main*/
@charset "utf-8";

/* CSS Document */
body {font:12px Arial,"Microsoft YaHei","SimHei";color: #4c5154;}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,em,button,.top,dl,dd{margin:0;padding:0;font-family:Microsoft YaHei, Arial;}
ul li { list-style-type: none; }
ol,ul{list-style:none;}
em{font-style:normal;}
a{ text-decoration:none; color:#747474 }
img{ border:0; vertical-align:middle }
.warp{ margin:0 auto; width:960px;}
.header{ min-height:130px;}
.header a{ font-family:"Microsoft YaHei";font-weight:bold;}
.clr{clear:both;}
body.modal-open {overflow-y: scroll;margin: 0;}
.backgroundDiv{background-color: #eaebec; padding: 5% 0 5% 0;}
.bx-wrapper li{cursor:pointer}
.chargemoney{font-size:18px}
/*辅助菜单*/
.qbwx{display:block;width: 200px;margin:0 auto;font-size: 18px;font-weight:bold;margin-top: 15px}
.phone2{background:url(../images/ico_tel.png) no-repeat;width:22px;height: 19px;float:left;margin-top: 5px;}
.cimg{float: right;margin-top:-20px;margin-right: 10px;cursor: pointer}
ul, li{margin: 0; padding: 0;}
a .full{color:#ffffff;}     
a{color: #333;text-decoration: none;}
a:hover{text-decoration:none;}
.pic-customer-service {margin-top: 10px;display: block;width: 60px;height: 60px;}	

/*辅助菜单*/
.top_nav{ background:#ededed; min-height:40px;line-height: 40px;}
.top_nav a,.top_nav span{color:#48484a; font-family:"Microsoft YaHei";font-weight:bold;}
.top_nav .contact{float:left;margin:10px 0 0 0;width:60%}
.top_nav .contact li{margin:0 30px 0 0; float:left;height: 22px;line-height: 22px;}
.top_nav .contact li a{display: inline-block;float:left;margin:0 5px 0 0;white-space:nowrap; }
.phone-ico{background:url(../images/ico_tel.png) no-repeat; width: 22px;height:19px; }
.qq-ico{background:url(../images/subqq.png) no-repeat; width: 22px;height:19px; }
.wb_b {display: block;font-size: 14px;margin-left: 55px;margin-top: 5px;}
.top_nav .sub{float:right;color:#9aa1ac;}
.top_nav{position: relative;}
.sub p{ float:right; }
.sub a{ margin-left:30px; float:left;font-family:"Microsoft YaHei"}
.sub a.qq,.sub a.weixin,.sub a.weibo{ background:url(../images/sub.png) no-repeat; width:20px; height:25px; display:block; float:left; margin-top:5px; margin-left:20px;}
.sub a.weixin{ background-position:0 0px; width:25px;}
.sub a.weibo{background-position:0 -25px; width:25px;margin-left: 15px;}
#f_rgt{float:right;width:740px;overflow:hidden;margin-top:-26px;height:30px;}
.top{}
.logo{width:20%;max-width:180px;  float:left; margin:15px 22px 0 10px;}
.logo a{background:url(../images/logo.png) no-repeat;background-size:90% auto; height:58px; display:block;}
/*倒计时*/
.djs{font-size:14px;font-family:'Microsoft YaHei';color:#4c5154;}
.time-item strong,.invest_time strong{background:#fff;color:#BA3635;line-height:29px;font-size:14px;font-family:"Microsoft YaHei";padding:0 5px;margin-right:5px;border-radius:5px;box-shadow:1px 1px 3px rgba(0,0,0,0.2);}
#day_show{background:#fff;font-weight:bold;line-height:49px;color:#BA3635;font-size:18px;font-family:"Microsoft YaHei";padding:0 5px;margin-right:5px;border-radius:5px;box-shadow:1px 1px 3px rgba(0,0,0,0.2);font-style:strong;}
.tborrow{font-size:18px;margin-top:10px;}
.tborrow .djs{font-size:16px}
/*面包屑*/
.breadcrumbContainer {background:#545454;}
.breadcrumb{background:#545454;height:80px;*height: 50px;padding-top: 20px;line-height: 50px;padding-left: 0px;*padding-left: 30px;}
.breadcrumb a{color: #FFFFFF;font-size: 13px;font-family:"Microsoft YaHei";font-weight: bold; }
.breadcrumb li{float: left;}
.breadcrumb li:last-child a{color: #98a0ac;}
/*合作伙伴*/
.cooperation{height:151px;margin-bottom:20px }
.partner{ height:151px; padding-top:2px;text-align: left;}
.partner span{font-weight: bold;font-size: 18px;color: #000000;}
.partenerlist{background:url(../images/cooperation.gif) no-repeat; height:31px;margin-left:16px; }
.partenerlist a{ margin-right:20px;width:98px; height:33px; display:block; float:left}
#demo {overflow:hidden;width:960px;height:61px;margin-top:20px}
#indemo {float: left;width: 800%; }
#demo1 {float: left;}
#demo2 {float: left;}
#indemo a{ margin-right:20px; height:31px; }
/*友情链接*/
#yl{float:left;font-size:15px;color:#98a0ac;font-family: "Microsoft YaHei";margin-top:22px;display:block;}
#scrolllayer {float:left;overflow:hidden;height:18px;width:850px; display:block; margin-top:3px;margin-top: 22px;}
#scrollmessage {float:left;text-align:left;width:100%;font-size:15px;font-family: "Microsoft YaHei";}
#scrollmessage ul {list-style:none; padding:0; margin:0;}
#scrollmessage li {line-height:18px;height:18px;color:#FF0000;width:850px;overflow: hidden;}
#scrollmessage li a{color:#868686; text-decoration:none;margin-left:30px;}
.video{height: :640px;text-align: center;padding:50px 0 0;font-family:"Microsoft YaHei";background:#fff}
.video #swfvideo{border: 10px solid #07141e;+height:400px;}
.video .video-content{width:570px;margin:0 auto;min-height: 400px;+min-height: 360px; display: none; position: relative;}
.video .video-close{ background:#EDEDED;font-size:18px; position: absolute;padding:1px 5px;display: none;right:10px;top:10px; }
.video .video-close:hover{color:#747474;}
.video .video-close:focus{color:#747474;}
.video .video-title{margin: 10px auto 20px auto; text-align: center;font-size:16px;font-style:bold; text-indent: 10px;}
.video .video-control{position:relative;width:860px;margin: 0 auto;}
.jcarousel-wrapper {margin: 0 auto; position: relative;background:#fff;padding-bottom:20px;}
/** 视频列表 **/
.jcarousel { position: relative;overflow: hidden;width: 100%;height: 140px;}
.jcarousel ul { width: 20000em;position: relative;list-style: none;margin: 0; padding: 0;}
.jcarousel li {float: left;margin: 0 0 0 11px;padding:0;}
.jcarousel li img{border: 5px solid #be3c3b;}
.jcarousel li p{text-align: left;margin:0 0 0 5px;text-align:center;margin-top:5px;}
.jcarousel li img:hover{border: 5px solid #be3c3b;cursor: pointer;}
.jcarousel-control-prev,.jcarousel-control-next {width:33px;height:80px;background: #FFFFFF;position:absolute;top:0;display: block; }
.jcarousel-control-prev {left: -50px;background:url(../images/icon-video-prev.png) no-repeat;}
.jcarousel-control-next { right: -50px;background:url(../images/icon-video-next.png) no-repeat;}
.jcarousel-control-prev:hover span,.jcarousel-control-next:hover span { display: block;}
.jcarousel-wrapper .prev-active{background:url(../images/icon-video-active-prev.png) no-repeat;}
.jcarousel-wrapper .next-active{background:url(../images/icon-video-active-next.png) no-repeat;}
/*页尾*/
.footerwa{ height:254px; background:#353d48; color:#78808b}
.footer{ background:url(../images/logo-foo.png) no-repeat 0 47px; height:198px; padding-top:47px;}
.footer a{ color:#78808b}
.fooleft{ margin-left:176px; width:214px; float:left; border-right:1px solid #464745; margin-right:24px;height:150px; display:inline}
.wei{ margin-left:-28px; }
.phone p{font-size:24px;font-weight:bold;}
.phone{margin-bottom:18px;}
.wei li{ float:left; margin-left:28px;*margin-left:0px; width:78px; font-weight:bold; text-align:center; display:inline;*margin-right:28px; }
.wei li img{ margin-bottom:4px;}
/*版权右侧*/
.fooright{ width:543px; margin-top:30px; float:left;}
.subnav{ margin-bottom:20px;font-weight:bold; overflow:hidden; height:100%} 
.subnav a{  float:left;font-size:14px;}
.subnav span{ margin:0 30px;font-weight:bold; background:#a4a3a3; width:2px; height:12px; display:block; float:left; margin-top:3px;}
.fooli{ line-height:22px;}.fooli li span{ margin:0 14px}
.policewrap{  height:28px; margin-top:10px}
.policewrap a{ margin-right:14px; width:74px; height:27px; display:block; float:left;}
.policewrap a.poli_3{ background:url(../images/footright01.png) no-repeat; width:75px;}
.policewrap a.poli_4{ background:url(../images/footright02.png) no-repeat;width:75px}
/*分页*/
.paging{ height:40px; margin:65px auto 110px ; text-align:center; line-height:38px; color:#9d9d9d; width:960px;}
.paging a{ display:block; border:1px solid #dfdfdf; padding:0px 16px; height:38px; line-height:38px; float:left; margin:0 2px}
.paging a:hover,.paging a.hoverpag{ background:#ba3635; color:#fff; border:1px solid #ba3635; }
.paging span{ float:left; margin-left:20px;}
.paging span.current{border:1px solid #ba3635; background:#ba3635; color:#FFF; display:block; padding:0px 16px; height:38px; line-height:38px; float:left; margin:0 5px}
.paging em{ float:left;}
.patex{ width:41px; height:18px; border:1px solid #dfdfdf; padding:0 2px; margin:0 4px; font-family:Arial;}
.lableone{background: none repeat scroll 0% 0% rgb(0, 0, 0); opacity: 0.3; position: fixed; top: 0px; left: 0px; z-index: 1001; 
width: 100%; height:100%;filter:Alpha(opacity=50);}
/*main*/
.zi{ border:0 none; margin-bottom:0px}
#slid{height:480px;}
/*广告*/
.banner{ position: relative;z-index: 1}
.banner .notice{overflow:hidden;position:absolute;top:0;left:20%;height:40px;line-height:40px; font-size:13px;background: #ffe186; text-indent: 1em; width:60%;color:#9e713e;z-index: 100;}
.banner .notice-content{float:left;}
.banner a.notice-close {float:right; display: block;margin:0 10px;font-size:20px;}
.banner .notice b{margin:0 5px 0 0;}
.banner .notice span{text-align: right;}
.banner .notice-2{+margin:-3px;font-family:"Microsoft YaHei";color:#fff;font-size:24px;background: #353d48;height:60px;line-height:60px;text-align: center;}
.closepng{margin-left:270px;margin-top:10px;position: absolute;z-index:5000;cursor: pointer; }
.top_gg{height:30px;background:#27b5d7;color:#fff;font-weight:bold}
.gglr{text-align:center;font-size:14px}
.gglr a{color:#fff;}
.gglr .gg_fir{width:930px;text-align:center;padding-top:6px;float:left;}
.gg_close{float:right;}
.gg_close:hover{cursor:pointer;}
/*选择我们的理由*/
.from{ min-height:250px;margin:80px 0 0 0;display:block;background:#fff;}
.from ul{overflow: hidden;}
.from ul li{width:24%; float:left; text-align:center; margin:0 0 0 7%;padding:0;font-size: 14px;font-family:"Microsoft YaHei";} 
.from ul li p.from-1,.from li p.from-2,.from li p.from-3{background:url(../images/img-2.png) no-repeat; height:75px; width:75px; margin:0 auto 40px;*margin:0 0 18px 12px}
.from ul li p.from-2{background-position: -108px 0}
.from ul li p.from-3{ background-position: -215px 0}
.from ul li p.from-title{font-size: 24px;font-family:"Microsoft YaHei";}
.redFont{ color: #BA3635;}
/*置顶推荐项目*/
/*推荐项目*/
.main-content{background: #eaebec;padding:20px 0 0 0;font-family:"Microsoft YaHei";}
.recommend-content{margin:0 0 40px 0;}
.recommend-content .toppro{font-size: 20px;font-weight: bold;margin: 0 0 20px 0;font-family: "Microsoft YaHei";padding:0px;display:block}
.recommend-content .topre{font-size:20px;font-weight: bold;font-family:"Microsoft YaHei"; display:table-cell; _display:inline-block; *display:inline-block; padding:20px; color:#fff;}

.recommend-content .topre a:link{color:#000;}
.recommend-content .topre a:visited{color:#000;}
.recommend-content .topre a:hover{color:#BA3635;}
.recommend-content .topre a:active{color:#BA3635;}
.recommend-content .item{background: #FFFFFF;font-size: 14px;}
.recommend-content .item .introduce{overflow: hidden;height: 100%}
.recommend-content .item .introduce .base{float:left;padding:10px 0 0 15px;+padding:15px 0 0 15px;margin: 0 0 0 0;width: 75%;+width:70%;border-right:1px solid #CCCCCC;min-height: 195px;+min-height: 195px;}
.recommend-content .item .introduce .base img{float:left;margin:7px 20px 0 0;width:137px;height:103px}
.recommend-content .item .introduce .base table{float:left;width: 75%;}
.recommend-content .item .introduce .base table h2{font-weight: bold;font-size: 20px;margin:0;padding:0;}
.recommend-content .item .introduce .base table tr{padding:0;margin:0;height:30px;line-height:30px;}
.recommend-content .item .introduce .base table tr td{padding:0;margin:0;}
.recommend-content .item .introduce .base table span,b{padding:0  0 10px;font-weight: normal;color:#4C5154;}
.recommend-content .item .introduce .base table b{color:#BA3635;}
.recommend-content .item .introduce .base table span,b{padding:0  0 10px;font-weight:bold;color:#4C5154;}
.recommend-content .item .introduce .action{width:25%;+width:20%;height:100%;float:right;padding:20px 20px 0 20px;+padding:20px 20px 0 20px;text-align: center;}
.recommend-content .item .introduce .action p{margin:10px 0 5px 0px;}
.recommend-content .item .introduce .action b{color:#BA3635;padding:0 0 0 10px;}
.invest-action img{width: 100%;}
.chongzhi{margin-top:15px}

.investPortion { overflow: hidden;line-height: 30px;}
.investPortion span {float: left;color:#4C5154;margin: 0 10px 0 0;}
.investPortion input {float: left;width: 50px;height: 30px;margin-right: 5px;line-height: 30px;border: 1px solid #c3c3c3;}
.amountDiv {float: left;height: 35px;margin-top: 5px;}
.amountDiv input {background-color: #EAEBEC;border: 1px solid #C3C3C3;color: #CF0B14;float: left;font-family: Arial;font-size: 20px;height: 36px; line-height: 36px; vertical-align: middle; text-align: center;width: 40px;}
.amountDiv .arrow {float: left;height: 100%;width:31px;}
.amountDiv .arrow img {float: left;height: 50%;width: 100%;}
.recommend-content .item .detail table{width: 100%;}
.recommend-content .item .detail table td{border-top: 1px solid #CCCCCC;border-right: 1px solid #CCCCCC;border-bottom: 1px solid #CCCCCC;vertical-align: top;text-align: left;}
.recommend-content .item .detail table td.td-title{width: 15%;height:100px;padding:15px;font-weight: bold;background-color:#f9f9f9}
.recommend-content .item .detail table td.td-content{line-height: 22px;padding:12px 18px;}
.recommend-content .item .detail table td:last-child{border-right: 0;}
.invest-action{margin:10px 0 0 0;}
.more_detail .hidden-content{display:none;}
.hidden-title{display:none}
.more_detail a{color:#BA3635;padding:0;display:block;margin-top:-15px;float:right;}
/*覆盖bootstrap样式*/
.progress {background-color: #F5F5F5;border-radius: 0px;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;height: 20px;margin:20px 0 0 0;overflow:hidden;width: 60%;float:left;}
p.progresstxt{float: left;margin: 15px 0 0 20px;}
.vedioreport{margin:0 0 40px 0;font-family:"Microsoft YaHei";}
.vedioreport h2{font-size:20px;font-weight: bold;margin:0 0 20px 0;font-family:"Microsoft YaHei";}
/*热门项目*/
.hot-content{margin:0 0 40px 0;font-family:"Microsoft YaHei";}
.hot-content .toppro{font-size: 20px;font-weight: bold;margin: 0 0 20px 0;font-family: "Microsoft YaHei";padding:0px;display:block}
.hot-content .topre{font-size:20px;font-weight: bold;font-family:"Microsoft YaHei"; display:table-cell; _display:inline-block; *display:inline-block; padding:20px; color:#fff;}

.hot-content .topre a:link{color:#000;}
.hot-content .topre a:visited{color:#000;}
.hot-content .topre a:hover{color:#BA3635;}
.hot-content .topre a:active{color:#BA3635;}
.hot-content h2{font-size:20px;font-weight: bold;margin:0 0 20px 0;font-family:"Microsoft YaHei";}
.hot-content .item{background: #FFFFFF;font-size: 14px;}
.hot-content .item table{width:100%;text-align:center;}
.hot-content .item table th{text-align:center;border-right: 1px solid #CCCCCC;border-bottom: 1px solid #CCCCCC;font-size: 14px;font-weight: bold; height:80px;background-color:#f9f9f9 }
.hot-content .item table th:last-child{border-right: 0;}
.hot-content .item table td{border-right: 1px solid #CCCCCC;border-bottom: 1px solid #CCCCCC;padding:10px;font-size:12px;}
.hot-content .item table td:last-child{border-right: 0;}
.hot-content .item table th.hotleft,td.hotleft{text-align:left;}
.hot-content .item .hotbtn a{ background:#ba3635; line-height:24px; color:#fff;padding:5px 7px;  display:block;width: 60px;height: 30px;margin: 0 auto }
.hot-content .item img{} 
.hot-content .item span{color:#ba3635}
.hot-content .item .current{color:#fff;}
/*广告位*/
.advertisement{width:100%;position: relative;}
.advertisement img{width: 100%;}
.advertisement a{position: absolute; border:1px solid #FFFFFF; display: block; top:52%;left:45%;font-size: 20px; color: #FFFFFF; padding:10px 30px; border-radius: 5px;}
.advertisement a:hover{color: #FFFFFF;}
/*弹窗*/
#message-modal{margin:4px;font-size:14px;font-family: 'Microsoft YaHei';padding: 20px;line-height:25px;padding-top:100px;}
.modal{overflow-y: auto;}
.modal-dialog{left:50%; padding:0 30px;right: auto;width: 600px;}
/*新闻*/
.new-content {overflow: hidden;margin:5% auto;}
.new-content  span,a{display: inline-block;}
.new-content .left{float: left;}
.new-content .right{float: right;}
.new-content .newitem{background:#FFFFFF;height:100%;width: 45% ;}

.newsbottom {overflow:hidden;margin:20px 0;}
.newsbottom span,a{display: inline-block;}
.newsbottom .left{float: left;}
.newsbottom .right{float: right;}
.newsbottom .newitem{background:#eaebec;height:100%;width: 45% ;}

.title{width:90%;overflow: hidden;margin:15px auto 10px auto;}
.title .subtitle{float: left;font-size:20px;font-family: 'HiraginoSansGBW6';font-weight:bold;width:40%;color:#000000;}
.title .more{float: right;}
.title .more a{color:#98A0AC;}
.newitem{background:#eaebec;height:100%;width: 45% ;}
.newitem .content{width:90%; margin: 0 auto 20px auto; padding: 0 ;}
.newitem ul {overflow: hidden;}
.newitem ul li {margin:0;padding:0;height:30px;line-height: 30px;}
.newitem ul li a{float:left;color:#000000;}
.newitem ul li span{float:right;color:#98A0AC;}
/*++++++++投资项目+++++++++++++*/
/*广告*/
.banner2{ height:344px}
.banner2 li p{ width:960px; margin:0 auto}
.banner2 li.ban_03{ background:url(../images/subbanner-2.jpg) no-repeat}
.yun2{ background:url(../images/yun.png) repeat-x; margin-top:-123px; z-index:9; position:absolute;  width:100%; height:123px}
.aprlist{ border:1px solid #d9d9d9; margin:20px 0 10px}
.aprone{ height:38px;line-height:38px; border-bottom:1px solid #ececec}
.aprlist dt{ width:120px; font-weight:bold; float:left; text-align:center; border-right:1px solid #d4dad5;height:38px;line-height:38px}
.aprlist dd{ float:left;height:38px;padding-top:5px}
.aproneno { border:none}
.aprtop{padding-left:30px}
.aprtop li{ float:left; width:98px;font-weight:bold; margin-right:10px}
.aprtop li a:hover,.aprtop li.aprhover a{ color:#BA3635;font-weight:bold;background:#eaebec; padding:5px 10px;}
.aprtop li.aprhover a{ padding:5px 10px;}
.aprtop li a{ padding:5px 10px;}
.sort{ border:1px solid #d9d9d9; font-size:14px; height:48px; line-height:48px; margin-bottom:40px}
.sort li{ float:left; width:118px; text-align:center; border-right:1px solid #dcdcdc}
.sort li a{ margin:0 3px;}
.sort li.moren{ background:#ece6cf; color:#6e5a13; height:47px;}
/*.sort li.moren A{ width:116PX;border:1px solid #fff; display:block; float:left; margin:0; cursor:pointer}*/
.sort li.onq A{ width:116PX;border:1px solid #fff; display:block; float:left; margin:0; cursor:pointer}
.bannerInvest img{width: 100%;}
/*++++++++投资金额+++++++++++++*/
.amount{ width:480px;}
.amounttop{ background:#bc3130; height:60px;font-size:20px;font-weight:bold;color:#fff;font-family:'Microsoft YaHei';padding:15px 20px; box-sizing: border-box;}
.amounttop h3{line-height:60px;}
.amounttop a{ width:30px; height:30px; display:block;color:#fff;font-size:14px;font-weight:bold;float:right;right:0px; background:url(../images/layer-close.png) no-repeat;}
.trans-num{font-size:18px; font-family:Microsoft YaHei;line-height:20px;height:40px; font-weight:bold;}
.trans-note{font-size:14px; line-height:32px; margin-top:20px; text-align:left;}
.trans-note td span{color:red; font-weight:bold;}

.amoutbottom{ width:480px; background:#fff; border-top:none; margin-left:1px;font-family:"Microsoft YaHei";}
.amoutlist{ color:#353d48; padding-top:8px}
.amoutlist ul{ width:355px; margin-left:30px; font-size:14px; line-height:38px;}
.amoutlist ul li{width:355px;}
.zhifuw{ text-align:left; line-height:26px;line-height:50px;font-size:16px; width:355px; margin-left:40px; _display:inline; padding-bottom:20px;} 
.zhifuw label{ font-size:16px;color:#ba3635}
.zhifuw .arrow-more{
	width:69px;
}
.amoutlist ul li img{}
.amoutlist ul li span{ border-bottom:1px  solid #cccccc; width:315px;display:block;float:right; padding:10px;}
.amoutlist ul li.atlnew{margin-left:10px;}
.amoutlist ul li.atlnew span{width:355px; padding:0px;}

.amoutpage{ line-height:16px; height:16px; margin:10px auto 18px; text-align:center; width:180px; }
.amoutpage a{ float:left; color:#fff; margin:0 5px;}
.amoutpage span.aphoverw a{ background:url(../images/baiyuan.gif) no-repeat; width:16px; height:16px; color:#cf0b14}
.xiang{ height:186px; width:400px; margin:0px auto; padding-top:34px; text-align:center}
.xiang_tb{ height:80px; width:400px; margin:0px auto;text-align:center;margin-top:-20px;}
.xiang_tb dt input.ttex {border: none;float: left;width: 51px;padding: 0 4px;margin-top: 4px;background: #fff;height: 25px;color: #cf0b14;font-size: 20px;font-family: Arial;text-align: center;}
.xiang dd{ color:#656565; font-size:16px; text-align:left; padding:5px 0px}
.xiang dd table td{height:32px}
.xiang_tb dd{ color:#656565; font-size:18px; text-align:left; padding:5px 0px;font-weight:bold;}
.xiang dd span,.xiang_tb dd span{ color:#c80009}
.xiang dt{ font-weight:bold; font-size:18px; height:40px; margin-bottom:23px;color:#353d48}
.xiang dt span{height:35px; vertical-align:middle;line-height:35px;}
.xiang_tb dt{ font-weight:bold; font-size:18px; height:40px;}
.xiang dt p,.xiang_tb dt p{ float:left; background:url(../images/wang.gif) no-repeat; width:122x; height:33px;}
.xiang dt p a,.xiang_tb dt p a{ width:16px; display:block; float:left; height:33px;}
.xiang dt p em{ margin-left:8px;}
.xiang_tb dt p em{ display:block;float:right;margin-left:8px;margin-top:10px}
.tz_num{padding-top:10px}
.xiang dt input.ttex,.xiang_tb dt input.ttex{ border:none; width:51px; padding:0 4px; background:#fff; height:35px; color:#cf0b14; line-height:35px; font-size:20px; font-family:Arial; text-align:center} 
.xiang dt span,.xiang_tb dt span{ float:left}
.xiang dt a.amountbtn,.xiang_tb dt a.amountbtn{ background :#BA3635; width:116px; height:39px; color:#fff; font-weight:normal; font-size:18px; display:block; float:left; line-height:39px; margin-top:-4px; margin-left:40px; _display:inline;}
.detailreward{background: #BA3635;width: 116px;height: 39px;color: #fff;font-weight: normal;font-size: 18px;display: block;float: left;line-height: 39px;margin-top: -2px;margin-left:20px;cursor:pointer;border:none;font-family:'Microsoft YaHei';}
.trance-btn{margin-top:20px;}
.trance-btn a{background :#BA3635; width:116px; height:39px; color:#fff; font-weight:normal; font-size:18px; display:block; float:left; line-height:39px; margin-top:-2px; margin-left:60px; }

input.recommtext{ width:121px; padding:0 4px; margin-top:4px; background:#fff; height:25px; color:#cf0b14; font-size:16px; font-family:Arial; text-align:center}
/*++++++++购买细节确定+++++++++++++*/
.buyone{ margin:55px 0 20px;  overflow:hidden; height:100%;}
.buyone2{ border-bottom:none;margin:35px 0 20px;}
.buyone dt{font-family:"幼圆","Microsoft YaHei";margin-bottom:22px;font-size: 20px;font-family: 'HiraginoSansGB';}
.buyone dd{ font-size:14px; padding-bottom:10px;padding-top:10px;border-top:1px solid #dedede;}
.namecenter{ height:100%; overflow:hidden; line-height:40px;}
.namecenter li span{font-family:"Microsoft YaHei";}
.namecenter li{ float:left; margin-right:32px; color:#666666}
.name{color:#3b3a3f;font-size: 16px;font-family: "Microsoft YaHei";}
.red{ color:#ba3635;}
.threee{ font-size:16px;font-family:"Microsoft YaHei";}
.namecenter li img{ vertical-align:middle}
.namecenter li span.name2{ font-weight:normal;font-size:18px; color:#666}
.namecenter li span.twored{ font-size:16px;}
 .twored em{color:#ba3635;font-size:16px;font-family:"Microsoft YaHei";  }
.namecenter li span.twogruss em{color:#068b08; }
.buytex{ width:70px; height:25px; border:1px solid #d8d8d8; padding:0 5px; color:#f00009; font-size:14px; line-height:21px; text-align:center; font-size:16px; font-family:arial ; margin-right:5px}
.buybtn1{ width:86px; height:32px; margin-left:10px; cursor:pointer; background:#BA3635; font-size:18px; color:#fff;font-family:"Microsoft YaHei"; border:none;}
.namecenter li label{ font-size:12px;font-family:"Microsoft YaHei";}
.buybtn2{ width:111px; background:#09911b}
//.warp2{background:url(../images/return.gif) repeat-x #F4F4F4;}
.return{background:url(../images/return.gif) repeat-x #F4F4F4; margin-bottom:34px; padding-bottom:20px;}
.buytitle{  font-size:20px;font-family:'HiraginoSansGB'; padding:42px 0 22px;font-weight:bold}
.buy{}
.buy tr td{ height:50px;line-height:50px;}
.buy thead tr th{ background:#cccccc; height:42px; font-family:"Microsoft YaHei";color:#353d48; line-height:42px; font-size:16px; font-weight:bold; text-align:left}
.buy thead tr th span{ color:#ba3635}
.buy tbody{background:#f9f9f9}
.buy tbody td{border-bottom:2px #eaebec solid}
.buy td span{color:#ba3635;font-weight:bold}
.buy img{ margin-right:8px;}
.buyju{ padding-left:80px;} 
.buyfa{font-size:18px;font-family:"Microsoft YaHei"; font-weight:bold; text-align:center; margin-top:25px;}
.buyfa span{ color:#ba3635; font-family:"宋体"; font-size:14px; font-weight:normal}
/*积分*/
.jifen{ margin-bottom:38px; overflow:hidden; height:100%;}
.jifen dt{ }
.jifen dt h2{ font-weight:bold;font-size:20px;font-family:'HiraginoSansGB'; }
.jifen dt p{ color:#7f827d; margin:10px 0 18px}
.jifen dd{}
.jifen dd span{ margin-right:22px; width:215px; display:block; float:left;font-size:14px;font-weight: bold;font-family:"Microsoft YaHei";}
.jifen dd span em{ color:#ba3635}
/*支付密码*/
.zhifu{ height:108px;color:#666; line-height:24px;margin-bottom:20px}
.zftex{ width:90px; padding:0 5px; border:1px solid #bfbfbf; background:#fff; height:24px;}
.zftex2 { width:60px}
.zhifu span{font-size:18px;font-family:"Microsoft YaHei";  margin-right:56px}
.zhifu span a{ font-size:12px; text-decoration:underline; color:#353535}
.zhifu input{ vertical-align:middle}
.buybtn{ width:225px;}
.buybtn a{ background:url(../images/investmentsure.png) no-repeat; width:189px; height:64px;margin-top:15px;margin-left:10px; display:block;}
/*+++++++++公司介绍+++++++++++++*/
.subbanner{ background:url(../images/subban.jpg) no-repeat; height:356px; margin-bottom:45px;}
.subbanner dl{height:218px; width:720px; color:#fff; margin-left:24px; padding-top:100px; /*background:#b5060e;filter:alpha(Opacity=80);-moz-opacity:0.5;opacity: 0.5; width:831px; */}
.subbanner dt{ font:bold 30px/30px "Microsoft YaHei"; margin-bottom:15px;}
.subbanner dd{ line-height:20px; margin-bottom:20px}
/*列表*/
.clmtitle{ background:url(../images/titleimg.gif) no-repeat; font-family:"幼圆","Microsoft YaHei"; font-size:30px; padding-left:80px; line-height:70px; margin-bottom:15px; height:70px;}
.clm_list{ overflow:hidden; height:100%; margin-bottom:68px;border-top:1px dashed #ccc;}
.clm_list li{ height:80px; float:left;border-right:1px dashed #ccc;border-bottom:1px dashed #ccc;width:239px; padding:45px 0; }
.clm_list li span{ width:103px; height:77px; text-align:center; display:block; float:left; margin:0 10px 0 20px; display:inline}
.clm_list li p{ float:left; width:102px;}
.clm_list li h1{ font-family:"Microsoft YaHei"; font-size:20px; font-weight:normal; line-height:50px;*line-height:32px;*margin-top:-48px}
.clm_list li a{ color:#da1b23}
/*+++++++++公司介绍详情+++++++++++++*/
/*公司介绍*/
.warp-45{
	width: 45%;
	margin: 0 auto;
}

.company-content .base-info{
	padding: 60px 0 0 0;
	font-family: "Microsoft YaHei";
}

.company-content .item-info{
	position: relative;
	border-top: 1px solid #F4F5F5;
	padding:45px 0 0 0;
	margin:0 0 70px 0;
	text-align: left;
	width: 100%;
}

.company-content .info-1 .content{
	text-align: center;
}

.company-content .info-2 .content{
	width:82%;
	text-align: left;
	margin:0 auto;
}

.company-content .info-3 .content{
	width:40%;
	text-align: left;
	margin:0 auto;
}

.company-content .item-info h1{
	padding:0 0 0 15px;
	background:#FFFFFF;
	position: absolute;
	top: -20px;
	font-weight: bold;
	left:50%;
}

.company-content .item-info h1.h1-1{
	margin-left: -130px;
}

.company-content .item-info h1.h1-2{
	margin-left: -140px;
}

.company-content .item-info h1.h1-3{
	margin-left: -150px;
}
.company-content .item-info h1.h1-4{
	margin-left: -170px;
}

.company-content .item-info p{
	line-height: 28px;
	font-size: 14px;
}

.company-content .item-info p.mt-20{
	margin:20px 0 0 0;
}

.company-content .item-info p.text-indent-1{
	padding-left: 5em;
}

.company-content .item-info p.text-indent-2{
	padding-left: 4em;
}

.company-content .image-info{
	background: #F4F5F5;
	text-align: center;
	padding:50px 0 70px 0;
}

.company-content .image-info h1{
	margin:0 0 50px 0;
}

.company-content .image-info ul{
	overflow: hidden;
}

.company-content .image-info ul li{ display: inline-block; *display: inline; margin:0 20px 0 0; width: 15%; zoom: 1; }

/*+++++++++注册信息+++++++++++++*/
.reista{ height:808px;}
.regista_left{ background:#fff; width:618px; float:left; margin-top:39px;}
.regista_right{  width:320px; float:right;height:808px; background:url(../images/right.gif) no-repeat;}
.re_title{ background:url(../images/re.gif) no-repeat; padding-left:99px; line-height:75px; height:75px;}
.re_title b{ font-size:30px;font-family:"Microsoft YaHei"; margin-right:35px;}
.re_title span{ color:#da1b23}
.relist{font-family:Arial,"Microsoft YaHei"; font-size:16px; height:42px; margin:68px 0}
.relist li{ float:left; width:205px; height:42px; background:#8dcf53; border-right:1px solid #fff; line-height:22px; color:#fff; text-align:center;}
.relist li.hover{ background:#da1b23}
.relist li span{ font-size:20px; margin-right:6px; line-height:10px;}
/*填写信息*/
.reone{}
.reone li{padding:0;margin: 0;}
.reone li label{ width:134px; text-align:right; float:left; color:#666; font-size:14px; margin-right:24px;}
.reone li label span{color:#da1b23; font-family:宋体; margin-right:5px;}
.retex{ background:url(../images/tex.gif) no-repeat; height:42px; float:left}
.retex input.text{ width:291px; margin:5px 10px; border:none; height:32px; font-family:Arial; color:#555;vertical-align:middle;line-height:32px;}
#from{height:30px;width:111px;border:none;margin:5px;margin-right:20px;padding-top:5px}
#from option{color:#666;border:none}
.retex2{ background-position:0 -43px;}
.retex2 input.text{ width:101px;float:left;}
.retex2 img{ float:left; margin-left:20px;}
.reone li.rebtom{ margin-left:158px; height:25px; line-height:25px; }
.reone li.rebtom a{ color:#71b337}.reone li.rebtom label{ width:auto; font-size:12px;}
.reone li.rebtom input{ vertical-align:middle}
.reone li.rebtn{ margin:10px 0 0 158px;}
.rebtn a.rebuttn{ display:block; font-family:"Microsoft YaHei"; font-size:18px; background:#209322; width:115px; height:39px; color:#fff; line-height:39px; text-align:center;}
#kttg{display:block; font-family:"Microsoft YaHei"; font-size:18px; background:#209322; width:115px; height:39px; color:#fff; line-height:39px; text-align:center;margin:0 auto;margin-top: 20px;}
.retwo{ margin-top:109px;}
.retwo li.rebtom2{ margin:8px 0 0 158px; height:65px; line-height:38px;}
/*成功*/
.success{ width:410px; margin:110px auto;}
.success dt{font-family:"幼圆","Microsoft YaHei"; font-size:30px; margin-bottom:20px; text-align:center}
.success dd{ overflow:hidden; font-size:14px; color:#666; line-height:26px; margin-bottom:46px;}
.success dd img{ float:left; margin-right:20px}
.success p{ text-align:center; margin:0 auto 0 122px;}
.success p a{ float:left; line-height:38px; margin-left:20px;}
.success p a.rebuttn{ width:136px; margin:0}
/*+++++++++登录+++++++++++++*/
.loginbj{ background:url(../images/login.jpg) no-repeat; height:106px;}
.login{ height:426px; margin-top:46px;padding: 0;}
.login_left{float: left;display:inline ;overflow: hidden;width:219px;background:url(../images/login_left.jpg) no-repeat; height:393px;width:380px;}
/*.login_left dd{ background:url(../images/login_img2.gif) no-repeat; height:24px;}
.login_left dd a{ width:118px; height:24px; display:block; float:left;}
.login_left dd a.qq{ margin-right:5px;}
.login_left dd a.weibo{}
*/
/*右边*/
.login_right{ width:550px;}
.login_top{font-family:"Microsoft YaHei"; font-size:30px; font-weight:bold; border-bottom:1px solid #dadada; padding:0 0 19px 23px; margin:5px 0 32px;}
.loginone li label{ width:80px;}.loginone li{ margin:20px 0;padding-top:10px;}
.loginone li.rebtom { margin-left:104px; font-size:14px; }.loginone li.rebtom label{ font-size:14px;}
.loginone li.rebtn{ margin-left:104px; }
.loginone li.rebtn a{ float:left; margin-right:18px}
.rebtn p,.rebtn p em{ float:left; line-height:60px; color:#8a8a8a}
.rebtn p a{ color:#da1b23}
/*++++++++新闻中心+++++++++++++*/
/*覆盖bootstrap样式*/
.top{
 	 position: relative;
	 z-index:1000; 
}
.nav{
	width: 10%;
	min-width: 218px;
	background-color: #f9f9f9;
	float: left;
	position: relative;
}
.nav li{
	width: 100%;
	height: 60px;
	*height: 60px;
	line-height: 50px;
}
.nav li a {
	padding:0 0 0 10%;
	margin-top:auto;
	height: 100%;
	color: #353d48;
}
.nav li a :hover{
	height: 60px;
}
.table-responsive{
	width: 100%;
	*width: 95%;
	padding-top: 80px;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td{
	vertical-align:middle;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
	border:1px solid #f4f5f5;
}
.table-responsive td{
	text-align: center;
	height: 65px;
	*height: 40px;
	width:25%;
	*width:20%;
}
.table-responsive td:hover{
	color:#ba3635;
	background-color: #f4f5f5;
}
.table-responsive td.active{
	color:#ba3635;
	background-color: #f4f5f5;
}

.nav-pills li a{
	border-radius:0px;
	background-color: #f9f9f9;
	outline:none;
	font-weight: bold;
}
.nav-pills li a:hover{
	background-color: #f9f9f9;
}
.nav-pills li.active a{
	background-color: #ffffff;
	color: #000000;
	border-bottom: 2px solid #ececec;
	font-weight: bold;
}
.nav-pills li.active a:hover{
	background-color: #ffffff;
	color: #000000;
}
.nav-pills li.active a:focus{
	background-color: #ffffff;
	color: #000000;
}
.nav-stacked > li + li{
	margin-top: 0;
}
.tab-content{
	float: left;
	width: 712px;
	height: 100%;
	background-color: #ffffff;
}
.tab-pane{
	height: 100%;
}
/* CSS yahoo 样式分页案例css代码 */ 
/*网站公告*/
#sitenotice li.notice{
	height: 150px;
}
#sitenotice li .sitenoticetitle{
	width: 100%;
	height:40px;
	background-color: #f4f5f5;
	margin-top: 20px;
}
#sitenotice li .sitenoticetitle span{
	color: #ba3635;
	font-size:15px;
	margin:10px 0 0 10px;
	height: 50%;
	float: left;
}
#sitenotice li .sitenoticetitle span a{
	color: #ba3635;
        font-weight:bold;
}
#sitenotice li  span.time{
	color: #999999;
}
#sitenotice .articlecontent li span.content{
	margin-left: 15px;
}
#sitenotice ul{
	border-bottom: 1px solid #f4f5f5;
}

#sitenotice2 li.notice{
	height: 30px;
	*height: auto;
}
#sitenotice2 li .sitenoticetitle{
	width: 100%;
	height:40px;
	background-color: #f4f5f5;
	margin-top: 20px;
}
#sitenotice2 li .sitenoticetitle span{
	color: #ba3635;
	font-size:15px;
	margin:10px 0 0 10px;
	height: 50%;
	float: left;
}
#sitenotice2 li  span.time{
	color: #999999;
}
#sitenotice2 li .flatline{
	width: 100%;
	border-bottom: 2px solid #f4f5f5;
	padding-top: 20px;
	*padding-top: 20px;
}
#sitenotice2 .articlecontent li span.content{
	margin-left: 15px;
}
#sitenotice2 .articlecontent li .sign{
	width: 95%;
}
#sitenotice2 .articlecontent li .sign span.content{
	float: right;
	width: 100%;
	text-align: right;
} 
.pageDiv {
    float: right;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    margin: 10px;
    margin-right: -5px;
    padding-top: 3px;
    text-align: center;
    overflow: hidden;
} 
.pageDiv a {
    border-right: #fff 1px solid;
    padding-right: 5px;
    border-top: #fff 1px solid;
    padding-left: 5px;
    padding-bottom: 2px;
    margin: 2px;
    border-left: #fff 1px solid;
    padding-top: 2px;
    border-bottom: #fff 1px solid;
    font-weight: bold;
} 
.pageDiv span.current {
    border-right: #fff 1px solid;
    padding-right: 5px;
    border-top: #fff 1px solid;
    padding-left: 5px;
    font-weight: bold;
    padding-bottom: 2px;
    margin: 2px;
    border-left: #fff 1px solid;
    color: #ba3635;
    padding-top: 2px;
    border-bottom: #fff 1px solid;
    background-color: #fff;
} 
.pageDiv span.disabled {
    border-right: #eee 1px solid;
    padding-right: 5px;
    border-top: #eee 1px solid;
    padding-left: 5px;
    padding-bottom: 2px;
    margin: 2px;
    border-left: #eee 1px solid;
    color: #ddd;
    padding-top: 2px;
    border-bottom: #eee 1px solid;
} 

.btn-small{
    font-size: 12px;
    padding: 5px 10px;
    +padding: 3px 7px;
}

.btn-red{
    background: #BA3635;
    border: none;
    color: #FFFFFF;
    font-family: "Microsoft YaHei";
}

.btn-gray{
    border: 1px solid #E6E6E6;
    font-family: "Microsoft YaHei";
}

.record-more{
    color: #8CC8EB;
    display: block;
    float: right;
    font-weight: bold;
    line-height: 30px;
}

.record-more:hover{
    color: #8CC8EB;
}

.red-font{
    color: #ba3635;
}
.text-center{text-align: center;}

.blue-font{
    color: #3eaff0;
}
/*公司介绍*/
.warp-45{
	width: 45%;
	margin: 0 auto;
}

.company-content .base-info{
	padding: 60px 0 0 0;
	font-family: "Microsoft YaHei";
}

.company-content .item-info{
	position: relative;
	border-top: 1px solid #F4F5F5;
	padding:45px 0 0 0;
	margin:0 0 70px 0;
	text-align: left;
	width: 100%;
}

.company-content .info-1 .content{
	text-align: center;
}

.company-content .info-2 .content{
	width:584px;
	text-align: left;
	margin:0 auto;
}

.company-content .info-3 .content{
	width:285px;
	text-align: left;
	margin:0 auto;
}

.company-content .item-info h1{
	padding:0 0 0 15px;
	background:#FFFFFF;
	position: absolute;
	top: -20px;
	font-weight: bold;
	left:50%;
}

.company-content .item-info h1.h1-1{
	margin-left: -130px;
}

.company-content .item-info h1.h1-2{
	margin-left: -140px;
}

.company-content .item-info h1.h1-3{
	margin-left: -150px;
}
.company-content .item-info h1.h1-4{
	margin-left: -170px;
}

.company-content .item-info p{
	line-height: 28px;
	font-size: 14px;
}

.company-content .item-info p.mt-20{
	margin:20px 0 0 0;
}

.company-content .item-info p.text-indent-1{
	padding-left: 5em;
}

.company-content .item-info p.text-indent-2{
	padding-left: 4em;
}

.company-content .image-info{
	background: #F4F5F5;
	text-align: center;
	padding:50px 0 70px 0;
}

.company-content .image-info h1{
	margin:0 0 50px 0;
}

.company-content .image-info ul{
	overflow: hidden;
}

.company-content .image-info ul li{
	display: inline-block;
	*display: inline;
	margin:0 20px 0 0;
	width: 15%;
	zoom: 1;
}


.top{
 	 position: relative;
	 z-index:1000; 
}

#myTab li ul {
    margin: -50px 0 0 131px;
    padding: 0;
    position: absolute;
    visibility: hidden;
    height: 30px;
    border: 1px solid  #f4f5f5;
    z-index:1001; 
    height: 100%;
    width: 114px;
}

#myTab li ul li {
	width: 100%;
    float: none;
    font-size: 12px;
    width: 144px;
   	border-bottom: 1px solid  #f4f5f5;
   	background-color: #ffffff;
    height: 50px;
    line-height: 50px;
}

#myTab li ul li a:hover {
    border: medium navone;
    width: 144px;
}

#myTab li ul li a {
    color: #353d48;
    line-height: 33px;
    margin: 0;
    padding: 0;
    width: 144px;
    border-bottom:none;
    line-height: 50px;
    padding-left: 1em;
    *padding-left: 30px;
    *text-align: left;
}

#myTab li ul li a.active{
   color: #ba3635;
}
#myTab li ul li a:hover{
    color: #ba3635;
     background:#f9f9f9;
}

#myTab li ul img {
    float: left;
    margin: 15px 0 0 -7px;
    width: 7px;
}

/*纯色海报*/
.maincontent{
	background-color: #eaebec;
}
/*纯色海报*/
.articlebanner{
	background-color: #be3c3b;
	width: 100%;
	height: 180px;
	background: url(../images/anquangbaner.jpg) center top no-repeat;
}

/*内容*/
.centercontent{
	overflow:hidden;
	height:100%;
	padding:30px 0 82px 0;
	background-color:#f4f5f5;
}
.filler{
	height: 30px;
	background-color: #f4f5f5;
}

.articlecontent{
	width:100%;
	height: 100%;
	min-height: 500px;
	float:left;
	padding:0 5% 5% 5%;
	*padding:0 5% 0 5%;
	background-color: #ffffff;
}
.articletitle{
	height:40px;
	line-height:50px;
} 
.articletitle span{
	float:left;
	font-family:"Microsoft YaHei";
	font-size:20px;
	color:#ba3635;
	padding:40px 0 0 0;
	font-weight: bold;
}
.articletitle p{
	float:right;
	background:url(../images/nwesimg.gif) no-repeat 4px;
	padding-left:22px;
	color:#7c7c7c;
}

.articletitle p em{
	margin:0 8px;
}

.articlelist{
	margin: 50px 0 0 0;
	width: 100%;
	height: 100%;
}
.articlelist li:first-child{
	margin: 0 0 15px 0;
	width:100%;
	*width: 95%;
}
.articlelist li{
	text-align:left;
	font-family:"Microsoft YaHei";
	font-size:13px;
	margin-top:20px;
	height:100%;
	*width: 95%;
}
.articlelist li span.onlytitle{
	float: left;
	font-weight: bold;
}
.articlelist li span.firsttitle{
	float: left;
	font-weight: bold;
}
.articlelist li span.title{
	float: left;
	margin-top: 20px;
	width: 100%;
}
.articlelist li span.first{
	margin-top: 10px;
}
.articlelist li span.content{
	float:left;
	font-weight:normal;
	width: 95%;
	line-height:30px;
}
.articlelist li span.retract{
	text-indent:2em;
	*text-indent:1em;
}
.articlelist li span.gap{
	margin-top: 30px;
	*margin-top: 10px;
}
/*++++++++公司介绍弹出层+++++++++++++*/
.picture{ border:5px solid #000000; background:#000; width:654px; height:550px;}
.picturelist{ width:654px; height:486px;}
.picturebottom{ margin:25px 10px 0;}
.pbleft{ background:url(../images/bigjian.gif) no-repeat; width:60px; float:left; height:24px;}
.pbleft a{ width:24px; height:24px; float:left; display:block; margin-right:6px;}
.pbright a{ background:url(../images/guo.gif) no-repeat; width:24px; height:24px; float:right;} 
.picturebottom h2{ text-align:center; color:#c7c7c7; font-size:19px; font-family:"Microsoft YaHei"; font-weight:normal;}


/*会员注册找回密码*/
.zm{clear: both;width: 930px;height:500px;margin:0 auto;}
.clearfix:after { content: '.'; display: block; _display: inline-block; visibility: hidden; clear: both; height: 0px; font-size: 0; line-height: 0px; }
.clearfix { zoom: 1;}
.mina_zc{ width:580px; padding:0 35px; overflow:hidden;margin-left:280px;} 
.axdzhucenav{ width:580px; background: url(../images/tabIndex_lineBg2.png) repeat-x left bottom; height:36px; margin-top:20px;}
.axdzhucenav li{ float:left; overflow:hidden;}
.axdzhucenav li a{ background:url(../images/sitenews2.gif);display:block; font-size:18px; font-weight:bold; height:35px; line-height:35px; width:140px; margin-left:10px;text-align:center; font-family:Arial; color:#ffffff;}
.axdzhucenav li a.hover{ background:url(../images/sitenews.gif); color:#ffffff;}
.axdzhucexx{ border-left:1px solid #CACACA; border-right:1px solid #CACACA; border-bottom:1px solid #CACACA; padding:20px 10px 20px 20px;;}
.zhucezliao{ float:left; overflow:hidden; width:420px;}
.zhucezliao dl{ overflow:hidden; width:100%; margin-bottom:10px; position:relative;height:45px;}
.zhucezliao dl dd{width:100px; font-weight:normal; text-align:right;  float:left; height:35px; color:#666666; font-size:14px;}
.zhucezliao dl dd.liht24{ height:24px; line-height:24px;}
.zhucezliao dl dd span{ margin-right:3px; color:#FF0000; font-size:16px;}
.zhucezliao dl dt{ margin-left:10px; float:left;}
.zhucezliao dl dt input.txt_zc{ border:1px solid #DDDDDD; height:33px; width:200px; line-height:33px; padding:0 8px;}
input.txt_yzm{ height:22px; width:40px; margin:0 15px; line-height:22px; border:1px solid #6DBFFF; padding:0 5px;}
.zc_hezuohb{ background:url(../images/ditu.gif) no-repeat; float:right; width:380px; height:140px; padding-left:80px; padding-top:130px;}
.hz_left{ float:left; font-family: "Lucida Sans Unicode"; font-size:16px; font-weight:bold; line-height:28px;}
.hz_right{ float:left; margin-left:5px; width:auto;}
.hz_right p{ overflow:hidden; height:34px; width:220px;}
.hz_right p a{ display:block; float:left; width:173px; height:32px; margin-left:5px;}
.wbzhhz{ background:url(../images/sina.png) no-repeat;}
.qqzhhz{ background:url(../images/qq.png) no-repeat;}
.dbzhhz{ background:url(../images/dbzhhz.gif) no-repeat;}
.rrzhhz{ background:url(../images/rrzhhz.gif) no-repeat;}
.zc8{ color:#1E50A2}

.nologin.axdzhucexx .zhucezliao {width: 880px;}
.nologin.axdzhucexx {background: url(../images/ditu.gif) no-repeat right 20px #FFFFFF;}

.ktfw{ display:block; background:url(../images/register.png) no-repeat; width:211px; height:48px;}
.loginfw{ display:block; background:url(../images/login.png) no-repeat; width:211px; height:48px;}
.newbind{ display:block; background:url(../images/newbind.png) no-repeat; width:151px; height:48px; float:left}
.oldbind{ display:block; background:url(../images/oldbind.png) no-repeat; width:151px; height:48px; float:left; margin-left:20px}
.getpass{ display:block; background:#209322;color:#ffffff;font-size:20px; width:120px; height:60px;padding-left: 20px;padding-top: 10px;}
.getpass:hover{color:#ffffff;}
.resetpass{ display:block; background:#209322;color:#ffffff; width:120px;font-size: 20px; height:50px;padding-left:20px;padding-top: 10px;}
.resetpass:hover{color: #ffffff;}
.zhucezliao dl.dlktfw{ height:48px; margin-top:35px; margin-bottom:15px;}
.zc9{ color:#75BBEC;}

/***合作伙伴***/
/*安全保障*/
.baseinfo{
	margin-top:10px;
	float: left;
	width:640px;
}
.baseinfo .baseinfotitle{
    font-size:20px;
	font-weight: bold;
}
.baseinfo .imgcontent {
	padding-top: 20px;
	height: 100%;
}
.baseinfo .imgcontent .simplediv{
	float:left;
	margin: 20px 25px 0 0;
}
.baseinfo .imgcontent .imgdiv{
	border:1px solid #d4d4d4;
	position: relative;
}
.baseinfo .imgcontent .imgdiv img{
	z-index:1;
}
.baseinfo .imgcontent .imgdiv button{
	background: url(../images/check.png);
	float:right;
	width: 20px;
	height: 20px;
	border: none;
	z-index:2;
	position: absolute;
	top: 83px;
	right: 0px;
}
.baseinfo .imgcontent .spandiv{
	margin-top: 10px;
	text-align:center;
}
/*addcss*/
/*无数据+加载中*/
#borrowList{position:relative}
#showBigLoading{width:105px; margin:0 auto; padding-top:100px;display:none; position:absolute; left:50%; top:50%; margin-left:-32px; margin-top:-32px;}
.nodata{padding:80px 0px; text-align:center; font-family:Microsoft YaHei; font-size:24px; color:#BA3635; background:url(../../common/images/nodata.png) no-repeat 30% center;}
.validatorError{border:1px solid #F00}
input.validatorError{border:1px solid #F00}
textarea.validatorError{border:1px solid #F00}

#vcs p{position:relative;}
#xvcs{position:absolute; left:55px; top:-30px}
/*返回顶部*/
 ul, li{margin: 0;padding: 0;}
 a .full{color:#ffff00;}
 #scrollDiv{ margin-top:2px;float: left;width: 200px;height: 25px;line-height: 25px; overflow: hidden; margin-left: -30px;margin-right:180px;}
 #scrollDiv li{height: 25px;padding-left: 10px;white-space:nowrap;}
 #scrollDiv li a:hover{color:#ffff00;}
#fixed-services {/*height: 275px;*/position:fixed;right: 0px;text-align: center;width: 90px;z-index: 200000;bottom:0px;}
#filter{height: 274px;position:fixed;right: 0px;text-align: center;width: 91px;z-index: 200000;top: 349px;background-color: #000000;filter:alpha(opacity=20);-moz-opacity:0.2;-khtml-opacity: 0.2;opacity: 0.2;}
#filter.filter-no-top {height: 182px;}
.direct-top {background: #FFFFFF url(../images/fixed-services.png) no-repeat 0 0;display: block;height: 90px;width: 90px;right: 0px;border-bottom: 1px solid #CCCCCC;margin:0;padding:0}
.pic-customer-service {background: #FFFFFF url(../images/fixed-services.png) no-repeat 0 -92px;display: block;height: 90px;width: 90px;right: 0px;border-bottom: 1px solid #CCCCCC;margin:0;padding:0}
.back-to-top {background: #FFFFFF url(../images/fixed-services.png) no-repeat 0 -184px;height: 90px;position: fixed;right: 0px;text-align: center;width: 90px;margin:0;padding:0}
.u_name{color:red;margin-left: 10px;}
.qr_je td {width:320px;height: 40px;overflow: hidden}
//.m_tb{padding-left:0px;width:280px;}
.qr_xm td{height: 40px;width:320px;overflow: hidden}
//.xm_lf{padding-left:200px;width:220px;}
#more_img:hover{cursor:pointer;}
#bit_img:hover{cursor: pointer;}
.us_m{font-size: 14px;}
.xm_mc:hover{color:#333333;}
.dd_tb:hover{color:#333333;}
#cj{width:1500px;margin:0 auto;}
#bakimg{width:1500px;margin: 0 auto;position:absolute;}
#startbtn{position:absolute;margin-top:430px;margin-left: 680px;cursor:pointer}
#qbb{position: absolute;margin-top:300px;margin-left: 200px;}
#qbx{color: #da1b23;font-size: 30px;font-family:'Microsoft YaHei';}
#coin_num_x{font-size:20px;color: #da1b23;margin-left:25px;margin-top:30px;font-family:'Microsoft YaHei';}
.renav{position: absolute;margin-top: 1100px;margin-left: 350px;width:200px;height:150px;line-height:21px;overflow:hidden;}
.renav li{height:21px;color: #a12202;font-size: 16px;font-family:'Microsoft YaHei'}
.renav li:hover{cursor: pointer;}
.zhuanti_ct{padding:30px 40px 30px 40px;line-height:30px;}
.cjdao_tb{font-size:16px;margin-top:10px;margin-bottom:10px;background:#ededed;width:618px}
.cjdao_tb td{height:30px;}
.cjdao_tb td span{font-weight:bold;padding-right:10px;padding-left:10px}

/*******周年庆活动样式********/
.ac_content{width:100%;height:764px;background: url(../images/ac_zn.jpg) no-repeat;background-position: center}
.ac_cen{width:1000px;margin:0 auto;padding-top:560px;}
.ac_join{width:120px;height:32px;display:block;margin-left:110px}
.ac_first{width:160px;height:80px;display:block;margin-left:170px;margin-top:52px;float:left}
.ac_first a{width:160px;height:80px;display:block}
.ac_second{width:270px;height:100px;display:block;margin-top:52px;float:left;}
.ac_second a{width:100%;height:100%;display:block}
.ac_third{width:230px;height:100px;display:block;margin-top:52px;float:left;}
.ac_third a{width:100%;height:100%;display:block}
.ac_fourth{width:170px;height:100px;display:block;float:right;margin-top:50px;}
.ac_fourth a{width:100%;height:100%;display:block}
.ac_join a{width:120px;height:32px;display:block}
.acfirst_top{width:100%;background:#c5f1f8;}
.acfirst_top_con{width:100%;height:700px;background:url(../images/ac_fr_top.jpg) no-repeat;background-position:center}
.acfirst_top_cen{width:1000px;height:700px;margin:0 auto;padding-top:520px}
.acfirst_back{width:180px;height:90px;background:url(../images/ac_bac.png) no-repeat;background-position-x:0;background-position-y:0;margin-left:800px;}
.acfirst_back a{width:180px;height:90px;display:block}
.acfirst_bot{width:100%;background:#ed4858}
.acfirst_bot_con{width:100%;height:1347px;background:url(../images/ac_fr_bot.jpg) no-repeat;background-position:center}
.acfirst_bot_cen{width:1000px;height:1347px;margin:0 auto;}
.acfirst_bot_top{width:180px;height:240px;background:url(../images/ac_bac.png) no-repeat scroll 0px -100px;float:right;margin-right:-160px;margin-top:800px}
.acfirst_bot_top a{width:180px;height:240px;display:block;}