body{font-family:"Microsoft Yahei";font-size:12px;color:#4F4F4F; background:#F3F3F3;}
/*头部*/
.t_bg{ width:100%; height:52px; min-width:1150px; background:#323232;}
.top{ width:1150px; margin:0px auto; text-align:left; position:relative;}
.top span,.top a,.top img{ display:inline-block; *display:inline; zoom:1; vertical-align:top; font-size:12px; color:#eee;}
.top .top_r{ position:absolute; right:0; top:8px;}
.top .top_r img{ width:32px; height:32px; margin-left:3px;}
.top span{ height:22px; padding-left:25px; margin-top:15px;}
.top .tel{ background:url(../images/icon1.jpg) no-repeat left center; margin-right:20px;}
.top .mail{ background:url(../images/icon2.jpg) no-repeat left center;}
.banner{ width:100%; height:auto; overflow:hidden; box-shadow:0 3px 5px #AEC0E8;}
.header{ width:100%; min-width:1150px; margin:0px auto; position:relative;}
.head{ width:1150px; margin:0px auto; height:120px;}
.head .logo{ width:227px; height:48px; float:left; margin-top:30px;}
.head .logo img{ width:227px; height:48px; vertical-align:top;}
.head .nav{ width:780px; float:right;}
.head .nav li,.head .nav li a{ display:inline-block; *display:inline; zoom:1; vertical-align:top; height:120px; width:auto; float:left;}
.head .nav li{ margin-left:11px;}
.head .nav li a{ font-size:12px; color:#8D8D8D; text-align:left; padding:0 20px;}
.head .nav li.now,.head .nav li:hover{ background:#1C70EF;}
.head .nav li a p{font-size:16px; color:#575757; text-align:left; padding-top:40px;}
.head .nav li .er_bg{ width:100%; position:absolute; left:0; top:120px; z-index:999999; background:#E6E6E6; padding:30px 0 45px; border-top:1px solid #FFF; display:none;}
.head .nav li:hover .er_bg{ display:block;}
.head .nav li.now a,.head .nav li.now a p,.head .nav li:hover a,.head .nav li:hover a p{ color:#FFF;}
.head .nav li .er{ width:1150px; margin:0px auto;}
.head .nav li .er li{ width:185px; float:left; margin-left:80px; text-align:left; height:auto;}
.head .nav li .er li b,.head .nav li .er li a{ display:inline-block; *display:inline; zoom:1; height:30px; line-height:30px; font-size:12px; color:#555;}
.head .nav li .er li b{ width:100%;}
.head .nav li:hover .er li{ background:none;}
.head .nav li .er li a:hover{ color:#1C70EF;}
.i_ma{ width:1150px; margin:0px auto; padding:50px 0 10px;}
.i_ma .i_mam{ width:370px; float:left; margin-right:20px; background:#FFF; box-shadow:0px 2px 5px #999;}
.i_ma .i_mar{ margin-right:0;}
.i_ma .i_mar .tu{ background:#895EA3;}
.i_ma .i_mal .tu{ background:#2395CB;}
.i_ma .i_mac .tu{ background:#3ED1A4;}
.i_ma .i_mam .tu{ width:100%; height:185px; position:relative; text-align:center;}
.i_ma .i_mam .tu img{ width:53px; height:53xp; vertical-align:top; padding:30px 0 15px;}
.i_ma .i_mam p{ font-size:18px; color:#FFF; text-align:center;}
.i_ma .i_mam .line{ width:90px; height:1px; background:#FFF; margin:0px auto; margin-top:7px;}
.i_ma .i_mam i{ display:block; width:30px; height:15px; position:absolute; left:170px; bottom:-15px;}
.i_ma .i_mar .tu i{ background:url(../images/icon11.png) no-repeat;}
.i_ma .i_mal .tu i{ background:url(../images/icon9.png) no-repeat;}
.i_ma .i_mac .tu i{ background:url(../images/icon10.png) no-repeat;}
.i_ma .i_mam .wen{ width:340px; margin:0px auto; height:310px; padding:20px 0 10px;}
.i_mal .name{ width:100%; height:40px; line-height:40xp; font-size:16px; color:#000; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.i_ma .i_mal dl{ width:100%; height:113px; padding-bottom:20px; border-bottom:1px dashed #ddd;}
.i_ma .i_mal dl dt,.i_ma .i_mal dl dt img{ width:129px; height:113px; float:left; vertical-align:top;}
.i_ma .i_mal dl dd{ width:190px; float:right; text-align:left; font-size:16px; color:#555; line-height:180%;}
.i_ma .i_mal dl dd p{ max-height:85px; overflow:hidden;}
.i_ma .i_mal dl dd p ,.i_ma .i_mal dl dd p a{ font-size:16px; color:#555; text-align:left;}
.i_ma .i_mal ul{ width:100%; margin-top:10px; height:110px; overflow:hidden;}
.i_ma .i_mal ul li{ width:100%; height:35px; line-height:35px; background:url(../images/icon16.jpg) no-repeat left center; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.i_ma .i_mal ul li a{ font-size:16px; color:#555; margin-left:8px;}
.i_ma .i_mal ul li a:hover{ color:#1C70EF;}
.slidegrid {float: left;position: relative;overflow: hidden;}
.slideitems {width: 20000000em;position: absolute;}
.slideitems li {float: left;}
.mainPhoto {width:340px;height:310px;margin: 0 auto;position: relative;overflow: hidden}
.mainPhoto span.goleft, .mainPhoto span.goright {display: block;width: 20px;height: 27px;position: absolute;top: 130px;}
.mainPhoto span.goleft {left: 0;}
.mainPhoto span.goright {right: 0}
.mainPhoto .go {width:290px;height:310px;position: relative;left:25px;overflow: hidden}
.mainPhoto .go li {width:290px;height:310px;margin-right: 5px;overflow: hidden}
.mainPhoto .go li img{ width:280px; height:180px; vertical-align:top; margin-top:20px;}
.mainPhoto .go li .title{ width:100%; height:40px; line-height:40px; text-align:center; font-size:18px; color:#1C70EF; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin-top:20px;}
.mainPhoto .go li p{ width:100%; height:30px; line-height:30px; white-space:nowrap; overflow:hidden;text-overflow:ellipsis; font-size:16px; color:#555;}
.i_about{ width:100%;}
.i_about img{ width:340px; height:170px; vertical-align:top;}
.i_ma .i_mar .i_about .des{ width:340px; height:84px; background:url(../images/bg_a.jpg) no-repeat; margin-top:22px;}
.i_ma .i_mar .i_about .des p{ width:280px; height:50px; margin:0px auto; padding-top:15px; text-align:left; font-size:16px; color:#555; overflow:hidden; line-height:165%;}
.i_mbt{ width:1150px; margin:0px auto; text-align:center; margin-top:20px; position:relative; z-index:9;}
.i_mbt b{ font-size:24px; color:#000; font-weight:normal;}
.i_mbt p{ width:100%; text-align:center; font-size:14px; color:#555;}
.i_mbt .line{ width:100px; height:1px; background:#bbb; margin:0px auto; margin-top:25px;}
.bg_b{ width:100%; min-width:1150px; margin:0px auto; position:relative; top:-1px; background:url(../images/bg_b.jpg) repeat-x;}
.i_mb{ width:1150px; margin:35px auto;}
.i_mb dl{ width:230px; float:left; height:50px; border-right:1px dashed #ddd; margin-right:50px;}
.i_mb dl dt{ width:110px; float:left; text-align:center;}
.i_mb dl dt img{ width:50px; height:50px; vertical-align:top;}
.i_mb dl dd{ width:105px; padding-left:15px; background:url(../images/icon20.png) no-repeat left 8px; float:left;}
.i_mb dl dd b{ font-size:18px; color:#444; font-weight:normal;}
.i_mb dl dd p{ width:100%; font-size:12px; color:#555;}
.bg_a{ width:100%; min-width:1150px; margin:0px auto; height:12px; background:url(../images/bg_c.jpg) repeat-x;}
.f_nbg{ width:100%; min-width:1150px; background:#323232; margin:0px auto; padding:55px 0;}
.f_nav{ width:1150px; margin:0px auto;}
.f_nav li{ width:125px; float:left; margin-right:40px; text-align:left; border-right:1px solid #444; height:135px;}
.f_nav li b{ display:block; width:100%; height:25px; line-height:25px; margin-bottom:15px; font-weight:normal;}
.f_nav li b a{ font-size:18px; color:#888;}
.f_nav li.noline,.f_nav li.code{ border:0;}
.f_nav li.code{ margin-right:0; float:right;}
.f_nav li p{ width:100%; background:url(../images/icon17.jpg) no-repeat left center; height:20px; line-height:20px;}
.f_nav li p a{ font-size:14px; color:#888; margin-left:10px;}
.f_nav li p a:hover{ color:#FFF;}
.f_nav li.code p{ background:none; height:25px; line-height:25px; text-align:center; color:#999; padding-top:5px;}
.f_nav li.code{ width:113px; height:135px; padding:8px; background:#4E4C4D;}
.f_nav li.code img{ width:113px; height:113px; vertical-align:top;}
.bq_bg{ width:100%; min-width:1150px; margin:0px auto; text-align:center; background:#1F1F1F; height:60px;}
.bq{ width:1150px; margin:0px auto; text-align:center; height:60px;}
.bq span,.bq a{ display:inline-block; *display:inline; zoom:1; vertical-align:top; height:20px; line-height:20px; font-size:12px; color:#666; margin-top:20px; margin-left:5px;}
.bq span{ margin-right:30px;}
.bq img{ width:20px; height:20px; vertical-align:top;}
.banners{ box-shadow:0 0 0;}
.banners,.banners img{ width:100%; height:auto; vertical-align:top;}
.bg_c{ width:100%; background:#FFF; min-width:1150px; margin:0px auto;}
.scd{ width:1150px; margin:0px auto; padding:25px 0 45px;}
.scd_t{ width:100%; height:40px; border-bottom:2px solid #ccc; text-align:left;}
.scd_t span,.scd_t span a{ display:inline-block; *display:inline; zoom:1; height:40px; line-height:40px; vertical-align:top;}
.scd_t span{ position:relative; margin-right:15px; width:92px; text-align:center;}
.scd_t span a{ font-size:16px; width:92px;color:#323232;position:absolute; z-index:99; left:0; top:0;}
.scd_t span.now a,.scd_t span a:hover{ color:#0C5AD3; border-bottom:2px solid #0C5AD3;}
.scd_m{ width:100%; padding-top:25px; font-size:14px; color:#555555; line-height:220%;}
.about_a{ text-align:center; width:90%; margin:0px auto;}
.contact{ width:100%;}
.contact .ct_r{ width:773px; float:right;}
.contact .ct_r img{ width:773px; height:auto; vertical-align:top;}
.contact .ct_l{ width:315px; float:left; background:url(../images/bg_d.jpg) no-repeat right bottom; padding-bottom:145px; margin-left:30px;}
.contact .ct_l b{ font-size:18px; color:#000; font-weight:normal;}
.contact .ct_l a{ font-size:14px; color:#444;}
.contact .ct_l a:hover{ color:#0C5AD3;}
.pages{ width:100%; text-align:center; margin-top:25px;}
.pages a{ display:inline-block; *display:inline; zoom:1; height:31px; line-height:31px; text-align:center; font-size:12px; color:#444; width:55px; margin:0 3px; border-bottom:1px solid #ddd;}
.pages a.now,.pages a:hover{ color:#FFF; background:#1C6FEF; border-bottom:1px solid #1C6FEF;}
.about_d{ width:100%; font-size:14px; color:#555555; line-height:215%;}
.about_d td{ width:50%; padding:10px; border-bottom:1px solid #ddd; vertical-align:top;}
.about_d b{ font-weight:normal; color:#000;}
.about_d .title{ width:100%; height:40px; line-height:40px; font-size:16px; color:#0073FF; vertical-align:top;}
.about_b{ width:1150px; margin:0px auto;}
.about_b li{ width:265px; float:left; margin-right:30px; margin-bottom:20px; position:relative;}
.about_b li img{ width:255px; height:180px; padding:3px; border:2px solid #ddd; vertical-align:top;}
.about_b li p{ width:100%; height:30px; background:#ECECEC; text-align:center; line-height:30px; margin-top:2px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:14px; color:#555;}
.about_b li i{ display:block; width:24px; height:19px; background:url(../images/icon21.png) no-repeat; position:absolute; right:5px; bottom:37px; z-index:999;}
.news_a{ width:1110px; margin:0px auto;}
.news_a dl{ width:100%; padding-bottom:20px; margin-bottom:20px; border-bottom:1px dashed #ddd;}
.news_a dl dt,.news_a dl dt img{ width:235px; height:155px; float:left; vertical-align:top;}
.news_a dl dd{ width:855px; float:right;}
.news_a dl dd .title{ width:100%; height:25px; line-height:25px; position:relative;}
.news_a dl dd .title p{ width:600px; height:25px; line-height:25px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.news_a dl dd .title p a{ font-size:14px; color:#333333; font-weight:bold;}
.news_a dl dd .title p a:hover{ color:#0C59D2;}
.news_a dl dd .title em{ display:block; text-align:right; position:absolute; right:0; top:0; font-size:14px; color:#888;}
.news_a dl dd .des{ width:100%; height:85px; font-size:14px; color:#555555; line-height:215%; text-indent:2em; overflow:hidden;}
.news_a dl dd .more{ display:block; width:91px; height:28px; border:1px solid #005088; text-align:center; line-height:28px; font-size:14px; color:#005088; margin-top:10px;}
.news_b{ width:1110px; margin:0px auto;}
.news_b li{ width:260px; float:left; margin-right:23px; margin-bottom:25px;}
.news_b li img{ width:256px; height:236px; border:2px solid #ddd; vertical-align:top;}
.news_b li .title{ width:100%; height:35px; line-height:35px; white-space:nowrap; overflow:hidden; font-size:16px; color:#333333; text-overflow:ellipsis;}
.news_b li a:hover .title{ color:#0C59D2;}
.news_b li .des{ width:100%; height:60px; font-size:14px; color:#999999; line-height:145%; overflow:hidden;}
.news_d{ width:1110px; margin:0px auto; font-size:14px; color:#555555; line-height:220%;}
.news_d h1{ font-size:18px; color:#000000; text-align:center; padding:20px 0 0; font-weight:normal;}
.news_d .ms{ width:100%; height:45px; line-height:45px; text-align:center; border-bottom:1px dashed #ddd;}
.news_d .ms span{ display:inline-block; *display:inline; zoom:1; font-size:14px; color:#999999; vertical-align:top; margin:0 10px;}
.news_d .ctn{ width:100%; text-align:left; padding:10px 0;}
.pst{ width:1150px; height:40px; line-height:40px; text-align:left; margin:0px auto; font-size:13px; color:#555;}
.pst a{ font-size:13px; color:#555;}
.pst a:hover{ color:#1C6FEF;}
.pro{ width:1150px; margin:0px auto; padding-bottom:40px;}
.lei{ width:100%;}
.lei li{ width:255px; float:left; margin-right:2px; height:185px; text-align:center; background:#D1D1D1;}
.lei li a{ display:block; width:100%; height:185px;}
.lei li b{ display:block; font-size:30px; color:#555; font-weight:normal; padding-top:65px;}
.lei li i{ display:block; width:40px; height:40px; background:url(../images/icon23.png) no-repeat; margin:0px auto; margin-top:5px; display:none;}
.lei li.now{ width:378px; background:#1C6FEF;}
.lei li.now i{ display:block;}
.lei li.now b{ padding-top:50px; color:#FFF;}
.lei li:hover{background:#1C6FEF;}
.lei li:hover b{ color:#FFF;}
.search{ width:100%; height:90px;}
.search .search_m{ width:330px; height:45px; float:right; position:relative; margin-top:22px;}
.search_m input[type="text"]{ width:285px; height:45px; background:#FFF; border:1px solid #ddd; padding:0 10px; font-size:14px; color:#333;}
.search_m input[type="submit"]{ width:45px; height:45px; position:absolute; right:0; top:0; z-index:99; cursor:pointer; background-color:#000; background-image:url(../images/icon22.png); background-position: center center; background-repeat:no-repeat; border:0;}
.pro_l{ width:1149px; margin:0px auto; border-left:1px solid #ddd; border-top:1px solid #ddd; background:#FFF;}
.pro_l li{ width:382px; height:335px; float:left; border-right:1px solid #ddd; border-bottom:1px solid #ddd; position:relative;}
.pro_l li .tu{ width:100%; text-align:center;}
.pro_l li .tu p{ width:90%; margin:0px auto; height:35px; line-height:35px; text-align:center; font-size:20px; color:#000; padding-top:40px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.pro_l li .tu img{ width:239px; height:239px; vertical-align:top;}
.pro_l li .wen{ width:382px; height:335px; position:absolute; left:0; top:0; z-index:999; background:#FFF; text-align:center; opacity:0; transition:0.7s; -moz-transition:0.7s; -webkit-transition:0.7s;}
.pro_l li:hover .wen{ opacity:1;}
.pro_l li .wen p{ width:80%; margin:0px auto; height:60px; font-size:14px; color:#807F7F; line-height:195%; overflow:hidden; padding-top:100px; margin-bottom:30px;}
.pro_l li .wen a{ font-size:13px; color:#1B6FEF;}
.pro_da{ width:1150px; margin:0px auto; margin-top:20px; border-bottom:1px solid #ddd;}
.pro_da .pro_dal{ width:575px; float:left; height:525px; border-right:1px solid #ddd;}
#preview{ float:none; margin:0px auto; text-align:center; width:575px;}
.jqzoom{ width:575px; height:410px; position:relative; }
.zoomdiv{ left:859px; height:400px; width:400px;}
.list-h li{ float:left;}
#spec-n5{width:575px; height:95px; padding-top:20px; overflow:hidden; position:relative;}
/*#spec-left{ background:url(../images/p_prev.png) no-repeat; width:14px; height:27px; float:left; cursor:pointer; margin-top:30px;}
#spec-right{background::url(../images/p_right.png) no-repeat; width:14px; height:27px; float:left;cursor:pointer; margin-top:30px; position:absolute; right:0px;}*/
#spec-list{ width:575px; float:left; overflow:hidden; display:inline;}
#spec-list ul li{ float:left; display:inline; width:115px; text-align:left;}
#spec-list ul li img{ width:114px; height:94px; border-right:1px solid #ddd; border-top:1px solid #ddd;}
/*jqzoom*/
.jqzoom{position:relative;padding:0;}
.zoomdiv{z-index:100;position:absolute;top:1px;left:0px;width:400px;height:400px;border:1px solid #ddd;display:none;text-align:center;overflow: hidden;}
.jqzoom i{ display:block; width:32px; height:27px; background:url(../images/icon24.png) no-repeat; position:absolute; right:15px; bottom:0; z-index:9999999;}
.bigimg{width:800px;height:800px;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:115px;height:95px;background:#F0F0F0 50% top no-repeat;opacity:0.5;-moz-opacity:0.5;-khtml-opacity:0.5;filter:alpha(Opacity=50);cursor:move;}
#spec-list{ position:relative; width:575px;}
#spec-list div{ margin-top:0; *margin-left:0;}
.pro_da .pro_dar{ width:550px; float:right;}
.pro_da .pro_dar h1{ width:100%; line-height:180%; font-size:30px; color:#034DC5; padding:45px 0 5px;}
.pro_da .pro_dar b{ font-size:24px; color:#000; font-weight:normal;}
.pro_da .pro_dar .des{ width:100%; height:205px; overflow:hidden; font-size:14px; color:#555555; line-height:215%; margin-top:15px;}
.pro_da .pro_dar .des b{ font-size:18px; color:#000;}
.pro_da .pro_dar .btn{ width:100%; margin-top:45px;}
.pro_da .pro_dar .btn a{ display:inline-block; *display:inline; zoom:1; width:170px; height:47px; background:#656565; text-align:center; line-height:47px; border-radius:7px; -moz-border-radius:7px; -webkit-border-radius:7px; font-size:24px; color:#fff; margin-right:20px;}
.pro_da .pro_dar .btn .lan{ background:#0055D8;}
.bg_d,.bg_e{ width:100%; height:50px; background:#eee; min-width:1150px; margin:0px auto; margin-top:20px;}
.pro_db,.pro_dc{ width:1150px; margin:0px auto; height:50px; line-height:50px; text-align:left;}
.bg_d_a{ position:fixed; z-index:9999999999; left:0; top:-25px;}
.pro_db span{ display:inline-block; *display:inline; zoom:1; width:135px; height:50px; line-height:50px; text-align:center; font-size:18px; color:#333; cursor:pointer;}
.pro_db span.now,.pro_db span:hover{ height:47px; border-bottom:3px solid #0157D4; color:#0157D4;}
.pro_dm{ width:1150px; margin:0px auto; position:relative;}
.pro_dm .s_m,.pro_dc .s_m{ width:100%; height:1px; position:absolute; top:-46px; visibility:hidden;}
.pro_dc{ position:relative;}
.pro_dc span{ font-size:18px; color:#185FC7; margin-left:25px;}
.pro_dm img{ max-width:100%; height:auto;}
.pro_ml{ width:1100px; margin:0px auto; padding:20px 0;}
.pro_ml li{ width:260px; float:left; margin-right:20px; margin-bottom:20px;}
.pro_ml li img{ width:256px; height:276px; border:2px solid #ddd; vertical-align:top;}
.pro_ml li p{ width:100%; height:30px; line-height:30px; text-align:center; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:18px; color:#333333;}
.pro_ml li a:hover p{ color:#1C6FEF;}
.service{ width:1150px; margin:0px auto; font-size:14px; color:#555555; line-height:215%; text-align:left;}
.service_a{ width:1150px; margin:0px auto; text-align:center; padding:20px 0; border-bottom:1px solid #ddd;}
.service_a img{ width:410px; height:410px; vertical-align:top;}
.service_b{ width:1110px; margin:0px auto;font-size:14px; color:#555555; line-height:215%; text-align:left;}
.pro_a{ width:1150px; margin:0px auto; text-align:center; padding:35px 0;}
.pro_a li{ display:inline-block; *display:inline; zoom:1; width:215px; margin:0 25px;}
.pro_a li.chang{ width:295px;}
.pro_a li.chang img{ margin-top:20px;}
.pro_a li .tu{ width:100%; height:215px;}
.pro_a li p{ width:100%; height:30px; line-height:30px; text-align:center; font-size:18px; color:#000;}
.pro_a li span{ display:inline-block; *display:inline; zoom:1; width:145px; height:40px; background:#0C62CC; text-align:center; line-height:40px; color:#FFf; font-size:18px; border-radius:7px; -moz-border-radius:7px; -webkit-border-radius:7px; margin-top:10px;}
.ty{ width:1150px; margin:0px auto; text-align:center;}
.ty .ty_a{ width:100%; text-align:center; margin-bottom:25px;}
.ty_a b{ font-size:30px; color:#0E59D2; font-weight:normal;}
.ty_a p{ font-size:18px; color:#555555; line-height:135%; text-align:center;}
.ty .ty_m{ width:100%; text-align:center;}
.ty_m li{display:inline-block; *display:inline; zoom:1; width:260px; margin:0 25px;}
.ty_m li img{ width:260px; height:260px; vertical-align:top;}
.ty_m li p{ width:100%; height:50px; line-height:50px; text-align:center; font-size:36px; color:#000;}
.ty_m li span{ display:block; width:130px; height:40px; font-size:18px; color:#FFF; background:#0C62CC; text-align:center; line-height:40px; margin:0px auto;}
.ty_b{ width:1150px; margin:0px auto; background:#F3F3F3; margin-top:30px;}
.ty_b dl{ width:575px; float:left; padding:25px 0;}
.ty_b dl dt{ width:150px; height:150px; float:left; border:1px solid #ddd; margin-left:40px;}
.ty_b dl dd{ width:305px; float:left; margin-left:37px; text-align:left;}
.ty_b dl dd .name{ width:100%; height:35px; line-height:35px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; padding-top:25px; font-size:18px; color:#000;}
.ty_b dl a:hover dd .name{ color:#1C6FEF;}
.ty_b dl dd  p{ font-size:18px; color:#000; line-height:200%;}
.ty_b dl dd p span{ color:#555;}
.shop{ width:1150px; margin:0px auto; text-align:center;}
.shop li{ width:1144px; height:350px; margin:0px auto; margin-bottom:30px;}
.shop li img{ width:1144px; height:350px; vertical-align:top;}