@charset "utf-8";
/* CSS Document */

/*跨大区间分辨率共用*/
@media screen and ( max-width:1200px ){
      .contanir{ width:90%; margin-left:-50%; margin-top:74px; padding:0 5%;}
      .contanir2{ width:90%; margin-left:-50%; padding:0 5%;}
      .our-works{ margin-top:30px;}
	  .waper-tit2 h2{ font-size:2.6em}
	  .introduce .int2 h5{ margin:15% 0 8%;}
	  .introduce{ width:80%; margin-left:-40%; padding-top:58.7%; margin-top:20px;}
	  .why-choose,
	  .brand-honor{ background-size: cover;}
	  .brand-speck{ width:90%;}
	  .brand-speck li{ width:31.66666%; margin:0 0.8% 60px;}
	  .brand-speck li:nth-of-type(4){ margin-left:17%;}	  
}

@media screen and ( max-width:1024px ){
      .waper-tit img{ width:55%;}
	  .our-works .sub-our-list li{ width:31.33333%; margin:0 1% 45px;}
	  .our-works .sub-our-list li dl dt span{ width:120px; height:54px; margin-left:-60px; margin-top:-27px;}
	  .cont-tit .mid-ts h3{ font-size:1.45em;}
	  .botom-video ul li{ width:32%;}
	  .botom-video ul li:nth-child(3n){ margin-right:0;}
	  .botom-video ul li:nth-child(4n){ margin-right:2%;}
	  .botom-video ul li:last-child{ margin-right:0;}
	  .waper-tit2 h2{ font-size:2em;}
	  .news-cjk-tit h3{ font-size:1.8em;}
	  .introduce .int2 p{ margin:3% auto 0;}
	  .introduce .int2 h5 img{ width:42%;}
	  .sub-testmor{ width:90%;}
	  .sub-testmor li{ width:48%;}
	  .sub-testmor li.zx4{ margin:0 1% 40px;}
	  .sub-testmor li.zx5{ margin-left:26%;}
	  .sub-contants{ width:90%; margin-left:-45%;}
	 
}

@media screen and ( max-width:980px ){
	.sub-choose{ width:90%;}
}
	
@media screen and ( max-width:768px ){
	.our-works .sub-our-list li{ width:49%; margin:0 0.5% 45px;}
	.waper-tit{ width:100%;}
	.waper-tit p{ width:90%; margin:32px auto 0;}
	.waper-tit2 p{ margin:15px auto 0;}
	.waper-tit small{ width:90%; margin:12px auto 0;}
	.pgwSlideshow.narrow .ps-list li img{ width:80px;}
	.cont-tit .lft-ts,
	.cont-tit .rit-ts{ bottom:-25px;}
	.pgwSlideshow .ps-list .ps-prev,
	.pgwSlideshow .ps-list .ps-next{ top:34px !important;} 
	.botom-video ul li{ width:49%;}
	.botom-video ul li:nth-child(even){ margin-right:0;}
	.botom-video ul li:nth-child(odd){ margin-right:2%;}
	.waepr-lifu ul li{ width:48%;}
	.waper-banenr .swiper-button-prev,
    .waper-banenr .swiper-button-next{ width:30px; height:30px;}
	.swiper-pagination-bullet{ width:15px; height:5px;}
	.waper-tit2{ margin-top:0px;}
	.lvsit-mos ul li dl dd a{ font-size:1.1em;}
	.news-cjk-tit h3{ font-size:1.5em;}
	.introduce{ width:70%; margin-left:-35%;padding-top:49.9%;}
	.introduce .int2 h5{ margin:7% 0 5%;}
	.introduce .int2 p{ width:90%;}
	.introduce .int1,
	.introduce .int2{ width:50%;}
	.introduce .int2{padding-bottom:2%;}
	.brand-speck li dl dd{ width:98%; padding:20% 1% 10%;}
	.contanir3,
	.lvsit-mos,
	.waepr-lifu,
	.news-list{ margin-top:32px;}
	.sub-contants h1{ font-size:3em;}
	.sub-contants{ height:615px;}
	.km-cont{ width:90%;}
	.sub-contants h3:before{ width:17%;}
	.sub-contants h3:after{ width:17%;}
	.sub-contants p{ width:90%; margin:10px auto 0; text-align:center;}
}
	
@media screen and ( min-width:640px ) and ( max-width:768px ){

}
	
@media screen and ( max-width:639px ){
	.our-works .sub-our-list li{ float:none; margin:0 auto 22px; width:90%; display:table;}
	.pgwSlideshow .ps-current .ps-prev,
	.pgwSlideshow .ps-current .ps-next{ width:20px; height:20px;}
	.top-video dl dt a{ width:32px; height:32px; margin-left:-16px; margin-top:-16px;}
	.botom-video ul li dl dt a{ width:32px; height:32px; margin-left:-16px; margin-top:-16px;}
	.botom-video ul li{ width:100%; margin:0 auto 2% !important;}
	.waepr-lifu ul li{ width:98%;}
	.lvsit-mos ul li{ float:left; width:98%}
	.waper-tit2 h5:before,
	.waper-tit2 h5:after{ width:32%;}
	.news-list ul li{ width:93%;}
	.news-list ul li dd h3{ font-size:1.3em;}
	.mksl li{ float:none; width:92%;}
	.mksl li:last-child{ float:none;}
	.introduce{ width:80%; margin-left:-40%; padding-top:67%;}
	.introduce .int1{ display:none;}
	.introduce .int2{ width:100%;}
	.introduce .int2{padding-bottom:2%;}
	.brand-speck li{ width:100%;}
	.brand-speck li:nth-of-type(4){ margin-left:0%;}
	.brand-tit{ width:80%;}
	.brand-speck li dl dd p{ margin-top:0;}
	.brand-speck li dl dd small{ margin-top:5%;}
	.sub-testmor li{ width:100%; padding-top:44%;}
	.sub-testmor li.zx4,
	.sub-testmor li.zx5{ margin:0 1% 40px;}

}

@media screen and ( max-width:414px ){
	
	
}   

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	






