/*国内域名预定*/
.selectinfo{height:423px;width:918px;float:left;border:1px solid #e5e5e5;margin-top:10px;padding:15px 30px 0 30px;display:block;}
.info_option{width:100%;height:35px;border:none;line-height:35px;display:inline;float:left;}
.option_left{width:145px;float:left;text-align:right; font-weight:700;}
.option_right{width:752px;margin-left:10px;float:left;height:35px;display:inline;*display:inline;}
.b_detail label,.selectinfo label{*margin-left:-5px;}
.selectinfo input,.selectinfo input.m_right,.bid input,.bid input.m_right,.gh_way input,.out_right label input{vertical-align:middle;margin:-4px 4px 0 0;*margin:2px 2px 0 0;}
.selectinfo input.m_right,.bid input.m_right,.gh_way input{margin:-4px 3px 0 0;*margin:0px 1px 0 0;}
.eachpag{width:210px;}
.selectinfo font{line-height:20px;}

/*按钮*/
.a_cheng{width:90px;height:35px;color:white;display:block;float:left;line-height:33px;text-align:center;cursor:pointer;background-color:#ff8d08;border:none;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-shadow:#aaa 1px 1px 2px;-moz-box-shadow:#aaa 1px 1px 2px;box-shadow:#aaa 1px 1px 2px;}
.a_cheng:hover{background-color:#ffa00a;color:white;text-decoration:none;}
a.a_cheng:hover{background-color:#ffa00a;color:white;text-decoration:none;}
.a_zi{width:90px;height:35px;color:white;display:block;float:left;line-height:33px;text-align:center;cursor:pointer;background-color:#e94a73;border:none;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-shadow:#aaa 1px 1px 2px;-moz-box-shadow:#aaa 1px 1px 2px;box-shadow:#aaa 1px 1px 2px;}
a.a_zi:hover{background-color:#f8517c;color:white;text-decoration:none;}
.a_lan{width:100px;height:32px;color:white;display:block;float:left;line-height:30px;text-align:center;cursor:pointer;background:url("../images/btnbg.gif"/*tpa=http://www.btgtravel.com/themes/agentc/images/btnbg.gif*/) repeat-x left top;border:none;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-shadow:#aaa 1px 1px 2px;-moz-box-shadow:#aaa 1px 1px 2px;box-shadow:#aaa 1px 1px 2px;}
.a_lan:hover{background:url("../images/btnbgh.gif"/*tpa=http://www.btgtravel.com/themes/agentc/images/btnbgh.gif*/) repeat-x left top;color:white;text-decoration:none;}
a.a_lan:hover{background:url("../images/btnbgh.gif"/*tpa=http://www.btgtravel.com/themes/agentc/images/btnbgh.gif*/) repeat-x left top;color:white;text-decoration:none;}
.a_lv{width:90px;height:35px;color:white;display:block;float:left;line-height:33px;text-align:center;cursor:pointer;background-color:#b6ce5e;border:none;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-shadow:#aaa 1px 1px 2px;-moz-box-shadow:#aaa 1px 1px 2px;box-shadow:#aaa 1px 1px 2px;}
a.a_lv:hover{background-color:#c1da64;color:white;text-decoration:none;}
.a_hui{width:100px;height:32px;color:#666;display:block;float:left;line-height:30px;text-align:center;cursor:pointer;background:url("../images/btnbg_hui.gif"/*tpa=http://www.btgtravel.com/themes/agentc/images/btnbg_hui.gif*/) repeat-x left top;border:none;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-shadow:#aaa 1px 1px 2px;-moz-box-shadow:#aaa 1px 1px 2px;box-shadow:#aaa 1px 1px 2px;}
.a_hui:hover{color:#666;background:url("../images/btnbg_huih.gif"/*tpa=http://www.btgtravel.com/themes/agentc/images/btnbg_huih.gif*/) repeat-x left top;text-decoration:none;}
a.a_hui:hover{background:url("../images/btnbg_huih.gif"/*tpa=http://www.btgtravel.com/themes/agentc/images/btnbg_huih.gif*/) repeat-x left top;color:#666;text-decoration:none;}

.mo-input{height:22px;float:left;border:1px solid #ccc;display:block;background-color:#fff;color:#666;line-height:22px; padding:3px 5px; cursor:text; margin-right:10px;box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);outline:none}
.mo-input:hover{border:1px solid #fe8431;}
.mo-input238{width:228px;}
.mo-input450{width:450px;}
.mo-input200{width:195px;}
.mo-input100{width:95px;}
.mo-input40{width:40px;}
.mo-input112{width:107px;}
.mo-textarea {float:left;border:1px solid #ccc;display:block;background-color:#fff;color:#666;line-height:22px; padding:3px 5px; margin-right:10px; cursor:text; box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);outline:none}
.k-v01{width:120px;height:30px;line-height:30px;font-size:16px; margin:20px 0 0 0;}
.mod-line{ float:left; width:10px; line-height:2px; height:2px; background:#e5e5e5; margin:14px 1px;}
.mod-right{ float:left; width: auto}
.mod-left{ float:left; width:232px;margin-left:10px;}
.mod-leftd{ float:left; width: 112px;}
.trans-name-top{width:788px;height:50px;background-color:#f8f8f8;padding:22px 0 0 22px;line-height:30px; position:left; margin-top:15px;}
.trans-name-top span{ display:block; float:left;height:30px; line-height:30px;}
.nk-button{width:100px;height:30px;background:#FE8431;border:none;color:white;font-size:15px;font-weight:bold;cursor:pointer;}
.nk-button:hover{background:#FE9B1C;}


/*模拟下拉框***大框***/
.window_da{font-weight:normal; line-height:28px; min-width:238px; color:#666;background-color:White}
.window_da div.tag_select{display:block;width:233px;height:28px; padding-left:5px;line-height:28px; border:1px solid #ccc;background: url("../images/select-arrow.gif"/*tpa=http://www.btgtravel.com/themes/agentc/images/select-arrow.gif*/) no-repeat top right; position: relative; z-index:0;box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);}
.window_da div.tag_select_hover{width:233px;height:28px; padding-left:5px;line-height:28px; border:1px solid #fe8431;background: url("../images/select-arrow.gif"/*tpa=http://www.btgtravel.com/themes/agentc/images/select-arrow.gif*/) no-repeat top right; position: relative; z-index:0;box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);}
.window_da div.tag_select_open{width:233px;height:28px; padding-left:5px;line-height:28px; border:1px solid #ccc;background: url("../images/select-arrow.gif"/*tpa=http://www.btgtravel.com/themes/agentc/images/select-arrow.gif*/) no-repeat top right;max-height:200px; position: relative; z-index:0;box-shadow:inset 0 1px 2px rgba(0,0,0,0.1)}
.window_da ul.tag_options{position:absolute; margin:0;list-style:none; width:238px; padding:0px;background-color:#fff; border:1px solid #e5e5e5; border-top:0; z-index:999}
.window_da ul.tag_options li{display:block;width:238px; margin:0; padding:0px;height:30px;text-decoration:none;line-height:30px;border-bottom:1px dashed #e5e5e5; background-color:#fff;height:30px; padding-left:5px; overflow:hidden;}
.window_da ul.tag_options li.open_hover,.window_da ul.tag_options li.open_selected{background-color:#fffeed;color:#f60;}


/*模拟下拉框***大框222***/
.window_da2{font-weight:normal; line-height:26px; min-width:50px;color:#666;background-color:White}
.window_da2 div.tag_select{display:block;width:45px;height:24px; padding:0 0 0 5px;line-height:24px;border:1px solid #ccc;background: url("../images/select-arrow.gif"/*tpa=http://www.btgtravel.com/themes/agentc/images/select-arrow.gif*/) no-repeat top right; position: relative; box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);}
.window_da2 div.tag_select_hover{display:block;width:45px;height:24px; padding:0 0 0 5px;line-height:24px;border:1px solid #fe8431;background: url("../images/select-arrow.gif"/*tpa=http://www.btgtravel.com/themes/agentc/images/select-arrow.gif*/) no-repeat top right; position: relative;box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);}
.window_da2 div.tag_select_open{display:block;width:45px;height:24px; padding:0 0 0 5px;line-height:24px;border:1px solid #ccc;background: url("../images/select-arrow.gif"/*tpa=http://www.btgtravel.com/themes/agentc/images/select-arrow.gif*/) no-repeat top right;max-height:200px; position: relative;box-shadow:inset 0 1px 2px rgba(0,0,0,0.1)}
.window_da2 ul.tag_options{position:absolute;padding:0;margin:0;list-style:none;width:50px;background-color:#FFF; border:1px solid #e5e5e5; border-top:0;}
.window_da2 ul.tag_options li{display:block;height:24px;margin:0;padding:0px;text-decoration:none;line-height:24px;border-bottom:1px dashed #e5e5e5; background-color:#fff;padding-left:5px; overflow:hidden;}
.window_da2 ul.tag_options li.open_hover,.window_da3 ul.tag_options li.open_selected{background-color:#fffeed;color:#f60}


/*下拉框显示垂直滚动条*/
.tag_options{max-height:140px;overflow-y:scroll;}
