.area-left-ej{ width: 228px;}
h2.acc_trigger{ height: 30px; line-height: 30px; background: #f6f6f6 none repeat scroll 0 0; font-size: 14px;}
h2.acc_trigger a{ padding-left: 20px;}
.acc_container ul li{ float: none; width: 100%; height: 32px; line-height: 32px; }
.acc_container ul li:hover{ background: #f6f6f6 none repeat scroll 0 0; font-size: 14px;}
.acc_container ul li a{color: #003278; text-decoration: none; padding-left: 15px;}
.area-right-ej{width: 962px;}
.person_form{ padding-left: 20px; padding-top: 20px; font-size: 14px;}

.person_item{ padding-left: 30px; min-height: 350px; padding-right: 30px;}
.person_item ul li { height: 40px; line-height: 40px;}
.person_item ul li input{ border: 1px solid #e4e4e4; padding: 2px 0px 2px 33px; line-height: 24px; height: 24px; width: 180px;}
.person_item ul li input.address{background: url("../images/address.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/address.png*/) no-repeat 10px center; width:280px; }
.person_item ul li input.user{background: url("../images/uname.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/uname.png*/) no-repeat 10px center; }
.person_item ul li input.birthday{background: url("../images/birthday.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/birthday.png*/) no-repeat 10px center; }
.person_item ul li input.nation{background: url("../images/nation.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/nation.png*/) no-repeat 10px center; }
.person_item ul li input.tel{background: url("../images/telico.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/telico.png*/) no-repeat 10px center; }
.person_item ul li input.qq{background: url("../images/qqico.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/qqico.png*/) no-repeat 10px center; }
.person_item ul li input.fax{background: url("../images/fax.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/fax.png*/) no-repeat 10px center; }
.person_item ul li input.pass{background: url("../images/pass.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/pass.png*/) no-repeat 10px center; }
.person_item ul li input.yzm{background: url("../images/yzm.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/yzm.png*/) no-repeat 10px center; }
.person_item ul li .identify_con img{ float: left;}
.person_item ul li label{letter-spacing: 0.1em;}

.person_item table{ width: 100%;}
.person_item table tr{ height: 30px;}
.person_item table tr th{ height: 50px; line-height: 50px; font-weight: bolder; font-size: 14; text-align: center; border-bottom: 1px solid #dddddd;}
/*.person_item table tr:nth-child(2){height: 60px; }*/
.person_item table tr td{text-align: center; }
.person_item table tr td a{ color:#003278;}
.person_item .info_title{ font-size: 24px; font-family: "微软雅黑", Arial; text-align: center; margin-top: 10px; line-height: 1.6em; padding-top: 10px; padding-bottom: 10px;}
.person_item .order_title{ font-size: 18px; text-align: left; color: #003278;}
.person_item .ocl{ font-size: 18px; margin-right: 20px; font-weight: bolder; font-style: italic;}
.person_item .subtitle span.t{ margin-right: 80px;}
.person_item .content_info{ font-size: 14px; font-family: "微软雅黑", Arial;}
.person_item .ginfo{ border: 1px solid #D5D5D5; margin-top: 15px; min-height: 160px;}
.person_item .gb{ height: 30px; background: #f1f1f1;font-size: 16px; line-height: 30px; }
.person_item .gb span{ margin-left: 20px;}
.person_item .items{ margin-top: 10px; margin-bottom: 10px;}
.person_item .gitem{ float: left;height: 30px;line-height: 30px;margin-bottom: 10px; width: 33%;}
.person_item .gitem .field-name{color: #003278;margin-left: 40px; padding-right: 0.4em;text-align: left;width: 60px;}
.person_item .line{ height: 1px; border-bottom:1px dashed #d3dfee; margin-bottom: 20px;}
.reg-check{padding-top: 10px;padding-left: 65px;}
.save_btn{
    padding: 0px;
    line-height: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    border: none;
    background: #1271bd;
    color: #fff;
}
.input{ float: left;}
.input-tip{float: left; padding-left: 10px; color: #f27680;}