@charset "utf-8";
html{background:#FFF;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body,dl,dd,h1,h2,h3,h4,h5,h6,p,form,pre,blockquote,figure{margin:0;}
th,td{padding:0;}
ul,ol,menu,input,button{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
body,button,input,select,textarea{color:#565656;font-size:12px;line-height:150%;font-family:'Microsoft YaHei'}
input,select,textarea{font-size:100%;}
input,select{vertical-align:baseline;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
fieldset,img{border:0;}
iframe{display:block;}
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400;}
ol,ul{list-style:none;}caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:'';}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}sub{bottom:-0.25em;}
ins,a{text-decoration:none;}
a{color:#666;}
a:hover{color:#D2364C;text-decoration:underline;}
.clearfix:before,.clearfix:after{display:table;line-height:0;content:'';}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
div.clear{clear:both;height:0;font-size:0;overflow:hidden;}
body .hide,body .none{display:none;}
.left,.right,.center,.l,.r,.c{_display:inline;}
.left,.l,.center,.c{float:left;}
.right,.r{float:right;}
.relative{position:relative;}
.absolute{position:absolute;}
.text-ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;_width:100%;}
.area{margin:0 auto;width:1200px;}
.area-left{width:940px;float:left}
.area-right{width:250px;float:right}
.area-left-ej{width:228px;float:left}
.area-right-ej{width:962px;float:right}

.mt10{margin-top:5px;}

/* common */
img{ display: block; }
.hidden{ overflow: hidden; zoom:1; }
.limit-24 {height: 24px;line-height: 24px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.both{ clear: both; }



/* 顶部 */
.site-top{background:#eeeeeb;overflow:hidden;line-height:32px;}
.site-top-l{float:left;width:45%;text-align:left}
.site-top-r{float:right;width:45%;text-align:right;color:#ccc}
.site-top-r a{margin-left:10px;margin-right:10px;}
.site-top-r span{margin-right:10px;color:#666;}

.site-head{position:relative;margin:0px auto;width:1200px;height:100px;}
.site-head .logo{ position:absolute;top:24px;left:0px;}
.site-head .slogen{position:absolute;top:34px;left:235px;padding-left:20px;border-left:1px solid #ddd;font-size:16px;color:#888;line-height:32px;}
.site-head .searchbox{background:#fff;border:2px solid #e01020;width:490px;height:36px; position:absolute;top:30px;left:446px;}
.site-head .searchbox .searchbox-l{float:left;width:400px;height:36px;background:#ddd;}
.site-head .searchbox .searchbox-l input{width:100%;height:36px;padding:0px;margin:0px;padding-left:10px;background:#fff;color:#666;font-size:14px;text-align:left;line-height:36px;border:0px;cursor:pointer}
.site-head .searchbox .searchbox-r{float:right;width:90px;height:36px;background:#e01020;}
.site-head .searchbox .searchbox-r input{width:90px;height:36px; padding:0px; margin:0px;background:#e01020;color:#fff;font-size:16px;text-align:center;line-height:36px;border:0px;cursor:pointer}
.site-head .searchbox .searchbox-r input:hover{background:#c00;}
.site-head .tel{height:58px; width: 217px; position:absolute;top:20px;right:0px; background-image: url("../images/tel1.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/tel1.png*/); background-repeat: no-repeat;}
.site-head .tel span{font-weight: bolder; font-size: 20px; color: #e01020; position: relative; top: 30px; left: 60px; font-family: "微软雅黑", Arial;}


/* 导航 */
#nav {width:100%;_overflow:hidden;border-bottom:2px solid #1f85d7;}
#nav .nav,#nav .nav-category .menu-hd{font-size:16px;font-family:'Microsoft YaHei';line-height:36px;}
#nav .nav li,#nav .main-nav,#nav .nav-category,#nav .nav-category dt,#nav .nav-category dd{display:inline;float:left;}
#nav .nav a,#nav .nav-category .menu-hd{display:block;}
#nav .nav a:hover{text-decoration:none;}
#nav .menu{z-index:112;}
#nav .nav .menu-hd b{top:16px; margin-left: 4px;}
#nav .nav .menu-hd:hover{text-decoration:underline;}
#nav .main-nav li{position:relative; height: 100%;margin-left:9px; }
#nav .main-nav li .new-ico{position:absolute;top:5px; right:15px; height:14px;width:14px; background-position: -24px -3px;}
#nav .main-nav li .n-ico{position:absolute;top:0px; right:10px; height:16px;width:16px; background:url("themes/absearch/images/n.gif"/*tpa=http://www.btgtravel.com/themes/agentc/css/themes/absearch/images/n.gif*/) no-repeat;}
#nav .main-nav li:hover .n-ico{ background:url("themes/absearch/images/n_white.gif"/*tpa=http://www.btgtravel.com/themes/agentc/css/themes/absearch/images/n_white.gif*/) no-repeat; }
#nav .main-nav a{ float: left; display: inline; height: 100%;padding:0 25px;border-radius: 5px 5px 0 0; text-align:let;}
#nav .main-nav .home a{padding:0 55px; }
#nav .main-nav a:hover{position:relative;}
#nav .main-nav .current a{ background: #f36277; }

#nav .m1 a{ padding: 0 20px 0 10px; }
#nav .m1 .menu-hd:hover{ text-decoration: none; }
#nav .m1 .menu-bd{ border: 1px solid #d7d7d6; border-top: none; box-shadow: 1px 0 3px #ccc; background: #fff; }
#nav .m1 .menu-bd li{ float: none; height: 30px; display:block; width: 92px;}
#nav .m1 .menu-bd li a{ display: block; width:102px;  font: 14px/30px "Microsoft YaHei"; padding:0 0 0 25px ; color: #484848;  }
#nav .m1 .menu-bd li a:hover{background: #f36277; color: #fff;}
#nav .nav-category .menu-bd{border-width:0 1px 1px;border-style:solid;background:#FFF;}
#nav .nav-category li{width:700px;}
#nav .nav-category dl{overflow:hidden;padding:2px 0;border-width:1px 0;border-style:solid;zoom:1;}
#nav .nav-category dt{margin-top:-2px;margin-right:12px;margin-bottom:-990px;padding:6px 0 996px 16px;width:94px;}
#nav .nav-category dd{margin:4px 16px 0 0;padding-bottom:4px;white-space:nowrap;}


#nav .category-content{ position:relative; width: 230px; float: left; z-index: 113; }
#nav .category-content .all-goods { display:block;width:100%;height:36px;padding:0;border-radius:5px 5px 0 0;color:#fff;text-align:center;font:16px/36px "Microsoft YaHei";background:#1271bd;cursor: pointer; }
#nav .category-content .all-goods img{ float: right;  margin-right: 20px;margin-top: 10px;}
#nav .category-content .all-goods em{ font: 12px/36px "Microsoft YaHei"; }
#nav .category-content .all-goods:hover .category{ display:block; }
.status .list i,.category-content .down-ico,.category-content .list-qz i,.category-content .list-gn i,.category-content .list-hd i,.category-content .list-yz i,.category-content .list-oz i,.category-content .list-mz i,.category-content .list-az i,.category-content .list-zdf i{ background: url("../images/index_ico_png32.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/index_ico_png32.png*/) no-repeat; -background: url("../images/index_ico.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/index_ico.png*/) no-repeat; }
.category-content .category{position:absolute; top:38px; z-index:113; width:228px;+height:456px;border: 1px solid #dadad9; border-top: none; background: #fefefe;}
.category-content .down-ico{ position: absolute; top: 48px; left: 95px; width: 10px; height: 6px; background-position: 0 -131px; z-index: 11111; }
.category-content .category-list li {height:61px; border: 2px solid #fff; border-right: none; +margin-top: -2px;z-index:113;}
.category-content .category-list li.first{margin-top:0; }
.category-content .category-list li.last .c-category-list{ border-bottom: none; }
.category-content .category-list a:hover{ text-decoration: none; color: #D2364C; }
.category-content .category-info{ padding-left: 12px; _width: 172px;  _overflow: hidden; }
.category-content .category-name{ overflow:hidden; position: relative;}
.category-content .category-name i{ position: absolute; top: 4px; width: 25px; height: 25px; -top: 6px; }
.category-content .category-name .ml-22{margin-left:35px;}
.category-content .category-list .bd-b{ height: 1px;  margin: -1px 10px 0 10px;  background: #eee; line-height: 1; font-size: 0; }
.category-content .list-qz i{ background-position:0 top; }
.category-content .list-hd i{ background-position:-24px top; }
.category-content .list-gn i{ background-position:-48px top; }
.category-content .list-yz i{ background-position:-72px top; }
.category-content .list-oz i{ background-position:-96px top; }
.category-content .list-az i{ background-position:-120px top; }
.category-content .list-mz i{ background-position:-144px top; }
.category-content .list-zdf i{ background-position:-168px top; }
.category-content .b-category-name { padding-top: 2px;font-weight:normal;line-height:30px; font-size:16px;_line-height:32px;}
.category-content .b-category-name b{ margin-left: 4px;font-weight:normal;line-height:28px; font-size:12px; }
.category-content .b-category-name a{ color: #4c4c4c; }
.category-content .c-category-list { font:400 12px/24px; }
.category-content .c-category-list a{ margin-right:8px; color:#626262; }
.category-content .b-category-name .fr{ background-position:0 -629px; width:22px; height:22px; margin:10px 16px 0 0; }
.category-content .s-category-name{ height:22px;}
.category-content .s-category-name a{ margin:0 16px 0 0; font:12px/22px;}
.category-content .category-info{ position:relative;height:100%;  }
.category-content .category-info em{ position:absolute; top:16px; right:10px; width: 13px; height: 13px; font: 12px/18px "宋体"; color: #9b9b9b;}
.category-content .category .hover{ box-shadow:0px 2px 3px #ccc; margin-left: -1px; padding-left: 1px;z-index:999;}
.category-content .hover .category-info{ border:none; text-decoration:none; background: #fff;  }
.category-content .menu-item { position: absolute; z-index: 11;  left:190px;width:740px;padding:0 0 0 2px;background: #fff; border:none; box-shadow:0px 2px 3px #ccc;  border-top: 1px solid #bbb\9;zoom:1;-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=135,strength=4)";*filter:progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=135,strength=4);}
.category-content .menu-item .area-in{ position: relative;  z-index: 1;  }
.category-content .menu-item .area-bg{ padding: 10px 0 10px 40px; }
.category-content .menu-in{ display: none; }
.category-content .category-list li.hover .category-info{z-index:999;}
.category-content .menu-srot{width: 100%; overflow: hidden;}

.category-content .category-list li.hover .menu-in { border: 2px solid #d83e54; }
.category-content .category-list li.hover{border: 2px solid #d83e54; border-right: none; }
.category-content .menu-item{ left: 223px;}
.category-content .menu-item.top{top: -2px;}
.category-content .menu-item.bottom{bottom: -2px;*bottom: -6px;_*bottom: -7px;}
.category-content .c-category-list{width:200px;margin-right:1px;padding-bottom:4px;border-bottom: 1px solid #f4f4f4;zoom:1;}

#nav .nav a { color: #505050;}
#nav .nav a:hover{color: #fff; background: #d2364c; }
#nav .nav li.current a{color: #fff; background: #d2364c;}
#nav .area{ position: relative; height: 36px; background: transparent; -background: #fff;}
#nav .main-nav .m1 a { padding: 0 40px 0 25px; }
#nav .m1 i.arrow1,#nav .m1 i.arrow2{position: absolute; top: 16px; right: 12px; border:6px solid transparent; -border:6px solid #fff; border-top: 6px solid #555; -border-top: 6px solid #555; -display: none;}
#nav .m1 i.arrow2{border-top: 8px solid #fff; top: 12px;}
#nav .main-nav .m1 a:hover i{display: none;}
#nav .m1 .menu-hd.on{ color: #fff; background: #d2364c; }
#nav .m1 .menu-hd.on i{display: none;}
#nav .m1 .menu-bd li {width: 127px;margin-left:0}
#nav .m1 .menu-bd li a:hover{ width: 102px; border-radius: 0; background: #d2364c;}

#nav .topnav {position:absolute;z-index:112;left:0;bottom:0;width:100%;height:36px;}
#nav .topnav ul{padding-left:250px;}
#nav .topnav ul li{float:left}
#nav .topnav ul li a{display:block;line-height:36px;height:36px;font-size:16px;color:#333;padding-left:25px;padding-right:25px;}
#nav .topnav ul li a:hover{color:#1f85d7;text-decoration:none}

.brand-side{ float: left; position: relative; width: 680px; margin-left: -10px; padding-top: 15px; }
.brand-side {margin-top: 20px; border-top: 1px solid #eae9e9;}
.brand-side .dl-sort{overflow: hidden; height: 70px;}
.brand-side dt { position: absolute; top: -11px; padding:0 10px; font-size: 14px; font-weight: bold; background: #fff; }
.brand-side dd { float: left; padding: 5px 0; }
.brand-side dd a{ display: block; padding: 0 10px; line-height: 1; border-right: 1px solid #bcbcbc; color: #888; }
.brand-side dd a.more{color: #b6b6b6;}


/*首页焦点图*/
.www51buycom {width:700px;height:450px;position:relative;overflow:hidden;float:left;margin:0px;margin-left:240px;margin-top:10px;}
.www51buycom .51buypic li img{width:700px;height:450px;}
.www51buycom .num {overflow:hidden;height:25px;position:absolute;bottom:12px;left:15px;zoom:1;z-index:3 }
.www51buycom .num li {width:25px;height:25px;line-height:25px;text-align:center;font-weight: 400;font-family:"微软雅黑", Arial;color:#fff; background: #444444; margin-right: 10px; border-radius:50%; cursor:pointer; float: left; }
.www51buycom .num li.on {background:#FF7700;}
.www51buycom .prev,
.www51buycom .next {display:none;width:40px;height:100px;background: url("../images/btn.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/btn.png*/) no-repeat;position:absolute;top:170px;}
.www51buycom .prev {left:0;}
.www51buycom .next {right:0;background-position:right}


.slide-right{background:#fff;width:228px;float:right;height:439px;border:1px solid #e4e4e4;border-top:0px;padding:10px;}
.slide-right .btn-box{height:40px;}
.slide-right .btn-box a{width:73px;display:block;padding-left:35px;height:40px;line-height:40px;font-size:14px;color:#fff;}
.slide-right .btn-box a:hover{text-decoration:none}
.slide-right .btn-box a.l{float:left;background:url("../images/u01.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/u01.png*/) no-repeat 10px center #f90}.slide-right .btn-box a.l:hover{background:url("../images/u01.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/u01.png*/) no-repeat 10px center #e68d07}
.slide-right .btn-box a.r{float:right;background:url("../images/u02.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/u02.png*/) no-repeat 10px center #1271bd}.slide-right .btn-box a.r:hover{background:url("../images/u02.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/u02.png*/) no-repeat 10px center #0861a8}

.slide-right .icon-list{margin-left:-10px;margin-top:10px;overflow:hidden}
.slide-right .icon-list a{float:left;width:109px;height:40px;position:relative;margin-left:10px;display:block;}
.slide-right .icon-list a span{position:absolute;top:4px;left:3px;}
.slide-right .icon-list a span.txt{position:absolute;top:10px;left:40px;}
.slide-right .icon-list a:hover{ text-decoration:none; color:#ff9900; cursor:pointer}
.slide-right .icon-list a span.img01{width:32px;height:32px;background:url("../images/right-icon.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/right-icon.png*/) no-repeat left top;}
.slide-right .icon-list a span.img02{width:32px;height:32px;background:url("../images/right-icon.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/right-icon.png*/) no-repeat left -32px;}
.slide-right .icon-list a span.img03{width:32px;height:32px;background:url("../images/right-icon.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/right-icon.png*/) no-repeat left -64px;}
.slide-right .icon-list a span.img04{width:32px;height:32px;background:url("../images/right-icon.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/right-icon.png*/) no-repeat left -96px;}
.slide-right .icon-list a span.img05{width:32px;height:32px;background:url("../images/right-icon.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/right-icon.png*/) no-repeat left -128px;}
.slide-right .icon-list a span.img06{width:32px;height:32px;background:url("../images/right-icon.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/right-icon.png*/) no-repeat left -160px;}

.slide-right .con{margin-top:10px;}
.slide-right .con li{padding:12px 10px;border-top:1px solid #e4e4e4;line-height:22px;overflow:hidden}
.slide-right .con li span.bf{font-size:26px;color:#f90;font-family:Arial, sans-serif}
.slide-right .con li span.num{color:#f90}
.slide-right .con li span.tit{color:#f90;font-size:18px;}
.slide-right .con li a.l{color:#1271bd;}.slide-right .con li a.l:hover{color:#f90;}

/*首页TAB标签*/
.home_tab01{width:940px;}
.home_tab01 .name{list-style:none;overflow:hidden;height:32px;border-bottom:2px solid #e01020;}
.home_tab01 .name h2{ float:left;width:240px;line-height:32px;font-size:18px;color:#e01020;font-weight:normal}
.home_tab01 .name li{width:100px;text-align:center;float:left;display:inline;cursor:pointer;height:32px;line-height:32px;font-size:14px;color:#888;}
.home_tab01 .name li.selected{background:#e01020;color:#fff;}
.home_tab01 .content li{height:240px;display:none;padding:0px;border:1px solid #e4e4e4;border-top:none}

.home_tab02{width:962px;margin-top:10px;}
.home_tab02 .name{list-style:none;overflow:hidden;border:1px solid #e4e4e4;border-bottom:none;background:#f6f6f6}
.home_tab02 .name h2{ float:left;width:210px;line-height:32px;font-size:18px;color:#333;font-weight:normal; padding-left:15px;}
.home_tab02 .name li{width:100px;text-align:center;float:left;display:inline;cursor:pointer;height:32px;line-height:32px;font-size:14px;color:#888; margin-right:3px; margin-top:3px;}
.home_tab02 .name li.selected{background:#1271bd;color:#fff;}
.home_tab02 .content li{display:none;padding:0px;border:1px solid #e4e4e4;border-top:none}



/*首页产品列表*/

.home-product-box{margin-top:10px;}
.home-product-box .name{list-style:none;overflow:hidden;height:32px;border-bottom:2px solid #e01020;position:relative}
.home-product-box .name h2{float:left;width:240px;line-height:32px;font-size:18px;color:#e01020;font-weight:normal}
.home-product-box .name span{position:absolute;right:-10px;top:0px;line-height:32px;}
.home-product-box .name a{height:32px;line-height:32px;font-size:12px;color:#888;margin-left:10px;margin-right:10px;}
.home-product-box .name a:hover{color:#c00;}
.home-product-box .co01 {border-bottom:2px solid #3aa860;}.home-product-box .co01 h2{color:#3aa860;}.home-product-box .co01 a:hover{color:#3aa860;}
.home-product-box .co02 {border-bottom:2px solid #e01020;}.home-product-box .co02 h2{color:#e01020;}.home-product-box .co02 a:hover{color:#e01020;}
.home-product-box .co03 {border-bottom:2px solid #08afb1;}.home-product-box .co03 h2{color:#08afb1;}.home-product-box .co03 a:hover{color:#08afb1;}
.home-product-box .co04 {border-bottom:2px solid #efad08;}.home-product-box .co04 h2{color:#efad08;}.home-product-box .co04 a:hover{color:#efad08;}
.home-product-box .content {height:379px;padding:0px;border:1px solid #e4e4e4;border-top:none;border-left:0px;}

.home-product-list dl{float:left;width:210px;margin-left:20px;margin-top:20px;}
.home-product-list dl.ad{float:left;width:231px;margin-left:0px;margin-top:0px;}
.home-product-list dl dd img{width:210px;height:120px;}
.home-product-list dl.ad dd img{width:231px;height:380px;}
.home-product-list dl dt {margin-top:10px;color:#888}
.home-product-list dl dt a{line-height:20px;font-size:12px;color:#888;}
.home-product-list dl dt a span{color:#333;}
.home-product-list dl dt a:hover{color:#c00;}.home-product-list dl dt a:hover span{color:#c00;}
.home-product-list dl dt span.price{font-family:Georgia, "Times New Roman", Times, serif;color:#f90; font-size:24px;}
.home-product-list dl dt span.price-old{ text-decoration:line-through}

.m-d dl{width:215px;}
.m-d dl dd img{width:215px;height:120px;}
.home-text-list{float:left;width:690px;overflow:hidden;margin-top:25px;}
.home-text-list dl{float:left;width:325px;margin-left:20px;position:relative;margin-top:0px; }
.home-text-list dl dt { font-size:12px; color:#888;line-height:30px; margin:0px; padding:0px;}
.home-text-list dl span{position:absolute;top:0px;right:0px;line-height:30px;color:#888}
.home-text-list dl span b{font-family:Georgia, "Times New Roman", Times, serif;color:#f90;font-size:16px;}


/*首页右侧*/

.home-right-box{width:100%;border:1px solid #e4e4e4;overflow:hidden;margin-bottom:10px;}
.home-right-box h2{border-bottom:1px solid #e4e4e4;position:relative;padding:10px;font-size:18px;font-weight:normal}
.home-right-box h2 span{position:absolute;top:10px;right:10px; font-size:12px;}
.home-right-box h2 span a{color:#888;}.home-right-box h2 span a:hover{color:#c00;}

.qz-box{padding:10px;}
.qz-box dl{padding:10px 0px;border-bottom:1px solid #e4e4e4;overflow:hidden}
.qz-box dl:last-child{border-bottom:none;}
.qz-box dl dd{float:left;width:70px;height:70px;}
.qz-box dl dd img{width:70px;height:70px;border-radius:50%}
.qz-box dl dt{float:left;font-size:12px;color:#888;margin-left:15px;}
.qz-box dl dt a{font-size:16px;margin-top:3px;margin-bottom:3px;display:block}
.qz-box dl dt span{color:#f90}


.home-right-list{padding:10px; padding-bottom: 0px;}
.home-right-list li{position:relative;padding:5px 0px;}
.home-right-list div{position:relative;padding:0px;margin-bottom:10px;}
.home-right-list div img{width:100%;}
.home-right-list div ul{position:absolute;left:0px;bottom:0px;width:100%;height:30px;line-height:30px;background:rgba(0,0,0,0.6);text-align:center;color:#fff;}
.home-right-list div dl{padding:10px 0px 0px;}
.home-right-list div dl a{font-size:12px;color:#333; line-height:24px;}.home-right-list div dl a:hover{font-size:12px;color:#f90;}
.home-right-list div dl span{font-size:16px;color:#f90;line-height:30px;}
.home-right-list li a{width:170px;display:block;white-space:nowrap; overflow:hidden;text-overflow:ellipsis;}
.home-right-list li.chang a{width:220px;}
.home-right-list li span{position:absolute;top:5px;right:0px;color:#f90}



.footer-t{background:#1271bd;overflow:hidden;padding-top:30px;padding-bottom:30px;margin-top:30px;}
.footer-t .footer-t-c{width:1200px;margin:0px auto;overflow:hidden;}
.footer-t .footer-t-c ul{float:left;width:190px;}
.footer-t .footer-t-c ul h2{font-size:16px; color:#fff;font-weight:normal;border-left:4px solid #fff;margin-bottom:10px; padding-left:11px;}
.footer-t .footer-t-c ul li a{line-height:24px; color:#fff; padding-left:15px;}
.footer-t .footer-t-c ul.r{float:right;width:420px;color:#fff; line-height:24px;}
.footer-t .footer-t-c ul .tel{ font-size:36px; line-height:40px; margin-top:10px;}
.footer-t .footer-t-c ul .tel span{ font-size:16px;}

.footer-c{width:1200px; margin:0px auto;overflow:hidden;line-height:24px;padding-top:40px;position:relative}
.footer-c .tlink a{color:#333;margin-left:10px;margin-right:10px;}
.footer-c .tlink a:first-child{margin-left:0px;}
.footer-c .tlink a:hover{color:#c00;}
.footer-c ul{margin-top:10px;}
.footer-c ul li{margin-right:10px;float:left;}
.footer-c .ewm{position:absolute;top:25px;right:0px;}

.footer-link{background:#eeeeeb;overflow:hidden;padding-top:30px;padding-bottom:30px;margin-top:30px;}
.footer-link .footer-link-c{width:1200px;margin:0px auto;overflow:hidden;}
.footer-link .footer-link-c ul a{ margin-left:10px; margin-right:10px;}
.footer-link .footer-link-c .ly a:first-child{margin-left:0px; margin-right: 0px;}




.ej-hot-product{border:1px solid #e4e4e4;overflow:hidden;padding-bottom:20px;}
.ej-hot-product dl{float:left;width:285px;margin-left:20px;margin-top:20px;}
.ej-hot-product dl dd img{width:285px;height:215px; }
.ej-hot-product dl dd {position:relative}
.ej-hot-product dl dd span{position:absolute;top:10px;left:10px;}
.ej-hot-product dl dd span img{width:60px;height:60px;}
.ej-hot-product dl dt {margin-top:10px;color:#888}
.ej-hot-product dl dt a{line-height:20px;font-size:12px;color:#888;}
.ej-hot-product dl dt a span{color:#333;}
.ej-hot-product dl dt a:hover{color:#c00;}.ej-hot-product dl dt a:hover span{color:#c00;}
.ej-hot-product dl dt span.price{font-family:Georgia, "Times New Roman", Times, serif;color:#f90; font-size:24px;}
.ej-hot-product dl dt span.price-old{ text-decoration:line-through}


.ej-box-tit{background:#f6f6f6;border:1px solid #e4e4e4;border-bottom:0px;margin-top:10px; float: left; overflow:hidden}
.ej-box-tit h2{ font-size:18px;padding:7px 15px;font-weight:normal}
.ej-box-tit h2 a{font-size:12px; color:#1271bd;}.ej-box-tit h2 a:hover{color:#f90;}
.ej-box-tit ul li{ float:left; border-right:1px solid #e4e4e4;}
.ej-box-tit ul li a{padding:6px;padding-left:15px;padding-right:20px;display:block;position:relative}
.ej-box-tit ul li a:hover{background:#e8e8e8;color:#333;text-decoration:none}
.ej-box-tit ul li span{position:absolute;top:12px;right:15px;}
.ej-box-tit-line{background:#1271bd;height:2px;}
.list-view .summary{ float: right; color: #e4393c; padding-right: 15px; padding-top: 20px; font-size: 14px;}

.ej-box {border:1px solid #e4e4e4;border-top:0px;overflow:hidden;padding-bottom:20px;}
.ej-product-list dl{padding:15px;border-bottom:1px solid #e4e4e4;overflow:hidden}
.ej-product-list dl:last-child{border-bottom:none}
.ej-product-list dl:hover{ background:#f8f8f8}
.ej-product-list dl dd{ float:left;width:180px;}
.ej-product-list dl dd img{width:180px;height:120px;}
.ej-product-list dl dt{width:700px;position:relative;line-height:23px;margin-left:200px;}
.ej-product-list dl dt h2{width:700px;position:relative; font-size:20px; font-weight:normal;margin-bottom:5px;}
.ej-product-list dl dt h2 a{ color:#1271bd;}.ej-product-list dl dt h2 a:hover{ color:#f90;}
.ej-product-list dl dt p {width:560px;}
.ej-product-list dl dt p.w {width:100%;}
.ej-product-list dl dt p span{color:#f90;margin-right:15px;}
.ej-product-list dl dt span.price {position:absolute;top:30px;right:0px;width:120px;text-align:center}
.ej-product-list dl dt span.price b {font-family:Georgia, "Times New Roman", Times, serif;color:#f90; font-size:22px;}
.ej-product-list dl dt span.btn {position:absolute;top:72px;right:10px;}
.ej-product-list dl dt span.btn a{padding:5px 15px;border:0px;background:#f90;color:#fff;font-size:14px;width:120px;text-align:center; border-radius:3px;}
.ej-product-list dl dt span.btn a:hover{ background:#f60; text-decoration: none;}


/*翻页*/

.manu {padding:0px;text-align:center; padding-top:20px; border-top:1px solid #e4e4e4}
.manu a {border:#eee 1px solid;padding-right: 5px;padding-left:5px;padding-bottom:2px; margin: 2px;color:#036cb4;padding-top: 2px; text-decoration:none}
.manu a:hover {BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; COLOR: #666; BORDER-BOTTOM: #999 1px solid}
.manu a:active {BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; COLOR: #666; BORDER-BOTTOM: #999 1px solid}
.manu .current {BORDER-RIGHT: #036cb4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #036cb4 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #036cb4 1px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #036cb4 1px solid; BACKGROUND-COLOR: #036cb4}
.manu .disabled {BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #eee 1px solid; COLOR: #ddd; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid}



/*手风琴导航*/

h2.acc_trigger{padding:0;margin:0px;background:url("../images/h2_trigger_a.gif"/*tpa=http://www.btgtravel.com/themes/agentc/images/h2_trigger_a.gif*/) no-repeat;background-position:right top; background-color:#f6f6f6;height:43px;line-height:43px;width:100%;font-size:16px;font-weight:400;float:left}
h2.acc_trigger a{color:#333;text-decoration:none;display:block;padding-left:15px}
h2.acc_trigger:hover{background-color:#f2f2f2}
h2.active{background-position:right bottom; background-color:#e8e8e8}
.acc_container{margin:0px;padding:0;overflow:hidden;font-size:12px;width:100%;clear:both;background:#fff;border-bottom:1px solid #e4e4e4}
.acc_container ul{padding:10px 15px;overflow:hidden}
.acc_container ul li{width:32%;float:left;line-height:24px;}
.acc_container:last-chile{border-bottom:0px;}


/*内容页*/

.content_top{padding:10px;border:1px solid #eee;background:#fff;position:relative;margin-bottom:10px;}
.content_top h2{line-height:1.6em;padding-top:5px; padding-bottom:10px;font-size:20px;font-weight:bold;padding-bottom:10px;color:#f90;position:relative}
.content_top h2 span{font-size:18px;font-weight:normal;margin-left:10px;color:#666}

.content_left{width:670px;float:left;position:relative;overflow:hidden}
.content_data{margin-top:10px;}
.content_right{width:498px;float:left;margin-left:10px;position:relative; background: #f6f6f6; padding-top:15px;}
.content_right div.price { font-size:16px; line-height:30px; position:relative; padding-left:20px; border-bottom:1px solid #e4e4e4; padding-bottom:5px; margin-bottom:10px;}
.content_right div.price span.p{font-family:Georgia, "Times New Roman", Times, serif;color:#f90; font-size:24px;}
.content_right div.price span.qj{position:absolute;top:0px;right:10px;font-size:16px;font-weight:normal;margin-left:10px;color:#277cd9;background:url("../images/qj.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/qj.png*/) no-repeat left center;padding-left:22px}
.content_right div.price span.qj a{color:#277cd9}
.content_right p{ padding-left:20px; font-size:16px; line-height:30px;}
.content_right p span.t{width:90px;text-align:left;float:left; display:block}
.content_right p a{color:#277cd9;margin-left:20px;}
.content_right p b{color:#f90;font-weight:normal}

.content_right div.c{background:#fff;border:1px solid #eee;padding:10px;margin-left:10px;margin-top:10px;overflow:hidden;width:458px;}
.content_right div.c dl{border-bottom:1px dotted #ddd;padding-bottom:10px;overflow:hidden}
.content_right div.c dt{margin-right:10px;float:left}
.content_right div.c ul.b{padding:10px;padding-bottom:0px;}
.content_right div.d{margin-left:10px;margin-top:10px;overflow:hidden;width:468px;margin-top:20px;}
.content_right div.d p{padding-left:10px;line-height:30px;font-size:12px;}
.content_right div.d h3{font-size:18px;font-weight:normal; position:relative;border-bottom:1px solid #e4e4e4;margin-bottom:10px;padding-bottom:10px;padding-left:10px;padding-top:5px;}
.content_right div.d h3 span{color:#277cd9;}
.content_right div.d h3 span.tel{color:#333;position:absolute;top:0px;right:0px;line-height:30px;background:url("../images/te.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/te.png*/) no-repeat left center;padding-left:32px}

.content_right div.e{position:absolute;top:70px;right:10px;text-align:center;background:#fff;width:110px;padding-top:6px;}
.content_right div.e p{line-height:24px;padding:0px;}
.content_right div.e p.n{ font-size:30px;line-height:48px; color:#f90}
.content_right div.e p.y{ background:#ddd;font-size:12px;}
.syFocusThumb IMG {BORDER-STYLE: none;VERTICAL-ALIGN: top;}
.syFocusThumb {float:left;POSITION:relative;WIDTH:670px;HEIGHT:410px;OVERFLOW:hidden;margin:0px;background:#fff;}
.syFocusThumb .pagination {POSITION: absolute; TEXT-ALIGN: left; WIDTH: 100%;HEIGHT:49px;COLOR:#fff;CLEAR:both;TOP:360px;LEFT:0px}
.syFocusThumb .pagination IMG {PADDING:2px;BACKGROUND:#ccc;}
.syFocusThumb .thumbWrap {POSITION: absolute;WIDTH:620px;OVERFLOW:hidden;TOP:0px;LEFT:26px;}
.syFocusThumb .thumbWrap IMG {-MS-INTERPOLATION-MODE: bicubic}
.syFocusThumb .holder {WIDTH:4000px}
.syFocusThumb .holder I {CURSOR: pointer; MARGIN-RIGHT:6px}
.syFocusThumb .prev {BACKGROUND: url("../images/lr.gif"/*tpa=http://www.btgtravel.com/themes/agentc/images/lr.gif*/) no-repeat left top #f2f2f2;border:1px solid #eee;POSITION: absolute; WIDTH:18px;HEIGHT:47px;CURSOR:pointer;LEFT:0px}
.syFocusThumb .next {BACKGROUND: url("../images/lr.gif"/*tpa=http://www.btgtravel.com/themes/agentc/images/lr.gif*/) no-repeat right top #f2f2f2;border:1px solid #eee;POSITION: absolute; WIDTH:18px; HEIGHT:47px;CURSOR: pointer;right:0px;}
.syFocusThumb .prev:hover {BACKGROUND: url("../images/lr.gif"/*tpa=http://www.btgtravel.com/themes/agentc/images/lr.gif*/) no-repeat left bottom #ffefd8;border:1px solid #ffe6c1;}
.syFocusThumb .next:hover {BACKGROUND: url("../images/lr.gif"/*tpa=http://www.btgtravel.com/themes/agentc/images/lr.gif*/) no-repeat right bottom #ffefd8;border:1px solid #ffe6c1;}
.syFocusThumb .pagination I.selected IMG {PADDING:2px; BACKGROUND:#f90;}
.syFocusThumb .contentdiv {HEIGHT:355px}
.syFocusThumb .contentdiv img{WIDTH:670px;HEIGHT:355px}
.syFocusThumb .toc IMG {WIDTH: 80px; HEIGHT:45px}


.content_tab{overflow:hidden}

.content_nr{border:1px solid #eee;padding:10px;overflow:hidden;border-top:0px;}
h3.nr_tit{line-height:35px;height:35px;border:1px solid #eee;padding-left:10px;font-size:20px;font-weight:normal;color:#277cd9; background:#f9f9f9;margin-top:10px;}

#scroll_nav{width:1195px}
.scroll_nav{position:fixed;_position:absolute;top:0;z-index:9999;}
.scroll_nav_ul{background:url("../images/content_tab_bg.gif"/*tpa=http://www.btgtravel.com/themes/agentc/images/content_tab_bg.gif*/) repeat-x left 2px;height:35px;padding:0px;font-size:14px;padding-left:5px;}
.scroll_nav_ul li{float:left;height:35px;}
.scroll_nav_ul a{color:#fff;display:block;padding:0 25px;border-top:2px solid #fff;height:33px;line-height:33px}
.scroll_nav_ul a:hover{color:#fff;text-decoration:none}
.scroll_nav_ul a:visited,.scroll_nav_ul a:active{color:#277cd9;border-top:2px solid #277cd9;background:#fff;}
.scroll_nav_current{height:35px;}
.scroll_nav_current a{color:#277cd9;background:#fff;border-top:2px solid #277cd9;}
.scroll_nav_current a:hover{color:#277cd9;text-decoration:none}
.pkg-maodian{margin-top:-35px;position:absolute;width:1px;overflow:hidden}

.gm_btn{ background:url("../images/gm_btn_bg.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/gm_btn_bg.png*/) no-repeat 10px 8px #f90;border:0px;color:#fff;font-size:16px;font-family:"微软雅黑";padding:6px 20px;padding-left:40px;
    -webkit-box-shadow: 1px 1px 2px rgba(217,217,217,0.75);-moz-box-shadow: 1px 1px 2px rgba(217,217,217,0.75);box-shadow: 1px 1px 2px rgba(217,217,217,0.75);
    border-radius:3px;cursor:pointer;}
.gm_btn:hover{background:url("../images/gm_btn_bg.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/gm_btn_bg.png*/) no-repeat 10px 8px #ffba00;}
.gm_btn:visited,.gm_btn:active{background:url("../images/gm_btn_bg.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/gm_btn_bg.png*/) no-repeat 10px 8px #f49200;}
.sc_btn{ background:url("../images/sc_btn_bg.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/sc_btn_bg.png*/) no-repeat 10px 8px #f2f2f2;border:0px;color:#888;font-size:16px;font-family:"微软雅黑";padding:6px 20px;padding-left:40px;
    -webkit-box-shadow: 1px 1px 2px rgba(247,247,247,0.75);
    -moz-box-shadow: 1px 1px 2px rgba(247,247,247,0.75);
    box-shadow: 1px 1px 2px rgba(247,247,247,0.75);border-radius:3px;cursor:pointer;}
.sc_btn:hover{background:url("../images/sc_btn_bg.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/sc_btn_bg.png*/) no-repeat 10px 8px #f6f6f6;}
.sc_btn:visited,.sc_btn:active{background:url("../images/sc_btn_bg.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/sc_btn_bg.png*/) no-repeat 10px 8px #ddd;}


/*翻页*/
.list-view .pagination {
    margin: 20px 0;
}

.list-view .pagination ul {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.list-view .pagination ul > li {
    display: inline;
}

.list-view .pagination ul > li > a,
.list-view .pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

.list-view .pagination ul > li > a:hover,
.list-view .pagination ul > li > a:focus,
.list-view .pagination ul > .selected > a,
.list-view .pagination ul > .selected > span {
    background-color: #f5f5f5;
}

.list-view .pagination ul > .selected > a,
.list-view .pagination ul > .selected > span {
    color: #999999;
    cursor: default;
}

.list-view .pagination ul > .hidden > span,
.list-view .pagination ul > .hidden > a,
.list-view .pagination ul > .hidden > a:hover,
.list-view .pagination ul > .hidden > a:focus {
    color: #999999;
    cursor: default;
    background-color: transparent;
}

.list-view .pagination ul > li:first-child > a,
.list-view .pagination ul > li:first-child > span {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}

.list-view .pagination ul > li:last-child > a,
.list-view .pagination ul > li:last-child > span {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
}

.pagination-centered {
    text-align: center;
}


.ej-box-tit ul li a.asc{ background-color: #dddddd; display: block; background-image:url("../images/up.gif"/*tpa=http://www.btgtravel.com/themes/agentc/images/up.gif*/); background-repeat: no-repeat;background-position: 88% center;}
.ej-box-tit ul li a.desc{ background-color: #dddddd; display: block; background-image:url("../images/down.gif"/*tpa=http://www.btgtravel.com/themes/agentc/images/down.gif*/);background-repeat: no-repeat;background-position: 88% center;}

.ej-box-tit-line2{
    background: #e4e4e4 none repeat scroll 0 0;
    height: 1px;
}

.btn.disabled, .btn[disabled] {
    background-image: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.5;
}

.lead {
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 20px;
}
.lead p{
    margin: 0 0 10px;
}


.shaixuan{overflow:hidden;border:1px solid #ddd;background:#fff;margin:0px auto;margin-top:13px; border-left: none; border-right: none;}
.shaixuan_box{overflow:hidden;padding-top:12px;padding-bottom:12px;border-bottom:1px solid #eee;}
.shaixuan_box h2{float:left;width:85px;text-align:right;padding-right:5px;font-weight:normal;color:#333;}
.shaixuan_box ul{float:left;width:830px;padding-right:58px;position:relative}
.shaixuan_box ul.s{width:600px}
.shaixuan_box ul li{float:left; margin-right: 3px; margin-left: 3px;}
.shaixuan_box ul  a{display:block;height:24px;line-height:24px;padding-left:10px;padding-right:10px; float:left; margin-right: 3px; margin-left: 3px;}
.shaixuan_box ul li label{display:block;height:24px;line-height:24px;padding-right:10px;}
.shaixuan_box ul li.se a{background:#f90;color:#fff;}
.shaixuan_box ul  a:hover{text-decoration:none;}
.shaixuan_box ul .se a:hover{text-decoration:none;background:#f90;color:#fff}
.shaixuan_box ul span{ position:absolute;top:2px;right:10px;text-align:right;}

.shaixuan_box dl{float:left;width:830px; padding-right:58px;position:relative}
.shaixuan_box dl.s{width:600px}
.shaixuan_box dl dt{float:left;margin-right:10px;}
.shaixuan_box dl dt a{display:block;height:22px;line-height:22px;padding-left:10px;padding-right:30px;border:1px solid #f90;background: url("../images/close.gif"/*tpa=http://www.btgtravel.com/themes/agentc/images/close.gif*/) no-repeat right 2px #fff;}
.shaixuan_box dl dt a:hover{text-decoration:none;color:#f90}

.shaixuan ul .selected{
    background: #ffae2c none repeat scroll 0 0;
    color: #fff;
}

.lsearchbox {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #f90;
    height: 30px;
    width: 370px;
}
.lsearchbox .searchbox-l {
    background: #ddd none repeat scroll 0 0;
    float: left;
    height: 30px;
    width: 310px;
}
.lsearchbox .searchbox-r {
    background: #f90 none repeat scroll 0 0;
    float: right;
    height: 30px;
    width: 60px;
}


.lsearchbox .searchbox-l input {
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    color: #666;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0 0 0 10px;
    text-align: left;
    width: 310px;
}

.lsearchbox .searchbox-r input {
    background: #f90 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 60px;
}

.items span.tag{
    background: #f90 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    padding: 2px 8px;
}

.items dl dd{
    position: relative;
}
.is_tag{
    font-size: 12px;
    color: #f90;
    border: 1px dashed #f90;
    margin-right: 5px;
    padding: 1px;
}

.list-view .empty{
    height: 30px;
    line-height: 30px;
    display: block;
    padding: 5px 15px;
    color: #e4393c;
}

.basefix::after, .layoutfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}

.resource_price_wrap {
    background-color: #fffcf4;
    border: 3px solid #ffb346;
    border-bottom: 1px solid #e4e4e4;
    height: 42px;
    padding: 10px 20px;
    position: relative;
    margin-top: 10px;
}

.resource_price_wrap li::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}

.resource_price_wrap .tourist_num, .resource_price_wrap .children_num {
    padding-left: 14px;
}
.resource_price_wrap li {
    float: left;
    height: 30px;
    margin-top: 8px;
    position: relative;
}
.resource_price_wrap label {
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding-right: 10px;
}

.resource_price_wrap .input_wrap {
    float: left;
    position: relative;
}
.resource_price_wrap .input_wrap input {
    color: #333;
    float: left;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding-right: 16px;
    padding-left: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px #dddddd inset;
}
.resource_price_wrap .total_price {
    float: right;
    height: 42px;
    margin-top: 0;
    position: relative;
    text-align: right;
    width: 400px;
}
.resource_price_wrap .total_price .price_name {
    padding-right: 10px;
    vertical-align: middle;
}
.resource_price_wrap .total_price .price {
    color: #f60;
    font-family: Tahoma,Simsun,sans-serif;
    font-size: 32px;
    line-height: 42px;
    padding-right: 24px;
    vertical-align: middle;
}
.btn_red_big{
    background-color: #fb9125;
    background-image: -moz-linear-gradient(center top , #fb9125, #fa8721);
    border: 1px solid #e08821;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #fcad5c inset;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 0 30px;
    white-space: nowrap;
    width: 72px;
    font: 18px/40px "microsoft yahei",simsun,sans-serif;
    height: 40px;
}
.btn_red_big:hover{
    background-color: #fd7b2b;
    background-image: -moz-linear-gradient(center top , #fd802c, #fd6f29);
    border: 1px solid #fc6621;
    box-shadow: 0 1px 0 0 #fea161 inset;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.btn_big_disabled:hover{
    background-color: #e7e7e7;
    background-image: -moz-linear-gradient(center top , #e9e9e9, #e6e6e6);
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #efefef inset;
    color: #aaa;
    cursor: default;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px #fff;
}

.resource_price_wrap .tourist_num input, .resource_price_wrap .children_num input{
    width: 26px;
}

.resource_price_wrap .input_wrap p {
    background-color: #fff;
    border: 1px solid #ccc;
    left: 0;
    position: absolute;
    top: 29px;
    width: 52px;
}

.resource_price_wrap input[type="number"] {
    -moz-appearance: textfield;
}

.resource_price_wrap .input_wrap p a {
    color: #333;
    display: block;
    height: 18px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
}


.resource_price_wrap li b {
    border-color: #666 transparent;
    border-style: solid dashed none;
    border-width: 5px 5px 0;
    cursor: text;
    float: left;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin: 13px 0 0 -15px;
    overflow: hidden;
    vertical-align: middle;
    width: 0;
}

.resource_price_wrap .child_tip{
    cursor: pointer;
    float: left;
    line-height: 30px;
    overflow: hidden;
    padding-left: 4px;
    position: relative;
    text-decoration: underline;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.uz-fullCalendar-active{
    background: #fffbee;
    border:1px solid #f90;
}

.resource_price_wrap dfn {
    font-family: Arial !important;
    font-size: 12px;
    font-style: normal;
    padding-right: 4px;
    vertical-align: 12px;
}

.resource_wrap {
    background-color: #fff;
    border-color:  #ffb346;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 3px 3px;
    font-size: 13px;
}

.all_resource {
    padding: 0 20px;
}

.all_resource .flt_htl_resource {
    min-height: 80px;
    padding: 10px 14px;
}

.uz-buy-table{
    width: 100%;
}

.uz-buy-table th{
    background-color: #f3f3f3;
    font-weight: normal;
    padding: 4px;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
    text-align: left;
}
.uz-buy-table td {
    padding: 4px;
    text-align: center;
    border-top: 1px solid #dddddd;
    line-height: 30px;
    height: 30px;
    vertical-align: middle;
}
 .uz-buy-table .text-left {
    text-align: left;
}

.radio, .checkbox {
    min-height: 20px;
    padding-left: 20px;
}

.progress_bar::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}
.progress_bar {
    padding: 30px 0 10px;
    width: 100%;
}

.progress_bar .complete {
    border-top: 6px solid #ff9813;
    color: #ff9813;
}
.progress_bar li {
    border-top: 6px solid #d7d7d7;
    color: #999999;
    float: left;
    line-height: 42px;
    position: relative;
    text-align: center;
    width: 33.33%;
}


.book_table_list td {
    padding: 5px;
    vertical-align: top;
}


.progress_bar .complete i {
    background-position: -36px 0;
}
.progress_bar li i {
    background: rgba(0, 0, 0, 0) url("../../../../pic.c-ctrip.com/vacation_v1/un_base_common.png-20131118.png"/*tpa=http://pic.c-ctrip.com/vacation_v1/un_base_common.png?20131118.png*/) no-repeat scroll -64px 0;
    height: 20px;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    top: -13px;
    width: 20px;
}


.book_product {
    background-color: #fff;
    border: 3px solid #ffe7ae;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
}

.book_product h2 {
    color: #333;
    font: bold 20px/26px "Microsoft Yahei",simsun;
    margin-bottom: 10px;
}

.book_product .book_detail {
    background-color: #ffe7ae;
    bottom: 0;
    color: #cd800b;
    padding: 2px 5px;
    position: absolute;
    right: 0;
}

.book_product_content {
    border-top: 1px solid #dfdddd;
    padding: 5px 0;
}


.book_product_name {
    color: #333;
    float: left;
    font: 20px/26px "Microsoft Yahei",simsun;
    width: 100px;
}


.book_table_list {
    table-layout: fixed;
    width: 400px;
}

.book_width_all05 .width01 {
    width: 90px;
}

.book_width_all05 .width02 {
}

.book_width_all05 .width03 {
    width: 226px;
}


.input_info {
    background-color: #fff;
    border: 1px solid #d5d5d5;
    margin-bottom: 20px;
    overflow: hidden;
}


.input_info h3 {
    background-color: #f1f1f1;
    font: 18px/32px "Microsoft Yahei",simsun;
    height: 32px;
    padding: 0 20px;
}


.input_info h3 .title {
    float: left;
}


.input_info h3 .tips_txt {
    color: #999;
    float: left;
    font-size: 12px;
    margin-left: 35px;
}

.input_info .product_input_border {
    border-top: 1px solid #eaeaea;
}
.input_info .product_input {
    border-bottom: 1px solid #d5d5d5;
    margin: 0 20px -1px;
    padding: 20px 0 10px;
    position: relative;
}


.warm_Tip {
    background: #e8f4ff none repeat scroll 0 0;
    color: #666;
    line-height: 30px;
    margin-bottom: 20px;
    padding: 0 20px;
}

.input_info .product_input h4 {
    float: left;
    font: 16px/20px "Microsoft Yahei",simsun;
    width: 120px;
}
.input_info .product_input h4 .adult {
    background-color: #60b7ff;
}
.input_info .product_input h4 span {
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font: 12px/14px simsun;
    padding: 2px;
}


.input_info .input_box {
    float: left;
    width: 770px;
}

.input_info .input_box li::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}
.input_info .input_box li {
    padding-bottom: 15px;
}


.input_info .product_label {
    float: left;
    padding-right: 10px;
    text-align: right;
    width: 76px;
}


.input_box li .frm_required {
    float: left;
    margin-left: -10px;
    width: 10px;
}
.frm_required {
    color: #f00;
    font-family: Arial;
    text-align: center;
}

.input_info .input_box .input_m {
    width: 270px;
}
.input_info .input_box input {
    display: inline-block;
    vertical-align: middle;
}
.input_info input[type="text"], .input_info input[type="number"] {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px #dddddd inset;
    padding: 3px;
}
.input_info .input_box li .help_block {
    background: #e8f4ff none repeat scroll 0 0;
    border: 1px solid #67a1e2;
    color: #333;
    display: block;
    margin-left: 86px;
    margin-top: 4px;
    padding: 2px 6px 3px 20px;
    position: relative;
    text-align: left;
    width: 430px;
}

.input_info input[type="number"] {
    -moz-appearance: textfield;
}

.input_box select {
    width: 100px;
    vertical-align: middle;
    display: inline-block;
    padding: 1px;
    font-family: Arial,Simsun,sans-serif;
    border: 1px solid #CCC;
    background-color: #FFF;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
}

.defray_box {
    background-color: #fff;
    border: 1px solid #e9eaeb;
    margin-bottom: 20px;
    min-height: 56px;
    position: relative;
}


.defray_box .defray_shop_box {
    float: none;
}
.defray_shop_box {
    border-right: 0 none;
    float: left;
    height: 56px;
    line-height: 56px;
    overflow: hidden;
    width: 697px;
}

.defray_box .btn_proess_big {
    bottom: -1px;
    margin: 0;
    position: absolute;
    right: -1px;
}
.btn_proess_big {
    border-radius: 4px;
    float: left;
    margin-right: -4px;
    width: 220px;
    cursor: pointer;
}
.btn_proess_big {
    background-color: #fb9125;
    background-image: -moz-linear-gradient(center top , #fb9125, #fa8721);
    border: 1px solid #e08821;
    box-shadow: 0 1px 0 0 #fcad5c inset;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}
.btn_proess_big, .btn_proess_big:hover, .btn_proess_big_disabled, .btn_proess_big_disabled:hover {
    font: 20px/56px "microsoft yahei",simsun,sans-serif;
    height: 56px;
    padding: 0 10px;
    color: #FFFFFF;
}

.btn_proess_big_disabled,.btn_proess_big_disabled:hover{
    display: inline-block;
    background-color: #e7e7e7;
    background-image: -webkit-linear-gradient(top, #e9e9e9, #e6e6e6);
    background-image: -moz-linear-gradient(top, #e9e9e9, #e6e6e6);
    background-image: -ms-linear-gradient(top, #e9e9e9, #e6e6e6);
    background-image: -o-linear-gradient(top, #e9e9e9, #e6e6e6);
    background-image: linear-gradient(top, #e9e9e9, #e6e6e6);
    border: 1px solid #d6d6d6;
    -webkit-box-shadow: inset 0 1px 0 0 #efefef;
    box-shadow: inset 0 1px 0 0 #efefef;
    color: #aaa;
    text-align: center;
    cursor: default;
    text-decoration: none;
    text-shadow:1px 1px #fff;
}


.defray_shop_box .prev_stop {
    display: inline-block;
    float: left;
    padding-left: 35px;
    position: relative;
    width: 40px;
}


.defray_shop_box .prev_stop b {
    background-position: 0 -220px;
    height: 16px;
    left: 17px;
    overflow: hidden;
    position: absolute;
    top: 22px;
    width: 15px;
}

.help_block .ico, .help_block_i .ico{
    left: 4px;
    position: absolute;
    top: 6px;
    display: block;
    overflow: hidden;
    width: 16px;
    height: 16px;
    background-image: url("../images/iconfont-info.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/iconfont-info.png*/);
}

.order-text{
    font-size: 18px;
    text-align: left;
    color: #fb9125;
    line-height: 2em;
    padding: 4px;
    padding-left: 80px;

}

.order-text .order-ico{
    background: url("../images/iconfont-order.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/iconfont-order.png*/);
    background-repeat: no-repeat;
    position: absolute;
    left: 60px;
    top: 28px;
    width: 32px;
    height: 32px;
    display: inline-block;
}

.order-text  ul{
    float: left;
    color: #333;
    font-size: 14px;
}

.order-text  ul li{
    height: 35px;
    line-height: 35px;
    float: left;
    margin-right: 20px;
}

.order-text .order_sevice{
    font-size: 12px;
    line-height: 1.5em;
    color: #333;
    padding: 2px;
}
.order-text .order_other{
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    color: #333;
    float: left;
}

.order-text .order_other_text li{
   height: 30px;
    line-height: 30px;
}

.order-text .order_other_text a{
    font-size: 12px;
    color: #333;
    color: #000066;
    text-decoration: none;
}

.sell_out{
    display: none;
    height: 162px;
    left: 50%;
    margin-left: -106px;
    margin-top: 100px;
    position: absolute;
    top: 50%;
    width: 213px;
    z-index: 10;
    background: url("../images/seckill.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/seckill.png*/);
}

.input_info .input_box input.active {
    border: 1px #5d9de5 solid;
    background-color: #fff;
}

.input_info .input_box input.error {
    border: 1px #f00 solid;
    background-color: #FBF9BB;
}

.input_info .input_box .error .valid_message {
  /*  background: #fff5d1;
    border: 1px solid #ffb533;*/
    color: #ff0000;
    display: inline-block;
    padding: 2px;
    padding-left: 3px;
    padding-right: 10px;
}

/*
.input_info .input_box input.success {
    background: url(sucess.png) no-repeat;
    left: auto;
    right: 5px;
    top: 4px;
    width: 16px;
    height: 16px;
}*/
