.login-box{overflow:hidden;background:url("../images/bg.jpg"/*tpa=http://www.btgtravel.com/themes/agentc/images/bg.jpg*/) no-repeat center top;}
.login-box-c{width:1140px;overflow:hidden;margin:0px auto;padding:30px;height:370px;}
.login{width:400px;float:right;background:#fff}
.login h2{padding-left:20px; background:#1271bd;color:#fff;padding-top:12px;padding-bottom:14px;font-size:18px; font-weight:normal}
.login .login-in{margin:30px;}
.login .login-in p{margin-top:15px;position:relative;}
.login .login-in p a{color:#f90}
.login .login-in p input.user{padding:4px 0px 4px 38px;font-size:14px;line-height:24px;height:24px;width:280px;border:1px solid #e4e4e4;background:url("../images/user.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/user.png*/) no-repeat 10px center;}
.login .login-in p input.pass{padding:4px 0px 4px 38px;font-size:14px;line-height:24px;height:24px;width:280px;border:1px solid #e4e4e4;background:url("../images/pass.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/pass.png*/) no-repeat 10px center;}
.login .login-in p input.yzm{padding:4px 0px 4px 38px;font-size:14px;line-height:24px;height:24px;width:330px;border:1px solid #e4e4e4;background:url("../images/yzm.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/yzm.png*/) no-repeat 10px center;width:180px}
.login .login-in p span.yzm{position:absolute;right:0px;top:3px;}
.login .login-in p span.yzm a{color:#f90}
.login .login-in p input.btn{padding:0px;font-size:14px;line-height:46px;height:46px; cursor:pointer;border-radius:5px;width:100%;border:none;background:#f90;font-size:18px;color:#fff}
.login .login-in p input.btn:hover{ background: #f60;}
.login .login-in p input.che{ vertical-align:middle}

.login .login-in ul { margin-top:15px;}
.login .login-in ul li{float:left;width:92px;padding:0px;margin:0px;line-height:30px;text-align:center;padding-top:10px;padding-bottom:10px;}
.login .login-in ul li:hover{ background:#f6f6f6;}
.login .login-in ul li img{width:50px;height:50px; margin:0px auto}
.login .login-in ul h3{background:url("../images/line.gif"/*tpa=http://www.btgtravel.com/themes/agentc/images/line.gif*/) repeat-x center center;height:30px;line-height:30px;margin-bottom:5px;}
.login .login-in ul h3 b{font-size:14px;text-align:center;background:#fff;display:block;margin:0px auto;width:130px;font-weight:normal}

.login .login-in p input.uname{padding:4px 0px 4px 38px;font-size:14px;line-height:24px;height:24px;width:280px;border:1px solid #e4e4e4;background:url("../images/uname.png"/*tpa=http://www.btgtravel.com/themes/agentc/images/uname.png*/) no-repeat 10px center;}

