/* 
* @Author: Marte
* @Date:   2016-09-19 11:03:02
* @Last Modified by:   Marte
* @Last Modified time: 2016-11-29 11:44:34
*/
body{ overflow-x:hidden;}

.ding{position:fixed;top:50px;left:30px;z-index:998;}
.ding ul{position:absolute;left:36px;top:142px;z-index:998;}
.ding ul li{width:130px;height:40px;background:#e80055;line-height:40px;text-align:center;margin-top:12px;}
.ding ul li a{font-size:20px;color:#fff;}
.ding ul li.wenzi a{font-size:18px;}
.ding ul li:hover{background:#ff5562;}

.banner{width:100%;margin:0 auto;vertical-align: top;}
.banner img{width:100%;vertical-align:top;}


.appointment{width:100%;margin:0 auto;vertical-align: top;}
.appointment img{width:100%;vertical-align: top;}

.click{clear:both;width:100%;margin:0 auto;position:relative;vertical-align:top;}
.click img{width:100%;vertical-align:top;}
.click  .dv_bottom{

            width:285px;
            height: 76px;
            border-radius: 38px;
            background-image: linear-gradient(135deg,#a1eef8,#166293);
            position:absolute;
            left:42.3%;
            top:18%;
            box-shadow:10px 10px 30px 3px #333,-10px  -20px  48px  -2px  #155aa7  inset;

        }
.click  .dv_bottom .dv_center{
           margin-top:2%;
           margin-left:2%;
            width: 279px;
            height: 74px;
            border-radius: 38px;
            background-image: linear-gradient(120deg,#84dcff,#055fad);
            box-shadow:2px 6px 2px 3px #00247a,-10px  -20px  48px  -2px  #155aa7  inset;
        }
 .click  .dv_bottom .dv_center .dv_top{
            width: 268px;
            height: 72px;
            border-radius: 38px;
        }
      
     
.dv_text{
            position: absolute;
            top:6%;
            left:4%;
            width: 268px;
            height:68px;
            border-radius:38px;
            background-image: url("../images/bj.png"/*tpa=http://www.4007087688.com/activity/NewHD/images/bj.png*/) ;
            background-size:100%;
            box-shadow:-3px  -3px  50px  20px  #38a9d1  inset;
            color:#124f6b;
            font: 36px "Microsoft YaHei";
            text-align: center;
            font-weight: bold;
            line-height: 68px;
        }
.dv_text a:hover{color:#fff;}
.continue{width:100%;margin:0 auto;vertical-align: top;}
.continue img{width:100%;vertical-align: top;}


.limit{width:100%;margin:0 auto;vertical-align: top;}
.limit img{width:100%;vertical-align: top;}

.booked{clear:both;width:100%;margin:0 auto;position:relative;vertical-align:top;}

.booked img{width:100%;vertical-align:top;}


.booked ul li.left{position:absolute;left:30%;top:13.5%;width:14%;height:56px;border:3px solid #7a0005;border-radius:30px;
 line-height:56px;text-align:center;border-width:1px 1px 6px 1px;background:#000;}
 .booked ul li.left a{font-size:30px; color:#fefb00;}
 .booked ul li.right{position:absolute;right:29%;top:13.5%;width:14%;height:56px;border:3px solid #42a6e4;border-radius:30px;
 line-height:56px;text-align:center;border-width:1px 1px 6px 1px;background:#fff;}
 .booked ul li.right a{font-size:30px;color:#000;}

.booked ul li.left a:hover{color:#c20000;}
.booked ul li.right a:hover{color:#2ba9ff;}


.marriage{width:100%;margin:0 auto;vertical-align: top;}
.marriage img{width:100%;vertical-align: top;}

.pic{width:100%;margin:0 auto;vertical-align: top;}
.pic img{width:100%;vertical-align: top;}
.shot{width:100%;margin:0 auto;vertical-align: top;}
.shot img{width:100%;vertical-align: top;}
.makeup{width:100%;margin:0 auto;vertical-align: top;}
.makeup img{width:100%;vertical-align: top;}
.international{width:100%;margin:0 auto;vertical-align: top;}
.international img{width:100%;vertical-align: top;}



@media screen and (max-width: 750px) { 


.click{clear:both;width:100%;margin:0 auto;position:relative;vertical-align:top;}
.click img{width:100%;vertical-align:top;}
.click ul li{position:absolute;left:36.8%;top:8%;width:10%;height:60px;border-radius:20px;
 line-height:60px;text-align:center;border:2px solid #a51016;
 border-width:1px 1px 6px 1px;background-image: linear-gradient( #ff5560 ,#ff575e , #fa7479 ,#ff3440  ,#ff333e );
}
.click ul li a{font-size:2em;color:#fff;}
.click ul li a:hover{color:#b8081d;}
.click ul li:hover{background-image: linear-gradient(#ff333e, #ff3440, #fa7479 ,#ff575e ,#ff5560 );}

} 




