@charset "utf-8";
/* CSS Document */

@font-face{ 
			font-family: 'itceras_bold-webfont';
			src: url('../font/itceras_bold-webfont.eot');
			src: url('../font/itceras_bold-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../font/itceras_bold-webfont.woff2') format('woff2'),
				 url('../font/itceras_bold-webfont.woff') format('woff'),
				 url('../font/itceras_bold-webfont.ttf') format('truetype'),
				 url('../font/itceras_bold-webfont.svg#erasitclight') format('svg');
			font-style: normal;
			font-weight: bold;	
		}

*{ margin:0; padding:0;}
img{ border:none;}
li{ list-style:none;}
a{ text-decoration:none; color:#3b3838;}
body{ font-size:14px; font-family:"微软雅黑"; background:#f0f0f0; color:#3d3c3c;}


.banner{ width:100%; height:690px; margin:0 auto; background:url(../images/banner.jpg) no-repeat center 0; overflow:hidden;}
.top{ width:1200px; height:102px; margin:0 auto; line-height:128px; margin-top:26px;}
.top .logo{ width:210px; height:76px; background:url(../images/logo.jpg); float:left;}
.top span{ width:2px; height:76px; background:url(../images/line01.jpg); margin-left:16px; float:left;}
.top .txt01{ margin-left:16px; padding-top:10px; float:left;}
.top .txt01 p{ height:26px; line-height:26px; font-style:italic; font-weight:bold; color:#077c2b; }
.top .txt01 p b{ color:#f90e0e;}
.top .tel{ margin-left:16px; padding-top:16px; float:right;}
.top .tel p{ height:24px; line-height:24px; font-style:italic; font-weight:bold; color:#151515;}
.top .tel b{ height:24px; line-height:24px; font-style:italic; font-family: 'itceras_bold-webfont'; font-size:30px; color:#028d42;}
.nav{ width:100%; height:41px; background:#077c2b; margin:0 auto; border:solid 2px #036020;}
.nav .nav_bg{ width:1160px; height:100%; margin:0 auto; position:relative;}
.nav ul li a{ line-height:41px; text-align:center; font-size:18px; padding:0 50px; color:#FFFFFF; float:left;}
.nav ul li span{ height:16px; color:#FFFFFF; border-left:solid 1px #FFFFFF; margin-top:12px; float:left;}
.nav .ff a{ background:#78a70b; color:#495644; position:relative; left:1px;}
.nav .ff span{ border-left:solid 1px #077c2b;}
.nav .search{ margin-top:8px; float:right;}
.nav .search .s01{ width:78px; height:25px; line-height:25px; text-align:center; background:#58594d; color:#FFFFFF; float:left; position:relative; z-index:1;}
.nav .search .s02{ width:130px; height:23px; line-height:23px; background:#FFFFFF; color:#282b29; border:solid 1px #707070; padding-left:30px; margin-right:30px; margin-left:5px;}
.nav .search span{ width:23px; height:23px; background:url(../images/tit.png) no-repeat; float:left; z-index:5; position:absolute; top:12px; right:165px;}

.bottom{ width:100%; height:100px; background:#077c2b;}
.bottom .bb{ width:820px; height:40px; margin:0 auto; padding-top:20px;}
.bottom ul li{ width:164px; line-height:40px; float:left;}
.bottom ul li span{ height:16px; color:#FFFFFF; border-left:solid 1px #FFFFFF; margin-top:12px; float:left;}
.bottom ul li a{ font-size:16px; color:#FFFFFF; padding-left:56px;}
.bottom .ff a{ border:none;}
.bottom p{ width:820px; height:26px; line-height:26px; text-align:center; margin:0 auto; color:#FFFFFF; font-family:"宋体"; padding-top:12px;}

