@charset "utf-8";
/* CSS Document */

.customer{ width:1200px; height:308px; margin:0 auto; position:relative; left:0; top:-48px;}
.customer .news{ width:386px; height:308px; background:#FFFFFF; color:#3b3838; float:left;}

.customer .news span{ height:47px; line-height:47px; padding:0 56px; font-size:20px; float:left;}
.customer .news .cur{ border:solid 1px #5e810d; border-bottom:none;  background:url(../images/tt_02.jpg); text-align:center; float:left;}
.customer .news .cur a{ color:#FFFFFF;}
.customer .news ul{ width:330px; height:168px; margin-top:30px; margin-left:20px; float:left;}
.customer .news ul li{ width:330px; height:42px; line-height:42px; font-family:"宋体"; border-bottom:dashed 1px #3b3838;}
.customer .news p{ width:330px; height:42px; line-height:42px; font-family:"宋体"; text-indent:2em;}
.customer .news ul li a:hover{ color:#1f71b6;}
.customer .product{ width:376px; height:308px; background:#FFFFFF; float:left; margin-left:20px; position:relative;}
.customer .product ul li{ width:360px; height:280px; margin:14px 8px; position:absolute; top:0; left:0; z-index:1;}
.customer .product i{ position:absolute; top:14px; right:8px; z-index:3}
.customer .product i span{ width:36px; height:28px; float:left; background:#dcdcdc; margin-left:3px;}
.customer .product .curr{ width:34px; height:26px; background:#398b33; border:solid 1px #136b0f;}
.customer .product .curr b{ width:34px; height:26px; background:url(../images/icon02.png); float:left;}
.customer .product big{ width:360px; height:43px; background:#000000; opacity:0.5; position:absolute; bottom:0; left:0; z-index:5;}
.customer .product p a{ width:360px; height:43px; line-height:43px; text-align:center; color:#FFFFFF; position:absolute; bottom:0; left:0; z-index:9;}
.customer .consult{ width:360px; height:308px; background:#FFFFFF; float:left; margin-left:20px; position:relative;}
.customer .consult span{ font-size:26px; color:#178c48; margin:10px 0 10px 15px; display:block;}
.customer .consult p{ font-size:18px; color:#262626; margin:10px 15px;}
.customer .consult big{ width:auto; height:32px; line-height:32px; font-size:32px; color:#077c2b; background:url(../images/08.png) no-repeat; padding-left:38px; display:block; margin-left:15px;}
.customer .consult .web{ margin-left:15px; margin-top:22px;}
.customer .consult .qq{ float:left;}
.customer .consult .qq p{ font-size:14px; font-family:"宋体"; margin-left:0;}
.customer .consult .qq p a{ margin-right:48px; color:#484844;}
.customer .consult .qq span{ font-size:14px; font-family:"宋体"; margin-left:0;}
.customer .consult .qq span a{ width:86px; height:25px; line-height:27px; text-align:right; background:url(../images/06.png) no-repeat 4px 1px; border:solid 1px #707070; border-radius:5px; float:left; padding-right:5px; margin-right:10px;}
.customer .consult .web .two{ margin-right:5px; float:right;}
.customer .consult b{ position:absolute; right:0; top:-78px;}

.main01{ width:1198px; height:548px; border:solid 1px #dcdcdc; background:#FFFFFF; margin:0 auto; margin-top:6px;}
.main01 h2{ width:100%px; height:55px; background:url(../images/11.png); border-bottom:solid 1px #dcdcdc; position:relative;}
.main01 h2 span{ width:192px; height:64px; background:url(../images/006.png); position:absolute; bottom:-1px; left:44px;}
.main01 h2 .right,.main02 h2 .right{ margin-right:30px; float:right;}
.main01 h2 .right b,.main02 h2 .right b{ width:10px; height:10px; background:#b4b1a9; border-radius:5px; margin:22px 5px; float:left;}
.main01 h2 .right .curr01,.main02 h2 .right .curr01{ background:#9b6d24;}
.main01 h2 .right p,.main02 h2 .right p{ width:18px; height:18px; background:#b4b1a9; border-radius:9px;  margin:17px 5px; float:left;}
.main01 h2 .right p i{ width:0; height:0; border-bottom:transparent solid 5px; border-top:transparent solid 5px; border-left:transparent solid 8px; border-right:#FFFFFF solid 8px; display:block; margin-left:-4px; margin-top:4px;}
.main01 h2 .right p big{ width:0; height:0; border-bottom:transparent solid 5px; border-top:transparent solid 5px; border-left:#FFFFFF solid 8px; border-right:transparent solid 8px; display:block; margin-left:6px; margin-top:4px;}
.main01 h2 .right .curr02,.main02 h2 .right .curr02{ background:#9b6d24;}
.main01 .goods{ margin-top:8px; margin-left:20px; position:relative;}
.main01 .goods ul{ position:absolute; top:0; left:0;}
.main01 .goods ul li{ margin-top:40px; margin-right:35px; float:left;}
.main01 .goods ul li p{ width:200px; text-align:center; padding-top:24px;}

.main02{ width:1200px; height:511px; background:#FFFFFF; margin:0 auto; margin-top:54px; margin-bottom:68px;}
.main02 h2{ width:1198px; height:55px; background:url(../images/11.png); border:solid 1px #dcdcdc; position:relative;}
.main02 h2 span{ width:192px; height:64px; background:url(../images/007.png); position:absolute; bottom:-1px; left:44px;}
.main02 .company01{ width:380px; height:340px; margin-top:45px; margin-left:24px; float:left;}
.main02 .company01 span{ font-size:20px; color:#a9722a;}
.main02 .company01 p{ line-height:26px; font-family:"宋体"; margin-top:25px; color:#524d4d; margin-bottom:76px;}
.main02 .company01 a{ width:102px; height:38px; line-height:38px; text-align:center; background:url(../images/16.png); border:solid 1px #698a1b; display:block; color:#FFFFFF;  font-family:"宋体";}
.main02 .company02{ width:374px; height:340px; color:#555452; margin-right:20px; margin-top:45px; float:left;}
.main02 .company02 p { font-size:18px; margin:20px 0;}
.main02 .company02 span{ font-family:"宋体"; line-height:26px;}
.main02 .company03{ width:374px; height:340px; color:#555452; margin-right:20px; margin-top:45px; float:left;}
.main02 .company03 p { font-size:18px; margin:20px 0;}
.main02 .company03 span{ font-family:"宋体"; line-height:26px;}

