body{text-align:center;	font-family:"Microsoft Yahei";text-align:center;	font-size:12px;color:#4F4F4F;}
.yelow{ color:#527800;}
/*头部*/
.header{ width:1000px; margin:0px auto;}
.header .head_m{ width:100%; height:120px; position:relative;}
.head_m .logo{ width:212px; height:83px; float:left; margin:20px 10px;}
.head_m .logo img{ width:212px; height:85px;}
.header .head_m .head_mr{ width:305px; position:absolute; right:0px; top:20px; height:80px; text-align:left;}
.head_mr p{ height:30px; line-height:30px; font-size:15px; color:#0095CC;}
.head_mr .search{ width:214px; height:34px; background:#F6F6F6; border:1px solid #ddd; position:relative; margin-top:3px;}
.head_mr .search input{ width:204px; height:34px; line-height:34px; padding:0px 5px; border:0px; background:none; position:absolute; left:0px; top:0px;}
.head_mr .search .s_btn{ width:36px; height:36px; background-color:#0096CD; background-image:url(../images/s_btn.png); background-position:center center; background-repeat:no-repeat; position:absolute; left:214px; top:-1px; cursor:pointer;}
.nav{ width:1000px; height:40px; margin:0px auto; position:relative;}
.nav .nav_l{ width:10px; height:40px; background:url(../images/nav_l.png) no-repeat; position:absolute; left:0px; top:0px;}
.nav .nav_r{ width:10px; height:40px; background:url(../images/nav_r.png) no-repeat; float:right;}
.nav .nav_m{ width:980px; height:40px; background:#3DA5D3; position:absolute; left:10px; top:0px;}
.nav_m li{ display:block; width:85px; height:30px; line-height:30px; float:left; margin:5px 25px;}
.nav_m li a{ color:#FFF; font-size:15px; display:block; width:85px; height:30px; line-height:30px;}
.nav_m li.now a , .nav_m li a:hover{ background:url(../images/nav_n.png) no-repeat;}
/*幻灯片*/
.banner{ width:1000px; overflow:hidden; height:350px; margin:0px auto; margin-top:5px;}
.banner_a{ height:230px;}
.banner_a img{ width:1000px; height:230px; vertical-align:top;}
#inner { width:1000px;margin: 0 auto;height:350px;overflow:hidden;}
.hot-event {padding: 0px;position: relative;}
.hot-event .switch-tab {text-align: center;	position:absolute;left:0px;top:320px;width:100%;height:30px;line-height:30px;z-index:99;}
.hot-event .switch-tab a, .hot-event .switch-tab .current {margin: 0 2px;display: inline-block;width:8px;height:8px;background:#3DA5D3;overflow: hidden;vertical-align:middle;text-indent:-9999px; border-radius:200px; -moz-border-radius:200px; -webkit-border-radius:200px;}
.hot-event .switch-tab .current {background:#95BE3A;width:9px;height:9px;}
.hot-event .event-item {height:350px;width:100%;position: absolute;z-index: 1;left: 0;top: 0;}
.hot-event .event-item .banner {display: block;	overflow:hidden;text-align:center;position:relative;margin:0px auto;}
.hot-event .event-item img {-webkit-box-reflect: below 0 -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(85%, transparent), to(rgba(255,255,255,.2)));border: 0;width:1000px;	height:350px;margin:0px auto;}
.hide-clip {position: absolute!important;clip: rect(1px 1px 1px 1px);clip: rect(1px,1px,1px,1px);padding: 0!important;border: 0!important;height: 1px!important;line-height: 0!important;width: 1px!important;overflow: hidden;}
/*幻灯片*/
.i_main{ width:1000px; margin:0px auto;}
.i_main .side_nav{ width:213px; height:334px; background:#46ABD6; float:left; overflow:hidden;}
.side_nav .title{ width:100%; height:55px; line-height:55px; background:#95BE3A; text-align:center; border-bottom:0px; margin:0px; padding:0px;}
.side_nav .title:hover{background:#95BE3A;}
.side_nav li{ width:100%; height:60px; line-height:60px; border-bottom:1px dashed #fff; padding-top:7px;}
.side_nav li a{ font-size:15px; color:#FFF;}
.side_nav li:hover , .side_nav li.now{ background:#006894;}
.i_main .i_about{ width:765px; height:332px; text-align:left; border:1px solid #ddd; float:right;}
.i_main .i_about .i_about_h{ width:100%; height:55px; line-height:55px;}
.i_main .i_about .i_about_h span{ margin-left:10px;}
.i_main .i_about .i_about_m{ width:745px; margin:10px; height:262px; overflow:hidden; font-size:14px; vertical-align:top; line-height:180%; font-size:14px; color:#888;}
.i_about .i_about_m img{ vertical-align:top; margin-right:10px; margin-bottom:10px; float:left;}
.pro_gd{ width:1000px; height:125px; margin:0px auto; overflow:hidden;}
.pro_gd .mar_m {width:2000000em;}
.marqueeleft {height:125px;width:100%;overflow: hidden;}
.marqueeleft ul {float: left;}
.marqueeleft li {float: left;display: inline;height:125px;overflow: hidden; margin-right:7px;}
.marqueeleft li .pic {display: block;overflow: hidden;width:192px;height:120px; border:1px solid #ddd;}
.marqueeleft li .pic img{width:172px;height:110px;vertical-align:top; margin:5px 10px;}
.marqueeleft li .txt {text-align: center;height: 23px;line-height: 23px;color:#555;}
.marqueeleft li .txt a{color:#555;}
.marqueetop {height:100%;width:125px;overflow: hidden;margin: 40px auto;}
.marqueetop li {padding: 5px 0;width:192px;height:125px;overflow: hidden;}
.marqueetop li .pic {display: block; width:172px;height:110px;overflow: hidden;}
/*底部*/
.foot{width:100%; min-width:1000px; margin:0px auto; height:40px; line-height:40px; text-align:center; background:#2E98C4; color:#FFF;}
.foot span{ margin-left:80px;}
/*底部*/
.i_main .s_right{ width:730px; float:right;}
.s_right .s_right_h{ width:100%; height:55px; line-height:55px; position:relative; border-bottom:2px solid #999;}
.s_right_h span{ height:55px; border-bottom:2px solid #006599; color:#006599; position:absolute; left:0px; top:0px; z-index:2;}
.s_right_h .s_search{ width:214px; height:24px; border:1px solid #ddd; background:#f6f6f6; float:right; margin-right:56px; margin-top:14px; position:relative;}
.s_right_h .s_search input{ width:204px; height:24px; line-height:24px; border:0px; background:none; padding:0px 5px; position:absolute; left:0px; top:0px;}
.s_right_h .s_search .s_btn{ width:36px; height:26px; position:absolute; left:214px; top:-1px; background-color:#0096CD; background-image:url(../images/ss_btn.png); background-position: center center; background-repeat:no-repeat; cursor:pointer;}
.s_right .s_main{ width:100%; padding:20px 0px; text-align:left; color:#929292; font-size:14px;}
.s_main .pro_a{ width:100%; margin-bottom:15px;}
.s_main .pro_a dt{ width:175px; height:158px; border:1px solid #ddd; float:left;}
.s_main .pro_a dt img{ width:175px; height:158px; vertical-align:top;}
.s_main .pro_a dd{ width:535px; float:right; line-height:190%; text-align:left;}
.s_main b{ height:30px; line-height:30px; color:#333333;}
.s_main .pro_b ul{ width:100%;}
.s_main .pro_b ul li{ width:50%; float:left; text-align:left; height:35px; line-height:35px;}
.s_main .pro_c ul li{ width:33%; height:248px; float:left; text-align:center;}
.s_main .pro_c ul li img{ width:230px; height:218px;}
.s_main .pro_c ul li p{ width:100%; height:30px; line-height:30px; font-size:14px; color:#000000;}
/*产品列表*/
.s_main .pro_list{ width:100%;}
.pro_list li{ width:175px; float:left; margin-right:10px; height:188px; margin-bottom:10px;}
.pro_list li .pro_t{ width:173px; height:158px; border:1px solid #ddd; text-align:center;}
.pro_list li:hover .pro_t{ border:1px solid #46ABD6;}
.pro_list li .pro_t img{ width:163px; height:148px; vertical-align:top; margin:5px;}
.pro_list li strong{ display:block; width:100%; height:30px; line-height:30px; text-align:center; font-size:14px; color:#006599; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.pro_list li:hover strong{ color:#333;}
/*产品列表*/
/*分页*/
.pages{ width:387px; height:35px; border:1px solid #ddd; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; margin-left:340px; margin-bottom:20px;}
.pages a{ display:block; height:35px; line-height:35px; border-left:1px solid #ddd; float:left; color:#999; font-size:14px; width:34px; text-align:center;}
.pages a.now{ border-left:0px;}
.pages a.now , .pages a:hover{ background:#2E98C4; color:#FFF;}
.pages .prev , .pages .next{ width:71px;}
.pages .prev{ border-left:0px;}
/*分页*/
/*关于我们*/
.s_about{ width:1000px; margin:0px auto; padding-bottom:20px; text-align:left;}
.s_about h3{ width:100%; height:50px; line-height:50px; margin-bottom:10px; font-size:24px; color:#527800; font-weight:bold;}
.s_about dl{ width:100%;}
.s_about dl dt{ width:283px; height:222px; float:left;}
.s_about dl dt img{ width:283px; height:222px;}
.s_about dl dd{ width:697px; float:right; text-align:left; font-size:14px; color:#999999; line-height:180%;}
.s_about dl dd p{ width:100%; text-indent:2em; margin-bottom:5px;}
/*关于我们*/
.contact dl dt{ width:448px; height:248px;}
.contact dl dt img{ width:448px; height:248px;}
.contact dl dd{ width:550px; float:right; font-size:16px;}
.contact dl dd p{ margin-top:10px;}
/*在线留言*/
.book{ width:1000px; margin:0px auto;}
.book li span , .book li input , .book li select , .book li textarea , .book li a , .book li i{ display:inline-block; *display:inline; zoom:1; height:30px; line-height:30px; margin-bottom:15px; vertical-align:top;}
.book li{ width:40%; float:left;}
.book li input , .book li select , .book li textarea{ border:1px solid #ddd;}
.book li input , .book li select{ width:185px; padding:0px 5px;}
.book li span{ width:60px; text-align:right;}
.book li.chang{ width:100%; clear:both;}
.book li textarea{ width:464px; height:110px; padding:5px; line-height:150%;}
.book li.chang input{ width:464px;}
.book li.yzm input{ width:155px;}
.book li.btn input{ width:90px; height:35px; margin-top:20px; margin-right:5px; cursor:pointer;}
.book li.btn i{ font-style:normal; margin-top:20px; color:#46ABD6;}
.book li.btn .tj{ background:#008AC8; color:#FFF; font-family:"Microsoft Yahei"; font-size:16px;}
.book li.btn .cz{ background:#BFBFBF; color:#FFF; font-family:"Microsoft Yahei"; font-size:16px;}
.book li.m_l{ margin-left:-150px;}
/*在线留言*/


