@charset "utf-8";
/* CSS Document */
#sitecontent { background: #1d1e20; }
/*顶部导航居右 */

#indexPage #mslider ul li p { color: #fff; }
#indexPage #mservice { background-color: #171717; }
#mservice .content .header p.title { color: #F3F3F3; }
#mservice .content .header p.subtitle { color: #707070; }
#mservice .serviceitem div p.title { color: #FDD947; }
.bx-wrapper { background: #171717; }
#indexPage #mproject { background-color: #18191b; }
.content .header p.title { color: #fff; }
.content .header p.subtitle { color: #656565; }
#projectmore { color: #FDD947; background: #262626; font-family: "HELVETICANEUELTPRO-THEX"; }
#leftcontrol ul li.active a span.circle { border-color: #A2A2A2; background-color: #A2A2A2; }
#indexPage a.more { color: #FDD947; border-color: #262626; background-color: #262626; border-radius: 0px; width: 60%; }
#projectpost .postbody a {background: #3B3B3B;
color: #FDD947;}
#category .label { background: #222224; }
#pages a.active, #pages a:hover { background: #03D522; }
.dropmenu ul li a.active { color: #474747; background: #FDD947; }
.dropmenu ul li a { color: #BBBBBB; background: rgba(17, 17, 17, 0.9); }
.dropmenu ul li { border-bottom: #2F2E35 1px solid; }
#indexPage #mnews { background-color: #1d1e20; }
#indexPage #mteam { background-color: #1A1A1A; }
#footer { background: #171717; }
#mteam .content .header p.title { color: #FFF; font-family: "HELVETICANEUELTPRO-THEX"; }
#mteam .teamitem { border-bottom: #3C3C3C 1px dotted; }
#leftcontrol ul li a { font-family: "HELVETICANEUELTPRO-THEX"; }
#indexPage #mslider { height: 370px; }
#indexPage #mslider ul li { height: 370px; }
#indexPage #mslider ul li p.title { font-size: 2rem; margin-top: 265px; font-family: "HELVETICANEUELTPRO-THEX"; }
#indexPage #mslider ul li p.subtitle { font-family: "HELVETICANEUELTPRO-THEX"; color: #6E6E6E; }
#newslist .newstitem .newsdate { background-color: #2D2D2D; width: 7.6rem; padding: 1rem 1rem 1rem 0; }
#newslist .newsinfo .md { color: #ECECEC; font-size: 2.4rem; line-height: 2.4rem; }
#indexPage a.more:hover { border: #262626 1px solid; background: #262626; }
/*案例*/
#projectlist .projectitem { padding-bottom: 50px; margin-right: 2%; width: 48%; margin-bottom: 2%; background-color: rgb(62, 62, 62); }
#projectlist .projectitem .project_info { height: 50px; position: absolute; width: 100%; bottom: 0; }
.projectitem .project_info p.title { margin-top: 10px; color: #e6e6e6; font-size: 13px; text-align: left; margin-left: 10px; }
.projectitem .project_info p.subtitle { color: #7E7E7E; font-size: 10px; margin-left: 10px; text-align: left; }
/*#projectlist .projectitem a .project_info::after {
    width: 0%;
    height: 50px;
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    background-color: #FDD947;
	margin-top: -50px;
    z-index: 0;
}
#projectlist .projectitem a:active .project_info::after {
     width: 100%;
}
#projectlist .projectitem .project_info div {z-index: 1;}*/


/*服务*/
#indexPage #mservice .slider_wrapper { height: 220px; }
.serviceitem img { height: 75px; }
.serviceitem { height: 168px; }
#mservice .bx-viewport { max-height: 370px; height: 300px; }
#indexPage #mservice .slider_wrapper .bx-controls-direction a { margin: 10px 20px; }
/*关于*/
#indexPage #mpage { background-color: #1d1e20; }
#newslist .newsbody .title { color: #fff; }
#indexPage #newslist #newsitem .newsimg { display: block; width: 280px; height: 180px; }
#indexPage #mpartner { background-color: #1d1e20; }
#indexPage #mpartner ul li img { height: 60px; }
#indexPage #mpartner .wrapper { height: 60px; }
#indexPage #mpartner ul { height: 60px; }
#servicelist .serviceitem {
border-bottom: #383838 1px dotted;
}
.serviceitem div p.title {
color: #fff;

}
.teamitem { border-bottom: #383838 1px dotted; }
#teampost .header .title {
color: #fff;
}
.postbody hr {

border-top: 1px dotted rgb(68, 68, 68);

}
.postbody {

color: #aaa;

}