@charset "utf-8";
/* CSS Document */
	font-size:12px;
	font-family:"微软雅黑";
	color:#666;
	}
	
ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}
li{
	list-style:none;
	}
ul li a{
	display:block;
	}
	
	
a{
	text-decoration:none;
	color:#666;
	outline:none;
	}

img{
	border:none;
}
input{
	border:1px solid #ccc;
	outline:none;
	}
textarea{
	border:1px solid #ccc;
	outline:none;
	}
form{
	margin:0px;
	padding:0px;
	}
table{
	cellspacing:0px;
	cellpadding:0px;
	}
img{
	border:none;
	}
a,img{border:0;}
.clear{
	claer:both;
	}
.clearfix{
    *zoom:1;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
a:focus{outline:none !important;}

a{outline:none !important;}