@charset "utf-8";
/* CSS Document */
.footer_phone p {
    color: #71706e;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}

/**  /nav  **/
#jPanelMenu-menu {
	background:#000;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	height: 40px;
	overflow:hidden;
	-webkit-overflow-scrolling: touch;
	z-index:9999999999999;
	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-ms-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
}
.jPanelMenu {
	height:100% !important;
	overflow-x: hidden !important;
	overflow-y: scroll !important;
	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-ms-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
}
.xpnav {
	width:100%;
	height:40px;
	text-align:center;
	position:relative;
}
.xpnav-btn {
	width:30px;
	height:40px;
	position:absolute;
	top:0;
	left:5%;
	cursor:pointer;
}
.xpnav-btn>span {
	display:block;
	width:60%;
	height:1px;
	background:#ae7e2c;
	margin:5px auto;
}
.xpnav-btn>span:nth-child(1) {
 margin-top:12px;
}
.xpnav>a>img {
	margin-top:3px;
}
#jPanelMenu-menu>ul {
	border-bottom: 1px solid #ae7e2c;
	border-top: 1px solid #ae7e2c;
	display:none;
	padding:0;margin:0
}

#jPanelMenu-menu li a {
	width:100%;
	background: #000;
	font-weight: 500;
	display: block;
	padding: 0.5em 5%;
	border-top: 1px solid #666;
	text-decoration: none;
	
	color: #fff;
	font-size:14px;
	font-family:"微软雅黑";
}
#jPanelMenu-menu li a:hover {
	color: #ae7e2c;
}
#jPanelMenu-menu li ul a {
	width:100%;
	background: #000;
	font-weight:500;
	display: block;
	padding: 0.2em 2%;
	border:none;
	text-decoration: none;
	color: #eee;
	font-size:12px;
	font-family:"微软雅黑";
}
#jPanelMenu-menu>ul>li>ul {
	display:none;
	padding:0;
	margin-left:30px;
}
#jPanelMenu-menu ul li ul li {
	line-height:30px;
	
}


/**  /banner  **/
.touch_slide {
	overflow: hidden;
}
.main_image {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	z-index: 5;
	position: relative
}
.main_image ul {
	overflow: hidden;
}
.main_image li {
	position:relative;
	float: left;
	width: 100%;
}
.banner_zi{
	width:100%;
	position:absolute; top:50%; left:0;
	text-align:center;
	margin-top:-59px;
	
	}	
	

.main_image li span {
	display: block;
	width: 100%;
}
.main_image li a {
	display: block;
	width: 100%;
}


/*---------index    brand-----------*/
@media(max-width:767px){
	.to_bottom {
    left: 60%;
}
	.sec4_top img{
		width:200px;
		}
	.sec3_top img{
		width:200px;
		}	
	.sec5_1{left:25%}
	.sec5_1>p{
	font-size:14px;
	margin-left:-100px;
	}	
	.section5{padding-top:150px;
	
	}
    .sec5_2{
	padding-left:0px;		
		width:280px;
	padding-top:20px;		
	border-top:1px solid #9a9b96;
	border-left:none;
	top:25%;
	left:12%;}
	.sec5_2>h5{
	font-size:12px;
	text-align:center;
	}
    .sec5_2>p{
	font-size:12px;
	text-align:center;
	
	}
	
	.sec5_1 img{width:100px;}
	.row{
		margin-right:0;margin-left:0;
		}
    .container1{
		padding-left:0;
		padding-right:0;
		}
	.sec4_con{padding-top:0;padding-bottom:20px;}
	.border_line{margin-top:0;margin-bottom:0;}
	.footer_phone p{margin:0;}
	
	
	
/*--品牌介绍--*/

	.title_inner{padding-bottom:10px;}
    .title_inner h2{font-size:18px;
	 margin-top: 10px;
    margin-bottom:5px;}
	.title_inner h4{
		padding-top:10px;
		margin-top: 0px;
    margin-bottom: 0px;
	font-size:12px;
	line-height:1;}
	.title_inner p{font-size:12px;}
	.content_about_inner p{font-size:12px;}
	.banner_inner{padding-bottom:0px;}
	
/*--/品牌介绍--*/


/*--文化--*/
     .about_inner4{margin-top:20px;}
	 .caoz{font-size:16px !important;}
/*--/文化--*/
	 
	 
	 
/*--工程案例--*/
	 .brand_top{left:5%;top:-49px;}
	 .brand_bottom{right:5%;bottom:-1px;}
	 .about_video h2{font-size:16px;margin-left:20px;}
	 .about_video{padding-top:0;}
	 
/*--/工程案例--*/
	 
	
/*--发展历程--*/
	.history_content{height:430px;overflow:hidden;
	
	}
	.history_list {
    top: 2%;
    }
	.title_inner2 {padding-bottom:0;}
	.title_inner2 h2{
	color:#FFF;font-size:16px;   
    margin-top: 10px;
    margin-bottom: 5px;
    }
    .title_inner2 h4{
	margin-top: 5px;
    margin-bottom: 0px;
	font-size:12px;
	line-height:1;
    }
    .title_inner2 p{
	color:#ccc;
	font-size:12px;
	letter-spacing:2px;
    }
	.history_list_zicon{margin-top:5%;}
	.history_list_zicon>p{
	font-size:12px;
	line-height:20px;
	}
    .history_list_zicon>h5{
	font-size:20px;
	}
	.show3_next {
    right: 5%;
}
.show3_prev {
    left: 5%;
}
.pic_bg_phone{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:9;
	background:#000;
   -webkit-transition: 0.5s linear;
	-moz-transition: 0.5s linear;
	-ms-transition: 0.5s linear;
	-o-transition: 0.5s linear;	
	transition: 0.5s linear;
	opacity:0 !important; 	
	}
/*---/发展历程*/

/*---最佳企业*/
.honnr_next {
    width: 30px;
    height: 30px;
}
.honnr_next>i, .honnr_prev>i {
    line-height: 30px;
}
.honnr_prev {
    width: 30px;
    height: 30px;
}
.fa-chevron-left:before {
  content: "\f053";
  margin-left:-5px;
  }
.fa-chevron-right:before {
  content: "\f054";
  margin-left:5px;
  
}
.honor{
		position:absolute; bottom:10%; left:67%;
	}
.honor h2{
	font-size:18px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#dab879;
	
	}
/*---/最佳企业*/

/*---人才资源*/
    .brand_donnot_list{padding-bottom:10px;}
	.brand_donnot_list h2{text-align:center;
	margin-top: 10px;
    margin-bottom: 5px;
	}
	.brand_donnot_list p{text-align:center;
	font-size: 12px;
	}
/*---/人才资源*/



/*-----content_honor------*/

    .content_honor_list {
    width: 30%;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -15%;
    } 
	
    .content_honor>a {
    width: 80px;
    line-height: 30px;
    bottom: 12%;
    left: 67%;
    margin-left: -100px;
    font-size: 12px;
	}
/*-----/content_honor------*/

/*-----合作伙伴--------*/
    .cooper_list_img>img{width:100%;height:100%;}
    .cooper_list_img{
		padding-top: 10px;
        padding-bottom: 0px;
		
		}
    .cooper_list {
    width: 80%;
	overflow:hidden;
	}
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 0px;
    padding-left: 0px;
}
.content_cooper {
    width: 100%;
    background: #e9e9e9;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
/*-----/合作伙伴--------*/



/*----联系我们--------*/
.con_nr1 {
    padding: 10% 0;
}
.con_nr1 h1 {
    font-size: 18px;
}
.con_nr1 p {
    margin-top: 15px;
    margin-bottom: 0px;
	font-size:12px;
}
.tel {
    width: 60%;
}
.tel p {
    font-size: 12px;
    padding-left: 2%;
    line-height: 20px;
}
.con_nr2 p{	font-size:12px;
}
.contact-bottom input[type="text"] {
    width: 100%;
 padding: 10px 10px;
 margin:20px 0;
}
.contact-bottom input[type="text"]:nth-child(2) {
    margin: 0px 0px;
}
.contact-bottom textarea {
    height: 5em;
    padding: 5px;
    margin-top: 3%;
}
.submit-btn input[type=submit] {
    padding: 5px 50px;
    font-size: 16px;
    margin: 30px 0 0 0px;
}
/*----/联系我们--------*/

	}
	
	
/*---产品---*/		
.pro_box_phone{
	width:100%;
	}
.cover_wrap_phone{ width:100%;height:500px; position:relative;}

.cover_pro_phone{ width:50%;height:250px;position:absolute;top: 0px;left:0px;cursor:pointer; text-align: center;background:url("../images/sec3_list1ax.jpg"/*tpa=http://www.fetty.cc/images/sec3_list1ax.jpg*/) left no-repeat; background-size:cover; }
			
.cover_activity_phone{width:50%;height:250px;position:absolute;top:250px;left:50%;cursor:pointer;text-align: center; background:url("../images/sec3_list3ax.jpg"/*tpa=http://www.fetty.cc/images/sec3_list3ax.jpg*/) right no-repeat; background-size:cover; }
			   
.cover_wait_phone{cursor: pointer;height:250px;position: absolute;top:0px;left:50%;width: 50%;text-align: center; background:url("../images/sec3_list2ax.jpg"/*tpa=http://www.fetty.cc/images/sec3_list2ax.jpg*/) center no-repeat;background-size:cover;}

.cover_wait1_phone{cursor: pointer;height:250px;position: absolute;top:250px;width: 50%;text-align: center; background:url("../images/sec3_list3_tongzhuangshiax.jpg"/*tpa=http://www.fetty.cc/images/sec3_list3_tongzhuangshiax.jpg*/) center no-repeat;background-size:cover;}

			  
.divimg_phone{ float:left; position:absolute;}
.divimg_bg_phone{
	width:100%;
	height:100%;
	background:#000;
	opacity:0.5;
    filter:alpha(opacity=50);
    -moz-opacity:0.5; 
    -khtml-opacity:0.5;
	}
.divimg_zi_phone{
	position:absolute; top:40%;
	left:30%;
	font-family:"微软雅黑";
	}
.divimg_zi_phone>h5{
	text-align:left;
	color:#FFF;
	font-size:18px;
	font-family:"微软雅黑";
	}
.divimg_zi_phone> .line_phone{
	width:20px;
	height:1px;
	background:#FFF;
	margin-top:15px;
	margin-bottom:15px;
	
	}	
.divimg_zi_phone>p{
	text-align:left;
	color:#FFF;
	font-size:12px;
	line-height:27px;
	}	




/*---------join----------*/
@media(max-width:767px){
	
/*---------加盟条件----------*/
.join_content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.join_condition_top {
    width: 60%;
    top: 5%;
    left: 25%;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
.join_condition_text {
    padding-left: 10%;
    padding-top: 5%;
	padding-right: 10%;
}
.join_condition_text p {
    font-size: 12px;
    line-height: 20px;
}
/*---------/加盟条件----------*/
/*---------加盟优势----------*/
.youshi_con_zi>h5 {
    font-size: 14px;
}
.youshi_con_zi>h2 {
	line-height:20px;
     font-size: 14px;
    margin-top: 10px;
	margin-bottom: 10px;
}
.youshi_con_zi>h3 {
    font-size: 16px;
	margin-top: 10px;
    margin-bottom: 10px;
}
.youshi_con_zi>p {
	position:absolute;
    width: 50%;
	top:10%;
	left:45%;
    font-size: 12px;
    margin-top: 30px;
    line-height: 25px;
}
.join_youshi {
    padding: 10px 0 50px 0;
}
.youshi_con_zi {
}
.youshi_num>ul>li {
    width: 42px;
    height: 40px;
    float: left;
    border-radius: 40px;
    border: 1px solid #6f6f6f;
    background: #0c0c0c;
    font-size: 15px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    color: #6a6a6a;
    margin: 0 15px;
    cursor: pointer;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}
.youshi_con_zi_phone7{padding-top:30px;
background:#e5e5e5;}
.youshi_con_l_phone7 h2{
	text-align:center;
	font-size:20px;
	padding-top: 30px;
	margin-top:0;
	}
.youshi_con_l_phone7 h3{
	text-align:center;
	font-size:18px;
	font-family:"微软雅黑";
	}
.youshi_xuhao{
	margin-left:47%;}
.youshi_con_zi_phone7>p{margin:0;
  font-size:12px;
  letter-spacing:1px;
  line-height:25px;
  padding:20px 20px;
  font-family:"微软雅黑";  
}
.youshi_xuhao img{width:15%;}
.youshi_xuhao h5{padding-left:7px;}	
/*---------/加盟优势----------*/



/*---------菲尔特服务----------*/

.join_process_inner>.col-lg-3, .join_process_inner>.col-md-3 ,.join_process_inner>.col-sm-3{} .join_process_inner>.col-xs-12{width:50%}
.join_process_list {
    padding: 0px;
    margin-top: 30px;
	margin-left:5px;
    margin-right:5px;

}
.join_process_inner {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
}
/*---------/菲尔特服务----------*/


/*---------加盟流程----------*/
.join_liuc>h5 {
    font-size:18px;
    margin-bottom: 15px;
}
.join_liuc>p {
    font-size: 12px !important;
    width: 70%;
    line-height: 20px;
}
.join_liuc {
    padding: 20px 0;
	overflow:hidden;
	height:840px;
}
.liuc_con_l {
    width: 50%;
    border-right: 1px solid #7f6020;
}
.liuc_con_r {
    width: 40%;
	
}
.liuc_con_r>ul {
    margin:0;
    padding:0;
    padding-top: 150px;
}
.liuc_con_l_zi {
    float: right;
    padding: 0px 0px;
	width:186px;
}
.liuc_con_l_zi>h2 {
    font-size: 12px;
}
.liuc_con_r_zi {
    float: left;
    padding: 0px 0px;
    width: 150px;
}
.liuc_con_r_zi>h2 {
    font-size: 12px;
}
.join_liuc_con>.col-sm-6,.join_liuc_con>.clp{width:50%}

.liuc1{
	position:relative; top:-80px; opacity:0;
	}
.liuc2{
	position:relative; top:80px; opacity:0;
	}
.liuc3{
	position:relative; top:80px; opacity:0;
	}
.liuc4{
	position:relative; top:-40px;left:188px; opacity:0;
	}
.liuc5{
	position:relative; top:100px;left:188px; opacity:0;
	}		

/*---------/加盟流程----------*/


/*---------在线加盟----------*/
.join_online{}
.liuyan p {
    font-size: 12px;
    margin-bottom: 5px;
}
.liuyan p textarea {
    height: 50px;
}
.liuyan-r {
	padding-top:10px;
}
.html_tijiao {
    width: 100%;
    margin-top: 20px;
}
.liuyan p input {
    width: 100%;
    height: 25px;
    border: 1px solid #999;
}
.html_tijiao_phone{
	line-height: 30px;
	
	}
/*---------/在线加盟----------*/
}
/*---------/join----------*/




/*---------products2----------*/
@media(max-width:767px){
.news-list-left h5 {
    width: 60%;
    margin-left: 30px;
    margin-top: 0px;
    font-size: 18px;
    margin-bottom: 0px;
    line-height: 20px;
}
.pro-con1-text {
    margin-left: 30px;
    margin-top: 10px;
	width:100px;
}
.pro-con1-text p {
    font-size: 12px;
	margin-bottom:0;
}

.news-list-right h5 {
    width: 70%;
    margin-left: 30px;
    margin-top: 0px;
    font-size: 18px;
    margin-bottom: 0px;
    line-height: 20px;
}
.showimg {
    margin-left: 0px;
}
}
/*---------/products2----------*/


/*---------products3----------*/
@media(max-width:767px){
.bg_phone_box {
    width: 100%;
    height: 100%;
    margin-top:50px;
	padding-bottom:20px;
}
.bg_phone{
	margin:0 auto;
	width:100px;
		border-bottom:1px solid #666;

	}
.bg_phone>h5 {
	font-family:"微软雅黑";
    text-align: center;
    font-size: 13px;
    color: #666;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 22px;
    position: relative;
    top: 50%;
    margin-top: -22px;
    text-transform: uppercase;
}
.bg_phone>h5>span{padding:10px 0;}
/*---------/products3----------*/

}
/*---------products4----------*/
@media(max-width:767px){
.pro_inner {
    padding: 10px 0 50px 0;
}
.pro_inner_r {
padding-left:30px;
padding-right:30px;
}
.pro_inner_r h2 {
    font-size: 24px;
	padding-top:20px;
}
.pro_inner_r h5 {
    font-size: 12px;
    margin-bottom: 0px;
}
.pro_inner_r span {
    font-size: 12px;
    line-height: 20px;
}
.pro_inner_r p {
    margin-top: 10px;
    font-size: 12px;
    line-height: 24px;

}
.fanhui {
    height: 40px;
    line-height: 40px;
    font-size: 10px;
    margin-top: 12%;
    width: 100px;
}
.fanhui a {
    display: block;
    background: url("../images/fanhui_btn.png"/*tpa=http://www.fetty.cc/images/fanhui_btn.png*/) no-repeat 100px center #000;
    background-size: 7px 12px;
    padding: 0 19px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-family: "微软雅黑";
}
.pro_inner_phone_door{margin:0 !important;}
.clm_phone{padding-bottom:30px !important;}
.pro_inner_phone_b{padding-bottom:0px !important;}
}
/*---------/products4----------* /


/*---------rec----------*/
@media(max-width:767px){

.neiye_neirongqu {
	width:100%;
	margin:0 auto;
}
.rec_zp_text_phone{
	padding:22px;
	color:#333;
	float:left;
	width:100%;
	font-family:'微软雅黑';
	font-size:14px;
	line-height:25px;
}
.news_content_inner {
    margin-bottom: 0px;
	left:8%;
}



}
/*---------/rec----------*/


/*---------news----------*/
@media(max-width:767px){
.news_content_inner_phone{
	width:100%;
	left:0% !important;}

.news_list_text {
    padding-top:10px;
	padding-bottom:0px;

}
.news_list_text  .news_list_text_more{padding-bottom:20px;
    color:#dab879;
	font-size:12px;
}
.news_list_text p {
    font-size: 12px;
    padding-top:0px;
    padding-bottom:20px;
	margin-bottom:0;
}
.news_list_text h2 {
    font-size: 16px;
    padding-bottom: 0px;
}
.news_content_text {
    top: 40%;
	 width: 50%;
	padding: 10px !important;
    line-height: 35px;
}
.news_content_text h2 {
    font-size: 14px;
	margin-top: 10px;
    margin-bottom: 0px;
}
.news_content_text p {
    text-align: right;
    font-size: 14px;
	margin-bottom:0;
}
.news_list_img{width:100%;height:283px;overflow:hidden;}
}
/*---------/news----------*/


/*---------newsinner----------*/
@media(max-width:767px){
.news_xiangqing {
   padding:20px;
   margin-bottom:20px;
  }
.news_content_inner h2 {
    font-size:14px;
	margin-top:5px;
	line-height:18px;
}
.news_content_inner h25 {
    font-size:12px;
}

.fanhui2 {
    width: 80px;
    line-height: 30px;
}
.news_content_text p {
    text-align: right;
    font-size: 12px;
    margin-bottom: 0;
	line-height:12px;
}
}
/*---------/newsinner----------*/

/*---------case----------*/
@media(max-width:767px){

.section_phone{height:400px !important;}
.tract2_tog1_num {
    width: 100%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.tract2_but_ico1 {
    font-size: 20px;
    position: absolute;
    top: 15%;
    z-index: 99999999;
    left: 30%;
}
.tract2_but_ico2 {
    font-size: 20px;
    position: absolute;
    top: 15%;
    right: 30%;
    z-index: 99999999;
}
.case_phone_one{float:left;
     background:#fff;
	 width:45%;
	 margin:5% 2.5%;

}
.content_case_phone{width:100%;
    padding-bottom:5%;


}
.case_phone{
	width:100%;
  
}
.case_phone_one h2{font-size:14px;
    font-family:"微软雅黑";
	text-align:center;
	
	
	}
.case_phone_one p{
	font-size:12px;
    font-family:"微软雅黑";
	text-align:center;
	color:#dab879;
	}
.case_phone_one a{ text-decoration:none;
    cursor:pointer;
}		
}
/*---------/case----------*/



/*---------case_inner----------*/
@media(max-width:767px){


.case_phone_one_b{
     background:#fff;
	 width:100%;
	 padding:5% 5%;
     margin-bottom:5%;
}
.content_case_phone_b{width:100%;
    padding-bottom:5%;


}
.case_phone_b{
	width:100%;
  
}
.case_phone_one_b h2{font-size:14px;
    font-family:"微软雅黑";
	text-align:center;
	
	
	}
.case_phone_one_b p{
	font-size:12px;
    font-family:"微软雅黑";
	text-align:center;
	line-height:25px;
	}
		
}
/*---------/case_inner----------*/
/*---------map----------*/
@media(max-width:767px){
.containermp {
    width: 100%;
	padding-left:15px;
	padding-right:15px;
  }
.rowmp{margin-left:15px;
    margin-right:15px;
}
.map_title {
	float:none!important;
	margin:20px auto;
}
.title_map {
	width:100%;
	margin:0 auto;
	text-align:center;
}
.title_map span {
	color:#999;
}
.title_map h3 {
	font-size:40px;
	text-transform:uppercase;
}

.title_mp {
	height: 30px;
	border-bottom: #000 solid 1px;
	position: relative;
	margin: 0 0 60px;
	line-height: 200px;
	text-align: center;
}
.title_mp h2 {
	display: inline-block;
	padding:0 50px;
	font-size: 20px;
	background:#fff;
	text-align: center;
	color: #4b3700;
	overflow: hidden;
	padding-top:0px;
}
.content_zongmp {
    width: 100%;
}

}





@media(min-width:767px) and (max-width: 1025px){
/*---------index  (net work) ipad----------*/
	.sec5_1{left:38%;
	
	top:10%}
	.sec5_1>p{
	font-size:14px;
	margin-left:-100px;
	}	
	.section5{padding-top:150px;
	
	}
    .sec5_2{
	padding-left:0px;		
		width:280px;
	padding-top:20px;		
	border-top:1px solid #9a9b96;
	border-left:none;
	top:25%;
	left:32%;}
	.sec5_2>h5{
	font-size:12px;
	text-align:center;
	}
    .sec5_2>p{
	font-size:12px;
	text-align:center;
	
	}
	
	.sec5_1 img{width:100px;}

/*---------index  (case) ipad----------*/

.index_anli  .row{margin:0 !important;}	
	
	

/*---------footer----------*/
.border_line {
    margin-top: 0;
    margin-bottom: 0;
}

.footer_phone p {
    margin-bottom:0 !important;
}



/*----------brand-----------*/
/*--工程案例--*/
     .content_know_pad{height:450px !important;}
	 .brand_top{left:5%;top:-98px;}
	 .brand_bottom{right:5%;bottom:-1px;}
	 .about_video h2{font-size:16px;margin-left:20px;}
	 .about_video{padding-top:0;}
	 
/*--honor--*/
.honor{
		position:absolute; bottom:4%; left:53%;
	}	 
	 
.honor h2{
	font-size:40px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#dab879;
	
	}
	
	
	
/*--contact--*/
.contact-bottom input[type="text"] {
    width: 100%;
 padding: 10px 10px;
 margin:20px 0;
}
.contact-bottom input[type="text"]:nth-child(2) {
    margin: 0px 0px;
}
.contact-bottom textarea {
    height: 5em;
    padding: 5px;
    margin-top: 3%;
}
.submit-btn input[type=submit] {
    padding: 5px 50px;
    font-size: 16px;
    margin: 30px 0 0 0px;
}





/*--case页面--*/
.case_phone_one{float:left;
     background:#fff;
	 width:45%;
	 margin:5% 2.5%;

}
.content_case_phone{width:100%;
    padding-bottom:5%;


}
.case_phone{
	width:100%;
  
}
.case_phone_one h2{font-size:14px;
    font-family:"微软雅黑";
	text-align:center;
	
	
	}
.case_phone_one p{
	font-size:12px;
    font-family:"微软雅黑";
	text-align:center;
	color:#dab879;
	}
.case_phone_one a{ text-decoration:none;
    cursor:pointer;
}

/*--case_inner页面--*/

.case_phone_one_b{
     background:#fff;
	 width:100%;
	 padding:5% 5%;
     margin-bottom:5%;
}
.content_case_phone_b{width:100%;
    padding-bottom:5%;


}
.case_phone_b{
	width:100%;
  
}
.case_phone_one_b h2{font-size:14px;
    font-family:"微软雅黑";
	text-align:center;
	
	
	}
.case_phone_one_b p{
	font-size:12px;
    font-family:"微软雅黑";
	text-align:center;
	line-height:25px;
	}




/*--join页面--*/
.col-sm-7 {
    width: 100%;
}
.col-sm-5 {
    width: 100%;
	padding:0 10%;
}
.join_condition_text {
    font-family: '微软雅黑';
    padding-top: 5%;
}

.join_content {
    padding-top: 150px;
    padding-bottom: 50px;
}


/*--news页面--*/
.title_inner h4 { margin-top:0;
padding-top:20px;
}






.join_process_list {
    border: 1px solid #a0a0a0;
    padding: 20px;
    text-align: center;
    color: #a0a0a0;
    margin-top: 30px;
}


.news_content_list {
    margin-top: 0px;
    position: relative;
}

.news_list_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.col-sm-6 {
    width:50%;
}
.liuc_con_l_zi {
    float: right;
    padding: 60px 15px;
	width:300px;
}
.liuc_con_r_zi {
    float: left;
    padding: 60px 15px;
    max-width: 300px;
}
.news_list_text_more {
    padding-bottom: 20px;
    color: #dab879;
    font-size: 12px;
}



.rec_zp_text {
    width: 360px;
}
.rec_tit {
    position: relative;
    top: 15px;
    left: 280px;
    z-index: 9999999;
    width: 400px;
}
.neiye_neirongqu {
    width: 100%;
    margin: 0 auto;
}



/*--products2页面--*/
.pro-con1-text {
    margin-left: 30px;
    margin-top: 10px;
    width: 100px !important;
}
.news-list-left h5 {
    width: 60%;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 0px;
    line-height: 20px;
}
.pro-con1-text p {
    font-size: 12px;
    margin-top: 20px;	
    margin-bottom: 20px;
}
.showimg {
    margin-left: 0px;
}
.news-list-right h5 {
    width: 70%;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 0px;
    line-height: 20px;
}


.news_list_zi {
    background: #FFF;
    text-align: center;
    padding: 20px 0 30px 0;
    font-family: "微软雅黑";
    border: 1px solid #d4d4d4;
    border-right: none;
	height:200px;
}

/************map ipad***********/
.map{ position:absolute;width:50%;left:10%;top:20%;}
.zmdbox{position:absolute;top:23%;left:18%;width:100%;background:rgba(0,0,0,0.9);border:#dab879 2px solid;height:400px;z-index:999;
}
.containermp {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.rowmp {
    margin-left: 15px;
    margin-right: 15px;
	height:60px;
}
.history_content{height:650px;overflow:hidden;
	background:url("../images/history_bga.jpg"/*tpa=http://www.fetty.cc/images/history_bga.jpg*/) center no-repeat;
	}
	
	
	
	

.news_list_zi>h5{
	font-size:16px;
	color:#000;
	height:34px;
	}
.news_list_zi>p {
    font-size: 14px;
    color: #666;
	height:40px;
}	
}

@media(min-width:992px) and (max-width: 1025px){
 .content_know_pad{height:500px !important;}
	
.news_list_zi {
    background: #FFF;
    text-align: center;
    padding: 20px 0 30px 0;
    font-family: "微软雅黑";
    border: 1px solid #d4d4d4;
    border-right: none;
	height:200px;
}
.join_liuc_pad{display:block !important;}
.join_online_pad{display:none;}
.join_onlinex_pad{display:none}
.join_online{
	background: url("../images/join_online.jpg"/*tpa=http://www.fetty.cc/images/join_online.jpg*/) center  no-repeat !important;
	height:860px;
	width:100%;
	margin:0 auto;
	/*background:#f2f1ed;
	padding-bottom:100px;*/
	font-family:'微软雅黑';
	
}


.footer_inner{
	width:94%;
	margin:0 auto;
}

.to_top{
	display:none;
	}
	

.erweima{
	width:30% !important;
	float:left;
	}
 
 .footer2{
	 width:70%!important;
	 float:right;
	 }
/**********news***********/
.news_list_text{
	background:#FFF;
	font-family:'微软雅黑';
	line-height:25px;
	padding:10px 50px;
	
	width:600px;
	margin-left:30px;
}
.news_button_left{
	position:absolute;
	left:41.5%;
	margin-left:-30px;
	width:60px;
	z-index:99999;
	top:45%;
}
.news_button_right{
	position:absolute;
	left:41.5%;
	width:60px;
	z-index:99999;
	top:45%;
}

.news_button_leftb{
	position:absolute;
	left:41.5%;
	margin-left:-30px;
	width:60px;
	z-index:99999;
	top:45%;
}
.news_button_rightb{
	position:absolute;
	left:41.5%;
	width:60px;
	z-index:99999;
	top:45%;
}


.news_button_leftc{
	position:absolute;
	left:41.5%;
	margin-left:-30px;
	width:60px;
	z-index:99999;
	top:45%;
}
.news_button_rightc{
	position:absolute;
	left:41.5%;
	width:60px;
	z-index:99999;
	top:45%;
}


/*******products2**********/
.news-list-left>p {
    width:100%;
    margin-left: 30px;
    font-family: "微软雅黑";
    color: #666;
    font-size: 15px;
    line-height: 25px;
    position: relative;
    opacity: 1;
    top: 10px;
}
.news-list-right>p {
    width:100%;
    margin-left: 30px;
    font-family: "微软雅黑";
    color: #666;
    font-size: 15px;
    line-height: 25px;
    position: relative;
    opacity: 1;
    top: 10px;
}

.news_list_zi>h5{
	font-size:16px;
	color:#000;
	height:34px;
	}

}
