*{
  margin:0px;
  padding:0px;
  font-family:Tahoma, Verdana, Garamond, Arial, sans-serif;
  font-size:12px;
  font-family:"ו";
  list-style-type:none;
  text-decoration:none;}
body{
  width:1002px;
  background-color:#D70000;
  margin:0 auto;}
img{
  border:none;}
a{
  color:#333333;
  text-decoration:none;}
a:link{
  text-decoration:none;}
a:hover{
  text-decoration:underline;}
form{
  margin:0px;
  padding:0px;}
clear{
  line-height:1px;
  clear:both;
  visibility:hidden;}
  
.top{width:980px; height:412px; margin:0 auto;}
.top1{width:980px; height:41px; background:url("../images/top1.jpg"/*tpa=http://www.021kd.com/dfyx/images/top1.jpg*/) no-repeat;}
.top2{width:980px; height:117px; background:url("../images/top2.jpg"/*tpa=http://www.021kd.com/dfyx/images/top2.jpg*/) no-repeat;}
.top3{width:980px; height:132px; background:url("../images/top3.jpg"/*tpa=http://www.021kd.com/dfyx/images/top3.jpg*/) no-repeat;}
.top4{width:980px; height:86px; background:url("../images/top4.jpg"/*tpa=http://www.021kd.com/dfyx/images/top4.jpg*/) no-repeat;}
.menuleft{float:left; width:156px; height:36px; background:url("../images/menuleft.gif"/*tpa=http://www.021kd.com/dfyx/images/menuleft.gif*/) no-repeat;}
.menuright{float:left; width:824px; height:36px; background:url("../images/menuright.gif"/*tpa=http://www.021kd.com/dfyx/images/menuright.gif*/) no-repeat;}
.menuright ul li{float:left; line-height:36px; font-size:14px; color:#fff; margin-left:5px;}
.menuright ul{margin-left:5px;}
.menuright a{color:#fff; font-size:14px;}

.mid1{width:980px; height:287px; margin:0 auto; background:url("../images/bg1.gif"/*tpa=http://www.021kd.com/dfyx/images/bg1.gif*/) repeat-x;}

.mid1top{width:949px; height:53px; margin-left:15px; padding-top:5px; background:url("../images/yhhdtop.gif"/*tpa=http://www.021kd.com/dfyx/images/yhhdtop.gif*/) no-repeat left bottom;}
.mid1mid{width:949px; height:207px; background:url("../images/yhhdmid.gif"/*tpa=http://www.021kd.com/dfyx/images/yhhdmid.gif*/) repeat-y; margin-left:15px;}
.mid1bottom{width:949px; height:17px; background:url("../images/yhhdbottom.gif"/*tpa=http://www.021kd.com/dfyx/images/yhhdbottom.gif*/) no-repeat; overflow:hidden; margin-left:15px;}
.mid1midleft{float:left; width:369px; height:200px;}
.mid1midright{float:right; width:535px; height:190px; border:1px solid #85DC71; margin-top:4px; padding:2px;}
.mid1ys1{width:369px; height:45px; background:url("../images/ys1.gif"/*tpa=http://www.021kd.com/dfyx/images/ys1.gif*/) no-repeat; margin:2px 0 0 15px;}
.mid1ys1 p{width:295px; line-height:45px; margin-left:60px; color:#333;}
.mid1ys2{width:369px; height:45px; background:url("../images/ys2.gif"/*tpa=http://www.021kd.com/dfyx/images/ys2.gif*/) no-repeat; margin:6px 0 0 15px;}
.mid1ys2 p{width:295px; line-height:14px; margin-left:60px; padding-top:9px; color:#333;}
.mid1ys3{width:369px; height:45px; background:url("../images/ys3.gif"/*tpa=http://www.021kd.com/dfyx/images/ys3.gif*/) no-repeat; margin:6px 0 0 15px;}
.mid1ys3 p{width:310px; line-height:45px; margin-left:60px; color:#333;}
.mid1ys4{width:369px; height:45px; background:url("../images/ys4.gif"/*tpa=http://www.021kd.com/dfyx/images/ys4.gif*/) no-repeat; margin:6px 0 0 15px;}
.mid1ys4 p{width:295px; line-height:14px; margin-left:60px; padding-top:9px;  color:#333;}
.mid1mid1{width:935px;}

.bt1{font-size:14px; font-weight:bold; color:#fff;}
.td2{color:#FFFF66; font-weight:bold;}
.td3{color:#fff;}

.mid2{width:980px; margin:0 auto; background-color:#DBF5D5;}
.mid2top{width:949px; height:55px; margin:0 auto; background:url("../images/zfbtop.gif"/*tpa=http://www.021kd.com/dfyx/images/zfbtop.gif*/) no-repeat;}
.mid2mid{width:949px; height:788px; margin:0 auto; background:url("../images/zfmidbg.gif"/*tpa=http://www.021kd.com/dfyx/images/zfmidbg.gif*/) repeat-y;}
.mid2bottom{width:949px; height:17px; background:url("../images/zfbottom.gif"/*tpa=http://www.021kd.com/dfyx/images/zfbottom.gif*/) no-repeat; overflow:hidden; margin:0 auto;}
.mid2text{width:918px; height:740px; margin-top:4px; margin-left:auto; margin-right:auto;}
.mid2zfleft{float:left; width:617px; height:734px;}
.mid2zfright{float:right; width:290px; height:734px;}
.bllc{width:290px; height:282px;}
.hllctop{width:290px; height:23px; background:url("../images/lztop.gif"/*tpa=http://www.021kd.com/dfyx/images/lztop.gif*/) no-repeat;}
.bllc1{width:290px; height:46px; margin-top:4px; background:url("../images/lc1.gif"/*tpa=http://www.021kd.com/dfyx/images/lc1.gif*/) no-repeat;}
.blp1{width:180px; line-height:46px; color:#fff; font-size:14px; font-weight:bold; margin-left:70px;}
.bllc2{width:290px; height:46px; margin-top:5px; background:url("../images/lc2.gif"/*tpa=http://www.021kd.com/dfyx/images/lc2.gif*/) no-repeat;}
.blp2{width:180px; line-height:18px; color:#fff; font-size:14px; font-weight:bold; margin-left:70px; margin-top:5px;}
.bllc3{width:290px; height:46px; margin-top:5px; background:url("../images/lc3.gif"/*tpa=http://www.021kd.com/dfyx/images/lc3.gif*/) no-repeat;}
.bllc4{width:290px; height:46px; margin-top:5px; background:url("../images/lc4.gif"/*tpa=http://www.021kd.com/dfyx/images/lc4.gif*/) no-repeat;}
.bllc5{width:290px; height:46px; margin-top:5px; background:url("../images/lc5.gif"/*tpa=http://www.021kd.com/dfyx/images/lc5.gif*/) no-repeat;}
.blp4{width:220px; line-height:18px; color:#fff; font-size:14px; font-weight:bold; margin-left:70px; margin-top:5px;}
.jsys{width:275px; height:426px; margin-top:20px; margin-left:auto; margin-right:auto;}
.jsystop{width:275px; height:49px; background:url("../images/jsystop.gif"/*tpa=http://www.021kd.com/dfyx/images/jsystop.gif*/) no-repeat;}
.jsysmid{width:275px; height:366px; background:url("../images/jsysbg.gif"/*tpa=http://www.021kd.com/dfyx/images/jsysbg.gif*/) repeat-x;}
.jsysbottom{width:275px; height:11px; background:url("../images/jsysbottom.gif"/*tpa=http://www.021kd.com/dfyx/images/jsysbottom.gif*/) no-repeat; overflow:hidden;}
.jhystext{width:255px; height:366px; background-color:#fff; margin-left:10px;}

.jhystext ul{width:235px; margin-left:10px; padding-top:10px; font-size:13px;}
.jhystext ul li{width:235px; margin-top:10px; line-height:18px; border-bottom:1px dotted #333; padding-bottom:10px;}

.mid2midtext2{
	width:auto;
	height:39px;
	line-height:39px;
	font-size:14px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.mid2midtext2 img{float:left; margin-right:20px;}

.mid3{width:980px; height:650px; margin:0 auto;  background-color:#DBF5D5;}
.mid3top{width:949px; height:57px; background:url("../images/zdgqtop.gif"/*tpa=http://www.021kd.com/dfyx/images/zdgqtop.gif*/) no-repeat; margin:0 auto;}
.mid3mid{width:949px; height:568px; margin:0 auto;  background:url("../images/zfmidbg.gif"/*tpa=http://www.021kd.com/dfyx/images/zfmidbg.gif*/) repeat-y;}
.mid3bottom{width:949px; height:17px; background:url("../images/zfbottom.gif"/*tpa=http://www.021kd.com/dfyx/images/zfbottom.gif*/) no-repeat; overflow:hidden; margin:0 auto;}
.mid3mid p{width:890px; margin-left:40px; padding-top:10px; line-height:18px;}

.bottom{width:980px; height:155px; background-color:#fff; margin:0 auto;}
.bottomtext{width:960px; height:137px; margin-left:10px; padding-top:10px; background:url("../images/kdwlgoo.gif"/*tpa=http://www.021kd.com/dfyx/images/kdwlgoo.gif*/) no-repeat left top;}

.bottomtextz{width:640px; line-height:16px; margin-left:300px; padding-top:15px; color:#333;}
.bottomtextz a{color:#333;}
