@charset "utf-8";body{margin:0;padding:0;font-family:"微软雅黑",Arial,"宋体",sans-serif}
a{text-decoration-line:none}
a img{border:0}
h1,h2,h3,h4,h5,p{margin:0;padding:0}
ul{list-style-type:none;padding:0}
.center{width:1000px;margin-left:auto;margin-right:auto}
.top_content{height:95px;width:100%;float:left}
.logo{width:224px;height:78px;float:left;margin-top:10px}
.sou{position:relative;float:left;height:35px;width:386px;margin-top:30px;margin-left:30px}
.input{width:365px;height:35px;border:1px solid #ccc;border-radius:2px;color:#333;margin-top:0;margin-right:auto;margin-bottom:0;margin-left:auto;padding-top:0;padding-right:10px;padding-bottom:0;padding-left:10px}
.go{position:absolute;display:block;top:0;right:0;width:40px;height:35px;background:url("images/sou.png"/*tpa=http://www.ka-cn.com/special/20141101/images/sou.png*/) 9px 7px no-repeat;cursor:pointer}
.rig{float:right;height:67px;width:250px;margin-top:15px}
.rig img{float:left;margin-top: 15px;}
.rig a{color:#FFF;text-decoration:none;font-size:14px}
.buttom{display:block;height:25px;line-height:25px;width:80px;float:left;background-color:#00a0e9;text-align:center;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;margin-top:25px;margin-left:10px}
.nav{height: 56px;float: left;text-align: center;width: 100%;background-color: #000;color: #FFF}
.ul_1{margin:0}
.ul_1 li{display:inline;line-height:56px;height:56px;width:150px;float:left}
.nav a{color:#FFF;text-decoration:none;height:56px;width:150px;display:block;line-height:56px}
.nav a:hover{background-color: #313131}
.banner{float: left;width: 100%;height: 540px;background: #23a6d2 url("images/banner.gif"/*tpa=http://www.ka-cn.com/special/20141101/images/banner.gif*/) no-repeat center bottom;text-align: left;font-family: "微软雅黑";color: #243b5a;padding-top: 59px;font-weight: bold;}
.banner_l{float: left;width: 605px;height: 330px;}
.banner_l img {float: left;}
.banner_l h1{font-weight: 200;font-size: 18px;margin-left: 5px;margin-top: 10px;float: left;text-align:left;width: 100%;height: 30px;line-height: 30px;}
.banner_l h2{float: left;width: 100%;height: 50px;line-height: 50px;}
.banner_l h3{font-weight: 200;font-size: 30px; font-family:'微软雅黑';margin:10px 0 20px 0px;float: left;text-align:left;width:90%;height: 30px;line-height: 30px;text-shadow:5px 2px 6px #3874e1;}
.banner_l ul li {  line-height: 35px; padding-left: 40px; margin-top: 10px; margin-bottom: 10px;margin-left: 5px;float: left;text-align: left;width: 100%;font-size: 22px;font-weight: 100;}
.banner_l ul {float: left;height: 230px;width: 100%;padding:10px 0 0 10px; color:#FFF;}
.banner_l span {font-size: 20px;color: #FFF;margin-top: 15px;margin-left: 5px;float: left;font-weight: 100;}
.b_ico1{background:url("images/ico11.png"/*tpa=http://www.ka-cn.com/special/20141101/images/ico11.png*/) no-repeat center left;}
.b_ico2{background:url("images/ico22.png"/*tpa=http://www.ka-cn.com/special/20141101/images/ico22.png*/) no-repeat center left;}
.b_ico3{background:url("images/ico33.png"/*tpa=http://www.ka-cn.com/special/20141101/images/ico33.png*/) no-repeat center left;}
.b_ico4{background:url("images/ico44.png"/*tpa=http://www.ka-cn.com/special/20141101/images/ico44.png*/) no-repeat center left;}
.table2 a{display:block;height:40px;width:90%;margin-right:auto;margin-left:auto;margin-top:0px;line-height:40px;color:#FFF;text-decoration:none;border:1px solid #FFF;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;background-color:#2ab8da;text-align:center}
.table2 a:hover{background-color:#21A6D8}
.b1{float:right;width:360px;height:350px;background-color:#FFF;color:#333}
.b1 td{line-height:30px}
.b1 h1{  text-align: center;height: 60px;width: 350px;font-size: 22px;line-height: 50px;font-weight: 100;color: #2d2d2d;margin-bottom: 20px;background: url("images/k_bg.jpg"/*tpa=http://www.ka-cn.com/special/20141101/images/k_bg.jpg*/) no-repeat center bottom;}
.b1_input{width:150px;border:1px solid #CCC;padding:5px}
.b1_select{width:161px;}
.b1_input2{width:120px;border:1px solid #CCC;padding:5px; margin-right:5px;}
.b1_input3{width:70px;border:1px solid #CCC;padding:5px; margin-right:5px;}
.j1{margin:20px 0;float:left;width:100%}
.c1{margin:20px 0;float:left;width:100%}
.c1 ul{height:auto;margin-left:auto;margin-right:auto;text-align:center}
.c1 li{display:inline;min-height:250px;line-height:30px;float:left;height:auto;width:1000px;;text-align:left; padding-bottom:40px;}
.c1 h1{color:#23a6d2;font-weight:100;font-size:30px;margin-bottom:20px;}
.rl{float: right;width: 600px;margin-top: 10px;}
.fl{float:left;height: 150px;width: 670px;margin-top: 50px;}
.c1_1{background:url("images/b1.jpg"/*tpa=http://www.ka-cn.com/special/20141101/images/b1.jpg*/) no-repeat left center;}
.dj{height: 90px;width: 100%;float: left;padding-top:20px; background:url("images/dj_bg.jpg"/*tpa=http://www.ka-cn.com/special/20141101/images/dj_bg.jpg*/) no-repeat center bottom;	}
.dj_k{ float:left;padding-left:55px; margin: 0 40px;height: 50px;} 
.dj_k h3{ font-size:18px; font-weight:100; }
.dj_k h4{ font-size:14px; font-weight:100; }
.username {width: auto;height: 67px;line-height: 67px;float: left;margin-left: 10px;}
.rig{width:auto;}
.foot{float:left;width:100%;padding:30px 0;}
.foot_l{float:left;width:280px;height:120px}
.foot_l_l{ float:left;width:100px; margin-right:15px;}
.foot_l_l img{ margin:5px 0px;}
.foot_l img{float:left;margin-right:10px}
.foot_l span{float:left;width:100%;line-height:30px}
.foot_r{float:right;width:680px;padding-left:30px;border-left:1px dashed #CCC}
.foot_k{float:left;height:auto;width:150px;margin-right:10px}
.foot_k p{font-size:16px;margin:0;padding:0}
.foot_k a{font-size:14px;color:grey;text-decoration:none}
.foot_k a:hover{color:#23a6d1}
.copy{float:left;width:100%;border-top-width:1px;border-top-style:dashed;border-top-color:#CCC; font-size:14px; padding:10px 0;}
.copy img{ margin: 0 20px;}
.buttom_kf{ 
height:25px;line-height:25px;width:80px;float:left;background-color:#00a0e9;text-align:center;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;margin-top:35px;margin-left:10px;
display:none;}
.table1{float:left; width:360px;}
.table2{float:left;width:360px;}
.tr_money{ padding: 0 0 10px 25px;}
.tr_money a{background-color: #fff; display:block; padding: 0px 10px;border: solid 1px #c3c3c3;float: left;-moz-border-radius: 3px;  -webkit-border-radius: 3px; border-radius:3px; color:#333;  margin:0 8px 5px 0; cursor:pointer;}
.tr_money a:hover{background-color: #2ab8da;border: solid 1px #0f9abb;color: #fff;}
.tr_money a.active{background-color: #2ab8da;border: solid 1px #0f9abb;color: #fff;}
@media only screen and (min-width:670px) and (max-width:1024px){.center{width:650px}
.sou{display:none}
.banner{ text-align:center; height:780px; background-size: auto 450px; padding-top:20px; border:none;}
.banner_l{ height:300px;}
.banner_l h1{font-size:22px;}
.banner_l{width: 600px;margin: 0 auto 100px auto;float: none;}
.banner_l ul li {}
.banner_l ul {float: left;height: 250px;width: 100%;}
.b1{ width:600px; margin:0 auto;float:none; border:solid 1px #CCCCCC; }
.b1 h1{ width:600px;}
.table1{ width:300px; float:none; margin:0 auto; }
.table2{ width:300px; float:none; margin:0 auto; }
.ul_1 li{width:105px}
.nav a{width:105px}
.c1{ margin-top:0;}
.c1 li{width:650px;min-height:300px}
.c1 h1{font-size:24px;}
.c1_1{background-size:250px auto;}
.fl{height:250px;width:320px;margin-left:20px;}
.rl{height:250px;width:380px;margin-left:20px; margin-top:0px; }
.foot{ border-top: solid 3px #263e61;}
.foot_r{float:none;width:610px;margin:0 auto;border-left:none;height:230px}
.foot_k{width:140px}
.foot_l{float:none;margin:0 auto}
.buttom_kf{ display:none;}
.dj{ display:none;}
.product_app{margin:0 auto;height:auto;width:650px;text-align:left; padding-bottom:40px;}
.ka_div{width:22%;margin-right:3%;margin-top:0px;height:44px; line-height:44px; vertical-align:middle; text-align:center; background:#ff8800; font-size:14px;float:left;}
.ka_div a{color:#fff;text-decoration:none;}
.ng{ display:none}
.pc{ display:none;}
.phone{ display:block;}
.phone img{ width:600px; height:auto; margin:10px 0px;}

}
@media only screen and (min-width:540px) and (max-width:669px){
.center{width:520px}
.top_content{height:auto}
.zx{display:none}
.logo{width:100%;text-align:center}
.rig{text-align:center;height:50px;margin:0 auto;margin-right:105px;width:280px;}
.rig a{margin-top:15px;}
.sou{display:none}
.banner{ text-align:center; height:720px; background-size: auto 400px; padding-top:20px; border:none;}
.banner_l h3 { display:none}
.banner_l span { width:100%;}
.banner_l  h1{ display:none}
.banner_l h2{}
.banner_l{width:380px; margin:0 auto 120px auto; float:none;height: 280px;}
.banner_l ul li {margin-left: 10px;}
.banner_l ul {margin-top: 60px; height:250px;}

.b1{ width:480px; margin:0 auto;float:none; border:solid 1px #CCCCCC; height:350px;}
.b1 h1{ width:480px;}

.table1{ margin: 0 auto; width:300px; float:none}
.table2{ margin: 0 auto; width:300px;float:none}
.ul_1 li{width:33%}
.nav{height:56px; overflow:hidden;}
.nav a{width:143px;padding:0 18px}
.tb{display:none}
.uu{display:none}
.cbg{display:none}
.c1 li{width:520px;min-height:300px; padding-bottom:0px;}
.c1 h1{font-size:24px}
.c1_1{ background:none }
.fl{height:250px;width:320px;margin-left:20px;margin-top:20px;}
.rl{height:250px;width:480px;margin-right:20px;margin-top:20px;}
.b1 ul{margin-left:40px}
.b1 li{float:left;height:68px;width:172px;margin-right:20px;margin-left:20px;text-align:center;padding-top:20px}
.foot{ border-top: solid 3px #263e61;}
.foot_r{ display:none;}
.foot_k{width:140px}
.foot_l{float:none;margin:0 auto}
.buttom_kf{ display: block;}
.username {width: auto;height: auto;line-height: 25px;;float: left;margin-left: 10px;}
.buttom_kf{ margin-left:0px;}
.dj{ display:none;}
.product_app{margin:0 auto;height:auto;width:520px;text-align:left; padding-bottom:40px; text-align:center;}
.ka_div{width:42%;margin-right:4%;margin-left:4%;margin-top:30px;height:50px; line-height:50px; vertical-align:middle; text-align:center; background:#ff8800; font-size:20px;float:left;}
.ka_div a{color:#fff;text-decoration:none;}
.ng{ display:none}
.kf{ display:none}
.pc{ display:none;}
.phone{ display:block;}
.phone img{ width:520px; height:auto; margin:10px 0px;}
}
@media only screen and (min-width: 320px) and (max-width: 540px) {
.pl158_40{padding-left:0px;}
.pl42{padding-left:42px;}
.center{width:300px}
.top_content{height:auto; padding-bottom:8px;}
.zx{display:none}
.logo{width:100%;text-align:center}
.rig{text-align:center;height:auto;margin:0 auto;margin-right:0px;width:280px;}
.rig a{margin-top:15px; }
.sou{display:none}
.banner{ text-align:center; height:700px;  padding-top:20px; border:none;background-size: auto 420px;}
.banner_l ul {height: auto; margin:0 auto; margin-top:40px;}
.banner_l h3 {display:none}
.banner_l span {line-height: 30px;height: 30px;width:280px;text-align:center; font-size:24px;}
.banner_l  h1{ display:none}
.banner_l  h1{font-size:22px;}
.banner_l h2{float: left;}
.banner_l{width:300px; margin:10px auto 50px auto; float:none;height: 260px;}
.banner_l h2 img{ width:280px; height:auto}
.b1{ width:298px; margin:0 auto;float:none; border:solid 1px #CCCCCC; height:340px;}
.b1 h1{ width:300px;}
.table1{ margin: 0 auto; width:300px;}
.table2{ margin: 0 auto; width:300px;}
.ul_1 li{width:33%}
.nav{height:56px; overflow:hidden;}
.nav a{width:100px;padding:0 0px}
.tb{ display:none}
.uu{ display:none}
.cbg{ display:none}
.c1 li{width:300px;min-height:380px; font-size:14px;}
.c1 h1{font-size:24px}
.c1_1{ background:none; }
.fl{height:250px;width:270px;margin-left:5px;margin-top:20px;}
.rl{height:250px;width:270px;margin-right:5px;margin-top:20px;}
.b1 ul{margin-left:40px}
.banner_l ul li {line-height:35px;padding-left: 40px; font-size:16px;margin-top: 5px;margin-bottom: 5px;margin-left: 5px; width:90%; float:left; text-align:left;}
.b1 li{float:left;height:68px;width:172px;margin-right:20px;margin-left:20px;text-align:center;padding-top:20px}
.foot{ border-bottom:solid 3px #263e61; height:90px; padding:10px 0;} 
.foot_r{ display:none;}
.foot_k{width:140px}
.foot_l{float:none;margin:0 auto; width:200px;}
.foot_l span { width:200px;}
.foot_l_l{ width:200px;}
.er{display:none}
.buttom_kf{ display: block;}
.username {width: auto;height: auto;line-height: 25px;;float: left;margin-left: 10px;}
.buttom_kf{ margin-left:0px;}
.dj{ display:none;}
.product_app{margin:0 auto;height:auto;width:300px;text-align:left; padding-bottom:40px; text-align:center;}
.ka_div{width:90%;margin-right:4%;margin-left:4%;margin-top:20px;height:40px; line-height:40px; vertical-align:middle; text-align:center; background:#ff8800; font-size:20px;float:left;}
.ka_div a{color:#fff; text-decoration:none;}
.ng{ display:none}
.kf{ display:none}
.pc{ display:none;}
.phone{ display:block;}
.phone img{ width:300px; height:auto; margin:10px 0px;}
.c1{ margin:0 0 0px 0;}

}
@media only screen and (max-width: 320px) {
	.ng{ display:none}
	.pc{ display:none;}
}
.icon-chat {
	position: relative;
}
.icon-chat:hover .chat-tips {
	display: block;
}
.chat-tips {
	width:138px;
	height:138px;
	padding: 10px;
	border: 1px solid #d1d2d6;
	position: absolute;
	right: 270px;
	top: -115px;
	background-color: #ffffff;
	display: none;
}
.chat-tips img {
	width: 138px;
	height: 138px;
}