@charset "utf-8";body{background:#fff;font-size:12px;font-family:"宋体",Verdana,Arial;line-height:150%;margin:0;padding:0;color:#222}
.home_bg{width:100%;height:100%}
.cart a{color:#A0410A!important}
div{margin:0 auto;padding:0}
dd,dl,dt,form,h1,h2,h3,h4,h5,h6,img,li,p,ul{margin:0;padding:0;border:none;list-style-type:none}
img{margin:0;padding:0;border:0}
.word{word-break:break-all}
a{color:#222;text-decoration:none}
a:link{text-decoration:none}
a:visited{color:#222;text-decoration:none}
a:hover{color:#fd843d;text-decoration:none}
a:active{color:#222;text-decoration:none}
h1,h2,h3,h4,h5,h6{font-size:12px}

.block{width:1200px;height:auto;color:#626262;line-height:25px;padding-top:10px}
.block a{color:#626262}
.f_l{float:left}
.f_r{float:right}
.center{width:1200px;margin:0 auto}
.top{line-height:23px;height:23px;width:100%}
.top a:hover{color:#000}
.top_r{float:right;height:25px;line-height:25px;padding:0 10px}
.Collection{width:150px;height:22px;float:left;padding-left:26px;line-height:22px;margin:0;cursor:pointer;background-image:url("../images/kacn_top_scwz.gif"/*tpa=http://www.ka-cn.com/spgoods/images/kacn_top_scwz.gif*/);background-repeat:no-repeat;background-position:0 0;display:block}
.head{width:100%;height:80px}
.logo{width:200px;padding:0!important;text-align:left;  margin-top: -1px;}
.f2{font-weight: bold;}
.cursor_not{cursor: not-allowed;}
.bg_color_FF8993{background-color: #ff818c !important;}

.kacn_top_xx{color: #000;height: 26px;line-height: 26px;margin: 0 0 0 0;cursor: pointer;position: relative;z-index: 9999;}
.kacn_top_xx span{padding:5px 5px 7px 5px;}
.kacn_top_xx ul{background: #fff;display: none;z-index: 9999; list-style-type: decimal;}
.kacn_top_xx:hover ul{display:block;width:230px;height:auto;backgrond:#fff; list-style-type: decimal; position:absolute;top:18px;left:-20px;z-index:9999; border:solid 1px #ccc;box-shadow: 0px 2px 2px 1px #999;}
.kacn_top_xx li{line-height: 30px;float: left;height: 30px;width: 210px;padding: 0 8px;color: #717171;}
.kacn_top_xx a{height: 30px;width: 220px; display:block; list-style-type: decimal;}

.search{margin-left:120px;margin-top:7px;width:420px}
.kacn_toubu_sousuo{width:402px;float:left;margin-top:0}
.kacn_toubu_sousuo_text{width:305px;height:29px;margin-top:0;float:left;font-size:12px;line-height:26px;padding-left:15px;border:solid 1px #ff8c01;color:#999;outline:0}
.kacn_toubu_sousuo_botton{width:81px;height:33px;float:left;border:0;cursor:pointer;margin-left:-2px;font-size:14px;font-weight:700;color:#FFF;padding-top:0;background-image:url("../images/search_btn.jpg"/*tpa=http://www.ka-cn.com/spgoods/images/search_btn.jpg*/);background-repeat:no-repeat}
.kacn_toubu_layout{width:382px;float:left;margin:-10px 0 0 0}
.kacn_toubu_right_layout{float:right;width:310px;margin-top:7px}
.kacn_toubu_right_layout a{color:#000}
.kacn_toubu_right_layout a:hover{color:#fd843d}
.home_hot_keyword{width:402px;overflow:hidden;float:left;margin-top:0;margin-bottom:10px}
.home_hot_keyword strong{float:left;font-size:12px;font-weight:400;color:#065a91}
.home_hot_keyword a{float:left;font-size:12px;padding:0 2px;color:#065a91!important;word-break:keep-all}
.home_hot_keyword a:hover{text-decoration:underline}
.kf{width:320px;margin-top:19px}
.kf a{margin-right:3px}
.k1{background:url("../images/kimg.jpg"/*tpa=http://www.ka-cn.com/spgoods/images/kimg.jpg*/) no-repeat;float:left;height:46px;width:46px;margin-top:5px}
.k1:hover{background:url("../images/kimg.jpg"/*tpa=http://www.ka-cn.com/spgoods/images/kimg.jpg*/) no-repeat 0 -62px}
.k2{background-image:url("../images/pp.gif"/*tpa=http://www.ka-cn.com/spgoods/images/pp.gif*/);background-repeat:no-repeat;float:left;height:46px;width:46px;margin-top:5px}
.k2:hover{background:url("../images/kimg.jpg"/*tpa=http://www.ka-cn.com/spgoods/images/kimg.jpg*/) no-repeat -180px -67px}
.k3{background:url("../images/kimg.jpg"/*tpa=http://www.ka-cn.com/spgoods/images/kimg.jpg*/) no-repeat -130px 0;float:left;height:46px;width:46px;margin-top:5px}
.k3:hover{background:url("../images/kimg.jpg"/*tpa=http://www.ka-cn.com/spgoods/images/kimg.jpg*/) no-repeat -130px -62px}
.k4{background:url("../images/kimg.jpg"/*tpa=http://www.ka-cn.com/spgoods/images/kimg.jpg*/) no-repeat -65px 0;float:left;height:46px;width:46px;margin-top:5px}
.k4:hover{background:url("../images/kimg.jpg"/*tpa=http://www.ka-cn.com/spgoods/images/kimg.jpg*/) no-repeat -65px -62px}
.kacn_daohang_box{width:100%;height:40px;background-color:#36a9e2;min-width:1200px}
.kacn_daohang_layout{width:1200px;margin:0 auto;text-align:center;background-color:#36a9e2}
.kacn_daohang{height:40px;margin-bottom:0;width:1200px;float:left}
.kacn_daohang_menu{height:40px;float:left;margin:0;list-style:none}
.kacn_daohang_menu .cur {background-color: #0772a7;}
.kacn_daohang_menu li{float:left;height:40px;line-height:40px;margin:0;padding:0;list-style:none}
.kacn_daohang_menu li a{float:left;font-size:14px;font-weight:700;color:#fff;margin:0}
.kacn_daohang_menu li a span{float:left;height:40px;padding:0 15px;margin:0}
.kacn_daohang_menu li a:hover{color:#fff;text-decoration:none;cursor:hand}
.kacn_daohang_menu li a:hover span{background-color:#0772a7;cursor:hand}
.kacn_daohang_menu_hover span{background-color:#0772a7}
.kacn_daohang_menu_gouwuche{float:right}
.kyye_div{padding-left:10px;margin:4px 10px 0 0;background-color:#76b9ff;height:32px;line-height:32px;text-align:left;font-size:14px;color:#fff;border-radius:5px;text-shadow:0 1px 1px #28517b;font-weight:700}
#userBanlance a{color:#fff}
#userBanlance a:hover{color:#0772A7;text-shadow:0 1px 1px #fff}
.kyye_usd{float:right;color:#0772a7;font-size:20px;margin-right:5px;font-family:Arial Regular;text-shadow:0 1px 1px #fff}
#Search .cart a,#Search .cart a:hover{color:#a0410a;text-decoration:none}
.cart{background:url("../images/cartBg.gif"/*tpa=http://www.ka-cn.com/spgoods/images/cartBg.gif*/) repeat-x 0 0;height:34px;line-height:28px;position:relative;padding:3px 15px 0 36px;margin-top:3px}
.gouwuche_images_left{display:block;width:36px;height:28px;position:absolute;left:0;top:0;background-image:url("../images/bg.gif"/*tpa=http://www.ka-cn.com/spgoods/images/bg.gif*/);background-repeat:no-repeat;background-position:0 -115px}
#Search .cart .right{display:block;background:url("../images/bg.gif"/*tpa=http://www.ka-cn.com/spgoods/images/bg.gif*/) no-repeat -37px -115px;width:10px;height:28px;position:absolute;right:0;top:0}

/*左侧模块样式*/
.modTitle{line-height:27px;color:#0772A7;text-align:left;font-weight:700;position:relative;padding:0 12px;font-size:14px}
.modTitle span{display:block;width:7px;height:27px}
.modTitle .left{position:absolute;left:0;top:0}
.modTitle .right{position:absolute;right:0;top:0}
.modTitle .more{float:right;font-weight:100}
.modTitle .more a{color:#fff}
.modTitle .more img{margin-top:10px}
.modBox{margin-bottom:6px}
.mod2{border:1px solid #e1e1e1;margin-bottom:6px;padding-bottom:5px}
.mod2 h1{height:24px;font-size:15px;color:#0560A7;padding:5px 10px 0 10px}
.mod2 h1 a{color:#0560A7}
.mod2 .more{margin-top:5px}
.mod2 h1 span{display:block;width:5px;height:5px}
.mod2 h1 .left{background:url("../images/bg.gif"/*tpa=http://www.ka-cn.com/spgoods/images/bg.gif*/) no-repeat -155px 0;position:absolute;left:-1px;top:-1px}
.mod2 h1 .right{background:url("../images/bg.gif"/*tpa=http://www.ka-cn.com/spgoods/images/bg.gif*/) no-repeat -162px 0;right:-1px;top:-1px}
.mod2 li{border-bottom-width:1px;border-bottom-style:dotted;border-bottom-color:#CCC;margin:0 5px;padding: 6px 0;}
.ppfl{width:90px;font-size:14px;float:left;padding:6px 0 6px 10px;margin-bottom:2px;}
.ppfl a{color:#626262;font-size:12px;}
.nav{line-height:40px;height:40px;width:100%}
.position{line-height:50px;height:50x;width:100%}

.main{width: 100%;margin-top: 10px;margin-bottom: 50px;font-family: "微软雅黑";*font-family: ""}
.main_left{width:211px;margin-right:6px}
.main_right{width:983px}
.goodsImg{width: 202px; height: 202px;}
.goodsImg img{border:1px solid #d2d2d2}
.goods_down_app{ color:#36a9e2; width:100px;}
.goods_down_app .icon {padding: 10px;}
.goods_down_app .icon s{width:19px;height:22px;margin:10px 0;background-image:url("../images/mbuy.gif"/*tpa=http://www.ka-cn.com/spgoods/images/mbuy.gif*/);background-repeat:no-repeat;background-position:0 0}
.goods_down_app {position: relative;}
.goods_down_app:hover .chat-tips {display: block;}
.kacn_top_sjwz{color:#000;padding-left:26px;height:26px;line-height:26px;margin:0 0 0 0;cursor:pointer; position:relative;z-index:9999;}
.kacn_top_sjwz p{background:#fff;display:none;z-index:9999;}
.kacn_top_sjwz:hover p{display:block;width:200px;height:230px;backgrond:#fff; position:absolute;top:30px;left:30px;z-index:9999;}
.kacn_top_sjwz p img{width:175px;height:175px;float:left;margin:13px 0 0 13px;}
.kacn_top_sjwz p strong{width:100%;float:left;color:#f8990f;font-weight:normal;font-size:13px;text-align:center;margin-top:5px;}
.chat-tips {padding: 10px;border: 1px solid #d1d2d6;position: absolute;right: -160px;top: -80px;background-color: #ffffff;display: none;}
.chat-tips img {width: 138px;height: 138px;}
.icon s{width:19px;height:22px;margin:0 10px;background:url("../images/mbuy.gif"/*tpa=http://www.ka-cn.com/spgoods/images/mbuy.gif*/) 0 0 no-repeat;display:inline-block;overflow:hidden;vertical-align:middle}
.text {float: left;width: 743px;}
.text2 {float: left;width: 743px;}
.input {float: left;width: 723px;background-color: #f1f1f1;border: 1px solid #dbdbdb;margin-left: 10px;margin-top:10px;margin-bottom:10px;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;padding-top: 10px;padding-bottom: 10px;	}
.text2 p {width: 690px;height: 25px;line-height: 25px;display: block;float: left;color: #a3a3a3;margin-left: 53px;margin-bottom: 15px;}
.text2 p a{color: #f00;text-decoration: underline;}
.wx {width: 690px;float: left;margin-left: 53px;}
.good_con {width: 743px;height: auto;font-size: 16px;margin-bottom: 20px;}
.good_con h1 {font-size: 20px;font-weight: bold;margin-bottom: 5px;line-height: 25px;margin-left:50px;font-family: '黑体';}
.good_con h1 span{color: #F00;}
.good_con h6 {font-size: 14px;color:#f00;margin-left: 10px;font-weight: 100;}
.good_con dt {float: left;width: 140px;text-align: right;line-height: 40px;height:40px;}
.good_con dd {line-height: 40px;float: left;width: 570px;margin-left: 15px;height: auto;min-height: 40px;}
.good_con .b_1{background-color: #0176ab;display: block;font-size: 12px;color: #FFF;width: 100px;text-align: center;line-height: 25px;margin: 8px 0 0 0;float: left;-moz-border-radius: 3px;
-webkit-border-radius: 3px;   border-radius:3px;}
.input dt{ width: 130px;float:left;height:40px;}
.input dd div {border: 1px solid #bfbfbf;color:#bfbfbf;display: block;float: left;margin-top: 8px;margin-right: 15px;-moz-border-radius: 3px;     -webkit-border-radius: 3px;   border-radius:3px;}
.input dd a{padding-right: 10px;padding-left: 10px;line-height:27px;display: block; min-width: 40px;text-align: center}
.input dd a:hover {color:#f00;}
/** add strat **/
.choose-money .selected,.choose-method .selected{border: 1px solid #f00;color:#f00;}
.selected a{color: #f00;}
/** add end **/
.input_1{line-height: 25px;float: left;height: 25px;width: 90px;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;border: 1px solid #bfbfbf;margin-top: 5px;padding-left: 5px;margin-right: 5px;	}
/*商品数量增加样式*/
.num_box{width: 110px;float: left;margin-top: 5px;}  
.num_box a{width:20px;text-align:center;cursor:pointer;}  
.num_box a:hover{background:#f0f0f0;}  
.num_box a:active{background:#E3E3E3;}  
.num,.num_box a{height:15px;width:15px;line-height:15px;border-color:#ccc;border-style:solid;color:#333;float:left;}  
.num{border-width: 1px;text-align: left;text-indent: 5px;line-height: 32px;padding: 0;margin: 0;width: 80px;height: 32px;}
.J_jia{border-width:1px 1px 1px 0;}  
.J_jian{border-width:1px 1px 1px 0;}
.btn{ margin-top:10px;}
.btn_mai{ line-height:40px; background-color:#e70012; color:#FFF; float: left; padding:2px 45px; font-size:20px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.btn_mai:hover{ color:#FFF;}
.btn_mai:visited{ color:#FFF;}
.btn_shou{ line-height:27px; color:#36a9e2; float: left; padding:0 17px; font-size:12px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;border:solid 1px #36a9e2; margin:15px 10px 0 25px;}
.btn_shou2{ line-height:40px; color:#36a9e2; float: left; padding:2px 45px; font-size:20px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;border:solid 1px #36a9e2; margin-left:20px;}
.btn_shou:hover{ color:#36a9e2;} 
.safe{ float:left}
.safe img {margin: 17px 10px 0 0;}

.text2 dt{ margin:5px 0;}
.text2 dd{ margin:5px 0;}
.tab_box {width: auto;}
#Tab1{width: 983px;margin: 0 auto; float: left}
.Menubox {font-size: 16px;height: 40px;line-height: 40px;border: 1px solid #dedede;float: left}
.Menubox ul{margin:0px;padding:0px;} 
.Menubox li{float: left;display: block;cursor: pointer;width: 114px;text-align: center;color: #949694;height: 38px;border-right: 1px solid #dedede;border-left: 1px solid #dedede;margin-right: -1px;}
.Menubox li.hover{background: #fff;width: 116px;height: 36px;line-height: 37px;border-top-width: 3px;border-top-style: solid;border-top-color: #FF0000;}
.Contentbox{clear: both;margin-top: 0px;padding-top: 8px;font-size: 12px;color: #505050;}
/*用户评论*/
.comments{margin:10px 0;}
.comments li{ padding:3px 8px; text-align:left; position:relative;}
/*.comments li:nth-child(even){background-color: #f5f5f5;}*/
.comments li img{position:absolute; right:10px; top:3px;}
.comments li p{margin:3px auto; text-align:left;}
.re_content{border:1px solid #edf0f1; background:#f4f9ff; padding:10px;}
.commentsList{border:1px solid #66D7FB; background:#E8F3FF; padding:10px; margin:10px 0;}
.commentsList .inputBorder{border:1px solid #ccc; background:#fff;}
.captcha{margin-left:0px; position:relative; top:-1px; *margin-left:8px; *position:relative; top:3px; cursor:pointer;}
.comment_sub{width:72px; height:29px; background:url("../images/bg.gif"/*tpa=http://www.ka-cn.com/spgoods/images/bg.gif*/) no-repeat -52px -250px; border:none; float:right;}
.tdTitle {text-align: right;vertical-align: top; width:100px;}
.tdCon {text-align: left;}
.Contentbox #con_one_1 table {width: 100%;word-wrap:break-word;word-break:break-all;}
.Contentbox p {line-height: 30px;  padding: 0 20px;}
.Contentbox #con_one_1 td{padding: 10px;line-height: 25px;  }
/*  ==================== help ====================  */
#help{width:100%;background-color:#e1e1e1;}
#help .content{width:1198px;height:auto;padding:15px auto 10px auto;overflow:hidden;background:none;}
#help .content dl{float:left; width:238px; _display:inline; margin-bottom:6px; margin-top:20px;}
#help .content dt{color:#3b4346; font-weight:200; font-size:18px; font-family:"黑体";padding-left:20px;}
#help .content dd{padding-left:35px;}
#help .content dd a{ padding-left:45px; color:#6b6b6b;}
#help .content dd a:hover{color: #fd843d;}
.tcc{width:100%;}
.tc{ text-align:center;}
.dd_dt{ width:100%;float: left;}

/*
 * 手机网站顶部导航
 */
.cd-main-header{
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: #2FB0EF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.cd-logo {float: left;display: block;margin: 0 0 0 10px;}
.cd-logo img {height: 3rem}
.cd-nav-trigger {
    /* navigation trigger - visible on mobile devices only */
    float: right;
    position: relative;
    display: block;
    width: 34px;
    height: 44px;
    margin-right: 5%;
    /* hide text */
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
}
.cd-nav-trigger span, .cd-nav-trigger span::before, .cd-nav-trigger span::after {
    /* hamburger icon in CSS */
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 24px;
    background: #ffffff;
}
.cd-nav-trigger span {
    /* line in the center */
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -2px;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
    /* other 2 lines */
    content: '';
    right: 0;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
}
.cd-nav-trigger span::before {
    /* menu icon top line */
    top: -6px;
}
.cd-nav-trigger span::after {
    /* menu icon bottom line */
    top: 6px;
}
.cd-nav-trigger.nav-is-visible span {
    /* hide line in the center */
    background: rgba(255, 255, 255, 0);
}
.cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after {
    /* keep visible other 2 lines */
    background: white;
}
.cd-nav-trigger.nav-is-visible span::before {
    -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
    transform: translateX(4px) translateY(-3px) rotate(45deg);
}
.cd-nav-trigger.nav-is-visible span::after {
    -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
    transform: translateX(4px) translateY(2px) rotate(-45deg);
}
/*手机网站导航*/
.cd-main-content .content-wrapper {
    padding: 55px 5% 45px 3em;
    margin-left: 110px;
}
.cd-main-content .content-wrapper h1 {
    text-align: center;
    padding: 4em 0;
    font-size: 3.2rem;
    font-weight: 300;
}
.cd-main-content::before {
    display: none;
    content: 'tablet';
}
.cd-side-nav.nav-is-visible {
    opacity: 1;
    visibility: visible;
    overflow: visible;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
    max-height: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.cd-side-nav {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    padding: 45px 0 0;
    background-color: #2c3136;
    visibility: hidden;
    opacity: 0;
    max-height: 100vh;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
.cd-search {
    position: relative;
    margin: 1.2em 5% 0.6em;
}
.cd-search.is-hidden {
    opacity: 1;
}
.cd-search form {
    height: 100%;
    width: 100%;
}
.cd-search input {
    padding-right: 32px;
    width: 100%;
    height: 36px;
    border: none;
    border-radius: .25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.cd-search input:focus {
    outline: none;
}
.cd-search input::-webkit-input-placeholder {
    color: #777c81;
}
.cd-search input::-moz-placeholder {
    color: #777c81;
}
.cd-search input:-moz-placeholder {
    color: #777c81;
}
.cd-search input:-ms-input-placeholder {
    color: #777c81;
}
.cd-side-nav > ul:last-of-type {
    padding-bottom: 0;
}
.cd-side-nav > ul {
    padding: 0.6em 0;
}
.cd-side-nav > ul > li > a {
    padding-left: calc(5% + 24px);
    border-bottom: 1px solid #373d44;
}
.cd-top-nav > li a {
    padding: 1em 5% !important;
}
.cd-side-nav a {
    position: relative;
    color: #ffffff;
    font-size: 0.9rem;
}
.cd-side-nav a {
    display: block;
    padding: 1em 5%;
}
.cd-side-nav .action-btn a {
    display: block;
    margin: 2% 5%;
    padding: 1em 0;
    border-radius: .25em;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    width:30%;
    float: left;
}
.cd-side-nav .action-btn a:nth-child(even){
    background-color: #FE0000;
}
.cd-side-nav .action-btn a:nth-child(odd){
    background-color: #2FB0EF;
}
.cd-side-nav > ul > li > a {
    padding-left: calc(5% + 24px);
    border-bottom: 1px solid #373d44;
}
.cd-side-nav a {
    position: relative;
    color: #ffffff;
}
.cd-side-nav .cd-label, .cd-side-nav a {
    display: block;
    padding: 1em 5%;
}
.cd-search button {
    position: absolute;
    top: 0.1rem;
    right: 0rem;
    width: 2rem;
    height: 2rem;
    border: none;
    padding: 0;
}
.ico_07 {
    /*transform: translateY(-50%);*/
    background: url("../images/cd-search.svg"/*tpa=http://www.ka-cn.com/spgoods/images/cd-search.svg*/) no-repeat 0 0;
    background-position:6px 7px;
}

/*在线客服*/
.intercom-launcher-button {
    z-index: 2147483000;
    background-image: url("../images/icon-launcher-acquire@2x.8a739dbd.png"/*tpa=http://www.ka-cn.com/spgoods/images/icon-launcher-acquire@2x.8a739dbd.png*/);
    background-size: 26px 25px;
    background-repeat: no-repeat;
    box-shadow: 0 6px 13px 0 rgba(0,0,0,.23);
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    display: none;
    background-position: 50%;
    background-color: #47a9ff;
    border: 1px solid #1f81d7;
}








@media only screen and (min-width: 1023px) {
    .comments{width:983px;}
}
@media only screen and (min-width:670px) and (max-width:1024px){
    .cd-main-header{ display: block}
	.top{ display:none}
	.head{ display:none}
	.nav{ display:none}
	#help{ display:none}
	.tcc{ display:none}
	.position{ display:none}
	.main_left { display:none}
	.center{ width:660px;}
	.main_right {width: 660px;}
	.good_con{ width:600px;}
	.goodsImg { width:660px; text-align:center; margin-bottom:20px;}
	.input{ width:600px; margin-left:0px;}
	.text{width:600px;}
	.text2{width:600px;}
	.good_con dd {width: 440px;}
	.btn{}
	.chat-tips {right: -100px;top: -170px;}
    .goods_app_bar{display: none}
    .tdTitle {width:130px;}
    .main{padding-top: 50px;}
    .intercom-launcher-button {display: block;}
    .comments{width:660px;}
    #Tab1 {width: 660px;}
}
@media only screen and (min-width:540px) and (max-width:669px){
    .cd-main-header{ display: block}
	.top{ display:none}
	.head{ display:none}
	.nav{ display:none}
	#help{ display:none}
	.tcc{ display:none}
	.position{ display:none}
	.main_left { display:none}
	.center{ width:530px;}
	.main_right {width: 530px;}
	.good_con{ }
	.goodsImg { width:530px; text-align:center; margin-bottom:20px;}
	.input{ width:500px; margin-left:0px;}
	.text{width:500px;}
	.text2{width:500px;}
	.good_con dd {width: 340px;}
	.btn{ }
	.btn_shou {}
	.btn_shou2{}
	.safe{ display:none;}
	.chat-tips {right: -100px;top: -170px;}
	.tab-box{ width:500px;}
	.wx {width: 500px;float: left;margin-left: 0px;}
	.text2 p{width:500px;}
	#con_one_1 table{ width:500px;}
	#Tab1{ width:500px;}
    .goods_app_bar{display: none}
    .tdTitle {width:130px;}
    .good_con {width:100%;}
    .main{padding-top: 50px;}
    .intercom-launcher-button {display: block;}
    .comments{width:500px;}
    .comments li img {position: static;}
}
@media only screen and (min-width: 320px) and (max-width: 540px) {
    .cd-main-header{ display: block}
	.top{ display:none}
	.head{ display:none}
	.nav{ display:none}
	#help{ display:none}
	.tcc{ display:none}
	.position{ display:none}
	.main_left { display:none}
	.center{ width:100%;}
	.main_right {width: 100%;}
	.good_con{ width:100%; margin:0 auto; float:none; font-size:14px;}
	.goodsImg { width:100%; text-align:center; margin-bottom:20px;}
	.input{ width:100%; margin-left:0px;}
	.text{width:100%;}
	.text2{width:100%;}
	.good_con dt{ width:100px;}
	.good_con dd {width: 205px;}
	.btn{width: 135px;float: none;margin-top: 20px;margin-bottom: 10px}
	.good_con h1{ font-size:18px;}
	.btn_mai2{ margin-left:70px;}
	.chat-tips {right: -20px;top: -170px;}
	.tab-box{ width:100%;}
	.Contentbox { font-size:14px;}
	#con_one_1 td{ padding:0 5px; }
	.goods_down_app {position: relative;width: 200px;float: left;}
	.wx {width: 310px;float: left;margin-left: 0px;}
	.text2 p{width:310px; margin-left:0px;}
	.safe{ display:none;}
	.tdCon{width:200px;}
	#con_one_1 table{ width:310px;}
	#Tab1{ width:100%;}
	.tab_box {width: 100%;}
	.btn_shou{ margin:0 0 0 10px;}
    .goods_app_bar{display: none}
    .tdTitle {width:42px;}
    .input{border: 0;}
    .main{padding-top: 50px;}
    .btn_mai {padding: 2px 20px; margin-bottom: 10px}
    .btn_shou {padding: 2px 20px; margin-bottom: 10px}
    .intercom-launcher-button {display: block;}
    .comments li img {position: static;}
}
@media only screen and (min-width: 360px) and (max-width: 414px) {
    /*iphone6*/
    .good_con dd {
        width: 230px;
    }
}
@media only screen and (min-width: 414px) and (max-width: 414px) {
    /*iphone6P*/
    .good_con dd {
        width: 290px;
    }
}
@media only screen and (min-width: 435px) and (max-width: 435px) {
    .good_con dd {
        width: 311px;
    }
}
@media only screen and (max-width: 320px) {


}