/* 
* @Author: Marte
* @Date:   2016-09-19 11:03:02
* @Last Modified by:   Marte
* @Last Modified time: 2016-11-23 09:38:57
*/
body{ overflow-x:hidden;}
.banner{width:100%;margin:0 auto;vertical-align: top;}
.banner img{width:100%;vertical-align:top;}


.fuwu{width:100%;margin:0 auto;vertical-align: top;}
.fuwu img{width:100%;vertical-align: top;}

.four{clear:both;width:100%;margin:0 auto;vertical-align:top;position:relative;}
.four img{width:100%;vertical-align:top;}
.four ul {width:420px;height:72px;position:absolute;left:38%;top:20%;line-height:72px;background: #fff;border-radius:20px;}
.four ul li{width:420px;height:80px;margin-left:-10px; text-align:center;background:url("../images/min.png"/*tpa=http://www.4007087688.com/activity/sample/ai-xiangxian/images/min.png*/)-30px center no-repeat;}

.four ul:hover{background:#c419b3;}
.four ul li a{font-size:30px;font-weight:bold; color:#000;}
.four ul li a:hover{color:#fff;}


.dong{width:100%;margin:0 auto;vertical-align: top;}
.dong img{width:100%;vertical-align: top;}




.gong{clear:both;width:100%;margin:0 auto;vertical-align:top;position:relative;}
.gong img{width:100%;vertical-align:top;}
.gong ul {width:420px;height:72px;position:absolute;left:38%;top:20%;line-height:72px;background: #fff100;border-radius:20px;}
.gong ul li{width:420px;height:80px;margin-left:-10px; text-align:center;background:url("../images/min.png"/*tpa=http://www.4007087688.com/activity/sample/ai-xiangxian/images/min.png*/)-30px center no-repeat;}

.gong ul:hover{background:#c419b3;}
.gong ul li a{font-size:30px;font-weight:bold; color:#000;}
.gong ul li a:hover{color:#fff;}


.pic{width:100%;margin:0 auto;vertical-align: top;}
.pic img{width:100%;vertical-align: top;}




.three{clear:both;width:100%;margin:0 auto;vertical-align:top;position:relative;}
.three img{width:100%;vertical-align:top;}
.three ul {width:420px;height:72px;position:absolute;left:38%;top:20%;line-height:72px;background: #fff100;border-radius:20px;}
.three ul li{width:420px;height:80px;margin-left:-10px; text-align:center;background:url("../images/max.png"/*tpa=http://www.4007087688.com/activity/sample/ai-xiangxian/images/max.png*/)-30px center no-repeat;}

.three ul:hover{background:#c419b3;}
.three ul li a{font-size:30px;font-weight:bold; color:#000;}
.three ul li a:hover{color:#fff;}


.footer{width:100%;margin:0 auto;vertical-align: top;}
.footer img{width:100%;vertical-align: top;}