<?xml version="1.0"?>
<EditorConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <image>
    <ext>gif,jpg,jpeg,png,bmp</ext>
    <maxsize>1000</maxsize>
    <rename>1</rename>
  </image>
  <flash>
    <ext>swf,flv</ext>
    <maxsize>1000</maxsize>
    <rename>1</rename>
  </flash>
  <media>
    <ext>swf,flv,mp3,mp4,wav,wma,wmv,mid,avi,mpg,asf,rm,rmvb</ext>
    <maxsize>10000</maxsize>
    <rename>1</rename>
  </media>
  <file>
    <ext>doc,docx,xls,xlsx,ppt,pptx,htm,html,txt,zip,rar,gz,bz2,pdf</ext>
    <maxsize>10000</maxsize>
    <rename>1</rename>
  </file>
</EditorConfig>