#scrollContent
{
width:560px; line-height:32px;height:270px; font-family:"宋体"; font-size:12px;
}
.scroll-pane {
	HEIGHT: 100%;
	FONT-SIZE: 12px;
	OVERFLOW: auto;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 10px !important;
	margin-left: auto;
}
A.jScrollArrowUp {
	BACKGROUND: #000; HEIGHT: 16px
}
A.jScrollArrowUp:hover {
	BACKGROUND-POSITION: 0px -20px
}
A.jScrollArrowDown {
	BACKGROUND: #000; HEIGHT: 16px
}
A.jScrollArrowDown:hover {
	BACKGROUND-POSITION: 0px -20px
}
A.jScrollActiveArrowButton {
	BACKGROUND-POSITION: 0px -40px
}
A.jScrollActiveArrowButton:hover {
	BACKGROUND-POSITION: 0px -40px
}
.jScrollPaneTrack {
	BACKGROUND: #000
}
.jScrollPaneDrag {
	WIDTH: 21px; BACKGROUND: #000; HEIGHT: 21px
}
#FrontComContent_detail01-1306457465501_cont_1 P {
	LINE-HEIGHT: 30px
}
