.main_right{ width:820px; float:right; margin-top:4px;}
.main_righttop{ background:url("../images/right_top.png"/*tpa=http://www.thfund.com.cn/tfzc/images/right_top.png*/) no-repeat; height:38px; line-height:35px; padding-left:29px; color:#214c95; font-weight:bold;}
.main_mid{ width:818px; border:1px solid #e8e8e8; border-top:none; min-height:325px;}
.main_midone{ background:url("../images/mid_bg.png"/*tpa=http://www.thfund.com.cn/tfzc/images/mid_bg.png*/) repeat-x bottom; border:1px solid #FFFFFF; border-top:1px solid #f6f3f3; padding:24px 0 20px 56px;}
.main_midone h2{ background:url("../images/mid_bg1.png"/*tpa=http://www.thfund.com.cn/tfzc/images/mid_bg1.png*/) no-repeat; width:558px; height:27px; line-height:24px; font-weight:normal; font-size:12px; color:#FFFFFF; padding-left:27px;}
.main_mid01{ margin-top:15px; padding-left:10px;}
.main_mid01 p{ line-height:20px;}
.midone01, .midone02, .midone03, .midone04, .midone05, .midone06{ line-height:19px; padding-left:25px; background:url("../images/mdi01.gif"/*tpa=http://www.thfund.com.cn/tfzc/images/mdi01.gif*/) no-repeat left; margin-top:5px;}
.midone02{ background:url("../images/mdi02.gif"/*tpa=http://www.thfund.com.cn/tfzc/images/mdi02.gif*/) no-repeat left;}
.midone03{ background:url("../images/mdi03.gif"/*tpa=http://www.thfund.com.cn/tfzc/images/mdi03.gif*/) no-repeat left;}
.midone04{ background:url("../images/mdi04.gif"/*tpa=http://www.thfund.com.cn/tfzc/images/mdi04.gif*/) no-repeat left;}
.midone05{ background:url("../images/mdi05.gif"/*tpa=http://www.thfund.com.cn/tfzc/images/mdi05.gif*/) no-repeat left;}
.midone06{ background:url("../images/mdi06.gif"/*tpa=http://www.thfund.com.cn/tfzc/images/mdi06.gif*/) no-repeat left;}

.lx_title{ float:left; background:url("../images/lxfs.png"/*tpa=http://www.thfund.com.cn/tfzc/images/lxfs.png*/) no-repeat; width:654px; height:40px; line-height:40px; margin:20px 0 0 20px; padding-left:50px; display:inline; font-size:14px;}
.lx_women{ width:718px; margin-left:40px; display:inline; float:left; border-bottom:1px solid #e5e5e5; padding:18px 0 18px 27px;}
.lx_women h3{ color:#3f6faf; line-height:20px;}
.lx_women p{ line-height:20px;}
.lx_women p strong{ color:#3f6faf;}
.mid_table{ width:818px; background:url("../images/lxwm.jpg"/*tpa=http://www.thfund.com.cn/tfzc/images/lxwm.jpg*/) no-repeat; height:543px;}
.mid_table table{ float:left; margin:113px 0 0 128px; display:inline;}
.mid_table table tr td{ height:44px;}
.mid_table table tr td span{ font-size:14px; padding-right:15px;}
.mid_input{ width:197px; height:30px; border:1px solid #b8b8b8;}



.xin1{ padding:20px;}
.xin4{ padding:0 15px;}
.xin2{ background:url("../images/tou_bg2.jpg"/*tpa=http://www.thfund.com.cn/tfzc/images/tou_bg2.jpg*/) no-repeat; padding-left:15px;}
.xin3{ font-weight:normal;color:#F03;}

.xg_text{ width:680px; margin:20px 0 0 56px; float:left; display:inline;}
.xg_text a{ line-height:28px; padding-left:15px; border-bottom:1px dotted #bdbdbd; display:block; background:url("../images/fg02.png"/*tpa=http://www.thfund.com.cn/tfzc/images/fg02.png*/) no-repeat left; font-size:14px;}
.xg_text a:hover{ background:url("../images/fg01.png"/*tpa=http://www.thfund.com.cn/tfzc/images/fg01.png*/) no-repeat left; font-weight:bold; color:#3c6bac;}

.main_mid h1{ color:#224d96; background:url("../images/fg03.png"/*tpa=http://www.thfund.com.cn/tfzc/images/fg03.png*/) no-repeat center; text-align:center; line-height:56px; font-size:14px;}
.main_nr{ padding:20px 0;}
.main_nr p{ line-height:24px; padding:0 25px;}
.main_mid02{ width:630px; margin:0 auto;}
.main_mid02 p{ text-indent:2em; line-height:24px;}

.xg_text01{ padding-left:40px; margin-top:20px; display:inline; float:left;}
.xg_text01 span{ float:left; width:65px; background:url("../images/fg01.png"/*tpa=http://www.thfund.com.cn/tfzc/images/fg01.png*/) no-repeat left top; padding-left:15px; line-height:28px; border-bottom:2px solid #214b95; color:#3c6bac; padding-bottom:10px; font-weight:bold;}
.xg_text01 a{ float:left; line-height:29px; border-bottom:1px dotted #bdbdbd; width:610px; padding-bottom:10px;}

.xg_text02{ float:left; margin:20px 0 0 40px; display:inline;}
.xg_text02 span{ float:left; width:65px; line-height:29px; border-bottom:2px solid #214b95; color:#3c6bac; font-weight:bold; padding-left:10px;}
.xg_text02 i{ float:left; line-height:29px; border-bottom:1px dotted #bdbdbd; width:610px; height:29px;}
.xg_text03{ float:left; width:685px; margin:10px 0 0 50px; display:inline; line-height:24px;}

.bt2{ padding:15px 20px 20px 20px;}
.tabTitle{ height:30px; overflow:hidden; zoom:1;}
.tabTitle h3 a { display:block; float:left; width:119px; margin-right:2px; height:30px; font-size:0px; line-height:0px; text-indent:-10000px; }
.tabTitle h3 a#one1{ background:url("../images/menu1.jpg"/*tpa=http://www.thfund.com.cn/tfzc/images/menu1.jpg*/) no-repeat 0px 0px;}
.tabTitle h3 a#one1:hover,.tabTitle h3 a#one1.current{ background:url("../images/menu2.jpg"/*tpa=http://www.thfund.com.cn/tfzc/images/menu2.jpg*/) no-repeat 0px 0px;}

.tabTitle h3 a#one2{ background:url("../images/menu1.jpg"/*tpa=http://www.thfund.com.cn/tfzc/images/menu1.jpg*/) no-repeat -122px 0px;}
.tabTitle h3 a#one2:hover,.tabTitle h3 a#one2.current{ background:url("../images/menu2.jpg"/*tpa=http://www.thfund.com.cn/tfzc/images/menu2.jpg*/) no-repeat -122px 0px;}



.tabTitle h3 a#one3{ background:url("../images/menu1.jpg"/*tpa=http://www.thfund.com.cn/tfzc/images/menu1.jpg*/) no-repeat -243px 0px;}
.tabTitle h3 a#one3:hover,.tabTitle h3 a#one3.current{ background:url("../images/menu2.jpg"/*tpa=http://www.thfund.com.cn/tfzc/images/menu2.jpg*/) no-repeat -243px 0px;}

#listContent{ margin-top:10px; }
	#listContent li{ height:24px; line-height:24px; overflow:auto; zoom:1; }
	#listContent li a{ float:left; background:url("../images/icon2.gif"/*tpa=http://www.thfund.com.cn/tfzc/images/icon2.gif*/) no-repeat left; text-indent:10px;}
	#listContent li span{ float:right; font-size:11px; color:#777;}
.line2{height:1px; line-height:1px; font-size:0; background:#999; overflow:hidden; margin:10px 0;}

.turn-page{ width:290px; height:24px; margin:0 auto; }
.turn-page a{ float:left; display:block; height:18px; border:1px solid #ccc; line-height:18px; margin-right:4px; padding:0 4px;}
.turn-page a:hover{ background:#666; color:#fff; text-decoration:none;}
.turn-page a.current{ background:#666; color:#fff; text-decoration:none;}
	
.contentBox{ padding-top:10px;}
.bt_line{ border:1px solid #eceaea;}
.ts4{ font-size:13px; font-weight:bold; text-indent:1.2em; line-height:30px; background:url("../images/bt_bg.jpg"/*tpa=http://www.thfund.com.cn/tfzc/images/bt_bg.jpg*/) repeat-x top;}

.ts5{ font-size:12px; padding:5px 10px; line-height:18px; background:#f3f2f2;}
.ts6{ font-size:12px;  padding:5px 10px; line-height:18px; background:#fff;}

.tou{  background:url("../images/tou_bg.jpg"/*tpa=http://www.thfund.com.cn/tfzc/images/tou_bg.jpg*/) repeat-x; font-weight:bold;}
.tou10{  background:url("../images/tou_bg1.jpg"/*tpa=http://www.thfund.com.cn/tfzc/images/tou_bg1.jpg*/) repeat-x; font-weight:bold;}

.wbd{  border-top:#d9d9d9 solid 1px; border-left:#d9d9d9 solid 1px;}
.wbd1{  border-top:#d9d9d9 solid 1px; }
.tou2{ background:url("../images/tou2_bg.jpg"/*tpa=http://www.thfund.com.cn/tfzc/images/tou2_bg.jpg*/) repeat-x; height:54px;}
.tou02{ background:url("../images/tou2_bg.jpg"/*tpa=http://www.thfund.com.cn/tfzc/images/tou2_bg.jpg*/) repeat-x; height:54px;}
.wbd01{  border:#e2e2e2 solid 1px;}

.tou2 img{ display:inline; vertical-align:middle;}
.tou2 table{ border:none;}
.tou2 table td{ border:none;}
.tou2 select{ border:#c9c9c9 solid 1px; vertical-align:middle; width:157px; height:22px;}

.tab_main{ background:url("../images/chaxun_03.jpg"/*tpa=http://www.thfund.com.cn/tfzc/images/chaxun_03.jpg*/) no-repeat center; height:480px; padding-top:100px;}
.tab_main table{ font-size:14px; margin:0 auto;}
.tab_main table select{ background:url("../images/in_bg.gif"/*tpa=http://www.thfund.com.cn/tfzc/images/in_bg.gif*/) repeat-x; height:27px; border:#cfcfcf solid 1px; width:148px;}
.tab_main table .text{background:url("../images/in_bg.gif"/*tpa=http://www.thfund.com.cn/tfzc/images/in_bg.gif*/) repeat-x; height:27px; border:#cfcfcf solid 1px; width:220px;}



.xg_table tr td{ height:40px;}
.xg_input, .xg_input1{ width: 221px; height: 19px; border: 1px solid #C4C4C4; padding: 3px 0 0 3px; background: #F9F9F9;}
.xg_input1{ width:100px;}
.err{color: red; padding-left: 20px; font-size: 12px; display: none; background:url("../images/errIcon.png"/*tpa=http://www.thfund.com.cn/tfzc/images/errIcon.png*/) -2px 1px no-repeat; line-height:200%;}
.xg_button{ background:url("../images/icon.jpg"/*tpa=http://www.thfund.com.cn/tfzc/images/icon.jpg*/) no-repeat; width:74px; height:29px; line-height:29px; border:none; cursor:pointer; display:inline-block; text-align:center;}


.check_mobile_top, .check_mobile_bottom { height: 8px; font-size: 1px; line-height: 1px; background: url("../images/safty_bk.png-v=201206"/*tpa=http://www.thfund.com.cn/tfzc/images/safty_bk.png?v=201206*/) no-repeat; position: relative;}

.z_text02{ float:left; margin:20px 0 0 40px; display:inline;}
.z_text02 span{ float:left; /*width:75px;*/ line-height:28px; border-bottom:1px solid #214b95; color:#3c6bac; font-weight:bold; padding-left:10px; font-size:14px;}
.z_text02 b{ float:left; line-height:29px; border-bottom:1px solid #bdbdbd; width:600px; color:#3c6bac; height:29px; font-size:14px;}
.z_text02 i{ float:left; line-height:29px; border-bottom:1px solid #bdbdbd; width:600px; color:#3c6bac; height:29px; font-size:14px;}
.z_text03{ float:left; width:685px; margin:10px 0 0 50px; display:inline; line-height:24px; font-size:14px;}
.z_text04{ padding:10px 0 20px 50px;}