/* Breadcrumb
---------------------------------- */
.header-top {
    background-color: #edeeed;
    font-size: 12px;
}
/* Logo
---------------------------------- */
.logo{
    height: 102px;
}
.logo a{
    display: block;
    height: 102px;
    line-height: 102px;
}
.logo img {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.logo img:hover {
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.main-container .logo img {
    margin: 0 auto;
}
.header-small .logo img {
    height: 40px;
    line-height: 102px;
    margin: 0;
    display: inline-block;
}
.text-center .logo img {
    margin: 0 auto;
}
.site-slogan {
    font-size: 13px;
    font-style: normal;
    color: #999999;
    position: absolute;
    top: 39px;
    left: 160px;
    font-size: 14px;
    font-weight: 100;
}
.main-container .site-slogan {
    color: inherit;
    text-align: center;
    margin-bottom: 20px;
}
.logo-footer {
    margin: 25px 0 20px;
}
.header .row{
    margin-right: 0;
    margin-left: 0;
}
/* Header top dropdowns
---------------------------------- */

.header-top-dropdown {
    float: right;
    font-size: 0;
    text-align: right;
}
.header-top-dropdown .dropdown>button {
    border-right: 0px solid #e3e3e3;
}
.header-top-dropdown .dropdown>button {
    height: 40px;
    margin: 0;
    padding: 8px 0;
    font-size: 12px;
    color: rgba(67, 74, 84, 0.47);
    font-weight: 100;
    text-align: center;
    min-width: 0;
    background-color: transparent;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-transform: none;
    border: none;
}
.header-top-dropdown .dropdown .top-kaihu {
    border-right: 0;
}

.header-top-dropdown .dropdown>button:hover {
    color: #db4453;
    background-color: transparent;
    border-right-color: transparent;
}
.header-top-dropdown .dropdown:first-child.open>button,
.header-top-dropdown .dropdown:first-child>button:hover {
    border-left-color: none;
    border: none;
}
.header .header-top-dropdown .dropdown>button {
    padding: 8px 10px;
}
.header .header-top-dropdown .dropdown.open>button,
.header .header-top-dropdown .dropdown>button:hover {
    background-color: transparent;
}
.header .header-top-dropdown .dropdown:first-child.open>button,
.header .header-top-dropdown .dropdown:first-child>button:hover {
    border-left-color: transparent;
}
.header .header-top-dropdown .dropdown:last-child.open>button,
.header .header-top-dropdown .dropdown:last-child>button:hover {
    border-right-color: transparent;
}


.header-top-dropdown .login-form .social-links {
    display: inline-block;
    margin: 0;
}


.header-top.white-bg {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #dadada !important;
}
.header {
    padding: 20px 0;
    background-color: #fff;
    border-bottom: 1px solid #db4453;
}
.header.header-small {
    padding: 0;
}
/* 6 Navigations
----------------------------------------------------------------------------- */
/* first level menu */
.header-right{
    margin-bottom: -1px;
    background: rgba(255, 255, 255, 0);
    /*margin-right: -32px;*/
    margin-right: 0;
}
.navbar.navbar-default {
    border-radius: 0;
    margin: 12px 0 5px;
    background: transparent;
    border-color: transparent;
}
.header-small .navbar.navbar-default {
    margin: 0;
}

/* first level menu items */
.navbar-default .navbar-nav > li > h5 > a {
    font-size: 16px;
    color: #393f48;
    text-transform: uppercase;
    margin: 0 22px 0 22px;
    padding: 0;
    z-index: 102;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    display: block;
    height: 102px;
    line-height: 102px;
}
.navbar-default .navbar-nav > li:last-child > h5 > a {
    font-size: 16px;
    color: #393f48;
    text-transform: uppercase;
    margin: 0 0 0 22px;
    padding: 0;
    z-index: 102;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    display: block;
    height: 102px;
    line-height: 102px;
}
.navbar-default .navbar-nav > li > h5{
    display: block;
    height: 102px;
    line-height: 102px;
}
.navbar-nav > li {
    float: left;
    height: 102px;
    line-height: 102px;
}
.dropdown-menu li {
    position: relative;
    display: block;
}
.sub-navbar {
    position: relative;
    min-height: 40px;
    margin-bottom: 0;
    border: 1px solid transparent;
}
.sub-nav > li {
    float: left;
    height: 40px;
    line-height: 40px;
}
.sub-nav .dropdown-menu{
    margin-left: -1px;
}
.sub-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    color: rgba(67, 74, 84, 0.47);
}
.sub-nav > li > .first-navlist{
    padding-left: 0;
}
.zichan{
    display: inline-block;
    vertical-align: middle;
    margin-top: 27px;
}
.navbar-default .navbar-nav > li > h5 > a:hover {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-decoration: none;
    display: block;
    border-bottom: 3px solid #db4453;
    color: #db4453;
    margin-bottom: -1px;
}

/* first level active menu items on hover/focus */
.navbar-default .navbar-nav > .active >h5 > a,
.navbar-default .navbar-nav > .active >h5 > a:focus {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-decoration: none;
    display: block;
    border-bottom: 3px solid #db4453;
    color: #db4453;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active >h5 > a:hover {
    background-color: transparent;
}

/* first level active menu items when opened */
.main-navigation .navbar-nav > .open >h5  > a,
.main-navigation .navbar-nav > .open >h5  > a:hover,
.main-navigation .navbar-nav > .open >h5  > a:focus {
    color: #db4453;
    background-color: transparent;
    text-decoration: none;
}


/* first level active menu items when clicked */
.main-navigation .navbar-nav > .open >h5  > a:active,
.main-navigation .navbar-nav > .open.active >h5  > a:active {
    background-color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: transparent;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    border-bottom: 3px solid #db4453;
    color: #db4453;
    text-decoration: none;

}
.main-navigation .navbar-nav > .open >h5  > a:active + ul,
.main-navigation .navbar-nav > .open.active >h5  > a:active + ul {
    display: none;
}

/* second level menu */
.dropdown-menu {
    min-width: 180px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(216, 216, 216, 0.69);
    z-index: 101;
    /*display: block;*/
}
.dropdown-menu-last {
    right: 0;
    /*display: block;*/
    float: left;
    text-align: left;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-right .dropdown-menu {
    left: 22px;
}
.navbar-right .dropdown-menu-last{
    right: 0;
    left: auto;
}
/* second level menu items */
.dropdown-menu > li > a {
    padding: 12px 20px;
    font-size: 15px;
    color: #666666;
    border-bottom: 1px solid #f1f1f1;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    position: relative;
    display: block;
}

/* second level menu items on focus/hover and when opened */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu .menu > .active > a,
.dropdown-menu .menu > .active > a:hover,
.dropdown-menu .menu > .active > a:focus {
    /*background-color: #ffffff;*/
    color: #db4453;
    border-color: #f1f1f1;
}

/* third level menu */
.dropdown-menu .dropdown-menu {
    top: -1px;
    left: 100% !important;
    padding-top: 0;
    margin-left: 1px;
    border-left: none;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
    border-top: 1px solid #f1f1f1;
}

/* mega menu */
.mega-menu.dropdown {
    position: static;
}
.mega-menu .dropdown-menu {
    left: 0;
    top: 96%;
    width: 100%;
    padding: 20px 30px;
}

/* mega menu menu items */
.mega-menu .menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.mega-menu h4.title {
    margin: 10px 0 5px;
    font-size: 14px;
    text-transform: uppercase;
}
.mega-menu .menu > li > a {
    padding: 5px 0;
    font-size: 15px;
    color: #666666;
    border-bottom: 1px solid #f1f1f1;
    display: block;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}
.mega-menu .menu > li > a i,
.dropdown-menu > li > a i {
    padding-right: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.mega-menu .menu > li:last-child > a {
    border-bottom: none;
}
.mega-menu .menu > li > a:hover i,
.dropdown-menu > li > a:hover i {
    padding-left: 5px;
}

/* mega menu menu items on focus/hover and when opened */
.mega-menu .menu > li > a:hover,
.mega-menu .menu > li > a:focus {
    background-color: #ffffff;
    color: #db4453;
    border-color: transparent;
    text-decoration: none;
}

/* arrows for parent menu items */

.navbar-default .navbar-nav > .active.dropdown > a:before {
    color: #db4453;
}
.navbar-default .navbar-nav > .dropdown.open > a:before {
    color: #e5e5e5;
}
.dropdown .dropdown>a:before {
    content: "\f105";
    right: 10px;
    top: 15px;
    margin-left: 0;
    visibility: visible;
    color: #666;
}
.dropdown .dropdown.open>a:before {
    color: #db4453;
}



/* Social  links
---------------------------------- */
.social-links {
    list-style: none;
    font-size: 0;
    padding: 0;
    margin: 40px 0 20px 0;
}
.social-links li {
    display: inline-block;
    margin: 0 2px 2px 0;
}
.vline{
    font-size: 10px;
    font-weight: 100;
    color: #ccc;
    line-height: 12px;
    margin: 0 15px;
}
.social-links li a {
    display: block;
    text-align: center;
    font-size: 20px;
    background: #db4453;
    border: 1px solid #db4453;
    color: #fff;
}
.social-links.large li a {
    width: 60px;
    height: 60px;
    font-size: 24px;
}
.social-links.light li a {
    background: #fafafa;
    border: 1px solid #f3f3f3;
    color: inherit;
}
.social-links.dark li a {
    background: #454545;
    border: 1px solid #333333;
    color: #acacac;
}
.social-links.radius-5px li a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.social-links.circle li a {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.social-links li a:hover {
    background-color: transparent;
    border-color: #cd3c2e;
    color: #cd3c2e;
}
.social-links.dark li a:hover {
    background: transparent;
    border: 1px solid #acacac;
    color: inherit;
}
.social-links.light li a:hover {
    border: 1px solid #d2d2d2;
    color: #333333;
}
.social-links li a i {
    line-height: 44px;
}
.social-links.large li a i {
    line-height: 60px;
}
.header-top .social-links {
    margin: 0;
    height: 40px;
}
.header-top .social-links li {
    padding: 8px 0px 8px 0;
    border-right: 0px solid #e3e3e3;
    margin: 0;
}
.header-top .social-links li:hover {
    background-color: transparent;
}
.header-top .social-links li a {
    font-size: 12px;
}
.header-top .social-links li:last-child {
    border-right: none;
}
.header-top .social-links li a {
    border: none;
    width: auto;
    height: 21px;
    color: rgba(67, 74, 84, 0.47);
    background-color: transparent;
    border-color: transparent;
    text-align: left;
    text-decoration: none;
}
.header-top .social-links li a:hover {
    color: #cd3c2e;
    text-decoration: none;
}
.header-top .social-links li a i {
    line-height: 30px;
}

/* dropdown animations */
.animated.main-navigation .open .dropdown-menu,
.open .dropdown-animation {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDownSmall;
    animation-name: fadeInDownSmall;
}
.open .dropdown-animation {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.animated.main-navigation .dropdown-menu .open .dropdown-menu {
    -webkit-animation-name: fadeInLeftSmall;
    animation-name: fadeInLeftSmall;
}

.th-btn-bg-gray{
    background-color: #e8e8e8;
}
.navbar-right .dropdown i {
    padding-right: 5px;
    width: 30px;
    color: #c9c9c9;
}
.navbar-default .navbar-right > li > a {
    height: 35px;
    padding: 1px 20px 0 20px;
    line-height: 35px;
    display: inline-block;
    margin-top: 0;
}
.navbar-default .navbar-left .navbar-home a {
    padding-left: 0;
}
.navbar-right a {
    color: #393f48;
}

.page-intro {
    padding:18px 0;
    /*border-top: 1px solid #db4453;*/
    background-color: #fff;
}

.th-breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 100;
    padding: 8px 0;
}
.th-breadcrumb a {
    color: #a4aeb9;
}
.th-breadcrumb a:hover {
    color: #db4453;
    text-decoration: none;
}
.th-breadcrumb > .active {
    color: #db4453;
}
.th-breadcrumb > li {
    display: inline-block;
}
.th-subnav {
    background-color: transparent;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 100;
    padding: 8px 0;
}
.th-subnav a {
    color: #212c3d;
}
.th-subnav a:hover {
    color: #db4453;
    text-decoration: none;
}
.th-subnav > .active a , .th-subnav > .active a:hover , .th-subnav > .active a:active {
    color: #db4453;
}
.th-subnav > li {
    display: inline-block;
    margin-right:40px;
}
.fixed-header-on .header.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1006;
    opacity: 0;
    filter: alpha(opacity=0);
    border-bottom: 1px solid #db4453;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.95);
}
.follow-thfund {
    min-width: 110px;
    width: 110px;
    text-align: center;
}
.app-top {
    min-width: 214px;
}
.app-top .app-fl {
    float: left;
    min-width: 100px;
    border: none;
}
.app-top .app-fl img {
    width: 80px;
    height: 80px;
    margin: 10px;
}
.app-top .app-fr {
    float: right;
    min-width: 100px;
    border: none;
    display: table-cell;
    margin-top: 12px;
    margin-right: 10px;
}
.app-top .app-fr a {
    height: 35px;
    padding-top: 10px;
    padding-left: 20px;
    display: block;
    border: 1px solid #434a54;
}
.app-top .app-fr a:hover {
    border: 1px solid #ccc;
    color: #ccc;
}
.app-top .app-fr .apple-app {
    background: url("../images/apple-icon.png"/*tpa=http://www.thfund.com.cn/tfzc/images/apple-icon.png*/) no-repeat;
    margin-bottom: 8px;
}
.app-top .app-fr .android-app {
    background: url("../images/android-icon.png"/*tpa=http://www.thfund.com.cn/tfzc/images/android-icon.png*/) no-repeat;
    background-color: #434a54;
    color: #fff;
}
.follow-thfund > li > a {
    padding: 8px 0;
    display: block;
    font-size: 12px;
}
.follow-thfund .left-icon img{
    float: left;
    display: block;
    padding-bottom: 6px;
    position: relative;
    bottom: 6px;
    left: 6px;
}
.follow-thfund .follow-list img{
    margin: 0 auto;
    padding-bottom: 10px;
}
.follow-thfund small{
    display: block;
    font-size: 10px;
}
.jing {
    width: 20px;
    height: 20px;
    background-color: #d00412;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    top: 13px;
    right: 15px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    display: block;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.footer-logo img {
    margin: 0;
}
.padding-clear {
    padding: 0;
}
#header-top-second .btn {
    border: none;
    box-shadow: none !important;
}