.p_pagination li{width:150px;float:left;}
.p_pagination{width:302px;}
.p_pagination ul{width:302px;}
.area_02 .p_pagination ul{margin-left:75px;}
.area_05 .p_pagination,.area_09 .p_pagination {left:50%;margin-left:-151px;}
.area_06 .p_pagination {width:453px;left:50%;margin-left:-176px;}	
.area_06 .p_pagination ul{width:453px;}	
.footer .sc_area span{float:left;}
.footer .sc_area .sc_item{float:left;}
