
.home_cycle_fm{ border-radius: 5px; background-color: #fff; padding:10px;  }
.home_cycle{ width: 970px; height: 308px; overflow: hidden;position: relative;}
.buy_grids div{ float: left; margin-right: 10px;}
.buy_qikan{ height: 300px;}
.buy_qikan_g{ float: left; width: 190px; height: 300px; margin-right: 10px; background:url("../images/buy/grid_bg.png"/*tpa=http://www.walanwalan.com/static/images/buy/grid_bg.png*/) #fff bottom no-repeat ;
         position: relative;
    border-radius: 5px; overflow: hidden}
.buy_qikan_g div{ position:absolute;}
.buy_qikan_g .img{ height: 238px; width: 190px;}
.buy_qikan_g .txt{width: 190px;  height: 50px; top:238px; line-height: 50px; vertical-align: middle; text-align: center; }
.buy_qikan_g .lbl{ width: 94px; height: 68px; right:0; top:0;}
.buy_qikan_g a{ color: #888}
.buy_zhuti{background: #fff; /**padding:0 10px; border-radius: 5px 5px 0 0;**/ height: 290px; overflow: hidden; }
.buy_zhuti div{ float: left; width: 140px; height: 140px; margin: 0 0 10px 10px }
.buy_zhuti img{ width: 100%;}
.buy_zhuti .a0{ width: 740px; height: 290px; margin: 0}
.buy_more{ height: 50px; padding:0 10px 0 10px; line-height: 50px; vertical-align: middle; text-align: right; background: #fff; border-radius: 5px;}
.buy_more a{ color: #888}

.buy_latest{ background: #fff; padding: 33px 0 23px 0; height: auto; border-radius: 5px; overflow: hidden}
.buy_latest_free{ padding:0; height: auto; background: none}

.buy_latest div{ float: left; width:190px; height: 190px; margin: 0 10px 10px 0;  overflow: hidden; border-radius: 5px; overflow: hidden}
.buy_latest img{ width: 100%;  min-height: 100%}
.buy_latest .divvip{ width: 990px; border-radius: 0}
.buy_latest .div4,.buy_latest .div9,.buy_latest .divlast,.buy_latest .divvip{ margin-right: 0}
.buy_designers{ height: 600px;}



.buy_designer{ background: #fff; margin: 0 10px 10px 0px; float: left; width: 190px; overflow: hidden; height: 290px; border-radius: 5px}
.buy_designer a{ color: #888}
.buy_designers .div4,.buy_designers .div9{ margin-right:0}

.sg_head{  height: 50px; background: #fff; padding:5px; }
.sg_head_ava{ width: 45px; height: 40px; float: left;  }
.sg_head_name,.sg_head_level{ height: 20px; width: 127px; float: left; line-height: 20px; vertical-align: middle; }
.sg_head_name2{height: 40px; line-height: 40px;}
.sg_head_level{ color: #888}
.sg_cover .img{ height: 190px; overflow: hidden; }
.sg_cover .text{ height: 50px; line-height: 50px; text-align:center; vertical-align: middle;  }

.buy_motes{ height: 386px; border-radius: 5px; overflow: hidden; background: #fff; width: 990px;}



    .buy_mote div{ position: absolute}
.buy_mote{ float: left;  position: relative;  width: 151px; height: 386px; border-right:1px solid #dedede; overflow: hidden; background: #fff}
.buy_mote_background,.buy_mote_show{ width: 386px; overflow: hidden;}

.buy_mote_1 .buy_mote_background,.buy_mote_1  .buy_mote_show{top: -50px}
.buy_mote_2 .buy_mote_background,.buy_mote_2  .buy_mote_show{top: -140px}

.buy_mote_4{ border-right: 0; width: 150px}
.buy_mote_minmax{ width: 57px; height: 57px; right:0; background: url("../images/buy/max.png"/*tpa=http://www.walanwalan.com/static/images/buy/max.png*/) no-repeat;}
.buy_mote_show{ display: none}
.buy_mote.active{ width: 387px;}
.buy_mote_4.active{width: 386px;}
.buy_mote.active .buy_mote_minmax{ background: url("../images/buy/min.png"/*tpa=http://www.walanwalan.com/static/images/buy/min.png*/) no-repeat;}
.buy_mote.active .buy_mote_show{ display: block}

.content990_empty{ font-size: 12px}
.bodybuy1{background:url("../images/buy/bg1.png-v4"/*tpa=http://www.walanwalan.com/static/images/buy/bg1.png?v4*/) #EFEFEB repeat-x left 965px;}
.bodybuy2{background:url("../images/sell/bg1.png-v2"/*tpa=http://www.walanwalan.com/static/images/sell/bg1.png?v2*/) #EFEFEB repeat-x left 2110px; background: #EFEFEB}

.mb33{ margin-bottom: 33px}

.selljt_content {     font-size: 14px;                    height: 251px;            padding: 15px 0 0 15px;        }

.selljt_cover {       border-radius: 5px;     float: left;            width: 328px;            height: 218px;            overflow: hidden        }
.selljt_list {            float: left;            padding:20px 0 0 20px;            width: 647px;            height: 218px;        }

.selljt_list_content, .selljt_more {            position: absolute        }
.selljt_list_content {            width: 642px;            height: 178px;
    color: #888;               line-height: 160%  }
.selljt_list_content a {            color: #888        }
.selljt_list_content .first a {            color: #000;            font-size: 22px;        }
.selljt_more {            right: 0;            bottom: 0;        }
.selljt_list_content hr {            margin-top: 10px;            margin-bottom: 10px;        }


.buy_latest_lightbox{ padding: 30px; height:490px;background: #fff;border-radius: 5px; }
.buy_latest_lightbox .rel div{ position: absolute; overflow: hidden; width: 210px; height: 210px; text-align: center}
.buy_latest_lightbox .rel .div0{ width: 270px; height: 430px;}

.buy_latest_lightbox .div1{ left:280px;}
.buy_latest_lightbox .div2{ left:500px;}
.buy_latest_lightbox .div3{ left:720px;}


.buy_latest_lightbox .div4{ left:280px; top:220px;}
.buy_latest_lightbox .div5{ left:500px;top:220px;}
.buy_latest_lightbox .div6{ left:720px;top:220px;}
