.topbg{ background: url("../images/copyright/bg.jpg"/*tpa=http://www.walanwalan.com/static/images/copyright/bg.jpg*/) top center no-repeat #efefef; }
.qkform{ padding:20px; margin: 0 20px; background: #fff}
td{ vertical-align: middle !important;}

.cphome .steps {text-align: center;}
.cphome .steps li {display: inline-block; text-align: center; padding: 0 5px;}
.cphome .steps li.delimiter {width: 100px; padding-top: 42px; vertical-align: top;}
.cphome .steps li.delimiter hr {height: 2px; line-height: 2px; clear: both; margin: 0 15px; display: block; overflow: hidden; background-color: #d1d1d1;}
.cphome .steps li.step {width: 88px; padding-top: 100px; font-size: 18px; background: url("../images/copyright/steps_bg.png"/*tpa=http://www.walanwalan.com/static/images/copyright/steps_bg.png*/) top left no-repeat;}
.cphome .steps li.step2 {background-position-x: -100px;}
.cphome .steps li.step3 {background-position-x: -200px;}
.cphome .steps li.step4 {background-position-x: -300px;}
.cphome .steps li.step5 {background-position-x: -400px;}

.cphome .section1 {position: relative; height: 188px; margin-top: 5px; color: #000; border: 1px solid #d1d1d1;}
.cphome .section1 .tips {width: 103px; height: 103px; position: absolute; top: 0; right: 0; background-image: url("../images/copyright/tips_bg.png"/*tpa=http://www.walanwalan.com/static/images/copyright/tips_bg.png*/);}
.cphome .section1 .tips div {width:103px; height: 103px; padding-top: 18px; color: #fff; font-size: 18px; text-align: center; transform: rotate(45deg);}
.cphome .section2 {height: 228px; margin-top: 5px; border: 1px solid #d1d1d1; padding: 50px 50px 0;}
.cphome .section2 .title {color: #000; font-size: 20px;}
.cphome .section3 {position: absolute; top: 35%; right: 15%; font-size: 16px; line-height: 2.0;}

body{ color:#333}
@media (max-width: 1199px) {
    .cphome .section2 {padding: 30px 30px 0;}
    .cphome .section3 {right: 10%;}
}
@media (max-width: 767px) {
    .cphome .section2 {height: 188px;}
    .cphome .section3 {top: 10%; right: 5%; font-size: 14px;}
}