.fc_row{ padding:10px; border-bottom: 1px solid #dedede;
    height: 80px; background: url("../images/factories/arrow.png"/*tpa=http://www.walanwalan.com/static/images/factories/arrow.png*/) right center no-repeat;}
.fc_logo{ padding:5px; border:1px solid #dedede; width: 60px; height: 60px; float: left; overflow: hidden}
.fc_info{ padding:10px 40px 0 10px; color:#888;float: left; width: 340px; overflow: hidden; height: 45px;}
.fc_info b{ color: #000; }
.fc_info span{ background: url("../images/community/v2.png"/*tpa=http://www.walanwalan.com/static/images/community/v2.png*/) right center no-repeat; padding-right: 16px;}
.fc_head{ background: url("../images/factories/headbg.png"/*tpa=http://www.walanwalan.com/static/images/factories/headbg.png*/); width: 400px; height:28px; vertical-align: middle; line-height: 28px; padding-left:15px;

  }
.fc_total{ background:#EFEFEB; border:1px solid #dedede; margin-top: 10px; color:#888}
.fc_total .fleft,.fc_total .fright{
    height: 50px; vertical-align: middle; line-height: 50px; }
.fc_total .fleft{ padding-left:20px;}
.fc_total .fleft span{ color: red} 
.fc_total .fright,.btnfactoryprint{
    float: right;
    width: 180px; height: 50px; vertical-align: middle; line-height: 50px; text-align: center; background: url("../images/factories/btn.png"/*tpa=http://www.walanwalan.com/static/images/factories/btn.png*/); color:#fff}

.btnfactoryprint_dis{background: url("../images/factories/btng.png"/*tpa=http://www.walanwalan.com/static/images/factories/btng.png*/); }

.dsgallery{ width: 410px; height: 72px; margin-top: 10px;}
.dsgallery a{ display: block; float: left; margin:0 10px 0 0; width: 72px; height: 72px; overflow: hidden; text-align: center}

.dsgallery .img{ height: 72px;}


span.fbitem{display: inline-block; }
    .fbitem{ padding: 5px; border:1px solid white;  cursor: pointer}

    .fbitem.selected{ border:1px solid #FF9600 }

    .fbitem_fabric.filteron{ background: yellow }


    .design_models .col{ float: left; width: 82px; padding:5px; text-align: center; padding-top: 10px; max-width: 25%}
