body {color: #888; font-size: 12px; font-family:  "Microsoft YaHei",  'Helvetica Neue', Helvetica, Arial, Verdana; background: #fff; line-height: 1.5;}
img {border: 0}
a {color: #888; text-decoration: none}
hr {border-top-color: #dedede}


/*.wp50 {width: 50%}*/
.fm960 {width: 960px; margin: 0 auto}
.fm1190 {width: 1190px; margin: 0 auto;}
/*.body_fm {min-width: 1170px;}*/
/*.content_fm {width: 1190px; margin: 0 auto;}*/

.fleft {float: left}
.fright {float: right}
.inline {display: inline}
.none {display: none}
.clearline {clear: both; height: 0; line-height: 0; font-size: 0;}

.modal-backdrop {height: 100%;}
.form-control-short {width: 115px !important;}
.form-control-sm {width: 50%;}
.form-control-long {width: 250px !important;}

.ft12 {font-size: 12px;}
.ft14 {font-size: 14px;}
.ft16 {font-size: 16px;}
.ft18 {font-size: 18px;}

.m5 {margin:5px;}
.m10 {margin:10px;}
.m20 {margin:20px;}
.ml5 {margin-left: 5px;}
.ml10 {margin-left: 10px;}
.ml15 {margin-left: 15px;}
.ml20 {margin-left: 20px;}
.ml30 {margin-left: 30px;}
.mr5 {margin-right: 5px;}
.mr10 {margin-right: 10px;}
.mr20 {margin-right: 20px;}
.mt0 {margin-top: 0!important;}
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}
.mt40 {margin-top: 40px;}
.mb0 {margin-bottom: 0;}
.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb20 {margin-bottom: 20px;}
.mb50 {margin-bottom: 50px;}

.p5 {padding: 5px;}
.p10 {padding: 10px;}
.p20 {padding: 20px;}
.p30 {padding: 30px;}
.p50 {padding: 50px;}
.pl5 {padding-left: 5px;}
.pl10 {padding-left: 10px;}
.pl15 {padding-left: 15px;}
.pl20 {padding-left: 20px;}
.pr10 {padding-right: 10px;}
.pr15 {padding-right: 15px;}
.pt5 {padding-top: 5px;}
.pt10 {padding-top: 10px;}
.pt20 {padding-top: 20px;}
.pt30 {padding-top: 30px;}
.pb10 {padding-bottom: 10px;}
.pb20 {padding-bottom: 20px;}
.pb30 {padding-bottom: 30px;}
.pb50 {padding-bottom: 50px;}

.mw88 {min-width: 88px;}
.mw100 {min-width: 100px;}
.mw188 {min-width: 188px;}


.gray {color: darkgray}
.pointer {cursor: pointer}
.bgfff {background: #fff}
/*.bgef {background: #efefeb;}*/
/*.borderless td {border: none;}*/
.rounded {border-radius: 5px;}
.page-header {margin-top: 10px; color: #000; font-size: 16px; font-weight: normal; margin-top: 40px; margin-bottom: 10px;}

.rel {position: relative}
/*.abs {position: absolute}*/
.flow_fm {position: absolute}
.tcenter {text-align: center}
.bold {font-weight: bold}
.popover {max-width: 500px;}
.tdmiddle td { vertical-align: middle !important;}
.border{ border:1px solid #ccc; -webkit-border-radius: 5px; border-radius: 5px;}
label{ font-weight: normal}
.label {display: inline-block; border-radius: 5px; padding: 3px 5px; font-weight: normal}
.label-icon{ border-radius: 2px; /**width: 16px; height: 16px;**/ text-align: center; vertical-align: middle; padding:3px; color:#fff !important; font-size: 10px;}
.label-icon-v{background: #ff9600; font-family: Verdana}

/*.lh1 {line-height: 1}*/
.lh2, .lh2 dt, .lh2 dd {line-height: 2 !important;}

.underline {text-decoration: underline}
.nohover:hover, .nohover {text-decoration: none!important;}
.avisit:hover, a.avisit:hover {color: #91268f!important;}
.avisit:visited, a.avisit:visited {color: #91268f!important;}

.top_cart{ background: url("../images/cart.png"/*tpa=http://www.walanwalan.com/static/images/cart.png*/) left center no-repeat; padding-left:15px; display: inline-block;}
.top_cart b{ color: red; }


/**

.top_fm {height: 142px; background: url(/static/images/v2/top_fm.png)}
.top_bg_new{ width: 1190px; height: 142px; margin: 0 auto; background: url(/static/images/v2/top_bg_new.png?v4); position: relative}
.top_logo{position: absolute; float: left; width: 189px; height: 142px;}
.top_links{position: absolute; right:0px; top:19px; text-align: right; color: #888; }
.top_links a{ display: inline-block; margin-left:15px;}

.top_wish{background: url(/static/images/fav.png) left center no-repeat; padding-left:15px; display: inline-block;}
.search_input{ position: absolute;width: 690px; height: 24px; left:292px; top:56px; margin: 5px;  font-size: 14px;}
.search_input .keyword{width: 100%; height: 24px;   border: 0; background: none; }
.search_button{ left:990px; top:56px; height: 34px; width: 34px;  cursor: pointer; position: absolute;}

.search_drp_link{ font-size: 14px; cursor: pointer; left:189px; top:56px; position: absolute; width: 103px; height: 34px; vertical-align: middle; padding:0 0 0 10px; color: #888;  line-height: 34px;}
.search_drp {width: 76px;  left:189px; top:56px; background: #fff; border-radius: 5px; padding:0 10px 0 10px; position: absolute; z-index: 100;color: #888}
.search_drp div{cursor: pointer; min-height: 34px; line-height: 34px; vertical-align: middle; border-bottom: 1px solid #dedede; text-align: center;}
.search_drp .active{color: #588F28; font-weight: bold}
.search_text{position: absolute; width: 88px; height: 34px; left:935px; top:56px; background-color: #6a9f35; border-radius: 2px;}
.search_text{width: 88px; height: 34px; line-height: 34px; vertical-align: middle; text-align: center; color: #fff;}

.search_addcart {width: 170px; position: absolute; top: 56px; left: 1020px; text-align: right;}
.search_addcart .gotomy{display: block; background: #fff;  color: #888; height: 34px; border-radius: 2px; text-align: center; line-height:34px; margin-left:20px; vertical-align: middle; border: 1px solid #d1d1d1;}
.search_addcart button {color: #888; padding-left: 25px; padding-right: 5px; border-radius: 2px; background: #fff url(/static/images/cart.png) 8px center no-repeat; line-height: 20px; vertical-align: middle; border: 1px solid #d1d1d1;}
.search_addcart button:focus, .search_addcart button:hover {color: #888; background: #fff url(/static/images/cart.png) 8px center no-repeat;}
.search_addcart button .badge {margin-left: 3px; margin-right: 3px; padding: 1px 7px; color: #fff; font-weight: normal; background-color: #ff0000;}

.search_img{ position: absolute;width: 34px; height: 34px; left:1156px; top:56px;}
.top_nav{ position: absolute;height: 34px; left:234px; top:108px;  font-size:14px; }
.top_nav a,.top_fav a{ color: #fff; display: block; height: 34px; margin-right: 20px; line-height: 34px; vertical-align: middle; padding: 0 10px 0 10px; float: left;}
.top_nav a.active{ background: #588F28}
.top_fav{ position: absolute;height: 34px; right:0; top:108px;  font-size:14px; }
.top_fav a{ margin:0; }

.foot{ width: 1190px; margin: 0 auto; height: 272px; background: url(/static/images/v2/foot_bg.jpg); position: relative}
.foot div{ position: absolute; top:34px; width: 238px; height: 238px;}

.chat_fm{ background: url(/static/images/v2/chat_fm.png?v4) #fff no-repeat top; width: 88px;  border-radius: 0 0 0 5px; position: absolute;  z-index: 30; padding:104px 10px 10px 10px;}
.chat_fm a img{ margin-bottom: 1px;}

**/


.content{ background: #fff;     border-radius: 5px;   float: left; width: 1190px; margin: 10px 0 10px 0}
.content990{ width: 990px; margin-left: 10px;}
.content990_empty{ width: auto; margin: 0; padding: 0; border-radius: 0; float: none}

.sidenav{  width: 190px; float: left; margin: 10px 0 0 0; font-size: 14px;}
.sidepanel{ margin: 0 0 10px 0; border-radius: 5px;  overflow: hidden }
.sidepanel .h{ background: #000; color: #fff; height: 34px; line-height: 34px; vertical-align: middle; text-align: center; padding:0}
.sidepanel .h a{ color: #fff}
.sidepanel .hb{ background: #000; text-align:  center ;padding:0}
.sidepanel .c{ background: #fff; padding:15px 0 15px 0;}
.sidepanel li{ padding:3px 0 3px 41px; background-position: 10px}
.sidepanel .ch{ padding:3px 0 3px 41px; background: url("../images/buy/plus.png"/*tpa=http://www.walanwalan.com/static/images/buy/plus.png*/) left center no-repeat}
.sidepanel li a{ text-decoration: none}
.sidepanel li.active a{ color: #000; font-weight: bold; }
.sidepanel ul{ margin: 0; padding: 0; list-style: none}
.sidepanel table{width: 100%}
.sidepanel td{ padding: 3px}
.sidepanel .active{ background: #fff; color: #6A9F35}
.sidepanel .active a{  color: #6A9F35}
.sidepanel li.albumnavs {}
.sidepanel li.albumnavs a i {width: 18px; font-size: 12px;}
.sidepanel li.albumnavs ul {padding-left: 18px;}


/**
.prscy_pages{ padding-top: 18px; text-align: center; padding-bottom: 8px;}
.prscy_pages{text-align:center; height:41px; }
.prscy_pages a{border:0px; display:inline-block; display:inline-block; width:23px; height:13px; overflow:hidden; background:url(http://media.walanwalan.com/wldata/media/images/dotoff.png) no-repeat center; font-size:0px; padding:0px 5px 0px 5px; }
.prscy_pages .activeSlide{border:0px; background:url(http://media.walanwalan.com/wldata/media/images/doton.png) no-repeat center;}

.homebg{ background: url(/static/images/v2/homebg.jpg) top center no-repeat; min-height: 500px}
**/


.design_grid{ width: 240px; margin:0 10px 10px 0; overflow: hidden; border-radius: 5px; background: #fff}
.design_grid{ width: auto; margin: 0; border-radius: 0}
.design_grid .text{ padding: 15px 0; color: #888; line-height: 200%}
.design_grid .text .c {height: 48px; overflow: hidden;}
.design_grid .text .designer {white-space: nowrap; overflow: hidden;}
.design_grid a,.design_grid .b{ color: #ff9600}
.design_grid.active{ background: #ff9600; color: #fff}
.design_grid.active *{ color: #fff}

.designs_filters{ padding: 15px 20px 15px 20px; background: #fff; border-radius: 5px; margin-bottom: 10px; line-height: 200%;  font-size: 14px; }
.designs_filters span, .designs_filters a{ display: block;  margin-right:10px; color: #888; float: left}
.designs_filters .b,.designs_filters .active{ color: #ff9600}
.designs_filters .x{ padding-right: 15px; background: url("../images/buy/x.png"/*tpa=http://www.walanwalan.com/static/images/buy/x.png*/) right center no-repeat;}
.designs_filters .fleft1{ width: 860px;}
.designs_filters b{width: 12px; height: 12px; overflow: hidden; display: inline-block;  }


.paging2 .pagination>li>a{ color: #888}
.paging2 .pagination>.active>a{ color:#fff; background:#000; border-color: #6A9F35 }


/**
.prodcut_grids{ width: 1000px; overflow: hidden}
.prodcut_grid{ width: 240px; height: 358px; float: left; margin: 0 10px 10px 0; background: #fff; border-radius: 5px; overflow: hidden; padding-top: 30px;}
.prodcut_grid .c{ text-align: center; padding:0 10px 0 10px;}
.prodcut_grid .c a{ color: #666}
.price4 {background:url(/images/ts/men_logo.jpg) 70px center no-repeat; color:#7DB64A }
.price5 {background:url(/images/ts/women_logo.jpg) 70px center no-repeat;  color:#7DB64A}
.price7 {background:url(/images/ts/children_logo.jpg) 70px center no-repeat;  color:#7DB64A}
.price8 {background:url(/images/ts/couple_logo.jpg) 70px center no-repeat; color:#7DB64A }
.price9 {background:url(/images/ts/family_logo.jpg) 70px center no-repeat;  color:#7DB64A}
**/



/*design detail page*/
.ohidden{ overflow: hidden}
.bgfffr{border-radius: 5px; background: #fff; overflow: hidden }
.design_main{ width: 560px;   float: left; max-width: 100%}
.design_choose{ width: 420px; float: left; max-width: 100%}
.design_choose .design_choose_section {border-radius: 5px; background: #fff; margin-bottom: 10px; padding-bottom: 10px; overflow: hidden;}
.design_choose .design_choose_section .table {margin: 5px; border: none;}
.design_choose .design_choose_section .table * {color: #888;}
.design_choose .design_choose_section .table > tbody > tr > td {border: none; font-size: 14px;}
.design_showah{ position: relative; overflow: hidden; width: 540px; max-width: 100%}
.design_showah div{ position: absolute; }

.design_hrule{z-index: 1; overflow: hidden; background: url("../images/hrule80.png"/*tpa=http://www.walanwalan.com/static/images/hrule80.png*/); border-right:1px solid #000; height: 15px; text-align: center; width: 540px; }
.design_hrule span{ display: inline-block; background: #EDE40B;   padding:0 20px 0 20px; line-height: 15px; height: 15px; vertical-align: middle}
.design_hrule b{ color: red}
.design_vrule{background: url("../images/vrule80.png"/*tpa=http://www.walanwalan.com/static/images/vrule80.png*/); width: 15px; top: 15px; text-align: center; z-index: 1}
.design_vrule span{background: #EDE40B;display: block; width: 15px; text-align: center; padding:20px 0 20px 0;  }
.design_vrule b{ color: red; }

.design_repeat{z-index: 1}
.design_repeat,.design_repeat_tool{ top:25px; left:25px; background: url("../images/w88.png"/*tpa=http://www.walanwalan.com/static/images/w88.png*/); padding:7px 5px 7px 5px; border-radius: 5px; border: 1px solid #dedede;  }
.design_repeat a,.design_repeat span,.design_repeat_tool a,.design_repeat_tool span{display: block; float: left; padding:3px; margin:0 2px 0 2px; height: 37px; overflow: hidden; line-height: 31px; vertical-align: middle; color: #888}
.design_repeat_fm{width: 100%; height: 100%; z-index: 1000; position: absolute; left:0; top:0; min-width: 960px; min-height: 500px;}
.design_repeat_loading{ width:300px; height: 300px; margin:  100px auto; }
.design_repeat_loading img{ width: 100%; height: 100%;}
.design_repeat_tool{ position: absolute; width: auto;   }
.design_repeat_tool .active{ background: #ff9600}

.design_fav{ z-index: 1; background: url("../images/w88.png"/*tpa=http://www.walanwalan.com/static/images/w88.png*/); right:10px; top:25px;padding:13px; border-radius: 5px; border: 1px solid #dedede; position: absolute;}
.design_report{z-index: 1; background: url("../images/w88.png"/*tpa=http://www.walanwalan.com/static/images/w88.png*/); right:72px; top:25px;padding:10px;border-radius: 5px; border: 1px solid #dedede; position: absolute;}
.design_showah .design_grid_lines{ width: 100%; height: 100%; background: url("../images/design_grid_lines.png"/*tpa=http://www.walanwalan.com/static/images/design_grid_lines.png*/); z-index: 0; display: none}
.design_qrcode{position: absolute; right:0;bottom:0; background: #fff; }
.design_qrcode a{   }

.greenhead{ height: 34px; line-height: 34px; vertical-align: middle; padding-left:10px; background: #6A9F35; color: #fff; font-size: 14px;}
.design_more a{ display: block; float: left; width: 108px; height: 108px; overflow: hidden; margin: 0 10px 10px 0;}
.design_more{ padding:10px 0 0 10px;   overflow: hidden;}

.design_org_head{ background: url("../images/designs_org_head.png"/*tpa=http://www.walanwalan.com/static/images/designs_org_head.png*/); height: 34px; }
.design_org_head span{ height: 34px; vertical-align: middle; line-height: 34px; display: block; float: left; color: #fff; cursor: pointer; font-size: 14px;}
.design_org_head .active{ background: url("../images/designs_org_on.png"/*tpa=http://www.walanwalan.com/static/images/designs_org_on.png*/) bottom center no-repeat;}

.design_color_bg{ height: 36px; line-height: 36px; vertical-align: middle; background: url("../images/design_color_bg.png"/*tpa=http://www.walanwalan.com/static/images/design_color_bg.png*/); text-align: center}
.design_colors{ overflow: hidden;  padding:5px; }
.design_colors .img{ float: left; overflow: hidden;  display: block; width: 50%;}
.design_colors img{ width: 66px; border: 3px solid white; margin:2px; }
.design_colors .active img{ border: 3px solid #FF9600; }

.design_colors_1 .img{ width: 100%; float: none}
.design_colors_1 img{  width: 176px; }

.design_models{ padding-left: 5px;}
.design_models .h{ clear: both; padding: 0px; height: 37px; background: url("../images/line37.png"/*tpa=http://www.walanwalan.com/static/images/line37.png*/); line-height: 0; text-align: center; color: #888; margin:0 10px 0 5px;}
.design_models .m{ float: left; width: 78px; height: 78px;  border:3px solid #fff;  cursor: pointer; overflow: hidden;  margin:2px;}
.design_models .active{border: 3px solid #FF9600;}
.design_models img{ width: 72px;}
.models_content .h span{ background: #fff; display: inline-block; height: 37px; line-height: 37px; vertical-align: middle; padding:0 20px 0 20px;}

/**
.desgin_btn{ border-top:1px solid #dedede; padding: 10px 10px 0 10px;}
.desgin_btn a{ display: block;  background: url(/static/images/design_colors_bg.png); border-radius: 5px; overflow: hidden; padding:0 5px 0 5px; height: 50px; line-height: 50px; text-align: center; vertical-align: middle; color: #fff}
**/

.model_select{ padding:0 10px 0 5px;}
.model_select option,.model_select select{ color: #888}
.design_showmodel{ position: relative; overflow: hidden; background: url("../images/loading.gif"/*tpa=http://www.walanwalan.com/static/images/loading.gif*/) top center no-repeat ;}
.design_showmodel div{ position: absolute;}

/**
.desing_info_table{ border:1px solid #dedede; border-top:0; border-left:0}
.desing_info_table .active{ background: #eee; border-right:1px solid #dedede; border-left:1px solid #dedede}
.model_pages{ text-align: center; height: 50px; margin-bottom: 5px; line-height: 50px; vertical-align: middle; font-size: 14px;}
.model_pages a{ display: inline-block; padding:0 10px 0 10px; color: #666}
.model_pages .active{ color: #FF9600}
**/

.design_panel_download, .design_panel_mine {width: 195px; margin: 10px 0 10px 10px; background: #eee; border: 1px solid #ddd;}
.design_panel_content{ font-size: 13px;}
.design_panel_content .b{ color: #8C191B; font-size: 16px; font-weight: bold}
.design_panel_content .small{ margin-top: 10px; color: #999; font-size: 12px}

/*.sell_qq{ width: 190px; height: 262px; background: url(/static/images/v2/qq.png); text-align: center; padding-top: 116px; color: #888; margin-bottom: 10px; }*/
.btn-orange,.btn-orange:hover{background: url("../images/designs_org_head.png"/*tpa=http://www.walanwalan.com/static/images/designs_org_head.png*/);  border:0; color: #fff; display: inline-block; padding:5px 10px 5px 10px;  text-decoration: none }
.btn-orange-lg,.btn-orange-lg:hover {margin-top:5px; padding:6px 25px; font-size: 15px;}

small{font-size: 12px;}
.small{ font-size: 12px; }
.smallcolor{ font-size: 12px; color: #999}
.hr10{ margin: 10px 0 10px 0}

.covers4 div{ width: 225px; height: 150px;  float: left; margin-right: 10px; overflow: hidden}
.covers4 img{ width: 225px;}
.covers4 .div3{ margin-right: 0}
.articles_content img{ max-width: 930px; display: block}
.articles_content *{ font-size: 14px; line-height: 2}

.pagefm{ max-width: 640px; margin: 20px auto;}
.pagerow{  background: #fff; border:1px solid #e7e7e7;  overflow: hidden; margin-bottom: 30px;}
.pagerow_title{ padding:10px; text-align: center; color:#888}
.pagerow_img{ max-height:680px; overflow: hidden}
.pageheader{ color: #fff; background: #000; padding:10px; }
.pageheader a{ color: #fff;font-size: 18px; }
.pagedes{ padding:20px; line-height: 2}
.pagedes img{ max-width:100%; margin-bottom: 10px}


.suser{ width: 190px; background: #fff; border-radius: 5px; overflow: hidden; color: #888; font-size: 12px  }
.suser div{ overflow: hidden}
.suser a{ color: #888}
.suser_head{ height: 50px; padding:5px;border-bottom: 1px solid #dedede;}
.suser_foot{ text-align: center;   line-height: 50px; vertical-align: middle; border-top: 1px solid #dedede;}
.suser_works{ height: 190px;}
.suser_works a{ display: block; float: left; width: 87px; height: 87px; overflow: hidden; margin:5px 0 0 5px;}
.suser_ava,.suser_org,.suser_auth{ float: left;}
.suser_ava{ width: 40px; height: 40px; margin-right: 5px; text-align: center}
.suser_org,.suser_auth{ height:20px; width: 135px;  line-height: 20px; vertical-align: middle}
.suser_org2{ height:40px; line-height: 40px; }

.suser2 {position: relative; max-width: 222px; height: 350px; margin-bottom: 20px; border: 1px solid #dedede; background-color: #fff; overflow: hidden;}
.suser2 a {color: #000; font-size: 14px;}
.suser2_works {height: 218px; overflow: hidden; display: inline-block;}
.suser2_ava {position: absolute; left: 0; top: 163px; right: 0; bottom: 0; margin: 0 auto; width: 110px; height: 110px; border-radius: 50%; border: 5px solid rgba(0,0,0,0.2); overflow: hidden; text-align: center;}
.suser2_ava div {width: 100px; height: 100px; padding: 20px; display: table-cell; vertical-align: middle; background-color: #fff;}
.suser2_ava a {width: 60px; max-height: 60px; display: block; overflow: hidden;}
.suser2_ava img {width: 60px;}
.suser2_org {margin: 60px 15px 0 15px; text-align: center; line-height: 2;}


.morebar{ background: #fff; border-radius: 5px; height: 50px; text-align: right; padding:10px;}
.morebar a{text-decoration: none; display: block; float: right; height: 30px; vertical-align: middle; line-height: 30px; background: url("../images/morebg.png"/*tpa=http://www.walanwalan.com/static/images/morebg.png*/); border-radius: 5px;  padding:0 20px 0 20px; color: #fff; }

.big-title{ background: url("../images/lineb.png"/*tpa=http://www.walanwalan.com/static/images/lineb.png*/) center repeat-x; font-size:22px; padding:0; line-height: 3; vertical-align: middle; text-align: center}
.big-title span{ display: inline-block; background: #EFEFEB; padding:0 11px;}


.customizations {}
.customizations .custsteps {color: #888; font-size: 14px; padding: 30px 0; background-color: #fff; border: 1px solid #d1d1d1; text-align: center;}
.customizations .custsteps h5 {color: #000; font-weight: normal;}
.customizations .custsteps ul {margin: 0; padding: 0; list-style: none;}
.customizations .custsteps li {display: inline-block; text-align: center; padding: 0 5px;}
.customizations .custsteps li.delimiter {width: 100px; padding-top: 28px; vertical-align: top;}
.customizations .custsteps li.delimiter hr {height: 2px; line-height: 2px; clear: both; margin: 0 15px; display: block; overflow: hidden; background-color: #d1d1d1;}
.customizations .custsteps li.step {width: 60px; padding-top: 65px; background: url("../images/collection/customizations_bg2.png"/*tpa=http://www.walanwalan.com/static/images/collection/customizations_bg2.png*/) top left no-repeat;}
.customizations .custsteps li.step2 {background-position-x: -100px;}
.customizations .custsteps li.step3 {background-position-x: -200px;}
.customizations .custsteps li.step4 {background-position-x: -300px;}
.customizations .custsteps li.step5 {background-position-x: -400px;}
.customizations .custsection {margin-top: 20px;}
.customizations .custsection small {margin-left: 10px;}
.customizations .custsection strong {color: #000;}
.customizations .custsection .page-header {margin-top: 20px; padding: 5px 10px; font-size: 14px; background-color: #efefef;}
.customizations .custlist {color: #888;}
.customizations .custlist .nav-tabs {}
.customizations .custlist .nav-tabs a {color: #000; font-size: 14px; padding-left: 30px; padding-right: 30px;}
.customizations .custlist .row {margin: 0; padding: 20px 0 10px; border-bottom: 1px solid #efefef;}
.customizations .custlist .row h5 {color: #000; margin: 0 0 10px; padding: 0;}
.customizations .custlist .row h5 a {color: #000; font-size: 16px;}
.customizations .custlist .status {padding: 0 8px;}


.competitionnav {position: relative;}
.competitionnav .sznav {bottom: 0px; height: 50px; color: #fff; font-size: 14px; background: none; background: #585858; overflow: hidden;}
.competitionnav .sznav a {display: inline-block; height: 50px; padding: 0 20px; color: #fff; line-height: 50px; vertical-align: middle;}
.competitionnav .sznav a.active {color: #fff; font-weight: bold; background-color: #000;}
.competitionscon {max-width: 1190px; margin: 0 auto;}
.competitionscon .red {color: #ff0000;}
.competitionscon .modal-header {padding: 10px 15px!important;}
.competitionscon .modal-header h4 {font-size: 16px;}

.competitionthumbs {position: absolute; left: 3px; bottom: 3px; width: 60px; max-height: 90px; border: 2px solid #ff9900; overflow: hidden;}
.competitionthumbs a {display: inline-block;}

.competitionmodal {}
.competitionmodal .modal-body {padding: 0 50px 30px;}
.competitionmodal .modal-body .title {height: 80px; line-height: 80px; color: #000; font-size: 18px; border-bottom: 1px solid #d1d1d1;}
.competitionmodal .modal-body .form-group {margin-bottom: 20px;}
.competitionmodal .modal-body .form-group>button {width: 48%;}


.consolecon .page-header {margin-top: 0;}
.consolecon .panel {border-radius: 0;}
.consolecon .panel-heading * {color: #000; font-weight: bold;}
.consolecon .panel-heading .fright {width: 16px; margin-top: 3px;}
.consolecon .panel-heading .fright .glyphicon {color: #4a90e2; font-size: 16px;}
.consolecon .panel-body>.table {margin-bottom: 0;}
.consolecon .panel-body>.table>tbody>tr:first-child>td {border-top: none;}
.consolenavs {margin-bottom: 0!important;}
.consolenavs h4 {margin-top: 65px; position: relative;}
.consolenavs h4 span {float: none; display: inline-block; margin-right: 0;}
.consolenavs .designer {position: relative; padding: 0 0 15px; border-top: none; border-bottom: 1px solid #d1d1d1;}
.consolenavs .designer_banner {min-height: 65px; background-position: center top;}
.consolenavs .designer_avatar {position: absolute; left: 50%; top: 188px; margin-top: -55px; margin-left: -55px; width: 110px; height: 110px; border-radius: 50%; border: 5px solid rgba(0,0,0,0.2); overflow: hidden; text-align: center;}
.consolenavs .designer_avatar div {width: 100px; height: 100px; padding: 20px; display: table-cell; vertical-align: middle; background-color: #fff;}
.consolenavs .designer_avatar a {width: 60px; max-height: 60px; display: block; overflow: hidden;}
.consolenavs .designer_avatar img {width: 60px;}
.consolenavs .stats {color: #000; font-size: 16px; text-align: center;}
.consolenavs .stats li {padding: 5px 20px; border-left: 1px solid #d1d1d1;}
.consolenavs .stats li:first-child {border-left: none;}
.consolenavs .stats li small {display: block; line-height: 1.5; font-size: 12px;}
.consolesubnavs {padding: 15px 15px 0; border: none;}
.consolesubnavs ul {margin-bottom: 0;}
.consolesubnavs li {margin-right: -4px; padding: 0 0 15px;}
.consolesubnavs li.active {border-bottom: 5px solid #4a90e2;}
.consolesubnavs li:first-child a {border: none;}
.consolesubnavs li a {padding: 0 15px; line-height: 1.2; border-left: 1px solid #888;}
.consolesubnavs li a:focus, .consolesubnavs li a:hover {color: #4a90e2;}


.hm-t-container{ display: none}
.container .container{ padding:0}

/**.readicon{position: absolute; width: 124px; height: 117px; top:0; right:0; z-index: 3; text-align: right; cursor: pointer}**/
/*.readicon {position: absolute; right: 0; bottom: 0; height: 36px; line-height: 36px; z-index: 3; color: #fff; font-size: 14px; text-align: center; padding: 0 12px; background: url("/static/images/read_bg.png") top left no-repeat;}*/
.readicon {position: absolute; top: 0; right: 0; width: 43px; height: 43px; z-index: 3; color: #fff; font-size: 14px; text-align: center; background: url("../images/read_bg_2.png"/*tpa=http://www.walanwalan.com/static/images/read_bg_2.png*/) top right no-repeat;}
.readicon p {width: 60px; height: 20px; margin-top: 5px; color: #fff; font-size: 13px; text-align: center; transform: rotate(45deg);}
.copyrighticon {position: absolute; width: 90px; height: 90px; top: 0; right: 0; z-index: 3;cursor: pointer; background: url("../images/copyright/tips_bg_2.png"/*tpa=http://www.walanwalan.com/static/images/copyright/tips_bg_2.png*/) top right no-repeat;}
.copyrighticon p {width:90px; height: 90px; padding-top: 18px; color: #f0ad4e; font-size: 13px; text-align: center; transform: rotate(45deg);}
.rcmdicon {position: absolute; left: 5px; bottom: 5px; padding: 3px 8px; color: #fff; background-color: #333; border-radius: 5px; opacity: 0.85;}


.redbutton, .pinkbutton {background: none;}
.redbutton, .redbutton:active, .redbutton:focus, .redbutton:hover {color: #fff!important; border-color: #ff0000; background-color: #ff0000;}
.pinkbutton, .pinkbutton:active, .pinkbutton:focus, .pinkbutton:hover {color: #fff!important; border-color: #cd007e; background-color: #cd007e;}

.btn-primary {color: #fff; border-color: #4a90e2; background-color: #4a90e2;}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {background-color: #337ab7;}


.logonavbar {background: #fff; background-color: #000; padding: 30px 0;}
.logonavbar a {color: #aaa;}
.logonavbar a:hover, .logonavbar a:focus {color: #aaa;}
.logonavbar .navbar-brand {margin-right: 20px; padding: 0;}
.logonavbar .navbar-toggle {border: 1px solid #666;}
.logonavbar .navbar-toggle .icon-bar {background-color: #666;}
.logonavbar .navbar-collapse {}
.logonavbar .navbar-collapse a.a {background: none; padding: 0 10px; line-height: 46px; text-decoration: none;}
.logonavbar .navbar-collapse a.active span {color: #39a1db;}
.logonavbar .navbar-collapse a:hover, .logonavbar .navbar-collapse a:focus {background: none;}

.logonavbar .subnavs {position: relative;}
.logonavbar .subnavs .dropdown-menu {position: absolute; top: 30px; left: 0; min-width: 100px; padding-top:44px; background-color: #000;}
.logonavbar .subnavs .dropdown-menu>li:first-child {height: 10px; border-top: 5px solid #39a1db; overflow: hidden;}
.logonavbar .subnavs .dropdown-menu>li>a {color: #aaa; font-size: 12px;}
.logonavbar .subnavs .dropdown-menu>li>a:hover {color: #39a1db;}

.logonavbar .navbar-right ul {margin-top: 0; margin-bottom: 0;}
.logonavbar .navbar-right li {padding: 0 8px;}
.logonavbar .navbar-right .cart {padding-left: 20px; background: url("../images/icon_cart.png"/*tpa=http://www.walanwalan.com/static/images/icon_cart.png*/) left center no-repeat;}
.logonavbar .navbar-right .cartbadge {color: #fff; background-color: #ff0058;}
.logonavbar .navbar-right .personal {width: 105px; color: #aaa; font-size: 12px; padding: 0; border: 1px solid #282828; border-radius: 5px; line-height: 32px; background-color: #181818; text-align: center;}
.logonavbar .navbar-right .personal img {margin-right: 5px; vertical-align: text-top;}
.logonavbar .navbar-right .personal + .dropdown-menu {width: 105px; min-width: 105px; color: #aaa; font-size: 12px; padding: 5px 8px; border: 1px solid #282828; border-radius: 5px; background-color: #181818;}
.logonavbar .navbar-right .personal + .dropdown-menu li {padding: 3px 0; overflow: hidden;}
.logonavbar .navbar-right .personal + .dropdown-menu li .personal_avatar {width: 38px; border-radius: 50%;}
.logonavbar .navbar-right .personal + .dropdown-menu li > a {color: #aaa; background-color: #181818;}
.logonavbar .navbar-right .personal + .dropdown-menu li > a:hover, .logonavbar li .personal + .dropdown-menu > li > a:focus {color: #aaa; background-color: #181818;}
.logonavbar .navbar-right .personal + .dropdown-menu li li a {line-height: 1.5; white-space: nowrap;}
.logonavbar .navbar-right .personal + .dropdown-menu li li img {margin-right: 5px; vertical-align: text-top;}


/**
.submenu{ border-bottom: 1px solid #000; padding: 20px 20px; margin-bottom: 10px;}
.submenu a{ color: #888; display: inline-block; margin-right: 20px;}
.submenu a.active{ color: #000}
**/

.searchfm {max-width: 230px; padding-right: 0;}
.searchfm .input-group-addon {color: #fff; border-color: #39a1db; background-color: #39a1db;}
.searchfm #sizing-addon3{ background: #fff; border-color:#fff; color:#b8b8b8;}
.searchfm #sizing-addon3:hover{color: #39a1db;}
.homebannerfm{ padding-bottom: 56px; background: #fff}
.homebannerfm .carousel-indicators { bottom:-48px; }
.carousel-indicators li{ background: #888; border-color: #888}
.carousel-indicators .active{ background: #000;border-color: #000}
.carousel-inner>.item>a>img{ display: inline}

.bigheader{ background: url("../images/line.png"/*tpa=http://www.walanwalan.com/static/images/line.png*/) #fff center repeat-x}
.bigheader,.bigheader span,.bigheader a{ height: 77px; line-height: 77px; vertical-align: middle; font-size: 20px; text-align: center}
.bigheader span,.bigheader a{ display: inline-block; color:#000; padding:0 76px; background: #fff}

.row10{margin-left: -10px;  margin-right: -10px;}
.col-xs10-2{ padding-left: 10px; padding-right: 10px; width: 20%;}


@media (min-width: 768px){
    .col-sm10-2{ padding-left: 10px; padding-right: 10px; width: 20%;}
    /*.submenu{ padding-left:203px;}*/
}
@media (min-width: 992px) {
    .col-md10-2{ padding-left: 15px; padding-right: 15px; width: 20%;}
}


.dszhuti_titles .g{color:#888; font-size: 14px; background: #efefef; border: 1px solid #d1d1d1; height: 48px; vertical-align: middle; line-height: 48px; text-align: center; cursor: pointer; overflow: hidden }
.dszhuti_titles a{ font-size: 14px; line-height: 1.0; }
.dszhuti_titles li {padding: 0 20px 0 15px; border-right: 1px solid #888;}
.dszhuti_titles li:last-child {border-right: none;}
.dszhuti_titles li.active a {color: #000;}
.dszhuti_contents .img{ margin-bottom: 20px; overflow:hidden}
.dszhuti_contents .more{ border: 1px solid #d1d1d1; text-align: center; vertical-align: middle;}
.dszhuti_contents .more a{ color: #888; font-size: 16px;}

.homedesigners{ background: url("../images/moredesigners_v3.jpg"/*tpa=http://www.walanwalan.com/static/images/moredesigners_v3.jpg*/) #efefef center no-repeat; padding: 0; text-align: center; height: 338px;  vertical-align: middle; line-height: 338px; margin-bottom: 20px;}
.homedesigners a { color: #fff; font-size: 14px;}

.morecustomers{ padding:32px; text-align: center; border: 1px solid #d1d1d1; margin-bottom: 20px;}
.morecustomers img{ max-width: 100%;}


.designs_filters a{ margin-right:8px;}
.designs_filters{ border:1px solid #d1d1d1; padding: 0; border-radius: 0; margin-bottom: 20px; font-size:12px;}
.designs_filter{ border-top:1px solid #d1d1d1; padding:10px 15px;}
.designs_filters .b, .designs_filters .active{ color: #000}
.designs_filter_status{ border: 0}
.designs_filters .fleft1{ width: auto}

.designs_filter_status{ background: #efefef; text-align: center}
.designs_filter_status .aa{ display: inline-block; border:1px solid #d1d1d1; border-radius: 5px; overflow: hidden }
.designs_filter_status .b0{ display: none}
.designs_filter_status a{ display: inline-block;  padding:3px 10px; background: #fff; margin-right: 0; border-left: 1px solid #d1d1d1;  }
.designs_filter_status .a0{ border: 0;}
.designs_filter_status .active{ background: #000; color: #fff}

.designs_filters_area .color {width: 12px; height: 12px; overflow: hidden; display: block; float: left; margin: 4px 5px 0 0;}
.designs_filters_area .designs_filter_item {text-align: center; border: 1px solid #d1d1d1; border-top: none;}
.designs_filters_area .nav>li>a:focus, .designs_filters_area .nav>li>a:hover {color: #000; background-color: #fff;}
.designs_filters_area .nav .open>a, .designs_filters_area .nav .open>a:focus, .designs_filters_area .nav .open>a:hover {color: #000; background: none;}
.designs_filters_area .dropdown-menu>.active>a, .designs_filters_area .dropdown-menu>.active>a:focus, .designs_filters_area .dropdown-menu>.active>a:hover {color: #000; background: none; background-color: #e8e8e8;}

@media (min-width: 768px) {
    .designs_filters_area .designs_filter_item .navbar-nav {float: none; display: inline-block;}
}
@media (max-width: 767px) {
    .logonavbar .navbar-nav {margin: 0;}
    .logonavbar .navbar-nav a:first-child {padding-left: 0;}
    .logonavbar .navbar-brand {margin-right: 20px; padding: 0 15px;}
    .logonavbar .navbar-right {display: inline-block; padding-left: 0; vertical-align: middle;}
    .logonavbar .navbar-collapse {margin-top: 5px;}
    .logonavbar .navbar-collapse li {display: inline-block;}
    .logonavbar .navbar-collapse a {line-height: 1.5; padding: 0 10px;}

    .designs_filters_area .navbar-nav {display: inline-block;}
    .designs_filters_area .designs_filter_item {text-align: left;}
    .designs_filter_status .mw100 {min-width: auto;}
    .design_grid .text {padding: 10px 0;}
    .design_grid .text span.price {font-size: 14px;}
}


.aitemcontent{ padding: 0 !important;}
.greenhead{ background: #000}

@media (min-width: 1200px){
    .container {
        width: 1220px;
    }
}


.foot_fm {margin-top: 20px; border-top: 30px solid #000; color: #888; background-color: #efefef;}
.foot_fm .row_foot {max-width: 970px; margin: 20px auto; text-align: center; padding-left: 60px;}
.foot_links {max-width: 1190px; margin: 0 auto; padding: 15px 0; border-top: 1px solid #d1d1d1; border-bottom: 1px solid #d1d1d1;}
.foot_links ul {margin-bottom: 0;}
.foot_links li {min-width: auto; font-size: 16px; padding: 0 20px 0 15px; border-right: 1px solid #bbb;}
.foot_links li:last-child {border-right: none;}
.foot_links li a {line-height: 1.0;}


.pltrend {border:1px solid #d1d1d1; padding-bottom: 50px; margin-bottom: 20px}
.pltrend .carousel-indicators { bottom:-48px; right:20px; text-align: right; width: 100%; left:auto; margin-left: 0; }
.pltrend .list {margin: 0; padding: 0; font-size: 20px;}
.pltrend .list a {margin-left: 10px; color: #888; font-size: 14px;}
.pltrend .list li {line-height: 50px; padding: 0 30px; border-top: 1px solid #d1d1d1;}
.pltrend .list li.img {height: 250px; padding: 0; border-top: none; overflow-y: hidden;}
.pltrend .list li.img a {text-align: center;}
.pltrend .list li.text {color: #fff; border-top: none; background-color: #000;}
.pltrend .list li.text a {color: #fff;}

/*mobile*/



.dvbar {background-color: #efefef; padding: 15px; border: 1px solid #d1d1d1;}
.dvbar .active, .dvbar .active:active, .dvbar .active:focus, .dvbar .active:hover {color: #fff; background-color: #000;}

.modal-dialog-special {width: 400px; height: 240px;}
.modal-dialog-special .modal-header {height: 50px;}
.modal-dialog-special .modal-body {min-height: 120px; font-size: 14px; line-height: 100px;}
.modal-dialog-special .modal-footer {height: 70px; border-top: none; padding-top: 0;}

.posterGrid{position:relative;height:310px;}
.posterGrid img{max-width:none;max-height:none;border:0 none;background:#888;}
.posterGrid .contentHolder{position:relative;overflow:hidden;}
.posterGrid .contentHolderUnit{cursor:pointer;position:absolute;width:690px;height:270px;}
.posterGrid .contentHolderUnit a.elementLink{display:block;overflow:hidden;z-index:3;position:absolute;left:0;right:0;width:100%;height:100%;}
.posterGrid .contentHolderUnit img{width:100%;height:100%;}
.posterGrid .contentHolderUnit .elementTitle{}
.posterGrid .contentHolderUnit .elementOverlay{z-index:1;position:absolute;top:0;left:0;background:#000;width:100%;height:100%;opacity:0;filter:opacity=0;}
.posterGrid .contentHolderUnit .leftShadow{position:absolute;top:23px;left:-174px;width:174px;height:224px;}
.posterGrid .contentHolderUnit .rightShadow{position:absolute;top:23px;right:-174px;width:174px;height:224px;}
.posterGrid .bannerControls{}
.posterGrid .leftNav,.posterGrid .rightNav{cursor:pointer;z-index:10;position:absolute;top:50%;width:45px;height:45px;margin-top:-43px;}
.posterGrid .leftNav{left:7px;background:url("../img/prev.png"/*tpa=http://www.walanwalan.com/static/img/prev.png*/) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/img/prev.png");}
.posterGrid .rightNav{right:7px;background:url("../img/next.png"/*tpa=http://www.walanwalan.com/static/img/next.png*/) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/img/next.png");}
.posterGrid .leftNav:hover{}
.posterGrid .rightNav:hover{}
.posterGrid .bottomNav{z-index:140;position:absolute;width:100%;height:10px;margin-top:270px;padding:10px 0 0;text-align:center;}
.posterGrid .bottomNavButtonOFF{cursor:pointer;overflow:hidden;display:inline-block;*display:inline;*zoom:1;width:10px;height:10px;margin:0 5px;vertical-align:top;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#c3c3c3;}
.posterGrid .bottomNavButtonOFF:hover{background:#aaa;}
.posterGrid .bottomNavButtonON,
.posterGrid .bottomNavButtonON:hover{background:#69aaec;}
.posterGrid .bottomNavLeft{}
.posterGrid .bottomNavRight{}