body{text-align:center;	font-family:"Microsoft Yahei";text-align:center;	font-size:12px;color:#4F4F4F;}
.bg{ background:#F8F8F8;}
/*头部*/
.header{ width:100%; margin:0px auto; min-width:1000px; background:#FFF; box-shadow:0px 0px 3px #666;}
.header .head_m{ width:1000px; margin:0px auto; height:105px; position:relative;}
.header .logo{ width:393px; height:93px; float:left; margin-top:6px;}
.header .logo img{ width:393px; height:93px;}
.header .nav{ width:600px; height:40px; position:absolute; right:0px; top:40px; text-align:right;}
.header .nav li{ display:inline-block; *display:inline; zoom:1; width:auto; margin:0px; padding:0px 15px; height:40px; line-height:40px; border-bottom:2px solid #FFF;}
.header .nav li a{ font-size:16px; color:#333333;}
.header .nav li.now , .header .nav li:hover{ border-bottom:2px solid #3D9FE0;}
.header .nav li.now a , .header .nav li:hover a{ color:#3D9FE0;}
.header p{ width:1000px; height:30px; line-height:30px; text-align:left; margin:0px auto; text-align:left;}
/*幻灯片*/
.banner{ width:100%; min-width:1000px; overflow:hidden; height:375px; margin:0px auto;}
#inner { width:100%;	min-width:1000px;margin: 0 auto;height:375px;overflow:hidden;}
.hot-event {padding: 0px;position: relative;}
.hot-event .switch-tab {text-align: center;	position:absolute;left:0px;top:345px;width:100%;height:30px;line-height:30px;z-index:99;}
.hot-event .switch-tab a, .hot-event .switch-tab .current {margin: 0 2px;display: inline-block;width:8px;height:8px;background:#fff;overflow: hidden;vertical-align:middle;text-indent:-9999px; border-radius:200px; -moz-border-radius:200px; -webkit-border-radius:200px;}
.hot-event .switch-tab .current {background:#C1A50D;width:9px;height:9px;}
.hot-event .event-item {height:375px;width:100%;position: absolute;z-index: 1;left: 0;top: 0;}
.hot-event .event-item .banner {display: block;	overflow:hidden;text-align:center;position:relative;margin:0px auto;}
.hot-event .event-item img {-webkit-box-reflect: below 0 -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(85%, transparent), to(rgba(255,255,255,.2)));border: 0;width:1920px;	height:375px;margin:0px auto;}
.hide-clip {position: absolute!important;clip: rect(1px 1px 1px 1px);clip: rect(1px,1px,1px,1px);padding: 0!important;border: 0!important;height: 1px!important;line-height: 0!important;width: 1px!important;overflow: hidden;}
/*幻灯片*/
.hui_bg{ width:100%; min-width:1000px; background:#F0F0F0; margin:0px auto; padding:20px 0;}
.i_box{ width:1000px; margin:0px auto; text-align:left;}
.i_box .title{ width:100%; height:65px; line-height:65px; margin-bottom:10px; color:#2D2D2D; font-size:30px;}
.i_box .title em { font-family:Arial; margin-left:10px;}
.i_box .i_bl{ width:605px; float:left;}
.i_bl dl{ width:100%; margin-bottom:20px;}
.i_bl dl dt{ width:280px; height:160px; float:left;}
.i_bl dl dt img{ width:280px; height:160px; vertical-align:top;}
.i_bl dl dd{ width:300px; height:160px; float:right; overflow:hidden;}
.i_bl dl dd a{ font-size:14px; color:#333; line-height:160%;}
.i_box .i_bl p{ width:100%; line-height:160%; font-size:14px;}
.i_box .i_br{ width:355px; float:right;}
.i_box .i_br .des{ width:100%; height:175px; font-size:14px; color:#555; line-height:170%; overflow:hidden;}
.i_box .i_br .link{ width:100%; height:30px; line-height:30px; text-align:right;}
.i_box .i_br .link a{ font-size:12px; color:#3989BA; text-decoration:underline;}
.i_bl .i_about{ width:100%;}
.i_bl .i_about h1{ width:100%; padding:10px 0; font-weight:normal;}
.i_bl .i_about h1 a{ font-size:14px; font-weight:bold; color:#444;}
.i_bl .i_about h1 a:hover{ color:#3989BA;}
.i_bl .i_about .a_des{ width:100%; line-height:170%; font-size:14px; color:#444; overflow:hidden;}
.i_br .i_ct{ width:100%; font-size:14px; line-height:185%; color:#444; height:260px; overflow:hidden;}
.f_bg{ width:100%; min-width:1000px; margin-top:50px; background:#333333; padding:50px 0 40px;color:#888888; }
.f_bg .f_m{ width:1000px; margin:0px auto; position:relative;}
.f_bg .f_m a , .f_fr a{ color:#888888;}
.f_bg .f_m a:hover , .f_fr a:hover{ color:#FFF;}
.f_m .f_mm{ float:left;}
.f_m .f_mm .name{ width:100%; height:35px; line-height:35px; text-align:left; font-size:16px; margin-bottom:15px; color:#bbb;}
.f_m .f_ma{ width:280px; float:left; margin-right:25px; border-right:1px solid #444; margin-right:30px;}
.f_m .f_ma ul{ width:100%; padding-bottom:15px;}
.f_m .f_ma ul li{ width:90px; float:left; text-align:center;}
.f_m .f_ma ul li img{ width:56px; height:56px; vertical-align:top;}
.f_m .f_ma ul li span{ display:block; width:100%; height:30px; line-height:30px; text-align:center;}
.f_m .f_mb ,.f_m .f_mc{ width:180px; float:left; margin-left:15px;}
.f_m .f_mb li , .f_m .f_mc li{ height:37px; line-height:37px; background:url(../images/icon4.jpg) no-repeat left center; margin-bottom:10px;}
.f_m .f_mb li span , .f_m .f_mc li span{ display:inline; margin-left:20px; width:auto; text-align:left; font-size:16px;}
.f_m .f_mc li{ background:url(../images/icon5.jpg) no-repeat left center;}
.f_m .f_mc li span{ font-size:12px; margin-left:30px;}
.f_m .code{ width:200px; height:160px; background:url(../images/icon6.jpg) no-repeat left top; position:absolute; right:15px; top:-10px; text-align:right;}
.f_m .code img{ width:106px; height:104px; vertical-align:top; margin-top:54px;}
.f_fr{ width:1000px; margin:0px auto; text-align:left; padding:10px 0; border-bottom:1px solid #444;}
.f_fr span , .f_fr a{ display:inline-block; *display:inline; zoom:1; height:20px; line-height:20px; margin-right:10px;}
.f_fr a{ margin-right:20px;}
.bq{ width:1000px; margin:0px auto; padding-top:30px; text-align:center; line-height:180%;}
.banner_s{ width:100%; height:375px;}
.banner_s img{ width:1920px; height:375px; vertical-align:top;}
.contact{ width:1000px; margin:0px auto; padding:50px 0; text-align:center;}
.contact h1{ width:100%; font-size:24px; color:#00419B; padding:10px 0; margin-bottom:30px; font-weight:normal;}
.contact p{ font-size:14px; color:#636363; line-height:185%;}
.contact .map{ width:100%; text-align:center; padding:20px 0; overflow:hidden; margin-top:20px;}
.tz_a{ width:1000px; margin:0px auto; padding:50px 0;}
.tz_a li{ width:236px; height:213px; float:left; margin-right:18px; position:relative;}
.tz_a li img{ width:236px; height:213px; vertical-align:top;}
.tz_a li .des{ width:236px; height:87px; position:absolute; left:0px; bottom:0px; z-index:22; color:#fff; font-size:14px;}
.tz_a li .des li{ width:118px; text-align:center; float:left; margin-right:0px; height:50px; margin-top:20px;}
.tz_a li .des li b{ font-size:30px; margin-right:5px; font-weight:normal;}
.bg_a{ width:100%; min-width:1000px; background:#F4F4F4;}
.bg_a .sy{ width:1000px; margin:0px auto; padding:15px;}
.bg_a .sy li{ width:25%; text-align:center; float:left;}
.bg_a .sy li img{ width:118px; height:118px; vertical-align:top; margin-top:10px;}
.bg_a .sy li h5{ width:100%; height:40px; line-height:40px; margin-top:10px; font-size:22px; color:#E55555; font-weight:normal;}
.bg_a .sy li p{ width:100%; height:25px; line-height:25px; overflow:hidden; font-size:12px; color:#656565;}
.tz_b{ width:1000px; margin:0px auto; padding:40px 0;}
.tz_b li{ width:447px; height:166px; float:left; margin-bottom:20px;}
.tz_b li img{ width:447px; height:166px; vertical-align:top;}
.tz_c{ width:1000px; margin:0px auto; padding:50px 0;}
.tz_c .title{ display:inline-block; *display:inline; zoom:1; height:55px; line-height:55px; background:#2F8FCB; color:#FFF; font-size:24px; padding:0px 25px;}
.tz_c ul{ width:100%; padding:50px 0 30px;}
.tz_c ul li{ width:298px; height:191px; float:left; margin-right:50px; position:relative;}
.tz_c ul li img{ width:298px; height:191px; vertical-align:top;}
.tz_c ul li p{ width:225px; text-align:center; position:absolute; left:40px; top:40px; font-size:14px; color:#6E6E6E; line-height:160%;}
.pj_h{ width:1000px; margin:0px auto; height:65px; line-height:65px; border-bottom:1px dashed #ddd; text-align:left;}
.pj_h i , .pj_h span{ display:inline-block;*display:inline; zoom:1; vertical-align:middle;}
.pj_h i{ width:3px; height:15px; background:#3D9FE1;}
.pj_h span{ font-size:24px; color:#073383; margin-left:10px;}
.pj_m{ width:1000px; margin:0px auto; text-align:left; padding:20px 0 100px; font-size:16px; color:#555; line-height:200%;}
.pj_m h6{ font-size:22px; color:#333; font-weight:normal;}
.pj_m .red{ font-size:18px; color:#F00; margin:7px 0;}



