@charset "utf-8";
/* CSS Document */
body { font-family: "微软雅黑", "Microsoft Yahei", "宋体", Tahoma, 'Simsun', Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; line-height: 24px; color: #555; background:#fff url(../images/bg.jpg); font-size: 12px; }
td { font-family: "微软雅黑", "Microsoft Yahei", "宋体", Tahoma, 'Simsun', Arial, Helvetica, sans-serif; text-decoration: none; font-size: 12px; color: #555; }
th { font-family: "微软雅黑", "Microsoft Yahei", "宋体", Tahoma, 'Simsun', Arial, Helvetica, sans-serif; text-decoration: none; font-size: 12px; color: #555; }
a:link { font-family: "微软雅黑", "Microsoft Yahei", "宋体", Tahoma, 'Simsun', Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none; color: #555; }
a:visited { font-family: "微软雅黑", "Microsoft Yahei", "宋体", Tahoma, 'Simsun', Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none; color: #555; }
a:hover { font-family: "微软雅黑", "Microsoft Yahei", "宋体", Tahoma, 'Simsun', Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none !important; color: #f00; }
a:active { font-family: "微软雅黑", "Microsoft Yahei", "宋体", Tahoma, 'Simsun', Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none; color: #555; }
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,menu{ display: block; margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6, {display:block;padding:0px;margin: 0px;color:#555;font-family:"微软雅黑", "Microsoft Yahei", "宋体", Tahoma, 'Simsun', Arial, Helvetica, sans-serif;}
p, ul, ol, li, form, img, dl, dt, dd, em, i, {margin:0;padding:0;border:0;font-size:12px;}
em,i { font-style: normal; }
img{display:block; margin:0px; border: 0px !important; }
input,button,select { margin: 0; font-size: 12px; vertical-align: middle; outline: none; }
dl,dt,ul,ol { margin: 0px; display: block; padding: 0px; list-style: none; }
h1 { }
h2 { padding: 0px;  display: block; font-weight: normal; }
h3 { padding: 0px; margin: 0px; display: block; }
h4 {padding: 0px; margin: 0px; display: block; }
h5 { }
h6 { }
/*详细页面公用样式*/
.title_news { text-align: center; font-size: 24px; font-weight: bold; color: #555; }
.news_Date { color: #999; text-align: center; border-bottom: 1px dotted #ccc; margin-bottom: 10px; }
.Date { display: block; margin: 0px; padding: 0px; width: 60px; height: 24px; line-height: 24px; float: right; text-align: center; font-style: normal; }
.pic_show { margin: 0px; padding: 30px 0; }
.pic_show img { max-width:740px; height: auto; margin:0 auto; border: 0px solid #ccc; padding: 0px; text-align: center; }/*behavior:url(../images/pie.htc);*/
.pic_show ul img { max-width:780px; height: auto; border: 0px solid #ccc; padding: 0px; text-align: center; }
/*Pagination*/
#Pagination { height:24px; padding:30px 0px 30px 0px; }
#Pagination em { display: inline; float: left; margin-right: 6px; font-family: "宋体"; background: #999; height:24px; line-height: 24px; color: #fff; border-radius:4px; -moz-border-radius:4px;behavior:url(../images/pie.htc);}
#Pagination em a { display: block; padding:0px 10px; font-family: "宋体"; height:24px; color: #fff; border-radius:4px; -moz-border-radius:4px;behavior:url(pie.htc);}
#Pagination em a:hover { display: block; padding: 0px 10px; background: #c82620; color: #fff; font-family: "宋体"; height: 24px; border-radius:4px; -moz-border-radius:4px;behavior:url(../js/pie.htc);}
#Pagination em#pa_hover { display: inline; margin-right: 10px; font-family: "宋体"; float: left; height:24px; line-height:24px; border-radius:4px; -moz-border-radius:4px;behavior:url(../js/pie.htc);}
#Pagination em#pa_hover a { display: block; padding: 0px 10px; background:#c82620 !important; font-family:"宋体"; color: #fff; height:24px; line-height:24px; border-radius:4px; -moz-border-radius:4px;behavior:url(pie.htc);}
.title_news{font-size:24px; padding-top:30px;}

.top{width:100%;height:93px; background:#fff; position:fixed; left:0px; top:0px; z-index:999999999999;}
.top ol{display:block; width:1024px; height:93px; margin:0 auto;}
.top ol .logo{display:block; width:198px; height:93px; float:left;}
/*menu*/
.menu{width:760px; float:right;}
.menu dl{display:block; height:17px; line-height:17px; padding:5px 0px;}
.menu dl span{display:block; width:230px; float:right; text-align:right;}
.menu dl span a{display:inline;  padding:0px 6px; float:left; border-right:1px solid #ddd;}
.menu dl em{display:block; width:176px; float:right; background:url(../images/index_11.jpg) no-repeat left; padding-left:20px; color:#c82621; font-size:16px; font-weight:bold;}
.menu dl em a{display:block; width:20px; height:17px; float:right; margin-left:10px; position:relative;}
.menu dl em a s{display:none; width:150px; height:150px;position:absolute; top:20px; right:0px; z-index:99;}
.menu dl em a s img{width:100%;}
.menu dl em a:hover s{display:block; }
 
ul.nav{ display:block; margin:0px; padding:13px 0 0 0;}
ul.nav li{ width:98px; text-align:center;}
ul.nav > li{ float: left; margin-right:10px;}
ul.nav li h3{}
ul.nav li h3 a{display:block;font-size:14px;height: 40px; line-height: 40px;}
ul.nav > li > h3{}
ul.nav > li > ul > li h3{ height:40px; line-height:40px;}
ul.nav > li h3:hover,.choice{background:url(../images/menu_bottom.jpg) no-repeat center bottom !important;}
ul > li > ul{ display: none;}
ul > li.on > ul{display: block;}
ul.nav li{background:#fff; height:30px; line-height:30px;}
ul.nav li a:hover{display:block; background:#c82621; color:#fff;}
ul.nav > li > ul > li ul{ position:  absolute; top: 0; right: -200px;}
ul.nav span.sub{ position:absolute; display: block; right:10px; top: 0; width: 10px; height: 40px; background: url(images/arrows.png) no-repeat center center;}
/*banner*/
.index_show{position: relative;width: 100%; height:595px; padding-top:93px;}
.index_show ol{ display:block; hanging-punctuation:0px; width:1180px; margin:0 auto; position:relative; z-index:1;}
.index_show ol dl{ display:block; width:209px; height:595px; position:absolute; left:0px; top:0px; padding:0px 10px;}
.index_show ol dl td{line-height:24px;}
.bxslider{height:595px;overflow: hidden;width: 100%;}
.bxslider li{width: 100%;height:595px;overflow: hidden;}
.bx-controls{display: none;}
#bx-pager{position: absolute;left: 50%;bottom:15px;z-index:10;margin-left:-100px;padding-bottom: 6px;}
#bx-pager a{float: left;width:45px;height:5px; background:#fff; margin-left:10px;}
#bx-pager a:hover{text-decoration: none;}
#bx-pager .active{position: relative;background:#900;color: #fff;}
#bx-pager .active::before{content: '';position: absolute;top:-10px;left:25px;}

.navigation{display:block; overflow:hidden; width:100%; padding:50px 0px 0px 0;}
.navigation span{display:block; height:40px; line-height:40px;font-size:36px; text-align:center; color:#333; font-weight:normal; padding:10px 0px; }
.navigation span.ys{color:#fff;}
.navigation dl{ display:block; height:42px; background:url(../images/png_06.png) no-repeat center bottom;}
.navigation dl em{width:47%; height:1px; border-bottom:1px solid #9fa0a0;float:left;padding-top:21px;}
.navigation dl i{width:47%;height:1px; border-bottom:1px solid #9fa0a0;float:right;padding-top:21px;}

.more_01{display:block; width:100px; height:30px; margin:0 auto; line-height:30px; border:1px solid #eee; text-align:center; font-size:14px; font-weight:bold;}
.more_02{display:block; width:100px; height:30px; margin:0 auto; line-height:30px; border:1px solid #ccc; text-align:center; font-size:14px; font-weight:bold;}

/* 本例子css */
.picScroll-left{ width:1024px;  overflow:hidden;  margin:0 auto 15px auto; padding:50px 0px;}
.picScroll-left .hd{ overflow:hidden;  height:50px; line-height:50px; background:url(../images/titlebg.jpg) no-repeat bottom left; font-size:24px; color:#c40202;}
.picScroll-left .hd ul{ overflow:hidden; zoom:1; zoom:1; list-style:none; position:relative; top:3px; left:0; height:30px;letter-spacing:-6px;text-align:center;}
.picScroll-left .hd ul li{display: inline;overflow:hidden;display:inline-block;zoom:1;*display:inline;vertical-align:top;position:relative;overflow:hidden;letter-spacing:normal;cursor:pointer;margin-right:5px;  width:14px; height:14px; overflow:hidden; margin-right:5px; text-indent:-999px; cursor:pointer; background:url(../images/index_24.jpg) no-repeat;}
.picScroll-left .hd ul li.on{ background:url(../images/index_22.jpg) no-repeat;}

.picScroll-left .bd{ padding:10px 0 20px 0;}
.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left .bd ul li{ width:230px; margin:0 12px 0 0; float:left; _display:inline; overflow:hidden; padding:5px; background:#eee;}
.picScroll-left .bd ul li s{ display:block;width:230px; height:218px; text-align:center;}
.picScroll-left .bd ul li s img{max-width:230px;max-height:218px;width: expression(this.width > 230 && this.width > this.height ? 218 :true); height:expression(this.height >218 ? 218: true);vertical-align:middle; display:block;}
.picScroll-left .bd ul li span{ display:block; height:35px; line-height:35px; text-align:center;}
.picScroll-left .bd ul li a:hover span{display:block; background:#c82621; color:#fff;}
.picScroll-left .bd ul li:hover{display:block; background:#c82621; color:#fff;}

.home_about{height:682px; background: url(../images/about_bg.jpg) no-repeat center top;}
.home_about ol{display:block; width:1024px; margin:0 auto; padding:60px 0 0 0;}
.home_about ol dl{display:block; width:260px; height:390px; border:10px solid #c62621; float:left; margin-left:70px; position:relative;}
.home_about ol dl s{display:block; width:285px; height:215px; background:#fff; padding:10px; position:absolute; top:80px; left:-80px;}
.home_about ol ul{ display:block; height:390px; margin:0 0 0 395px;}
.home_about ol ul span{display:block; width:400px; padding-top:130px; text-indent:20px; color:#fff;}
.home_about ol ul em{display: block; width:185px; height:316px; float:right; position:relative; margin-top:40px;}
.home_about ol ul em .about_more{display:block; width:180px; height:35px; line-height:35px; text-align:center; background:#C52211; color:#fff; font-size:14px; position:absolute; top:30px; left:-90px;}

.home_case{display:block; overflow:hidden; padding-bottom:50px;}
.home_case ul{display:block;width:1024px; margin:0 auto;  padding:50px 0 20px 0; overflow:hidden; width:1100px;}
.home_case ul li{ display:inline; width:192px; height:192px; position:relative; margin:0 26px 15px 0; float:left; border:1px solid #eee;}
.home_case ul li img{display:block;max-width:192px;max-height:192px;width: expression(this.width > 192 && this.width > this.height ? 192 :true); height:expression(this.height >192 ? 192: true);vertical-align:middle;}
.home_case ul li span{display:none; width:192px; height:30px; line-height:30px; background:#000; color:#fff; text-align:center; opacity:0.8; position:absolute; bottom:0px; left:0px;}
.home_case ul li:hover span{ display:block;}

.home_news{display:block; overflow:hidden; padding-bottom:50px; background:url(../images/news_bg.jpg);}
.home_news ol{width:1024px;margin:0 auto;overflow:hidden;}
.home_news ul{display:block;   padding:50px 0 20px 0; overflow:hidden;width:1100px;}
.home_news ul li{display:block; width:488px; height:100px; float:left; margin:0 48px 15px 0;}
.home_news ul li span{display:block; width:90px; height:100px; background:#fff; float:left; font-size:12px; color:#999;line-height:50px; text-align:center;font-family: baskerville, georgia, arial, serif;}
.home_news ul li span em{display:block; height:50px;  font-size:40px; color:#fff; background:#c60600;font-family: baskerville, georgia, arial, serif;}
.home_news ul li dl{display:block; height:100px; margin:0 0 0 100px; color:#888;}
.home_news ul li dl dt{display:block; height:24px; line-height:24px;}
.home_news ul li dl dt a{font-size:14px; color:#333;}

.footer{width:100%; overflow:hidden; padding:40px 0 60px 0; background:#424548;}
.footer ul{display:block; width:1024px; margin:0 auto; padding:60px 0 20px 0;color:#848484 !important;}
.footer ul dl{display:block; margin:0px; padding:0px; width:750px; float:left;}
.footer ul dl li{display:block; width:100px; float:left;}
.footer ul dl li h4{display:block; height:35px; line-height:35px; font-size:14px;}
.footer ul dl li a{display:block; height:30px; line-height:30px; color:#848484;}
.footer ul dl li a:hover{color:#fff;}
.footer ul span{display:block; width:270px; float:right;color:#848484 !important;}
.footer ul span td{color:#848484 !important}
/*返回顶部*/
#back-to-top { position: fixed; bottom:100px;right:30px; }
#back-to-top a { text-align: center; text-decoration: none; color: #d1d1d1; display: block; height:59px; width:59px; border-radius:59px; -moz-border-radius:59px; -ms-border-radius:59px; -o-border-radius:59px; -webkit-border-radius:59px;behavior: url(pie.htc);
-moz-transition: color 1s; -webkit-transition: color 1s; -o-transition: color 1s; }
#back-to-top a:hover { color: #979797; }
#back-to-top a span {display: block; height:59px; width:59px; border-radius:59px; -moz-border-radius:59px; -ms-border-radius:59px; -o-border-radius:59px; -webkit-border-radius:59px;behavior: url(pie.htc);background:#ff0000 url(../images/png_03.png) no-repeat center center;margin-bottom: 5px; -moz-transition: background 1s; -webkit-transition: background 1s; -o-transition: background 1s; }
#back-to-top a:hover span { background:url(../images/png_03.png) no-repeat center center; }

.main{width:1024px; margin:0 auto; overflow:hidden; padding:30px 0 60px 0;}
.left{width:260px; float:left;}
.right{width:740px; float:right;}
.right ul{padding-top:15px;}
.title_2{display:block; height:60px; line-height:60px; border-bottom:1px solid #ddd; font-size:24px; color:#c82620; padding:0; font-weight:normal;}
.title_2 span{display:block; width:500px; height:60px; float:right; text-align:right; font-size:12px; color:#999;}
.title_2 span a{color:#999; font-size:12px;}
.title_2 span a:hover{color:#00B2FD; font-size:12px;}

.title_3{display:block; color:#555; padding:30px 30px; border-top:1px solid #ccc; margin-top:40px;}
.title_3 li{ height:40px; line-height:40px;border-bottom:1px dotted #ddd;font-size:18px;font-weight:bold;}
.title_3 li a{color:#999; font-size:18px;font-weight:normal;}
.title_3 li a:hover{color:#f00; font-size:18px;}

.side_title{display:block; height:82px; background:#c82620; color:#fff; padding:0 10px;font-weight:normal;}
.side_title i{display:block; width:50px; height:82px; line-height:82px; font-size:53px;text-transform : uppercase;  float:left; text-align:center;}
.side_title span{display:block; height:82px; font-size:24px; margin:0 0 0 60px; padding-top:20px;}
.side_title span em{display:block; height:20px; line-height:20px; font-size:14px;}

.side_manu{margin-bottom:15px;}
.side_manu ul{border:1px solid #ddd; display:block; margin:0px; padding:10px;}
.side_manu ul li{height:35px; line-height:35px; background:#eee url(../images/side_nav.png) no-repeat 10px center; margin-bottom:6px;}
.side_manu ul li a{display:block;padding-left:30px;}
.side_manu ul li a:hover{display:block; background:#c82620 url(../images/side_nav_hover.png) no-repeat 10px center; color:#fff;padding-left:30px;}
.side_manu ul li #hover{display:block; background:#c82620 url(../images/side_nav_hover.png) no-repeat 10px center; color:#fff;padding-left:30px;}

.side_manu ul em{display:block;height:35px; line-height:35px; background:#eee url(../images/side_nav.png) no-repeat 10px center; margin-bottom:6px;}
.side_manu ul em a{display:block;padding-left:30px;}
.side_manu ul em a:hover{display:block; background:#c82620 url(../images/side_nav_hover.png) no-repeat 10px center; color:#fff;padding-left:30px;}
.side_manu ul em #hover{display:block; background:#c82620 url(../images/side_nav_hover.png) no-repeat 10px center; color:#fff;padding-left:30px;}
.side_manu ul i{display:block;height:30px; line-height:30px; border-bottom:1px dotted #ddd; background:url(../images/bpoint.gif) no-repeat 20px center; padding-left:35px;}

.lxwm{margin-bottom:10px;}
.lxwm h3{display:block; height:110px;}
.lxwm ul{display:block; margin:0px; padding:10px 0px;}
.lxwm ul li{line-height:24px; min-height:24px;}

.banner_1{height:260px; background:url(../images/banner2.jpg) no-repeat center 93px; padding-top:93px;}

.footer_02{height:40px; line-height:40px;background:#424548; color:#848484;}
.footer_02 ul{display:block; width:1024px; height:40px; margin:0 auto;}
.footer_02 ul a{color:#848484;}
.footer_02 ul a:hover{color:#fff;}

.news_list{ display:block; margin:0px; padding:0px;}
.news_list li{height:30px; line-height:30px; border-bottom:1px dotted #ddd; background:url(../images/bpoint.gif) no-repeat left; padding-left:13px;}
.news_list li span{display:block; width:80px; height:30px; float:right; text-align:right;  color:#999;}

.product{width:740px; float:right;overflow:hidden;}
.product ul{display:block; margin:0px; padding:30px 0; width:780px; overflow:hidden;}
.product ul li{ width:230px; margin:0 19px 20px 0; float:left; _display:inline; overflow:hidden; padding:2px; background:#eee;}
.product ul li s{ display:block;width:230px; height:218px; text-align:center;}
.product ul li s img{max-width:230px;max-height:218px;width: expression(this.width > 230 && this.width > this.height ? 218 :true); height:expression(this.height >218 ? 218: true);vertical-align:middle; display:block;}
.product ul li span{ display:block; height:35px; line-height:35px; text-align:center;}
.product ul li a:hover span{display:block; background:#c82621; color:#fff;}
.product ul li:hover{display:block; background:#c82621; color:#fff;}

.case{width:740px; float:right;overflow:hidden;}
.case ul{display:block; margin:0px; padding:30px 0; width:780px; overflow:hidden;}
.case ul li{display:inline; width:230px; position:relative; margin:0 22px 15px 0; float:left; border:1px solid #eee;}
.case ul li s{ display:block;width:230px; height:230px; text-align:center;}
.case ul li s img{display:block;max-width:230px;max-height:230px;width: expression(this.width > 230 && this.width > this.height ? 230 :true); height:expression(this.height >230 ? 230: true);vertical-align:middle;}
.case ul li span{ display:block; height:35px; line-height:35px; text-align:center; background:#f1f1f1;}
.case ul li a:hover span{display:block; background:#c82621; color:#fff;}
.case ul li:hover{display:block; background:#c82621; color:#fff;}

.bd_1{display:block; height:30px; line-height:30px; width:300px; border:1px solid #ddd;}
.bd_2{display:block; height:30px; line-height:30px; width:640px; height:150px;border:1px solid #ddd;}