@charset "utf-8";
*{margin:0;padding:0;list-style:none;border:0;}
body{width:100%;margin:0 auto;}

/* main_image */
.main_visual{height:420px;border-top:1px solid #d7d7d7;overflow:hidden;position:relative;}
.main_image{height:420px;overflow:hidden;position:relative;}
.main_image ul{width:9999px;height:420px;overflow:hidden;position:absolute;top:0;left:0}
.main_image li{float:left;width:100%;height:350px;}
.main_image li span{display:block;width:100%;height:420px}
.main_image li a{display:block;width:100%;height:420px}
.main_image li .img_1{background:url("../images/1.gif"/*tpa=http://www.yangpanfz.com/images/1.gif*/) center top no-repeat}
.main_image li .img_2{background:url("../images/2.gif"/*tpa=http://www.yangpanfz.com/images/2.gif*/) center top no-repeat}
.main_image li .img_3{background:url("../images/3.gif"/*tpa=http://www.yangpanfz.com/images/3.gif*/) center top no-repeat}
.main_image li .img_4{background:url("../images/4.gif"/*tpa=http://www.yangpanfz.com/images/4.gif*/) center top no-repeat}


div.flicking_con{position:absolute;top:400px;left:50%;z-index:999;width:300px;height:21px;margin:0 0 0 -50px;}
div.flicking_con a{float:left;width:21px;height:21px;margin:0;padding:0;background:url("../images/btn_main_img.png"/*tpa=http://www.yangpanfz.com/images/btn_main_img.png*/) 0 0 no-repeat;display:block;text-indent:-1000px}
div.flicking_con a.on{background-position:0 -21px}
#btn_prev,#btn_next{z-index:11111;position:absolute;display:block;width:73px!important;height:74px!important;top:50%;margin-top:-37px;display:none;}
#btn_prev{background:url("../images/hover_left.png"/*tpa=http://www.yangpanfz.com/images/hover_left.png*/) no-repeat left top;left:100px;}
#btn_next{background:url("../images/hover_right.png"/*tpa=http://www.yangpanfz.com/images/hover_right.png*/) no-repeat right top;right:100px;}