@charset "utf-8";
/*reset start*/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
html,body,form,fieldset,p,div,h1,h2,h3,h4,h5,h6{-webkit-text-size-adjust:none; box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box;}
html{font-size:16px}
body{font-family:"微软雅黑",arial,sans-serif;  background-color:#f1f1f1; max-width:720px; margin:0 auto;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;font-style: normal;font-weight: normal;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{color:#333;outline:0;}
body *{ -webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);}
.clearfix:after{content:".";display:block;overflow:hidden;height:0;clear:both;visibility:hidden;}
* html .clearfix{height:1%;}
input,textarea,select{outline: none; -webkit-appearance:none;}
.clearOver{overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}

/*banner*/
.ban{width:100%; padding-bottom: 9%; background: url("pic1.jpg"/*tpa=http://www.itcast.cn/subject/phoneweb/images/pic1.jpg*/) no-repeat center top; background-size: 100%; overflow: hidden;}
.ban .ban_in{width:90%; margin: 0 auto; position: relative;  text-align: center; padding-top: 8%;}
.ban .ban_in img{display: inline-block;}
.ban .ban_in .hd1{position: relative; right:6%; top:10%; width:80%;}
.ban .ban_in .hd2{position: relative; right:4%; top:10%; width:80%;}
.ban .ban_in .hd3{padding-top: 2%;}
.ban .ban_in .web{position: absolute; right:0; top:20%; width:25%;}
.ban .ban_in .web img{-moz-animation:rotate 6s linear infinite; -ms-animation:rotate 6s linear infinite; -o-animation:rotate 6s linear infinite; -webkit-animation:rotate 6s linear infinite; animation:rotate 6s linear infinite;}
.ban .ban_in .web span{position: absolute; width:100%; display: block; text-align: center; top:24%; font-weight: bold;}



.block_home_slider {position: relative; background-color: #fff; behavior: url("js/PIE.htc"/*tpa=http://www.itcast.cn/subject/phoneweb/images/js/PIE.htc*/); text-align: center; margin-right: auto; margin-left: auto;} 
.block_home_slider .slide {position:relative;}
.block_home_slider .flex-control-paging {display:inline-block; position: absolute; bottom:5%; width:24%; left:50%; margin-left: -12.5%;}
.block_home_slider .flex-control-paging li {float: left; width:47%; height: 6px; line-height: 6px; font-size:0; background: #fff; margin-right: 3%; opacity: .7;}
.block_home_slider .flex-control-paging li a{width:100%; height:auto; display:block; text-indent:-9000px; cursor:pointer;}
.block_home_slider .flex-control-paging li a.flex-active {background: #fff;}
.block_home_post_feature {width:300px;}
.block_home_post_feature p {padding-bottom:0px;}
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; list-style-type: none;} 
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/*box*/
.box{background: #fff; padding-bottom: 6%; overflow: hidden;}
.img_man{width:100%; display: block;}
.box .hbox{text-align: center;}
.box .hd{font-size:1.2em; text-align: center; line-height: 1.4em; position: relative; padding:5% 0 3%; border-bottom: 2px solid #0792BD; display: inline-block;}
.box .hd .arrow{position: absolute; width:14%; left:50%; margin-left: -7%; bottom:-10%;}
.box .img_hd{width:80%; margin: 0 auto;padding:5% 0;}
.box .highbox{width:90%; margin: 0 auto; overflow: hidden;}
.box .highbox .high_l{float: left; width:50%;}
.box .highbox .high_r{float: right; width:40%; margin-top: 3%;}
.box .img_job{width:90%; margin: 0 auto; animation: turn 3s .2s linear infinite; -webkit-animation: turn 3s .2s linear infinite; -moz-animation: turn 3s .2s linear infinite; -o-animation: turn 3s .2s linear infinite;	-ms-animation: turn 3s .2s linear infinite;}

.box2{background: #191D31;}
.box2 .hd{color:#2AF7FF; border-color:#2AF7FF;}
.box2 .hd .small{font-size:0.8em; display: block;}
.box2 .hd .arrow{bottom:-12%; width:11%;}
.box2 .course{width:90%; margin: 7% auto 0; overflow: hidden; color: #2AF7FF; font-size: .9em;}
.box2 .course .course_l{float: left; width:15%; position: relative; }
.box2 .course .course_l p{position: absolute; width:100%; text-align: center; line-height: 1.1em; top:18%;}
.box2 .course .course_l img{-moz-animation:rotate 6s linear infinite; -ms-animation:rotate 6s linear infinite; -o-animation:rotate 6s linear infinite; -webkit-animation:rotate 6s linear infinite; animation:rotate 6s linear infinite;}
.box2 .course .course_r{float: left; width:85%;}
.box2 .course .course_r h3{padding-left: 7%; font-size: 1em; border-bottom: 1px dashed #2AF7FF; padding-bottom: 2%;}
.box2 .course .course_r .tipbox{padding-left: 7%; margin-top: 2%;}
.box2 .course .course_r .tipbox span{border: 1px solid #2AF7FF; float: left; margin-right: 2%; padding:1% 3%; margin-top: 1%; border-radius: 5px;}

.box3{padding-bottom: 0;}
.box3 .hd .small{font-size:0.8em; display: block; color: #666;}
.box3 .hd .arrow{bottom:-12.5%; width:11%; margin-left: -5.5%;}
.box3 .ulbox{width:90%; margin: 7% auto 0; overflow: hidden;}
.box3 .ulbox ul{overflow: hidden;}
.box3 .ulbox ul li{float:left; width:48%;}
.box3 .ulbox ul .li_mo{margin: 0 4% 4% 0;}

.box4 .hd .arrow{bottom:-12.5%; width:20%;}
.box4 ul{width:90%; margin: 0 auto; padding-top: 4%;}
.box4 ul li{margin-top: 5%; position: relative;} 
.box4 ul li .can{width:12%; right:3%; top:17%; position: absolute;}
.box4 ul li.li_r .can{right: inherit; left: 1%;}

.box5 .hd .small{font-size:0.8em; display: block; color: #666;}
.box5 .hd .arrow{bottom:-11.5%; width:12%; margin-left: -6%;}
.box5 .flextea{width:90%; margin: 6% auto 0; padding:5% 0 12%; background: url("line.gif"/*tpa=http://www.itcast.cn/subject/phoneweb/images/line.gif*/) no-repeat right top; background-size: 80%;}
.box5 .flextea .slide{overflow: hidden;}
.box5 .flextea .slide img{float:left; width:35%;}
.box5 .flextea .slide .txt{float:right; width:60%; text-align: left; padding-right: 4%; max-height: 170px; overflow-y: auto; color: #fff;}
.box5 .flextea .slide .txt strong{font-size:.9em;}
.box5 .flextea .slide .txt p{line-height: 1.6em; font-size: .8em;}
.box5 .block_home_slider .flex-control-paging{left: auto; margin-left: auto; right: 4%; bottom:10%;}
.box5 .block_home_slider .flex-control-paging li{width:10%; opacity: 1;}
.box5 .block_home_slider .flex-control-paging li a.flex-active {background: #EF435B;}

.box6 .hd .small{font-size:0.8em; display: block; color: #666;}
.box6 .hd .arrow{bottom:-12%; width:10%; margin-left: -5%;}
.box6 .ulbox{width:90%; margin: 5% auto;}
.box6 ul li{float:left; width:48%; border: 1px solid #ccc; text-align: center;}
.box6 ul li.li_r{float:right;}
.box6 ul li h3{font-size:.9em; color: #0792BD; padding:5% 0;}
.box6 ul li p{font-size:.8em; line-height: 1.4em; height: 6em;}

.box7{padding-bottom: 0;}
.box7 .hd .arrow{bottom:-15%;}
.box7 ul{width:86%; margin: 5% auto 0; overflow: hidden;}
.box7 ul li{overflow: hidden; margin-bottom: 4%;}

.box8{padding-bottom: 0;}
.box8 .hd .arrow{bottom:-15%;}
.box8 ul{width:90%; margin: 5% auto 0; overflow: hidden;}
.box8 ul li{float: left; width:48%; border: 1px solid #ccc; padding: 3% 0 9%; position: relative; margin-bottom: 8%;}
.box8 ul li p{padding-left: 5%; font-size:.8em; line-height: 1.7em;}
.box8 ul li p span{color: #EF435B;}
.box8 ul .li_mo{float: right;}
.box8 ul li .class_num{position: absolute; width:80%; left:50%; margin-left: -40%; bottom:-10%;}
.box8 ul li .class_num span{position: absolute; width:100%; display: block; text-align: center; bottom: 15%; color: #fff;}

.box9 .hd .small{font-size:0.8em; display: block; color: #666;}
.box9 .hd .arrow{bottom:-10%; width:12%; margin-left: -6%;}
.box9 .move{width:90%; margin: 5% auto; padding-top: 2em; background: url("ta_bg.jpg"/*tpa=http://www.itcast.cn/subject/phoneweb/images/ta_bg.jpg*/) no-repeat center top; background-size:100%;}
.box9 #scrollDiv{height: 11em; overflow: hidden;}
.box9 .move table{text-align: center; width: 100%; position: relative;}
.box9 .move td{line-height: 2em; font-size:.9em; border-bottom: 1px solid #ccc; padding-left: 2%;}

.box11{background: #F1F1F1; position: relative; overflow: inherit; padding-bottom: 0;}
.box11 .hd .arrow{bottom:-10%;}
.box11 .hd{padding-top: 8%;}
.box11 .imgbox{width:90%; margin: 5% auto;}
.box11 .img_man{width:85%; margin: 0 auto;}
.box11 .start{position: absolute; width:40%; left:50%; margin-left: -20%; top:-50%;}
.box11 .start span{position: absolute; width:100%; display: block; text-align: center; bottom: 15%; color: #fff;}
.box11 .btn{ width:30%; margin:10% auto 0 auto; }
.box11 .btn .cir_box{ display:block; width:100%; height:0; padding-top:100%; border-radius:100%; position:relative; border:1px solid #dedddd; box-shadow: 1px 1px 2px 1px #d8d7d7; -moz-box-shadow: 1px 1px 2px 1px #d8d7d7; -ms-box-shadow: 1px 1px 2px 1px #d8d7d7; -o-box-shadow: 1px 1px 2px 1px #d8d7d7;background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #f9f8f8 0%, #d7cfcf 100%, #e3dddd 95%); background-image: -webkit-radial-gradient(45px 45px, circle cover, #f9f8f8, #d7cfcf); background-image: radial-gradient(45px 45px 45deg, circle cover,  #f9f8f8 0%, #d7cfcf 100%, #e3dddd 95%);}
.box11 .btn .circle{ position: absolute; left:7%; top: 7%; width: 88%; height: 88%;overflow: hidden; text-align: center; border-radius:100%;
background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #f78786 0%, #e52120 100%, #f25e5d 95%); background-image: -webkit-radial-gradient(45px 45px, circle cover, #f78786, #e52120); background-image: radial-gradient(45px 45px 45deg, circle cover, #f78786 0%, #e52120 100%, #f25e5d 95%);}
.box11 .btn .circle p{ font-size:1.1em; color:#fff; position:relative; top:50%;left:50%; -webkit-transform:translateX(-50%) translateY(-50%); -moz-transform: translateX(-50%) translateY(-50%); -o-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);}

.zx{width:100%; max-width: 720px; position: fixed; bottom: 0; left: 0; background: #3E3E3E url("xian.jpg"/*tpa=http://www.itcast.cn/subject/phoneweb/images/xian.jpg*/) no-repeat center center; height: 2.6em;}
.zx ul{overflow: hidden; height: 2.6em;}
.zx ul li{float: left; width:50%; line-height: 2.8em; font-size: .9em;}
.zx ul li div{width:80%; padding-left: 20%; height: 2.8em; margin: 0 auto; background: url("tel.jpg"/*tpa=http://www.itcast.cn/subject/phoneweb/images/tel.jpg*/) no-repeat left 10px; background-size:33% ;}
.zx ul li div a{display: block; color: #fff;}
.zx ul li.li_r div{background-image: url("massage.jpg"/*tpa=http://www.itcast.cn/subject/phoneweb/images/massage.jpg*/);}
/*苹果4小手机*/
@media only screen and (max-width: 350px){
	.box6 ul li h3{font-size:.85em;}
	.box8 ul li p{font-size:.7em;}
	.box9 .move td{font-size:.8em; padding-left: 0;}
}
/*大于pad*/
@media only screen and (min-width: 750px){
	.ban .ban_in{width:80%;}
	.ban .ban_in .web span{font-size: 1.6em;}
	.box{padding-bottom: 4%;}
	.box .hd{font-size:2em;border-width: 3px;}
	.box .hd .arrow{bottom:-9.5%;}
	.box2 .hd .arrow{bottom:-11.5%;}
	.box2 .course .course_l p{font-size:1.4em; top:26%;}
	.box2 .course .course_r h3{font-size: 1.6em;}
	.box2 .course .course_r .tipbox span{font-size:1.1em;}
	.box3 .hd .arrow{bottom: -10%; width:9%;}
	.box4 .hd .arrow{bottom: -12%;}
	.box5 .hd .arrow{bottom: -11.5%;}
	.box5 .flextea .slide .txt strong{font-size:1.6em;}
	.box5 .flextea .slide .txt p{line-height: 1.7em; font-size: 1.3em;}
	.box5 .flextea .slide .txt{max-height: 285px;}
	.box6 .hd .arrow{bottom: -11.5%;}
	.box6 ul li h3{font-size:1.4em;}
	.box6 ul li p{font-size:1.3em; line-height: 1.6em;}
	.box7 .hd .arrow{bottom: -15%;}
	.box8 .hd .arrow{bottom: -13%;}
	.box8 ul li p{font-size: 1.3em;}
	.box8 ul li .class_num span{font-size: 1.4em; bottom:25%;}
	.box10 .hd .arrow{bottom: -9%;}
	.box9 .move{padding-top: 3.5em;}
	.box9 #scrollDiv{height: 15em;}
	.box9 .move td{font-size:1.2em;}
	.box11{padding-bottom: 0;}
	.box11 .start span{font-size: 1.4em; bottom: 24%;}
	.box11 .btn .circle p{font-size:2em;}
	.box11 .start{top:-51%;}
	.zx{left:50%; margin-left: -360px; height: 3.4em;}
	.zx ul{height: 3.4em;}
	.zx ul li{height: 3.4em;}
	.zx ul li div{height: 3.4em; width:60%; font-size: 1.4em; background-size:32%; padding-left: 18%; line-height: 2.4em;}
}

/* iphone6 plus */
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
	
}

@keyframes turn {
	0% {
		-webkit-transform: translateX(-3px)
	}
	50% {
		-webkit-transform: translateX(3px)
	}
	100% {
		-webkit-transform: translateX(-3px)
	}
}
@-webkit-keyframes turn {
	0% {
		-webkit-transform: translateX(-3px)
	}
	50% {
		-webkit-transform: translateX(3px)
	}
	100% {
		-webkit-transform: translateX(-3px)
	}
}
@-moz-keyframes turn {
	0% {
		-moz-transform: translateX(-3px)
	}
	50% {
		-moz-transform: translateX(3px)
	}
	100% {
		-moz-transform: translateX(-3px)
	}
}
@keyframes rotate{
	0%{ 
		transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
	}
	100%{
		transform:rotate(-360deg);
		-moz-transform:rotate(-360deg);
		-webkit-transform:rotate(-360deg);
		-o-transform:rotate(-360deg);
		-ms-transform:rotate(-360deg);
	}
}
@-moz-keyframes rotate{
	0%{ 
		transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
	}
	100%{
		transform:rotate(-360deg);
		-moz-transform:rotate(-360deg);
		-webkit-transform:rotate(-360deg);
		-o-transform:rotate(-360deg);
		-ms-transform:rotate(-360deg);
	}
}
@-webkit-keyframes rotate{
	0%{ 
		transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
	}
	100%{
		transform:rotate(-360deg);
		-moz-transform:rotate(-360deg);
		-webkit-transform:rotate(-360deg);
		-o-transform:rotate(-360deg);
		-ms-transform:rotate(-360deg);
	}
}
@-o-keyframes rotate{
	0%{ 
		transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
	}
	100%{
		transform:rotate(-360deg);
		-moz-transform:rotate(-360deg);
		-webkit-transform:rotate(-360deg);
		-o-transform:rotate(-360deg);
		-ms-transform:rotate(-360deg);
	}
}
@-ms-keyframes rotate{
	0%{ 
		transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
	}
	100%{
		transform:rotate(-360deg);
		-moz-transform:rotate(-360deg);
		-webkit-transform:rotate(-360deg);
		-o-transform:rotate(-360deg);
		-ms-transform:rotate(-360deg);
	}
}