body {
    padding: 0px;
    margin: 0;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}

.center {
    width: 100%;
    height: 1130px;
    background-image: url("images/bg.png"/*tpa=http://www.ka-cn.com/team/images/bg.png*/);
    padding: 10px 0;
}

.center_two {                /*中间布局位置*/
    width: 1200px;
    height: 1110px;
    /*background-color: blue;*/
    margin: auto;

}

.two_left {
    width: 312px;
    height: 1110px;
    /*background-color: antiquewhite;*/
    float: left;
}

.two_center {
    width: 579px;
    height: 1130px;
    /*background-color: red;*/
    float: left;
}

.two_right {
    width: 309px;
    height: 1110px;
    /*background-color: brown;*/
    float: left;
}

.center_dos {
    width: 578px;
    height: 442px;
    /*background-color: aqua;*/
}

.center_dos1 {
    width: 578px;
    height: 210px;
    /*background-color: bisque;*/
}

.center_dos2 {
    width: 578px;
    height: 480px;
    /*background-color: blueviolet;*/
}

/*以上为容器*/
.two_TD {
    /*TD容器*/
    width: 195px;
    height: 492px;
    /*background-color: aquamarine;*/
    float: left;
}

.td_19 {
    float: right;
    margin-top: 45px;
}

.td_30 {
    float: right;
    margin-top: 13px;
}

.td_52 {
    float: right;
    margin-top: 9px;
}

.td_74 {
    float: right;
    margin-top: 7px;
}
.td_12{
    float: right;
}

.two_TD1 {
    width: 115px;
    height: 492px;
    float: left;
    /*background-color: #ffff00;*/
}

.td_06 {
    float: right;
    margin-top: 30px;
}

.td_32 {
    float: right;
    margin-top: 15px;
}

.td_66 {
    float: right;
    margin-top: 21px;
}

.two_TG {
    width: 310px;
    height: 235px;
    float: left;
    /*background-color: cornflowerblue;*/
}

.td_86 {
    width: 125px;
    height: 159px;
    float: left;
}

.td_88 {
    width: 170px;
    height: 124px;
    float: left;
    margin-left: 15px;
}

.td_104 {
    width: 184px;
    height: 63px;
    /*float: left;*/
    margin-top: 168px;
}

.td_98 {
    width: 110px;
    height: 96px;
    margin-left: auto;
    margin-top: -101px;
}

.two_TT {
    width: 310px;
    height: 395px;
    /*background-color: aquamarine;*/
    float: left;
}

.two_TT1 {
    width: 310px;
    height: 228px;
    /*background-color: #ffff00;*/
}

.two_TT2 {
    width: 310px;
    height: 161px;
    /*background-color: aqua;*/
}

.two_TT11 {
    width: 186px;
    height: 228px;
    float: left;
    /*background-color: darkslategrey;*/
}

.td_119 {
    float: right;
}

.td_134 {
    float: right;
    margin-top: 8px;
}

.td_120 {
    width: 110px;
    height: 161px;
    /*background-color: brown;*/
    float: right;
    /*margin-right: 1px;*/
    margin-top: 10px;
}

.td_150 {
    float: left;
    margin-left: 25px;
}

.td_152 {
    float: left;
    margin-left: 10px;
}

.dos_TR {
    width: 578px;
    height: 445px;
    /*background-color: #3078A6;*/
}

.dos_TR1 {
    width: 128px;
    height: 440px;
    /*background-color: blueviolet;*/
    float: left;
}

.cc_03 {
    margin-top: 2px;
}

.cc_33 {
    margin-top: 2px;
}

.cc_53 {
    margin-top: 4px;
}

.dos_TR2 {
    /*background-color: darkgray;*/
    float: left;
    width: 285px;
    height: 313px;
}

.TR2 {
    width: 285px;
    height: 146px;
}

.cc_06 {
    margin-top: 12px;
    float: left;
}

.cc_15 {
    float: left;
    margin-top: 31px;
    margin-left: 8px;

}

.TR3 {
    width: 285px;
    height: 160px;
}

.cc_33 {
    float: left;
}

.cc_42 {
    float: left;
    margin-top: 30px;
    margin-left: 12px;
}

.TR4 {
    width: 335px;
    height: 122px;
    /*background-color:#ffff00;*/
    float: left;
}

.cc_61 {
    float: left;
}

.cc_68 {
    float: left;
    margin-left: 2px;
    margin-top: 10px;
}

.TR5 {
    width: 164px;
    height: 268px;
    /*background-color: #3078A6;*/
    float: left;
}

.cc_17 {
    margin-top: 39px;
    float: right;
}

.cc_36 {
    float: right;
}

.TR6 {
    width: 110px;
    height: 161px;
    /*background-color: #FDAD10;*/
    float: left;
    margin-top: -39px;
}

.TR7 {
    width: 450px;
    height: 302px;
    /*background-color: #3078A6;*/
    float: left;
}

.TR8 {
    width: 160px;
    height: 296px;
    /*background-color: #FDAD10;*/
    float: left;
}

.cc_126 {
    margin-top: 17px;

}

.TR9 {
    width: 289px;
    height: 296px;
    /*background-color: #3a3b3f;*/
    float: left;
}

.cc_108 {
    float: left;
    margin-left: 1px;
}

.cc_110 {
    float: left;
    margin-left: 2px;
}

.cc_135 {
    float: left;
    margin-top: -125px;
}

.cc_129 {
    float: left;
    margin-left: 60px;
    margin-top: 15px;
}

.TR10 {
    width: 124px;
    height: 435px;
    /*background-color: #3078A6;*/
    float: right;
    margin-right: 4px;
}

.cc_112 {
    float: right;
}

.cc_138 {
    float: right;
}

.cc_148 {
    float: right;
}

.TR11 {
    width: 446px;
    height: 132px;
    /*background-color: #B83537;*/
    float: left;
}

.cc_159 {
    margin-left: 65px;
    float: left;

}

.cc_161 {
    margin-left: 50px;
    float: left;
}

.TR12 {
    width: 308px;
    height: 483px;
    /*background-color: #9f9f9f;*/
}

.TR13 {
    width: 308px;
    height: 195px;
    /*background-color: gold;*/
}

.cb_09 {
    margin-top: 22px;
}

.TR14 {
    width: 308px;
    height: 286px;
    /*background-color: #222222;*/
}

.cb_44 {
    float: left;
    margin-left: 2px;
}

.cb_46 {
    float: left;
    margin-left: 18px;
}

.cb_71 {
    float: left;
    margin-top: 7px;
}

.cb_64 {
    float: right;
    margin-right: 9px;
    margin-top: 18px;
}

.TR15 {
    width: 308px;
    height: 385px;
    /*background-color: #9f9f9f;*/
}

.cb_89 {
    float: left;
    margin-top: 3px;
    margin-left: 2px;
}

.cb_91 {
    float: right;
    margin-top: 3px;
}

.cb_94 {
    float: right;
    margin-top: 11px;
    margin-right: 28px;

}

.cb_102 {
    float: left;
    margin-left: 2px;
    margin-top: 5px;
}

.cb_115 {
    float: right;
    margin-top: 15px;
    margin-right: 29px;
}

.cb_122 {
    float: left;
    margin-left: 2px;
    margin-top: 5px;
}

.TR16 {
    width: 308px;
    height: 240px;
    /*background-color: #3078A6;*/
}

.cb_141 {
    float: left;
    margin-left: 2px;
    margin-top: 8px;
}

.cb_143 {
    float: right;
    margin-top: 8px;
    margin-right: 14px;
}

.cb_157 {
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}

/*以下为页面内容*/
.VB {
    width: 100%;
    height: 432px;
    background-image: url("images/VB_02.jpg"/*tpa=http://www.ka-cn.com/team/images/VB_02.jpg*/);
}

.VB_center {
    width: 1202px;
    height: 431px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: auto;
    /*padding: 0px;*/

}

.VB_center img {
    float: left;
}

.fording {
    width: 100%;
    height: 1192px;
    background-image: url("images/TC_11.jpg"/*tpa=http://www.ka-cn.com/team/images/TC_11.jpg*/);
    /*margin: auto;*/
    float: left;
}

.fording_TS {
    width: 1202px;
    height: 822px;
    margin: auto;
}

.fording_TS img {
    float: left;
}

.sim {
    width: 1202px;
    height: 305px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.tb1 {
    float: left;
    margin-top: 20px;

}

.B {
    font-size: 14px;
}

.tb2 {
    font-family: "Microsoft YaHei";
    width: 200px;
    float: left;
    color: #727171;
    font-size: 12px;
    Line-height: 25px;
    margin-top: 14px;
}

.tb4 {
    font-family: "Microsoft YaHei";
    width: 170px;
    float: left;
    color: #727171;
    font-size: 12px;
    Line-height: 25px;
    margin-top: 14px;
}

.tb0 {
    width: 185px;
    height: 220px;
    float: left;
}

.tb5 {
    font-family: "Microsoft YaHei";
    width: 170px;
    float: left;
    color: #727171;
    font-size: 12px;
    Line-height: 25px;
    margin-top: 14px;
    margin-left: 120px;
}

.hu {
    width: 1202px;
    height: 57px;
    float: left;
    text-align: center;
    color: #ffffff;
    margin-top: 18px;
}

.Q {
    width: 100%;
    margin-top: 19px;
    font-size: 10px;
    font-family: "Microsoft YaHei";
    text-decoration: none;

}
.color_1{
    color: #ffffff;
}
#tdImgWrap a img {
    border: 0 none;
}





