@charset "utf-8";
body {font:12px Arial,"Microsoft YaHei","SimHei";color: #4c5154;}
*{margin:0;padding:0;font-family:Microsoft YaHei, Arial;}
ul li { list-style-type: none; }
ol,ul{list-style:none;}
em{font-style:normal;}
a{ text-decoration:none; color:#717171;cursor: pointer;}
img{ border:0; vertical-align:middle }
/*公共提示*/
.m2-pwdBg{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.6;
	filter:alpha(opacity=60);
	z-index: 100;
}
.m2-pwdConfirm{
	position: fixed;
	width: 610px;
	height: 338px;
	left: 50%;
	top: 50%;
	margin: -169px 0 0 -305px;
	background:url(../images/login/m2-pwd-confirm.png);
	z-index: 101;
}
.m2-pwdConfirm-close{
	display: block;
	position: absolute;
	right: 5px;
	top: 78px;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.m2-pwdConfirm-ture{
	position: absolute;
	top: 85px;
	right: 115px;
	display: block;
	width: 50px;
	height: 40px;
	background:url(../images/login/m2-loginIcon.png) no-repeat -35px -65px;
}
.m2-pwdConfirm-false{
	position: absolute;
	top: 85px;
	right: 115px;
	display: block;
	width: 50px;
	height: 40px;
	background:url(../images/login/m2-loginIcon.png) no-repeat -85px -65px;
}
.m2-pwdConfirm-con{
	position: absolute;
	top: 125px;
	right: 39px;
	width: 215px;
	height: 52px;
	font-size: 16px;
	line-height: 26px;
	color: #ca4b2a;
}


/**/
.m2-regist-main{
	width:100%;
	background: url(../images/login/main-bg.png) repeat-x;
	min-height: 768px;
}
.m2-regist-center{
	width:1038px;
	margin:0 auto;
	padding-top:20px;
	
}
.m2-regist-logo{margin-left:140px;}
.m2-regist-left{
	float:left;
	width:560px;
	margin-top:70px;
	padding-left:140px;
	background: url(../images/login/m2-suggest-bg.png) no-repeat 0 148px;
}

.m2-regist-left ul li{
	display:inline-block;
	font-size:20px;
	color:#fff;
	line-height: 50px;
	margin-left:75px;
	_display:inline;
	zoom:1;
}
.m2-regist-left ul li i{
	width:22px;
	height: 22px;
	display: inline-block;
	background-color: #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius:50%;
	vertical-align: middle;
	margin-top:-5px;
	margin-right:10px;
}
.m2-regist-left ul li i.m2-regist-step{
	background-color: #f5944f;
	border:6px solid #fff;
	width:11px;
	height: 11px;
}
.m2-regist-inputarea{
	width:442px;
	padding:20px 16px;
	background-color: #fff;
}
.m2-regist-inputarea h4{
	padding:10px 0 0 15px;
	text-align: right;
	font-size:18px;
	color:#000;
	font-weight: normal;
	border-bottom:1px solid #eeeeee;
	line-height: 60px;
}
.m2-regist-inputarea h4 b{
	font-size:20px;
	float:left;
}
.m2-regist-inputarea h4 a:link{color:#0a97cf;}
.m2-regist-inputarea h4 a:visited{color:#0a97cf;}
.m2-regist-inputarea h4 a:hover{color:#0d80ad;}
.m2-regist-inputarea h4 a:active{color:#0d80ad;}
.m2-regist-inputarea table{
	width: 100%;
	font-size:14px;
	line-height: 60px;
	color:#717171;
}
.m2-regist-inputarea table td i{
	background: url(../images/login/su-icon.png) no-repeat;
	display:inline-block;
	margin-right:5px;
	vertical-align: middle;
}
.m2-regist-inputarea table td i.m2-regist-usericon{
	width:18px;
	height: 16px;
	background-position: 0 0;
	margin-top:-2px;
	
}
.m2-regist-inputarea table td i.m2-regist-passicon{
	width:18px;
	height: 18px;
	background-position: -20px 0;
}
.m2-regist-inputarea table td i.m2-regist-mobicon{
	width:15px;
	height: 23px;
	background-position: -40px 0;
}
.m2-regist-inputarea table td i.m2-regist-idnumber{
	width:24px;
	height: 17px;
	background-position: -40px -40px;
}
.m2-regist-inputarea table td i.m2-regist-cardnumber{
	width:24px;
	height: 17px;
	background-position: -40px -23px;
}
.m2-reg-telSpan{
	width:264px;
	height: 33px;
	line-height: 33px;
	text-indent: 1px;
	float: right;
}
.m2-reg-telSpan span{
	display: inline-block;
	float: left;
	height: 33px;
	line-height: 33px;
	text-indent: 1px;
}
.m2-reg-telSpan a{
	float: right;
	color: #0896cc;
	margin-right: 4px;
}
.m2-reg-telSpan a:hover,.m2-reg-telSpan a:active{
	color: #0be;
}
.m2-regist-username{
	width:264px;
	height: 31px;
	line-height: 31px;
	border:1px solid #d9d9d9;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-indent: 10px;
	float: right;
}
.m2-regist-code{width:175px;}
.m2-regist-btn{
	border-top:1px solid #eeeeee;
	font-size:14px;
	color:#717171;
	margin-top:20px;
	text-align: center;
	line-height: 50px;
	padding-top:10px;
	padding-left: 80px;
}
.m2-trust-btn{
	font-size:14px;
	color:#717171;
	margin-top:10px;
	text-align: center;
	line-height: 50px;
	padding-left: 95px;
}
.m2-trust-btn b a{
	color:#0a97cf;
	font-weight: normal;
	cursor: pointer;
}
.m2-trust-btn b a:hover{color: #0bf;}
.m2-trust-btn b a:active{color: #0bf;}
.m2-trust-btn input{
	vertical-align: middle;
	margin-top:-3px;
	margin-right:4px;
}
.m2-regist-tdInput{
	position: relative;
}
.m2-regist-errMsg{
	position: absolute;
	top: 49px;
	left: 68px;
	color: #d44950;
	font-size: 12px;
	height: 14px;
	line-height: 14px;
}
.m2-regist-errMsgcard{
	position: absolute;
	width: 257px;
	zoom: 1;
	top: 49px;
	left: 68px;
	color: #d44950;
	font-size: 12px;
	height: 14px;
	line-height: 14px;
}
.m2-regist-errMsgcard:after{display:block;clear:both;visibility:hidden;height:0;content:'-';}
.m2-regist-errMsgcard span{
	display: inline-block;
	float: left;
	line-height: 16px;
	width: 175px;
}
.m2-regist-errMsgcard a{
	display: inline-block;
	float: right;
	height: 14px;
	cursor: pointer;
	font-weight: normal;
	color: #0096cc;
}
.m2-regist-errMsgcard a:hover,.m2-regist-errMsgcard a:active{
	color: #0be;
}
.m2-regist-check img{
	float:right;
	margin-left:5px;
	border: none;
	width: 84px;
	height: 32px;
	cursor: pointer;
}
.m2-regist-btn b{
	color:#0a97cf;
	font-weight: normal;
	cursor: pointer;
}
.m2-regist-btn b:hover{color: #0bf;}
.m2-regist-btn b:active{color: #0bf;}
.m2-regist-btn input{
	vertical-align: middle;
	margin-top:-3px;
	margin-right:4px;
}
.m2-loginBg{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.6;
	filter:alpha(opacity=60);
	z-index: 50;
}
.m2-login-voice{
	position: fixed;
	left: 50%;
	margin-left: -223px;
	width: 432px;
	border: 7px solid #555;
	top: 150px;
	z-index: 51;
	background-color: #fff;
}
.m2-logVoi-psg{
	margin: 30px auto 0 auto;
	width: 350px;
	font-size: 15px;
	line-height: 28px;
	color: #4e4e4e;
	text-align: center;
}
.m2-logVoi-btn{
	width: 310px;
	height: 50px;
	margin: 15px auto 0 auto;
}
.m2-logVoi-btn span{
	display: inline-block;
	width: 130px;
	height: 40px;
	cursor: pointer;
	font-size: 16px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
}
.m2-logVoi-sur{
	float: left;
	background-color: #F59451;
}
.m2-logVoi-sur:hover,.m2-logVoi-sur:active{
	background-color: #E58441;
}
.m2-logVoi-can{
	float: right;
	background-color: #0997CF;
}
.m2-logVoi-can:hover,.m2-logVoi-can:active{
	background-color: #0587BF;
}
.m2-loginReg-box{
	position: fixed;
	width: 560px;
	height: 430px;
	padding: 20px 20px;
	background-color: #fff;
	z-index: 51;
	left: 50%;
	margin-left: -305px;
	top: 80px;
	border:5px solid #616161;
}
.m2-loginReg-box h3{
	height: 30px;
	color: #000;
	text-align: center;
	border-bottom: 1px solid #f1f1f1;
	font-size: 18px;
	margin-bottom: 10px;
}
.m2-loginRegarea{
	height: 395px;
	overflow: auto;
}
.m2-loginReg-boxClose{
	display: block;
	position: absolute;
	top: 8px;
	right: 8px;
	width: 15px;
	height: 15px;
	cursor: pointer;
	background: url(../images/login/su-icon.png) no-repeat -80px 0px;
}
.m2-loginVoi-boxClose{
	display: block;
	position: absolute;
	top: 8px;
	right: 8px;
	width: 15px;
	height: 15px;
	cursor: pointer;
	background: url(../images/login/su-icon.png) no-repeat -80px 0px;
}
.m2-loginRegarea p{
	font-size: 14px;
	color: #4e4e4e;
	line-height: 24px;
	min-height: 24px;
	_height:24px;
}
.m2-regist-btn a{
	width:130px;
	height:40px;
	background-color: #f5944f;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	font-size:16px;
	margin-left:10px;
	_display:inline;
	zoom:1;
}
.m2-regist-btn a:link{color:#fff;}
.m2-regist-btn a:visited{color:#fff;}
.m2-regist-btn a:hover{color:#fff;background-color: #e2823d;}
.m2-regist-btn a:active{color:#fff;background-color: #e2823d;}
.m2-regist-left p{
	color:#bebebe;
	font-size:14px;
	text-align: center;
	margin-top:35px;
}
.m2-login-right{
	float:left;
	width: 308px;
	margin-top:115px;
	padding-left:30px;
	background: url(../images/login/xiaoai.png) 30px 148px no-repeat;
	min-height: 440px;
	_height:440px;
}
.m2-login-right img{
	float:right;
}
.m2-login-right h2{
	font-size:48px;
	line-height: 72px;
	color:#fff;
}
.m2-login-right p{
	color:#c0ecfd;
	font-size:12px;
	margin:140px 0 0 123px;
}
.m2-login-right a{
	width:80px;
	height: 18px;
	display: inline-block;
	text-align: center;
	font-size:12px;
	line-height: 18px;
	background-color: #c0ecfd;
	border-radius:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius:3px;
	margin-left:5px;
}
.m2-login-right a:link{color:#0a97cf;}
.m2-login-right a:visited{color:#0a97cf;}
.m2-login-right a:hover{color:#0a97cf;background-color: #8fdbf8;}
.m2-login-right a:active{color:#0a97cf;background-color: #8fdbf8;}

/*success*/
.m2-regist-sucess h4{text-align: left;}
.m2-regist-sucess h4 i{
	position: relative;
	top: 3px;
	margin-right: 8px;
	display: inline-block;
	height: 25px;
	width: 25px;
	background: url(../images/login/m2-loginIcon.png) no-repeat -175px 0;
}
.m2-regist-sucess h4 b{
	float:none;
}
.m2-regist-sucess img{
	box-shadow:3px 3px 3px #d8d8d8;
	margin:10px 0 0 8px;
}
.m2-regist-invest{
	text-align: right;
}
.m2-login-right h4{
	color:#fff;
	font-size:22px;
	line-height: 27px;
}
.m2-login-right h3{
	color:#fff;
	font-size:26px;
	line-height: 41px;
}
.m2-login-right p.m2-sucsess-join{
	margin:170px 0 0 130px;
}

/*trust*/
.m2-regist-successTips{
	font-size:18px;
	color:#717171;
	line-height: 36px;
	padding:80px 0 120px 0;
	display: block;
}
.m2-regist-sucess p.m2-regSuc-nor{
	color: #717171;
	text-align: left;
	font-size: 18px;
	line-height: 40px;
	margin-top: 0;
}
.m2-regist-btn p.m2-regist-btnNum{
	color: #717171;
	margin-top: 0;
	font-size: 18px;
	text-align: right;
	padding-right: 10px;
	line-height: 40px;
}
.m2-regist-quit a{
	margin-right:20px;
	margin-left:0;
}
.m2-regist-quit a.m2-regist-look{background-color: #0a97cf;}
.m2-regist-quit a.m2-regist-look:hover{background-color: #0983b4;}
.m2-regist-quit a.m2-regist-look:active{background-color: #0983b4;}
.m2-login-right2{
	float:left;
	width: 308px;
	margin-top:90px;
	padding-left:30px;
	min-height: 440px;
	_height:440px;
}
.m2-login-right2 p{
	text-align: center;
	color: #0a97cf;
	font-size:14px;
	line-height: 100px;
}
.m2-login-right2 a{
	width:80px;
	height: 18px;
	display: inline-block;
	text-align: center;
	font-size:12px;
	line-height: 18px;
	background-color: #0a97cf;
	border-radius:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius:3px;
	margin-left:5px;
}
.m2-login-right2 a:link{color:#fff;}
.m2-login-right2 a:visited{color:#fff;}
.m2-login-right2 a:hover{color:#fff;background-color: #0885b6;}
.m2-login-right2 a:active{color:#fff;background-color: #0885b6;}

/*password*/
.m2-regist-btn2{text-align: right;}
.m2-regist-sucess h4 ul{width:100%;}
.m2-regist-sucess h4 ul li{
	color:#888;
	font-size: 18px;
	margin:0;
	width:49%;
	text-align: center;
}


/*password*/
.m2-pwd-con{
	position: relative;
	width: 100%;
}
.m2-pwdLink-index{
	position: absolute;
	display: block;
	width: 141px;
	height: 46px;
	background: url(../images/new-logo.png);
	top: 20px;
	left: 50%;
	margin-left: -390px;
	z-index: 4;
}
.m2-pwdBg1-con{
	position: relative;
	height: 287px;
	padding-top: 182px;
	color: #fff;
	background-color: #0997CF;
}
.m2-pwdBg1icon{
	position: absolute;
	width: 208px;
	height: 185px;
	left: 50%;
	bottom: 1px;
	margin-left: -540px;
	z-index: 1;
	background: url(../images/login/m2-suggest-bg.png);
}
.m2-pwdBg2-con{
	height: 299px;
	background-color: #eee;
	position: relative;
}
.m2-pwdBg-bottom{
	position: absolute;
	left: 50%;
	margin-left: -500px;
	bottom: 60px;
	width: 1000px;
}
.m2-pwdBg-bottom p{
	bottom: 90px;
	font-size:14px;
	color: #bebebe;
	text-indent: 178px;
}
.m2-pwdBg1,.m2-pwdBg2{
	position: relative;
	width: 320px;
	padding-left: 680px;
	margin: 0 auto;
}
.m2-pwdBg1{
	height: 287px;
}
.m2-pwdBg1 h1{
	font-size: 38px;
	line-height: 70px;
	height: 70px;
}
.m2-pwdBg1-list{
	font-size: 22px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #84CBE7;
}
.m2-pwdBg1-link{
	position: absolute;
	bottom: 24px;
	right: 15px;
	font-size: 12px;
	height: 22px;
	line-height: 22px;
	color: #c0ecfd;
}
.m2-pwdBg1-link a{
	display: inline-block;
	padding: 0 10px;
	margin-left: 8px;
	font-size: 12px;
	height: 22px;
	line-height: 22px;
	color: #0a97cf;
	background-color: #C0ECFD;
	border-radius: 3px;
}
.m2-pwdBg1-link a:link{background-color: #c0ecfd;}
.m2-pwdBg1-link a:visited{background-color: #c0ecfd;}
.m2-pwdBg1-link a:hover{background-color: #c8f7ff;}
.m2-pwdBg1-link a:active{background-color: #c8f7ff;}
.m2-pwdMan{
	position: absolute;
	right: 165px;
	bottom: -150px;
	width: 147px;
	height: 288px;
	z-index: 10;
	background: url(../images/login/xiaoai.png) no-repeat 0 0;
}
.m2-pwdBox{
	position: absolute;
	left: 50%;
	top:182px;
	width: 430px;
	margin-left: -395px;
	padding:30px 65px 20px 65px;
	background-color: #fff;
	border-radius: 10px;
	z-index: 15;
}
.m2-pwdBox h2{
	font-size: 20px;
	color: #888;
	line-height: 40px;
	height: 40px;
	margin-bottom: 30px;
}
.m2-pwdTab{
	width: 425px;
	margin: 0 auto;
	zoom: 1;
}
.m2-pwdTab:after{display:block;clear:both;visibility:hidden;height:0;content:'-';}
.m2-pwdTab div{
	width: 210px;
	height: 40px;
	float: left;
	border-bottom: 1px solid #d9d9d9;
	text-align: center;
	font-size: 16px;
	line-height: 28px;
	color: #888888;
	cursor: pointer;
}
.m2-pwdTab1{
	border-right: 1px solid #d9d9d9;
	background: url(../images/login/m2-loginIcon.png) no-repeat 0 -25px;
}

.m2-pwdForm{
	position: relative;
	width: 430px;
	padding-top: 40px;
}
.m2-pwdForm div.m2-pwdFrom-item{
	position: relative;
	height: 56px;
}
.m2-pwdFrom-item span,.m2-pwdFrom-item input{
	display: inline-block;
	line-height: 32px;
	float: left;
	font-size: 14px;
	color: #717171;
}
.m2-pwdFrom-item span{
	display: inline-block;
	position: relative;
	width: 150px;
	height: 32px;
	text-indent: 30px;
}
.m2-pwdFrom-item span i{
	display: block;
	position: absolute;
	width: 25px;
	height: 25px;
	left: 0px;
	top: 2px;
}
#m2-pwdTab1-user span i,#m2-pwdTab2-user span i{
	background: url(../images/login/m2-loginIcon.png) no-repeat 0px 0px;
}
#m2-pwdTab1-tel span i{
	background: url(../images/login/m2-loginIcon.png) no-repeat -25px 0px;
}
#m2-pwdTab1-telCode span i,#m2-pwdTab1-code span i{
	background: url(../images/login/m2-loginIcon.png) no-repeat -50px 0px;
}
#m2-pwdTab2-email span i{
	background: url(../images/login/m2-loginIcon.png) no-repeat -75px 0px;
}

.m2-pwdFrom-item input{
	height: 30px;
	text-indent: 15px;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
}


#m2-pwdTab1-user input,#m2-pwdTab1-tel input,#m2-pwdTab2-user input,#m2-pwdTab2-email input{
	width: 270px;
}
#m2-pwdTab1-telCode input{
	width: 135px;
	border-radius: 3px 0 0 3px;
	border-right: 0;
}
#m2-pwdTab1-user b,#m2-pwdTab2-user b{
	position: absolute;
	top: 5px;
	right: -60px;
	width: 60px;
	height: 24px;
	line-height: 24px;
	display: block;
	font-size: 12px;
	color:#bebebe;
	cursor: pointer;
}
#m2-pwdTab1-telCode b{
	display: inline-block;
	float: left;
	height: 32px;
	width: 136px;
	color: #717171;
	line-height: 32px;
	font-size: 14px;
	background-color: #ccc;
	font-weight: normal;
	border-radius: 0 3px 3px 0;
	text-align: center;
	cursor: pointer;
}
#m2-pwdTab1-code input{
	width: 177px;
	margin-right: 8px;
}
#m2-pwdTab1-code img{
	display: inline-block;
	width: 85px;
	height: 32px;
	cursor: pointer;
}
#m2-pwdTab2-user,#m2-pwdTab2-email{
	margin: 20px 0;
}
.m2-pwdSubmit{
	text-align: right;
	padding-top: 26px;
	border-top: 1px solid #eee;
}
.m2-pwdSubmit input{
	height: 40px;
	line-height: 40px;
	padding: 0 30px;
	background-color: #F59451;
	border: none;
	cursor: pointer;
	font-size: 16px;
	color: #fff;
}
.m2-pwdFrom-item u{
	display: block;
	position: absolute;
	left: 155px;
	top: 36px;
	height: 14px;
	line-height: 14px;
	font-size: 12px;
	color: #E94B42;
	text-decoration: none;
}
.m2-pwdSubmit input:hover{background-color: #EB8A49;}
.m2-pwdSubmit input:active{background-color: #EB8A49;}
.m2-pwdForgetshow{
	position: absolute;
	display: none;
	top: 160px;
	left: 60px;
	width: 420px;
	height: 90px;
	padding-top: 35px;
	border: 7px solid #C2C2C2;
	background-color: #fff;
}
.m2-pwdForgetshow p{
	color: #717171;
	font-size: 44px;
	height: 50px;
	line-height: 50px;
	text-indent: 90px;
	position: relative;
}
.m2-pwdForgetshow p i{
	display: block;
	position: absolute;
	left: 40px;
	top: 9px;
	width: 35px;
	height: 35px;
	background: url(../images/login/m2-loginIcon.png) no-repeat 0 -65px;
}
.m2-pwdForgetshow b{
	position: absolute;
	width: 25px;
	height: 25px;
	right: 1px;
	top: 1px;
	background: url(../images/login/m2-loginIcon.png) no-repeat -100px 0;
	cursor: pointer;
}
.m2-pwdForgetshow i{
	position: absolute;
	display: block;

}
.m2-pwd-inputBox{
	position: relative;
}
.m2-pwd-inputBox u{
	position: absolute;
	top: 36px;
	left: 80px;
	display: block;
	position: relative;
	font-size: 12px;
	color: #E94B42;
	height: 14px;
	line-height: 14px;
	text-decoration: none;
}

#m2-pwdTelform {
	
}
#m2-pwdEmailform{
	display: none;
}
/*login*/
.m2-loginBox{
	float:left;
	width:850px;
	margin-top:70px;
	padding-left:140px;
	background: url(../images/login/m2-suggest-bg.png) no-repeat 0 148px;
	min-height: 400px;
}
.m2-loginArea{
	width: 765px;
	padding: 60px 0 30px 70px;
	min-height: 386px;
	_height:386px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 15px;
	zoom: 1;
}
.m2-loginArea:after{display:block;clear:both;visibility:hidden;height:0;content:'-';}
.m2-loginArea-lef{
	width: 355px;
	float: left;
}
.m2-loginArea-lef a.m2-login-actLink{
	position: relative;
	display: block;
	width: 315px;
	height: 309px;
	overflow: hidden;
	cursor: default;
	border: 1px solid #d9d9d9;
}
.m2-loginArea-lef a.m2-login-actLink img{
	display: block;
	width: 315px;
	height: 309px;
	border: none;
}
.m2-login-actLink i{
	display: block;
	position: absolute;
	width: 65px;
	height: 65px;
	top: 0;
	right: 0;
	cursor: pointer;
}
.m2-loginArea-lef p{
	margin-top: 12px;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
}
.m2-loginArea-lef p span{
	font-size: 14px;
	height: 24px;
	line-height: 24px;
	color: #717171;
}
.m2-loginArea-rig{
	width: 345px;
	padding-left: 43px;
	min-height: 315px;
	_height:315px;
	float: left;
	border-left: 1px solid #d9d9d9;
}
.m2-login-moreLink{
	font-size: 14px;
	height: 24px;
	line-height: 24px; 
	color: #ff9966;
}
.m2-login-moreLink:link{color: #ff9966;}
.m2-login-moreLink:visited{color: #ff9966;}
.m2-login-moreLink:hover{color: #f85;}
.m2-login-moreLink:active{color: #f85;}
.m2-loginArea-rigHead{
	zoom: 1;
	height: 24px;
	margin-bottom: 35px;
}
.m2-loginArea-rigHead h2{
	display: inline-block;
	float: left;
	width: 188px;
	height: 24px;
	line-height: 24px;
	float: left;
	color: #333;
	font-size: 24px;
	text-align: left;
	font-weight: normal;
}
.m2-loginArea-rigHead p{
	display: inline-block;
	float: left;
	padding-top: 8px;
	height: 16px;
	line-height: 16px;
	zoom: 1;

}
.m2-loginArea-rigHead p:after{display:block;clear:both;visibility:hidden;height:0;content:'-';}
.m2-loginArea-rigHead p a i{
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	background: url(../images/login/m2-loginIcon.png) no-repeat -135px -65px;
}
.m2-loginArea-rigHead p a{
	display: inline-block;
	position: relative;
	padding-left: 25px;
	float: left;
	height: 16px;
	line-height: 16px;
	font-size: 14px;
	color: #ff9966;
}
.m2-loginArea-rigHead p a:link{color: #ff9966;}
.m2-loginArea-rigHead p a:visited{color: #ff9966;}
.m2-loginArea-rigHead p a:hover{color: #f85;}
.m2-loginArea-rigHead p a:active{color: #f85;}
.m2-loginArea-rigHead:after{display:block;clear:both;visibility:hidden;height:0;content:'-';}

.m2-login-form{
}
.m2-loginForm-item{
	position: relative;
	zoom: 1;
	width: 270px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
}
.m2-loginForm-item:after{display:block;clear:both;visibility:hidden;height:0;content:'-';}
.m2-loginForm-item span{
	position: relative;
	display: inline-block;
	text-indent: 25px;
	width: 44px;
	height: 40px;
	line-height: 30px;
	font-size: 14px;
	color: #717171;
	float: left;
	border-right: 1px solid #d9d9d9;
}
.m2-loginForm-item input{
	display: inline-block;
	float: left;
	height: 38px;
	line-height: 38px;
	text-indent: 15px;
	border: none;
	outline: none;
}
.m2-loginForm-item span i{
	display: block;
	position: absolute;
	top: 8px;
	left: 10px;
	width: 25px;
	height: 25px;
}
.m2-login-username span i{background: url(../images/login/m2-loginIcon.png) no-repeat 0px 0px;}
.m2-login-pwd span i{background: url(../images/login/m2-loginIcon.png) no-repeat -50px 0px;}
.m2-login-code span i{background: url(../images/login/m2-loginIcon.png) no-repeat -50px 0px;}
.m2-login-username input{
	width: 225px;
}
.m2-login-pwd input{
	width: 225px;
}
.m2-login-code{
	height: 42px;
	padding-bottom: 23px;
	margin:25px 0 0 0;
}
.m2-login-code input{
	width: 120px;
	margin-right: 15px;
}
.m2-login-code  img{
	display: inline-block;
	float: left;
	width: 73px;
	height: 40px;
	margin-left: 12px;
	border: none;
	cursor: pointer;
}
.m2-login-forget{
	text-align: right;
	padding-top: 20px;
	width: 270px;
}
.m2-login-forget a{
	display: inline-block;
	font-size: 14px;
	color: #666;
	line-height: 14px;
	height: 14px;
}
.m2-login-forget a:hover,.m2-login-forget a:active{
	color: #000;
}
.m2-loginForm-item b{
	position: absolute;
	display: block;
	top: 43px;
	left: 50px;
	font-size: 12px;
	line-height: 14px;
	height: 14px;
	color: #E94B42;
}
.m2-login-submit{
	position: relative;
	width: 272px;
	margin-top: 10px;
	text-align: center;
}
.m2-login-submit a.m2-loginBtn{
	display: inline-block;
	width: 270px;
	height: 42px;
	line-height: 42px;
	border-radius: 3px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	background-color: #F59451;
}
.m2-login-submit a.m2-loginForget{
	position: absolute;
	display: block;
	top: 7px;
	left: 155px;
	padding: 2px 12px;
	height: 26px;
	line-height: 26px;
	color: #0a97cf;
}
.m2-login-submit a.m2-loginBtn:link{background-color: #f59451;}
.m2-login-submit a.m2-loginBtn:visited{background-color: #f59451;}
.m2-login-submit a.m2-loginBtn:hover{background-color: #e58441;}
.m2-login-submit a.m2-loginBtn:active{background-color: #e58441;}

.m2-login-submit a.m2-loginForget:link{color: #0a97cf;}
.m2-login-submit a.m2-loginForget:visited{color: #0a97cf;}
.m2-login-submit a.m2-loginForget:hover{color: #00bbff;}
.m2-login-submit a.m2-loginForget:active{color: #00bbff;}
.m2-loginBottontips{
	font-size: 14px;
	color: #bebebe;
	text-align: center;
	height: 20px;
	line-height: 20px;
	margin-top: 32px;
}
.m2-log-morAct{
	margin-top: 20px;
}
.m2-log-morAct span{
	font-size: 14px;	
}
.m2-log-oklink{
	display: block;
	padding-top: 18px;
	height: 22px;
}
.m2-log-oklink a.m2-log-ok:hover,.m2-log-oklink a.m2-log-ok:active{background: url(../images/login/okLog.png) no-repeat 0 -21px;}
.m2-log-oklink span{
	display: inline-block;
	float: left;
	width: 208px;
	height: 22px;
	line-height: 22px;
	font-size: 14px;
	color: #666;
}
.m2-log-oklink a.m2-log-ok{
	display: inline-block;
	float: left;
	width: 61px;
	height: 21px;
	background: url(../images/login/okLog.png) no-repeat 0 0;
}
.m2-regTeltips{
	display: inline-block;
	float: right;
	text-align: center;
	border-radius: 3px;
	width: 128px;
	height: 33px;
	line-height: 33px;
	background-color: #B3B3B3;
	color: #fff;
	margin-left: 5px;
}
.m2-regTel-step1{
	cursor: pointer;
}
.m2-regTel-step1:hover,.m2-regTel-step1:active{
	background-color: #A3A3A3;
}
.m2-regTel-step2{
	cursor: default;
}
.m2-reg-voice{
	position: absolute;
	top: 49px;
	right: 10px;
	color: #0a97cf;
	cursor: pointer;
	font-size: 12px;
	height: 14px;
	line-height: 14px;	
}
.m2-reg-voice-able{
	color: #0a97cf;
	cursor: pointer;
}
.m2-reg-voice-unable{
	color: #ccc;
	cursor: default;
}
.m2-reg-voice-able:hover,.m2-reg-voice-able:active{
	color: #0be;
}
/*详情页弹窗*/
.m2-truPop{
	position: fixed;
	z-index: 52;
	top: 50px;
	left: 50%;
	background-color: #717171;
	border: 7px solid #717171;
	border-radius: 10px;
	margin-left: -257px;
}
.m2-truPop-radius{
	width: 474px;
	padding: 0 13px;
	background-color: #fff;
	border-radius: 8px;
}
.m2-truPop-det{
	padding: 13px;
	font-size: 14px;
	color: #717171;
	border-bottom: 1px solid #eee;
	line-height: 25px;
}
.m2-turPop-close{
	position: absolute;
	width: 17px;
	height: 17px;
	top: 7px;
	right: 7px;
	background: url(../images/m2-mainIcon.png) no-repeat -306px -38px;
	cursor: pointer;

}
.incentivebox_bp1{
	font-weight:bold;
}
.incentivebox_bp1 .red{
	font-size:15px;
	font-weight:bold;
	color:#f5944f;
}
