/*所有的弹框遮罩样式*/
#member_mall_mask {display: none;background-color: black;opacity: 0.6;filter:alpha(opacity=60);position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 999;}
.member_mall_mask_content {display: none;position: fixed;top: 20%;left:50%;width: 300px;margin-left: -150px;z-index: 1000;}
.member_mall_content_top {background-color: white;border-radius: 14px;height: 202px;padding: 14px;font-size: 14px;line-height: 28px;color: rgb(60,60,60);}
.member_mall_mask_content .member_mall_btn {display: block;width: 74%;margin: 45px auto 0 auto;border-radius: 20px;height: 40px;border:0;background-color: rgb(250,90,40);color: white;}
/*签到成功样式*/
.member_mall_qiandao {background-image:url(../images/member_mall/member_mall7.png);background-repeat: no-repeat;background-position: 72px 10px;position: relative;}
.member_mall_content_top .member_mask_chacha {position: absolute;top: 6px;right: 6px;}
.member_mall_content_top .mem_mal_con_tit {color: rgb(250,90,40);font-size: 16px;margin-bottom: 8px;}
.member_mall_qiandao .mem_pic_introduce {color: rgb(250,180,60);margin-top: 22px;padding-left: 68px;}
/*温馨提醒样式*/
.member_mall_remind {background-image:url(../images/member_mall/member_mall9.png);background-repeat: no-repeat;background-position: 126px 72px;position: relative;}
.member_mall_remind .mem_pic_introduce {color: #f5733a;margin-top: 22px;}
.member_mall_remind .mem_mal_con_tit {margin-bottom: 28px;}
/*再次温馨提醒的样式*/
.member_mall_spremind {background-image:url(../images/member_mall/member_mall10.png);background-position: 150px 84px;}
/*抽奖失败的样式*/
.member_mall_lottery {background-image:url(../images/member_mall/member_mall11.png);background-position: 174px 120px;background-repeat: no-repeat;}
.member_mall_lottery .mem_pic_introduce {color: rgb(250,180,60);margin-top: 22px;margin-bottom: 10px;}
/*兑换时候的样式*/
.goods_news_alert {color: rgb(120,120,120);position: fixed;top: 20%;left:50%;width: 260px;margin-left: -150px;z-index: 1000;background-color: white;padding: 20px;font-size: 14px;}
.goods_news_alert .goods_content_chacha {position: absolute;right: 10px;top: 10px;}
/*完善收货地址*/
#member_mall_address {display: none;position: fixed;top: 20%;left:50%;width: 500px;margin-left: -250px;z-index: 1000;background-color: white;padding: 20px;font-size: 14px;}
#member_mall_address .reject_title {margin-bottom: 20px;font-size: 16px;border-bottom:1px solid #dcdcdc;color: rgb(250,90,40);height: 38px;}
#member_reject_address {padding: 0 30px;}
#member_reject_address input,#member_reject_address select {height: 22px;margin-left: 10px;margin-bottom: 16px;}
#member_reject_address .warm_alarm_address {color: rgb(250,180,60);}
#member_reject_address .warm_alarm_address .left {display: inline-block;vertical-align: top;}
#member_reject_address .warm_alarm_address .right {display: inline-block;width: 336px;margin-left: 14px;line-height: 24px;}
#member_reject_address .keep_reject_btn {border:0;background-color: rgb(250,90,40);color: white;height: 40px;border-radius: 10px;width: 180px;font-size: 16px;margin: 14px auto 0 auto;display: block;}
/*抽奖抽到加息券的弹窗*/
.prize_draw {display: none;font-size: 16px;text-align: center;padding-top: 132px;color: white;position: fixed;top: 50%;left:50%;width: 420px;height: 240px;margin-left: -200px;margin-top: -186px;z-index: 1000;background-repeat: no-repeat;}
.prize_draw_close {position: absolute;right: 50px;top: 0;height: 26px;width: 26px;}
.prize_draw_btn {position: absolute;left: 50%;right: 0;bottom: 0;width: 143px;height: 66px;margin-left: -72px;}
.prize_draw_btn_hover {background-image:url(../images/member_mall/member_mall17.png);background-repeat: no-repeat;}
.member_rate_coupon {background-image:url(../images/member_mall/member_mall13.png);}
.member_help_money {background-image:url(../images/member_mall/member_mall15.png);color: #fcf84e;}
.member_red_paper {background-image:url(../images/member_mall/member_mall14.png);color: #fcf84e;padding-top: 174px;height: 198px;}

body {background-color: rgb(248,248,248);}
button {outline: none;}
button:hover{cursor:pointer;}
#member_mall_top {padding-top: 30px;height: 320px;background:url(../images/member_mall/member_mall1.jpg) top center no-repeat;}
.member_top_layout {width: 994px;margin: 0 auto;}
.member_top_layout_content {color: #646464;font-size: 16px;padding: 30px 0;float: right;text-align: center;border-radius: 10px;background-color: white;width: 290px;}
.member_mall_login {font-size: 16px;background-color: rgb(250,90,40);border-radius: 20px;height: 40px;width: 190px;color: white;border:0;}
.member_mall_login:active {background-color: rgb(200,200,200);}
.member_top_layout_content .name {color: rgb(60,60,60);margin-bottom: 10px;}
.member_top_layout_content .money {color: rgb(250,90,40);font-size: 22px;font-weight: bolder;}
.member_top_layout_content .money img {vertical-align: -1px;padding-left: 4px;}
.member_top_layout_content .qiandao {margin: 34px auto;font-size: 16px;background-color: white;border:1px solid rgb(250,90,40);border-radius: 20px;height: 40px;width: 190px;color: rgb(250,90,40);}
.member_top_layout_content .qiandao:hover {background-color: rgb(250,90,40);color: white;}
.member_top_layout_content .bottom {width: 200px;margin: 30px auto 0 auto;text-align: right;color: rgb(250,180,60);}
#member_mall_content {width: 1000px;margin: 20px auto;}
#member_mall_content .solid {vertical-align: middle;display: inline-block;height: 1px;border-top:1px solid rgb(250,90,40);}
#member_mall_content .firstsolid {width: 36px;}
#member_mall_content .secondsolid {width: 306px;}
#member_mall_content .thirdsolid {width: 437px;}
#member_mall_content .fourthsolid {border-top-color: rgb(60,180,250);}
#member_mall_content .circle {vertical-align: middle;display: inline-block;width: 10px;height: 10px;background-color: #ea544a;border-radius: 50%;}
#member_mall_content .mytitle {font-size: 22px;padding: 0 5px;color: rgb(250,90,40);vertical-align: middle;}
#member_mall_content .recommend {color:rgb(250,180,60);width:225px;text-align:center;font-size:16px;line-height:30px;}
#member_mall_content .container {margin-bottom: 18px;display: inline-block;color: rgb(120,120,120);background-color: white;height: 240px;margin-left: 30px;width: 197px;padding: 14px;border:1px solid rgb(230,230,230);font-size: 14px;line-height: 30px;}
#member_mall_content .container:hover {border-color:rgb(250,90,40)}
#member_mall_content .container h6 {font-size:16px;color: rgb(60,60,60);font-weight: normal;}
#member_mall_content .container .animate {height: 10px;border-radius: 5px;background-color: #dcdcdc;margin: 10px auto;position: relative;}
#member_mall_content .container .content_animate {position: absolute;left: 0;background-color: rgb(250,90,40);height: 10px;border-radius: 5px;}
#member_mall_content .container .number_animate {color: rgb(120,120,120);margin-bottom: 30px;}
#member_mall_content .container .scale_year {display: inline-block;text-align: center;}
#member_mall_content .container .scale_year .number_scale {color: rgb(250,90,40);line-height: 20px;font-size: 18px;}
#member_mall_content .container .money_btn {display: block;height: 32px;width: 76%;color: rgb(250,90,40);border-radius: 10px;border:1px solid rgb(250,90,40);background-color: white;margin: 0 auto;margin-top: 34px;}
#member_mall_content .container .money_btn:hover {background-color: rgb(250,90,40);color: white;}
#member_mall_content .container .money_btn:active {background-color: rgb(200,200,200);border:0;}
#member_mall_content .container .pic_contain {text-align: center;border-bottom:1px solid #ddd;padding: 15px 0;}
#member_mall_content .container .pic_contain img {height: 92px;}
#member_mall_content .container .pic_introduce {color:rgb(120,120,120);line-height: 26px;}
#member_mall_content .container .after_price {color: rgb(250,90,40);}
#member_mall_content .container .pic_introduce .before_price {position: relative;display: inline-block;}
#member_mall_content .container .pic_introduce .heng_solid {position: absolute;top: 12px;left: -2px;right: -2px;border-top:1px solid #a0a0a0;height: 1px;}
#member_mall_content .container .pic_introduce img {vertical-align: -4px;margin-left: 4px;}
#member_mall_content .container .pic_name {margin: 8px 0 4px 0;font-size: 16px;color: rgb(60,60,60);}

/*兑换记录和收货地址样式*/
#exchange_record {width: 1000px;margin: 10px auto;font-size: 14px;}
#exchange_record_content {border:1px solid #ddd;padding: 10px 20px 40px 20px;margin-top: 30px;}
#exchange_record_content .exchange_title {height: 52px;border-bottom: 1px solid #ddd;font-size: 16px;}
#exchange_record_content .exchange_title li{display: inline-block;line-height: 36px;margin-right: 30px;border-bottom: 2px solid transparent;}
#exchange_record_content .exchange_title .checked {border-bottom-color: rgb(250,90,40);}
#exchange_record_content .exchange_title .exchange_skip {float: right;margin-right: 0;}
#exchange_record_content .exchange_record_table {text-align: center;width: 90%;margin: 0 auto;color: rgb(120,120,120);border-collapse: collapse;}
#exchange_record_content .exchange_record_table tr {border-bottom: 1px dashed #ddd;height: 50px;}
#exchange_record_content .exchange_record_table .left {text-align: left;}
#exchange_record_content .exchange_record_table .right {text-align: right;}
.exchange_record_mask_content {display: none;position: fixed;top: 20%;left:50%;width: 300px;margin-left: -150px;z-index: 1000;background-color: white;border-radius: 14px;height: 202px;padding: 14px;font-size: 16px;text-align: center;}
.exchange_record_mask_content h5 {color: rgb(250,90,40);margin-bottom: 20px;font-size: 20px;}
.exchange_record_mask_content .exchange_mask_btn {display: block;width: 74%;margin: 80px auto 0 auto;border-radius: 20px;height: 40px;border:0;background-color: #f5733a;color: white;}
#exchange_record_content .reject_title {border-bottom: 1px solid #ddd;height: 34px;font-size: 16px;color: rgb(250,90,40);}
#reject_address {padding: 26px;padding-bottom: 0;}
#reject_address input,#reject_address select {height: 32px;margin-left: 10px;margin-bottom: 16px;padding-left: 4px;color: rgb(60,60,60);}
#reject_address .warm_alarm_address {color: #eda039;}
#reject_address .warm_alarm_address .left {display: inline-block;vertical-align: top;}
#reject_address .warm_alarm_address .right {display: inline-block;width: 530px;margin-left: 14px;line-height: 24px;}
#reject_address .keep_reject_btn {border:0;background-color: rgb(250,90,40);color: white;height: 40px;border-radius: 20px;width: 180px;font-size: 16px;margin-top: 24px;}
.goods_news_alert {display: none;}
.goods_news_alert .goods_name {color: rgb(250,90,40);font-size: 16px;margin-bottom: 10px;}
.goods_news_alert .goods_introduce {line-height: 22px;border-bottom: 1px solid #ddd;word-break:break-all;}
.goods_news_alert .pic_introduce {line-height: 26px;}
.goods_news_alert .after_price {color: rgb(250,90,40);}
.goods_news_alert .pic_introduce .before_price {position: relative;display: inline-block;}
.goods_news_alert .pic_introduce .heng_solid {position: absolute;top: 12px;left: -2px;right: -2px;border-top:1px solid #a0a0a0;height: 1px;}
.goods_news_alert .pic_introduce img {vertical-align: -4px;margin-left: 4px;}
.goods_news_alert .pic_introduce .goods_number {display: inline-block;margin-left: 14px;}
.goods_news_alert .pic_introduce .goods_number div {margin-left: -4px;display: inline-block;text-align: center;line-height: 20px;width: 20px;border:1px solid #ddd;}
.goods_news_alert .pic_introduce .goods_number .left:hover,.goods_news_alert .pic_introduce .goods_number .right:hover{cursor: pointer;}
.goods_news_alert .pic_introduce .goods_number .middle {vertical-align:2px;border-left-width: 0;border-right-width: 0;width: 34px;font-size: 12px;}
.goods_news_alert .immediately_exchange_btn {display: block;width: 76%;margin: 10px auto 0 auto;background-color: rgb(250,90,40);border-radius: 6px;height: 34px;color: white;border:0;}
.goods_news_alert button:active{background-color: rgb(200,200,200);} 
.exchange_message {text-align: center;line-height: 30px;}
.exchange_message .message_result {margin-bottom: 10px;margin-top: 10px;}
.exchange_message .message_result .solid {display: inline-block;width: 80px;height: 1px;border-top:1px solid rgb(250,90,40);vertical-align: middle;}
.exchange_message .message_result span {color: rgb(250,90,40);margin: 0 10px;font-size: 16px;}

/*赚取攻略样式*/
#earn_strategy {width: 1000px;margin: 10px auto;font-size: 14px;}
#earn_strategy_content {margin-top: 20px;padding: 30px 60px 30px 20px;border:1px solid #ddd;}
#earn_strategy_content h4 {font-size: 16px;position: relative;border-bottom: 1px solid #c9c9c9;height: 30px;color: rgb(60,60,60);}
#earn_strategy_content h4 .title_solid{position: absolute;left: 0;bottom:-1px;width: 56px;border-bottom: 1px solid rgb(250,90,40);}
#earn_strategy_content .content {line-height: 30px;padding: 20px 44px;color: rgb(120,120,120);}
#earn_strategy_content .content .circle {margin-right: 4px;vertical-align: -2px;display: inline-block;width: 14px;height: 14px;border-radius: 50%;background-color: #d2d2d2;}
#earn_strategy_content .content a {color: #f5733a;margin-left: 10px;}

































