@charset "utf-8";

/* CSS Document */

body{margin:0px; padding:0px; font-size:12px; font-family:Arial, "微软雅黑"; color:#333;}

a{color:#333; text-decoration:none; outline:none;}

a:active{star:expression(this.onFocus=this.blur()); outline:none;} 

img{border:0px;}

a:link {text-decoration: none; outline:none;}

a:visited{text-decoration: none; outline:none;}

a:hover{text-decoration:none; color:#00afff; outline:none;}

ul, p, dl, dt, dd{padding:0px; margin:0px;}

li{list-style-position:outside; list-style-type:none;}

h1, h2, h3, h4, h5{font-size:14px; padding:0px; margin:0px;}

h1{font-size:16px;}

h5{font-size:12px;}

.fl{float:left;}

.fr{float:right;}

.clear{clear:both; height:0px; padding:0px; margin:0px; display:block; _display:inherit;}

.h10{height:10px; overflow:hidden; clear:both;}

.h20{height:20px; overflow:hidden; clear:both;}

.h50{height:50px; overflow:hidden; clear:both;}

input{background:transparent; padding:0px; font-size:12px; font-family:Arial, "微软雅黑"; color:#888; outline:none; border:0px;}

em{font-style:normal;}

.btn1{cursor:pointer;}

img{vertical-align:middle;}

.blue{color:#00afff;}

area{outline:none;}



.wal{width:1170px; margin:0px auto;}

.pageBg1{background:#f7f7f6;}

.w715{width:60%;}

.w370{width:31%;}



.headDiv{position:fixed; z-index:50; left:0px; top:0px; width:100%; height:112px; border-top:#1d95cc solid 4px; background:#000000;

-moz-box-shadow:0px 3px 5px rgba(0,0,0,0.2);

-webkit-box-shadow:0px 3px 5px rgba(0,0,0,0.2);

box-shadow:0px 3px 5px rgba(0,0,0,0.2);

}

.headDiv .logo{display:block; background:url("../images/logo.png"/*tpa=http://www.olm.com.cn/style/images/logo.png*/) center no-repeat; width:136px; height:64px; position:absolute; left:90px; top:18px;}

.pageHead{position:relative;}

.topSearch{position:absolute; top:39px; right:235px; width:322px; height:36px; border:#aaa solid 1px; background:#FFF;}

.topSearch .input1{width:100%; height:36px; line-height:36px; text-indent:15px; color:#bcbcbc; font-size:14px;}

.topSearch .btn1{position:absolute; top:0px; right:0px; background:url("../images/btn1.png"/*tpa=http://www.olm.com.cn/style/images/btn1.png*/) center no-repeat; width:58px; height:36px;}

.topBtn{position:absolute; top:42px; right:91px;}

.topBtn li{float:left; padding-left:8px;}

.topBtn a{display:block; width:34px; height:34px;}

.topBtn .li_01 a{background:url("../images/img33_1.png"/*tpa=http://www.olm.com.cn/style/images/img33_1.png*/) center no-repeat;}

.topBtn .li_02 a{background:url("../images/img33_2.png"/*tpa=http://www.olm.com.cn/style/images/img33_2.png*/) center no-repeat;}

.topBtn .li_03 a{background:url("../images/img33_3.png"/*tpa=http://www.olm.com.cn/style/images/img33_3.png*/) center no-repeat;}

.nav{position:absolute; left:263px; top:45px;}

.nav li{float:left; padding-right:5px;}

.nav a{display:block; float:left; font-size:14px; color:#FFF; padding:0 15px; min-width:67px; text-align:center; height:30px; line-height:30px;}

.nav a:hover, .nav a.on{background:#1d95cc;}



.indexPart1 .btn a, .nav a, .indexPart4 .tab li, .indexPart4 .tabContent a, .Solution_02 .btn a, .Solution_03 .list3 .name{

-moz-border-radius:15px;

-webkit-border-radius:15px;

border-radius:15px;	

}

@media screen and ( max-width:800px ){

.indexPart1 .btn a, .nav a, .indexPart4 .tab li, .indexPart4 .tabContent a, .Solution_02 .btn a, .Solution_03 .list3 .name{

-moz-border-radius:10px;

-webkit-border-radius:10px;

border-radius:10px;	

}

}

.nav, .nav a, .indexPart2 .imgDiv, .indexPart2 img, .indexPart4 .tab li, .indexIco, .footDiv, .topSearch, .topBtn, .headDiv .logo, .indexPart5 .fr li i, .indexPart5 .fr .box1, .Solution dd a div, .Solution dd img, .product a, .productNav a, .productNav img, .Solution_01 dd a, .Solution_01 dd img, .Solution_02 .list li, .Solution_02 .list img, .Solution_03 .list2 a, .amlPart2 .imgDiv, .amlPart2 img, .case_02 img, .case_02 div, .caseShow_05 li, .caseShow_05 li img, .amlPart1 div, .amlPart3 .box, .amlPart3 a, .amlPart3 img, .caseShow_08 a, .caseShow_08 li div, .caseShow_01 img, .caseShow_02 img, .caseShow2_01 img, .news a, .news .box, .pageMore a, .pageMore2 a, .sideList1 a, .History div, .History span, .about_01 img, .about_03 img, .jobNav a, .jobNav img, .honor .list dd span, .contact li i, .contact .box1, .indexPart3 img, .indexPart4 .tabContent img, .indexPart5 .list a, .pageBanner .list img, .Solution .imgDiv, .Culture .imgDiv, .History .time em, .Solution_03 .list3 div, .Solution_03 .list3 img, .indexPart1List .imgDiv img{
transition:All 0.5s ease;
-webkit-transition:All 0.5s ease;
-moz-transition:All 0.5s ease;
-o-transition:All 0.5s ease;	
}

.indexPart1 .box, .section.active .indexTitle i, .indexTitle .box-5, .indexPart4 .tab{

transition:All 1.5s ease;

-webkit-transition:All 1.5s ease;

-moz-transition:All 1.5s ease;

-o-transition:All 1.5s ease;	

}

.indexPart2 .msg{

transition:All 1s ease 0.5s;

-webkit-transition:All 1s ease 0.5s;

-moz-transition:All 1s ease 0.5s;

-o-transition:All 1s ease 0.5s;

}



.tabContent{display:none;}



/*.footDiv{position:fixed; z-index:30; left:0px; bottom:-50px; width:100%; background:#000000; border-bottom:#000000 solid 14px; opacity:0; filter:alpha(opacity=0);}*/
.footDiv{position:fixed; z-index:30; left:0px; bottom:-50px; width:100%; background:#000000; opacity:0; filter:alpha(opacity=0);}

.footDiv .bfoot{width:100%; height:10px; padding:2px 0; background:#262626;}

.footDiv .bfoot .wal{ height:10px;}

.footDiv .bfoot .wal img { vertical-align:top;}

.footDiv.on{bottom:0px; opacity:1; filter:alpha(opacity=1);}

.footDiv .wal{min-height:50px; position:relative;}

.footDiv .logo{position:absolute; left:0px; top:3px;}

.footDiv .msg{text-align:right; color:#FFF; padding-top:18px;}



.pageFoot{background:#3d3b3b; color:#FFF; padding:0 15px;}

.pageFoot a{color:#FFF;}

.pageFoot .wal{min-height:300px; position:relative;}

.pageFoot .tel{text-align:center; font-size:15px; line-height:28px; position:absolute; left:0px; top:0px; width:290px;}

.pageFoot .tel .img{padding:50px 0 25px 0; position:relative; left:15px;}

.pageFoot .tel h2{font-size:22px;}

.pageFoot .list{padding:45px 0 0 320px;}

.pageFoot .list li{float:left; width:100px; line-height:22px;}

.pageFoot .list .li_01{width:162px;}

.pageFoot .list .name2{font-size:16px; padding:15px 0 10px 0;}

.pageFoot .ewm{position:absolute; top:73px; right:0px; text-align:center;}

.pageFoot .ewm li{float:left; padding-left:40px; line-height:70px;}

.footMsg{text-align:center; color:#FFF; padding:25px 15px; background:#111; text-transform:uppercase;}



.pageBanner{padding:0 15px;}

.pageBanner .wal{min-height:289px; position:relative; color:#FFF;}

.pageBanner .box{position:absolute; left:0px; top:90px; width:632px;}

.pageBanner .box .name{font-size:28px; text-transform:uppercase; padding-bottom:15px;}

.pageBanner .box .name div{font-size:26px;}

.pageBanner .box p{font-size:14px;}

.pageBanner .box p.p-1{display:none;}

.pageBanner .list{position:absolute; top:115px; right:0px;}

.pageBanner .list li{float:left; padding-left:36px;}

.pageBanner .list a{display:block; border:#FFF solid 3px; padding:15px;}

.pageBanner .list a:hover img{transform:scale(1.2);-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-o-transform:scale(1.2);-ms-transform:scale(1.2);}

.pageNow{font-size:14px; line-height:58px;}

.pageNow a{color:#FFF;}

.pageNow em{padding:0 10px;}



.pageBanner2{padding:0 15px;}

.pageBanner2 .wal{min-height:446px; position:relative; color:#FFF;}

.pageBanner2 .title{font-size:20px; text-transform:uppercase; padding-top:100px;}

.pageBanner2 .title div{font-size:34px; color:#47bdf3; padding-bottom:5px;}

.pageBanner2 .title div span{color:#FFF;}

.pageBanner2 .content{font-size:16px; line-height:26px; padding:15px 170px 35px 0;}

.pageBanner2 .more{width:148px; border-top:#00afff solid 2px;}

.pageBanner2 .more a{display:inline-block; color:#FFF; font-size:14px; padding:0 25px 0 7px; height:70px; line-height:70px; background:url("../images/ico13.png"/*tpa=http://www.olm.com.cn/style/images/ico13.png*/) right center no-repeat;}

.pageBanner2-1{padding:40px 15px;}

.pageBanner2-1 .content em{display:block;}



.topA{display:block; background:url("../images/topA.png"/*tpa=http://www.olm.com.cn/style/images/topA.png*/) center no-repeat; width:53px; height:53px; position:fixed; z-index:20; bottom:100px; right:90px;}



.pageNow2{height:88px; line-height:88px; position:relative; border-bottom:#c6c6c6 solid 1px; margin-bottom:45px;}

.pageNow2 .back{display:inline-block; height:88px; font-size:16px; background:url("../images/nimg19.png"/*tpa=http://www.olm.com.cn/style/images/nimg19.png*/) left center no-repeat; padding-left:29px;}

.pageNow2 div{position:absolute; top:0px; right:0px; height:88px; background:url("../images/nimg9.png"/*tpa=http://www.olm.com.cn/style/images/nimg9.png*/) left center no-repeat; padding-left:15px; font-size:14px;}

.pageNow2 div a{color:#989a9c;}

.pageNow2 div a:hover{color:#1c5a97;}



.pageNum2{text-align:center; font-size:14px; height:70px; padding-top:20px; border-bottom:#c6c6c6 solid 1px; line-height:21px;}

.pageNum2 a{display:inline-block; margin:0 5px; color:#666;}

.pageNum2 .a1{height:19px; line-height:19px; padding:0 10px; border:#ccc solid 1px;}

.pageNum3{font-size:14px; line-height:30px; padding:15px 0;}

.pageNum3 a{color:#666;}

.pageNum3 a:hover{color:#1c5a97;}



.slide-T, .slide-B, .slide-L, .slide-R{

transition:All 1s ease;

-webkit-transition:All 1s ease;

-moz-transition:All 1s ease;

-o-transition:All 1s ease;

}



.slide-T{position:relative; top:-50px; opacity:0; filter:alpha(opacity=0);}

.slide-Ton{top:0px; opacity:1; filter: alpha(opacity=1);}

.slide-B{position:relative; bottom:-50px; opacity:0; filter:alpha(opacity=0);}

.slide-Bon{bottom:0px; opacity:1; filter: alpha(opacity=1);}

.slide-L{position:relative; left:-50px; opacity:0; filter:alpha(opacity=0);}

.slide-Lon{left:0px; opacity:1; filter: alpha(opacity=1);}

.slide-R{position:relative; right:-50px; opacity:0; filter:alpha(opacity=0);}

.slide-Ron{right:0px; opacity:1; filter: alpha(opacity=1);}







