@charset "utf-8";

@media screen and ( max-height:770px ){

.indexPart1List{transform:scale(0.8);-webkit-transform:scale(0.8);-moz-transform:scale(0.8);-o-transform:scale(0.8);-ms-transform:scale(0.8); margin-top:-300px;}

.indexPart2 .box, .indexPart3 .box, .indexPart3 .box, .indexPart4 .box, .indexPart5 .box{top:125px; margin-top:0px;}

.indexTitle{min-height:100px;}

.indexTitle p{padding:15px 0;}

.indexPart4 .indexTitle p{padding-bottom:15px;}

.indexPart2 .msg{height:80px; line-height:80px;}

.indexPart3 li{padding-top:20px;}

}

@media screen and ( max-width:1420px ){

.headDiv .logo{left:15px;}

.nav{left:160px;}

.topSearch{right:160px;}

.topBtn{right:15px;}

#menu{right:15px;}

}

@media screen and ( max-width:1440px ){
.topSearch{display:none;}
}
@media screen and ( max-width:1024px ){
.indexPart5 .fl{width:372px;}
.indexPart5 .fr{width:652px; height:665px; background:url("../images/img558.png"/*tpa=http://www.olm.com.cn/style/images/img558.png*/) left top no-repeat; position:relative;}
.pageFoot .ewm img{width: 101px;}
.pageFoot .ewm li{padding-left:24px;}
.contact{margin-left: -386px;}
}
@media screen and ( max-width:1028px ){
.pageFoot .ewm img{width: 101px;}
}
@media screen and ( max-width:1080px ){
.pageFoot .ewm li{padding-left:24px;}

}
@media screen and ( max-width:1000px ){
.pageFoot .ewm li{display: none}

}
@media screen and ( max-width:800px ){
.pageFoot .ewm li{display:block;}

}
@media screen and ( max-width:1200px ){

.wal{width:auto;}

/*.topSearch{display:none;}*/

.indexPart1 .slick-prev{display: none !important;;}

.indexPart1 .slick-next{display: none !important;;}

.indexPart2 .wal, .indexPart3 .wal, .indexPart4 .wal, .footDiv .wal{margin:0 15px;}



.indexPart5 .box{left:0px; width:100%; margin-left:0px;}

.indexPart5 .fl{position:relative; left:15px;}



.phoneBg{padding:0 15px;}



.pageNav{padding-left:15px;}



.productNav ul{margin-right:-15px;}

.productNav li{padding-bottom:15px;}

.productNav a{margin-right:15px; font-size:20px;}



.Solution_02 .box-2{width:auto;}



.news li{padding-bottom:30px;}

.news a{margin:0 15px;}



.about_03 .box{top:160px;}



.Culture ul{margin-right:-15px;}

.Culture .imgDiv{margin-right:15px;}

.Culture .content{padding-right:15px;}



.honor .bigImg{float:none; width:auto;}

.honor .list{float:none; width:auto; padding-top:20px;}



}	