body {
    scrollbar-arrow-color: #f4ae21;
    scrollbar-face-color: #333;
    scrollbar-3dlight-color: #666;
    scrollbar-highlight-color: #666;
    scrollbar-shadow-color: #999;
    scrollbar-darkshadow-color: #666;
    scrollbar-track-color: #666;
    scrollbar-base-color: #f8f8f8;
    Cursor: url(mouse.cur);
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

.banner {
    background-color: #fff;
    border-bottom: none;
}

.slideshow-boxed {
    padding: 0;
}

.slideshow-boxed .slider-banner-container {
    padding: 0;
    background: #fff;
    border: none;
    height: 400px;
}

.slideshow-boxed .slider-banner-container .tp-bgimg {
    height: 400px;
}

.slideshow-boxed .tp-caption {
    margin-right: 50px !important;
    padding-left: 0;
    font-size: 30px;
}

.banner-text-box {
    color: #808080;
    width: 519px;
    height: 242px;
    background-color: #e6e6e6;
    position: absolute;
    right: 26px;
    bottom: 26px;
    z-index: 20;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 20px 10px 20px;
    scrollbar-highlight-color: #ccc;
    scrollbar-arrow-color: #f4ae21;
    scrollbar-track-color: #ccc;
}

.banner-text-box .banner-text-content {
    font-size: 12px;
    line-height: 28px;
}

.container-position-set {
    position: relative;
}

.box-style-6 {
    margin-top: 20px;
}

.box-style-6 .icon-container {
    float: left;
    width: 60px;
    height: 60px;
    text-align: center;
    border: 1px solid transparent;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.box-style-6 .body {
    margin-left: 80px;
}

.box-style-6 span {
    color: #434a54;
    display: block;
    margin-bottom: 15px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
}

.image-box {
    background: none;
    border: none;
}

.overlay {
    position: absolute;
    top: 40px;
    bottom: -1px;
    left: 0;
    right: -1px;
    background-color: #717070;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
}

.overlay p {
    width: 290px;
    height: 320px;
    line-height: 20px;
    word-spacing: 3px;
    font-weight: 100;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    margin: 0;
    text-align: justify;
    line-height: 20px;
}

.overlay-links {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 0;
    margin-top: 0;
    left: 0px;
    margin-left: 0;
    font-size: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    -webkit-transition: all 0.25s linear 0.05s;
    -moz-transition: all 0.25s linear 0.05s;
    -ms-transition: all 0.25s linear 0.05s;
    -o-transition: all 0.25s linear 0.05s;
    transition: all 0.25s linear 0.05s;
}

.overlay a:hover {
    color: #ffffff;
    background-color: #333333;
}

.image-box-body {
    height: 60px;
    padding: 40px 15px 15px;
    text-align: center;
    font-size: 16px;
    color: #303030;
}

.carousel-page-box .overlay-container {
    position: relative;
    display: block;
    overflow: hidden;
    height: 320px;
    width: 290px;
    vertical-align: middle;
    padding: 76px 0;
    border: 0 solid #eee;
}

.old-age-news-box {
    width: 370px;
    float: left;
    border: 1px solid #ccc;
    padding: 26px;
}

.margin-left-right-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.owl-carousel.carousel .owl-item>div,
.owl-carousel.carousel-autoplay .owl-item>div {
    margin: 0;
}

.owl-controls {
    width: 100%;
    margin-bottom: 50px;
}

.owl-controls .owl-buttons div {
    display: inline-block;
    zoom: 1;
    padding: 3px 10px;
    font-size: 12px;
    position: absolute;
    width: 30px;
    height: 30px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.owl-prev {
    left: 535px;
    background-color: #db4453;
    color: #f1f1f1;
}

.owl-next {
    left: 565px;
    background-color: #fff;
    color: #777;
}

.owl-prev:hover,
.owl-next:hover,
.gray-bg .owl-next:hover {
    background-color: #fff;
    color: #db4453;
}

.gray-bg .owl-next {
    background-color: #ffffff;
}

.owl-controls .owl-buttons div:after {
    font-family: "fontello";
    font-size: 18px;
    line-height: 26px;
}

.owl-prev:after {
    content: "\e87c";
}

.owl-next:after {
    content: "\e87d";
}

.no-touch .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100);
    opacity: 1;
    text-decoration: none;
}

UNUSED.content-slider-with-controls .owl-controls,
UNUSED.content-slider-with-controls-autoplay .owl-controls {
    margin-bottom: 0;
}

UNUSED.content-slider-with-controls .owl-buttons div,
UNUSED.content-slider-with-controls-autoplay .owl-buttons div {
    top: 50%;
    margin-top: -15px;
    background-color: #db4453;
    color: #f1f1f1;
}

UNUSED.content-slider-with-controls .owl-buttons div.owl-next,
UNUSED.content-slider-with-controls-autoplay .owl-buttons div.owl-next {
    left: auto;
    right: 0;
}

.content-slider-with-controls .owl-prev:hover,
.content-slider-with-controls .owl-next:hover,
.content-slider-with-controls-autoplay .owl-prev:hover,
.content-slider-with-controls-autoplay .owl-next:hover {
    background-color: #f1f1f1;
    color: #db4453;
}

UNUSED.owl-controls .owl-page.active span,
.owl-controls.clickable .owl-page:hover span {
    background: #db4453;
}

.section-especial-title {
    font-size: 30px;
    color: #fff;
    line-height: 30px;
    padding-bottom: 20px;
    display: block;
    margin-right: 40px;
}

.annuity-news-box h2 {
    font-size: 18px;
    color: #393f48;
    line-height: 18px;
    padding-bottom: 20px;
    display: block;
}

.cnotice ul,
.cnotice ul > li {
    list-style: none;
    display: block;
    padding: 5px 0;
    width: 100%;
    line-height: 33px;
}

.cnotice ul > li > a {
    font-size: 12px;
    color: #393f48;
    line-height: 25px;
    text-decoration: none;
    width: 230px;
    overflow: hidden;
    display: inline-block;
    height: 25px;
}

.cnotice ul > li > span {
    line-height: 25px;
    height: 25px;
    font-size: 10px;
}

.cnotice ul > li > a:honver {
    text-decoration: none;
}

.annuity-news {
    font-size: 14px;
    margin-top: 30px;
}

.annuity-news-meta a:hover {
    text-decoration: underline;
}

UNUSED.direct_selling_tab > li.active > a,
.direct_selling_tab > li.active > a:hover,
.direct_selling_tab > li.active > a:focus {
    color: #fff;
    background-color: #db4453;
    border: 1px solid #db4453;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.04);
    border-bottom-color: #db4453;
    display: block;
}

.direct_selling_tab > li.active > a:after {
    background: none;
}

UNUSED.kaihuliucheng-box .box-intro h5,
UNUSED.licaifuwuliucheng-box .box-intro h5 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 100;
}

.form-control {
    border-radius: 0;
    background: #e5e5e5;
    display: block;
    width: 100%;
    height: 56px;
    padding-right: 30px;
    border-color: #bfbfbf;
    color: #2A2A2A;
    position: relative;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .075);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .075);
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

textarea.form-control {
    height: 268px;
}

.box-style-2 i {
    font-size: 14px;
    line-height: 32px;
    padding-right: 15px;
}

.old-age-qa .box-style-2 .body {
    margin-left: 0;
}
