/*银行业务
－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.container p {
    line-height: 30px;
}

.bank-banner-content-box {
    background-color: #393f41;
    width: 528px;
    height: 400;
}

.bank-content-tab {
    -webkit-box-shadow: inset 0px 0 0 rgba(0, 0, 0, 0.04);
    box-shadow: inset 0px 0 0 rgba(0, 0, 0, 0.04);
    border-bottom: 0px solid #f0f0f0;
    margin-top: 0;
    padding-left: 0;
}

.bank-content-tab li {
    width: 292.5px;
    text-align: center;
    margin-bottom: 0;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    margin-right: -1px;
}

.bank-content-tab .active {
    margin-bottom: -2px;
    border-bottom: 1px solid #edeeed;
}

.box-shadow-clear {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}

.bank-content-tab > li.active > a,
.bank-content-tab > li.active > a:hover,
.bank-content-tab> li.active > a:focus {
    color: #666;
    background-color: #fff;
    border: 1px solid #edeeed;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
    border-bottom-color: transparent;
}

.bank-content-tab > li > a {
    font-size: 16px;
    text-transform: uppercase;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 12px 25px;
    position: relative;
    color: #666666;
}

.bank-content-tab > li > a:hover {
    border-color: #f0f0f0 #f0f0f0 #ebebeb;
    background-color: #fff;
}

.bank-content-tab > li.active > a,
.bank-content-tab > li.active > a:hover,
.bank-content-tab > li.active > a:focus {
    color: #009bbe;
    background-color: #edeeed;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.04);
}

.bank-content-tab > li.active > a:after {
    width: 0;
    border-top: 3px;
    content: "";
    background-color: #e84c3d;
    height: 103%;
    position: absolute;
    left: 0;
    top: 0;
}

.tab-content {
    border: 1px solid #f0f0f0;
    padding: 20px;
    border-top: none;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    position: relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    background-color: #fafafa;
    margin-bottom: 15px;
}

.tab-content:after {
    width: 3px;
    content: "";
    background-color: #e84c3d;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.tab-content.clear-style {
    border: none;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}

.tab-content.clear-style:after {
    width: 0;
    background-color: transparent;
    height: 100%;
}

.tab-img-box {
    border: 1px solid #ccc;
}

.tab-img-container-all img {
    margin: 0 auto;
}

.box-intro {
    padding: 0 60px 0 30px;
}

.circle-color {
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: 1px solid #edeeed;
    display: table-cell;
    text-align: center;
    float: left;
}

.fof-num-1 {
    background-color: #016db6;
    font-size: 24px;
    line-height: 50px;
    border: 1px solid #016db6;
    color: #fff;
}

.fof-num-2 {
    background-color: #22ac38;
    font-size: 24px;
    line-height: 50px;
    border: 1px solid #22ac38;
    color: #fff;
}

.fof-num-3 {
    background-color: #fff100;
    font-size: 24px;
    line-height: 50px;
    border: 1px solid #fff100;
    color: #fff;
}

.fof-num-4 {
    background-color: #fff100;
    font-size: 24px;
    line-height: 50px;
    border: 1px solid #fff100;
    color: #fff;
}

.fof-num-5 {
    background-color: #f39800;
    font-size: 24px;
    line-height: 50px;
    border: 1px solid #f39800;
    color: #fff;
}

.fof-num-6 {
    background-color: #ff0000;
    font-size: 24px;
    line-height: 50px;
    border: 1px solid #ff0000;
    color: #fff;
}

.fof-diy .fof-sub-title {
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 100;
    font-size: 24px;
}

.fof-title {
    float: left;
    width: 130px;
    margin-right: 84px;
    margin-left: 50px;
}

.fof-diy .fof-summary {
    width: 554px;
    margin: 0 auto;
    font-size: 14px;
    color: rgba(57, 63, 72, 0.71);
    font-weight: 100;
}

.fof-diy h6 {
    font-size: 18px;
    font-weight: 100;
    line-height: 50px;
    display: block;
}

.fof-diy span {
    font-size: 14px;
    font-weight: 100;
}

.fof-diy-content p {
    padding-bottom: 30px;
    color: rgba(57, 63, 72, 0.71);
    font-size: 14px;
    width: 485px;
    overflow: hidden;
    float: left;
    font-weight: 100;
}

.fof-diy-content {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
}

.fof-diy-box {
    margin-left: 170px;
    width: 830px;
}

.fof-diy hr {
    display: block;
    padding: 0;
    border: 0;
}

.table > tbody > tr > td {
    border-top: 0;
    font-size: 12px;
    font-weight: 100;
    border: 1px solid #fff;
}

.fund-npv .table > thead > tr > th {
    border-bottom: 1px solid #959595;
    border-right: 1px solid #fff;
    background-color: #959595;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    vertical-align: middle;
    height: 40px;
}

.fund-npv .table-striped > tbody > tr:nth-child(odd) > td,
.fund-npv .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #edeeed;
    text-align: center;
    padding-left: 12px;
    vertical-align: middle;
    height: 56px;
}

.fund-npv .table-striped > tbody > tr:nth-child(even) > td,
.fund-npv .table-striped > tbody > tr:nth-child(even) > th {
    background-color: #f6f8fa;
    text-align: center;
    padding-left: 12px;
    vertical-align: middle;
    height: 56px;
}

.fund-npv .table-striped > tbody > tr:nth-child(even) > .fund-npv-name,
.fund-npv .table-striped > tbody > tr:nth-child(odd) > .fund-npv-name {
    color: #666;
}

.fund-history-bonus .table > thead > tr > th {
    border-bottom: 1px solid #959595;
    border-right: 1px solid #fff;
    background-color: #959595;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    vertical-align: middle;
    height: 40px;
}

.fund-history-bonus .table-striped > tbody > tr:nth-child(odd) > td,
.fund-history-bonus .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #edeeed;
    text-align: center;
    padding-left: 12px;
    vertical-align: middle;
    height: 56px;
}

.fund-history-bonus .table-striped > tbody > tr:nth-child(even) > td,
.fund-history-bonus .table-striped > tbody > tr:nth-child(even) > th {
    background-color: #f6f8fa;
    text-align: center;
    padding-left: 12px;
    vertical-align: middle;
    height: 56px;
}

.line-height-30 {
    line-height: 30px;
}

.breadcrumb-2,
.finacing_college_list .breadcrumb-2 {
    padding: 3px 0;
    list-style: none;
    background-color: #fff;
    border-radius: 4px;
}

.breadcrumb-2 > li {
    display: inline-block;
}

.breadcrumb-2 > li a {
    color: #676767;
    font-size: 14px;
    text-decoration: none;
}

.announcement p {
    display: inline-block;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    min-width: 100%;
    margin-top: 20px;
}

.table:not(.table-bordered) {
    border-bottom: 0px solid #f3f3f3;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
}
