/*大树理财
－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.banner {
    background-color: #fff;
    border-bottom: none;
}
.slideshow-boxed {
    padding: 0;
}
.slideshow-boxed .slider-banner-container {
    padding: 0;
    background: #fff;
    border: none;
    height: 400px;
}
.slideshow-boxed .slider-banner-container .tp-bgimg{
    height: 400px;
}
.slideshow-boxed .tp-caption {
    margin-right: 70px !important;
    padding-left: 0;
    font-size: 30px;
}
.tree-wealth-solution-box-2{
    margin-left: -13px;
}
.tree-wealth-solution-box-3{
    margin-left: -20px;
    margin-right: -39px;
}
.tree-wealth-solution-text-1{
    width: 572px;
    height: 234px;
    margin: 0;
    padding-top: 80px;
    padding-right: 40px;
    padding-left: 40px;
}
.tree-wealth-solution-text-1 p{
    color: #a4aeb9;
}
.tree-wealth-solution-text-1 p , .tree-wealth-solution-text-2 p , .tree-wealth-solution-text-3 p , .tree-wealth-solution-text-4 p{
    line-height: 20px;
}
.tree-wealth-solution-text-2{
    width: 370px;
    height: 234px;
    margin: 0;
    padding-top: 70px;
    padding-right: 40px;
    padding-left: 40px;
}
.tree-wealth-solution-text-3{
    width: 234px;
    height: 234px;
    margin: 0;
    padding-top: 35px;
    padding-right: 15px;
    padding-left: 35px;
}
.tree-wealth-solution-img-3{
    width: 234px;
    height: 234px;
    margin: 0;
    padding: 0;
}
.slideshow-boxed .tp-bullets {
    bottom: 33px !important;
}
.tp-bullets.preview4 .bullet:hover, .tp-bullets.preview4 .bullet.selected {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: rgba(255, 255, 255, 1) !important;
    width: 7px !important;
    height: 7px !important;
    border: 1px solid #fff !important;
}
.tp-bullets.preview4 .bullet {
    cursor: pointer;
    position: relative !important;
    background: rgba(249, 249, 249, 0) !important;
    -webkit-border-radius: 10px;
    border-radius: 50%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 7px !important;
    height: 7px !important;
    border: 1px solid #fff !important;
    display: inline-block;
    margin-right: 15px !important;
    margin-bottom: 0px !important;
    -webkit-transition: background-color 0.2s, border-color 0.2s;
    -moz-transition: background-color 0.2s, border-color 0.2s;
    -o-transition: background-color 0.2s, border-color 0.2s;
    -ms-transition: background-color 0.2s, border-color 0.2s;
    transition: background-color 0.2s, border-color 0.2s;
    float: none !important;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
.image-box {
    background: none;
    border: none;
}
.app-down-img-box img{
    margin: 0 auto;
    width: 59px;
    height: 59px;
}

.tip-left-tooltip-arrow{
    top: 30px;
    left: -30px;
    width: 0px;
    height: 0px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 40px solid #fac75b;
    z-index: 1;
    position: absolute;
}
.tip-down-tooltip-arrow{
    right: 60px;
    top: 230px;
    width: 0px;
    height: 0px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 40px solid #212c3d;
    z-index: 1;
    position: absolute;
}
.tip-right-tooltip-arrow{
    top: 270px;
    right: -15px;
    width: 0px;
    height: 0px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 40px solid #8abc5d;
    z-index: 10;
    position: absolute;
}
.tree-logo-image{
    max-width: 100%;
    float: left;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: 10px 80px 20px 70px;
}
.tree-logo .testimonial-body {
    padding: 15px;
    margin-top: 45px;
}
.tree-logo .title{
    padding-bottom: 15px;
}
.tree-logo span{
    line-height: 25px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 0;
    right: -1px;
    background-color: rgba(208, 57, 61, 0.85);
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
}
.overlay p {
    width: 270px;
    height: 270px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 25px;
}
.overlay span {
    position: absolute;
    display: block;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: #000000;
    font-style: italic;
}
.overlay-links {
    display: block;
    margin: 0 auto;
    position: absolute;
    /*top: 85px;*/
    top: 0px;
    margin-top: 0;
    left: 0px;
    margin-left: 0;
    font-size: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    -webkit-transition: all 0.25s linear 0.05s;
    -moz-transition: all 0.25s linear 0.05s;
    -ms-transition: all 0.25s linear 0.05s;
    -o-transition: all 0.25s linear 0.05s;
    transition: all 0.25s linear 0.05s;
}
.overlay-links a {
    position: static;
    margin-top: 0;
    margin-left: 0;
}
.overlay-links a + a {
    left: 0;
    color: #ffffff;
    background-color: #db4453;
}
.overlay a:hover {
    color: #ffffff;
    background-color: #333333;
}
.overlay i {
    line-height: 50px;
}
.box-style-1 .overlay i {
    font-size: 12px;
    margin: 0;
}
a.overlay {
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.image-box-body {
    height: 138px;
    padding: 20px 0 0 0;
    text-align: center;
    width: 270px;
}
.image-box-body h3{
    padding-bottom: 10px;
    font-size: 18px;
}
.image-box-body a:hover{
    text-decoration: none;
}

.owl-carousel.carousel .owl-item >div, .owl-carousel.carousel-autoplay .owl-item>div {
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
}
.overlay-container {
    position: relative;
    display: block;
    overflow: hidden;
    width: 270px;
    border: 1px solid rgba(237, 238, 237, 0.55);
}
.owl-carousel.carousel .owl-item .wealth-story-image-box-1>div, .owl-carousel.carousel-autoplay .wealth-story-image-box-1>div {
    margin-left: 0;
}

.owl-carousel .owl-item ,.owl-carousel.carousel-autoplay .owl-item {
    float: left;
    margin:0 8px 0 0;
}
/* owl controls */
.owl-controls {
    width: 100%;
    margin-bottom: 50px;
}
.owl-controls .owl-buttons div {
    display: inline-block;
    zoom: 1;
    padding: 3px 10px;
    font-size: 12px;
    position: absolute;
    width: 30px;
    height: 30px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.owl-prev {
    left: 535px;
    background-color: #db4453;
    color: #f1f1f1;
}
.owl-next {
    left: 565px;
    background-color: #fff;
    color: #777;
}
.owl-prev:hover,
.owl-next:hover,
.gray-bg .owl-next:hover {
    background-color: #fff;
    color: #db4453;
}
.gray-bg .owl-next {
    background-color: #ffffff;
}
.owl-controls .owl-buttons div:after {
    font-family: "fontello";
    font-size: 18px;
    line-height: 26px;
}
.owl-prev:after {
    content: "\e87c";
}
.owl-next:after {
    content: "\e87d";
}
.no-touch .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100);
    opacity: 1;
    text-decoration: none;
}
.content-slider-with-controls {
    margin-bottom: 20px;
}
.content-slider-with-controls .owl-controls,
.content-slider-with-controls-autoplay .owl-controls {
    margin-bottom: 0;
}
.content-slider-with-controls .owl-buttons div,
.content-slider-with-controls-autoplay .owl-buttons div {
    top: 50%;
    margin-top: -15px;
    background-color: #db4453;
    color: #f1f1f1;
}
.content-slider-with-controls .owl-buttons div.owl-next,
.content-slider-with-controls-autoplay .owl-buttons div.owl-next {
    left: auto;
    right: 0;
}
.content-slider-with-controls .owl-prev:hover,
.content-slider-with-controls .owl-next:hover,
.content-slider-with-controls-autoplay .owl-prev:hover,
.content-slider-with-controls-autoplay .owl-next:hover {
    background-color: #f1f1f1;
    color: #db4453;
}
.content-slider-with-controls-bottom .owl-controls .owl-pagination {
    bottom: -30px;
}
.content-slider-with-controls-bottom .owl-controls .owl-page span {
    background: #acacac;
}
.owl-controls .owl-pagination {
    position: absolute;
    bottom: 25px;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100%;
}
.owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
}
.owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 4px;
    background: #ffffff;
}
.owl-controls .owl-page.active span,
.owl-controls.clickable .owl-page:hover span {
    background: #db4453;
}
.tree-wealth-contact{
    height: 545px;
}
.sidebar-box{
    margin-top: 120px;
}
.beijing-center{
    position: absolute;
    right: 360px;
    top: 150px;
    width: 200px;
    height: 60px;
    display: block;
}
.popover{
  width: 322px;
  max-width: 322px;
  min-height: 160px;
  margin-bottom: 20px;
}
.shanghai-center .popover{
  width: 350px;
  max-width: 350px;
  min-height: 270px;
  margin-bottom: 40px;
}
.shanghai-center h5 {
    padding: 15px 24px 0 0 ;
    margin: 0;
    margin-bottom: 10px;
    color: #d23337;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background-color: #fff;
    border-bottom: 0px solid #ebebeb;
}
.popover-title {
    padding: 15px 14px 0 14px ;
    margin: 0;
    color: #d23337;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background-color: #fff;
    border-bottom: 0px solid #ebebeb;
    border-radius: 0 0 0 0;
}
.shanghai-center{
    position: absolute;
    right: 250px;
    top: 264px;
    width: 200px;
    height: 60px;
    display: block;
}
.center-label{
    height: 45px;
}
.chengdu-center{
    position: absolute;
    left: 142px;
    top: 274px;
    width: 200px;
    height: 60px;
    display: block;
}
.shenzhen-center{
    position: absolute;
    right: 307px;
    top: 354px;
    width: 200px;
    height: 60px;
    display: block;
}