/*基金详情
－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.fund-manager-scroll-top{ position: relative;}
.fund-manager-scroll-top .hd{
    height: 117px;
    width: 15px;
    top: -10px;
    right: 0;
    line-height: 30px;
    background: #f4f4f4;
    padding-left: 3px;
    position: relative;
    line-height: 30px;
    float: right;
}
.fund-manager-scroll-top .hd ul{ float:left; position:absolute; left:20px; top:-1px; height:32px;   }
.fund-manager-scroll-top .hd ul li{ float:left; padding:0 15px; cursor:pointer;  }
.fund-manager-scroll-top .hd ul li.on{ height:30px;  background:#fff; border:1px solid #ddd; border-bottom:2px solid #fff; }
.fund-manager-scroll-top .bd ul{ padding:15px;  zoom:1;  }
.fund-manager-scroll-top .bd li{ height:24px; line-height:24px;   }
.fund-manager-scroll-top .bd li .date{ float:right; color:#999;  }
.fund-manager-scroll-top .hd .prev {
    display:block;
    width:9px;
    height:5px;
    float:right;
    margin-right:5px;
    margin-top:10px;
    overflow:hidden;
    cursor:pointer; background:url("../../../all/themes/thfund/images/fund-list/arrow.png"/*tpa=http://www.thfund.com.cn/sites/all/themes/thfund/images/fund-list/arrow.png*/) 0 -100px no-repeat;
    position: absolute;
    top: 0;
    left: 3px;
}
.fund-manager-scroll-top .hd .next{
    display:block;
    width:9px;
    height:5px;
    float:right;
    margin-right:5px;
    margin-top:10px;
    overflow:hidden;
    cursor:pointer; background:url("../../../all/themes/thfund/images/fund-list/arrow.png"/*tpa=http://www.thfund.com.cn/sites/all/themes/thfund/images/fund-list/arrow.png*/) 0 -140px no-repeat;
    position: absolute;
    bottom: 10px;
    left: 3px;
}
.breadcrumb-2 ,.finacing_college_list  .breadcrumb-2{
    padding: 3px 0;
    list-style: none;
    background-color: #fff;
    border-radius: 4px;
}
.breadcrumb-2  > li {
    display: inline-block;
}
.breadcrumb-2  > li a{
    color: #676767;
    font-size: 14px;
    text-decoration: none;
}

.btn.btn-ssm {
    width: 114px;
    padding: 5px 15px;
    font-size: 12px;
    min-width: 60px;
    margin: 0;
    line-height: 20px;
    margin-right: 10px;
    color: #434a54;
}
.year-selection .btn-ssm{
    width: auto;
    margin: 0;
    padding-right: 10px;
}
.year-selection .btn-ssm:hover , .year-selection .year-active{
    color: #434a54;
    background-color: #e3e4e8;
}
.btn-light-gray {
    color: #333333;
    background-color: #fff;
    border: none;
    height: 30px;
}
.year-selection{
    width: 332px;
    height: 32px;
    margin-bottom: 20px;
    margin-left: 46px;
    border: 1px solid #eee;
    text-align: left;
}
.padding-top-clear{
    padding-top: 0;
}
.content-box-title{
    background: #edeeed;
    margin-left: 0;
    padding: 20px 30px;
    color: #737373;
    height: 110px;
}
.content-box-title-head h3 {
    float: left;
    color: #737373;
    font-size: 28px;
    min-width: 230px;
    margin-right: 40px;
}
.box-style-chart {
    text-align: center;
    padding: 20px 0;
    margin: 0;
}
.box-dynamics-data {
    text-align: center;
    padding:  10px;
    margin: 20px 0 10px 0;
}
.box-dynamics-data b{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
}
.person-info{
    padding-left:15px;
    text-align: left;
}
.fund-slogan{
    background: #fff;
    color: rgba(164,174,185,0.70);
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 0;
    font-size: 12px;
    padding-bottom: 20px;
    margin-bottom: 0;
}
.content-box-subtitle {
    width: 88%;
    font-size: 12px;
    height: 74px;
    font-weight: 100;
}
.content-box-title-head {
    height: 45px;
}
.content-box-title-head h3{
    float: left;
    color: #737373;
    font-size: 28px;
    /*width: 170px;*/
    margin-right: 40px;
}
.fund-code{
    vertical-align: top;
    margin-top: 5px;
    display: inline-block;
}
.box-style-fund {
    text-align: center;
    padding: 0px 0;
    margin: 0;
}
.box-fund{
    display: block;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.box-fund-ul{

    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: block;
}

.box-style-fund  .btn{
    width: 140px;
    min-width: 140px;
    margin-right: 15px;
}
.box-fund-ul b{
    color: #fff;
    background-color: #d23337;
    padding: 3px 8px;
    margin-left: 5px;
    font-weight: 300;
}
.box-fund-ul > li,.box-fund-ul-padding-10 > li {
    float: none;
    position: relative;
    display: block;
}

.box-fund-ul  > li > p {
    border-radius: 0;
    padding-top: 0;
    padding-left:  0;
    padding-right: 0;
    border-bottom: 1px solid #eee;
    color: #666666;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    display: block;
    height: 32px;
    line-height: 32px;
    padding-bottom: 10px;
}
.box-fund-ul-padding-10 {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: block;
}
.box-fund-ul-padding-10  > li > p {
    border-radius: 0;
    padding: 15px;

    color: #666666;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    display: block;
    height: 25px;
    margin-bottom: 10px;
}
.fund-manager-box img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
    width: 100px;
    height: 100px;
}
.working-experience span{
    width: 135px;
    display: block;
    float: left;
}



.fund-content-tab {
    -webkit-box-shadow: inset 0px 0 0 rgba(0, 0, 0, 0.04);
    box-shadow: inset 0px 0 0 rgba(0, 0, 0, 0.04);
    border-bottom: 0px solid #f0f0f0;
    margin-top: 0;
    padding-left:0;
}
.fund-content-tab li{
    margin-bottom:0;
}
.tab-gray-th{
    background: #f6f8fa;
}
.box-shadow-clear{
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}
.fund-content-tab > li.active > a, .fund-content-tab > li.active > a:hover, .fund-content-tab> li.active > a:focus {
    color: #666;
    background-color: #fff;
    border: 0 solid #fff;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
    border-bottom-color: transparent;
}
.fund-content-tab > li > a {
    font-size: 13px;
    text-transform: uppercase;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 12px 25px;
    position: relative;
    color: #666666;
}
.fund-content-tab > li > a:hover {
    border-color: #f0f0f0 #f0f0f0 #ebebeb;
    background-color: #fff;
}
.fund-content-tab > li.active > a,
.fund-content-tab > li.active > a:hover,
.fund-content-tab > li.active > a:focus {
    color: #666;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.04);
    border-bottom-color: transparent;
    border-top: 3px solid #d23337;
}
.fund-content-tab > li.active > a:after {
    width: 0;
    border-top: 3px;
    content: "";
    background-color: #e84c3d;
    height: 103%;
    position: absolute;
    left: 0;
    top: 0;
}
.tab-content {
    border: 1px solid #f0f0f0;
    padding: 20px;
    border-top: none;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    position: relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    background-color: #fafafa;
    margin-bottom: 15px;
}
.tab-content h1 {
    font-size: 34px;
}
.tab-content:after {
    width: 3px;
    content: "";
    background-color: #e84c3d;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.tab-content.clear-style {
    border: none;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}
.tab-content.clear-style:after {
    width: 0;
    background-color: transparent;
    height: 100%;
}
.margin-left-d40-right-d10{
    margin-left: -40px;
    margin-right: -10px;
}
.table-striped table> tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
    background-color: #fff;
    text-align: left;
    vertical-align: middle;
    height: 47px;
    padding-left: 30px;
}
.table-striped table> tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #fff;
    /*text-align: left;*/
    vertical-align: middle;
    padding-left: 30px;
    height: 47px;
}
.table-striped table > tbody > tr:nth-child(2n) > td, .table-striped table > tbody > tr:nth-child(2n) > th {
    background-color: #f6f8fa;
    /*background-color: #fff;*/
    text-align: left;
    vertical-align: middle;
}
.table  table > thead > tr > th, .table  table > tbody > tr > th, .table table > tfoot > tr > th, .table table > thead > tr > td, .table table > tbody > tr > td, .table table > tfoot > tr > td {
    padding: 8px 15px;
    border-top: 1px solid #e3e4e8;
}
.table table > thead > tr > th, .table table > tbody > tr > th, .table table > tfoot > tr > th, .table table > thead > tr > td, .table table > tbody > tr > td, .table table > tfoot > tr > td {
    padding: 8px 15px;
    border: 1px solid #e3e4e8;
    background-color: #fff;
    vertical-align: middle;
    height: 47px;
}
.table:not(.table-bordered) {
    border-bottom: 0px solid #f3f3f3;
}
.table table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 100;
}
.table-box-bordered table{
    border: 1px solid #ddd;
}
.table table > thead > tr > th {
    border-bottom: 1px solid #a4aeb9;
    border-right: 1px solid #fff;
    background-color: #a4aeb9;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    /*text-align: center;*/
    height: 40px;
    vertical-align: middle;
}
.tab-pane h5{
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 100;
}
.tab-pane .h5-top-padding-clear{
    padding-top: 0;
}
.tab-pane .h5-botttom-padding-clear{
    padding-bottom: 0;
}
.fund-rate table > tbody > tr > td {
    border-color: #ededed;
    vertical-align: middle;
    text-align: center;
    height: 47px;
}
.fund-rate > tbody > tr > td {
    border-color: #ededed;
    vertical-align: middle;
    /*text-align: center;*/
    height: 47px;
}

.fund-analyze h6{
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 300;
}
.fund-analyze p{
    padding-bottom: 30px;
    color: rgba(164, 174, 185, 0.95);
    font-size: 12px;
}
.fund-analyze .last-p-padding-bottom-0{
    padding-bottom: 0;
}
.fund-history-bonus .table > thead > tr > th {
    border-bottom: 1px solid #a4aeb9;
    border-right: 1px solid #fff;
    background-color: #a4aeb9;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    vertical-align: middle;
    height: 40px;

}
.fund-history-bonus .table-striped > tbody > tr:nth-child(odd) > td, .fund-history-bonus  .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f6f8fa;
    text-align: center;
    padding-left: 12px;
    vertical-align: middle;
    height: 40px;
}
.fund-history-bonus .table-striped > tbody > tr:nth-child(even) > td,.fund-history-bonus  .table-striped > tbody > tr:nth-child(even) > th {
    background-color: #fff;
    text-align: center;
    padding-left: 12px;
    vertical-align: middle;
    height: 40px;
}

.fund-npv .table > thead > tr > th {
    border-bottom: 1px solid #a4aeb9;
    border-right: 1px solid #fff;
    background-color: #a4aeb9;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    vertical-align: middle;
    height: 40px;

}
.fund-npv .table-striped > tbody > tr:nth-child(odd) > td, .fund-npv  .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f6f8fa;
    text-align: center;
    padding-left: 12px;
    vertical-align: middle;
    height: 40px;
    color: #d23337;
}
.fund-npv .table-striped > tbody > tr:nth-child(even) > td,.fund-npv  .table-striped > tbody > tr:nth-child(even) > th {
    background-color: #fff;
    text-align: center;
    padding-left: 12px;
    vertical-align: middle;
    height: 40px;
    color: #d23337;
}
.fund-npv .table-striped > tbody > tr:nth-child(even) > .fund-npv-name , .fund-npv .table-striped > tbody > tr:nth-child(odd) > .fund-npv-name  {
    color: #666;
}
.fund-npv .table-striped > tbody > tr:nth-child(even) > .fund-npv-six_month , .fund-npv .table-striped > tbody > tr:nth-child(odd) > .fund-npv-six_month , .day-up-down {
    color: green;
}
.table > thead > tr > th {
    border-bottom: 1px solid #a4aeb9;
    border-right: 1px solid #fff;
    background-color: #a4aeb9;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    height: 40px;
    vertical-align: middle;
}
.tracking-seclect{
    padding-top: 18px;
}
.tracking-seclect .form-group{
    width:176px;
    height: 30px;
    float: left;
    margin-bottom: 0;
}
.tracking-seclect .seclect-label {
    display: block;
    font-size: 20px;
    float: left;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
}
.select-btn{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    height: 30px;
    line-height: 30px;
    min-width: 100px;
    padding: 0;
}
.tracking-seclect .form-control {
    border-radius: 0;
    background: #ffffff;
    width: 170px;
    height: 30px;
    padding-right: 10px;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .0);
}
.announcement p{
    display: inline-block;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    min-width: 100%;
}
.portfolio-analysis .table-striped > tbody > tr:nth-child(odd) > td, .portfolio-analysis  .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #fff;
    padding-left: 12px;
    vertical-align: middle;
    height: 40px;
}

.portfolio-analysis .table-striped > tbody > tr:nth-child(even) > td,.portfolio-analysis  .table-striped > tbody > tr:nth-child(even) > th {
    background-color: #f6f8fa;
    padding-left: 12px;
    vertical-align: middle;
    height: 40px;
}
.portfolio-analysis .table-striped table > tbody > tr:nth-child(2n+1) > td, .portfolio-analysis .table-striped table > tbody > tr:nth-child(2n+1) > th {
    background-color: #fff;
    padding-left: 12px;
    vertical-align: middle;
    height: 30px;
    line-height: 18px;
}
.portfolio-analysis .table-striped table > tbody > tr:nth-child(even) > td,.portfolio-analysis  .table-striped table > tbody > tr:nth-child(even) > th {
    background-color: #f6f8fa;
    padding-left: 12px;
    vertical-align: middle;
    height: 30px;
    line-height: 18px;
}
.portfolio-analysis .table-striped table > tbody > tr > td {
    border: 1px solid #fff;
}
.top-10-top-5-table table > thead > tr > th {
    padding-left: 30px;
}
.top-10-top-5-table .table table > thead > tr > th, .top-10-top-5-table .table table > tbody > tr > th, .top-10-top-5-table .table table > tfoot > tr > th, .top-10-top-5-table .table table > thead > tr > td, .top-10-top-5-table .table table > tbody > tr > td, .top-10-top-5-table .table table > tfoot > tr > td{
    border: 1px solid #fff;
}
.top-10-top-5-table  table > tbody > tr > th,.top-10-top-5-table  table > tfoot > tr > th,.top-10-top-5-table  table > thead > tr > td,.top-10-top-5-table  table > tbody > tr > td,.top-10-top-5-table  table > tfoot > tr > td {
    border: 1px solid #fff;
    background-color: #fff;
}
.top-10-top-5 .table-striped > tbody > tr:nth-child(odd) > td, .top-10-top-5  .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #fff;
    padding-left: 12px;
    vertical-align: middle;
    height: 55px;
}
.top-10-top-5 .table-striped > tbody > tr:nth-child(even) > td,.top-10-top-5  .table-striped > tbody > tr:nth-child(even) > th {

    background-color: #f6f8fa;
    text-align: center;
    padding-left: 12px;
    vertical-align: middle;
    height: 55px;
}
.portfolio-analysis .table-striped > tbody > tr:nth-child(even) > .analysis-item , .portfolio-analysis .table-striped > tbody > tr:nth-child(odd) > .analysis-item , .day-up-down {
    text-align: left;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
}
.managed-funds ul > li{
    display: block;
    width: 190px;
    height: 100%;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #edeeed;
}
.managed-funds h5{
    display: block;
    width: 100%;
    background-color: #d23337;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
.managed-funds b{
    display: inline-block;
    font-size: 20px;
    padding-top: 15px;
    font-weight: 300;
    line-height: 30px;
}
.managed-funds small{
    display: inline-block;
    font-size: 10px;
    color: #a4aeb9;
    padding-top: 0;
    line-height: 22px;
    vertical-align: middle;
}
.managed-funds span{
    display: inline-block;
    font-size: 10px;
/*    line-height: 38px;
    height: 38px;*/
}
.last-yield{
    vertical-align: top;
}

.box-style-chart {
    padding: 0px;
    margin-top: -20px;
}
.box-style-chart .table-content {
    width: 400px;
}
.box-style-chart .nav-tabs {
    border-bottom: 0px solid #f0f0f0;    
}
.box-style-chart .tab-content:after {
    background-color: #fff;
}