/*公司公告
－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.banner {
    background-color: #fff;
    border-bottom: none;
}

.slideshow-boxed {
    padding: 0;
}

.slideshow-boxed .slider-banner-container {
    padding: 0;
    background: #fff;
    border: none;
    height: 200px;
}

.slideshow-boxed .slider-banner-container .tp-bgimg {
    height: 200px;
}

.slideshow-boxed .tp-caption {
    margin-right: 50px !important;
    padding-left: 0;
    font-size: 30px;
}

.overlay a:hover {
    color: #ffffff;
    background-color: #333333;
}

.owl-carousel.carousel .owl-item>div,
.owl-carousel.carousel-autoplay .owl-item>div {
    margin: 0;
}

.owl-controls {
    width: 100%;
    margin-bottom: 50px;
}

.owl-controls .owl-buttons div {
    display: inline-block;
    zoom: 1;
    padding: 3px 10px;
    font-size: 12px;
    position: absolute;
    width: 30px;
    height: 30px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.owl-prev {
    left: 535px;
    background-color: #db4453;
    color: #f1f1f1;
}

.owl-next {
    left: 565px;
    background-color: #fff;
    color: #777;
}

.owl-prev:hover,
.owl-next:hover,
.gray-bg .owl-next:hover {
    background-color: #fff;
    color: #db4453;
}

.gray-bg .owl-next {
    background-color: #ffffff;
}

.owl-controls .owl-buttons div:after {
    font-family: "fontello";
    font-size: 18px;
    line-height: 26px;
}

.owl-prev:after {
    content: "\e87c";
}

.owl-next:after {
    content: "\e87d";
}

.no-touch .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100);
    opacity: 1;
    text-decoration: none;
}

UNUSED.content-slider-with-controls .owl-controls,
UNUSED.content-slider-with-controls-autoplay .owl-controls {
    margin-bottom: 0;
}

UNUSED.content-slider-with-controls .owl-buttons div,
UNUSED.content-slider-with-controls-autoplay .owl-buttons div {
    top: 50%;
    margin-top: -15px;
    background-color: #db4453;
    color: #f1f1f1;
}

UNUSED.content-slider-with-controls .owl-buttons div.owl-next,
UNUSED.content-slider-with-controls-autoplay .owl-buttons div.owl-next {
    left: auto;
    right: 0;
}

.content-slider-with-controls .owl-prev:hover,
.content-slider-with-controls .owl-next:hover,
.content-slider-with-controls-autoplay .owl-prev:hover,
.content-slider-with-controls-autoplay .owl-next:hover {
    background-color: #f1f1f1;
    color: #db4453;
}

UNUSED.owl-controls .owl-page.active span,
.owl-controls.clickable .owl-page:hover span {
    background: #db4453;
}

UNUSED.cnotice ul,
UNUSED.cnotice ul > li {
    list-style: none;
    display: block;
    padding: 5px 0;
    width: 100%;
    line-height: 33px;
}

.cnotice ul > li > a:honver {
    text-decoration: none;
}

.annuity-news {
    font-size: 14px;
    margin-top: 30px;
}

.annuity-news-meta a:hover {
    text-decoration: underline;
}

.finacing_college_tab > li > a,
.finacing_college_tab > li > a:hover,
.finacing_college_tab > li > a:focus {
    color: #666;
    background-color: #fff;
    border: 0px solid #db4453;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.04);
    border-bottom-color: #db4453;
    display: block;
}

UNUSED.finacing_college_tab > li.active > a,
.finacing_college_tab > li.active > a:hover,
.finacing_college_tab > li.active > a:focus {
    color: #db4453;
    background-color: #fff;
    border: 0 solid #f0f0f0;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.04);
    border-bottom-color: transparent;
}

.finacing_college_tab > li.active > a:after {
    background: none;
}

.finacing_college_tab > li > a {
    margin-right: 0;
    text-align: left;
    border: 0 solid #a4aeb9;
    width: 126px;
}

.enterprise_introduce_content .timeline .timeline-item:before {
    content: "";
    position: absolute;
    background-color: #212c3d;
    border: 1px solid #212c3d;
    height: 15px;
    width: 15px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    top: 0px;
    right: -7.5px;
}

.enterprise_introduce_content .timeline .timeline-item.pull-right:before {
    left: -7.5px;
}

.enterprise_introduce_content .timeline:before {
    background-color: #212c3d;
    width: 2px;
    height: 100%;
    content: "";
    position: absolute;
    left: 50%;
    display: block;
    margin-left: -1px;
    top: 0;
}

UNUSED.content-right-2 h3,
UNUSED.content-right-2 small {
    margin-top: 0;
    width: 130px;
    float: left;
    height: 35px;
    line-height: 35px;
}

.content-right-2 small {
    text-align: right;
    color: #666;
}

UNUSED.finacing_college_content .breadcrumb-2,
UNUSED.finacing_college_list .breadcrumb-2 {
    padding: 3px 0;
    margin-bottom: 20px;
    list-style: none;
    background-color: #fff;
    border-radius: 4px;
}

UNUSED.entry h1,
UNUSED.entry h2,
UNUSED.entry h3,
UNUSED.entry h4,
UNUSED.entry h5 {}

.entry h1 {
    font-size: 26px;
    line-height: 3;
}

.entry h2 {
    font-size: 22px;
    line-height: 2;
}

.entry h3 {
    font-size: 18px;
    line-height: 2;
    color: #333;
}

.entry h4 {
    font-size: 16px;
    line-height: 2;
    color: #333;
}

.entry h5 {
    font-size: 14px;
    line-height: 2;
    color: #333;
}

UNUSED.entry ul,
UNUSED.entry ol {
    margin: .4em 0 1em;
    line-height: 150%;
}

UNUSED.entry ul li,
UNUSED.entry ol li {
    list-style-position: outside;
    margin-left: 1.6em;
}

.entry h4 {}

.entry h3 {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

#dashiji .timeline .timeline-item:after {
    content: "";
    font-family: "FontAwesome";
    right: 10px;
    background-color: #f3f3f3;
    left: auto;
    position: absolute;
    top: 20px;
    z-index: -1;
    width: 25px;
    height: 0;
}

#content-left .testimonial {
    border-bottom: 1px solid #ddd;
    height: 200px;
    overflow: hidden;
}

UNUSED#content-left .testimonial h2,
UNUSED#guanyutianhong .testimonial h4 {
    margin-top: 20px;
    margin-bottom: 15px;
    height: 20px;
    max-width: 100%;
    line-height: 20px;
    display: block;
    text-align: left;
}

.content-right {
    padding-left: 25px;
}

.news-rt-image {
    margin-top: 20px;
}

.news-rt-image img {
    vertical-align: middle;
    margin: 0 auto;
}

.list-title {
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0;
}

.list-title .title {
    font-size: 14px;
}
