@charset "utf-8";
/*3转4*/


/*新首页开始*/


#indexPage .module .content { position:inherit; }
#indexPage #mslider .content { margin:0; height:750px; }
#indexPage #mservice { height:250px; background-color: #fff; }
#indexPage #mservice .content { margin:0; height:400px; top: auto; padding-top:-60px; }
#indexPage #mproject .content { margin:0; background: #fff; height:100%; padding-bottom:80px; width: 1260px; margin: 0 auto; }
#indexPage #mpage .content { margin:0; height:902px; }
#indexPage #mteam .content { margin:0; height:390px; padding-top:80px; }
#indexPage #mnews .content { margin:0; height:auto; }
#indexPage #mcontact .content { margin:0; }
#indexPage #mpartner .content { margin:0; height:140px; }
/*首页头部导航*/


#projectbody img{width: 100%;margin-bottom: 15px;}


#header { background:#fff; padding-top:10px; }
#header .content { padding:0px }
#header ul#nav { float:right; margin-top:5px; }
#header ul li.navitem { transition: all 0.4s ease-out 0s; padding:0; line-height:50px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
#header ul li.navitem a { color:#666; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; padding: 12px 26px; border-radius: 3px; }
#header ul li.navitem a.active, #header ul li.navitem:hover a { color:#fff; background:#ff7e46; }
#header.mini { background-color: rgba(255, 255, 255, 1); padding-top:0px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05); }
#header.mini ul li.navitem a.active:after, #header.mini ul li.navitem:hover a:after { margin-top: -5px; }
#header ul li.navitem ul.subnav { width:192px; background:#fff; border:0; box-shadow: 0 6px 10px rgba(0, 0, 0, .1); }
#header ul li.navitem ul.subnav li { border-bottom:1px solid rgba(0, 0, 0, .08); }
#header ul li.navitem ul.subnav li a { text-align:center; color: #666; width:100%; padding:14px 0; background:none; }
#header ul li.navitem ul.subnav li a i { display:none; }
#header ul li.navitem ul.subnav li a:hover { background:#fff; color:#000; text-indent:inherit; }
#header ul li.navitem ul.subnav li a:hover::after, #header ul li.navitem ul.subnav li a:after {display:none;}
#header ul li.navitem ul.subnav li a:hover { background-color:#f5f5f5; }
/*内页头部导航*/


.nobanner #header { border-bottom:1px solid #f3f3f3;height: 70px;}
/*幻灯*/







#indexPage #mslider ul li div { display:none; }
#indexPage #mslider .bx-wrapper .bx-pager { bottom:2px; display:none;}
#mslider .bx-wrapper .bx-pager-item { width: 6px; height: 6px; background:rgba(0, 0, 0, .3); margin-bottom: 20px; border-radius: 4px; position: relative; cursor: pointer; margin-left: 18px; }
#mslider .bx-wrapper .bx-pager.bx-default-pager a { width:16px; height:16px; display: block; position: absolute; top: -5px; left:-10px; border-radius: 8px; border:0; background:rgba(0, 0, 0, 0.21); opacity:0; }
#mslider .bx-wrapper .bx-pager.bx-default-pager a.active { opacity:1; }
#mslider .bx-wrapper .bx-pager.bx-default-pager a.active:after { content:''; height:6px; width:6px; background: #fff; display:block; position:absolute; top:5px; left:5px; border-radius:10px; }
/*内页服务*/







#servicelist { width:1200px; overflow:hidden; padding-top:20px; }
#servicelist .serviceitem a { text-align:center; }
#servicelist .serviceitem a img { width:400px; height:120px; overflow:hidden; transition: all 0.3s ease-out 0s; position: relative; top:0; margin-bottom:10px; margin-top:10px;background: rgba(0,0,0,.03); }
#servicelist .serviceitem { width:374px; float:left; min-height: 400px; margin-bottom: 60px; padding-bottom: 40px; margin:0; margin-right:25px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
#servicelist .serviceitem div p { padding:0 30px; }
#servicelist .serviceitem div { position:relative; margin:0; transition: all 0.3s ease-out 0s; top:0px; padding-top:0; }
#indexPage #servicelist .serviceitem:hover div { padding-top:28px; }
#servicelist .serviceitem div:after { position: absolute; content: ""; left: 10px; width:398px; height: 120%; border: 1px solid rgba(255, 255, 255, .0); margin-left: 0; top:1px; transition: all 0.3s ease-out 0s; }
#servicelist .serviceitem div p.title { font-size:18px; }
#servicelist .serviceitem div p.description { width:auto; margin-top:30px; }
#servicelist .serviceitem:hover { box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); margin-top: -8px; background: #fff; }
#servicelist .serviceitem:hover div { margin-top:0px; }
#servicelist .serviceitem:hover p.title { color:#444; }
#servicelist .serviceitem:hover div:after { border: 1px solid rgba(255, 255, 255, .4); width:398px; left:10px; height:125%; }
#sitecontent .serviceitem a.details { width:35px; height:35px; text-align:center; display:block; border-radius: 0; border: 1px solid transparent; transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s;
margin:0 auto; overflow:hidden; position:relative; }
#sitecontent .serviceitem a.details:after { content:''; width: 15px; height: 9px; background: url("../images/icon.png"/*tpa=http://dede44.va666.com/cloud/images/icon.png*/) no-repeat -110px -11px; display: block; margin: 13px 0 0 11px; position:absolute; top:0px; left:0px; }
#servicelist .serviceitem:hover .details { margin-top:-15px; border-color: #b6b6b6; text-indent:130px; }
#servicelist .serviceitem .details:hover { border:1px solid transparent; text-align: inherit; }
#servicelist .serviceitem div p.title::after {content:'';position:absolute;width:50px;height:1px;background:rgba(255, 255, 255, .2);left: 50%;margin-left: -25px;
top:45px;transition: all 0.3s ease-out 0s;}
#indexPage #servicelist .serviceitem:hover div p.title::after {top:72px;}
/*案例*/ 



#indexPage #mproject .content .header { padding-top:40px; padding-bottom:40px; width:300px; float:left; }
#indexPage #mproject .content .header p.title, #indexPage #mproject .content .header p.subtitle { text-align:left; }
#indexPage #mproject #projectlist { width:1260px; }
#indexPage #mproject #projectlist { width:100%; margin:0 auto; margin-top:0 }
#indexPage #mproject .content .wrapper { width:1260px; margin: 0 auto; }
#indexPage #mproject #projectlist .projectitem { width:300px; margin:0 12px 25px 0; height:281px; background:none; border: 3px solid #fff; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
#indexPage #mproject #projectlist .projectitem:hover { border-color:#ff7e46; box-shadow: 0 12px 10px rgba(0, 0, 0, 0.1); }
 #indexPage #mproject #projectlist .projectitem:nth-child(4n) {
margin-right:0;
}
#projectlist .projectitem a:hover .project_info { background:none }
#indexPage #mproject #projectlist .projectitem a .project_info div { height:81px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; position:absolute; bottom:0px; top:auto; width:100%; background:#fff; }
#indexPage #mproject #projectlist .projectitem a .project_info p { width:auto; text-align:left; }
#indexPage #mproject #projectlist .projectitem a .project_info .title { font-size: 16px; color: #666; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; height:24px; line-height:24px; margin:0px; padding: 15px 30px 1px 20px; }
#indexPage #mproject #projectlist .projectitem:hover a .project_info .title, #indexPage #mproject #projectlist .projectitem:hover a .project_info .subtitle { color:#fff; }
#indexPage #mproject #projectlist .projectitem a .project_info .subtitle { color:#b7b7b7; display: block; height: 20px; line-height:24px; overflow: hidden; margin:0px; padding:0px 20px; }
#indexPage #mproject #projectlist .projectitem a img { height:200px; overflow:hidden; }
#indexPage #mproject #projectlist .projectitem a .project_info div:after { content:''; width:37px; height:20px; display:block; position:absolute; top:50%; right:2px; background: transparent url("../images/icon.png"/*tpa=http://dede44.va666.com/cloud/images/icon.png*/) no-repeat -30px -66px; transition: all 0.3s ease-out 0s; margin-top:-11px; border-left: 1px solid rgba(0, 0, 0, .0); }
#indexPage #mproject #projectlist .projectitem:hover a .project_info div { padding:5px 0; background:#ff7e46; }
#indexPage #mproject #projectlist .projectitem:hover a .project_info div:after { background: url("../images/icon.png"/*tpa=http://dede44.va666.com/cloud/images/icon.png*/) no-repeat 10px -66px; border-left:1px solid rgba(255, 255, 255, .2); }
/*内页案例*/



#projectlist { text-align:center; float:right; width:960px; }
.npagePage #projectlist .wrapper { margin-left:24px; display:inline-block; width:auto; }
#sitecontent .npagePage #projectlist .projectitem { width:299px; margin:0 15px 25px 0; height:277px; background:none; display:inline-block; transition: all 0.3s ease-out 0s; }
#projectlist .projectitem a:hover .project_info { background:none }
.npagePage #projectlist .projectitem a .project_info div { height:80px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; position:absolute; bottom:0px; top:auto; width:100%; background:#fff; border-top: 1px solid rgba(0, 0, 0, .08); }
.npagePage #projectlist .projectitem a .project_info p { width:auto; text-align:left; }
.npagePage #projectlist .projectitem a .project_info .title { font-size: 15px; color: #666; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; height:24px; line-height:24px; margin:0px; padding:14px 70px 0px 0px; }
.npagePage #projectlist .projectitem a .project_info .subtitle { color: #999; display: block; height: 20px; line-height: 20px; overflow: hidden; margin:0px; padding:0px 70px 0px 0px; }
.npagePage #projectlist .projectitem a .project_info div:after { content:''; width:37px; height:20px; display:block; position:absolute; top:50%; right:0; background: transparent url("../images/icon.png"/*tpa=http://dede44.va666.com/cloud/images/icon.png*/) no-repeat -30px -66px; transition: all 0.3s ease-out 0s; margin-top:-13px; border-left: 1px solid rgba(0, 0, 0, 0); }
.npagePage #projectlist .projectitem:hover a .project_info div { padding:5px 0; }
.npagePage #projectlist .projectitem:hover a .project_info div:after { background: url("../images/icon.png"/*tpa=http://dede44.va666.com/cloud/images/icon.png*/) no-repeat 16px -66px; border-left:1px solid rgba(0, 0, 0, .1); }
#projectlist .projectitem a:hover .project_info p.title { color: #666; font-size:15px; }
.npagePage #category { margin-left:0; padding-bottom:35px; width:182px; float: left; text-align:left; margin-top: -15px; }
.npagePage #category li { float:none; display:block; height:auto; line-height:43px; border-bottom:1px solid rgba(0, 0, 0, .08); padding-left: 16px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
.npagePage #category li:hover { padding-left:25px; }
.npagePage #category li:last-child { border-bottom:none; }
.npagePage #category a { border:0px; background:none; color:#666; font-size:13px; position:relative; padding:0; line-height: 42px; height: 42px; }
.npagePage #category a::before {content:'';position:absolute;width:3px;height:12px;background:transparent;left:-16px;margin-top:15px;transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;}
.npagePage #category li:hover a::before {background:#ff7e46;}
.npagePage #category a.active::before {background:#ff7e46;}
/*more效果*/





#indexPage #mproject a.more, #indexPage #mnews a.more, #indexPage #mservice a.more { width:150px; height:45px; border-bottom:1px solid rgba(0, 0, 0, 0); border-top:1px solid rgba(0, 0, 0, 0); position:relative; border:0px; border-radius:0px; text-indent:-9999px; margin-top:70px; margin-bottom:90px; }
#indexPage #mproject a.more { margin-bottom:0px; margin-top:55px; }
#indexPage #mproject a.more i, #indexPage #mnews a.more i, #indexPage #mservice a.more i { width: 34px; height: 14px; display:block; background: url("../images/icon.png"/*tpa=http://dede44.va666.com/cloud/images/icon.png*/) no-repeat 0 -22px; position:absolute; top:50%; left:50%; margin-top:-7px; margin-left:-17px; z-index:3 }
#indexPage #mproject a.more i.fa-angle-right:before, #indexPage #mnews a.more i.fa-angle-right:before, #indexPage #mservice a.more i.fa-angle-right:before { display:none; }
#indexPage #mproject a.more:before, #indexPage #mnews a.more:before, #indexPage #mservice a.more:before { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 45px; z-index: 1; opacity: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; border-bottom:1px solid rgba(0, 0, 0, .4); border-top:1px solid rgba(0, 0, 0, .4); -webkit-transform: scale(0.1, 1); transform: scale(0.1, 1); display:block; }
#indexPage #mproject a.more:after, #indexPage #mnews a.more:after, #indexPage #mservice a.more:after { content: ''; display:block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index:1; -webkit-transition: -webkit-transform 0.3s, background-color 0.3s; transition: transform 0.3s, background-color 0.3s; -webkit-transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1); transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1); background-color: rgba(0, 0, 0, .6); opacity: 1; }
#indexPage #mproject a.more:hover, #indexPage #mnews a.more:hover, #indexPage #mservice a.more:hover { background: transparent; border: inherit; }
#indexPage #mproject a.more:hover::before, #indexPage #mnews a.more:hover::before, #indexPage #mservice a.more:hover::before {
opacity: 1;-webkit-transform: scale(1, 1);transform: scale(1, 1);}
 #indexPage #mproject a.more:hover::after, #indexPage #mnews a.more:hover::after, #indexPage #mservice a.more:hover::after {
webkit-transform: scale3d(0.7, 0.7, 1);transform: scale3d(0.7, 0.7, 1);opacity:0;}
#indexPage #mproject a.more:hover i, #indexPage #mnews a.more:hover i, #indexPage #mservice a.more:hover i { background: url("../images/icon.png"/*tpa=http://dede44.va666.com/cloud/images/icon.png*/) no-repeat 0 -38px; }
/*关于*/





#indexPage #mpage.module.bgShow .bgmask { display:none; }
#mpage .module-content .header { padding-top:130px; padding-bottom:70px; }
#mpage .content .header p.title, #mpage .content p.description { font-family: HELVETICANEUELTPRO-THEX, "微软雅黑"; }
#mpage .content .header p.subtitle { font-family: "Times New Roman", Times, serif, HELVETICANEUELTPRO-THEX, "微软雅黑"; }
#mpage .content p.description { float: left; position: absolute; top: 50px; left: 50%; width: 800px; padding: 140px 0 10px 0; line-height: 30px; height: 80px; margin-left: -400px; }
#indexPage #mpage a.more { position:absolute; left:50%; margin-left:-100px; top: 270px; border-radius:0px; width:200px; height:45px; font-size:15px; font-family:"Times New Roman", Times, serif, '微软雅黑'; color:#999; line-height:46px; text-align: center; text-indent:inherit; }
#indexPage #mpage a.more i { position:relative; top:2px; }
#indexPage #mpage a.more:hover { background:#fff; border:1px solid #999; }
#indexPage #mpage a.more:hover i { text-indent: 15px; }
/*新闻*/





#indexPage #mnews .content .header { display:block; padding:90px 0 70px; }
#newslist .newstitem.left a.newscontent, #newslist .newstitem.left a.newscontent:hover, #newslist .newstitem.right a.newscontent, #newslist .newstitem.right a.newscontent:hover { padding:0px; }
#newslist .newstitem .newsimg { display:none; }
#newslist .news_wrapper, #newslist .newstitem a.newscontent:hover .news_wrapper { width:100%; background:transparent; }
#mnews #newslist { width:1100px; margin:0 auto; }
#indexPage #newslist .wrapper { margin-left:0px; }
#newslist .newsbody { width:100%; position:relative; max-width:100%; height:100%; }
/*#newslist .newsbody:after{ content:'';width: 25px; height:10px;background: url(/cloud/images/icon.png) no-repeat 0 -71px; position:absolute; left:100px; bottom:44px; opacity:0;transition: all 0.3s ease-out 0s}*/







#newslist .newsbody .title { height:42px; overflow:hidden; white-space: nowrap; text-overflow: ellipsis; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; font-size:16px; color: #575757; line-height:32px; text-align:left; position:absolute; top:54px; text-indent:0px; }
#indexPage #newslist .newsbody .title {padding-left:40px; font-size: 17px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
/*#indexPage #newslist .newstitem .newsbody .date::before { content:''; position:absolute; width:50px; height:1px; background:rgba(0,0,0,.0);transition: all 0.3s ease-out 0s;margin-top:58px; z-index:99;left: 40px;margin-block-start: 56px;    -webkit-margin-before:59px;}

#indexPage #newslist .newstitem:hover .newsbody .date::before { width:calc(100% - 40px); background:rgba(0,0,0,5);}

#newslist .separator { display:none; }*/

#newslist .newsbody .description { height:78px; overflow : hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; transition: all 0.3s ease-out 0s; margin-top: 0; color: #999; line-height:24px; text-align:left; position:absolute; top:108px; }
#newslist .newsbody .date { width:70px; height:88px; background: transparent; position: relative; top:-50px; padding:20px 30px 0 40px; font-weight:100; text-align:right; }
#indexPage #newslist .newsbody .date { width:auto; text-align:left; top: 10px; }
/*#newslist .newsbody .date:after{ content:'';width: 35px;height: 1px;background: rgba(0,0,0,.25);display: block;position: relative;top: 2px;left:-40px;transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;}*/



#newslist .newsbody .date .md { color:#adadad; position: relative; top: 40px; transition: all 0.3s ease-out 0s; font-family: HELVETICANEUELTPRO-THEX, "微软雅黑"; display:block; line-height:20px; width:100%; }
#indexPage #newslist .newsbody .date .md { font-size:12px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; top:35px;}
#newslist .newsbody .date .md span { display:none; border:none; }
#newslist .newsbody .date .year { font-size:38px; float: left; color: #999; font-family: HELVETICANEUELTPRO-THEX, "微软雅黑"; display:block; line-height: 46px; position:relative; top:-30px; width:100%; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
#newslist li.newstitem:hover .newsbody .date .year { color:#555; }
#newslist li.newstitem:hover { transition: all .3s ease-out 0s;}
#newslist li.newstitem:hover .date:after { left:85px; }
#indexPage #newslist li.newstitem:hover .newsbody .title { text-indent:0; top:100px; }
#newslist li.newstitem:hover .newsbody .description { top:93px; }
#newslist li.newstitem:hover .newsbody:after { opacity:1; bottom:54px; left:135px; }
#mnews a.more { display:block; margin-bottom:80px; }
/*内页新闻*/







.Pagenews .content { text-align:center; }
.Pagenews #newslist { width:960px; float:right; }
.Pagenews #newslist .newstitem { width:100%; margin:0; height:190px; border-bottom: 1px solid rgba(0, 0, 0, .06); }
.Pagenews #newslist .wrapper .news_wrapper { position:inherit; margin-left:85px; }
.Pagenews #newslist .newstitem .newsimg { display:block; width: 300px; height: 127px; margin-top:30px;opacity:1;}
.Pagenews #newslist .news_wrapper, .Pagenews #newslist .newstitem a.newscontent:hover .news_wrapper { width:920px; }
.Pagenews #newslist .newsbody .date { width:120px; top:0; text-align:left; float: right; padding-right:50px; padding-right:0; padding-left:0; padding-top:14px;}
.Pagenews #newslist .left .newsbody .date { left:75px;}
.Pagenews #newslist .newsbody .date .year { color:#999; top:22px; font-size:30px; text-align:right; }
.Pagenews #newslist .newsbody .date .md { display:none; }
.Pagenews #newslist .newsbody .date:after { left:100px; top:8px; }
.Pagenews #newslist .newsbody .title { left:155px; width:460px; margin-top:-10px; line-height:24px; height:24px; }
.Pagenews #newslist .newsbody .description { left:155px; width:460px; top:100px; margin-top:-12px; height:52px; overflow : hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.Pagenews #newslist .newstitem:hover .newsbody .title { left:170px;color:#333;}
.Pagenews #newslist .newstitem:hover .newsbody .description { left:170px;color: #666;}
.Pagenews #newslist .newstitem:hover .newsbody .date:after { width:60px; background:#7D7D7D; }
.Pagenews #newslist .newstitem:hover .title { color:#333 }
.Pagenews #newslist .newstitem:hover .date .year { color:#333; }
.Pagenews #newslist .newstitem a.details { width:35px; height:35px; display:block; border-radius: 0; border:none; transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s;
overflow:hidden; position:relative; margin:0px; z-index:3; top:-66px; right:0; float: right; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;opacity:0;}
.Pagenews #newslist .newstitem:hover a.details { opacity:1; top:-96px;}
.Pagenews #newslist .newstitem a.details:after { content:''; width: 15px; height: 9px; background: url("../images/icon.png"/*tpa=http://dede44.va666.com/cloud/images/icon.png*/) no-repeat -110px -11px; display: block; margin: 13px 0 0 11px; position:absolute; top:0px; left:0px; }
.Pagenews #newslist .newstitem:hover .details { border-color: #b6b6b6; text-indent:130px; background:transparent; }
.Pagenews #newslist .newstitem:hover .details:after { background: url("../images/icon.png"/*tpa=http://dede44.va666.com/cloud/images/icon.png*/) no-repeat -1px -71px; }
.Pagenews #newslist .newstitem .details:hover { border:none; }
#indexPage #mteam .header img { width:360px; height:380px; overflow:hidden; border-radius: 0px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
#indexPage #mteam .content_list li:hover .header img { }
#indexPage #mteam .bx-wrapper .bx-controls-direction a { margin-top:-81px; border-radius: 3px; background: rgba(0, 0, 0, .1); width: 30px; height: 70px; }
#indexPage #mteam .bx-wrapper .bx-controls-direction a.bx-prev i { margin-left:10px; }
#indexPage #mteam .bx-wrapper .bx-controls-direction a i { font-size:26px; margin-top: 21px; margin-left: 11px; }
#indexPage #mteam .bx-wrapper .bx-controls-direction a:hover { background-color:rgba(0, 0, 0, .4); }
#indexPage #mteam .content_list li { background: rgba(255, 255, 255, .0); height: 400px; border-bottom: 1px solid rgba(255, 255, 255, .0); transition: all 0.3s ease-out 0s; }
#indexPage #mteam .content_list #teamitem_0:before { content:'01'; position:absolute; font-family: GOTHAM-BLACK, Arial, Helvetica, sans-serif; font-size:180px; color:#53a2e8; z-index: -1; right: 160px; top: 0px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
#indexPage #mteam .content_list #teamitem_0:hover:before { top:80px; }
#indexPage #mteam .content_list #teamitem_1:before { content:'02'; position:absolute; font-family: GOTHAM-BLACK, Arial, Helvetica, sans-serif; font-size:180px; color:#53a2e8; z-index: -1; right: 160px; top: 0px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
#indexPage #mteam .content_list #teamitem_1:hover:before { top:80px; }
#indexPage #mteam .content_list #teamitem_2:before { content:'03'; position:absolute; font-family: GOTHAM-BLACK, Arial, Helvetica, sans-serif; font-size:180px; color:#53a2e8; z-index: -1; right: 160px; top: 0px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
#indexPage #mteam .content_list #teamitem_2:hover:before { top:80px; }
#indexPage #mteam .content_list #teamitem_3:before { content:'04'; position:absolute; font-family: GOTHAM-BLACK, Arial, Helvetica, sans-serif; font-size:180px; color:#53a2e8; z-index: -1; right: 160px; top: 0px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
#indexPage #mteam .content_list #teamitem_3:hover:before { top:80px; }
#indexPage #mteam .content_list #teamitem_4:before { content:'05'; position:absolute; font-family: GOTHAM-BLACK, Arial, Helvetica, sans-serif; font-size:180px; color:#53a2e8; z-index: -1; right: 160px; top: 0px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
#indexPage #mteam .content_list #teamitem_4:hover:before { top:80px; }
#indexPage #mteam .content_list #teamitem_5:before { content:'06'; position:absolute; font-family: GOTHAM-BLACK, Arial, Helvetica, sans-serif; font-size:180px; color:#53a2e8; z-index: -1; right: 160px; top: 0px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
#indexPage #mteam .content_list #teamitem_5:hover:before { top:80px; }
#indexPage #mteam .content_list #teamitem_6:before { content:'07'; position:absolute; font-family: GOTHAM-BLACK, Arial, Helvetica, sans-serif; font-size:180px; color:#53a2e8; z-index: -1; right: 160px; top: 0px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
#indexPage #mteam .content_list #teamitem_6:hover:before { top:80px; }
#indexPage #mteam .content_list #teamitem_7:before { content:'08'; position:absolute; font-family: GOTHAM-BLACK, Arial, Helvetica, sans-serif; font-size:180px; color:#53a2e8; z-index: -1; right: 160px; top: 0px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
#indexPage #mteam .content_list #teamitem_7:hover:before { top:80px; }
#indexPage #mteam .content_list #teamitem_8:before { content:'09'; position:absolute; font-family: GOTHAM-BLACK, Arial, Helvetica, sans-serif; font-size:180px; color:#53a2e8; z-index: -1; right: 160px; top: 0px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
#indexPage #mteam .content_list #teamitem_8:hover:before { top:80px; }
#indexPage #mteam .content_list #teamitem_9:before { content:'10'; position:absolute; font-family: GOTHAM-BLACK, Arial, Helvetica, sans-serif; font-size:180px; color:#53a2e8; z-index: -1; right: 160px; top: 0px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
#indexPage #mteam .content_list #teamitem_9:hover:before { top:80px; }
#indexPage #mteam .content_list #teamitem_10:before { content:'11'; position:absolute; font-family: GOTHAM-BLACK, Arial, Helvetica, sans-serif; font-size:180px; color:#53a2e8; z-index: -1; right: 160px; top: 0px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
#indexPage #mteam .content_list #teamitem_10:hover:before { top:80px; }
#indexPage #mteam .content_list #teamitem_11:before { content:'12'; position:absolute; font-family: GOTHAM-BLACK, Arial, Helvetica, sans-serif; font-size:180px; color:#53a2e8; z-index: -1; right: 160px; top: 0px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
#indexPage #mteam .content_list #teamitem_11:hover:before { top:80px; }
#indexPage #mteam .content_list li:hover { margin-top:0; border-bottom:1px solid rgba(255, 255, 255, .6); }
#indexPage #mteam .summary { padding:80px 30px 0 0px; width:500px; float: right; margin-right:130px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
#indexPage #mteam .content_list li:hover .summary { padding-top:70px; }
#indexPage #mteam .header { width: 360px; float: left; display: block; margin-left: 100px; }
#indexPage #mteam a.details { display:block; width:140px; height:35px; border-radius:3px; border:1px solid rgba(255, 255, 255, .15); color:#fff; font-size:0px; text-indent:0; position: relative; margin-top: 255px; line-height: 35px; text-align: center; }
#indexPage #mteam a.details:hover { border:1px solid rgba(255, 255, 255, .5); }
#indexPage #mteam a.details i { width:34px; height:11px; background:url("../images/icon.png"/*tpa=http://dede44.va666.com/cloud/images/icon.png*/) no-repeat 0 -130px; position:relative; top:5px !important; transition: all 0.3s ease-out 0s; }
#indexPage #mteam a.details:hover i { background:url("../images/icon.png"/*tpa=http://dede44.va666.com/cloud/images/icon.png*/) no-repeat 0 -150px; }
#indexPage #mteam a.details i.fa-angle-right::before {content:'';}
/*合作伙伴*/





#indexPage #mpartner .content .header { display:none; }
#indexPage #mpartner .module-content { padding:30px 0; height:80px; }
#indexPage #mpartner .wrapper { height:auto; }
#indexPage #mpartner .wrapper ul li { height:60px; padding-top:20px; }
#indexPage #mpartner .wrapper ul li a { width:112px; height:auto; margin-right:10px; }
#indexPage #mpartner .bx-wrapper .bx-pager { display:none; }
#indexPage #mpartner .bx-wrapper .bx-controls-direction { display:block; }
#indexPage #mpartner .bx-wrapper .bx-controls-direction a.disabled { display:block; }
#mpartner .bx-wrapper .bx-controls-direction a { background:none; }
#mpartner .bx-wrapper .bx-controls-direction a i { color:#c3c6ca; }
#mpartner .bx-wrapper .bx-controls-direction a:hover { background:#5d5d5d; }
#mpartner .bx-wrapper .bx-controls-direction a:hover i { color:#fff; }
#indexPage #mpartner .bx-wrapper .bx-prev { left:-58px; }
#indexPage #mpartner .bx-wrapper .bx-next { right:-58px; }
/*联系*/ 





#indexPage #mcontact { background-color:#f3f3f3 }
#indexPage #mcontact .content { width:1200px; margin:0 auto; padding:80px 0 68px; height:auto; }
#indexPage #mcontact .content:after { content:''; display:block; clear: both; }
#indexPage #mcontact .content .header { width:480px; float:left; }
#indexPage #mcontact .content .header p.title { color: #666; text-align:left; }
#indexPage #mcontact .content .header .subtitle { text-align:left; font-family:"Times New Roman", Times, serif, HELVETICANEUELTPRO-THEX, "微软雅黑"; }
#indexPage #mcontact .content #contactlist { width:720px; float:left; }
#mcontact .content #contactform { display:none; }
#mcontact .content #contactinfo { width:720px; float:left; position:relative; }
#mcontact .content #contactinfo p { float:left; width:290px; padding-right:60px; margin-top:14px; height:auto; color:#999; font-size:12px; line-height:inherit; }
#mcontact .content #contactinfo h3 { color:#696969; }
#mcontact #contactinfo div { position: absolute; top:35px; left:-250px; }
#mcontact #contactinfo div:after { content:'关注'; color: #696969; height: 20px; font-size: 16px; line-height: 20px; overflow: hidden; position: absolute; top:-56px; left:0px; }
#mcontact #contactinfo div a { background-color: transparent; color:#9b9b9b; font-size:16px; border:2px solid rgba(0, 0, 0, 0) }
#mcontact #contactinfo div a:hover { background-color:#ff7e46; border:2px solid #ff7e46; border-radius:0px; }
#mcontact #contactinfo div a:hover i { color:#fff; }
/*footer*/





#indexPage .module.bgShow .bgmask { display:none; }
#footer { background:#fff; }
#footer a path { fill: rgb(148, 148, 148); }
#footer p { width:1200px; margin:0 auto; line-height:44px; padding:0; text-align:left; }
/*分页*/





/*#pages a{ visibility:hidden;}*/

#pages a.active, #pages a:hover { background-color: #6b6b6b; }
/*内页banner*/





.npagePage #banner, .npagePage #banner div { height:260px; }
/*0801*/



#header .content { text-align:center; width: 1200px; margin: 0 auto; }
#header .content img { float:none; }
#header #logo { padding:10px 0; float:left; }
.content .header p.subtitle { font-family:HELVETICANEUELTPRO-THEX, "微软雅黑"; }
#indexPage #mproject #category { display: block; float: right; text-align: right; width: 900px; padding-bottom: 0; margin-top: 46px; }
#category a { border:none; font-size: 14px; padding:10px 28px; margin-right:0; }
#category a.active, #category a:hover { color:#000; }
#indexPage #category a.active, #indexPage #category a:hover { color:#fff; background:#ff7e46; }
#category a:hover::after {background:transparent;}
#header #logo img { transform: scale(1, 1); transition: all 0.3s ease-out 0s; transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
#header.mini #logo img { transform: scale(0.8, 0.8); -moz-transform:scale(0.8, 0.8); -webkit-transform:scale(0.8, 0.8); -o-transform:scale(0.8, 0.8); }
#indexPage #mpage .content .header { width:100%; text-align:center; padding-top:80px; }
#indexPage #mcontact .content .header { padding-top:0; }
#indexPage #mslider .bx-wrapper { position:relative; }
#indexPage #mpage .wrapper li .fimg { width:100%; height:500px; margin-top:200px; }
#indexPage #mnews a.details { display:block; border:none; text-indent:100px; margin:0; color:#999; font-size:15px; width:40px; font-family:Georgia, "Times New Roman", Times, serif; height:11px; line-height:50px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; position: absolute; top: 145px; border-radius:0; overflow:hidden; background:#fff; opacity:0; background:url("../images/icon.png"/*tpa=http://dede44.va666.com/cloud/images/icon.png*/) no-repeat 0 -150px;}
#indexPage #mnews a.details i { position:relative; top:3px; }
#indexPage #mnews a.details:hover i { text-indent:10px; }
#indexPage #mnews #newslist .newstitem { margin: 0; transition: all 0.3s ease-out 0s; position:relative; }
#indexPage #mnews #newslist .newstitem:hover a.details i { text-indent: 10px; color: #707070; }
#indexPage #mnews { background-color: #f8f8fa; border-top: 1px solid rgba(0, 0, 0, .0); }
#indexPage #servicelist { height:300px; overflow:hidden; position: relative; top: -90px; z-index: 2; width:1260px; }
#sitecontent #indexPage #mservice .serviceitem a.details { width:35px; height:35px; text-align:center; display:block; border-radius: 0; border: 1px solid transparent; transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s;
margin:0 auto; overflow:hidden; position:relative; top:-20px; display: none; }
#indexPage #servicelist .serviceitem div p.description { margin-top:15px; padding:0 40px; line-height:24px; color:#fff; }
#indexPage #servicelist .serviceitem div p.title { font-size:18px; color:#fff; }
#indexPage #servicelist .serviceitem { height:280px; min-height:280px; margin-bottom:50px; padding-bottom:0; background:#fff; margin-right:0; width:420px; transition: all 0.3s ease-out 0s; }
#indexPage #servicelist #serviceitem_0 { background:#43b9f6; }
#indexPage #servicelist #serviceitem_1 { background:#6686ff; }
#indexPage #servicelist #serviceitem_2 { background:#9878ff; }
#indexPage #servicelist .serviceitem:hover { box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1); margin-top:-20px; height:320px; }
#indexPage #servicelist .serviceitem a { text-align:center; }
#indexPage #servicelist .serviceitem:last-child, #indexPage #servicelist .serviceitem:nth-child(3n) {margin-right:0}
#indexPage #mservice a.more { margin-top:0; display:none; }
#indexPage #mpartner { border-top:1px solid rgba(0, 0, 0, .05) }
.Pageanli #category a.active::after {display:none;}
#projectlist .projectitem a:hover img { transform: scale(1.08, 1.08); }
#sitecontent .npagePage #projectlist .projectitem { float:none; }
 #sitecontent .npagePage #projectlist .projectitem:nth-child(3n) {margin-right:0;}
#sitecontent .npagePage #projectwrap { width:1200px; }
#sitecontent .npagePage #projectinfo .header p.title { font-size:19px; margin-bottom: 5px; }
#sitecontent .npagePage #projectinfo .header p.subtitle { font-size:13px; font-family:HELVETICANEUELTPRO-THEX, "微软雅黑"; }
#sitecontent .npagePage #projectwrap #projectbody { width:820px; }
#projecttags a:hover { background: #ff7e46; color:#fff; }
#projectib .projectitem a .project_info p.title { margin-bottom:4px; color:#666;}
#projectinfo .header { border:none; }
#projectib .projectitem { margin-bottom:25px; }
.npagePage #banner { padding-top:80px; height:280px; }
.npagePage #banner div { height:280px; position:relative; }
.Pageservice #servicelist .serviceitem div::after {top:-5px;left:5%;}
.Pageservice #servicelist .serviceitem:hover div::after {width:94%;left:3%;height: 180px;top: -10px;}
.Pageservice #servicelist .serviceitem a.details { margin-top: -20px; opacity: 0; }
.Pageservice #servicelist .serviceitem:hover .details { margin-top:-51px; opacity: 1; border:transparent; }
.Pageservice #servicelist .serviceitem div { top:0; padding-top: 5px; }
.Pageservice #servicelist .serviceitem { margin-bottom:20px; padding-bottom:0; height:308px; min-height:308px;  margin-right:0; width:398px;border: 1px solid rgba(0,0,0,.0);}
.Pageservice #servicelist .serviceitem:hover { background:#fff; border-color:rgba(0,0,0,.08);margin-bottom:28px;}
.Pageservice #servicelist .serviceitem a img { top:0; width:380px; height:auto;}
.Pageservice #servicelist .serviceitem:nth-child(3n+1) a img {background: #43b9f6;}
.Pageservice #servicelist .serviceitem:nth-child(3n+2) a img {background: #6686ff;}
.Pageservice #servicelist .serviceitem:nth-child(3n+3) a img {background: #9878ff;}

.Pagenews #newslist .newstitem:nth-of-type(2n+1) {border-right:none;}
.Pageservice #servicelist .serviceitem div p.title::after {top:50px;background: rgba(0,0,0,.1);}
.Pageservice #servicelist .serviceitem div p.description { margin-top:22px; }
.npagePage .postbody { width:1100px; overflow:hidden; }
#teampost .postbody { width:730px; overflow:hidden; }
#teampost #teambody .theader .title { font-size:26px; margin-bottom:5px; }
#indexPage #mteam { background:#449ce7; background-position: center; }
/*右下角悬浮*/



#shares a { width:40px; height:40px; }
#shares a#sshare { display:none; }
#shares a i { margin-top:11px; }
#shares a i.fa-weixin { margin: 11px 0 0 14px; background-image: url("../images/shouji-.png"/*tpa=http://dede44.va666.com/cloud/images/shouji-.png*/); transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
#shares a#gotop { margin-top:0; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; bottom: 40px; position: fixed; right: 10px; }
#shares a#gotop i { margin-top:8px; }
#shares a#gotop:hover { background:rgba(0, 0, 0, .9) }
#shares a#sweibo, #shares a#sweixin { background-color:rgba(255, 255, 255, .8); border: 1px solid rgba(0, 0, 0, .1); width: 38px; height: 39px; border-bottom:none; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; position: fixed; bottom: 120px; right: 10px; }
#shares a#sweixin { border-bottom: 1px solid rgba(0, 0, 0, .1); height:38px; position: fixed; bottom: 80px; }
.fa-weibo::before {color:#999;}
#mcontact #contactinfo div a:hover i.fa-weibo::before {color:#fff;}
#shares a#sweibo:hover { background-color:#555; }
 #shares a#sweibo:hover .fa-weibo::before {color:#fff;}
#shares a#sweixin:hover { background-color:#555; }
#shares a#sweixin:hover i.fa-weixin { background-image: url("../images/shouji.png"/*tpa=http://dede44.va666.com/cloud/images/shouji.png*/); }
#projectlist .projectitem a .project_info div::before {content:'';position:absolute;width:100%;height: 90%;border-bottom: 1px solid rgba(0, 0, 0, .1);left:0;
top:0;transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;}
 #projectlist .projectitem:hover a .project_info div::before {border-bottom: 1px solid rgba(0, 0, 0, .4);top:11px;border-color:transparent;}
#projectinfo .description a { margin:15px 0; transition: all 0.3s ease-out 0s; width:calc(100% - 10px);border-radius: 3px;}
#projectinfo .description a:hover { color:#fff; background:#ff7e46; }
#sitecontent .npagePage #projectwrap #projectinfo .header .description { color:#999; line-height:28px; }

#projecttags a { border-radius: 2px; padding: 5px 15px;margin-bottom: 8px;}
/*内页团队*/



.Pageteam #teamlist .wrap { margin-right:0; }
#teamlist { width:1200px; padding-top:100px; }
#teamlist .teamitem .wrap { display:none; }
#teamlist .teamitem { width:560px; height:260px; margin: 0 40px 20px 0; transition: all 0.3s ease-out 0s; }
#teamlist .teamitem a { float:left; width:180px; height:160px; overflow:hidden; transition: all 0.3s ease-out 0s; }
#teamlist .teamitem a img { width:290px; height:200px; }
#teamlist .teamitem .teaminfo { float:right; width:308px; height:130px; transition: all .6s cubic-bezier(.215, .61, .355, 1);
padding:40px 20px 10px 0px; margin:0px; text-align:left; }
#teamlist .teamitem .title a { float:none; color:#333; left: 0; top: 0; }
#teamlist .teamitem .title { display:inline-block; padding-right: 12px; }
#teamlist .teamitem .subtitle { display:inline-block; max-width:202px; font-size:13px; color: #999; margin-top:7px; }
#teamlist .teamitem .description { font-size:13px; line-height:26px; height: 80px; overflow: hidden; color: #757575; }
#teamlist .teamitem a.details:after { content: ''; width: 37px; height: 20px; display: block; position: absolute; top: 30px; left: 10px; background: transparent url("../images/icon.png"/*tpa=http://dede44.va666.com/cloud/images/icon.png*/) no-repeat -20px -66px; transition: all 0.3s ease-out 0s; }
#teamlist .teamitem:hover { border-top:1px solid #8cd4c1; }
#teamlist .teamitem:hover a { margin-top:0px; }
#teamlist .teamitem:hover .teaminfo { padding-top:48px; }
#teamlist .teamitem:hover a.details { opacity:1; margin-top:48px; border-color:#C8C8C8; }
.nobanner #projectlist .projectitem a .project_info p.title { color:#666; }
.nobanner #projectlist .projectitem a .project_info p.subtitle { color:#999; }
/*产品详情页*/

#projectinfo4 .header p.title { font-size:22px; margin-bottom: 8px; }
#projectinfo4 .header p.subtitle { font-family:Arial, Helvetica, sans-serif, "微软雅黑"; font-size:14px; font-weight:bold; color:#ff6700; }
#projectinfo4 div.description { margin-top:20px; line-height:24px; font-size:13px; }
.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:hover { background-color:rgba(255, 255, 255, .8); border: 1px solid rgba(255, 255, 255, .8); }
#projectinfo4 div.description a { display:inline-block; width:150px; height:40px; line-height:40px; background:#ff6700; color:#fff; text-align:center; margin:20px auto; transition: all 0.3s ease-out 0s; }
#projectinfo4 div.description a:hover { background:#ff8e41; }
#projectbody4 .postbody4 { margin-top:20px; }
#projectbody4 .postbody4 p { line-height:24px; }
#post_slider { background:#f8f8fa; }
#projectimages4 img { margin-bottom:10px; }
#projectbody4 { border-bottom: 1px dotted rgba(0, 0, 0, .1); padding-bottom:20px; }
/*#projectbody4 { display:none;}*/

.npagePage4 #projectwrap4 { margin-top:10px; }
.npagePage4 #post_slider, #post_slider1 { height:510px; }
.npagePage4 #post_slider li { height:510px; }
.npagePage4 #projectshow4 { margin-top:10px; }
.npagePage4 .bx-wrapper { width: 1180px; margin: 0px auto; }
.npagePage4 .bx-wrapper .bx-controls-direction a { border-radius:0; background: rgba(0, 0, 0, .0); width:50px; height:50px; border:1px solid rgba(0, 0, 0, .1) }
.npagePage4 .bx-wrapper .bx-controls-direction a i { color:rgba(0, 0, 0, .3); }
.npagePage4 .bx-wrapper .bx-controls-direction a:hover { background:rgba(0, 0, 0, .5); }
.npagePage4 .bx-wrapper .bx-controls-direction a:hover i { color:#fff; }
.npagePage4 .bx-wrapper .bx-controls-direction a.bx-next i { margin-left:20px; margin-top:9px; }
.npagePage4 .bx-wrapper .bx-controls-direction a.bx-prev i { margin-left:19px; margin-top:9px; }
.npagePage4 #projectlist .wrapper { text-align:left; }
.npagePage4 #projectinfo4 { border-bottom:1px dotted rgba(0, 0, 0, .1); }
.npagePage4 #projectinfo4 .header { padding-bottom:10px; padding-top:50px; }
#sitecontent .npagePage4 #projectlist .projectitem { width:24%; margin: 0 10px 25px 0; height: 372px; }
 #sitecontent .npagePage4 #projectlist .projectitem:nth-child(4n), #sitecontent .npagePage3 #projectlist .projectitem:last-child {margin-right:0;}
#sitecontent .npagePage4 #projectlist .projectitem a img { height:auto; }
.npagePage4 #projecttags4 a { border:1px solid rgba(0, 0, 0, .15); background:#fff; padding:5px 18px; transition: all 0.3s ease-out 0s; }
.npagePage4 #projecttags4 a:hover { border:1px solid #6fc9b1; background:#8cd4c1; color:#fff; }
#category li.hasmore div ul a.active, #category li.hasmore div ul a:hover { background: #fff; color:#333; }
.yy_tag_I { margin: 0 10px 0 0; color: #e1e1e1; }
/*右下角联系展开*/

#olx_head { background: #3e3e3e; border-radius: 0px; }
#olx_qq li a:hover i { color: #d2d2d2; }
#olx_qq li a:hover { padding: 18px 30px; }
#online_open i { margin-top:10px; }
#online_open { background: none; bottom: 0px; color: #515151; bottom: 160px; color:#999; background-color: rgba(255, 255, 255, .8); border: 1px solid rgba(0, 0, 0, .1); width: 38px; height: 39px; border-bottom: none; }
#online_open:hover { background-color: #555; color:#fff; }
#online_lx { border-radius: 0px; bottom: 36px; margin-right: -10px; }
#olx_tel div { color: #898989; }
#olx_qq li a i { color: #504f4f; }
#olx_head i:hover { color: #fff; transform: rotate(90deg); -ms-transform: rotate(90deg); 	/* IE 9 */ -moz-transform: rotate(90deg); 	/* Firefox */ -webkit-transform: rotate(90deg); /* Safari和 Chrome */ -o-transform: rotate(90deg); 	/* Opera */ }
#indexPage #mslider { padding-top:80px; }
#indexPage #mslider .bx-wrapper .bx-controls-direction a { border-radius:3px; height:70px; width:35px; margin-top:-35px; background:rgba(0, 0, 0, .3); }
#indexPage #mslider .bx-wrapper .bx-controls-direction a:hover { background-color: #ff7e46; }
#indexPage #mslider .bx-wrapper .bx-controls-direction a i { margin-top:19px; margin-left:13px; }
.content .header p.title { font-size:24px; }
#indexPage #mpage { background:#fff; }
#indexPage #mteam .summary p { width:100%; text-align:left; color: #daeeff; line-height:26px; }
#indexPage #mteam .summary p.title { font-size:20px; color: #fff; width: auto; display: inline-block; float: left; margin-right: 10px; }
#indexPage #mteam .summary p.title a { color:#fff; font-size: 24px; font-weight: bold; }
#indexPage #mteam .summary p.subtitle { color:#daeeff; padding-top:12px; margin-bottom:22px; display: block; float: left; font-size:14px; }
.npagePage .content { width:1200px; margin:0 auto; }
.Pageanli .content > .header { position:relative; padding-top:40px; padding-bottom:40px; border-bottom:1px solid rgba(0, 0, 0, 0.1); margin-bottom:40px; padding-bottom: 25px; }
.Pageanli .content .header p.title { text-align:left; font-size:20px; }
.Pageanli .content .header p.subtitle { text-align:left; }
.Pageanli #projectlist { text-align:left; }
#projectinfo { border-bottom:1px solid #e6e6e6; }
#pages { width: 960px; margin-left: 220px; }
.Pagenews #category { margin-top:25px; }
.Pagenews #category a { display:block; border-bottom: 1px solid rgba(0, 0, 0, .08); padding-left: 16px; }
.Pagenews #category a:last-child { border-bottom:none; }
.Pagenews .content .header { padding-top:40px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); padding-bottom: 30px; }
.Pagenews .content .header p.title { text-align:left; font-size:20px; }
.Pagenews .content .header p.subtitle { text-align:left; }
.Pagenews #category a:hover { padding-left:26px; }
.Pagenews #category a::before {left:0;content:'';position:absolute;width:3px;height:12px;background:transparent;transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;}
.Pagenews #category a:hover::before {background:#ff7e46;left:10px;}
.postbody a { color:#ff7e46 }
#category li.hasmore div ul li { border-bottom:none; }
#category li.hasmore div { width:220px; position:relative; display:block; margin-bottom: 10px; margin-top: 5px; }
#category li.hasmore div ul { text-align:left; border-top:none; margin-top:0; padding-top:0; }
/*首页服务板块*/

#indexPage #mservice .content > .header { display:none; }
#indexPage #mproject #category a:after { content:''; position:absolute; width:1px; height:12px; background:rgba(0, 0, 0, 0.1); margin-left:29px; margin-top:2px; }
#indexPage #mproject #category a:last-child:after { width:0; }
/*首页新闻*/

#indexPage #mnews #newslist .newstitem { width:1100px; height:142px; padding:10px 0; margin:5px auto; }
#indexPage #mnews #newslist::after {content:'';position:absolute;width:1px;height:100%;background: rgba(0, 0, 0, .1);top:270px;left:50%;}
#newslist .newsbody { width:418px; }
#newslist .left .newsbody { padding-left:205px; margin-left:250px; }
#newslist .right .newsbody { padding-right:205px; margin-left:-270px; }
#indexPage #newslist .newsbody .date { position:absolute; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; padding-top:0px; margin-top:28px; width:116px; text-align:center; }
#newslist .separator { display:none; }
#newslist .left .newsbody .date { left:0; }
#newslist .right .newsbody .date { right:0; }
#indexPage #newslist .newsbody .title { width:100%; position:relative; top:2px; left:0; margin-top:30px;transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
#indexPage #newslist .newsbody .description { width:100%; position:relative; top:0; left:0; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;padding-left: 40px;}
#indexPage #newslist .right .newsbody .title { text-align:right; padding-left:0; margin-left:-40px; }
#indexPage #newslist .right .newsbody .description { text-align:right; padding-left:0; margin-left:-40px; }
#indexPage #newslist li.newstitem:hover .newsbody .title { top:-10px; color:#fff;}
#indexPage #newslist li.newstitem:hover .newsbody .description { top:-6px;color:rgba(255,255,255,.8); }
#newslist .newstitem .newsimg { width:330px; height:140px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; display:block; opacity:0 }
#newslist .newstitem.left .newsimg { left:220px; }
.Pagenews #newslist .newstitem.left .newsimg { left:0;}
.Pagenews #newslist .newstitem.right a.newscontent .newsimg { left:0; right:auto;}
#indexPage #newslist .newstitem.left .newsbody  .date .md{ left:35px;}
#indexPage #newslist .newstitem.right .newsbody .date .md { left:-35px;}
#newslist .newstitem.right .newsimg { right:220px; left:auto; }
#indexPage #newslist .left.newstitem:hover .date { left:-340px }
#indexPage #newslist .right.newstitem:hover .date { right:-350px; }
#indexPage #newslist .newstitem:hover .newsbody  .date .md { color:rgba(255,255,255,.7); top:25px;}
#indexPage #mnews #newslist .newstitem:hover { background:#ff7e46; box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);}
#newslist .newstitem:hover .newsimg { opacity:1 }
#indexPage #mnews .left a.details { left: 80px; }
#indexPage #mnews .right a.details { right:55px;}
#indexPage #mnews #newslist .newstitem:hover a.details { opacity:1; top:113px;}
#indexPage #newslist .newsbody .date:after { content:''; position: absolute; top:3px; left:0px; width:7px; height:7px; background:#c4c4c4; border-radius:10px; border: 3px solid #f8f8f8;}
#indexPage #newslist .left .newsbody .date:after { right:-6px; left:auto; }
#indexPage #newslist .right .newsbody .date:after { left:2px; }
#indexPage #newslist li.newstitem:hover .newsbody .date:after { opacity:0 }
#indexPage #mnews .content:after { position:absolute; content:''; height:136px; bottom:0px; background:#f8f8fa; width:100%; left:0px; }
#indexPage #mnews #newslist li.newstitem:hover .newsbody .date .year { color:#fff; top:-40px;}
.postbody p { line-height:26px;}

.Pageyemian .content .header { padding-top:70px;}

/*团队列表页*/
.Pageteam #teamlist { padding-top:10px; width: 1200px; }
.Pageteam #teamlist .teamitem a img { width:227px; height:240px; overflow:hidden;}
.Pageteam #teamlist .teamitem a img:after{ content:''; position:absolute; width:1px; border:1px solid rgba(0,0,0,.1); height:50px;}
.Pageteam #teamlist .teamitem { margin-bottom:30px; height:258px; background:#f8f8fa; width:578px; margin-right:20px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; border:1px solid transparent;}
.Pageteam #teamlist .teamitem a { position:relative; top:10px; left:10px; width:auto;height: 250px;}
.Pageteam #teamlist .teamitem .description { line-height:26px; color:#999;width: 270px;margin-top:15px;}
.Pageteam #teamlist .teamitem a.details { display:block; border-radius:0px; width:40px; height:40px; text-indent:-9999px; position:relative; border:none; border:1px solid transparent; top: 160px; transition: all 0.3s ease-out 0s; opacity:1;left: 52px;}
.Pageteam #teamlist .teamitem:hover { box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08); background:#fff; border:1px solid #f2f2f2;}
.Pageteam #teamlist .teamitem .teaminfo { width:300px; padding:55px 0 0;}
.Pageteam #teamlist .teamitem:hover .teaminfo { padding-top:40px; }
.Pageteam #teamlist .teamitem .subtitle { display:block;}
.Pageteam #teamlist .teamitem .title a { top:0; left:0; color:#444;}
.Pageteam #teamlist .teamitem a.details::after {content: '';width: 37px;height: 20px;display: block;position: absolute;top:6px;left:-7px;background: transparent url("../images/icon.png"/*tpa=http://dede44.va666.com/cloud/images/icon.png*/) no-repeat -20px -66px;transition: all 0.3s ease-out 0s;}
.Pagenews #newslist .newsbody { width:700px;display: block;}
.Pagenews #newslist .left .newsbody { padding-left:0; margin-left:100px; }
.Pagenews #newslist .right .newsbody { padding-right:0; margin-left:100px; }
.Pagenews #newslist .right .newsbody .date {right: auto;left: 75px;}
