@charset "utf-8";
/* CSS Document */

/*顶部导航居右 */
#header { background: #fff; }
#indexPage #mslider ul li p { color: #3A3A3A; text-align: left; }
#indexPage #mservice { background-color: #f8f8f8; padding-bottom:30px;}
#mservice .content .header p.subtitle { color: #707070; }
.bx-wrapper { background: #f8f8f8; }
#indexPage #mproject { background-color: #fff;margin-bottom:45px;}
#projectmore { color: #fff; background:#4E4E4E; font-family: "HELVETICANEUELTPRO-THEX"; width: 60%; margin: 20px auto; height: 40px; line-height: 40px; margin: 0 auto;margin-top:35px; }
#indexPage a.more { color: #fff; font-family: "HELVETICANEUELTPRO-THEX"; border: #4E4E4E 1px solid; background: #4E4E4E; border-radius: 0px; width: 60%; margin:30px auto 40px auto;line-height: 40px;}
#indexPage #mpage a.more {position:relative; left:50%; margin-left:-30%;}
.postbody a { color: #ff072a; }
#projectpost .postbody a { color: #fff;  background-color:#ff6700;margin-top: 15px;transition: all 0.3s ease-out 0s;}
#projectpost .postbody a:hover {background: #ff8e41;}
#category .label { background: #222224; }
#pages a.active, #pages a:hover { background: #03D522; }
.dropmenu ul li a.active { color: #fff; background: #000; }
.dropmenu ul li a { color: #BBBBBB; background: rgba(17, 17, 17, 0.9); }
.dropmenu ul li { border-bottom: #2F2E35 1px solid; }
#footer { background: #171717; }
#mteam .content .header p.title { font-family: "HELVETICANEUELTPRO-THEX"; }
#leftcontrol ul li a { font-family: "HELVETICANEUELTPRO-THEX";height: 50px;line-height:51px;}
#indexPage #mslider { height: 320px; }
#indexPage #mslider ul li { height: 330px; }
#indexPage #mslider ul li p.title { font-size: 2rem; margin-top: 230px; font-family: "HELVETICANEUELTPRO-THEX"; padding-bottom: 20px; }
#indexPage #mslider ul li p.subtitle { font-family: "HELVETICANEUELTPRO-THEX"; color: #6E6E6E; }
#newslist .newstitem .newsdate { margin-bottom: 15px; }
#newslist .newstitem .md { color: #8a8a8a; font-size: 16px; line-height: 0px; height: 0; padding: 0 60px 0 0; }
#newslist .newsinfo .year { color: #bdbdbd; font-size: 16px; line-height: 0; padding:0; margin-left: 55px; text-align:left;}
/*#newslist .newsinfo .md { color: #ECECEC; font-size: 2.4rem; line-height: 2.4rem; }*/
#projectmore:hover {background: #3C3C3C;}
#indexPage a.more:hover { border: #3C3C3C 1px solid; background: #3C3C3C;}
/*案例*/
#projectlist .wrapper { margin-left:0;}
#projectlist .projectitem { padding-bottom: 50px;  width: 48%; margin: 0 1% 2% 1%; background-color: #fff; }
#projectlist .projectitem .project_info { height: 50px; position: absolute; width: 100%; bottom: 0; }
.projectitem .project_info p.title { margin-top: 10px; color:#565656; font-size: 13px; text-align: left; margin-left:0px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin-bottom:4px;}
.projectitem .project_info p.subtitle { color: #7E7E7E; font-size: 10px; margin-left: 0px; text-align: left; }
#projectpost .header { padding: 30px 14px 30px 14px; }
/*服务*/
#indexPage #mservice .slider_wrapper { height:180px; }
.serviceitem img { height:78px; width:260px;background: #449ce7;}
.npagePage .serviceitem img {width: 100%;} 
.serviceitem { height:268px;}
#mservice .bx-viewport { max-height: 370px; height: 360px; }
#indexPage #mservice .slider_wrapper .bx-controls-direction a {margin: 20px 0px; margin-bottom:30px; padding-bottom:30px;}
/*关于*/

#indexPage #newslist #newsitem .newsimg { display: block; width: 280px; height: 180px; }
#indexPage #mpartner ul li img { height: auto; }
#indexPage #mpartner .wrapper { height:40px; }
#indexPage #mpartner ul { height:40px; }
.postbody { color: #aaa; }
#indexPage #mslider ul li div { padding: 0 20px; }
.content .header { padding:35px 14px 30px 14px; }
.temalb .content .header { padding-left:0;}
.content .header p.title { text-align: center; }
.content .header p.subtitle { text-align: center; }
#indexPage #mpage {padding-bottom:20px;background-color: #fff;}
#indexPage #mpage .fimg {background-size: 100% auto;-moz-background-size: 100% auto;background-repeat: no-repeat; margin-top:20px;}
#indexPage #mpage .description { text-align: left; }
#mcontact .content .header { padding: 50px 14px 30px 0px; }
#mpage .content .header { padding: 50px 14px 30px 0px; }
#indexPage #mcontact { background-color: #fff; border-top: 1px solid #F1F1F1;}
#indexPage #mcontact .header p.title { color: #444; }
#contactinfo h3 { color: #474747; }
#contactinfo p.ellipsis a { color: #646464; }
#contactinfo div a { background: #CACACA; }
#pagepost .content .header { padding:35px 0 30px 0px; }
#footer { background: #fff; }
#mpage .content .header::after {position:relative;content:"";height:0px;background:#C3C3C3;margin: 12px 0 0;width: 30px;float: left;margin-left: -15px; left:50%;}
#newslist .newstitem { height: 120px; padding-top:40px; padding-bottom: 0; }
/*导航*/
#leftcontrol { background: #FAFAFA; }
#leftcontrol ul li { border-top: 1px solid #EBEBEB; }
#leftcontrol > ul > li.active a { background: #333; color: #fff; }
#leftcontrol ul li:hover { background-color: transparent; }
#leftcontrol ul li.active a.hassub { background: #333; }
#leftcontrol ul.subnav li a { background: #ebebeb; color: #4E4E4E; }
#leftcontrol ul.subnav li.active a { background: #E7E7E7; }
#sitecontent { box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); }
#leftcontrol ul li a span.circle { border: #D8D8D8 1px solid; border-radius: 5px; width: 8px;height:8px; background-color:transparent; }
#leftcontrol ul li a span.circle { margin-right:15px;position: relative;top:1px;}
#leftcontrol ul li.active a span.circle { border-color: #fff;background-color: #fff;margin-right:15px;}
#leftcontrol ul.subnav li a i { color: #B4B4B4; }
#leftcontrol ul.subnav li.active a { background:#555; color:#fff;}
/*导航结束*/
#indexPage #mservice .slider_wrapper .bx-controls-direction a i { top:26px;}
.scrollView {border-top: 1px solid rgba(0,0,0,.05);}
.teamitem:nth-of-type(even) .teaminfo { margin-right:0; margin-left:155px;}
#teamlist .teamitem .header p.title { text-align:left;}
#teamlist .teamitem .header p.subtitle {text-align:left;}
.teamitem .teaminfo .description {text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;}
.serviceitem div p.description {line-height: 2.2rem;height:48px;}
.npagePage .serviceitem div p.description {text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;}
#teamlist { padding:0 10px 0 0;}
.teamitem:nth-of-type(even) img { float:left;}
.teamitem img {border-radius:0; width:140px; height:auto;margin-top: 6px; margin-bottom:6px;}
.teamitem .teaminfo {padding-top:35px; margin-left:155px;}
#indexPage #mpartner {background-color: #f8f8f8;}
#indexPage #mteam {background-color: #fff;}
#indexPage #mteam .content { padding-left:8px;}
#indexPage #mteam .teamitem {width:100%; padding:0px; height:160px;}
#indexPage #mteam .teamitem:first-child { padding-top:10px;}
#sitecontent .teamitem { width:96%; padding:22px 2%;}
.npagePage #teamlist .teamitem { height:140px;padding-top: 10px;}
.npagePage #teamlist .teamitem:first-child { padding-top:0; height:132px;}
/*动画*/
.serviceitem{-webkit-animation-name: slideInUp; animation-name: slideInUp;}
#newslist .newstitem{-webkit-animation-name: slideInLeft; animation-name: slideInLeft;}
.teamitem{-webkit-animation-name: slideInLeft; animation-name: slideInLeft;}
#projectlist .projectitem{-webkit-animation-name: slideInUp; animation-name: slideInUp;}
#indexPage #mpage .fimg{-webkit-animation-name: slideInUp; animation-name: slideInUp;}
#mcontact .content{-webkit-animation-name: slideInLeft; animation-name: slideInLeft;}
#projectpost .header p.title { margin-bottom:5px;}
#pages { padding-bottom:0; padding-top:0;}

#newslist .newstitem:first-child { padding-top:28px;}
.postbody a { color:#ff7e46;}
#category { margin-bottom:5px;}
#newslist .newsbody .description { margin-top:12px;}