@charset "utf-8";
/* CSS Document */
body, v, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {margin:0;padding:0;}
body { font-size:12px; color:#6E6E6E; font-family:"微软雅黑";line-height:19px; background-color:#F1F2F6;}
fieldset, img { border:0; }
ol, ul { list-style:none; }
table{border-collapse:collapse;border-spacing:0;}
h1, h2, h3, h4, h5, h6{ font-size:100%; }
em { font-style:normal; }
input, button, select, textarea { outline:none; } 
/*textarea { resize:none; }*/
a {text-decoration:none; }
a:hover {text-decoration:none; }


/*公用样式   :hover{ color:#FF9700; text-decoration:underline;}    */
.w1120{ width:1120px; margin:0 auto;}
.w1118{ width:1118px; margin:0 auto;}
.f-l{ float:left;}
.f-r{ float:right;}
.mt20{ margin-top:20px;}


/*共用头部*/
.herder-top{ width:100%; height:34px; background:#F8F8F8; border-bottom:1px solid #E7E7E7;}
.hd-top{ height:34px;}
.hd-top .hd-left{ height:34px;margin-left:25px; padding-left:30px; background:url(../images/sy-01.gif) no-repeat left center;}
.hd-top .hd-left h3{ line-height:34px; font-size:16px; color:#5D5D5D; font-weight:normal;}
.hd-top .hd-left h3 strong{ color:#FF7800;}
.hd-top .hd-gonggao{ height:34px; margin-left:20px;}
.hd-gonggao p{ font-size:14px; line-height:34px; color:#5D5D5D;}

.hd-top .hd-right{height:34px; margin-right:20px;}
.hd-top .hd-right li{ float:left; line-height:34px;font-size:16px;color:#222; margin-left:11px; }
.hd-top .hd-right li select{ border:1px solid #ccc;}
.hd-top .hd-right li a{ color:#222;}
.hd-top .hd-right li a:hover{ color:#FF7800; text-decoration:underline;}

/*切换城市和 nav */
.qie-nav{ width:100%; height:61px; background:#fff; padding:12px 0; z-index:999;}
.qie-nav .q-n-box{ height:61px;}
.q-n-box .qie{height:61px; margin-left:31px;}
.qie .logo{ width:145px; height:61px; margin-right:12px;}
.qie .logo h1{ width:100%; height:100%;}
.qie .logo img{ width:100%; height:100%;}
.qie .chengshi{ height:37px; border-left:1px solid #D7D7D7; padding-left:12px; margin-top:13px;}
.qie .chengshi h3{ font-size:14px; color:#333; font-family:"宋体";}
.qie .chengshi .qiehuan{ font-size:12px; color:#1E53B5;font-family:"宋体";}
.q-n-box .nav{height:61px;}
.q-n-box .nav li{ float:left; margin-right:48px; line-height:61px;}
.q-n-box .nav li a{ display:block; font-size:18px; color:#070707; padding:0 10px;}
.q-n-box .nav li a:hover{height:57px; color:#FF9700; border-bottom:3px solid #FF9700;}
.q-n-box .nav .current{}
.q-n-box .nav .current a{ height:57px;color:#FF9700; border-bottom:3px solid #FF9700;}

/*底部开始*/
.footer{ width:100%;margin-top:20px;}
.footer .ft-info1{ width:100%; height:165px; background:#fff;}
.ft-info1 .ft-if1-box{ height:165px; position:relative;}
.ft-if1-box .ft-if1-logo{ width:200px; height:100px; margin:30px 15px 0px 10px;}
.ft-if1-box .ft-if1-logo img{ width:100%; height:100%;}
.ft-if1-box .ft-if1-md{height:140px;padding-top:25px;}
.ft-if1-box .ft-if1-md dl{ float:left; margin-right:35px;}
.ft-if1-box .ft-if1-md dt{ height:40px;}
.ft-if1-box .ft-if1-md dt a{ display:block; padding-left:55px; line-height:40px; font-size:16px; color:#3F3F3E;}
.ft-if1-box .ft-if1-md dt a:hover{ color:#FF9700; text-decoration:underline;}
.ft-if1-box .ft-if1-md dl:nth-of-type(1) dt a{ background:url(../images/sy-34.gif) no-repeat left center;}
.ft-if1-box .ft-if1-md dl:nth-of-type(2) dt a{ background:url(../images/sy-35.gif) no-repeat left center;}
.ft-if1-box .ft-if1-md dl:nth-of-type(3) dt a{ background:url(../images/sy-36.gif) no-repeat left center;}
.ft-if1-box .ft-if1-md dl:nth-of-type(4) dt a{ background:url(../images/sy-37.gif) no-repeat left center;}
.ft-if1-box .ft-if1-md dl:nth-of-type(4){ margin-right:0;}
.ft-if1-box .ft-if1-md dd{ padding-left:55px;}
.ft-if1-box .ft-if1-md dd a{ display:block; font-size:16px; color:#5F5F5F; line-height:30px;}
.ft-if1-box .ft-if1-md dd a:hover{ color:#FF9700; text-decoration:underline;}
.ft-if1-box .ft-if1-right{ margin:30px 43px 0 0;}
.ft-if1-right h2{ font-size:30px; color:#FF7800; font-family:"Impact";text-align:right; margin-bottom:3px;}
.ft-if1-right p{font-size:14px; color:#999;text-align:right; line-height:21px;}
.ft-if1-right .ft-r-tu{ text-align:right; margin-top:5px;}
.ft-if1-right .ft-r-tu a{ display:inline-block; width:35px; height:35px;}
.ft-if1-right .ft-r-tu a:nth-of-type(1){margin-right:20px;}
.ft-if1-right .ft-r-tu a img{ display:block; width:100%; height:100%;}
.ft-if1-dw{ width:64px; position:fixed; bottom:30px; right:15px;}



.footer .ft-info2{ height:240px; padding-top:25px;}
.ft-youqing p{ display:inline-block; font-size:14px; color:#616161;}
.ft-youqing a{ display:inline-block; margin-left:3px; font-size:14px; color:#616161;}
.ft-youqing a:hover{ color:#FF9700; text-decoration:underline;}
.ft-dd{ margin-top:21px;}
.ft-dd .ft-dd-p1{ font-size:14px; color:#242424; text-align:center;}
.ft-dd .ft-dd-p2{ font-size:12px; color:#242424; text-align:center;}
.ft-dd .dd-fengxiang{ width:648px; height:46px;margin:10px auto 0;}
.dd-fengxiang dt{ float:left; height:46px; line-height:46px; font-size:16px; color:#212121;}
.dd-fengxiang dd{ float:left; height:46px;}
.dd-fengxiang dd a{ float:left; display:inline-block; width:128px; height:44px; border:1px solid #E5E5E5; margin-right:13px;}
.ft-dd .ft-dd-p3{ font-size:12px; color:#C4C4C4; font-family:"宋体"; text-align:center; margin-top:25px;}

/*固定侧边栏*/
.cebian{ position:fixed; top:100px; right:21px; z-index:999;}
.cebian li{ width:50px; height:50px; margin-bottom:5px;}
.cebian li img{}

/*当前位置*/
.current-dd{ height:30px;margin:5px auto;}
.current-dd p{ font-size:14px; color:#68676C; line-height:30px; height:30px;}
.current-dd p a{ color:#2C2C2C;}

/*分页*/
.Paging{ width:371px; height:30px; margin:25px auto 0;}
.Paging ul{ float:left; margin-right:20px;}
.Paging ul li{ float:left; border:1px solid #E5E5E5; padding:4px 11px; margin-right:7px;}
.Paging ul li a{ display:block; font-size:14px; color:#1F1F1F; font-family:"宋体";}
.Paging p{ float:left; font-size:14px; color:#969696;height:30px; line-height:30px;}
.Paging p span{ color:#FF9700;}
.Paging ul .current{ border-color:#FF5A00; background:#FFB201;}
.Paging ul .current a{ color:#fff;}
.Paging ul li:hover{border-color:#FF5A00; background:#FFB201;}
.Paging ul li:hover a{ color:#fff;}


