TABLE {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px

}
INPUT {
	FONT-SIZE: 12px
}
DIV {
	FONT-SIZE: 12px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: auto; TEXT-ALIGN: center
}
A IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
a:link {
	font-size: 9pt;
	color: #333333;
	text-decoration: none;
}
a:visited {
	font-size: 9pt;
	color: #333333;
	text-decoration: none;
}
a:hover {
	font-size: 9pt;
	color: #FF6600;
	text-decoration: none;
}
a:active {
	font-size: 9pt;
	color: #3399CC;
	text-decoration: none;
}
a.m:link{
	FONT-SIZE: 13px;
	color:#ffffff;
}
a.m:active{
	FONT-SIZE: 13px;
	color:#ffffff;cursor:hand;
}
a.m:hover{
	FONT-SIZE: 13px;
	color:#ffffff;text-decoration: underline;
}
a.m:visited{
	FONT-SIZE: 13px;
	color:#FFffff;
}
a.m1:link{
	FONT-SIZE: 12px;
	color:#ffffff;
}
a.m1:active{
	FONT-SIZE: 12px;
	color:#ffffff;cursor:hand;
}
a.m1:hover{
	FONT-SIZE: 12px;
	color:#ffffff;text-decoration: underline;
}
a.m1:visited{
	FONT-SIZE: 12px;
	color:#FFffff;
}
A.wz:link {
	FONT-SIZE: 12px; COLOR: #003499; TEXT-DECORATION: none
}
A.wz:visited {
	FONT-SIZE: 12px; COLOR: #003499; TEXT-DECORATION: none
}
A.wz:active {
	FONT-SIZE: 12px; COLOR: #6699ff; TEXT-DECORATION: none
}
A.wz:hover {
	FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: none
}
A.iblue:link {
	COLOR: #003499; TEXT-DECORATION: none
}
A.iblue:visited {
	COLOR: #003499; TEXT-DECORATION: none
}
A.iblue:active {
	COLOR: #6699ff; TEXT-DECORATION: none
}
A.iblue:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.ared:link {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.ared:visited {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.ared:active {
	COLOR: #6699ff; TEXT-DECORATION: none
}
A.ared:hover {
	COLOR: #dc143c; TEXT-DECORATION: none
}
A.p1:link {
	COLOR: #000; TEXT-DECORATION: none
}
A.p1:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A.p1:active {
	COLOR: #ff4400; TEXT-DECORATION: none
}
A.p1:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.afff:link {
	COLOR: #fff; TEXT-DECORATION: none
}
A.afff:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
A.afff:active {
	COLOR: #fff; TEXT-DECORATION: none
}
A.afff:hover {
	COLOR: #dce5ff; TEXT-DECORATION: none
}
A.afmenu:link {
	FILTER: progid:DXImageTransform.Shadow(color=#000000,direction=135,strength=1); COLOR: #fff
}
A.afmenu:visited {
	FILTER: progid:DXImageTransform.Shadow(color=#000000,direction=135,strength=1); COLOR: #fff
}
A.afmenu:active {
	FILTER: progid:DXImageTransform.Shadow(color=#000000,direction=135,strength=1); COLOR: #fff
}
A.afmenu:hover {
	COLOR: #dce5ff; TEXT-DECORATION: none
}
A.afcc:link {
	COLOR: #ffcc00; TEXT-DECORATION: none
}
A.afcc:visited {
	COLOR: #ffcc00; TEXT-DECORATION: none
}
A.afcc:active {
	COLOR: #ffcc00; TEXT-DECORATION: none
}
A.afcc:hover {
	COLOR: #fff000; TEXT-DECORATION: none
}
A.ershou:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.ershou:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.ershou:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A.ershou:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.brown:link {
	COLOR: #be7240; TEXT-DECORATION: none
}
A.brown:visited {
	COLOR: #be7240; TEXT-DECORATION: none
}
A.brown:active {
	COLOR: #be7240; TEXT-DECORATION: none
}
A.brown:hover {
	COLOR: #be7240; TEXT-DECORATION: none
}
A.ared2:link {
	COLOR: #c60404; TEXT-DECORATION: none
}
A.ared2:visited {
	COLOR: #c60404; TEXT-DECORATION: none
}
A.ared2:active {
	COLOR: #c60404; TEXT-DECORATION: none
}
A.ared2:hover {
	COLOR: #c60404; TEXT-DECORATION: none
}
.td {
	BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid
}
LI {
	LIST-STYLE-TYPE: none
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.space {
	LETTER-SPACING: 5px
}
.blackbox {
	COLOR: #ff6600
}
.blackbox A:link {
	COLOR: #000
}
.blackbox A:visited {
	COLOR: #000
}
.blackbox A:hover {
	COLOR: #ff6600
}
.blackbox A:active {
	COLOR: #ff6600
}
.bluebox {
	COLOR: #ff6600
}
.bluebox A:link {
	COLOR: #004795
}
.bluebox A:visited {
	COLOR: #004795
}
.bluebox A:active {
	COLOR: #ff6600
}
.bluebox A:hover {
	COLOR: #ff6600
}
.l14 {
	LINE-HEIGHT: 14px
}
.l16 {
	LINE-HEIGHT: 16px
}
.l18 {
	LINE-HEIGHT: 18px
}
.l20 {
	LINE-HEIGHT: 20px
}
.l22 {
	LINE-HEIGHT: 22px
}
.l24 {
	LINE-HEIGHT: 24px
}
.l26 {
	LINE-HEIGHT: 26px
}
.art_title {
	COLOR: #339900
}
.time {
	COLOR: #ff6800
}
.b {
	FONT-WEIGHT: bold
}
.fff {
	COLOR: #fff
}
.f999 {
	COLOR: #999999
}
.f555 {
	COLOR: #555555
}
.color555 {
	COLOR: #555555
}
.color999 {
	COLOR: #999999
}
.red {
	COLOR: #ff0000
}
.red2 {
	COLOR: #c60404
}
.f14 {
	FONT-SIZE: 14px
}
.f16 {
	FONT-SIZE: 16px
}
.f18 {
	FONT-SIZE: 18px
}
.f20 {
	FONT-SIZE: 20px
}
.f21 {
	FONT-SIZE: 21px
}
.f22 {
	FONT-SIZE: 22px
}
.box172 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 28px; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 5px; LETTER-SPACING: 1px
}
.box192 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #c90205; PADDING-TOP: 3px; LETTER-SPACING: 1px
}
.box_left14 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 2px; LETTER-SPACING: 1px
}
.box_left12 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 5px; LETTER-SPACING: 1px
}
.fil {
	FILTER: dropshadow(color=#ffffff,offx=1,offy=1)
}
.fil_menu {
	FILTER: DropShadow(Color=#666666, OffX=1, OffY=1, Positive=1)
}
.fil3_ddd {
	FILTER: progid:DXImageTransform.Microsoft.DropShadow(color=#ffdddddd,offX=3,offY=3,positives=true)
}
.fil4_ddd {
	FILTER: progid:DXImageTransform.Microsoft.DropShadow(color=#ffdddddd,offX=4,offY=4,positives=true)
}
.hand {
	CURSOR: hand
}
.inp {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
.pad {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 0px
}
.pad2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 0px
}
.padb3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 0px
}
.padb4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 0px
}
.padt2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
.padt4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
.padt6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 6px
}
.padt8 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
.hideme {
	DISPLAY: none
}
.spanclass {
	LEFT: 1px; VISIBILITY: hidden; WIDTH: 10px; POSITION: absolute; TOP: 1px; HEIGHT: 1px
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 144%
}
.article {
	FONT-SIZE: 14px; COLOR: #313131; LINE-HEIGHT: 150%
}
.sfont {
	LINE-HEIGHT: 20px
}
#comment_tag  {
	FONT-SIZE: 9pt
}
#comment_tag TABLE {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
#comment_tag TR {
	BACKGROUND-COLOR: lightgrey
}
#comment_tag .row0 {
	BACKGROUND-COLOR: lightblue
}
#comment_tag .row1 {
	BACKGROUND-COLOR: lightgreen
}
#comment_tag TD.cmt_brief SPAN {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 300px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.code {
	BORDER-RIGHT: #0099cc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #0099cc 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; MARGIN: 5px; BORDER-LEFT: #0099cc 1px solid; WIDTH: 520px; COLOR: #000000; LINE-HEIGHT: 18px; PADDING-TOP: 5px; BORDER-BOTTOM: #0099cc 1px solid; FONT-FAMILY: "Verdana", "Courier", "Courier New", "mono"; BACKGROUND-COLOR: #ddedfb
}
.imgborder {
	BORDER-RIGHT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BORDER-BOTTOM: #bbb 1px solid
}
.td-new {
	COLOR: #ff6800; LINE-HEIGHT: 21px
}
.box135 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 5px
}
A.af66:link {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.af66:visited {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.af66:active {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.af66:hover {
	COLOR: #ad1c17; TEXT-DECORATION: none
}
A.red3:link {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.red3:visited {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.red3:active {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.red3:hover {
	COLOR: #ad1c17; TEXT-DECORATION: none
}
.font_a{color:#164B7D;font-weight:700; padding:3px 0px 0px 10px; }
.font_a a{color:#164B7D;} .font_a a:visited{color:#164B7D;}
.font_b{ text-align:center;padding:3px 0px 0px 0px; }
.font_b a{color:#557100;} .font_b a:visited{color:#557100;}
.font_2{color:#7A7A7A; text-align:left; padding-left:10px; line-height:16px;}
.box_sz {
	COLOR: #2d90a3
}
input {
	Font-family:Verdana, Arial, Helvetica, Sans-serif,??━?; Text-decoration: None; Border-top-width: 1px; Border-left-width: 1px; Font-size: 12px; Border-bottom-width: 1px; Border-right-width: 1px
}
option {
	Font-family:Verdana, Arial, Helvetica, Sans-serif,??━?; Text-decoration: None; Border-top-width: 1px; Border-left-width: 1px; Font-size: 12px; Border-bottom-width: 1px; Border-right-width: 1px
}
textarea {
	Font-family:Verdana, Arial, Helvetica, Sans-serif,??━?; Text-decoration: None; Border-top-width: 1px; Border-left-width: 1px; Font-size: 12px; Border-bottom-width: 1px; Border-right-width: 1px
}
select {
	Font-family:Verdana, Arial, Helvetica, Sans-serif,??━?; Border-top-width: 1px; Border-left-width: 1px; Font-size: 12px; Border-bottom-width: 1px; Border-right-width: 1px
}
.article1 {
	font-size: 12px;
	font-weight: bold;
	color: #FF6100;
	text-align: left;
}
.hg18 {
	line-height: 18px;
}
.hg22 {
	line-height: 22px;}
input {border:1px solid #999}
.cnc-kcqy{width:740px; margin:4px 0 0 10px;}
.cnc-kctop{width:740px; height:454px;}
.cnc-kctop1{width:740px; height:106px; background:url("../images/cnc-kc_top1.gif"/*tpa=http://www.021kd.com/images/cnc-kc_top1.gif*/) no-repeat;}
.cnc-kctop2{width:740px; height:252px; background:url("../images/cnc-kc_top2.gif"/*tpa=http://www.021kd.com/images/cnc-kc_top2.gif*/) no-repeat;}
.cnc-kctop3{width:740px; height:96px; background:url("../images/cnc-kc_top3.gif"/*tpa=http://www.021kd.com/images/cnc-kc_top3.gif*/) no-repeat;}
.cnc-kctilte1{width:740px; height:33px; line-height:33px; text-align:center; margin-top:63px; color:#fff; font-weight:bold; font-size:14px;}
.cnc-kcmid1{width:736px; border:2px solid #CC0000; margin-top:1px;}
.cnc-kctext1{width:736px; height:281px; background:url("../images/cnc-kc_lybg.gif"/*tpa=http://www.021kd.com/images/cnc-kc_lybg.gif*/) no-repeat;}
.cnc-kctext1p1{width:498px; height:155px; margin:19px 0 0 171px; font-size:14px; color:#333; line-height:27px;}
.cnc-kctext1p2{width:498px; line-height:21px; font-size:14px; color:#CC0000; margin:75px 0 0 145px;}
.cnc-kctext2{width:736px; height:33px; line-height:33px; text-align:center; font-size:16px; font-weight:bold; color:#BB0054; background-color:#F9E3C4;}
.cnc-kctable{width:708px; margin:15px 0 0 15px; font-size:14px;}
.cnc-kctext3{width:708px; margin:20px 0 0 15px; font-size:14px; color:#333; line-height:24px;}
.cnc-kctext3 a{font-size:14px; color:#333;}
.cnc-kctext3 a:hover{font-size:14px;}
.cnc-kctext4{width:683px; height:72px; margin:20px 0 20px 25px; background:url("../images/cnc-kc_telbg.gif"/*tpa=http://www.021kd.com/images/cnc-kc_telbg.gif*/) no-repeat;}
.cnc-kcggxz{width:740px; height:282px; background:url("../images/cnc-kc_33.gif"/*tpa=http://www.021kd.com/images/cnc-kc_33.gif*/) no-repeat;}

.midleft{width:245px;}
.service{width:245px; }
.servicetop{width:245px; height:40px;}
.servicemid{width:245px; background:url("../images/leftbg.gif"/*tpa=http://www.021kd.com/images/leftbg.gif*/) repeat-y left top;}
.servicebottom{width:245px; height:11px;}
.wztj1{width:231px; min-height:70px; height:auto !important; padding:7px 0 0 6px;}
.wztj1top{width:231px; height:8px;}
.wztj1mid{width:230px; min-height:20px; height:auto !important; background-color:#fff;}
.textcontent ul { width:225px; padding:5px 0 10px 10px;}
.textcontent ul li {widht:225px; height:24px; line-height:24px;border-bottom:1px dashed #ccc; padding-left:2px;}
.textcontent a {color:#333;}
.wztj1bottom {width:231px; height:8px;}
.style221 {color:#FF0000;}
.texttop {width:220px; height:24px; padding:5px 0 0 3px; background:url("../images/bfg.gif"/*tpa=http://www.021kd.com/images/bfg.gif*/) no-repeat left bottom; padding-left:10px;}
.texttop img {padding:0; margin:0; border:0;}
.texttop a {font-size:14px; font-weight:bold; color:#FF0000;}

.cpjswz {width:245px;}
.cpjswztop {width:245px; height:37px; padding-top:3px; background-color:#fff;}
.cpjswzmid {width:245px; background:url("../images/leftbg.gif"/*tpa=http://www.021kd.com/images/leftbg.gif*/) repeat-y left top;}
.cpjswzbottom {width:245px; height:11px;}
.cpjswztext {width:231px; padding:5px 0 0 6px;}
.lxdh {width:245px; height:122px; margin-top:2px; background:url("../images/tel2.gif"/*tpa=http://www.021kd.com/images/tel2.gif*/) no-repeat;}
.lxdhtel {width:225px; height:50px; color:#FF0000; line-height:18px; margin:10px 0 0 10px;}
.qq {width:235px; height:60px; line-height:22px; margin:10px 0 0 5px;}
.gddt{width:740px; height:25px; line-height:25px; background:url("../images/htt.gif"/*tpa=http://www.021kd.com/images/htt.gif*/) no-repeat; margin:5px 0 0 10px; padding-left:25px; color:#FFFC09;}
.gddt a{color:#fffc09;}
.xcpjsbg{width:736px; height:94px; background:url("../images/cnc-dc_03.gif"/*tpa=http://www.021kd.com/images/cnc-dc_03.gif*/) no-repeat top left; margin-top:20px;}
.xcpjsbg p{margin:35px 0 0 25px; color:#fff; font-size:14px; line-height:24px;}
.xcpjsbg p a{color:##fff; font-size:14px;}
.xcpjsbg p a:hover{color:##fff; font-size:14px;}
.cnc-dctop{width:740px;  height:655px;}
.cnc-dctop1{width:740px; height:99px; background:url("../images/cnc-dc_top1.gif"/*tpa=http://www.021kd.com/images/cnc-dc_top1.gif*/) no-repeat;}
.cnc-dctop2{width:740px; height:135px; background:url("../images/cnc-dc_top2.gif"/*tpa=http://www.021kd.com/images/cnc-dc_top2.gif*/) no-repeat;}
.cnc-dctop3{width:740px; height:184px; background:url("../images/cnc-dc_top3.gif"/*tpa=http://www.021kd.com/images/cnc-dc_top3.gif*/) no-repeat;}
.cnc-dctop4{width:740px; height:237px; background:url("../images/cnc-dc_top4.gif"/*tpa=http://www.021kd.com/images/cnc-dc_top4.gif*/) no-repeat;}
.cnc-dctitle1{width:740px; font-size:16px; line-height:16px; margin-top:12px; color:#fff; text-align:center; font-weight:bold;}
.cnc-text1{width:536px; height:150px; margin:24px 0 0 30px; font-size:14px; line-height:24px; color:#333;}
.cnc-text2{width:540px; font-size:14px; color:#fff; line-height:18px; margin:10px 0 0 40px;}
.cnc-dctitle2{width:740px; line-height:30px; line-height:30px; background-color:#CC0000; text-align:center; font-size:16px; margin:1px 0px; font-weight:bold; color:#FFF600;}

.dxzxtop{width:740px; height:328px;}
.dxzxtop1{width:740px; height:121px; background:url("../images/dxgqtop1.gif"/*tpa=http://www.021kd.com/images/dxgqtop1.gif*/) no-repeat;}
.dxzxtop2{width:740px; height:104px; background:url("../images/dxgqtop2.gif"/*tpa=http://www.021kd.com/images/dxgqtop2.gif*/) no-repeat;}
.dxzxtop3{width:740px; height:103px; background:url("../images/dxgqtop3.gif"/*tpa=http://www.021kd.com/images/dxgqtop3.gif*/) no-repeat;}
.dxzxmid1{width:740px; height:344px;}
.dxzxmid1title{width:740px; height:36px; line-height:36px; text-align:center; font-size:15px; color:#fff; background-color:#FF4800;}
.dxzxmid1top{width:740px; height:60px; background:url("../images/dxgqys1.gif"/*tpa=http://www.021kd.com/images/dxgqys1.gif*/) no-repeat;}
.dxzxmid1text{width:740px; height:220px; background:url("../images/dxgqys2.gif"/*tpa=http://www.021kd.com/images/dxgqys2.gif*/) no-repeat;}
.dxzxmid1bottom{width:740px; height:28px; background:url("../images/dxgqys3.gif"/*tpa=http://www.021kd.com/images/dxgqys3.gif*/) no-repeat;}
.dxzxmid2{width:740px; height:480px; border:4px solid #E1F0FF; background-color:#fff;}
.ttable{width:687px; height:270px; border:1px solid #C10000; margin:5px 0 0 18px; padding:4px;}
.dxzxbz{width:690px; margin:15px 0 0 18px; font-size:14px; color:#000; line-height:24px;}
.dxzxmid3{width:740px; height:76px; background-color:#054788;}
.dxzxmid3text{width:740px; height:76px; background:url("../images/dxgqtj1.gif"/*tpa=http://www.021kd.com/images/dxgqtj1.gif*/) no-repeat right top; margin-top:3px;}
.dxzxmid3textzz{font-size:14px; color:#fff; line-height:24px; margin:13px 0 0 20px;}
.dxzxmid3textzz a{font-size:14px; color:#fff;}
.dxzxmid3textzz a:hover{font-size:14px; color:#fff;}
