*{
	margin:0px;
	padding:0px;
	font-family:Tahoma, Verdana, Garamond, Arial, sans-serif;
	font-size:14px;
	font-family:"宋体";
	list-style-type:none;
	text-decoration:none;
	color: #000;
}
body{
  background-color:#fff;
  margin:0 auto;
  color:#333;
  line-height:16px;}
img{
  border:none;}
a{
  text-decoration:none;}
a:link{
  text-decoration:none;}
a:hover{
}
form{
  margin:0px;
  padding:0px;}
clear{
  line-height:1px;
  clear:both;
  visibility:hidden;}
html{overflow:-moz-scrollbars-vertical;overflow-x:auto;}

.clearfix {display: inline-block;}
.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    visibility: hidden;
}
* html .clearfix {height: 1%;}
.clearfix {display: block;}


.t_news{  color:#666; padding-left:10px;  overflow:hidden; position:relative;}
.t_news b{ line-height:31px; font-weight:bold; display:inline-block;}
.news_li,.swap{
	line-height:31px;
	display:inline-block;
	position:absolute;
	top:0;
	height: 36px;
}
.news_li a,.swap a{ color:#666;}


/*首页样式*/
.topd{width:100%; height:36px; background-color:#f7f7f7;} .topdbf{width:1100px; height:36px; margin:0 auto;} .topdbfleft{float:left; width:685px; height:36px; line-height:36px; color:#696969;} .topdbright{float:right; width:410px; height:36px; line-height:36px;} .topdbright ul li{float:left; width:74px; height:36px; padding-left:22px;} .topdbright ul li a{color:#666;} .xtb1{background:url("../index/xtb1.jpg"/*tpa=http://www.021kd.com/index/xtb1.jpg*/) no-repeat left center;} .xtb2{background:url("../index/xtb2.jpg"/*tpa=http://www.021kd.com/index/xtb2.jpg*/) no-repeat left center;} .xtb3{background:url("../index/xtb3.jpg"/*tpa=http://www.021kd.com/index/xtb3.jpg*/) no-repeat left center;} .xtb4{background:url("../index/xtb4.jpg"/*tpa=http://www.021kd.com/index/xtb4.jpg*/) no-repeat left center;} .dtop{width:1100px; height:111px; margin:0 auto;} .dtopleft{float:left; width:477px; height:111px; background:url("../index/dtop1.jpg"/*tpa=http://www.021kd.com/index/dtop1.jpg*/) no-repeat;} .dtopright{float:right; width:623px; height:111px; background:url("../index/dtop2.jpg"/*tpa=http://www.021kd.com/index/dtop2.jpg*/) no-repeat;}
.dbanner{width:100%; height:418px; margin:1px auto;} 
.banner01{width:1100px; height:418px; margin:1px auto;} 
.hmenu{width:100%; height:40px; background-color:#ca0000; border-bottom:3px solid #ff8600;} .hmenutext{width:1100px; height:40px; margin:0 auto;} .hmenutext ul li{float:left; width:108px; height:40px; line-height:40px; font-size:14px; color:#fff; text-align:center; border-right:1px solid #b60000;} .hmenutext ul li a{color:#fff; font-weight:bold; font-size:14px; display:block;} .xzbj{background:url("../index/xzmenubg.jpg"/*tpa=http://www.021kd.com/index/xzmenubg.jpg*/) repeat-x;}
.dclear{width:1100px; margin:10px auto;} .dmid{width:1100px;} .dmidleft{width:271px; float:left;} .zgdxywtop{width:271px; height:57px;} .zgxxywmid{width:261px; border-bottom:5px solid #dc0000; border-left:5px solid #dc0000; border-right:5px solid #dc0000; background-color:#fff; padding:15px 0px 0px 0px;} .dxmk1top{width:201px; height:30px; line-height:30px; font-size:14px; font-weight:bold; padding-left:40px; background:url("../index/tbt1.jpg"/*tpa=http://www.021kd.com/index/tbt1.jpg*/) no-repeat 16px center;} .dxmk1top2{width:201px; height:30px; line-height:30px; font-size:14px; font-weight:bold; padding-left:40px; background:url("../index/tbt2.jpg"/*tpa=http://www.021kd.com/index/tbt2.jpg*/) no-repeat 16px center;} .dxmk1top3{width:201px; height:30px; line-height:30px; font-size:14px; font-weight:bold; padding-left:40px; background:url("../index/tbt3.jpg"/*tpa=http://www.021kd.com/index/tbt3.jpg*/) no-repeat 16px center;}  .dxmk1top4{width:201px; height:30px; line-height:30px; font-size:14px; font-weight:bold; padding-left:40px; background:url("../index/tbt4.jpg"/*tpa=http://www.021kd.com/index/tbt4.jpg*/) no-repeat 16px center;} .ddbkz1{width:242px; padding-left:18px; padding-top:5px;}  .ddbkz1 td a{font-size:14px; color:#525252;} .ddbkz2{width:242px; padding-left:18px; padding-top:15px; padding-bottom:15px; background-color:#f5f5f5; margin-top:10px;}  .ddbkz2 td a{font-size:14px; color:#525252;} .hbdwnr{width:261px; background-color:#f5f5f5; padding-bottom:18px; padding-top:15px; margin-top:15px;}
.bbipgg{width:261px; height:235px; margin-top:10px; border:5px solid #dc0000;} .rxcptop{width:271px; height:36px; margin-top:10px;} .rxcpmid{width:231px; border-bottom:5px solid #dc0000;  border-left:5px solid #dc0000;  border-right:5px solid #dc0000; padding:20px 15px;} .rxcpmid ul li{width:230px; height:30px; line-height:30px; color:#666;} .rxcpmid ul li a{color:#666;}
.dmidright{float:right; width:815px;} .wzgg{width:815px; height:39px;} .wzggleft{float:left; width:101px; height:39px; background:url("../index/wzgg.jpg"/*tpa=http://www.021kd.com/index/wzgg.jpg*/) no-repeat left center;} .wzggright{float:left; width:691px; height:31px; background-color:#fff; border-right:8px solid #f23b00;  border-top:4px solid #f23b00; border-bottom:4px solid #f23b00; line-height:31px; padding-left:15px; overflow:hidden;}
.rmywtjtop{width:811px; height:21px; margin:15px 0px 10px 0px;} .rmtjywmid{width:815px; height:340px;} .rmtjywmidleft{float:left; width:401px; height:340px;} .rmtjywmidright{float:right; width:401px; height:340px;} .ywtjbftop{width:401px; height:190px;} .ywtjbfmid{width:399px; height:149px; border-bottom:1px solid #ebebeb;  border-left:1px solid #ebebeb; border-right:1px solid #ebebeb;} .ywtjbftext1{width:359px; height:93px; padding:10px 20px;} .ywtjbftext2{width:359px; height:35px; border-top:1px solid #ebebeb; background-color:#fafafa; line-height:35px; padding:0px 20px;} .ywtjbftext2left{float:left; width:280px; height:35px; color:#999;} .ywtjbftext2right{float:right; width:73px; height:18px; padding-top:9px;} .xbanner{width:813px; height:133px; margin:15px auto; border:1px solid #dbdbdb;}
.ywzhbf1{width:815px; height:486px;} .ywzhbf1left{float:left; width:399px; height:464px; border:1px solid #cccccc; padding:10px 0px;} .ywzhbftitle1{width:379px; height:39px; line-height:39px; background-color:#1f70a8; padding-left:20px; font-size:20px; color:#fff; font-weight:bold; font-family:"微软雅黑", "黑体";} .ywzhxbt{width:359px; height:30px; line-height:30px; padding:0px 20px;} .ywzhxbt a{color:#ff7d00;} .ywzhggq{width:379px; height:149px; padding:10px;} .ywzhggqleft{float:left; width:183px; height:149px;} .ywzhggqright{float:right; width:183px; height:149px;} .ywzhtjbf1{width:359px; height:99px; padding:0px 20px;} .ywzhtjbf1 ul li{width:347px; line-height:30px; background:url("../index/xhd.jpg"/*tpa=http://www.021kd.com/index/xhd.jpg*/) no-repeat left center; padding-left:12px; font-size:14px;} .ywzhtjbf1 a{font-size:14px; color:#666;} .ywzhbottom{width:339px; height:115px; border-top:1px solid #ccc; background-color:#f9f9f9; padding:10px 30px;} .ywzhbottom ul li{float:left; width:151px; height:28px; line-height:28px; padding-left:18px; background:url("../index/xld.jpg"/*tpa=http://www.021kd.com/index/xld.jpg*/) no-repeat left center;}  .ywzhbottom a{color:#333; font-weight:bold;} .ywzhbf1right{float:right; width:399px; height:464px; border:1px solid #cccccc; padding:10px 0px;}
.lygj{width:1098px; height:465px; border:1px solid #ccc; margin:15px auto;} 
.shouji{
	width:1098px;
	height:1022px;
	border:1px solid #ccc;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 15px;
	margin-left: auto;
} 
.lygjtop{width:1058px; height:40px; line-height:30px; padding:10px 20px 0px 20px; border-bottom:1px solid #ccc;} 
.lygjtop a{color:#ff7d00; font-size:14px;} .lygjsjq{width:1098px; height:225px; border-bottom:1px solid #ccc;} 
.lygjsjq ul li{float:left; width:158px; height:205px; padding:10px 12px;} .yfbg{border-right:1px solid #ccc;}  .lygjsjq a{color:#333;} .yfbg img{width:158px; height:135px;} .lygjgg1{width:1088px; height:177px; padding:5px 3px;} .lygjgg1 p{float:left; height:177px;}
.xwzxz{width:1058px; height:370px; border:1px solid #ccc; margin:15px auto; padding:20px;} .xwzxz1{float:left; width:342px; height:390px;} .xwzxz1title{
	width:342px;
	height:30px;
	font-size:14px;
	font-weight:bold;
} .xwzxz1pic{width:342px; height:109px; padding-top:10px;} .xwzxz1text{width:312px; height:87px; padding:10px 15px; border-bottom:1px solid #e9e9e9;} .xwzxz1text2{width:312px; padding:10px 15px;} .xwzxz1text2 ul li{width:312px; line-height:24px;} .xwzxz1text2 a{color:#666;} .ztbottom{
	width:100%;
	height:162px;
	background:#eeeeee;
	border-top:4px solid #d50000;
	margin-top:20px;
	overflow: hidden;
} .ztbottomtext{width:1100px; height:102px; margin:0 auto; padding:30px 0px;} .ztbottomtextleft{float:left; width:448px; height:102px; padding-left:325px; background:url("../index/bottomlogo.jpg"/*tpa=http://www.021kd.com/index/bottomlogo.jpg*/) no-repeat left center;} .ztbottomright{float:right; width:316px; height:89px; background:url("../index/bgjgjls.jpg"/*tpa=http://www.021kd.com/index/bgjgjls.jpg*/) no-repeat left center;} .ztbottomtextleft a{color:#333;}

.wzxtbf{width:805px; min-height:2240px; border:5px solid #dc0000; margin-top:10px;} .wzxtadd{width:765px; height:36px; line-height:36px; border-bottom:1px solid #dc0000; padding:0 20px; color:#14px; color:#666;} .wzxtadd a{color:#666;}
 .wznr{width:765px; padding:0 10px; padding-top:15px; line-height:22px; background:url("../index/lxwm.jpg"/*tpa=http://www.021kd.com/index/lxwm.jpg*/) no-repeat right bottom;}
.kdxz {
	height: 103px;
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	background-color: #F96;
	margin-top: 10px;
}
.kdxz .r {
	float: right;
	height: 92px;
	width: 880px;
	border: 5px solid #FC6;
	background-color: #deefb9;
}
.kdxz .l {
	float: left;
	height: 105px;
	width: 209px;
	overflow: hidden;
}
.kdxz .r ul li {
	overflow: hidden;
	width: 120px;
	padding-top: 10px;
	float: left;
	text-align: center;
	display: block;
}
.kdxz .r ul li span {
	font-size: 26px;
	font-weight: bold;
	color: #000;
	line-height: 2.5em;
}
.kdxz .r ul li a {
	color: #000;
}
.kdxz .r ul li a:hover {
	color: #F00;
}
.jtkd {
	width: 1100px;
	margin-left: auto;
	margin-top: 10px;
	height: auto;
	margin-right: auto;
	overflow: hidden;
}
.jtkd ul li {
	float: left;
	height: 466px;
	width: 320px;
	border: 2px solid #FC6;
	margin-bottom: 12px;
	margin-right: 20px;
	margin-left: 20px;
}
.jtkd ul li h2 {
	height: 61px;
	width: 320px;
	background-image: url("../grkd/grkd_05.jpg"/*tpa=http://www.021kd.com/grkd/grkd_05.jpg*/);
	background-repeat: no-repeat;
	background-position: center;
	font-size: 22px;
	line-height: 2.5em;
	color: #FFF;
	text-indent: 10px;
}
.jtkd ul li .taocan {
	background-image: url("../grkd/grkd_20.jpg"/*tpa=http://www.021kd.com/grkd/grkd_20.jpg*/);
	background-repeat: no-repeat;
	background-position: left;
	float: left;
	height: 40px;
	width: 238px;
	margin-top: 25px;
	padding-left: 60px;
	font-size: 14px;
	line-height: 3.0em;
	background-color: #E8E8E8;
	margin-left: 12px;
}
.jtkd ul li .taocan b {
	font-weight: bold;
	color: #F00;
}
.jtkd ul li .chanpin {
	height: 182px;
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
	margin-top: 15px;
}
.jtkd ul li .gcf {
	background-position: left;
	float: left;
	height: 40px;
	width: 238px;
	margin-top: 10px;
	font-size: 14px;
	line-height: 3.0em;
	background-color: #E8E8E8;
	margin-left: 12px;
	padding-left: 60px;
}
.jtkd ul li .jiage {
	height: auto;
	width: 299px;
	float: left;
	margin-left: 12px;
	margin-top: 30px;
	margin-bottom: 12px;
	background-color: #FCC;
}
.jtkd ul li .jiage span {
	background-color: #F30;
	font-size: 12px;
	height: 20px;
	width: auto;
	color: #FFF;
	float: left;
	line-height: 1.5em;
	text-align: center;
	margin-right: 10px;
	padding-right: 6px;
	padding-left: 6px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.kdzs {
	height: 300px;
	width: 1030px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	margin-top: 10px;
}
.kdzs ul li {
	float: left;
	height: 298px;
	width: 234px;
	border: 1px solid #CCC;
	margin-right: 10px;
	margin-left: 9px;
}
.kdzs ul li p {
	font-size: 16px;
	font-style: italic;
	line-height: 2em;
	color: #666;
	padding-left: 12px;
	letter-spacing: 3px;
}
.kdzs ul li h2 {
	text-align: center;
}
.kdzs ul li .pj {
	height: 82px;
	width: 234px;
	background-color: #10779d;
	display: block;
	overflow: hidden;
	margin-bottom: 10px;
}.kdzs ul li .pj span {
	font-size: 28px;
	color: #FFF;
	font-weight: bold;
	display: block;
	line-height: 2.9em;
	text-align: center;
	margin-bottom:30px;
}
.kdzs ul li .kdwt {
	height: 45px;
	width: 229px;
	background-color: #E7E7E7;
	border-left-width: 5px;
	border-left-style: solid;
	border-left-color: #43AEC4;
	display: block;
}
.kdzs ul li .kdwt b {
	font-size: 24px;
	color: #10779D;
	line-height: 1.8em;
	padding-left: 10px;
}
.kdzs ul li p span {
	font-size: 12px;
	line-height: 2.5em;
	color: #000;
	font-style: normal;
	font-family: "宋体";
	letter-spacing: 1px;
}
.kdfw {
	height: auto;
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	text-align:center
}
.jtkd ul li .jiage b {
	font-size: 16px;
	color: #F00;
	line-height: 1.8em;
	float: right;
	margin-right: 10px;
}

.jtkd ul li h2 a {
	font-size: 22px;
	color: #FFF;
}
.jtkd ul li h2 a:hover {
	font-weight: bold;
	color: #AC1301;
	text-decoration: blink;
}

.lc {
	height: 103px;
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	background-color: #F96;
	margin-top: 10px;
}
.lc .l {
	float: left;
	height: 105px;
	width: 209px;
	overflow: hidden;
	background-image: url("../grkd/grkd_03_1.jpg"/*tpa=http://www.021kd.com/grkd/grkd_03_1.jpg*/);
	background-repeat: no-repeat;
}
.lc .r {
	float: right;
	height: 92px;
	width: 880px;
	border: 5px solid #FC6;
	background-color: #deefb9;
}

.lc .r ul li {
	overflow: hidden;
	width: 120px;
	padding-top: 10px;
	float: left;
	text-align: center;
	display: block;
	background-image: url("../grkd/lc.png"/*tpa=http://www.021kd.com/grkd/lc.png*/);
	background-repeat: no-repeat;
	background-position: center center;
	height: 86px;
	margin-right: 3px;
	margin-left: 2px;
}
.lc .r ul li a span {
	font-size: 20px;
	color: #FFF;
	font-weight: bold;
	line-height: 4em;
	text-decoration: none;
}

.grcp_l {
	height: auto;
	width: 320px;
	border: 3px solid #F47540;
	float: left;
	margin-bottom: 8px;
}
.grcp .grcp_l h2 {
	background-image: url("../grkd/grkd_05.jpg"/*tpa=http://www.021kd.com/grkd/grkd_05.jpg*/);
	background-repeat: no-repeat;
	height: 61px;
	width: 320px;
	font-size: 28px;
	line-height: 2em;
	color: #FFF;
	padding-left: 10px;
	margin-bottom: 30px;
}
.grcp {
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	height: auto;
	border-bottom-width: 2px;
	border-bottom-style: dashed;
	border-bottom-color: #999;
	overflow: hidden;
	margin-bottom: 10px;
}
.grcp .grcp_l p {
	font-size: 16px;
	color: #FFF;
	height: 30px;
	background-color: #F47540;
	font-weight: bold;
	line-height: 1.8em;
	margin-top: 39px;
	text-align: center;
}
.grcp .grcp_r {
	width: 750px;
	height: auto;
	float: right;
}

.tcgz {
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
	background-image: url("../grkd/bj.jpg"/*tpa=http://www.021kd.com/grkd/bj.jpg*/);
	background-repeat: repeat;
	display: block;
	margin-top: 15px;
	height: auto;
	overflow: hidden;
}
.tcgz h2 {
	font-size: 16px;
	color: #FFF;
	line-height: 1.8em;
	padding-left: 12px;
	float: left;
	background-image: url("../grkd/grkd_01.png"/*tpa=http://www.021kd.com/grkd/grkd_01.png*/);
	background-repeat: no-repeat;
	height: 29px;
	width: 94px;
}
.tcgz .tcgz_1 {
	font-size: 14px;
	line-height: 1.8em;
	letter-spacing: normal;
	margin-left: 105px;
	margin-top: 4px;
	margin-bottom: 15px;
}
.wz {
	height: 30px;
	width: 1100px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	border-bottom-style: double;
	border-bottom-width: 2px;
	border-bottom-color: #CA0000;
	font-size: 14px;
	line-height: 2em;
	border-left-width: 5px;
	border-left-style: solid;
	border-left-color: #CA0000;
	padding-left: 10px;
}
.grcp .grcp_r h1 {
	font-size: 16px;
	line-height: 1.2em;
}
.grcp .grcp_r h1 b {
	color: #CA0000;
	font-size: 14px;
}
.grcp .grcp_r #zifei {
	height: auto;
	width: 750px;
	font-size: 14px;
	color: #FFF;
}
.ad1 {
	height: 350px;
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
}
.tcgz .tcgz_2 {
	width: 420px;
	float: left;
	padding-bottom: 12px;
}
.tcgz .tcgz_2 h1 {
	font-size: 16px;
	color: #F00;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #F00;
	line-height: 1.5em;
	margin-bottom: 15px;
}
.tcgz .tcgz_2 p {
	line-height: 1.8em;
	padding-left: 10px;
}
.bot {
	height: 162px;
	margin-right: auto;
	margin-left: auto;
}
.tcgz .tcgz_3 {
	width: 678px;
	float: right;
}
.tcgz .tcgz_3 h1 {
	font-size: 16px;
	color: #F00;
	line-height: 1.5em;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #F00;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #F00;
	padding-left: 12px;
	margin-bottom: 15px;
}
.tcgz .tcgz_3 p {
	line-height: 1.8em;
	padding-left: 10px;
}
.grcp .grcp_l .gc {
	background-position: left;
	float: left;
	height: 40px;
	width: 238px;
	margin-top: 10px;
	font-size: 14px;
	line-height: 3.0em;
	background-color: #E8E8E8;
	margin-left: 12px;
	padding-left: 60px;
}
.grcp .grcp_l .sq {
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
	background-color: #DB6128;
	height: 35px;
	float: left;
	width: 320px;
	margin-top: 30px;
	margin-bottom: 10px;
	line-height: 1.8em;
	text-align: center;
}
.grcp .grcp_r #zifei .zhuyi {
	font-size: 14px;
	color: #FFF;
	line-height: 1.5em;
	width: 100%;
	background-color: #44AEC4;
	margin-top: 5px;
	font-weight: bold;
	padding-left: 10px;
	height: 25px;
	margin-bottom: 8px;
}

.grcp .grcp_l .tc {
		background-image: url("../grkd/grkd_20.jpg"/*tpa=http://www.021kd.com/grkd/grkd_20.jpg*/);
	background-repeat: no-repeat;
	background-position: left;
	float: left;
	height: 40px;
	width: 238px;
	margin-top: 25px;
	padding-left: 60px;
	font-size: 14px;
	line-height: 3.0em;
	background-color: #E8E8E8;
	margin-left: 12px;
}
wz1 {
	font-size: 28px;
	line-height: 2px;
	color: #FFF;
}
.wz1 {
	font-size: 28px;
	line-height: 2em;
	color: #FFF;
	white-space: normal;
	font-style: italic;
	font-weight: bold;
}
wz1 {
	font-weight: bold;
}
.tcgz .tcgz_1 div table tr .wz1 .wz1 {

}
