*{
	margin:0px;
	font-family:Tahoma, Verdana, Garamond, Arial, sans-serif;
	font-size:12px;
	font-family:"宋体";
	list-style-type:none;
	text-decoration:none;
	color: #000;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	left: 0px;
	font-weight: normal;
}
body{
	background-color:#fff;
	margin:0 auto;
	color:#C33;
	line-height:24px;
}
img{
	border:none;
}
a{
  text-decoration:none;}
a:link{
  text-decoration:none;}
a:hover{
  text-decoration:underline;}
form{
  margin:0px;
  padding:0px;}
clear{
  line-height:1px;
  clear:both;
  visibility:hidden;}
html{overflow:-moz-scrollbars-vertical;overflow-x:auto;}

.clearfix {display: inline-block;}
.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    visibility: hidden;
}

* html .clearfix {height: 1%;}
.clearfix {display: block;}


.t_news{  color:#666; padding-left:10px;  overflow:hidden; position:relative;}
.t_news b{ line-height:31px; font-weight:bold; display:inline-block;}
.news_li,.swap{ line-height:31px; display:inline-block; position:absolute; top:0;}
.news_li a,.swap a{ color:#666;}


/*首页样式*/
.topd{width:100%; height:36px; background-color:#f7f7f7;} .topdbf{width:1100px; height:36px; margin:0 auto;} .topdbfleft{float:left; width:685px; height:36px; line-height:36px; color:#696969;} .topdbright{float:right; width:410px; height:36px; line-height:36px;} .topdbright ul li{float:left; width:74px; height:36px; padding-left:22px;} .topdbright ul li a{color:#666;} .xtb1{background:url("../telecom/xtb1.jpg"/*tpa=http://www.021kd.com/telecom/xtb1.jpg*/) no-repeat left center;} .xtb2{background:url("../telecom/xtb2.jpg"/*tpa=http://www.021kd.com/telecom/xtb2.jpg*/) no-repeat left center;} .xtb3{background:url("../telecom/xtb3.jpg"/*tpa=http://www.021kd.com/telecom/xtb3.jpg*/) no-repeat left center;} .xtb4{background:url("../telecom/xtb4.jpg"/*tpa=http://www.021kd.com/telecom/xtb4.jpg*/) no-repeat left center;} .dtop{width:1100px; height:111px; margin:0 auto;} .dtopleft{
	float:left;
	width:477px;
	height:111px;
	background:url("../telecom/dtop1.jpg"/*tpa=http://www.021kd.com/telecom/dtop1.jpg*/) no-repeat;
} .dtopright{float:right; width:623px; height:111px; background:url("../telecom/dtop2.jpg"/*tpa=http://www.021kd.com/telecom/dtop2.jpg*/) no-repeat;}
.dbanner{width:100%; height:384px; margin:1px auto;} .hmenu{width:100%; height:40px; background-color:#ca0000; border-bottom:3px solid #ff8600;} 
.hmenu1{
	width:1100px;
	height:40px;
	background-color:#ca0000;
	border-bottom:3px solid #ff8600;
}
.hmenutext{width:1100px; height:40px; margin:0 auto;} .hmenutext ul li{float:left; width:108px; height:40px; line-height:40px; font-size:14px; color:#fff; text-align:center; border-right:1px solid #b60000;} .hmenutext ul li a{color:#fff; font-weight:bold; font-size:14px; display:block;} .xzbj{background:url("../telecom/xzmenubg.jpg"/*tpa=http://www.021kd.com/telecom/xzmenubg.jpg*/) repeat-x;}
.dclear{
	width:1100px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
} .dmid{width:1100px;} .dmidleft{width:271px; float:left;} .zgdxywtop{width:271px; height:57px;} .zgxxywmid{width:261px; border-bottom:5px solid #dc0000; border-left:5px solid #dc0000; border-right:5px solid #dc0000; background-color:#fff; padding:20px 0px 0px 0px;} .dxmk1top{width:201px; height:30px; line-height:30px; font-size:14px; font-weight:bold; padding-left:40px; background:url("../telecom/tbt1.jpg"/*tpa=http://www.021kd.com/telecom/tbt1.jpg*/) no-repeat 16px center;} .dxmk1top2{width:201px; height:30px; line-height:30px; font-size:14px; font-weight:bold; padding-left:40px; background:url("../telecom/tbt2.jpg"/*tpa=http://www.021kd.com/telecom/tbt2.jpg*/) no-repeat 16px center;} .dxmk1top3{width:201px; height:30px; line-height:30px; font-size:14px; font-weight:bold; padding-left:40px; background:url("../telecom/tbt3.jpg"/*tpa=http://www.021kd.com/telecom/tbt3.jpg*/) no-repeat 16px center;}  .dxmk1top4{width:201px; height:30px; line-height:30px; font-size:14px; font-weight:bold; padding-left:40px; background:url("../telecom/tbt4.jpg"/*tpa=http://www.021kd.com/telecom/tbt4.jpg*/) no-repeat 16px center;} 
.ddbkz1{width:242px; padding-left:18px; padding-top:10px;}  .ddbkz1 td a{font-size:14px; color:#525252;} .ddbkz2{width:242px; padding-left:18px; padding-top:20px; padding-bottom:15px; background-color:#f5f5f5; margin-top:10px;}  .ddbkz2 td a{font-size:14px; color:#525252;} .hbdwnr{width:261px; background-color:#f5f5f5; padding-bottom:18px; padding-top:15px; margin-top:20px;}
.bbipgg{width:261px; height:235px; margin-top:10px; border:5px solid #dc0000; padding:12px 0px;} .rxcptop{width:271px; height:36px; margin-top:10px;} .rxcpmid{width:231px; border-bottom:5px solid #dc0000;  border-left:5px solid #dc0000;  border-right:5px solid #dc0000; padding:20px 15px;} .rxcpmidz ul li{width:230px; height:26px; line-height:26px; color:#666;} .rxcpmidz ul li a{color:#666;}
.dmidright{float:right; width:815px;} .wzgg{width:815px; height:39px;} .wzggleft{float:left; width:101px; height:39px; background:url("../telecom/wzgg.jpg"/*tpa=http://www.021kd.com/telecom/wzgg.jpg*/) no-repeat left center;} .wzggright{float:left; width:691px; height:31px; background-color:#fff; border-right:8px solid #f23b00;  border-top:4px solid #f23b00; border-bottom:4px solid #f23b00; line-height:31px; padding-left:15px; overflow:hidden;}
.rmywtjtop{width:811px; height:21px; margin:15px 0px 10px 0px;} .rmtjywmid{width:815px; height:340px;} .rmtjywmidleft{float:left; width:401px; height:340px;} .rmtjywmidright{float:right; width:401px; height:340px;} .ywtjbftop{width:401px; height:190px;} .ywtjbfmid{width:399px; height:149px; border-bottom:1px solid #ebebeb;  border-left:1px solid #ebebeb; border-right:1px solid #ebebeb;} .ywtjbftext1{width:359px; height:93px; padding:10px 20px;} .ywtjbftext2{width:359px; height:35px; border-top:1px solid #ebebeb; background-color:#fafafa; line-height:35px; padding:0px 20px;} .ywtjbftext2left{float:left; width:280px; height:35px; color:#999;} .ywtjbftext2right{float:right; width:73px; height:18px; padding-top:9px;} .xbanner{width:813px; height:133px; margin:15px auto; border:1px solid #dbdbdb;}
.ywzhbf1{width:815px; height:486px;} .ywzhbf1left{float:left; width:399px; height:464px; border:1px solid #cccccc; padding:10px 0px;} .ywzhbftitle1{width:379px; height:39px; line-height:39px; background-color:#1f70a8; padding-left:20px; font-size:20px; color:#fff; font-weight:bold; font-family:"微软雅黑", "黑体";} .ywzhxbt{width:359px; height:30px; line-height:30px; padding:0px 20px;} .ywzhxbt a{color:#ff7d00;} .ywzhggq{width:379px; height:149px; padding:10px;} .ywzhggqleft{float:left; width:183px; height:149px;} .ywzhggqright{float:right; width:183px; height:149px;} .ywzhtjbf1{width:359px; height:99px; padding:0px 20px;} .ywzhtjbf1 ul li{width:347px; line-height:30px; background:url("../telecom/xhd.jpg"/*tpa=http://www.021kd.com/telecom/xhd.jpg*/) no-repeat left center; padding-left:12px; font-size:14px;} .ywzhtjbf1 a{font-size:14px; color:#666;} .ywzhbottom{width:339px; height:115px; border-top:1px solid #ccc; background-color:#f9f9f9; padding:10px 30px;} .ywzhbottom ul li{float:left; width:151px; height:28px; line-height:28px; padding-left:18px; background:url("../telecom/xld.jpg"/*tpa=http://www.021kd.com/telecom/xld.jpg*/) no-repeat left center;}  .ywzhbottom a{color:#333; font-weight:bold;} .ywzhbf1right{float:right; width:399px; height:464px; border:1px solid #cccccc; padding:10px 0px;}
.lygj{width:1098px; height:465px; border:1px solid #ccc; margin:15px auto;} .lygjtop{width:1058px; height:40px; line-height:30px; padding:10px 20px 0px 20px; border-bottom:1px solid #ccc;} .lygjtop a{color:#ff7d00; font-size:14px;} .lygjsjq{width:1098px; height:225px; border-bottom:1px solid #ccc;} .lygjsjq ul li{float:left; width:158px; height:205px; padding:10px 12px;} .yfbg{border-right:1px solid #ccc;}  .lygjsjq a{color:#333;} .yfbg img{width:158px; height:135px;} .lygjgg1{width:1088px; height:177px; padding:5px 3px;} .lygjgg1 p{float:left; height:177px;}
.xwzxz{width:1058px; height:370px; border:1px solid #ccc; margin:15px auto; padding:20px;} .xwzxz1{float:left; width:342px; height:390px;} .xwzxz1title{width:342px; height:30px; line-height:30px; font-size:14px; font-weight:bold;} .xwzxz1pic{width:342px; height:109px; padding-top:10px;} .xwzxz1text{width:312px; height:87px; padding:10px 15px; border-bottom:1px solid #e9e9e9;} .xwzxz1text2{width:312px; padding:10px 15px;} .xwzxz1text2 ul li{width:312px; line-height:24px;} .xwzxz1text2 a{color:#666;} .ztbottom{width:100%; height:162px; background:#eeeeee; border-top:4px solid #d50000; margin-top:20px;} .ztbottomtext{width:1100px; height:102px; margin:0 auto; padding:30px 0px;} .ztbottomtextleft{float:left; width:448px; height:102px; padding-left:325px; background:url("../telecom/bottomlogo.jpg"/*tpa=http://www.021kd.com/telecom/bottomlogo.jpg*/) no-repeat left center;} .ztbottomright{float:right; width:316px; height:89px; background:url("../telecom/bgjgjls.jpg"/*tpa=http://www.021kd.com/telecom/bgjgjls.jpg*/) no-repeat left center;} .ztbottomtextleft a{color:#333;}

.wzxtbf{width:805px; min-height:2240px; border:5px solid #dc0000; margin-top:10px;} .wzxtadd{width:765px; height:36px; line-height:36px; border-bottom:1px solid #dc0000; padding:0 20px; color:#14px; color:#666;} .wzxtadd a{color:#666;}

.fydmidright{float:right; width:815px; height:auto;} .qykdtj{
	width:813px;
	border:1px solid #dc0000;
	height: auto;
} .qykdtjtop{width:813px; height:51px;} .qykdtjmid{
	width:777px;
	margin-top: 0px;
	margin-right: 18px;
	margin-bottom: 0px;
	margin-left: 18px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 28px;
	padding-left: 0px;
} .qykdtjcp1{width:777px; height:235px;}
.qykdtjcp2{
	width:777px;
	height:370px;
}
.qykdtjcpqleft{float:left; width:376px; height:230px; padding:1px; border:1px solid #e6e6e6;} .qykdtjcpqleftpic{float:left; width:188px; height:230px;} 
.qykdtjcpqleft1{
	float:left;
	width:350px;
	height:360px;
	padding:1px;
	border:1px solid #e6e6e6;
} .qykdtjcpqleftpic{float:left; width:188px; height:230px;} 
.qykdtjcpqrighttext{float:right; width:187px; height:230px; background:url("../telecom/hfgbg.jpg"/*tpa=http://www.021kd.com/telecom/hfgbg.jpg*/) repeat;} .xbtbg{width:159px; height:29px; line-height:29px; padding-left:15px; background:url("../telecom/xbtbg.jpg"/*tpa=http://www.021kd.com/telecom/xbtbg.jpg*/) no-repeat left center; margin:8px 0px;}  .xbtbg h2{font-size:18px; color:#fff; font-family:"微软雅黑", "黑体";} 
.xbtbg h3{font-size:18px; color:#fff; font-family:"微软雅黑", "黑体";} 

.xbtextq{width:159px; height:110px; padding:5px 10px;} .sqdhbf{width:177px; height:24px; line-height:24px; padding-left:10px; border-bottom:1px solid #e6e6e6;  border-top:1px solid #e6e6e6; background-color:#f1f1f1;} .ckxqal{width:187px; height:30px; padding:5px 0px; text-align:center;} .qykdtjcpqright{float:right ;width:376px; height:230px; padding:1px; border:1px solid #e6e6e6;}
 .qykdtjcpqright1{
	float:right;
	width:400px;
	height:360px;
	padding:1px;
	border:1px solid #e6e6e6;
}
.xbaner1{width:815px; height:126px; margin:10px auto;} .jtywtitle{width:187px; height:28px; line-height:28px; padding-top:10px; padding-left:10px;} .jtywtitle h2{font-size:14px;}

.zxcpmidtop{width:180px; height:32px; line-height:32px; padding-left:30px; background:url("../telecom/ntddn1.jpg"/*tpa=http://www.021kd.com/telecom/ntddn1.jpg*/) no-repeat left center; font-size:14px; font-weight:bold; padding-top:8px; padding-bottom:11px;} .zxcpmidtop2{width:180px; height:32px; line-height:32px; padding-left:30px; background:url("../telecom/ntddn2.jpg"/*tpa=http://www.021kd.com/telecom/ntddn2.jpg*/) no-repeat left center; font-size:14px; font-weight:bold; padding-top:8px; padding-bottom:10px;} 
.xwxxz{
	width:1100px;
	height:380px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
} .xwxxzleft{
	float:left;
	width:345px;
	height:355px;
} .xwzzright{
	float:left;
	width:750px;
	height:355px;
} .xxzxtop{
	width:345px;
	height:32px;
	border-bottom:3px solid #828282;
}
.xxzxmid{
	width:283px;
	height:269px;
	border-bottom:1px solid #eaeaea;
	border-left:1px solid #eaeaea;
	border-right:1px solid #eaeaea;
	padding-top: 25px;
	padding-right: 30px;
	padding-bottom: 25px;
	padding-left: 30px;
} .xxzxmid ul li{width:270px; line-height:32px; padding-left:15px; background:url("../telecom/xyd1.jpg"/*tpa=http://www.021kd.com/telecom/xyd1.jpg*/) no-repeat left center;}  .xxzxmid ul li a{color:#333;} .xxzxtop2{width:750px; height:32px; border-bottom:3px solid #b90000;} .xxzxmid2{width:749px; height:319px; border-bottom:1px solid #eaeaea; border-right:1px solid #eaeaea; } .xxzxmid2dyf{width:749px; height:159px; border-bottom:1px solid #eaeaea;} .xxzxmid2dyfleft{
	float:left;
	width:350px;
	height:121px;
	border-right:1px solid #eaeaea;
	padding-top: 19px;
	padding-right: 10px;
	padding-bottom: 19px;
	padding-left: 10px;
}.tjywleftpic{float:left; width:150px; height:121px;} .tjywrighttext{float:right; width:185px; height:121px;} .tjywrighttext a{color:#333;} 
.xxzxmid2dyfright{
	float:left;
	width:350px;
	height:121px;
	padding-top: 19px;
	padding-right: 10px;
	padding-bottom: 19px;
	padding-left: 10px;
}
.wz {
	font-family: "宋体";
	font-size: 14px;
	clip: rect(auto,auto,auto,auto);
	left: auto;
	color: #333;
	font-weight: normal;
}
.wz1 {
	font-size: 15px;
	font-weight: bold;
	color: #930;
}
.wz3 {
	font-size: 16px;
	color: #F60;
	font-weight: bold;
}
.qian {
	line-height: 25px;
	color: #FF0;
	background-image: url("../images/htt.gif"/*tpa=http://www.021kd.com/images/htt.gif*/);
	padding-bottom: 5px;
	padding-left: 25px;
}
.kuan {
	font-style: normal;
	line-height: normal;
	text-align: center;
	height: 30px;
	width: 60px;
}
