
.Validform_checktip{
  color:#999;
  margin-top:5px;
  overflow:hidden;
  font-size:12px;
}
.Validform_right{
  color:#71b83d;
  padding-left:20px;
  background:url("../images/right.png"/*tpa=http://www.007cypt.com/images/right.png*/) no-repeat left center;
}
.Validform_wrong{
  color:red;
  padding-left:20px;
  white-space:nowrap;
  background:url("../images/error.png"/*tpa=http://www.007cypt.com/images/error.png*/) no-repeat left center;
}
.Validform_loading{
  padding-left:20px;
  background:url("../images/onLoad.gif"/*tpa=http://www.007cypt.com/images/onLoad.gif*/) no-repeat left center;
}
.Validform_error{
  background-color:#ffe7e7;
}