@charset "utf-8";
html,button,textarea,input{font-size:18px;font-family:Helvetica,"Microsoft YaHei",Tahoma,Arial,"Hiragino Sans GB","Hiragino Sans GB W3",STXihei,STHeiti,Heiti,SimSun,sans-serif;-webkit-font-smoothing:antialiased}
body{background:#fff;}
body,ul,ol,li,p,h2,h3,h4,h5,h6,form,fieldset,td,img,div,dl,dt,dd{margin:0;padding:0;border:0;list-style:none;font-weight:normal}
body{background:#F6F6F9;color:#333;margin:0 auto;font-size:18px;font-weight:normal}
a,a:link{color:#333;text-decoration:none}
a:active,a:hover{text-decoration:none}
*{-webkit-appearance:none;-webkit-tap-highlight-color:rgba(255,255,255,0)}
input:required,input:valid,input:invalid{border:0 none;outline:0 none;-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;-o-box-shadow:none;box-shadow:none}
input[type="number" ]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button{-webkit-appearance:none !important;margin:0}
input[type="number"]{-moz-appearance:textfield}
address,cite,dfn,em,var{font-style:normal}
button,textarea{border:none;}
/*公共样式*/
/*自动隐藏文字*/
.ect-row-1{overflow:hidden;white-space:nowrap;/*text-overflow:ellipsis*/text-align:left}
.ect-row-2{display:-webkit-box;overflow:hidden;/*text-overflow:ellipsis*/word-wrap:break-word;white-space:normal !important;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-align:left}
.ect-row-3{display:-webkit-box;overflow:hidden;/*text-overflow:ellipsis*/word-wrap:break-word;white-space:normal !important;-webkit-line-clamp:3;-webkit-box-orient:vertical;text-align:left}
/*字体大小*/
.f-13{font-size:13px}
.f-14{font-size:14px}
.f-15{font-size:15px}
.f-16{font-size:16px}
.f-18{font-size:18px}
.f-20{font-size:20px;}
.f-22{font-size:22px;}
.f-24{font-size:24px;}
.f-28{font-size:28px;}
.f-30{font-size:30px;}
.f-36{font-size:36px;}
.f-40{font-size:40px}
.f-46{font-size:46px}
.f-56{font-size:56px}
.f-68{font-size:68px;}
.f-72{font-size:72px;}
.f-80{font-size:80px;}
/*字体颜色*/
.col-f{color:#2d2d2d;}

.col-9{color:#999;}
.col-8{color:#888;}
.col-6{color:#666;}
.col-4{color:#444;}
.col-3{color:#333;}
.col-a5{color:#a5a5a5;}
.col-2a{color:#2a2a2a;}
.col-hs{color:#ec5151;}
.left1(left:50px;)
.left1.active{left:100px;}
/*背景颜色*/
.b-bg-f{background-color: rgba(255, 255, 255, 0.95)}
.b-bg-h{background-color: rgba(0, 0, 0, 0.8)}
.b-col-f{background:#fff;}
.b-col-hs{background:#ec5151;}
.b-col-huis{background:#f4f5fa;}
.b-col-huis2{background:#f6f7fb;}
/*位置*/
.ftx03 {
    color: #ec5051;
}
.oh{overflow: hidden;}
.fl{float:left}
.fr{float:right}
.p-a{position:absolute; #position:absolute; _position:absolute}
.p-r{position:relative; #position:relative; _position:relative}
.p-f{position:fixed;#position:fixed; _position:fixed}
.text-c{text-align:center;display:block;}
.text-r{text-align:right;display:block;}
.text-l{text-align:left;display:block;}
.db{display:block;}
.di{display:inline-block}
.margin-b15{margin-bottom:7px;}
.margin-b25{margin-bottom:18px;}
.margin-b46{margin-bottom:40px;}
.margin-b{margin-bottom:30px;}
.margin-t11{margin-top:110px;}
.margin-25{margin:10px 0;}
.margin-20{margin:20px 0;}
.margin-30{margin:30px 0;}
.margin-t1{margin-top:6px;}
.margin-t3{margin-top:15px;}
.margin-t3-1{margin-top:30px;}
.margin-t4{margin-top:40px;}
.margin-t5{margin-top:50px}
.margin-t6{margin-top:60px}
.margin-t9{margin-top:90px;*margin-top:180px}
.margin-l3{margin-left:30px;}
.margin-l5{margin-left:50px;}
.margin-l6{margin-left:60px;}
.padding-l3{padding-left:20px;}
.padding-l1{padding-left:10px;*padding-left:-40px;}
.padding-a{padding-top:120px; padding-bottom:40px;}
.padding-t09-title{padding-top:80px;}
.padding-09{padding:90px 0;}
.padding-09a{padding:90px;}
.padding-09a{padding:50px 0px 120px 0px;}
.padding-09-title{padding:80px 0 90px 0;}
.padding-06{padding:50px;}
.padding-06a{padding:50px 0;}
.padding-t06a{padding-top:40px;}
.padding-t03{padding-top:30px;}
.padding-09-06{padding:80px 0 50px;}
.padding-06-09{padding:50px 0 80px;}
.padding-03-06{padding:30px 0 60px;}
.padding-t04{padding-top:30px;}
.padding-04{padding:30px;}
.padding-0-02{padding:0 25px;}
.padding-03{padding:20px;}
.padding-b90{padding-bottom:90px;}
.padding-03-01{padding:30px 0 15px 0}
.p-all{padding:30px 30px 10px 30px;}
.p-alla{padding:0px 30px 30px 30px;}
.p-allb{padding:40px 40px 10px 40px;}
.p-allb1{padding:0px 40px 40px 40px;}
.m-t400{height:200px;}
.n-index-padding-all{margin:0 auto;padding-top:90px;padding-bottom:90px;}
/*边框线*/
.border-t{border-bottom:1px solid #e6e6e6;}
.l-bor{border-right:1px solid #e6e6e6;}
.index-box3{border:1px solid #e6e6e6;background:#fff;}
.index-box3:hover{box-shadow:0px 0px 16px rgba(240,240,240,1);border:1px solid #f0f0f0;}
.border-f{border-bottom:1px solid #fff;margin:0 auto;}
.br{border-radius:5px}
/*栅格化*/
.ect-w1{width:10%}
.ect-w2{width:20%}
.ect-w2-5{width:25%;width:24.96%\9}
.ect-w3{width:33.325%;}
.ect-w4{width:40%;}
.ect-w5{width:50%;width:49.8%\9;}
.ect-w6-1{width:60%;}
.ect-w6{width:70%;}
.ect-w8{width:80%;}
.ect-w9{width:90%;}
.ect-h10{height:100%}
.ect-w1-5{width:15%}
.ect-w7-9{width:79%}
.ect-w8-5{width:85%}
.ect-w10{width:100%;}
.ect-w9-6{width:95%;}
.ect-w7{width:14.2%}
.ect-w6-2{width:16%;}
.ect-w3-1{width:33.25%;}
.ect-w3-2{width:29%;}
.ect-w5-1{width:42.5%;}
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfix{zoom: 1;}
/*兼容ie透明度*/
.an-show{opacity:0;filter:alpha(opacity=0);moz-transition: 1s ease;-o-transition: 1s ease;-webkit-transition:1s ease;position:absolute}
.an-show.active{opacity:1;filter:alpha(opacity=100);display:block; -moz-transition: 1s ease;-o-transition: 1s ease;-webkit-transition:1s ease;}
.an-show-1{opacity:1;filter:alpha(opacity=100);display:block; -moz-transition: 1s ease;-o-transition: 1s ease;-webkit-transition:1s ease;}
.an-show-1.active{opacity:0;filter:alpha(opacity=0);moz-transition: 1s ease;-o-transition: 1s ease;-webkit-transition:1s ease;position:absolute}
/*hide*/
.op-ie{opacity:0;filter:alpha(opacity=0);}
.op-ie-0{filter:alpha(opacity=0);}
.op-ie-03{filter:alpha(opacity=30);}
/*show*/
.dlys-img-box.active{display:none; filter:alpha(opacity=0);}
.dlys-img-box1.active{display:none; filter:alpha(opacity=0);}
.banner-bg-box.active{background-color: rgba(0, 0, 0, 0.4);filter:alpha(opacity=40);}



/*按钮*/
.but{border:1px solid #EC5151;background:#fff;color:#444; width:100px;color:#EC5151}
.but-bs{border:1px solid #e6e6e6;background:#fff;color:#444;}
.but-bs:hover{border:1px solid #EC5151;background:#EC5151;color:#fff;}
.but-hs{background:#EC5151;border:1px solid #EC5151;color:#fff;}
.but-hs:hover{border:1px solid #dc3536;color:#fff;background:#dc3536;}
.but-default{padding:7px 28px;text-align:center;font-size:20px;margin: 0 auto;}
.but:hover{background:#EC5151;color:#fff;border:1px solid #EC5151}
.lig-but-box{width:100%;margin:0 auto;}
.box-shadow{box-shadow:0px 1px 0px rgba(110,150,150,0.1);}
/*动画过渡效果*/
.an-tr-0{-moz-transition: 0s ease;-o-transition: 0s ease;-webkit-transition:0s ease;}
.an-tr-1{-moz-transition: 1s ease;-o-transition: 1s ease;-webkit-transition:1s ease;}
.an-tr-2-5{-moz-transition: 2.5s ease;-o-transition: 2.5s ease;-webkit-transition:2.5s ease;}
/*大盒子*/
.cont-box1210{width:1210px;margin:0 auto;}
.max-box-1920{max-width:1920px;margin:0 auto;}
.box{box-sizing:border-box;-moz-box-sizing:border-box; /* Firefox */-webkit-box-sizing:border-box; /* Safari */}
/*bg-common*/
.bg-com{background-repeat: no-repeat; background-position: center;width:100%; background-size:cover;}
.dlys-img{width:100%;}
.addr-img{top:106px;right:106px;}
/*header*/
.footer-box{top:0;width:100%;z-index:5999;}
.index-header{background-color: #000\9; position: static; background:rgba(0,0,0,0.3)!important; width:100%;z-index:4;top:0;display:block;}
.index-header.active{background:rgba(0,0,0,0.6)!important; filter:alpha(opacity=60);display:none;}
.index-logo img{position:relative;}
.index-header ul {position:static}
.index-header ul li.active{color:#ec5151;}
.index-header ul li:first-child{margin-left:0px;}
.index-header-height{padding:12px 0}
.index-header-height a{line-height:34px;line-height:34px\0;}
.index-header-height a.active{color:#EC5151;}
.index-header ul,.index-header ul li,.index-header ul li a{position: relative;color:#fff;outline:none;outline:0;}
.index-header ul li a:hover{color:#ff8989;}
/*白底*/
.index-header-1{background:#fff;}
.index-header-2{background-color: #000\9; position: static; background:rgba(0,0,0,0.6)!important; color:#444;display:none;}
.index-header-2.active{background-color: #000\9; background:rgba(0,0,0,0.6)!important;   position:fixed; top:0;left:0;width:100%;z-index:6999;filter:alpha(opacity=70); 
box-shadow:0 0 10px rgba(0, 0, 0, .2);
-webkit-box-shadow:0 0 10px rgba(0, 0, 0, .2);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, .2);
display:block;}
.nav-box span{margin-left:30px;}
.nav-box{margin-right: 53px;padding:10px 0;}
.nav-box .active{color:#EC5151}
/*footer*/
.index-footer{margin: 0 auto;}
.index-qq-box,.index-weixin-box,.index-weibo-box{width:38px; height:30px;margin: 0 auto;}
.index-qq-box{background:url("../images/qq.png"/*tpa=http://www.007cypt.com/images/qq.png*/);}
.index-weixin-box{background:url("../images/weixin.png"/*tpa=http://www.007cypt.com/images/weixin.png*/);}
.index-weibo-box{background:url("../images/weibo.png"/*tpa=http://www.007cypt.com/images/weibo.png*/);}
.index-qq-box:hover{background:url("../images/qq-1.png"/*tpa=http://www.007cypt.com/images/qq-1.png*/);}
.index-weixin-box:hover{background:url("../images/weixin-1.png"/*tpa=http://www.007cypt.com/images/weixin-1.png*/);}
.index-weibo-box:hover{background:url("../images/weibo-1.png"/*tpa=http://www.007cypt.com/images/weibo-1.png*/);}
.index-footer-1{margin: 0 auto;margin-top:30px;}
.index-footer span:hover{color:#EC5151;}
.qq-con-box{width:80px;top:45%;background:#EC5151;left:46.9%;margin-left:-53px;padding:6px; display:none;}
.qq-jt{bottom:-15px; *bottom:-10px; left:43%;width:20px;}
.qq-jt img{width:100%;}
.weibo-con-box{width:80px;;top:45%;background:#EC5151;left:53.2%;margin-left:-53px;padding:6px;display:none;}
.weibo-jt{bottom:-15px; *bottom:-10px; left:55.5%;width:20px;}
.weibo-jt img{width:100%;}
/*地图*/
.index-map-box-1{height: 552px; border: 1px solid rgb(204, 204, 204);
 overflow: hidden; position: relative; z-index: 0; 
 background-image: url("-/api.map.baidu.com/images/bg.png-"/*tpa=http://www.007cypt.com/css/"//api.map.baidu.com/images/bg.png"*/); 
color: rgb(0, 0, 0); text-align: left;}

/*返回顶部*/
.return-top-box{width:60px; height:60px;background:#EC5151;bottom:60px; right:10px;z-index: 6999;}
.return-top-box:hover{background:rgba(236,81,81,0.9);}
.return-top-box img{width:100%; height:100%;}
/*上下滚动图*/
.picScroll-top{margin:0 auto;width:100%;position:relative}
.picScroll-top .hd{height:30px;padding:0 10px}
.picScroll-top .hd .prev{float:left;display:block;width:138px;height:40px;margin-right:5px;margin-top:-40px;overflow:hidden;cursor:pointer}
.picScroll-top .hd .next{float:left;display:block;width:138px;height:40px;margin-right:5px;overflow:hidden;cursor:pointer}
.picScroll-top .hd .next{background-position:0 0px}
.picScroll-top .hd .prev{background-position:0 97px}
.picScroll-top .hd .prevStop{background-position:-60px -100px}
.picScroll-top .hd .nextStop{background-position:-60px -140px}
.picScroll-top .hd ul{float:right;overflow:hidden;zoom:1;margin-top:10px;zoom:1}
.picScroll-top .hd ul li{width:12px;height:12px;overflow:hidden;margin-bottom:8px;text-indent:-999px;cursor:pointer;background:#cacaca;border-radius:100%;}
.picScroll-top .hd ul li.on{background:#EC5151;}
.picScroll-top .bd{padding:10px;margin:10px 0}
.picScroll-top .bd ul{overflow:hidden;zoom:1}
.picScroll-top .bd ul li{text-align:center;zoom:1;padding:10px 0}
.picScroll-top .bd ul li .pic{text-align:center}
.picScroll-top .bd ul li .pic img{width:180px;height:90px;display:block;padding:2px;border:1px solid #ccc}
.picScroll-top .bd ul li .pic a:hover img{ border-color:#999;  }
/* 左右滚动 */
.slideBox{ width:100%; height:400px; overflow:hidden; position:relative;margin-top:30px;}
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:45%; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:2px;  width:12px; height:12px; line-height:14px; text-align:center; background:#cacaca; cursor:pointer;border-radius:100%;height:12px;width:12px; margin-left:10px;}
.slideBox .hd ul li.on{ background:#ec5151; border-radius:100%;height:12px;width:12px; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{display:block;}
/*============================================================================
 *                                     index
 * =========================================================================*/
/*index-bg*/
.index-banner{background-image:url("../images/index-1.jpg"/*tpa=http://www.007cypt.com/images/index-1.jpg*/);height:950px;z-index:-2;top:0;opacity:1;filter:alpha(opacity=100);display:block; -moz-transition: 1s ease;-o-transition: 1s ease;-webkit-transition:1s ease;}
.index-banner.active{display:none;opacity:0;filter:alpha(opacity=0);moz-transition: 1s ease;-o-transition: 1s ease;-webkit-transition:1s ease;}
.index-why-box{background-image:url("../images/index-main-1.jpg"/*tpa=http://www.007cypt.com/images/index-main-1.jpg*/); height:750px;}
.index-why2-box{background-image:url("../images/index-bg.jpg"/*tpa=http://www.007cypt.com/images/index-bg.jpg*/); height:730px;}
.index-update-box{background-image:url("../images/bg3.jpg"/*tpa=http://www.007cypt.com/images/bg3.jpg*/); height:910px;}
.index-map-box{height:552px;margin-top:0px; }
.index-road-box{background-image:url("../images/bg5.jpg"/*tpa=http://www.007cypt.com/images/bg5.jpg*/); }
.index-road-box{margin: 0 auto;}
.new-first-box{margin-top:950px;}
.paddding-r{padding-right:25px;}
.paddding-l{padding-right:25px;}
/*banner*/
.index-iphone-box{width:274px; height:772px;left:-10px;}
.index-right-cont{top:280px;right:0px;width:780px;}
.index-cont1{width:60px;height:60px;}
.index-list-box li:first-child{margin-left:0px;}
.index-list-box2{padding:10px;}
/*鼠标放入显示*/
.index-anli-bg{height:100%;width:100%;top:0px;}
.index-anli-bg img{width:100%;height:100%;}
.ewm-box{width:40%; height:58%;top:20%;left:30%;}
.ewm-box img{width:100%; height:100%;}
.index-partner-icon1-1{height:100%;width:100%;top:0px; left:0;}
.dlys-img-box{background-color: rgba(255, 255, 255, 0.2);background-color: #fff\9;top:0px;width:100%;height:552px;position:absolute;display:block; filter:alpha(opacity=20);}
.dlys-img-box1{background-color: rgba(0, 0, 0, 0.6);background-color: #fff\9;top:-552;width:100%;height:555px;position:absolute;display:block; filter:alpha(opacity=60);z-index: 49999;}
.footer-ewm-img{width:240px;height:252px;position:absolute;top: -38%;left: 50%;margin-left:-130px;display:none;}
.footer-ewm-img img{width:100%; height:100%;}
.index-why-right-box{right:0px;top:106px;}
.index-whylist-box li span{line-height: 166px;}
.index-jt-box,.index-jt-box img{width:110px;margin:0 auto;}
.index-whylist-box{height:166px;}
.index-whylist-box1{height:150px;}
.index-whylist-box1 li span{line-height: 150px;}
.lunboti-min-box{width:10px; height:10px;margin-top:10px;}
.index-jt2-box{height:24px;width:12px;right:-12px;top:42%;}
.index-jt2-box img{width:100%;height:100%;}
.index-why2-left{left:0px;top:136px;}
.index-update-img{width:120px;height:120px;margin:0 auto;}
.index-add-maxbox{height:500px;}
.index-road-but{padding:10px;margin:0 auto;}
.banner-bg-box{width:100%;left:0; top:0;background-color: #000\9;background-color: rgba(0, 0, 0, 0);height:950px;z-index:1;top:0;width:100%;*zoom:1;}
.ewm-img-box,.ewm-img-box img{width:240px; height:240px;margin: 0 auto;}
.my-span-pos{line-height:166px;}
.my-span-pos2{line-height:150px;}
.index-left-box5{left:-40px;top:50%;*top:45%;}
.tel-bg-box{bottom:-30px;}
.tel-bg-box-1{bottom:-10px;}
.index-add-box input,.index-add-box textarea{border:none;color:#888;border:0;resize: none;}
.index-but-box3{width:145px; margin:0 auto;}
/*下载数量*/
.index-num{width: 40px;height: 54px;display: inline-block;background: url("../images/number.png"/*tpa=http://www.007cypt.com/images/number.png*/) no-repeat;dispaly:none;}
.index-num.active{width: 40px; height:54px;display: inline-block;background: url("../images/number.png"/*tpa=http://www.007cypt.com/images/number.png*/) no-repeat;background-position: 2px 0;opacity: 0.4;filter:alpha(opacity=40);}
.index-num-0{background-position: 2px 0;}
.index-num-1{background-position: 2px -66px;}
.index-num-2{background-position: 2px -133px;}
.index-num-3{background-position: 2px -198px;}
.index-num-4{background-position: 2px -265px;}
.index-num-5{background-position: 2px -332px;}
.index-num-6{background-position: 2px -399px;}
.index-num-7{background-position: 2px -466px;}
.index-num-8{background-position: 2px -533px;}
.index-num-9{background-position: 2px -600px;}



.adv-num{width: 30px;height: 40px;display: inline-block;background: url("../images/number-min.png"/*tpa=http://www.007cypt.com/images/number-min.png*/) no-repeat;dispaly:none;}
.adv-num.active{width: 30px; height:40px;display: inline-block;background: url("../images/number-min.png"/*tpa=http://www.007cypt.com/images/number-min.png*/) no-repeat;background-position: 1px 0;opacity: 0.4;filter:alpha(opacity=40);}
.adv-num-0{background-position: 1px 0;}
.adv-num-1{background-position: 1px -50px;}
.adv-num-2{background-position: 1px -100px;}
.adv-num-3{background-position: 1px -150px;}
.adv-num-4{background-position: 1px -200px;}
.adv-num-5{background-position: 1px -250px;}
.adv-num-6{background-position: 1px -300px;}
.adv-num-7{background-position: 1px -350px;}
.adv-num-8{background-position: 1px -400px;}
.adv-num-9{background-position: 1px -450px;}

/*动画效果*/
.index-update-icon{margin:0 auto;}
.index-update-icon li{margin-top:75px;}
.index-update-icon li:first-child{margin-top:0px;}
.index-update-max-box{border:1px solid #ccc;}
.index-update-left-box1{left:-20px;top:110px; }
.index-update-left-box2{left:-20px; top:310px;}
.index-update-left-box3{left:-20px;top:500px;}
.index-update-left-box4{left:-20px; top:700px;}
.index-update-right-box1{right:-20px;top:120px;}
.index-update-right-box2{right:-20px; top:310px;}
.index-update-right-box3{right:-20px;top:500px;}
.index-update-right-box4{right:-20px; top:700px;}
.index-update-right-box1 p,.index-update-right-box3 p,.index-update-left-box2 p,.index-update-left-box4 p{line-height:25px;}
.index-why2-left-box{top:200px;}

/*亮点轮播图*/
.tempWrap{margin:0 auto}
.picScroll-left{width:100%;overflow:hidden;position:relative;z-index:4999;padding: 50px 0px 100px 0px;}
.picScroll-left .hd{padding:0 50px}
.picScroll-left .hd .prev,.picScroll-left .hd .next{display:block;width:5px;height:9px;float:right;margin-right:5px;margin-top:10px;overflow:hidden;cursor:pointer;background:url("images/arrow.png"/*tpa=http://www.007cypt.com/css/images/arrow.png*/) no-repeat}
.picScroll-left .hd .next{background-position:0 -50px}
.picScroll-left .hd .prevStop{background-position:-60px 0}
.picScroll-left .hd .nextStop{background-position:-60px -50px}
.picScroll-left .hd ul{left:47.5%;bottom:70px;overflow:hidden;zoom:1;zoom:1}
.picScroll-left .hd ul li{float:left;width:12px;height:12px;margin-right:5px;text-indent:-999px;cursor:pointer;background:#cacaca;border-radius:100%}
.picScroll-left .hd ul li.on{background:#EC5151}
.picScroll-left .bd{padding:10px}
.picScroll-left .bd ul{overflow:hidden;zoom:1;padding-left:100px}
.picScroll-left .bd ul li{margin:0 8px;float:left;_display:inline;overflow:hidden;text-align:center}
.picScroll-left .bd ul li .pic{text-align:center}
.lig-lunfan-img{width:322px;height:443px;display:block;padding:2px}
.picScroll-left .bd ul li .pic a:hover img{border-color:#999}
.picScroll-left .bd ul li .title{line-height:24px}
/*亮点*/
.lightspot-banner{background-image:url("../images/lightspot/lightspot-bg.jpg"/*tpa=http://www.007cypt.com/images/lightspot/lightspot-bg.jpg*/);height:900px;}
.field-box{background-image:url("../images/lightspot/lightspot-bg2.jpg"/*tpa=http://www.007cypt.com/images/lightspot/lightspot-bg2.jpg*/);height:620px;}
.brand-box{background-image:url("../images/lightspot/lightspot-bg3.jpg"/*tpa=http://www.007cypt.com/images/lightspot/lightspot-bg3.jpg*/);height:970px;}
.distribution-box{background-image:url("../images/lightspot/lightspot-bg4.jpg"/*tpa=http://www.007cypt.com/images/lightspot/lightspot-bg4.jpg*/);height:1050px;}
.chat-box{background-image:url("../images/lightspot/chat.jpg"/*tpa=http://www.007cypt.com/images/lightspot/chat.jpg*/);height:707px;}
.n-al-more{margin:30px auto 60px;}
.banner-img1{left:433px;top:139px;}
.banner-img2{left:251px;top:217px;}
.banner-img3{left:433px;top:430px;}
.banner-tit{width:100%;top:347px;}
.banner-img4{left:109px;top:415px;}
.banner-img5{right:178px;top:87px;}
.banner-iphone-left{left:339px; top:629px;}
.banner-iphone-right{right:338px;top:525px;}
.feature-tit{padding-top:470px;}
.feature-tit-1{padding-top:380px;}
.lig-list-box{margin:0 auto;margin-top:30px;}
.lig-lunfantu{z-index:5000; margin:0 auto;}
.lunfantu-left-jt{left:25px; top:45%;z-index:5001}
.lunfantu-right-jt{right:25px; top:45%;z-index:5001}
.lig-lun-hs{left:0px;top:0%;}
.brank-iphone{left:25px; top:85px;}
.brank-img1{right:80px;top:158px;z-index:10}
.brank-img2{left:400px;top:373px;z-index:11}
.brank-img4{right:00px;top:405px;z-index:11}
.brank-img3{right:200px;top:325px;z-index:11}
.iphone-stroe{left:-18px; top:380px;}
.store-box{height:1002px;}
.stroe-list{top:278px;right:-18px;}
.distribution-img{left:90px;;top:280px;}
.common-box{height:1031px;}
.commun-img{left:46px;top:296px;}
.commun-img1{top:320px; left:434px}
.chat-img{left:0px;top:102px;}
.article-box{height:800px;}
.article-img{left:386px;top:221px;}
.article-img1{left:177px;top:382px;}
.article-img2{left:244px;top:488px;}
.article-img3{right:278px;top:541px;}
.article-img4{right:207px;top:651px;}
.article-img5{left:68px;top:507px;}
.article-img6{left:196px;top:638px;}
.article-img7{right:232px;top:393px;}
.article-img8{right:79px;top:593px;}
.article-img9{right:118px;top:484px;}
.lbs-box{height:900px;}
.lbs-box-1{height:960px;}
.lbs-img{left:0px; top:184px;z-index:5}
.lbs-img1{right:20px; top:265px;z-index:4}
.lbs-img-1{left:0px; top:340px;z-index:5;}
.lbs-img1-1{right:20px; top:190px;z-index:4}
.n-lig-opbg{bottom:-5px;left:0}
.lig-cate-box{bottom:40px;left:90px;}
.n-but-je{margin-left:295px; margin-top:20px;}
/*品牌街*/
.brand-line{line-height:30px;}
.brank-banner{background-image:url("../images/lightspot/brand/brand-bg.png"/*tpa=http://www.007cypt.com/images/lightspot/brand/brand-bg.png*/);height:842px;}
.brand-left{width:590px; height:367px;top:300px;left:-10px;}
.brand-banner-right{top:120px; right:-10px;}
.best-box{height:794px;}
.best-img{top:88px;left:-10px;}
.best-right{width:422px; height:205px;top:243px;right:-20px;border-left:1px solid #f7928d;padding-left:30px;}
.sale-brand-box{height:787px;}
.sale-brand-left{width:394px;height:567px;top:88px;left:-20px;}
.sale-right-img{right:-20px;top:90px;}
.sale-tit{border-left:1px solid #ccc;padding-left:30px;}
.brand-big-box{background-image:url("../images/lightspot/brand/big-bg.png"/*tpa=http://www.007cypt.com/images/lightspot/brand/big-bg.png*/);height:857px;}
.big-right-img{left:40px ; top:90px;}
.big-brand-right{width:630px; height:630px;right:-20px;top:90px;}
.list-brand-box{height:684px;}
.list-brand-left{width:239px;height:172px;left:70px;top:307px}
.list-right-img{right:80px;top:179px;}
.street-brand-box{background-image:url("../images/lightspot/brand/brand-bg-2.png"/*tpa=http://www.007cypt.com/images/lightspot/brand/brand-bg-2.png*/ ); height:750px;}
.street-left-img{left:70px; top:180px;}
.street-brand-right{width:239px;height:181px;right:140px;top:336px}
.brand-end{height:200px;}
/*店铺街*/
.store-banner{background-image:url("../images/lightspot/store/store-bg.png"/*tpa=http://www.007cypt.com/images/lightspot/store/store-bg.png*/ ); height:610px;}
.store-banner-1{left:352px; top:150px;}
.store-banner-2{left:355px; top:230px;}
.store-banner-3{left:412px; top:430px;}
.store-street{height:694px;}
.store-right-img{right:0px; top:100px;}
.store-left{width:485px; height:841px;left:0px; top:100px;}
.store-street-1{background-image:url("../images/lightspot/store/store-bg1.png"/*tpa=http://www.007cypt.com/images/lightspot/store/store-bg1.png*/ ); height:922px;}
.store-left-img1{left:0px; top:339px;}
.store-right-img1{right:0px; top:310px;}
.store-street-2{height:838px;}
.store-left-img2{left:0px; top:90px;}
.store-right-cont{width:226px;height:185px;right:50px; top:160px;}
.store-cont-detail{width:457px;height:519px;left:0px; top:128px;}
.store-detail-img{right:0px; top:40px;}
.store-detail{height:884px;}
/*微分销*/
.dis-banner{background-image:url("../images/lightspot/dis/dis-banner.jpg"/*tpa=http://www.007cypt.com/images/lightspot/dis/dis-banner.jpg*/ ); height:800px;}
.dis-banner1{left:-100px;top:172px;}
.dis-banner2{right:0px;top:275px;}
.dis-user{height:778px;}
.dis-user-img{left:40px; top:89px;}
.dis-user-img-1{left:300px; top:292px;}
.dis-user-img-3{right:50px; top:515px;}
.dis-user-img-2{right:0px; top:350px;}
.user-right{width:436px;height:174px;right:100px; top:147px;}
.dis-order{background-image:url("../images/lightspot/dis/bg-1.jpg"/*tpa=http://www.007cypt.com/images/lightspot/dis/bg-1.jpg*/ ); height:817px;}
.order-left{width:443px;height:175px;left:0px; top:197px;}
.dis-order-img{top:413px;left:0px;}
.dis-order-img-1{top:179px;left:890px;}
.dis-team{height:1080px;}
.dis-team-img{top:294px;left:0px;}
.dis-team-img-1{top:294px;left:380px;}
.team-right{width:292px;height:384px;right:0px; top:430px;}
.dis-team-img-2{margin-top:90px;}
.dis-card{height:730px;}
.dis-card-img{top:176px ;left:0;}
.card-right{left:900px; top:90px;}
.dis-ranklist{background-image:url("../images/lightspot/dis/bg-2.png"/*tpa=http://www.007cypt.com/images/lightspot/dis/bg-2.png*/ ); height:504px;}
.pank-left{width:443px;height:327px;left:0px; top:136px;}
.dis-ranklist-img-1{top:179px;left:890px;}
.dis-shop{height:964px;}
.dis-shop-img{top:497px;left:0px;}
.shop-right{width:291px;height:359px;right:0px; top:564px;}
.dis-shop-bg{background-image:url("../images/lightspot/dis/bg-3.png"/*tpa=http://www.007cypt.com/images/lightspot/dis/bg-3.png*/ ); height:320px;}
/*社区*/
.com-banner{background-image:url("../images/lightspot/com/com-banner.png"/*tpa=http://www.007cypt.com/images/lightspot/com/com-banner.png*/ ); height:733px;}
.com-banner1{top:130px;left:522px;}
.com-banner2{top:260px;left:415px;}
.com-posts{height:596px;}
.com-posts1{top:-169px;left:0px;}
.posts-left{width:405px; height:350px;top:90px;right:0px;}
.com-post{background-image:url("../images/lightspot/com/bg-1.png"/*tpa=http://www.007cypt.com/images/lightspot/com/bg-1.png*/ ); height:830px;}
.post-left{height:1560px;width:580px; left:0px; top:211px;}
.com-post1{top:82px;right:0px;}
.detalis-left{width:395px; height:488px;top:130px; left:0px;}
.com-details-box{height:700px;}
.com-post-2{height:877px;}
.dpost2-left{width:337px; height:358px;top:485px; right:0px;}
.com-details{top:50px;right:0px;}
.com-pl-list{background-image:url("../images/lightspot/com/bg-2.png"/*tpa=http://www.007cypt.com/images/lightspot/com/bg-2.png*/ ); height:710px;}
.com-pl-img{top:90px;left:0px;}
.com-user-box{height:960px;}
.com-user{left:0;top:90px;}
.user-left{width:298px; height:265px;top:200px; right:0px;}
/*文章*/
.article-banner{background-image:url("../images/lightspot/article/ar-banner.png"/*tpa=http://www.007cypt.com/images/lightspot/article/ar-banner.png*/ ); height:548px;}
.article-banner1{left:455px;top:100px;}
.article-banner2{left:462px;top:350px;}
.article-list{height:738px;}
.article-list-left{width:283px; height:173px;top:108px; left:0px;}
.article-list-img{left:50px;top:330px;}
.article-list-img1{right:0px;top:-170px;}
.article-publish{background-image:url("../images/lightspot/article/bg-1.png"/*tpa=http://www.007cypt.com/images/lightspot/article/bg-1.png*/ );height:700px;}
.article-publish-img{left:0px;top:250px;}
.article-publish-img1{right:0px;top:615px;}
.article-publish-cont{width:290px; height:180px;top:339px; right:100px;}
.article-end-box{height:532px;}
/*优势*/
.advantage-banner{background-image:url("../images/advantage/banner.jpg"/*tpa=http://www.007cypt.com/images/advantage/banner.jpg*/);height:829px;}
.advantage-box2{background-image:url("../images/advantage/adv-bg.jpg"/*tpa=http://www.007cypt.com/images/advantage/adv-bg.jpg*/);height:973px;}
.advantage-service{background-image:url("../images/advantage/service.jpg"/*tpa=http://www.007cypt.com/images/advantage/service.jpg*/);height:730px;}
.advantage-care{background-image:url("../images/advantage/care.jpg"/*tpa=http://www.007cypt.com/images/advantage/care.jpg*/);height:585px;}
.advantage-ban1{left:265px; top:170px;}
.advantage-ban2{left:204px; top:300px;}
.advantage-ban3{left:326px; top:460px;}
.advantage-ban4{left:465px; top:510px;}
.adv-img2{left:-20px; top:290px;}
.adv-img3{left:292px; top:290px;}
.adv-img4{left:614px; top:290px;}
.adv-img5{left:926px; top:290px;}
.adv-box1-img{width:120px;height:120px; margin:0 auto;}
.adv-img1{width:756px;height:46px;margin:0 auto;}
.adv-cont{width:302px; height:302px;}
.my-adv{margin-top:-5px;}
.advantage-box3{height: 1011px;}
.adv-yg1{top:102px; left:-20px;}
.adv-yg2{top:244px; right:0px;}
.adv-yg3{top:390px; right:0px;}
.ser-1{top:200px;left:50px;}
.ser-2{top: 400px;left: 189px;}
.advantage-update{height:650px;}
.ser-update{left:175px;top:227px;}
.advantage-demand li{height:190px;}
.advantage-demand p{line-height:24px;margin-top:10px;}
.advantage-technology{height:1066px;}
.adv-tec{top:227px; left:40px;}
.adv-tec1{height:204px;width:165px;top:376px;left:316px;}
.adv-tec2{height:204px;width:163px;top:576px;right:458px;}
.adv-tec3{height:150px;width:113px;top:426px;right:294px;}
.adv:hover{background:#bf3434;}
.advantage-made{height:710px;}
.adv-made{top: 205px;left: 2px;}
.left-demand{max-width:605px; float:right;}
.addr-cont-maxbox{height:100px;}
/*更新*/
.upadte-banner{background-image:url("../images/update/update-banner.jpg"/*tpa=http://www.007cypt.com/images/update/update-banner.jpg*/);height:759px;}
.upadte-banner1{left:530px;top:360px;}
.upadte-banner2{left:400px;top:304px;}
.upadte-banner3{left:472px;top:200px;}
.upadte-banner4{right:400px;top:304px;}
.upadte-cate-box{top: 790px;left:0}
.update-before:before,.update-before before {content: "";position: absolute;top: 20px;bottom: 0px;width: 2px;;left: 603px;background: #eeeeee none repeat scroll 100% 100%;  }
.update-img5{margin-top:50px; margin-left:24px;z-index:500;}
.update-img7{margin-left: 24px;margin-top:20px;}
.update-time{margin-left:486px;z-index:500;}
.update-yuan{top:25px;right: 601.8px;}
.update-box{border-radius:8px; width:513px;padding-top:30px;padding-left:20px; padding-bottom:30px;margin-top:50px;}
.update-left-pos{margin-left:32px;}
.update-right-pos{margin-left:644px;}
.update-sjx{top:20px;right:636px;}
.update-sjx-1{top:20px;right:564px;}
.update-headr{width:80px; height:80px;margin-left:560px;margin-top:-5px;margin-top:-3px\9;}
.update-xian{top:50px;}
.update-cont-box{line-height:26px;}
.up-tit{margin-left:-85px;}
.up-left{margin-left:166px;}
.addr-cont-box{z-index: 1;height:552px;}
.addr-cont-box.active{display:none;opacity:0;filter:alpha(opacity=0);moz-transition: 1s ease;-o-transition: 1s ease;-webkit-transition:1s ease;}
.addr-cont-box li{height:552px;}
.addr-title{line-height:30px;max-width:605px;text-align:left;}
.add-iphone{padding:40px 40px 0px 40px;; }
.add-iphone1{padding:80px 40px 40px 40px; }
.addr-cont2 p{margin-left:20px; padding:10.4px 0;}
.addr-left-bg{background-color: #000\9; position:static; background:rgba(0,0,0,0.8)!important;filter:alpha(opacity=50);}
.addr-left-cont{margin-top:107px; margin-right:130px;}
.addr-right-float{padding:10px;position: fixed;right:-75px;top:50%;font-size:16px;opacity:0;filter:alpha(opacity=0); moz-transition: 1s ease;-o-transition: 1s ease;-webkit-transition:1s ease;}
.addr-right-float.active{right:0;opacity: 1;filter:alpha(opacity=100);}
.addr-right-jt{left:-18px;top:0;}
/*================================
                    帮助
==================================*/
.help-banner{background-image:url("../images/index-1.jpg"/*tpa=http://www.007cypt.com/images/index-1.jpg*/);height:480px;}
.help-banner0{background-image:url("../images/index-2.jpg"/*tpa=http://www.007cypt.com/images/index-2.jpg*/);height:480px;}
.help-banner1{left:440px; top:150px;}
.help-banner2{left:440px; top:350px;}
.help-tltle{font-size:24px; color:#000;}
.help-content{font-size:14px; color:#333333;margin-top:20px;padding-bottom:60px;}
.adv-tit-box{left:405px; top:158px;}
.authorize-box{width:734px; height:614px;top:261px;left:0px;}
.slideTxtBox{width:100%;}
.slideTxtBox .hd{height:80px;line-height:80px;background:#fff;position:relative}
.slideTxtBox .hd ul{width:100%}
.slideTxtBox .hd ul li{float:left;cursor:pointer;width:50%;box-sizing:border-box;font-size:30px;color:#333;background:#f6f6f9;text-align:center}
.slideTxtBox .hd ul li.on{height:80px;background:#EC5151;color:#fff;}
.slideTxtBox .bd ul{margin-top: 30px;zoom:1}
.authorize-jt{width:30px;height:23px;bottom: 0.8rem;left: 40%; opacity:0;filter:alpha(opacity=0);moz-transition: 0s ease;-o-transition: 0s ease;-webkit-transition:0s ease;}
.authorize-jt.active{opacity:0;filter:alpha(opacity=0);moz-transition: 1s ease;-o-transition: 1s ease;-webkit-transition:1s ease;}
/*
 右边悬浮样式
 * 
 * */
/*main css*/
.izl-rmenu{position:fixed; right:10px;  bottom:10%; padding-bottom:10px; background:url("../images/r_b.png"/*tpa=http://www.007cypt.com/images/r_b.png*/) 0px bottom no-repeat; z-index:6999; }
.izl-rmenu .btn{width:62px; height:63px; margin-bottom:1px; cursor:pointer; position:relative;}
.izl-rmenu .btn-qq{background:url("../images/r_qq.png"/*tpa=http://www.007cypt.com/images/r_qq.png*/) no-repeat; background-color: rgba(236, 81, 81, 0.8);background-color: rgba(236, 81, 81, 0.8);background-size:62px 63px; }
.izl-rmenu .btn-qq:hover{background-color: rgba(236, 81, 81, 1);}
.izl-rmenu a.btn-qq,.izl-rmenu a.btn-qq:visited{background:url("../images/r_qq.png"/*tpa=http://www.007cypt.com/images/r_qq.png*/) no-repeat;background-size:62px 63px; background-color: rgba(236, 81, 81, 0.8); text-decoration:none; display:block;}
.izl-rmenu .btn-wx{background:url("../images/r_wx.png"/*tpa=http://www.007cypt.com/images/r_wx.png*/) no-repeat; background-color: rgba(236, 81, 81, 0.8);background-size:62px 63px;}
.izl-rmenu .btn-wx:hover{background-color: rgba(236, 81, 81, 1);}
.izl-rmenu .btn-wx .pic{position:absolute; left:-160px; top:0px; display:none;width:160px;height:160px;}
.izl-rmenu .btn-phone{background:url("../images/r_phone.png"/*tpa=http://www.007cypt.com/images/r_phone.png*/) no-repeat; background-color: rgba(236, 81, 81, 0.8); background-size:62px 63px;}
.izl-rmenu .btn-phone:hover{background-color: rgba(236, 81, 81, 1);}
.izl-rmenu .btn-phone .phone{background-color:#ec5151; position:absolute; width:160px; left:-160px; top:0px; line-height:63px; color:#FFF; font-size:16px; text-align:center; display:none;}
.izl-rmenu .btn-top{background:url("../images/r_top.png"/*tpa=http://www.007cypt.com/images/r_top.png*/) no-repeat; background-color: rgba(236, 81, 81, 0.8); background-size:62px 63px;display:none;}
.izl-rmenu .btn-top:hover{background-color: rgba(236, 81, 81, 1);}
.demo-ewm{right: -8px;z-index: 4999;top: -240px;display:none;}
.demo-ewm.active{display:block;}
.but-n-box input{background:none;border:none;border:0;color:#fff;font-size:16px;} 

/*微筹*/
.raise-banner{background-image:url("../images/raise/1.jpg"/*tpa=http://www.007cypt.com/images/raise/1.jpg*/);height:777px;}
.raise-banner .banner-left{border:5px solid rgba(200,72,74,0.9);width:470px;height:322px;top:269px;left:-100px;}
.raise-banner .banner-left .banner-cont-box{background:rgba(200,72,74,0.9);width:438px; height:290px;margin:0 auto;margin-top:15px;}
.raise-banner .banner-left .banner-cont-box .cont{padding:38px 36px;}
.raise-banner .banner-left .banner-cont-box p{padding:10px 0}
.raise-banner .banner-left .banner-cont-box .button{background:rgba(255,255,255,0.9);width:100%;padding:10px 0;color:#ec5151;margin-top:20px;}
.raise-banner .banner-left .banner-cont-box .button:hover{background:rgba(255,255,255,0.7);width:100%;padding:10px 0;color:#ec5151;margin-top:20px;}
.raise-banner .banner-right{right:-100px;top:120px;}
.raise-cost-com{width:262px;height:155px;border-radius:5px;top:150px;left:15px;}
.raise-cost .zise{background:#a45be9;}
.raise-cost .huangse{background:#f06516;}
.raise-cost .lanse{background:#39a2e9;}
.raise-cost .hongse{background:#e75759;}
.raise-cost .content{padding:28px;}
.raise-cost .raise-cont{height:270px;}
.raise-data .data-img{top:200px;} 
.raise-data{height:550px;}
.raise-data .data-cont{top:540px;width: 100%;}
.raise-data .data-cont p{margin-left:10px;}
.raise-confused .confused-num{width:84px; height:84px; border-radius:100%;background:#EC5151;line-height:84px;margin:0 auto;margin-bottom:20px;}
.raise-confused .confused-num:hover{background:#d84141;}
.raise-confused  p{padding:3px 20px;line-height: 25px;color:#555;}
.raise-process{background-image:url("../images/raise/2.jpg"/*tpa=http://www.007cypt.com/images/raise/2.jpg*/);height:806px;}
.raise-process .process-right{left:53px; top:292px;}
.n-raise-box{width:100%;margin:0 auto;margin-top:70px;}
.n-raise-box .hd{background:#fff;position:relative;width:70%;margin:0 auto;}
.n-raise-box .hd ul{width:100%;}
.n-raise-box .hd ul li{float:left;cursor:pointer;width:33.33%;box-sizing:border-box;font-size:30px;color:#333;background:#f6f6f9;text-align:center;box-sizing: border-box;}
.n-raise-box .bd ul{margin-top: 30px;zoom:1}
.n-raise-box .bd  ul li{position: relative;}
.n-raise-box .tab-html5{background:#f66b22}
.n-raise-box .tab-css3{background:#3aa2e9}
.n-raise-box .tab-mvc{background:#a45ae9}
.n-raise-box .tab-com{width:142px;height:142px;border-radius:100%;margin:0 auto;}
.n-raise-box .tab-com img{margin-top: 28px;}
.n-raise-box .tab-cont-com{padding:30px;border-radius:10px;color:#fff;}
.n-raise-box .jiantou-html5{left:308px;}
.n-raise-box .jiantou-css3{left:596px;}
.n-raise-box .jiantou-mvc{right:308px;}
.n-raise-box .jiantou-com{height:20px;width:20px;top:-9px;-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);}
.next-btton{top:50%;right:20%;visibility: visible;}
.n-bg{background:rgba(0,0,0,0.5);position:absolute;left:0;top:0;bottom:0;right:0}
.flipster-nav{display:none;}
.flipto-prev {left: 20%;background:rgba(0,0,0,0.5);position:absolute;top:50%;width:75px;height:75px;border-radius:100%;line-height: 75px;}
.flipto-next,.flipto-prev {right: 20%;background:rgba(0,0,0,0.4);position:absolute;top:50%;width:75px;height:75px;border-radius:100%;}
.flipto-next div,.flipto-prev div{width:26px;height:38px;margin:0 auto;margin-top:18px;}
.flipto-next div img,.flipto-prev div img{width:100%;}
.flipto-prev div{margin-top:22px;-moz-transform: rotate(180deg);-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);}
.raise-list-img{width:360px;}
.am-left{position:relative; animation: HTMLBOX 0.8s;}
	@keyframes HTMLBOX{0%   {opacity: 0;}100% {opacity: 1;}}
.flipster{display:block;margin:0 auto;width:100%;position:relative;overflow-y:visible;margin-top:60px}
.flip-items,.flip-item{display:block;margin:0 auto;padding:0;list-style-type:none}
.flip-items {
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.flip-item{position:absolute;opacity:.99}
.flip-past,.flip-future,.flip-next,.flip-prev {cursor: pointer;}
.flip-item img {display: block;}
.flipster-coverflow .flip-items {
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  position: relative;
  padding-top: 2%;
  padding-bottom: 5%;
}
.flipster-coverflow .flip-item {
  display: block;
  -webkit-transition: all 175ms ease-in-out;
  -moz-transition: all 175ms ease-in-out;
  -o-transition: all 175ms ease-in-out;
  -ms-transition: all 175ms ease-in-out;
  transition: all 175ms ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
  position: absolute;
  width: 30%;
}
.flipster-coverflow .flip-content {
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  -webkit-box-reflect: below 0 -webkit-gradient(linear, left bottom, left top, color-stop(0.05, rgba(255, 255, 255, 0.12)), color-stop(0.2, transparent));
}
.flipster-coverflow .flip-past .flip-content {
  -webkit-transform: rotateY(55deg) scale(0.75);
  -moz-transform: rotateY(55deg) scale(0.75);
  -o-transform: rotateY(55deg) scale(0.75);
  -ms-transform: rotateY(55deg) scale(0.75);
  transform: rotateY(55deg) scale(0.75);
}
.flipster-coverflow .flip-future .flip-content {
  -webkit-transform: rotateY(-55deg) scale(0.75);
  -moz-transform: rotateY(-55deg) scale(0.75);
  -o-transform: rotateY(-55deg) scale(0.75);
  -ms-transform: rotateY(-55deg) scale(0.75);
  transform: rotateY(-55deg) scale(0.75);
}

.flipster-coverflow.no-rotate .flip-past .flip-content {
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -o-transform:scale(0.75);
  -ms-transform:scale(0.75);
  transform: scale(0.75);
}
.flipster-coverflow.no-rotate .flip-future .flip-content {
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -o-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
}


.flipster-coverflow .flip-current .flip-content {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.flipster-coverflow .flip-hidden {
  visibility: hidden;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
/* @end */
/* @group Flip Items */
.flipster-carousel .flip-items {
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  perspective: 2000px;
}
.flipster-carousel .flip-item {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 350ms ease-out;
  -moz-transition: all 350ms ease-out;
  -o-transition: all 350ms ease-out;
  -ms-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
}
.no-csstransforms .flipster-carousel .flip-item {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
.flipster-carousel .flip-items img {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.flipster-carousel .flip-past {
  -webkit-transform: translateX(-135%) translateZ(0) rotateY(50deg) scale(0.65);
  -moz-transform: translateX(-135%) translateZ(0) rotateY(50deg) scale(0.65);
  -o-transform: translateX(-135%) translateZ(0) rotateY(50deg) scale(0.65);
  -ms-transform: translateX(-135%) translateZ(0) rotateY(50deg) scale(0.65);
  transform: translateX(-135%) translateZ(0) rotateY(50deg) scale(0.65);
}
.flipster-carousel.no-rotate .flip-past {
  -webkit-transform: translateX(-80%) translateZ(0)  scale(0.65);
  -moz-transform: translateX(-80%) translateZ(0)  scale(0.65);
  -o-transform: translateX(-80%) translateZ(0)  scale(0.65);
  -ms-transform: translateX(-80%) translateZ(0) scale(0.65);
  transform: translateX(-80%) translateZ(0) scale(0.65);
}
.no-csstransforms3d .flipster-carousel .flip-past {
  -webkit-transform: translateX(-56%) scale(0.5);
  -moz-transform: translateX(-56%) scale(0.5);
  -o-transform: translateX(-56%) scale(0.5);
  -ms-transform: translateX(-56%) scale(0.5);
  transform: translateX(-56%) scale(0.5);
}
.no-csstransforms .flipster-carousel .flip-past {
  left: -20%;
  top: 40%;
  width: 50%;
  height: 50%;
}
.flipster-carousel .flip-future {
  -webkit-transform: translateX(135%) translateZ(0) rotateY(-50deg) scale(0.65);
  -moz-transform: translateX(135%) translateZ(0) rotateY(-50deg) scale(0.65);
  -o-transform: translateX(135%) translateZ(0) rotateY(-50deg) scale(0.65);
  -ms-transform: translateX(135%) translateZ(0) rotateY(-50deg) scale(0.65);
  transform: translateX(135%) translateZ(0) rotateY(-50deg) scale(0.65);
}

.flipster-carousel.no-rotate .flip-future {
  -webkit-transform: translateX(80%) translateZ(0) scale(0.65);
  -moz-transform: translateX(80%) translateZ(0) scale(0.65);
  -o-transform: translateX(80%) translateZ(0) scale(0.65);
  -ms-transform: translateX(80%) translateZ(0) scale(0.65);
  transform: translateX(80%) translateZ(0) scale(0.65);
}

.no-csstransforms3d .flipster-carousel .flip-future {
  -webkit-transform: translateX(56%) scale(0.5);
  -moz-transform: translateX(56%) scale(0.5);
  -o-transform: translateX(56%) scale(0.5);
  -ms-transform: translateX(56%) scale(0.5);
  transform: translateX(56%) scale(0.5);
}
.no-csstransforms .flipster-carousel .flip-future {
  left: 88%;
  top: 40%;
  width: 50%;
  height: 50%;
}
.flipster-carousel .flip-prev {
  -webkit-transform: translateX(-80%) translateZ(0) rotateY(30deg) scale(0.8);
  -moz-transform: translateX(-80%) translateZ(0) rotateY(30deg) scale(0.8);
  -o-transform: translateX(-80%) translateZ(0) rotateY(30deg) scale(0.8);
  -ms-transform: translateX(-80%) translateZ(0) rotateY(30deg) scale(0.8);
  transform: translateX(-80%) translateZ(0) rotateY(30deg) scale(0.8);
}
.flipster-carousel.no-rotate .flip-prev {
  -webkit-transform: translateX(-60%) translateZ(0) scale(0.8);
  -moz-transform: translateX(-60%) translateZ(0) scale(0.8);
  -o-transform: translateX(-60%) translateZ(0) scale(0.8);
  -ms-transform: translateX(-60%) translateZ(0) scale(0.8);
  transform: translateX(-60%) translateZ(0) scale(0.8);
}
.no-csstransforms3d .flipster-carousel .flip-prev {
  -webkit-transform: translateX(-24%) scale(0.75);
  -moz-transform: translateX(-24%) scale(0.75);
  -o-transform: translateX(-24%) scale(0.75);
  -ms-transform: translateX(-24%) scale(0.75);
  transform: translateX(-24%) scale(0.75);
}
.no-csstransforms .flipster-carousel .flip-prev {
  left: -9%;
  top: 20%;
  width: 75%;
  height: 75%;
}
.flipster-carousel .flip-next {
  -webkit-transform: translateX(80%) translateZ(0) rotateY(-30deg) scale(0.8);
  -moz-transform: translateX(80%) translateZ(0) rotateY(-30deg) scale(0.8);
  -o-transform: translateX(80%) translateZ(0) rotateY(-30deg) scale(0.8);
  -ms-transform: translateX(80%) translateZ(0) rotateY(-30deg) scale(0.8);
  transform: translateX(80%) translateZ(0) rotateY(-30deg) scale(0.8);
}
.flipster-carousel.no-rotate .flip-next {
  -webkit-transform: translateX(60%) translateZ(0)  scale(0.8);
  -moz-transform: translateX(60%) translateZ(0) scale(0.8);
  -o-transform: translateX(60%) translateZ(0) scale(0.8);
  -ms-transform: translateX(60%) translateZ(0) scale(0.8);
  transform: translateX(60%) translateZ(0) scale(0.8);
}

.no-csstransforms3d .flipster-carousel .flip-next {
  -webkit-transform: translateX(24%) scale(0.75);
  -moz-transform: translateX(24%) scale(0.75);
  -o-transform: translateX(24%) scale(0.75);
  -ms-transform: translateX(24%) scale(0.75);
  transform: translateX(24%) scale(0.75);
}
.no-csstransforms .flipster-carousel .flip-next {
  left: 39%;
  top: 20%;
  width: 75%;
  height: 75%;
}
.flipster-carousel .flip-past,
.flipster-carousel .flip-future {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  z-index: 1;
  -webkit-transition-delay: 87.5ms;
  -moz-transition-delay: 87.5ms;
  -o-transition-delay: 87.5ms;
  transition-delay: 87.5ms;
}
.flipster-carousel .flip-prev,
.flipster-carousel .flip-next {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  z-index: 2;
  -webkit-transition-delay: 58.333333333333336ms;
  -moz-transition-delay: 58.333333333333336ms;
  -o-transition-delay: 58.333333333333336ms;
  transition-delay: 58.333333333333336ms;
}
.flipster-carousel .flip-current {
  z-index: 999;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transition-delay: 58.333333333333336ms;
  -moz-transition-delay: 58.333333333333336ms;
  -o-transition-delay: 58.333333333333336ms;
  transition-delay: 58.333333333333336ms;
}
.flipster-carousel .flip-hidden {
  visibility: hidden;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: rotateY(0deg) translateX(0) scale(0.5);
  -moz-transform: rotateY(0deg) translateX(0) scale(0.5);
  -o-transform: rotateY(0deg) translateX(0) scale(0.5);
  -ms-transform: rotateY(0deg) translateX(0) scale(0.5);
  transform: rotateY(0deg) translateX(0) scale(0.5);
  -webkit-transition-delay: 116.66666666666667ms;
  -moz-transition-delay: 116.66666666666667ms;
  -o-transition-delay: 116.66666666666667ms;
  transition-delay: 116.66666666666667ms;
}
/*更新首页*/
.raise-what p{line-height: 30px;}
.mechanism-box{
	  background: -webkit-linear-gradient(90deg, #133446, #490c1c); /* Safari 5.1 - 6.0 */
		background: -o-linear-gradient(90deg, #133446, #490c1c); /* Opera 11.1 - 12.0 */
		background: -moz-linear-gradient(90deg, #133446, #490c1c); /* Firefox 3.6 - 15 */
		background: linear-gradient(90deg, #133446, #490c1c); /* 标准的语法（必须放在最后） */
}
.mechanism-cont{padding:30px 0;}
.mechanism-cont li{float:left;width:20%;box-sizing: border-box;padding:22px 30px;text-align: center;}
.mechanism-cont li h4{padding:10px 0; color:#fff;}
.mechanism-cont li p{line-height: 25px;color:rgba(255,255,255,0.6);}
.mechanism-box .btn-box{margin:0 auto;width:200px;}
.shengtai-box{height:860px;}
.shengtai-img{top:280px;}
.n-remarks-cont{margin:30px 0 0 63px;}



.service_banner{ width:100%; height:593px; background:url("../images/service_banner.jpg"/*tpa=http://www.007cypt.com/images/service_banner.jpg*/) center top no-repeat;}
.service_tabs{ width:100%; height:80px; background:#ec5051;}
.service_tabs ul{ float:left; width:1200px;}
.service_tabs ul li{ width:50%; height:80px; line-height:80px; font-size:20px; color:#fff; float:left; text-align:center; position:relative; cursor:pointer;}
.service_tabs ul li.current,.service_tabs ul li:hover{ background:#dc3536;}
.service_tabs ul li.current i{width:0px;height:0px;border-top:10px solid #dc3536;border-left:15px solid transparent;border-right:15px solid transparent; position:absolute; top:80px; left:285px;}

.service_con{ width:1200px; margin:48px auto 100px;}
.service_con table{  border-collapse: collapse; font-size:16px; background:#fff; width:100%;}
.service_con table td,.service_con table th{ border:1px solid #dcdcdc; height:45px; line-height:45px; text-align:center;}
.service_con table th{ height:58px; line-height:58px; font-size:20px; font-weight:bold; color:#333; background:#ffefef; border-top:2px solid #ec5051;}
.service_con table .th1{ width:400px;}
.service_con table .td3{ width:165px;}
.service_con table .th3{ width:628px;}
.service_con table .td1{ width:68px;}
.service_con table .td1 span{ width:20px; display:block; line-height:20px; padding:0 24px; font-size:20px; color:#333;}
.service_con table .td2{ text-align:left; padding-left:30px; color:#333;}
.service_con table .td4{ text-align:left; padding-left:50px; padding-right:10px;}
.service_con table td .icon{ width:27px; height:25px; display:block; float:left; background-position:0 0; margin-left:65px;}
.service_con table td .icon.ok{ background-position:-9px -264px;}
.service_con table td .icon.error{ background-position:-54px -265px;}

.service_con table td .row1{ display:inline-block; *display:inline; *zoom:1; padding:20px 0; text-align:center;}
.service_con table td .row2{ line-height:35px;}
.rmb {
    margin: -2px 10px 0 0;
    display: inline-block;
    width: 27px;
    height: 27px;
    vertical-align: middle;
}
.n-service-box{padding-bottom:10px;}
