@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
a:link,a:visited{text-decoration:none;}
body{background:#fff; color:#333;font-weight:500; font-family:"Microsoft YaHei", "Arial", simsun, sans-serif;font-size:14px;}
div{margin:auto;}
.fl{float:left;}
.fr{float:right;}
.clr{clear:both;}
input, button, select, textarea {outline: none;resize: none;}
.bd1{border:1px solid #e1e1e2;}
/*清除浮动*/
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }/* Hides from IE-mac \*/
* html .clearfix { zoom:1; }
.clearfix { display:block; }/* End hide from IE-mac */

/* 头部 */
.container{width:1260px; margin:0 auto;}
#header{height:260px;position:relative; font-size:13px; z-index:99;}
.headtp{height:40px; background:#0b64b6; line-height:40px; color:#eee;width:100%;min-width: 1260px;}
.headtp a{color:#eee; margin-right:10px; font-size:14px; _display:inline-block;}
*+html .headtp a{line-height:27px; height:27px;}
.headtp a:hover{color:#ffffff;}

.search{margin:7px 15px 0 0; width:227px; height:26px;}
.search input{float:left; display:inline;}
.search .iptxt{width:157px; line-height:26px; height:26px; padding:0 11px; color:#c6c6c6; font-size:12px; border:0px;}
.search .subtn{width:38px; float:right; background:none; height:26px; cursor:pointer; background:url(../images/search-icon.png)  no-repeat;}
body{background: url(../images/idxbg.png) left 260px repeat-x #e8f3fb;}

/* 头部的下面部分 */
.headcon{height:220px; background:url(../images/logo_bg.png) center top no-repeat;width: 100%;min-width: 1260px;}
.headcon .container{height:220px; position:relative;}
.headcon a{width:758px; height:150px; display:inline-block; margin-top:35px;}

/* 导航 */
.nav{position:absolute;width:100%; left:0px; height:51px;}
.navbar{ background:#2a7cae; height:51px;}
.navbar ul{margin-left: 95px;}
.navbar ul li{float:left; margin:0 4px; position:relative; display:inline;width: 130px;}
*+html .navbar ul li{margin:0 2px;}
.navbar ul li a{padding:0 17px; line-height:51px; font-size:16px; color:#fff; text-align:center; font-weight:bold; display:inline-block; text-shadow: -1px -1px 0 #0164a8; text-decoration:none;}
.navbar ul li.current a,.navbar ul li a:hover,.navbar ul li a.navhover{background:url(../images/navcur.png)  repeat-y ; color:#ffffff; text-shadow:none;}
.navbar ul li a.navhover{color:#ffffff; text-decoration:none;}
.navbox{position:absolute; top:51px; width:1145px; height:371px; z-index:999; padding-top:4px; background:url(.); display:none;}
.navlist{width:1139px; border:3px solid #83afd1; height:365px;  background:url(../images/navlist.gif) left top repeat-x;}
.abtnav{left:-119px; width:auto;}
.abtnav .navlist{width:auto;}
.abtnav .abtwidth{width:1140px;}
.memnav{left:-401px;}
.wynav{left:-537px;}
.wynav .navc2{width:723px;}
.wynav .navc2 .navc{width:723px; height:130px; overflow:hidden;}
.navsj{width:12px; height:6px; background:url(/images/com.gif) -71px 0px no-repeat; display:inline-block; position:absolute; top:-6px; left:150px;}
.memnav .navsj{left:364px;}
.wynav .navsj{left:478px;}
.navl,.navc,.navr{overflow:hidden;}
.navl,.navc{background:url(../images/navline.png) right center no-repeat;}
.navl{width:352px; height:365px;}
.navc{width:347px; padding:30px 32px 0 34px; height:335px;}
.abtnav .navc{width:720px; background:none;}
.navr{width:272px; padding:30px 73px 0 0; height:335px;}
.navl h2{margin:71px 0 0 42px; background:url(../images/navtit.png) left top no-repeat; height:120px; text-indent:-9999px;}
.memnav .navl h2{background:url(../images/hyzx.png) left top no-repeat;}
.wynav .navl h2{background:url(../images/cpfw.png) left top no-repeat;}
.navl dl{margin:10px 0 0 35px;}
.navl dl dd{width:126px; height:29px; border-radius:5px;border: 2px solid #294b59; float:left; margin:10px 7px; text-align:center; line-height:29px;}
.wynav .navl dl dd{width:50%;}
.navbar ul li .navl dl dd a,.navbar ul li.current .navl dl dd a{font-size:16px; color:#000; display:block; background:#ffffff; padding:0 20px 0 25px; line-height:29px; font-weight:normal; text-shadow:none;}
.navbar ul li .wynav .navl dl dd a,.navbar ul li.current .wynav .navl dl dd a{background-position:220px -15px;}
.navbar ul li .navl dl dd a:hover,.navbar ul li.current .navl dl dd a:hover{text-decoration:none; color:#0584dc;}
.navlist h3{border-left:5px solid #e60012; height:21px; line-height:21px; padding-left:8px; font-size:18px; color:#000;}
.navlist p{line-height:24px; color:#000; font-size:14px; text-align:justify; text-justify:inter-ideograph; margin-top:10px;}
.navbar ul li a.more,.navbar ul li.current a.more{color:#0780d3; font-size:14px; float:right; margin-top:15px; background:none; font-weight:normal; line-height:18px; padding:0px; text-shadow:none;}
.navc img{width:345px; height:80px; margin:9px 0 0 0;}
.navc img.navczjg{width:607px; height:265px;}
.navr1,.navr2{height:145px;}
.navr2{margin-top:18px;}
.navr3{margin-top:-4px;}
.navlist .navr1 a.more{margin-top:10px;}
.navlist .navr p{margin-top:13px;}


/* 底部*/
#footer{width: 100%;margin: 0 auto;background:#2a7cae;height: 200px;min-width: 1260px;clear: both;}
#footer .fttool{height:32px; line-height:32px;color:#fff; font-size:16px; padding-top:15px;text-align:center;font-family: "Microsoft YaHei", "Arial", simsun, sans-serif;}
#footer .fttool a{color:#fff;}
#footer .ftbt{ color:#fff; line-height:27px; font-size:14px;background:#2a7cae; margin-top: 20px;}
#footer .ftbt a{color:#f4f5f6;}
#footer .ftbt .middle{margin-right: 10px;}
#footer .ftbt .ftbt_left{margin-left: 100px;}
#footer .ftbt .ftbt_right{margin-right: 100px;}
#footer .copyright{text-align: center;font-size:12px;clear: both;color: #ffffff;padding-top: 10px;}

/*左侧微信*/
#ewm{width:45px; height:145px;	position:fixed;	left:9px; bottom:280px; z-index:100; _position:absolute;	_bottom: auto; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-100-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)))}
#ewm span{font-size:12px; cursor:pointer;font-weight: bold;}
#ewm img{width:120px;}


/**右侧工具按钮**/
#sidebar {width:45px; height:145px;	position:fixed;	right:20px; bottom:250px; z-index:100;	_position:absolute;	_bottom: auto; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-100-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)))}
#sidebar li{ width:40px; height:40px; text-align:center; line-height:40px; background:url(../images/rtool.png) no-repeat ;cursor: pointer; margin-bottom:5px; position:relative; float:left; border-radius:5px;}
#sidebar li.current{background:#0780d3; color:#fff; border-radius:5px; font-weight:bold }
#sidebar li.qq{ background-position:0px 1px; background-color:#4e9ac8;}
#sidebar li.qq:hover{background:#4e9ac8;}
#sidebar li.qrcode{ background-position:0px -51px}
#sidebar li.qrcode:hover{background:#51b341;}
#sidebar li.share{ background-position:0px -105px}
#sidebar li.share:hover{background:#00b58a;}
#sidebar li.gotop{ background-position:0px -158px}
#sidebar li.gotop:hover{background:#de6c8f;}
#sidebar li a{filter:alpha(opacity=0); -moz-opacity:0; -khtml-opacity:0; opacity:0; color:#fff;}
#sidebar li.current a{filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity:1; opacity:1;}
#sidebar li .showbox,#sidebar li span{ display:none}
#sidebar li span{color:#fff;}
#sidebar li.current .showbox{ display:block; width:100px; position:absolute; right:80px; top:0px;}
#sidebar li.current span{ display:block; color:#fff;}
.gotop{ display:none}
#sidebar li.qq .showbox{right:40px; width:120px; *right:40px; background:url(.);}
#sidebar li.qrcode .showbox{right:45px; width:120px; top:-6px; _right:50px;}
#sidebar .qq .showbox .qqtop{ height:30px; line-height:30px; background:#8acff0; text-align:center; color:#036892;}
#sidebar .qqlist{width:100px; border:1px solid #4d616c; border-radius:5px; background:#fff;}
#sidebar .qqlist2{padding:8px;height: 50px;}
#sidebar .qqlist2 a{display:inline-block; height:25px; width:60px; font-size:12px; color:#666; overflow:hidden; float:left; margin:0 0 2px 3px; background:url(../images/qqtalk.jpg) no-repeat; padding-left:19px; line-height:25px; font-weight:normal;}
#sidebar .qqlist2 a:hover{text-decoration:none; color:#000;}
#sidebar .qqlist2 a img{float:left; display:inline-block;}




