@charset "utf-8";
/* CSS Document */
/*
	企业注册
*/
.content{
    width:990px;
    margin:15px auto 0;
}
.content .title{
    height:30px;
    border-bottom:1px solid #CF1C22;
}
.title ul{
    width:204px;
    margin:0 auto;
}
.title ul li{
    float:left;
    width:100px;
    height:30px;
    font:normal 14px/30px "Simsun";
    color:#333;
    margin-right:2px;
    background:#eee;
    text-align:center;
    cursor:pointer;
}
.title ul li.cur{
    background:#CF1C22;
    color:#fff;
    font-weight:bold;
}
.introduce{
    width:990px;
    height:170px;
    background:url(../../images/regfront/intro-bg.png) no-repeat;
    margin:20px 0 20px -1px;
}
.introduce .intro-item{
    float:left;
    width:199px;
    _width:198px;
    margin-left:1px;
    padding:0 70px 0 60px;
}
.introduce .intro-item dt{
    height:34px;
    font:bold 14px/38px "Simsun";
    color:#FF7F00;
    margin-bottom:6px;
}
.introduce .intro-item dd{
    line-height:24px;
}
/*步骤条*/
.step{
    width:660px;
    height:37px;
    background:url(../../images/regfront/firm-step.png) no-repeat;
}
.step li{
    text-indent:-99999px;
}

/*注册*/
.firm-register{
    width:800px;
}
.firm-register fieldset{
    border-bottom:1px solid #ccc;
}
.firm-register legend{
    width:100px;
    font:bold 14px/18px "Simsun";
    padding:15px 0 20px;
    text-align:left;
    color:#000;
}



.fields legend{

    width:100px;
    font:bold 14px/18px "Simsun";
    padding:35px 0 20px;
    text-align:left;
    color:#000;

}

.reg-item{
    padding:0 0 20px 100px;
}
.reg-label{
    display:inline;
    float:left;
    width:100px;
    height:28px;
    line-height:28px;
    margin-left:-100px;
    text-align:right;
    color:#666;
}
.red{
    margin:0 2px;
    font-weight:700;
    color:#f00;
}
.reg-input{
    display:inline-block;
    font:normal 12px/26px Arial, Helvetica, sans-serif;
    color:#666;
    float:left;
}
.reg-input .reg-input, .short-input{
    width:170px;
    height:26px;
    border:1px solid #ccc;
    padding:0 5px;
    font:normal 12px/26px Arial, Helvetica, sans-serif;
}
.reg-input .long-input{
    width:350px;
}
.reg-input input.tel-input,.reg-input input.mail-input{
    font:bold 14px/26px Arial, Helvetica, sans-serif;
}
.short-input{
    float:left;
    width:75px;
}
.cur .reg-input input, .cur .short-input{
    border:1px solid #FFCC69;
}
.err .reg-input  input, .err .short-input{
    border:1px solid #FF8080;
}
.err .tips-cx{
    color:#f00;
}
.reg-tips{
    float:left;
    width:355px;
    padding:5px 5px 5px 30px;
    line-height:16px;
    color:#999;
}
.reg-tips i{
    float:left;
    display:inline;
    width:15px;
    height:15px;
    background:url(../../images/regfront/register.png) no-repeat -45px -20px;
    margin-left:-20px;
}
.err .reg-tips i{
    background-position:-45px -38px;
}
.success .reg-tips i{
    background-position:-45px -63px;
}
.reg-jxm{
    float:left;
    display:inline-block;
    width:190px;
}
.reg-short{
    width:100px;
}
.reg-btn,.tips-btn span{
    width:113px;
    height:23px;
    line-height:24px;
    border:0 none;
    background:url(../../images/regfront/register_btn.png) no-repeat 0 0;
    text-align:center;
    cursor:pointer;
}
.reg-jxm .tips,.tips-cx{
    width:113px;
    text-align:center;
    color:#ccc;
    padding:8px 0;
}
.tips-cx{
    clear:both;
    width:190px;
    text-align:left;
}
.tips-btn span{
    display:inline-block;
    width:145px;
    background-position:0 -25px;
    color:#999;
}
.reg-jym{
    float:right;
    position:relative;
    display:inline-block;
}
.reg-jym p{
    position:absolute;
    top:-16px;
    left:5px;
    color:#999;
    _top:-13px;
}
.reg-input .pw-safe{
    width:182px;
    float:none;
    margin-top:3px;
}
.reg-input .pw-safe span{
    font-weight:normal;
    font-size:12px;
}
.pw-safe{
    float:left;
    width:243px;
    height:14px;
    overflow:hidden;
    position:relative;
    background:#FFD099;
}
.pw-bar{
    height:14px;
    overflow:hidden;
    background:#FF6600;
    transition:all .4s linear;
    -webkit-transition:all .4s linear;
    -moz-transition:all .4s linear;
    -o-transition:width .4s linear;
}
.pw-weak .pw-bar{
    width:60px;
}
.pw-medium .pw-bar{
    width:121px;
}
.pw-halfstrong .pw-bar{
    width:182px;
}
.pw-strong .pw-bar{
    width:243px;
}
.pw-letter{
    width:250px;
    position:absolute;
    left:0;
    top:0;
}
.pw-letter span{
    float:left;
    width:60px;
    height:14px;
    line-height:14px;
    _line-height:16px;
    overflow:hidden;
    text-align:center;
    border-right:1px solid #fff;
    color:#fff;
}
.reg-input label{
    margin-right:8px;
}
.reg-input label input{
    margin:0 2px;
    vertical-align:-2px;
    _vertical-align:0px;
}
.reg-input .reg-text{
    width:350px;
    height:150px;
    border:1px solid #ccc;
    font:normal 12px/18px "Simsun";
}
.reg-input .reg-text2{
    width:600px;
    height:200px;
    font:normal 12px/18px "Simsun";
    border:1px solid #A8C7DC;
}
.reg-input .remark{
    width:350px;
    color:#999;
    text-align:right;
}
.reg-input .remark-tips{
    font:bold 12px/18px "Simsun";
    padding:5px 0;
}
.gome-xy a{
    color:#0092D2;
}

.top {
    background: url("../../images/regfront/register_bg.gif") repeat-x scroll 0 0 transparent;
    height: 95px;
    overflow: hidden;
    width: 100%;
}

.top .header {
    background: url("../../images/regfront/register_header_bg.gif") no-repeat scroll 0 bottom transparent;
    height: 95px;
    margin: 0 auto;
    width: 994px;
}
.top .header .logo {
    float: left;
    height: 80px;
    overflow: hidden;
    width: 230px;
}
a {
    color: #333333;
    text-decoration: none;
}
img {
    border: 0 none;
}

.err .reg-input input, .err .short-input {
    border: 1px solid #FF8080;
}
.reg-input input {
    border: 1px solid #CCCCCC;
    font: 12px/26px Arial,Helvetica,sans-serif;
    height: 26px;
    padding: 0 5px;
    width: 170px;
}
.top .header .topNav {
    float: right;
    height: 30px;
    padding-right: 10px;
    width: 330px;
}
.top .header .topNav .n5 {
    background: url("../../images/regfront/header_icon_04.gif") no-repeat scroll left center transparent;
    color: #FF3300;
    font-family: Tahoma;
    font-weight: bold;
    padding-left: 23px;
}
.top .header .topNav span {
    float: right;
    line-height: 30px;
}
.top .header .topNav em {
    background: url("../../images/regfront/header_topbg_02.gif") no-repeat scroll center center transparent;
    color: #CCCCCC;
    float: right;
    font-style: normal;
    height: 30px;
    margin-left: 6px;
    margin-right: 6px;
    width: 1px;
}
.top .header .topNav span {
    float: right;
    line-height: 30px;
}
a {
    color: #333333;
    text-decoration: none;
}
.top .header .topNav .n3 {
    height: 30px;
    position: relative;
    width: 59px;
}
.top .header .topNav .n3 a {
    background: url("../../images/regfront/header_ico.gif") no-repeat scroll 0 -110px transparent;
    display: block;
    height: 30px;
    padding-right: 8px;
}.top .header .topNav .n3 .n3_Layer {
     background-color: #FFFFFF;
     border: 1px solid #CB0000;
     left: -6px;
     padding-bottom: 5px;
     position: absolute;
     top: 2px;
     width: 72px;
 }
.top .header .topNav .n3 .n3_Layer h2 {
    background: url("../../images/regfront/header_ico.gif") no-repeat scroll 0 -138px transparent;
    color: #FF3300;
    height: 24px;
    line-height: 24px;
    margin-left: 5px;
    margin-right: 5px;
    width: 59px;
}
p, input, form {
    margin: 0;
    padding: 0;
}
.top .header .topNav .n3 .n3_Layer p a {
    background-image: none;
    height: 20px;
    line-height: 20px;
    margin-left: 3px;
    padding: 0;
    text-decoration: none;
}
.switch-way a, .msg-cnt a, .tips-btn a, .reg-ask dd a, .suc-jh a, .suc-problem dd a, .suc-info span a, .safe-info .state a {
    color: #0092D2;
}