/* 轮播 */
.index_banner{position:relative;margin-top:51px;height:298px;min-width:1260px;}
.index_banner li{position:absolute;top:0;left:0;overflow:hidden;width:1260px;height:298px;}
.index_banner li.first{background:url(../images/banner1.jpg) center top no-repeat;}
.index_banner li.second{background:url(../images/banner1.jpg) center top no-repeat;}
.index_banner li.third{background:url(../images/banner1.jpg) center top no-repeat;}
.index_banner li a{display:block;margin:0 auto;width:1260px;height:298px;}
.index_banner cite{position:absolute;bottom:10px;left:50%;z-index:998;display:block;margin-left:-33px;width:288px;height:15px;_display:none;}
.index_banner cite span{float:left;display:block;margin:0 4px;width:40px;height:8px;background-color:#e5e5e5;text-indent:-999em;opacity:.8;cursor:pointer;}
.index_banner cite span:hover{background-color:#f5f5f5;}
.index_banner cite span.cur{background-color:#1d8bd8;cursor:default;}

/* 第二层 */

/* 小轮播 */
.banlbox{width:550px;margin-top: 30px;}
.focusBox { position: relative; width:550px; height:370px; overflow: hidden; font: 12px/1.5 Verdana, Geneva, sans-serif; text-align: left; background: white; z-index:1;}
.focusBox .pic img { width: 550px; height: 370px; display: block; }
.focusBox .txt-bg { position: absolute; bottom:0px; z-index: 1; height:48px; width:100%;  background: #000; filter: alpha(opacity=60); opacity: 0.6; -moz-opacity: 0.6; overflow: hidden; }
.focusBox .txt { position: absolute; bottom:3px; z-index: 2; height:48px; width:100%; overflow: hidden; }
.focusBox .txt li{ height:48px; line-height:48px; position:absolute; bottom:-36px;}
.focusBox .txt li a{ display: block; color:#fff; padding: 0 150px 0 28px; font-size: 18px; text-decoration: none; }
.focusBox .num { position: absolute; z-index: 3; bottom:17px; right:29px; }
.focusBox .num li{ float: left; position: relative; width: 10px; height: 10px; line-height: 10px; overflow: hidden; text-align: center; margin-right:6px; cursor: pointer; }
.focusBox .num li a,.focusBox .num li span { position: absolute; z-index: 2; display: block; color: white; width: 100%; height: 100%; top: 0; left: 0; text-decoration: none; text-indent:-999px;}
.focusBox .num li span { z-index: 1; background:#fff;}
.focusBox .num li.on a,.focusBox .num a:hover{ background:#e70014;}

/* 小轮播右侧列表 */
.banrbox{width:378px;margin-top: 30px;margin-left: 20px;}
.banrbox .tabs{ height:26px; }
.banrbox .tabs li{float:left; margin-right:5px;background: #ffffff;}
.banrbox .tabs li a{padding:0 15px;border: 2px solid #989a9b; display:inline-block; font-size:16px; font-weight:bold; height:26px; line-height:26px; color:#000000;}
.banrbox .tabs li a.current{background:url(../images/bancur.png) center bottom no-repeat; color:#000000;border: 2px solid #ff0072;}
.banrbox .tabs li a:hover{text-decoration:none;}
.banrbox .panes ul{padding:0 36px 0 16px;background:#ffffff;border: 1px solid #838586;border-top: 3px solid #2a7cae;}
.banrbox .panes ul li{padding:0 0 0 13px; line-height:34px;margin-top: 3px;border-bottom:1px solid #c5c5c6;background:url(../images/syuan.png) left center no-repeat;overflow:hidden;position:relative;}
.banrbox .panes ul li a{font-size:15px; color:#000000;font-family:"Microsoft YaHei", "Arial", simsun, sans-serif;}
.banrbox .panes ul li a:hover{color:#ff0072;font-weight: bold;}
.banrbox .panes ul li a span{position:absolute;right:0;top:0;font-weight: normal;}

/*.banrbox .panes ul li.fst{padding:14px 0 13px 9px; background:none; line-height:24px; width:318px;}*/
/*.banrbox .panes li.fst{text-overflow:clip; white-space:normal; overflow:auto;}*/
/*.banrbox .panes ul li.fst a{font-size:19px; font-weight:bold; line-height:32px; color:#000;}*/
/*.banrbox .panes a.more{font-size:14px; float:right; color:#595757; margin-top:-3px;}*/

/* 最右边功能块 */
.features{margin-top: 30px;width:312px;float: right;}
.features li{width: 135px;height: 115px;margin-left: 20px;margin-bottom: 12px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;float: left;display: block;}
.features .member{background: #2a7cae;}
.features .member:hover{background: #2c93d2;}
.features .service{background: #e69a41;}
.features .service:hover{background: #e5a861;}
.features .cooperation{background: #31b1ff;}
.features .cooperation:hover{background: #4cb7f8;}
.features .guide{background: #30ca78;}
.features .guide:hover{background: #37ed8c;}
.features .feedback{background: #fc3879;}
.features .feedback:hover{background: #ee4a80;}
.features .downland{background: #31c6ac;}
.features .downland:hover{background: #3df0d1;}

/* 第三层 */
/* 左边列表*/
.bllist{width: 948px;margin-top: 30px;}
.bllist .tabs{ height:26px; }
.bllist .tabs li{float:left; margin-right:5px;background: #ffffff;}
.bllist .tabs li a{padding:0 15px;border: 2px solid #989a9b; display:inline-block; font-size:16px; font-weight:bold; height:26px; line-height:26px; color:#000000;}
.bllist .tabs li a.current{background:url(../images/bancur.png) center bottom no-repeat; color:#000000;border: 2px solid #ff0072;}
.bllist .tabs li a:hover{text-decoration:none;}
.bllist  .panes ul{padding:0 36px 0 6px;background:#ffffff;border: 1px solid #838586;border-top: 3px solid #2a7cae;}
.bllist .panes ul li{ line-height:34px;margin-top: 3px;border-bottom:1px solid #c5c5c6;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.bllist  .panes ul li a{font-size:15px; color:#000000;font-family:"Microsoft YaHei", "Arial", simsun, sans-serif;}
.bllist  .panes ul li a:hover{color:#ff0072;}
.bllist .panes a.more{font-size:14px; float:right; color:#595757; font-weight: bold;margin-top: 20px;}
.bllist .panes a.more:hover{color:#025c93;font-weight: bold;}

.ullinehover{border-bottom: 1px solid #ececec;height: 157px;margin: 0 0 3px 0px;+margin: 0 0 1px 0px;padding: 6px 0;}
.ui-bnnerp-hover{background-color:#9b040d;color:#fff;}
.ui-bnnerimg{width: 215px;height: 147px;}
.ui-bnnerp{width: 648px;height:97%;padding-left: 20px;}
.ui-bnnerp  span{float: right;padding-top: 15px;font-weight: bold;}
.ui-bnnerp  a.title{padding-bottom:5px;padding-top:3px;font-size: 18px;color: #666;font-weight: bold;}
.ui-bnnerp p{color: #666;clear: both;width:650px;line-height:24px; padding-top:5px;  color:#000;padding-right:30px;}
.ui-bnnerp-hover{background-color:#9b040d;color:#fff;}
.uibannerslog ul li{border: 1px solid red;}
.ui-bnnerp-hover a,.ui-bnnerp-hover p{color:#fff;}

/* 右边列表*/
.banrbox2{width:290px;margin-top: 30px;margin-left: 5px;}
.banrbox2 .tabs{ height:26px; }
.banrbox2 .tabs li{float:left; margin-right:5px;background: #ffffff;}
.banrbox2 .tabs li a{padding:0 15px;border: 2px solid #989a9b; display:inline-block; font-size:16px; font-weight:bold; height:26px; line-height:26px; color:#000000;}
.banrbox2 .tabs li a.current{background:url(../images/bancur.png) center bottom no-repeat; color:#000000;border: 2px solid #ff0072;}
.banrbox2 .tabs li a:hover{text-decoration:none;}
.banrbox2 .panes ul{padding:0 36px 0 16px;background:#ffffff;border: 1px solid #838586;border-top: 3px solid #2a7cae;}
.banrbox2 .panes ul li{padding:0 0 0 13px; line-height:34px;margin-top: 3px;border-bottom:1px solid #c5c5c6;background:url(../images/syuan.png) left center no-repeat; text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.banrbox2 .panes ul li a{font-size:15px; color:#000000;font-family:Verdana, "Microsoft YaHei", "SimHei", "SimSun";}
.banrbox2 .panes ul li a:hover{color:#ff0072;font-weight: bold;}

/* 第四层推荐品牌,第六层品牌展示*/

.idxlink{ padding-bottom:5px;clear: both;}
.idxlink .tit{height: 34px;border-bottom: 3px solid #2a7cae;padding-top: 30px;}
.idxlink .tit h2{ font-size:16px; font-weight:bold; height:32px; line-height:34px; color:#000000;width: 70px;border: 2px solid #989a9b;border-bottom:2px solid #2a7cae;padding:0 15px;background:url(../images/bancur2.png) center bottom no-repeat;}
.idxlink ul{ background:url(../images/idxlbg.gif) left top repeat-x;padding-left: 5px;}
.idxlink ul li{float:left; margin:10px 0px 0px 10px;}
.idxlink ul li a{border:1px solid #dddddf; display:inline-block; background:#fff; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; max-width:194px;}
.idxlink ul li a img{height:194px; height:98px; float:left;}
.clearfix:after{visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}

/* 第五层*/
.five{margin-top: 30px;}
/* 会员中心*/
.idxmb{width: 948px;height:320px;}
.idxmb .border{height:269px;border: 1px solid #838586;padding-top: 10px;padding-bottom:10px;margin-top: 1px;}
.idxmb .tit{height: 34px;border-bottom: 3px solid #2a7cae;padding-top: 0px;}
.idxmb .tit h2{font-size:16px; font-weight:bold; height:32px; line-height:34px; color:#000000;width: 70px;border: 2px solid #989a9b;border-bottom:2px solid #2a7cae;padding:0 15px;background:url(../images/bancur2.png) center bottom no-repeat;}
.idxmbl{width:495px;margin-top: 10px;}
.idxmbl #idxpic{width:103px;}
.idxmbl #idxpic img{float:left; margin-bottom:3px; cursor:pointer; width:103px; height:79px;}
.idxmbl div a{float:left; display:inline-block; position:relative; width:382px; height:243px;}
.idxmbl div a img{width:382px; height:243px;}
.idxmbl div a p{position:absolute; bottom:0px; left:0px; height:30px; line-height:30px; text-align:center; color:#fff; font-size:12px; width:322px; padding:0 10px; z-index:2;}
.idxmbl div a span{position:absolute; height:30px; line-height:30px; z-index:1; display:inline-block; width:100%; background:#000; opacity:0.5; filter:alpha(opacity=50); -moz-opacity: 0.5; bottom:0px; left:0px; z-index:1;}
.idxmbr{width:420px; padding-right:4px;margin-top: 10px;}
.idxmbr dl{padding-bottom:15px;}
.idxmbr dl dt{float: left;}
.idxmbr dl dt i{float: left;}
.idxmbr dl dt span{color:#000000; font-weight:bold; line-height:20px;font-size: 18px;padding-left: 5px;}
.idxmbr dl dd{_height:30px;background:url(../images/syuan.png) left center no-repeat;padding:0 0 0 13px;border-bottom:1px solid #c5c5c6;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
*+html .idxmbr dl dd{height:30px; }
*+html .idxmbr dl dt{height:16px;}
.idxmbr dl dd a{line-height:30px;float:left; _display:inline;color: #000000;font-size: 15px;}
.idxmbr dl dd a:hover{color: #e6004f;font-weight: bold;}
*+html .idxmbr dl dd a{display:inline; float:left;}
.idxmbr dl dd span{ float:right; _display:inline;font-size: 14px;}
*+html .idxmbr dl dd span{display:inline;}

#idxmb_main{position:relative; overflow:hidden; height:246px; width:382px;}
#pages{position:absolute; height:20000em;}
.page{height:246px; width:382px;}
#main_navi{ width:103px;}
#main_navi li img{float:left; margin-bottom:3px; cursor:pointer; opacity:0.80; filter:alpha(opacity=80); -moz-opacity: 0.80; width:103px; height:79px;}
#main_navi li.active img{opacity:1; filter:alpha(opacity=100); -moz-opacity:1;}

/* 政策法规*/
.idxls{width: 290px;}
.at_hide,.auto_hide li,.auto_hide dd{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.idxls .tit{height: 34px;border-bottom: 3px solid #2a7cae;padding-top: 0px;}
.idxls .tit h2{font-size:16px; font-weight:bold; height:32px; line-height:34px; color:#000000;width: 70px;border: 2px solid #989a9b;border-bottom:2px solid #2a7cae;padding:0 15px;background:url(../images/bancur2.png) center bottom no-repeat;}
.idxls .bd{padding:10px 12px 0 8px;border: 1px solid #838586;}
.idxls ul li{line-height:35px; padding-left:15px; background:url(../images/idxlsl.gif) bottom center no-repeat;}
.idxls ul li a{background:url(../images/idxlsj.png) left center no-repeat;padding:0 5px 0 19px;color: #000000;}
.idxls ul li a:hover{text-decoration:none;}

/* 第七层友情链接*/
.link{ padding-bottom:5px;clear: both;}
.link .tit{height: 34px;border-bottom: 3px solid #2a7cae;padding-top: 30px;}
.link .tit h2{ font-size:16px; font-weight:bold; height:32px; line-height:34px; color:#000000;width: 70px;border: 2px solid #989a9b;border-bottom:2px solid #2a7cae;padding:0 15px;background:url(../images/bancur2.png) center bottom no-repeat;}
.link ul{margin-top: 10px;margin-left: 3px;}
.link li{width: 139px;height: 50px;display: inline-block;border: 1px solid #b7b7b7;margin-left:10px; margin-bottom:10px;list-style-type:none; }
.link a{color:#4c4b4b; display:inline-block;width: 129px;height: 50px;margin:15px auto;font-weight:bold;text-align: center;}
.link a:hover{ color:orangered;}
.clearfix:after{visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}


