/*左侧导航栏*/
.ltbox{width:248px; background:#f7f7f7; border-radius:5px; padding-bottom:20px; _overflow:hidden; margin-top:60px;}
.ltbox .tit{height:56px; width:250px; margin:7px 0 23px -1px; background:url(../images/menutit.jpg) no-repeat;}
.ltbox .tit h2{padding:13px 0 0 73px; font-size:25px; color:#fff; font-weight:bold; text-shadow: -2px -2px 2px #0678b0; _padding:15px 0 0 73px;}
.ltmenu{margin-bottom:62px; background:url(../images/menuty.gif) center 58px no-repeat;}
.menulist{border-bottom:1px solid #dcdcdc;}
.menulist li{height:47px; width:198px;font-size: 14px; line-height:47px; border-top:1px solid #dcdcdc; border-bottom:1px solid #b1b1b1; padding:0 20px 0 30px;}
.menulist li a{display:inline-block; font-weight:bold; color:#595757;margin-left: 30px;}
.menulist li a:hover{color:#ff0030;}
.menulist li a i{width:16px;margin-right:10px; line-height:16px; height:16px;}
.menulist li.current{height:46px; line-height:46px; background:url(../images/mencur.png)  repeat-y; width:201px;margin-left: -1px;}
.menulist li.current a{color:#ff0030;}

.menulist li.current a i{width:16px;height: 16px;display: inline-block; margin-right:7px;background:url(../images/red_icon.png) no-repeat;}
.menulist li.cli i{width:16px;height: 16px;display: inline-block; margin-right:7px;background:url(../images/black_icon.png) no-repeat;}
.menulist li.mycl{height:46px; line-height:46px; background:url(../images/mencur.png)  repeat-y; width:201px;margin-left: -1px;}
.menulist li.mycl i{width:16px;height: 16px;display: inline-block; margin-right:7px;background:url(../images/red_icon.png)no-repeat;}


/*会员搜索*/
.ltsearch .tit h2{position:relative; padding-left:68px;}
.ltsearch{margin-bottom:10px; background:url(../images/menuty.gif) center 58px no-repeat;}
.ltsearch table{margin:0px 20px 0 18px; color:#000; padding-top:5px;}
.ltsearch table tr td{padding-bottom:10px;}
.ltsearch input{width:127px; border:1px solid #d1cfcf; padding:0 6px; height:26px; line-height:26px;}
.ltsearch input.sealbtn{width:48px;  background:url(../images/com.gif) -152px -139px no-repeat; float:left; display:inline; border-left:0; cursor:pointer; height:30px; border:none;}
.ltsearch input.seabtn{border:0; width:76px; height:25px; background:url(../images/seabtn.gif) left top repeat-x; color:#fff; cursor:pointer; line-height:25px; margin-top:5px;}
.ltsearch input.seabtn:hover{background:#0570bb;}
.ltsearch #searchType{border: 1px solid #d1cfcf;width:80px;float:left;}

/*右侧内容栏*/
.rtbox{width:995px;margin-top: 60px; background:url(../images/rtbg.gif) left top repeat-x #f7f7f7; border-radius:5px; border-left:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; border-right:1px solid #dcdcdc; margin-bottom:62px; _overflow:hidden;}
.rtbox .rtit{height:56px;background:url(../images/rtit.gif) left top repeat-x;border-bottom:1px solid #d0d3d5;margin-left:-1px; width:997px; line-height:55px; border-top-left-radius:5px; border-top-right-radius:5px;}
.rtbox .srtit{margin-left:-2px; height:49px; background:url(../images/change.png) left  repeat-y;margin-top: 7px;}
.rtbox .rtit h2{padding-left:22px; color:#000000; font-size:16px; font-weight:bold; }
.rtbox .rtit h2 i{width:7px; height:55px;padding-bottom:5px; background:url(../images/line_red.png) no-repeat; margin-right:8px;z-index: 1999;}
.rtbox .rtit p{margin-right:32px; _float:right; _display:inline;}
.rtbox .rtit p.companyname{text-align:center; color:#0488e2; font-size:18px; font-weight:bold;}
.rtbox .rtit a{color: #000000;}

.abtbg{background:url(../images/xhbg.jpg) bottom right no-repeat;}
.rtcontain{padding:30px 25px;}
.aboutbox{width:935px; overflow:hidden; min-height:250px; height:auto !important; height: auto; overflow:visible;}

/*----------- 从底部上升的遮罩效果 开始---------------------------*/
.content{width:835px;margin-top:20px;min-height: 530px;}
.con{width: 260px;height: 174px;margin-bottom: 15px;float: left;position: relative;cursor: pointer;}
.ml{margin-left:27px;}
.con img{width:260px;height: 174px;}
.txt{position: absolute;left: 0;bottom: 0;width: 100%;height: 45px;line-height: 45px;text-align: center;color: #fff;background: rgba(0,0,0,0.6);}
.txt h3{font-weight: normal;}
.txt p{font-size: 14px;display: block;line-height: 20px;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px; -moz-margin-before: 1em;-moz-margin-after: 1em;-moz-margin-start: 0px; -moz-margin-end: 0px;}
/*------------- 从底部上升的遮罩效果 结束 ------------------------------*/

/* 分页*/
.pageview{width:550px; margin: 50px auto;}
.pageview {padding: 12px 0;text-align: right;line-height: 26px;}
.pageview a{text-decoration: none;}
.pageview .link {display: inline-block;padding: 0 10px;color: #fff;background-color: #d3d3d3;border-radius: 3px;height: 27px;margin: 0 0 2px 3px;border: 0;cursor: pointer}
.pageview .hover,.pageview a.link:hover {background-color: #00adc6  }
.pageview .nub input {width: 55px;text-align: center;font: 700 12px/25px Arial;border: 1px solid #ddd;background-color: #fff; margin: 0 5px;}
.bigtit,.bigtit .h2,.rastbox .h2 { line-height: 40px  }
.pageview span.link { background-color: #ddd;  cursor: not-allowed}
