/*左侧导航栏*/
.ltbox{width:248px; background:#f7f7f7; border-radius:5px; padding-bottom:20px; _overflow:hidden; margin-top:60px;}
.ltbox .tit{height:56px; width:250px; margin:7px 0 23px -1px; background:url(../images/menutit.jpg) no-repeat;}
.ltbox .tit h2{padding:13px 0 0 73px; font-size:25px; color:#fff; font-weight:bold; text-shadow: -2px -2px 2px #0678b0; _padding:15px 0 0 73px;}
.ltmenu{margin-bottom:62px; background:url(../images/menuty.gif) center 58px no-repeat;}
.menulist{border-bottom:1px solid #dcdcdc;}
.menulist li{height:47px; width:198px;font-size: 14px; line-height:47px; border-top:1px solid #dcdcdc; border-bottom:1px solid #b1b1b1; padding:0 20px 0 30px;}
.menulist li a{display:inline-block; font-weight:bold; color:#595757;margin-left: 30px;}
.menulist li a:hover{color:#ff0030;}
.menulist li a i{width:16px;margin-right:10px; line-height:16px; height:16px;}
.menulist li.current{height:46px; line-height:46px; width:201px;margin-left: -1px;}
.menulist li.current a{color:#302e2f;}
.menulist li.current a i{width:16px;height: 16px;display: inline-block; margin-right:7px;background:url(../images/red_icon.png) no-repeat;}
.menulist li.mycl{height:46px; line-height:46px; background:url(../images/mencur.png)  repeat-y; width:201px;margin-left: -1px;}
.menulist li.mycl i{width:16px;height: 16px;display: inline-block; margin-right:7px;background:url(../images/black_icon.png)no-repeat;}
/*------------ Sub Menu ------------*/
.submenu {box-sizing: border-box;color: #000000;font-size: 13px;content: " "; /*opacity: 0.5;*/ }
.submenu li {line-height: 20px;height: 35px;padding-top: 11px;width:198px;border-bottom:1px solid #b1b1b1;transition: border-left 220ms ease-in;}
.submenu .chosen,.submenu .chosen:hover {color: #ff0030;}
.submenu li a{font-size: 12px;}
.submenu li a i{width:14px;margin-right:10px; line-height:14px; height:14px;}
.submenu li a:hover {color: #ff0030;}

/*右侧工具栏*/
.rtbox{width:995px;margin-top: 60px; background:url(../images/rtbg.gif) left top repeat-x #f7f7f7; border-radius:5px; border-left:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; border-right:1px solid #dcdcdc; margin-bottom:62px; _overflow:hidden;}
.rtbox .rtit{height:56px;background:url(../images/rtit.gif) left top repeat-x;border-bottom:1px solid #d0d3d5;margin-left:-1px; width:997px; line-height:55px; border-top-left-radius:5px; border-top-right-radius:5px;}
.rtbox .srtit{margin-left:-2px; height:49px; background:url(../images/change.png) left  repeat-y;margin-top: 7px;}
.rtbox .rtit h2{padding-left:22px; color:#000000; font-size:16px; font-weight:bold; }
.rtbox .rtit h2 i{width:7px; height:55px;padding-bottom:5px; background:url(../images/line_red.png) no-repeat; margin-right:8px;z-index: 1999;}
.rtbox .rtit p{margin-right:32px; _float:right; _display:inline;}
.rtbox .rtit p.companyname{text-align:center; color:#0488e2; font-size:18px; font-weight:bold;}
.rtbox .rtit a{color: #000000;}

.abtbg{background:url(../images/xhbg.jpg) bottom right no-repeat;}
.rtcontain{padding:30px 25px;}
.xhimg{float:left; margin:0 32px 0 0;}
.xhtit h1{color:#00204b; font-size:30px; font-weight:bold;height:35px; text-align: center;font-family: "宋体";}
.xhtit .news_spec{ text-align:center; color:#aaa; border-bottom:#a6a5a5 1px dashed; margin-top:18px; margin-bottom:15px; padding:0 0 5px 0;}
*+html .xhtit span{width:112px;}
.aboutbox{width:835px; overflow:hidden; min-height:250px; height:auto !important; height:250px; overflow:visible;}
.aboutbox img{max-width:835px; _width:expression(document.body.clientWidth < 835 ? "835px" : "auto");}
.aboutbox p{line-height:30px; text-align:justify; text-justify:inter-ideograph;}
.aboutbox h1,.product_info h1,#work_info h1,.news_info h1{text-align:center; font-size:30px; font-weight:bold; color:#00204b;font-family: "宋体";}
.product_info h1,#work_info h1{border-bottom:#ccc 1px dashed; padding-bottom:10px; margin-bottom:20px;}

/*4个产品*/
/*.rtfc .tit h3{margin-left:-6px; height:53px; background:url(../images/fctit.gif) left top no-repeat; font-size:18px; font-weight:bold; padding-left:25px; line-height:53px; color:#fff;}*/
.rtfc{padding-bottom:25px;}
.rtfc ul{width:800px; background:#fff; padding:15px 22px 12px 60px; height:188px; border:1px solid #a2cfee; margin:0 auto;}
.rtfc ul li{float:left; margin-right:17px; background:url(../images/fcty.gif) left bottom repeat-x; height:191px;}
.rtfc ul li img{width:180px; height:180px;}


