@charset "gbk";
/*@font-face {
	font-family: 'Gotham-Light';
	src: url('img/Gotham-Light.eot');
	src: url('img/Gotham-Light.eot') format('embedded-opentype'),
		 url('img/Gotham-Light.woff') format('woff'),
		 url('img/Gotham-Light.ttf') format('truetype'),
		 url('img/Gotham-Light.svg') format('svg');
}
@font-face {
	font-family: 'Gotham-Medium';
	src: url('img/Gotham-Medium.eot');
	src: url('img/Gotham-Medium.eot') format('embedded-opentype'),
		 url('img/Gotham-Medium.woff') format('woff'),
		 url('img/Gotham-Medium.ttf') format('truetype'),
		 url('img/Gotham-Medium.svg') format('svg');
}*/
@font-face {
	font-family: 'Gotham-Book';
	src: url('img/Gotham-Book.eot');
	src: url('img/Gotham-Book.eot') format('embedded-opentype'),
		 url('img/Gotham-Book.woff') format('woff'),
		 url('img/Gotham-Book.ttf') format('truetype'),
		 url('img/Gotham-Book.svg') format('svg');
}
/* reset css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* to preserve line-height and selector appearance */
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
input, button, textarea, select { font-family: "Gotham-Book", Helvetica,Verdana, Arial, "Microsoft YaHei",'微软雅黑'; font-size: inherit; font-weight: inherit;  *font-size:100%; /*to enable resizing for IE*/
width: auto; overflow: visible; }
/*because legend doesn't inherit in IE */
legend { color: #000; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
/* end reset css */
html, body { height: 100%; }
a, a:active { color: #333; text-decoration: none; outline: none; }
/*float clear*/
.clear { zoom: 1; }
.clear:after { content: "\200c"; display: block; height: 0; font-size: 0; clear: both; }
.none { display: none; overflow: hidden; }
a { -webkit-tap-highlight-color: rgba(0,0,0,0); }
body { background: #fff; color: #333;font-family: "Gotham-Book", Helvetica,Verdana, Arial, "Microsoft YaHei"; font-size: 12px; line-height: 1.4; -webkit-user-select: none; /* 禁止选择 */ -moz-user-select: none; -ms-user-select: none; -webkit-touch-callout: none; /* 禁用弹出 */ }
.wrapper { width: 100%; display: block; min-width: 960px; }
.main { margin: 0 auto; width: 960px; }
.alignleft { float: left; display: inline; }
.alignright { float: right; display: inline; }
#wrap { min-height: 100%; _height: 100%; position: relative; overflow: hidden; }


.inner { max-width:1000px; margin:0 auto; _width:1000px; min-width:240px;}
#header { position:fixed; _position:absolute; width:100%; height:100px; z-index:10; background:rgba(243,243,243,.95); -webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;}
#logo { float:left; padding:25px 0 0 20px;}
#logo a { display:block; width: 104px; height: 53px; background:url(img/logo_black.png) no-repeat; background-size:cover;}
#logo img { display:block;}
#menu-more { float:right; cursor:pointer; padding:50px 30px 0 30px; height:50px;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;transition:all .2s ease;}
.icon-menu,.icon-menu:before,.icon-menu:after { position:relative; display:block; width:26px; height:3px; background:#585858;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;transition:all .2s ease;}
.icon-menu:before,.icon-menu:after { content:''; position:absolute; left:0; top:-8px;}
.icon-menu:after { top:8px;}
#menu-more.active .icon-menu,#menu-more.active .icon-menu:before,#menu-more.active .icon-menu:after,.show-pannel #menu-more .icon-menu,.show-pannel #menu-more .icon-menu:before,.show-pannel #menu-more .icon-menu:after { background:#323232;}
#menu { float: right; font-size: 16px;}
#menu a { display:inline-block; padding: 0 35px; color: #333; line-height:100px; -webkit-transition:all .2s ease;-moz-transition:all .2s ease;transition:all .2s ease;}
#menu a:hover { color: rgba(51,51,51,1); background-color: #DBDBDB; opacity: 1; }
#menu a.active { color: #fff; }
.menu-list {  position: fixed; _position: absolute; top: 100px; width: 100%; height: 0; min-height:0; z-index: 2; height:0; -webkit-transition:height .3s ease; -moz-transition:height .3s ease; transition:height .3s ease; background: #000; background: rgba(0,0,0,0.85); overflow: hidden;}
.menu-list ul { position: absolute; width: 1000px; top: 50%; left: 50%; margin: -150px 0 0 -500px; _margin-top:-200px; }
.menu-list li { float: left; color: #fff; width: 30%; margin: 20px 0 10px 3.3%; _margin-left:1%; display:inline; line-height: 35px; font-size: 18px; white-space: nowrap; overflow: hidden;}
.menu-list li.primary { display: none; }
.menu-list li h2 { font-size: 36px; padding: 0 0 10px 24px; }
.menu-list li a { color: #aaa; }
.menu-list li a.active{ color: #fff; }
.menu-list li a span { float: left; height: 12px; width: 12px; overflow: hidden; background: #eb6100; border-radius: 10px; margin: 11px 10px 0 0; visibility: hidden; }
.menu-list li a.active span { visibility: visible; }
.show-pannel #menu-more,#menu-more:active { background:#DADADA;}
.show-pannel .menu-list { height:100%; -webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;/* -webkit-animation:slideDown .4s ease; -moz-animation:slideDown .4s ease; animation:slideDown .4s ease;*/}
/*.show-pannel #layer { display:block; height:100%;-webkit-animation:slideDown .7s ease;}*/

.small-header #header { height: 50px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }
.small-header #logo,.small-header #logo a { width:69px; height:35px;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;}
.small-header #logo { padding:8px 0 0 20px;}
.small-header #menu a { line-height:50px;}
.small-header .menu-list { top: 50px; }
.small-header #menu-more { padding:24px 20px 0 20px; height:26px;}

/*#header { position: fixed; _position: absolute; top: 0; left: 0; background: url(img/a.png) repeat-x 0 bottom; z-index: 10;}
#header section { height: 101px; line-height: 100px; overflow:hidden;}
#logo { text-indent: -9999em; width: 104px; height: 53px; float: left; position: relative; top: 50%; margin: -26px 0 0 10px; }
#logo a { display: block; width: 100%; height: 100%; background: url(img/logo_black.png) no-repeat; background-size: contain; }
#header.fixed section { height: 51px; line-height: 50px; }
#header.fixed #logo { width: 108px; height: 35px; margin-top: -17px; }
#header.fixed #logo a { background-image: url(img/logo_black_small.png); }
.canTransition #header.fixed #logo a { background-image: url(img/logo_black.png); }
#menu { float: right; font-size: 16px; }
#menu a { float: left; padding: 0 35px; color: #333; }
#menu a:hover { color: rgba(51,51,51,1); background-color: rgba(0,0,0,.1); opacity: 1; }
#menu a.active { color: #fff; }
#menu .more { text-indent: -9999em; width: 19px; background: url(img/menumore_black.png) no-repeat center center; opacity: .8; }
#menumore { position: fixed; _position: absolute; background: #000; background: rgba(0,0,0,.85); top: 100px; height: 0; overflow: hidden;}
#menumore a { color: #fff; }
#menumore .content { width: 960px; position: absolute; top: 50%; left: 50%; margin: -200px 0 0 -480px; }
#menumore li { float: left; color: #fff; width: 30%; margin: 20px 0 10px 3.3%; line-height: 35px; font-size: 18px; white-space: nowrap; overflow: hidden; display: inline; }
#menumore li h2 { font-size: 36px; padding: 0 0 10px 24px; }
#menumore li a { color: #aaa; }
#menumore li a.hover, #menumore li a:hover { color: #fff; }
#menumore li a span { float: left; height: 12px; width: 12px; overflow: hidden; background: #eb6100; border-radius: 10px; margin: 11px 10px 0 0; visibility: hidden; }
#menumore li a.hover span, #menumore li a:hover span { visibility: visible; }
#header.fixed #menumore { top: 51px; }*/
#container-wrap { padding: 0 0 40px; }
.cmltpage { position: relative; }
.cmltpage .bg { position: absolute; height: 100%; top: 0; left: 0; }
.cmltpage .main { display: none; position: relative; }
.animated .main { display: block; }
#cmlt1 { padding: 101px 0 0; background: #f8f8f8; height: 600px; }
#cmlt1 .main { height: 200px; padding: 200px 0 200px; }
#cmlt1 .banner { position: fixed; top: 101px; right: -100%; }
#cmlt1 img { display: block; }
#cmlt1 .title { margin: 0 0 58px 68px; height: 98px; display: none; }
#cmlt1 .dl { width: 160px; height: 40px; line-height: 40px; text-align: center; background: #2350b6; color: #fff; font-size: 18px; margin-left: 142px; display: none; position: relative; z-index: 1; }
#cmlt1 .dl:hover { background: #17389f; }
#cmlt1 .phone { position: absolute; bottom: 0; right: 0; width: 760px; }
#cmlt2 { height: 600px; }
#cmlt2 .main { padding: 200px 0 100px; height: 300px; }
#cmlt2 .pgy { position: absolute; bottom: 0; left: -100px; width: 600px; }
#cmlt2 .pgylite { position: absolute; display: none; }
#cmlt2 .pgylite1 { top: 100px; left: 500px; }
#cmlt2 .pgylite2 { top: 70px; left: 650px; }
#cmlt2 .pgylite3 { top: 130px; left: 750px; }
#cmlt2 .pgylite4 { top: 120px; left: 880px; }
#cmlt2 .pgylite5 { top: 60px; left: 950px; }
#cmlt2 .desc { padding-left: 520px; }
#cmlt2 .desc img { width: 400px; }
#cmlt2 .desc dl { margin-top: 35px; color: #777; font-size: 14px; display: none; }
#cmlt2 .desc dt { color: #8b8b8b; font-size: 24px; margin-bottom: 4px; font-weight: normal; }
#cmlt3 { height: 500px; }
#cmlt3 .main { height: 80px; padding: 60px 0 340px; }
#cmlt3 .title { display: block; margin: 0 auto; height: 80px; }
#cmlt3 ul { position: absolute; left: 0; bottom: -160px; z-index: 1; -webkit-tap-highlight-color: rgba(0,0,0,0); }
#cmlt3 li { padding: 0 0 55px; background: url(img/s1.png) no-repeat center bottom; float: left; text-align: center; display: none; color: #FCF7F7; }
.canRgba #cmlt3 li { color: rgba(255,255,255,.8); }
#cmlt3 .b2 { margin: 0 60px; }
#cmlt3 .box { height: 400px; width: 280px; position: relative; overflow: hidden; }
#cmlt3 .b1 .box { background: #3060b3; }
#cmlt3 .b2 .box { background: #18a948; }
#cmlt3 .b3 .box { background: #ec732e; }
#cmlt3 .icon { width: 120px; height: 120px; position: absolute; background: no-repeat center center; background-size: 100px 100px; }
.canTransform #cmlt3 li.hover .icon, #cmlt3 .icon { left: 80px; top: 100px; right: auto; }
#cmlt3 li.hover .icon { -webkit-transform: scale(2) translate(50px, -60px) rotate(-30deg); -moz-transform: scale(2) translate(50px, -60px) rotate(-30deg); -ms-transform: scale(2) translate(50px, -60px) rotate(-30deg); transform: scale(2) translate(50px, -60px) rotate(-30deg); opacity: .5; filter: alpha(opacity=50); top: -40px; right: -40px; left: auto; }
#cmlt3 .b1 .icon { background-image: url(img/s2.png); }
#cmlt3 .b2 .icon { background-image: url(img/s4.png); }
#cmlt3 .b3 .icon { background-image: url(img/s3.png); }
.canBackgroundSize #cmlt3 .b1 .icon { background-image: url(img/s2x2.png); }
.canBackgroundSize #cmlt3 .b2 .icon { background-image: url(img/s4x2.png); }
.canBackgroundSize #cmlt3 .b3 .icon { background-image: url(img/s3x2.png); }
#cmlt3 .exp, #cmlt3 .desc { position: absolute; padding: 0 30px; width: 220px; top: 235px; left: 0; }
#cmlt3 .exp { font-size: 15px; line-height: 1.5; }
#cmlt3 .desc { top: 200px; font-size: 14px; line-height: 1.6; opacity: 0; filter: alpha(opacity=0); }
#cmlt3 .desc h3 { font-size: 22px; margin-bottom: 10px; color: #fff; }
#cmlt3 li.hover .exp { -webkit-transform: translate(0, 100px); -moz-transform: translate(0, 100px); transform: translate(0, 100px); opacity: 0; filter: alpha(opacity=0); }
#cmlt3 li.hover .desc { opacity: 1; filter: alpha(opacity=100); }
#cmlt4 { height: 740px; }
#cmlt4 .main { padding: 200px 0 50px; height: 490px; }
#cmlt4 .desc { padding-left: 530px; width: 380px; }
#cmlt4 .phone { position: absolute; bottom: 0; left: 0; width: 250px; }
#cmlt4 .p1 { z-index: 1; }
#cmlt4 .p2 { left: 246px; width: 200px; }
#cmlt4 .title {display:block; height: 50px; }
#cmlt4 dl { margin-top: 70px; display: none; padding-left: 60px; }
#cmlt4 .d1 { background: url(img/i1.png) no-repeat 0 5px; }
#cmlt4 .d2 { background: url(img/i2.png) no-repeat 0 2px; }
#cmlt4 dt { font-size: 24px; color: #1457cc; }
#cmlt4 dd { font-size: 14px; margin-top: 10px; line-height: 1.8; }
.pageNav { position: fixed; right: 5px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); z-index: 10; }
.pageNav i { width: 1px; height: 8px; border: 1px solid rgba(0,0,0,.5); display: block; margin-top: 4px; }
.pageNav i.active { background: #000; }
#footer, #lastfooter { position: relative; position: absolute; text-align: center; font-size: 12px; bottom: 0; left: 0; background: #333; color: #fff; padding: 10px 0; height: 20px; line-height: 20px; }
#lastfooter { display: none; }
#iosTips{ display: none; margin: 0 auto; padding-top: 6px; text-align: center; font-size: 12px; color: #adadad; }

/*lower IE Browser*/
.ie #header { background:#f3f3f3;}
.ie #menu-more { padding-top:42px; height:58px;}
/*.ie #menu-more:hover { background:#000; filter:alpha(opacity=10); opacity:0.1;}*/
.ie .icon-menu { width:26px; height:19px; background:url(img/menumore_black.png) 0 0 no-repeat!important;filter:alpha(opacity=80); opacity:0.8;}
.ie #menu-more:hover .icon-menu { filter:alpha(opacity=100); opacity:1;}
.ie .small-header #logo a { background-image:url(img/logo-small-ie.png);}
.ie .small-header #menu-more { padding:16px 20px 0 0; height:24px;}

/* language menu and video style */
.language-menu{ display: inline-block; width: 80px; height: 20px; line-height: 20px; position: relative; text-align: center; cursor: pointer; vertical-align: top; }
.language-menu i{ display: block; background: url(img/lg-icon.png) no-repeat 4px center; text-indent: 20px; overflow: hidden; font-style: normal; }
.language-menu em{ display: none; width: 80px; height: 252px; padding-bottom: 11px; border-radius: 4px; background: #333; position: absolute; z-index: 1; left: 0; bottom: 19px; overflow: hidden; }
.language-menu a{ display: block; width: 80px; height:  28px; line-height: 28px; font-size: 12px; float: left; color: #fff; font-style: normal; }
.language-menu a:hover{ background: #444; }
.languageAnition em{ display: block; animation-name: languageAni; -webkit-animation: languageAni 0.2s linear 0s normal none; -moz-animation: languageAni 0.2s linear 0s normal none; animation: languageAni 0.2s linear 0s normal none; }
@-webkit-keyframes languageAni { from { opacity: 0; -webkit-transform:scale(1,0); transform-origin: left bottom; } to { opacity: 1; -webkit-transform:scale(1,1);  transform-origin:  left bottom; } }
@-moz-keyframes languageAni { from { opacity: 0; -moz-transform:scale(1,0);  transform-origin: left bottom; } to { opacity: 1; -moz-transform:scale(1,1); transform-origin: bottom bottom; } }
@keyframes languageAni { from { opacity: 0; transform:scale(1,0); transform-origin: left bottom; } to { opacity: 1; transform:scale(1,1); transform-origin:  left bottom; } }
.copyright{ display: inline-block; height: 20px; line-height: 20px; padding-right: 15px; vertical-align: top; }
.video-wrap{ display: none; width: 100%; position: relative; position: absolute; z-index: 999; top: 0; left: 0; background: #fff; }
.close-btn{ display: block; width: 29px; height: 29px; background: url(img/closeVideo.png) no-repeat left top; background-size: 100% 100%; position: absolute; z-index: 111; top: 50%; left: 50%; margin: -310px 0 0 320px; cursor: pointer; -webkit-transition: 0.2s ease-in-out; -moz-transition: 0.2s ease-in-out; -ms-transition: 0.2s ease-in-out; }
.close-btn:hover{ display: block; background: url(img/closeVideohover.png) no-repeat left top; background-size: 100% 100%; -webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); -ms-transform:rotate(90deg); }
.video-main{ width: 640px; height: 500px; border: 1px solid #ccc; position: absolute; z-index: 112; top: 50%; left: 50%; margin: -250px 0 0 -320px; overflow: hidden; }
#cmlt1 .play-video{ display: none; width: 90px; height: 24px; line-height: 24px; position: relative; z-index: 1; margin: 10px 0 0 192px; background: url(img/pl-icon.png) no-repeat right 1px; font-size: 16px; color: #2350b7; text-align: left; overflow: hidden; }
#cmlt1 .play-video:hover{ background: url(img/plh-icon.png) no-repeat right 1px; color: #09308a; }
/*将:hover效果全部放入 > 801px 里面处理*/
@media (min-width:801px) {
#menu-more:hover .icon-menu,#menu-more:hover .icon-menu:before,#menu-more:hover .icon-menu:after { background:#323232;}
.menu-list li a:hover { color: #fff; }
.menu-list li a:hover span { visibility: visible; }
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
/* 高分屏 */
#logo a { background-image: url(img/logo_black01.png); }
.fixed #logo a { background-image: url(img/logo_black_small01.png); }
.canTransition .fixed #logo a { background-image: url(img/logo_black01.png); }
}

@media (min-width: 1300px) {
.inner { max-width:1200px;}
}

@media (min-width:1300px) and (min-height:750px) {
/* 宽版 */
body { font-size: 14px; }
.wrapper { min-width: 1200px; }
.main { width: 1200px; }
#cmlt1 { height: 800px; }
#cmlt1 .main { height: 230px; padding: 315px 0 255px; }
#cmlt1 .title { height: auto; }
#cmlt1 .dl { height: 55px; line-height: 55px; width: 188px; }
#cmlt1 .phone { width: auto; }
#cmlt2 { height: 800px; }
#cmlt2 .main { padding: 300px 0 200px; height: 300px; }
#cmlt2 .pgy { width: auto; }
#cmlt2 .desc { padding-left: 650px; }
#cmlt2 .desc img { width: auto; }
#cmlt2 .pgylite1 { top: 180px; left: 560px; }
#cmlt2 .pgylite2 { top: 130px; left: 745px; }
#cmlt2 .pgylite3 { top: 210px; left: 846px; }
#cmlt2 .pgylite4 { top: 190px; left: 978px; }
#cmlt2 .pgylite5 { top: 110px; left: 1080px; }
#cmlt3 { height: 760px; }
#cmlt3 .main { height: 110px; padding: 150px 0 500px; }
#cmlt3 .title { height: auto; }
#cmlt3 .box { height: 550px; width: 320px; }
#cmlt3 li { padding: 0 0 45px; background: url(img/s1.png) no-repeat center bottom; }
#cmlt3 .b2 { margin: 0 120px; }
#cmlt3 .icon { left: 100px; top: 160px; }
#cmlt3 .exp, #cmlt3 .desc { padding: 0 40px; width: 240px; top: 305px; }
#cmlt3 .exp { font-size: 18px; line-height: 1.8; }
#cmlt3 .desc { top: 280px; }
#cmlt4 { height: 1060px; }
#cmlt4 .main { padding: 280px 0 150px; height: 630px; }
#cmlt4 dl { margin-top: 120px; }
#cmlt4 .desc { padding-left: 730px; }
#cmlt4 .phone { width: auto; }
#cmlt4 .p2 { left: 358px; width: auto; }
#cmlt4 .title { height: auto; }
}

@media (max-width:800px) {
/* 平板 */
#container-wrap { padding: 0 0 0; }
.CMLITE #footer { display: none; }
#lastfooter { display: block; }
.wrapper { min-width: 320px; }
.main { width: 100%; }
/*.canTouch #header { position: absolute; }
#header section { height: 51px; line-height: 50px; }
#header.fixed #logo, #logo { width: 65px; height: 35px; margin-top: -17px; }
.canTransition #header.fixed #logo a, #logo a { background: url(img/logo-mobile-black.png) no-repeat center center; background-size: auto 18px; }
#menu a:not(.more) { display: none; }
#menu a { padding: 0 20px; }
#menumore { top: 51px !important; }
#menumore .content { margin: 0; top: 0; left: 0; width: auto; }
#menumore ul { padding: 20px 0 0 15%; }
#menumore li { width: 97%; font-size: 16px; line-height: 30px; margin-top: 10px; }
#menumore li a span { margin-top: 8px; }
#menumore li h2 { font-size: 30px; padding-bottom: 8px; }*/

#header { height: 50px; box-shadow: none; position:absolute; }
#logo,#logo a { width:108px; height:35px;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;}
#logo { padding:8px 0 0 10px;}
#logo a { background-image:url(img/logo-mobile-black.png); background-position: 0 center; background-size:100%; width:62px;}
#menu-more { padding:24px 10px 0 10px; height:26px;}
#menu a { line-height:50px; padding:0 15px;}
.icon-menu,.icon-menu:before,.icon-menu:after { width:20px; height:2px;}
.icon-menu:before,.icon-menu:after { top:-5px;}
.icon-menu:after { top:5px;}
/*.show-pannel #header{ height:100%;}*/
.menu-list { top: 50px; position: absolute; bottom: 0; }
.menu-list ul { position: static; margin: 0; width: auto; }
.menu-list ul { padding: 20px 0 0 15%; }
.menu-list li { width: 97%; font-size: 16px; line-height: 30px; margin-top: 10px; }
.menu-list li a span { margin-top: 8px; }
.menu-list li.primary { display: block; }
.menu-list li h2 { font-size: 30px; padding-bottom: 8px; }
.blog-list li a:after,.list-layer { -webkit-transition:none;-moz-transition:none;transition:none;}
.blog-list li a span { font-size:16px;}
.show-pannel .menu-list { min-height:650px;}

#cmlt1 { height: 480px; }
#cmlt1 .banner { top: 51px; height: 50px; }
#cmlt1 .title { margin: 0 auto 30px; }
#cmlt1 .dl { width: 120px; margin: 0 auto; }
#cmlt1 .phone { width: 500px; left: 50%; margin-left: -250px; }
#cmlt1 .main { padding: 30px 0 250px; }
#cmlt2 { height: 480px; }
#cmlt2 .main { padding: 50px 0 150px; }
#cmlt2 .pgy { width: 300px; left: 20%; }
#cmlt2 .desc { padding-left: 0; text-align: center; }
#cmlt3 ul { display: -webkit-box; display: -moz-box; display: box; z-index:1; }
#cmlt3 li { width: 100%; }
#cmlt3 .b2 { margin: 0; }
#cmlt3 .box { margin: 0 auto; }
#cmlt3 .nav { position: absolute; bottom: -100px; text-align: center; width: 100%; z-index: 6; }
#cmlt3 .nav i { border: 1px solid #fff; border-radius: 100%; display: inline-block; margin: 0 5px; width: 7px; height: 7px; cursor: pointer; }
#cmlt3 .nav .active { background: #fff; }
#cmlt4 .title { display: block; margin: 0 auto; }
#cmlt4 .desc { margin: 0 auto; padding-left: 0; }
#cmlt4 .phone { display: none; }
}

@media (max-width:540px) {
body { background: #fff; }
/*#header { background: #F9F7F7; }
#menumore .content{ -webkit-overflow-scrolling: touch; }
#menu .more{ background-size: 16px 12px; }*/
#container-wrap { padding: 0 0 0; }
#lastfooter { display: block; }
.cmltpage { height: 400px !important; }
.cmltpage .main { height: 100% !important; box-sizing: border-box; }
#cmlt1 { padding-top: 51px; }
.canTouch .cmltpage { position: absolute; top: 51px; left: 0; bottom: 0; height: auto !important; display: none; }
.canTouch .cmltpage .main { height: 100% !important; box-sizing: border-box; }
.canTouch #cmlt1 { padding: 0; }
#cmlt1 .banner { display: none; }
#cmlt1 .title { height: 40px; margin: 0 auto 20px; }
#cmlt1 .phone { width: 300px; margin-left: -150px; }
#cmlt2 .main { padding-top: 30px; }
#cmlt2 .desc img { width: auto; height: 58px; }
#cmlt2 .desc dt { font-size: 18px; color: #8b8b8b; }
#cmlt2 .pgy { width: 220px; left: 20px; z-index: 0; }
#cmlt3 .main { padding-top: 30px; }
#cmlt3 .title { height: 50px; position: relative; z-index: 7; }
#cmlt3 ul { bottom: 0; top: 0; }
#cmlt3 li { padding-bottom: 0; background: none; }
#cmlt3 .box { width: 100%; position: absolute; height: 100%; top: 0; left: 0; }
#cmlt3 .icon { left: 50%; margin-left: -60px; top: 120px; }
#cmlt3 li.hover .icon { margin-left: 0; }
#cmlt3 .exp, #cmlt3 .desc { width: 260px; left: 50%; margin-left: -160px; }
#cmlt3 .exp { top: 255px; }
#cmlt3 .desc { top: 220px; }
#cmlt3 .nav { bottom: 15px; }
#cmlt4 .main { padding: 20px 0 0; }
#cmlt4 .title { height: 35px; }
#cmlt4 .desc { width: 300px; }
#cmlt4 dl { margin-top: 40px; display: none; padding-left: 50px; }
#cmlt4 dt { font-size: 18px; }
#cmlt4 .d1 { background: url(img/i1.png) no-repeat 4px 5px; background-size: 32px 35px; }
#cmlt4 .d2 { background: url(img/i2.png) no-repeat 4px 2px; background-size: 32px 35px; }

.close-btn{ display: block; width: 20px; height: 20px; background: url(img/closeVideo.png) no-repeat left -3px; background-size: 100% 100%; position: absolute; z-index: 111; top: 10px; left: 90%; margin: 0; cursor: pointer; -webkit-transition: 0.2s ease-in-out; -moz-transition: 0.2s ease-in-out; -ms-transition: 0.2s ease-in-out; }
.close-btn:hover{ display: block; -webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); -ms-transform:rotate(90deg); }
.video-main{ width: 90%; height: 60%; top: 20%; left: 5%; margin: 0; overflow: hidden; }
#cmlt1 .play-video{ display: none; width: 66px; height: 16px; line-height: 16px; margin: 10px auto 0 auto; background: url(img/pl-icon.png) no-repeat right -1px; background-size: 16px 16px; font-size: 12px; color: #2350b7; text-align: left; overflow: hidden; }
#cmlt1 .play-video:hover{ background: url(img/plh-icon.png) no-repeat right 1px; background-size: 16px 16px; color: #09308a; }
}
/* animate */
@-webkit-keyframes flyMe {
 0% {
-webkit-transform:translate(-40%, 40%);
opacity:0;
}
 100% {
-webkit-transform:translate(0, 0);
opacity:1;
}
}
@-moz-keyframes flyMe {
 0% {
-moz-transform:translate(-40%, 40%);
opacity:0;
}
 100% {
-moz-transform:translate(0, 0);
opacity:1;
}
}
@keyframes flyMe {
 0% {
transform:translate(-40%, 40%);
opacity:0;
}
 100% {
transform:translate(0, 0);
opacity:1;
}
}
@-webkit-keyframes pgyAni {
 0% {
-webkit-transform:perspective(500px) translate(-100px, 50px);
opacity:0;
}
 40% {
-webkit-transform:perspective(500px) translate(0, -50px) rotateX(30deg) rotateY(-30deg);
opacity:1;
}
 70% {
-webkit-transform:perspective(500px) translate(100px, -100px) scale(.7);;
opacity:1;
}
 100% {
-webkit-transform:perspective(500px) translate(150px, -140px) rotateX(-30deg) rotateY(30deg) scale(.4);
opacity:0;
}
}
@-moz-keyframes pgyAni {
 0% {
-moz-transform:perspective(500px) translate(-100px, 50px);
opacity:0;
}
 40% {
-moz-transform:perspective(500px) translate(0, -50px) rotateX(30deg) rotateY(-30deg);
opacity:1;
}
 70% {
-moz-transform:perspective(500px) translate(100px, -100px) scale(.7);;
opacity:1;
}
 100% {
-moz-transform:perspective(500px) translate(150px, -140px) rotateX(-30deg) rotateY(30deg) scale(.4);
opacity:0;
}
}
@-ms-keyframes pgyAni {
 0% {
-ms-transform:perspective(500px) translate(-100px, 50px);
opacity:0;
}
 40% {
-ms-transform:perspective(500px) translate(0, -50px) rotateX(30deg) rotateY(-30deg);
opacity:1;
}
 70% {
-ms-transform:perspective(500px) translate(100px, -100px) scale(.7);;
opacity:1;
}
 100% {
-ms-transform:perspective(500px) translate(150px, -140px) rotateX(-30deg) rotateY(30deg) scale(.4);
opacity:0;
}
}
@keyframes pgyAni {
 0% {
transform:perspective(500px) translate(-100px, 50px);
opacity:0;
}
 40% {
transform:perspective(500px) translate(0, -50px) rotateX(30deg) rotateY(-30deg);
opacity:1;
}
 70% {
transform:perspective(500px) translate(100px, -100px) scale(.7);;
opacity:1;
}
 100% {
transform:perspective(500px) translate(150px, -140px) rotateX(-30deg) rotateY(30deg) scale(.4);
opacity:0;
}
}
@-webkit-keyframes fadeIn {
 0% {
opacity:0
}
 100% {
opacity:1
}
}
@-moz-keyframes fadeIn {
 0% {
opacity:0
}
 100% {
opacity:1
}
}
@keyframes fadeIn {
 0% {
opacity:0
}
 100% {
opacity:1
}
}
@-webkit-keyframes scaleIn {
 0% {
-webkit-transform:scale(0);
}
 100% {
-webkit-transform:scale(1);
}
}
@-moz-keyframes scaleIn {
 0% {
-moz-transform:scale(0);
}
 100% {
-moz-transform:scale(1);
}
}
@keyframes scaleIn {
 0% {
transform:scale(0);
}
 100% {
transform:scale(1);
}
}
@-webkit-keyframes scaleOut {
 0% {
-webkit-transform:scale(2);
}
 100% {
-webkit-transform:scale(1);
}
}
@-moz-keyframes scaleOut {
 0% {
-moz-transform:scale(2);
}
 100% {
-moz-transform:scale(1);
}
}
@keyframes scaleOut {
 0% {
transform:scale(2);
}
 100% {
transform:scale(1);
}
}
@-webkit-keyframes scaleIn2 {
 50% {
-webkit-transform:scale(.9);
}
 100% {
-webkit-transform:scale(1);
}
}
@-webkit-keyframes flyLeft {
 0% {
-webkit-transform:translateX(-50px);
opacity:0
}
 100% {
-webkit-transform:translateX(0);
opacity:1
}
}
@-moz-keyframes flyLeft {
 0% {
-moz-transform:translateX(-50px);
opacity:0
}
 100% {
-moz-transform:translateX(0);
opacity:1
}
}
@keyframes flyLeft {
 0% {
transform:translateX(-50px);
opacity:0
}
 100% {
transform:translateX(0);
opacity:1
}
}
@-webkit-keyframes flyRight {
 0% {
-webkit-transform:translateX(50px);
opacity:0
}
 100% {
-webkit-transform:translateX(0);
opacity:1
}
}
@-moz-keyframes flyRight {
 0% {
-moz-transform:translateX(50px);
opacity:0
}
 100% {
-moz-transform:translateX(0);
opacity:1
}
}
@keyframes flyRight {
 0% {
transform:translateX(50px);
opacity:0
}
 100% {
transform:translateX(0);
opacity:1
}
}
@-webkit-keyframes flyTop {
 0% {
-webkit-transform:translateY(-50px);
opacity:0
}
 100% {
-webkit-transform:translateY(0);
}
}
@-moz-keyframes flyTop {
 0% {
-moz-transform:translateY(-50px);
opacity:0
}
 100% {
-moz-transform:translateY(0);
opacity:1
}
}
@keyframes flyTop {
 0% {
transform:translateY(-50px);
opacity:0
}
 100% {
transform:translateY(0);
opacity:1
}
}
@-webkit-keyframes flyBottom {
 0% {
-webkit-transform:translateY(50px);
opacity:0
}
 100% {
-webkit-transform:translateY(0);
opacity:1
}
}
@-moz-keyframes flyBottom {
 0% {
-moz-transform:translateY(50px);
opacity:0
}
 100% {
-moz-transform:translateY(0);
opacity:1
}
}
@keyframes flyBottom {
 0% {
transform:translateY(50px);
opacity:0
}
 100% {
transform:translateY(0);
opacity:1
}
}
 @-webkit-keyframes popIn {
 0% {
-webkit-transform:scale(0, 0);
opacity:0.5;
}
 100% {
-webkit-transform:scale(1, 1);
opacity:1;
}
}
@-moz-keyframes popIn {
 0% {
-moz-transform:scale(0, 0);
opacity:0.5;
}
 100% {
-moz-transform:scale(1, 1);
opacity:1;
}
}
@keyframes popIn {
 0% {
transform:scale(0, 0);
opacity:0.5;
}
 100% {
transform:scale(1, 1);
opacity:1;
}
}
 @-webkit-keyframes flipinX {
 0% {
-webkit-transform:perspective(400px) rotateX(90deg);
opacity:.8;
}
 40% {
-webkit-transform:perspective(400px) rotateX(-10deg);
}
 70% {
-webkit-transform:perspective(400px) rotateX(10deg);
}
 100% {
-webkit-transform:perspective(400px) rotateX(0);
opacity:1;
}
}
@-moz-keyframes flipinX {
 0% {
-moz-transform:perspective(400px) rotateX(90deg);
opacity:.8;
}
 40% {
-moz-transform:perspective(400px) rotateX(-10deg);
}
 70% {
-moz-transform:perspective(400px) rotateX(10deg);
}
 100% {
-moz-transform:perspective(400px) rotateX(0);
opacity:1;
}
}
@-ms-keyframes flipinX {
 0% {
-ms-transform:perspective(400px) rotateX(90deg);
opacity:.8;
}
 40% {
-ms-transform:perspective(400px) rotateX(-10deg);
}
 70% {
-ms-transform:perspective(400px) rotateX(10deg);
}
 100% {
-ms-transform:perspective(400px) rotateX(0);
opacity:1;
}
}
@keyframes flipinX {
 0% {
transform:perspective(400px) rotateX(90deg);
opacity:.8;
}
 40% {
transform:perspective(400px) rotateX(-10deg);
}
 70% {
transform:perspective(400px) rotateX(10deg);
}
 100% {
transform:perspective(400px) rotateX(0);
opacity:1;
}
}
.flyMe { -webkit-animation: flyMe 1s ease; -moz-animation: flyMe 1s ease; animation: flyMe 1s ease; }
.fadeIn { -webkit-animation: fadeIn 1s ease; -moz-animation: fadeIn 1s ease; animation: fadeIn 1s ease; }
.scaleIn { -webkit-animation: scaleIn 1s ease; -moz-animation: scaleIn 1s ease; animation: scaleIn 1s ease; }
.scaleOut { -webkit-animation: scaleOut 1s ease; -moz-animation: scaleOut 1s ease; animation: scaleOut 1s ease; }
.flyLeft { -webkit-animation: flyLeft 1s ease; -moz-animation: flyLeft 1s ease; animation: flyLeft 1s ease; }
.flyRight { -webkit-animation: flyRight 1s ease; -moz-animation: flyRight 1s ease; animation: flyRight 1s ease; }
.flyTop { -webkit-animation: flyTop 1s ease; -moz-animation: flyTop 1s ease; animation: flyTop 1s ease; }
.flyBottom { -webkit-animation: flyBottom 1s ease; -moz-animation: flyBottom 1s ease; animation: flyBottom 1s ease; }
.popIn { -webkit-animation: popIn 1s ease; -moz-animation: popIn 1s ease; animation: popIn 1s ease; -webkit-transform-origin: right; -moz-transform-origin: right; transform-origin: right; }
.cheetah { -webkit-animation: cheetah .6s ease; -moz-animation: cheetah .6s ease; animation: cheetah .6s ease; }
/* update */
#cmlt1 .dl.isIoss,#cmlt1 .dl.isIoss:hover{ background: #bebebe; }
#wxTispb{ display: none; width: 100%; height: 100%; position: absolute; z-index: 9999; top: 0; left: 0; background: url(img/maskbg.png); text-align: right; }
#wxTispb img{ vertical-align: top; width: 90%; margin: 20px 20px 0 0; }
.log_content:after, .log-wrap:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }
.log-wrap { width: 100%; margin: 0 auto; padding: 142px 0 90px 0; background: #fff; zoom: 1; }
.log_content { display: block; width: 868px; margin: 0 auto 20px auto; padding: 80px 56px 80px 56px; border: 1px solid #dedede; border-radius: 4px; background: #fff; box-shadow: 0 0 2px #ccc; position: relative; overflow: hidden; zoom: 1; }
.log_date { width: 178px; position: relative; float: left; }
.log_date h2 { font-size: 36px; }
.log_date h2.new { color: #134d88; }
.date { position: absolute; top: 8px; right: 22px; color: #666; font-size: 12px; }
.log_list { line-height: 28px; padding-left: 32px; border-left: 1px solid #dfdfdf; margin-left:188px; font-size: 14px; color: #666; }
.log_list b { padding-right: 8px; color: #134d88; }
.log-down { display: block; width: 100px; min-height: 100%; background: #204aa7 url(img/log-down.png) no-repeat 21px center; position: absolute; top: 0; right: 0; text-indent: -999px; overflow: hidden; cursor: pointer; }
.log-down.logdhover { background-position: -123px center; -webkit-transition: background-position .2s ease; -moz-transition: background-position .2s ease; -ms-transition: background-position .2s ease; transition: background-position .2s ease }
/* function bar */
#function-bar { display: block; width: 40px; height: 152px; position: relative; position: fixed; _position: absolute; top: 50%; right: 40px; z-index: 1; margin-top: -76px; animation-name: fcBar; -webkit-animation: fcBar 0.4s linear 0s normal none; -moz-animation: fcBar 0.4s linear 0s normal none; animation: fcBar 0.4s linear 0s normal none; }
#function-bar .fb-sina, #function-bar .fb-wx, #function-bar .fb-dcode { display: block; width: 40px; height: 40px; margin-bottom: 12px; background: url(img/bar-icon.png); _background: url(img/bar-icon-8.png); background-repeat: no-repeat; }
#function-bar .fb-sina { background-position: left top; }
#function-bar .fb-wx { background-position: left -56px; }
#function-bar .fb-dcode { background-position: left -112px; }
#function-bar .fb-dcode.away { background-position: -44px -112px; }
#function-bar .fb-sina, #function-bar .fb-wx, #function-bar .fb-dcode { -webkit-transition: background-position .2s ease; -moz-transition: background-position .2s ease; -ms-transition: background-position .2s ease; transition: background-position .2s ease }
#function-bar .fb-sina:hover { background-position: -44px top; }
#function-bar .fb-wx:hover { background-position: -44px -56px; }
#function-bar .fb-dcode:hover { background-position: -44px -112px; }
#function-bar .fb-sina:hover, #function-bar .fb-wx:hover, #function-bar .fb-dcode:hover { display: block; animation-name: saAni; -webkit-animation: saAni 0.4s linear 0s normal none; -moz-animation: saAni 0.4s linear 0s normal none; animation: saAni 0.4s linear 0s normal none; }
@-webkit-keyframes saAni {
from {
opacity: 0;
}
to {
opacity: 1;
}
}
@-moz-keyframes saAni {
from {
opacity: 0;
}
to {
opacity: 1;
}
}
@keyframes saAni {
from {
opacity: 0;
}
to {
opacity: 1;
}
}
#function-bar .code-dwrap, #function-bar .code-gwrap { display: block; width: 125px; height: 131px; padding-top: 9px; background: url(img/code-wrap.png) no-repeat left top; overflow: hidden; position: absolute; z-index: 22; left: -145px; top: 0; }
#function-bar .code-dwrap img, #function-bar .code-gwrap img { width: 98px; height: 98px; margin-left: 10px; vertical-align: top; }
#function-bar .code-dwrap p, #function-bar .code-gwrap p { display: block; width: 116px; height: 30px; line-height: 30px; text-align: center; font-size: 12px; }
#function-bar .code-gwrap { display: none; top: -56px; }
.banAnimate .obj-b { display: block; animation-name: saAni; -webkit-animation: saAni 0.5s linear 0s normal none; -moz-animation: saAni 0.5s linear 0s normal none; animation: saAni 0.5s linear 0s normal none; }
@-webkit-keyframes fcBar {
from {
opacity: 0;
-webkit-transform:scale(0, 0);
}
to {
opacity: 1;
-webkit-transform:scale(1, 1);
}
}
@-moz-keyframes fcBar {
from {
opacity: 0;
-moz-transform:scale(0, 0);
}
to {
opacity: 1;
-moz-transform:scale(1, 1);
}
}
@keyframes fcBar {
from {
opacity: 0;
transform:scale(0, 0);
}
to {
opacity: 1;
transform:scale(1, 1);
}
}
@media(max-width: 982px) {
.wrapper { min-width:0;}
.main { width:auto;}
.log-wrap { padding-top:140px;}
.log_content { width:90%; padding:30px 20px; margin:0 auto 10px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.log_content:first-of-type .log_list { margin-right:100px;}
}
@media(max-width: 768px) {
#function-bar { display: none; }
.log-wrap { padding-top:70px;}
.log_content { padding:20px;}
.log_date { float:none;}
.log_date h2 { font-size:30px; padding-bottom:10px;}
.log_list { margin-left:0; line-height:22px; padding:10px 20px; background:#F3F3F3}
}
@media(max-width: 540px) {
.language-menu i{ background-size: 10px 10px; background-position: 8px center; }
.log_content { width:100%; padding:10px; border:0; box-shadow:none; border-bottom:1px #eee solid;}
.log_list { background:#fff;}
.log_content:first-of-type .log_list { margin-right:0;}
.log-down { position:static; width:100%; height:50px!important; border-radius:5px; margin-top:10px; background-image:none; text-indent:0; color:#fff; line-height:50px; font-size:20px; text-align:center;}
.log-down:active { color:#fff; background-color:#1C408E;}
}
@media (max-width: 414px) and (min-height: 481px) {
	#cmlt1 .main,#cmlt4 .main {
		padding:50px 0 0;
	}
	#cmlt1 .title {
		height:50px;
		margin-bottom:40px;
	}
	#cmlt2 .desc img {
		height:70px;
		margin-bottom:40px;
	}
	#cmlt1 .dl {
		width:180px;
		height:50px;
		line-height:50px;
	}
	#cmlt1 .phone {
		width:100%;
		margin-left:-50%;
	}
	#cmlt2 .pgy {
		width:100%;
		left:0;
		margin-bottom:-40px;
	}
	#cmlt2 .desc dl {
		margin-top:0;
	}
	#cmlt3 .title {
		margin-top:20px;
		height:46px;
	}
	#cmlt3 .icon {
		top:140px;
	}
	#cmlt3 .exp {
		top:270px;
	}
	#cmlt4 .title {
		height:42px;
	}
	#cmlt4 .desc {
		width:90%;
	}
	
}
@media (max-width: 375px) {
	#cmlt4 .title {
		height:38px;
	}
}
@media (max-width: 359px) {
	#cmlt4 .title {
		height:32px;
	}
}
@media(max-height: 431px) {
    .pgy{ width: 200px; height: 120px; }
    #cmlt4 dl { margin-top: 30px; }
    #cmlt4 dt { font-size: 18px; color: #1457cc; }
    #cmlt4 dd { font-size: 14px; margin-top: 8px; line-height: 1.4; }
	#cmlt3 .nav { bottom: 18px; }
	#cmlt3 .desc { top: 160px; }
	#cmlt3 .main { padding-top: 0; }
	#pgyy{ top: 28px; }
	#cmlt3 .icon{ top: 100px; }
	#cmlt3 .exp{ top: 230px; }
}
@media(max-height: 381px) {
	#cmlt4 dl { margin-top: 20px; display: none; padding-left: 50px; }
	#cmlt3 .main { padding-top: 0; transform: translateY(-10px); }
	#cmlt1 .main .phone{ margin-bottom: -40px; }
}

