h1,
h2,
h3,
UNUSEDh4,
h5,
UNUSEDh6 {
    font-family: "Helvetica Neue", "Helvetica";
    font-weight: 100;
    color: #434a54;
    line-height: 1.35;
}

.small-top {
    color: rgba(149, 172, 188, 0.6);
}

.d3-slider-handle {
    background-image: url("/sites/all/themes/thfund/images/yuebao/bao-index-line.png");
}

.moving_left_right {
    width: 27px;
    height: 18px;
    -webkit-animation: moving_left_right 1.7s ease-out infinite;
    animation: moving_left_right 1.7s ease-out infinite;
    position: relative;
    right: -30px;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

@-webkit-keyframes moving_left_right {
    0% {
        right: -30px;
    }
    60% {
        right: 10px;
    }
}

@keyframes moving_left_right {
    0% {
        right: -30px;
    }
    60% {
        right: 10px;
    }
}

.yiyuan {
    font-size: 34px;
    line-height: 56px;
    display: inline-block;
    height: 60px;
    vertical-align: middle;
    color: #003567;
    margin-left: -15px;
}

.font-color-489-003567 {
    color: #003567;
    font-weight: 500;
}

.container {
    padding: 0px;
}

.section {
    padding: 0;
}

.table {
    width: 100%;
    max-width: 100%;
    margin: 0px;
    height: 100%;
}

.table table {
    width: 100%;
    max-width: 100%;
    margin: 0px;
    padding-bottom: 15px;
    height: 100%;
}

.nav-tabs > li {
    margin-bottom: 0;
    border: none;
}

.vertical .nav-tabs,
.vertical .tab-content {
    display: table-cell;
    margin: 0;
    vertical-align: top;
    z-index: 0;
}

.vertical .nav-tabs {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom-color: transparent;
    background-color: #eee;
    padding-bottom: 40px;
    padding-top: 40px;
    min-height: 400px;
    height: 400px;
}

.vertical .tab-content {
    border-top: 0 solid #f0f0f0;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0 rgba(0, 0, 0, 0);
    left: 0;
    padding: 30px 0 30px 30px;
    z-index: 0;
    font-size: 14px;
    line-height: 28px;
    width: 100%;
}

.vertical .nav-tabs > li.active > a,
.vertical .nav-tabs > li.active > a:hover,
.vertical .nav-tabs > li.active > a:focus {
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0 rgba(0, 0, 0, 0);
    border-right-color: transparent;
    border-color: #eee;
    color: #4c4948;
    z-index: 2;
    width: 100%;
    border: 0;
    background-color: #eeeeee;
}

.vertical .nav-tabs > li a:focus {
    border: 0;
}

.vertical .nav-tabs > li a {
    margin: 0;
    padding: 10px 40px;
    white-space: nowrap;
    color: #959595;
    border: 0px solid #eee;
    width: 379px;
}

#page5 .tab-content > .tab-pane {
    width: 100%;
}

.vertical .nav-tabs > li > a:hover {
    border-color: #f0f0f0 #f0f0f0 #f0f0f0;
    border-right-color: transparent;
    color: #4c4948;
    z-index: 2;
    background-color: #eeeeee;
}

UNUSED.fp-viewing-1 .header.fixed.animated,
UNUSED.fp-viewing-2 .header.fixed.animated,
UNUSED.fp-viewing-3 .header.fixed.animated,
UNUSED.fp-viewing-4 .header.fixed.animated,
UNUSED.fp-viewing-5 .header.fixed.animated,
UNUSED.fp-viewing-6 .header.fixed.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

UNUSED.fp-viewing-1 .header.fixed,
UNUSED.fp-viewing-2 .header.fixed,
UNUSED.fp-viewing-3 .header.fixed,
UNUSED.fp-viewing-4 .header.fixed,
UNUSED.fp-viewing-5 .header.fixed,
UNUSED.fp-viewing-6 .header.fixed {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1006;
    filter: alpha(opacity=0);
    border-bottom: 1px solid #db4453;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.95);
}

body {
    font: 14px/1.6;
}

* {
    margin: 0;
    padding: 0;
}

.inner {
    position: relative;
    width: 1100px;
    margin: 0 auto;
}

.balace_bao_phone-hd .nav a:hover {
    height: 62px;
    border-bottom: 2px solid #4cb803;
}

#balace_bao_phone {
    margin-top: 0;
}

#balace_bao_phone .inner {
    width: 1170px;
    height: 100%;
    display: table;
}

.num-box {
    background-color: #2d323b;
    padding: 25px 20px 40px 20px !important;
    height: 327px;
}

.table > thead:first-child > tr:first-child > th {
    border: 1px solid #272c34;
}

.table > thead > tr > th {
    border: 1px solid #272c34;
    background-color: transparent;
    color: #9da2ab;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
}

.table table > thead:first-child > tr:first-child > th {
    border: 1px solid #272c34;
}

.table table > thead > tr > th {
    border: 1px solid #272c34;
    background-color: transparent;
    color: #9da2ab;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
}

.yuqing-index-box {
    background-color: #2d323b;
    margin-right: 15px;
    padding-top: 42px;
    padding-bottom: 40px;
}

.graph-box {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 570px;
    height: 245px;
    opacity: 1;
    visibility: inherit;
    color: #fff;
    margin: 0 auto;
    background-color: #2d323b;
    vertical-align: middle;
}

.graph-date {
    position: absolute;
    bottom: 40px;
    left: 20px;
    color: #9ea3ab;
    font-size: 10px;
    font-weight: 100;
}

.graph-date > ul > li {
    width: 132px;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 14px;
}

.list-inline > .padding-left-18 {
    padding-left: 36px;
}

.yuqing-title {
    position: absolute;
    color: #fff;
    font-size: 16px;
    top: 25px;
    left: 165px;
}

.num-box tbody {
    background-color: transparent;
}

.table-bordered {
    border: 0px solid #272c34;
}

.table table > thead > tr > th,
.table table > tbody > tr > th,
UNUSED.table table > tfoot > tr > th,
UNUSED.table table > thead > tr > td,
.table table > tbody > tr > td,
UNUSED.table table > tfoot > tr > td {
    padding: 3px 15px;
    border: 1px solid #272c34;
}

.num-box .table table > tbody > tr > td {
    border-top: 0;
    font-size: 12px;
    font-weight: 100;
    border: 1px solid #272c34;
    color: #9da2ab;
    text-align: center;
}

.table-bordered table > tbody > tr > td {
    border-color: #272c34;
}

#page5 .table table > thead:first-child > tr:first-child > th {
    border: 1px solid #eee;
    font-size: 12px;
    color: #666666;
    font-weight: 300;
}

#page5 .table table > thead > tr > th,
UNUSED#page5.table table > tbody > tr > th,
UNUSED#page5 .table table > tfoot > tr > th,
UNUSED#page5.table table > thead > tr > td,
#page5 .table table > tbody > tr > td,
UNUSED#page5 .table table > tfoot > tr > td {
    padding: 8px 15px;
    border: 1px solid #eee;
    font-size: 12px;
}

#balace_bao_phone .section1 {
    height: 100%;
    overflow: hidden;
    background: url("/sites/all/themes/thfund/images/yuebao/yuebao-bg.jpg") 100% 0 no-repeat;
    background-size: cover;
}

#balace_bao_phone .section1 h3 {
    position: relative;
    top: 290px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

#balace_bao_phone .section1 p {
    position: relative;
    top: 350px;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    text-align: center;
}

#balace_bao_phone .section1 img {
    position: relative;
    top: 450px;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

#balace_bao_phone .section2 h2 {
    width: 577px;
    height: 90px;
    margin: 0 auto;
    text-indent: -9999px;
    background-image: url(../images/slider3_title.png);
}

#balace_bao_phone .section2 {
    height: 100%;
    overflow: hidden;
    background-size: cover;
}

#balace_bao_phone .section3 {
    height: 100%;
    overflow: hidden;
    background: url("/sites/all/themes/thfund/images/yuebao/bg2.jpg") 100% 100% no-repeat;
    background-size: cover;
}

.section-box {
    position: relative;
    min-height: 640px;
    padding-bottom: 20px;
}

#balace_bao_phone .section3 h2 {
    position: absolute;
    left: 52px;
    bottom: 422px;
    color: #fff;
}

#balace_bao_phone .section3 p {
    position: absolute;
    left: 52px;
    bottom: 352px;
    color: #fff;
    font-size: 14px;
}

#balace_bao_phone .section3 .img1 {
    position: absolute;
    right: 300px;
    bottom: 0;
}

#balace_bao_phone .section3 .img2 {
    position: absolute;
    right: 352px;
    bottom: 198px;
}

#balace_bao_phone .section3 .img4 {
    position: absolute;
    right: 618px;
    bottom: 60px;
}

#balace_bao_phone .section3 .img4 span {
    display: inline-block;
    float: left;
    width: 76px;
    color: #fff;
    font-size: 12px;
    position: inherit;
    right: 30px;
}

#balace_bao_phone .section3 .img4 img {}

#balace_bao_phone .section3 .img6 {
    position: absolute;
    right: 57px;
    bottom: 104px;
    width: 165px;
}

#balace_bao_phone .section3 .img6 .num-arrow {
    position: absolute;
    right: 130px;
    bottom: 22px;
    z-index: 10;
    height: 18px;
    width: 18px;
    float: left;
}

.btn-mynum {
    background-color: white;
    color: #4c4948;
    border: 1px solid #e3e4e8;
    font-size: 16px;
    font-weight: 100;
    min-width: 165px;
    padding: 8px 0 8px 24px;
    position: absolute;
    bottom: 0px;
}

#balace_bao_phone .section4 {
    height: 100%;
    overflow: hidden;
    background: url("/sites/all/themes/thfund/images/yuebao/baofenwang-bg.png") 100% 100% no-repeat;
    background-size: cover;
}

.num-bin {
    display: inherit;
    position: relative;
    margin: 0 auto;
    margin-top: 264px;
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

.num-bin li {
    float: left;
    margin: 0 36px;
}

.num-bin li span {
    color: rgba(255, 255, 255, 0.8);
}

#balace_bao_phone .section4 .txt {
    position: absolute;
    right: 0;
    top: 64px;
    display: inherit;
    text-align: center;
    color: #898989;
    padding: 0 160px;
}
.bg-color-dddddd {
    background-color: #dddddd;
}

#balace_bao_phone .section4 h2 {
    margin-bottom: 10px;
}

#balace_bao_phone .section4 p {
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: #898989;
    font-weight: 100;
}

.read-bao-box {
    text-align: center;
    padding: 40px 0;
}

.read-bao-box img {
    margin: 0 auto;
}

#balace_bao_phone .section5 .read-bao-box .minititle {
    font-size: 30px;
    margin-top: 10px;
    color: #4c4948;
    line-height: 36px;
}

#balace_bao_phone .section5 .read-bao-box p {
    font-size: 16px;
    line-height: 16px;
    padding: 0;
    margin: 10px 0;
    color: #4c4948;
}

.read-bao-box small {
    font-size: 12px;
    color: #a0a0a0;
    line-height: 12px;
}

#balace_bao_phone .section5 p {
    padding: 5px 0 20px 0;
    line-height: 30px;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 15px;
}

UNUSED#fp-nav span,
UNUSED.fp-slidesNav span {
    border: 1px solid #999;
}

UNUSED#fp-nav li .active span,
UNUSED.fp-slidesNav.active span {
    background-color: #4ec200;
}

.tab-gonglv {
    background-color: #cf3c40;
    height: 400px;
}

.tab-gonglv .nav-tabs > li {
    width: 50%;
    background-color: #fff;
    border: none;
    height: 60px;
}

.tab-gonglv .nav-tabs > li a {
    font-size: 18px;
    line-height: 60px;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 60px;
}

.tab-gonglv .nav-tabs > li.active > a,
.tab-gonglv .nav-tabs > li.active > a:hover,
.tab-gonglv .nav-tabs > li.active > a:focus,
.tab-gonglv .nav-tabs > li > a:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background-color: #cf3c40;
    height: 60px;
    line-height: 60px;
    color: #fff;
}

.tab-gonglv .nav-tabs {
    border-bottom: 1px solid #cf3c40;
}

.tab-gonglv .nav-tabs,
.tab-shouyi .nav-tabs {
    margin: 0;
}

.tab-gonglv tbody {
    background-color: transparent;
}

.tab-gonglv .table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: rgba(207, 60, 64, 0.5);
}

.tab-gonglv .table > tbody > tr > td {
    border-top: 0;
    font-size: 12px;
    font-weight: 100;
    border-right: 0px solid #fff;
    line-height: 18px;
    padding: 10px 15px;
    vertical-align: middle;
}

.tab-gonglv .table > thead > tr > th {
    color: #fff;
}

.tab-gonglv .table > thead:first-child > tr:first-child > th {
    border: 0px solid #272c34;
    font-size: 12px;
}

.tab-gonglv .table:not(.table-bordered) {
    border-bottom: 0px solid #f3f3f3;
}
.zhuanchu {
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    vertical-align: middle;
}
.tab-gonglv .padding-clear > tbody > tr > td {
    padding:0;
}
.tab-gonglv .zctable > tbody > tr > td {
    font-size: 14px;
    font-weight: 100;
    border: 0px solid #ddd;
    line-height: 18px;
    padding: 10px 0px;
    vertical-align: middle;
    color: #fff;
    background: transparent;
    width: 45%;
}
.tab-gonglv .zctable > tbody > tr > td a{
    color: #fff;
}
.tab-shouyi {
    background-color: #959595;
    height: 400px;
    font-size: 14px;
    color: #fff;
}

.tab-shouyi h3 {
    display: block;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    color: #fff;
}

.tab-shouyi .nav-tabs {
    background-color: #7d7d7d;
    height: 60px;
    line-height: 60px;
    color: #4c4948;
    border: none;
}

.tab-shouyi .nav-tabs li a {
    display: block;
    height: 60px;
    line-height: 60px;
    color: #4c4948;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 120px;
}

.tab-shouyi .nav-tabs > li.active > a,
.tab-shouyi .nav-tabs > li.active > a:hover,
.tab-shouyi .nav-tabs > li.active > a:focus,
.tab-shouyi .nav-tabs > li > a:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #cf3c40;
    background-color: #cf3c40;
    color: #fff;
}

.form-horizontal .form-group {
    margin: 0;
    font-size: 14px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
}

.count-result-label {
    height: 36px;
    line-height: 36px;
    margin-left: 30px;
    margin-right: 15px;
    font-size: 14px;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
}

.count-result {
    display: table-cell;
    vertical-align: middle;
    height: 36px;
    font-size: 36px;
    line-height: 36px;
    color: #4c4948;
    font-weight: 500;
    margin-right: 5px;
}

.tab-shouyi small {
    display: table-cell;
    vertical-align: bottom;
    font-size: 14px;
    color: #4c4948;
    padding-left: 10px;
}

.y-num {
    position: absolute;
    top: 16px;
    left: 100px;
    width: 100px;
}

.y-num li {
    height: 56px;
    font-size: 14px;
}

.x-num li {
    padding: 5px 0;
    float: left;
    width: 78px;
    font-size: 14px;
}

.link-target {
    position: relative;
}

.placeholder {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    top: -100px;
}

.img6-innerbox {
    position: relative;
    width: 165px;
    height: auto;
}

@keyframes rotate {
    0% {
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
    }
    100% {
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
    }
}

.stars {
    transform: perspective(500px);
    transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    perspective-origin: 50% 100%;
    left: 50%;
    animation: rotate 90s infinite linear;
}

.star {
    width: 2px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0 -300px;
    transform: translate3d(0, 0, -300px);
    backface-visibility: hidden;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.MyRect {}

.MyText {
    fill: white;
    text-anchor: middle;
}

.y.axis path {
    display: none;
}
.c3-chart-lines {
    stroke: #fff;
}
.c3-axis-y line {
    stroke: #fff;
    stroke-opacity: .2;
    shape-rendering: crispEdges;
}
.c3 .c3-axis-y text {
    margin-left: -10px;
}
.y.axis .zero line {
    stroke: #000;
    stroke-opacity: 1;
}

.c3-axis-y .domain {
    stroke: #fff;
}
.indexgraphbox {
    display: block;
    position: absolute;
    bottom: -3px;
    left: -74px;
    /*width: 100%;*/
}
.c3 path, .c3 .tick line {
    fill: none;
    stroke: #fff;
}
.c3-legend-item {
    display: none;
}
.c3-chart {
    position: absolute;
}
.c3-grid line {
    stroke: rgb(31, 119, 180);
}
.c3-chart-arcs .c3-chart-arcs-background {
  fill: #000;
  stroke: none;
}
.c3-area {
    fill: red;
}
.xjidu {
    position: absolute;
    right: 0;
    bottom: 25px;
    font-size: 10px;
    font-weight: 300;
}
.yyiyuan {
    position: absolute;
    left: -35px;
    top: 70px;
    font-size: 10px;
    font-weight: 300;
}
.c3-grid .c3-xgrid, .c3-grid .c3-ygrid {
    stroke-dasharray: 2 3;
    stroke: rgba(215, 215, 215, 0.61);
}