    #container {
        /*min-width: 600px;*/
        height: 100%;
        margin-top: 0px;
        position: absolute;
        top: 116px;
        left: 225px;
        /*position: relative;*/
        /*top: 116px;*/
    }
    .wei {
        position: absolute;
        top: 64px;
        right: -30px;
        font-size: 18px;

    }
    .emotions-index {
        margin: 0 auto;
        width: 720px;
    }
    .flip {
        font-size: 106px;
        color: #fff;
        text-align: center;
        line-height: 120px;
        font-weight: 200;
        letter-spacing: 6px;
        margin: 0 auto;
        height: 120px;
        color: #fff;
        padding-top: 40px;
    }

    .emotions-index > div,
    .total-price > div {
        float: left;
        text-align: center;
    }

    .price-icon {
        background: dimgrey;
        width: 25px;
        height: 30px;
        line-height: 30px;
        font-size: 26px;
        font-weight: bold;
        float: left;
        margin-right: 2px;
    }

    .emotions-index .number {
        width: 72px;
        height: 106px;
        line-height: 106px;
        font-size: 106px;
        font-weight: 200;
        letter-spacing: 6px;
        overflow: hidden;
        margin-right: 1px;
    }

    .emotions-index .sign {
        font-size: 80px;
        font-weight: 300;
        line-height: 100px;
        height: 80px;
    }