a {
  color: #58a25b;
}
.navbar-nav .main.active .title a {
  color: #58a25b;
}
.slider-1 .info .link,
.slider-2 .info .link {
  background: #58a25b;
}
.slider-3 .slider-nav-item:hover {
  background: #58a25b;
}
.block-news .news-time {
  background: #58a25b;
}
.block-news .title a:hover {
  color: #58a25b;
}
.block-news .page a.active {
  background: #58a25b;
}
.block-news .page a:hover {
  background: #58a25b;
}
.block-contact .btn-submit:hover {
  background: #58a25b;
}
