@charset "utf-8";
/* CSS Document */
*{ margin:0px; padding:0px}
img{ border:none}
li{ list-style:none}
a{ text-decoration:none}
body{ font-size:12px;}


/*banner*/
.banner{ width:100%; height:400px; position:relative; overflow:hidden}
.banner img{ width:1920px; height:400px; position:absolute; left:50%; margin-left:-960px}

/*关于我们*/
.main1{ width:100%; height:560px; background:#ebf4f3}
.main1_{ width:1200px; height:530px; margin:0 auto; padding-top:30px}
.main1_l{ width:225px; height:406px; border:1px solid #c9c9c9; background:#FFF; float:left}
.main1_l h1{ width:225px; height:89px; background:#074c8d; text-align:center}
.main1_l h1 p{ color:#bedfff; text-decoration:underline; padding-top:20px; letter-spacing:2px; font-family:"Book Antiqua"}
.main1_l h1 span{ color:#FFF;  font-family:"微软雅黑"; font-weight:normal; font-size:18px}
.main1_l ul li{ height:13px; background:url(../images/us_bg2.jpg); padding:23px 100px 13px 37px}
.main1_l ul li a{ display:block; background:url(../images/us_bg.jpg) no-repeat}
.main1_l ul li a span{ margin-left:17px; font-size:14px; color:#555555}
.main1_r{ width:926px; height:496px; border:1px solid #c9c9c9; border-top:4px solid #074c8d; float:right; background:#FFF}
.us_top{ width:888px; height:20px;  border-bottom:1px solid #dfdfdf; margin-left:20px; padding-top:25px; position:relative; }
.us_top h2{ float:left; color:#333333; font-size:18px; font-family:"微软雅黑"; border-bottom:3px solid #c9c9c9;  bottom:-2px; position:absolute; left:20px; font-weight:normal}
.us_top b{ float:right; margin-right:20px; font-size:14px; font-weight:normal; color:#777777}
.us_top b a{ color:#777777}
.us_top b a:hover{ color:#074c8d}
.us_top b span{ color:#dc251f}
.us_bottom{ width:848px; height:420px; margin:0 auto; padding-top:30px; clear:both;}
.us_bottom p.we{ width:500px; float:left;}
.us_bottom img{ float:right}
.us_bottom p{text-indent:2em; font-size:14px; margin-bottom:20px; color:#777777; line-height:28px; letter-spacing:1px; clear:both}

/*新闻中心*/
.news_bottom{ width:848px; height:410px; margin:0 auto; padding-top:30px}
.news_bottom ul li{ color:#444444; font-size:14px; background:url(../images/news_bg.jpg); height:30px; line-height:30px}
.news_bottom ul li a{ color:#444444; float:left; text-decoration:underline}
.news_bottom ul li span{ float:right}
.news_bottom ul li:hover a,.news_bottom ul li:hover{ color:#dc251f}
.news_bottom p,.successful_bottom p{ float:right; margin-top:14px; color:#666666; width:368px;}
.news_bottom p span,.successful_bottom p span{ margin-left:5px; padding:0 8px;  height:22px; display:block; float:left; line-height:22px; text-align:center}
.news_bottom p span.number,.successful_bottom p span.number{ background:#074c8d; color:#FFF}
.news_bottom p span:hover,.successful_bottom p span:hover{ background:#074c8d; color:#FFF}
/*新闻中心详情页*/
.main2{ width:100%; height:1260px; background:#ebf4f3}
.main2_{ width:1200px; height:1230px; margin:0 auto; padding-top:30px}
.main2_r{ width:926px; height:1187px; border:1px solid #c9c9c9; border-top:4px solid #074c8d; float:right; background:#FFF}
.news_m{ width:735px; height:1110px; margin:0 auto; padding-top:30px; clear:both; font-size:14px; color:#666666; line-height:30px;}
.news_m h1{ font-size:20px; font-family:"微软雅黑"; text-align:center; color:#333333}
.news_m span{ float:right; margin-right:10px;}
.news_m p{ text-indent:2em; margin-bottom:15px; clear:both}
.news_m a{ font-size:12px; color:#666666}
.news_m img{ margin-bottom:20px}
.news_m a:hover{ color:#F00}

/*服务项目*/
.service{ width:845px; height:390px; margin:0 auto; clear:both; font-size:14px; color:#666666; padding-top:55px; letter-spacing:2px}
.picture,.picture_r{ width:245px; height:331px; float:left; margin-right:55px; text-align:center;}
.picture ul li,.picture_r ul li{ width:245px; height:264px;background:#f0f0f0}
.picture_r{ margin-right:0px; float:right}
.picture ul li b,.picture_r ul li b{ font-size:18px; font-family:"微软雅黑"; color:#343434; height:65px; line-height:65px; font-weight:normal}
.picture ul li p,.picture_r ul li p{  background:url(../images/service_bg2.jpg) no-repeat 170px 0px;}
.picture ul li a,.picture_r ul li a{ height:13px; margin-left:35px; color:#084e8e}
.picture ul li a:hover,.picture_r ul li a:hover{ color:#F00}
.picture span,.picture_r span{ display:block; width:245px; height:59px; background:url(../images/service_bg.jpg); margin-top:8px; line-height:59px; font-size:30px; font-family:"微软雅黑"; color:#FFF}
/*服务项目详情页*/
.service_m{ width:845px; height:390px; margin:0 auto; padding-top:42px; clear:both;}
.service_l{ width:255px; height:324px; float:left; border:1px solid #c9c9c9}
.service_l img{ margin-bottom:10px}
.service_l h3{ font-size:18px; font-family:"微软雅黑"; color:#333333; margin-left:32px; letter-spacing:1px; line-height:35px}
.service_l h3 span{ font-weight:normal}
.service_r{ width:558px; height:356px; float:right; line-height:24px; letter-spacing:1px}
.service_r h4{ font-size:16px; font-family:"微软雅黑"; color:#333333; margin-bottom:10px; font-weight:normal}
.service_r p{ font-size:12px; color:#666666; margin-bottom:20px}

/*成功案例*/
.main3{ width:100%; height:1523px; background:#ebf4f3}
.main3_{ width:1200px; height:1493px; margin:0 auto; padding-top:30px}
.main3_r{ width:926px; height:1451px; border:1px solid #c9c9c9; border-top:4px solid #074c8d; float:right; background:#FFF}
.successful_bottom{ width:848px; height:1352px; margin:0 auto; padding-top:48px; clear:both; text-align:center}
.successful_bottom ul li{ width:253px; height:372px; float:left; margin-right:44px; background:#f2f2f2; margin-bottom:46px}
.successful_bottom ul li.right{ margin-right:0px}
.successful_bottom ul li span{ height:35px; line-height:35px; font-size:18px; font-family:"微软雅黑"; letter-spacing:2px; color:#333333}

/*联系我们*/
.contact_bottom{ width:848px; height:410px; margin:0 auto; padding-top:33px}
.contact_bottom .map{ width:848px; height:309px; margin-bottom:15px}
.contact_bottom ul li{ font-size:18px; font-family:"微软雅黑"; font-weight:normal; color:#3e3e3e; height:30px; line-height:30px}
.contact_bottom ul li b{ font-weight:normal; float:left;}
.contact_bottom ul li span{ float:right;}


