@charset "utf-8";
/* CSS Document */

/*导航*/
.nav{ width:1200px; height:100px; margin:0 auto}
.nav_l{ width:252px; height:100px; float:left}
.nav_r{ width:650px; height:45px; float:right; padding-top:55px}
.nav_r ul li{ height:30px; float:left;}
.nav_r ul li a{ display:block; color:#3e3e3e; margin-left:33px; font-size:16px}
.nav_r ul li a:hover,.nav_r ul li a.this{ color:#dc251f; border-bottom:3px solid #dc251f}


/*底部*/
.bottom{ width:100%; height:200px; background:#084e8e}
.bottom_{ width:1200px; height:166px; margin:0 auto; padding-top:34px}
.bottom_l{ width:500px; height:166px; float:left}
.bottom_l ul{ width:270px; height:20px}
.bottom_l ul li{ float:left; margin-right:12px; font-size:18px; color:#FFF; font-family:"微软雅黑"; line-height:20px;}
.bottom_l form{ width:334px; height:30px; margin:22px 0px; background:url(../images/bottom_search.jpg)}
.bottom_l form input{ width:265px; height:27px; margin-left:18px; border:1px solid #FFF; font-size:14px; color:#999999; line-height:27px; font-family:"宋体"; outline:none}
.bottom_l p{ line-height:25px; color:#FFF; font-family:"宋体"}
.bottom_r{ width:331px; height:166px; float:right}
.bottom_r ul{ float:left; margin-left:8px}
.bottom_r ul li{ text-align:right; font-size:16px; color:#FFF; line-height:23px; margin-bottom:8px}
.bottom_r ul li img{ float:left; margin-right:8px}
.bottom_r ul li.phone{ font-size:24px; margin-bottom:15px}
.bottom_r img{ float:right}
