/*首页开始*/
/*banner开始*/
.banner{width: 100%;height: 572px;clear: both;position: relative;z-index: 1;}
.banner ul:first-child{width: 100%;	height: 100%;padding: 0px;	margin: 0px;}
.banner ul:first-child li{width: 100%;height: 100%;display: inline-block;padding: 0px;margin: 0px;}
.banner ul:first-child li a{width: 100%;height: 100%;float: left;display: block;background-size: 100%;}
.banner ul:last-child{width: 100%;height: 15px;text-align: center;position: absolute;pointer-events: none;bottom: 15px;}
.banner ul:last-child li{display: inline-block;width: 15px;height: 15px;background: #000;pointer-events: auto;border-radius: 50%;}
/*banner结束*/

/*----------------------------问题开始*/
.question_Bg{padding: 50px 0px;height: auto;background: #fff;}
.question{width: 1170px;height: auto;margin: auto;position: relative;}
.que_list{width: 1170px;overflow: hidden;box-shadow: 8px 8px 16px  rgba(0, 0, 0, 0.3);}
.que_list li{width: 195px;float: left;height: 254px;cursor: pointer;}
.que_list li:nth-of-type(1){background: #a4f6e9;}
.que_list li:nth-of-type(2){background: #7cebda;}
.que_list li:nth-of-type(3){background: #61e0cc;}
.que_list li:nth-of-type(4){background: #49d7c1;}
.que_list li:nth-of-type(5){background: #23bba4;}
.que_list li:nth-of-type(6){background: #009d85;}
.que_list li{width: 195px;height: 254px;font-size: 24px;padding: 77px 22px 0px 26px;box-sizing: border-box;color: #333;}
.que_list li label{display: inline-block;}
.que_list li .que_list_div{width: 400px;overflow: hidden;color: #5c5c5cna; top: 256px;padding-left: 0;position: absolute;z-index: 555;display: none;margin-left: -131.5px;}
.que_list li .que_list_div strong{display: block;width: 396px;height: 6px;background: url("../img/line_san.png"/*tpa=http://www.njourdry01.com/templets/ourdry/img/line_san.png*/) no-repeat;}
.que_list li .que_list_div div{width: 396px;font-size: 16px;line-height: 24px;padding:10px 15px 20px 15px;border: 1px solid #ddd;border-top: none;background: #fff;box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);margin-bottom: 4px;box-sizing: border-box;}
.que_list li:hover{background: #f25618;}
.que_list li:hover label{color: white}
.btn{height: 94px;width: 1170px;text-align: center;}
.btn a{display: inline-block;width: 400px;height: 60px;color: white;background: #f25618;font-size: 20px;line-height: 60px;margin-top: 34px;}
/*----------------------------问题结束*/

/*6大核心优势开始*/
.adv_Bg{width: 100%;height: 872px;background: #fff;position: relative;z-index: 1;}
.adv_top{width: 100%;background: url("../img/meg_Bg.jpg"/*tpa=http://www.njourdry01.com/templets/ourdry/img/meg_Bg.jpg*/) no-repeat;height: 160px;position: relative;z-index: 1;}
.adv_top b{display: block;text-align: center;font-size: 36px;color: white;padding-top: 5px;}
.adv_top b i{display:inline-block;color: #f25618;font-size: 60px;padding-right: 10px;}
.adv_top label{display: block;text-align: center;padding-top: 10px;font-size: 24px;color: white;}
.advantage{width: 1170px;height: auto;overflow: hidden;margin: auto;padding-top: 30px;}
.adv_list{width: 100%;height: auto;overflow: hidden;}
.adv_list li{width: 390px;height: 340px;float: left;}
.adv_list li b{display: inline-block;width: 100%;text-align: center;}
.adv_list li strong{display: block;height: 18px;font-size: 18px;color: #5C5C5C;padding-top: 20px;padding-bottom: 20px;text-align: center;}
.adv_list li p{text-indent: 2em;color: #5C5C5C;font-size: 16px;line-height: 28px;padding: 0px 22px;}
/*6大核心优势结束*/

/*服务形态开始*/
.service_Bg{width: 100%;height: auto;overflow: ;background: #fff;}
.service_top{width: 100%;background: url("../img/meg_Bg.jpg"/*tpa=http://www.njourdry01.com/templets/ourdry/img/meg_Bg.jpg*/) no-repeat;height: 160px;}
.service_top b{display: block;text-align: center;font-size: 36px;color: white;line-height: 36px;padding-top: 43px;}
.service_top label{display: block;text-align: center;padding-top: 29px;font-size: 24px;color: white;line-height: 24px;}
.sercive{padding: 48px 0px 50px 0px;width: 1170px;margin: auto;height: auto;overflow: hidden;}
.sercive h1{font-size: 24px;line-height: 24px;text-align: center;color: #5C5C5C;}
.sercive h1 span{color: #f25618;}
.ser_list{width: 1170px;height: auto;overflow: hidden;}
.ser_list li{width: 278px;height: 270px;float: left; padding-top: 20px;box-sizing: border-box;}
.ser_list li a b{display: block;height: 212px;}
.ser_list span{display: block;width: 100%;height: 38px;font-size: 18px;line-height: 38px;color: #5c5c5c;text-align: center;background-color: #eee;}
.ser_list_one{margin-right: 19px;width: 278px;}
.ser_list_two{width: 276px;}
/*服务形态结束*/
/*8大经营模式开始*/
.pattern_Bg{width: 100%;background: #eee;padding:50px 0px;overflow: hidden;}
.pattern{width: 100%;margin-left: 43px;}
.pattern h1{text-align: center;font-size: 36px;font-weight: normal;color: #696969;margin-bottom: 54px;}
.pattern h1 i{font-size: 56px;color: #f25618;padding-right: 5px;color: #f25618;}
.pat_left{width: 50%;height: 540px;float: left;}
.pat_right{float: left;width: 560px;height: 540px;}
.pat_list{width: 100%;overflow: hidden;}
.pat_list li{width: 280px;height: 120px;padding-left: 20px;box-sizing: border-box;text-align: center;margin-bottom: 20px;float: left;}
.pat_list li b{display: block;width: 154px;height: 42px;text-align: center;background-color: #009d85;color: white;font-size: 20px;font-weight: normal;line-height: 42px;
border-radius: 20px;margin-left:53px;position: relative;z-index: 2;}
.pat_list li label{display: block;width: 260px;border: 2px solid #009d85;height: 100px;border-radius: 20px;
color: #5C5C5C;font-size: 16px;box-sizing: border-box;position: absolute;margin-top: -20px;z-index: 1;padding: 28px 17px 0px 17px;line-height: 32px;}
/*8大经营模式结束*/

/*o2o经营模式开始*/
.business_Bg{background: #fff;padding: 43px 0px 50px 0px;overflow: hidden;}
.business{width: 1198px;margin: auto;overflow: hidden;}
.business h1{text-align: center;font-size: 24px;font-weight: normal;color: #696969;margin-bottom: 39px;}
.business h1 i{font-size: 40px;color: #f25618;padding-right: 5px;color: #f25618;line-height: 40px;}
/*o2o经营模式结束*/

/*----------------------品质设备开始*/
.quality_Bg{width: 100%;height: auto;overflow: ;background: #fff;padding-bottom: 50px;}
.quality_top{width: 100%;background: url("../img/meg_Bg.jpg"/*tpa=http://www.njourdry01.com/templets/ourdry/img/meg_Bg.jpg*/) no-repeat;height: 160px;margin-bottom: 30px;}
.quality_top b{display: block;text-align: center;font-size: 36px;color: white;line-height: 36px;padding-top: 43px;}
.quality_top label{display: block;text-align: center;padding-top: 29px;font-size: 24px;color: white;line-height: 24px;}
.quality{width: 1170px;height: auto;margin: auto;overflow: hidden;}
.qua_one{width: 100%;height: 342px;margin-bottom: 30px;}
.qua_left{float: left;width: 580px;}
.qua_right{float: left;width: 590px;padding-top: 19px;}
.qua_right b{display: block;font-size: 24px;font-weight: normal;color: #5C5C5C;line-height: 24px;margin-bottom: 30px;}
.qua_right b span{color: #f25618;}
.qua_div{margin-bottom: 20px;width: 100%;height: auto;overflow: hidden;}
.qua_div strong{display: inline-block;float: left;width: 124px;color: white;background: #009d85;text-align: center;height: 42px;font-weight: normal;line-height: 42px;}
.qua_div p{color: #5C5C5C;float: left;padding-left: 15px;width: 400px;line-height: 42px;}
.she_Bg{width: 100%;padding: 30px 0px;background: #eee;position: relative;z-index: 1;}
.she{width: 1170px;height: 587px;margin: auto;}
.she_lun{width: 1170px;height: 300px;position: relative;}
.show_list{width: 100%;height: 300px;position: relative;overflow: hidden;}
.show_list ul{width: 100%;height: 300px;position: absolute;}
.show_list ul li{width: 270px;height: 300px;float: left;}
.show_ul01{padding:0px 15px;}
.she_lun span a{font-size: 82px;position: absolute;z-index: 999;color: #9e9e9e;}
.span_al{left: -62px;top: 78px;}
.span_ar{right: -62px;top: 78px;}

.jian_list{width: 1170px;height: auto;margin: auto;overflow: hidden;padding-top: 30px;}
.jian_list ul li{width: 376px;height: 118px;background: #f9f9f9;float: left;}
.jian_list ul li:nth-of-type(1){margin-bottom: 21px;}
.jian_list ul li:nth-of-type(2){margin-bottom: 21px;}
.jian_list ul li:nth-of-type(3){margin-bottom: 21px;}
.ji_list01{margin-right: 21px;}
.jian_list img{float: left;padding: 33px 16px 0px 20px;}
.cir_div{float: left;}
.cir_div b{display:block; font-size: 20px;color: #5c5c5c;font-weight: normal;padding-top: 29px;line-height: 20px;}
.cir_div span{display: block;color: #999;font-size: 20px;line-height: 20px;padding-top: 20px;}

.she_btn{width: 100%;text-align: center;}
.she_btn a{display: inline-block;width: 400px;height: 60px;color: white;background: #f25618;font-size: 20px;line-height: 60px;margin-top: 40px;}


/*----------------------品质设备结束*/
/*多种投资模式开始*/
.touzi_Bg{width: 100%;height: auto;overflow: hidden;background: #fff;padding-bottom: 50px;}
.touzi_top{width: 100%;background: url("../img/meg_Bg.jpg"/*tpa=http://www.njourdry01.com/templets/ourdry/img/meg_Bg.jpg*/) no-repeat;height: 160px;}
.touzi_top b{display: block;text-align: center;font-size: 36px;color: white;line-height: 36px;padding-top: 43px;}
.touzi_top label{display: block;text-align: center;padding-top: 29px;font-size: 24px;color: white;line-height: 24px;}
.touzi{width: 1170px;height: auto;margin: auto;overflow: hidden;}
.touzi_list01{height: 48px;margin:30px 0px 20px 0px;width: 1170px;margin: auto;padding: 20px;}
.touzi_list01 li{float: left;width: 20%;height: 48px;font-size: 20px;color: #b0b0b0;line-height: 48px;text-align: center;cursor: pointer;}
.touzi div{display: none;}
.touzi_div{height: 480px;}
.tou_div_left{width: 480px;height: 480px;float: left;background: #f9f9f9;}
.tou_div_left img{padding: 40px;}
.tou_div_right{width: 690px;height: 480px;float: left;padding-top: 40px;box-sizing: border-box;font-weight: normal;background: #f9f9f9;}
.tou_div_right b{display: block;font-size: 24px;color: #5c5c5c;font-weight: normal;}
.tou_list{width: 100%;height: auto;overflow: hidden;}
.tou_list label{display: inline-block;width: 140px;height: 36px;float:left;color: #fff;font-size: 16px;text-align: center;line-height: 36px;background-color: #009d85;font-weight: normal;}
.tou_list span{display: inline-block;float: left;color: #5c5c5c;font-size: 16px;line-height: 36px;width: 450px;padding-left:15px;box-sizing: border-box;}
.t_li_bot{margin-bottom: 30px;}
.t_li_one{margin-top: 25px;}
.ul_tou{float: left;}
.tou_btn{ height: 100px;width: 1170px;text-align: center;font-weight: normal;margin: auto;}
.tou_btn a{display: inline-block;width: 400px;height: 60px;color: white;background: #f25618;font-size: 20px;line-height: 60px;margin-top: 40px;text-align: center;}
/*多种投资模式结束*/

/*360保姆式服务开始*/
.Nanny_Bg{width: 100%;height: auto;background: #fff;overflow: hidden;padding-bottom: 50px;}
.nanny_top{width: 100%;background: url("../img/meg_Bg.jpg"/*tpa=http://www.njourdry01.com/templets/ourdry/img/meg_Bg.jpg*/) no-repeat;height: 160px;}
.nanny_top b{display: block;text-align: center;font-size: 36px;color: white;line-height: 36px;padding-top: 33px;}
.nanny_top b i{display:inline-block;color: #f25618;font-size: 60px;padding-right: 5px;line-height: 60px;}
.nanny_top label{display: block;text-align: center;padding-top: 14px;font-size: 24px;color: white;line-height: 24px;}
.nanny{width: 1170px;height: auto;overflow: hidden;margin: auto;}
.nay_btn{height: 100px;width: 100%;text-align: center;}
.nay_btn a{display: inline-block;width: 400px;height: 60px;color: white;background: #f25618;font-size: 20px;line-height: 60px;margin-top: 40px;}
/*360保姆式服务结束*/

/*加盟看培训开始*/
.train_Bg{width: 100%;height: auto;overflow: hidden;padding-bottom: 50px;}
.train_top{width: 100%;background: url("../img/meg_Bg.jpg"/*tpa=http://www.njourdry01.com/templets/ourdry/img/meg_Bg.jpg*/) no-repeat;height: 160px;}
.train_top b{display: block;text-align: center;font-size: 36px;color: white;line-height: 36px;padding-top: 43px;}
.train_top label span{display:inline-block;color: #f25618;}
.train_top label{display: block;text-align: center;padding-top: 29px;font-size: 24px;color: white;line-height: 24px;}
.train_md{width: 1170px;height: 641px;margin: auto;}
.train_bt{width: 1170px;margin: auto;}
.train_bt ul{overflow: hidden;padding-top: 30px;} 
.train_bt ul li{float: left;} 
.train_bt ul li:nth-of-type(1){margin-bottom: 25px;}
.train_bt ul li:nth-of-type(2){margin-bottom: 25px;}
.train_bt ul li:nth-of-type(3){margin-bottom: 25px;}
.train_bt ul li:nth-of-type(4){margin-bottom: 25px;}
.train_bt ul li:nth-of-type(5){margin-bottom: 25px;}
.bt_list{margin-right: 25px;}

.box{width: 1170px;	margin: auto;height: 641px;}
.banner_box{width: 1170px;height: 641px;position: relative;	overflow: hidden ;}
.banner_list{width: 100%;height: 641px;list-style: none;position: relative;}
.banner_list li{position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;	opacity: 0;}
.item_center{width: 1170px;height: 100%;margin: auto;}
.nav_item{position: absolute;width: 100%;bottom: 0;left: 0px;}
.nav_box{width: 1170px;	height: 180px;margin: auto;	position: relative;	z-index: 999;bottom: 0;overflow: hidden;}
.nav_box li{float: left;width: 180px;height: 180px;cursor: pointer;}
.nav_box li{padding: 0px 7px;}
.nav_box li img{width: 180px;height: 180px;}
.item_img{float: left;width: 342px;height: 461px;float: left;}
.item_right{float: left;width: 828px;padding-left: 44px;padding-top: 30px; box-sizing: border-box;overflow: hidden;height: 641px;}
.item_right b{display: block;font-size: 24px;color: #5c5c5c;line-height: 24px;font-weight: normal;margin-bottom: 30px;}
.item_right b span{font-size: 18px;color: #5c5c5c;padding-left: 21px;}
.tec_line{height: 30px;font-size: 16px;line-height: 30px;margin-bottom: 20px;}
.tec_line strong{display: inline-block;float: left;width: 124px;color: white;background: #009d85;text-align: center;}
.tec_line p{color: #5c5c5c;float: left;padding-left: 15px;width: 635px;}
.tec_line p span{color: #bf1a20;}
.tr_tec_right{float: left;width: 200px;}


.lun_btn{width: 100%;height: 100px;text-align: center;}
.lun_btn a{display: inline-block;width: 400px;height: 60px;color: white;background: #f25618;font-size: 20px;line-height: 60px;margin-top: 40px;}*/

/*加盟看培训结束*/



/*8000多名创业者开始*/
.chuan_Bg{width: 100%;height: auto;overflow: hidden;background: #fff;}
.chuan{width: 1170px;margin: auto;overflow: hidden;/*padding-bottom: 50px;*/}
.chuan_top{width: 100%;background: url("../img/meg_Bg.jpg"/*tpa=http://www.njourdry01.com/templets/ourdry/img/meg_Bg.jpg*/) no-repeat;height: 160px;}
.chuan_top b{display: block;text-align: center;font-size: 36px;color: white;line-height: 36px;padding-top: 33px;}
.chuan_top b i{display:inline-block;color: #f25618;font-size: 60px;padding-right: 5px;line-height: 60px;}
.chuan_top label{display: block;text-align: center;padding-top: 14px;font-size: 24px;color: white;line-height: 24px;}
.chuan_list{height: 48px;margin:30px 0px 20px 0px;}
.chuan_list li{float: left;width: 14.2%;height: 48px;font-size: 20px;color: #b0b0b0;line-height: 48px;text-align: center;cursor: pointer;}

/*----------------------------------------------------------*/
.chuan_list  li.ch_list{background-color: #009d85;color: white;}
.chuan div{display: none;}
.chuan .a_chuan{display: block;}

/*----------------------------------------------------------*/

.row_ch_list{width: 1170px;overflow: hidden;height: auto;}
.row_ch_list li{float: left;width: 376px;height: 354px;}
.row_ch_list li b{display: block;width: 100%;height: auto;}
.row_ch_list li span{display: block;width: 100%;height: 48px;line-height: 48px;font-size: 18px;color: #5c5c5c;text-align: center;background-color: #f9f9f9;}
.ch01{margin-right: 14px;}
.ch01 a,.ch01 a:visited{ color: #5C5C5C}
.ch01 a:hover{ color: #009d85;}
.per_Bg{width: 1170px;overflow: hidden;margin: auto;padding-bottom: 50px;}
.person{width: 100%;height: 320px;}
.per_left{height: 320px;width: 320px;float: left;}
.per_right{height: 320px;width: 850px;background-color: #f9f9f9;float: left;padding-left: 60px;box-sizing: border-box;position: relative;}
.per_right b{display: block;padding: 41px 0px 31px 0px;color: #5c5c5c;font-size: 26px; font-weight: 400}
.per_right p{text-indent: 2em;color: #999;font-size: 16px;line-height: 28px;padding-right: 38px;}
.per_right span{display: block;padding-right: 38px;position: absolute;right: 0;bottom: 30px;}
.per_btn{height: 110px;text-align: center;line-height: 160px;}
.per_btn a{display: inline-block;width: 400px;height: 60px;background-color: #f25618;font-size:20px;color: white;line-height: 60px;text-decoration: none;}

/*8000多名创业者结束*/
/*在线留言开始*/
.meg_Bg{width: 100%;height: auto;overflow: hidden;background: #e6f8eb;padding-bottom: 50px;}
.meg_top{width: 100%;background: url("../img/meg_Bg.jpg"/*tpa=http://www.njourdry01.com/templets/ourdry/img/meg_Bg.jpg*/) no-repeat;height: 160px;}
.meg_top b{display: block;text-align: center;font-size: 36px;color: white;line-height: 36px;padding-top: 43px;}
.meg_top label span{display:inline-block;color: #f25618;}
.meg_top label{display: block;text-align: center;padding-top: 29px;font-size: 24px;color: white;line-height: 24px;}
.meg{width: 1170px;height: auto;overflow: hidden;margin: auto;}
.meg h1{font-size: 24px;text-align: center;font-weight: normal;color: #5C5C5C;line-height: 24px;margin-top: 40px;}
.meg h1 span{color: #f25618;}
.meg_left{width: 626px;height: 583px;float: left;padding-top: 60px;box-sizing: border-box;}
.meg_left h3{font-weight: normal;}
.meg_right{float: right;width: 544px;height: 583px;}
.meg_left label{display: inline-block;float: left;color: #2e3636;line-height: 63px;width: 100px;text-align: right;font-size: 16px;margin-bottom: 20px;}
.meg_left label span{color: #fc2ca1;}
.meg_left input{width: 492px;height: 57px;border: 2px solid #cef2da;float: right;font-size: 16px;text-indent: 15px;margin-bottom: 20px;color: #aba6a5;}
.text{width: 488px;height: 140px;float: left;border: 0;border: 2px solid #cef2da;font-size: 16px;color: #aba6a5;text-indent: 15px;padding-top: 23px;margin-left: 30px;}
.meg_btn{width: 256px;text-align: center;float: left;height: 64px;line-height: 64px;background: #ff5e12;color: white;margin-top: 26px;margin-left: 30px;border: 0;font-size: 20px;}
/*在线留言结束*/


/*----------------------加盟咨询开始*/
.advice_Bg{width: 100%;height: 340px;background: url("../img/ad_bg.jpg"/*tpa=http://www.njourdry01.com/templets/ourdry/img/ad_bg.jpg*/) no-repeat;}
.advice{height: auto;overflow: hidden;width: 1170px;margin: auto;}
.advice p{font-size: 28px;font-weight: bold;text-align: center;color: #fff;}
.advice p:nth-of-type(1){padding-top: 82px;}
.advice p:nth-of-type(1) span{display:inline-block; font-size: 45px;color: #f25618;line-height: 45px;}
.advice_btn{width: 100%;height: 90px;text-align: center;}
.advice_btn a{display: inline-block;width: 400px;height: 60px;background: #f25618;color: #fff;font-size: 20px;line-height: 60px;margin-top: 30px;}
/*----------------------加盟咨询结束*/

/*首页结束*/


/*关于澳洁开始***********************************************************/
/*品牌介绍1开始*/
.main{width: 1170px;margin: auto;background: #fff;height: auto;margin-top: 28px;overflow: hidden;}
.main_left{width: 230px;height: auto;float: left;background-color: #f9f9f9;}
.main_left ul li{width: 230px; height: 58px;text-align: center;line-height: 58px;font-size: 20px;cursor: pointer;color: #a8a8a8;}
.main_left ul li a{color: #a8a8a8;}
.main_right{width: 940px;float: left;overflow: hidden;padding-left: 30px;box-sizing: border-box;height: auto;}
.mr{width: 100%;height: auto;}
.mr_one h1{height: 42px;font-weight: normal;border-bottom: 2px solid #eee;color: #a9a9a9;}
.mr_one h1 b{display: inline-block; font-size: 25px;font-weight: normal;float: left;line-height: 42px;}
.mr_one h1 span{display: inline-block;font-size: 20px;padding-left: 16px;float: left;padding-top: 11px;}
.jieshao{width: 100%;height: auto;}
.jieshao b{display: block;}
.jieshao b img{padding: 56px 0px 21px 92px;}
.jie_duan{width: 100%;height: auto;}
.jie_duan label{display: block;font-size: 16px;color: #5c5c5c;text-indent: 2em;line-height: 16px;padding-bottom: 14px;padding-top: 9px;}
.jie_duan strong{display: block; font-size: 16px;color: #5c5c5c;font-weight: normal;text-indent: 2em;line-height: 16px;padding-bottom: 14px;padding-top: 6px;}
.jie_duan p{font-size: 16px;color: #b0b0b0;line-height: 28px;text-indent: 2em;padding-bottom: 9px;}
/*品牌介绍1结束*/

/*--------------------------------品牌文化开始*/
.mr_two h1{height: 42px;font-weight: normal;border-bottom: 2px solid #eee;color: #a9a9a9;margin-bottom: 6px;}
.mr_two h1 b{display: inline-block; font-size: 25px;font-weight: normal;float: left;line-height: 42px;}
.mr_two h1 span{display: inline-block;font-size: 20px;padding-left: 16px;float: left;padding-top: 11px;}
.culture_div{height: 150px;margin: 50px 0px;}
.culture_div b{display: inline-block;width: 159px;height: 150px;float: left;}
.culture_div span{display: inline-block;width: 723px;height: 110px;background-color: #f9f9f9;float: right;margin-top: 21px;padding: 48px 0px 0px 20px;box-sizing: border-box;font-size: 16px;line-height: 16px;}
.culture_div span strong{color: #5c5c5c;font-weight: normal;}
.culture_div span label{color: #999;}
/*--------------------------------品牌文化结束*/

/*发展历程开始*/
.mr_three h1{height: 42px;font-weight: normal;border-bottom: 2px solid #eee;color: #a9a9a9;margin-bottom: 30px;}
.mr_three h1 b{display: inline-block; font-size: 25px;font-weight: normal;float: left;line-height: 42px;}
.mr_three h1 span{display: inline-block;font-size: 20px;padding-left: 16px;float: left;padding-top: 11px;}
.history_div{width: 100%;height: auto;}
.his_left{display: inline-block; float: left;height: 1300px;margin: 0px 25px;position: relative;border-left: 1px dashed #f36229;}
.his_right{width: 100%;position: absolute;height: auto;overflow: hidden;}
.his_right b{display: inline-block;width: 54px; height: 54px;background: url("../img/icon/gray_cir.jpg"/*tpa=http://www.njourdry01.com/templets/ourdry/img/icon/gray_cir.jpg*/) no-repeat;float: left;font-weight: normal;text-align: center;line-height: 54px;color: white;}
.his_right label{display: inline-block;float: left;color: #5C5C5C;padding-left: 30px;font-size: 16px;line-height: 16px;padding-top: 20px;}
.his_right strong{display: inline-block;width: 54px; height: 54px;background: url("../img/icon/or_cir.png"/*tpa=http://www.njourdry01.com/templets/ourdry/img/icon/or_cir.png*/) no-repeat;float: left;font-weight: normal;text-align: center;line-height: 54px;color: white;}

/*发展历程结束*/

/*荣誉资质开始---------------------*/
.mr_four h1{height: 42px;font-weight: normal;border-bottom: 2px solid #eee;color: #a9a9a9;margin-bottom: 43px;}
.mr_four h1 b{display: inline-block; font-size: 25px;font-weight: normal;float: left;line-height: 42px;}
.mr_four h1 span{display: inline-block;font-size: 20px;padding-left: 16px;float: left;padding-top: 11px;}
.honor_div{width: 100%;height: auto;}
.honor_div p{font-size: 16px;color: #a1a1a1;text-indent: 2em;line-height: 38px;margin-bottom: 5px;}
.honor_line{height: 220px;width: 100%;padding-top: 15px;box-sizing: border-box;position: relative;}
.honor_line b{display: inline-block;font-size: 20px;color: #5c5c5c;font-weight: normal;padding-right: 12px;line-height: 20px;float: left;}
.honor_line label{display: inline-block; height: 2px;background: url("../img/icon/honor_line.jpg"/*tpa=http://www.njourdry01.com/templets/ourdry/img/icon/honor_line.jpg*/) repeat-x;float: left;}
.honor_line strong{display: inline-block;font-size: 16px;line-height: 16px;color: #b0b0b0;font-weight: normal;margin-top: 30px;float: left;}

.honor_line label:nth-of-type(1){width: 692px;margin-top: 10px;}
.honor_line label:nth-of-type(2){width: 100%;margin-top: 82px;}
.honor_line i{display: inline-block;position: absolute;right: 0;width: 258px;height: 170px;bottom: 0;}
.honor_line i u{display: inline-block;width: 2px;height: 140px;background: url("../img/icon/honor_line02.jpg"/*tpa=http://www.njourdry01.com/templets/ourdry/img/icon/honor_line02.jpg*/) repeat-y;float: right;margin-top: -26px;}
/*荣誉资质结束---------------------*/
/*媒体报道开始*/
.mr_six h1{height: 42px;font-weight: normal;border-bottom: 2px solid #eee;color: #a9a9a9;}
.mr_six h1 b{display: inline-block; font-size: 25px;font-weight: normal;float: left;line-height: 42px;}
.mr_six h1 span{display: inline-block;font-size: 20px;padding-left: 16px;float: left;padding-top: 11px;}
.media_div{width: 100%;height: auto;}
.media_top{width: 900px;height: 70px;margin: auto;position: relative;z-index: 1;margin: 45px 0px;}
.media_top span b{display: block;width: 50px;height: 70px;color: #5C5C5C;position: absolute;z-index: 1111;}
#me_sl{left: 0;font-size: 36px;line-height: 70px;}
#me_sr{right: -20px;font-size: 36px;line-height: 70px;}
.media_ul{width: 800px;height: 70px;position: relative;z-index: 1;margin-left: 50px;overflow: hidden;z-index: 2;}
.media_ul ul{background: yellowgreen;position: absolute;}
.media_ul ul li{width: 200px;height: 70px;background: red;float: left;}
.media_ul ul li img{width: 200px;height: 70px;}


.media_line{height: 100px;width: 100%;margin-bottom: 50px;}
.media_line a,.media_line a:visited{ color:#5c5c5c;}
.media_line a:hover{ color: #009d85; text-decoration: underline}
.media_line b{display: inline-block;width: 220px;height: 92px;border: 4px solid #e5e5e5;float: left;}
.media_line b a{display: inline-block;width: 220px;height: 92px;}
.media_line b a img{width: 220px;height: 92px;}
.media_line span{display: inline-block;float: left;padding-left: 46px;}
.media_line span strong{display: block; font-weight: normal;font-size: 16px;margin-bottom: 10px;}
.media_line span strong a{color: #5C5C5C;}
.media_line span p{color: #999;font-size: 16px;height: 52px;line-height: 26px;width: 626px;}
.media_line span p a{display: inline-block;width: 100%;height: 52px;color: #999;}
.media_list{width: 100%;margin-bottom: 40px;overflow: hidden;text-align: center;height: 44px;}
.media_list ul{display: inline-block; width: 100%;height: auto;position: absolute;text-align: center;}
.media_list ul li{float: left;font-size: 16px;height: 42px;border: 1px solid #eee;padding: 0px 20px;line-height: 42px;background: red;text-align: center;}
/*媒体报道结束*/

/*联系我们开始*/
.mr_seven h1{height: 42px;font-weight: normal;border-bottom: 2px solid #eee;color: #a9a9a9;}
.mr_seven h1 b{display: inline-block; font-size: 25px;font-weight: normal;float: left;line-height: 42px;}
.mr_seven h1 span{display: inline-block;font-size: 20px;padding-left: 16px;float: left;padding-top: 11px;}
.contact_div{width: 100%;height: auto;}
.contact_div b{display: block;width: 100%;}
.contact_div b img{padding: 30px 0px 30px 73px;}
.contact_div p{font-size: 16px;line-height: 16px;padding-left: 73px;padding-bottom: 20px;color: #999;}
/*联系我们结束*/

/*文章开始*/
.place{ width: 1170px; margin: auto;height: auto; text-align: left; margin-top: 10px; line-height: 30px; color: #5C5C5C; font-size: 14px;}
.place a,.place a:visited{ color: #5C5C5C;}
.place a:hover{ color: #009D85; text-decoration: underline;}
.artcle{width: 1170px;margin: auto;height: auto;margin-top: 40px;}
.artcle h1{font-size: 32px;color: #333;text-align: center;line-height: 32px;font-weight: normal;}
.artcle h2{text-align: center;font-weight: normal;font-size: 14px; color:#5C5C5C; line-height: 60px;}
.artcle h2 span{display: inline-block;}
.artcle h2 span:nth-of-type(1){padding-right: 15px;}
.artcle h2 span:nth-of-type(2){padding-left: 15px;}
.artcle h3{text-align: center;}
.artcle h3 img{width: 900px;height: 561px;padding-bottom: 20px;}
.article_div{width: 100%;height: auto;padding: 8px 20px;text-indent: 2em;box-sizing: border-box;}
.article_div b{display: block;font-size: 18px;color: #333;line-height: 28px;padding-bottom: 5px;font-weight: normal;}
.article_div p img{display: inline-block;text-align: center;}
.article_div p{font-size: 16px;color: #5C5C5C;line-height: 40px; margin-top: 15px;}
.article_a{width: 100%;height: auto;padding: 40px 20px;box-sizing: border-box;}
.article_a ul li{line-height: 30px;font-size: 16px;color: #5C5C5C;}
.article_a ul li:hover{color: #009D85;cursor: pointer;}
.article_a ul li a,.article_a ul li a:visited{ color: #5C5C5C;}
.article_a ul li a:hover{ color: #009d85; text-decoration: underline}
/*文章结束*/
/*新闻列表开始*/
.new_list{height: 100px;width: 100%;margin-bottom: 30px;border: 2px solid #EEEEEE;padding: 20px;}
.new_list a,..new_list a:visited{ color:#5c5c5c;}
.new_list a:hover{ color: #009d85; text-decoration: underline}
.new_list b{display: inline-block;width: 220px;height: 92px;border: 4px solid #e5e5e5;float: left;}
.new_list b a{display: inline-block;width: 220px;height: 92px;}
.new_list b a img{width: 220px;height: 92px;}
.new_list span{display: inline-block;float: left;padding-left: 46px;}
.new_list span strong{display: block; font-weight: normal;font-size: 16px;margin-bottom: 10px;}
.new_list span strong a{color: #5C5C5C;}
.new_list span p{color: #999;font-size: 16px;height: 52px;line-height: 26px;width: 800px;}
.new_list span p a{display: inline-block;width: 100%;height: 52px;color: #999;}
/*新闻列表结束*/

/*关于澳洁结束**********************************************************/

/*---------------------------------------技术设备开始*/

.equi_Bg{width: 1005;background: #fff;}
.equipment{width: 1170px;margin: auto;padding: 50px 0px;overflow: hidden;}
.equipment h1{text-align: center;color: #333;font-size: 36px;line-height: 36px;padding-bottom: 30px;}
.equipment h2{text-align: center;color: #8c8c8c;font-size: 24px;font-weight: normal;line-height: 24px;padding-bottom: 13px;}
.equipment ul li{float: left;width: 570px;height: 460px;margin-top: 28px;}
.equipment ul li img{width: 570px;height: 460px;}
.equipment ul li.equi_list01{margin-right: 30px;}

/*材料研发开始*/

.material_Bg{width: 100%;height: auto;overflow: hidden;padding: 50px 0px;background-color: #eee;}
.Material{height: auto;width: 1170px;margin: auto;}
.Material h1{text-align: center;padding-top: 31px;}
.Material h1 i{display: inline-block;font-size: 60px;line-height: 60px;color: #f25618;}
.Material h1 label{display: inline-block;font-size: 36px;padding-left: 4px;line-height: 36px;}
.Material h2{font-size: 24px;color: #8c8c8c;text-align: center;font-weight: normal;padding-top: 21px;line-height: 24px;padding-bottom: 34px;}

.mater{width: 1170px;height: 380px;margin: auto;position: relative;}
.mater .mater_div{width: 100%;height: 380px; position: absolute;z-index: 1;top: 0;left: 0;background: #eee;}
.mater_list{height: 48px;margin-bottom: 20px;}
.mater_list li{float: left;width: 25%;height: 48px;font-size: 20px;color: #b0b0b0;line-height: 48px;text-align: center;cursor: pointer;}

.ap_list{width: 100%;height: 333px;overflow: hidden;}
.ap_list li{width: 376px;float: left;height: 333px;padding-bottom: 20px;}
.ap_list li b{display: block;width: 376px;height: 282px;}
.ap_list li b img{width: 376px;height: 282px;}
.ap_list li span{display: block;text-align: center;line-height: 50px;font-size: 18px;color: #5C5C5C;}
.mater_li{ margin-right: 14px}



.holder,.holder1,.holder2,.holder3,.holder4,.holder5,.holder6,.holder7{margin: 15px 0;text-align: center;}
.holder a,.holder1 a,.holder2 a,.holder3 a,.holder4 a,.holder5 a,.holder6 a,.holder7 a{font-size: 14px;cursor: pointer;margin: 0 5px;color: #5C5C5C;text-decoration: none;background: #ddd;padding: 5px 10px;height: 30px;}
.holder a:hover,.holder1 a:hover,.holder2 a:hover,,.holder3 a:hover ,.holder4 a:hover,.holder5 a:hover,.holder6 a:hover,.holder7 a:hover{background-color: #009D85;color: #fff;}
.holder a.jp-previous,.holder1 a.jp-previous,.holder2 a.jp-previous,.holder3 a.jp-previous,.holder4 a.jp-previous,.holder5 a.jp-previous,.holder6 a.jp-previous,.holder7 a.jp-previous{ margin-right: 15px; }
.holder a.jp-next,.holder1 a.jp-next,.holder2 a.jp-next,.holder3 a.jp-next,.holder4 a.jp-next,.holder5 a.jp-next,.holder6 a.jp-next,.holder7 a.jp-next { margin-left: 15px; }
.holder a.jp-current,.holder1 a.jp-current,.holder2 a.jp-current,.holder3 a.jp-current,.holder4 a.jp-current,.holder5 a.jp-current,.holder6 a.jp-current,.holder7 a.jp-current, a.jp-current:hover {background-color: #009D85 !important;font-weight: bold;color: white;}
.holder span,.holder1 span,.holder2 span,.holder3 span,.holder4 span,.holder5 span,.holder6 span,.holder7 span { margin: 0 5px; }


/*材料研发结束*/

/*洗染护理开始*/
.dying_Bg{width: 100%;height: auto;background: #eee;padding: 50px 0px;overflow: hidden;}
.dying{width: 1170px;margin: auto;height: auto;}
.dying h1{font-size: 36px;color: #333;line-height: 36px;text-align: center;}
.dying h2{color: #8c8c8c;line-height: 24px;font-size: 24px;text-align: center;font-weight: normal;padding: 29px 0px 34px 0px;}
.dying_list{width: 1170px;height: 48px;margin-bottom: 20px;}
.dying_list li{float: left;width: 25%;height: 48px;font-size: 20px;color: #b0b0b0;line-height: 48px;text-align: center;cursor: pointer;}
.dying_div ul{width: 570px;height: 326px;float: left;}
.dying_div ul li{width: 280px;height: 326px;float: left;}
.dying_div ul li b{display: block;width: 100%;height: 280px;background: #009d85;}
.dying_div ul li span{display: block;line-height: 46px;color: #5C5C5C;font-size: 18px;background: #f9f9f9;text-align: center;}
.dying_div ul:nth-of-type(1){margin-right: 30px;}
.dying_li{margin-right: 10px;}
.dying_all div{display: none;}
/*洗染护理结束*/

/*---------------------------------------技术设备结束*/






/*-----------------------------------------------------------------------我要加盟开始*/

/*加盟条件开始**************************************************************/
/*加盟条件开始*/
.join_Cond{width: 1170px;margin: auto;background: #fff;height: auto;}
.join_Cond h1{font-size: 36px;line-height: 36px;text-align: center;color: #333;padding: 50px 0px 40px 0px;}
.join_Cond ul{}
.join_Cond ul li{float: left;height: 242px;width: 390px;float: left;text-align: center;}
.join_Cond ul li b{display: inline-block;width: 100px;height: 100px;}
.join_Cond ul li b img{width: 100px;height: 100px;}
.join_Cond ul li span{display: inline-block;font-size: 18px;color: #5c5c5c;line-height: 18px;padding:30px 0px 29px 0px;}
.join_Cond ul li p{font-size: 16px;line-height: 16px;color: #999;}
/*加盟条件结束*/
/*加盟流程开始*/
.join_proBg{width: 100%;background: #eee;height: auto;}
.join_Process{height: 500px;width: 1170px;margin: auto;}
.join_Process h1{text-align: center;font-size: 36px;padding-top: 35px;line-height: 60px;color: #333;font-weight: bold;}
.pro_list{width: 100%;height: auto;overflow: hidden;padding-top: 20px;}
.pro_list a div{height: 242px;text-align: center;width: 195px;padding: 0px 15px;float: left;box-sizing: border-box;}
.pro_list a div b{display: inline-block;width: 72px;height: 72px;border: 4px solid #4cbaa9;border-radius: 50%;margin-top: 23px;}
.pro_list a div b img{padding: 10px 0px;box-sizing: border-box;}
.pro_list a div p{font-size: 18px;color: #5c5c5c;line-height: 72px;}
.pro_list a div span{display:block;padding: 0px 0px;font-size: 16px;color: #b0b0b0;}
.freeDetail{height: 135px;text-align: center;}
.freeDetail a{display: inline-block;margin:25px 0px 50px 0px;width:400px;height: 60px;background-color: #f25618;font-size:20px;color: white;line-height: 60px;text-decoration: none;}
/*加盟流程结束*/
/*多种投资模式开始*/
.touzi_Bg01{width: 100%;background: #fff;height: auto;overflow: hidden;padding-bottom: 50px;}
.touzi_top01{width: 100%;height: 160px;}
.touzi_top01 b{display: block;text-align: center;font-size: 36px;color: #333;line-height: 36px;padding-top: 50px;}
.touzi_top01 label{display: block;text-align: center;padding-top: 29px;font-size: 24px;color: #8c8c8c;line-height: 24px;}
/*多种投资模式结束*/
/*奥洁6大核心优势开始*/
.adv_Bg01{width: 100%;height: 872px;background: #eee;position: relative;z-index: 1;}
.adv_top01{width: 100%;height: 160px;position: relative;z-index: 1;}
.adv_top01 b{display: block;text-align: center;font-size: 36px;color:#333;}
.adv_top01 b i{display:inline-block;color: #f25618;font-size: 60px;padding-right: 10px;padding-top: 36px;line-height: 60px;}
.adv_top01 label{display: block;text-align: center;padding-top: 28px;font-size: 24px;color: #8c8c8c;line-height: 24px;}
/*奥洁6大核心优势结束*/    
/*开店无需担忧开始*/
.worry_Bg{width: 100%;height: auto;background: #fff;padding: 50px 0px;}
.worry{width: 1170px;margin: auto;height: auto;}
.worry h1{font-size: 36px;line-height: 36px;color: #333;text-align: center;}
.worry_list{width: 100%;height: auto;}
.worry_list span{display: block;font-size: 16px;color: #5c5c5c;padding-top: 40px;padding-bottom: 14px;line-height: 16px;}
.worry_list p{color: #999;font-size: 16px;line-height: 16px;line-height: 30px;}
.worry_list p b{font-weight: normal;display: inline-block;float: left;width: 28px;}
.worry_list p label{display: inline-block;width: 1142px;}
.worry_list strong{display: block; width: 100%;height: 1px;background: url("../img/icon/cond_line.jpg"/*tpa=http://www.njourdry01.com/templets/ourdry/img/icon/cond_line.jpg*/) repeat-x;margin-top: 33px;}

/*开店无需担忧结束*/


/*加盟条件结束**************************************************************/




/*加盟支持开始----------------------*/
.support_Bg{width: 100%;height: 2284px;background: url("../img/icon/support_Bg.jpg"/*tpa=http://www.njourdry01.com/templets/ourdry/img/icon/support_Bg.jpg*/) no-repeat;position: relative;z-index: 2;padding-top: 478px;box-sizing: border-box;}
.support{width: 1170px;height: 1779px;background: #fff;margin: auto;border-radius: 10px;}
.support h1{text-align: center;line-height: 60px;color: #00a68c;padding: 54px 0px 36px 0px;}
.support h2{text-align: center;}
.sup_div{height: 150px;width: 100%;padding: 20px 66px 0px 60px;box-sizing: border-box;}
.sup_div span.sup_span{display: inline-block;float: left;width: 200px;height: 130px;padding-right: 40px;box-sizing: border-box;}
.sup_rr{float: left;width: 844px;height: 130px;}
.sup_rr span{display: block;width: 100%;height: 40px;padding-top: 13px;}
.sup_rr span i{display: inline-block;width: 40px;height: 40px;background: #f25618;font-size: 28px;line-height: 40px;color: white;border-radius: 50%;text-align: center;float: left;}
.sup_rr span strong{display: inline-block;font-size: 24px;line-height: 40px;float: left;font-weight: normal;color: #F25618;padding-left: 20px;}
.sup_rr p{font-size: 18px;padding-left: 60px;color: #5C5C5C;line-height: 30px;}
.sup_rr span.span_two{padding-top: 31px;}
/*加盟支持结束---------------------*/


/*----------------------------------------------------我要加盟结束*/


/*培训中心开始*/
/*中心简介开始--------------*/
.center_Bg{width: 100%;padding: 50px 0px;background: #fff;overflow: hidden;}
.center{width: 1170px;height: 615px;margin: 0 auto;}
.center b{display: block;width: 160px;height: 48px;background-color: #009d85;font-size: 24px;font-weight: normal;line-height: 48px;color: #fff;text-align: center;margin-bottom: 18px;}
.center p{font-size: 16px;color: #999;text-indent: 2em;line-height: 32px;}
.banner_center{width: 100%;height: 388px;clear: both;position: relative;z-index: 1;margin-top: 22px;}
.banner_center ul:first-child{width: 100%;	height: 100%;padding: 0px;	margin: 0px;}
.banner_center ul:first-child li{width: 100%;height: 100%;display: inline-block;padding: 0px;margin: 0px;}
.banner_center ul:first-child li a{width: 100%;height: 100%;float: left;display: block;background-size: 100%;}
.banner_center ul:last-child{width: 100%;height: 15px;text-align: center;position: absolute;pointer-events: none;bottom: 15px;}
.banner_center ul:last-child li{display: inline-block;width: 15px;height: 15px;background: #000;pointer-events: auto;border-radius: 50%;}
/*中心简介结束--------------*/

/*-------------------中心环境开始*/
.evement_Bg{width: 100%;height: auto;overflow: hidden;padding: 50px 0px;background-color: #eee;}
.evement{height: 280px;margin: 0 auto;width: 1170px;}
.evement b{display: block;width: 160px;height: 48px;background-color: #009d85;font-size: 24px;font-weight: normal;line-height: 48px;color: #fff;text-align: center;margin-bottom: 20px;}
.evement ul{overflow: hidden;}
.evement ul li{float: left;}
.eve_one{margin-right: 20px;}
/*-------------------中心环境结束*/
/*-----------------------------师资力量开始*/
.teacher_Bg{width: 100%;background: #fff;padding: 50px 0px;overflow: hidden;}
.teacher{width: 1170px;height: 2088px;margin: 0 auto;}
.teacher b{display: block;width: 160px;height: 48px;background-color: #009d85;font-size: 24px;font-weight: normal;line-height: 48px;color: #fff;text-align: center;}
.teacher_list{height: 340px;padding-top: 20px;}
.teacher_list strong{display: inline-block;width: 320px;height: 320px;float: left;}
.te_right{width: 850px;height: 320px;float: left;background: #eee;padding-left: 60px;box-sizing: border-box;}
.te_right label{display: block;color: #5c5c5c;font-size: 24px;line-height: 24px;padding-top: 24px;padding-bottom: 26px;}
.te_right p:nth-of-type(1){font-size: 16px;color: #b8b8b8;line-height: 26px;}
.te_right p:nth-of-type(2){font-size: 16px;color: #b8b8b8;line-height: 26px;padding-top: 20px;padding-bottom: 20px;padding-right: 22px;}
.te_right p:nth-of-type(3){font-size: 16px;color: #b8b8b8;line-height: 26px;}
/*-----------------------------师资力量结束*/
/*----------------------课程科目开始*/
.course_Bg{padding: 50px 0px;background: #eee;overflow: hidden;}
.course{width: 1170px;height: auto;overflow: hidden;margin: auto;}
.course b{display: block;width: 160px;height: 48px;background-color: #009d85;font-size: 24px;font-weight: normal;line-height: 48px;color: #fff;text-align: center;margin-bottom: 20px;}
.course_tab{width: 1170px;font-size: 16px;color: #5C5C5C;}
.course_tab tr th{width: 20%;height: 60px;background: #009d85;color: white;font-size: 24px;text-align: center;}
.course_tab tr td{text-align: center;height: 30px;}


/*----------------------课程科目结束*/


/*==================student开始======================*/
.student{width: 1170px;height: auto;overflow: hidden;margin: auto;padding-top: 50px;}
.student b{display: block;width: 160px;height: 48px;background-color: #009d85;font-size: 24px;font-weight: normal;line-height: 48px;color: #fff;text-align: center;}
.stu_list{width: 100%;overflow: hidden;}
.stu_list li{float: left;height: 353px;padding-top: 20px;width: 376px;box-sizing: border-box;}
.stu_list li span{display: block;width: 100%;height: 48px;background-color: #eee;text-align: center;color: #5c5c5c;line-height: 48px;font-size: 18px;}
.stu_li{margin-right: 21px;}

/*==================student结束======================*/
/*培训中心结束*/



/*加盟商风采开始-------------------------------------------------------------------------------------------*/
.frac_Bg{width: 100%;height: auto;overflow: hidden;padding: 50px 0px;background-color: #fff;}
.frac_list{height: auto;width: 1170px;margin: auto;}
.fr_ul01{height: 48px;width: 1170px;margin: auto;margin-bottom: 20px;}
.fr_ul01 li{float: left;width: 14.28%;height: 48px;font-size: 20px;color: #b0b0b0;line-height: 48px;text-align: center;cursor: pointer;}
.frac_list{width: 1170px;position: relative;height: 750px;}
.frac_list .fr_div{width: 100%; position: absolute;z-index: 1;top: 0;left: 0;background: #fff;}
.fr_ul02{overflow: hidden;width: 100%;height: 706px;}
.fr_ul02 li{width: 376px;float: left;height: 333px;padding-bottom: 20px;}
.fr_ul02 li span{display: block;width: 100%;height: 48px;line-height: 48px;font-size: 18px;color: #5c5c5c;text-align: center;background-color: #f9f9f9;}
.line_li{ margin-right: 14px}
.line_li a,.line_li a:visited{ color: #5C5C5C}
.line_li a:hover{ color: #009d85;}


.pages_ul{text-align: center;}
.pages_ul li{display: inline-block; color: #5c5c5c;font-size: 14px;}
.pages_ul a,.pages_ul .thisclass{display: inline-block;height: 30px;font-size: 14px;line-height: 30px;color: #5c5c5c; text-align: center;padding: 0px 10px;background-color:#e5e5e5; margin: 0px 6px;}
.pages_ul a:hover{background: #009D85;color: white;}
.active_page{
	background:#009D85 !important;
	color:white !important;
}

.pages_ul .thisclass{
    background:#009D85 !important;
    color:white !important;
}

/*-------------------------明星加盟开始*/
.star_Bg{padding: 50px 0px;background: #eee;width: 100%;height: auto;overflow: hidden;}
.star{width: 1170px;height:auto; margin: auto;}
.star b{display: block;width: 160px;height: 48px;background-color: #009d85;font-size: 24px;font-weight: normal;line-height: 48px;color: #fff;text-align: center;margin-bottom: 20px;}
.star_ul li{width: 575px;height: 448px;float: left;}
.star_ul li span{display: block;width: 100%;height: 48px;font-size: 18px;color: #5c5c5c;text-align: center;background-color: #f9f9f9;line-height: 48px;}
.star_li{margin-right: 10px;}
.star_li a,.star_li a:visited{ color: #5C5C5C}
.star_li a:hover{ color: #009d85;}

/*加盟商风采结束-------------------------------------------------------------------------------------------*/
/*加盟感言开始*/
.ganyan{margin: auto;padding-top: 50px;height: auto;width: 1170px;}
.ganyan b{display: block;width: 160px;height: 48px;background-color: #009d85;font-size: 24px;font-weight: normal;line-height: 48px;color: #fff;text-align: center;}
.gan_list{width: 100%;height: 340px;padding-top: 20px;box-sizing: border-box;}
.gan_list strong{display: inline-block;width: 320px;height: 320px;float: left;}
.gan_list_right{float: left;width: 850px;height: 320px;background: #eee;float: left;padding-left: 60px;box-sizing: border-box;position: relative;}
.gan_list_right label{display: block;padding: 41px 0px 24px 0px;color: #5c5c5c;font-size: 26px;}
.gan_list_right p{text-indent: 2em;color: #999;font-size: 16px;line-height: 28px;padding-right: 38px;}
.gan_list_right span{display: block;text-align: right;padding-right: 38px;font-size: 30px;position: absolute;right: 0;bottom: 30px;}

/*加盟感言结束*/


/*服务保障开始-----------------------------------------------------------------------------*/
.Guarantee_Bg{width: 100%;height: 1762px;background: url("../img/icon/sev_Bg.jpg"/*tpa=http://www.njourdry01.com/templets/ourdry/img/icon/sev_Bg.jpg*/) no-repeat center;padding-top: 478px;box-sizing: border-box;}
.guarantee{width: 1170px;margin: auto;height: 1248px;background: #fff;border-radius: 10px;box-shadow: 0px 3px 5px #b6b4b5;}
.guarantee h1{font-weight: normal;}
.guarantee h1 b{display: inline-block;float: left;padding-left: 428px;}
.guarantee h1 span{display: inline-block;float: left;width: 350px;padding-top: 70px;}
.guarantee h1 span label{display: block;font-size: 20px;color: #999;text-align: right;line-height: 20px;}
.guarantee h1 span strong{display: block; color: #f25618;font-size: 28px;text-align: right;line-height: 28px;padding-top: 9px;}
.guarantee h2{text-align: center;}
.guarantee h2 img{padding-top: 27px;padding-bottom: 39px;}
.guar_div{width: 1050px;margin: auto;height: 120px;}
.guar_div span{display: block;width: 100%;height: 40px;}
.guar_div span i{display: inline-block;width: 40px;height: 40px;background: #f25618;font-size: 36px;line-height: 40px;color: white;border-radius: 50%;text-align: center;float: left;}
.guar_div span strong{display: inline-block;font-size: 24px;line-height: 40px;float: left;font-weight: normal;color: #F25618;padding-left: 20px;}
.guar_div p{font-size: 18px;padding-left: 60px;color: #5C5C5C;line-height: 38px;}
/*服务保障结束-----------------------------------------------------------------------------*/

/*索要资料开始*/
.ask_Bg{width: 100%;height: 780px;background-image: url("../img/ask_Bg.jpg"/*tpa=http://www.njourdry01.com/templets/ourdry/img/ask_Bg.jpg*/);background-size: 100% 100%;}
.ask{width: 1170px;margin: auto;height: auto;padding-top: 100px;}
.ask h1{font-size: 36px;line-height: 36px;color: #333;text-align: center;color: #fff;padding: 10px 0px;font-weight: 500;}
.ask h2{font-size: 20px;line-height: 20px;color: #fff;font-weight: 400;text-align: center;}
.ask form{margin-top: 40px;}
.ask_form{margin-bottom: 15px;overflow: hidden;}
.ask_form label{display: inline-block;font-size: 20px;color: #fff;width: 180px;text-align: right;}
.ask_form span.iphone{display: inline-block; font-size: 12px;color: white;padding-left: 20px;}
.ask_form input.input_iphone{height: 46px;border-radius: 6px;padding: 10px 16px;width: 280px;box-sizing: border-box; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);border-color: #009D85;outline: none;}
.ask_form label.ask_lable{float: left;padding-top: 8px;}
.ask_check{float: left;width: 140px;height: 46px;background: #fff;border-radius: 6px;padding: 0px 8px;margin-right: 15px;}
.ask_check span{display: inline-block;font-size: 20px;color: #5C5C5C;float: left;line-height: 46px;}
.ask_check input{float: right;margin-top: 18px;}
.ask_wen{font-size: 12px;float: left;color: white;padding-bottom: 10px;}
.ask_btn input{font-size: 20px;width: 200px;background: #009D85;border: 0;height: 46px;color: #fff;border-radius: 6px;margin-left: 240px;margin-top: 30px;}
.ask_select{float: left;}
.ask_select select{width: 160px;background: #fff;border: 0;height: 46px;margin-right: 6px;border-radius: 6px;font-size: 20px;}
/*索要资料结束*/

