html,body,h1,h2,h3,h4,h5,h6,ul,a,p,label,strong,table{margin: 0px;padding: 0px;font-family: "微软雅黑",arial;}
a{text-decoration: none;}
a:hover{ color#009d85;}
ul{list-style: none;}
img{border: 0;vertical-align: middle;}
.top_bg{background-color: #f9f9f9;border-bottom: 1px solid #eee;border-top: 1px solid #eee;}
.top{width: 1170px; height: 30px;line-height: 28px;padding: 0;margin: auto;font-size: 12px;}
.top_left{float: left;height: 30px;color: #5c5c5c;}
.top_left label{float: left;}
.top_left a{display: inline-block;float: left;}
.top_left a:nth-of-type(1){margin: 0px 8px;}

.top_hover{width: 280px;margin-top: 30px;position: absolute;z-index: 666;display: none;}
.top_hover ul{width: 100%;overflow: hidden;border: 1px solid #ddd;background: #fff;padding: 15px 0px;border-top: none;}
.top_hover strong{display: block;width: 290px;height: 6px;background: url("../img/san_03.png"/*tpa=http://www.njourdry01.com/templets/ourdry/img/san_03.png*/) no-repeat;margin-top: -5px;}

.top_hover ul li{width: 130px;float: left;}
.top_hover ul li:nth-of-type(1){margin-left: 20px;}
.top_hover ul li:nth-of-type(2){text-align: center;}

.top_hover ul li b{display: block;width: 130px;height: 130px;text-align: center;}
.top_hover ul li.wei_li b img{width: 130px;}
.top_hover ul li.weibo_li b img{width: 90px;height: 90px;padding: 0px 20px 10px 20px;}
.top_hover ul li span{display: block; text-align: center;line-height: 30px;font-size: 16px;color: #5C5C5C;}

.top_right{float: right;}
.top_right b{float: left;color: #999;font-weight: normal;}
.top_right a{text-decoration: none;color: #999;float: left;}
.top_right span{display: inline-block;width: 1px;height: 12px;background-color:#eee;line-height: 30px;float: left;margin: 9px 15px;}

/*头部开始*/
.headerd{height: 110px;width: 1170px;margin: auto;}
.logo_img{float: left;padding: 29px 0px;margin-right: 64px;}
#nav{float: left;margin-top: 35px;}
#nav a{display: block; width: 92px; text-align:center ;color: #5C5C5C;line-height: 40px;} 
#nav li {float: left; width: 92px; background:#fff; } 
#nav a:hover {color:#FFF;} 
#nav li a:hover{background:#009D85; } 
#nav li ul {line-height: 27px;text-align:left; width: 92px; position: absolute;display:none;z-index: 6666;} 
#nav li ul li{ float: left; width: 92px;  background: #009D85; } 
#nav li ul a{ display: block; width: 92px;text-align:center;background: #009D85;color: white;} 
#nav li ul a:hover {background: #37c9b1;;color:fff;} 
.curr{background: #009D85;color: #fff !important;}

.phone_right{float: right;}
.phone_right img{float: left;padding: 37px 8px 37px 0px;}
.phone_r{float: right;}
.phone_r span{display: block;height: 26px;color: #009d85;font-size: 14px;margin-top: 29px;}
.phone_r strong{display: block;height: 26px;color: #009d85;font-size: 18px;}
/*头部结束*/
/*banner_Center开始----*/
.banenr{width: 100%;height: 450px;}
.banenr img{width: 100%;height: 450px;}
/*banner_Center结束----*/


/*底部开始*/
.footer_Bg{width: 100%;height: auto;overflow: hidden;background: #fff;}
.footer_top{height: 132px;width: 1170px;margin: auto;}
.footer_list{height: 132px;float: left;width: 25%;}
.footer_list img{float: left;margin-top: 50px;margin-right: 17px;margin-left: 59px;}
.footer_ri{float: left;}
.footer_ri b{display: block;color: #5c5c5c;font-size: 20px;font-weight: normal;line-height: 20px;}
.ri_B{margin-top: 58px;margin-bottom: 4px;}

.footer_middle{height: 237px;border-top: 1px dashed #eee;width: 1170px;margin: auto;}
.footer_md_row{height: 237px;}
.md_four{background: red;height: 237px;}
.md_one{height: 237px;}
.middle_one{float: left;height: auto;overflow: hidden;width: 152px;}
.middle_one b{display:block;font-size: 16px;color: #333;margin-top: 38px;line-height: 16px;margin-bottom: 26px;}
.middle_one b a{ color: #5C5C5C}
.middle_one li a{display:block;color: #5C5C5C;font-size: 14px;line-height: 14px;padding-bottom: 16px;padding-left: 2px;box-sizing: border-box;}

.line_div{height: 160px;border-left:1px dashed #eee;float: left;margin-top: 28px;}

.middle_six{width: 404px;height: 237px;float: right;padding-top: 37px;padding-left:71px;box-sizing: border-box;}
.middle_six li{float: left;width: 136px;text-align: center;}
.middle_six li span{display: block; font-size: 14px;color: #999;line-height: 14px;padding-top: 9px;}
.middle_six li:nth-of-type(1){margin-right: 61px;}

/*footer_bot_Bg*/
.footer_bot_Bg{width: 100%;background-color: #282828;height: auto;}
.footer_bottom{text-align: center;padding: 20px 0px 10px 0px;width: 1170px;margin: auto;}
.footer_bottom p{font-size: 12px;line-height: 14px;color: #fff;padding-bottom: 7px;}
.footer_bottom p:nth-of-type(2) img{vertical-align: top; margin-right: 4px;}
.footer_bottom p a,.footer_bottom p a:visited,.footer_bottom p a:hover{ color: #fff; text-decoration: none;}

/*底部结束*/

/*右侧悬浮开始*/

.right-bar{display: block;position: fixed;top: 0;right: 0;height: 100%;background: #000;background: rgba(80,87,97,.9);width: 32px;z-index: 10000;}
.right-bar .right-bar-wrap{position: absolute;height: 340px;width: 100%;top: 60%;margin-top: -170px;z-index: 9999;}
.right-bar .right-bar-wrap .listen {position: relative;cursor: pointer;width: 32px;height: 32px;}
.right-bar .right-bar-wrap .text1.long {width: 172px;font-size: 14px;display: none;}
.right-bar .right-bar-wrap .text1.large {width: 120px; height: 140px; padding:10px 5px 5px 5px; font-size: 14px;top: -49px;background: #F9F9F9;display: none;}
.right-bar .right-bar-wrap .text1.large img{width: 110px;height: 110px;}
.right-bar .right-bar-wrap .text1.large span{display: block;font-size: 12px;color: #5C5C5C;}
.right-bar .right-bar-wrap .text1{color: #FFf;background: #009D85;width: 65px; height: 32px; line-height:32px; position: absolute; top: 0; right: 32px;z-index: 9999;text-align: center;}
/*.right-bar .right-bar-wrap{width: 100%;height: 2px;background: #009D85;}*/
.right-bar .right-bar-wrap .split {height: 1px;width: 85%;margin: 30px auto;background: #696d72;}
.right-bar .right-bar-wrap .code{margin-bottom: 26px;position: relative;cursor: pointer;
    width: 32px;height: 32px;}
.right-bar .right-bar-wrap .talk {height: 120px;margin-bottom: 30px;background: url("../img/icon/talk.png"/*tpa=http://www.njourdry01.com/templets/ourdry/img/icon/talk.png*/) no-repeat #009D85;}
.right-bar .right-bar-wrap .r-top{display: none;position: relative;cursor: pointer;width: 32px;height: 32px;line-height: 32px;text-align: center;}
.right-bar .right-bar-wrap .talk a{display: block; height: 120px;width: 32px;cursor: pointer;}
.right-bar .right-bar-wrap .talk a:hover::before{display: block; height: 120px;width: 32px;position: absolute;background: rgba(0,0,0,0.1);content: "";}
.right-bar .right-bar-wrap .diaocha{width: 32px;padding:10px 0px;margin-bottom: 12px;text-align: center;}
.right-bar .right-bar-wrap .diaocha a{display: block; width: 32px;padding:10px 0px;text-align: center;}
.right-bar .right-bar-wrap .diaocha span{display: block;font-size: 14px;color: white;line-height: 28px;}
.right-bar .right-bar-wrap .diaocha a:hover{background: #009D85;}
/*右侧悬浮结束*/




