/* CSS Document */

/* 网站链接总的css定义:可定义内容为链接字体颜色、样式等 */
a { text-decoration: none; } /* 链接无下划线,有为underline */
a:link { color: #000000; } /* 未访问的链接 */
a:visited { color: #333333; } /* 已访问的链接 */
a:hover { color: #ae0927; } /* 鼠标在链接上 */
a:active { color: #0000ff; } /* 点击激活链接 */
/* 顶部频道文字链接的css定义－－将顶部频道文字链接与网站链接总的css定义分开，以后可以制作深底浅字的格式，如果要保持原来的设计样式，将此定义内容删除或定义成与网站链接总的css相同即可。调用代码为<a class='channel' ***>***</a> */
a.channel:link { color: #ffffff; }
a.channel:visited { color: #ffffff; }
a.channel:hover { color: #990000; }
a.channel:active { color: #ffffff; }
/* 顶部当前频道文字链接的css定义－－调用代码为<a class='channel2' ***>***</a> */
a.channel2:link { color: #ffff00; }
a.channel2:visited { color: #ffff00; }
a.channel2:hover { color: #ff6600; }
a.channel2:active { color: #ffff00; }
/* 底部版权信息文字链接的css定义－－与顶部频道文字链接定义的想法相同。可设置与顶部频道文字链接定义不同的文字颜色，网页内定义以预留。调用代码为<a class='bottom' ***>***</a> */
a.bottom:link { color: #ffffff; }
a.bottom:visited { color: #ffffff; }
a.bottom:hover { color: #ffff00; }
a.bottom:active { color: #ffffff; }
/* 文章栏目标题文字链接的css定义－－可设置与顶部频道文字链接定义不同的文字颜色，网页内定义以预留。要相同可不设置。调用代码为<a class='class' ***>***</a> */
a.class:link { color: #ffffff; }
a.class:visited { color: #ffffff; }
a.class:hover { color: #ff0000; }
a.class:active { color: #ffffff; }
/* body的css定义:对应css中"body"，可定义内容为网页字体颜色、背景、浏览器边框等 */
body { margin:0px; font-size: 9pt; text-decoration: none; scrollbar-face-color: #f6f6f6; scrollbar-highlight-color: #ffffff; scrollbar-shadow-color: #cccccc; scrollbar-3dlight-color: #cccccc; scrollbar-arrow-color: #330000; scrollbar-track-color: #f6f6f6; scrollbar-darkshadow-color: #ffffff; background-image: url("sznc/bg01.gif"/*tpa=http://www.zgydhlw.cc/qn/images/sznc/bg01.gif*/); background-repeat: repeat-x; }
/* 单元格的css定义:对应css中的"td"，这里为总的表格定义，为一般表格的的单元格风格设置，可定义内容为背景、字体颜色、样式等 */
td { font-family:"宋体"; font-size: 9pt; line-height: 150%; font-weight: normal; }
/* 文本框的css定义:对应css中的"input"，这里为文本框的风格设置，可定义内容为背景、字体、颜色、边框等 */
/*input
{
background-color: #ffffff; 
border-bottom: #666666 1px solid;
border-left: #666666 1px solid;
border-right: #666666 1px solid;
border-top: #666666 1px solid;
color: #666666;
height: 18px;
border-color: #666666 #666666 #666666 #666666; font-size: 9pt
}
/* 按钮的css定义:对应css中的"button"，这里为按钮的风格设置，可定义内容为背景、字体、颜色、边框等 */
button { font-size: 9pt; height: 20px; }
/* 下拉列表框的css定义:对应css中的"select"，这里为下拉列表框的风格设置，可定义内容为背景、字体、颜色、边框等 */
select { font-size: 9pt; height: 20px; }
/* 顶部用户登录文字链接的css定义 */
.top_userlogin { color: #037fa8; }
/* ==频道通用表格css定义开始== */
.channel_border /* 灰色表格边框背景颜色定义(760) */ { border: 1px solid #cccccc; }
.channel_title /* 标题背景颜色定义(760) */ { background: #cccccc; color: #037fa8; height: 27; text-align: center; font-weight:bold; }
.channel_tdbg /* 表格背景颜色定义(760) */ { background:#fafafa; line-height: 120%; }
.channel_pager /* 分页表格背景颜色定义(760) */ { background:#fafafa; line-height: 120%; }
　　/* --评论显示页的css定义开始-- */
.comment_border /* 蓝色表格边框背景颜色定义(760) */ { border: 1px solid #CCCCCC; }
.comment_title /* 标题背景颜色定义(760) */ { background:#F1F1F1; color: #000000; font-weight: normal; height: 15; }
.comment_tdbg1 /* 表格背景颜色定义(760) */ { background:#ffffff; line-height: 100%; }
.comment_tdbg2 /* 留言显示1px表格背景颜色定义 */ { background:#fafafa; }
　　/* --评论显示页的css定义结束-- */
/* ==频道通用表格css定义结束== */ 

/* ==简短标题文字的css定义开始== */
/* [图文]简短标题文字的css定义 */
.s_headline1 { color: blue; }
/* [组图]简短标题文字的css定义 */
.s_headline2 { color: #ff6600; }
/* [推荐]简短标题文字的css定义 */
.s_headline3 { color: green; }
/* [注意]简短标题文字的css定义 */
.s_headline4 { color: red; }
/* ==简短标题文字的css定义开始== */

/* ==top.asp中的css定义开始== */
.top_tdbgall /* 顶部表格总背景颜色定义 */ { width: 760; background:#ffffff; }
.top_top { background:#0089f7; height: 2; }
.top_channel /* 频道表格背景、文字颜色定义 */ { background:#0089f7; color:#3ab1f5!important; text-align: right; border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; }
.top_announce /* 公告表格背景、文字颜色定义 */ { background:url("blue/top_nav_menu.gif"/*tpa=http://www.zgydhlw.cc/qn/images/blue/top_nav_menu.gif*/); color: #0560a6; height: 30; }
.top_nav_menu /* 导航栏表格背景、文字颜色定义 */ { color: #ffffff; height: 22; background-image: url("ocean/menu_bg2.gif"/*tpa=http://www.zgydhlw.cc/qn/images/ocean/menu_bg2.gif*/); padding-left: 33px; }
.top_path /* 您现在的位置表格背景、文字颜色定义 */ { width: 760; background:#ffffff; height: 30; }
.top_userlogin /* 顶部用户登录文字链接的css定义 */ { color: #037fa8 }
/* ==top.asp中的css定义结束== */

/* ==网页中部中的css定义开始== */
.center_tdbgall /* 中部表格总背景颜色定义 */ { background:#ffffff; width:770px; }
　　/* --网页中部左栏的css定义开始-- */
.left_tdbgall /* 左栏表格总背景颜色定义 */ { background:#ffffff; }
.left_title /* 左栏标题表格背景、文字颜色定义 */ { font-weight:bold; color: ffffff; height: 28px; padding-left:20px; text-align: left; background-image: url("ocean/right_t.gif"/*tpa=http://www.zgydhlw.cc/qn/images/ocean/right_t.gif*/); width: 182px; }
.left_tdbg1 /* 左栏内容表格背景、文字颜色定义 */ { padding: 5px; background-color: #e6f5ff; border-width: 1px; border-top-style: none; border-bottom-style: none; border-color: #a4c6fc; border-right-style: solid; border-left-style: solid; }
.left_tdbg2 /* 左栏底部表格背景、文字颜色定义 */ { height: 10px; background-image: url("ocean/tdbg_bottom.gif"/*tpa=http://www.zgydhlw.cc/qn/images/ocean/tdbg_bottom.gif*/); background-repeat: no-repeat; }
.right_title_bs06 /* 右栏标题表格背景、文字颜色定义 */ { font-weight:bold; color: ffffff; height: 28px; padding-left:20px; text-align: left; background-image: url("ocean/right_t.gif"/*tpa=http://www.zgydhlw.cc/qn/images/ocean/right_t.gif*/); }
.right_title /* 左栏标题表格背景、文字颜色定义 */ { background:url("blue/right_title.gif"/*tpa=http://www.zgydhlw.cc/qn/images/blue/right_title.gif*/); font-weight:bold; color: ffffff; height: 28; width:180; padding-left:40; text-align: left; }
　　/* --网页中部左栏的css定义结束-- */
　　/* --网页中部中栏的css定义开始-- */
.main_tdbgall /* 中栏表格总背景颜色定义 */ { width: 572; background:#ffffff; }
.main_shadow /* 中栏内容间隔表格背景颜色定义(575) */ { height: 4; }
.main_announce /* 中栏公告表格背景、文字颜色定义 */ { color: 037fa8; height: 25; background:#f9f9f9; border: 1px solid #d2d3d9; }
.main_search /* 中栏搜索表格背景、文字颜色定义 */ { color: 037fa8; height: 25px; border: 1px solid #d2d3d9; background:#f9f9f9; }
.main_top /* 中栏最新推荐表格背景颜色定义 */ { background:url("blue/main_top.gif"/*tpa=http://www.zgydhlw.cc/qn/images/blue/main_top.gif*/); height: 187; }
.main_title_760i /* 网站首页中栏标题表格背景、文字颜色定义(760) */ { color: ffffff; background-image: url("ocean/main_bs.gif"/*tpa=http://www.zgydhlw.cc/qn/images/ocean/main_bs.gif*/); border-right: 1px solid #1c65be; text-align: left; padding-left:30; height: 27; }
.main_tdbg_760i /* 网站首页中栏内容表格背景、文字颜色定义(760) */ { border: 1px solid #d2d3d9; line-height: 150%; text-align: left; padding-left:5; padding-right:5; }
.main_title_575 /* 中栏标题表格背景、文字颜色定义(575) */ { font-weight: bold; color: #ffffff; background-image: url("ocean/main_bs1.gif"/*tpa=http://www.zgydhlw.cc/qn/images/ocean/main_bs1.gif*/); height: 27px; padding-left: 30px; border-right-width: 1px; border-right-style: solid; border-right-color: #1c65be; }
.main_title_bs06 /* 中栏标题表格背景、文字颜色定义(bs06) */ { color: ffffff; text-align: left; padding-left:30px; height: 27px; background-image: url("ocean/main_bs.gif"/*tpa=http://www.zgydhlw.cc/qn/images/ocean/main_bs.gif*/); border-right-width: 1px; border-right-style: solid; border-right-color: #1c65be; font-weight: bold; }
.main_tdbg_bsd06 /* 中栏内容表格背景、文字颜色定义(bsd06) */ { color: ffffff; height: 4px; background-image: url("ocean/main_02.gif"/*tpa=http://www.zgydhlw.cc/qn/images/ocean/main_02.gif*/); }
.main_tdbg_bs06 /* 中栏内容表格背景、文字颜色定义(bs06) */ { line-height: 150%; text-align: left; padding-left:5; padding-right:5; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: #aec6e8; border-bottom-color: #aec6e8; border-left-color: #aec6e8; background-image: url("ocean/main_bg.gif"/*tpa=http://www.zgydhlw.cc/qn/images/ocean/main_bg.gif*/); background-color: #ffffff; }
.main2_tdbg_bs06 /* 中栏内容表格背景、文字颜色定义(bs06) */ { line-height: 150%; text-align: left; padding-left:5; padding-right:5; border-left-width: 1px; border-left-style: dashed; border-left-color: #aec6e8; background-image: url("ocean/main_bg.gif"/*tpa=http://www.zgydhlw.cc/qn/images/ocean/main_bg.gif*/); background-color: #ffffff; }
.main_tdbg_575 /* 中栏内容表格背景、文字颜色定义(575) */ { border: 1px solid #d2d3d9; line-height: 150%; text-align: left; padding-left:5; padding-right:5; }
.main_title_282i, .main_title_282 /* 栏目文章列表标题表格背景、文字颜色定义(282) */ { background:url("ocean/main_bs.gif"/*tpa=http://www.zgydhlw.cc/qn/images/ocean/main_bs.gif*/); color: ffffff; height: 27; padding-left:30; color: ffffff; text-align: left; border-right: 1px solid #1c65be; font-weight: bold; }
.main_tdbg_282i /* 栏目文章列表内容表格背景、文字颜色定义(282) */ { border: 1px solid #d2d3d9; line-height: 150%; text-align: left; padding-left:5; padding-right:5; }
.main_tdbg_282 /* 栏目文章列表内容表格背景、文字颜色定义(282) */ { border: 1px solid #d2d3d9; line-height: 150%; text-align: left; padding-left:5; padding-right:5; }
.listbg /* --栏目文章列表内容间隔颜色的定义1-- */ { background:url("2009xmxx/images_gongyong/xmxx2009hengxiang.gif"/*tpa=http://www.zgydhlw.cc/qn/images/2009xmxx/images_gongyong/xmxx2009hengxiang.gif*/); height: 24; }
.listbg2 /* --栏目文章列表内容间隔颜色的定义2-- */ { background:url("2009xmxx/images_gongyong/xmxx2009hengxiang.gif"/*tpa=http://www.zgydhlw.cc/qn/images/2009xmxx/images_gongyong/xmxx2009hengxiang.gif*/); height: 24; }
　　/* --网页中部中栏的css定义结束-- */
　　/* --文章显示页的css定义开始-- */
 .main_articletitle /* 主标题文字颜色定义 */ { color: ff0000; font-weight:bold; font-size: 18; line-height: 150%; }
.main_articlesubheading /* 副标题文字颜色定义 */ { color: 037fa8; font-weight:bold; line-height: 150%; }
.main_title_760 /* 标题导航表格背景、文字颜色定义(760) */ { background:url("ocean/main_bs1.gif"/*tpa=http://www.zgydhlw.cc/qn/images/ocean/main_bs1.gif*/); border: 1px solid #d2d3d9; height: 28; color: ffffff; }
.main_tdbg_760 /* 内容表格背景、文字颜色定义(760) */ { border: 1px solid #d2d3d9; padding: 8; line-height: normal; }
.article_tdbgall /* 责编等表格背景、文字颜色定义(760) */ { background:#f5f5f5; }
　　/* --文章显示页的css定义结束-- */
　　/* --留言频道css定义开始-- */
.liuyanbiaoti /* 留言标题 */ { border: 1px solid #d2d3d9; padding-left:5; height: 29; color: ff0000; font-size: 14px; font-weight: bold; background-color: #C0DDF8; }
/* 留言栏目标题文字链接的css定义－－调用代码为<a class='guest' ***>***</a> */
a.guest:link { color: #ffffff; }
a.guest:visited { color: #ffffff; }
a.guest:hover { color: #ff0000; }
a.guest:active { color: #ffffff; }
.guest_title_760 /* 标题导航表格背景、文字颜色定义(760) */ { background:url("ocean/main_bs1.gif"/*tpa=http://www.zgydhlw.cc/qn/images/ocean/main_bs1.gif*/); border: 1px solid #d2d3d9; padding-left:5; height: 29; color: ff0000; }
.guest_tdbg_760 /* 内容表格背景、文字颜色定义(760) */ { border: 1px solid #d2d3d9; padding: 8; }
.guest_border /* 蓝色表格边框背景颜色定义(760) */ { }
.guest_title /* 标题背景颜色定义(760) */ { color: #000000; font-weight: normal; height: 30px; background-color: #C0DDF8; }
.guest_tdbg /* 表格背景颜色定义(760) */ { background:#fafafa; line-height: 120%; }
.guest_tdbg_1px /* 留言显示1px表格背景颜色定义 */ { }
.guest_border2 /* 回复表格虚线边框背景颜色定义(760) */ { border: 1px dashed #97d2df; background:#e8f5f8; color: #006633; }
.guest_replyadmin /* 管理员回复文字背景颜色定义(760) */ { color: #ff0000; }
.guest_replyuser /* 用户回复文字背景颜色定义(760) */ { color: #449ae8; }
　　/* --留言频道css定义结束-- */
　　/* --商城的css定义开始-- */
.shop_border /* 蓝色表格边框背景颜色定义(760) */ { border: 1px solid #1C65BE; }
.shop_border3 /* 灰色表格边框背景颜色定义(760) */ { border: 1px solid #cccccc; }
.shop_title /* 标题背景颜色定义(760) */ { font-weight: bold; color: #ffffff; background-image: url("ocean/main_bs1.gif"/*tpa=http://www.zgydhlw.cc/qn/images/ocean/main_bs1.gif*/); height: 27px; padding-left: 30px; border-right-width: 1px; border-right-style: solid; border-right-color: #1c65be; }
.shop_tdbg /* 表格背景颜色定义(760) */ { background:#fafafa; line-height: 120%; }
.shop_tdbg2 /* 表格背景颜色定义2 */ { background:#f5f5f5; line-height: 120%; }
.shop_tdbg3 /* 表格背景颜色定义3 */ { background:#ffffff; line-height: 120%; }
.shop_tdbg4 /* 表格背景颜色定义4 */ { background:#e1f4ee; line-height: 120%; }
　　/* --商城的css定义结束-- */
/* ==网页中部中的css定义结束== */

/* ==bottom.asp中的css定义开始== */
.bottom_tdbgall /* 底部表格总背景颜色定义 */ { width: 760; background:#ffffff; }
.bottom_adminlogo /* 管理信息表格背景、文字颜色定义 */ { background:#0089f7; color:#ffffff; }
.bottom_copyright /* 版权信息表格背景、文字颜色定义 */ { background:#ffffff; color:#000000; }
/* ==bottom.asp中的css定义结束== */

/* ==自选风格中的css定义结束== */
.menu { background-color: #cccccc; width:97%; border: 1px; }
.menubody { background-color: #ffffff; }
/* ==自选风格中的css定义结束== */
.channel_font /* 搜索等特殊文字颜色定义 */ { color: red; }
/* --评论显示页的css定义开始-- */ 
.guest_font /* 隐藏、用户等特殊文字颜色定义 */ { color: green; }
/* --评论显示页css定义结束-- */
/* --留言频道css定义开始-- */
/* 留言栏目标题文字链接的css定义－－调用代码为<a class='guest' ***>***</a> */
a.guest:link { color: #000000; }
a.guest:visited { color: #000000; }
a.guest:hover { color: #ff6600; }
a.guest:active { color: #000000; }
/* 站内链接文字颜色定义 */
a.channel_keylink { text-decoration: underline; }
a.channel_keylink:link { color: blue; }
a.channel_keylink:visited { color: blue; }
a.channel_keylink:hover { color: #ff0000; }
a.channel_keylink:active { color: blue; }
/* --用户控制css定义开始-- */
.user_left /*左区块定义*/ { background:#f3f3f3; width:170px; padding-left: 4px; border-left-width: 2px; border-left-style: solid; border-left-color: #ffffff; padding-right: 4px; }
.user_box/*左区块内标题栏定义*/ { border: 1px solid #bfbfbf; background-color: #ffffff; border-collapse:15; }
.user_righttitle { background-color: #f3f3f3; padding-top: 5px; padding-right: 5px; padding-bottom: 1px; padding-left: 5px; border-top-width: 2px; border-right-width: 2px; border-bottom-width: 1px; border-left-width: 2px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: #ffffff; border-right-color: #ffffff; border-bottom-color: #bfbfbf; border-left-color: #ffffff; }
.user_line { line-height: 1px; background-image: url("ocean/line.gif"/*tpa=http://www.zgydhlw.cc/qn/images/ocean/line.gif*/); }
.user_toolstop/*左区块内标题栏定义*/ { line-height: 28px; font-size: 12px; font-weight: bold; color: #666666; padding-left: 10px; letter-spacing: 4pt; }
.user_toolsbot/*左区块内内容定义*/ { line-height: 25px; font-size: 12px; color: #666666; border-right-width: 4px; border-right-style: solid; border-right-color: #ffffff; }
.user_toolspoint/*区块内箭头栏定义*/ { padding-left: 6px; }
/*用户控制面板右*/
.user_right { background-color: #ffffff; padding-right: 2px; padding-left: 6px; width:572px; }
.border1 { border: 1px solid #bfbfbf; }
.title { background:#449ae8; color: #ffffff; font-weight: normal; }
.border { border: 1px solid #449ae8; }
.tdbg { background:#f0f0f0; line-height: 120%; }
.tdbgmouseover { background:#bfdfff; line-height: 120%; }
.tdbg2 { background:#e0eef5; line-height: 120%; }
.tdbg5 { background:#e0eef5; line-height: 120%; }
.title5 { width:80px; background:url("../user/images/titlebg2.gif"/*tpa=http://www.zgydhlw.cc/qn/user/images/titlebg2.gif*/); line-height: 120%; padding-top:2px; cursor:hand; }
.title6 { width:80px; background:url("../user/images/titlebg1.gif"/*tpa=http://www.zgydhlw.cc/qn/user/images/titlebg1.gif*/); color: #ffffff; font-weight: normal; padding-top:2px; cursor:hand; }
.button1 { width:90px; }
.show_page { text-align: center; }
/* 固定排课表格表格的css定义*/
.date_border { border: 1px solid; }
.date_title { background:#449ae8; color: #ffffff; font-weight: normal; }
.date_tdbg { background:#449ae8; color: #ffffff; font-weight: normal; }
.style2 { font-size: 10px; }
.style3 { font-size: 12px; }
/* ==rss连接框定义== */
#popitmenu { border-right: black 1px solid; border-top: black 1px solid; z-index: 100; visibility: hidden; font: 12px/18px verdana; border-left: black 1px solid; border-bottom: black 1px solid; position: absolute; background-color: white }
#popitmenu a { display: block; padding-left: 6px; color: black; text-decoration: none; }
#popitmenu a:hover { background-color: #ccff9d; }
/* ==用户登录框定义== */
.userbox { height:93px; background-repeat: no-repeat; background-position: center center; }
#userlogined { padding-left:10; text-align: left; }
#userlogin input { height:20px; }
#userctrl { text-align: center; }
#usermessage { padding-left:10; text-align: left; }
.userlog { color:#000000; }
.havemessage { background-color: #ccff9d; }
.havemessaged { background-color: #cc0000; }
.bloglist  /* 聚合空间列表定义 */ { width: 100%; text-align: center; }
.bloglist_image { text-align: center; }
.bloglist_intro { text-align: center; }
#showbloglist_more { text-align: right; padding-right:10; }
/* ==供求信息div按钮定义开始== */
#supply { margin:0px; padding:0px; color:#fff; }
.supplybut, .supplybutover { margin:0px; padding:1px; line-height:25px; border-top: 1px solid #d2d3d9; border-right: 1px solid #d2d3d9; border-left: 1px solid #d2d3d9; text-align: left; padding-left:30; padding-right:15px; display: block; float:left; margin-right:8px; cursor:hand; }
.supplybut { background:url("blue/main_title_575.gif"/*tpa=http://www.zgydhlw.cc/qn/images/blue/main_title_575.gif*/); }
.supplybutover { background:url("blue/main_title_282.gif"/*tpa=http://www.zgydhlw.cc/qn/images/blue/main_title_282.gif*/); }
/* ==供求信息div按钮定义开始== */
.right_tdbgbs06 { padding: 5px; background-color: #e6f5ff; border-width: 1px; border-top-style: none; border-bottom-style: none; border-color: #a4c6fc; border-right-style: solid; border-left-style: solid; }
.right_tdbg2 { background-image: url("ocean/tdbg_bottom.gif"/*tpa=http://www.zgydhlw.cc/qn/images/ocean/tdbg_bottom.gif*/); background-repeat: no-repeat; height: 10px; }
.main_title_bsf { font-weight: bold; color: #ffffff; background-image: url("ocean/main_bs1.gif"/*tpa=http://www.zgydhlw.cc/qn/images/ocean/main_bs1.gif*/); height: 27px; padding-left: 30px; border-right-width: 1px; border-right-style: solid; border-right-color: #1c65be; }
.mainblinks { background-image: url("ocean/links_02.gif"/*tpa=http://www.zgydhlw.cc/qn/images/ocean/links_02.gif*/); height: 27px; font-weight: bold; color: #ffffff; }
.menu_bottombg { color: #ffffff; background-image: url("ocean/menu_bottombg.gif"/*tpa=http://www.zgydhlw.cc/qn/images/ocean/menu_bottombg.gif*/); height: 31px; }
.bottom_bg { background-image: url("ocean/bottom_bg.gif"/*tpa=http://www.zgydhlw.cc/qn/images/ocean/bottom_bg.gif*/); }
.showa { color: #aed2fe; }
.menu_s { color: #ffffff; background-image: url("ocean/menu_bg.jpg"/*tpa=http://www.zgydhlw.cc/qn/images/ocean/menu_bg.jpg*/); height: 26px; }
/* --公告显示文字(滚动条)的css定义开始-- */
.AnnounceBody2 { color:#000000; }
a.AnnounceBody2:link { color: #000000; }
a.AnnounceBody2:visited { color: #000000; }
a.AnnounceBody2:hover { color: #cc0000; }
a.AnnounceBody2:active { color: #000000; }
/* --公告显示文字(滚动框)的css定义开始-- */
.AnnounceBody1 { color:#333; }
a.AnnounceBody1:link { color: #333333; }
a.AnnounceBody1:visited { color: #333333; }
a.AnnounceBody1:hover { color: #ff0000; }
a.AnnounceBody1:active { color: #333333; }
/* --公告显示文字(滚动框、滚动条)的css定义结束-- */
hr { height:1px; color:#5575B0； }
/* --房产信息列表表格css定义开始-- */
.houselistbg /* --房产信息列表内容间隔颜色的定义1-- */ { background:#ffffff; }
.houselistbg2 /* --房产信息列表内容间隔颜色的定义2-- */ { background:#f6f9ff; }
.houseth { background:#e6f5ff; }
.housetable { border: 1px solid #ffffff; border-collapse: collapse; }
/* --房产信息列表表格css定义结束--


/* ==头条新闻大标题== */
.xxdjdbt { COLOR: #000000; border: 1px dotted #CCCCCC; }
.xxdjdbt A { FONT-SIZE: 22pt; COLOR: #ff0000; TEXT-DECORATION: none; font-family: "华文中宋"; font-weight: bold; line-height: normal; }
.xxdjdbt A:hover { COLOR: #FF0000 }
.xxdjdbt a:visited { COLOR: #ff0000; }
.xxdjdbt1 { COLOR: #FC712C; }
.xxdjdbt1 A { FONT-SIZE: 24px; COLOR: #FC712C; TEXT-DECORATION: none; font-family: "华文中宋"; font-weight: bold; line-height: normal; }
.xxdjdbt1 A:hover { COLOR: #FC712C }
.xxdjdbt1 a:visited { COLOR: #FC712C; }
.xxdjdbt2 { COLOR: #FFFFFF; }
.xxdjdbt2 A { FONT-SIZE: 14px; COLOR: #FFFFFF; text-decoration: none; font-weight: bold; }
.xxdjdbt2 A:hover { COLOR: #FFCC00 }
.xxdjdbt2 a:visited { COLOR: #ffffff; }
/* ==党建频道文字样式== */
/* ==党建流动公告== */
.xxdjljwz { COLOR: #000000; TEXT-ALIGN: left; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; }
.xxdjljwz A { FONT-SIZE: 12px; COLOR: #990000; TEXT-DECORATION: none; line-height: 24px; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: #CCCCCC; }
.xxdjljwz A:hover { COLOR: #FF0000 }
.xxdjljwz a:visited { COLOR: #FB702D; }
/* ==党建大标题== */
.xxdjdbt { COLOR: #000000; border: 1px dotted #CCCCCC; }
.xxdjdbt A { FONT-SIZE: 22pt; COLOR: #ff0000; TEXT-DECORATION: none; font-family: "华文中宋"; font-weight: bold; line-height: normal; }
.xxdjdbt A:hover { COLOR: #FF0000 }
.xxdjdbt a:visited { COLOR: #ff0000; }
/* ==文章内容页红色标题== */
.xxdjrnyhbt1 /* 主标题文字颜色定义 */ { color: 03005C; font-weight:bold; font-size: 24; line-height: 150%; }
/* ==党建内容页红色标题== */
.xxdjrnyhbt /* 主标题文字颜色定义 */ { color: ff0000; font-weight:bold; font-size: 24; line-height: 150%; }
/* ==影音频道文字样式== */
.showcontent { PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; COLOR: #ccc; PADDING-TOP: 10px; TEXT-ALIGN: left }
.showcontent A { FONT-SIZE: 14px; COLOR: #fff; LINE-HEIGHT: 24px; TEXT-DECORATION: none }
.showcontent A:hover { COLOR: #fc3; TEXT-DECORATION: underline }
.showcontent a:visited { COLOR: #ffffff; }
.showcontent88 { PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; COLOR: #000000; PADDING-TOP: 10px; TEXT-ALIGN: left }
.showcontent88 A { FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 24px; TEXT-DECORATION: none }
.showcontent88 A:hover { COLOR: #ff0000; TEXT-DECORATION: underline }
.showcontent88 a:visited { COLOR: #000000; }
.showcontent1 { font-size: 14px; color: #FFFFFF; }
.showcontent1 A { FONT-SIZE: 14px; COLOR: #fff; LINE-HEIGHT: 24px; TEXT-DECORATION: none }
.showcontent1 A:hover { COLOR: #fc3; TEXT-DECORATION: underline }
.showcontent1 a:visited { COLOR: #ffffff; }
.barfont { FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fff; TEXT-INDENT: 10px; LINE-HEIGHT: 24px; LETTER-SPACING: 2px; TEXT-ALIGN: left }
.barfont SPAN { FLOAT: right; MARGIN-RIGHT: 10px }
.barfont SPAN A { FONT-SIZE: 12px; COLOR: #ff9; LINE-HEIGHT: 24px; TEXT-DECORATION: none }
.barfont SPAN A:hover { COLOR: #ccc; TEXT-DECORATION: underline }
.barfont SPAN a:visited { COLOR: #ff9; }
.xmxx2009biankuan { border: 1px solid #CCCCCC; }
/* 滑动门标签 */

.huadongmeng_menu_bottom1 { width:88px; height:28px; background:url("2009xmxx/images_gongyong/huadongmeng/bg1.jpg"/*tpa=http://www.zgydhlw.cc/qn/images/2009xmxx/images_gongyong/huadongmeng/bg1.jpg*/); font-weight: normal; padding-top:2px; font-weight: bold; }
.huadongmeng_menu_bottom2 { width:88px; height:28px; background:url("2009xmxx/images_gongyong/huadongmeng/bg2.jpg"/*tpa=http://www.zgydhlw.cc/qn/images/2009xmxx/images_gongyong/huadongmeng/bg2.jpg*/); line-height: 120%; padding-top:2px; font-weight: bold; }
.menu_bottom1 { background:url("gov/menu_bottom1.gif"/*tpa=http://www.zgydhlw.cc/qn/images/gov/menu_bottom1.gif*/); }
.menu_bottom2 { background:url("gov/menu_bottom2.gif"/*tpa=http://www.zgydhlw.cc/qn/images/gov/menu_bottom2.gif*/); }
/* 教师频道 */
.beike01 { border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; border-right-color: #AFC894; border-left-color: #AFC894; color: #000000; }
/* 德育频道 */
.deyubt1 { COLOR: #FC712C; }
.deyubt1 A { FONT-SIZE: 32px; COLOR: #FC712C; TEXT-DECORATION: none; font-family: "华文中宋"; font-weight: bold; line-height: normal; }
.deyubt1 A:hover { COLOR: #FC712C }
.deyubt1 a:visited { COLOR: #FC712C; }
.qingchunzhongxueA_body { background-image: url("sznc/body_bg2.gif"/*tpa=http://www.zgydhlw.cc/qn/images/sznc/body_bg2.gif*/); background-repeat: repeat-y; }

.qingchunzhongxueA_biangkuan { border: 1px solid #CCCCCC; }
.qingchunzhongxueA_tabletitle1 { font-size: 14px; font-weight: bold; color: #CC3333; padding-left: 25px; }
.qingchunzhongxueA_tabletitle2 { font-size: 14px; font-weight: bold; color: #ffffff; padding-left: 20px; }
.qingchunzhongxueA_tabletitle3 { font-size: 14px; font-weight: bold; color: #003399; padding-left: 20px; }
.menu_2 { margin:4px 8px 8px 0px }
.left { float:left }
.class_cyjs a { font-size:12px; color:#000000; text-decoration: none; letter-spacing: 2px; line-height: 33px; text-align: center; width: 126px; height: 33px; background-image: url("sznc/zbg1.gif"/*tpa=http://www.zgydhlw.cc/qn/images/sznc/zbg1.gif*/); background-repeat: no-repeat; }
.class_cyjs a:hover { color:#FF0000; text-decoration:underline; background-image: url("sznc/zbg2.gif"/*tpa=http://www.zgydhlw.cc/qn/images/sznc/zbg2.gif*/); background-repeat: no-repeat; }
.title-bg1 { background-image: url("sznc/title-bg.gif"/*tpa=http://www.zgydhlw.cc/qn/images/sznc/title-bg.gif*/); background-repeat: no-repeat; background-position: right; }
.title-bg2 { background-image: url("sznc/title-bg1.gif"/*tpa=http://www.zgydhlw.cc/qn/images/sznc/title-bg1.gif*/); background-repeat: no-repeat; background-position: left; }
.title-bg3 { background-image: url("sznc/title01.gif"/*tpa=http://www.zgydhlw.cc/qn/images/sznc/title01.gif*/); background-repeat: no-repeat; background-position: left; }
/* --便民服务-- */
#bianminfuwu a { height: 60px; width: 76px; }
#bianminfuwu a:hover { text-decoration: underline; background-color: #FFECDD; }
#services1 a:hover { height: 100%; width: 100%; background-image: url("gov/zbg2.gif"/*tpa=http://www.zgydhlw.cc/qn/images/gov/zbg2.gif*/); text-decoration: underline; padding-top: 6px; }
/* --青春自定义风格开始-- */

/* --标题风格 title-- */
.title_bai16 { font-size: 16px; color: #FFFFFF; font-weight: bold; line-height: 24px; height: 24px; }
.title_bai16 a { text-decoration: none; } /* 链接无下划线,有为underline */
.title_bai16 a:link { color: #FFFFFF; } /* 未访问的链接 */
.title_bai16 a:visited { color: #FFFFFF; } /* 已访问的链接 */
.title_bai16 a:hover { color: #ae0927; } /* 鼠标在链接上 */
.title_bai16 a:active { color: #FFFFFF; } /* 点击激活链接 */
.title_hei14 { font-size: 14px; font-weight: bold; color: #000000; }
.title_hei12 { font-size: 12px; color: #000000; }
/* --标题风格 list-- */
.list_bai12 { font-size: 12px; color: #FFFFFF; }
.list_bai12 a { text-decoration: none; } /* 链接无下划线,有为underline */
.list_bai12 a:link { color: #FFFFFF; } /* 未访问的链接 */
.list_bai12 a:visited { color: #FFFFFF; } /* 已访问的链接 */
.list_bai12 a:hover { color: #ae0927; } /* 鼠标在链接上 */
.list_bai12 a:active { color: #FFFFFF; } /* 点击激活链接 */
/* --边框风格 biankuan-- */
.biankuan_hui4 { border: 1px solid #CCCCCC; }
.biankuan_hui4_x {/* --带x为虚线边框-- */ border: 1px dashed #CCCCCC; }
.biankuan_hui3 { border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: #CCCCCC; border-bottom-color: #CCCCCC; border-left-color: #CCCCCC; }
/* --背景 bg-- */

.bg_hui80 { background-image: url("lyzqc/chatu/bg_hui01.gif"/*tpa=http://www.zgydhlw.cc/qn/images/lyzqc/chatu/bg_hui01.gif*/); background-repeat: repeat-x; background-position: top; }
.bg_hui28 { background-image: url("lyzqc/title/title_hui01.gif"/*tpa=http://www.zgydhlw.cc/qn/images/lyzqc/title/title_hui01.gif*/); background-repeat: repeat-x; background-position: top; padding-top: 3px; }
.bg_zuzi { background-image: url("lyzqc/chatu/mail-bottombg.gif"/*tpa=http://www.zgydhlw.cc/qn/images/lyzqc/chatu/mail-bottombg.gif*/); background-repeat: no-repeat; background-position: right bottom; }
.bg_jiumen { background-image: url("lyzqc/chatu/jiumen.jpg"/*tpa=http://www.zgydhlw.cc/qn/images/lyzqc/chatu/jiumen.jpg*/); background-repeat: no-repeat; background-position: center bottom; }
#link_tupian2 a { font-size:12px; color:#000000; text-decoration: none; line-height: 39px; text-align: left; width: 200px; height: 39px; background-image: url("lyzqc/anniu/d1.gif"/*tpa=http://www.zgydhlw.cc/qn/images/lyzqc/anniu/d1.gif*/); background-repeat: no-repeat; background-position: center; margin-bottom: 5px; list-style-image: none; list-style-type: none; text-indent: 2em; display: inline-block; }
#link_tupian2 a:hover { color:#990000; background-image: url("lyzqc/anniu/d2.gif"/*tpa=http://www.zgydhlw.cc/qn/images/lyzqc/anniu/d2.gif*/); background-repeat: no-repeat; background-position: center; list-style-image: none; list-style-type: none; }
#link_tupian2 li { list-style-image: none; list-style-type: none; text-indent: 2em; float: left; margin-right: auto; margin-left: auto; }
.list_titlecontent_01 { background-image: url("lyzqc/chatu/bg_title_org1.gif"/*tpa=http://www.zgydhlw.cc/qn/images/lyzqc/chatu/bg_title_org1.gif*/); background-repeat: no-repeat; background-position: center center; float: left; height: 164px; width: 269px; margin-top: 10px; margin-right: 54px; margin-left: 54px; }
.list_titlecontent_02 { font-size: 14px; line-height: 35px; font-weight: bold; height: 35px; text-indent: 2em; background-image: url("lyzqc/ico/05.gif"/*tpa=http://www.zgydhlw.cc/qn/images/lyzqc/ico/05.gif*/); background-repeat: no-repeat; background-position: 10px 9px; }
.list_titlecontent_03 { font-size: 12px; line-height: 20px; height: 116px;  text-indent: 2em  margin-top: 45px;
padding-top: 10px; padding-right: 20px; padding-bottom: 10px; padding-left: 20px; text-indent: 2em; }
.list_titlecontent_04 { font-size: 12px; line-height: 3px; height: 3px; clear: both; float: left; width: 100%; background-image: url("lyzqc/chatu/xuxian.gif"/*tpa=http://www.zgydhlw.cc/qn/images/lyzqc/chatu/xuxian.gif*/); background-repeat: repeat-x; background-position: center center; }
/* --文本内容样式-- */
.text_hei14 { font-size: 14px; line-height: 24px; color: #000000; }
.title_lan14 { font-size:14px; color:#003399; font-weight:bold; }
.title_lan14 a { text-decoration: none; } /* 链接无下划线,有为underline */
.title_lan14 a:link { color: #003399; } /* 未访问的链接 */
.title_lan14 a:visited { color: #003399; } /* 已访问的链接 */
.title_lan14 a:hover { color: #cc0000; } /* 鼠标在链接上 */
.title_lan14 a:active { color: #003399; } /* 点击激活链接 */
.title_hei14 { font-size:14px; color:#000000; font-weight:bold; }
/* --标题风格-- */
.title_bai12 { font-size: 12px; font-weight: bold; color: #FFFFFF; }
.title_bai14 { font-size: 14px; font-weight: bold; color: #FFFFFF; }
.title_bai16 { font-size: 16px; font-weight: bold; color: #FFFFFF; }
.title_hong12 { font-size:12px; color:#990000; font-weight: bold; }
.title_hong14 { font-size:14px; color:#990000; font-weight: bold; }
.title_hong16 { font-size:16px; color:#990000; font-weight: bold; }
.title_lan12 { font-size:12px; color:#3366CC; font-weight:bold; }
.title_lan14 { font-size:14px; color:#3366CC; font-weight:bold; }
.title_lan16 { font-size:16px; color:#3366CC; font-weight:bold; }
.title_hei12 { font-size:12px; color:#000000; font-weight:bold; }
.title_hei14 { font-size:14px; color:#000000; font-weight:bold; }
.title_hei16 { font-size:16px; color:#000000; font-weight:bold; }
.title_hei18 { font-size:18px; color:#000000; font-weight:bold; }
.title_lv12 { font-size:12px; color:#006600; font-weight:bold; }
.title_lv14 { font-size:14px; color:#006600; font-weight:bold; }
.title_lv16 { font-size:16px; color:#006600; font-weight:bold; }
.title_huang12 { font-size:12px; color:#EE5C0D; font-weight:bold; }
.title_huang14 { font-size:14px; color:#EE5C0D; font-weight:bold; }
.title_huang16 { font-size:16px; color:#EE5C0D; font-weight:bold; }
/* 链接风格 */
/* 白色链接风格 */
.link_bai12 a { font-size: 12px; color: #FFFFFF; }
.link_bai12 a:link { color: #FFFFFF; text-decoration: none; }
.link_bai12 a:visited { color: #FFFFFF; text-decoration: none; }
.link_bai12 a:hover { color: #990000; text-decoration: none; }
.link_bai12 a:active { color: #ffffff; text-decoration: none; }
/* 黑色链接风格 */
.link_hei12 a { font-size: 12px; color: #FFFFFF; }
.link_hei12 a:link { color: #000000; text-decoration: none; }
.link_hei12 a:visited { color: #000000; text-decoration: none; }
.link_hei12 a:hover { color: #990000; text-decoration: none; }
.link_hei12 a:active { color: #000000; text-decoration: none; }
/* 蓝色色链接风格 */
.link_lan14 a { font-size: 14px; font-weight: bold; color: #003399; }
.link_lan14 a:link { color: #003399; text-decoration: none; }
.link_lan14 a:visited { color: #003399; text-decoration: none; }
.link_lan14 a:hover { color: #FF0000; text-decoration: underline; }
.link_lan14 a:active { color: #003399; text-decoration: none; }
/* --边框风格-- */
.biankuan_hui4 { border: 1px solid #CCCCCC; }
.biankuan_hui4_x {/* --带x为虚线边框-- */ border: 1px dashed #CCCCCC; }
.biankuan_hui3_shang {/* 上边为空 */ border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; border-right-color: #CCCCCC; border-left-color: #CCCCCC; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #CCCCCC; }
.biankuan_hui3_xia {/* --下边为空-- */ border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; border-right-color: #CCCCCC; border-left-color: #CCCCCC; border-top-width: 1px; border-top-style: solid; border-top-color: #CCCCCC; }
.biankuan_lan2 { border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; border-right-color: #7194D1; border-left-color: #7194D1; }
.biankuan_lan3_shang {/* 上边为空 */ border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; border-right-color: #3BA5E1; border-left-color: #3BA5E1; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #3BA5E1; }
.biankuan_lan4 { border: 1px solid #B1D1F1; }
.biankuan_hong4 { border: 1px solid #FFD6C3; }
.biankuan_lv4 { border: 1px solid #BADE7F; }
.biankuan_huang4 { border: 1px solid #FF8501; }
/*各频道图片边框 */

/*文章频道图片边框 */
.pic1 { border: 2px solid #ffffff; filter:progid:dximagetransform.microsoft.glow(color=#000000, strength=1);
}
/*下载频道图片边框 */
.pic2 { border: 2px solid #ffffff; filter:progid:dximagetransform.microsoft.glow(color=#000000, strength=1);
}
/*图片频道图片边框 */
.pic3 { border: 4px solid #ffffff; filter:progid:dximagetransform.microsoft.glow(color=#666666, strength=1);
}
#imgBox img { width:600px; }/* 图片频道内容页的图片显示大小 */
/* 文章频道DIV输出 */
.pic_art { width: 299px; margin-top: 8px; margin-bottom: 8px; }
.pic_art_title { height: 20px; width: 165px; font-size: 14px; line-height: 20px; font-weight: bold; color: #990000; text-align: left; float: right; }
.pic_art_img { height: 90px; width: 125px; float: left; margin-left: 5px; }
.pic_art_content { height: 70px; width: 165px; float: right; }
/* 线风格 */
.xian_huixuheng {/*灰色虚横线*/ border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: #CCCCCC; }
.xian_huishiheng {/*灰色实横线*/ border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #CCCCCC; }
/* 自定义列表标签链接文字颜色定义 */
a.aaa { font-size: 12px; }
a.aaa:link { color: #000000; }
a.aaa:visited { color: 000000; }
a.aaa:hover { color: #990000; }
a.aaa:active { color: 000000; }
.bbb { height: 24px; }
.ccc { height: 24px; }
/* --按钮风格-- */

/* --下载频道栏目纵向导航样式-- */
.anniu_class01 a { font-size: 14px; line-height: 24px; color: #D95700; height: 24px; text-align: right; background-image: url("lyzqc/ico/ico_1088.gif"/*tpa=http://www.zgydhlw.cc/qn/images/lyzqc/ico/ico_1088.gif*/); background-repeat: no-repeat; background-position: left center; padding-left: 8px; }
.anniu_class01 a:visited { color: #D95700; }
.anniu_class01 a:hover { color: #FF0000; }
/* --背景-- */
.bg_bodytop {/* 内容页通用背景 */ background-image: url("lyzqc/tongyong/bg_bodytop.gif"/*tpa=http://www.zgydhlw.cc/qn/images/lyzqc/tongyong/bg_bodytop.gif*/); background-repeat: repeat-x; background-position: top; height: 80px; }
.bg_bottom {/* 网站底部通用背景 */ background-image: url("lyzqc/tongyong/bg_bottom.gif"/*tpa=http://www.zgydhlw.cc/qn/images/lyzqc/tongyong/bg_bottom.gif*/); background-repeat: repeat-x; background-position: bottom; height: 80px; }
.bg_guestbooktitle {/* 留言板块高28灰色渐变背景 */ background-image: url("lyzqc/tongyong/bg_guestbooktitle.gif"/*tpa=http://www.zgydhlw.cc/qn/images/lyzqc/tongyong/bg_guestbooktitle.gif*/); background-repeat: repeat-x; background-position: top; padding-top: 1px; }
.bg_pinglun01 {/*评论页背景*/ background-image: url("lyzqc/tongyong/bg_pinglun01.jpg"/*tpa=http://www.zgydhlw.cc/qn/images/lyzqc/tongyong/bg_pinglun01.jpg*/); background-repeat: no-repeat; background-position: left top; width: 1000px; margin-right: auto; margin-left: auto; }
.bg_pinglun02 {/*评论页背景*/ background-image: url("lyzqc/tongyong/bg_pinglun02.jpg"/*tpa=http://www.zgydhlw.cc/qn/images/lyzqc/tongyong/bg_pinglun02.jpg*/); background-repeat: repeat-x; background-position: left top; width: 100%; }
.bg_phototitle01 {/* 图片频道标题底图 */ background-image: url("lyzqc/tongyong/photo_title01.gif"/*tpa=http://www.zgydhlw.cc/qn/images/lyzqc/tongyong/photo_title01.gif*/); background-repeat: repeat-x; background-position: left top; }
.bg_phototitle02 {/* 图片频道内容页大标题底图 */ background-image: url("lyzqc/tongyong/photo_title05.gif"/*tpa=http://www.zgydhlw.cc/qn/images/lyzqc/tongyong/photo_title05.gif*/); background-repeat: no-repeat; background-position: left top; font-size: 26px; color: #003366; font-weight: bold; }
/* 会员文章列表样式 */
.article_list_body a { text-decoration: none; font-size: 12px; line-height: 24px; }
.article_list_body a:hover { color: #990000; text-decoration: none; }
.article_list_body a:visited { text-decoration: none; }
/* ajjx评论样式 */
.pinglun_text {/* 评论文本框样式 */ border:1px solid #CCCCCC; color:#666666; font-size:12px; padding-top: 5px; padding-right: 0; padding-bottom: 0; padding-left: 5px; margin-top: 10px; margin-bottom: 10px; }
.pinglun_button {/* 评论提交按钮样式 */ background: url("lyzqc/tongyong/pinglun_button.gif"/*tpa=http://www.zgydhlw.cc/qn/images/lyzqc/tongyong/pinglun_button.gif*/); border:none; height:31px; width:83px; margin-right:5px; color:#404040; }
.pinglun_title { height:36px; line-height:36px; color:#161616; background-image: url("lyzqc/tongyong/pinglun_title.gif"/*tpa=http://www.zgydhlw.cc/qn/images/lyzqc/tongyong/pinglun_title.gif*/); background-repeat: repeat-x; background-position: center top; border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; border-right-color: #CCCCCC; border-left-color: #CCCCCC; padding-left: 10px; }
.pinglun_biankuan { padding:10px; line-height:24px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: #CCCCCC; border-bottom-color: #CCCCCC; border-left-color: #CCCCCC; margin-bottom: 10px; }
/* 输入框样式 */
.input01 { color:#999999; height: 20px; font-size: 12px; }
/* 顶部搜索条样式 */
.search { text-align:right; margin-top: 10px; }
.search input#keyword { width:181px; background:url("lyzqc/tongyong/search_input.gif"/*tpa=http://www.zgydhlw.cc/qn/images/lyzqc/tongyong/search_input.gif*/) no-repeat left center; border:none; padding-left:25px; color:#458A11; margin-right: -8px; line-height: 23px; height: 23px; }
.search input#Submit { width:62px; border:none; cursor: pointer; background-image: url("lyzqc/tongyong/search_botton.gif"/*tpa=http://www.zgydhlw.cc/qn/images/lyzqc/tongyong/search_botton.gif*/); background-repeat: no-repeat; background-position: left 1px; height: 23px; }
/* --便民服务-- */
#bianminfuwu a { height: 77px; width: 70px; }
#bianminfuwu a:hover { text-decoration: underline; background-color: #FFECDD; }
/*留言调用列表样式*/
.guestbook_list { }
.guestbook_list a { font-size: 12px; height: 24px; }
.guestbook_list a:link { color: #000000; }
.guestbook_list a:visited { color: #000000; }
.guestbook_list a:hover { color: #990000; }
.guestbook_list a:active { color: #000000; }
/*空行分割*/
.kong { width: 100%; line-height: 10px; height: 10px; }
/* --导航风格-- */
#daohang01 a {/* --游龙国税风格-- */ font-size: 14px; font-weight: bold; background-image: url("lyzqc/web/menu_bg.gif"/*tpa=http://www.zgydhlw.cc/qn/images/lyzqc/web/menu_bg.gif*/); color: #FFffff; line-height: 36px; height: 36px; text-align: center; padding-right: 2px; padding-left: 2px; width: 86px; }
#daohang01 a:hover { color: #ffffff; background-image: url("lyzqc/web/menu_bg1.gif"/*tpa=http://www.zgydhlw.cc/qn/images/lyzqc/web/menu_bg1.gif*/); background-repeat: repeat-x; }
/* 本站公告风格 */
.AnnounceTitle {/* 本站公告内容页标题 */ font-size:14px; font-weight:bold; height: 40px; color: #000000; padding-bottom: 30px; }

#lyzqcdh { background-image: url("sznc/menu_bg.gif"/*tpa=http://www.zgydhlw.cc/qn/images/sznc/menu_bg.gif*/); background-repeat: no-repeat; background-position: left top; height: 36px; width: 100%; line-height: 36px; }
#lyzqcdh a { font-size: 14px; font-weight: bold; color: #FFffff; text-align: center; display: inline-block; width: 86px; }
#lyzqcdh a:hover { color: #ffffff; background-image: url("sznc/menu_bg1.gif"/*tpa=http://www.zgydhlw.cc/qn/images/sznc/menu_bg1.gif*/); background-repeat: repeat-x; background-position: center top; }
.ren1 {
	font-family: "微软雅黑", "黑体";
	font-size: 27px;
	font-weight: bold;
	line-height: 60px;
	padding-top: 20px;
	color: #666666;
}
.ren_in {
	border: 1px solid #CCCCCC;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	font-family: "微软雅黑", "黑体";
	width: 200px;
}
.ren_inn {
	border: 1px solid #CCCCCC;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	font-family: "微软雅黑", "黑体";
	width: 100px;
}
.ren_tj {
	font-family: "微软雅黑", "黑体";
	font-size: 14px;
	line-height: 30px;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url("loginbtn1.jpg"/*tpa=http://www.zgydhlw.cc/qn/images/loginbtn1.jpg*/);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 30px;
	width: 89px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-left: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.ren_re {
	font-family: "微软雅黑", "黑体";
	font-size: 14px;
	line-height: 30px;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url("loginbtn.jpg"/*tpa=http://www.zgydhlw.cc/qn/images/loginbtn.jpg*/);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 30px;
	width: 89px;
	margin-left: 35px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: 30px;
	margin-bottom: 30px;
}
.ren_cc {
	margin-top: 10px;
	margin-bottom: 10px;
}
.ren_t1 {
	font-family: "微软雅黑", "黑体";
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #1C1714;
}
.ren_t11 {
	font-family: "微软雅黑", "黑体";
	font-size: 13px;
	text-decoration: none;
	color: #1C1714;
}


.ren_t2 {
	font-family: "微软雅黑", "黑体";
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #1C1714;
}
.ren_t3 {

	font-family: "宋体", "新宋体";
	font-size: 14px;
	text-decoration: none;
	color: #1C1714;
}
.ren_t4 {
	font-family: "微软雅黑", "黑体";
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	color: #1C1714;
}
.ren_t5 {


	font-family: "宋体", "新宋体";
	font-size: 36px;
	text-decoration: none;
	color: #1C1714;
}
.ren_t6 {
	font-family: "微软雅黑", "黑体";
	font-size: 16px;
	text-decoration: none;
	color: #1C1714;
}
