/* 懒人图库 搜集整理 www.lanrentuku.com */
*{padding:0;margin:0}
body{font-family:verdana,arial,tahoma;color:#333}
img{border:0}

/* 焦点图 */
/*.focus{
	width:500px;
	height:280px;
	border:1px solid #EEE;
	position:relative;
	float: left;
	margin-top: 20px;
	margin-left: 40px;
}
.f426x240{width:500px;height:280px;overflow:hidden}
.f426x240 img{width:500px;height:280px}

.rslides{width:100%;position:relative;list-style:none;padding:0}
.rslides_nav{height:51px;width:31px;position:absolute;-webkit-tap-highlight-color:rgba(0,0,0,0);top:50%;left:0;opacity:0.5;text-indent:-9999px;overflow:hidden;text-decoration:none;background:url(../image/i.png) no-repeat 0 -560px;margin-top:-28px}
.rslides_nav:active{opacity:1.0}
.rslides_nav.next{left:auto;background-position:-31px -560px;right:0}
.rslides_tabs{margin:12px auto;clear:both;text-align:center}
.rslides_tabs li{display:inline;float:none;_float:left;*float:left;margin-right:5px; list-style:none;}
.rslides_tabs a{text-indent:-9999px;overflow:hidden;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;background:rgba(0,0,0, .2);background:#DDD;display:inline-block;_display:block;*display:block;width:9px;height:9px}
.rslides_tabs .rslides_here a{background:rgba(0,0,0, .6);background:#390}


*/

.focus{
	position:relative;
	width:510px;
	height:300px;
	background-color: #000;
	float: left;

}  
.focus img{ width: 510px; height:300px;} 
.focus .shadow .title{
	width: 260px;
	height: 35px;
	padding-left: 30px;
	padding-top: 10px;
}
.focus .shadow .title a{
	text-decoration:none;
	color:#fff;
	font-size:12px;
	font-weight:bolder;
	overflow:hidden;
}
.focus .btn{ position:absolute; bottom:34px; left:510px; overflow:hidden; zoom:1;} 
.focus .btn a{position:relative; display:inline; width:13px; height:13px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }  
.focus .btn a:hover,.focus .btn a.current{  cursor:pointer;background:#fc114a;}  
.focus .fPic{ position:absolute; left:0px; top:0px; }  
.focus .D1fBt{ overflow:hidden; zoom:1;  height:16px; z-index:10;  }  
.focus .shadow{ width:100%; position:absolute; bottom:0; left:0px; z-index:10; height:60px; line-height: 50px; background:rgba(0,0,0,0.6);    
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;  display:block;  text-align:left; }  
.focus .shadow a{ text-decoration:none; color:#fff; font-size:20px; overflow:hidden; margin-left:10px; font-family: "\5FAE\8F6F\96C5\9ED1";}  
.focus .fcon{ position:relative; width:100%; float:left;  display:none; background:#000  }  
.focus .fcon img{ display:block; }  
.focus .fbg{bottom:5px; right:30px; position:absolute; height:21px; text-align:center; z-index: 200; }  
.focus .fbg div{margin:4px auto 0;overflow:hidden;zoom:1;height:14px}    
.focus .D1fBt a{position:relative; display:inline; width:12px; height:12px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }    
.focus .D1fBt .current,.focus .D1fBt a:hover{background:#fc114a;}    
.focus .D1fBt img{display:none}    
.focus .D1fBt i{display:none; font-style:normal; }    
.focus .prev,.focus .next{position:absolute;width:40px;height:74px;background: url("../image/focus_btn.png"/*tpa=http://www.imscw.com/App/Modules/Index/Public/image/focus_btn.png*/) no-repeat;}
.focus .prev{top: 50%;margin-top: -37px; left: 0;background-position:0 -74px; cursor:pointer; }  
.focus .next{top: 50%;margin-top: -37px; right: 0;  background-position:-40px -74px;  cursor:pointer;}  
.focus .prev:hover{  background-position:0 0; }  
.focus .next:hover{  background-position:-40px 0;}  


.y1 {
	
	height: 640px;
	width: 960px;
	float: left;
	margin-left: 120px;
}
.y2 {
	width:100%; overflow:hidden; position:relative;
	
	clear: both;
	height: 645px;
	width: 100%;
}
.y2 img{position:relative;left:50%; margin-left:-960px;/*这个数值是图片宽带的一半*/}.y3 {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
