@charset "utf-8";
/* CSS Document */

/*屏幕 公共*/
.section { position:relative;}
.section .sectionMax{ position:absolute;  top:115px; left:2.5%; z-index:99;  }
.section .TitleEn{}
.section .TitleEn h2{ font-family:Impact; font-size:4.58em; color:#D62010; font-weight:400; text-transform:uppercase; }
.section .TitleEn font{ font-size:2.58em; display:block; font-family: Arial, Helvetica, sans-serif; text-transform:uppercase; }
.section .TitleEn small{ font-size:0.75em; display:block; color:#AFAFAF;-moz-transform-origin-x: 0; -webkit-transform-origin-x: 0; -moz-transform: scale(1);
-webkit-transform: scale(0.8); text-transform:uppercase; color:#8f8f8f; padding-top:10px;}
.section .TitleEn span{ display:block; width:80%; height:3px; background:#D62010; margin:15px 0;}
.section .TitleCh{ padding-top:20px;}
.section .TitleCh font{ font-size:2em; color:#2f2f2f;}
.section .TitleCh p{ font-size:1em; color:#8F8F8F; padding:10px 0 20px;}
.section .TitleCh span{ display:block; width:31px; margin-top:10px; height:3px; background:#D62010;}
#fp-nav ul li a span { width:11px; height:11px; border:1px solid #D72316; }
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span{ background:none;} 
#fp-nav ul li a.active span:after{ content:""; display:block; position:absolute; top:1px; left:1px; width:9px; height:9px; background:#D72316; border-radius:50%;}
.Return{ display:block; position:fixed; left:2.5%; top:55%; transform:translateY(-50%); 
-o-transform:translateY(-50%);
-moz-transform:translateY(-50%);
-webkit-transform:translateY(-50%);
-ms-transform:translateY(-50%); z-index:999; }
.Return li{ cursor:pointer; width:43px; height:43px; background:#DEDEDE; border:1px solid #DEDEDE; margin-bottom:1px;}
.Return li span{ display:block; width:100%; height:100%;}
.Return li:hover{ background:#D62010; border:1px solid #D62010; }
.Return li span.span1{ background:url("../../images/icon/qq0.png"/*tpa=http://www.bjjfr.com/templets/jfr/images/icon/qq0.png*/) no-repeat center center; }
.Return li span.span2{ background:url("../../images/icon/indexcall2.png"/*tpa=http://www.bjjfr.com/templets/jfr/images/icon/indexcall2.png*/) no-repeat -103px center; }
.Return li span.span3{ background:url("../../images/icon/returntop0.png"/*tpa=http://www.bjjfr.com/templets/jfr/images/icon/returntop0.png*/) no-repeat center center;}
.Return li:hover .span1{ background:url("../../images/icon/qq.png"/*tpa=http://www.bjjfr.com/templets/jfr/images/icon/qq.png*/) no-repeat center center;}
.Return li:hover .span2{ background:url("../../images/icon/indexcall1.png"/*tpa=http://www.bjjfr.com/templets/jfr/images/icon/indexcall1.png*/) no-repeat center center;}
.Return li:hover .span3{ background:url("../../images/icon/returntop.png"/*tpa=http://www.bjjfr.com/templets/jfr/images/icon/returntop.png*/) no-repeat center center;}
.Return li:hover{ width:200px;}
.Return li:hover span.span2{ background:url("../../images/icon/indexcall1.png"/*tpa=http://www.bjjfr.com/templets/jfr/images/icon/indexcall1.png*/) no-repeat 30px center; }
#fp-nav.right{ right:2.5%;}
.banner{ display:none\9;}
.banner2{ display:none; display:block\9;}
/* 屏幕一 */
#dowebok{}
.section{ width:100%; height:100%;}
.banner{ width:100%; position:relative; height:100%;}
.banner .swiper-container{ width:100%; height:100%; }
.banner .swiper-wrapper{width:100%; height:100%; }
.banner .swiper-slide{width:100%; height:100%;}
.banner .swiper-slide span{ display:block; width:100%; height:100%; background-size: 100% auto !important; }
.banner .swiper-pagination{ bottom:50px;}
.banner .swiper-pagination span{ width:18px; height:18px; border:solid #d51514 1px; background:none; position:relative;}
.banner .swiper-pagination span:after{ content:""; display:block; position:absolute; top:2px; left:2px; width:14px; height:14px; background:#d51514; border-radius:50%; }
.swiper-button-prev{ width:50px; height:50px; background: url("../../images/icon/indexleft.png"/*tpa=http://www.bjjfr.com/templets/jfr/images/icon/indexleft.png*/) no-repeat center center; background-color: rgba(213,20,19,0.8); border-radius:50%; left:14%; }
.swiper-button-next{ width:50px; height:50px; background: url("../../images/icon/indexright.png"/*tpa=http://www.bjjfr.com/templets/jfr/images/icon/indexright.png*/) no-repeat center center; background-color: rgba(213,20,19,0.8); border-radius:50%; right:14%; }
.swiper-button-disabled.swiper-button-prev{ background-color: rgba(0,0,0,0.2);}
.swiper-button-disabled.swiper-button-next{ background-color: rgba(0,0,0,0.2);}

.swiper-button-prev:hover{background: url("../../images/icon/indexleft.png"/*tpa=http://www.bjjfr.com/templets/jfr/images/icon/indexleft.png*/) no-repeat center center; background-color: rgba(214,32,16,0.8); }
.swiper-button-next:hover{background: url("../../images/icon/indexright.png"/*tpa=http://www.bjjfr.com/templets/jfr/images/icon/indexright.png*/) no-repeat center center; background-color:rgba(214,32,16,0.8); }

.copyright {height:20px; width:100%; left:0; position:absolute; bottom:30px;  z-index:999;  }
.copyright p{font: Arial, Helvetica, sans-serif; color:#000; display:block; margin:0  auto; width:90%; line-height:20px; }
.banner .copyright { }
.content{ display:none\9;}

/* 屏幕二 */
.section2 { position:relative;}
.section2 .content{ display:block;  width:100%; top:50% ; top:120px\9; transform:translateY(-50%); -ms-transform:translateY(-50%); position:absolute; }
.section2 .sectionSlide{ width:60%; margin:0 auto;}
.section2 .sectionSlide ul{ z-index:9; position: relative; width:100%; padding-bottom:58.5%; }
.section2 .sectionSlide li{ position:absolute ; top:0; left:0; width:100%; background:#fff; opacity:0; cursor:pointer;}
.section2 .sectionSlide ul:after{ content:""; display:block;     content: "";    display: block;    position: absolute;    bottom: 60px;    width: 90%;    border-radius: 50%;    box-shadow: 0 35px 45px #999;    height: 40px;    z-index: -1;}
.section2 .sectionSlide li:after{ content:""; display:block; border:1px solid #fff; z-index:1; width:100%; height:100%;  top:0; left:0 ; position:absolute; }
.section2 .sectionSlide .current:after{transform: scale(0.97,0.94); -ms-transform: scale(0.97,0.94);}
.section2 .sectionSlide .current{ opacity:1;}
.section2 .sectionSlide .current .SlideText{  bottom:33px; opacity:1; }
.section2 .SlideBack{ padding:4px; position:relative; overflow:hidden;}
.section2 .SlideBack img{ width:100%; }
.section2 li:hover .SlideBack img{ transform:scale(1.1,1.1) ; -ms-transform:scale(1.1,1.1) ;  }
.section2 .SlideText{ display:block; width:188px; height:58px; background:rgba(214,32,16,0.9); padding:20px 0 0 30px;  position:absolute; z-index:2; left:7px ; bottom:-10px; opacity:0;}
.section2 .SlideText span{ font-size:1.16em; color:#fff; display:block;}
.section2 .SlideText i{ display:block; color:#fff; font-size:0.75em;  -webkit-transform-origin-x: 0; 
-webkit-transform: scale(0.8); text-transform:uppercase; line-height:18px;}
.section2 .swiper-container{ width:88%; padding-bottom:40px;}
.section2 .swiper-wrapper{ width:100%; position:relative\9; overflow:hidden\9;}
.section2 .swiper-slide{ width:100%; width:16.6%\9; float:left\9; position:relative; background:#fff;}
.section2 .swiper-slide:after{     content: "";    display: block;    position: absolute;    bottom: 50px;    width: 80%; margin:0 10%;    border-radius: 50%;    box-shadow: 0 35px 45px #000;    height: 10px;    z-index: -1;}
.section2 .swiper-slide.current{ background:#D62010;}
.section2 .swiper-slide img{ width:94%; padding:3%;}
.section2 .swiper-button-prev{ left:0; z-index:99; top:30%;  }
.section2 .swiper-button-next{right:0; z-index:99; top:30%; }
.Slide2{ position:relative;}
/* 屏幕三 */
.section3 {}
.section3 .TitleEn {}
.section3 .TitleEn h2 {  color:#fff;}
.section3 .TitleEn font {  color:#fff;}
.section3 .TitleEn small { color:#fff; }
.section3 .TitleEn span { background:#fff;}
.section3 .TitleCh font { color:#fff;}
.section3 .TitleCh p { color:#fff;}
.section3 .TitleCh span { background:#fff;}
.section3 .content {width:100%; top:50%; transform:translateY(-50%); -ms-transform:translateY(-50%); position:absolute;}
.section3 .swiper-container {width:60%; margin:0 auto;}
.section3 .swiper-wrapper {z-index:9; position: relative;  padding-bottom:28%;}
.section3 .swiper-slide { width:16.6%; position:relative; transform:translateY(50%); -ms-transform:translateY(50%); -moz-transform:translateY(50%); -webkit-transform:translateY(50%); cursor:pointer; margin-right:1px;}
.section3 .swiper-slide:before{
	position:absolute;
	content:'';
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(255,255,255,0.5);
	z-index:1;

}
.section3 .swiper-slide.current:before{ background:none;}
.section3 .swiper-slide:after{ position: absolute; top:0; left:0; content:""; display:block; width:100%; height:100%; background:rgba(255,255,255,0.3);}
.section3 .swiper-slide.current:after{ background:none;}
.section3 .swiper-slide .swiper-Img { width:100%; position:relative; display:block; overflow:hidden;}
.section3 .swiper-slide .swiper-Img img { width:100%;}
/*.section3 .swiper-slide:hover .swiper-Img img { transform:scale(1.1,1.1);}*/
.section3 .swiper-slide .swiper-Text {  background:#fff; text-align:center; font-size:1.33em; color:#1ac4c4; padding:5%; word-break:keep-all;}
.section3 .swiper-button-prev { left:15%;}
.section3 .swiper-button-next { right:15%;}
.section3 .copyright {}
.section3 .current.swiper-slide{ width:33.3%; transform:translateY(0%); -ms-transform:translateY(0%); -moz-transform:translateY(0%); -webkit-transform:translateY(0%);}
.section3 .current.swiper-slide .swiper-Img{ }
.section3 .current.swiper-slide .swiper-Img img{ }
.section3 .swiper-slide:after{     content: "";    display: block;    position: absolute; top:80%;   width: 90%;    border-radius: 50%; margin:0 5%;    box-shadow: 0 35px 45px #000;    height: 10px;    z-index: -1;}
.section3 .swiper-slide.current:after{ top:88%;}
/*屏幕四*/
.section4{}
.section4 .content{ width:100%; top:50%; transform:translateY(-50%); position:absolute; -ms-transform:translateY(-50%); -moz-transform:translateY(-50%); -transform:translateY(-50%);}
.section4 .swiper-container{ width:60%; margin:0 auto;}
.section4 .swiper-wrapper{z-index:9; position: relative;padding-bottom:45px; }
.section4 .swiper-slide{ width:100%; background:#fff; z-index:9; position:relative; }
.section4 .swiper-slide:after{     content: "";    display: block;    position: absolute; bottom:45px;   width: 90%;    border-radius: 50%;    box-shadow: 0 35px 45px #000;    height: 10px;    z-index: -1; left:5%;}
.section4 ul{ display:block; width:97%; padding:1.5%;  position:relative; background:#fff;}
.section4 ul:after{ content:""; display:block; clear:both; }
.section4 li{ width:19%; margin:0.5% 0.5%; float:left; position: relative; overflow:hidden; cursor:pointer;}
.section4 li:after{ content:""; display:block; position:absolute; top:0; left:0; border:0px solid #fff; width:100%; height:100%;}
.section4 li:hover::after{ border:1px solid #fff; transform: scale(0.85,0.9);}
.section4 .swiper-section4{ position:relative; width:100%;}
.section4 .swiper-section4 span{ width:100%;}
.section4 .swiper-section4 span img{ width:100%;}
.section4 .swiper-section4-text{ position:absolute; bottom:-30px; left:0; padding:8px 18px; background:rgba(214,32,16,0.9); opacity:0; color:#fff;}
.section4 li:hover .swiper-section4-text{ bottom:10%; z-index:9; opacity:1;}
/* 屏幕五 */
.section5{}
.section5 .TitleEn h2{ color:#fff;}
.section5 .TitleEn font{ color:#fff;}
.section5 .TitleEn small{ color:#fff;}
.section5 .TitleEn span{ background:#fff;}
.section5 .TitleCh font{color:#fff;}
.section5 .TitleCh p{color:#fff;}
.section5 .TitleCh span{background:#fff;}
.section5 .content{width:100%; top:50%; transform:translateY(-50%); -ms-transform:translateY(-50%); -moz-transform:translateY(-50%); -webkit-transform:translateY(-50%); position:absolute;}
.section5 .swiper-container{ width:60%; margin:0 auto;}
.section5 .swiper-wrapper{z-index:9; position: relative;padding-bottom:45px;}
.section5 .swiper-slide{ width:100%; background:#fff; z-index:9; position:relative;}
.section5 .swiper-slide:after{     content: "";    display: block;    position: absolute; bottom:45px;   width: 90%;    border-radius: 50%;    box-shadow: 0 35px 45px #000;    height: 10px;    z-index: -1; left:5%;}
.section5 .swiper-slide .section5-swiper-img{ z-index: 999; width:100%; position:relative; display:block; overflow:hidden;}
.section5 .swiper-slide .section5-swiper-img img{ width:100%;}
.section5 .swiper-slide:hover .section5-swiper-img img{ transform:scale(1.1,1.1); -ms-transform:scale(1.1,1.1); -moz-transform:scale(1.1,1.1);-webkit-transform:scale(1.1,1.1);}
.section5 .swiper-slide .section5-swiper-text{ padding:4% 0; position:relative; z-index:10; background:#fff; text-align: center; font-size:1.33em; color:#eb6a85;}
.section5 .swiper-slide span{ width:50px; height:50px; display:block; position:absolute; top:50%; margin-top:-30px; width:50px; height:50px; left:50%; margin-left:-25px;}
.section5 .swiper-slide span:before{ display:block; content:""; width:44px; height:44px; border:3px solid #fff; position:absolute; top:0; left:0;border-radius:50%;  transform:scale(1,0); -ms-transform:scale(1,0); -moz-transform:scale(1,0); -webkit-transform:scale(1,0); z-index:999; }
.section5 .swiper-slide span:after{ display:block; content:""; width:44px; height:44px; border:3px solid #fff;  position:absolute; top:0; left:0; border-radius:50%; transform:scale(0,1);z-index:999; -ms-transform:scale(1,0); -moz-transform:scale(1,0); -webkit-transform:scale(1,0);}
.section5 .swiper-slide em{ display:block; background: url("../../images/icon/voide.png"/*tpa=http://www.bjjfr.com/templets/jfr/images/icon/voide.png*/) no-repeat center center; position:absolute; width:100%; height:100%; transform:scale(0,0);z-index:999; }
.section5 .swiper-slide:hover span em{  transform:scale(1,1); }
.section5 .swiper-slide:before{ display:block; content:""; background:rgba(0,0,0,0.3); width:100%; height:100%; position:absolute; top:0; left:0; opacity:0; z-index:99;}
.section5 .swiper-slide:hover span::before{ transform:scale(1,1);}
.section5 .swiper-slide:hover span::after{transform:scale(1,1);}
.section5 .swiper-slide:hover::before{ opacity:1;}
.section5 .swiper-button-prev{ margin-top:-40px;}
.section5 .swiper-button-next{ margin-top:-40px;}
.section5 .copyright p{ color:#fff; }

/* 屏幕六 */
.section6{}
.section6 .content{width:100%; top:50%; transform:translateY(-44%); position:absolute;}
.section6 .swiper-container{width:54%; margin:0 auto;}
.section6 .swiper-wrapper{ z-index:9; position: relative;padding-bottom:45px;}
.section6 .swiper-slide{ width:100%; background:#fff; z-index:9; position:relative;}
.section6 .swiper-slide:after{    content: "";display: block;position: absolute; bottom:45px;width: 90%;border-radius: 50%;box-shadow: 0 35px 45px #000;height: 10px;z-index: -1; left:5%; }
.section6 .section6-swiper-img{ width:100%; }
.section6 .section6-swiper-img img{ width:100%;}
.section6 .section6-swiper-text{ width:100%; background:#fff; }
.section6 .section6-swiper-text img{ padding:25% 0; display:block; max-width:80%; margin:0 auto; }
.section6 .swiper-button-prev{}
.section6 .swiper-button-next{}
.section6 .section6-swiper-img{ display:block; position:relative; overflow:hidden;}
.section6 .section6-swiper-img:hover img{ display:block; transform:scale(1.1,1.1) }
/* 屏幕七 */
.section7 {}
.section7 .TitleEn h2{ color:#fff;}
.section7 .TitleEn font{color:#fff;}
.section7 .TitleEn small{color:#fff;}
.section7 .TitleEn span{ background:#fff;}
.section7 .TitleCh font{color:#fff;}
.section7 .TitleCh p{color:#fff;}
.section7 .TitleCh span{background:#fff;}
.section7 .content{width:100%; top:50%; transform:translateY(-50%); position:absolute;}
.section7 .swiper-container{width:60%; margin:0 auto;}
.section7 .swiper-wrapper{z-index:9; position: relative;padding-bottom:45px;}
.section7 .swiper-slide{width:100%; background:#fff; z-index:9; position:relative;}
.section7 .news{  padding:15% 15% 30%; position:relative; z-index:99; background: #fff;}
.section7 .news-date{ padding-bottom:15px;  color:#B5B5B5;}
.section7 .news-title{ font-size:1.17em; line-height:24px; color:#000;}
.section7 .news span{ display:block; width:100%; height:0; border-bottom:1px solid #CCCCCC; padding-top:18px;}
.section7 .swiper-slide:before{content: "";display: block;position: absolute;bottom: 45px;width: 90%;border-radius: 50%;box-shadow: 0 35px 45px #000;height: 10px;z-index: -1;left: 5%;}
.section7 .news p{ font-size:12px; line-height:24px; color:#909090; padding-top:18px;}
.section7 .news a.more{ display:block; bottom:25px; border:1px solid #000; color:#000; width:56px; line-height:19px;  text-align: center; height:19px; position:absolute; }
.section7 .swiper-slide:hover .news-title{ color:#D62010;}
.section7 .swiper-slide:hover a.more{ color:#D62010; border:1px solid #D62010;}
/* 屏幕八 */
.section8 {}
.section8 .content{width:100%; top:50%; transform:translateY(-50%); position:absolute;}
.section8 .contentMax{ width:60%; margin:0 auto; display:block; position:relative;}
.section8 .contentMax:after{ clear: both; display:block; content:"";}
.section8 .map{ float:left; width:39%;}
.section8 .map img{ width:100%; display:block; }
.section8 .list { width:41.5%; float: right; }
.section8 .list ul.listA{ width:80%; }
.section8 .list .listA li{ border-bottom:1px solid #000;}
.section8 .list .listA li>img{ padding-bottom:25px; }
.section8 .list .listA li span{}
.section8 .list .listA li span img{ padding-right:20px; padding-bottom:6px;}
.section8 .list .listA li.listText{  padding:10px 0 5px 0;}
.section8 .list .listA li.listText2{  padding: 20px 0 8px 0;}
.section8 .list .listA li p{ color:#898989; font-size:14px; display:inline-block;}
.section8 .list .listA li em{ font-size:33px; color:#d51514; font-family:Impact; }
.section8 .list .listA li p i{ color:#494949;}
.section8 .list-code{ }
.section8 .list-code ul{ width:100%; padding-top:40px;}
.section8 .list-code ul:after{ clear:both;}
.section8 .list-code li{ margin-right:6px;  background:#E7E7E7; float:left;}
.section8 .list-code img{ display:block; padding:4px;}
.section8 .list-code span{ color:#585858; padding:3px 0 7px 0; text-align: center; width:100%; display:block;}
 



















