@charset "utf-8";
/* CSS Document */
/*跨大区间分辨率共用*/

@media screen  and ( min-width:1440px ){
	.section2 .sectionSlide{ width:52%;}
	}
@media screen  and ( max-width:1440px ){
	.banner .swiper-slide span{ background-size: auto 100% !important;}
	html, body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td, blockquote { font-size: 10px; }
	.section2 .swiper-button-prev{ width:40px; height:40px; }
	.section2 .swiper-button-next{ width:40px; height:40px; }
	.section8 .list ul.listA{ width:100%;}
	.section8 .map{ width:50%;}
	.section8 .list{ width:45%;}
}
@media screen  and ( max-width:1440px ) and ( min-width:1200px ){
	.section2 .sectionSlide{ width:50%;}
	.Return{ transform:translateY(45%);}
	.banner .swiper-slide span{ background-size: 100% 100% !important;}
	.section2 .content{}
	/*.section3 .swiper-button-prev,.section4 .swiper-button-prev,.section5 .swiper-button-prev{ left:25%;}
	.section3 .swiper-button-next,.section4 .swiper-button-next,.section5 .swiper-button-next  { right:25%;}*/
	.section .content{ z-index:999;}
	}
 @media screen  and ( max-width:1200px ){
	html, body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td, blockquote { font-size: 8px; }
	.section .TitleEn small{ display:none;}
	.section2 .swiper-button-prev{ width:35px; height:35px; margin-top:-17px; }
	.section2 .swiper-button-next{ width:35px; height:35px; margin-top:-17px;   }
	
  }
  .section1 .wapbanner.swiper-container{ display:none;}
 @media screen and ( max-width:992px ){
	.section2 .content{ top:50%; transform:translateY(-50%);}
	.section2 .sectionSlide{ width:80%;}
	.section2 .swiper-container{ width:80%;}
	#fp-nav{ display:none;}
	.Return{ left:auto; right:0;}
	.section3 .swiper-container{ width:90%; }
	.section3 .swiper-slide{ transform:translateY(0);}
	.section3 .swiper-slide:after{ background:none;}
	.section3 .content{ transform:translateY(-20%);}
	.section3 .swiper-button-prev{ display:none;}
	.section3 .swiper-button-next{ display:none;}	
	.section4 .swiper-container{ width:90%;}
	.section4 li:after{ border:1px solid #fff; transform: scale(0.85,0.9);}
	.section4 .swiper-section4-text{ bottom:10%; z-index:9; opacity:1;}
	.section5 .swiper-container{ width:90%;}
	.section5 .content{ transform: translateY(-30%);}
	.section6 .swiper-container{ width:90%;}
	.section6 .content{transform: translateY(-30%);}
	.section7 .swiper-container{ width:90%;}
	.section8 .map{ float:none; width:60%; margin:0 auto;}
	.section8 .list{ float:none; width:60%; margin:0 auto;}
	.section3 .swiper-slide:after{ top:86%;}
	.section3 .swiper-slide.current:after{ top:86%;}
	.section1 .swiper-container{ display:none;}
	.section1 .wapbanner.swiper-container{ display:block;}
	.swiperInBox{ display:none;} 
	
	
	}
@media screen  and ( max-width:768px ){
	.section2 .sectionSlide{ width:90%;}
	.section2 .content{ top:60%;}
	.swiper-button-prev{ display:none;}
	.swiper-button-next{ display:none;}	
	.section2 .swiper-container{ width:100%; }
	.section .sectionMax{ top:70px;}
	.section2 .SlideText{ width:150px; padding:10px; height:30px;}
	.section2 .sectionSlide .current .SlideText{ bottom:10px;}
	.section4 li { width:49%;}
	.section4 li:nth-last-child(1){ display:none;  }
	.section4 li:nth-last-child(2){ display:none;  }
	.section4 li:nth-last-child(3){ display:none;  }
	.section4 li:nth-last-child(4){ display:none;  }
	.section4 li:nth-last-child(5){ display:none;  }
	.section4 li:nth-last-child(6){ display:none;  }
	.section4 li:nth-last-child(7){ display:none;  }
	.section4 li:nth-last-child(8){ display:none;  }
	.section4 .content{transform: translateY(-30%);}
	.section7 .swiper-container{ width:60%;}
	.section7 .content{    transform: translateY(-30%);}
	.section8 .map{ float:none; width:100%; margin:0 auto;  display:none;}
	.section8 .list{ float:none; width:100%; margin:0 auto;}
	.list-code{ display:none;}
	.section8 .contentMax{ width:80%;}
	.section8 .content{transform: translateY(-30%); }
	.section8 .list .listA li span img{ display:none;}
	.Return{ display:none;}
	.section3 .swiper-wrapper{ padding-bottom:33%;}
	.section3 .swiper-slide:after{ top:70%; width:80%; margin:0 10%;}
	.section3 .swiper-slide.current:after{ top:none; width:none;}
	.section3 .swiper-slide.current:after{ top:70%;}
	.section3 .swiper-slide:before{ display:none;}
	.swiperInBox{ display:none;}

  }
	
@media screen and ( max-width:640px ){
	.section .TitleCh{ display:none;} 
	
	}
@media screen and ( max-width:374px ){
	.TitleCh{ display:none;}
	.section7 .swiper-container{ width:80%;}
	.section7 .news p{    height: 24px;    position: relative;    overflow: hidden;}
	.section3 .swiper-slide:after { width:60%; margin:0 20%; top:70%;}
	.section3 .swiper-slide.current:after{ top:70%;}
	
	
	}


