@charset "utf-8";
/*-------------初始化----------------*/
/****  文字大小初始化,使1em=10px *****/
body{font-size:62.5%;}/* for IE/Win */
html>body{font-size:12px;} /* for everything else */
/*字体边框等初始化*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,tr,th,td,img{padding:0; margin:0; font-size:12px;}
table{border-collapse:collapse; border-spacing:0;}
fieldset,img,input{border:0;}
address,caption,cite,code,dfn,th,var{font-weight:normal; font-style:normal;}
ol,ul,li{list-style:none; vertical-align:top;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{ font-size:100%;  font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
a{text-decoration:none; outline:none;  color:#02023e;}
a img{border:none;}/*for IE*/
a:active{star:expression(this.onFocus=this.blur());}/*点击虚框去除*/
/*--------------end------------*/
body{background:#02023e; font-size:14px; font-family: "Microsoft YaHei";}
/*-------------通用样式-------------*/
.box{ width:100%; overflow:hidden; position:relative; padding-top:70px; color:#fff; }
.box .box_in{ width:1200px; margin:0 auto; position:relative;}
.box h2{ width:1176px; height:190px; background:url("h2_1.png"/*tpa=http://www.itcast.cn/subject/onair/images/h2_1.png*/) no-repeat center; margin:0 auto 60px auto; text-indent:-9999px;}
/*-------------box1-------------*/
.box1{ padding:0;}
.box1 .con1 div{ width:100%; height:268px; background:url("banbg_01.jpg"/*tpa=http://www.itcast.cn/subject/onair/images/banbg_01.jpg*/) no-repeat center top;}
.box1 .con1 div.box1{ background-image:url("banbg_02.jpg"/*tpa=http://www.itcast.cn/subject/onair/images/banbg_02.jpg*/);}
.box1 .con1 div.box2{ background-image:url("banbg_03.jpg"/*tpa=http://www.itcast.cn/subject/onair/images/banbg_03.jpg*/);}
.box1 .con1 div.box3{ background-image:url("banbg_04.jpg"/*tpa=http://www.itcast.cn/subject/onair/images/banbg_04.jpg*/);}
.box1 .con1 div.box4{ background-image:url("banbg_05.jpg"/*tpa=http://www.itcast.cn/subject/onair/images/banbg_05.jpg*/);}
.box1 .box_in{ width:1200px; height:1340px; position:absolute; left:50%; margin-left:-604px; top:0px;}
.box1 .ban{ height:665px; position:relative;}
.box1 .ban img{ display:block; position:absolute;}
.box1 .ban img.img1{ left:167px; top:120px;}
.box1 .ban img.img2{ left:290px; bottom:35px;}
.box1 .onair{ height:655px; background:url("box1bg.png"/*tpa=http://www.itcast.cn/subject/onair/images/box1bg.png*/) no-repeat center top;}
.box1 .onair .on_t{ padding: 22px 48px 18px 46px; height:112px;}
.box1 .on_t p{ font-size:16px; line-height:28px; text-align:left; text-indent:2em;}
.box1 .on_t p span{ color:#00f6ff;}
.box1 .on_c{ height:503px; background:#020031; overflow:hidden;}
.box1 .onc_l{ width:315px; height:503px; float:left; overflow:hidden;}
.box1 .onc_l .myh3{ height:60px; line-height:60px; font-size:24px; color:#00f6ff; background:url("box11.jpg"/*tpa=http://www.itcast.cn/subject/onair/images/box11.jpg*/) no-repeat 197px center; padding-left:90px;}
.box1 .choice{ height:322px; overflow:hidden;}
.box1 .Subject{ padding-left:25px; overflow:hidden;}
.box1 .Subject li{ width:270px; height:77px; background:#747477; margin-bottom:4px; cursor:pointer; position:relative;}
.box1 .Subject .zth3{ width:80px; text-align:center; font-size:20px; position:absolute; left:15px; top:28px;}
.box1 .Subject .ztp{ font-size:14px; width:90px; text-align:center; position:absolute; left:95px; top:21px;}
.box1 .Subject .special .ztp{ top:32px;}
.box1 .Subject .zta{ display:block; padding:0 15px; height:28px; line-height:28px; text-align:center; background:#00f6ff; font-size:16px; color:#02023e; position:absolute; left:195px; top:27px;}
.box1 .Subject .zta:hover{ background:#5ff9ff;}
.box1 .Subject .ztsj{ position:absolute; right:-14px; top:22px; display:none;}
.box1 .Subject .zt p{ font-size:14px; text-align:center; width:24px; height:50px; padding:5px 0; line-height:16px; position:absolute; left:-15px; top:8px;  border-radius:5px;}
.box1 .Subject .zt1{ display:block; background:#4f4f50; color:#fff;}
.box1 .Subject .taoyan .zt1{ background:#747477;}
.box1 .Subject .zt2{ display:none; color:#ffd200; font-weight:bold; background:#ff0000;}
.box1 .Subject li.curs{ background:#ffd200; color:#020031;}
.box1 .Subject li.curs .ztsj{ display:block;}
.box1 .bz{ height:109px; padding:12px 0 0 40px; overflow:hidden;}
.box1 .bz p{ font-size:14px; line-height:22px; color:#00f6ff; text-align:left; margin-bottom:12px;}
.box1 .bz a{ display:block; width:140px; height:34px; line-height:34px; font-size:16px; text-align:center; border:1px solid #00f6ff; color:#00f6ff; margin-left:45px;}
.box1 .bz a:hover{ background:#00f6ff; color:#02023e;}
.box1 .onc_r{ width:885px; float:right;}
.box1 .onc_r .content{ width:885px; height:503px; display:none; background:#fff;}
.box1 .onc_r .mycur{ display:block;}
/*-------------box2-------------*/
.box2 .box_in{ background:url("box2bg.jpg"/*tpa=http://www.itcast.cn/subject/onair/images/box2bg.jpg*/) no-repeat center top;}
.box2 .slideBox{ width:1200px; height:930px; overflow:hidden; position:relative;}
.box2 .slideBox .hd{ height:8px; position:absolute; right:160px; bottom:5px; z-index:1; }
.box2 .slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.box2 .slideBox .hd ul li{ float:left; margin-right:10px;  width:100px; height:8px; background:#fff; cursor:pointer; }
.box2 .slideBox .hd ul li.on{ background:#ffd200;}
.box2 .slideBox .bd{ position:relative; height:100%; z-index:0; overflow:hidden;}
.box2 .slideBox .firstli{ width:1200px; overflow:hidden; zoom:1; vertical-align:middle; }
.box2 .slideBox .firstli ul{ width:1300px; }
.box2 .slideBox .firstli li{ width:136px; margin-right:15px; float:left;}
.box2 .slideBox .firstli li.odd{ padding-top:50px;}
.box2 .slideBox .firstli li img{ display:block; width:136px; height:194px; margin-bottom:10px;}
/*-------------box3-------------*/
.box3{ background:url("boxbg_01.jpg"/*tpa=http://www.itcast.cn/subject/onair/images/boxbg_01.jpg*/) no-repeat center bottom;}
.box3 h2{ width:1020px; background-image:url("h2_2.png"/*tpa=http://www.itcast.cn/subject/onair/images/h2_2.png*/);}
.box3 .ul_box{ width:1200px; overflow:hidden;}
.box3 .ul_box ul{ width:1300px;}
.box3 .ul_box li{ width:232px; height:345px; margin:0 10px 20px 0; float:left;}
.box3 .ul_box .img_box{ width:232px; height:195px; overflow:hidden;}
.box3 .img_box img{ display:block; width:232px; height:195px;  -moz-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s;}
.box3 li:hover img{ -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1);}
.box3 .ul_box .txt{ width:202px; height:150px; padding:0 15px; background:#fff;}
.box3 .ul_box .txt h3{ font-size:20px; height:50px; line-height:50px; text-align:center; font-weight:bold; border-bottom:1px solid #141414; color:#141414; margin-bottom:13px;}
.box3 .ul_box .txt p{ height:15px; line-height:15px; margin-bottom:8px; font-size:14px; color:#141414; background:url("box3s.jpg"/*tpa=http://www.itcast.cn/subject/onair/images/box3s.jpg*/) no-repeat right center; cursor:pointer;}
.box3 .ul_box .txt p:hover{ color:#4050a7;}
.myzhe{ display:none;}
.zhezhao{width:100%; height:100%; position:absolute; top:0; left:0; display:none; min-width:1000px; z-index:9999; background:url("shadow.png"/*tpa=http://www.itcast.cn/subject/onair/images/shadow.png*/);}
.zheul{position:fixed; padding-top:30px; top:50%; left:50%; margin-left:-345px; margin-top:-245px; background:#000; z-index:99999;}
.zheul li{width:680px; height:480px; display:none; overflow:hidden;}
/*-------------box4-------------*/
.box4{ background:url("boxbg_02.jpg"/*tpa=http://www.itcast.cn/subject/onair/images/boxbg_02.jpg*/) no-repeat center top;}
.box4 h2{ width:1025px; background-image:url("h2_3.png"/*tpa=http://www.itcast.cn/subject/onair/images/h2_3.png*/);}
.box4 .ul_box{ height:745px; background:url("box4bg.png"/*tpa=http://www.itcast.cn/subject/onair/images/box4bg.png*/) no-repeat center; position:relative;}
.box4 .ul_box li{ position:absolute;}
.box4 .ul_box li p{ font-size:14px; line-height:24px;}
.box4 .ul_box li p span { display:inline-block; margin-right:15px;}
.box4 .ul_box li.li1{ left:123px; top:89px;}
.box4 .ul_box li.li2{ top:162px;}
.box4 .ul_box li.li3{ top:234px;}
.box4 .ul_box li.li4{ top:334px;}
.box4 .ul_box li.li5{ top:436px;}
.box4 .ul_box li.li6{ top:508px;}
.box4 .ul_box li.li7{ left:332px; top:137px;}
.box4 .ul_box li.li8{ top:380px;}
.box4 .ul_box li.li9{ left:600px; top:79px;}
.box4 .ul_box li.li10{ top:346px;}
.box4 .ul_box li.li11{ left:859px; top:309px;}
.box4 .ul_box li.li12{ left:976px; top:170px;}
.box4 .ul_box li.li12 a{ display:block; width:145px; height:44px; text-align:center; line-height:44px; background:#00f6ff; font-size:18px;}
.box4 .ul_box li.li12 a:hover{ background:#ffd200;}
/*-------------box5-------------*/
.box5 .con5bg{ width:1200px; height:853px; position:absolute; left:0; top:765px; z-index:-3;}
.box5 .h2_1{ width:1025px; height:220px; background-image:url("h2_4.png"/*tpa=http://www.itcast.cn/subject/onair/images/h2_4.png*/);}
.box5 .h2_2{ width:1050px; background-image:url("h2_5.png"/*tpa=http://www.itcast.cn/subject/onair/images/h2_5.png*/);}
.box5 .mycon5{ overflow:hidden; height:590px; position:relative; margin-bottom:70px;}
.box5 .mycon5_l{ width:750px; height:590px; float:left; background:url("box51.jpg"/*tpa=http://www.itcast.cn/subject/onair/images/box51.jpg*/) no-repeat 222px 176px; position:relative;}
.box5 .mycon5_l img{ display:block; position:absolute;}
.box5 .mycon5_l .pic1{ left:218px; top:37px;}
.box5 .mycon5_l .pic2{ left:503px; top:81px;}
.box5 .mycon5_l .pic3{ left:487px; top:436px;}
.box5 .mycon5_l .pic4{ left:95px; top:426px;}
.box5 .mycon5_l .pic5{ left:35px; top:164px;}
.box5 .marquee{ width:371px; height:530px; padding:30px 22px; float:right; background:#1d1d43; overflow:hidden; position:relative;}
.box5 .marquee ul{ overflow:hidden; zoom:1; overflow:hidden;}
.box5 .marquee ul li{ text-align:center; zoom:1; margin-bottom:25px; overflow:hidden;}
.box5 .marquee .li_l{ width:68px; float:left;}
.box5 .marquee .li_l img{ display:block; width:68px; height:68px;}
.box5 .marquee .li_r{ width:265px; float:right; }
.box5 .marquee .li_r h3{ height:26px; line-height:26px; font-size:18px; color:#00f6ff; border-bottom:1px dashed #00f6ff; text-align:left; position:relative; margin-bottom:10px;}
.box5 .marquee .li_r .myspan{ display:block; width:74px; height:26px; background:#00f6ff; text-align:center; line-height:26px; font-size:14px; color:#02023e; position:absolute; right:0;top:0; cursor:pointer;}
.box5 .marquee .li_r p{ font-size:14px; line-height:26px; text-align:left;}
.box5 .marquee .li_r .myjt{ width:680px; height:480px; position:fixed; padding-top:30px; top:50%; left:50%; margin-left:-345px; margin-top:-245px; z-index:99999; display:none;}
.myzhes{ display:none; z-index:98;}
.zhezhaos{width:100%; height:100%; position:absolute; top:0; left:0; display:none; min-width:1000px; z-index:98; background:url("shadow.png"/*tpa=http://www.itcast.cn/subject/onair/images/shadow.png*/);}
.box5 .book_box{ width:990px; margin:0 auto;}
.box5 .book_box li{ width:970px; height:212px; padding:0 10px; background:url("bookbg.png"/*tpa=http://www.itcast.cn/subject/onair/images/bookbg.png*/) no-repeat center bottom; margin-bottom:30px;}
.box5 .book_box li img{ display:block; width:160px; height:200px; margin-right:2px; float:left; position:relative; top:0;}
.box5 .book_box .nomargin{ margin-right:0px;}
.box5 .book_box li img:hover{ top:-12px; transition: .5s; -moz-transition:.5s; -webkit-transition:.5s; -o-transition:.5s;}
/*-------------box6-------------*/
.box6 .con6bg{ width:755px; height:720px; position:absolute; top:0; left:50%; margin-left:-760px; z-index:-1;}
.box6 .con6bg1{ margin-left:30px;}
.box6 h2{ width:880px; background-image:url("h2_6.png"/*tpa=http://www.itcast.cn/subject/onair/images/h2_6.png*/);}
.box6 .table_t{ width:1200px; margin:0 auto;}
.box6 .table_t td{ height:60px; line-height:60px; font-size:22px; text-align:center; background:#00f6ff; color:#02023e;}
.box6 .tb_in{width:1200px; margin:0 auto 60px auto; padding:20px 0 0px; overflow:hidden;}
.box6 #scrollDiv{height:522px; padding-bottom:8px; overflow:hidden; margin:0 auto; cursor:pointer;}
.box6 #scrollDiv td{height:52px; line-height:52px; border-bottom:1px solid #fff; background:#333363; text-align:center; font-size:18px;}
.box6 td.td1{width:125px; opacity:0.5; filter:alpha(opacity=50); border-bottom:1px solid #797b9d !important;}
.box6 td.td2{width:270px;}
.box6 td.td3{width:140px;}
.box6 td.td4{width:130px; background:#ffd200 !important; color:#02023e !important;}
.box6 td.td5{width:160px;}
.box6 td.td6{width:250px;}
.box6 td.td7{width:125px; opacity:0.5; filter:alpha(opacity=50); border-bottom:1px solid #797b9d !important;}
.box6 .p1{ text-align:center; font-size:18px; line-height:30px; color:#00f6ff;}
/*-------------box7-------------*/
.box7{ padding:0;}
.box7 .con7 div{ width:100%; height:156px; background:url("box7bg_01.jpg"/*tpa=http://www.itcast.cn/subject/onair/images/box7bg_01.jpg*/) no-repeat center top;}
.box7 .con7 div.div1{ background-image:url("box7bg_02.jpg"/*tpa=http://www.itcast.cn/subject/onair/images/box7bg_02.jpg*/);}
.box7 .con7 div.div2{ background-image:url("box7bg_03.jpg"/*tpa=http://www.itcast.cn/subject/onair/images/box7bg_03.jpg*/);}
.box7 .con7 div.div3{ background-image:url("box7bg_04.jpg"/*tpa=http://www.itcast.cn/subject/onair/images/box7bg_04.jpg*/);}
.box7 .con7 div.div4{ background-image:url("box7bg_05.jpg"/*tpa=http://www.itcast.cn/subject/onair/images/box7bg_05.jpg*/);}
.box7 .box_in{ width:1200px; height:780px; position:absolute; left:50%; margin-left:-604px; top:0px;}
.box7 .btn{ display:block; width:336px; height:54px; background:#00e4f3; text-align:center; line-height:54px; font-size:22px; font-weight:bold; margin:70px auto 176px auto;}
.box7 .btn:hover{ background:#fff45c;}
.box7 .mycon7{ width:910px; height:440px; padding:40px 60px 0 0; background:#00001e; margin:0 auto; overflow:hidden;}
.box7 .mycon7_l{ width:630px; float:left;}
.box7 .mycon7_r{ width:245px; height:425px; padding-top:15px; float:right;}
.box7 .mycon7_r .mya{ display:block; width:245px; height:54px; padding-top:6px; text-align:center; font-size:16px; line-height:24px; background:#00e2ed; margin-bottom:22px;}
.box7 .mycon7_r .mya:hover{  background:#fff45c;}
.box7 .mycon7_r p{ font-size:28px; color:#fff45c; text-align:center; margin-top:15px;}
/*-------------返回顶部-------------*/
/* #back{display:none; width:105px; height: 200px; position: absolute; left:50%; margin-left:605px; bottom:120px; cursor: pointer; overflow: hidden;}*/
#back{display:none; width:105px; height: 200px; cursor: pointer; overflow: hidden; position:fixed; left:0; bottom:120px;}