@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
li,dl,dd{list-style:none;}
a{text-decoration:none;}
img{border:none 0;}
.clear{ clear:both;}
.headerBox{width:100%;background:url(../img/top_bj.jpg) no-repeat center top;}
.top{width:1000px;margin:0 auto; overflow:hidden;}
.top .logo{float:left;}
.top .hotline{float:right;}
.fl{float:left;}
.fr{ float:right;}

.navBox{width:100%;height:52px;background:#633030;}
.nav{width:1000px;margin:0 auto; position:relative;}
.nav ul{width:1090px;margin-left:-40px;}
.nav ul li.navLI{float:left;padding-top:9px;width:134px; height:43px; background:url(../images/nav-li.gif) no-repeat right center;}
.nav ul li a{display:block;float:left;color:#fff;font: normal 14px 微软雅黑;height:px;width:134px;text-align:center;}
.nav ul li.current a{font:bold 14px 微软雅黑;color:#ffe27d;}
.nav ul li a:hover{font:bold 14px 微软雅黑;color:#ffe27d;}
.nav ul li a:hover p{font-weight:normal;color:#bea037;}
.nav ul li ul { position:absolute; z-index:9999;top:52px; width:134px; margin:15px auto 0 auto; padding:15px 0 5px 0;  background:#897373;}
.nav ul li ul li{float:none;border-right:none; text-align:center; width:134px; height:25px;}
.nav ul li ul li a{ color:#fff; display:block;  height:30px; font-size:13px;}
.nav ul li .subnav{ display:none;}
.subnav span{ display:block; width:134px; height:29px; background:url(../img/sjx.png) no-repeat top center; position:absolute; top:-29px;left:0; }
.nav ul li ul li a:hover{ color:#ff0; font-weight:normal; font-size:13px;}
.nav ul li.current a{font:bold 14px 微软雅黑;color:#ffe27d;}
.nav ul li.current a p{font:normal 12px 微软雅黑;color:#bea037;text-transform:uppercase;}
.nav ul li a p{ color:#a27d7d;text-transform:uppercase; font:normal 12px 微软雅黑;}
.nav ul li.none{ background:none;}


.banner{width:100%;height:422px;margin:0 auto;}
.advertise{width:100%;height:422px;border-top:solid 1px #e8e8e8;}
.advertise{float:left;width:100%;position: relative;}
.advertise li{list-style:none;}
.advertise .size{position: relative;width:100%;height:422px;overflow: hidden;}
.advertise .size li a{display:block;}
.advertise .size li{width:100%;height:422px;}
.advertise .rslides_nav{display: none;}
.advertise .rslides_tabs{position: absolute;bottom:20px;right:30%;}
.advertise .rslides_tabs li{float: left;margin-left: 5px;}
.advertise .rslides_tabs a{ display:block;width:12px;height:12px;background: url(../img/bannernyanl.png) -12px 0 no-repeat; }
.advertise .rslides_tabs .rslides_here a{background-position:0  0;}
.advertise .rslides_tabs a:hover{text-decoration: none;}
/*news*/
.mainBox{width:100%; position:relative;}
.menuBox{width:1000px; margin:0 auto;margin-top:30px;position:relative;}
.menuBox .menu{width:135px;position:absolute;top:0;left:-167px;}
.menuBox .menu dl{width:128px;background:#a59999;margin-top:5px;padding-top:20px;padding-bottom:30px;}
.menuBox .menu dl dd{width:128px;}
.menuBox .menu dl dd a{color:#fff;font:15px 微软雅黑;display:block;width:128px;margin-left:-8px;height:50px;padding-left:30px;padding-top:4px;}
.menuBox .menu dl dd a span{color:#c3b0b0;font:10px Arial; text-transform:uppercase;}
.menuBox .menu dl .current1 a{color:#ffff00;background:url(../img/menujg.jpg) no-repeat;}
.menuBox .menu dl dd a:hover{color:#ffff00;background:url(../img/menujg.jpg) no-repeat;}
.menuBox .menuRight{width:1000px;float:right;}
.menuRight .subNav{width:1000px;height:22px;border-bottom:solid 1px #e6e6e6;font-family:宋体;}
.menuRight .subNav a{color:#4e4e4e;font:12px 微软雅黑;}
.menuRight .subNav a.current{color:#be0000;}
.menuRight .subNav a:hover{color:#be0000;}
.bb {width:135px; position:absolute; left:-167px; top:0px;}

.menuRight .newsList{width:1000px;padding-top:10px;}
.menuRight .newsList dl{width:998px;border:solid 1px #dbdbdb;border-top: solid 4px #dbdbdb; overflow:hidden;margin-bottom:30px;}
.menuRight .newsList dl dt.listImg{width:320px;height:210px;float:left;}
.menuRight .newsList dl dt.listImg img{margin:22px 0 0 25px;}
.menuRight .newsList dl dd.listTitle{float:left;width:640px;margin-top:20px;}
.menuRight .newsList dl dd.listTitle a{color:#575757;font:bold 15px/35px 微软雅黑;}
.menuRight .newsList dl:hover dd.listTitle a,
.menuRight .newsList dl:hover dd.listcontent{color:#bf4141;}
.menuRight .newsList dl dd.listcontent{width:640px;float:left;color:#7c7c7c;font:13px/23px 微软雅黑;}
.menuRight .newsList dl dd.listcontent a{color:#bf4141;}
.menuRight .newsList dl dd.listcontent a:hover{color:#ffff00;}
.menuRight .newsList dl dd.march{width:640px;float:left;color:#b7b7b7;font:13px/35px 微软雅黑;}
.menuRight .newsList dl dd.march span{font-family:Arial;}
.menuRight .newsList .page{width:315px;margin:0 auto;}
.menuRight .newsList .page a{display:block;float:left;color:#c2c2c2;border:solid 1px #d6d6d6;font:16px/33px Arial;width:33px;height:33px;margin-left:8px;text-align:center;}
.menuRight .newsList .page .leftA,
.menuRight .newsList .page .rightA{width:35px;height:35px;background:#8c8c8c;font:23px/33px 宋体;color:#fff;text-align:center;}
.menuRight .newsList .page a.current{background:#9f1212;color:#fff;}
.menuRight .newsList .page a:hover{background:#9f1212;color:#fff;}

/*newsdetail*/
.newsList .newsDetailTitle{text-align:center;margin-top:20px;color:#575757;font:bold 19px 微软雅黑;}
.newsList .date{text-align:center;margin:15px 0 30px 0;color:#b7b7b7;font:14px 微软雅黑;}
.newsList .date span{color:#b7b7b7;font:14px Arial;}
.newsList .newsContent{color:#656565;font:14px/24px 微软雅黑;min-height:300px;border-bottom:solid 1px #dbdbdb;}
.newsList .pageB{width:280px;margin:0 auto;margin-top:30px;}
.newsList .pageB a.next{margin-left:110px;}
.newsList .pageB a{display:block;width:84px;height:30px;background:#919191;float:left;color:#fff;font:14px/30px 微软雅黑;text-align:center;}
.newsList .pageB a:hover{background:#8c2a2a;}
/*porlist*/
.porListBox{width:1000px;}
.porListTop{width:1000px;margin-top:15px;}
.porListTop .ckBox{width:500px;height:614px;float:left;overflow:hidden;}

.porListTop .ckBox ul li{float:left;position:relative;}
.porListTop .dkBox{width:500px;height:614px;float:left; overflow:hidden;}

.porListTop .dkBox ul li{float:left;position:relative;}
.porckBOxL{position:absolute;top:60px;right:40px;width:230px;min-height:108px;}
.porckBOxL h3, .porckBOxR h3{color:#564a4a;font:26px 微软雅黑;}
.porckBOxL h3 span, .porckBOxR h3 span{color:#7c7474;font:28px 微软雅黑;}
.porckBOxL p, .porckBOxR p{color:#564a4a;font:12px/20px 宋体;}
.porckBOxL p span, .porckBOxR p span{display:block;font:10px/15px Arial; text-transform:uppercase;}
.porckBOxR{position:absolute;top:280px;right:25px;width:252px;min-height:93px;}
.porList{width:1000px;}
.porList .por{width:1030px;margin-left:-23px;margin-top:20px; overflow:hidden;}
.porList .por li{width:316px;height:488px;float:left;margin-left:23px;margin-bottom:20px;}
.porList .por li a img{border:solid 1px #efe7e6;}
.porList .por li p{width:265px;margin:0 auto;}
.porList .por li p i{float:left;color:#5c5050;font:normal 13px/30px 微软雅黑;}
.porList .por li p span{font-family:Arial;}
.porList .por li p a{width:67px;height:21px;display:block;float:right;background: url(../img/porlb_cknl.jpg) no-repeat 65px center #7f7070;font:12px/21px 微软雅黑;color:#fff;text-align:left;padding-left:8px;margin-top:5px;}
.porList .por li p a:hover{color:#ffff00;}
.page{width:315px;margin:0 auto;}
.page a{display:block;float:left;color:#c2c2c2;border:solid 1px #d6d6d6;font:16px/33px Arial;width:33px;height:33px;margin-left:8px;text-align:center;}
.page .leftA,
.page .rightA{width:35px;height:35px;background:#8c8c8c;font:23px/33px 宋体;color:#fff;text-align:center;}
.page a.current{background:#9f1212;color:#fff;}
.page a:hover{background:#9f1212;color:#fff;}
/*about*/
.abuotBox{width:1000px;margin:0 auto;min-height:400px;margin-bottom:35px;}
.abuotBox img{border:none 0;display:block;}
/*contact*/
.ContactBox{width:1000px;margin-top:30px;margin-bottom:80px;}
.ContactBox .ContactImg{float:right;width:359px;}
.ContactBox .Contactright{float:left;width:595px;}
.ContactBox .Contactright h3{color:#634444;font:26px 宋体;height:51px;margin-top:10px;}
.lyBox{width:595px;}
.lyBox h2{color:#3f3f3f;font:normal 14px/24px 微软雅黑;margin-top:10px;}
.lyBox .ly{width:595px; overflow:hidden;}
.lyBox .ly textarea{width:308px;height:210px;resize:none;border:solid 1px #b7b7b7;float:left;color:#878787;font:12px/20px 宋体;}
.lyBox .ly .lyright{width:270px;float:right;}
.lyBox .ly .lyright h4{color:#535353;font:14px 微软雅黑;margin-bottom:5px;}
.lyBox .ly .lyright p{height:27px;border-bottom: dashed 1px #e5e5e5;}
.lyBox .ly .lyright p span{color:#878787;font:12px/27px 宋体;}
.lyBox .ly .lyright p span:hover{color:#cb6767;}
.lyBox .ly .lyright span{ cursor:pointer;}

.ContactBox .Contactright table{width:590px;margin-top:10px;}
.ContactBox .Contactright table td{margin-top:20px;height:50px;color:#3f3f3f;font:14px 微软雅黑;}
.ContactBox .Contactright table .text{width:213px;height:30px;border:solid 1px #b7b7b7;margin-left:10px;color:#696969;font:12px/30px 宋体;padding-left:10px;}
.ContactBox .Contactright table td select{width:169px;height:30px;border: solid 1px #b7b7b7;}
.Contactright .yzmBox{width:595px;overflow:hidden;margin-top:5px;}
.Contactright .yzmBox .yzmleft{float:left;margin-top:10px;color:#696969;font:12px/20px 宋体;height:20px;}
.Contactright .yzmBox .yzmleft span{color:#696969;font:14px 微软雅黑;}
.Contactright .yzmBox .yzmleft p{float:left;}
.Contactright .yzmBox .yzmleft p a{float:left;color:#3f3f3f;font:14px/30px 微软雅黑;}
.Contactright .yzmBox .yzmleft p input{float:left;width:87px;height:30px;border:solid 1px #b7b7b7;margin-left:20px;color:#999;font:12px/30px 宋体;padding-left:10px;}
.Contactright .yzmBox .yzmleft p img{display:block;float:left;margin-left:10px;}
.Contactright .yzmBox .yzmright{float:right;margin-right:30px;}
.Contactright .yzmBox .yzmright .btn1{width:83px;height:32px;background:#383537;border:0;color:#fff; cursor:pointer;}
.Contactright .yzmBox .yzmright .btn2{width:83px;height:32px;background:#929292;border:0;color:#fff;cursor:pointer;}
.abuotBox .contact_bj{background: url(../pic/contact-bj.jpg) no-repeat;width:1000px;height:540px;padding-top:55px;margin-top:80px;}
.abuotBox .contact_bj .textBox{width:467px;float:right;}
.abuotBox .contact_bj .textBox h3{color:#5f5f5f;font:bold 20px/37px 微软雅黑;}
.abuotBox .contact_bj .textBox p{color:#5f5f5f;font:14px/30px 微软雅黑;}
.abuotBox .contact_bj .textBox p span{font:14px/30px Arial;}
.abuotBox .contact_bj .textBox h4{color:#5f5f5f;font:17px/37px Arial;margin-top:22px;}
.abuotBox .Investigate {width:254px;height:48px;margin:0 auto;margin-top:35px;}
/* m_zlxg */
#sjld{width:590px;margin:11px auto;position:relative;}
#sjld h6{float:left;width:66px;color:#3f3f3f;font:14px/30px 微软雅黑;}
#sjld .m_zlxg{ width:169px; height:32px; line-height:30px;cursor:pointer;float:left;margin:0 10px 0 0;display:inline;background:url(../img/zlxg2.jpg) no-repeat;}

.m_zlxg p{ width:169px; padding-left:10px; overflow:hidden; line-height:30px; color:#333333; font-size:12px; font-family:"微软雅黑";text-overflow:ellipsis; white-space:nowrap;}
.m_zlxg2{ position:absolute; top:29px; border:1px solid #b7b7b7;background:#fff; width:167px; display:none; max-height:220px;-height:220px; overflow-x:hidden; overflow-y:auto;white-space:nowrap;}
.m_zlxg2 li{line-height:30px;white-space:nowrap; padding-left:10px;font-family:"微软雅黑";color:#333333; font-size:12px;}
.m_zlxg2 li:hover{ color:#7a5a21;}

/*honor*/
.honorBox{width:1000px;margin:0 auto; overflow:hidden;}
.honor-list{width:1042px;margin:0 auto;margin-left:-42px; overflow:hidden;margin-top:20px;}
.honor-list dd{float:left;width:479px;margin-left:42px;margin-bottom:30px;}
.honor-list dd .Img{border:solid 1px #e3e3e3;width:457px;padding:10px;}
.honor-list dd .Img img{display:block;width:455px;height:301px;}
.honor-list dd .titleB{width:479px;height:45px;background:#979797;margin-top:10px;text-align:center;padding-top:10px;}
.honor-list dd .titleB a{color:#fff;font:18px 微软雅黑;}
.honor-list dd .titleB a:hover{color:#ffff00;}
.honor-list dd .titleB a span{font:12px Arial;}

.footerBox{width:100%;background:#2e2626;margin-top:50px;}
/*.footer{width:1000px;margin:0  auto;}*/
.linkBox{width:1000px; overflow:hidden;padding-top:35px;}
.linkBox .logo{float:left;width:130px;}
.linkBox .logoRight{float:right;color:#b6b6b6;width:850px;}
.linkBox .logoRight .linkr{width:850px;font:12px Arial;height:26px;border-bottom:dashed 1px #555353;}
.linkBox .logoRight .linkr a{color:#b6b6b6;font:12px 宋体;}
.linkBox .logoRight .linkr a:hover{text-decoration:underline;}
.linkBox .logoRight .linkr span{padding:0 30px 0 30px;}
.linkBox .logoRight .dte{width:850px;height:36px;border-bottom:dashed 1px #555353;}
.linkBox .logoRight .dte p{float:left;color:#fff;font:12px 宋体;line-height:45px;}
.linkBox .logoRight .dte p em{font-style:normal;color:#b6b6b6;}
.linkBox .logoRight .dte p i{ font-style:normal;font:12px  Arial;color:#b6b6b6;}
.linkBox .logoRight .dte .dh{margin-left:140px;}
.linkBox .logoRight .dte .cz{margin-left:142px}
.linkBox .logoRight .Website{width:850px;}
.linkBox .logoRight .Website a{color:#b6b6b6;font:12px Arial;}
.linkBox .logoRight .Website p{color:#b6b6b6;font:12px Arial;}
.linkBox .logoRight .Website p em{font-style:normal; font:12px 宋体;padding-left:25px;}

.codeBOx{width:1000px;margin:0 auto; overflow:hidden;padding:27px 0 33px 150px;}
.codeBOx .codeleft{float:left;width:240px;border-right:solid 1px #393131;height:102px;}
.codeBOx .codeleft h3{color:#ccc;font:14px/20px 宋体;margin-bottom:12px;}
.codeBOx .codeleft h3 span{font:12px Arial;}
.codeBOx .codecenter{float:left;padding-left:92px;width:266px;border-right:solid 1px #393131;height:102px;}
.codeBOx .codecenter h3{color:#ccc;font:14px/22px 宋体;}
.codeBOx .codecenter h3 span{font:12px/22px Arial;}
.codeBOx .codecenter p{font:12px/22px 宋体;color:#b6b6b6;}
.codeBOx .codecenter p span{font:12px Arial;}
.codeBOx .coderight{float:left;padding-left:95px;position:relative;width:124px;}
.codeBOx .coderight p{width:12px;color:#ccc;position:absolute;top:20px; right:0;}

.scdmxx-wrap{width:1000px; margin:0 auto;}
.scdmxx-pic1{ width:1000px; height:538px;}
.scdmxx-list{width:110%;}
.scdmxx-list li{ float:left; width:500px; background:url(../images/scdxx-bk.jpg) no-repeat; height:440px; margin:8px 6px 0 0;}
.scdmxx-list li img{ display:block; width:469px; height:411px; margin:12px auto 0 auto;}



/*企业荣誉*/
.qyry{ width:1000px; margin:0 auto;}
.gyry-list{ width:110%; overflow:hidden;}
.gyry-list li{ float:left; width:457px; margin:20px 64px 0 0;}
.qyry-pic{width:457px; height:301px; margin:0 auto;border:1px solid #e3e3e3; padding:10px; }
/*.qyry-pic a img{margin-left:12px;}*/
.qyry-text{ text-align:center; font:normal 16px 微软雅黑;margin:10px 0 0 0; height:46px; background:#979797; padding:10px 0 0 0; width:480px;}
.qyry-text p{font-family:Arial; font-size:12px;}
.qyry-text a{ color:#fff; display:block;}
.qyry-text a:hover{ color:#ff0;}

.qyry-page{margin:20px 0 0 30px;}
.qyry-page a{ display:inline-block;border:1px solid #d6d6d6; width:33px; height:33px; color:#fff;  text-align:center; background:#8c8c8c; font:normal 14px/33px Arial;}
.qyry-page a:hover,.qyry-page a.hover{ background:#9f1212;}

/*品牌店铺*/
.ppdp-wrap{width:1000px; margin:20px 0 0 0; overflow:hidden;}
.ppdp-list,.ppdp-list1{width:110%;}
.ppdp-list li,.ppdp-list1 li{float:left; width:490px; height:435px; margin-right:20px;}
.ppdp-list1 li{ height:362px;}

/*成功案列*/
.cgal-list{margin:40px 0 0 0;}
.cgal-title{margin-bottom:10px;}


/*产品详情*/
.mod18{width:1000px;/*height:614px;*/margin:20px auto;position:relative;background:#f7f7f7;}
.mod18 .btn{position:absolute;width:79px;height:157px;top:790px;cursor:pointer;z-index:99;font-size:50px;font-weight:bold;}
.mod18 .prev{left:0;background:url(../images/arrow.png) no-repeat 0 0;}
.mod18 .next{right:0;background:url(../images/arrow.png) no-repeat -79px 0;}
.mod18 li{float:left;}
.mod18 .cf li{position:relative;color:#fff;width:1000px;overflow:hidden;}
.mod18 .cf a{display:block;width:1000px;height:614px;position:absolute;color:#fff;}

.mod18 .picBox{height:614px;position:relative;overflow:hidden;}
.mod18 .picBox ul{height:614px;width:842px; background:#ccc;position:absolute;}
.mod18 .picBox li{height:614px;margin:0 auto;}


.mod18 .listBox{width:1000px;height:250px;margin:0 auto;position:relative;padding:6px 0 10px;overflow:hidden; padding-bottom:80px;}
.mod18 .listBox ul{position:absolute;left:100px !important; top:15px; width:110%;}
.mod18 .listBox ul.cf{ width:110% !important;}
.mod18 .listBox li{width:250px;cursor:pointer;position:relative; background:#3f0; height:305px; margin-right:25px;}
.mod18 .listBox li i{display:none;}
.mod18 .listBox li a{display:block;width:250px;height:305px;}
.mod18 .listBox li img{border:solid 1px #dcdcdc;}
.mod18 .listBox .on img{width:248px;height:303px;border:1px solid #ffb1b1;}
.mod18 .listBox .on i{display:block;}


/*2014*/

/*合作*/

.VideoBox{width:100%;background:#f3f3f3;}
.Video{width:1000px;margin:0 auto;overflow:hidden;}
.Video .videoLeft{float:left;width:537px;padding-top:30px;}
.Video .videoLeft img{border:solid 1px #fff;}
.Video .videoRight{float:right;width:455px;background: url(../images/ship-rightbj.jpg) no-repeat;min-height:353px;padding-top:65px;}
.Video .videoRight h2{height:25px;}
.Video .videoRight h3{color:#000;font:bold 16px/35px 微软雅黑;}

.Video .videoRight h3 span{color:#000;font:16px Arial;}
.Video .videoRight h3.dr span{display:block;text-indent:70px;font:16px Arial;}
.Video .videoRight p{background:url(../images/shouyeanniu.jpg) no-repeat;width:145px;height:44px;margin-top:22px;padding-left:30px;}
.Video .videoRight p a{color:#fff;font:23px/44px 微软雅黑;}
.Video .videoRight .dz{color:#b90200;font:14px/30px 微软雅黑;text-decoration:underline;}



.hzfs{margin:20px 0 0 0px}
.hzfs-bj{ background:#f3f3f3;}
.hzfs-wrap{ position:relative; overflow:hidden;}
.hzfs-video{ width:532px;}
.hzfs-video img{margin-top:35px;}
.hzfs-lxwm{width:458px; background:url(../images/lxwm-bj.jpg) no-repeat; height:350px; margin-left:10px; padding-top:60px;}
.lxwm{color:#7d7c7c; font:bold 20px 微软雅黑; margin-bottom:10px;}
.lxwm span{color:#d60000; font:bold 18px 微软雅黑; margin-left:10px;}

.hzfs-jmrx li{ font:bold 16px/30px 微软雅黑;}
.hzfs-jmrx li span{ font:normal 16px Arial;}
.hzfs-jmrx li .f20{font:bold 22px 微软雅黑; color:#d60000;}

.IntroductionBOx{width:100%;background:#f3f3f3;}
.Introduction{width:1000px;margin:0 auto;background:url(../images/jjbj.jpg) no-repeat;height:607px;position:relative;}
.Introduction h3{position:absolute;top:180px;left:20px;color:#fff;font:bold 24px 微软雅黑;}
.Introduction .jjBox{width:452px;position:absolute;top:210px;left:20px;padding-top:10px;}
.Introduction .jjBox p{color:#000;font:14px/25px 微软雅黑;display:block;text-indent:30px;margin-top:10px;}
.Introduction .jjBox p span{color:#d40000;font:14px 微软雅黑;}
.IntroductionImg{width:1000px;margin:0 auto;}

.PatternBox{width:1000px;margin:0 auto;background: url(../images/ylms.jpg) no-repeat;min-height:551px;position:relative;}
.PatternBox .Pattern{width:502px;position:absolute;top:165px;left:70px;}
.PatternBox .Pattern h2{color:#000;font:bold 25px/40px 微软雅黑;}
.PatternBox .Pattern h2 span{color:#d5181e;}
.PatternBox .Pattern p{color:#000;font:14px/27px 微软雅黑;}
.PatternBox .Pattern p span{color:#d5181e;}

.RiskBox{width:100%;background:#f5f5f5;}
.Risk{background: url(../images/fx.jpg) no-repeat;width:1000px;margin:0 auto;min-height:533px; position:relative;}
.Risk p{width:670px;color:#000;font:14px/22px 微软雅黑;}
.Risk .Risk1{position:absolute;top:230px;left:369px; width:620px;}
.Risk .Risk2{position:absolute;top:350px;left:369px; width:620px;}
.Risk .Risk3{position:absolute;top:440px;left:369px; width:620px;}

.CooperationBox{width:100%;position:relative;z-index:1;}
/*.Cooperation{width:1004px;margin:0 auto;background:url(../images/Cooperation1.jpg) no-repeat;height:1530px;position: relative;}*/
.Cooperation{width:1004px;margin:0 auto;background:url(../images/Cooperation.jpg) no-repeat;height:1530px;position: relative; }
.Cooperation h2{color:#423632;font:bold 24px/40px 微软雅黑;}
.Cooperation h2 span{color:#ca0000;}
.Cooperation p{color:#6c645e;font:14px/25px 微软雅黑;}
/*.Cooperation .text1{position:absolute;top:193px;left:387px;width:597px;}*/
.Cooperation .text1 h2{padding-left:180px;}
/*.Cooperation .text2{position:absolute;top:415px;left:20px;width:390px;}*/
.Cooperation .text2 h2{padding-left:170px;}
/*.Cooperation .text3{position:absolute;top:625px;left:669px;}*/
/*.Cooperation .text4{position:absolute;top:765px;left:210px;}*/
.Cooperation .text4 h2{line-height:25px;}
.Cooperation .text4 p{font-size:20px;}
/*.Cooperation .text5{position:absolute;top:930px;left:570px;}*/
.Cooperation .text5 h2{padding-left:190px;}
/*.Cooperation .text6{position:absolute;top:1125px;left:20px;width:418px;}*/
.Cooperation .text6 h2{padding-left:170px;}
.Cooperation .fx{position:absolute;top:1425px;left:251px;color:#2e1f24;font:bold 24px  微软雅黑;}
.Cooperation .fx span{color:#cc0000;}

.Cooperation .text1{position:absolute;top:243px;left:60px;width:452px;}
.Cooperation .text2{position:absolute;top:435px;left:60px;width:390px;}
.Cooperation .text3{position:absolute;top:625px;left:60px;}
.Cooperation .text4{position:absolute;top:810px;left:60px;}
.Cooperation .text5{position:absolute;top:980px;left:60px;width:410px;}
.Cooperation .text6{position:absolute;top:1200px;left:60px;width:418px;}

/*服装展示*/
.fzzs-title{background:#8f7d84; height:72px; text-align:center;}
.fzzs-title img{margin:7px 0 0 0;}
.fzzslist{width:1000px; margin:0 auto; background:#2e1f24; overflow:hidden;}
.fzzslist ul{width:210%;}
.fzzslist li { float:left;width:250px; margin: 0 1px 1px 0; height:353px;}

#ffzs-wrap1,#ffzs-wrap2{overflow:hidden;width: 1000px;margin:0 auto;  background:#2e1f24;}
#indemo,#indemo1 {float: left;width: 800%;}
#ffzs1,#ffzs3 {float: left;}
#ffzs2,#ffzs4 {float: left; margin-left:1px;}


/*店铺展示*/
.dpzs-show{font:bold 20px 微软雅黑; color:#1f1817;}
.dpzs-show span{ color:#d10401;}
.dpzs-title{text-align:center;}
.align{ display:block; margin:0 auto;}
.dpzs-show{margin:10px 0 0 0;}
.dpzs-show a{ display:inline-block; border:1px solid #705f5b; height:25px;width:76px; font:normal 14px/25px Arial; color:#705f5b; text-align:center; margin:-5px 0 0 5px;}

.slide-box { position:relative;width:1000px; height:300px; margin:20px 0 0 0; }
#slide-list{ width:890px;height:300px;position:relative;overflow:hidden;margin:0 auto; }
.slide-item { float:left;  height:300px;}
.slide-item a{ display:block; float:left;margin-right:10px; width:213px; height:300px;}
.slide-item a p{ text-align:center; font:normal 12px 微软雅黑; color:#4c3d3d;margin:7px 0 0 0;}
#slide-prev,#slide-next{display:block;width:38px;height:38px;background:red;position:absolute;top:40%;z-index:3; background:url(../images/anliu-1_02.png) no-repeat;}
#slide-prev{left:0px;}
#slide-next{right:0px; background:url(../images/anliu-1_02.png) no-repeat -43px 0;}
.tyxx{margin:20px 0 0 0;}

/*营销中心*/
.yxzx-title{ margin:0 auto; width:982px;}

.slide-box1 { position:relative;width:1000px; height:300px; margin:20px 0 0 0; }
#slide-list1{ width:890px;height:300px;position:relative;overflow:hidden;margin:0 auto; }
.slide-item1 { float:left;  height:300px;}
.slide-item1 a{ display:block; float:left;margin-right:10px; width:213px; height:300px;}
.slide-item1 a p{ text-align:center; font:normal 12px 微软雅黑; color:#4c3d3d;margin:7px 0 0 0;}
#slide-prev1,#slide-next1{display:block;width:38px;height:38px;background:red;position:absolute;top:40%;z-index:3; background:url(../images/anliu-1_02.png) no-repeat;}
#slide-prev1{left:0px;}
#slide-next1{right:0px; background:url(../images/anliu-1_02.png) no-repeat -43px 0;}

/*.logisticsBox{width:100%;background:#2e1f24;}*/
.logisticsBox{width:100%;}
.logistics{width:1004px;margin:0 auto;padding-bottom:25px;padding-top:44px;background:#2e1f24;}
.logistics .img1{background:url(../images/jamen_07.jpg) no-repeat;height:53px;width:1002px;}
.logistics .img1 h3{width:1002px;}
.logistics .img1 h3 p{width:133px;float:left;color:#efee9a;font:bold 20px/53px 微软雅黑;margin-left:220px;}
.logistics .img1 h3 a{display:block;width:54px;float:right;color:#edecec;font:14px/53px Arial;}
.zsBox{width:1000px;margin:18px 0 0 0; overflow:hidden;}
.zsBox .zsright-list{float:left;width:324px;}
.zsBox .zsright-list1{float:right;width:170px;}
.zsBox .zsright-list2{width:500px;float:right;}
.zsright-list2 li{float:left;}
.zsright-list2 li img{display:block;}
.warp2{ width:244px; height:140px;margin-left:3px;margin-bottom:3px;}
.warp1:hover{background:url(../images/bjjg-3_06.png) no-repeat center center;width:168px;height:137px;}
.warp:hover{background:url(../images/bjjg-3_06.png) no-repeat center center;width:324px;height:280px;}
.warp2:hover{ background:url(../images/fd-3_03.png) no-repeat;width:244px;height:140px;}
.warp-pic a{filter: alpha(opacity=100);}
.warp-pic a:hover{filter: alpha(opacity=50);-moz-opacity:0.5; opacity:0.5; }

.fxlist{width:1001px;margin:0 auto;background: url(../images/list_03.jpg) no-repeat;margin-top:20px;text-align:center;height:562px;}
.fxlist h3 a{color:#fff;font:bold 27px 微软雅黑;}

.CompanyBox{width:100%;background:#f4f4f4;margin-top:20px;}
.Company{width:1000px;margin:0 auto;background: url(../images/dw_07.jpg) no-repeat;width:1005px;height:740px; }

.CooperationA{width:1000px;margin:50px 0 30px 0;}
.Cooperationtop{width:1000px;background: url(../images/sd_10.jpg) no-repeat;height:850px;position: relative;}
.Cooperationtop h3 {position:absolute;top:270px;right:365px;}
.Cooperationtop h3 a{color:#fff;font:bold 29px 微软雅黑;}
.Cooperationtop h3 span{color:#fffd78;}
.CooperationA .links{width:1006px;overflow: hidden;}
.CooperationA .links li{float:left;border:solid 1px #e3e3e3;margin-left:1px;}
.ContactBox{width:1000px;/*overflow:hidden;*/margin-top:30px;}
.ContactBox .ContactImg{float:left;width:377px;}
.ContactBox .Contactright{float:right;width:595px;}
/*.ContactBox .Contactright h3{color:#634444;font:26px 宋体;height:51px;margin-top:10px;border-bottom: solid 1px #c9c9c9;}*/
.ContactBox .Contactright h3{color:#3f3f3f;font: bold 22px 微软雅黑;height:51px;margin-top:10px;}
.ContactBox .Contactright h3 span{ color:#e40012;}
.lyBox{width:595px;}
.lyBox h2{color:#3f3f3f;font:normal 14px/24px 微软雅黑;margin-top:10px;}
.lyBox .ly{width:595px; overflow:hidden;}
.lyBox .ly textarea{width:308px;height:210px;resize:none;border:solid 1px #b7b7b7;float:left;}
.lyBox .ly .lyright{width:270px;float:right;}
.lyBox .ly .lyright h4{color:#535353;font:14px 微软雅黑;margin-bottom:5px;}
.lyBox .ly .lyright p{height:27px;border-bottom: dashed 1px #e5e5e5;}
.lyBox .ly .lyright p a{color:#878787;font:12px/27px 宋体;}
.lyBox .ly .lyright p a:hover{color:#cb6767;}
.ContactBox{margin-bottom:0px;}
.ContactBox .Contactright table{width:590px;margin-top:10px;}
.ContactBox .Contactright table td{margin-top:20px;height:50px;color:#3f3f3f;font:14px 微软雅黑;}
.ContactBox .Contactright table .text{width:213px;height:30px;border:solid 1px #b7b7b7;margin-left:10px;color:#696969;font:12px/30px 宋体;padding-left:10px;}
.ContactBox .Contactright table td select{width:169px;height:30px;border: solid 1px #b7b7b7;}
.Contactright .yzmBox{width:595px;overflow:hidden;margin-top:10px;}
.Contactright .yzmBox .yzmleft{float:left;margin-top:10px;color:#696969;font:12px/20px 宋体;height:20px;}
.Contactright .yzmBox .yzmleft span{color:#696969;font:14px 微软雅黑;}
.Contactright .yzmBox .yzmleft p{float:left;}
.Contactright .yzmBox .yzmleft p a{float:left;color:#3f3f3f;font:14px/30px 微软雅黑;}
.Contactright .yzmBox .yzmleft p input{float:left;width:87px;height:30px;border:solid 1px #b7b7b7;margin-left:20px;color:#999;font:12px/30px 宋体;padding-left:10px;}
.Contactright .yzmBox .yzmleft p img{display:block;float:left;margin-left:10px;}
.Contactright .yzmBox .yzmright{float:right;}
.Contactright .yzmBox .yzmright .btn1{width:83px;height:32px;background:#383537;border:0;color:#fff; cursor:pointer;}
.Contactright .yzmBox .yzmright .btn2{width:83px;height:32px;background:#929292;border:0;color:#fff;cursor:pointer;}


.footer{ background:#2e2626; padding:20px 0;margin-top:20px;}
.foot{width:1000px; margin:0 auto;}
.foot-t{ overflow:hidden;}
.f31{ font:bold 31px 微软雅黑;color:#fff;width:135px;}
.foot-lb{width:865px; float:right;}
.foot-list{float:left; width:123px; text-align:center;}
.foot-list h3{border-right:1px solid #b6b6b6; font:bold 13px 宋体; color:#b6b6b6;}
.foot-list h3 a{ color:#b6b6b6;}
.foot-list ul{margin:10px 0 0 0;}
.foot-list li{ font:normal 12px/24px 宋体;}
.foot-list li a{ color:#b6b6b6; }
.foot-list li a:hover,.foot-list h3 a:hover{ color:#fff;}
.none h3{border-right:none;}
.foot-b{ overflow:hidden;}
.wx-tp{width:130px;}
.wx-tp img{ float:left;}
.wx-tp p{ float:left;width:12px; font-size:12px; margin:25px 0 0 10px; color:#acaaaa;}
.zbdz{ width:830px; color:#b6b6b6; font: normal 12px 宋体; margin:50px 0 0 40px;padding-bottom:10px;}
.zbdz span{ display:block; padding-bottom:10px; border-bottom:1px dashed #b6b6b6;}
.zbdz p{margin:7px 0 0 0;}

.scriptDiv {text-align:center;}
.scriptDiv a {color:#fff; text-decoration:none;}
.scriptDiv #cnzz_stat_icon_1253246273 a {color:#2e2626;}