@charset "utf-8";
/*CSS*/
html, body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td, blockquote { margin: 0; padding: 0; font-size: 12px; }
html, body { width: 100%; height: 100%;}
body { zoom: 1; background: #ffffff; font-family: Arial, "微软雅黑", "Microsoft YaHei"; overflow-x:hidden; }
body { *font-family:"微软雅黑", "Microsoft YaHei";
}
img { border: 0 none; vertical-align: middle; }
ul, ol, li { list-style: none; }
h1, h2, h3, h4, h5, h6 { }
body, input, select, button, textarea { font-size: 12px; font-family: Arial, "微软雅黑"; }
body, input, select, button, textarea { *font-family:"微软雅黑", "Microsoft YaHei";
}
table, tr, th, td { border: 0 none; vertical-align: middle; border-collapse: collapse; }
button { cursor: pointer; }
i, em, cite, address { font-style: normal; }
a { text-decoration: none; outline: none; blr:expression(this.onFocus=this.blur());
}
a:link { text-decoration: none; cursor: pointer; }
a:hover, a:active { text-decoration: none; -moz-background-clip: 222; }
a:focus { outline: none; }
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"]>input[type="button"]::-moz-focus-inner {
border:none;
padding:0;
}

.exclContent li span img,
.exclContent li em,
.clubTitleMain li,
.groupContent .groupImg img,
.groupContent li,
.groupContent .grupSS,
.histTitle .btnA img,
.histBRTitle td,
.histBRContent tr,
.photoMax li:hover .photoImmg::after,
.photoImmg img,
#close
{ transition: all 0.2s cubic-bezier(0.35, 0.45, 0.55, 1) 0s; -webkit-transition: all 0.2s cubic-bezier(0.35, 0.45, 0.55, 1) 0s; -ms-transition: all 0.2s cubic-bezier(0.35, 0.45, 0.55, 1) 0s; -moz-transition: all 0.2s cubic-bezier(0.35, 0.45, 0.55, 1) 0s;}
{ transition: all 0.3s cubic-bezier(0.35, 0.45, 0.55, 1) 0s; -webkit-transition: all 0.3s cubic-bezier(0.35, 0.45, 0.55, 1) 0s; -ms-transition: all 0.3s cubic-bezier(0.35, 0.45, 0.55, 1) 0s; -moz-transition: all 0.3s cubic-bezier(0.35, 0.45, 0.55, 1) 0s;}


.groupContent .groupSearch,
.groupContent .groupSearch:after,
.groupContent .groupSearch:before,
.groupContent li:hover .groupSearch img,
.historyBottom
{ transition: all 0.5s cubic-bezier(0.35, 0.45, 0.55, 1) 0s; -webkit-transition: all 0.5s cubic-bezier(0.35, 0.45, 0.55, 1) 0s; -ms-transition: all 0.5s cubic-bezier(0.35, 0.45, 0.55, 1) 0s; -moz-transition: all 0.5s cubic-bezier(0.35, 0.45, 0.55, 1) 0s;}

.exclContent li span img,
.histTitle .btnA img,
#close
{transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg);}


.groupContent .groupImg img,
.exclContent li span img,
.photoImmg img
{transform: scale(1, 1); -webkit-transform: scale(1, 1); -moz-transform: scale(1, 1); -ms-transform: scale(1, 1); }