@charset "utf-8";
/* CSS Document */
header{ width:100%;  background-color:rgba(0,0,0,0.6); position:absolute;; top:0; z-index:9; display:block; z-index:999;}
.logo{ position:absolute; left:0; margin-top:7px; margin-left:45px;}
.nav{  display:table; margin:0 auto; text-align:center;}
.nav li{ display:inline-block; position:relative;}
.nav li a{ display:block; width:85px; text-align:center; font-size:15px; color:#E5E5E5; font-weight: normal; text-shadow:0 0 1px #E5E5E5; line-height:54px;}
.nav li a:hover{ background-color:#D51413; color:#fff;}
.nav li a.on{ background-color:#D51413; color:#fff;}
.nav li dl{ width:100%; position:absolute; background-color:rgba(0,0,0,0.6); display:none;}


.mob-nav{ width:30px; height:22px; line-height:15x; position:absolute; top:16px; right:2em;cursor:pointer; display:none; 
 transition: all .4s cubic-bezier(0.45,0.55,0.55,0.45) 0s;
 -webkit-transition: all .4s cubic-bezier(0.45,0.55,0.55,0.45) 0s;
 -moz-transition: all .4s cubic-bezier(0.45,0.55,0.55,0.45) 0s;
 -ms-transition: all .4s cubic-bezier(0.45,0.55,0.55,0.45) 0s;
}
.mob-nav a{ display:inline-block; width:100%; height:2px; background-color:#fff; position:relative;
	transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
	-webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
	-ms-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
}
.mob-nav a:before{
	position:absolute;
	content:' ';
	left:0;
	top:-6px;
	width:100%;
	height:2px;
	background-color:#fff;
	transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
	-webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
	-ms-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
}
.mob-nav a:after{
	position:absolute;
	content:' ';
	left:0;
	bottom:-6px;
	width:100%;
	height:2px;
	background-color:#fff;
	transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
	-webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
	-ms-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
}
.mob-nav:hover a:before{ 
     transform:translateY(-2px) rotate(0deg);
	-webkit-transform:translateY(-2px) rotate(0deg);
	-ms-transform:translateY(-2px) rotate(0deg);
}
.mob-nav:hover a:after{ 
	transform:translateY(2px) rotate(0deg);
	-webkit-transform:translateY(2px) rotate(0deg);
	-ms-transform:translateY(2px) rotate(0deg);
}
.mob-nav.selected{
	transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
}
.mob-nav.selected a {background-color: transparent;}
.mob-nav.selected a:after, 
.mob-nav.selected a:before { top: 0;}
.mob-nav.selected a:before {
	background-color: #fff;
	transform: translateY(0px) rotate(-45deg);
	-webkit-transform: translateY(0px) rotate(-45deg);
	-ms-transform: translateY(0px) rotate(-45deg);
}
.mob-nav.selected a:after {
	background-color: #fff;
	transform: translateY(0px) rotate(45deg);
	-webkit-transform: translateY(0px) rotate(45deg);
	-ms-transform: translateY(0px) rotate(45deg);
}
.mob-nav.selected:hover a:before {
	transform: translateY(0px) rotate(-55deg);
	-webkit-transform: translateY(0px) rotate(-55deg);
	-ms-transform: translateY(0px) rotate(-55deg);
}
.mob-nav.selected:hover a:after {
	transform: translateY(0px) rotate(55deg);
	-webkit-transform: translateY(0px) rotate(55deg);
	-ms-transform: translateY(0px) rotate(55deg);
}

.mob-down{ position:fixed; left:0; top:0; width:100%; height:100%; background-color:rgba(0,0,0,0.6); display:none; z-index:99;}
.mob-down ul{ width:200px; position:absolute; left:50%; top:15%; margin-left:-100px;}
.mob-down li{ width:100%; text-align:center; margin-top:18px;} 
.mob-down li a{ font-size:30px; color:#fff; text-align:center;}
/*分页*/
.exclPage {  padding:70px 0; display:block; text-align:center; line-height:40px; height:40px;}
.exclPage a { display:inline-block; width:40px; height:40px; color:#9f9494; font-size:14px;  }
.exclPage .previous{ background:url("../images/icon/pageLeft.png"/*tpa=http://www.bjjfr.com/templets/jfr/images/icon/pageLeft.png*/) no-repeat center center; background-color:#cf2020; border-radius:50%;}
.exclPage .next{background:url("../images/icon/pageRight.png"/*tpa=http://www.bjjfr.com/templets/jfr/images/icon/pageRight.png*/) no-repeat center center; background-color:#cf2020; border-radius:50%;}
.exclPage .invalid{background-color:#c6c6c6; }
.exclPage .current{ color:#cf2020;}
.exclPage a:hover{ color:#cf2020;}


/*底部*/
.exclReturn{ width:100%; max-width: 1200px; margin: 0 auto; height:54px; border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; cursor:pointer;}
.exclReturn span{ display:block; width:100%; height:22px; background:url("../images/icon/fhdb.png"/*tpa=http://www.bjjfr.com/templets/jfr/images/icon/fhdb.png*/) no-repeat center bottom; }
.exclReturn i{font-style: normal; display:block; width:100%; text-align:center; color:#b7b7b7;   padding-top:7px; }
footer{ display:none; width:100%; background:#252525;}
.footerMax{ width:1100px;  margin:0 auto; padding:65px 0;}
.footerMax:after{ content:""; display:block; clear:both;}
.footerLogo{ width:240px; float:left; padding:15px 0;}
.footerLogo img{ display:block;}
.footerContent{ width:440px; float:left; padding:15px 0; position:relative;}
.footerContent span{ width:75px; height:24px; font-size:14px; background:#711514; color:#d3d3d3; line-height:24px; text-align: center; margin-bottom:10px; display:block;}
.footerContent p{ line-height:30px; font-size:14px; color:#868686; word-break: break-word; }
.footerContent p big{ font:Arial; font-size:27px; color:#D62011;}
.footerContent p em{ padding-right:20px; font-style:normal;}
.footerContent p i{ color:#b8b8b8; font-style:normal;}
.footerContent p a{ display:inline-block; color:#B8B8B8; margin-right:15px;}
.footerContent p a:hover{ color:#fff;}
.footerCode { float:right; width:200px; padding:15px 0;}
.footerCode span{ display:block; float:right; height:108px; margin-left:12px; background:#e7e7e7;}
.footerCode span img{ display:block; margin:0 auto; padding:4px; border-bottom:1px solid #cbcbcb;}
.footerCode span em{ font-style:normal; display:block; color:#585858; text-align: center; line-height:20px; }
footer .copyright{ width:100%; margin:0; line-height:45px; background:#1e1e1e; color:#979797; font-size:1em; text-align: center;}

@media screen and ( max-width:1200px ){
	.footerMax{ width:90%; margin:0 5%;}
	
	}
@media screen and ( max-width:992px ){	
	.footerLogo{ display:none;}
	.footerLogo img{ width:80%;}
	
	}

@media screen and ( max-width:768px ){
	.footerContent{ width:100%;}
	.footerCode{ width:100%; float:left; text-align:center; }
	.footerCode span{  float:none; display:inline-block; }
	
	}



@media screen and ( max-width:1280px ){
    .nav{ display:none;}
	.mob-nav{ display:block;}
	.logo{ position:relative; margin-left:15px;}
}
@media screen and ( min-width:640px ) and ( max-width:768px ){
	.mob-down li a{ font-size:23px;}
}

@media screen and ( max-width:639px ){
	.mob-nav{ top:10px;}
    .mob-down li a{  font-size:16px;}
	.logo img{ width:50%;}
}

@media screen and ( max-width:374px ){
	.mob-nav{ top:6px;}
}  
