*{
	margin:0;
	padding:0;
	list-style-type:none;
}

.bod_top{
	width: 100%;
	height: 70px;
	background: #ededed;
}
.bod_top .yunditui{
	float: left !important;
    width: 153px;
    height: 46px;
    margin-top: 12px;
}
.yunditui img{
	float: left;
}
.yunditui .no1Logos{
	position: relative;
	left: -310px;
	width: 45px;
	margin-right: 8px;
	-webkit-transition: -webkit-transform 1s ease-out;
    -moz-transition: -moz-transform 1s ease-out;
    -o-transition: -o-transform 1s ease-out;
    -ms-transition: -ms-transform 1s ease-out;
}
.yunditui .no2Logos{
	position: relative;
	left: -310px;
	width:100px;
	margin-top: 8px;
	
}
.bod_top .intro{
	float: right !important;
    font-size: 20px;
    line-height: 70px;
    font-family: "微软雅黑";
}
.bod_top .intro span{
	padding-right: 20px;
	color: rgb(128,125,125);
}
.bod_top .intro .four{
	color: rgb(18,197,250);
}
a:hover{
	text-decoration: none;
}

.pic{
	width: 100%;
}

.conts{
	width: 100%;
	/*height: 600px;*/
	background: #F8F8F8;
	text-align: center;
	padding: 20px 0 20px 0;
}
.conts .conts_pic{
	width: 230px;
	height: 360px;
	padding: 10px 0 73px 0;
	background: #EDEDED;
	font-family: "微软雅黑";
	font-size: 18px;
}
.conts .conts_pic ul li{
	padding: 3px 0 3px 0;
    margin: 9px 0 10px 0;
    color: #333;
}
.conts .conts_pic .zhaopin{
	background: #12c5fa;
	color: #FFFFFF;
}
.conts .conts_texts{
	width: 960px;
	text-align: left;
	padding-left: 10px;
}
.conts .conts_texts .top_one{
	width: 100%;
	height: 130px;
	border: 1px solid #c2c2c2;
	background: #FFFFFF;
	margin-bottom: 20px;
}
.conts .conts_texts .top_one ul{
	width: 100%;
	height: 36px;
}
.conts .conts_texts .top_one ul li{
	width: 25%;
	height: 36px;
	float: left;
	text-align: center;
	line-height: 36px;
	font-family: "微软雅黑";
	font-size: 20px;
	color: rgb(51,51,51);
	border-right: 1px solid #c2c2c2;
	border-bottom: 1px solid #c2c2c2;
	background: #EDEDED;
	cursor:pointer;
}
.conts .conts_texts .top_one .last_four{
	border-right: none;
}
.conts .conts_texts .top_one .active{
	color: rgb(18,197,250);
	border-bottom: none;
	background: none;
}
.conts .conts_texts .top_one .whole{
	/*width: 85%;*/
	text-align: center;
    margin-top: 4%;
}
.activey{
	width: 47px;
	height: 22px;
	background: #12c5fa;
	font-family: "微软雅黑";
	font-size: 15px;
	color: #FFFFFF !important;
	text-align: center;
	line-height: 22px;
}
.conts .conts_texts .top_one .whole span{
	/*position: absolute;*/
    font-family: "微软雅黑";
	font-size: 14px;
	color: rgb(102,102,102);
	margin-left: 25px;
}
.conts .conts_texts .bottom_two{
	width: 100%;
	/*height: 560px;*/
	border: 1px solid #c2c2c2;
	background: #FFFFFF;
	margin-bottom: 121px;
	padding: 5px 0 16px 40px;
}
.conts .conts_texts .bottom_two .shenqing{
	width: 119px;
	height: 39px;
	float: right;
	margin: -35px 48px 0 0;
	/*border: 1px solid #12C5FA;
	text-align: center;
	line-height: 39px;
	font-family: "微软雅黑";
	font-size: 20px;
	color: #12C5FA;
	border-radius: 50px;*/
}
.conts .conts_texts .bottom_two .text_title{
	font-family: "微软雅黑";
	font-size: 20px;
	color: rgb(51,51,51);
	padding: 15px 0 3px 0;
}
.conts .conts_texts .bottom_two p{
	font-family: "微软雅黑";
	font-size: 14px;
	color: rgb(102,102,102);
	margin: 0 0 5px 0;
}
#huixuan{
	 -webkit-transition: -webkit-transform 1s ease-out;
    -moz-transition: -moz-transform 1s ease-out;
    -o-transition: -o-transform 1s ease-out;
    -ms-transition: -ms-transform 1s ease-out;
}
