.bod_top{
	width: 100%;
	height: 70px;
	background: #ededed;
}
.bod_top .yunditui{
	float: left !important;
    width: 153px;
    height: 46px;
    margin-top: 12px;
}
.yunditui img{
	float: left;
}
.yunditui .no1Logos{
	position: relative;
	left: -310px;
	width: 45px;
	margin-right: 8px;
	-webkit-transition: -webkit-transform 1s ease-out;
    -moz-transition: -moz-transform 1s ease-out;
    -o-transition: -o-transform 1s ease-out;
    -ms-transition: -ms-transform 1s ease-out;
}
.yunditui .no2Logos{
	position: relative;
	left: -310px;
	width:100px;
	margin-top: 8px;
	
}
.bod_top .intro{
	float: right !important;
    font-size: 20px;
    line-height: 70px;
    font-family: "微软雅黑";
}
.bod_top .intro span{
	padding-right: 20px;
	color: rgb(128,125,125);
}
.bod_top .intro .last{
	color: rgb(18,197,250);
}
a:hover{
	text-decoration: none;
}

.texts{
	font-family: "微软雅黑";
	color: rgb(255,255,255);
	text-align: center;
}
.texts .pic{
	width: 100%;
	min-width: 1200px;
	margin: 0px;
	padding:0px;
}
.texts .first_row{
	position: absolute;
	font-size: 41px;
	z-index: 1;
	margin-top: -316px;
}
.texts .second_row{
	position: absolute;
	font-size: 24px;
	z-index: 1;
	margin-top: -238px;
}

.bod_bottom{
	width: 100%;
	background: #ededed;
	padding: 80px 0 73px 0;
}
.bod_bottom .lianxiwomen .lianxiwomen_title{
	font-family: "微软雅黑";
	font-size: 26px;
	color: rgb(51,51,51);
	margin-bottom: 20px;
}
.bod_bottom .lianxiwomen .lianxiwomen_title span{
	font-family: "微软雅黑";
	font-weight: lighter;
	font-size: 24px;
	color: rgb(102,102,102);
}
.bod_bottom .map_addr{
	width: 100%;
	height: 525px;
	text-align: center;
}
.bod_bottom .map_addr .map_addr_map{
	width: 863px;
}
.bod_bottom .map_addr .map_addr_dizhi{
	width: 327px;
	height: 525px;
	background: #FFFFFF;
    float: right;
    margin-top: -525px;
    overflow-x: hidden;
    border: 1px solid #EDEDED;
}
.bod_bottom .map_addr .map_addr_dizhi ul{
	width: 325px;
}
.bod_bottom .map_addr .map_addr_dizhi ul li{
	width: 317px;
	height: 120px;
	padding: 10px 0 0 10px;
}
.bod_bottom .map_addr .map_addr_dizhi img{
	width: 75px;
	float: left;
	padding: 8px 0px 0px 10px;
}
.bod_bottom .map_addr .map_addr_dizhi .dizhi{
	width: 210px;
	float: right;
	text-align: left;
	padding: 5px 10px 5px 10px;
	margin-right: 15px;
}
.bod_bottom .map_addr .map_addr_dizhi .dizhi p{
	margin-bottom: 0px;
}
.active{
	background: #f4f4f4;
}
