@charset "utf-8";
*{
	margin:0;
	padding:0;
	list-style-type:none;
}
a,img{
	border:0;
}

/*课程介绍 轮播*/
.friend{
	height:220px;
	margin:0 auto;
	overflow:hidden;
	width:1280px;
}
.mr_frbox{
	height:220px;
	padding:24px 0px 0px;
}
.mr_frBtnL{
	cursor:pointer;
	display:inline;
	float:left;
	height:52px;
	margin:52px 10px 0 0;
	width:26px;
}
.mr_frUl{
	float:left;
	height:152px;
	width:1047px;
	margin-left:10px;
}
.mr_frBtnR{
	float:right;	
	margin-top:52px;
	cursor:pointer;
	width:26px;
	height:52px;
}
.mr_frUl ul li{
	display:inline;
	float:left;
	width:239px;
	height:152px;
	overflow:hidden;
	position:relative;
}
.mr_frUl ul li a img{
	width:98%;
	height:150px;
	/*border: 1px solid #CECECE;*/
}
