*{
	margin:0;
	padding:0;
	list-style-type:none;
}

.bod_top{
	width: 100%;
	height: 70px;
	background: #ededed;
}
.bod_top .yunditui{
	float: left !important;
    width: 153px;
    height: 46px;
    margin-top: 12px;
}
.yunditui img{
	float: left;
}
.yunditui .no1Logos{
	position: relative;
	left: -310px;
	width: 45px;
	margin-right: 8px;
	-webkit-transition: -webkit-transform 1s ease-out;
    -moz-transition: -moz-transform 1s ease-out;
    -o-transition: -o-transform 1s ease-out;
    -ms-transition: -ms-transform 1s ease-out;
}
.yunditui .no2Logos{
	position: relative;
	left: -310px;
	width:100px;
	margin-top: 8px;
	
}
.bod_top .intro{
	float: right !important;
    font-size: 20px;
    line-height: 70px;
    font-family: "微软雅黑";
}
.bod_top .intro span{
	padding-right: 20px;
	color: rgb(128,125,125);
}
.bod_top .intro .four{
	color: rgb(18,197,250);
}
a:hover{
	text-decoration: none;
}

.pic{
	width: 100%;
}

.conts{
	width: 100%;
	height: 600px;
	background: #F8F8F8;
	text-align: center;
	padding: 20px 0 20px 0;
}
.conts .conts_pic{
	width: 230px;
	height: 360px;
	padding: 10px 0 73px 0;
	background: #EDEDED;
	font-family: "微软雅黑";
	font-size: 18px;
}
.conts .conts_pic ul li{
	padding: 3px 0 3px 0;
    margin: 9px 0 10px 0;
    color: #333;
}
.conts .conts_pic .xinchou{
	background: #12c5fa;
	color: #FFFFFF;
}
.conts .conts_texts{
	width: 955px;
	text-align: left;
	padding-left: 15px;
}
.conts .conts_texts .fuli{
	font-family: "微软雅黑";
	font-size: 18px;
	color: rgb(102,102,102);
	padding-left: 5px;
}
.conts .conts_texts .salary{
	font-family: "微软雅黑";
	font-size: 14px;
	color: rgb(102,102,102);
}
.conts .conts_texts .xian{
	width: 100%;
	border-bottom: 1px solid #d4d4d4;
	margin: 3px 0 10px 0;
}
.conts .conts_texts p{
	font-family: "微软雅黑";
	font-size: 14px;
	color: rgb(102,102,102);
	line-height: 24px;
}
#huixuan2{
	 -webkit-transition: -webkit-transform 1s ease-out;
    -moz-transition: -moz-transform 1s ease-out;
    -o-transition: -o-transform 1s ease-out;
    -ms-transition: -ms-transform 1s ease-out;
}