body{text-align:center;	font-family:"Microsoft Yahei";text-align:center;	font-size:12px;color:#4F4F4F;}
/*头部*/
.top_bg{ width:100%; height:26px; background:url(../images/bg_c.jpg) repeat; min-width:1000px;}
.top{ width:1000px; height:26px; line-height:26px; text-align:right; margin:0px auto;}
.top a{ display:inline-block; *display:inline; zoom:1; height:13px; line-height:13px; vertical-align:top; margin-top:7px; margin-left:10px; color:#FFF;}
.top a img{ width:21px; height:13px; vertical-align:top;}
.top a em{ font-style:normal;}
.head{ width:1000px; height:75px; margin:0px auto;}
.head .logo{ width:160px; height:57px; float:left; margin-top:8px;}
.head .logo img{ width:160px; height:57px; vertical-align:top;}
.head .nav{ width:700px; float:right; text-align:right; height:45px; margin-top:12px; line-height:30px;}
.head .nav li{ display:inline-block; *display:inline; zoom:1; margin-left:55px;}
.head .nav li a{ font-size:14px; color:#000;}
.head .nav li a:hover{ color:#990000;}
.head .nav li p{ height:15px; line-height:15px;}
.banner{ width:100%; min-width:1000px; overflow:hidden; height:auto; margin:0px auto;}
.bg_a{ width:100%; background:url(../images/bg_a.jpg) no-repeat left center; background-size:100% 100%;}
.i_head{ width:100%; height:78px; min-width:1000px; margin:0px auto; text-align:center; position:relative; border-bottom:2px solid #ddd;}
.i_head a{ display:block; height:50px; line-height:50px; padding-top:20px; font-size:24px; color:#000;}
.i_head em{ display:block; width:72px; height:2px; background:#990000; margin:0px auto; position:relative; z-index:99; bottom:-8px;}
.slidegrid {float: left;position: relative;overflow: hidden;}
.slideitems {width: 2000000em;position: absolute;}
.slideitems li {float: left;}
.i_ma{ width:1060px; margin:0px auto;}
.mainPhoto {width:1000px;height:290px;margin: 0 auto;padding-top: 30px;position: relative; padding-bottom:50px;}
.mainPhoto span.goleft, .mainPhoto span.goright {display: block;width:18px;height:24px;position: absolute;top:125px;}
.mainPhoto span.goleft {left:-30px;}
.mainPhoto span.goright {right:-30px;}
.mainPhoto .go {width:1000px;height:275px;position: relative;left:0px;overflow: hidden}
.mainPhoto .go li {width:186px;height:275px;margin-right:17px;overflow: hidden}
.mainPhoto .go li .tu{ width:185px; height:185px; margin:0px auto; border-radius:200px; -moz-border-radius:200px; -webkit-border-radius:200px; overflow:hidden;}
.mainPhoto .go li .tu img{ width:185px; height:185px; vertical-align:top;}
.mainPhoto .go li a{ font-size:12px; color:#000000;}
.mainPhoto .go li a:hover{ color:#990000;}
.mainPhoto .go li .title{ width:100%; height:35px; line-height:35px; margin-top:15px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:16px; font-weight:bold;}
.mainPhoto .go li .des{ width:100%; height:40px; line-height:175%; overflow:hidden;}
.bg_b{ width:100%; background:url(../images/bg_b.jpg) no-repeat left center; background-size:100% 100%; min-width:1000px; padding-bottom:30px;}
.i_mb{ width:1000px; height:360px; margin:0px auto; margin-top:20px; background:url(../images/bg_d.png) no-repeat 20px top;}
.bg_b .i_head a{ color:#FFF;}
.bg_b .i_head{ border-bottom:2px solid #3D3E41;}
.i_mb dt{ width:395px; height:320px; float:left; margin-left:40px; margin-top:20px;}
.i_mb dt img{ width:395px; height:320px; vertical-align:top;}
.i_mb dd{ width:525px; float:right; margin-right:20px; background:url(../images/bg_e.png) no-repeat right center; height:360px;}
.i_mb dd p{ width:490px; height:135px; text-align:left; font-size:14px; color:#FFF; margin-top:100px; line-height:215%; margin-left:10px;}
.f_bg{ width:100%; height:65px; background:#000; min-width:1000px;}
.f_bg .foot{ width:1000px; margin:0px auto; height:65px; line-height:65px; text-align:right; position:relative; color:#FFF; font-size:12px;}
.f_bg .foot .f_nav{ width:50%; height:65px; line-height:65px; text-align:left; position:absolute; left:0px; top:0px;}
.f_nav a{ font-size:12px; color:#FFF;}
.f_nav a:hover{ color:#666;}
.banner_s{ width:100%; height:auto; min-width:1000px;}
.banner_s img{ width:100%; height:auto; vertical-align:top;}
.scd_bg{ width:100%; min-width:1000px; background-image:url(../images/bg_f.jpg); background-repeat:no-repeat; background-size:100% auto; background-color:#eee;}
.scd{ width:1000px; margin:0px auto; padding:20px 0 70px;}
.pst{ width:985px; height:30px; line-height:30px; padding-left:15px; background:url(../images/icon3.png) no-repeat left center; font-size:12px; color:#333; text-align:left;}
.pst a{ font-size:12px; color:#333; margin:0 5px;}
.s_name{ width:100%; height:70px; text-align:center; margin-bottom:30px;}
.s_name a{ display:inline-block; *display:inline; zoom:1; width:120px; height:42px; text-align:center; line-height:42px; background:#000; color:#FFF; font-size:18px; vertical-align:top; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.p_name a{ background:#715555; margin:0 10px;}
.p_name a:hover,.p_name a.on{ background:#000;}
.about{ width:1000px; margin:0px auto;}
.about dl{ width:620px; height:410px; border:5px solid #A6A6A6; margin:0px auto; position:relative;}
.about dl dt{ width:395px; height:320px; float:left; margin-left:-190px; position:relative; z-index:9; margin-top:45px;}
.about dl dt img{ width:395px; height:320px; vertical-align:top;}
.about dl dd{ width:560px; float:right; margin-right:-190px; position:relative; z-index:9; background:#EFEFEE; padding:40px 0; text-align:left; line-height:215%; font-size:14px; color:#000; margin-top:90px; height:150px; overflow:hidden;}
.contact{ width:100%; text-align:left; font-size:14px; color:#000; line-height:175%;}
.contact .title{ width:100%; height:40px; line-height:40px; font-size:18px; font-weight:bold;}
.contact .des{ width:100%;}
.contact .des span{ margin-right:20px;}
.contact .map{ width:100%; height:auto; overflow:hidden; margin-top:15px;}
.pages{ width:100%; text-align:center; margin-top:30px;}
.pages a{ display:inline-block; *display:inline; zoom:1; height:28px; line-height:28px; border:1px solid #ddd; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; overflow:hidden; margin:0 3px; font-size:13px; color:#333; background:url(../images/bg_g.jpg) repeat-x; padding:0 10px;}
.pages a:hover{ color:#0C419A;}
.equipment,.equipment ul{ width:100%;}
.equipment ul li{ width:320px; height:390px; float:left; margin-right:20px; margin-bottom:20px;}
.equipment ul li a{ display:block; width:100%; height:390px; background:#FFF; color:#000;}
.equipment ul li a:hover{ color:#FFF; background:#0C419A;}
.equipment ul li a:hover .ctn{ border-color:#0C419A;}
.equipment ul li img{ width:320px; height:285px; vertical-align:top;}
.equipment ul li .ctn{ width:318px; border:1px solid #ddd; border-top:0px;}
.equipment ul li .ctn .name{ width:288px; margin-left:15px; height:40px; line-height:40px; padding-top:15px; white-space:nowrap; text-align:left; overflow:hidden; text-overflow:ellpisis; font-size:18px; font-weight:bold;}
.equipment ul li .ctn .des{ width:288px; margin-left:15px; height:40px; line-height:175%; font-size:12px; overflow:hidden; text-align:left; margin-bottom:10px;}
.pro_d{ width:100%; padding:30px 0; min-height:490px;}
.pro_d .pro_da{ width:100%;}
.pro_da .pro_dar{ width:530px; float:right;}
.pro_da .pro_dar h1{ width:100%; line-height:180%; font-size:24px; color:#000; text-align:left;}
.pro_da .pro_dar .title{ width:100%; height:40px; line-height:40px; text-align:left; font-size:18px; color:#000;}
.pro_da .pro_dar .des{ width:100%; line-height:185%; font-size:14px; color:#000; overflow:hidden;}
.pro_da .pro_dar .td{ width:100%; height:210px; font-size:12px; color:#000000; line-height:200%; overflow:hidden; margin-top:15px;}
.pro_da .pro_dal{ width:430px; float:left;}
#preview{ float:none; margin:0px auto; text-align:center; width:435px;}
.jqzoom{ width:430px; height:320px; position:relative;}

.zoomdiv{ left:859px; height:400px; width:400px;}
.list-h li{ float:left;}
#spec-n5{width:430px; height:88px; padding-top:20px; overflow:hidden; position:relative;}
#spec-left{ background:url(../images/p_prev.png) no-repeat; width:14px; height:27px; float:left; cursor:pointer; margin-top:30px;}
#spec-right{background::url(../images/p_right.png) no-repeat; width:14px; height:27px; float:left;cursor:pointer; margin-top:30px; position:absolute; right:0px;}
#spec-list{ width:430px; float:left; overflow:hidden; display:inline;}
#spec-list ul li{ float:left; display:inline; width:135px;}
#spec-list ul li img{ border:1px solid #eee; width:118px; height:86px;}

/*jqzoom*/
.jqzoom{position:relative;padding:0; border:1px solid #eee;}
.zoomdiv{z-index:100;position:absolute;top:1px;left:0px;width:400px;height:400px;border:1px solid #eee;display:none;text-align:center;overflow: hidden;}
.bigimg{width:800px;height:800px;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:118px;height:86px;border:1px solid #eee;background:#008BDA 50% top no-repeat;opacity:0.5;-moz-opacity:0.5;-khtml-opacity:0.5;filter:alpha(Opacity=50);cursor:move;}
#spec-list{ position:relative; width:405px;}
#spec-list div{ margin-top:0; *margin-left:0;}
.pro_dm{ width:100%; text-align:left; line-height:180%; margin-top:40px;}
.pro_dm .tabBox_t , .pro_dm .tabBox  {width:100%;text-align:left;}
.pro_dm .tabBox_t{ width:1000px; margin:0px auto;}
.pro_dm .tabBox .tabNav { width:100%; border:1px solid #ddd;}
.pro_dm .tabBox .tabNav li{ width:100px; text-align:center; height:35px; line-height:35px; float:left; font-size:14px; position:relative; cursor:pointer;}
.pro_dm .tabBox .tabNav li span{ display:block; font-weight:bold;}
.pro_dm .tabBox .tabNav li.now span{ width:100%; height:35px; line-height:35px;position:absolute; left:0px; top:0px; z-index:9; border-top:2px solid #008AD9;}
.pro_dm .tabBox .tabCont { width:980px; padding:20px 10px; font-size:14px; color:#000; line-height:200%; display:none;}
