@import url(public.css);
/*========== public bg ==========*/
.ico,.switch-tab a{ background:url(../images/ico-all.png) no-repeat}
.icon{ background:url(../images/icon.png) no-repeat; display:inline-block;}

/*========== top ==========*/
.top{ height:20px; line-height:20px; padding:10px 0; background:#292929; color:#FFF; font-size:12px;}
.top a,.ico{ display:inline-block;  color:#FFF; vertical-align:middle;}
.top a,.foot .ico,.top .ico{margin:0 5px;}
.top em{ display:inline-block; vertical-align:middle; margin-right:5px;}

.ico.tel{ font-size:18px; font-family:Arial, Helvetica, sans-serif; display:inline-block; margin:0 5px;}
.ico.weibo{ width:23px; height:19px; background-position:0 -3px;}
.ico.weixin{ width:19px; height:19px; background-position:-32px -3px;}
.ico.qq{ width:16px; height:18px; background-position:-65px -3px;}

/*========== head ==========*/
.head{ height:100px; background:#FFF; border-bottom:1px solid #e7e7e7; box-shadow:1px 1px 5px #ececec;}
.head .logo{ display:block; width:214px; height:70px; margin:15px 30px 0 0; background:url(../images/logo.png) no-repeat center; float:left;}
.head .adtxt{ float:left; width:245px; height:24px; background:url(../images/ad.png) no-repeat center; margin:38px 0 0;}
.nav{ float:right; width:465px; margin:38px 0 0;}
.nav li{ float:left; font-size:20px; height:24px; padding-left:46px;}
.nav a:hover,.nav li.active a{ color:#C00; text-decoration:none;}

/*========== Partner ==========*/
.Partner{ background:#FFF; height:46px; padding:12px 0;}
.Partner .hd{ width:87px; height:46px; border-right:1px dotted #b2b2b2; line-height:22px;}
.Partner .hd .en{ display:block; color:#9c6; font-size:16px; font-family:Arial, Helvetica, sans-serif;}
.Partner .bd{ width:1000px;}
#Marquee_x { overflow:hidden; width: 1000px; } 
#Marquee_x ul li ,#Marquee_x ul li .img{ float:left; height:46px; text-align:center;}
#Marquee_x ul li .img{ margin-left:10px; line-height:46px;}

.partners .item{ padding:20px 0; color:#69737b;}
.partners .item .title{ border:1px solid #f0f0f0; margin:0 auto 20px; width:370px; height:110px; text-align:center; line-height:110px; font-size:24px;}


/*========== foot ==========*/
.foot{ padding:20px 0; height:105px; background:#1f2229; color:#FFF; font-size:12px;}
.foot a{ color:#FFF; display:inline-block; margin:0 5px;}
.footsection{ width:800px;}
.footsection .img a{ display:block; width:89px; height:32px; float:left; margin:0 10px 0 0;}
.footaside{ width:290px;}
.footaside p{ margin:15px 0;}
.footaside .tel{ color:#F90; display:inline-block; margin-right:10px; font-size:30px; font-family:Arial, Helvetica, sans-serif;}
.footaside em.ico{ width:15px; height:12px; background-position:-110px -7px;}

/*========== banner ==========*/
.banner{ width:100%; height:320px}
#inner{ width:100%; height:320px;}
.hot-event{ position:relative; height:320px; z-index:1;}
.hot-event .switch-tab{ text-align:center; height:15px; position:absolute; bottom:10px; left:0; width:100%; z-index:3;}
.hot-event .switch-tab a { margin:0 3px; display:inline-block; width:15px; height:15px; background-position:0 -35px; text-indent:99px; overflow:hidden;}
.hot-event .switch-tab a.current{ background-position:-19px -35px;}
.hot-event .switch-nav{position:absolute; right:12px; top:254px; z-index:2; display:none;}
.hot-event .event-item{ height:320px; width:100%; position:absolute; z-index:2; left:0; top:0; background-position:center; background-repeat:no-repeat;}
.hot-event .event-item a{display:block; width:100%; height:100%}
.hot-event .event-item img{display:block; max-height:320px;}

.regbox{ width:280px; height:200px; padding:20px; background:url(../images/reboxbg.png) no-repeat center; position:absolute; top:50%;right:10px; margin-top:-120px; z-index:5; color:#FFF;}
.regbox h1{ display:block; height:72px; line-height:72px; margin:20px 0; font-size:72px; font-family:Arial, Helvetica, sans-serif;}
.regbox h1 span{ font-size:36px;}
.regbox h2{ font-size:24px; display:block; margin:10px 0 0;}
.regbox .btn-reg{ width:270px; height:40px; line-height:40px; background:#F60; color:#FFF; text-align:center; display:block; text-decoration:none; font-size:20px; margin:0 auto;}
.regbox .btn-login{ color:#F60;  margin-right:10px;}

/*========== Platform-data ==========*/
.Platform-data{ background:#FFF; /*height:372px;*/ border-bottom:1px solid #e7e6e6; padding-bottom:30px;}
.Platform-data .hd{ height:39px; border-bottom:1px solid #e7e6e6; line-height:40px; background:#fafafa}
.Platform-data .title{ width:92px; height:40px; position:relative; margin-bottom:-1px; background:#F60; color:#FFF;  text-align:center;}
.Platform-data .title .gt{ display:block; width:0; height:0; border-top: 6px solid transparent; border-left: 12px solid #F60; border-bottom: 6px solid transparent; position:absolute; right:-10px; top:50%; margin-top:-6px;}
.Platform-data .hd .data { width:963px; height:40px; background:url(../images/data.png) no-repeat right bottom; }
.Platform-data .item{ width:25%; float:left}
.Platform-data .hd .data .item{ width:22%;}
.Platform-data .hd .count{ font-size:21px; color:#F00; font-family:Arial, Helvetica, sans-serif; display:inline-block; margin-right:5px;}

.Platform-data .bd{ text-align:center;}
.Platform-data .ico-data{ width:165px; height:165px; margin:30px auto; display:block; background-image:url(../images/ico-data.png);}
.data1{ background-position:0 0;}
.data2{ background-position:-165px 0;}
.data3{ background-position:-330px 0;}
.data4{ background-position:-495px 0;}

.bdr{ border:1px solid #f2f2f2;}
.indexsection{ width:785px;}
.indexaside{ width:305px;}

/*========== Recommendation ==========*/
.Recommendation{ background:#FFF; position:relative;}
.Recommendation .Rec{ display:block; width:85px; height:85px; background-position:-415px 0; position:absolute; top:0; right:0;}
.Recommendation .hd{ height:51px; border-bottom:1px solid #e7e6e6; padding:0 25px; line-height:51px; color:#999; font-size:12px;}
.Recommendation .hd a.more{ color:#999; font-family:"宋体"; float:right; margin-top:3px; font-size:12px;}
.Recommendation .Net-mark{ font-size:20px; color:#333; margin-right:10px;}

.Recommendation .bd{ width:100%; height:400px; overflow:hidden;}
.Recommendation .bd .item{ width:50%; float:left; height:200px; border:1px solid #e7e6e6; border-right:0; margin:-1px 0 0 -1px; position:relative; }
.Recommendation .bd .txt{ padding:15px 18px 0 22px; width:205px;}
.Recommendation .txt h2{ font-weight:bold; font-size:16px; color:#666; margin-top:15px;}
.Recommendation .txt h5{ font-size:12px; color:#999;}
.Recommendation .txt h2 .ico{ width:16px; height:16px; margin:0 0 0 10px; background-position:-41px -34px; overflow:hidden; text-indent:99px;}
.Recommendation .title,.Recommendation .con{ padding-right:20px;}
.Recommendation .con .o{ font-size:30px; font-family:Arial, Helvetica, sans-serif;}
.Recommendation .con span{ font-size:18px;}


.ui-progressbar-mid{ display: block; width: 83px; height: 83px; line-height: 83px; font-size: 18px; text-align: center; background: url(../images/progressbar_mid.png); color:#333; font-family:Arial, Helvetica, sans-serif; margin:15px auto 0;}

.ui-progressbar-mid-0{background-position:0 0}
.ui-progressbar-mid-1{background-position:-54px 0}
.ui-progressbar-mid-2{background-position:-108px 0}
.ui-progressbar-mid-3{background-position:-162px 0}
.ui-progressbar-mid-4{background-position:-216px 0}
.ui-progressbar-mid-5{background-position:-270px 0}
.ui-progressbar-mid-6{background-position:-324px 0}
.ui-progressbar-mid-7{background-position:-378px 0}
.ui-progressbar-mid-8{background-position:-432px 0}
.ui-progressbar-mid-9{background-position:-486px 0}
.ui-progressbar-mid-10{background-position:-540px 0}
.ui-progressbar-mid-11{background-position:-594px 0}
.ui-progressbar-mid-12{background-position:-648px 0}
.ui-progressbar-mid-13{background-position:-702px 0}
.ui-progressbar-mid-14{background-position:-756px 0}
.ui-progressbar-mid-15{background-position:-810px 0}
.ui-progressbar-mid-16{background-position:-864px 0}
.ui-progressbar-mid-17{background-position:-918px 0}
.ui-progressbar-mid-18{background-position:-972px 0}
.ui-progressbar-mid-19{background-position:-1026px 0}
.ui-progressbar-mid-20{background-position:-1080px 0}
.ui-progressbar-mid-21{background-position:-1134px 0}
.ui-progressbar-mid-22{background-position:-1188px 0}
.ui-progressbar-mid-23{background-position:-1242px 0}
.ui-progressbar-mid-24{background-position:-1296px 0}
.ui-progressbar-mid-25{background-position:-1350px 0}
.ui-progressbar-mid-26{background-position:-1404px 0}
.ui-progressbar-mid-27{background-position:-1458px 0}
.ui-progressbar-mid-28{background-position:-1512px 0}
.ui-progressbar-mid-29{background-position:-1566px 0}
.ui-progressbar-mid-30{background-position:-1620px 0}
.ui-progressbar-mid-31{background-position:-1674px 0}
.ui-progressbar-mid-32{background-position:-1728px 0}
.ui-progressbar-mid-33{background-position:-1782px 0}
.ui-progressbar-mid-34{background-position:-1836px 0}
.ui-progressbar-mid-35{background-position:-1890px 0}
.ui-progressbar-mid-36{background-position:-1944px 0}
.ui-progressbar-mid-37{background-position:-1998px 0}
.ui-progressbar-mid-38{background-position:-2052px 0}
.ui-progressbar-mid-39{background-position:-2106px 0}
.ui-progressbar-mid-40{background-position:-2160px 0}
.ui-progressbar-mid-41{background-position:-2214px 0}
.ui-progressbar-mid-42{background-position:-2268px 0}
.ui-progressbar-mid-43{background-position:-2322px 0}
.ui-progressbar-mid-44{background-position:-2376px 0}
.ui-progressbar-mid-45{background-position:-2430px 0}
.ui-progressbar-mid-46{background-position:-2484px 0}
.ui-progressbar-mid-47{background-position:-2538px 0}
.ui-progressbar-mid-48{background-position:-2592px 0}
.ui-progressbar-mid-49{background-position:-2646px 0}
.ui-progressbar-mid-50{background-position:-2700px 0}
.ui-progressbar-mid-51{background-position:-2754px 0}
.ui-progressbar-mid-52{background-position:-2808px 0}
.ui-progressbar-mid-53{background-position:-2862px 0}
.ui-progressbar-mid-54{background-position:-2916px 0}
.ui-progressbar-mid-55{background-position:-2970px 0}
.ui-progressbar-mid-56{background-position:-3024px 0}
.ui-progressbar-mid-57{background-position:-3078px 0}
.ui-progressbar-mid-58{background-position:-3132px 0}
.ui-progressbar-mid-59{background-position:-3186px 0}
.ui-progressbar-mid-60{background-position:-3240px 0}
.ui-progressbar-mid-61{background-position:-3294px 0}
.ui-progressbar-mid-62{background-position:-3348px 0}
.ui-progressbar-mid-63{background-position:-3402px 0}
.ui-progressbar-mid-64{background-position:-3456px 0}
.ui-progressbar-mid-65{background-position:-3510px 0}
.ui-progressbar-mid-66{background-position:-3564px 0}
.ui-progressbar-mid-67{background-position:-3618px 0}
.ui-progressbar-mid-68{background-position:-3672px 0}
.ui-progressbar-mid-69{background-position:-3726px 0}
.ui-progressbar-mid-70{background-position:-3780px 0}
.ui-progressbar-mid-71{background-position:-3834px 0}
.ui-progressbar-mid-72{background-position:-3888px 0}
.ui-progressbar-mid-73{background-position:-3942px 0}
.ui-progressbar-mid-74{background-position:-3996px 0}
.ui-progressbar-mid-75{background-position:-4050px 0}
.ui-progressbar-mid-76{background-position:-4104px 0}
.ui-progressbar-mid-77{background-position:-4158px 0}
.ui-progressbar-mid-78{background-position:-4212px 0}
.ui-progressbar-mid-79{background-position:-4266px 0}
.ui-progressbar-mid-80{background-position:-4320px 0}
.ui-progressbar-mid-81{background-position:-4374px 0}
.ui-progressbar-mid-82{background-position:-4428px 0}
.ui-progressbar-mid-83{background-position:-4482px 0}
.ui-progressbar-mid-84{background-position:-4536px 0}
.ui-progressbar-mid-85{background-position:-4590px 0}
.ui-progressbar-mid-86{background-position:-4644px 0}
.ui-progressbar-mid-87{background-position:-4698px 0}
.ui-progressbar-mid-88{background-position:-4752px 0}
.ui-progressbar-mid-89{background-position:-4806px 0}
.ui-progressbar-mid-90{background-position:-4860px 0}
.ui-progressbar-mid-91{background-position:-4914px 0}
.ui-progressbar-mid-92{background-position:-4968px 0}
.ui-progressbar-mid-93{background-position:-5022px 0}
.ui-progressbar-mid-94{background-position:-5076px 0}
.ui-progressbar-mid-95{background-position:-5130px 0}
.ui-progressbar-mid-96{background-position:-5184px 0}
.ui-progressbar-mid-97{background-position:-5238px 0}
.ui-progressbar-mid-98{background-position:-5292px 0}
.ui-progressbar-mid-99{background-position:-5346px 0}
.ui-progressbar-mid-100{background-position:-5400px 0}

.Recommendation .btn-Tender{ display:block; margin:20px 0 10px; width:114px; height:36px; line-height:36px; text-align:center; font-size:16px; background-position:-132px -67px; text-decoration:none;}
.Recommendation dl{ padding:0 15px; border-bottom:1px solid #f1f1f1; height:115px;}
.Recommendation dl dt,.Recommendation dl dd{ height:31px; line-height:31px; padding:13px 0; }
.Recommendation dl dt{ border-bottom:1px dotted #f1f1f1;}
.Recommendation dt span,.Recommendation dd span{ display:inline-block; vertical-align:middle; font-size:12px; color:#999; margin-left:10px;}
.Recommendation dt .Guarantee{ width:16px; height:16px; background-position:-62px -34px; margin-right:5px; overflow:hidden; text-indent:99px; vertical-align:middle;}
.Recommendation dt .Repayment,.Repayment,.Recommendation dt .Bid,.Bid{ width:92px; height:29px; text-align:center; line-height:29px; color:#FFF; background-position:-132px 0; float:right; text-decoration:none;}
.Recommendation dt .Bid,.Bid{ background-position:-132px -33px; }

.Recommendation dd span{ margin:0 34px 0 0; }
.Recommendation dd .process{ margin-left:10px;}
.Recommendation dd .process,.Recommendation dd .process-bar,.process,.process-bar{ height:10px; width:190px; background:url(../images/process.jpg) repeat-x; position:relative;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.Recommendation dd .process-bar,.process-bar{background:url(../images/processbar.jpg) repeat-x; position:absolute; left:0; top:0;}

.video{ height:227px; width:100%;}

.indexaside .bd{ background:#FFF; padding:10px;}
.indexaside .hd{ height:35px; line-height:35px; font-size:16px; font-weight:bold;}
.indexaside .hd .more{ font-size:12px; font-weight:normal; font-family:"宋体"; float:right;}
.indexaside .Notice{ border-bottom:1px solid #f1f1f1}
.indexaside .Notice li{ padding:4px 0 4px 15px; background:url(../images/notice.png) no-repeat left center;}
.indexaside .Notice .time{ float:right; color:#999;}
.indexaside .reports dt{ float:left; width:95px; height:62px;}
.indexaside .reports dd{ float:right; width:180px; height:62px;}

.Billboard-tab{ width:100%;}
.Billboard-tab th{ text-align:left; color:#999;}
.Billboard-tab td,.Billboard-tab th{ line-height:30px;}
.Billboard-tab td span.behind{ display:inline-block; width:16px; height:16px; line-height:16px; text-align:center; background:#a1acb4; color:#FFF;}
.Billboard-tab td span.three{ display:inline-block; text-align:center; width:21px; line-height:20px; height:17px; background-position:-87px -33px;}

/*========== side-nav ==========*/
.side-nav{ background:#FFF; padding:1px;}
.side-nav li{ height:40px; line-height:40px; border-bottom:1px solid #f2f2f2;}
.side-nav li a{ display:block; background:url(../images/agt.png) no-repeat 193px center; padding-left:28px;}
.side-nav li a:hover{ background-color:#f7f7f7; text-decoration:none;}
.side-nav li.active{ border-bottom-color:fff;}
.side-nav li.active a{ background:url(../images/sidenav-bg.jpg) no-repeat center; color:#FFF;}
.member-aside-title{ height:40px; line-height:40px; text-align:center; color:#FFF; background:url(../images/sidenav-title.jpg) no-repeat center;  font-weight:bold; display:block;}
.member-aside-title em{ font-weight:normal; display:inline-block; margin-right:5px;}

.aside{ width:220px;}
.section{ width:870px;}
.main{ padding:30px; background:#FFF; min-height:500px;}
.crumbs{ height:10px; border-bottom:1px solid #e7ecee; position:relative; margin-bottom:40px;}
.crumbs span{ display:inline-block; height:24px; line-height:24px; font-size:18px; color:#69737b; padding:0 10px; background:#FFF; margin:0 0 -10px 20px; position:relative;}
.crumbs .Prompt{ display:block; width:111px; height:30px; background-position:-132px -273px; position:absolute; right:20px; bottom:-15px;}
.crumbs .Prompt:hover{ background-position:-132px -239px;}
.crumbs .back{ display:inline-block; float:left; width:60px; height:30px; background-position:-248px -67px; position:relative; margin-bottom:-10px; text-indent:99px; overflow:hidden;}
.crumbs .Yesterday-turnover{ position:absolute; right:131px; font-size:12px;}

.container{  line-height:30px;}
.container img{ max-width:100%}

/*========== Site Notice ==========*/
.newslist li{ padding:9px 20px; height:24px; background:url(../images/notice.png) no-repeat 115px center;  border-bottom:1px dotted #dcdcdc;}
.newslist li span{ display:inline-block; font-family:Arial, Helvetica, sans-serif; color:#b7b7b7; font-style:italic; width:110px;}
.news-title{ font-size:12px; padding-bottom:25px;}
.news-title .title{ font-size:20px; padding:15px 0; margin-bottom:15px; border-bottom:1px dotted #dcdcdc;}

/*========== reports ==========*/
.reportslist{ padding:0 15px; border-bottom:1px dotted #dcdcdc;}
.reportslist .item{ padding:20px 0;}
.reportslist .item .img{ float:left; display:block; width:130px; height:75px; text-align:center; vertical-align:middle;}
.reportslist .txt{ width:615px; float:right; } 
.reportslist .hd{ height:30px; font-size:12px;}
.reportslist .hd a{ color:#2980b9; font-size:16px;}
.reportslist .hd .myfont{ display:inline-block; margin:0 10px 0 15px;}

/*========== invest ==========*/
.invest .item{ width:348px; height:458px; background:#FFF; float:left; position:relative; z-index:1;}
.invest .item.mid{ margin:0 25px; z-index:2}
.invest .item .bd{ height:400px; border-bottom:1px solid #f2f2f2;}
.invest .item .bottom{ height:57px; text-align: center; line-height:57px; font-size:14px; background:#fafafa}
.lj{ width:81px; height:106px; background:url(../images/lj.png) no-repeat center; position:absolute; top:140px; right:-55px;}
.lj_l{ right:auto; left:-55px;}
.invest .item .bd{ padding:0 40px;}
.invest .item .title{ padding:50px 0; height:60px; line-height:60px; color:#F60; font-size:24px; text-align:center;}
.invest .ico{ margin-right:10px;}
.invest .item.mark .title .ico{ width:49px; height:49px; background-position:-352px 0;}
.invest .item.Credit .title .ico{ width:49px; height:49px; background-position:-352px -54px;}
.invest .item.claims .title .ico{ width:85px; height:60px; background-position:-248px 0;}
.invest .item.claims .title,.invest .item.claims .o{ color:#20a2e2 !important;}
.invest .list li{ background:url(../images/f6o.png) no-repeat left center; padding-left:15px; height:30px; line-height:30px; }
.invest .item.claims li{ background-image:url(../images/bluec.png);}
.invest .item .more{ display:block; text-align:center; width:110px; height:40px; line-height:40px; color:#FFF;  text-decoration:none; margin:50px auto 0;}
.invest .item.mark .more{ background-position:-132px -108px;}
.invest .item.Credit .more{ background-position:-132px -152px;}
.invest .item.claims .more{ background-position:-132px -195px;}

/*invest-list-tab*/
.invest-list-tab{ width:100%;}
.invest-list-tab th{ height:40px; background:#f3f5f7; color:#4e575e; }
.invest-list-tab .Statistics{ font-size:12px; font-weight:normal;}
.invest-list-tab td{ padding:20px 0; border-bottom:1px solid #f1f1f1; font-size:16px; text-align:center;}
.lebel_B,.lebel_A{ width:46px; height:46px; display:block; margin:0 auto; }
.invest-list-tab .lebel_B{ background-position:-48px -57px;}
.invest-list-tab .lebel_A{ background-position:0 -57px;}
.invest-list-tab .Bid{ float:none; display:block; margin:0 auto; text-decoration:none;}
.invest-list-tab .process{ display:inline-block; width:110px; margin:0 10px 0 30px;}

/*invest-show*/
.lbox,.rbox{ width:643px; height:323px; margin-top:20px; -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.rbox{ width:373px;}
.lbox .title,.rbox .title{ height:44px; line-height:44px; background:#f7f7f7; padding:0 20px; font-size:20px; color:#4e575e;}
.rbox .title span{  font-family: Arial, Helvetica, sans-serif; float:right;}
.lbox .line{ height:88px; }
.lbox .line .item{ height:100%; border-right:1px solid #e4e6e7; float:left; padding-left:20px;}
.lbox .line .first{ width:250px; padding-left:0;}
.lbox .line .second{ width:138px;}
.lbox .line .third{ width:170px; border:0;}
.lbox .line span{ font-size:36px;}
.lbox .line .first span{ color:#b4bec5;}
.lbox .txt{ color:#8a949c} 
.lbox .txt b{ color:#333;}
.lbox .txt .Prompt{ width:12px; height:12px; background-position:-112px -35px; display:inline-block; margin:0 10px;}
.lbox .line2{ border-top:1px solid #e4e6e7; padding:10px 20px; height:30px;}
.lbox .line2 .item{ float:left; width:32%; border-right:1px solid #e4e6e7; height:100%; line-height:30px;}
.lbox .line2 .item .process{ display:inline-block; width:140px; margin:0 10px 0 0;}
.lbox .line2 .Guarantee{ width:14px; height:16px; background-position:-99px -58px; display:inline-block; margin-right:5px;}

.rbox .Amount{ height:21px; line-height:21px; padding:11px 0 11px 5px; width:293px; border:1px solid #b4b9bd; color:#999;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;  margin-right:5px;}
.rbox .txt{ color:#8a949c; font-size:12px;}
.rbox .btn-Investment{ display:block; width:325px; height:39px; line-height:39px; background-position:0 -461px; text-decoration:none; color:#FFF; font-size:18px; margin:20px 0;}

.tabbtn{ height:41px; border-bottom:1px solid #d0d5d9; padding:0 15px;}
.tabbtn li{ float:left; margin-left:20px; height:40px; border:1px solid #d0d5d9; line-height:40px; position:relative; margin-bottom:-1px; background:#ebf0f2; padding:0 30px; border-top-left-radius:3px; border-top-right-radius:3px; -webkit-border-top-left-radius:3px;  -webkit-border-top-right-radius:3px;-moz-border-top-left-radius:3px; -moz-border-top-right-radius:3px; cursor:pointer; font-size:16px;}
.tabbtn li.current{ background:#FFF; border-bottom-color:#FFF;}
.tabbtn li .count{ display:inline-block; background:#a1acb4; font-size:12px; height:16px; line-height:16px; padding:0 3px; margin-left:5px; vertical-align:middle; -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; color:#FFF; font-family:Verdana, Geneva, sans-serif;}

.Product-Details .txt{  line-height:30px; width:690px;}
.Product-Details .Credit-Report{ width:310px;}
.Product-Details .Credit-Report dl{ float:left; width:132px; margin:5px 11px; text-align:center;}
.Product-Details .Credit-Report dt{ padding:5px; height:130px; border:1px solid #ececec;}
.Product-Details .Credit-Report dt a{ display:block;}
.Product-Details .Credit-Report dd{ height:24px; padding-top:5px;}

/*========== borrow ==========*/
.loans-img{ width:634px; height:521px; position:relative;}
.loans-img .lj{ top:50%; margin-top:-53px;}
.formbox{ width:440px; height:501px; background:#FFF; padding-top:20px;}

.productForm{ border-collapse: collapse; width: 100%;}
.productForm th{width:90px;padding-right:20px;text-align:right;vertical-align:top;line-height:32px;font-style:normal;font-weight:normal;}
.productForm td{vertical-align:top;}
.citySelect{width:260px;line-height:32px;vertical-align:top;position:relative;z-index:3;}
.citySelect{line-height:32px;}
.citySelect dl{width:258px;height:30px;border:1px solid #dfdfdf;}
.citySelect dl dt i{background:url(../images/bt_bt.jpg) left top no-repeat;width:20px;height:30px;float:right;font-style:normal;}
.citySelect dl .sp{padding-left:5px;}
.citySelect dl dd{position:absolute;width:258px;left:0px;top:35px;height:156px;overflow:auto;border:1px solid #dfdfdf;background-color:#fff;}
.citySelect dl dd a{float:left;width:55px;height:26px;line-height:26px;padding-left:5px;overflow:hidden; text-decoration:none}
.citySelect dl dd a:hover{background:#e3f3fd;}
.productForm td .tishi{height:24px;}
.prompt_2{display:inline-block;vertical-align:middle;line-height:15px;}
.hidden{display:none;}
.productForm label{cursor:default;}
.productForm td .touzi01{position:relative;display:inline-block;width:100%;height:32px;}
.productForm td .input_all{width:248px;}
.input_all{height:24px;padding:3px 5px;border:1px solid #dfdfdf;line-height:24px;font-size:14px;font-family:\5FAE\8F6F\96C5\9ED1,arial,sans-serif;}
.productForm td .touzi01 span{position:absolute;float:left;color:#999;left:10px;top:3px;}
.error_2{color:#f00;}
.prompt_2{display:inline-block;vertical-align:middle;line-height:15px;}
.prompt_2 i{display:inline-block;width:15px;height:15px;line-height:15px;font-size:0;margin-right:5px;vertical-align:middle;background:url(../images/icon.png) no-repeat;}
.error_2 i{background-position:-81px -31px;}
.productForm .hight{height:42px;}
.productForm .hight label{display:inline-block;width:100px;height:24px;line-height:24px;}
.productForm td .input_all{width:248px;}
input.i_time{background:url(../images/time_ico.gif) right center no-repeat;padding-right:26px;}
.productForm td .i_yuan{background:url(../images/yuan.gif) right center no-repeat;}
.productForm .select1{width:260px;height:30px;border:1px solid #dfdfdf;font-family:\5FAE\8F6F\96C5\9ED1,arial,sans-serif;}
input.btnSize_6{width:260px;height:50px;font-size:20px;display:inline-block;text-align:center;text-decoration:none;cursor:pointer;vertical-align:middle;border-radius:3px;font-family:\5FAE\8F6F\96C5\9ED1,arial,sans-serif;}
.btn_orange{background-color:#ff7f00;border:1px solid #ff7f00;color:#fff;}



.detailsBox{ padding:20px 25px; background:#FFF;}
.detailsBox .item{ width:298px; min-height:130px; border-right:1px dotted #ebebeb;  float:left; padding-left:30px; }
.detailsBox .item .title{ width:125px; height:32px; line-height:32px; background:#9ec4dd; -webkit-border-radius: 16px;-moz-border-radius: 16px; border-radius: 16px; text-align:center; font-weight:bold; color:#FFF; }
.detailsBox .item li{ line-height:30px; background:url(../images/list.png) no-repeat left center; padding-left:10px;}
.detailsBox .item.first{ width:390px; padding-left:0;}



/*========== Pagination ==========*/
.Pagination{height:30px;}
.Pagination span,.Pagination a{ display:inline-block; border:1px solid #e4e4e4; height:28px; line-height:28px; padding:0 10px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; margin:0 4px; text-decoration:none;}
.Pagination span,.Pagination a.active,.Pagination a:hover{ color:#FFF; background:#F30; border-color:#F30;}
.Pagination a em{ display:inline-block; width: 0; height: 0; border-top: 4px solid transparent; border-bottom: 4px solid transparent;}
.Pagination a.prev em{border-right: 8px solid #999; margin-right:5px;}
.Pagination a.next em{border-left: 8px solid #999; margin-left:5px;}
.Pagination a.prev:hover em{ border-right-color:#FFF;}
.Pagination a.next:hover em{ border-left-color:#FFF;}



/*========== member ==========*/
.cb0915{ color:#cb0915}
.mem-hd{ height:30px; line-height:30px; color:#637176; border-bottom:1px solid #e7ecee;}
.mem-hd b.c{ font-weight:bold; color:#cb0915;}
.mem-hd .mail-ico{ width:12px; height:10px; background-position:-98px -80px; display:inline-block; vertical-align:middle; margin-right:10px;}
.mem-hd .Cup{ display:inline-block; margin:0 10px; width:12px; height:12px; background-position:-113px -79px; vertical-align:middle}

.user-info{ width:624px; height:90px; border-right:1px solid #e5e5e5;}
.user-info .user-img{ width:90px; height:90px; text-align:center; vertical-align:middle; float:left;}
.user-info .txt{ width:370px; padding-left:15px;}
.user-info .Balance{ height:24px; font-size:20px; margin:8px 0;}
.user-info .btnbox{ width:142px;}
.user-info .btnbox .Bid,.user-info .btnbox .Repayment,.Asset-Statistics .Bid,.Asset-Statistics .Repayment{ display:block; float:none; text-decoration:none;}

.Security-Level{ width:180px;}
.Security-Level .Level-process,.Security-Level .Level-bar{ width:100px; height:6px; background-position:0 -108px; display:inline-block; position:relative; margin-right:10px;}
.Security-Level .Level-bar{ position:absolute; background-position:0 -117px; left:0; top:0; margin-right:0px;}

.Authenticated-bind .Authenticated,.Authenticated-bind .bind{ width:32px; height:22px; background-position:0 -69px;}
.Authenticated-bind .Authenticated.done{ background-position:0 0;}
.Authenticated-bind .item{ display:inline-block; text-align:center; width:40px; margin-right:10px; line-height:16px;}
.Authenticated-bind .bind{ background-position:0 -115px;}
.Authenticated-bind .bind.done{ background-position:0 -46px;}

.Assets-hd{ height:29px; line-height:29px; font-size:18px;}
.Assets-hd span{ display:inline-block; margin:0 5px;}
.Assets-hd .Earn{  height:29px; width:29px; background-position:-33px 0; text-indent:99px; overflow:hidden; vertical-align:middle; margin:0 5px 0 10px;}
.Assets-hd .Income-details{ display:inline-block; margin-left:140px; color:#2980b9; }
.Assets-box{ border-right:1px dashed #e6e6e6; width:484px; min-height:170px; padding-top:14px;}
.Assets-box .Assets-tab{ width:430px; border:1px solid #dadeea;}
.Assets-box .Assets-tab td,.Assets-box .Assets-tab th{ padding:0 20px; height:38px; border-bottom:1px solid #dadeea; text-align:center;}
.Assets-box .Assets-tab th{ background:#ebeff4; text-align:right; font-weight:normal; color:#333;border:1px solid #dadeea; width:160px; }
.Assets-box .Assets-tab .count{ color:#2980c8;}

.Immediately-bid{ width:272px; }
.Immediately-bid .Bid { display:block; text-decoration:none; float:none;}
.Record-hd a{ display:inline-block; padding:0 10px; line-height:25px; height:25px; margin:0 5px; white-space:nowrap;}
.Record-hd a.active{ background:#F00; color:#FFF; -webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px; text-decoration:none;}

.Record-tab{ border:1px solid #e0e0e0; width:100%;}
.Record-tab td,.Record-tab th{ height:35px; border:1px solid #e0e0e0; font-weight:normal; text-align:center;}
.Record-tab tr.bg th,.Record-tab tr.bg td{ background:#f5f5f5;}

.Asset-Statistics,.My-investment,.rechargebox,.membox{ padding:0 20px;}
.Asset-Statistics .item{ width:20%; float:left;}
.Asset-Statistics .item h1{ font-size:20px; line-height:35px; margin-top:15px;}
.Asset-Statistics.Bid,.Asset-Statistics .Repayment{ font-size:16px;}

.My-investment .item{ width:50%; float:left; margin-bottom:10px;}
.My-investment .item .box{ height:30px; line-height:30px; width:325px; padding-right:10px; background:#f6f6f6; color:#333;}
.My-investment .item .invest{ width:30px; height:100%; text-align:center; display:inline-block; margin-right:10px; color:#FFF; font-size:12px; font-weight:bold; background:#690; float:left;}
.My-investment .item .money{ color:#666; float:right;}
.My-loan .item .invest{ background:#c00}

/*recharge*/

.Tips{ background:#fffadc; border:1px solid #e6d780; font-size:12px; padding:15px;}
.Tips .hd{ color:#f00; font-weight:bold;}

.banklist,.Withdrawals{ padding-bottom:20px; border-bottom:1px dotted #d8d8d8; margin-bottom:20px;}
.banklist a{ display:block; width:145px; height:40px; line-height:38px; text-align:center; float:left; margin:0 30px 10px 0; overflow:hidden;}
.banklist .img{ height:38px; width:143px; line-height:38px; border:1px solid #e0e0e0;}

.recharge-tab td{ padding:5px;}
.recharge-tab td .o{ font-size:20px; font-family:Arial, Helvetica, sans-serif;}
.recharge-tab td .Bid{ float:none; display:block; font-size:16px;}
.recharge-tab td input[type='text'],.Recommend-bd input[type='text']{ background:#f0f0f0; border:1px solid #cbcbcb; border-bottom-color:#e7e7e7; border-right-color:#e7e7e7; width:170px; height:20px; padding:4px 0 4px 4px;}
.recharge-tab td input[type='checkbox']{ vertical-align:middle;}
.recharge-tab td input.code{ width:70px; margin-right:10px;}

.rechargebox .Choose{ font-size:16px; margin-top:-10px; color:#666;}
.Withdrawals{ border-bottom-style:solid;}
.Withdrawals .item,.Withdrawals .add{ float:left; width:228px; height:128px; margin:10px 15px 10px 0; border:1px solid #e0e0e0;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; text-align:center; cursor:pointer;}
.Withdrawals .item .card-num{ height:32px; line-height:32px; border-bottom:1px solid #e0e0e0; background:#f5f5f5;}
.Withdrawals .item .img{ height:95px; vertical-align:middle;}
.Withdrawals .add{ display:block; border:1px dashed #e0e0e0; background:#f5f5f5 url(../images/add.jpg) no-repeat center;} 

.membox .My-investment{ padding:10px 0 25px; border-bottom:1px solid #e7ecee;}
.membox .My-investment .item{ width:33%;}
.membox .My-investment .item .box{ width:230px;}
.membox .My-investment .item .invest{ background:url(../images/ico-all.png) no-repeat; margin-right:5px;}
.membox .My-investment .item .invest.ico1{ background-position:0 -140px;}
.membox .My-investment .item .invest.ico2{ background-position:-41px -140px;}
.membox .My-investment .item .invest.ico3{ background-position:-81px -140px;}
.membox .My-investment .item .count{ color:#666; float:right;}

.membox .tit{ font-weight:bold; color:#000; font-size:12px; width:70px; line-height:28px}
.membox .Calendar{ width:300px;}
.membox .Options{ width:380px;}
.membox .Options a{ display:inline-block; margin:0 5px; padding:0 10px; height:25px; line-height:25px; color:#333; text-decoration:none;}
.membox .Options a.active,.membox .Options a:hover{ background:#C00; color:#FFF;}

.membox .Record-tab{ border-width:1px 0 0; font-size:12px;}
.membox .Record-tab td,.membox .Record-tab th{ border-width:0 0 1px;}
.membox .Record-tab td{ border-bottom-style:dotted; text-align:center; height:38px;}
.membox .Record-tab td a{ color:#C00; text-decoration:underline;}

/*Station-news*/
.Station-news dl{ padding:10px 0; border-bottom:1px dotted #e0e0e0;}
.Station-news dl dt{ height:36px; line-height:36px; color:#666; padding-right:10px; font-weight:bold;}
.Station-news dl dt em{ margin-left:5px; font-weight:normal;}
.Station-news dl dt.un{ color:#000}
.Station-news dl dt.un .btn{ color:#C00}
.Station-news .Unread{ display:inline-block; vertical-align:middle; margin-left:10px; width:27px; height:15px; background-position:0 -179px; text-indent:99px; overflow:hidden;}
.Station-news .time{ display:inline-block; font-size:12px; margin-left:30px; font-family:Arial, Helvetica, sans-serif; font-weight:normal;}
.Station-news .btn{ float:right; cursor:pointer;}
.Station-news dl dd{ padding:20px; margin:10px 0; border:1px solid #ececec; background:#f9f9f9; color:#666; font-size:12px; display:none;}

/*Recommend to a friend*/
.Recommend-bd{ padding:20px; border:2px solid #e10000; position:relative; min-height:190px; font-size:12px}
.Recommend-bd .songti{ color:#888;}
.Recommend-bd .Benefit{ width:67px; height:67px; display:block; position:absolute; top:0px; right:0px; background-position:-433px -98px}
.Recommend-tab { width:100%;}
.Recommend-tab td{ font-family:Arial, Helvetica, sans-serif,"宋体"; color:#333;}
.Recommend-tab td a{ color:#00e;}
.btn-send{ width:77px; height:30px; line-height:30px; background:#F00; color:#FFF; text-align:center;}

/*Security Settings*/
.safe{ padding:0 20px;}
.safe-tab{ width:100%;}
.safe-tab th,.safe-tab td{ padding:15px 10px; border-bottom:1px solid #e8e8e8; font-size:12px;}
.safe-tab th{ text-align:right; font-size:14px; color:#000;}
.safe-tab td a{}
.safe-tab td.bg{ background:#e1f3fd; width:80px;}
.safe-tab em{ width:14px; height:14px; vertical-align:middle; margin-right:8px;}
.safe-tab .no{ background-position:-82px -16px}
.safe-tab .done{ background-position:-82px -1px}
.safe-tab a{ display:inline-block; color:#2980b9;}
.safe-tab tr.last td,.safe-tab tr.last th{ border:0}

/*========== Pop-up box ==========*/
.Pop-up{ width:100%; height:100%; position:fixed; left:0; top:0; z-index:9999; background:url(../images/blk.png); display:none;}
.pop-bd{ width:604px; position:absolute; top:0; left:50%; margin-left:-302px; z-index:10000; display:none;}
.pop-bd .hand{ width:570px; height:240px; margin:0 auto; background:url(../images/hand.png) no-repeat center bottom; position:relative; z-index:10004}
.pop-bd .bd{/* height:405px;*/ width:100%; position:relative; z-index:10000; margin-top:-84px; background:#FFF; padding-bottom:30px;}
.pop-bd .bd .hd{ height:57px; line-height:57px; border-bottom:1px solid #e5e5e5; font-size:20px; text-align:center; position:relative; color:#666;}
.pop-bd .close{ color:#ccc; font-size:14px; display:block; position:absolute; right:-5px; bottom:42px; width:20px; height:20px; text-align:center; cursor:pointer;}
.pop-bd .txt{ color:#727272; text-align:center; color:#333;}
.pop-bd .txt h1{ font-size:28px; margin:30px 0 10px; font-weight:bold;}
.pop-bd .form{ width:335px; margin:0 auto; padding-top:20px;}
.pop-bd .form input[type='text'],.pop-bd .form .form-control{ padding:11px 5px; height:20px; line-height:20px; width:323px; border:1px solid #ccc; margin-top:-1px; color:#333; font-size:14px;}
.pop-bd .form input.first{-webkit-border-top-left-radius: 3px;-webkit-border-top-right-radius: 3px;-moz-border-radius-topleft: 3px;-moz-border-radius-topright: 3px;border-top-left-radius: 3px;border-top-right-radius: 3px}
.pop-bd .form input.last{-webkit-border-bottom-right-radius: 3px;-webkit-border-bottom-left-radius: 3px;-moz-border-radius-bottomright: 3px;-moz-border-radius-bottomleft: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px}
.pop-bd .login{ width:100%; height:42px; line-height:42px; background:#ff8819;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; font-size:18px; color:#FFF;}
.pop-bd a{ font-size:16px; color:#ff8819;}
.pop-bd label{ display:block; height:43px; width:100%; position:relative; z-index:10008; background:none;}
.pop-bd label span{ display:block; height:40px; width:100%; line-height:40px; position:absolute; top:2px; left:5px; background:none; z-index:10008}