*{ margin:0; padding:0px;}
html{-webkit-text-size-adjust: none;}
/*
  outline:none; blr:expression(this.onFocus=this.blur());
  -webkit-text-size-adjust:none;
*/
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{ margin:0; padding:0}
body,button,input,select,textarea{font:12px/24px "microsoft yahei";}
html,body{ background:#6b88af url(../images/Introbg.jpg) no-repeat center; width:100%; height:100%;}
a{ display:inline-block;color:#FFF; text-decoration:none;}
a:hover{ text-decoration:underline}

.content,.foot{text-shadow:1px 1px 2px #677c97; filter:progid:DXImageTransform.Microsoft.MotionBlur(strength=2, direction=145); *zoom:1; font-size:14px; color:#FFF;}

.content{ width:179px; height:24px; position:absolute; left:50%; margin:-112px 0 0 -90px; top:50%; text-align:center; padding-top:200px; background:url(../images/indexlogo.png) no-repeat center top; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src=../images/indexlogo.png, enabled=true, sizingMethod=scale); }

.content a{ margin:0 10px;}

.foot{ padding:30px 0 0; width:1019px; height:99px; background:url(../images/borderfoot.png) no-repeat center top;  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src=../images/borderfoot.png, enabled=true, sizingMethod=scale); position:absolute; bottom:0; left:50%; margin-left:-510px; text-align:center;}
.foot a{ margin:0 5px;}
.foot .footinfo{font-size:10px; color:#b1bed0; margin-top:30px;}