@charset "utf-8";
/* CSS Document */
/*全局样式*/
body { font-family:"微软雅黑"; font-size:12px; color:#333;}
* { margin:0px; padding:0px; list-style:none;}
.clear { clear:both;}
a { color:#333; text-decoration:none;}
a:hover { color:#0069ad; text-decoration:underline;}
.fl { float:left;}
.fr { float:right; }
ul { list-style:none; margin:0px; padding:0px;}
img { border:0px;}

/*头部代码的开始*/
.wtop { width:100%; height:36px; line-height:36px; font-size:12px; color:#666; border-bottom:1px solid #d3d1d1; }
.wtopc { width:1000px; height:36px; margin:0px auto;}
.wtopl { width:360px; height:36px; float:left;} 
.wtopr { width:500px; text-align:right;}
.wtopr a { margin-right:10px; }
.wnav { width:1000px; height:auto; padding:25px 0px; margin:0px auto;}
.wlogo { width:200px; height:68px; float:left;}
/*nav代码开始*/
.wnavlist { width:742px; height:40px; float:right;  margin-top:20px;}
.daohang{width:742px;height:40px; }
.tab{position:relative;display:block;float:left; width:92px; text-align:center; cursor:pointer; }
.tab .tablink{ width:92px; line-height:40px;display:block;height:40px;color:#333;font-size:15px; /*font-weight:bold;*/}
.tab .tablink a{line-height:40px;color:#FFF;text-decoration:none}
.tab:hover{ background-color:#4a8ec5;}
.tab:hover .tablink{color: #FFF;text-decoration:none; height:40px; border:none;}
.tab:hover .tablink a{color:#357d13}
/*.dropdown:hover .arwlink{height:46px}*/
.dropdown div{display:none}
.dropdown:hover div{position:absolute;display:block;margin-left:-1px;top:40px;left:1px;z-index:9}
.subnav{width:92px}
.subnav a{padding:4px 0 4px 0px;line-height:30px;width:92px;display:block; font-size:14px; white-space:nowrap;color:#fff;float:left}
.subnav :hover{text-decoration:underline;color:#fff; background-color:#4bacf9; text-decoration: none;}
.dropdown .subnav{background-color:#4a8ec5;}

/*图片切换*/
.wban { width:100%; height:700px; }
.gg{height:700px;position:relative;z-index:1;overflow:hidden;margin:0 auto;background:#d3d3d3 url(../images/loading.jpg) repeat-x;}
.ggLoading,.ggLoading2{background-image:url(../images/nav.png);}
.ggLoading{position:absolute;left:40%;top:200px;width:325px;text-align:center;height:56px;background-position:0 -55px;background-repeat:no-repeat;line-height:56px;color:#9c9c9c;}
.ggLoading2{width:330px;height:56px;background-position:213px 0px;background-repeat:no-repeat;}
.ggLoading em{font-weight:bold;}
.ggs{width:200%;height:700px;left:-50%;top:0;position:absolute;}
.ggBox{width:1920px;height:700px;margin:0 auto;}
.ggBox a{display:block;width:1920px;height:700px;position:absolute;z-index:1;opacity:0.1;}
.ggBox img{display:block;width:1920px;height:700px;}
.ggb{position:absolute;width:100%;left:0;bottom:0;height:40px;z-index:4;/*background-color:#32342e;background-repeat:repeat-x;*/background-position:50% -40px;}
.ggBtns{width:72px;height:30px;margin:0 auto;  }
.ggBtns a{float:left; margin-left:8px; display:block;width:20px;height:20px;text-align:center;color:#FFF;background-color: #CCC; position:relative;top:-10px;outline:none;cursor:pointer;text-decoration:none; font:14px Arial, Helvetica, sans-serif, "新宋体"; line-height:25px; -moz-border-radius: 15px;      /* Gecko browsers */ -webkit-border-radius: 15px;   /* Webkit browsers */ border-radius:15px; }
.ggBtns a em{display:block;width:25px;height:25px;margin:0 auto;overflow:hidden;font-style:normal;}
.ggBtns a:hover{color:#0060ad;}
.ggBtns a:focus{outline:none;}
.ggBtns a.current{color:#0060ad;/*background:url(../images/gg.png) no-repeat;*/ background-color:#0060ad;}

/*首页代码*/
.gywst { width:100%; height:auto; padding:20px 0px;}
.gywst_title { width:100%; height:65px; border-bottom:1px solid #bbbaba;  }
.gywstc { width:1000px; height:65px; text-align:center; margin:0px auto;position:relative; }
.gywstc h2 { font-size:30px; color:#535353; line-height:70px;   }
.gywstc span { width:100px; height:25px;line-height:25px;  position:absolute; top:55px; left:450px; font-size:16px; color:#adacac; background-color:#fff;  display:block; z-index:10;}
.gywstc span.ys { background-color:#ececec;}
.gywstnr { width:1000px; height:auto; margin:0px auto; padding:30px 0px 10px 0px;}
.gywstl { width:480px; height:350px; float:left;}
.gywstl img,.gywstx img { padding:2px; border:1px solid #e6e2e1; }
.gywstr { width:502px; height:auto; float:right;} 
.gywsts { width:502px; height:auto; font-size:14px; color:#333; line-height:25px; }
.gywsts h3 { font-size:18px; color:#535353; line-height:30px;}
.gywsts a { font-size:12px; line-height:25px; width:68px; height:25px; color:#666; border:1px solid #bfbebe; display:block; text-align:center; float:right; margin-top:10px;  }
.gywsts a:hover{ background-color:#666; color:#FFF;}
.gywstx { width:502px; height:auto; padding-top:12px;  }
.gywstx img { float:left; }
.wdone { width:100%; height:auto; background-color:#ececec; padding:20px 0px;}
.gywstnr { width:1000px; height:auto; }
.gywstnr1 { width:1000px; height:auto; text-align:center;}
.gywstnr1 p { font-size:21px; color:#343333; line-height:50px; font-weight:bold; }
.gywstnr1 p strong { color:#0060ad; font-size:28px;}
.gywstnr2 { width:1000px; height:auto; padding-top:20px; }
.cg { width:200px; height:auto; float:left; text-align:center;}
.cg span { line-height:50px; font-size:18px; color:#0060ad;}
.cg img { transition: 2s;-moz-transition: 2s,  -moz-transform 2s;-webkit-transition: 2s, -webkit-transform 2s;-o-transition: 2s, -o-transform 2s;}
.cg img:hover {transform: rotateY(360deg);-webkit-transform: rotateY(360deg);-moz-transform: rotateY(360deg);/*cursor: pointer;*/}
.qyzew { width:100%; height:auto; padding:15px 0px;}
.qyzrnr { width:1000px; height:auto; margin:36px auto;}
.qrleft { width:399px; height:auto; float:left;}
.wxnfn,.ygfzw { width:399px; height:233px; background:url(../images/wanshitong_22.gif) no-repeat;}
.wznr { width:170px; height:auto;  padding:15px; font-size:12px; line-height:24px; color:#f4f4f4;}
.wznr h2 { line-height:30px; font-weight:500; font-size:18px; color:#f4f4f4; padding-bottom:8px;}
.ygfzw { background:url(../images/wanshitong_22-09.gif) no-repeat;}
.qrcen { width:202px; height:466px; float:left; background:url(../images/wanshitong_24.gif) no-repeat;}
.shgy { background:url(../images/wanshitong_24-08.gif) no-repeat; }
.span { background:url(../images/wanshitong_27.gif) no-repeat;}
.zsjmw { width:100%; height:auto; background-color:#ececec; padding:8px 0px;}
.zsjmnr { width:1000px; height:auto; margin:30px auto;}
.zsjman { width:520px; height:42px; margin:10px auto; }
.zsjman ul li { float:left; width:136px; height:40px; margin-left:20px;}
.zsjman ul li a { width:134px; height:38px; border:1px solid #cecece; text-align:center; font-size:16px; color:#323334; display:block; line-height:38px; border-radius:5px; }
.zsjman ul li a:hover { background-color:#0067ac; border:1px solid #0067ac; color:#fcfeff; }
a.select2:link,a.select2:visited {background-color:#0067ac; border:1px solid #0067ac; color:#fcfeff;}
.select1{}
.zsjmc { width:1000px; height:auto; padding:20px 0px 0px 0px; }
.xian { width:1000px; height:auto; }
.yin { width:1000px; height:auto; display:none; }
.zyd { width:316px; height:auto; float:left; text-align:center; font-size:14px; margin-left:15px; margin-top:15px; display:inline;}
.zyd a {  color:#333; line-height:30px;}
.zyd a:hover { color:#0067ac; text-decoration: underline;}
.zyd img { border:1px solid #cfcece; padding:2px; background-color:#FFF; }
.xwzx { width:1000px; height:auto; margin:20px auto;}
.gsxw { width:325px; height:auto; float:left; border:1px solid #e2e2e2; }
.gsxw1 { width:325px; height:36px; font-size:14px; color:#333; line-height:36px; border-bottom:1px solid #e2e2e2;}
.gsxw1 span,.hzhb1 span { width:100px; height:36px; padding-left:30px; display:block; background:url(../images/wanshitong_34.gif) no-repeat 8px center; float:left;}
.gsxw1 a { float:right; margin-right:10px; font-size:12px;}
.gsxw1 a:hover { color:#005fa7; text-decoration:underline;}
.diyi { width:305px; height:auto; margin:0px auto; padding:10px 0px;}
.diyi img { float:left; margin-right:10px;}
.diyi a { font-size:14px; color:#333; font-weight:600; line-height:30px;}
.diyi a:hover,.xw_list ul li a:hover { color:#0069ad; text-decoration:underline;}
.diyi p { color:#666; line-height:20px;}
.xw_list{ width:305px; height:auto; padding:10px 0px; margin:0px auto;}
.xw_list ul li { width:290px; height:30px; line-height:30px; border-bottom:1px dashed #c5c5c5; font-size:12px; padding-left:15px; background: url(../images/xwtb.jpg) no-repeat left center; }
.xw_list ul li a { float:left; color:#333;}
.xw_list ul li span { float:right; color:#666;}
.hydt { width:325px; height:auto; float:left; margin-left:9px; border:1px solid #e2e2e2; display: inline;}
.hzhb { width:1000px; height:auto; border:1px solid #e2e2e2; margin:20px auto; }
.hzhb1 { width:1000px; height:36px; border-bottom:1px solid #e2e2e2; line-height:36px; font-size:14px; }
.hzhb2 { width:1000px; height:auto; padding:15px 0px;}
.anleft,.anright { width:35px; height:86px; text-align:center;}
.anleft img,.anright img { margin-top:20px;}
.nrcenter { width:920px; height:auto; float:left;}
.nrcenter img { float:left; margin-left:10px; margin-top:8px; border:1px solid #e2e2e2; padding:2px; background-color:#FFF; }
.wbottom { width:100%; height:auto; border-top:1px solid #e2e2e2; background-color:#f4f4f4; }
.wbm1 { width:1000px; margin:0px auto; padding:30px 0px;}
.wbmal { width:170px; padding-left:30px; height:auto; float:left;}
.wbmal h3 { font-size:16px; color:#666; line-height:30px; padding-bottom:5px;}
.wbmal a { line-height:24px; font-size:12px; color:#666;}
.wbmal p { line-height:24px; color:#666;}
.wbm2 { width:1000px; height:auto; padding:40px 0px; border-top:1px solid #e2e2e2; margin:0px auto; text-align:center;}
.wbm2 p { color:#666;}
/*子页面*/
.gyban,.lmban,.nsban,.lxban,.zsban,.scban,.zxban { width:100%; height:200px; background:url(../images/gyban.jpg) no-repeat center;}
.lmban { background:url(../images/lmban.jpg) no-repeat center;}
.nsban { background:url(../images/zxns.jpg) no-repeat center; }
.lxban { background:url(../images/lxwm.jpg) no-repeat center; } 
.zsban { background:url(../images/zsjm.jpg) no-repeat center; }
.scban { background:url(../images/scqj.jpg) no-repeat center; } 
.zxban { background:url(../images/zxzx.jpg) no-repeat center; } 
.ym_nav { width:100%; height:auto; padding:50px 0px 20px 0px;}
.ym_nr1 { width:1000px; height:75px; margin:0px auto; text-align:center;}
.ym_nr2 { width:100%; height:40px; background:url(../images/gywm_07.gif) center repeat-x;}
.ym_nrc { width:472px; height:38px; border:1px solid #d6d6d6; border-right:none; margin:0px auto; background-color:#FFF; }
.ym_nrc ul { list-style:none; margin:0px; padding:0px;}
.ym_nrc ul li { width:auto; height:38px; line-height:38px; font-size:15px; border-right:1px solid #d6d6d6; float:left; display:inline;}
.ym_nrc ul li a { color:#333; display:block; padding:0px 15px;}
.ym_nrc ul li a.dsz { background-color:#1a86cd; color:#FFF; }
.ym_nrc ul li a:hover { background-color:#1a86cd; color:#FFF; }
.ymzt { width:1000px; height:auto; margin:20px auto;}
.ymzt p { font-size:14px; color:#333; line-height:25px; padding:10px 20px; text-indent:28px;}

.news_list { width:1000px; height:auto; margin:20px auto;}
.newsal { width:1000px; height:auto; padding:10px 0px; border-bottom:1px dashed #d6d6d6; }
.newsal img { float:left; margin-right:15px;}
.newsal h2 { font-size:16px; line-height:35px; margin:0px; padding:0px; font-weight:bold; }
.newsal p { font-size:14px; color:#333; line-height:26px;  padding:10px 0px;}
.news_detail { width:1000px; height:auto; margin:20px auto;}
.news_detail  h2 { font-size:20px; color:#333; line-height:40px; font-weight:bold; text-align:center; margin:0px; padding:0px; }
.news_detail  h5 { font-size:12px; color:#999; font-weight:normal; line-height:20px; text-align:center; margin:0px; padding:0px; }
.news_detail p { font-size:14px; color:#333; line-height:30px; padding:10px; text-indent:28px;}
.news_detail img { max-width:800px;}
.dgzw { width:530px; height:auto; float:left; line-height:30px; font-size:14px; margin-left:20px; }
.dgzw  h2 { font-size:16px; color:#333; margin:0px; padding:0px; font-weight:bold; line-height:40px;}

.zsjm_list { width:1000px; height:auto; margin:10px auto 50px;}
.lxwmc { width:1000px; height:auto; margin:30px auto;}
.ditu { width:998px; height:550px; border:1px solid #ccc;  }
.lxfx { width:1000px; height:auto; font-size:14px; color:#333; line-height:30px; padding:20px 0px;}
