@charset "utf-8";
html{
	
	min-width: 1280px;
}
.nav{
	width: 1080px;
	margin: 0 auto;
}
.logo{
	display: block;
	background: url(../img/logo.png) no-repeat center;
	width: 234px;
	height: 80px;
	float: left;
	padding: 4px;
}
.nav-wrap{
	float: right;
}
.nav-wrap>li,.nav-item{
	float: left;
	line-height: 88px;
	width: 138px;
	text-align: center;
	color: #533336;
	font-size: 18px;
}
.nav-item:hover{
	background-color: #533336;
	color: #fff;
}
.nav-wrap .nav-active{
	background-color: #533336;
	color: #FFFFFF;
}
/*banner*/
#container { 
	border-top: 10px solid #533336;
	max-width: 1920px; 
	height:500px; 
	overflow: hidden; 
	position: relative;
	background:url(../img/banner1.jpg) no-repeat 50% 0px;
}
#buttons { 
	position: absolute; 
	height: 10px; 
	width: 100px; 
	z-index: 2; 
	bottom: 80px; 
	left: 50%;
	margin-left: -36px;
}
#buttons span {
	cursor: pointer; 
	float: left; 
	border: 2px solid #fff; 
	width: 18px; 
	height: 18px; 
	border-radius: 50%; 
	background: #333; 
	margin-right: 8px;
}
#buttons .on {  
	background: #fff;
}
.arrow { 
	cursor: pointer; 
	display: none; 
	line-height: 39px; 
	text-align: center; 
	font-size: 36px; 
	font-weight: bold; 
	width: 40px; 
	height: 40px;  
	position: absolute; 
	z-index: 2; 
	top: 50%; 
	color: #fff;
}
.arrow:hover { 
	background-color: 
	RGBA(255,255,255,.7);
}
#container:hover .arrow {
	 display: block;
}
#prev { left: 20px;}
#next { right: 20px;}

.new-wrap{
	margin-top:80px;
	border-top: 2px solid #533336;
}
.newfood-tit{
	text-align: center;
	background-color: #533336;
	width: 300px;
	line-height: 50px;
	font-size: 30px;
	color: #fff;
	margin: -25px auto 30px auto;
}

.newfood-box{
	width: 1080px;
	margin: 0 auto;
}
.newfood-wrap{
	overflow: hidden;
	display: none;
}
.newfood-show{
	display: block;
}
#newfood-span{
	margin-top: 18px;
	width: 120px;
	margin: 0 auto;
}
#newfood-span > span{
	display: block;
	width: 35px;
	height: 35px;
	float: left;
	margin: 0 2px;
	background: url(../img/icon.png) no-repeat center 0;
	cursor: pointer;
}
.newfood-item{
	float: left;
	width: 255px;
	height: 255px;
	margin-top: 20px;
}
.newfood-item img{
	width: 100%
}
.newfood-p1,.newfood-p2,.newfood-p3,.newfood-p4,.newfood-p5,.newfood-p6,.newfood-p7,.newfood-p8{
	margin: 0;
	text-align: center;
	width: 255px;
	line-height: 255px;
	font-size: 24px;
	display: none;
}
/*新品推荐 鼠标经过 效果*/
.newfood-item>a{
	color: #533336;
}
.newfood-li1{
	background: url(../img/food-png1.png) center no-repeat;
	position: relative;
}
.newfood-p1{
	position: absolute;
	top: 0;
	left: 0;
}
.newfood-li1:hover{
	background: url(../img/food-png1-2.png) center no-repeat;
}
.newfood-li1:hover .newfood-p1{
	display: block;
}
.newfood-li2{
	background: url(../img/food-png2.png) center no-repeat;
	position: relative;
}
.newfood-p2{
	position: absolute;
	top: 0;
	left: 0;
}
.newfood-li2:hover{
	background: url(../img/food-png2-2.png) center no-repeat;
}
.newfood-li2:hover .newfood-p2{
	display: block;
}
.newfood-li3{
	background: url(../img/food-png3.png) center no-repeat;
	position: relative;
}
.newfood-p3{
	position: absolute;
	top: 0;
	left: 0;
}
.newfood-li3:hover{
	background: url(../img/food-png3-2.png) center no-repeat;
}
.newfood-li3:hover .newfood-p3{
	display: block;
}
.newfood-li4{
	background: url(../img/food-png4.png) center no-repeat;
	position: relative;
}
.newfood-p4{
	position: absolute;
	top: 0;
	left: 0;
}
.newfood-li4:hover{
	background: url(../img/food-png4-2.png) center no-repeat;
}
.newfood-li4:hover .newfood-p4{
	display: block;
}
.newfood-li5{
	background: url(../img/food-png5.png) center no-repeat;
	position: relative;
}
.newfood-p5{
	position: absolute;
	top: 0;
	left: 0;
}
.newfood-li5:hover{
	background: url(../img/food-png5-2.png) center no-repeat;
}
.newfood-li5:hover .newfood-p5{
	display: block;
}
.newfood-li6{
	background: url(../img/food-png6.png) center no-repeat;
	position: relative;
}
.newfood-p6{
	position: absolute;
	top: 0;
	left: 0;
}
.newfood-li6:hover{
	background: url(../img/food-png6-2.png) center no-repeat;
}
.newfood-li6:hover .newfood-p6{
	display: block;
}
.newfood-li7{
	background: url(../img/food-png7.png) center no-repeat;
	position: relative;
}
.newfood-p7{
	position: absolute;
	top: 0;
	left: 0;
}
.newfood-li7:hover{
	background: url(../img/food-png7-2.png) center no-repeat;
}
.newfood-li7:hover .newfood-p7{
	display: block;
}
.newfood-li8{
	background: url(../img/food-png8.png) center no-repeat;
	position: relative;
}
.newfood-p8{
	position: absolute;
	top: 0;
	left: 0;
}
.newfood-li8:hover{
	background: url(../img/food-png8-2.png) center no-repeat;
}
.newfood-li8:hover .newfood-p8{
	display: block;
}
.newfood-right{
	margin-right: 18px;
}

/*公司*/
.company-wrap{
	margin-top: 150px;
	border-top: 2px solid #533336;
}
.company-tit{
	text-align: center;
	background-color: #533336;
	width: 300px;
	line-height: 50px;
	font-size: 30px;
	color: #fff;
	margin: -25px auto 30px auto;
}
.company-dl{
	width: 1080px;
	margin: 0 auto;
}
.company-dt{
	float: left;
}
.company-dd{
	float: left;
	width: 544px;
	margin-left: 34px;
	font-size: 18px;
	line-height: 30px;
}

/*新闻*/
.news-wrap{
	margin-top: 150px;
	border-top: 2px solid #533336;
}
.news-tit{
	text-align: center;
	background-color: #533336;
	width: 300px;
	line-height: 50px;
	font-size: 30px;
	color: #fff;
	margin: -25px auto 30px auto;
}
.news-dl{
	width: 1080px;
	margin: 0 auto;
}
.news-dt{
	float: left;
}
.news-dd{
	float: left;
	width: 544px;
	margin-left: 34px;
	margin-top: -4px;
}
.link-tit{
	float: left;
	font-size: 18px;
	width: 300px;
	overflow: hidden;/*内容超出后隐藏*/
	text-overflow: ellipsis;/* 超出内容显示为省略号*/
	white-space: nowrap;/*文本不进行换行*/
}
.link-time{
	float: right;
	font-size: 16px;
}
.news-link{
	line-height: 34px;
	color: #333;
}
.news-link:hover{
	color: #533336;
}

/*底部*/
.foot{
	background-color: #533336;
	border: 1px solid #533336;
	margin-top: 150px;
	/*padding-top: 24px;*/
}
.foot-wrap{
	margin-top: 48px;
	border-top: 2px solid #fff;
}
.foot-tit{
	text-align: center;
	background-color: #533336;
	border: 2px solid #fff;
	width: 296px;
	line-height: 46px;
	font-size: 30px;
	color: #fff;
	margin: -25px auto 30px auto;
}
.foot-link{
	width: 1080px;
	margin: 60px auto 0 auto;
	padding-left: 60px;
	padding-right: 60px;
}
.foot-pic{
	float: left;
	margin: 0 40px;
	width: 100px;
	height: 100px;
}
.foot-pic img{
	width: 100%;
}
.copyright{
	margin-top: 70px;
	text-align: center;
	color: #999;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 40px;
}



/**品牌故事**/
.breadnav{
	width: 1080px;
	margin:  0 auto;
}
.bnav-item{
	float: left;
	margin: 20px 2px 0 2px;
	color: #666;
}
.bnav-item a{
	color: #666;
}
.bnav-item:hover a{
	color: #533336;
}
.comp-wrap{
	margin-top: 30px;
	border-top: 2px solid #533336;
}
.comp-tit{
	text-align: center;
	background-color: #533336;
	width: 300px;
	line-height: 50px;
	font-size: 30px;
	color: #fff;
	margin: -25px auto 30px auto;
}
.comp-pic,.comp-txt{
	width: 1080px;
	margin: 0 auto;
}
.comp-txt{
	margin-top: 40px;
	text-indent: 2em;
	font-size: 18px;
	line-height: 30px;
}


/**美食系列**/
.search{
	border:1px solid #533336;
	float: right;
	display: inline-block;
	height: 40px;
	width: 292px;
	padding-left: 16px;
	border-radius: 20px;
	overflow: hidden;
}
.inp-txt{
	width: 194px;
	height: 46px;
	line-height: 46px;
	font-size: 18px;
	color: #999;
}
.inp-btn{
	width: 100px;
	line-height: 46px;
	margin-right: -10px;
	background-color: #533336;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}
.table-active{
	background-color: #533336;
	color: #fff;
}
.table-wrap{
	width: 1080px;
	margin: 74px auto 0 auto;
	border-bottom: 2px solid #533336;
}
.table-pic{
	width: 1080px;
	margin: 0 auto;
	display: none;
}
.table-show{
	display: block;
}
.ms-wrap{
	float: left;
	text-align: center;
	margin-top: 60px;
}
.ms-right{
	margin-right: 30px;
}
.ms-tit{
	font-size: 24px;
	color: #533336;
	line-height: 40px;
}
.ms-txt{
	font-size: 18px;
	color: #999;
}
.mei-wrap{
	margin-top: 30px;
	width: 1080px;
	margin: 0 auto;
	text-align: center;
}
.mei-tit{
	line-height: 80px;
	font-size: 30px;
}
.mei-pic,.mei-txt{
	text-align: left;
	width: 1080px;
	margin: 0 auto;
}
.mei-txt{
	margin-top: 40px;
	text-indent: 2em;
	font-size: 18px;
	line-height: 30px;
}
/*分页*/
.ms-paging{
	width: 320px;
	margin: 50px auto 0;
}
.pag-item{
	float: left;
	border: 1px solid #533336;
	width: 40px;
	line-height: 40px;
	color: #333;
	text-align: center;
	border-radius: 20px;
	font-size: 24px;
	margin: 0 5px;
}


/**店铺展示**/
.table-active{
	background-color: #533336;
	color: #fff;
}
.table-wrap{
	width: 1080px;
	margin: 74px auto 0 auto;
	border-bottom: 2px solid #533336;
}
.table-item{
	width: 100px;
	line-height: 45px;
	text-align: center;
	display: block;
	float: left;
	cursor: pointer;
}
.table-item:hover{
	background-color: #533336;
	color: #fff;
}
.table-pic{
	width: 1080px;
	margin: 0 auto;
	display: none;
}
.table-show{
	display: block;
}
.shop-wrap{
	float: left;
	text-align: center;
	margin-top: 60px;
}
.shop-right{
	margin-right: 30px;
}
.shop-tit{
	font-size: 24px;
	color: #533336;
	line-height: 40px;
}
.shop-txt{
	font-size: 18px;
	color: #999;
}
/*分页*/
.shop-paging{
	width: 320px;
	margin: 50px auto 0;
}
.pag-item{
	float: left;
	border: 1px solid #533336;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 20px;
	font-size: 24px;
	margin: 0 5px;
}
.ms-paging .pag-active{
	background-color: #533336;
	color: #fff;
}
.shop-paging .pag-active{
	background-color: #533336;
	color: #fff;
}

/**店铺展示-详情**/
.shop-conwrap{
	width: 1080px;
	margin: 0 auto;
}
.shop-contit{
	text-align: center;
	font-size: 30px;
	color: #533336;
	margin-top: 76px;
}
.shop-conpic{
	display: block;
	width: 852px;
	margin: 76px auto 0;
}
.shop-font18{
	font-size: 18px;
	color: #4c4c4c;
}
.shop-font14{
	font-size: 14px;
	color: #808080;
	width: 852px;
	line-height: 20px;
	margin: 0 auto;
	text-align: left;
	margin-top: 24px;
}
.shop-icon{
	display: block;
	width: 200px;
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
	color: #533336;
	line-height: 60px;
	border-radius: 30px;
	margin-top: 40px;
	border: 2px solid #533336;
}
.meishi-icon{
	display: block;
	width: 200px;
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
	color: #533336;
	line-height: 60px;
	border-radius: 30px;
	margin-top: 40px;
	border: 2px solid #533336;
}

/**新闻资讯**/
.newslist-wrap{
	/*width: 1080px;*/
	margin: 0 auto;
	margin-top: 150px;
	border-top: 2px solid #533336;
}
.newslist-tit{
	text-align: center;
	background-color: #533336;
	width: 300px;
	line-height: 50px;
	font-size: 30px;
	color: #fff;
	margin: -25px auto 30px auto;
}
.newslist-box{
	width: 1080px;
	margin: 0 auto;
}
.newslist-pic{
	float: left;
}
.newslist-txt{
	width: 644px;
	float: right;
}
.newslist-font24{
	font-size: 24px;
	color: #333;
}
.newslist-ul{
	border-top: 1px solid #d2d2d2;
	margin-top: 14px;
}
.newslist-time{
	margin-top: 10px;
	font-size: 16px;
}
.newslist-con{
	margin-top: 10px;
	font-size: 14px;
}
.newslist-ul .newslist-link{
	display: block;
	margin-top: 10px;
	color: #c21a04;
	font-size: 14px;
}
.news-line{
	display: block;
	width: 1080px;
	margin: 24px auto;
}

/**新闻资讯-详情**/
.news-conwrap{
	width: 1080px;
	margin: 0 auto;
}
.news-contit{
	text-align: center;
	font-size: 30px;
}
.news-conitem{
	color: #333333;
	margin-top: 30px;
}

/**关于我们**/
.about-wrap{
	width: 1080px;
	margin: 50px auto 0;
}
.about-dl{
	margin-top: 14px;
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 14px;
}
.about-pic{
	float: left;
	margin: 0 20px;
}
.about-txt{
	float: left;
	margin: 0 20px;
}
.about-h{
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 20px;
}
.about-p{
	font-size: 18px;
	line-height: 30px;
}
.about-p2{
	text-align: center;
	font-size: 24px;
	margin-top: 20px;
}




