.weixin:hover img{display:block;}
.weixin img{display:none;float:right;position:relative;bottom:38px;right:16px;}
.wrapper{min-width: 1230px; width:1230px; margin: 0 auto;}
.fix-top{height: 58px;background: #3f3f3f; min-width:1230px; width:100%;}
ul.nav li{float: left;font-size: 19px;width: 158px;line-height: 58px;text-align: center;}
ul.nav li a{color: #efefef;}
/*ul.nav li.on { background: #00A0E9;}*/
ul.nav li.on a{ color: #00A0E9;}
.banner{ min-width:1230px; width:100%;}
.little-icon{width: 141px;height: 58px;}
.logo{background: url("../images/logo.png"/*tpa=http://www.mr-future.com/static/images/logo.png*/) no-repeat 0 center;}
.user-icon{background: url("../images/user-icon.png"/*tpa=http://www.mr-future.com/static/images/user-icon.png*/) no-repeat 112px center;}
.fix-topsec{height: 52px;line-height: 52px;background-color: rgba(240,240,240,0.9); min-width:1230px; position:fixed; top:58px; z-index:100; border-bottom:1px solid rgba(0,0,0,0.2);}
span.mrfu{color: #1c1c1c;font-size: 22px;}
ul.custom li{float: left;width: 110px;text-align: center;}
ul.custom li a{color: #1c1c1c;font-size: 16px;}
.buy-now{width: 81px;height: 28px;background: url("../images/buyat.png"/*tpa=http://www.mr-future.com/static/images/buyat.png*/) no-repeat;margin-top: 12px;}
.readyBtn{width: 95px;height: 92px;margin-top: -46px;margin-left: -47.5px;}
ul.firCharacter li{color: #3e3a39;font-size: 36px;line-height: 64px;}
ul.firCharacter li.era{font-size: 60px;line-height: 180px;}
.sec-img{background: url("../images/family.jpg"/*tpa=http://www.mr-future.com/static/images/family.jpg*/) no-repeat 50% 0;height: 981px;margin-top: 34px;color: #3e3a39;}
.sec-imgP{width: 578px; margin-top: 177px;}
h2.sec-imgTitle{ font-size: 52px;}
p.realchar{font-size: 20px;line-height: 32px;margin-top: 100px;}
.siximg{height: 1172px;background: url("../images/example.jpg"/*tpa=http://www.mr-future.com/static/images/example.jpg*/) no-repeat 50% 0;overflow: hidden;}
ul.public li{float: left;font-size: 20px;color: #3e3a39;line-height: 30px;}
ul.public li.short{width: 115px;}
ul.public{margin-bottom: 306px;}
a.continue{color: #008cd6;font-size: 20px;}
ul.one{width: 80%;    margin-top: 20px;}
ul.one li a{color: #666666; }
ul.one li a:active {test:expression(target="_blank");}
ul.one li{width: 25%;float: left;font-size: 15px; line-height: 24px;}
ul.one li .th,ul.three li.th{font-size: 17px;color: #525252;line-height: 41px;}
.bottom{height: 203px;border-top: 1px solid #adadad;border-bottom:  1px solid #adadad; width:1232px;}

.machine{ height:886px; width:100%;}

.machine .clever{font-size: 48px; margin:0 0 100px 0;}
.machine .fivesm{ color:#221815; margin-top:40px;}
.move-door{height: 875px;background: #d0d0d0 url("../images/inside.png"/*tpa=http://www.mr-future.com/static/images/inside.png*/) no-repeat 50% 0;overflow: hidden;position: relative;}
.move-door .outlook{width: 785px;height: 857px;background: url("../images/outlook.png"/*tpa=http://www.mr-future.com/static/images/outlook.png*/) no-repeat 50% 0;margin-top: 18px;position: absolute; min-width:1230px;background-position: center center;}
.firappear{width: 504px;top: 210px;right: -50%;opacity: 0;}
img.airwet,img.ch4,img.cho,img.light,img.co,span.opc0{opacity: 0;}
img.airwet{top: 265px;left: 91px;opacity: 0;}img.ch4{top: 285px;left: 384px;}img.cho{top: 480px;left: 108px;}img.light{top: 350px;left: 537px;}img.co{top: 508px;left: 318px;}
.tech-video{height: 806px;background: url("../images/tech-vedio.jpg"/*tpa=http://www.mr-future.com/static/images/tech-vedio.jpg*/) no-repeat 50% 0; min-width:1230px;background-position: center center;}
.han-phone{height: 1068px;background: url("../images/handphoneimg.jpg"/*tpa=http://www.mr-future.com/static/images/handphoneimg.jpg*/) no-repeat 50% 0; min-width:1230px;background-position: center center; }


.w390{top: 230px;right: 109px;}
.sofa{height: 1523px;background: url("../images/sofa.jpg"/*tpa=http://www.mr-future.com/static/images/sofa.jpg*/) no-repeat 50% 0; min-width:1230px;background-position: center center;color: #595757; }
ul.warning{width: 870px;margin-top: 100px;}
ul.warning li{float: left;width: 135px; height: 100px; padding-left:65px; line-height:36px;}
.childplay{height: 846px;background: url("../images/childplay.jpg"/*tpa=http://www.mr-future.com/static/images/childplay.jpg*/) no-repeat 50% 0; /*background-position: center center;*/ min-width:1230px;}
.childplay p{color: #595757; line-height:48px;}
.childplay .doknowOut{width: 700px; text-align:center; margin-top:60px;}
ul.baoyouIcon li{width: 25%;float: left;height: 110px;line-height: 110px;overflow: hidden;box-sizing: border-box;}
ul.baoyouIcon li.brg{background: url("../images/line.jpg"/*tpa=http://www.mr-future.com/static/images/line.jpg*/) no-repeat 306px center;}
ul.baoyouIcon li img{margin-right: 12px;display: block;margin-top: 34px;}
p.copyright{color: #828282;font-size: 14px;line-height: 25px;margin: 0 auto; padding:30px;}
.cuss{ margin-top:54px;}
.bestWorkOut{width:1200px; margin:116px auto 0 auto;}
.section-yytitle{
	height:580px;	
}
/*字体样式start*/
.section-yytitle .title-one {
margin:47px 0 20px;;
font-size: 48px;
font-weight: 300;
line-height: 1.25;
color:#505050;


}

.section-yytitle .title {
margin-top:-56px;
font-size: 48px;
font-weight: 300;
line-height: 1.25;
color:#505050;
/*-webkit-transform: translate3d(-200px, 0, 0);
transform: translate3d(-200px, 0, 0);
opacity: 0;
filter: alpha(opacity=0)\9;
-webkit-transition: -webkit-transform 1s, opacity 1s;
transition: transform 1s, opacity 1s;*/

}
/*.section-yytitle.visible .title  {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
opacity: 1;
filter: alpha(opacity=100)\9;
}*/
.section-yytitle .subtitle {
margin: 16px 0 30px;
font-size: 48px;
font-weight: 300;
line-height: 1.25;
color:#505050;
-webkit-transform: translate3d(200px, 0, 0);
transform: translate3d(200px, 0, 0);
opacity: 0;
filter: alpha(opacity=0)\9;
-webkit-transition: -webkit-transform 1s, opacity 1s;
transition: transform 1s, opacity 1s;
}
.section-yytitle.visible .subtitle  {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
opacity: 1;
filter: alpha(opacity=100)\9;
}
.section-yytitle .up {
-webkit-transform: translate3d(0, 60px, 0);
transform: translate3d(0, 60px, 0);
opacity: 0;
filter: alpha(opacity=0)\9;
-webkit-transition: -webkit-transform 1.5s, opacity 1.5s;
transition: transform 1.5s, opacity 1.5s;
}
.section-yytitle.visible .up{
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
opacity: 1;
filter: alpha(opacity=100)\9;
}

.section-xftitle .up {
-webkit-transform: translate3d(0, 60px, 0);
transform: translate3d(0, 60px, 0);
opacity: 0;
filter: alpha(opacity=0)\9;
-webkit-transition: -webkit-transform 1.5s, opacity 1.5s;
transition: transform 1.5s, opacity 1.5s;
}
.section-xftitle.visible .up{
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
opacity: 1;
filter: alpha(opacity=100)\9;
}


.section-bbtitle .title {
-webkit-transform: translate3d(0, -60px, 0);
transform: translate3d(0, -60px, 0);
opacity: 0;
filter: alpha(opacity=0)\9;
-webkit-transition: -webkit-transform 1s, opacity 1s;
transition: transform 1s, opacity 1s;
}
.section-bbtitle.visible .title{
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
opacity: 1;
filter: alpha(opacity=100)\9;
}
.tkuan{margin:0 auto; width:305px; height:114px;margin-top:-20px;margin-bottom:15px;}
ul.orProduct{margin-bottom: 600px;width: 90%; margin-top:-155px;}
ul.orProduct li{float: left;text-align: center;width: 17%;position: absolute;left: 50%;margin-left: -10%;}
ul.orProduct li span{ width:220px;}
ul.typePr li{float: left;text-align: center;width: 304px; padding-left:13px;}
ul.typePr.clearfix.bc{width:1304px;}
ul.typePr{margin-bottom: 86px;}
ul.typePr li span {text-align: center;width:100%;display: inline-block;}
.bgbanner{height: 1080px;background: url("../images/orban.jpg"/*tpa=http://www.mr-future.com/static/images/orban.jpg*/) no-repeat 50% 0;background-position: center center; min-width:1230px;margin-bottom: -7px;}
.bgbanner .clasiff{top: 29%;left: 615px; z-index:5;}
.clasifftwo{top: 92px;left: 38%; text-align:center;}
.clasiffthree{top: 92px;left: 43%; text-align:center;}
.bgbannersecOut{height: 1000px;}
.bgbannersec{
background: url("../images/opsecbanner.jpg"/*tpa=http://www.mr-future.com/static/images/opsecbanner.jpg*/) no-repeat 50% 0;
-webkit-transition: all .1s;
transition: all .1s;
width:100%;
height:1097px;
background-repeat: no-repeat;
background-position: center 0;
min-width:1230px;
-webkit-transition-timing-function: ease;
transition-timing-function: ease;
-webkit-transition-duration: 1s;
transition-duration: 1s;
}
/*字体样式end*/
@keyframes upDown{
	from{transform: translate(0,-2%);}
	50%{transform: translate(0,1%);}
	to{transform: translate(0,-1%);}
}
@-moz-keyframes upDown{
	from{transform: translate(0,-2%);}
	50%{transform: translate(0,1%);}
	to{transform: translate(0,-1%);}
}
@webkit-keyframes upDown{
	from{transform: translate(0,-2%);}
	50%{transform: translate(0,1%);}
	to{transform: translate(0,-1%);}
}
@-o-keyframes upDown{
	from{transform: translate(0,-2%);}
	50%{transform: translate(0,1%);}
	to{transform: translate(0,-1%);}
}
.bgbannerthir{height: 1080px;background: url("../images/thirbanner.jpg"/*tpa=http://www.mr-future.com/static/images/thirbanner.jpg*/) no-repeat 50% 0;background-position: center center; min-width:1230px; margin-top: -18px;}
.airor{width: 1234px;margin-top: 50px;}
.heidth{color: #00a0e9;font-size: 20px;height: 69px;margin-top-16px;letter-spacing: 3px;}
ul.airortype li{float: left; width: 24.9%}
ul.airortype{margin-top: 104px;margin-bottom: 190px;}
ul.airortype li.typechara{height: 188px; text-align:center;}



/*---------------------------------------------智能科技-----------------------------------*/
.w-overall .section-xftitle.machine {
	background:none;
	height:308px;
}
.w-overall .section-door{
	height:875px;	
}
.w-overall .section-door.preload {
	background-color:#f5f5f5;
}
.w-overall .section-door .container {
position: relative;
padding-top:136px;
}
.w-overall .section-door .content {
margin:0 0 0 auto;
width: 720px;
}
.w-overall .section-door .title {
font-size: 52px;
margin: 0 0 26px;
font-weight: 300;
line-height: 1.25;
color:#000000;
}
.w-overall .section-door .text {
font-size: 20px;
font-weight: 300;
line-height: 1.5;
color:#000000;
}

.w-overall .section-door.preload .stage{
	background-image:url("../images/waike_cp.png"/*tpa=http://www.mr-future.com/static/images/waike_cp.png*/);
	background-repeat:no-repeat;
}
.w-overall .section-door .stage {
position: absolute;
top: 0;
left: 50%;
z-index: 1;
width: 100%;
height: 939px;
margin-left: -955px;
}
.w-overall .section-door.preload .waike{
	background-image:url("../images/waike_cp0.png"/*tpa=http://www.mr-future.com/static/images/waike_cp0.png*/);
	background-repeat:no-repeat;
}
.w-overall .section-door .waike {
position: absolute;
left:0;
top:0;
z-index:99;
width:812px;
height:875px;
margin-left:-340px;
opacity:1;
transition-property: margin-left, opacity;
transition-duration: 2s, 2s;
}
.w-overall .section-door.visible .waike  {
margin-left:300px;
opacity:0;
}
.w-overall .section-door .figure {
position: absolute;
opacity: 0;
filter: alpha(opacity=0)\9;
-webkit-transition: all .5s linear;
transition: all .5s linear;
background-repeat:no-repeat;
z-index: 1;
}
.w-overall .section-door.preload .figure-m0 {
background-image:url("../images/waike_cp0.png"/*tpa=http://www.mr-future.com/static/images/waike_cp0.png*/);
}
.w-overall .section-door.preload .figure-m1 {
background-image:url("../images/waike_cp1.png"/*tpa=http://www.mr-future.com/static/images/waike_cp1.png*/);
}
.w-overall .section-door.preload .figure-m2 {
background-image:url("../images/waike_cp2.png"/*tpa=http://www.mr-future.com/static/images/waike_cp2.png*/);	
}
.w-overall .section-door.preload .figure-m3 {
background-image:url("../images/waike_cp3.png"/*tpa=http://www.mr-future.com/static/images/waike_cp3.png*/);
}
.w-overall .section-door.preload .figure-m4 {
background-image:url("../images/waike_cp4.png"/*tpa=http://www.mr-future.com/static/images/waike_cp4.png*/);
}
.w-overall .section-door.preload .figure-m5 {
background-image:url("../images/waike_cp5.png"/*tpa=http://www.mr-future.com/static/images/waike_cp5.png*/);
}
.w-overall .section-door.preload .figure-m6 {}
.w-overall .section-door  .figure-m0 {
opacity: 0;
filter: alpha(opacity=0)\9;
left:300px;
top:18px;
width:812px;
height:857px;
position: absolute;
-webkit-transition: all .5s linear;
transition: all .5s linear;
background-repeat:no-repeat;
z-index: 1;
}
.w-overall .section-door .show .figure-m0 {
opacity: 1;
filter: alpha(opacity=100)\9;
left:0;
}
.w-overall .section-door .figure-m1 {
left: 540px;
top: 354px;
width: 210px;
height: 311px;
}
.w-overall .section-door .figure-m2 {
left: 333px;
top: 514px;
width: 237px;
height: 180px;
}
.w-overall .section-door .figure-m3 {
left: 380px;
top: 280px;
width: 177px;
height: 161px;
}
.w-overall .section-door .figure-m4 {
left: 115px;
top: 487px;
width: 215px;
height: 225px;
}
.w-overall .section-door .figure-m5 {
left: 90px;
top: 240px;
width: 240px;
height: 195px;
}
.w-overall .section-door.visible .show .figure {
opacity: 1;
filter: alpha(opacity=100)\9;
}
.w-overall .section-door .ftext {
position: absolute;
opacity: 0;
filter: alpha(opacity=0)\9;
-webkit-transition: all .5s linear;
transition: all .5s linear;
background-repeat:no-repeat;
z-index: 1;
-webkit-transform: translate3d(20px, 0, 0);
transform: translate3d(20px, 0, 0);
}
.w-overall .section-door .ftext-t1 {
right:-600px;
width:600px;
height:710px;
}
.w-overall .section-door .ftext-t1 .ftitle {
font-size: 32px;
margin: 260px 0 20px 0;
font-weight: 300;
line-height: 1.25;
color:#221815;
-webkit-transform: translate3d(100px, 0, 0);
transform: translate3d(100px, 0, 0);
-webkit-transition: -webkit-transform 1s;
transition: transform 1s;
}
.w-overall .section-door .ftext-t1 .ftitle_sub {
font-size: 26px;
margin: 0 0 60px 0;
font-weight: 300;
line-height: 1.25;
color:#221815;
}
.w-overall .section-door .ftext-t1 .ptext {
font-size: 16px;
font-weight: 300;
line-height: 1.6;
color:#221815;
-webkit-transform: translate3d(100px, 0, 0);
transform: translate3d(100px, 0, 0);
-webkit-transition: -webkit-transform 1s 0.2s;
transition: transform 1s 0.2s;
}
.w-overall .section-door .show .ptext,.w-overall .section-door .show .ftitle,.w-overall .section-door .show .fftitle  {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
.w-overall .section-door.visible .show .ftext {
opacity: 1;
filter: alpha(opacity=100)\9;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}

.fulture{ width:100%; height:800px;}
.fulture .title{ color:#221815; font-size:32px; line-height:80px; margin-bottom:60px; font-weight: 300; line-height:50px;}
.fulture .text{ color:#221815; font-size:16px; line-height:30px;}

.fulture .stage {
position: absolute;
top: 50%;
left: 50%;
z-index: 1;
width: 1920px;
height: 800px;
margin: -400px 0 0 -960px;
}

.w-overall .section-phone{
	height:973px;
margin:-6px !important;
}
.w-overall .section-phone.preload {
	background:url("../images/handphoneimg.jpg"/*tpa=http://www.mr-future.com/static/images/handphoneimg.jpg*/) no-repeat 50% 0;
}
.w-overall .section-phone .container {
margin-left:22%;
position: relative;
padding-top: 18%;
}
.w-overall .section-phone .content {
margin: 0 0 0 auto;
width: 400px;
}
.w-overall .section-phone .title {
margin: 0 0 60px;
font-weight: 300;
line-height: 1.25;
-webkit-transform: translate3d(100px, 0, 0);
transform: translate3d(100px, 0, 0);
opacity: 0;
filter: alpha(opacity=0)\9;
-webkit-transition: -webkit-transform 1s cubic-bezier(.15, .73, .37, 1.2), opacity 1s;
transition: transform 1s cubic-bezier(.15, .73, .37, 1.2), opacity 1s;
}
.w-overall .section-phone.visible .title  {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
opacity: 1;
filter: alpha(opacity=100)\9;
}

.w-overall .section-phone .text {
font-weight: 300;
line-height: 1.5;
-webkit-transform: translate3d(100px, 0, 0);
transform: translate3d(100px, 0, 0);
opacity: 0;
filter: alpha(opacity=0)\9;
-webkit-transition: -webkit-transform 1s cubic-bezier(.15, .73, .37, 1.2) 0.2s, opacity 1s;
transition: transform 1s cubic-bezier(.15, .73, .37, 1.2) 0.2s, opacity 1s;
}
.w-overall .section-phone.visible .text  {
	line-height:30px;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
opacity: 1;
filter: alpha(opacity=100)\9;
}
