
.Login{border:1px solid #dcdfe4;width:320px;position:absolute;right:20px;top:40px;z-index:10;background:#FFF}
.LoginTitle{height:35px;line-height:35px;background:url("../images/relTitle.png"/*tpa=http://www.mr-future.com/static/images/relTitle.png*/) repeat-x;font-size:14px;font-weight:bold;padding-left:16px;}
.Login dl{height:26px;padding-top:18px;line-height:26px;}
.Login dl.checkboxB{padding-top:5px;}
.Login dl.checkboxB dd label{padding-right:15px;float:left;}
.Login dl.checkboxB dd label input{margin:7px 3px 0 0;float:left;}

.Login dl.Btnbox{height:34px;padding-bottom:10px;}
.Login dl dt{width:80px;float:left;text-align:right;}
.Login dl dd{float:left;}
.LoginText{height:18px;line-height:18px;padding:3px;border:1px solid #bbbbbb;float:left;}
.LoginBtn{background:#ff893a;border:0;padding:0;margin:0;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;width:130px;height:34px;font-size:15px;color:#fff;font-weight:bold;cursor:pointer;}
.Login_Other{border-top:#dcdfe4 dashed 1px;width:280px;margin:0 auto;padding:0 10px 18px 10px;}
.Login_Other b{height:36px;line-height:36px;display:block;color:#666666;font-weight:normal;}
.LoginB{background:#f7f7f7;padding:0 20px;border:1px solid #ffffff;width:278px;}
.LoginB p{height:44px;line-height:22px;}
.LoginB p strong{color:#cc6600;}
#userName{position:relative;}
#userName label{position:absolute;line-height:26px;left:0;top:0;padding-left:5px;color:#bbbbbb;}

.LoginB .join{width:130px;border:1px solid #cccccc;display:block;margin:8px auto 15px auto;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;line-height:34px;height:34px;text-align:center;background:#eaebed;font-weight:bold;font-size:14px;}

.register{border:1px solid #dcdfe4;width:1198px;margin:130px auto 130px auto;background:#FFF;padding:0;}
.registerLeft{float:left;padding:40px 0;}
.registerLeft dl{height:26px;padding:0 0 25px 0;}
.registerLeft dl dt{width:130px;float:left;color:#666666;font-size:14px;line-height:26px;text-align:right;}
.registerLeft dl dd{floaT:left;}
.registerLeft dl dd img{margin-left:10px;float:left;}
.registerLeft dl.password{height:45px;}
.registerLeft dl.password dd ul{clear:both;height:14px;padding-top:5px;}
.registerLeft dl.password dd ul li{width:60px;float:left;line-height:14px;background:#ffd099;color:#ffffff;text-align:center;line-height:14px;overflow:hidden;margin-right:1px;}
.registerLeft dl dd span{float:left;padding-left:8px;}


.registerLeft dl.checkboxB{padding:0;}
.registerLeft dl.checkboxB dd input{margin:3px 5px 0 0;float:left;}
.registerLeft dl.checkboxB dd a{color:#317ee7;}
.registerRight{float:right;padding:32px 20px 0 0;}
.registerRight .Login_Other{border:0 none}

.para_blo_title{height:90px;line-height:90px;padding-left:40px;}
.para_blo_title .icon_msg2{width:26px;height:26px;background:url("../images/icon26x26.png"/*tpa=http://www.mr-future.com/static/images/icon26x26.png*/) no-repeat;display:block;float:left;margin-top:32px;}
.para_blo_title .info, .para_blo_title .warning, .para_blo_title .error {
	width:26px;
	height:26px;
	background:url("../images/icon26x26.png"/*tpa=http://www.mr-future.com/static/images/icon26x26.png*/) no-repeat;
	display:block;
	float:left;
	margin-top:32px;
}

.para_blo_title strong{color:#333333;font-family:微软雅黑,黑体;font-size:20px;float:left;font-weight:normal;padding:0 10px;}
.para_blo_title strong span{color:#009900;}
.para_blo_title input{margin-top:30px;}
.register2{border:1px solid #9ddf55;margin-left:40px;background:#f9fff4;width:800px;padding-left:40px;height:100px;margin-bottom:50px;line-height:24px;}
.register3{font-family:微软雅黑,黑体;font-size:16px;color:#cc6633;padding-top:25px;}
.register3 a{font-family:宋体;font-size:12px;color:#005aa0;}
.register2 p{color:#666666;}

.us_Submit_reg{background:url("../images/yx_btn1.gif"/*tpa=http://www.mr-future.com/static/images/yx_btn1.gif*/) no-repeat;width:180px;height:34px;border:0 none;cursor:pointer}

/*找回密码*/
.forget_passwd{padding:0 35px;}
.forget_passwd h2{font-family:微软雅黑,黑体;font-size:18px;height:52px;line-height:52px;padding-top:12px;border-bottom:1px dashed #DCDFE4}
.forget_passwd h2 a{}
.forget_passwd1 ul{width:720px;margin:0 auto;height:150px;padding-top:38px;}
.forget_passwd1 ul li{width:360px;height:108px;float:left;line-height:32px;}

.forget_passwd2{padding:15px 0 30px}
.forget_passwd2 dl{height:26px;padding:14px 0}
.forget_passwd2 dl dt{width:200px;float:left; text-align:right;}
.forget_passwd2 dl dd{float:left;}
.passwdInput{height:34px;line-height:34px;padding:0 25px;border:0 none;font-family:微软雅黑,黑体;font-size:18px;color:#ffffff;cursor:pointer;background:#ff812d;
	background-image: -moz-linear-gradient(top, #ff954f, #ff812d);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff954f), color-stop(1, #ff812d));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff954f', endColorstr='#ff812d', GradientType='0');
	border-radius:2px;
	-moz-border-radius:2px;
}
.forget_passwd2 dl dd img{margin-left:10px;float:left;display:inline}

.J_DcFt{border:1px solid #cccccc;border-top:2px solid #4eb828;height:100px;margin:10px auto;width:100%;}
.J_DcFt dl{float:left;width:24.8%;border-right:1px solid #cccccc;height:100px;}
.J_DcFt dl.text_4{border:0 none}
.J_DcFt dl dt{width:32px;height:32px;float:left;background:url("../images/DcFt.png"/*tpa=http://www.mr-future.com/static/images/DcFt.png*/) no-repeat;margin:26px 0 0 20px;display:inline;}
.J_DcFt dl dd{float:left;width:170px;padding-left:12px;}
.J_DcFt dl dd .ccc{font-size:14px;color:#7aaf17;font-weight:bold;padding-top:18px;}
.J_DcFt dl dd .t{color:#222222;line-height:16px;padding-top:5px;}

.forget_passwd td { padding:10px;white-space: nowrap;}

.forget_passwd .inputBg {
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    height: 47px;
    padding: 0 10px;
    width: 330px;
	color: #858585;
    font-size: 16px;
    font-weight: normal;
}


