/*CSS reset*/
body,div,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,iframe,input,textarea,select,label,article,aside,footer,header,menu,nav,section,time,audio,video{margin:0;padding:0;}
article,aside,footer,header,hgroup,nav,section,audio,canvas,video{display:block;}
button,input,select,textarea{font-size:16px;font-family:arial,\5b8b\4f53,Microsoft YaHei;}
table{border-collapse:collapse ;border-spacing: 0;}
fieldset,img{border: 0;}
textarea{resize:none;}
address,caption,cite,code,dfn,em,strong,th,var{font-style: normal;font-weight: normal;}
ol,ul,li{list-style: none;}
caption,th{text-align: left;}
h1,h2,h3,h4,h5,h6,{font-size: 100%;font-weight: normal;}
q:before,q:after{content: '';}
abbr,acronym{border: 0;}
a,a:visited{text-decoration:none;color:#666;}
.f_l { float: left;}
.f_r { float: right;}
.doc_bottom{ background:#fff;}

/*文字排版*/
.f12{font-size: 12px;}
.f13{font-size: 13px;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f20{font-size: 20px;}
.f24{font-size: 24px;}
.f28{font-size: 28px;}
.f48{font-size: 48px;font-weight:300;}
.f30{font-size: 30px;font-weight:300;}
.f34{font-size: 34px;font-weight:300;}
.f47{font-size: 32px;font-weight:300;}
.f50{font-size: 50px; font-weight:300;}
.f52{font-size: 52px;font-weight:300;}
.f60{font-size: 32px;font-weight:300;}
.f72{font-size: 72px;font-weight:300;}
.f40{font-size: 40px;font-weight:300;}
.f61{font-size: 32px;}
.fb{font-weight: bold;}
.fn{font-weight: normal;}
.t2{text-indent: 2em;}
.color333{color: #333333;}
.color666{color: #666666;}
.color999{color: #999999;}
.color3e{color: #3e3a39;}
.colorwh{color: #151515;}
.color22{color: #221815;}
.c_f0{color: #ff0000;}
.c_blue{color: #00a0e9;}

.unl{text-decoration: underline;}
.no-unl{text-decoration: none;}
input {outline:none;}
/*定位*/
.tl{text-align: left;}
.tc{text-align: center;}
.tr{text-align: right;}
.bc{margin: 0 auto;}
.fl{float: left;}
.fr{float: right;}
.cb{clear: both;}
.cl{clear: left;}
.cr{clear: right;}
.clearfix:after{content: '';display: table;clear: both;}
.clearfix{*zoom: 1;}
.vm{vertical-align: middle;}
.pr{position: relative;}
.pa{position: absolute;}
.abs-left{position: absolute;left: 0;}
.abs-top{position: absolute;top: 0;}
.abs-left50{position: absolute;left: 50%;}
.abs-right50{position: absolute;right: 50%;}
.abs-top50{position: absolute;top: 50%;}
.abs-bottom50{position: absolute;bottom: 50%;}
.zoom{zoom:1;}
.hidden{visibility: hidden;}
.none{display: none;}
.db{display: block;}
.dib{display: inline-block;}
/*长度高度*/

.w{width: 100%;}
.w390{width: 390px;}
.w435{width:435px}
.w775{width:775px}
.w624{width:624px}
.w140{width:140px}
.w150{width:150px}
.w200{width:200px}
.h{height: 100%;}
.lh24{line-height: 24px;}
.lh32{line-height: 30px;font-weight:300;}
.lh40{line-height: 40px;}
.lh80{line-height: 80px;}
.lh63{line-height: 63px;}
.lh65{line-height: 65px;}
.lh90{line-height: 90px;}
.lh300{line-height: 300px;}
/*边距*/
.mt23{margin-top: -23px;}
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt13{margin-top: 13px;}
.mt20{margin-top: 20px;}
.mt17{margin-top: 17px;}
.mt28{margin-top: 28px;}
.mt90{margin-top: 90px;}
.mt200{margin-top: 200px;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.mb33{margin-bottom: 33px;}
.mb50{margin-bottom: 50px;}
.mb70{margin-bottom: 70px;}
.mb114{margin-bottom: 35px; margin-top:530px;}
.mb134{margin-bottom: 134px;}
.mb200{margin-bottom: 200px;}
.ml5{margin-left: 5px;}
.ml150{margin-left: 150px;}
.ml74{margin-left: 74px;}
.ml20{margin-left: 20px;}
.mr5{margin-right: 5px;}
.mr20{margin-right: 20px;}
.mr40{margin-right: 40px;}
.m10{margin: 10px;}
.pt5{padding-top: 5px;}
.pt20{padding-top: 20px;}
.pt56{padding-top: 56px;}
.pb5{padding-bottom: 5px;}
.pb20{padding-bottom: 20px;}
.pl4{padding-left: 4px;}
.pl10{padding-left: 10px;}
.pl15{padding-left: 15px;}
.pl20{padding-left: 20px;}
.pl56{padding-left: 56px;}
.pr4{padding-right: 4px;}
.pr10{padding-right: 10px;}
.pr20{padding-right: 20px;}
.p10{padding: 10px;}
.p30{padding: 30px;}
.p40{padding: 40px;}
.nomarr{margin-right: 0;}
.t58{top: 58px;}

/*背景颜色*/
.bgwhite{background: white;}
.bggreen{background: #81c135;}
.nbor{border: none;}
.nobr{border-right: none;}
.nobf{border-left: none;}
.bor{border-right: 1px solid #dbdcdb;}
.borm{border-bottom: 1px solid #dbdcdb;}
.bg_f3 { background:#f3f3f3;}
.bg_f4 { background:#f4f4f4;}
.bg_back { background:#f4f4f4;}
.bg_f7 { background:#f7f7f7;}
/** 按钮  */
.btn_blue1 {width:83px;height:28px;background:url("../images/on_pay_03.png"/*tpa=http://www.mr-future.com/static/images/on_pay_03.png*/);border:0;color:#fff;font-size:11px;font-weight:lighter;}
.btn_blue {width:72px;height:24px;line-height:24px;background:url("../images/on_pay_11.png"/*tpa=http://www.mr-future.com/static/images/on_pay_11.png*/);border:0;color:#fff;font-size:9px;font-weight:lighter;}
.userLeft a.btn_blue1, .userRight a.btn_blue1{ display:inline-block;color:#fff;line-height:28px;margin-top:5px;text-align:center;}
.btn_e {width:72px;height:24px;line-height:24px;background:url("../images/on_pay_13.png"/*tpa=http://www.mr-future.com/static/images/on_pay_13.png*/);border:0;color:#040404;font-size:9px;font-weight:lighter;}
/** 间距  */
.blank40 { height:40px;width:100%;clear:both;dispaly:block;}
.blank70 { height:70px;width:100%;clear:both;dispaly:block;}
.blank80 { height:80px;width:100%;clear:both;dispaly:block;}
.blank100 { height:100px;width:100%;clear:both;dispaly:block;}
/*全局*/
body{font-size:16px; color:#666666;background-color: #efeeee;font-family: "microsoft yahei";}
.pointer{cursor: pointer;}
.oh{overflow: hidden;}

.main_condent { width:1230px;overflow:hidden;width: 1230px;margin:0 auto;}
.goods_condent .goods_left { width: 740px;position: fixed;top:75px;}
.goods_condent .goods_left .goods_img {padding: 75px 80px 0;text-align:center;}
.goods_condent .goods_left .goods_img img { height:500px}
.goods_condent .goods_right .price,.goods_condent .goods_right .btn_box{float:left;padding-bottom:35px;margin-right:15px;}
.goods_condent .goods_right .price { color:#ff0000; font-weight: lighter;}
.goods_condent .goods_right .price font { font-size:26px; }
.goods_condent .goods_right .price span { font-size:40px; }
.goods_condent .goods_right .btn_box { position:absolute;left:300px; /*bottom:75px;*/}
.goods_condent .goods_right .btn_box .btn {background: url("../images/goods_buy_btn_03.png"/*tpa=http://www.mr-future.com/static/images/goods_buy_btn_03.png*/) no-repeat scroll center center;
    color: #fff;
    display: inline-block;
    font-size: 25px;
    height: 61px;
    line-height: 61px;
    width: 182px;text-align:center;}


.goods_condent .goods_right .goods_item_top .shichang{ font-size:18px; text-decoration:line-through; line-height:30px;}
.goods_condent .goods_right .cart{ position:absolute; left:351px; top:218px;}
.goods_condent .goods_right {  width:490px;}
.goods_condent .goods_right .goods_item_top {position: fixed; background-color: #f1f1f1; z-index: 99; padding-top: 120px;top: 0; width: 490px;}
.goods_condent .goods_right .goods_itop { margin-top:228px}
.goods_condent .goods_right .goods_item { margin-bottom:35px;font-weight:lighter;color:#424141;border-bottom: 1px solid #c8c8c8;clear:both;    overflow: hidden;}
.goods_condent .goods_right .goods_item a { color:#424141;}
.goods_condent .goods_right .goods_item .style_name {display: block;font-size: 40px;font-weight: lighter;padding-bottom: 10px;}
.goods_condent .goods_right .goods_item .attr_title { color:#424141;font-size: 16px;}
.goods_condent .goods_right .goods_item .catt_r { padding: 35px 0;}
.goods_condent .goods_right .goods_item .catt_r .catt a {  border: 2px solid #d5d5d5;overflow:hidden;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 20px;
    padding: 20px 80px;position: relative;}
.goods_condent .goods_right .goods_item .catt_r .catt a.cattsel { border: 2px solid #f8b551;}
.goods_condent .goods_right .goods_item .catt_r .catt a.cattsel em {display:inline-block;background:url("../images/jt_03.png"/*tpa=http://www.mr-future.com/static/images/jt_03.png*/) no-repeat;height:51px;width:51px;    position: absolute;right: -3px;bottom: -2px;}
.goods_condent .goods_right .goods_item .catt_r .catt a span { display:block;text-align:center;margin-left:-3px;}
.goods_condent .goods_right .goods_item .catt_r .catt .attr_desc { color:#424141;font-size: 12px;width:257px;text-align:center;}

.bottom_new { box-shadow: 1px 1px 3px 5px #ddd;}
.bottom_new ul { height:35px;width:1230px;margin:0 auto;padding:35px 0;}
.bottom_new ul li {text-align:center;float:left;width:306px;line-height:35px;height:35px;border-left:1px solid #c4c4c4;}
.bottom_new ul li em { display: inline-block;
    vertical-align: bottom;
    width: 60px;}

.art_title { padding:60px 0; text-align:center;color:#606060;font-size:44px;}
.art_ul { display:block; overflow:hidden;}
.art_ul .art_item { clear:both;}
.art_ul .art_item .item_left { float:left; font-size:34px;font-weight:lighter;padding-top:70px;text-indent:25px;border-top:2px solid #84c225;width:270px;}
.art_ul .art_item .item_right { float:right; border-top:1px solid #bcbcbc;width:960px;}
.art_ul .art_item .item_right .art_condent { padding-left:130px;padding-top:70px;padding-bottom:80px;}

.top_banner { width:100%;height:800px;}
.top_banner a {}

.login_box {}
.login_box .Login { width:350px;margin:0 auto;padding:180px 0;}
.login_box .Login dl {padding-bottom:20px;}
.login_box .Login .LoginText { height:47px;border:1px solid #c9c9c9;width:330px;border-radius: 8px; padding: 0 10px;}
.login_box .Login .LoginText { color:#858585;font-size:16px;font-weight: normal;}
.login_box .Login .LoginBtn { width:350px;color:#fff;border:0;height:45px;line-height:45px;border-radius: 8px;background:#00b0ec;font-weight: normal;font-size:18px;cursor: pointer;}
.login_box .Login .checkboxB { font-size:14px; color:#434343;}
.login_box .Login .checkboxB a { color:#00b0ec; padding-left:30px;}
.login_box .Login .LoginB { text-align:center;}

.user_bottom { border-top :1px solid #dbdbdb;text-align:center;color:#828282;font-weight:lighter;width:1232px;margin: auto; position:relative; bottom:-65px;}
.login_box .Login .LoginB a{ color:#00b0ec; font-size:14px;}

.register { width:350px;margin:0 auto; padding:135px 0;}
.register .LoginText { height:47px;border:1px solid #c9c9c9;width:330px;border-radius: 8px; padding: 0 10px; color:#858585;font-size:16px;font-weight: normal;}
.register .LoginBtn { width:350px;color:#fff;border:0;height:45px;line-height:45px;border-radius: 8px;background:#00b0ec;font-weight: normal;font-size:18px;cursor: pointer;}
.register dd { padding-bottom:20px;}
.register .us_Submit_reg { width:350px;color:#fff;border:0;height:45px;line-height:45px;border-radius: 8px;background:#00b0ec;font-weight: normal;font-size:18px;cursor: pointer; }
.register .registertitle { padding-bottom:38px;}
.register .registertitle  a { color:#969696;font-size:18px;}
.register .registertitle  a.on { color:#00b0ec;}
.register .registertitle  a.f_l{margin-right:100px;}
.register .register_box .frm_email { display:none;}
.register .verify_box { position: relative;}
.register .verify_btn { position: absolute;right:0;top:0;display:inline-block;color:#858585;border-left:1px solid #cfcfcf ; height:35px;margin-top: 7px;width:auto;padding:0 10px;text-align:center;line-height:35px;} 

.flowBox{width:1030px; margin:0 auto; margin-top:20px; margin-bottom:10px;}
.flowBox table{background:#FFFFFF; border:solid 1px #DCDFE4;}
.flowBox h6{  border-bottom: 1px solid #d5d5d5;color: #404040;font-size: 18px;padding-bottom: 22px;margin-bottom:35px;clear:both;}
.flowBox table td{ padding:5px;}
.flowBox h6 .f6{ color:#005EA7; padding-left:30px; font-weight:100; font-size:12px}
.flowBox .flow_item { border:1px solid #d5d5d5; padding:18px;width:292px;height:178px;float:left;margin-right:20px;margin-bottom:35px;}
.flowBox .flow_item.on { border:1px solid #00c2f8;}
.flowBox .flow_item .address_id { display:none;}
.flowBox .flow_item .consignee_name { font-size:18px;padding-bottom:15px;border-bottom:1px solid #eeeeee; }
.flowBox .flow_item .address_info { line-height:24px;padding-top:10px;}
.flowBox .flow_item .consignee_btn { padding-top:10px;}
.flowBox .flow_item .consignee_btn a { color:#595959;font-size:14px;border:1px solid #eee;padding:0 15px;display:inline-block;margin-right:10px;}
.flowBox .flow_item .add_consignee { text-align:center;position: relative;top:50%; margin-top:-12px;}
.flowBox .flow_item .add_consignee a { display:inline-block;padding-left:25px;font-size:16px;color:#00c2f8;background:url("../images/add_con.png"/*tpa=http://www.mr-future.com/static/images/add_con.png*/) no-repeat left center;}
.add_con { display:none;;width:748px;border:1px solid #d1d1d1;height:515px;position: fixed;left:50%;margin-left:-374px;top:50%;margin-top:-257px;box-shadow: 1px 4px 9px 2px #ddd;    border-radius: 30px;overflow:hidden;background:#fff;}
.add_con .title{ background:#f4f4f4;height:63px;line-height:63px;font-size:26px;padding:0 50px;}
.add_con .title i {display:inline-block;width:23px;height:23px;background:url("../images/close_03.png"/*tpa=http://www.mr-future.com/static/images/close_03.png*/) no-repeat ;float:right;margin-top:22px;}
.add_con .con_box { color:#595959;}
.add_con .con_box ul {padding:56px 120px;}
.add_con .con_box li { clear:both;margin-bottom:30px;overflow: hidden;}
.add_con .con_box input { border-radius:10px;padding: 10px;border: 1px solid #d5d5d5;float:left;margin-right:15px;color:#595959;}
.add_con .con_box li select { border-radius:10px;padding: 10px;color:#595959;}
.add_con .bottom { background:#f4f4f4; height:55px;padding:0 50px;}
.add_con .bottom a,.add_con .bottom input  { display:inline-block;width:118px;height:38px;line-height:38px;text-align:center;    margin-top: 8px;}
.add_con .bottom .f_l { background:url("../images/check_btn_03.png"/*tpa=http://www.mr-future.com/static/images/check_btn_03.png*/);color:#fff;line-height: 20px;}
.add_con .bottom .f_r { background:url("../images/check_btn_05.png"/*tpa=http://www.mr-future.com/static/images/check_btn_05.png*/);color:#595959; margin-top:margin-top:15px;}
.newtables{border-collapse:collapse;}
.newtables th{ background:#ECECEC}
.newtables td,th{border: solid 1px #CCCCCC; padding:0; border-spacing:0; cellspacing:0; cellpadding:0; line-height:34px;text-indent:12px;}


.index_banner { }
.index_banner .slideBox { width:100%;clear:both;height:660px;overflow:hidden;position: relative;}
.index_banner .slideBox .hd {bottom: 10px; display: block; position: absolute; text-align: center; width: 100%;z-index:99;}
.index_banner .slideBox .hd li {display:inline-block;width:10px;height:10px;background:url("../images/icon111_03.png"/*tpa=http://www.mr-future.com/static/images/icon111_03.png*/) no-repeat right center;margin:0 5px;text-indent: 99px;overflow: hidden;cursor:pointer;}
.index_banner .slideBox .hd li.on { background:url("../images/icon111_03.png"/*tpa=http://www.mr-future.com/static/images/icon111_03.png*/) no-repeat left center;}
.index_banner .slideBox .bd li { display:block;height:660px;width:100%;}
.index_banner .slideBox .bd li a { display:block;height:100%;width:100%;}
.index_banner .slideBox .prev,.index_banner .slideBox .next {    display: none;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    color: #fff;
    font-size: 40px;
    width: 55px;
    font-family: serif;
    height: 90px;
    text-align: center;
    background:url("../images/back_bg.png"/*tpa=http://www.mr-future.com/static/images/back_bg.png*/);text-align:center;line-height:90px;
    }
/* .index_banner .slideBox:hover .prev,.index_banner .slideBox:hover .next {  display:inline-block;z-index:99;} */
.index_banner .slideBox .prev { left:10% ;}
.index_banner .slideBox .next { right:10%; }



.index_video { background:#f4f4f4;width:100%;height:200px;position: relative; margin-top:10px;}
.index_video ul {width:965px;height:200px;margin:0 auto;border-left:2px solid #fff;}
.index_video ul li { float:left;border-right:2px solid #fff;height:100%;} 
.index_video .left_about,.index_video .right_contact {height:200px;position: absolute; top:0;}
.index_video .left_about { left:0;}
.index_video .right_contact { right:5px;}
.index_video .right_contact img{ width: 468px;height: 200px;}
.index_video .left_about img{width: 468px;height: 200px;}

.product_list { overflow:hidden;margin: 25px 0;width:100%;}
.product_list ul { width: 1257px;;display:block;clear:both;}
.product_list li { float:left;border:3px solid #eeeeee;width:387px;margin-right:25px;margin-bottom:25px;background:#fff;border-radius:10px;}
.product_list li .goods_img { text-align:center;}
.product_list li .goods_img img { width:245px;height:245px;padding:10px 0;}
.product_list li .goods_name { padding:0 20px;text-align:center;}
.product_list li .goods_name .name {color:#3b3b3b;font-size:18px;}
.product_list li .goods_name .name-bt {color:#3b3b3b;font-size:14px;}
.product_list li .goods_name .brief {  color:#7e7e7e;line-height:24px;height:24px;}
.product_list li .goods_buy { text-align:center;padding:30px 0;width:242px;height:76px;margin:0 auto;}
.product_list li .goods_buy .price { display:inline-block; background:url("../images/buy_03.png"/*tpa=http://www.mr-future.com/static/images/buy_03.png*/) no-repeat center center;
width:130px;
height:42px;
font-size:26px;
color:#ff7800;
line-height:0px;font-weight:lighter;
margin-left:0px;}
.product_list li .goods_buy .price a{
	display: block;
	padding-top:20px;
}

.product_list li .goods_buy .price1{width:242px;height:36px; color:#ff7800; float:left;}
.product_list2 .info .btn{ text-align:center;width:165px;float:left;}

.product_list2 .info .btn .price{display:inline-block; background:url("../images/buy_03.png"/*tpa=http://www.mr-future.com/static/images/buy_03.png*/) no-repeat center center;
width:130px;
height:42px;
font-size:26px;
color:#fff;
line-height:0px;font-weight:lighter;
margin-left:-18px;}
.product_list2 .info .btn .price a{
	display: block;
	padding-top:20px;}
.product_list2 .info .btn .price1{width:333px;height:36px; color:#ff7800; float:left;}
.product_list2 .info-one .btn{ text-align:center;padding:30px 0;width:114px;height:76px;float:right;}

.product_list2 .info-one .btn .price{display:inline-block; background:url("../images/buy_03.png"/*tpa=http://www.mr-future.com/static/images/buy_03.png*/) no-repeat center center;
width:130px;
height:42px;
font-size:26px;
color:#fff;
line-height:0px;font-weight:lighter;
margin-left:-18px;}
.product_list2 .info-one .btn .price a{
	display: block;
	padding-top:20px;
}
.product_list2 .info-one .btn .price1{width:242px;height:36px; color:#ff7800; float:left;}



.register.message-reg {
	border: 1px solid #adadad;
    clear: both;
    margin: 50px auto;
    padding: 15px;
	width:600px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
	background:#fff;
	font-size:14px;
	line-height:150%;
}

.register.message-reg .LoginTitle {color:#00A0E9;font-weight:bold;padding:0 0 15px;font-size:16px;border-bottom:1px solid #adadad;}
.register.message-reg .para_blo_title, .register.message-reg .register3{text-align:center;}
.register.message-reg .para_blo_title {padding:15px 0;}
.register.message-reg .register3 {}
.register.message-reg  .tit {color:#F29A76;}
.register.message-reg a {color:#00A0E9;padding:0 5px;}
.register.message-reg a:hover {color:#F29A76;}
 
.user_condent { margin-bottom:250px;width:1070px;}
.userLeft { width:160px;float:left;color:#404040;}
.userRight { width:830px;float:right; color:#404040;}
.userLeft a ,.userRight a { color:#404040; }
.userRight h5 { font-size:18px;border-bottom:1px solid #00a0e9;font-weight:normal;padding:0 40px 20px 40px;}
.userRight h5 .btn_blue1 { float:right;}
.user_menu { }
.user_menu dt {     color: #404040;border-bottom: 1px solid #00a0e9;font-size: 18px;text-align: center;padding-bottom: 20px;}
.user_menu dd.avatar { position: relative;}
.user_menu dd.avatar img { width:160px;height:160px;padding:35px 0;}  
.user_menu dd.avatar a { position: absolute;display: inline-block;text-align:center;height:40px;line-height: 40px;width:100%;font-size:21px;color:#fff;background:url("../images/tx_bg_03.png"/*tpa=http://www.mr-future.com/static/images/tx_bg_03.png*/);bottom:35px;}
.user_menu dd { border-bottom:1px solid #eeeeee;text-align:center;font-size:18px;line-height:50px;}
.user_menu dd.cur a { color:#00a0e9;}
.user_box { overflow:hidden;}
.user_box .user_item { }
.user_box .user_item li { padding:35px 40px;border-bottom:1px solid #eee;clear:both;overflow:hidden;}
.user_box .user_item li .title { font-size:18px;line-height:35px;}
.user_box .user_item li .desc {font-size:14px;line-height:24px;}
.user_box .user_item li .f_r a { color:#00a0e9;display:block;text-align:right;line-height:25px;}

.user_frm { margin:100px auto;}
.user_frm li {margin-bottom:20px;text-align:center;}
.user_frm  .LoginText { height:47px;border:1px solid #c9c9c9;width:330px;border-radius: 8px; padding: 0 10px;}
.user_frm  .LoginText { color:#858585;font-size:16px;font-weight: normal;}
.user_frm  .LoginBtn { width:350px;color:#fff;border:0;height:45px;line-height:45px;border-radius: 8px;background:#00b0ec;font-weight: normal;font-size:18px;cursor: pointer;}
.user_frm .us_Submit_reg { width:350px;color:#fff;border:0;height:45px;line-height:45px;border-radius: 8px;background:#00b0ec;font-weight: normal;font-size:18px;cursor: pointer; }
.user_frm label { display:inline-block;padding-right:20px;width:90px;text-align:right;}

.user_container { padding:0 40px;}
.user_table { border-radius:10px;margin:40px 0;width:740px;} 
.user_table table ,.user_table th ,.user_table td { border:0;}
.user_table table {background:url("../images/table_03.png"/*tpa=http://www.mr-future.com/static/images/table_03.png*/) no-repeat;}
.user_table th { font-size:14px;height:53px;text-align:center; }
.user_table tbody td { padding: 25px 10px;text-align:center;}
.user_table tbody td.left_bg { background:url("../images/table_01.png"/*tpa=http://www.mr-future.com/static/images/table_01.png*/) left top;background-repeat: repeat-y;}
.user_table tbody td.right_bg { background:url("../images/table_02.png"/*tpa=http://www.mr-future.com/static/images/table_02.png*/) right top;background-repeat: repeat-y;}
.user_table tbody td.right_bg input { margin-top:5px;}
.user_table .table_bottom { background:url("../images/table_06.png"/*tpa=http://www.mr-future.com/static/images/table_06.png*/) no-repeat;width:100%;height:19px;}

.NewsTitle { text-align:center;padding:10px 0;display:none;}
.NewsContent { padding:20px;}

.user_table .left_bg { }
.user_table .left_bg .goods_info { color:#404040;}
.user_table .left_bg .goods_info a { color:#404040;}
.user_table .left_bg .goods_info font { dispaly:inline-block;width:200px;}
.user_table .left_bg .goods_info span { dispaly:inline-block;width:200px;}


.invpayee_box {}
.invpayee_box p { padding: 5px 0;}

.flowBox .user_table table {
    background: url("../images/table2_03.png"/*tpa=http://www.mr-future.com/static/images/table2_03.png*/) no-repeat;
}
.flowBox .user_table .table_bottom {
    background: url("../images/table2_06.png"/*tpa=http://www.mr-future.com/static/images/table2_06.png*/) no-repeat;
    width: 100%;
    height: 19px;
}
.flowBox .total { }
.flowBox .total .f4_b { font-weight: bold;display: inline-block;width: 200px;text-align: left;}
.flowBox .total input { vertical-align: middle;    position: relative; right: -200px;}

.no_order { height:250px;line-height:250px;}
.no_order a{ color:#00a0e9;}
.done_flow .done_box { border:1px solid #d5d5d5;padding:40px 20px;overflow:hidden;}
.done_flow  .done_btn {clear: both; overflow: hidden; margin-bottom: 200px;}
.done_flow .done_box .done_info { padding-left:20px;}
.done_flow .done_box .done_info .title { font-size:20px;padding-bottom:40px;}
.done_flow .done_box .done_info .order_sn { padding-bottom:30px;border-bottom:1px solid #d5d5d5;width:600px;margin-bottom:30px;}
.done_flow .done_box .done_info .goods { line-height:28px;}
.done_flow .done_box .done_info .goods span {display:inline-block;width:100px;}
.done_btn .btn_blue1 { background:#ea5245;color:#fff;width:165px;height:45px;float:right;margin-top:20px;}

.pay_box { border:1px solid #e2e2e2;padding:30px 20px;}
.pay_box label {
	margin-right:40px;
}
.user_table .order_info .way input ,.user_table .way a ,.user_table .order_info form { display:inline-block; }
.user_table .order_info .way .btn_e{display:inline-block;}
.user_table .order_info .title {font-size:18px;line-height:24px;padding:5px; }
.user_table .bottom_border td { border-bottom:1px solid #dfdfdf;}

.order_con {padding: 20px 0;line-height:40px;}
.user_flow { width:100%;margin-left:40px;}
.pass_box { }

.little-icon.top_user { position: relative;width:30px;}
.top_user  .user-icon{    display: inline-block;
    width: 28px;
    height: 55px;
    background-position: 0;float:right;}

.top_user .user_link {     display: none;
    position: absolute;
    width: 180px;
    background: #fff;
    left: -90px;
    top: 60px;
    border-radius: 10px;
    box-shadow: 2px 0px 8px 3px #999;}
.top_user:hover .user_link { display: block;}
.top_user .user_link em { position: absolute;top:-5px;width: 0px;top:-12px;left:90px;
            height: 0px;
            border-left: 14px solid transparent;
            border-right: 14px solid transparent;
            border-bottom: 14px solid #fff;z-index:0;}

.top_user .user_link li { text-align:center;padding:10px;border-bottom:1px solid #eeeeee;}
.top_user .user_link li a { color:#808487;}
.user_link .img img { width:60px;height:60px;border-radius: 100%;z-index:9999;}

.product_list2 { overflow: hideen;clear:both;padding:40px 165px;height:365px;margin-bottom:40px;}
.product_list2 .info { padding:80px 0;font-weight:lighter;}
.product_list2 .info .title { font-size:28px;padding-bottom:25px;}
.product_list2 .info .title-bt { font-size:28px;padding-bottom:25px;}
.product_list2 .info .desc { padding-bottom:25px;}
.product_list2 .info .btn {text-align:center;}
/*.product_list2 .info .btn a {    display: inline-block;
    background: url(../images/buy_03.png) no-repeat center center;
    width: 129px;
    height: 42px;
    font-size: 25px;
    color: #fff;
    line-height: 42px; }*/

	
.product_list2 .info-one { font-weight:lighter; position:relative;right:-35px;top:-310px;text-align:right;}	
.product_list2 .info-one .title { font-size:36px;padding-bottom:25px;padding-left:73px;}
.product_list2 .info-one .title-bt { font-size:24px;padding-bottom:25px;padding-left:73px;}
.product_list2 .info-one .desc { padding-bottom:25px;text-align:center;}
.product_list2 .info-one .btn {text-align:center;}
/*.product_list2 .info-one .btn a {    display: inline-block;
    background: url(../images/buy_03.png) no-repeat center center;
    width: 129px;
    height: 42px;
    font-size: 25px;
    color: #fff;
    line-height: 42px; }*/


.user_upimg { padding:40px;}
.user_upimg .user_img { }
.user_upimg .user_img p { padding-bottom:25px;}
.user_upimg .up_item { border-top:1px solid #eeeeee;padding:40px 0;}
.user_upimg .up_item .big_img img { width:340px;height:340px;border:1px dotted #bfbfbf; }
.user_upimg .up_item .up_box { margin-left:40px;}
.user_upimg .up_item .up_box .title { font-weight:bold;}
.user_upimg .up_item .up_box .img { padding: 15px 0;}
.user_upimg .up_item .up_box .img img { width:130px;height:130px;}
.user_upimg .up_item .up_box a,.user_upimg .up_item .up_box input { display:inline-block;background:#f5f5f5;border:1px solid #c9c9c9;border-radius:10px;}


.pagebar {text-align:right;overflow:hidden;}
.pagebar span,.pagebar a {padding: 5px 15px;
    border: 1px solid #ddd;
    display: inline-block;border-radius: 5px; margin:0 2px; } 
.pagebar a { }
.pagebar a:hover,.pagebar span.page_now { border:1px solid #527AD6;color:#fff;background:#527AD6;}

.change_box {}

.change_box a {    display: inline-block;
    background: #F4F4F4;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    position: relative;}
.change_box a.jia {    left: -6px;}
.change_box a.jian { right: -6px;}
.change_box input { border: 1px solid #ddd;text-align:center;height: 30px;width:50px;}
.pay_btn_bottom { padding:10px 0;}
.pay_btn_bottom br { display:none;height:0;}