@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, select{margin: 0;padding: 0;border: 0;}
table{ border-collapse:collapse;}
body{font-size:12px;color:#333; font-family:"微软雅黑";}
img,a{border:0; text-decoration:none;}
ol, ul {list-style: none; }
.clears{ clear:both;}
a{color:#333;}
a:hover{color:#F00;}
.header,.mainCont,.foot{width:1280px;margin:0 auto;}

/*header*/
.header{height:86px; position:relative;}
.logo{width:316px;height:86px; float:left;}

/*nav*/
.nav{width:740px;float:left;padding:30px 0 0 15px;}
.nav li{float:left;width:104px; position:relative;}
.nav li a{ float:left;width:104px;height:40px;line-height:40px; text-align:center; font-size:14px;}
.nav li a:hover,.nav .navCur a.styles{color:#fe6600; font-weight:bold;}
.nav .chilNav{width:123px; position:absolute;left:0;top:39px; background:#fff; display:none;z-index:9999;border:#CCC 1px solid;padding:10px 0;}
.nav .chilNav a{height:25px;line-height:25px; text-align:left;padding-left:10px;color:#333;font-size:12px;}
.nav .chilNav a:hover{color:#06F;}
.nav .chilNav span{ display:block;padding-left:10px;}
.nav .chilNav span a:hover{ color:#06F;}
.nav .chilNav.chilNavBIg{width:256px;padding:10px;}
.chilLeft{width:120px;float:left;border-right:#E1E1E1 1px solid;}
.chilRight{width:120px;float:right;}

/*selects*/
.selects{width:177px;float:right;margin-top:45px;}
.selects div{width:177px;height:27px; position:relative;}
.selects input{margin:0;padding:0;border:0; background:none;}
.selects .selText{width:143px;height:25px;border:#E8EAEB 1px solid;padding-left:5px; position:absolute;left:0;top:0;}
.selects .selSub{width:27px;height:27px; position:absolute;right:0;top:0;}
.phone{width:200px;height:45px;line-height:45px; text-align:right;font-size:14px; font-weight:bold; position:absolute;top:0;right:0;}

/*banner*/
#kinMaxShow{visibility:hidden;width:100%; height:395px; overflow:hidden;}

/*mainCont*/
.mainCont{padding:15px 0; overflow:hidden;}
.mctLeft{width:1040px;float:left; overflow:hidden}
.title{margin-bottom:8px;}
.title h2{width:119px;height:29px;padding-left:12px;color:#fff; background:url(../images/title.jpg) left center no-repeat;line-height:29px;font-size:16px; float:left;}
.title ul{width:780px; float:left;padding:7px 0 0 20px;}
.title ul li{width:110px;font-size:14px; text-align:center;height:25px;line-height:25px; float:left;}
.title ul li.newCur a{color:#F60; font-weight:bold;}
.mores{width:50px; float:right;line-height:36px;margin-right:20px;}
.mores a:hover{color:#900; font-weight:bold;}

/*inNewList*/
.inNewList{width:238px;height:304px;border:#D7D7D7 1px solid;border-top:#0095D8 2px solid; float:left;margin:0 20px 20px 0; position:relative;padding-top:4px; background:url(../images/jiantou.jpg) 28px 0px no-repeat;}
.inNewList.inNewListbor{border:#0095D8 1px solid;border-top:#0095D8 2px solid;}
.inNewList dl{padding:0 16px;}
.inNewList dt h3{height:33px;line-height:33px;color:#0a8bc4;font-size:16px;}
.innl{padding:5px 0;line-height:17px;font-size:14px;}
.innl a{color:#666}
.innl a:hover{ color:#000;}
.innPar{line-height:20px;color:#999;padding-top:7px;}
.time{height:35px;line-height:35px;padding-left:20px; background:url(../images/sj.jpg) 3px center no-repeat;border-top:#CCC 1px dotted;color:#999; position:absolute;bottom:4px;left:16px;width:185px;}
.inParNew a{color:#555; font-size:13px; width:95%; display:block; 
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;          /* for IE */
-o-text-overflow: ellipsis;      /* for Opera */
-icab-text-overflow: ellipsis;   /* for iCab */
-khtml-text-overflow: ellipsis;  /* for Konqueror Safari */
-moz-text-overflow: ellipsis;    /* for Firefox,mozilla */
-webkit-text-overflow: ellipsis; /* for Safari,Swift*/
}
.inParNew li{padding:0 0 0 15px; background:url(../images/list2.jpg) 1px center no-repeat;line-height:25px;}
.inParNew a:hover{color:#06F;}

/*mctRight*/
.inNewBox{ overflow:hidden;}
.mctRight{width:240px; float:right;}
.title2{height:29px; background:#E5E5E5;line-height:29px; position:relative;}
.title2 span{width:94px; display:inline-block;text-align:center;color:#fff; background:#0A8BC4;}
.title2 a{ position:absolute;right:10px;top:0;color:#8e8d8d;font-size:12px; font-weight:400;}
.title2 a:hover{color:#F30;}
.mctRight table{width:100%;margin-top:5px;}
.mctRight td{height:35px;color:#6e6e6e;}
.mctRight th{height:30px;border-bottom:#CCC 1px solid; text-align:left;}
.mctRight .cheng{color:#F30; text-align:center;}
.teams{}
.teams dl{width:113px;height:135px; position:relative;float:left;margin:5px 12px 0 0;}
.teams dt,.teams dt img{width:113px;height:135px;}
.teams dd{width:113px; position:absolute;height:25px;line-height:25px; text-align:center; bottom:0;left:0;color:#fff; background:url(../images/teab.png) left center;}
.mctBottom .mores{margin:0;}

/*link*/
.link{ overflow:hidden;}
.link li{width:140px;height:53px;float:left;margin:0 20px 20px 0;}
.link li a{width:140px;height:53px;border:#DCDCDC 1px solid; display:inline-block;}
.link li a:hover{border:#f60 1px solid;}

/*footer*/
.footer{padding:10px 0 30px 0; background:#404143;}
.foot{}
.foot h4{height:33px; text-align:center; background:url(../images/xian.jpg) left center repeat-x;}
.footLeft{padding:10px 0;color:#8B9094;font-size:14px;line-height:40px;float:left;width:585px;}
.ftNav a{margin-right:15px;}
.footLeft a{color:#8B9094;}
.footLeft a:hover{color:#000;}
.footRight{width:376px;float:right;}

/*about*/
.positions{width:1093px;margin:10px auto;padding-left:10px; background:#E6E6E6;height:25px;line-height:25px;}
.cont{width:1103px;margin:0 auto;margin-bottom:40px;}
.contLeft{width:285px;float:left;}
.leftTitle{height:36px; background:#195BA9;color:#fff; text-align:center;font-size:22px; letter-spacing:3px;line-height:36px;}
#leftNav{border-bottom:#7EB9FF 1px solid;}
.leftNav{border-left:#7EB9FF 1px solid;border-right:#7EB9FF 1px solid;}
.leftNav dt{height:50px;line-height:50px;font-size:16px;padding-left:25px;border-bottom:#7EB9FF 1px solid; font-weight:bold;}
.leftNav dt a{color:#666;}
.leftNav dt a:hover{color:#195BA9;}
.leftNav dt.lnNur a{color:#195BA9;}
.leftNav dd{padding:0 24px; display:none;}
.leftNav dd a{ display:block;height:27px;line-height:27px;font-size:14px;border-bottom:#cfcfcf 1px dotted;padding-left:22px; background:url(../images/list.jpg) 2px center no-repeat;}
.leftNav dd a.lnchilCur{color:#F30; font-weight:bold;}

.contRight{width:816px;border:#7EB9FF 1px solid;float:left; position:relative;left:-1px; min-height:550px; height:auto !important;}
.content{padding:10px;line-height:24px;font-size:14px;color:#666;}
.team dl{padding:15px 0;border-bottom:#CCC 1px dotted;}
.team dt{float:left;width:193px;height:132px;}
.team dt img{width:193px;height:132px;}
.team dd{width:580px;float:left;margin-left:10px;}
.team dd h3{font-size:16px;height:35px;line-height:35px; text-align:left;}
.teamPar{font-size:14px;line-height:22px;}

/*分页代码css manu style pagination*/
.manu{padding:3px;margin:30px;text-align:center;}
.manu a{border:#eee 1px solid;padding:2px 5px;margin:2px;color:#036cb4;text-decoration:none;}
.manu a:hover{border:#999 1px solid;color:#666;}
.manu a:active{border:#999 1px solid;color:#666;}
.manu .current{border:#036cb4 1px solid;padding:2px 5px;font-weight:bold;margin:2px;color:#fff;background-color:#036cb4;}
.manu .disabled{border:#eee 1px solid;padding:2px 5px;margin:2px;color:#ddd;}

/*new*/
.content .new{}
.content .new li{line-height:30px;border-bottom:#ddd 1px dotted; position:relative;padding-left:22px; background:url(../images/list.jpg) 2px center no-repeat;}
.content .new li span{ position:absolute;right:0;top:0;font-size:13px;}

/*xinxi*/
.xinxi{width:100%;margin:0;padding:0; position:relative;bottom:22px;}
.xinxi th{ font-size:12px;height:28px; background:#195ba9;color:#fff;}
.xinxi td{height:25px;border-bottom:#CCC 1px dotted;color:#999;}
.lastchild{ position:relative;}
.lastchild a{ display:block;width:80px;height:24px;line-height:24px; text-align:center; background:#f60;font-size:12px;color:#fff; position:absolute;right:0px;top:24px; display:none;z-index:999;}
.lastchild a:hover{background:#F30;}

/*download*/
.download{}
.download li{height:35px;line-height:35px; position:relative;padding-left:20px; background:url(../images/dwon.jpg) 3px center no-repeat;}
.download li.dwla{ background-color:#DEDEDE;}
.download li span{ display:block; position:absolute;right:5px;top:5px;}
.download li span a{ display:inline-block;width:60px;height:25px; border-radius:3px; background:#E3E3E5;color:#666; text-align:center;line-height:25px;}
.download li.dwla span a{ background:#09F;color:#fff;}
.download li span a:hover{ background:#195BA9;color:#fff;}

/*gua*/
.gua{}
.gua dl{width:192px;padding:5px;border:#ddd 1px solid; float:left;margin:0 0 20px 45px;}
.gua dt,.gua dt img{width:192px;height:94px;}
.gua dd{ text-align:center;height:30px;line-height:30px;}

/*xinxi2*/
.xinxi2{width:100%;}
.xinxi2 td{border:#CCC 1px solid;height:30px;}
.xinxi2 td a{ display:block;width:100%; text-align:center;height:30px;line-height:30px;}
.xinxi2 td a:hover{ background:#CCC;color:#000;}
.content h3{height:40px;line-height:40px; text-align:center;font-size:18px;}

/*hengfu*/
.hengfu{padding-bottom:20px;}
.hengfu img{width:100%; height:auto;}














