.fl,.fr{ float:left; display:inline;}
.fr{ float:right;}
.lifl li{ float:left;}
.bm{ width:1100px; height:100px; margin:0px auto; margin:0px auto; position:relative;}
.scroll{ position:relative; overflow:hidden; width:1100px; margin-left:30px;}
.scroll{ width:1100px; height:85px; position:relative; overflow:hidden; margin-top:8px;}
.scroll ul{ position:absolute; width:2000000em; height:100px; overflow:hidden;}
.scroll ul li{ float:left;}
.wrap{ width:100%; min-width:1100px; margin:0 auto; position:relative; height:505px; top:-5px; z-index:88; background:#C9C9C9;}
.bpic{ position:absolute; top:0; left:50%; margin-left:-960px; width:1920px; text-align:center;}
.des{ width:100%; min-width:1100px; background:url(../../../images/bn_bg.png) repeat; height:85px; position:absolute; left:0px; top:320px; z-index:100; text-align:left;}
.des .des_m{ width:1100px; height:85px; margin:0px auto; color:#FFF;}
.des .des_m b{ display:block; width:100%; height:30px; line-height:30px; white-space:nowrap; overflow:hidden; font-size:16px; margin-top:15px;}
.des .des_m p{ width:100%; height:20px; line-height:20px; white-space:nowrap; font-size:14px; overflow:hidden;}
.b1{ width:1100px; height:100px; position:relative; margin:0px auto; margin-top:405px;}
.b1 li{ width:170px; height:85px; position:relative; margin-top:8px;margin-right:16px; cursor:pointer;}
.b1 li div{ display:none;}
.b1 li img{width:170px; height:85px; filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7;}
.b1 li.active img{ border:none; width:166px; height:81px; border:2px solid #E20000;filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity:1; opacity:1;}
a.arr_l,a.arr_r{width:24px; height:27px; display:block; position:absolute; top:35px; z-index:1; cursor:pointer;}
a.arr_l{ background:url(../../../images/prev.png) no-repeat; left:-37px;}
a.arr_r{ background:url(../../../images/next.png) no-repeat; right:-37px;}
