/*-----------------------------Public--------------------------------*/
body { background: #FFF; background: url(../images/bg_index.jpg) center; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { padding: 0; margin: 0; font-family: Microsoft YaHei, Arial; }
#fwryh * { font-family: Microsoft YaHei; }
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var { font-weight: normal; font-style: normal; }
ol, ul { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
.ofh { overflow: hidden; }
.m { margin: 0 auto; }
.mt10 { margin-top: 10px }
.mt15 { margin: 15px auto 0 auto; }
.mt20 { margin: 20px auto 0 auto; }
.mt30 { margin: 30px auto 0 auto; }
.mtb10 { margin: 10px auto; }
.mtb15 { margin: 15px auto; }
.mtb20 { margin: 20px auto; }
.mtb30 { margin: 30px auto; }
.ml10 { margin: 0 auto 0 10px; _margin: 0 auto 0 5px; }
.ml20 { margin: 0 auto 0 20px; _margin: 0 auto 0 10px; }
.ml30 { margin: 0 auto 0 30px; _margin: 0 auto 0 15px; }
.mr10 { margin: 0 10px 0 auto; _margin: 0 5px 0 auto; }
.mr20 { margin: 0 20px 0 auto; _margin: 0 10px 0 auto; }
.mr30 { margin: 0 30px 0 auto; _margin: 0 15px 0 auto; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt30 { padding-top: 30px; }
.pr10 { padding-right: 10px; }
.pr15 { padding-right: 15px; }
.pr20 { padding-right: 20px; }
.pr30 { padding-right: 30px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pb30 { padding-bottom: 30px; }
.pl10 { padding-left: 10px; }
.pl15 { padding-left: 15px; }
.pl20 { padding-left: 20px; }
.pl30 { padding-left: 30px; }
.mlr25 { margin: 0 25px; _margin: 0 12px; }
.ms1225 { margin: 12px 25px; _margin: 12px 12px; }
.ptb10 { padding: 10px 0; }
.pt20 { padding-top: 20px; }
.mtb12 { margin: 12px 0; }
.width { width: 1002px; margin: 0 auto; }
.wa { width: 100%; }
.wh { width: 50%; }
.hh { height: 50%; }
.w30 { width: 30%; }
.w70 { width: 70%; }
.w90 { width: 90%; }
.f9 { font-size: 9pt; }
.f10 { font-size: 10pt; }
.f11 { font-size: 11pt; }
.f34 { font-size: 34px; }
.i { font-style: italic; }
.b { font-weight: bold; }
.lh20 { line-height: 20px; }
.lh25 { line-height: 25px; }
.lh30 { line-height: 30px; }
.tid20 { text-indent: 20px; }
.tac { text-align: center; }
.tal { text-align: left; }
.tar { text-align: right; }
.z_-1 { z-index: -1; }
.z_1 { z-index: 1; }
.z_2 { z-index: 2; }
.z_3 { z-index: 3; }
.pa { position: absolute; }
.pr { position: relative; }
.dn { display: none; }
.db { display: block; }
.l { float: left; }
.r { float: right; }
.c { clear: both; }
.C:before, .C:after { content: "."; display: block; height: 0; visibility: hidden; }
.C:after { clear: both; }
.C { zoom: 1; }
a { text-decoration: none; color: #888; }
a:hover { text-decoration: none; }
a img { border: none; }
.r0 { right: 0; }
.l0 { left: 0; }
.b0 { bottom: 0; }
.cp { cursor: pointer; }
#hovered { background: #EC054B; color: #fff; }
/*-----------------------------Header--------------------------------*/
.Logo { width: 170px; height: 185px; left: 0; top: 0; }
.Header { position: absolute; top: 20px; left: 0; z-index: 4; text-align: center; }
.Nav { width: 780px; height: 40px; line-height: 40px; margin-top: 40px; z-index: 100; position: relative; }
.Nav li, .Nav a { width: 78px; height: 40px; float: left; text-align: center; font-size: 14px; background: #fff; }
.Nav li > a:hover { background: #FE4C40; color: #fff; }
.subMenu { width: 780px; height: 0; background: #f3f3f3; position: absolute; left: 0; top: 40px; overflow: hidden; z-index: 1000; }
.subMenu li, .subMenu a { width: 200px; height: 30px; line-height: 30px; text-align: center; float: left; }
.subMenu a { background: url(../images/navdemo.jpg) 0 0; }
#navBottom { width: 780px; height: 57px; position: absolute; top: 35px; left: 0; background: none; }
.navPart1 { width: 200px; height: 160px; padding: 20px; }
.navPart1 span { float: left; margin-top: 10px; }
.navPart2 { width: 280px; height: 160px; padding: 20px; }
.navPart2EnTitle { font-size: 9pt; float: left; width: 100%; }
.navPart2CnTitle { font-size: 9pt; float: left; width: 100%; }
.navPart2Desc { color: 9pt; color: #a9a9a9; float: left; line-height: 20px; text-align: left; width: 100%; }
.navPart3 { width: 200px; height: 160px; background: red; margin-top: 20px; }
.navPart4 { width: 420px; padding: 20px; padding-right: 100px; }
.navPart4 span { margin-top: 10px; }
/*-----------------------------Footer--------------------------------*/
.Footer { background: url(../images/footer.jpg) repeat; border-top: 3px solid #F9054F; padding-top: 20px; overflow: hidden; }
.footerTitleLine { margin: 10px 0 20px 0; }
.footerPart { width: 300px; }
.footerPart2 { width: 330px; margin: 0 30px; }
.footerContent { color: #979797; font-size: 9pt; text-indent: 20px; margin: 10px 0; line-height: 30px; }
.footerTitle { color: #ccc; height: 30px; line-height: 30px; background: url(../images/footerline.jpg) no-repeat left bottom; }
.footerTitle span.l { margin-right: 5px; _margin-right: 2px; display: inline-block; }
.footerContent span { line-height: 30px; cursor: pointer; }
.footerContent span.l { width: 80%; text-indent: 0; overflow: hidden; width: 220px; height: 30px; }
.footerContent span.r { width: 20%; text-indent: 0; width: 68px; overflow: hidden; }
.footerContent li { height: 30px; }
.copyright { color: #666; font-size: 9pt; line-height: 30px; height: 30px; }
.gotoTop { right: 10%; z-index: 10000; width: 58px; height: 58px; visibility: hidden; cursor: pointer; _display: none }
.en { font-size: 9pt; color: #ec054b; display: inline-block; float: left }
.footShowMore { font-size: 11px; line-height: 40px; width: 30px; display: inline-block }
.footShowMore:hover { color: #ec054b }
.idx_name, .idx_email, .idx_phone { width: 298px; margin-top: 10px; float: left; height: 35px; border: 1px solid #efefef; background: #ec054b; text-indent: 80px; color: #ededed; line-height: 35px; }
.idx_youWant { width: 200px; margin-top: 10px; float: left; height: 76px; border: 1px solid #efefef; background: #ec054b; color: #ededed; text-indent: 20px; }
.idx_submit { width: 78px; height: 78px; margin-top: 10px; background: #ec054b; border: 1px solid #efefef; color: #ededed; cursor: pointer; background: url(../images/bottomorderbutton.jpg) center; }
.idx_name { background: url(../images/bottomordername.jpg) #EC054B no-repeat left top; }
.idx_email { background: url(../images/bottomordermail.jpg) #EC054B no-repeat left top; }
.idx_phone { background: url(../images/bottomorderphone.jpg) #EC054B no-repeat left top; }
#bdshare { line-height: 13px; }
/*-----------------------------Banner--------------------------------*/
.banner { height: 300px; width: 100%; }
.banner_01_01 { background: #d5432a; }
.banner_01_01 img { margin-left: 120px; margin-left: 60px; }
.banner_01_02 { background: #e27a9d; }
.banner_01_02 img { margin-left: 50px; _margin-left: 25px; margin-top: 80px; }
.banner_01_03 { background: #fff; }
.banner_01_03 img { margin-left: 120px; _margin-left: 60px; margin-top: 80px; }
.banner_02_01 { background: #fde6ba; }
.banner_02_01 img { margin-left: 200px; _margin-left: 100px; }
.banner_02_02 { background: #3b2a0a; }
.banner_02_02 img { margin-left: 200px; _margin-left: 100px; }
.banner_02_03 { background: #fdebbd; }
.banner_02_03 img { margin-left: 140px; _margin-left: 70px; margin-top: 40px }
.banner_03_01 { background: #94c2dc; }
.banner_03_01 img, .banner_03_02 img { margin-left: 80px; _margin-left: 40px; margin-top: 80px; }
.banner_03_02 { background: #d4bab9; }
.banner_04_01 { background: #fff; }
.banner_04_01 img { margin-left: 80px; _margin-left: 40px }
.banner_04_02 { background: #161616; }
.banner_04_02 img { margin-left: 100px; _margin-left: 50px; }
.banner_04_03 { background: #fff; }
.banner_04_03 img { margin-left: 140px; _margin-left: 70px; margin-top: 30px; }
.banner_04_04 { background: #000; }
.banner_04_05 { background: #a15f7a; }
.banner_04_05 img { margin-left: 100px; _margin-left: 50px; }
.banner_04_06 { background: #829d7e; }
.banner_04_06 img { margin-left: 100px; margin-left: 50px; }
.banner_05_01 { background: #41291c; }
.banner_05_02 { background: #ff766c; }
.banner_05_02 img { margin-left: 80px; _margin-left: 40px; margin-top: 40px; }
.banner_05_03 { background: #027280; }
.banner_05_04 { background: #d45371; }
.banner_06_01 { background: #fff; }
.banner_06_02 { background: #abc1d9; }
.banner_06_02 img { margin-left: 120px; _margin-left: 60px; margin-top: 60px; }
.banner_06_03 { background: #d8d8d8; }
.banner_06_03 img { margin-left: 100px; _margin-left: 50px; }
.banner_06_04 { background: #f6eee3; }
.banner_06_04 img { margin-left: 80px; margin-left: 40px; }
.banner_07_01 { background: #f2f2f2; }
.banner_07_02 { background: #bba888; }
.banner_07_02 img { margin-left: 100px; _margin-left: 50px; }
.banner_07_03 { background: #ffffcb; }
.banner_07_03 img { margin-left: 80px; _margin-left: 40px; }
.banner_07_04 { background: #fff; }
.banner_07_05 { background: #fecccb; }
.banner_08_01 { background: #ee86a1; }
.banner_08_02 { background: #2fb9bb; }
.banner_08_03 { background: #fff; }
.banner_08_03 img { margin-left: 80px; _margin-left: 40px; }
.banner_08_04 { background: #fcaf5d; }
.banner_09_01 { background: #000; }
.banner_09_01 img { margin-left: 80px; _margin-left: 40px; }
.bannerInner { height: 300px; }
/*-----------------------------Tags--------------------------------*/
.topTag { width: 100px; height: 30px; line-height: 30px; text-align: center; position: absolute; left: 0; top: 0; color: #fff; z-index: 100; }
.ttstyle1 { background: #F0674C; }
.ttstyle2 { background: #FA7FA2; }
.info_next { background: #e5e5e5; width: 40%; text-align: center; margin-top: 30px; cursor: pointer; }
.info_next a { color: #EC054B }
/*--home product show--*/
.index_pro_container { width: 1002px; margin: 0 auto; position: relative; }
.index_pro_wrap { width: 1002px; float: left; position: relative; }
.index_pro_wrap li, .vice_pro_wrap li { position: relative; float: left; width: 320px; height: 218px; display: block; margin: 10px 0; cursor: pointer; }
.vice_pro_wrap li { margin: 10px 29px; _margin: 10px 14px; }
.index_pro_img { overflow: hidden; position: relative; width: 320px; height: 180px; display: block; }
.index_pro_ally { width: 88px; height: 116px; position: absolute; bottom: -44px; left: 0; }
.index_pro_date { height: 72px; width: 72px; float: left; background: #EC054B; visibility: hidden }
.index_pro_amplify { width: 44px; height: 44px; float: left; background: #EC054B }
.index_pro_link { width: 44px; height: 44px; background: #EC054B; float: left; }
.index_pro_name { height: 38px; display: block; width: 100%; }
.index_pro_name_prefix { width: 38px; height: 38px; float: left }
.index_pro_name_content { display: inline-block; _zoom: 1; *display:inline;
float: left; background: #e6e6e6; width: 282px; height: 38px; color: #fff; line-height: 38px; text-indent: 20px; }
.index_pro_desc { display: none; height: 0px; width: 300px; overflow: hidden; background: #fff; font-size: 9pt; color: #000; text-indent: 20px; line-height: 20px; padding: 10px; overflow: hidden; }
#mlr20 { margin: 10px 20px; }
.cf { clear: both; width: 0; height: 0; }
#index_pro_inner { position: absolute; z-index: 10; left: -15px; top: -15px; width: 320px; height: 320px; background: #EC054B; padding: 15px; }
.vice_pro_container { width: 758px; margin: 0 auto; }
.vice_pro_wrap { width: 758px; }
.index_pro_amplify { background: url(../images/bg_product_show_2.gif) -44px 0 }
.index_pro_amplify:hover { background: url(../images/bg_product_show_2.gif) -44px -88px }
.index_pro_link { background: url(../images/bg_product_show_2.gif) 0 0 }
.index_pro_link:hover { background: url(../images/bg_product_show_2.gif) 0 -88px }
.index_pro_name_prefix { background: url(../images/home_icon_czxixi2014.png) 0 -146px }
.index_pro_name_content a { color: #999 }
.index_pro_container ul li .ad_txt{}
.index_pro_container ul li p { display: none; width: 260px; height: 180px; position: absolute; z-index: 1; font-size: 12px; text-align: left; padding:20px 30px; background: #ec054b; color: #eaeaea; left: 0; bottom: 0; font-family:"宋体", "黑体"; line-height:20px; overflow:hidden; }
.index_pro_container ul li p strong { display: block; font: bold 14px/30px Microsoft YaHei; color: #fff; margin-top: 10px }
.index_pro_container ul li p a { display: inline-block; zoom: 1; *display:inline;
font-weight: bold; height: 30px; line-height: 30px; padding: 0 8px; margin-top: 8px; color:#fff; }
.index_pro_container ul li p a.openurl { width: 23px; height: 23px; padding: 0; background: url(../images/ico_website.png) no-repeat; overflow: hidden; text-indent: -9999px; position: absolute; bottom: 5px; right: 5px; }
.index_pro_container ul li p a.openurl:hover { background-position: 0 -23px }
