/*-----------------------------Common--------------------------------*/
.Products, .Features, .PartFour, .Cooperate { margin: 15px auto; }
.indexTitle { height: 40px; line-height: 40px; }
.dd_gray { background: url(../images/gray_bg.gif) top repeat-y; }
.dd_white { background: url(../images/white_bg.gif) top repeat-y; }
/*-----------------------------Banner--------------------------------*/
.bAS { width: 95%; margin: 0 auto; overflow: hidden; position: relative; height: 300px; z-index: 1; }
.bannerI0 { top: -400px; left: 0; }
.bannerS0 { right: -300px; bottom: 100px; background: #FE4C40 }
.bannerI1 { top: -400px; left: 0; bottom: 0; }
.bannerS1 { bottom: -300px; right: 0; background: #3cd3dc; }
.bannerI2 { right: -400px; bottom: 0; }
.bannerS2 { top: -300px; right: 0; background: #f89b18; }
.bannerI3 { top: -400px; left: 0; }
.bannerS3 { bottom: -300px; right: 0; background: #a700af; }
.bannerI4 { top: -400px; left: 0; }
.bannerS4 { bottom: -300px; right: 0; background: #32912f; }
.Banner { height: 600px; overflow: hidden; position: relative; z-index: 3; }
.bannerLeftBar, .bannerRightBar { height: 40px; top: 285px; width: 40px; }
.bannerLeftBar { background: url(../images/bigpng.png) -167px 0; }
.bannerRightBar { background: url(../images/bigpng.png) -167px -40px; }
.bannerImage { opacity: 0; }
.bannerSlogan { opacity: 0; text-align: center; position: absolute; width: 300px; height: 300px; z-index: 2; padding: 0 20px; }
.bannerInner { height: 600px; }
.bannerInner h1, .bannerInner h3 { color: white; font-size: 14pt; line-height: 30px; }
.bannerInner h3 { text-align: left; text-indent: 20px; font-size: 11pt; line-height: 30px; font-weight: normal; margin-top: 30px; }
.bannerControl { margin: 0; padding: 0; position: absolute; bottom: 10px; right: 0px; }
.bannerControl li { width: 25px; height: 2px; margin-left: 6px; _margin-left: 3px; background: black; float: left; cursor: pointer; }
.bannerIcon, .bannerTitle, .bannerDesc, .bannerButton { position: absolute; z-index: 1; }
.bannerIcon { width: 27px; height: 27px; left: -120px; top: 20px; }
.bannerTitle { width: 210px; height: 40px; line-height: 70px; font-size: 13pt; color: white; top: -300px; left: 55px; text-indent: 10px; }
.bannerDesc { width: 275px; font-size: 11pt; color: white; line-height: 30px; text-align: left; left: 300px; top: 90px; }
.bannerButton { width: 100px; right: 450px; bottom: 20px; cursor: pointer; }
.bannerButton a { display: block; width: 160px; height: 25px; background: url(../images/morearrow.jpg) right no-repeat; color: white; padding: 5px; }
/*---wrapsemibox---*/
.wrapsemibox { font-family: "Microsoft YaHei"; background-attachment: scroll; background-clip: border-box; background-size: auto auto; border-bottom-color: #CCCCCC; border-bottom-style: double; border-bottom-width: medium; box-shadow: 0 0 4px rgba(0,0,0,0.15); margin-left: auto; margin-right: auto; margin-bottom: 30px; margin-top: -40px; width: 1100px; padding-bottom: 2px; padding-top: 0; position: relative; background-color: #fff; z-index: 0; }
/*-----------------------------Slogan--------------------------------*/
.Slogan { color: #30363f; margin: 20px auto; background: url(../images/shp.png) top no-repeat; margin-top: -50px; position: relative; z-index: 15; padding-bottom: 0px;}
.sloganContent { width: 1002PX; margin: 0 auto; padding-top: 25px; }
.Slogan h1, .Slogan a { display: inline; font-size: 11pt; font-weight: normal; color: #30363f; line-height: 30px; }
/*-----------------------------PartFour--------------------------------*/
.PartFour li { width: 228px; margin: 10px 0; float: left; border: 1px solid #F0F0F0; padding: 15px 0; cursor: pointer; height: 230px; position: relative; }
.PartFour span { display: block; margin: 0 auto; color: #787887; font-size: 9pt; line-height: 30px; }
.PartFour h3 { font-size: 11pt; font-weight: bold; color: #4c4c59; text-align: center; margin-top: 5px; }
.partFourImg { width: 80px; height: 80px; }
.smallP { background: #F2044D; position: absolute; top: 0px; left: 115px; width: 0px; height: 90px; z-index: -1; }
.bottomShadow { position: absolute; bottom: -12px; _top: 262px; width: 230px; height: 10px; }
/*-----------------------------Features--------------------------------*/
.Features { }
.title { font-size: 24px; color: #EC054B; text-align: center; line-height: 24px; padding-bottom: 15px; }
.desc { color: #999; text-align: center; font-size: 14px; padding-bottom: 15px; }
#fea_spec { position: absolute; width: 312px; height: 109px; background: #F2044D; left: 318px; top: 0; z-index: -1; }
.Features a { overflow: hidden; display: block; width: 312px; height: 76px; margin: 10px 10px; _margin: 10px 5px; float: left; padding: 15px 0; position: relative; }
.Features .featuresEnd { width: 316px; }
.Features a:hover { color: white; background: #F2054D; }
.Features dl { display: block; }
.Features dt { width: 66px; height: 66px; float: left; margin: 5px 10px; _margin: 5px 5px; }
.Features h3 { font-size: 11pt; line-height: 30px; }
.Features dd { font-size: 9pt; margin-right: 6px; _margin-right: 3px; line-height: 22px; }
.f1 { background: url(../images/home_icon_czxixi2014.png) 0 -80px; }
.f2 { background: url(../images/home_icon_czxixi2014.png) -66px -80px; }
.f3 { background: url(../images/home_icon_czxixi2014.png) -132px -80px; }
.f4 { background: url(../images/home_icon_czxixi2014.png) -198px -80px; }
.f5 { background: url(../images/home_icon_czxixi2014.png) -264px -80px; }
.f6 { background: url(../images/home_icon_czxixi2014.png) -330px -80px; }
/*-----------------------------ProductShow-------------------------------*/
.dd_pro { background: url(../images/gray_bg.gif) top repeat-y; ; padding: 20px 0; }
.mlr16 { margin: 0 16px; }
.mlr27 { margin: 10px 27px; }
.proRow { margin-top: 10px; }
.proRow li { width: 320px; height: 250px; float: left; margin-top: 10px; position: relative; background: #fff; overflow: hidden; cursor: pointer; border-bottom: 1px solid #efefef; }
.proImg { width: 320px; height: 220px; }
.proTitle { width: 320px; height: 30px; line-height: 30px; text-align: center; margin: 0 auto; }
.proBelow { background: #FAFAFA; width: 320px; top: 220px; left: 0; height: 30px; z-index: 10; }
.proImg2 { position: absolute; left: -320px; top: 0; }
/*.proDesc{ height:110px; width:200px; margin:10px auto; font-size:9pt; }
*/.proLink { width: 318px; height: 28px; margin: 0 auto; line-height: 30px; text-align: center; border: 1px solid #efefef; }
.proLink a { font-size: 9pt; }
/*.idxProType1{width:321px; height:350px;   position:relative; border:1px solid #ECECEC; overflow:hidden; cursor:pointer;box-shadow:0px 1px 2px #cbcbcb}
.idxProType2{ margin:0 16px; width:321px; height:350px; position:relative; border:1px solid #ECECEC; overflow:hidden;cursor:pointer; box-shadow:0px 1px 2px #cbcbcb}
.idxImg{ width:321px; height:200px; float:left}
.idxContent{position:absolute; top:200px; left:0; background:#fff; display:block;}
.idxTitle{ width:311px; height:25px; line-height:25px; float:left; color:#444; text-align:center; padding:10px 5px;}
.idxDesc{ width:301px; padding:0 10px; float:left; color:#999; font-size:9pt; line-height:25px; height:100px;}
.idxShowMore{ margin-top:105px; float:left}
.idxShowMore a{ display:inline-block; margin:10px; font-size:9pt;}
.proRow{ height:360px; margin-top:15px;}
.idxMask{ left:0; top:0;width:321px; height:200px; background:#000;}*/
.proControl { width: 200px; height: 30px; overflow: hidden; margin-top: 10px; cursor: pointer; }
.proControl a { display: inline-block; }
.proControl .showMore { width: 50px; font-size: 9pt; line-height: 30px; }
.proCUp, .proCDown { width: 30px; height: 30px; float: right; margin: 0 5px; }
.proCUp { background: url(../images/proarrowup.jpg) center no-repeat; }
.proCDown { background: url(../images/proarrowdown.jpg) center no-repeat; }
/*-----------------------------News--------------------------------*/
.NewsAndCommnet { background: url(../images/gray_bg.gif) top repeat-y; ; padding: 30px 0; }
.News { width: 480px; }
.newsTitle { height: 40px; line-height: 40px; color: #F8044E; }
.newsTitle span.l { width: 158px; display: block; background: #EDEDED; text-align: center; border: 1px solid #D8D8D8; cursor: pointer; }
.newsContent { border: 1px solid #D8D8D8; width: 478px; height: 269px; border-top: none; }
.news_part { height: 290px; }
.news_part_Content { width: 478px; height: 270px; background: #fff; }
.newsContentInner { height: 1500px; width: 478px; }
.news_part_Content li { height: 32px; line-height: 32px; font-size: 10pt; color: #656573; _height: 26px; _line-height: 26px; }
.news_part_Content a { display: block; }
.news_part_Content a:hover { background: #F8044E; color: white; }
.news_part_Content .l { text-indent: 30px; }
.news_part_Content .r { margin-right: 26px; _margin-right: 13px; color: #bbbbc8; }
.video_play { float: right; }
/*-----------------------------Cooperate--------------------------------*/
.imgBorder { width: 140px; height: 140px; display: block; }
.cooperateControl { right: 0; top: -5px; }
.blk_29 { OVERFLOW: hidden; ZOOM: 1; POSITION: relative }
span.LeftBotton, span.RightBotton { display: block; width: 40px; height: 40px; CURSOR: pointer; background: #f3f3f3; }
.Cont { padding-top: 5px; }
.box { float: left; width: 140px; height: 140px; margin: 13px; _margin: 12px 13px; }
.Cooperate .indexContent { position: relative; padding: 0 30px; width: 940px; }
.Cooperate .indexContent li { margin: 0 23px; margin: 10px 8px; _margin: 10px 4px; float: left; }
#cooperateLeftButton, #cooperateRightButton { width: 32px; height: 65px; margin: 0; margin-top: 40px; cursor: pointer; position: absolute; }
/*-----------------------------lightBox--------------------------------*/
#pbCaption { font-weight: bold; padding: 4px; display: inline-block; *display: inline;
background-color: rgba(0,0,0,0.7); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#B0000000, EndColorStr=#B0000000);
zoom: 1; }
#pbNav { display: block; width: 200px; height: 65px; margin: auto; margin-top: 5px; }
#pbPrevBtn, #pbNextBtn, #pbZoomBtn { display: inline-block; width: 70px; height: 65px; outline: none; text-indent: -9000px; background: url(../images/navbtns.png) no-repeat; }
#pbPrevBtn { background-position: -70px 0; float: left; }
#pbPrevBtn.pbgreyed { background-position: 0 0; }
#pbNextBtn { background-position: -320px 0; float: right; }
#pbNextBtn.pbgreyed { background-position: -390px; }
#pbZoomBtn { width: 60px; background-position: -140px 0; float: left; }
#pbZoomBtn.pbgreyed { background-position: -200px 0; }
#pbZoomBtn.pbzoomed { background-position: -260px 0; }
/*RPO*/
.pro_slist li { width: 126px; overflow: hidden; height: 200px; font-size: 14px; padding: 0 20px; position: relative; display: inline; float: left; text-align: center }
.pro_slist li a { display: block; width: 126px; margin: 0 auto; position: relative; padding-top: 1px; }
.pro_slist li .rad i { background: url(../images/home_icon_czxixi2014.png) no-repeat; -webkit-transition: all .5s ease-in-out; display: block; margin-left: auto; margin-right: auto }
.pro_slist li .rad { background: #000; width: 110px; height: 110px; -webkit-border-radius: 110px; overflow: hidden; position: relative; z-index: 2; margin: 8px auto; display: block; -moz-border-radius: 110px; border-radius: 110px }
.pro_slist li .sd { width: 126px; height: 126px; display: block; -webkit-border-radius: 130px; -moz-border-radius: 130px; -webkit-transition: all .5s ease-in-out; -webkit-transform: scale(0.5); border-radius: 130px; background: #e2e2e2; top: 0; left: 0; position: absolute; z-index: 1 }
.pro_slist li p { padding-top: 10px; color: #999; font-size: 14px; font-weight:normal;}
.pro_slist li p strong { font-weight: 100; display: block; line-height: 24px; font-size: 16px }
.pro_slist a:hover { text-decoration: none }
.pro_slist a:hover p { text-decoration: none; color: #333 }
.pro_slist li:hover .sd, .pro_slist li.hover .sd { -webkit-transform: scale(1) }
.pro_slist li:hover .rad i, .pro_slist li.hover .rad i { -webkit-transform: rotate(360deg) }
.pro_slist li:hover .rad, .pro_slist li.hover .rad { background: #EC054B }
.pro_slist li.p .rad i { width: 56px; height: 56px; background-position: -11px -10px; margin-top: 23px }
.pro_slist li.b .rad i { width: 56px; height: 56px; background-position: -93px -9px; margin-top: 23px }
.pro_slist li.t .rad i { width: 56px; height: 56px; background-position: -172px -9px; margin-top: 23px }
.pro_slist li.y .rad i { width: 56px; height: 56px; background-position: -253px -9px; margin-top: 23px }
.pro_slist li.m .rad i { width: 56px; height: 56px; background-position: -332px -9px; margin-top: 22px }
.pro_slist li.e .rad i { width: 56px; height: 56px; background-position: -410px -9px; margin-top: 23px }
.pro_slist li div.txt { position: absolute; left: 6px; border: 1px solid #efefef; width: 150px; top: 60px; padding-top: 60px; padding-bottom: 20px; background-color: #fff }
.pro_slist li:hover div.txt { background: #EC054B; color: #fff; }
.pro_slist li:hover div.txt p { color: #fff; }
/*---C_C----*/
.C_C { width: 100%; margin: 0 auto; padding: 30PX 0; background: url(../images/white_bg.gif) top repeat-y; }
/* Client */
.Client { width: 470px; overflow: hidden; padding-right: 25px; border-right: 1px dashed #999999; float: left; }
.Client .title { text-align: left; }
.Client .desc { text-align: left; }
.Client .multipleColumn { overflow: hidden; position: relative; width: 470px; }
.Client .multipleColumn .hd { overflow: hidden; height: 30px; padding: 0 10px; }
.Client .multipleColumn .hd .pageState { display: none }
.Client .multipleColumn .hd .prev, .multipleColumn .hd .next { display: block; width: 5px; height: 9px; float: right; margin-right: 5px; margin-top: 10px; overflow: hidden; cursor: pointer; background: url("../images/icoleft.gif") no-repeat; display: none; }
.Client .multipleColumn .hd .next { background: url("../images/icoright.gif") no-repeat; display: none; }
.Client .multipleColumn .hd ul { float: right; overflow: hidden; zoom: 1; margin-top: 10px; zoom: 1; }
.Client .multipleColumn .hd ul li { float: left; width: 12px; height: 12px; overflow: hidden; margin-right: 6px; text-indent: -999px; cursor: pointer; background: #999; border-radius: 50%; }
.Client .multipleColumn .hd ul li.on { background: #cc0000; }
.Client .multipleColumn .bd { overflow: hidden; padding: 10px 0; }
.Client .multipleColumn .bd ul { overflow: hidden; zoom: 1; width: 495px; float: left; _display: inline; }
.Client .multipleColumn .bd ul li { margin: 0px; float: left; _display: inline; overflow: hidden; text-align: center; margin-right: 22px; margin-bottom: 20px; }
.Client .multipleColumn .bd ul li .pic { text-align: center; }
.Client .multipleColumn .bd ul li .pic img { width: 138px; height: 138px; display: block; border: 2px solid #eee; }
.Client .multipleColumn .bd ul li .pic a:hover img { border:2px #EC054B solid; }
.Client .multipleColumn .bd ul li .title { line-height: 24px; display: none; }
/* - Comment - */
.Comment { width: 480px; float: right; }
.Comment .title { text-align: left; }
.Comment .desc { text-align: left; }
.Comment .txtScroll-left { position: relative; }
.Comment .txtScroll-left .hd { overflow: hidden; height: 30px; padding: 0 10px; }
.Comment .txtScroll-left .hd .pageState { display: none }
.Comment .txtScroll-left .hd .prev, .txtScroll-left .hd .next { display: block; width: 30px; height: 9px; float: right; margin-right: 5px; margin-top: 10px; overflow: hidden; cursor: pointer; background: url("../images/arrow.png") no-repeat; }
.Comment .txtScroll-left .hd .prev { background: url(../images/leftarrow2.png) center; }
.Comment .txtScroll-left .hd .next { background: url(../images/rightarrow2.png) center; }
.Comment .txtScroll-left .hd .prevStop { background-position: -60px 0; }
.Comment .txtScroll-left .hd .nextStop { background-position: -60px -50px; }
.Comment .txtScroll-left .hd ul { float: right; overflow: hidden; zoom: 1; margin-top: 10px; }
.Comment .txtScroll-left .hd ul li { float: left; width: 12px; height: 12px; overflow: hidden; margin-right: 5px; text-indent: -999px; cursor: pointer; background: #999; border-radius: 50%; }
.Comment .txtScroll-left .hd ul li.on { background: #cc0000; }
.Comment .txtScroll-left .bd { padding: 10px 0; width: 470px; overflow: hidden; }
.Comment .txtScroll-left .bd ul { overflow: hidden; zoom: 1; }
.Comment .txtScroll-left .bd ul li { float: left; height: 310px; line-height: 24px; text-align: left; _display: inline; background: url(../images/comment_bg.jpg) top no-repeat }
.Comment .txtScroll-left .bd ul li span.wa { display: block; height: 140px; padding: 65px 50px 65px 50px; width: 360px; color: #333; font-size: 14px; }
.Comment .txtScroll-left .bd ul li span.commentWriter { color: #fff; background: #c00; line-height: 30px; padding: 0 50px; display: block; height: 30px; }
