/*-----------------------------Common--------------------------------*/
.sonBanner { width: 100%; height: 300px; border-bottom: 3px solid #EC054B; overflow:hidden; }
.wrapper {  position: relative; z-index: 1; }
.wrapperLeft {  width: 758px; padding: 20px; border: 1px solid #d6d6d6; margin-bottom: 20px; background: #f9f9f9; margin-top: 40px; }
.wrapperLeft strong, .wrapperLeft h1, .wrapperLeft h2, .wrapperLeft h3, .wrapperLeft h4 { padding: 2px 0 5px 0; font-weight: bold; font-family: "微软雅黑", "宋体"; }
.wrapperLeft div { font-size: 12px; line-height: 30px; }
.wrapperLeft p, .wrapperLeft span, .wrapperLeft div, .wrapperLeft table tr, .wrapperLeft table td { font-family: '宋体'; font-size: 12px; }
.wrapperRight { width: 202px; overflow:hidden; }
.contactBox { width: 203px; height: 203px; background: url(../images/rightbox.jpg) center no-repeat; display: none; margin-top: -400px; border-right: 1px solid #d6d6d6; }
.contactBox a { width: 100px; height: 100px; float: left; }
/*------------------------------ShowPath------------------------------*/
.showPath { background: url(../images/pathdesc.jpg) repeat-x center; height: 50px; line-height: 50px; overflow: hidden; margin-top: 40px; position: relative; z-index: 13 }
.showPathInner { background: #fff; display: inline-block; padding: 0 10px; }
.showPath1 { color: #ededed; font-size: 11pt; }
.showPath1 a{ color: #ededed; font-size: 11pt; }
.showPath2 { color: #EC054B; font-size: 15pt; font-weight: 200; line-height: 40px; height: 40px; }
.showPath3 { color: #ededed; font-size: 9pt; }
.showPath4 { color: #EC054B; font-size: 15pt; font-weight: 200; line-height: 40px; height: 40px; }
.showPath2 a{ color: #EC054B; font-size: 15pt; font-weight: 200;  line-height: 40px; height: 40px; }
.showPath3 a{ color: #ededed; font-size: 9pt; }
.showPath4 a{ color: #EC054B; font-size: 15pt; font-weight: 200; line-height: 40px; height: 40px; }
/*over deletable*/
.mbx { height: 60px; right: 0; position: absolute; top: 150px; }
.mbxContent { height: 60px; color: #fff; line-height: 60px;  z-index: 2; width: 0; overflow: hidden; }
.showPath1, .showPath2 { z-index: 2; }
.mbxCorner { width: 60px; height: 60px; cursor: pointer; }
.mbx2 { height: 40px; right: 0; position: absolute; top: 235px; }
.mbxContent2 { height: 40px; line-height: 40px; z-index: 2; width: 0; overflow: hidden; }
.mbxCorner2 { width: 21px; height: 40px; cursor: pointer; line-height: 40px; }
.mbxMk { height: 100%; background: black; z-index: -1; position: absolute; top: 0; }
.mbxMk2 { height: 100%; background: black; position: absolute; z-index: -1; top: 0; text-indent:30px; }
#rightTitle { height: 70px; margin-top: 40px; float: left; width: 201px; line-height: 70px; font-size: 20pt; border-top: 1px solid #EC054B; border-right: 1px solid #EC054B; text-align: center; background: #EC054B; color: #fff; }
.rightItemLi { border-bottom: 1px solid #d6d6d6; background: #f6f6f6; overflow: hidden; }
.rightItemA { height: 50px; width: 93%; line-height: 50px; text-align: left; margin: 0 auto; float: right; border-right: 1px solid #d6d6d6; }
#ItemHovered { background: #f9f9f9; margin-left: -1px; width: 203px; }
#ItemHovered a { color: #EC054B; }
.dnRightItem { top: 0; left: -203px; background: #EC054B; width: 202px; height: 50px; }
.dnRightItem .rightItemA { color: #fff; }
#rightContactUs { width: 202px; height: 202px; background: #EFEFEF; float: left; border: 1px solid #d6d6d6; border-left: none; margin: 0 0 0 -1px; }
/*------------------------------ProductShow------------------------------*/
.w200 { width: 200px; }
.wrapperInner { width: 760px; }
/*.wrapperInner li { width: 220px; display: none; border: 1px solid #DBDAD9; background: #fff; position: relative; padding-bottom: 20px; cursor: pointer; margin-bottom: 20px; }*/
/*.wrapperInner img { display: block; }
*/.pName { padding: 0 10px; border-top: 1px solid #F5F2F2; height: 30px; width: 200px; font-size: 11pt; line-height: 30px; background: #FAFAFA; }
.pDesc { width: 200px; line-height: 20px; font-size: 9pt; background: #FAFAFA; padding: 10px; }
.showSec { height: 0; line-height: 30px; width: 80%; }
.showSec a { font-size: 9pt; color: #cecece; text-indent: 20px; }
/*------------------------------Contact------------------------------*/
.bgw{background:#fff;}
.contactLeft .sp { font-size: 13pt; color: #EC054B; font-weight: 200; background: none; margin: 0; text-indent: 20px; padding-top:10px; }
.contactLeft li { color: #666; font-size: 9pt; line-height: 30px; cursor: pointer; }
.contactLeft, .contactRight { height: 480px; z-index: 13; position: relative; width: 451px; overflow: hidden; text-indent: 0; }
.contactUsWay { position: relative; z-index: 13; width: 900px; padding: 0 50px; }
.contactLeft { margin-left: -1000px; padding: 0 30px 0 20px; }
.contactRight { text-align: center; margin-right: -1000px; padding: 0 20px 0 30px; }
.contactLeft li { float: left; width:100%; background: #fff; color: #666; margin-top: 10px; text-indent: 20px; }
.name { background: url(../images/contact_name.jpg) #fff left no-repeat; }
.email { background: url(../images/contact_email.jpg) #fff left no-repeat; }
.phone { background: url(../images/contact_tel.jpg) #fff left no-repeat; }
.name, .email, .phone { width: 292px; height: 50px; line-height: 50px; text-indent: 90px; margin-top: 10px; border: 2px solid #cecece; color: #d6d6d6; overflow: hidden; float: left; margin-right: 4px; _margin-right: 2px; }
.youWant { width: 675px; height: 150px; margin-top: 20px; border: 2px solid #cecece; font-size: 14pt; padding: 10px; }
.submit { width:170px; height: 170px; float:right;cursor: pointer; margin-top:20px; }
#allmap { width: 100%; position: absolute; height: 920px; z-index: 1; left: 0; }
#l-map { height: 1000px; width: 78%; float: left; border-right: 2px solid #bcbcbc; }
#r-result { height: 1000px; width: 20%; float: left; }
.contactUsWrapper { z-index: 9; position: relative; height: 920px; }
.bgw { background: #fff; }
.contactBelow { background: #fff; width: 1002px; height: 920px; z-index: 11; left: 0; top: 0; }
.contactWX, .contact2WM { width: 150px; height: 150px; background: red; margin-left: 20px; _margin-left: 10px; float: left }
/*------------------------------News------------------------------*/
.news li { height: 120px; width: 740px; display: block; padding: 10px; }
.newsPic { width: 200px; height: 120px; background: red; float: left; }
.newRight { width: 510px; height: 80px; }
.newsTitle { font-size: 18px; color: #0A0A0A; }
.newsDate { font-size: 9pt; margin-top: 4px; color: #2E2E2E; line-height: 22px; }
.newsDesc { font-size: 9pt; margin-top: 4px; color: #4F4F4F; line-height: 22px; }
.newsLink { color: #626262; text-decoration: underline; line-height: 22px; }
.List_page { text-align: center; margin: 10px 0; }
.List_page a { margin: 0px 1px; padding: 4px 6px; border: 1px solid #F9054F; color: #F9054F; background: #fff; }
.List_page span { background: #F9054F; color: #fff; margin: 0px 1px; padding: 4px 6px; border: 1px solid #F9054F; }
/*------------------------------Contact------------------------------*/
/*商业摄影*/
.shangyesheying_list_photo { margin: 0; padding: 0; width: 678px; overflow: hidden; }
.shangyesheying_list_photo dt { height: 190px; float: left; text-align: center; margin: 0 0 15px 0; overflow: hidden; width: 33.3%; }
.shangyesheying_list_photo dt img { border: 1px solid #efefef; padding: 2px; }
.shangyesheying_list_photo dt div { padding: 6px 0; }
.shangyesheying_list_photo a { color: #333; }
.shangyesheying_list_photo a:hover { color: #f60; }
#pbOverlay, #pbImage, #pbBottom, #pbCloseBtn { position: fixed; z-index: 9999; }
#pbOverlay { left: 0; top: 0; width: 100%; height: 100%; background: #000; cursor: pointer; }
#pbCloseBtn { top: 0; right: 0; display: block; width: 50px; height: 50px; background: url(../images/closebutton.png) no-repeat top left; }
.pbLoading { background: #000 url(../images/loading.gif) no-repeat center !important; }
#pbImage { border: none; background: #000 no-repeat; -moz-box-shadow: 0 0 40px #000; -webkit-box-shadow: 0 0 40px #000; box-shadow: 0 0 40px #000; cursor: move; }
#pbBottom { font-family: Verdana, Arial, Geneva, Helvetica, sans-serif; font-size: 10px; text-align: center; color: #EEE; line-height: 1.4em; left: 50%; bottom: 10px; width: 400px; margin-left: -200px; /* half the width */ }
.info_title { text-align: center; font-size: 18px; font-weight: normal; height: 40px; line-height: 20px; }
/*------------------------------lightbox------------------------------*/
#pbCaption { font-weight: bold; padding: 4px; display: inline-block; *display: inline;
background-color: rgba(0,0,0,0.7); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#B0000000, EndColorStr=#B0000000);
zoom: 1; }
#pbNav { display: block; width: 200px; height: 65px; margin: auto; margin-top: 5px; }
#pbPrevBtn, #pbNextBtn, #pbZoomBtn { display: inline-block; width: 70px; height: 65px; outline: none; text-indent: -9000px; background: url(../images/navbtns.png) no-repeat; }
#pbPrevBtn { background-position: -70px 0; float: left; }
#pbPrevBtn.pbgreyed { background-position: 0 0; }
#pbNextBtn { background-position: -320px 0; float: right; }
#pbNextBtn.pbgreyed { background-position: -390px; }
#pbZoomBtn { width: 60px; background-position: -140px 0; float: left; }
#pbZoomBtn.pbgreyed { background-position: -200px 0; }
#pbZoomBtn.pbzoomed { background-position: -260px 0; }
/*------------------------------about------------------------------*/
.process { position: relative; line-height: 18px; width: 880px; height: 80px; background: url(../images/services_bg.gif) no-repeat left top; padding-bottom: 10px; padding-top: 80px; margin: 40px auto 0; }
.closeToUs a{width:242px; height:155px; float:left; margin:10px 10px 0 0;_margin-right:5px;}
#mr0{margin-right:0;}