@charset "utf-8";
/*-------------初始化----------------*/
/****  文字大小初始化,使1em=10px *****/
body{font-size:62.5%;}/* for IE/Win */
html>body{font-size:12px;} /* for everything else */
/*字体边框等初始化*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,tr,th,td,img{padding:0; margin:0; font-size:12px;}
table{border-collapse:collapse; border-spacing:0;}
fieldset,img,input{border:0;}
address,caption,cite,code,dfn,th,var{font-weight:normal; font-style:normal;}
ol,ul,li{list-style:none; vertical-align:top;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
a{text-decoration:none; outline:none;}
a img{border:none;}/*for IE*/
a:active{star:expression(this.onFocus=this.blur());}/*点击虚框去除*/
/*--------------end------------*/
body{background:#fff; font-size:14px; font-family:"微软雅黑"; color:#333;}

.btn{ width:252px; height:73px; position:relative; overflow:hidden; margin:25px auto;}
.btn a{ height:42px; line-height:39px; display:inline-block; color:#fff; background:#5f0000; text-align:right; border-radius:30px; font-size:24px; position:relative; margin:15px 0 0 7px; padding-right:22px;}
.btn span{ position:absolute; left:0; top:0; width:73px; height:73px; background:url("a_bg.png"/*tpa=http://www.itcast.cn/subject/androidzly/images/a_bg.png*/) no-repeat center; display:inline-block;}
.btn a:hover{ background:#ff0000; }

/*-------------banner-------------*/
.ban{ width:100%; height:480px; background:url("banbg.gif"/*tpa=http://www.itcast.cn/subject/androidzly/images/banbg.gif*/) no-repeat center top; overflow:hidden;}
.ban .ban_in{ width:1200px; height:480px; margin:0 auto; position:relative;}
.ban img{ display:block; position:absolute;}
.ban img.img1{ top:70px; left:365px; display:none;}
.ban img.img2{ top:-700px; left:285px;}
.ban img.img3{ bottom:-500px; left:-15px;}
.ban a{ display:block; width:370px; height:70px; line-height:70px; text-align:center; border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; background:#13BF5A; font-size:34px; font-weight:bold; color:#fff; position:absolute; top:335px; left:500px; display:none;}
.ban a:hover{ background:#23d46c;}
/*-------------con-------------*/
.box{width:100%; padding-top:75px;}
.box .box_in{width:1200px; margin:0 auto; overflow:hidden; position:relative;}
.box h2{ width:100%; height:60px; background:url("h2_2.gif"/*tpa=http://www.itcast.cn/subject/androidzly/images/h2_2.gif*/) no-repeat center top; text-align:center; font-size:44px; text-indent:-9999px; margin-bottom:45px;}
.box ul{ width:100%; overflow:hidden; margin:0 auto;}
.box ul li{ float:left;}
.box p{ font-size:16px; line-height:30px; text-align:center;}
.box .myp{ font-size:16px; line-height:28px; margin-bottom:40px;}
.box .mya{ display:block; text-transform: uppercase; background: none; outline: none; -webkit-transition: all .5s; -moz-transition: all .5s;-ms-transition: all .5s;-o-transition: all .5s; transition: all .5s; border:1px solid #000; border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; width:340px; height:48px; line-height:48px; font-size:24px; text-align:center;  position: relative; overflow: hidden; color:#000; margin:0 auto; z-index:999; margin-top:45px;}
.box .mya:before { content: ""; background-color: #46b567; -webkit-transform: skew(45deg, 0); transform: skew(45deg, 0); width: 0; height: 100%; position: absolute; top: 0px; left: -30px; z-index: -1; -webkit-transition: all .5s; transition: all .5s;}
.box .mya:hover{ color: #fff; border-color: #46b567;}
.box .mya:hover:before { width: 150%;}

.box1{ position:relative;}
.box1 h2{ background:none; text-indent:inherit;}
.box1 .box1_t{ width:100%; height:210px;}
.box1 .box1_b{ width:100%; height:260px; background:#e9e9e9;}
.box1 .box_in{ position:absolute; left:50%; top:75px; margin-left:-620px;}
.box1 .box_in ul{ width:1080px;}
.box1 .box_in ul li{ width:324px; height:364px;  margin-right:54px; background:url("box11.gif"/*tpa=http://www.itcast.cn/subject/androidzly/images/box11.gif*/) no-repeat center bottom;}
.box1 .box_in ul li.li2{ background-image:url("box12.gif"/*tpa=http://www.itcast.cn/subject/androidzly/images/box12.gif*/);}
.box1 .box_in ul li.li3{ background-image:url("box13.gif"/*tpa=http://www.itcast.cn/subject/androidzly/images/box13.gif*/); margin-right:0;}
.box1 .box_in ul li .txt{ width:258px; height:146px; padding:20px 30px 0; border:3px solid #14a2a8; border-radius:15px; -moz-border-radius:15px; -ms-border-radius:15px; -o-border-radius:15px; -webkit-border-radius:15px; background:#fff; overflow:hidden;}
.box1 .box_in ul li.li2 .txt{ border-color:#e56e48;}
.box1 .box_in ul li.li3 .txt{ border-color:#46b567;}
.box1 .box_in ul li .p1{ font-size:18px; line-height:30px; text-align:left;}
.box1 .box_in ul li .p1 span{ font-size:32px; color:#14a2a8; font-weight:bold; display:block; margin-bottom:5px;}
.box1 .box_in ul li.li2 .p1 span{ color:#e56e48;}
.box1 .box_in ul li.li3 .p1 span{ color:#46b567;}
.box1 .box_in ul li .p2{ display:none;  margin-top:30px;}
.box1 .box_in ul li .p2 a{ font-size:20px; color:#fff; line-height:34px;}
.box1 .box_in ul li .p2 a span{ color:#23d46c;}
.box1 .box_in ul li:hover .txt{ background:#535353; border-color:#fff;}
.box1 .box_in ul li:hover .txt .p1{ display:none;}
.box1 .box_in ul li:hover .txt .p2{ display:block;}

.box2 h2{ margin-bottom:20px;}
.box2 .table_t{ width:1140px; margin:0 auto;}
.box2 .table_t td{ font-size:20px; height:60px; line-height:60px; font-size:22px; background:#333; color:#fff;}
.box2 .tb_in{width:1140px; margin:0 auto; padding:20px 0 0px;}
.box2 #scrollDiv{height:530px; overflow:hidden; margin:0 auto; cursor:pointer;}
.box2 td{height:52px; line-height:52px; text-align:center; font-size:18px; color:#404040; background:#fff; border-bottom:1px solid #243e63;}
.box2 td.td1{width:115px;}
.box2 td.td2{width:80px;}
.box2 td.td3{width:115px;}
.box2 td.td4{width:140px;}
.box2 td.td5{width:295px;}
.box2 td.td6{width:105px; background:#ff6d3b; color:#fff; border-color:#ff6d3b;}
.box2 td.td7{width:290px;}
.box2 .p1{ font-size:14px; margin-top:20px;}
.box2 .mya{ width:480px; margin-bottom:70px;}

.box3{ height:1005px; background:url("box2bg.gif"/*tpa=http://www.itcast.cn/subject/androidzly/images/box2bg.gif*/) repeat-x;}
.box3 h2{ background-image:url("h2_3.gif"/*tpa=http://www.itcast.cn/subject/androidzly/images/h2_3.gif*/);}
.box3 ul{ width:1040px;}
.box3 ul li{ width:200px; height:265px; margin:0 80px 65px 0;}
.box3 ul li{ width:200px; height:265px; margin:0 80px 65px 0;}
.box3 ul li .demo{ width:200px; height:200px;}
.box3 ul li .txt{ width:142px; height:63px; background:url("box36.gif"/*tpa=http://www.itcast.cn/subject/androidzly/images/box36.gif*/) no-repeat center top; margin:0 auto; position:relative;}
.box3 ul li h3{ font-size:20px; color:#fff; height:30px; line-height:30px; position:absolute; left:30px; bottom:0px;}
.box3 .title{ width:1030px; height:65px; background:url("box37.gif"/*tpa=http://www.itcast.cn/subject/androidzly/images/box37.gif*/) no-repeat center top; margin:0 auto 41px auto; padding-left:75px;}
.box3 .title p{ font-size:30px; line-height:54px; color:#fdd327; font-weight:bold; text-align:left;}
.box3 .title p span{ display:inline-block; color:#008843; margin-right:145px;}
.box3 .con3{ width:1105px; margin:0 auto;}
.box3 .con3 .con3_l{ width:620px; height:445px; float:left; background:url("videobg.gif"/*tpa=http://www.itcast.cn/subject/androidzly/images/videobg.gif*/) no-repeat center;}
.box3 .con3 .con3_l .video{ width:566px; height:344px; margin:26px; z-index:99999;}
.box3 .con3 .con3_r{ width:450px; height:464px; float:right; background:url("con3rbg.gif"/*tpa=http://www.itcast.cn/subject/androidzly/images/con3rbg.gif*/) no-repeat right bottom; overflow:hidden;}
.box3 .con3 .con3_r h3{ width:370px; height:90px; background:url("con3.png"/*tpa=http://www.itcast.cn/subject/androidzly/images/con3.png*/) no-repeat center; text-align:left; margin:60px 0 45px;}
.box3 .con3 .con3_r p{ font-size:16px; line-height:30px; color:#fff; text-align:left;}
/*-------------翻转效果-------------*/
[class^='imghvr-'],
[class*=' imghvr-'] { position: relative; display: inline-block; margin: 0px; max-width: 100%; background:url("box35.png"/*tpa=http://www.itcast.cn/subject/androidzly/images/box35.png*/) no-repeat center top; color: #333; overflow: hidden;-webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -o-backface-visibility: hidden;  backface-visibility: hidden;  -moz-osx-font-smoothing: grayscale; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0);}
[class^='imghvr-'] > img,
[class*=' imghvr-'] > img {vertical-align: top; max-width: 100%;}
[class^='imghvr-'] figcaption,
[class*=' imghvr-'] figcaption { background-color: inherit; padding: 23px 20px 0; position:absolute; top:0; bottom:0; left:0;right: 0;}
[class^='imghvr-'] p,
[class*=' imghvr-'] p { margin: 0; padding: 0; font-size:14px;line-height:26px; text-align:left; }
[class^='imghvr-'] a,
[class*=' imghvr-'] a { position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 1;}
[class^='imghvr-'],
[class*=' imghvr-'],
[class^='imghvr-']:before,
[class^='imghvr-']:after,
[class*=' imghvr-']:before,
[class*=' imghvr-']:after,
[class^='imghvr-'] *,
[class*=' imghvr-'] *,
[class^='imghvr-'] *:before,
[class^='imghvr-'] *:after,
[class*=' imghvr-'] *:before,
[class*=' imghvr-'] *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box;  box-sizing: border-box; -webkit-transition: all 0.35s ease; -moz-transition: all 0.35s ease; -ms-transition: all 0.35s ease; -o-transition: all 0.35s ease; transition: all 0.35s ease;}
[class^='imghvr-hinge-'],
[class*=' imghvr-hinge-'] { -webkit-perspective: 50em; -moz-perspective: 50em; -ms-perspective: 50em; -o-perspective: 50em; perspective: 50em;}
[class^='imghvr-hinge-'] figcaption,
[class*=' imghvr-hinge-'] figcaption { opacity: 0; z-index: 1;}
[class^='imghvr-hinge-']:hover img,
[class*=' imghvr-hinge-']:hover img { opacity: 0;}
[class^='imghvr-hinge-']:hover figcaption,
[class*=' imghvr-hinge-']:hover figcaption { opacity: 1; -webkit-transition-delay: 0.2s; -moz-transition-delay: 0.2s; -ms-transition-delay: 0.2s; -o-transition-delay: 0.2s; transition-delay: 0.2s;}
/*-------------- imghvr-hinge-down--------------- */
.imghvr-hinge-down img { -webkit-transform-origin: 50% 100%; -ms-transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; -o-transform-origin: 50% 100%; transform-origin: 50% 100%;}
.imghvr-hinge-down figcaption {  -webkit-transform: rotateX(-90deg); -moz-transform: rotateX(-90deg); -ms-transform: rotateX(-90deg); -o-transform: rotateX(-90deg); transform: rotateX(-90deg); -webkit-transform-origin: 50% -50%; -ms-transform-origin: 50% -50%; -o-transform-origin: 50% -50%; -moz-transform-origin: 50% -50%; transform-origin: 50% -50%; }
.imghvr-hinge-down:hover > img { -webkit-transform: rotateX(90deg); -moz-transform: rotateX(90deg); -ms-transform: rotateX(90deg); -o-transform: rotateX(90deg); transform: rotateX(90deg); opacity: 0;}
.imghvr-hinge-down:hover figcaption {-webkit-transform: rotateX(0deg); -moz-transform: rotateX(0deg); -ms-transform: rotateX(0deg); -o-transform: rotateX(0deg); transform: rotateX(0deg); }

.box4 h2{ background-image:url("h2_4.gif"/*tpa=http://www.itcast.cn/subject/androidzly/images/h2_4.gif*/);}
.box4 .box_in .con4{ width:1080px; height:585px; margin:0 auto;}
.box4 .box_in .con4 div{ width:100%; height:117px; background:url("box4bg_01.jpg"/*tpa=http://www.itcast.cn/subject/androidzly/images/box4bg_01.jpg*/) no-repeat center top;}
.box4 .box_in .con4 div.div1{ background-image:url("box4bg_02.jpg"/*tpa=http://www.itcast.cn/subject/androidzly/images/box4bg_02.jpg*/);}
.box4 .box_in .con4 div.div2{ background-image:url("box4bg_03.jpg"/*tpa=http://www.itcast.cn/subject/androidzly/images/box4bg_03.jpg*/);}
.box4 .box_in .con4 div.div3{ background-image:url("box4bg_04.jpg"/*tpa=http://www.itcast.cn/subject/androidzly/images/box4bg_04.jpg*/);}
.box4 .box_in .con4 div.div4{ background-image:url("box4bg_05.jpg"/*tpa=http://www.itcast.cn/subject/androidzly/images/box4bg_05.jpg*/);}

.box5{ padding-bottom:75px;}
.box5 h2{ background-image:url("h2_5.gif"/*tpa=http://www.itcast.cn/subject/androidzly/images/h2_5.gif*/); margin-bottom:20px;}
.box5 .title{ width:870px; height:60px; margin:0 auto 20px auto;}
.box5 .title p{ width:370px; height:60px; line-height:60px; background:#292929; font-size:20px; float:left; color:#fff;}
.box5 .title p.p1{ margin-right:130px;}
.box5 ul{ width:880px; background:url("box5bg.gif"/*tpa=http://www.itcast.cn/subject/androidzly/images/box5bg.gif*/) no-repeat center top; padding:80px 50px 0;}
.box5 ul li{ width:154px; height:264px; margin-right:72px; position:relative;}
.box5 ul li div{ width:154px; height:264px; border-radius:8px; overflow:hidden; -webkit-backface-visibility:hidden;-webkit-transition:.6s;-moz-backface-visibility:hidden;-moz-transition:.6s;-ms-backface-visibility:hidden;-ms-transition:.6s;backface-visibility:hidden;transition:.6s;position:absolute;left:0;top:0;}
.box5 ul li div.nor{ background:#008843;-webkit-transform:rotateY(0deg);-moz-transform:rotateY(0deg);-ms-transform:rotateY(0deg);transform:rotateY(0deg); display:block\0;}
.box5 ul li div.nor img{ display:block; width:120px; height:120px; margin:40px 17px 15px;}
.box5 ul li div.nor h3{ font-size:18px; line-height:30px; font-weight:bold; text-align:center; color:#fff;}
.box5 ul li div.hov{ background:#333333;-webkit-transform:rotateY(-180deg);-moz-transform:rotateY(-180deg);-ms-transform:rotateY(-180deg);transform:rotateY(-180deg); display:none\0;}
.box5 ul li div.hov p{ font-size:12px; line-height:26px; color:#fff; margin:26px 15px 0; text-align:left;}
.box5 ul li:hover .nor{-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-ms-transform:rotateY(180deg);transform:rotateY(180deg); display:none\0;}
.box5 ul li:hover .hov{-webkit-transform:rotateY(0deg);-moz-transform:rotateY(0deg);-ms-transform:rotateY(0deg);transform:rotateY(0deg); display:block\0;}

.box6{ background:#e9e9e9;}
.box6 h2{ background-image:url("h2_6.gif"/*tpa=http://www.itcast.cn/subject/androidzly/images/h2_6.gif*/);}
.box6 ul{ width:928px; height:464px; background:#53695e url("box6bg.gif"/*tpa=http://www.itcast.cn/subject/androidzly/images/box6bg.gif*/) no-repeat left top;}
.box6 ul li{ width:232px; height:232px; position:relative; overflow:hidden;}
.box6 ul li p.p1{ font-size:20px; line-height:28px; margin-bottom:15px;}
.box6 ul li p.p2{ font-size:14px; line-height:24px;}
.box6 ul li h3{ width:144px; height:26px; line-height:26px; font-size:16px; font-weight:bold; text-align:center; margin:0 auto; background:#9f9d9d; border-radius:30px; color:#fff; margin-bottom:15px;}
.box6 ul li .a1{ display:block; width:106px; height:30px; line-height:30px; font-size:16px; font-weight:bold; color:#008843; text-align:center; margin:0 auto; background:#fff; border-radius:30px;}
.box6 ul li .nor{ width:232px; height:182px; background-color:#fff; padding-top:50px;}
.box6 ul li .hov{ width:232px; height:167px; background-color:#d7d7d7; padding-top:65px; -moz-transition:all 0.3s; -ms-transition:all 0.3s; -o-transition:all 0.3s; -webkit-transition:all 0.3s;  position:absolute; top:232px; left:0px;}
.box6 ul li:hover .hov{ top:0;}
.box6 ul li.li1{ width:373px; background:url("box61.jpg"/*tpa=http://www.itcast.cn/subject/androidzly/images/box61.jpg*/) no-repeat 61px 49px; margin-left:323px;}
.box6 ul li.li1 .p1{ color:#fff; margin:90px 70px 20px 16px; line-height:28px;}
.box6 ul li.li1 a{ display:block; margin-left:90px; border-radius:5px; color:#fff; font-size:16px; width:140px; height:28px; line-height:28px; border:1px solid #fff; text-align:center;}
.box6 ul li.li1 a:hover{ background:#fff; color:#53695e; font-weight:bold;}
.box6 ul li.li3 p{ color:#fff;}
.box6 ul li.li3 .nor{ background-color:#8e8e8e;}
.box6 ul li.li3 .nor h3{ color:#8e8e8e; background:#fff;}
.box6 ul li.li3 .hov{ background-color:#686868;}
.box6 ul li.li5 .nor{ background-color:#f4cc80;}
.box6 ul li.li5 .nor h3{ background:#c19645;}
.box6 ul li.li5 .hov{ background-color:#d8a441;}
.box6 ul li.li5 .hov p{ color:#fff;}
.box6 ul li.li6 .nor{ background-color:#c7e9eb;}
.box6 ul li.li6 .nor h3{ background:#82b9bc;}
.box6 ul li.li6 .hov{ background-color:#7eb3b6;}
.box6 ul li.li6 .hov p{ color:#fff;}

.box7{ padding:0; background:#292929;}
.box7 .box_in{ padding-bottom:65px;}
.box7 ul{ width:1200px; height:582px; background:url("box7bg.gif"/*tpa=http://www.itcast.cn/subject/androidzly/images/box7bg.gif*/) no-repeat center top; position:relative;}
.box7 ul li{ width:195px; position:absolute;}
.box7 ul li h3{ font-size:20px; color:#fdd327; margin-bottom:47px;}
.box7 ul li p{ font-size:12px; color:#fff; line-height:24px; text-align:left;}
.box7 ul li.li1{ left:70px; top:134px;}
.box7 ul li.li2{ left:264px; top:60px;}
.box7 ul li.li3{ width:205px; left:455px; top:371px;}
.box7 ul li.li4{ width:200px; left:692px; top:108px;}
.box7 ul li.li5{ width:200px; left:928px; top:252px;}
.box7 .mya{ border:0; background:#fff; color:#333;}

.box8 h2{ background-image:url("h2_7.gif"/*tpa=http://www.itcast.cn/subject/androidzly/images/h2_7.gif*/); margin-bottom:20px;}
.box8 ul{ width:1030px; height:590px; background:url("box8bg.jpg"/*tpa=http://www.itcast.cn/subject/androidzly/images/box8bg.jpg*/) no-repeat center; position:relative;}
.box8 ul li{ width:146px; height:146px; position:absolute;top:0;}
.box8 ul li div{ width:146px; height:146px; position:relative; overflow:hidden;}
.box8 ul li div h3{ width:146px; height:26px; line-height:26px; background:url("shadow.png"/*tpa=http://www.itcast.cn/subject/androidzly/images/shadow.png*/); position:absolute; bottom:-26px; left:0; color:#fff; font-size:14px; text-align:center; -moz-transition:all 0.3s; -ms-transition:all 0.3s; -o-transition:all 0.3s; -webkit-transition:all 0.3s; }
.box8 ul li:hover h3{ bottom:0px;}
.box8 ul li.li1{ left:148px;}
.box8 ul li.li2{ left:296px;}
.box8 ul li.li3{ right:296px;}
.box8 ul li.li4{ left:0px; top:147px;}
.box8 ul li.li5{ left:148px; top:147px;}
.box8 ul li.li6{ left:296px; top:147px;}
.box8 ul li.li7{ left:443px; top:147px;}
.box8 ul li.li8{ right:0px; top:147px;}
.box8 ul li.li9{ left:296px; top:295px;}
.box8 ul li.li10{ left:443px; top:295px;}
.box8 ul li.li11{ right:294px; top:295px;}
.box8 ul li.li12{ right:146px; top:295px;}
.box8 ul li.li13{ left:148px; top:442px;}
.box8 ul li.li14{ left:443px; top:442px;}

.box9{ position:relative; height:755px;}
.box9 h2{ background-image:url("h2_8.gif"/*tpa=http://www.itcast.cn/subject/androidzly/images/h2_8.gif*/); margin-bottom:20px;}
.box9 .mybox{ width:100%; height:266px; background:#2f2f2f; position:absolute; bottom:0px; z-index:99;}
.box9 .myphone{ display:block; position:absolute; left:456px; top:97px; z-index:990;}
#lunz {width: 1200px; height:512px;  margin:0 auto; position: relative; overflow: hidden;}
#lunz #images ul {list-style: none;}
#lunz #images ul li {position: absolute; z-index:6;}
#lunz #images ul li img {width:100%; height: 100%;}
#lunz #images ul li.no0 {z-index: 1; width: 180px; height: 295px; top: 100px; left: 0px; opacity: 0.5; filter: alpha(opacity = 0);}
#lunz #images ul li.no1 { z-index: 2; width: 246px; height: 416px; top: 75px; left: 191px;}
#lunz #images ul li.no2 { z-index: 3; width: 256px; height: 420px; top: 49px; left: 473px; z-index:999;}
#lunz #images ul li.no3 { z-index: 2; width: 246px; height: 416px; top: 75px; left: 191px;}
#lunz #images ul li.no4 { z-index: 1; width: 180px; height: 295px;	top: 100px;	left: 1030px; opacity: 0.5; filter: alpha(opacity = 0);}
#lunz #images ul li.no5 { z-index: 2; width: 246px; height: 416px; top: 75px; left: 765px;}
#lunz #anniu a { display: block; position: absolute; top: 314px; width: 70px; height:118px; cursor:pointer;}
#lunz #anniu .leftbut {  left:386px; background:url("qh.png"/*tpa=http://www.itcast.cn/subject/androidzly/images/qh.png*/) no-repeat 0 0; z-index: 995; overflow:hidden;}
#lunz #anniu .rightbut { right:385px; background:url("qh.png"/*tpa=http://www.itcast.cn/subject/androidzly/images/qh.png*/) no-repeat -70px 0; z-index: 995; overflow:hidden;}
#lunz #images ul .denghou { display: none;}

.box10{ padding-top:45px; background:#009047; height:145px; color:#fff;}
.box10 .box_in{ height:145px;}
.box10 p{ font-size:18px; margin-bottom:14px;}
.box10 h3{ font-size:50px; font-weight:bold; text-align:center;}
.box10 .con10{ width:100%; height:22px; background:#fff url("sj.jpg"/*tpa=http://www.itcast.cn/subject/androidzly/images/sj.jpg*/) no-repeat center top;}

.box11 h2{ background-image:url("h2_9.gif"/*tpa=http://www.itcast.cn/subject/androidzly/images/h2_9.gif*/);}
.box11 .box_in{ height:480px; background:url("box11bg.gif"/*tpa=http://www.itcast.cn/subject/androidzly/images/box11bg.gif*/) no-repeat center top; position:relative;}
.box11 a{ position:absolute; color:#000033; font-size:20px; line-height:32px; text-align:center;}
.box11 a.a1{ font-size:26px; left:331px; top:95px; line-height:38px;}
.box11 a.a2{left:160px; top:245px;}
.box11 a.a3{left:578px; top:210px;}
.box11 a.a4{left:325px; bottom:20px; text-align:left;}
.box11 a.a5{ width:150px; height:44px; line-height:44px; text-align:center; background:#81b331; border-radius:30px; bottom:146px; right:210px; color:#fff;}
.box11 a.a5:hover{ background:#5c8124;}


