/* Color
---------------------------------- */


/* Font
---------------------------------- */
.bg-color-f7f8fc{
    background-color: #f7f8fc;
}
.bg-color-red{
    background-color: #db4453;
    color: #fff;
}
.btn-bg-color-red{
    background-color: #d23337;
    color: #fff;
}
.font-color-7ecef4{
    color: #73cef4;
}
.font-color-abb4be{
    color: rgba(67, 74, 84, 0.62);
}
.font-color-003567{
    color: rgba(0, 53, 103, 0.53);
}
.font-color-a0a0a0{
    color: #a0a0a0;
}
.bg-color-212c3d{
    background-color: #212c3d;
    color: #fff;
}
.bg-color-a0a0a0 {
    background-color: #a0a0a0;
}
.bg-color-db4453 {
    background-color: #db4453;
    color: #fff;
}
.bg-color-888888{
    background-color: #888888;
    color: #fff;
}
.bg-color-3d3d3d{
    background-color:#3d3d3d;
}
.bg-color-434778{
    background-color: #434778;
}
.bg-color-edeeed{
    /*background-color: #e6e6e6;*/
    background-color: rgba(237, 238, 237, 0.55);
}
.bg-color-1f9140{
    background-color: #1f9140;
}
.bg-color-1f84af{
    background-color: #1f84af;
}
.bg-color-8abc5d{
    background-color: #8abc5d;
    color: #fff;
}
.bg-color-0aa2cc{
    background-color: #0aa2cc;
    color: #fff;
}
.bg-color-fac75b{
    background-color: #fac75b;
    color: #fff;
}
.bg-color-df5a5a {
    background-color: #df5a5a;
}
.bg-color-white {
    background-color: #fff;
}
.bg-color-393f4f {
    background-color: #393f4f;
}
.bg-color-e5e5e5 {
    background-color: #e5e5e5;
}
.bg-color-554378 {
    background-color: #554378;
}
.bg-color-f9f7f5 {
    background-color: #f9f7f5;
}
.bg-color-0b0b0b {
    background-color: #0b0b0b;
}
.btn-danger {
    color: #fff;
    background-color: #db4453;
    border-color: #d43f3a;
}
.btn-white {
    background-color: transparent;
    color: #434a54;
    border: 1px solid #e3e4e8;
}
.bg-color-434a54{
    background-color: #434a54;
    color: #fff;
}
.bg-color-8fc31f{
    background-color: #8fc31f;
    color: #fff;
}
.bg-color-212c3d{
    background-color: #212c3d;
}
.bg-color-bfbfbf{
    background-color: #bfbfbf;
}
.font-color-arrow-gray {
    color: rgba(102, 102, 102, 0.27);
}
.font-color-777777{
    color: #777;
}
.font-color-797979{
    color: #797979;
}
.font-color-393f48{
    color: #393f48;
}
.font-color-dark{
    color:#434a54;
}
.font-color-gray{
    color: rgba(67, 74, 84, 0.42);
}
.font-color-393f48{
    color: #393f48;
}
.font-red{
    color: #db4453;
}
.font-white{
    color: #fff;
}
.font-black{
    color:#000;
}
.font-gold{
    color: #fac75b;
}
.font-green{
    color: green;
}
.font-color-434343{
    color: #434343;
}
.font-color-333333{
    color: #333333;
}
.font-color-898989{
    color: #898989;
}
.font-color-434778{
    color: #434778;
}
.font-color-d23337{
    color: #d23337;
}
.font-color-929292{
    color:#929292;
}
.font-color-98a2ab{
    color:#98a2ab;
}
.font-color-a4aeb9{
    color: #a4aeb9;
}
.font-color-383f49{
    color: #383f49;
}
.font-color-fac75c{
    color: #fac75c;
}
.font-color-0ba2cd{
    color: #0ba2cd;
}
.font-color-7a7d97{
    color: #7a7d97;
}
.font-color-959595{
    color: #959595;
}
.font-color-008226{
    color: #008226;
}
.font-color-light-gray{
    color: rgba(33,44,61,0.5);
}
.font-color-212c3d-8{
    color: rgba(33, 44, 61, 0.8);
}
.font-size-17{
    font-size: 17px;
    font-weight: 100;
}
.font28 {
    font-size: 28px;
    color:#fff;
    padding: 0;
}
.font10{
    font-size: 10px;
}
.font12{
    font-size: 12px;
    line-height: 20px;
    font-weight: 100;
}
.font14{
    font-size: 14px;
    font-weight: 100;
    line-height: 25px;
}
.font16{
    font-size: 16px;
    font-weight: 100;
    line-height: 25px;
}
.font18{
    font-size: 18px;
    font-weight: 100;
}
.font22{
    font-size: 22px;
}
.font24{
    font-size: 24px;
}
.font30{
    font-size: 30px;
}
.font35{
    font-size: 35px;
}
.font40{
    font-size: 40px;
}
.font48{
    font-size: 48px;
}
.font65{
    font-size: 65px;
}
.font60{
    font-size: 60px;
}
.font72{
    font-size: 72px;
}
.font90{
    font-size: 90px;
}
.line-height-18{
    line-height: 18px;
}
.line-height-25{
    line-height: 25px;
}
.line-height-28{
    line-height: 28px;
}
.line-height-40{
    line-height: 40px;
}
.line-height-30{
    line-height: 30px;
}
.line-height-90{
    line-height: 90px;
}
.line-height-28{
    line-height: 28px;
}
.line-height-50{
    line-height: 50px;
}