/**
 * Header main-navigation
 */
.navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-nav {
    margin-left: -15px;
}

.webform-client-form .webform-submit {
    margin-left: 315px;
    color: #fff !important;
    background-color: #cd3c2e;
    border-color: #cd3c2e;
}
.header .header-right {
    float:right;
}
/**table border***/
.page-node table > thead > tr > th,
.page-node table > tbody > tr > th,
.page-node table > tfoot > tr > th,
.page-node table > thead > tr > td,
.page-node table > tbody > tr > td,
.page-node table > tfoot > tr > td {
    padding: 8px 15px;
    border-top: 1px solid #e3e4e8;
}   
.page-node table > thead > tr > th,
.page-node table > tbody > tr > th,
.page-node table > tfoot > tr > th,
.page-node table > thead > tr > td,
.page-node table > tbody > tr > td,
.page-node table > tfoot > tr > td {
    padding: 8px 15px;
    border: 1px solid #e3e4e8;
    background-color: #fff;
    vertical-align: middle;
    height: 47px;
}
.page-node table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 100;
}
.page-node table{
    border: 1px solid #ddd;
}
