@import url("reset.css"/*tpa=http://www.gtccmall.com/Templates/fangchang/css/reset.css*/);
@import url("668d8f61009842848b6340dc4e80289b.css"/*tpa=http://www.gtccmall.com/Templates/fangchang/css/668d8f61009842848b6340dc4e80289b.css*/);
/*public*/
body{font-family:Microsoft YaHei,Segoe UI,Tahoma,Arial,Verdana,sans-serif;font-size:12px;color:#fff;background:#000;}
a{color:#fff;text-decoration:none;}
html,body{height:100%;}
.fl{float:left;}
.fr{float:right;}
::selection {background:#c00;color:#fff;}

#main{position:relative;min-width:1366px;min-height:620px;overflow-x:auto;overflow-y:hidden;}
#main h1{display:block;background:url("../images/logo_bg.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/logo_bg.png*/) no-repeat;width:207px;height:186px;position:absolute;top:0;left:0;}
#main h1 a{display:block;background:url("../images/logo.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/logo.png*/) center no-repeat;width:147px;height:105px;margin:20px auto auto 22px;font-size:0;overflow:hidden;}
#loading{position:absolute;width:100%;height:100%;top:0;left:0;z-index:2;background:#313288;}
#loading span{display:block;width:370px;height:90px;position:absolute;left:50%;top:50%;margin-left:-185px;margin-top:-45px;}
#loading span img{vertical-align:middle;margin-left:5px;}

header{position:absolute;z-index:2;width:100%;}
nav{width:945px;height:34px;position:relative;overflow:hidden;margin:auto;}
nav li{display:block;float:left;width:133px;height:32px;background:url("../images/transparent.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/transparent.png*/);line-height:32px;padding-right:2px;}
nav li a{display:block;position:relative;background:url("../images/black.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/black.png*/);width:123px;height:32px;padding-right:10px;font-size:14px;font-weight:bold;text-align:right;}
nav li a:hover{background:#222;}
nav li a span{display:block;position:absolute;left:10px;top:0;font-weight:normal;font-size:10px;-webkit-text-size-adjust:none;opacity:0.6;filter:alpha(opacity=60);}
#buoy{position:absolute;width:133px;height:2px;background:#e9d008;bottom:0px;left:-157px;}
#viptel{position:absolute;left:50%;margin-left:-460px;top:56px;font-size:15px;font-family:Tahoma;}
#viptel strong{display:block;font-size:40px;}
#viptel strong div{height:48px;width:358px;}
#music{width:76px;height:20px;background:url("../images/black.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/black.png*/);position:absolute;right:6px;top:6px;}
#music a{display:block;width:46px;height:20px;line-height:20px;padding-left:30px;background:url("../images/play.gif"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/play.gif*/) 5px center no-repeat;font-size:10px;-webkit-text-size-adjust:none;}
#media{width:0;height:0;}

.content{width:100%;height:100%;overflow:hidden;position:absolute;left:0;top:0;}
.page{display:none;}
#slide,#slide li{position:absolute;width:100%;height:100%;left:0;top:0;}
#slide,#slide li img{position:absolute;filter:inherit}

.point p{display:block;width:32px;height:32px;position:absolute;}
.point p em{display:block;position:absolute;opacity:0.7;filter:alpha(opacity=70);z-index:1;width:32px;height:32px;background:url("../images/transparent.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/transparent.png*/);animation:animate-stripes 1.5s linear infinite;-webkit-animation:animate-stripes 1.5s linear infinite;-moz-animation:animate-stripes 1.5s linear infinite;-o-animation:animate-stripes 1.5s linear infinite;}
.point p em:hover{opacity:1;filter:alpha(opacity=100);animation-play-state:paused;-webkit-animation-play-state:paused;-moz-animation-play-state:paused;}
@keyframes animate-stripes {0% {transform: rotate(0deg);} 100% {transform: rotate(360deg);}}
@-webkit-keyframes animate-stripes {0% {-webkit-transform: rotate(0deg);} 100% {-webkit-transform: rotate(360deg);}}
@-moz-keyframes animate-stripes {0% {-moz-transform: rotate(0deg);} 100% {-moz-transform: rotate(360deg);}}
@-o-keyframes animate-stripes {0% {-o-transform: rotate(0deg);} 100% {-o-transform: rotate(360deg);}}
.point p span{display:none;width:50px;height:100px;position:absolute;bottom:15px;left:16px;border-left:1px solid #fff;border-top:1px solid #fff;}
.point p span strong{display:block;position:absolute;left:55px;top:-12px;font-size:16px;font-weight:bold;white-space:nowrap;}
#point1{left:473px;top:245px;}
#point2{left:827px;top:172px;}
#point3{left:570px;top:377px;}
#point4{left:765px;top:387px;}
#point5{left:1185px;top:321px;}
#point6{left:1152px;top:530px;}
.light img{width:33px;height:1342px;}
#light1{left:500px;top:91px;}
#light2{left:635px;top:91px;}
#light3{left:1000px;top:80px;}
#light4{left:1010px;top:80px;}
#light5{
	left: 1416px;
	top: 145px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
#light6{left:700px;top:-60px;opacity:0.5;filter:alpha(opacity=50);}
#light7{left:700px;top:-60px;opacity:0.5;filter:alpha(opacity=70);}
#light8{width:20px;height:800px;left:700px;top:202px;opacity:0.5;filter:alpha(opacity=50);}

#homenews{position:absolute;left:30px;bottom:140px;}
#homenews li{position:relative;display:block;width:350px;height:80px;margin-bottom:2px;padding:10px;background:#512285;}
#homenews li span{display:block;width:72px;float:left;}
#homenews li span strong{font-size:46px;display:block;}
#homenews li p{opacity:0.6;filter:alpha(opacity=60);}
#homenews li a{font-size:24px;}
#homenews li.news2{background:#97b434;}
#homenews li.newstit{padding:0;width:370px;height:100px;overflow:hidden;background:none;}
#homenews li.newstit img{width:184px;height:100px;}
#homenews li.newstit h2{filter:inherit;}
#homenews li.newstit h2 a{position:absolute;filter:inherit;right:0;top:0;display:block;width:184px;height:100px;background:#f7ab00;font-size:48px;line-height:100px;text-align:center;}
#leftTxt{position:absolute;width:368px;left:30px;bottom:70px;font-size:28px;line-height:1;}
#leftTxt strong{font-size:62px;display:block;font-weight:bold;position:absolute;right:0;top:0;}
#rightTxt{position:absolute;width:758px;height:600px;right:0;bottom:0;background:url("../images/right_bg.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/right_bg.png*/) no-repeat;}
#cube{position:absolute;left:426px;top:38px;width:246px;height:311px;display:none;}
#cube img{position:absolute;filter:inherit;}
#cube1{left:0;top:208px;}
#cube2{left:75px;top:130px;}
#cube3{left:180px;top:155px;}
#cube4{left:136px;top:55px;}
#cube5{left:210px;top:78px;}
#cube6{left:136px;top:0;}
#cube7{left:192px;top:4px;}
#slogan{position:absolute;bottom:65px;right:30px;text-align:right;}

.pave{height:100%;width:100%;height:100%;overflow:hidden;position:absolute;left:0;top:0;background:#eee;}
.pave img{position:absolute;}
.leftTop{width:460px;height:100%;position:absolute;top:0;left:0;background-position:top left;background-repeat:no-repeat;}
.leftBottom{width:256px;height:463px;position:absolute;bottom:0;left:0;background-position:bottom left;background-repeat:no-repeat;}
.leftBottom span{display:block;font-size:50px;position:absolute;/*word-break:break-all;word-wrap:break-word;width:220px;*/line-height:1;bottom:62px;left:30px;}
.maskBg{width:100%;height:100%;position:absolute;left:0;top:0;background:url("../images/blank.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/blank.png*/);}
.leftNav{font-size:18px;position:absolute;left:192px;top:140px;text-align:right;}
.leftNav li{display:block;}
.leftNav li a{display:block;width:170px;padding-right:22px;height:42px;line-height:40px;background:url("../images/nav_line.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/nav_line.png*/) 0 -29px no-repeat;color:#fff;}
.leftNav li a:hover,.leftNav li a.cur{background-position:0 17px;}

.imgList{width:836px;height:290px;margin-top:20px;padding:12px;background:#fff;position:relative;}
.imgBox {width:836px;height:290px;overflow:hidden;}
.imgBox ul{display:block;height:290px;}
.imgBox li{float:left;width:272px;height:290px;margin-right:10px;text-align:center;}
.imgBox li a{display:block;width:100%;height:100%;position:relative;}
.imgBox li a div{background:#c00;position:absolute;top:0;left:0;width:100%;height:100%;display:none;opacity:0.6;filter:alpha(opacity=60);}
.imgBox li a span{display:block;position:absolute;bottom:0;left:0;width:100%;height:40px;line-height:40px;font-size:14px;}
.arrow{font-family:sans-serif;font-size:72px;position:absolute;top:45px;color:#999;}
.disable{color:#eee;cursor:default;}
#prevUnit{left:10px;}
#nextUnit{right:10px;}

#brand .pave{background:#004491;}
#brand .pave img{right:60px;top:70px;}
#brand .leftTop{background-image:url("../images/left_top1.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/left_top1.png*/);}
#brand .leftBottom{background-image:url("../images/left_bottom1.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/left_bottom1.png*/);} 
#brandMain{position:absolute;width:886px;height:530px;background:url("../images/brand_bg.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/brand_bg.png*/) right top no-repeat;margin-top:-265px;left:500px;top:50%;}
#thinkingMain{position:absolute;width:620px;height:350px;margin-top:-175px;left:500px;top:50%;}
#thinkingMain h2{font-size:72px;font-weight:bold;line-height:1.2;}
#thinkingMain h3{font-size:46px;line-height:1.8;}
#thinkingMain h4{font-size:24px;line-height:1.2;padding:5px 0;opacity:0.6;filter:alpha(opacity=60);}
#thinkingMain p{font-size:14px;line-height:1.5;}
#brandMain h2{font-size:72px;line-height:1.2;}
#brandMain h3{font-size:60px;line-height:1.2;}
#brandMain #ctrBtn{margin-top:50px;}
#brandMain #ctrBtn li{background:#4d84c2;}
#brandMain #ctrBtn li.cur{background:#ebd006;}
#brandMain .imgList,#brandMain .imgBox,#brandMain .imgBox ul,#brandMain .imgBox li{height:162px;}
#brandMain .imgBox{width:725px;margin-left:55px;overflow:hidden;position:relative;}
#brandMain .imgBox li{width:235px;}
#brandMain .imgBox li a span{background:#00acf1;width:150px;height:32px;line-height:30px;padding-left:10px;border-radius:0 0 30px 0;text-align:left;top:0;bottom:auto;}
#brandMain .imgBox li a span.cd{background:#f7ab00;}
#brandTxt{width:860px;margin-top:10px;line-height:1.5;font-size:14px;}
#brandTxt p{text-indent:2em;padding:5px;}

#overview .pave{background:#004491;}
#overview .pave img{right:60px;top:70px;}
#overview .leftTop{background-image:url("../images/left_top2.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/left_top2.png*/);}
#overview .leftBottom{background-image:url("../images/left_bottom2.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/left_bottom2.png*/);} 
#overallMain{position:absolute;width:665px;height:488px;margin-top:-244px;left:500px;top:50%;}
#overallMain h2{font-size:72px;line-height:1.2;}
#overallMain h3{font-size:24px;line-height:1.2;}
#overallBox{width:562px;height:278px;margin-top:15px;}
#overallBox ul{width:458px;float:left;}
#overallBox ul li{height:90px;margin-bottom:2px;overflow:hidden;}
#overallBox ul p{width:346px;padding:5px 10px;height:80px;display:block;}
#overallBox ul p strong{display:block;font-size:36px;line-height:1.2;font-weight:bold;}
#overallBox ul p.bgColor1{background:#1647f7;}
#overallBox ul p.bgColor2{background:#472a8f;}
#overallBox ul p.bgColor3{background:#168365;font-size:14px;}
#overallBox p.bgColor4{display:block;background:#c56921;width:82px;height:254px;padding:10px;float:right;font-size:14px;}
#overallTxt{font-size:14px;}
#overallTxt p{padding:5px;}

#buildingMain{position:absolute;width:942px;height:185px;margin-top:-93px;left:500px;top:50%;}
#buildingTxt{position:absolute;width:540px;bottom:55px;right:55px;text-align:right;line-height:1.2;}
#buildingTxt h2{font-size:60px;font-weight:bold;color:#fff;}
#buildingTxt h3{font-size:24px;font-weight:bold;color:#fff;}
#buildingBox ul{width:942px;height:185px;}
#buildingBox li{float:left;width:467px;height:90px;margin-left:-24px;margin-bottom:5px;cursor:pointer;}
#buildingBox .raw2{margin-left:-55px;}
.divBg3{background:#5b1561;}

#picSlide img{background:url("../images/loading.gif"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/loading.gif*/) center no-repeat #313288;}
#picBtn{height:90px;margin-left:360px;position:relative;top:50%;margin-top:-45px;}
#picBtn  a{width:90px;height:90px;position:absolute;opacity:0.6;filter:alpha(opacity=60);}
#picBtn  a:hover{opacity:1;filter:alpha(opacity=100);}
#picBtn .leftBtn{left:30px;background:url("../images/arrow_left.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/arrow_left.png*/) no-repeat;}
#picBtn .rightBtn{right:30px;background:url("../images/arrow_right.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/arrow_right.png*/) no-repeat;}

#worth .leftTop{background-image:url("../images/left_top3.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/left_top3.png*/);}
#worth .leftBottom{background-image:url("../images/left_bottom3.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/left_bottom3.png*/);}
#about_tfMain,#contactMain{position:absolute;width:1033px;height:750px;bottom:0;right:0;background:url("../images/tianfu_right_bg.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/tianfu_right_bg.png*/) 0 -2px;}
#about_tf_txt,#contacttxt{position:absolute;width:496px;height:328px;right:66px;top:340px;}
#about_tf_txt h2{font-size:60px;font-weight:bold;text-align:right;line-height:1.2;margin-bottom:10px;}
#about_tf_txt p{padding:5px;font-size:14px;}

#courseMain{position:absolute;width:915px;height:375px;margin-top:-187px;left:500px;top:50%;}
#courseTxt{width:550px;float:right;font-size:14px;line-height:1.5;}
#courseTxt p{padding:5px 0;text-align:justify;}
#courseTxt p strong{color:#ffe100;margin-right:10px;}

#valuesMain{position:absolute;width:810px;height:390px;margin-top:-185px;left:500px;top:50%;}
#valuesMain h2{font-size:72px;font-weight:bold;color:#ffe100;padding:10px 0;white-space:nowrap;}
#valuesMain p{font-size:14px;line-height:1.5;}
#valuesMain p strong{font-weight:bold;}
#valuesTab {display:block;height:42px;overflow:hidden;}
#valuesTab li{float:left;display:block;width:120px;height:40px;vertical-align:top;text-align:center;line-height:40px;font-size:18px;cursor:pointer;}
#valuesTab li.cur{border-bottom:2px solid #ffe100;}
.valuesContent{position:absolute;top:40px;left:0;}

#support .leftTop{background-image:url("../images/left_top4.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/left_top4.png*/);}
#support .leftBottom{background-image:url("../images/left_bottom4.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/left_bottom4.png*/);}
#supportMain{position:absolute;height:284px;margin-top:-142px;left:500px;top:50%;}
#supportMain p{padding:10px 0;}
#supportMain p strong{display:block;font-size:16px;font-weight:bold;}
#supportText{position:absolute;bottom:55px;right:55px;text-align:right;line-height:1.2;}
#supportText h2{font-size:72px;font-weight:bold;color:#fff;white-space:nowrap;}
#supportImg{position:absolute;right:0;height:100%;}

#unit .pave img{right:0;height:100%;}
#unit .leftTop{background-image:url("../images/left_top5.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/left_top5.png*/);}
#unit .leftBottom{background-image:url("../images/left_bottom5.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/left_bottom5.png*/);} 
#unitMain{position:absolute;width:870px;height:480px;margin-top:-240px;left:500px;top:50%;}
#unitMain h2{font-size:72px;font-weight:bold;color:#473688;}
#unitMain h3{line-height:42px;font-size:32px;color:#ec9e07;white-space:nowrap;}
#unitMain h3 span{font-size:42px;color:#793186;font-family:'Roboto Condensed',sans-serif;vertical-align:top;margin-right:10px;}
#unitMain .imgBox li a span.H1{background:#009b4d;}
#unitMain .imgBox li a span.H2{background:#ec9e07;}
#unitMain .imgBox li a span.H3{background:#30318b;}
#ctrBtn {width:100%;height:4px;margin-top:70px;}
#ctrBtn li{float:left;width:48px;height:4px;background:#473688;margin-right:3px;cursor:pointer;font-size:0;text-indent:-9999px;overflow:hidden;}
#ctrBtn li.cur{background:#e9d008;}

#hardcover .leftTop{background-image:url("../images/left_top6.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/left_top6.png*/);}
#hardcover .leftBottom{background-image:url("../images/left_bottom6.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/left_bottom6.png*/);} 
#hardcover .pave img{right:0;}
#hardcoverMain{position:absolute;width:675px;height:422px;margin-top:-211px;left:500px;top:50%;}
#hardcoverMain li{display:block;width:100%;height:90px;overflow:hidden;margin-bottom:10px;cursor:pointer;}
#hardcoverMain li img{width:90px;height:90px;float:left;}
#hardcoverMain li p{display:block;background:#855533;width:564px;padding:10px;height:70px;float:right;}
#hardcoverMain li p strong{font-size:24px;font-weight:bold;display:block;margin-bottom:5px;}
#hardcoverMain li:hover p{background:#c8a045;}
.pager{margin-left:90px;height:20px;overflow:hidden;}
.pager a{display:block;width:20px;height:20px;line-height:20px;background:#855533;float:left;margin-left:2px;text-align:center;}
.pager a:hover,.pager a.cur{background:#c8a045;}
#dialogBg{display:none;position:absolute;width:100%;height:100%;background:#000;opacity:0.6;filter:alpha(opacity=60);z-index:9;}
#dialogDiv{display:none;top:50%;left:50%;position:absolute;padding:15px;box-shadow:5px 5px 5px rgba(0,0,0,0.5);z-index:10;}
#dialogTitle{height:50px;line-height:50px;position:relative;}
#dialogTitle h2{font-size:24px;font-weight:bold;}
#dialogTitle a{display:block;width:25px;height:25px;position:absolute;right:0;top:0;text-indent:-9999px;overflow:hidden;background:url("../images/close.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/close.png*/) no-repeat;}
#dialogContent{overflow:auto;padding:10px;line-height:1.5;}
#dialogContent strong{font-weight:bold;}
.divBg1{background:#855533;}
#hardcoverText{position:absolute;width:440px;bottom:55px;right:55px;text-align:right;line-height:1.2;}
#hardcoverText h2{font-size:30px;font-weight:bold;color:#587e7e;}
#hardcoverText h3{font-size:72px;font-weight:bold;color:#855533;}
#hardcoverText h3 span{display:block;font-size:18px;font-weight:normal;color:#666;}

#news .leftTop{background-image:url("../images/left_top7.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/left_top7.png*/);}
#news .leftBottom{background-image:url("../images/left_bottom7.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/left_bottom7.png*/);} 
#news .pave{background:#fff;}
#news .pave img{left:50%;margin-left:-510px;height:100%;}
#newsMain{position:absolute;width:675px;height:422px;margin-top:-211px;left:500px;top:50%;}
#newsMain li{display:block;width:100%;height:90px;overflow:hidden;margin-bottom:10px;cursor:pointer;}
#newsMain li span{display:block;width:90px;height:90px;background:#a600ae;text-align:center;float:left;}
#newsMain li span strong{display:block;font-size:40px;padding:5px 0;}
#newsMain li p{display:block;background:#0954df;width:564px;padding:10px;height:70px;float:right;}
#newsMain li p strong{font-size:24px;font-weight:bold;display:block;margin-bottom:5px;}
#newsMain li:hover p{background:#0093dd;}
#newsMain .pager a{background:#0954df;}
#newsMain .pager a:hover,#newsMain .pager a.cur{background:#0093dd;}
.divBg2{background:#0954df;}
#contacttxt{width:390px;height:270px;top:380px;}
#contacttxt p{line-height:1.5;font-size:14px;margin-top:10px;}

footer{width:100%;height:44px;padding-bottom:2px;line-height:44px;background:url("../images/footer_line.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/footer_line.png*/) center bottom repeat-x;position:absolute;bottom:0;z-index:2;}
#copyright{height:44px;padding-left:30px;background:url("../images/black.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/black.png*/);}
#copyright span{display:block;}
#copyright .fl,#copyright .fr em{opacity:0.6;filter:alpha(opacity=60);}
#sina{background:url("../images/sina.png"/*tpa=http://www.gtccmall.com/Templates/fangchang/images/sina.png*/) no-repeat;padding-left:25px;margin-left:10px;margin-right:30px;}
#slideBtn{width:60px;height:14px;position:absolute;left:50%;top:15px;margin-left:-30px;}
#slideBtn li{display:block;border-radius:7px;margin:0 3px;width:14px;height:14px;overflow:hidden;background:#fff;cursor:pointer;float:left;opacity:0.8;filter:alpha(opacity=80);}
#slideBtn li.cur{background:#ec9e07}
#bdshare h6{color:#666;}
