@charset "utf-8";
/*
 *base.css <网站的公用样式表>
 *AUTHOR:TANGFEI
 *DATE:2015-07-07
 *VESION:1.0
**/

/*让英文分行显示*/
*{word-wrap:break-word}

/*IE下a:hover 背景闪烁*/
*html{overflow:-moz-scrollbars-vertical;zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this))}

/*去除所有标签内的外和内边距*/
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0}
body {
	font:14px "Microsoft YaHei","宋体",Arial,sans-serif; /*需要修改*/
	text-align: center; /*为了解决ie5.5下面的居中问题*/
	background:#fff; /*需要修改*/
	color:#959595; /*需要修改*/  
}

/*网站的可视宽度*/
.container {
	width: 1000px; /*需要修改*/
	margin: 0 auto;
	text-align: left
}

/*a标签的样式*/
a{color:#333;} /*需要修改*/
a:hover{color:#238EC4; text-decoration:none;} /*需要修改*/

/*重置标签的一些样式*/
a{text-decoration:none;}
ul,ol,dl{list-style-type:none}
ul{padding-top:0.1px;} /*为了解决在li中加padding ul往下的问题*/

a:hover{
	transition: color 0.2s linear; 
	-moz-transition: color 0.2s linear;
	-webkit-transition: color 0.3s linear;
	-o-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
}

/*浮动*/
.fl{float:left; display:block;}
.fr{float:right; display:block;}
/*清除浮动*/
.clearfix,.container{*zoom:1;} /*解决ie6/7下面的浮动塌陷问题*/
.clearfix:before,.clearfix:after,.container:before,.container:after {display:table; line-height:0; content:"";} /*display:table;解决其他下面的浮动塌陷问题,line-height是将添加的内容高度设为0；*/
.clearfix:after,.container:after{clear:both;}/*清楚浮动*/

/*去除图片的边框*/
img{border:none;}

/*文字*/
.tl{text-align:left;}
.tr{text-align:right;}
.tc{text-align:center;}

/*定位*/
.pr{position:relative;}
.pa{position:absolute;}

/*特殊文字颜色*/
.red{color:red;}
.green{color:#83ba20;}
.orange{color:#F48921;}
.blue{color:#20AEFF;}
.pink{color:#FF679A;}
.hui{color:#bababa}
.shenghui{color:#333}

/*特殊字体大小*/
.f10{font-size:10px;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f15{font-size:15px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f24{font-size:24px; color:#b8b7b7;}

/*基本样式*/
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mr30{margin-right:30px;}

.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}

.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}

.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}