
@charset "utf-8";

/* common */
body {font:12px Arial,"Microsoft YaHei","SimHei";color: #4c5154;}
*{margin:0;padding:0;font-family:Microsoft YaHei, Arial;}
ul li { list-style-type: none; }
ol,ul{list-style:none;}
em{font-style:normal;}
a{ text-decoration:none; color:#747474 }
img{ border:0; vertical-align:middle }

/*----header----*/
.header{ 
	min-height:130px;
	z-index: 5;
}
/*----top-----------------------------*/
.m2-common-top{
	background-color: #EDEDED;
}
.m2-common-topCon{
	width: 1000px;
	margin: 0 auto;
	zoom: 1;
}
.m2-common-topLef h4{
	float: left;
	line-height: 36px;
	margin-right: 30px;
}
.m2-top-iconPho{
	display: inline-block;
	width: 10px;
	height: 15px;
	position: relative;
	top: 2px;
	background: url(../../common/images/iconB.png) no-repeat -40px -60px;
}
.m2-common-topLef h4 a{
	color: #4C5154;
}
.m2-common-topLef{
	float: left;
	zoom: 1;
}
.m2-common-topLef:after{display:block;clear:both;visibility:hidden;height:0;content:'-';}
.m2-common-topRig{
	float: right;
}
.m2-common-topCon:after{display:block;clear:both;visibility:hidden;height:0;content:'-';}

.m2-common-topLef h4 a:link{color: #333;}
.m2-common-topLef h4 a:visited{color: #333;}
.m2-common-topLef h4 a:hover{color: #555;}
.m2-common-topLef h4 a:active{color: #555;}

.m2-common-topRig ul li{
	float: left;
	margin-top: 10px;
}
.m2-common-topRig ul li a{
	font-weight: bold;
}
.m2-common-topLogin{
	padding:0 10px; 
	border-right: 1px solid #48484A;
}
.m2-common-topLogin a:link{color: #48484A;}
.m2-common-topLogin a:visited{color: #48484A;}
.m2-common-topLogin a:hover{color: #F46665;}
.m2-common-topLogin a:active{color: #F46665;}

.m2-common-topShare{
	position: relative;
	padding: 0 0 10px 15px;
	cursor: pointer;
}
/*.m2-wxewm{
	padding-left: 15px;
}*/
.m2-common-topShare i{
	display: block;
	width: 19px;
	height: 16px;
}
.m2-wxewm i{background: url(../../common/images/iconB.png) no-repeat 0 -80px;}
.m2-wbewm i{background: url(../../common/images/iconB.png) no-repeat 0 -100px;}
.m2-wxewm:hover i{background: url(../../common/images/iconB.png) no-repeat -19px -80px;}
.m2-wbewm:hover i{background: url(../../common/images/iconB.png) no-repeat -19px -100px;}

.m2-top-ewm{
	position: absolute;
	display: none;
	background-color: #fff;
	left: -51px;
	top: 26px;
	padding:10px 10px 6px 10px;
	z-index: 5;
	cursor: default;
	border: 1px solid #dedede;
}
.m2-top-wxEwm,.m2-top-wbEwm{
	display: block;
	width: 123px;
	height: 123px;
}
.m2-top-wxEwm{
	background: url(../../common/images/iconGa.png) no-repeat 0 -123px;
}
.m2-top-wbEwm{
	background: url(../../common/images/iconGa.png) no-repeat 0 0;
}
em.m2-topShare-arr{
	display:inline-block;
	position: absolute;
	left: 63px;
	top: -20px;
	width: 0;
	height: 0;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
}
.m2-common-topShare{
	text-align: center;
}
.m2-wxewm:hover .m2-top-ewm{display: block;}
.m2-wbewm:hover .m2-top-ewm{display: block;}
/*----nav----------------------*/
.m2-topNav{
	background-color: #fff;
	height: 95px;
	box-shadow:1px 1px 1px #ccc;
	-webkit-box-shadow:1px 1px 1px #ccc;
	border:1px solid #d4d4d4;
}
.m2-topNav-con{
	width: 1000px;
	margin: 0 auto;
	zoom: 1;
}
.m2-topNav-con:after{display:block;clear:both;visibility:hidden;height:0;content:'-';}
.m2-topNav-logo{
	margin-top: 22px;
	float: left;
}
.m2-topNav-con nav{
	float: right;
}
ul.m2-topNav-ulFir{
	zoom: 1;
}
ul.m2-topNav-ulFir:after{display:block;clear:both;visibility:hidden;height:0;content:'-';}

ul.m2-topNav-ulFir a{
	font-weight: bold;
}
ul.m2-topNav-ulFir a:link{color: #404042;}
ul.m2-topNav-ulFir a:visited{color: #404042;}
ul.m2-topNav-ulFir a:hover{color: #BA3635;}
ul.m2-topNav-ulFir a:active{color: #BA3635;}

li.m2-topNav-liFir{
	float: left;
	position: relative;
	padding:0 12px 10px 12px;
	font-size: 15px;
}
li.m2-topNav-liFir:hover ul.m2-topNav-ulSec{
	display: block;
	background-color: #fff;
}
ul.m2-topNav-ulSec{
	position: absolute;
	display: none;
	left: -8px;
	top: 28px;
	z-index: 5;
	border-top:1px solid #DEDEDE;
	border-left:1px solid #DEDEDE;
	border-right:1px solid #DEDEDE;
}
li.m2-topNav-liSec{
	width: 100px;
	font-size: 12px;
	text-align: center;
	border-bottom:1px solid #DEDEDE;
}
li.m2-topNav-liSec a{
	line-height: 29px;
}
.m2-topNav-arr,.m2-topNav-arrBg{
	position: absolute;
	display: inline-block;
	left: 40px;
	width: 0;
	height: 0;
	top: -21px;
	border-width: 10px;
	border-style: solid;
}
.m2-topNav-arr{
	border-color: transparent transparent #fff transparent;
	top: -19px;
}
.m2-topNav-arrBg{
	border-color: transparent transparent #dedede transparent;
	top: -20px;
}
.m2-topNav nav{
	margin-top: 36px;
}








#test{zoom:1;}
#test:after{display:block;clear:both;visibility:hidden;height:0;content:'-';}