form {display: block;  margin-top: 0em; text-align: left;}
.pop_bg_order {height: auto;left: 50%;margin-left: -281px !important;margin-top: -165px !important;overflow: hidden;position: fixed !important;top: 50%;width: 562px;z-index: 990;display: none;}
.order0506_topBorder {
    background-image:url("images/order140506_03.png");
    background-repeat: no-repeat;height: 6px;overflow: hidden;width: 562px;}
.orderFc {background-image: url("images/order140506_14.png");background-repeat: repeat-y;height: 313px;overflow: hidden;padding-left: 53px;width: 509px;}
.order0506_subButton input {background-color: #ff4b4b;border: medium none;color: #fff;font-size: 16px;font-weight: bold;height: 34px;width: 108px;cursor: pointer;}
.sub_mobilePhone_ {border: 1px solid #999;color: #666;font-family: Arial;font-size: 16px;font-weight: bold;height: 30px;line-height: 32px;padding-left: 5px;width: 220px;}
.order0506_subButton {height: 60px;padding-top: 15px;}
.order0506_mobilePhone {height: 48px;padding-top: 10px;}
.order0506_des {color: #666;font-size: 14px;height: 45px;line-height: 45px;}
.order0506_companyName {color: #666;font-family: "微软雅黑","宋体";font-size: 24px;height: 43px;line-height: 43px;padding-bottom: 5px;}
.order0506_closeButton {padding-left: 470px;padding-top: 16px;}