body { background: #fff; font-family:"微软雅黑"}
input[type=button]:focus, input[type=submit]:focus { outline: none; }/*ie*/
input[type=button]::-moz-focus-inner {
    outline:0;
}/*火狐*/
li{ list-style-type:none;}
.bgf9f7f1{ background:#f9f7f1;}
.width1210{width:1210px; margin:0 auto; overflow: hidden}
ul{ list-style-type:none; margin:0; padding:0;}
a { outline: none; }
/*头部样式*/
.top1 { height: 28px; width: 100%; font-size: 12px; color: #FFF; background: #183347; }
.top1_con { width: 1210px; height: 28px; line-height: 28px; }
.top1_con_lft { width: 240px; float: left; }
.top1_con_rgt { width: 350px; float: right; margin-top: 2px; }
.top1_con_rgt span { font-weight: bold; display: block; width: 100px; height: 24px; float: right; line-height: 24px; margin-left: 28px; _margin-left: 10px; }
.top1_con_rgt ul li { float: right; margin-right: 5px; }
.top1_con_rgt a.fnt:link { width: 30px; height: 21px; line-height: 21px; text-align: center; display: block; float: left; margin-left: 2px; color: #cccccc }
.top1_con_rgt a.fnt:visited { color: #cccccc }
.top1_con_rgt a.fnt:hover { color: #ffffff; }
.top1_con_rgt a.pic1 { width: 12px; height: 15px; margin-top: 3px; margin-left: 15px; background: url("../images/top1.png"/*tpa=http://www.007cypt.com/images/top1.png*/) 0px 0px; text-align: center; display: block; float: left; }
.top1_con_rgt a.pic2 { width: 18px; height: 15px; margin-top: 3px; margin-left: 5px; background: url("../images/top1.png"/*tpa=http://www.007cypt.com/images/top1.png*/) 38px 0px; text-align: center; display: block; float: left; }
.top1_con_rgt a.pic3 { width: 18px; height: 15px; margin-top: 3px; margin-left: 5px; background: url("../images/top1.png"/*tpa=http://www.007cypt.com/images/top1.png*/) 18px 0px; text-align: center; display: block; float: left; }
.top1_con_rgt a.wechat_qrcode { position:relative;}
.top1_con_rgt a.wechat_qrcode span {position: absolute;top: 24px;right: -28px;width: 120px;height: 120px; display:none; z-index:18}
.top1_con_rgt a.wechat_qrcode:hover span { display:block;}
.top2 { height: 90px; width: 100%; background: #ffffff; border-bottom: 1px solid #CCC; clear: both; }
.top2_con { width: 1210px; height: 90px; position: relative; }
.top2_con img { display: block; position: absolute; top: 13px; }
.top2_con .mune { width: 918px; position: absolute; top: 40px; right: 0; }
.top2_con .mune .lavaLamp {position: relative;height: 48px;overflow: hidden;}
.top2_con .mune .lavaLamp li { float: left; font-size:18px; _width: 60px; margin: 0px 13px; _margin-left: 9px; height: 48px; z-index:10; }
.top2_con .mune .lavaLamp li.back { border-bottom: 3px solid #9dce18; color: #333; width: 9px; height: 10px; top:30px; margin:0; z-index: 8; position: absolute;}
.top2_con .mune .lavaLamp li.back .left { border-bottom: 3px solid #9dce18; color: #333; height: 40px; margin-right: 9px; }

/*底部公用样式*/
.down { height: 151px; background: #505050; }
.down_con { width: 1210px; height: 151px; position: relative; }
.downCon_logo { display: block; position: absolute; margin-top: 40px; float: left; }
.downCon_nr { float: left; position: absolute; width: 680px; margin-top: 38px; margin-left: 260px; color: #e9e9e9; }
.downCon_nr ul { width: 680px; display: block; line-height: 35px; height: 35px; }
.downCon_nr ul li { float: left; margin: 0px 10px; }
.downCon_nr ul li a { color: #e9e9e9; font-size: 13px; }
.downCon_nr ul li a:hover { color: #ffffff; }
.downCon_nr span { display: block; padding-left: 10px; clear: both; }
a.downCon_gs { width: 49px; height: 60px; display: block; position: absolute; margin-top: 40px; margin-left: 1000px; }
/*您的需求样式*/
.xuqiu { width: 100%; background: #f9f7f1; height: 370px; }
.xuqiu_con { width: 1210px; height: 370px; position: relative; margin: 0px auto; }
.xuqiucon_left { width: 390px; height: 270px; float: left; position: absolute; margin-top: 50px; }
.xuqiucon_left h3 { display: block; float: left; font-size: 36px; color: #5d5c5c; padding: 8px; }
.xuqiucon_left h4 { display: block; font-size: 16px; color: #7b7b7b; clear: both; width: auto; padding: 8px; }
.xuqiucon_left h5 { display: block; font-size: 12px; color: #9c9b9b; width: auto; padding: 0px 8px; background: none; text-align: left; line-height: 18px; }
.xuqiucon_left ul { margin-top: 18px; }
.xuqiucon_left ul li { display: block; font-size: 12px; padding-left: 8px; height: 35px; line-height: 35px; }
.xuqiucon_right { width: 642px; height: 254px; margin-top: 58px; float: left; position: absolute; left: 550px; }
.xuqiucon_right ul li { float: left; margin-left: 10px; width: 196px; display: block; _margin-left: 4px; }
.xuqiucon_right ul li.txtArea { widht: 100px; margin-top: 10px }
.xuqiucon_right ul li input { width: 156px; height: 26px; padding-left: 40px; border: 1px solid #dcdcdc; color: #999999; line-height: 26px; }
.xuqiucon_right input.txt1 { background: url("../images/xuq_pic_03.jpg"/*tpa=http://www.007cypt.com/images/xuq_pic_03.jpg*/) #FFF 0 2px no-repeat; }
.xuqiucon_right input.txt2 { background: url("../images/xuq_pic_05.jpg"/*tpa=http://www.007cypt.com/images/xuq_pic_05.jpg*/) #FFF 0 2px no-repeat; }
.xuqiucon_right input.txt3 { background: url("../images/xuq_pic_07.jpg"/*tpa=http://www.007cypt.com/images/xuq_pic_07.jpg*/) #FFF 0 2px no-repeat; }
.xuqiucon_right .txtArea { width: 605px; height: 141px; color: #999999; padding-top: 10px; font-size: 12px; line-height: 20px; }
.xuqiucon_right .btnSubmit { height: 38px; width: 109px; margin-top: 28px; margin-left: 513px; }
.xuqiucon_right .btnSubmit input { width: 109px; height: 38px; background: url("../images/xuq_pic_21.jpg"/*tpa=http://www.007cypt.com/images/xuq_pic_21.jpg*/) no-repeat; margin: 0px; color: #FFF; font-size: 18px; font-weight: bold; text-align: center; padding: 0px; border: none; }
/*公司简介页面*/
.bannerComp { background: url("../images/company.png"/*tpa=http://www.007cypt.com/images/company.png*/) center top; height: 533px; width: 100%; }
.guarantee_menu_bg { width: 100%; height: 168px; background: #FFF; border-bottom: 1px solid #cccccc; position: relative; z-index: 100; }
.guarantee_menu_main { width: 1210px; margin: 0 auto; padding: 10px 0 0 5px; }
ul.guarantee_menu { position: absolute; display: inline-block; z-index: 100; width: 1210px; }
ul.guarantee_menu li { float: left; margin: 10px 35px; }
ul.guarantee_menu li a, ul.guarantee_menu li a.selected { display: inline-block; height: 85px; font-size: 14px; text-decoration: none; cursor: pointer; }
ul.guarantee_menu li a { color: #000; }
ul.guarantee_menu li a:hover { text-decoration: none; }
ul.guarantee_menu li a.selected { color: #FFF; }
ul.guarantee_menu li a span.menu_title, ul.guarantee_menu li a.selected span.menu_title { height: 34px; line-height: 34px; text-align: center; display: inline-block; font-weight: bold; }
ul.guarantee_menu li a.selected span.menu_title { background: #30b3e6; }
ul.guarantee_menu li a span.corn, ul.guarantee_menu li a.selected span.corn { height: 100px; background: url("../images/mune_bg_com.png"/*tpa=http://www.007cypt.com/images/mune_bg_com.png*/) no-repeat 0 0 transparent; display: inline-block; }
ul.guarantee_menu li, ul.guarantee_menu li a span { width: 125px; }
ul.guarantee_menu li.brand_con, ul.guarantee_menu li.brand_con a span, ul.guarantee_menu li.user_confide, ul.guarantee_menu li.user_confide a span { width: 125px; }
ul.guarantee_menu li.unconditionally_backtrack, ul.guarantee_menu li.unconditionally_backtrack a span { width: 125px; }
ul.guarantee_menu li.quality_stock a span.corn { background-position: -35px 0; }
ul.guarantee_menu li.quality_stock a.selected span.corn { background-position: -35px -102px; }
ul.guarantee_menu li.brand_con a span.corn { background-position: -216px 0px; }
ul.guarantee_menu li.brand_con a.selected span.corn { background-position: -216px -102px; }
ul.guarantee_menu li.jianding_center a span.corn { background-position: -400px 0; }
ul.guarantee_menu li.jianding_center a.selected span.corn { background-position: -400px -102px; }
ul.guarantee_menu li.bold_consignment a span.corn { background-position: -578px 0; }
ul.guarantee_menu li.bold_consignment a.selected span.corn { background-position: -578px -102px; }
ul.guarantee_menu li.unconditionally_backtrack a span.corn { background-position: -761px 0; }
ul.guarantee_menu li.unconditionally_backtrack a.selected span.corn { background-position: -761px -102px; }
ul.guarantee_menu li.country_lead a span.corn { background-position: -941px 0; }
ul.guarantee_menu li.country_lead a.selected span.corn { background-position: -941px -102px; }
ul.guarantee_menu li.star_commend a span.corn { background-position: -581px 0; }
ul.guarantee_menu li.star_commend a.selected span.corn { background-position: -581px -50px; }
ul.guarantee_menu li.user_confide a span.corn { background-position: -671px 0; }
ul.guarantee_menu li.user_confide a.selected span.corn { background-position: -671px -50px; }
ul.guarantee_menu li.quality_photo a span.corn { background-position: -771px 0; }
ul.guarantee_menu li.quality_photo a.selected span.corn { background-position: -771px -50px; }
ul.guarantee_menu li.gold_service a span.corn { background-position: -861px 0; }
ul.guarantee_menu li.gold_service a.selected span.corn { background-position: -861px -50px; }
.guarantee_top, .guarantee_header { width: 100%; height: 400px; }
.guarantee_center { padding-top: 170px; overflow: hidden; }
#container { width: auto; margin-top: 0px; }
.cmy { width: 1210px; position: relative; }
.cmy h4 { font-size: 23px; color: #7c7c7c; display: block; font-weight: normal; position: absolute; margin-top: 40px; }
.cmy_1 { height: 350px; }
.cmy_1 .img1 { display: block; position: absolute; top: 155px; left: 22px; }
.cmy_1 .cmy_span { display: block; width: 955px; position: absolute; left: 247px; top: 110px; line-height: 21px; }
.cmy_2 { height: 442px; }
.cmy_2_ul { width: 1210px; position: absolute; margin-top: 130px; text-align: left; }
.cmy_2_ul li { width: 223px; height: 248px; float: left; margin: 0px 85px; _margin-left: 42px; background: url("../images/cmy2_ul_bg.jpg"/*tpa=http://www.007cypt.com/images/cmy2_ul_bg.jpg*/) }
.cmy_2_ul li dl { margin-left: 56px; margin-top: 80px; }
.cmy_2_ul li dl dt { font-size: 22px; font-weight: bold; margin-bottom: 15px; }
.cmy_2_ul li dl dd { font-size: 13px; margin-top: 5px; }
.cmy_3 { height: 348px; }
.cmy_3_con { width: 1170px; position: absolute; margin-top: 95px; margin-left: 5px; color: #908e8e; }
.cmy_3_con dl dt { font-size: 19px; margin: 20px 0px 5px 0px; }
.cmy_4 { height: 414px; }
.cmy_4_con { width: 1170px; height: 265px; position: absolute; margin-top: 95px; margin-left: 5px; color: #908e8e; }
.cmy_4_con img { float: left; display: block; }
.cmy_4_con h3 { font-size: 16px; margin-left: 430px; display: block; width: 620px; text-align: left; color: #787878; }
.cmy_4_con dl { margin-left: 430px; display: block; padding: 2px 12px; }
.cmy_4_con dl dt { font-weight: bold; }
.cmy_5 { height: 528px; }
.cmy5_pic1 { position: absolute; display: block; margin: 105px 10px 0px 10px; float: left; }
.cmy_5 span { display: block; position: absolute; margin: 115px 10px 0px 310px; width: 870px; font-size: 18px; line-height: 33px; }
.cmy_5 ul { display: block; position: absolute; margin: 300px 10px 0px 300px; }
.cmy_5 ul li { float: left; margin-left: 20px; }
.cmy_6 { height: 350px; }
.cmy6_more { display: block; position: absolute; margin-top: 41px; margin-left: 1100px; }
.cmy6_newsTop { height: 195px; width: 640px; position: absolute; margin: 110px 10px 0px 10px; }
.cmy6_newsTop img { display: block; float: left; }
.cmy6_newsTop dl { width: 425px; height: 178px; display: block; float: left; margin: 20px 5px 20px 20px; }
.cmy6_newsTop .fnt16 { font-size: 16px; color: #666; }
.cmy6_newsTop .fnt12n { font-size: 13px; color: #858585; margin-top: 20px; line-height: 20px; }
.cmy6_newsTop .fnt12q { font-size: 12px; color: #b8b8b8; margin-top: 13px; }
.cmy6_newList { width: 460px; height: 190px; position: absolute; margin: 110px 10px 0px 700px; }
.cmy6_newList ul li { height: 38px; border-bottom: #CCC dashed 1px; }
.cmy6_newList ul li a { height: 38px; line-height: 38px; display: block; _padding-top: 11px; _height: 27px; }
/*下载页面样式*/
.xieyi { width: 1210px; height: 100%; margin: auto; position: relative; }
.xieyi h3 { font-size: 23px; color: #676767; display: block; margin-top: 10px; text-align: left; padding: 0px; }
.xieyi h4 { font-size: 13px; color: #717070; display: block; font-weight: normal; height: 28px; line-height: 28px; padding: 0px; }
.xieyi_con { width: 1170px; height: 430px; margin-top: 10px; overflow: auto; background: #f9fafa; border: 1px solid #e1e1e1; padding: 18px; }
.xieyi_qr { width: 1170px; height: 34px; line-height: 34px; background: #f9fafa; border: 1px solid #e1e1e1; padding: 18px; margin-top: 18px; margin-bottom: 18px; }
.xieyi_btn {text-align: center; margin: 18px 0; }
.xieyi_btn a{width:221px; height:57px;}
.xieyi_btn a.xieyi_submit {-webkit-filter: grayscale(100%);}
/*商品详情页*/
.pro_xq { width: 1210px; height: auto; margin: 0px auto; }
.pro_jj { width: 1081px; height: 278px; margin-top: 80px; margin-bottom: 20px; position: relative; }
.pro_jj img { display: block; float: left; }
.pro_jj h2 { font-size: 35px; display: block; margin-left: 40px; float: left; width: 570px; height: 60px; line-height: 60px; }
.pro_jj h6 { background: none; text-align: left; float: left; display: block; margin-left: 40px; width: 750px; height: 70px; line-height: 22px; font-size: 12px; font-weight: normal; }
.pro_jj span { display: block; font-size: 14px; color: #575757; width: 220px; margin-left: 40px; float: left; height: 50px; margin-top: 20px; }
.pro_jj span strong { font-size: 29px; color: #c60000; }
.pro_jj a { display: block; width: 186px; height: 46px; margin-left: 40px; margin-top: 20px; position: absolute; left: 260px; top: 190px; }
/* 商品详情页 - tab选项卡切换css */
.pro_jj1 { margin-top: 50px; height: 100%; width: 100%; }
.slideTxtBox { width: 100%; text-align: left; height: 100%; }
.slideTxtBox .hd { height: 39px; line-height: 39px; border-bottom: 1px solid #ddd; position: relative; width: 100%; }
.slideTxtBox .hd ul { height: 39px; width: 1210px; margin: 0 auto; display: block; }
.slideTxtBox .hd ul li { float: left; margin-left: 10px; cursor: pointer; font-size: 17px; width: 108px; text-align: center; height: 39px; line-height: 39px; }
.slideTxtBox .hd ul li.on { height: 39px; background: #2bb0ea; color: #FFF; text-align: center; }
.slideTxtBox .bd ul { zoom: 1; margin: 0px auto; }
.slideTxtBox .bd li { height: 24px; line-height: 24px; height: 100%; width: 100%; overflow: hidden; display: block; text-align: center; }
/*商品详情页 - tab选项卡切换1商品描述*/
.slideTxtBox .bd li.bd_1 div { width: 100%; }
.slideTxtBox .bd li .date { float: right; color: #999; }
/*商品详情页 - tab选项卡切换2用户评价*/
.slideTxtBox .bd li.bd_2 { margin-bottom: 15px; }
.bd2_pl { width: 1210px; margin-top: 25px; text-align: left; }
.bd2_pl ul { display: block; border: 1px #dddddd solid; }
.bd2_pl ul li { text-align: left; border-bottom: 1px #dddddd solid; }
.bd2_pl ul li.bd2_title span strong { color: #c60006; }
.bd2_pl ul li.bd2_title { background: #CCC; height: 31px; background: #fafafa; border-bottom: 1px #dddddd solid; }
.bd2_pl ul li.bd2_title h3 { padding: 0; text-align: left; font-size: 15px; font-weight: bold; display: block; width: 74px; height: 31px; line-height: 31px; float: left; margin-left: 12px; }
.bd2_pl ul li.bd2_title span { display: block; font-size: 12px; font-weight: bold; text-align: center; color: #888; width: 80px; height: 31px; line-height: 31px; float: left; margin-left: 1040px; }
.bd2_pl ul li .bd2_con_1 { height: 40px; width: 1210px; }
.bd2_pl ul li .bd2_con_1 h4 { display: block; font-size: 13px; text-align: left; width: 107px; height: 20px; line-height: 20px; color: #4ba1da; margin-left: 12px; margin-top: 15px; float: left; }
.bd2_pl ul li .bd2_con_1 h5 { display: block; font-size: 12px; background: none; width: 120px; height: 20px; line-height: 20px; text-align: left; float: left; margin-top: 15px; }
.bd2_pl ul li .bd2_con_1 h6 { display: block; width: 85px; height: 17px; line-height: 17px; padding: 0px; background: none; background: url("../images/score.png"/*tpa=http://www.007cypt.com/images/score.png*/) no-repeat scroll -7px -3px rgba(0, 0, 0, 0); display: block; float: left; margin-top: 15px; margin-left: 858px; }
.bd2_pl ul li .bd2_con_2 { width: 1185px; color: #777; line-height: 21px; margin-left: 12px; margin-bottom: 15px; text-align: left; }
.bd2_pl ul li.bd2_page { width: 1210px; border-bottom: none; ; }
.bd2_pl ul li.bd2_page span { display: block; font-size: 12px; text-align: center; width: 210px; float: right; margin-right: 10px; margin-top: 15px; }
.bd2_pl ul li.bd2_page span a { margin-left: 5px; }
.bd2_pl ul li.bd2_page .xqyTxtArea textarea { width: 1180px; height: 80px; margin-left: 12px; margin-top: 15px; }
.bd2_pl ul li.bd2_page .endSubmit { width: 1182PX; margin-top: 15px; margin-bottom: 10px; }
.bd2_pl ul li.bd2_page .endSubmit ul.endRadio { width: 580px; height: 24px; border: none; float: left; margin: 8px 0px; margin-bottom: 16px; }
.bd2_pl ul li.bd2_page .endSubmit ul.endRadio li { float: left; width: 115px; border: none; }
.bd2_pl ul li.bd2_page .endSubmit ul.endRadio li input { display: block; float: left; margin-bottom: 2px; }
.bd2_pl ul li.bd2_page .endSubmit ul.endRadio li.radioG span { display: block; float: left; width: 85px; height: 17px; background: url("../images/score.png"/*tpa=http://www.007cypt.com/images/score.png*/); margin: 0px; }
.bd2_pl ul li.bd2_page .endSubmit ul.endRadio li.radio1 span { background-position: -7px -2px; background-repeat: no-repeat; }
.bd2_pl ul li.bd2_page .endSubmit ul.endRadio li.radio2 span { background-position: -7px -38px; background-repeat: no-repeat; }
.bd2_pl ul li.bd2_page .endSubmit ul.endRadio li.radio3 span { background-position: -7px -73px; background-repeat: no-repeat; }
.bd2_pl ul li.bd2_page .endSubmit ul.endRadio li.radio4 span { background-position: -7px -109px; background-repeat: no-repeat; }
.bd2_pl ul li.bd2_page .endSubmit ul.endRadio li.radio5 span { background-position: -7px -145px; background-repeat: no-repeat; }
.bd2_pl ul li.bd2_page .endSubmit input.xqyBtnSubmit { background: url("../images/xuq_pic_21.jpg"/*tpa=http://www.007cypt.com/images/xuq_pic_21.jpg*/); float: left; width: 109px; height: 38px; font-size: 20px; color: #fff; border: none; display: block; margin-left: 492px; }
/*商品详情页 - tab选项卡切换3常见问答*/
.slideTxtBox .bd li.bd_3 { clear: both; margin-bottom: 15px; }
.wenda { width: 1210px; border: 1px #CCCCCC solid; border-bottom: none; margin-top: 25px; }
.wenda dl { width: 1180px; height: 40px; border-bottom: #CCC 1px solid; text-align: left; padding: 15px 15px; }
.wenda dl dt { color: #c00; }
/*商品详情页 - 底部图片*/
.down_tags { width: 1210px; margin: 0 auto; height: 108px; overflow: hidden; }
.down_tags div { width: 242px; height: 108px; float: left; bottom: -108px; position: relative; background: url("../images/down_sq_pic.jpg"/*tpa=http://www.007cypt.com/images/down_sq_pic.jpg*/) no-repeat; }
.down_tags .down-tag1 { background-position: 0px 0px; }
.down_tags .down-tag2 { background-position: -250px 0px; }
.down_tags .down-tag3 { background-position: -488px 0px; }
.down_tags .down-tag4 { background-position: -755px 0px; }
.down_tags .down-tag5 { background-position: -990px 0px; }
/*客户案例*/
.bannerCase { background: url("../images/khal.png"/*tpa=http://www.007cypt.com/images/khal.png*/) center top; height: 533px; width: 100%; }
.feature{ background: url("../images/hxld.png"/*tpa=http://www.007cypt.com/images/hxld.png*/) center top;}
.service{ background: url("../images/zbfw.png"/*tpa=http://www.007cypt.com/images/zbfw.png*/) center top;}
.license{background: url("../images/banner2.jpg"/*tpa=http://www.007cypt.com/images/banner2.jpg*/) center top !important;}
.case_con { width: 100%; height: auto; }

/*客户案例-六张图片切换*/
.appkaifaanli { width: 1210px; height: auto; overflow: hidden; margin: 0px auto; position: relative; }
.appkaifaanli span { display: block; font-size: 23px; line-height: 28px; height: 28px; margin-top: 40px; color: #737373; text-indent: 14px; }
.appkaifaanli span h6 { width: 4px; height: 28px; display: block; padding: 0px; background: #31b2ec; float: left; position: absolute; }
/*商业授权*/
/*banner*/
.bannerSysq { background: url("../images/bannerSysq.jpg"/*tpa=http://www.007cypt.com/images/bannerSysq.jpg*/) center top; height: 533px; width: 100%; }
.bannerSysq_con { width: 1210px; height: 533px; position: relative; }
.bannerSysq_con .bnr_title { left: 46px; top: 141px; position: absolute; display: block; }
.bannerSysq_con .bnr_iph { width: 229px; top: 32px; left: 884px; height: 475px; display: block; position: absolute; }
.bannerSysq_con a { display: bolck; width: 187px; height: 58px; top: 320px; position: absolute; }
.bannerSysq_con a img { filter: alpha(opacity=94); zoom: 1; opacity: 0.94; }
.bannerSysq_con a img:hover { filter: alpha(opacity=100); opacity: 1; }
.bannerSysq_con a.bnrBtn1 { left: 50px; }
.bannerSysq_con a.bnrBtn2 { left: 270px; }
.sysq { height: 100%; margin: 0px auto; }
.bgFFF { background: #fff; width: 100%; overflow: hidden; }
.bgF9f7f1 { background: #f9f7f1; width: 100%; overflow: hidden; }
.sysq_con { width: 1210px; position: relative; height: 450px; margin: 0px auto; }
.fnt36 { font-size: 36px; height: 46px; padding: 0px; margin: 0px; display: block; text-align: left; top: -46px; color: #5c5c5c; line-height: 46px; position: absolute; left: 21px; }
.h28 { font-size: 28px; color: #5c5c5c; display: block; padding: 0px; margin: 0px; font-weight: normal; }
.span14 { font-size: 14px; color: #787878; display: block; margin-top: 15px; line-height: 26px; }
/*商业授权-第一行*/
.sysqConL1 { position: absolute; top: 39px; height: 373px; width: 270px; left: -560px; opacity: 0; }
.sysqConR1 { position: absolute; top: 200px; height: 113px; width: 500px; right: -560px; opacity: 0; }
.sysqConR1 dl { display: block; }
.sysqConR1 dl dt { font-size: 36px; margin-bottom: 20px; color: #5c5c5c; }
.sysqConR1 dl dd { font-size: 18px; margin-top: 10px; color: #787878; }
/*商业授权-第二行*/
.sysqConL2 { position: absolute; width: 450px; height: 120px; left: -560px; top: 200px; opacity: 0; }
.sysqConR2 { position: absolute; width: 500px; height: 140px; right: -560px; top: 200px; opacity: 0; }
/*商业授权-第三行*/
.sysqConL3 { position: absolute; width: 488px; height: 117px; left: -560px; top: 150px; opacity: 0; }
.sysqConR3 { position: absolute; width: 444px; height: 119px; right: -560px; top: 150px; opacity: 0; }
.sysqConL33 { position: absolute; width: 488px; height: 117px; left: -560px; top: 295px; opacity: 0; }
.sysqConR33 { position: absolute; width: 444px; height: 119px; right: -560px; top: 295px; opacity: 0; }
.sysqUl3 { margin-top: 15px; }
.sysqUl3 li { font-size: 14px; height: 25px; line-height: 25px; color: #5c5c5c }
.fnt3 { top: -46px; }
/*商业授权-第四行*/
.sysqConL4 { width: 345px; height: 105px; left: -560px; top: 193px; position: absolute; opacity: 0; }
.sysqConR4 { width: 490px; height: 145px; right: -560px; top: 193px; position: absolute; opacity: 0; }
.span14 strong { font-size: 26px; color: #ff0000; font-weight: normal; }
/*商业授权-第五行*/
.biaodan { width: 600px; height: 379px; position: absolute; top: 45px; left: 21px; }
.biaodan .fnt20 { font-size: 20px; color: #787878; text-align: left; display: block; top: 54px; position: absolute; font-weight: normal; }
.biaodan .bdForm { width: 600px; top: 120px; position: absolute; }
.bdForm .txt { width: 268px; display: block; height: 30px; float: left; }
.bdForm .txtSelect { height: 35px; width: 275px; }
.bdForm .txtLf { margin-left: 18px; }
.bdForm .txtBt { margin-bottom: 25px; }
.biaodan .bdBottom { height: 43px; width: 600px; text-align: left; position: absolute; top: 260px; }
.biaodan .bdBottom a { background-color: #000; display: block; float: left; }
.biaodan .bdBottom a.bdBtn1 { width: 146px; height: 38px; }
.biaodan .bdBottom a.bdBtn2 { width: 109px; height: 38px; margin-left: 30px; }
.biaodan .bdBottom a img { opacity: 0.97; filter(alpha=97);}
.biaodan .bdBottom a img:hover { opacity: 1; filter(alpha=100);}
/*周边服务*/
.bannerZbfw { width: 100%; height: 533px; position: relative; z-index: 1;}
/*周边服务-banner*/
#slides { display: block; width: 100%; height: 533px; list-style: none; padding: 0; margin: 0; position: relative }
#slides li { display: block; width: 100%; height: 100%; list-style: none; padding: 0; margin: 0; position: absolute }
#slides li a { display: block; width: 100%; height: 100%; text-indent: -9999px }
#pagination { display: block; list-style: none; position: absolute; top: 495px; left: 49%; z-index: 3; width: 130px; margin: 0px auto; text-align: center; }
#pagination li { display: block; list-style: none; width: 12px; height: 12px; float: left; margin-left: 15px; background: url("../images/bannerYd.png"/*tpa=http://www.007cypt.com/images/bannerYd.png*/) -26px 0 no-repeat; }
#pagination li a { display: block; width: 100%; height: 100%; padding: 0; margin: 0; text-indent: -9999px; }
#pagination li.current { background: #A10506; background: url("../images/bannerYd.png"/*tpa=http://www.007cypt.com/images/bannerYd.png*/) -0 0 no-repeat; }
/*周边服务-ectouch模板*/
.ectouchMb { height: 405px; width: 1210px; position: relative; overflow: hidden; }
.ecMb1 a.moreMb1 { display: block; position: absolute; right: 30px; top: 75px; }
.ectouchMb .fnt36 { top: 50px }
.ectouchMb ul { height: 216px; width: 1198px; top: 405px; left: 0px; position: absolute; display: block; }
.ectouchMb ul li { float: left; margin-left: 21px; _margin-left: 11px; margin-top: 10px; display: block; height: 216px; overflow: hidden; width: 216px; position: relative; }
.ectouchMb ul li span { width: 216px; height: 216px; display: block; position: absolute; top: 216px; z-index: 5; background: #ec2464; color: #FFF; }
.ectouchMb ul li span h4 { font-size: 16px; display: block; padding-top: 36px; text-align:center; }
.ectouchMb ul li span h3 { font-size: 19px; display: block; float: left; padding: 0px; top: 55px; left: 18px; position: absolute; }
.ectouchMb ul li span img.ewm { display: block; top: 100px; width: 90px; height: 90px; left: 63px; position: absolute; }
.ectouchMb ul li img { width: 216px; height: 216px; display: block; position: absolute; top: 0px; z-index: 4; }
/*周边服务-ectouch插件*/
.ecMb2 a.moreMb1 { display: block; position: absolute; right: 30px; top: 75px; }
.ecMb2 ul li span { background: #c9c9c9; color: #4c4c4c; }
.ecMb2 ul li a { display: block; position: absolute; left: 19px; top: 90px; }
/*周边服务-高端定制*/
.ecgddz { width: 1210px; height: 575px; position: relative; }
.ecgddz .fnt36 { top: 66px; }
.ecgddz .fnt14 { font-size: 14px; color: #8c8b8b; display: block; position: relative; left: 21px; top: 120px; }
.ecgddz img.imgLct { display: block; position: absolute; left: 21px; top: 176px; }
.ecgddz a.gddz_btn { width: 187px; height: 58px; display: block; float: left; position: absolute; top: 463px; left: 400px; background: #000; }
.ecgddz a.tj { }
.ecgddz a.kf { left: 660px; }
a.gddz_btn img { opacity: 0.97; filter(alpha=97);
}
a.gddz_btn img:hover { opacity: 1; filter(alpha=100);
}
/*周边服务-服务商、合作流程*/
.fwslc { width: 1210px; height: 445px; position: relative; }
.fwslc .fws { top: 60px; }
.fwslc .fwslch4 { width: 480px; height: 70px; position: absolute; top: 115px; left: 21px; color: #8c8b8b; font-size: 14px; font-weight: normal; line-height: 22px; }
.fwslc .fwslc18 { font-size: 18px; width: 130px; color: #6f6f6f; left: 21px; top: 218px; position: absolute; }
.fwslc .fwslc12 { font-size: 12px; top: 248px; left: 21px; position: absolute; }
.fwslc .hzl { left: 630px; top: 60px; }
.fwslc .fwslcLct { display: block; position: absolute; top: 120px; left: 630px; }
.fwslc .sq { top: 357px; left: 477px; position: absolute; display: blcok; background: #000; }
/*ECTouch index banner*/
.fs-21 { font-size: 21px; }
.fs-68 { font-size: 68px; font-weight: normal; }
.fn-left { float: left; }
.fn-right { float: right; }
.fn-clear { }
.banner { width: 100%; position: relative; height: 533px; z-index: 10; }
.banner-img img { width: 100%; display: block; min-width: 1210px; }
.list-cont { margin: 0px auto 0px -490px; padding: 0px 5px; left: 50%; top: 0px; width: 960px; height: 100%; position: absolute; }
.banner-word { left: 10px; top: 209px; width: 540px; color: rgb(255, 255, 255); line-height: 55px; position: absolute; }
.banner-word p { line-height: 38px; }
.banner-word span.banner-btn { display: block; width: 130px; height: 45px; line-height: 45px; background: #8fbf0d; color: #FFF; float: left; margin-right: 15px; margin-top: 10px; font-size: 18px; text-align: center; border-radius: 4px; text-indent: inherit; }
.banner-word span.banner-btn:hover { background: #85b20c; }
.banner-word span.banner-btn1 { background: #2ca8dd }
.banner-word span.banner-btn1:hover { background: #24a0d5; }
.banner-word p.p-number { clear: both }
.banner-phone { top: 216px; width: 374px; height: 519px; right: 10px; margin-top: -130px; position: absolute; }
.carouse-pre { top: 50%; width: 33px; height: 55px; margin-top: -40px; position: absolute; opacity: 0.6; _top: 265px; }
.carouse-next { top: 50%; width: 33px; height: 55px; margin-top: -40px; position: absolute; opacity: 0.6; _top: 265px; }
.carouse-pre:hover { opacity: 1; }
.carouse-next:hover { opacity: 1; }
.list-cont span { text-indent: 100px; overflow: hidden; white-space: nowrap; cursor: pointer; }
.carouse-pre { background: url("../images/icon1.png"/*tpa=http://www.007cypt.com/images/icon1.png*/) no-repeat 0px 0px; left: -100px; }
.carouse-next { background: url("../images/icon1.png"/*tpa=http://www.007cypt.com/images/icon1.png*/) no-repeat -55px 0px; right: -100px; }
.carouse-btn { left: 350px; height: 20px; bottom: 30px; position: absolute; _top: 490px; }
.carouse-btn span { background: url("../images/icon1.png"/*tpa=http://www.007cypt.com/images/icon1.png*/) no-repeat -110px 0px; top: 50px; width: 13px; height: 12px; margin-left: 10px; float: left; }
.carouse-btn #cur-ic { background: url("../images/icon1.png"/*tpa=http://www.007cypt.com/images/icon1.png*/) no-repeat -130px 0px; width: 12px; height: 12px; margin-top: 0px; }
.container { width: 100%; }
/*ECTouch 1*/
.idxFnt36 { font-size: 36px; float: left; margin: 0px; padding: 0px; display: block; }
.idxFnt13 { font-size: 18px; float: left; margin: 0px; padding: 0px; display: block; clear: both; font-weight: normal; text-align: left; background: none; line-height: 36px; margin-top: 20px; height: 100% }
.ectouchIdx1_con { height: 433px; width: 1210px; position: relative; }
.ectouchIdx1Con_lt { width: 480px; height: 298px; position: absolute; left: -560px; top: 80px; opacity: 0; filter(alpha=0);}
.ectouchIdx1Con_lt img { display: block; }
.ectouchIdx1Con_rt { width: 530px; height: 140px; position: absolute; right: -560px; top: 100px; opacity: 0; filter(alpha=0);}
/*ECTouch 2*/
.ectouchIdx2_con { height: 433px; width: 1210px; position: relative; }
.ectouchIdx2Con_lt { width: 530px; height: 140px; position: absolute; left: -560px; top: 100px; opacity: 0; filter(alpha=0);}
.ectouchIdx2Con_rt { width: 480px; height: 276px; position: absolute; right: -560px; top: 80px; opacity: 0; filter(alpha=0);}
.ectouchIdx2Con_rt img { display: block; }
/*ECTouch index link*/
.indexLink { height: 60px; width: 1210px; }
.indexLink h5 { background: none; text-align: left; font-size: 14px; width: 77px; display: block; float: left; }
.indexLink ul { width: 1020px; display: block; float: left; margin-top: 8px; }
.indexLink ul li { float: left; margin-left: 5px; height: 22px; line-height: 22px; padding: 0 5px; }
/*案例列表*/
#ds2 { margin-top: 28px; height: auto; overflow: hidden; }
#ds { background-image: url("../images/TOP_02.jpg"/*tpa=http://www.007cypt.com/images/TOP_02.jpg*/); height: 330px; background-repeat: no-repeat; background-position: center; background-color: #c20404; }
#ds2-fanye{height:auto; overflow:hidden;}
.ds-top { background-image: url("../images/CG_05.gif"/*tpa=http://www.007cypt.com/images/CG_05.gif*/); background-repeat: no-repeat; background-position: center center; float: inherit; padding-top: 28px; padding-bottom: 28px; }
.ds-toptxt { line-height: 43px; color: #FFF; font-size: 23px; text-align: center; }
.ds-body { width: 1210px; margin-right: auto; margin-left: auto; }
#ds1-fanye { margin: 0px; padding: 0px; color: #333333; font-family: "微软雅黑", "Droid Sans Fallback", "黑体-简", "黑体", "宋体"; font-size: 16px; }
.more { height: 27px; width: 1160px; text-align: right; font-family: "微软雅黑", "Droid Sans Fallback", "黑体-简", "黑体", "宋体"; font-size: 16px; margin-top: auto; margin-right: auto; margin-bottom: 20px; margin-left: auto; padding-top:3px; }
.more a { color: #333333;}
.more a:hover { color: #00a8ff; }
.logos-list { width: 1210px; margin: auto; height: 970px; text-align: center; list-style-type: none; }
.logos-mini { /*	background-image: url(../images/CG_09.gif);*/
    height: 289px; width: 302px; float: left; margin-bottom: 45px; display: inline; background-repeat: no-repeat; background-position: center top; }
.logos-mini img { margin-top: 1px; }
.txt-box { font-family: "微软雅黑", "宋体"; color: #313131; text-align: left; height: 87px; width: 287px; margin-left: 8px; }
.txt-title { font-size: 16px; line-height: 30px; }
.txt-txt { font-size: 16px; }
#apDiv1 { position: absolute; left: 1265px; width: 217px; height: 240px; z-index: 1; background-color: #FFF; top: 2820px; }
#apDiv1 p { font-size: 14px; color: #8fc31f; text-align: center; width: 217px; }
#bottom { width: 100%; float: inherit; padding: 15px 0 15px 0; background-image: url("../images/BottomBJ.jpg"/*tpa=http://www.007cypt.com/images/BottomBJ.jpg*/); background-repeat: repeat-y; background-position: center; background-color: #00888a; }
#bottom1 { width: 1210px; margin: 0 auto; }
#bottom1a { width: 1019px; float: left; text-align: center; line-height: 24px; padding-top: 15px; }
#bottom1b { width: 191px; float: right; }
/*图片效果*/
.w-mg { margin-right: 15px; margin-bottom: 50px; margin-left: 0px; padding-left: 1px; padding-top: 1px; }
.w-mg1 img { padding-left: 2px; padding-top: 1px; }
.w-al { width: 290px; float: left; height: 289px; /*	background-image: url(../images/CG_09.gif);*/
    background-repeat: no-repeat; }
.w-al1 { width: 100%; float: inherit; }
.w-al2 { width: 100%; float: inherit; padding-top: 10px; color: #333; font-size: 14px;}
.wrap a { display: block; width: 287px; height: 197px; text-decoration: none; }
.wrap { width: 287px; height: 197px; position: relative; overflow: hidden; float: left; display: inline; }
.wrap img { border: 0; }
.wrap i { display: block; width: 287px; height: 197px; position: absolute; left: 0; top: 225px; z-index: 1; background: url("../images/yy.png"/*tpa=http://www.007cypt.com/images/yy.png*/); filter: alpha(opacity=80);  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    opacity: 1; -webkit-transition: all 0.6s ease-in-out; }
.wrap p { display: block; width: 100%; height: 150px; position: absolute; left: 0; top: 225px; z-index: 1; background: transparent; font-size: 12px; color: #fff; padding: 0; margin: 0; line-height: 16px; -webkit-transition: all 0.6s ease-in-out; }
.wrap_B { display: none; font-size: 24px; color: #fff; margin: 0; padding-top: 20PX; padding-left: 20PX; padding-right: 20PX; line-height: 30px; }
.wrap_PL { display: block; padding: 20px; padding-top: 10PX; line-height: 18px; font-size: 14PX; text-align: left; }
.wrap_P { display: block; line-height: 18px; font-size: 14PX; text-align: center; padding-left: auto; padding-right: auto; padding-top: auto; padding-bottom: auto; }
.wrap a:hover { direction: ltr; }
.wrap a:hover i { top: 0; }
.wrap a:hover p { top: 0;
}
.more {
    height: 27px;
    width: 1160px;
    text-align: right;
    font-family: "微软雅黑", "Droid Sans Fallback", "黑体-简", "黑体", "宋体";
    font-size: 16px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}
.more  a {
    color: #333333;
}
.more a:hover {
    color: #00a8ff;
}


/*提交需求弹出框*/
#TB_window {
    font: 12px Arial, Helvetica, sans-serif;
    color: #333333;
}

#TB_secondLine {
    font: 10px Arial, Helvetica, sans-serif;
    color:#666666;
}

#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
}

.TB_overlayMacFFBGHack {background: url("macFFBgHack.png"/*tpa=http://www.007cypt.com/css/macFFBgHack.png*/) repeat;}
.TB_overlayBG {
    background-color:#000;
    filter:alpha(opacity=75);
    -moz-opacity: 0.75;
    opacity: 0.75;
}

* html #TB_overlay { /* ie6 hack */
    position: absolute;
    height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
    position: fixed;
    background: #ffffff;
    z-index: 102;
    color:#000000;
    display:none;
    border: 4px solid #525252;
    text-align:left;
    top:50%;
    left:50%;
}

* html #TB_window { /* ie6 hack */
    position: absolute;
    margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
    display:block;
    margin: 15px 0 0 15px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
}

#TB_caption{
    height:25px;
    padding:7px 30px 10px 25px;
    float:left;
}

#TB_closeWindow{
    height:25px;
    padding:11px 25px 10px 0;
    float:right;
}

#TB_closeAjaxWindow{
    padding:5px 10px 5px 0;
    margin-bottom:1px;
    text-align:right;
    float:right;
}

#TB_ajaxWindowTitle{
    float:left;
    padding:5px 0 5px 10px;
    margin-bottom:1px;
}

#TB_title{
    background-color:#e8e8e8;
    height:27px;
}

#TB_ajaxContent{
    clear:both;
    padding:2px 15px 15px 15px;
    overflow:auto;
    text-align:left;
    line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
    padding:15px;
}

#TB_ajaxContent p{
    padding:5px 0px 5px 0px;
}

#TB_load{
    position: fixed;
    display:none;
    height:13px;
    width:208px;
    z-index:103;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
    position: absolute;
    margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
    z-index:99;
    position:fixed;
    top: 0;
    left: 0;
    background-color:#fff;
    border:none;
    filter:alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    height:100%;
    width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
    position: absolute;
    height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
    clear:both;
    border:none;
    margin-bottom:-1px;
    margin-top:1px;
    _margin-bottom:1px;
}

.myOnPageContent_xq input { width: 156px; height: 26px; float: left; padding-left: 40px; border: 1px solid #dcdcdc; color: #999999; line-height: 26px; margin-top: 15px; }
.myOnPageContent_xq input.txt1 { background: url("../images/xuq_pic_03.jpg"/*tpa=http://www.007cypt.com/images/xuq_pic_03.jpg*/) #FFF 0 2px no-repeat; }
.myOnPageContent_xq input.txt2 { background: url("../images/xuq_pic_05.jpg"/*tpa=http://www.007cypt.com/images/xuq_pic_05.jpg*/) #FFF 0 2px no-repeat; margin-left: 10px; _margin-left: 5px; }
.myOnPageContent_xq input.txt3 { background: url("../images/xuq_pic_07.jpg"/*tpa=http://www.007cypt.com/images/xuq_pic_07.jpg*/) #FFF 0 2px no-repeat; margin-left: 10px; _margin-left: 5px; }
.myOnPageContent_xq .txtArea { width: 602px; height: 141px; color: #999999; padding-top: 10px; font-size: 12px; line-height: 20px; margin-left: -5px; margin-top: 8px; padding-left: 10px; }
.myOnPageContent_xq .btnSubmit input { width: 109px; height: 38px; background: url("../images/xuq_pic_21.jpg"/*tpa=http://www.007cypt.com/images/xuq_pic_21.jpg*/) no-repeat; margin: 70px; margin-bottom: 0px; float: right; margin-right: -00px; color: #FFF; font-size: 18px; font-weight: bold; text-align: center; padding: 0px; border: none; }
/*用户登录注册页*/
.userTop { height: 96px; width: 100%; border-bottom: 1px solid #e9e9e9; }
.userTop .userTop_con { height: 96px; width: 1210px; margin: 0 auto; }
.userTop_con h1 { display: block; width: 176px; height: 60px; float: left; margin-top: 17px; }
.userCon_rt { width: auto; float: right; margin-top: 37px; font-size: 13px; }
.userCon_rt span { display: block; width: auto; height: 22px; float: left; }
.userCon_rt a { display: block; width: auto; float: left; margin-left: 10px; }
.userLogin { width: 1210px; height: auto; overflow: hidden; padding: 90px 0px }
.userLogin .spanTips { background: url("../images/tips.jpg"/*tpa=http://www.007cypt.com/images/tips.jpg*/) no-repeat; height: 28px; width: aotu; float: left; line-height: 28px; font-size: 14px; display: block; padding-left: 39px; }
.spanTips strong { color: #34b1e9; }
.txtUser { width: 250px; height: 30px; border: none; border: #dcdcdc 1px solid; padding: 0px 5px; color: #333; }
.span12 { font-size: 12px; margin-left: 10px; color: #b3b3b3; }
.ur_btn { background: url("../images/xuq_pic_21.jpg"/*tpa=http://www.007cypt.com/images/xuq_pic_21.jpg*/); width: 109px; height: 38px; line-height: 38px; border: none; color: #FFF; font-size: 17px; font-weight: bold; }
.userF3 { color: #4095d3; }
.userDown { height: 96px; width: 100%; border-top: 1px solid #e9e9e9; clear: both; }
.userDown .userDown_con { height: 81px; width: 1210px; margin: 0 auto; text-align: center; line-height: 26px; padding-top: 15px; }
.clearD { height: 0px; width: 0px; padding: 0px; margin: 0px; font-size: 0px; clear: both; }
.spanYz { font-size: 12px; }

/*移动客服*/
#home_nav_bar {
    bottom: 60px;
    padding-top: 220px;
    position: fixed;
    right: 0;
    width: 102px;
    z-index: 999999;
}
#home_nav_bar .home_nav_border {
    border-bottom: 0 none;
    position: relative;
    width: 62px;
}
#home_nav_bar a, #recent_deals_container .btns_container span.arrow {
    background: url("../images/home_nav_bar_v9.png"/*tpa=http://www.007cypt.com/images/home_nav_bar_v9.png*/) no-repeat scroll center top rgba(0, 0, 0, 0);
}
#home_nav_bar .home_nav_border .a1 {
    display: inline-block;
    height: 61px;
    overflow: hidden;
    width: 62px;
}
#home_nav_bar .home_nav_border .nav_cart {
    background-position: 0 0;
    overflow: visible;
    position: relative;
}
#home_nav_bar .nav_cart:hover {
    background-position: -62px 0;
}
#home_nav_bar .nav_recent_deals {
    background-position: 0 -61px;
}
#home_nav_bar .nav_recent_deals:hover, #home_nav_bar .recent_now {
    background-position: -62px -61px;
}
.abtest_style #home_nav_bar .nav_recent_deals {
    background: url("") no-repeat scroll center top rgba(0, 0, 0, 0);
}
.abtest_style #home_nav_bar .nav_recent_deals {
    background-position: -3px -82px;
}
.abtest_style #home_nav_bar .nav_recent_deals:hover, .abtest_style #home_nav_bar .recent_now {
    background-position: -109px -82px;
}
#home_nav_bar .nav_service {
    background-position: 0 -183px;
}
#home_nav_bar .nav_service:hover {
    background-position: -62px -183px;
}
#home_nav_bar .nav_service.leave {
    background-position: 0 -237px;
}
#home_nav_bar .nav_service.leave:hover {
    background-position: -78px -237px;
}
#home_nav_bar .home_nav_border .nav_backtotop {
    background-position: 0 -244px;
    height: 63px;
}
#home_nav_bar .nav_backtotop:hover {
    background-position: -62px -244px;
}
#home_nav_bar .nav_survey {
    background-position: 0 -407px;
}
#home_nav_bar .nav_survey:hover {
    background-position: -78px -407px;
}
#home_nav_bar .nav_collect {
    background-position: 0 -486px;
}
#home_nav_bar .nav_collect:hover {
    background-position: -78px -486px;
}
#home_nav_bar .nav_wishdeal {
    background-position: 0 -565px;
}
#home_nav_bar .nav_wishdeal:hover {
    background-position: -78px -565px;
}
#home_nav_bar .button_bookmark {
    background-position: 0 -176px;
    height: 36px;
}
#home_nav_bar .button_bookmark:hover {
    background-position: -101px -176px;
}
#home_nav_bar .nav_all {
    background-position: 0 -138px;
    height: 37px;
}
#home_nav_bar .nav_all:hover {
    background-position: -101px -138px;
}
#home_nav_bar .nav_all.on {
    background-position: 0 -323px;
    border-bottom: 0 none;
}
#home_nav_bar .nav_all.on:hover {
    background-position: -101px -323px;
}
#home_nav_bar .nav_investigation {
    background-position: 0 -122px;
}
#home_nav_bar .nav_investigation:hover {
    background-position: -62px -122px;
}
.home_nav_phone {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 99999;
}
#home_nav_bar .phone_load {
    background: url("about:blank") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 40px;
    position: absolute;
    right: 10px;
    top: 110px;
    width: 100px;
}
#home_nav_bar a.home_nav_erweima {
    background: url("../images/home_phone_v6.png"/*tpa=http://www.007cypt.com/images/home_phone_v6.png*/) no-repeat scroll center top rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 210px;
    width: 102px;
}
#home_nav_bar a.phone_close {
    background: url("about:blank") repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 16px;
    position: absolute;
    right: 0;
    top: 65px;
    width: 16px;
}
.kf_box {
    position: relative;
}
.kf_box .tanchu_kf {
    display: none;
    height: 83px;
    left: -194px;
    position: absolute;
    top: 0;
    width: 194px;
}
.kf_box_on .tanchu_kf {
    display: block;
}
.kf_box_on .tanchu_kf img {
    float: left;
}


/*reset bootstrap css*/
.container{padding:0;}
.form-horizontal .control-label {
    font-weight: 300;
    font-size: 14px;
}
.form-control {
    border: 1px solid #e2e2e4;
    box-shadow: none;
    color: #999;
}
.empower .btn{background-image: none !important; border:none !important;}

.text-left{text-align:left !important;}

/*新添加样式，user页面*/
#sidebar{width: 210px;
    height: 100%;
    position: fixed;
    background: #2a3542; z-index:10}
.container-fluid{padding:0 !important;}

/*left*/

.ec-body {padding:0;background:#f5f5f5;}
#sidebar, #content{border:none; border-radius: 0; box-shadow:none;}

#sidebar .hearder{width:210px; padding:10px 0; display:block; border-bottom:1px #000 solid; overflow:hidden; color:#FFF;}
#sidebar p.img{width:80px; height:80px; display:block; border-radius:100%; overflow:hidden; border:3px solid rgba(51,180,236,0.8); margin:24px 0; margin-left:12px;}
#sidebar p.img img{width:100%; height:auto;}
#sidebar .hearder .user{margin-top:30px; margin-left:10px;}
#sidebar .hearder .user h4{width:95px; display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
#sidebar .hearder .user span a{color:#eee}

#sidebar ul{clear:both; overflow:hidden; border-top:1px #3e4f63 solid;}
#sidebar ul li{ width:100%; margin-left:0px;  box-sizing:border-box;}
#sidebar ul li:hover{background:#33b4ec;}
#sidebar ul li.active{background:#33b4ec;}
#sidebar ul li a { color:#FFF; display:block; padding:13px 0; padding-left:18px;}
#sidebar ul li a {text-decoration:none;}
#sidebar ul li i{font-size:15px; margin-right:10px; color:#eeeeee;}
/*right主体*/
.main-content{margin-left:210px; padding-bottom:85px}
.wrapper{padding:10px 15px; }
.wrapper .panel{border:1px solid #fefefe; border-radius:5px;}
.wrapper .panel-heading,.wrapper .panel-body{border:none; background:#fff; color:#666;}
.wrapper .panel-heading{border-bottom:1px solid #efefef; padding:10px 15px;}
.wrapper .panel-heading strong{font-size:19px;}
.wrapper .panel-body table{color:gray; text-align:center; margin-bottom:0;}
.wrapper .panel-body table th{text-align:center;}
.wrapper .panel-body table th,.wrapper .panel-body table td{padding:15px 0;}
.panel-body{background:#fff; overflow:hidden;}

/*提取授权*/
.empower .panel-body{margin-top:15px;}
.empower .btn{width:100%; font-size:14px; padding:10px;}
.input-group.yzm .form-control {border-top-right-radius:5px; border-bottom-right-radius:5px;}
.input-group.yzm .btn-default{padding:0 10px;}
/*联系人*/
.empower .contact-add-btn{padding:5px; width:auto; float:right; *margin-right:20px;}
/*底部*/
footer.footer-user{ background:url("../images/logo.png"/*tpa=http://www.007cypt.com/images/logo.png*/) center center no-repeat #f1f1f1;height:85px; width:100%; position:fixed; bottom:0px; border-top:1px #e3e3e3 solid;
    background-size: 180px;}

/*left菜单部分*/
.sidebar-down{position:absolute; color:#FFF; bottom:0; left:0; width:210px;}
.user-sidebar{z-index:1000; left:230px; bottom:20px; background:#2a3542; border-radius:5px; border-top:0 !important; height:auto;}
.user-sidebar:before{display:block; height:0px; width:0px; content:"\020"; position:absolute; left:-20px ; bottom:40px; border-width:10px; border-style:solid; border-color:transparent #2a3542 transparent transparent;}
.user-sidebar li{display:block; text-align:center; height:26px; line-height:26px; width:130px !important;}
.user-sidebar li a{ padding:15px 0px !important;}

.popover{background:#2a3542 !important;}
.popover.right>.arrow:after{border-right-color:#2a3542 !important;}
.popover .ttttt li{padding:10px 10px;}
.popover .ttttt li a{ padding:8px 0; color:#fff;}
/*表单验证部分*/
.Validform_checktip{margin-left:8px;line-height:20px;height:20px;overflow:hidden;color:#999;font-size:12px;}
.Validform_right{color:#71b83d;padding-left:20px;background:url("../images/right.png"/*tpa=http://www.007cypt.com/images/right.png*/) no-repeat left center;}
.Validform_wrong{color:red;padding-left:20px;white-space:nowrap;background:url("../images/error.png"/*tpa=http://www.007cypt.com/images/error.png*/) no-repeat left center;}
.Validform_loading{padding-left:20px;background:url("../images/onLoad.gif"/*tpa=http://www.007cypt.com/images/onLoad.gif*/) no-repeat left center;}
.Validform_error{background-color:#ffe7e7;}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999'); box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#999;
    background: -moz-linear-gradient(top, #999, #666 100%); background: -webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#666)); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#666666');}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#ccc;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #bbb; border-top:none; text-align:left;}
/*面包屑导航*/
.current-path{height:50px; line-height:50px; font-size:13px; width:1210px; margin:0 auto;}

/*商品详情页*/
.spxxy{background:#FFF; padding:10px; width:1190px; overflow:hidden;}
.spxxy .spxxy-title-img{float:left;}
.spxxy .spxxy-title-img img{width:400px; height:400px}
.spxxy-title-r{margin-left:80px; float:left; margin-top:60px;}
.spxxy-title-r h4{font-size:26px;}
.spxxy-title-r h4:nth-child(2){color:#ff4146; margin-top:30px;}
.spxxy-button{clear:both; margin-top:80px;}
.spxxy-title-r a{ padding:10px 20px; border-radius:5px; font-size:20px}
.spxxy-title-r a.spxxy-gobuy{background:#32b4ed; color:#fff; margin-right:20px;}
.spxxy-title-r a.spxxy-zx{background:#f3fbfe; border:#32b4ed 1px solid; color:#34b2ed;}
.spxxy .help{font-size:18px; color:#ff4146; border-top:1px solid #e3e3e3; padding:40px 0; margin-top:60px;}
.spxxy h6 {
    padding: 10px;
    font-weight: normal;
    height: auto;
    line-height: 24px;
    background: #F2F2F2;
    border: 1px solid #e2e2e2;
    text-align: left;
}
.spxxy h6 span{
    float: none;
    padding: 0;
}
.spxxy h6 a {
    color: #FF4146;
}
/*provision*/
.provision{background:#fff; padding:20px; width:1170px; line-height:26px;}
/*商品页*/
.canvas {
    width: 1230px;
	margin:0 auto;
    margin-top: 10px;
    overflow: hidden;
}
.cover-page-index .boutique .items {
    float: left;
}

.canvas .items-li {
float: left;
width: 294px;
margin-right: 11px;
margin-bottom: 11px;
padding-bottom: 10px;
background-color: #fff;
}
/*canvas list*/
.canvas h3 {text-align: left; font-size: 36px; margin: 36px 0;}
.canvas .more-services { float: right; margin: 36px 0;}

.canvas .items-li {
    float: left;
    width: 294px;
    margin-right: 11px;
    margin-bottom: 11px;
    padding-bottom: 10px;
    background-color: #fff;
}
.canvas .active {
    box-shadow:0 0 10px rgba(0,0,0,.2);
}
.canvas .items-li .wrap_div {
    height:54px;
    position:relative;
    z-index: 2;
    background:white;
}
.canvas .items-li .wrap_div p {
    height:20px;
    overflow:hidden;
    text-align:center;
    font-size: 12px;
    color: #71cd9c;
}
.canvas .items-li .wrap_div div {
    position:absolute;
    left:0;
    bottom:0;
    z-index:100;
    width: 100%;
    background:white; 
}
.canvas .items-li .wrap_div p {
    text-align: center;
    margin-top: 5px;
    height: 0px;
    overflow: hidden;
    _line-height:0;
}
.canvas .items-li>a {
    display: block;
    width: 294px;
    height: 294px;
    text-align: center;
    line-height: 290px;
}
.canvas .items-li img {
    max-width: 294px;
    max-height: 294px;
}
.canvas .items-li .title {
    float:left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: normal;
    line-height: 22px;
    text-align: center;
}
.canvas .items-li .title a {
    color: #333;
}
.canvas .items-li .title a:hover {
    color: #EF353D;
}
.canvas .items-li .description {
    display: block;
    font-size: 12px;
    color: #919191;
    text-align: center;
}
.canvas .items-li .description a {
    color: #919191;
}
.canvas .items-li .price-attente {
    margin-top: 5px;
}
.canvas .items-li .price-attente .price {
    float: left;
    margin-left: 60px;
    font-size: 12px;
    color: #ef353d;
}
.canvas .items-li .price-attente .attente {
    float: right;
    margin-right: 60px;
    padding-left: 15px;
    font-size: 12px;
    color: #71cd9c;
    background-image: url("../images/cover-page-attente.png"/*tpa=http://www.007cypt.com/images/cover-page-attente.png*/);
    background-repeat: no-repeat;
    background-position: left center;
    cursor: pointer;
}

/*pay*/
.payment .title {
	text-align:left;
	background:none;
    color: #30b3eb;
 }
.payment .payment-table {
    margin-top: 10px;
}
.payment .payment-table th {
    height: 40px;
    font-size: 16px;
    font-weight: normal;
    background-color: #F7F7F7;
}
.payment .payment-table td {
    height: 87px;
    font-size: 16px;
    border-bottom: 1px dotted #DFDFDF;
}
.payment .payment-table .img {
    padding-left: 20px;
}
.payment .payment-table .img img {
    border: 1px solid #DFDFDF;
}

.con-article-left{width:894px; margin:0; float:left;}
.con-article-right{width:278px; margin-right:0; background:#fff;}
.article-dis{background:#fff; height:auto; padding:10px 20px;width:854px; overflow:hidden; margin-bottom:30px;}
.article-dis:last-child{margin-bottom:0;}
.article-dis-title{ margin-top:10px; overflow:hidden;}
.article-dis-title h3{font-size:18px; color:#646464; margin:0;  float:left; padding:0;}
.article-dis-title h3 i{display:block; height:20px; width:4px; background:#2eb0ea; float:left; margin-top:6px; margin-right:10px;}
.article-dis-title span a{display:block; height:22px; line-height:22px; border-radius:10px; background:#2eb0ea; width:52px; color:#fff; float:right; font-size:14px; text-align:center;}
.article-dis-con{clear:both; margin-top:10px;}
.article-dis-cont img{float:left;}
.article-dis-cont-top{height:78px; float:left; margin-left:15px;width: 680px; line-height: 22px;}
.article-dis-cont-top h3{color:#2eb0ea; font-size:16px; text-align:left; margin:0; padding:0;}
.article-dis-cond{clear:both;}
.article-dis-cond ul li{height:36px; line-height:36px; font-size:15px;}
.article-dis-cond ul li a:hover{color:#30b3eb;}
.article-dis-cond ul li span{float:right;}
.con-article-list{ overflow:hidden;}
.con-article-list h3{font-size:18px; text-align:left; border-bottom:1px solid #e3e3e3; padding:10px 15px;}
.con-article-list ul{margin:10px 0;}
.con-article-list ul li{padding:10px; font-size:15px;}
.con-article-list ul li i{display:block; height:5px; width:5px; background:#30b3eb; float:left; margin-right:8px; margin-top:6px;}
.con-article-list ul li a{color:#646464}
.con-article-list ul li a:hover{color:#30b3eb;}

.con-article-img{margin-top:10px; overflow:hidden;}
.con-article-img h3{font-size:18px; text-align:left; border-bottom:1px solid #e3e3e3; padding:10px 15px;}
.con-article-img ul li{margin:30px 0; text-align:center;}

.article-dis-list-more div{overflow:hidden;}
.article-dis-list-more div h3{color:#2eb0ea; font-size:16px; text-align:left; margin:0; padding:0; float:left;}
.article-dis-list-more div h3 a{color:#30b3eb;}
.article-dis-list-more ul{}
.article-dis-list-more ul li{padding:15px 0; border-bottom:dashed 1px #e3e3e3; overflow:hidden;}
.article-dis-list-more ul li:last-child{border-bottom:none;}
.article-dis-list-more ul li div span{float:right; font-size:14px;}
.article-dis-list-more ul li p{clear:both; margin-top:6px; line-height: 24px;}

.pages{margin-top:10px; margin-bottom:10px; overflow:hidden; float:right;}
.pages ul li{float:left; margin:0 3px;}
.pages ul li a{padding:7px 12px; display:block; border:1px solid #e3e3e3; text-align:center; font-size:15px;}
.pages ul li a:hover{background:#30b3eb; color:#fff;}
.pages ul li a.active{background:#30b3eb; color:#fff;}

.article-info{font-size:14px; padding:20px 0; line-height:26px;}
.article-info img{max-width:800px; margin:0 auto; display:block}
/*css manu style pagination*/
.manu{padding:3px;margin:12px 0;text-align:right;}
.manu a{border:#eee 1px solid;padding:7px 12px;margin:2px;color:#036cb4;text-decoration:none;}
.manu a:hover{border:#ccc 1px solid;color:#666;}
.manu a:active{border:#ccc 1px solid;color:#666;}
.manu .current{border:#ddd 1px solid;padding:7px 12px;font-weight:bold;margin:2px;color:#fff;background-color:#30b3eb;}
.manu .disabled{border:#eee 1px solid;padding:2px 5px;margin:2px;color:#ddd;}