@charset "utf-8";

/* CSS Document */
*{padding:0px;margin:0px;}

body{margin:0 auto;font-family:'Microsoft YaHei';}



.about_banner{width:100%;height:586px;margin:0 auto;overflow:hidden;min-width:1000px;}

.about_banner li{height:586px;list-style:none;}

.about_banner .banner1{background:url("../images/aboutus.png"/*tpa=http://www.007cypt.com/images/aboutus.png*/) no-repeat top center;}
.about_banner .bannerprice{background:url("../images/banner_Price.png"/*tpa=http://www.007cypt.com/images/banner_Price.png*/) no-repeat top center;}
.about_banner .bannerstudy{background:url("../images/banner_study.png"/*tpa=http://www.007cypt.com/images/banner_study.png*/) no-repeat top center;}
.about_banner .bannerRecruit{background:url("../images/banner_Recruit.png"/*tpa=http://www.007cypt.com/images/banner_Recruit.png*/) no-repeat top center;}

*{margin: 0;padding: 0;list-style: none;}
/*
KISSY CSS Reset
理念：1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
特色：1. 适应中文；2. 基于最新主流浏览器。
维护：玉伯<lifesinger@gmail.com>, 正淳<ragecarrier@gmail.com>
 */

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
  margin: 0;
  padding: 0;
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
  font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }
a:hover { text-decoration: underline; }


/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/* 清除浮动 */
.ks-clear:after, .clear:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.ks-clear, .clear {
  *zoom: 1;
}

.main {padding: 30px 100px;}
.main h1{font-size:36px; color:#333; text-align:left;margin-bottom:30px; border-bottom: 1px solid #eee;}

.helps{margin-top:40px;}
.helps pre{
  padding:20px;
  margin:10px 0;
  border:solid 1px #e7e1cd;
  background-color: #fffdef;
  overflow: auto;
}

.icon_lists li{
  float:left;
  width: 100px;
  height:180px;
  text-align: center;
}
.icon_lists .icon{
  font-size: 42px;
  line-height: 100px;
  margin: 10px 0;
  color:#333;
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;

}
.icon_lists .icon:hover{
  font-size: 100px;
}
@font-face {font-family: "iconfont";
  src: url("iconfont.eot-t=1458842053"/*tpa=http://www.007cypt.com/css/iconfont.eot?t=1458842053*/); /* IE9*/
  src: url("iconfont.eot-t=1458842053#iefix"/*tpa=http://www.007cypt.com/css/iconfont.eot?t=1458842053#iefix*/) format('embedded-opentype'), /* IE6-IE8 */
  url("iconfont.woff-t=1458842053"/*tpa=http://www.007cypt.com/css/iconfont.woff?t=1458842053*/) format('woff'), /* chrome, firefox */
  url("iconfont.ttf-t=1458842053"/*tpa=http://www.007cypt.com/css/iconfont.ttf?t=1458842053*/) format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url("iconfont.svg-t=1458842053#iconfont"/*tpa=http://www.007cypt.com/css/iconfont.svg?t=1458842053#iconfont*/) format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-check:before { content: "\e645"; }
.icon-close:before { content: "\e646"; }
.icon-favorfill:before { content: "\e64b"; }
.icon-redpacket:before { content: "\e6e0"; }
.icon-bao:before { content: "\e615"; }
.icon-tui:before { content: "\e605"; }
.icon-su:before { content: "\e618"; }
.icon-huan:before { content: "\e616"; }
.icon-shuang:before { content: "\e617"; }

@charset "utf-8";.ph-tab ul{margin:0;padding:0;list-style:none;}
.ph-tab li{width:50%;float:left;cursor:pointer;height:60px;line-height:60px;overflow:hidden;}
.ph-tab a{display:block;text-align:center;color:#999;font-size:22px;height:60px;line-height:60px;background-color:#fafafa;}
.price-tab div{font-size:14px;line-height:18px;}
.price-tab a{line-height:24px;padding-top:10px;height:50px;}
.ph-tab a:hover{color:#ff0042;text-decoration:none;}
.ph-tab .current a,.ph-tab .current a:hover{color:#ff0042;background-color:#f1f1f1;cursor:auto;}
.download-tabs{margin-bottom:25px;}
.download-tabs .iconfont{font-size:40px;margin-right:15px;vertical-align:middle;display:inline-block;}
.table-price{padding-top:25px;}
.table-price table{table-layout:fixed;border-collapse:collapse;}
.table-price td{padding:10px 15px;line-height:1.8em;border:1px solid #e5e5e5;}
.table-price th{padding:10px 15px;color:#333;font-weight:normal;font-size:16px;background-color:#fafafa;border:1px solid #e5e5e5;}
.table-price .price{font-size:28px;color:#ff0042;}
.table-price .current td{background-color:#fafafa;}
.hot-sale{position:relative;zoom:1;}
.hot-sale .ext{position:absolute;top:-22px;right:0;}
.compare table{margin-bottom:20px;}
.download-info{position:relative;line-height:32px;margin-top:20px;margin-bottom:25px;}
.download-info span{display:inline-block;width:80px;text-align:left;vertical-align:middle;color:#999;}
.download-log{margin-top:15px;}
.download-log ol{margin:0;padding:0;list-style:none;margin-bottom:15px;line-height:24px;}
.log-date{font-weight:normal;color:#333;}
.download-info-http{margin-top:15px;}
.download-info-http p{padding:10px 0;}
.download-info-http .item{margin-bottom:25px;}
.download-info-http strong{font-weight:normal;color:#333;}
.box-visit{border:1px solid #e5e5e5;padding:10px;width:50%;background-color:#fafafa;display:inline-block;*display:inline;zoom:1;}
.table-price-header{width:1240px;}
.holder{position:fixed;top:0;}
#table-price-header-holder{display:none;}
.holder+#table-price-header-holder{display:block;}
.select-box{position:relative;display:inline-block;*zoom:1;*display:inline;z-index:1;}
.select-box span{width:auto;}
.select-box i{border-color:#000 transparent transparent;border-style:solid;border-width:4px;font-size:0;height:0;line-height:0;width:0;vertical-align:middle;position:absolute;right:6px;top:14px;}
.option-list ul{margin:0;padding:0;list-style:none;border:1px solid;border-color:#b2b2b2 #d3d3d3 #d3d3d3 #b2b2b2;background-color:#fff;font-size:14px;-webkit-box-shadow:1px 1px 1px #e5e5e5 inset;-moz-box-shadow:1px 1px 1px #e5e5e5 inset;box-shadow:1px 1px 1px #e5e5e5 inset;}
.option-list{position:absolute;top:32px;left:0;width:100%;}
.option-list a{padding:4px;line-height:18px;cursor:pointer;display:block;color:#333;}
.option-list a:hover{background-color:#fafafa;text-decoration:none;}
.guest-info{height:90px;line-height:90px;}
.guest-info a{color:#6a6a6a;}
.guest-info a:hover{background:none;color:#ff0042;}
.promos{height:460px;text-align:center;background-position:center 0;background-repeat:no-repeat;}
.promos a{display:block;height:460px;background-size:cover;background-position:center 0;background-repeat:no-repeat;}
.device-tabs{overflow:hidden;position:relative;margin-bottom:25px;border-bottom:1px solid #e3e2e2;height:54px;overflow:visible;}
.device-tabs .ext{position:absolute;top:15px;right:0;}
.device-tabs ul{margin:0;padding:0;list-style:none;}
.device-tabs li{float:left;width:12%;text-align:center;font-size:16px;line-height:26px;padding:14px 0;position:relative;}
.device-tabs li a{display:block;border-left:1px solid #e3e2e2;}
.device-tabs .current{border-bottom:1px solid #ff0024;}
.device-tabs .current a{color:#ff0042;}
.feature-box{background:none repeat scroll 0 0 #fff;position:relative;}
.feature-item{text-align:center;font-size:18px;color:#999;background-color:#fff;height:100%;overflow:hidden;}
.feature-item p strong{font-size:30px;font-weight:normal;color:#333;}
.feature-item .combine{position:relative;height:560px;margin-top:60px;position:relative;}
.feature-item .combine .combine-pic{position:absolute;top:0;left:50%;margin-left:-385px;}
.feature-item .combine .combine-pic{_display:none;}
.feature-item .fi-embed{_background:url("../images/device_embed_141209.jpg"/*tpa=http://www.007cypt.com/images/device_embed_141209.jpg*/) no-repeat center 0;}
.feature-item .fi-forward{_background:url("../images/device_forward_141209.jpg"/*tpa=http://www.007cypt.com/images/device_forward_141209.jpg*/) no-repeat center 0;}
.feature-item .fi-easy{_background:url("../images/device_easy_141209.jpg"/*tpa=http://www.007cypt.com/images/device_easy_141209.jpg*/) no-repeat center 0;}
.feature-item .fi-remote{_background:url("../images/device_remote_141209.jpg"/*tpa=http://www.007cypt.com/images/device_remote_141209.jpg*/) no-repeat center 0;}
.feature-item .fi-stable{_background:url("../images/device_stable_141209.jpg"/*tpa=http://www.007cypt.com/images/device_stable_141209.jpg*/) no-repeat center 0;}
.feature-box .feature-content{padding-top:40px;height:700px;overflow:hidden;}
.table-param th,.table-param td{padding:50px 0;border-bottom:1px solid #f0f0f0;line-height:28px;}
.table-param th{font-size:18px;color:#333;font-weight:normal;text-align:left;}
.table-param .param-item{display:inline-block;*display:inline;*zoom:1;margin-left:10%;vertical-align:middle;}
.table-param .param-item div{margin-top:15px;color:#999;text-align:center;}
.section-promos ul{margin:0;padding:13px 0;list-style:none;}
.section-promos li{float:left;width:300px;padding-left:13px;height:130px;}
.section-promos li img{width:100%;height:100%;}
.section{margin-top:16px;}
.section .title{line-height:54px;position:relative;zoom:1;}
.section .title .ext{position:absolute;top:0;right:0;}
.section .title h2{font-weight:normal;font-size:18px;color:#333;margin:0;padding:0;}
.feature-tab,.section-usage ul{margin:0;padding:0;list-style:none;background-color:#f9f9f9;padding:15px 0;}
.feature-tab strong,.section-usage strong{font-weight:normal;display:block;}
.feature-tab li,.section-usage li{float:left;width:20%;text-align:center;position:relative;height:120px;}
.section-usage li{width:16.6%;}
.feature-tab li a{color:#999;}
.feature-tab a:hover{color:#ff0042;}
.feature-tab i{border-color:#ed4221 transparent transparent;border-style:solid;border-width:8px;font-size:0;height:0;line-height:0;position:absolute;width:0;bottom:-30px;left:50%;margin-left:-8px;display:none;}
.feature-tab .current strong{color:#ff0042;}
.feature-tab .current i{display:block;}
.section-feature .feature-content{text-align:center;padding-top:30px;color:#6a6a6a;font-size:18px;line-height:36px;}
.feature-content strong{font-weight:normal;font-size:26px;color:#333;}
.icon-large{display:inline-block;height:90px;width:90px;background:url("../images/icon_large_141211.gif"/*tpa=http://www.007cypt.com/images/icon_large_141211.gif*/) no-repeat;}
.il-quality{background-position:-5px 0;}
.il-ip{background-position:-105px 0;}
.il-mapping{background-position:-205px 0;}
.il-keepip{background-position:-305px 0;}
.il-monitor{background-position:-405px 0;}
.il-remote{background-position:-5px -100px;}
.il-website{background-position:-105px -100px;}
.il-vpn{background-position:-205px -100px;}
.il-mail{background-position:-305px -100px;}
.il-ftp{background-position:-405px -100px;}
.il-oa{background-position:-505px -100px;}
.user-box,.embed-box{background-color:#f9f9f9;position:relative;zoom:1;padding:20px 40px;height:40px;line-height:40px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.notice-list{border-left:1px dotted #e3e3e3;padding-left:30px;width:25%;height:40px;line-height:40px;position:absolute;top:20px;right:40px;background-color:#f9f9f9;}
.notice-list ul{margin:0;padding:0;list-style:none;}
.notice-list li{width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.user-box img,.embed-box img{float:left;margin-right:3%;}
.user-logo{width:85%;float:left;}
.more{color:#d1d1d1;}
.more:hover{color:#ff0042;}
.embed-box .more{position:absolute;top:20px;right:40px;background-color:#f9f9f9;font-size:28px;}
.embed-box div{height:40px;overflow:hidden;}
.list-wrap .section{width:30%;float:left;margin-left:5%;}
.section-list ul{margin:0;padding:0;list-style:none;line-height:24px;width:100%;}
.section-list li{width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.section-flink ul{margin:0;padding:0;list-style:none;background-color:#f9f9f9;padding:12px;line-height:26px;}
.section-flink li{float:left;display:inline-block;}
.section-flink li a{display:inline-block;padding:0 20px;}
.section-photos div{width:100%;height:500px;overflow:hidden;text-align:center;margin-bottom:10px;}
.section-photos img{width:100%;height:auto;}
.topology-big{text-align:center;padding-top:25px;}
.embed-list:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.embed-list{background-color:#f5f5f5;margin:0;padding:0;list-style:none;}
.embed-list li{float:left;width:247px;height:160px;text-align:center;border:solid #fff;border-width:0 1px 1px 1px;background-color:#f5f5f5;margin-left:-1px;}
.embed-list strong{display:block;font-size:12px;font-family:"微软雅黑";font-weight:normal;}
.embed-list span{display:block;height:150px;background:url("../images/btn_embed_131016.png"/*tpa=http://www.007cypt.com/images/btn_embed_131016.png*/) no-repeat center 50px;display:none;padding-top:110px;text-align:center;color:#fff;background-color:#b8b8b8;}
.embed-list a{color:#999;display:block;height:160px;overflow:hidden;}
.embed-list a:hover{text-decoration:none;background-color:#b8b8b8;}
.embed-list a:hover .embed-logo,.embed-list a:hover strong{display:none;}
.embed-list a:hover span{display:block;}
.embed-logo{text-align:center;height:70px;padding-top:30px;}
.totop{cursor:pointer;height:70px;display:block;width:70px;position:fixed;bottom:170px;right:25px;background:url("../images/totop_141216.gif"/*tpa=http://www.007cypt.com/images/totop_141216.gif*/) no-repeat 0 0;z-index:101;}
.totop-hover{background-position:-70px 0;}
.totop em{display:none;}
@media(max-width:1260px){.table-price-header{width:990px;}
.nav-item,.nav-menu{width:100px;}
.section-promos li{width:237px;}
.section-photos div{height:400px;}
.feature-item .combine img.r{margin-left:-270px;left:50%;}
.embed-list li{width:197px;}
}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,pre,form,fieldset,legend,button,input,textarea,dl,dt,dd,ul,ol,li{margin:0;padding:0;}
ul,ol,dl{list-style:none;}
a img{border:none;}
body,button,input,select,textarea{font:14px/1.6 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;color:#6a6a6a;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var,i{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
html,body{height:100%;}
label,a{cursor:pointer;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.red{color:#ff0042;}
.fl{float:left;}
.fr{float:right;}
.dark{color:#333;}
.green{color:#67dd1c;}
.gray{color:#b2b2b2;}
.udl{text-decoration:underline;}
.link{color:#529dd2;}
.link:hover{color:#4482ae;}
a{color:#6a6a6a;text-decoration:none;}
a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
a:hover,a:active{outline:0;color:#ff0042;}
a.red:hover{color:#e7003c;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}
button[disabled],html input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;box-sizing:border-box;}
.clear:after{content:'\20';display:block;height:0;clear:both;}
.clear{*zoom:1;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; ;}
.msg{text-align:center;position:fixed;top:0;left:0;z-index:9999;width:100%;padding-top:2px;}
.msg span{display:inline-block;background-color:#0b8b00;color:#fff;line-height:20px;padding:0 2em;}
.msg span.error{background-color:#ee3123;}
.msg{*position:absolute;*top:expression(documentElement.scrollTop+"px");}
.msgbox{background-color:#fffee5;border:1px solid #f7dea3;margin:20px 0;padding:20px 20px 20px 70px;position:relative;zoom:1;}
.msgbox .if-smile{color:#ff7200;position:absolute;top:50%;left:20px;margin-top:-20px;font-size:30px;}
.msgbox .if-close{color:#ff7200;position:absolute;top:5px;right:10px;}
.btn{display:inline-block;*display:inline;*zoom:1;margin-bottom:0;font-size:14px;height:38px;line-height:38px;text-align:center;cursor:pointer;background-color:#fff;border:1px solid #ff0042;color:#ff0042;padding:0;width:128px;}
input.btn,button.btn{height:40px;width:130px;}
.btn-small{height:30px;line-height:30px;width:118px;font-size:14px;}
.btn-big{width:230px;height:50px;line-height:50px;font-size:20px;}
input.btn-big,button.btn-big{height:50px;width:230px;}
input.btn-small,button.btn-small{height:32px;width:120px;}
.btn:hover,.btn:focus{color:#fff;outline:0;text-decoration:none;background-color:#ff0042;}
.btn.active,.btn:active{outline:0;background-color:#ff0042;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15);box-shadow:inset 0 2px 4px rgba(0,0,0,.15);}
.btn[disabled],.btn-disabled,.btn[disabled]:hover,.btn-disabled:hover,.btn[disabled]:focus,.btn-disabled:focus{cursor:default;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;color:#fff;background:#d9d9d9;border-color:#d9d9d9;}
.btn-block,button.btn-block,input.btn-block{display:block;width:100%!important;padding-left:0;padding-right:0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.btn-primary{background-color:#ff0042;border-color:#ff0042;color:#fff;}
.btn-primary:hover,.btn-primary:focus,.btn-primary.active,.btn-primary:active{color:#fff;border-color:#e7003c;background-color:#e7003c;}
.icon{display:inline-block;zoom:1;*display:inline;width:20px;height:20px;background:url("../img/icon_140506.png"/*tpa=http://www.007cypt.com/img/icon_140506.png*/) no-repeat;_background-image:url("../img/icon_140506.gif"/*tpa=http://www.007cypt.com/img/icon_140506.gif*/);vertical-align:middle;}
.icon-account{background-position:-40px -20px;}
.icon-logout{background-position:0 0;}
@font-face{font-family:'iconfont';src:url("../iconfont/iconfont.eot-1113"/*tpa=http://www.007cypt.com/iconfont/iconfont.eot?1113*/);src:url("../iconfont/iconfont.eot-1113#iefix"/*tpa=http://www.007cypt.com/iconfont/iconfont.eot?1113#iefix*/) format('embedded-opentype'),url("../iconfont/iconfont.woff-1113"/*tpa=http://www.007cypt.com/iconfont/iconfont.woff?1113*/) format('woff'),url("../iconfont/iconfont.ttf-1113"/*tpa=http://www.007cypt.com/iconfont/iconfont.ttf?1113*/) format('truetype'),url("../iconfont/iconfont.svg-1113#iconfont"/*tpa=http://www.007cypt.com/iconfont/iconfont.svg?1113#iconfont*/) format('svg');}
.iconfont{font-family:"iconfont"!important;font-size:18px;font-style:normal;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:.2px;-moz-osx-font-smoothing:grayscale;}
.arrow{width:0;height:0;line-height:0;font-size:0;border:5px solid;border-color:#ff0042 transparent transparent transparent;border-style:solid dashed dashed dashed;cursor:pointer;}
.container{width:1240px;margin:0 auto;}
.main-ct{margin:25px auto;}
.main-body{margin-left:225px;width:auto;*width:1012px;}
.common-top-nav{background-color:#333;font-size:12px;min-width:990px;position:relative;height:40px;z-index:67;}
.common-top-nav-inner{background-color:#333;height:40px;line-height:40px;font-size:14px;}
.common-top-nav ul{margin:0;padding:0;list-style:none;width:auto;display:inline-block;float:left;*display:inline;*zoom:1;}
.common-top-nav .common-top-nav-right{float:right;}
.common-top-nav-right span{display:inline-block;padding:0 13px;float:left;}
.common-top-nav li{display:inline-block;padding:0 13px;float:left;*display:inline;*zoom:1;}
.common-top-nav a{color:#b0b0b0;}
.common-top-nav a:hover{color:#fafafa;}

.user-infobox{float:right;height:40px;line-height:40px;}
.user-infobox a{display:block;padding:0 13px;height:40px;line-height:40px;float:left;text-align:center;}
.user-item{width:100px;text-align:center;white-space:nowrap;}
.user-infobox .tar{width:156px;text-align:right;}
.user-namebox{white-space:nowrap;}
.user-infobox .user-message{border-left:1px solid #555;height:20px;line-height:20px;margin-top:10px;}
.user-infobox a:hover{color:#fafafa;background-color:transparent;}
.nav-menu{position:absolute;z-index:10;width:130px;overflow:hidden;}
.nav-menu li{border-bottom:1px solid rgba(0,0,0,0.3);z-index:10;}
.nav-menu a{display:block;line-height:40px;height:40px;background:rgba(102,102,102,0.8)!important;background:#969696\9;font-size:14px;color:#fff;z-index:10;}
.nav-item .nav-menu a{color:#fff;}
.nav-menu a:hover{background:rgba(102,102,102,0.9)!important;background:#505050\9;color:#fff;}
.user-info{display:block;height:90px;line-height:90px;width:70px;padding:0 28px 0 10px;white-space:nowrap;text-overflow:ellipsis;text-align:center;cursor:pointer;color:#6a6a6a;font-weight:normal;text-align:right;}
.user-info .arrow{border-color:#6a6a6a transparent transparent transparent;border-style:solid dashed dashed dashed;cursor:pointer;position:absolute;top:44px;right:14px;}
.nav-current .arrow,.nav-active .arrow{border-color:transparent transparent #6a6a6a transparent;border-style:dashed dashed solid dashed;top:40px!important;}
.user-info .nav-menu{width:210px;right:0;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.user-info .nav-menu a{text-align:left;padding:0 12px;}
.user-info .nav-menu li .icon{margin-right:8px;}
.promise{margin:40px auto;*padding-right:1px;}
.promise ul{padding:0;margin:0;list-style-type:none;border-right:1px dashed #d8d8d8;*margin-right:-1px;}
.promise li{float:left;width:20%;height:135px;font-size:18px;border-left:1px dashed #d8d8d8;margin-right:-1px;text-align:center;}
.promise em{display:block;font-size:12px;color:#999;}
.promise p{line-height:24px;}
.promise .iconfont{color:#ff0042;font-size:61px;}
.promise-gray .iconfont{color:#999;}
.footer{width:100%;min-width:990px;}
.footer-link{background:#f9f9f9;border-bottom:2px solid #fff;position:relative;}
.footer-link-inner{margin:0 auto;}
.footer-link a{color:#999;font-size:14px;text-decoration:none;}
.footer-link a:hover{color:#ff0042;}
.footer-link dl{float:left;margin:0;padding:25px 0 0;height:105px;}
.footer-link dt{margin:0;padding:0 0 10px 0;color:#333;font-size:16px;}
.footer-link dd{margin:0;padding:0 30px 0 0;float:left;line-height:24px;color:#999;}
.footer-link dl.about{padding-left:3%;}
.footer dl.phone{padding-left:3%;}
.footer .phone dd{font-size:12px;}
.footer .phone dd strong{color:#ff0042;font-size:18px;font-weight:normal;}
.footer-link dl.follow{float:right;position:relative;}
.footer-link dl.follow dt{text-align:right;}
.footer-link dl.follow dd{text-align:right;padding:0 0 0 40px;}
.footer-link dl.follow span{display:none;}
.footer-link dl.follow img{display:none;}
.footer-link dl.follow a:hover img{display:block;}
.footer-link .icon{background:url("../img/icon_focus_140427.png"/*tpa=http://www.007cypt.com/img/icon_focus_140427.png*/) no-repeat;_background-image:url("../img/icon_focus_140427.gif"/*tpa=http://www.007cypt.com/img/icon_focus_140427.gif*/);width:24px;height:24px;}
.footer-link .icon-weibo{background-position:-48px 0;}
.footer-link .icon-weixin{background-position:-24px 0;}
.footer-link .icon-forum{background-position:0 0;}
.footer-link .icon-weibo:hover{background-position:-48px -24px;}
.footer-link .icon-weixin:hover{background-position:-24px -24px;}
.footer-link .icon-forum:hover{background-position:0 -24px;}
.footer-link .icon-weixin img{position:absolute;right:-2px;bottom:72px;}
.footer-info{background:#ff0042;height:32px;line-height:32px;color:#fff;font-size:12px;}
.footer-info a{color:#fff;text-decoration:none;}
.footer-info-inner{margin:0 auto;position:relative;}
.copyright{text-align:right;margin-top:-32px;}
.section{margin-bottom:25px;}
.main-title{font-size:22px;font-weight:normal;}
.section-title{height:48px;line-height:48px;position:relative;font-size:18px;padding-top:8px;}
.section-title img{margin-bottom:-8px;}
.section-title .section-title-ext,.section-title .ext{position:absolute;top:0;right:0;font-size:14px;}
.section-tab{height:48px;line-height:48px;border-bottom:1px solid #e5e5e5;position:relative;zoom:1;}
.section-tab .ext{position:absolute;top:0;right:0;}
.section-tab ul{margin:0;padding:0;list-style:none;}
.section-tab li{float:left;display:inline-block;padding:0 30px 0 0;margin-right:15px;font-size:16px;}
.section-tab .current a{color:#ff0042;}
.section-item{margin-top:20px;}
.section-last{margin-bottom:0;}
.side-menu{width:156px;padding:0 22px;background-color:#fafafa;min-height:500px;*height:500px;float:left;font-size:16px;}
.side-menu ul{list-style-type:none;padding:0 0 0 44px;margin:0;}
.side-menu a{display:block;height:40px;line-height:40px;text-decoration:none;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.side-menu a:hover,.side-menu .current a,.side-menu a.current{color:#ff0042;}
.fm-text,.fm-textarea,.fm-select{border:1px solid #dfdfdf;outline:none;padding:3px 5px;line-height:24px;width:320px;height:24px;box-sizing:content-box;}
.fm-text:focus,.fm-textarea:focus,.fm-select:focus{border-color:#ff0042;}
.fm-error{color:#ff0042;margin-left:8px;}
.fm-textarea{height:auto;resize:none;overflow-y:auto;}
.fm-need{color:#ff0042;display:inline-block;width:20px;text-align:center;vertical-align:middle;}
.fm-check{vertical-align:-2px;}
label .fm-check{margin-right:5px;}
.fm-select{width:auto;}
.fm-wrapper .fm-item{padding:5px 0;display:block;}
.fm-label{display:inline-block;zoom:1;*display:inline;width:30%;padding:0 10px;height:32px;line-height:32px;text-align:right;vertical-align:middle;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.table-list{width:100%;border-spacing:0;border-collapse:collapse;empty-cells:show;margin-top:-1px;}
.table-list th{background:#f6f6f6;height:32px;line-height:32px;padding:0 12px;border-top:1px solid #dfdfdf;}
.table-list td{padding:10px 15px;line-height:1.8em;border-bottom:1px solid #e5e5e5;height:48px;}
.td-width{width:100px;}
.table-list th{color:#333;font-weight:normal;height:32px;line-height:32px;padding:0 15px;background-color:#fafafa;}
.table-list .current td{color:#ff0042;}
.table-fixed{table-layout:fixed;}
.table-fixed th,.table-fixed td{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.table-noborder td{border-bottom:0;}
.table-noborder .hover td{background-color:#fafafa;}
.mask{z-index:8000;position:absolute;top:0;left:0;-moz-opacity:.5;opacity:.50;filter:alpha(opacity=50);background-color:#000;width:100%;height:100%;zoom:1;}
.window-wrapper{position:absolute;top:0;left:0;padding:8px;background-color:rgba(223,223,223,0.5);_background-color:#3a3a3a;display:none;z-index:9000;min-width:550px;}
.window{position:relative;border:1px solid #dfdfdf;height:100%;min-height:100px;background-color:#fff;margin:0;}
.window-opt{position:absolute;top:10px;right:10px;line-height:14px;z-index:100;}
.window-header{font-size:16px;padding:5px 20px;background-color:#f9f9f9;}
.window-body{padding:20px;}
.window-footer{padding:0 20px 20px;}
.window .fm-label{width:90px;}
body{_height:100%;}
.slide-down{width:1240px;height:260px;position:absolute;background-color:rgba(68,68,68,0.95);*background-color:#4c4c4c;background-color:#4c4c4c\9;z-index:66;left:50%;margin-left:-620px;top:40px;padding-top:60px;display:none;zoom:1;}
.top-nav .slide-down a{color:#ddd;}
.top-nav .slide-down a:hover{color:#fff;}
.slide-down a{color:#ddd;}
.slide-down a:hover{color:#fff;}
.down-left{width:236px;height:200px;float:left;padding:0 0 0 120px;}
.down-left dt{font-size:28px;color:#ddd;margin-bottom:25px;}
.down-left dd{font-size:16px;color:#ddd;height:36px;}
.down-center{width:200px;height:200px;float:left;padding:0 90px 0 124px;border-left:1px solid #999;border-right:1px solid #999;}
.down-center dt,.down-right dt{font-size:28px;color:#ddd;margin-bottom:25px;}
.down-center dd,.down-right dd{width:90px;font-size:16px;color:#ddd;height:36px;float:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.down-center dd{width:100px;}
.down-center dd .red{font-size:14px;vertical-align:top;}
.down-right dd{width:109px;}
.down-right dd a{display:block;width:105px;height:36px;padding-left:4px;}
.down-right{width:218px;height:200px;float:left;padding:0 104px 0 144px;}
.admin{background-color:#555;height:40px;line-height:40px;float:right;padding:0 13px;}
.admin a{display:inline-block;height:40px;line-height:40px;text-align:center;}
.r0{right:0;}
.pr{position:relative;}
.user-item ul{position:absolute;top:38px;right:0;z-index:15;display:none;}
.user-item ul li{background-color:#333;color:#b0b0b0;text-align:center;}
.user-item li a{width:156px;padding:0 13px;background-color:#333;color:#b0b0b0;text-align:center;}
.user-item li a:hover{color:#fff;}
.user-item ul li:hover{color:#fff;}
.common-top-nav .pdl0{padding-left:0;}
.ff0042{color:#ff0042;}
.f20{font-size:20px;}
@media(max-width:1260px){body{min-width:1010px;}
.container{width:990px;}
.main-body{*width:765px;}
.footer-link .footer-link-inner,.footer-info .footer-info-inner{width:990px;}
.footer dl.about,.footer dl.other,.footer dl.phone{padding-left:0;width:25%;}
.slide-down{width:990px;margin-left:-495px;}
.down-left{width:196px;padding:0 0 0 105px;}
.down-center{padding:0 45px 0 79px;}
.down-right{padding:0 60px 0 85px;}
.down-center dd{width:100px;}
.down-right dd{width:100px;}
.user-item{width:80px;}
}
a:hover {
	TEXT-DECORATION: none
}
 
a{text-decoration:none;}
