@charset "utf-8";
body{ padding:0px; margin:0px; font-family:Arial, Helvetica, sans-serif; background:url(../images/bg02.jpg);}
img{ border:none;}
ul,li{ list-style:none; padding:0px; margin:0px;}
a{ text-decoration:none;}
p{ padding:0px; margin:0px;}
img{ border:none;}
.heard{ background:#fff; width:100%;}
.top { width:1140px; margin:auto; background:url(../images/bg01.jpg) no-repeat right; height:133px;}
.logo{ padding-top:25px;}
.rz_bw_nav001_m{clear:both;width:100%;height:103px;background:url(../images/navbg1.jpg);}
.nav{font-size:12px;width:1140px;margin:0px auto 0;height:61px;line-height:61px;position:relative;z-index:1;}
.spale{ background:url(../images/navbg2.jpg) no-repeat; width:2px; height:61px;}
.nav a{text-decoration:none;}.
nav_main{height:61px;padding:0 5px;background:#FFF url(../rz_bw_images/rz_bw_nav001-bg.png) repeat-x 0 top;position:relative;}
#nav_all{height:61px;float:left;line-height:61px;position:relative;z-index:222;}
#nav_all li{text-align:center;float:left;}
#nav_all li a{color:#fff;display:inline-block;font-size:14px;font-weight:bold;cursor:pointer;padding:0 27px 0 27px;_padding:0 10px;height:61px;line-height:61px;white-space:nowrap;}
#nav_all li a:hover{ background:url(../images/navbg03.jpg) repeat-x;height:61px;line-height:61px;overflow:hidden; color:#5c6d07;}
#nav_all li ul{display:none;position:absolute;z-index:99;width:990px;left:80px;top:65px;}
#nav_all ul li{background-image:none;line-height:32px;height:32px;padding-top:0px;padding:0;}
#nav_all ul li a{background-image:none;padding:0px 10px;margin:0px;height:32px;line-height:32px;color:#238e02;font-weight:normal;border:none;}
#nav_all ul li a:hover{background-image:none;padding:0px 10px;margin:0px auto;height:30px;line-height:30px;color:#333;border-top:none;}
.wap{width:1140px; margin:auto; background:#FFF; padding-bottom:15px;}
.banner{ width:1140px; background:#fff; margin:auto; position:relative;}
.banner img{ margin:13px}
.futie{ position:absolute; z-index:999; width:130px; height:20px; top:300px; right:30px;}
.futie li{ float:left; background:#f0ebc5; width:18px; height:18px; line-height:18px; text-align:center; margin-right:5px; border:1px solid #846e60;}
.futie li a{ color:#3a3428; display:block;}
.futie li a:hover{background:#d73421; color:#fff;}
.main1{ width:1112px;zoom:1; overflow:hidden; margin:auto;}
.main1 .left{ width:745px; float:left;}
.main1 .right{ width:346px; float:right;}
.a01{ border:1px solid #dedede; width:743px;}
.a01 .info{ background:#76b00c; height:37px; line-height:37px; zoom:1; overflow:hidden;border-bottom:1px solid #dedede;}
.a01 .title{ float:left; font-size:14px; color:#fff; font-weight:bold; padding-left:15px;}
.a01 .more{ font-size:10px; float:right; padding-right:10px;}
.a01 .more a{ color:#fff;}
.a01 .more a:hover{ color:#fef200;}
.a01 .content{ zoom:1; overflow:hidden;width:743px; padding:5px 0px;}
.mnt01{ width:260px; float:left; margin:15px;}
.mnt02{ width:430px; float:right; margin:5px 15px 15px 0px;}
.bt01{ width:430px;}
.w01{ white-space:nowrap;overflow:hidden;text-overflow:ellipsis; width:430px; color:#f46c06; font-size:16px;}
.w01 a{ color:#f46c06;}
.w01 a:hover{ text-decoration:underline;}
.w02{ color:#727272; font-size:12px; white-space:nowrap;overflow:hidden;text-overflow:ellipsis; width:430px;}

 /*news*/
.bt02{ margin-top:15px;}
.news1{ float:left; width:430px;  }
.news1 li{ float:left; width:430px; height:30px; line-height:30px; text-indent:2em; border-bottom:1px dashed #DEDEDE; font-size:12px; background:url(../images/a02.jpg) no-repeat left; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.news1 li a{color:#333;}
.news1 li a:hover{ color:#238e02; text-decoration:underline;}
.news1 li span{ float:right; font-size:11px; color:#969696;} 

.a02{ zoom:1; overflow:hidden;width:745px; margin-top:13px;}
.news2{width:364px;border:1px solid #dedede; float:left;}
.news2 .info{ background:url(../images/a04.jpg) no-repeat left; height:37px; line-height:37px; zoom:1; overflow:hidden;border-bottom:1px solid #dedede;}
.news2 .title{ float:left; font-size:14px; color:#fff; font-weight:bold; padding-left:15px;}
.news2 .more{ font-size:10px; float:right; padding-right:10px;}
.news2 .more a{ color:#989898;}
.news2 .more a:hover{ color:#238e02;}
.bt03{ zoom:1; overflow:hidden; margin-left:10px; padding:6px 0px 13px 0px;}
.ne1{ float:left; width:330px;  }
.ne1 li{ float:left;  height:30px; line-height:30px; border-bottom:1px dashed #DEDEDE; font-size:12px; background:url(../images/a05.jpg) no-repeat left;  padding-left:15px; width:330px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.ne1 li a{color:#333;}
.ne1 li a:hover{ color:#238e02; text-decoration:underline;}
.ne1 li span{ float:right; font-size:11px; color:#969696;} 


.a03{ border:1px solid #dedede; width:743px; margin-top:13px;}
.a03 .info{ background:url(../images/a04.jpg) no-repeat left; height:37px; line-height:37px; zoom:1; overflow:hidden;border-bottom:1px solid #dedede;}
.a03 .title{ float:left; font-size:14px; color:#fff; font-weight:bold; padding-left:15px;}
.a03 .more{ font-size:10px; float:right; padding-right:10px;}
.a03 .more a{ color:#989898;}
.a03 .more a:hover{ color:#238e02;}
.a03 .content{ zoom:1; overflow:hidden;width:743px; }
.mnt03{ float:left; margin:15px; width:166px;}
.mnt03 img{ width:156px; height:130px; padding:5px; border:1px solid #dddddd;}
.mnt05{ float:left; margin:15px; width:166px;}
.mnt05 img{ width:156px; height:130px; padding:5px; border:1px solid #dddddd;}
.mnt04{ width:520px; float:right; margin:10px 15px 15px 0px;}
.bt04{ width:520px; white-space:nowrap;overflow:hidden;text-overflow:ellipsis; width:430px; color:#76b00c; font-size:16px; text-align:center;}
.bt04 a{ color:#76b00c; font-weight:bold}
.bt04 a:hover{ text-decoration:underline;}
.bt05{ color:#504f4f; font-size:12px; line-height:24px; text-indent:2em; margin-top:13px; height:115px; overflow:hidden;}
.a03 .content1{ zoom:1; overflow:hidden;width:743px; padding:19px 0px 13px 0px;}
.ne2{ width:300px; float:left; margin-left:20px;}
.ne2 li{ float:left; width:300px; height:30px; line-height:30px; border-bottom:1px dashed #DEDEDE; font-size:12px; background:url(../images/a06.jpg) no-repeat left; white-space:nowrap;overflow:hidden;text-overflow:ellipsis; padding-left:15px;}
.ne2 li a{ color:#333;}

.b01{ width:344px; border:1px solid #dedede; }
.b01 .info{ background:url(../images/title1.jpg) no-repeat left; height:37px; line-height:37px; zoom:1; overflow:hidden;border-bottom:1px solid #dedede;}
.b01 .title{ float:left; font-size:14px; color:#76b00c; font-weight:bold; padding-left:20px;}
.b01 .more{ font-size:10px; float:right; padding-right:10px;}
.b01 .more a{ color:#989898;}
.b01 .more a:hover{ color:#238e02;}
.b01 .content{ width:344px; background:#fff; margin:auto; position:relative;}
.b01 .content img{ margin:14px 20px; }
@-moz-document url-prefix(){.b01 .content img{margin:16px 20px;}} 
.futie1{ position:absolute; z-index:999; width:130px; height:20px; top:185px; right:20px;}
.futie1 li{ float:left; background:#f0ebc5; width:18px; height:18px; line-height:18px; text-align:center; margin-right:5px; border:1px solid #846e60;}
.futie1 li a{ color:#3a3428; display:block;}
.futie1 li a:hover{background:#d73421; color:#fff;}

.news3{width:344px;border:1px solid #dedede; float:left; margin-top:13px;}
.news3 .info{ background:url(../images/title1.jpg) no-repeat left; height:37px; line-height:37px; zoom:1; overflow:hidden;border-bottom:1px solid #dedede}
.news3 .title{float:left; font-size:14px; color:#76b00c; font-weight:bold; padding-left:20px;}
.news3 .more{ font-size:10px; float:right; padding-right:10px;}
.news3 .more a{ color:#989898;}
.news3 .more a:hover{ color:#238e02;}
.b02{ padding:8px 0px 8px 6px}
.news3 .content{ zoom:1; overflow:hidden; margin-left:10px; padding:6px 0px 13px 0px;}
@-moz-document url-prefix(){.news3 .content{padding:6px 0px 14px 0px;}} 
.ne7{ float:left; width:305px;  }
.ne7 li{ float:left; width:305px; height:30px; line-height:30px; border-bottom:1px dashed #DEDEDE; font-size:12px; background:url(../images/b02.jpg) no-repeat left; white-space:nowrap;overflow:hidden;text-overflow:ellipsis; padding-left:15px;}
.ne7 li a{color:#333;}
.ne7 li a:hover{ color:#238e02; text-decoration:underline;}
.ne7 li span{ float:right; font-size:11px; color:#969696;} 

.main2{ width:1110px; border:1px solid #dedede; margin:auto; margin-top:11px;}
.main2 .info{ background:url(../images/title1.jpg) no-repeat left; height:37px; line-height:37px; zoom:1; overflow:hidden;border-bottom:1px solid #dedede;}
.main2 .title{ float:left; font-size:14px; color:#76b00c; font-weight:bold; padding-left:20px;}
.main2 .more{ font-size:10px; float:right; padding-right:10px;}
.main2 .more a{ color:#989898;}
.main2 .more a:hover{ color:#238e02;}
.main2 .content{ width:1110px; zoom:1; overflow:hidden; padding-left:11px;}
.main2 .content li{ width:193px; height:150px; padding:3px; border:1px solid #ddd; float:left; margin:18px 8px 18px 8px;}

.bottom{ background:url(../images/bg05.jpg) repeat-x; height:105px; color:#fff; text-align:center; margin-top:20px; font-size:12px; padding-top:20px; line-height:24px;}