
@media screen and (max-width: 1024px) {
   
	* { 
		/*-webkit-user-select: none; */
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
		-moz-tap-highlight-color: rgba(0, 0, 0, 0); 
		-ms-touch-action: none; 
		/*-moz-user-select: -moz-none; */
		-webkit-touch-callout: none; 
		margin: 0; 
		padding: 0; 
		-webkit-box-sizing: border-box; 
		-moz-box-sizing: border-box; 
		box-sizing: border-box; 
	}
	img { max-width: 100% !important; width: auto; height: auto; }
	body { min-width: 100%; }
	.wd,.main{ width: 100%; }
	.headright{ padding:33px 2% 0 0;}
	.logo{ padding-left:2%;}
	.search{ top:93px;}
	
	.nav ul li h3 a{ width:108px;}
	.search{ margin-right:0; right:5px;}
	.banner .item { height: 400px; }
	.banner.owl-carousel .owl-dots{ right:auto; left:0; width:100%; margin-right:0; text-align:center;}
	#scroll{ width:100%; padding:0 5% 2%; height:auto;}
	.slideBox{ margin:49px auto; width:75%;}
	.slideBox .bd ul li{ width:100%;}
	.slideBox .bd ul li .news-img{ width:569px;}
	.slideBox .bd ul li .news-txt{ width:280px;}

	.floor{ height:auto;}
	.title{ text-align:center;}
	.case,.news{ width:100%; float:none;}
	.newslist li{ padding:2%;}
	.footer{ height:auto; padding:15px 0 45px;}
	.footimg{ padding:4% 0 2% 2%;}
	.link{ padding-left:2%;}
	.footinfo{ padding:2% 0 0 2%;}

	.path p{ padding-left:15px;}
	.left{ width:74%;}
	.right{ width:23%;}
	.sidebrand div a img{ width:80px; height:80px;}
	.leftitle{ padding-left:15px;}
	.introduce{ padding:28px 50px 0 15px;}
	
	.caselist,.productlist{ padding:33px 0 0 0;}
	.caselist li,.productlist li{ width:30%;}
	.caseimg img{ width:221px; height:160px;}
	.caselist li a p{ height:50px; line-height:50px;}
	
	/*productlist*/
	.protext{ width:48%; padding-left:25px;}
	.picture{ width:51%;}
	.proul{ padding-right:25px;}
	.proul li.pli6{ margin:0 0 0 -60px;}
	
	.productlist li a{ height:auto; overflow:hidden; padding-bottom:10px;}
	.protit{ height:30px; line-height:30px; padding:0; margin-top:15px;}
	.list{ padding:0 0 0 15px;}
	.contentbox{ padding:0 52px 0 15px;}

	/*msg*/
	.msg{ padding:22px 0 0 15px;}
	.msgbox li{ width:48%; margin:0 2% 1.6% 0;}
	.msgtext{ width:95%;}
	.mtext{ height:37px; line-height:37px; width:70%;}
	.msgarea{ margin-right:2%;}
	.msgarea div{ width:97.5%;}
	.marea{ width:80%; height:90%;}
	
	/*contact*/
	.contact{ margin:87px 15px 21px;}
	.map{ margin:0 15px 3px;}
	.mapdiv{ width:100%; height:auto;}
	
	/*equipment*/
	.proBox,.protab{ display:none;}
	#pic,#pic2{ display: block; }
	.procon{ padding:30px 50px 0 15px;}
	.tabBox{ padding:0; margin-top:38px;}
	.tabBox .hd ul li{ width:30%; margin-right:2%;}

	.servicelink{ margin-left:15px; width:92%;}
	.servicelink ul li a{ height:52px;}

	.right .hotlike,.indexFloatCon{ display:none;}
	.bigoptimg img{ height:200px; width:250px;}
	/*.cboxPhoto{ width:100% !important; height:64% !important;}
	#cboxCasebox{ width:93%; top:auto; right:auto; bottom:3%; left:3%; min-height:200px;}*/
	.service,.left .hotlike{ display:block;}
	
	/*1009*/
	#qiao-wrap,#LXB_CONTAINER .lxb-container-1001-2{ display:none !important;}
	 .footinfo p{ padding-right:10px;}
	 
	 /*1014 start*/
	 .casediv{ width:90%; height:auto;}
	 .focusBox,.focusBox .pic li{ width:560px; height:auto;}
	 #cboxCasebox{ top:30px; min-height:390px;}
         
         .picbox { margin: 28px 15px 0; }
}

@media screen and (max-width: 980px) {
	.proBox .bigImg{ height:399px !important;}
	
	 #cboxCasebox{ right:30px;}/*1014*/

}

@media screen and (max-width: 800px) {
	.header { height: auto;}
	.headright,.logo{ padding:0; float:none;}
	.search{ top:45px; right:2%; background:url("../images/search1.png"/*tpa=http://www.chinaleadcom.cn/templates/default/images/search1.png*/) no-repeat right center;}
	.stext{ color:#252525;}

	.nav,.sidemenu{ display:none;}
	.mobileNavTit{ display:block;}
	.banner .item{ height:350px;}
	.slideBox{ width:88%;}
	#scroll .txt{ font-size:1.2em;}
	.hot{ height:auto;}
	.date h3{ font-size:4em;}
	
	#scroll .item{ text-align:center; padding:0;}
	#scroll .item img{ display:block; padding:0; margin:0 auto;}
	#scroll .item:hover img{ width:120px; height:120px;}
	
	.newstitle{ padding:5px 0 7px;}
	.path{ margin-bottom:25px;}
	.right,.left{ float:none; width:100%;}
	
	/*sidemenu*/
	.sidetext{ display:block;}
	.sidemenu ul { display: none;}
	.sidemenu ul li { width: 100%;}
	.sidemenu ul li a{ padding:0 15px;}
	
	.sidebrand{ border-top:1px solid #e5e5e5; margin:20px 0 25px;}
	.sidebrand div{ width:30%;}
	.sidebrand div:first-child{ width:35%; border-bottom:0;}
	.sidebrand div:first-child a{ padding:26px 0 18px 15px;}
	
	.left{ border-right:0;}
	.introduce{ padding:28px 15px 0;}

	.caselist li,.productlist li{ width:31%; margin:0 2% 5% 0;}
	.caseimg img{ width:242px; height:175px;}
	
	.proul li,.proul li.pli1,.proul li.pli2{ padding-bottom:50px;}
	.proul li.pli1 .protext,.proul li.pli2 .protext,.proul li.pli3 .protext,.proul li.pli4 .protext,.proul li.pli6 .protext{ padding-top:90px;}

	.newsbox{ padding:5px 15px 33px 0}
	.contentbox{ padding:0 15px;}
	.article ul{ width:100%;}
	.article ul li a{ width:70%;}
	
	.proBox{ margin:28px 15px 0; width:auto;}
	.proBox .bigImg{ height:461px !important;}
	.proBox .smallImg{ margin:0 28px;}
	
	.procon{ padding:30px 15px 0;}
	.hotlike{ padding-top:0;}
	.servicelink{ margin:33px 15px 0; width:auto;}
	.servicelink ul{ width:100%;}
	
	.headtop{ text-align:center; height:auto; padding:12px 0;}
	.lang{ float:none;}
	.logo a{ margin:1% auto 0;}
	.tel,.search{ display:none;}
	#cboxCasecon{ line-height:22px;}
	#cboxPrevious, #cboxNext{ width:30px; height:30px;}
	#cboxNext{ left:30px;}
	#cboxTitle{ font-size:2em;padding-top:25px;}
	#cboxCasebox{ min-height:170px;}
	.caselist, .productlist{ padding:0;}
	.nav,.sidebrand{ display:none;}/*1009*/
	
	/*1014 start*/
	 .focusBox,.focusBox .pic li{ width:400px; height:auto;}
	 #cboxCasebox{ min-height:270px;}

	
}

@media screen and (max-width:768px) {
	
	
	.proBox .bigImg{ height:442px !important;}
	#cboxCasebox{ width:230px;}/*1014*/
	
	
	
}

@media screen and (max-width:640px) {
	
	
	.navtext,.nav ul li h3 a{ height:35px; line-height:35px;}
	
	.banner .item{ height:250px;}
	.slideBox,.slideBox .bd ul li{ height:auto;}
	.slideBox{ margin:30px auto 20px;}
	.slideBox .bd ul li .news-img,.slideBox .bd ul li .news-img img{ width:450px; height:213px;}
	.slideBox .bd ul li .news-img{  padding-left:11%;}/*1009*/
	.slideBox .bd{ background-size:15%;}/*1009*/
	.slideBox .bd ul li .news-txt{ height:auto; padding:3%; background-size:100%; width:200px;}
	.slideBox .bd ul li .news-txt h2{ margin:4% 0 1.5%; font-size:1.4em;}
	.slideBox .bd ul li .news-txt .more{ padding-top:0;}
	.slideBox .prev, .slideBox .next{ top:80px;}
	.slideBox .prev{ left:26px;}
	.slideBox .next{ left:62px;}	
	
	.link a{ padding:0 13px 0 12px;}
	.link a:first-child{ padding:0 13px 0 2px;}
	.banner.owl-carousel .owl-dots{ bottom:10px;}
	
	.caseimg img{ width:192px; height:139px;}
	.caselist li a p{ height:40px; line-height:40px;}
	
	.proul li.pli1 .protext, .proul li.pli2 .protext, .proul li.pli3 .protext, .proul li.pli4 .protext, .proul li.pli5 .protext, .proul li.pli6 .protext{ padding-top:30px;}
	.proul li.pli6{ padding-bottom:100px;}
	
	.proimg img{ height:140px; width:140px;}
	
	.newsimg{ width:180px; height:108px;}
	.newsdiv{ margin-left:200px;}
	.newsbox li a p{ line-height:22px; padding:5px 0 12px;}
	
	.article ul li a{ width:62%;}
	
	.article ul li{ line-height:20px; padding:3px 0;}
	.msgarea div{ height:220px;}
	
	
	
	.msgbox li,.msgtext,.msgarea div,.msgarea{ width:96%;}
	.proBox .bigImg{ height:368px !important;}
	.proBox .smallImg li{ margin-left:0.6%;}
	.proBox .smallImg{ margin:0 26px;}
	.proBox .bigImg li p{ height:35px; line-height:35px; font-size:1.6em;}
	
	.sp-thumbnail-title2{ font-size:2.4em;}
	
	.servicelink ul li{ width:16.66%;}
	.linkselect{ bottom:60px;}
	.smalloptimg,.bigoptimg{ width:100%; float:none;}
	.smalloptimg div{ width:25%; padding:0 10px 5px 0;}
	.smalloptimg div img{ height:100%; width:100%;}
	.pro_fin_list div{ padding:0; width:20%;}
	.pro_fin_list div a{ display:block; padding:5px;}
	.pro_fin_list div a img{ height:100%; width:100%;}
	.bigoptimg img{ display:block; margin:0 auto;}
	
	/*1014*/
	.casediv{ width:auto; margin:200px 40px 0;}
	.focusBox, .focusBox .pic li{ width:560px;}
	
	#cboxCasebox{ position:relative; right:auto; top:auto; height:40px; line-height:40px; min-height:40px; overflow:hidden; width:100%;}
	#cboxTitle{ padding-top:0; text-align:center; background:none;}
	#cboxCasecon,#cboxPrevious, #cboxNext{ display:none;}
}

@media screen and (max-width:540px) {
	.logo a{ width:180px; height:auto;}
	.logo a img{ height:auto;}
	.tel img{ width:130px; height:auto;}
	
	.search{ width:96%; top:53px;}
	.tel{ margin-top:4px;}
	
	.slideBox .prev{ left:20px;}
	.slideBox .next{ left:56px;}	
	
	.banner .item{ height:200px;}
	.link a{ padding:0 10px 4px;}
	.slideBox{ width:93%;}
	
	.scroll-outer .owl-carousel .owl-nav .owl-prev, .scroll-outer .owl-carousel .owl-nav .owl-next{ 
		width:24px; 
		height:28px; 
		background-size:100%;
	}

	.path{ margin-bottom:15px;}
	.sidebrand div a img{ height:70px; width:70px;}
	.sidebrand div:first-child{ width:37%;}
	.sidebrand div:first-child a img{ height:60px; width:172px;}

	.caseimg img{ width:161px; height:116px;}
	.paged a, .paged .p_info, .paged .current{ margin:0 4px 8px 0; padding:4px 9px;}
	.newsbt b{ width:75%;}
	
	.mtext{ width:70%;}
	.proBox .bigImg{ height:305px !important;}
	.proBox .sPrev, .proBox .sNext{ width:33px;}
	.proBox .smallImg li{ margin-left:0.7%;}
	
	.newslist li a p{ line-height:15px;}
	.newstitle{ font-size:1.4em;}
	
	.servicelink ul li a{ height:45px;}

	/*.cboxPhoto{ height:53% !important;}*/
	.focusBox, .focusBox .pic li{ width:460px;}	/*1014*/

	
	
}

@media screen and (max-width:480px) {
	
	.slideBox .bd ul li .news-img,.slideBox .bd ul li .news-img img{ width:380px; height:170px;}
	.slideBox .prev, .slideBox .next{ top:68px;}
	.slideBox .prev{ left:13px;}
	.slideBox .next{ left:49px;}
		
	.sidebrand div a img{ height:60px; width:60px;}
	.sidebrand div:first-child a img{ height:50px; width:144px;}
	
	.caseimg img{ width:142px; height:103px;}
	.proimg img{ height:120px; width:120px;}
	
	.newsbt span{ display:none;}
	.newsbt b{ width:100%;}
	
	.article ul li a{ width:55%;}
	
	.proBox .bigImg{ height:269px !important;}
	.proBox .smallImg{ margin:0 25px;}
	.proBox .smallImg li{ margin-left:0.6%;}
	
	.servicelink ul li a{ height:39px;}

	.sp-top-thumbnails .sp-previous-thumbnail-arrow,.sp-bottom-thumbnails .sp-previous-thumbnail-arrow,.sp-top-thumbnails .sp-next-thumbnail-arrow,.sp-bottom-thumbnails .sp-next-thumbnail-arrow{ height:72px;}
	.picbox .sp-top-thumbnails .sp-previous-thumbnail-arrow,.picbox .sp-bottom-thumbnails .sp-previous-thumbnail-arrow,
.picbox .sp-top-thumbnails .sp-next-thumbnail-arrow,.picbox .sp-bottom-thumbnails .sp-next-thumbnail-arrow{ height:80px;}
	#cboxClose{ width:30px; height:30px; right:-30px; background-size:100%;}
	.sp-top-thumbnails .sp-thumbnail-arrows, .sp-bottom-thumbnails .sp-thumbnail-arrows{ bottom:75px;}
	/*0924*/
	#pic2 .sp-top-thumbnails .sp-next-thumbnail-arrow, #pic2 .sp-bottom-thumbnails .sp-next-thumbnail-arrow,#pic2 .sp-top-thumbnails .sp-previous-thumbnail-arrow, #pic2 .sp-bottom-thumbnails .sp-previous-thumbnail-arrow{ height:80px;}
	#pic2 .sp-top-thumbnails .sp-thumbnail-arrows, #pic2 .sp-bottom-thumbnails .sp-thumbnail-arrows{ bottom:80px;}
	
	.focusBox, .focusBox .pic li{ width:400px;}	/*1014*/
	
	
	
}

@media screen and (max-width:414px) {
	
	.slideBox .bd ul li .news-img,.slideBox .bd ul li .news-img img{ width:350px; height:152px;}
	.slideBox .prev, .slideBox .next{ top:60px; height:25px; width:25px; background-size:200%;}
	.slideBox .prev{ left:18px;}
	.slideBox .next{ left:43px;}

	.proimg img{ height:100px; width:100px;}
	.banner .item{ height:150px;}
	
	.hottitle a p img{ width:320px; height:auto;}
	.hottitle a h3 img,.title img{ width:250px; height:auto;}
	.scroll-outer{ height:auto; padding-bottom:2%;}
	.linkselect{ bottom:auto;right:auto; position:relative; margin:1% 0 1% 2%;}
	#scroll .item img,#scroll .item:hover img{ width:90px; height:90px;}
	.scroll-outer .owl-carousel .owl-nav .owl-prev, .scroll-outer .owl-carousel .owl-nav .owl-next{ top:43px;}
	
	.sidebrand div{ width:28%;}
	.sidebrand div:first-child{ width:41%;}
	.sidebrand div a{ font-size:1.3em;}

	.caseimg img{ width:122px; height:88px;}
	.caselist li a p{ height:32px; line-height:32px;}
	
	.protext p{ padding:10px 0 15px 4px;}
	.promore{ width:100px; height:25px; line-height:25px;}
	
	.newsimg{ width:130px; height:78px;}
	.newsdiv{ margin-left:145px;}
	.newsbox li a p{ padding:3px 0 6px;}
	.newsbox li{ padding:13px 0 17px;}
	
	.readmore{ height:20px; line-height:20px; width:80px;}
	.newsbox li a p{ line-height:18px; padding:0 0 4px;}
	.newsbt b{ font-size:1.4em;}
	.newsimg{ margin-top:4px;}
	
	.contit h1{ font-size:2em;}
	
	.back{ width:80px;}
	
	.marea{ width:70%;}
	.msgarea div{ height:160px;}
	.msgdiv input{ width:120px;}
	
	.servicelink ul li a{ height:34px;}
	.cboxPhoto{ height:48% !important;}
	.service span{ font-size:1.4em;}
	
	.focusBox, .focusBox .pic li{ width:334px;}	/*1014*/
	
	
	
	
}

@media screen and (max-width:375px) {
	
	.slideBox .bd ul li .news-img, .slideBox .bd ul li .news-img img{ width:315px;}

	.footinfo span{ margin:-2px 0 0 6px;}
	.slideBox .prev{ left:13px;}
	.slideBox .next{ left:38px;}
	
	.sidebrand div a img{ height:40px; width:40px;}
	.sidebrand div:first-child,.sidebrand div{ width:32%;}
	.sidebrand div:first-child a{ padding:17px 0px 18px 15px;}
	.sidebrand div:first-child a img{ height:37px; width:105px;}
	
	.protit{ font-size:1.2em; margin-top:10px;}
	.proimg img{ height:80px; width:80px;}
	
	.sp-top-thumbnails .sp-previous-thumbnail-arrow,.sp-bottom-thumbnails .sp-previous-thumbnail-arrow,.sp-top-thumbnails .sp-next-thumbnail-arrow,.sp-bottom-thumbnails .sp-next-thumbnail-arrow{ height:60px;}
	.picbox .sp-top-thumbnails .sp-previous-thumbnail-arrow,.picbox .sp-bottom-thumbnails .sp-previous-thumbnail-arrow,
.picbox .sp-top-thumbnails .sp-next-thumbnail-arrow,.picbox .sp-bottom-thumbnails .sp-next-thumbnail-arrow{ height:60px;}
.sp-top-thumbnails .sp-thumbnail-arrows, .sp-bottom-thumbnails .sp-thumbnail-arrows{ bottom:60px;}

/*0924*/
#pic2 .sp-top-thumbnails .sp-next-thumbnail-arrow, #pic2 .sp-bottom-thumbnails .sp-next-thumbnail-arrow,#pic2 .sp-top-thumbnails .sp-previous-thumbnail-arrow, #pic2 .sp-bottom-thumbnails .sp-previous-thumbnail-arrow{ height:60px;}
	#pic2 .sp-top-thumbnails .sp-thumbnail-arrows, #pic2 .sp-bottom-thumbnails .sp-thumbnail-arrows{ bottom:60px;}
	

	.focusBox, .focusBox .pic li{ width:295px;}	/*1014*/
	
}

@media screen and (max-width:360px) {
	.footinfo p{ font-size:1.2em;}
	.newstitle{ padding:5px 0 3px;}
	.footinfo span{ margin:0 0 0 6px;}
	
	.contact{ background-position:0 75px;}
	.coninfo{ padding-left:25px;}
	.coninfo span{ width:6px;}
	
	.servicelink ul li a{ height:29px;}
	.cboxPhoto{ height:45% !important;}
	
	.focusBox, .focusBox .pic li{ width:280px;}	/*1014*/
	
}

@media screen and (max-width:320px) {
	
	
	.slideBox .bd ul li .news-img, .slideBox .bd ul li .news-img img{ width:280px;}
	.footinfo{ padding:3% 0 0 1%;}
	.logo a{ width:150px;}	
	#scroll .item{ padding:0;}
	.slideBox .prev{ left:8px;}
	.slideBox .next{ left:33px;}
	
	.sidebrand div a{ padding:15px 0 15px 3px;}
	.sidebrand div{ width:29.5%;}
	.sidebrand div:first-child a{ padding:17px 0 17px 15px;}
	
	.caseimg img{ width:93px; height:67px;}
	.caselist li,.coninfo{ font-size:1.2em;}
	
	.proul li.pli1 .protext, .proul li.pli2 .protext, .proul li.pli3 .protext, .proul li.pli4 .protext, .proul li.pli5 .protext, .proul li.pli6 .protext{ padding-top:10px;}
	
	.protit{ font-size:1em;}
	.newsimg{ width:105px; height:63px;}
	.newsdiv{ margin-left:120px;}
	
	.newsbox li a p{ padding:0 0 7px;}
	
	.article ul li a{ width:48%;}
	.sidebrand div:first-child{ width:40%;}
	
	.focusBox, .focusBox .pic li{ width:240px;}	/*1014*/


	
	
}
