@charset "utf-8";
/* CSS Document */
body {
    font-size:12px;
	font-family:"Microsoft YaHei", "SimSun";
	color:#333;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre,fieldset, lengend, button, input, textarea,th, td {
    margin: 0;
    padding: 0;
}
a{text-decoration:none;outline:none; color:#333;}
img{border:0;vertical-align: middle;
}
input{border:none;outline:none;}
ol,ul,li{list-style: none;}
h1, h2, h3, h4, h5, h6{font-weight: normal;font-size: 100%;}

/*合并表格边框，设置边框距为零*/
table{border-collapse: collapse;border-spacing: 0;}

/*清除浮动*/
.clear{clear:both;}
.clearfix:after {content: ".";display: block;height: 0;font-size: 0;clear: both;visibility: hidden;}
.clearfix {+height:1%;}

/*强制换行*/
.break_word{word-wrap:break-word;word-break:break-all;}

/*禁止换行*/
.keep_all{word-break:keep-all;white-space:nowrap;}

/*超出省略号，仅限单行，并且需要设定一个宽度*/
.ellipsis { overflow: hidden; text-overflow: ellipsis; display: block; white-space: nowrap;}

/*段落两端对齐*/
.case_intro , .txt_justify{text-align:justify;text-justify:inter-ideograph;}

/*禁止FF等浏览器给textarea增加可拖拽大小的设置*/
textarea { resize: none; }

/*隐藏*/
.hide{ display:none;}

/*仅写自己所要用到的*/
.float_l{
	float:left;
}
.float_r{
	float:right;
}
.mar_auto{
	width:1200px;
	margin:0 auto;
}
.color_0{
	color:#000;
}
.color_3{
	color:#333;
}
.color_6{
	color:#666;
}
.color_9{
	color:#999;
}
.color_f60{
	color:#ff6600;
}
.color_fff{
	color:#fff;
}
.color_c{
	color:#cc0000;697686
}
.color_69{
	color:#697686
}
.font12{
	font-size:12px;
}
.font14{
	font-size:14px;
}
.font24{
	font-size:24px;
}
.font16{
	font-size:16px;
}
.font18{
	font-size:18px;
}
.pd20{
	padding-left:20px;
}
.pd30{
	padding-left:30px;
}
.line34{
	line-height:34px;
}
.line24{
	line-height:24px;
}