@charset "utf-8";
.wrap_banner{width:100%; background:url(../images/banner_bg.jpg) repeat-x; height:439px; margin-top:3px;}
.banner{background:url(../images/banner.jpg) no-repeat; margin:auto; width:1359px; height:439px;}
.ad1{ background:url(../images/ad1.jpg) no-repeat; width:1000px; height:58px;  margin:auto; }
.ad2{ background:url(../images/ad1.jpg) no-repeat; width:1000px; height:69px;  margin:auto; }
.matter1{ width:100%; margin:auto; zoom:1; overflow:hidden; margin-top:6px; }
.matter1 .left{ width:650px; float:left;}
.matter1 .right{width: 335px;float: right;background-image: url(../images/img_1.jpg);background-repeat: no-repeat;
background-position: left; height:262px;}
.matter1 .left .info{ font-size:14px; font-weight:bold;height:30px; line-height:30px;}
.matter1 .left .info span{ color:#888886; font-weight:normal; font-size:12px; font-family:Arial; }
/* slider */
.slider{margin:5px auto;width:650px;height:228px;border:1px solid #ccc;position:relative;overflow:hidden;}
.conbox{position:absolute;/*必要元素*/ padding:8px 8px 8px 8px;}
.switcher{position:absolute;bottom:10px;right:10px;float:right;z-index:99;}
.switcher a{background:#fff;border:1px solid #D00000;cursor:pointer;float:left;font-family:arial;height:18px;line-height:18px;width:18px;margin:4px;text-align:center;color:#D00000;}
.switcher a.cur,.switcher a:hover{background:#FF0000;border:1px solid #D00000;height:24px;line-height:24px;width:24px;margin:0 2px;color:#fff;font-weight:800;}
/* slider1 水平 */
#slider1 .conbox{width:9999em;}
#slider1 .conbox div{width:620px;height:340px;overflow:hidden;float:left;}
/* slider2 水平 */
#slider2 .conbox div{width:620px;height:340px;overflow:hidden;}
/* slider3 淡隐淡现 */
#slider2 .conbox div{width:620px;height:340px;}
.matter1 .right .info{ background:url(../images/img_3.jpg) no-repeat; width:314px; height:30px; margin-left:15px;}
.matter1 .right .info .more{ background:#888886; width:40px; height:15px; float:right; text-align:center; margin-top:5px;  }
.matter1 .right .info .more a{color:#fff;font-size:8px;}
.matter1 .right .content{margin-left:15px; padding-top:10px;}
.matter1 .right .content li{ background:url(../images/img_5.jpg) no-repeat; background-position: left; height:30px; line-height:30px; border-bottom:1px dashed #dbdbdb; width:300px; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding-left:15px;}
.matter1 .right .content li a{ color:#333; }
.matter2{width:100%; margin:auto;  margin-top:6px;}
.matter2 .info{ background:url(../images/img_6.jpg) repeat-x; width:100%; height:57px; zoom:1; overflow:hidden; }
.matter2 .title{ background:url(../images/img_7.jpg) no-repeat; width:381px; height:57px; float:left;}
.matter2 .more{ background:#168eff; width:40px; height:15px; float:right; text-align:center; margin-top:20px; float:right; margin-right:3px;  }
.matter2 .more a{color:#fff;font-size:8px;}
.matter2 .content{ width:100%; zoom:1; overflow:hidden;}
.matter2 .left{ float:left; background:#e8e6eb; padding:11px; margin-top:15px;margin-left:6px; _margin-left:3px;}
.matter2 .content .left .tp1{ width:210px; height:274px; background:#fff; border:1px solid #e8e6eb; display: table-cell;vertical-align:middle;text-align:center;*display: block;*font-size: 122px; }
.matter2 .content .left .tp1 img{ vertical-align:middle;}
.matter2 .content .left .biaoti{ color:#333; line-height:18px;margin-top:5px;}
.matter2 .content .right .prod{ width:227px; float:left; margin:15px 0px 0px 23px; display:inline; background:#e8e6eb;}
.matter2 .content .right .prod .tip{ width:205px; height:125px;display: table-cell;vertical-align:middle;text-align:center;*display: block;*font-size: 0px; background:#e8e6eb;}
.matter2 .content .right .prod .tip img{ border:11px solid #e8e6eb; border-bottom:none;}
.matter2 .content .right .prod .scrt{width:206px;  text-align:center; white-space:nowrap;overflow:hidden;text-overflow:ellipsis; padding:0px 10px; text-align:center; line-height:27px; height:27px; *line-height:45px;*height:37px;  _line-height:26px; _height:26px;  }
.matter2 .content .right .prod .scrt a{color:#201f1f;}
.matter2 .content .right .prod .scrt a:hover{color:#ff6600;}
.matter2 .right{ float:right; width:760px;}


.matter3{width:100%; margin:auto;  margin-top:8px;}
.matter3 .info{ background:url(../images/img_6.jpg) repeat-x; width:100%; height:57px; zoom:1; overflow:hidden; }
.matter3 .title{ background:url(../images/img_8.jpg) no-repeat; width:390px; height:57px; float:left;}
.matter3 .more{ background:#e81703; width:40px; height:15px; float:right; text-align:center; margin-top:20px; float:right; margin-right:3px;  }
.matter3 .more a{color:#fff;font-size:8px;}
.matter3 .content{ background:#d3d3d3; zoom:1; overflow:hidden; padding-left:2px;}
.matter3 .content .tp2{ background:url(../images/img_9.jpg) no-repeat; width:138px;  height:181px; padding:18px 0px 0px 10px; float:left; margin:10px 0px 0px 17px; display:inline;}


.matter4{width:100%; margin:auto;  margin-top:8px;}
.matter4 .info{ background:url(../images/img_6.jpg) repeat-x; width:100%; height:57px; zoom:1; overflow:hidden; }
.matter4 .title{ background:url(../images/img_10.jpg) no-repeat; width:390px; height:57px; float:left;}
.matter4 .more{ background:#a82c8c; width:40px; height:15px; float:right; text-align:center; margin-top:20px; float:right; margin-right:3px;  }
.matter4 .more a{color:#fff;font-size:8px;}
.matter4 .content{ zoom:1; overflow:hidden; padding-left:10px;}
.matter4 .content .left{ float:left; width:330px; margin-top:10px;}
.matter4 .content .right{ width:660px; float:right;}
.ghtr{ zoom:1; overflow:hidden}
.tp3{ width:197px;margin:10px 0px 6px 20px; _margin:10px 0px 8px 15px; float:left; display:inline;}
.tp3 .sbr{ border:1px solid #e1dce0; padding:1px}
.tp3 .jiy{ color:#9a968d; height:22px; line-height:22px;} 
.tp3 .dfr{ background:url(../images/img_11.jpg) no-repeat; width:187px; height:22px; line-height:22px; padding-left:10px;}
.sbzl{ padding-left:20px;}


.matter5{width:100%; margin:auto;  margin-top:8px; zoom:1; overflow:hidden;}
.matter5 .news{ width:315px;  float:left; margin:10px 9px 0px 9px; display:inline;}
.matter5 .news .info{width:100%; height:40px; zoom:1; overflow:hidden;  }
.matter5 .news .info .title{ background:url(../images/img_15.jpg) no-repeat; width:233px; height:40px; float:left;}
.matter5 .news .info .more{ background:#555555; width:40px; height:15px; float:right; text-align:center; margin-top:13px; float:right; margin-right:3px;  }
.matter5 .news .more a{color:#fff;font-size:8px;}
.matter5 .news .content{ width:315px; }
.matter5 .news .content li{  zoom:1; overflow:hidden; padding-left:15px; height:27px; line-height:27px; border-bottom:1px dotted #787878;}
.matter5 .news .content ul li .time{ float:right; color:#606060; padding-left:10px;}
.matter5 .newslist_time{ color:#505050; }
.matter5 .newslist_time a{width:290px; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.matter5 .newslist_time:hover{ color:#ff6600;}

.matter5 .news .info1{width:100%; height:40px; zoom:1; overflow:hidden;  }
.matter5 .news .info1 .title{ background:url(../images/img_13.jpg) no-repeat; width:233px; height:40px; float:left;}
.matter5 .news .info1 .more{ background:#555555; width:40px; height:15px; float:right; text-align:center; margin-top:13px; float:right; margin-right:3px;  }
.matter5 .news .info2{width:100%; height:40px; zoom:1; overflow:hidden;  }
.matter5 .news .info2 .title{ background:url(../images/img_14.jpg) no-repeat; width:233px; height:40px; float:left;}
.matter5 .news .info2 .more{ background:#555555; width:40px; height:15px; float:right; text-align:center; margin-top:13px; float:right; margin-right:3px;  }

.matter6{width:100%; margin:auto;  margin-top:8px;zoom:1; overflow:hidden;}
.matter6 .info{ width:100%; height:34px; zoom:1; overflow:hidden; }
.matter6 .title{ background:url(../images/img_17.jpg) no-repeat; width:390px; height:34px; float:left;}
.matter6 .more{ background:#555555; width:40px; height:15px; float:right; text-align:center; margin-top:10px; float:right; margin-right:3px;  }
.matter6 .more a{color:#fff;font-size:8px;}

.matter6 .content{ zoom:1; overflow:hidden; width:990px; margin:10px auto;}
.leftbotton{ float:left; padding-top:15px;}
.rightbotton{float:right; padding-top:15px;}
.cont{ float:left; width:950px; zoom:1; overflow:hidden; margin-left:14px; display:inline;}
.box{ width:145px;text-align:center; float:left; margin-right:13px;}
.box img{ padding-bottom:8px;}
.box a:hover{ color:#ff6600;}
.ad3{ background:url(../images/img_16.jpg) repeat-x; width:1000px; height:32px; margin:10px auto;}
.ad4{ background:url(../images/img_20.jpg) no-repeat; width:100%; margin:auto; height:34px;}
.content_down_list{	width:944px;overflow:hidden;float: left;margin-top: 10px;margin-left: 10px;}
.content_down_list ul {float: left; width:940px;}
.content_down_list li {	float: left;height:57px;width:152px; margin:0px 1px 0px 1px; }
.content_down .content_downtitle {background-image: url(../img/title_rx.gif);	background-repeat: repeat-x;float: left;height: 29px;width: 100%;text-align: left;line-height:29px;}
.content_down .content_downtitle a:visited{color:#003399; }
.content_down .content_downtitle strong{margin-left:12px;}





