@media screen and (max-width:1220px){
.head,.i_ma,.f_nav,.bq,.scd,.pro dl{width:960px;}
.head .logo img,.head .logo{ width:315px; height:49px;}
.head .nav_m{ width:630px;}
.nav li{ margin-left:18px;}
.i_ma li{ margin:0 3px;}
.i_ma li{ width:230px;}
.i_ma li img{ width:230px; height:115px;}
.f_nav li{ width:160px;}
.f_nav li.f_ct{ width:200px;}
.pro dl dt{ margin-right:25px;}
.pro dl dd{ margin-left:25px; width:480px;}
.scd .scd_r{ width:740px;}
.case dl dd{ width:555px;}
.contact dt img,.contact dt{ width:436px; height:265px;}
.contact dt{ margin-right:0;}
.contact dd{ margin-left:0;}
}
@media screen and (max-width:990px){
.head,.i_ma,.f_nav,.bq,.scd,.pro dl{width:740px;}
.head{ position:relative;}
.nav_m .n_icon{ display:block;}
.head .nav_m{ margin-top:0;}
.head .nav_m .nav{ position:absolute; right:0; top:112px; background:#fff; z-index:9999; display:none;}
.nav li{ margin-left:40px;}
.i_line em{ width:91px; height:26px; margin-left:-13px; background-size:100%;}
.i_ma li{ margin-bottom:25px; width:360px;}
.i_ma li img{ width:360px; height:180px;}
.f_nav li.f_ct{ padding-right:0; margin-right:0; background:none;}
.f_nav li{ min-height:160px; width:190px;}
.pro dl dt img,.pro dl dt{ width:328px; height:230px;}
.pro dl dd{ width:340px;}
.scd .scd_r{ margin-left:0; float:right; width:540px;}
.case dl dd{ width:355px;}
.case dl dd .title a{ font-size:16px;}
.contact dt img,.contact dt{ width:387px; height:235px;}
.contact dd{ width:320px;}
.contact dd .c_m span{ width:280px;}
}
@media screen and (max-width:770px) {
.head,.i_ma,.f_nav,.bq,.scd,.pro dl{width:480px;;}
.nav li a{ font-size:14px;}
.nav li{ margin-left:0;}
.i_ma li{ width:230px;}
.i_ma li img{ width:230px; height:115px;}
.f_nav li{ width:100px;}
.bq .bq_r{ width:60%;}
.scd .about img{ width:100%; height:auto; margin-bottom:15px;}
.pro dl dt img, .pro dl dt{ width:430px; height:301px;}
.pro dl dd{ width:430px;}
.scd .scd_l,.scd .scd_r{ width:100%;}
.scd_l .s_nav{ width:478px;}
.scd .scd_l{ margin-bottom:25px;}
.case dl dd{ width:295px;}
.pages a{ margin-bottom:8px;}
.join img{ width:90% !important;}
.contact dt img,.contact dt{ width:480px; height:291px;}
.contact dd{ width:100%;}
.contact dd .c_m span{ width:450px;}
.contact dd .c_logo,.contact dd h6{ width:100%; text-align:center;}
}
@media screen and (max-width:510px) {
.head,.i_ma,.f_nav,.bq,.scd,.pro dl{width:320px;}
.head{ position:relative;}
.head .logo img,.head .logo{ width:206px; height:32px;}
.bq .bq_l,.bq .bq_r{ width:100%; text-align:left;}
.head .nav_m .nav li{ width:100%; text-align:right;}
.nav li a{ width:90%; padding:0 5%; height:30px; line-height:30px;}
.f_nav li{ width:49%; padding:0; margin-right:0; background:none;}
.f_nav li.f_ct{ width:90%;}
.f_nav li.f_ct{ margin-top:15px;}
.f_nav li .share{ text-align:left;}
.i_line em{ margin-left:-50px;}
.i_ma li{ width:300px;}
.i_ma li img{ width:300px; height:150px;}
.nav_m .n_icon{ top:38px;}
.head .nav_m .nav{ top:94px;}
.scd{ padding:20px 0 30px;}
.pro dl{ padding:10px 0;}
.pro dl dt{ margin-right:10px;}
.pro dl dt img, .pro dl dt{ width:300px; height:210px;}
.pro dl dd{ width:300px; margin-left:10px;}
.pro dl dd .more{ margin-bottom:10px;}
.scd_l .s_nav{ width:318px;}
.case dl dt, .case dl dt img{ width:320px; height:244px;}
.case dl dt{ margin-left:0;}
.case dl dd{ width:320px; margin-right:0;}
.join img{ width:98% !important;}
.contact dt img,.contact dt{ width:320px; height:194px;}
.contact dd .c_m span{ width:290px;}
.contact dd .c_logo, .contact dd h6{ text-align:left; font-size:14px;}
}
