body{font-family:"Microsoft Yahei";font-size:14px;color:#333; padding:0; margin:0;}
input , textarea , select{font-family:"Microsoft Yahei"; color:#333; font-size:14px;}
a{ color:#000;}
a:hover{ color:#CB3333;}
/*头部*/
.header{ width:100%; border-bottom:1px solid #000;}
.head{ width:1200px; margin:0px auto;}
.head .logo{ width:355px; height:55px; float:left; margin:30px 0;}
.head .logo img{ width:355px; height:55px; vertical-align:top;}
.head .nav_m{ width:780px; float:right; margin-top:40px;}
.head .nav_m .nav{ width:100%; text-align:right;}
.nav li,.nav li a{ display:inline-block; *display:inline; zoom:1;}
.nav li{ border-bottom:2px solid #FFF; margin-left:38px;}
.nav li.now{ border-bottom:2px solid #CB3333;}
.nav li a{ margin-left:0; font-size:16px; color:#000; padding:0 10px; height:35px; line-height:35px;}
.nav li a:hover,.nav li.now a{ color:#CB3333;}
.nav_m .n_icon{ display:inline-block; *display:inline; zoom:1; height:18px; line-height:18px; color:#333; padding-left:28px; background:url(../images/nav_ico.png) no-repeat left center; position:absolute; right:0; top:55px; z-index:9999; cursor:pointer;display:none; font-size:16px;}

/*幻灯片*/
.banner{ width:100%; position:relative; z-index:99; border-top:1px solid #DA251D;}
.owl-carousel .owl-wrapper:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
/* display none until init */
.owl-carousel{display: none;position: relative;width: 100%;-ms-touch-action: pan-y;}
.owl-carousel .owl-wrapper{display: none;position: relative;-webkit-transform: translate3d(0px, 0px, 0px);}
.owl-carousel .owl-wrapper-outer{overflow: hidden;position: relative;width: 100%;}
.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition: height 500ms ease-in-out;-moz-transition: height 500ms ease-in-out;-ms-transition: height 500ms ease-in-out;-o-transition: height 500ms ease-in-out;transition: height 500ms ease-in-out;}
.owl-carousel .owl-item{float: left;}
.owl-controls .owl-page,.owl-controls .owl-buttons div{cursor: pointer;}
.owl-controls {-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
/* mouse grab icon */
.grabbing {cursor:url(grabbing.png) 8 8, move;}
/* fix */
.owl-carousel  .owl-wrapper,.owl-carousel  .owl-item{-webkit-backface-visibility: hidden;-moz-backface-visibility:    hidden;-ms-backface-visibility:     hidden;-webkit-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0);}
#owl-demo { position: relative; width: 100%; margin-left: auto; margin-right: auto;}
#owl-demo .item{ position: relative; display: block;}
#owl-demo img { display: block; width: 100%;}
#owl-demo b { position: absolute; left: 0; bottom: 0; width: 100%; height: 78px; background-color: #000; opacity: .5; filter: alpha(opacity=50);}
#owl-demo span { position: absolute; left: 0; bottom: 37px; width: 100%; font: 18px/32px "微软雅黑","黑体"; color: #fff; text-align: center;}
.owl-pagination { position: absolute; bottom: 10px; width:100%; height: 22px; text-align: center;}
.owl-page { display: inline-block; width:18px; height: 18px; margin: 0 5px; background:url(../images/icon1.png) no-repeat; *display: inline; *zoom: 1;}
.owl-pagination .active { background:url(../images/icon2.png) no-repeat;;}
.owl-buttons { display: none;}
.owl-buttons div { position: absolute; top: 50%; width: 24px; height: 48px; margin-top: -40px; text-indent: -9999px;}
/*.owl-prev { left: 10px; background-image: url(../images/bg17.png);}
.owl-next { right: 10px; background-image: url(../images/bg18.png);}
.owl-prev:hover { background-image: url(../images/bg17.png);}
.owl-next:hover { background-image: url(../images/bg18.png);}*/
@media screen and (max-width: 579px) {.owl-pagination{bottom:0px;height:15px;}}
/*幻灯片*/
.bg_a{ width:100%; background:#F2F2F2;}
.f_nav{ width:1100px; margin:0px auto; padding:40px 0 30px;}
.f_nav li{ width:190px; float:left; padding-right:20px; margin-right:20px; background:url(../images/line.png) no-repeat right top; min-height:158px; font-size:12px;}
.f_nav li.f_ct{ width:240px}
.f_nav li.dz{ background:none; padding-right:0; margin-right:0; width:320px;}
.f_nav li .name b{ display:inline-block; *display:inline; zoom:1; height:40px; line-height:40px; position:relative; font-size:16px;}
.f_nav li .name b i{ display:block; width:48px; height:40px; position:absolute; right:-30px; top:-28px; background:url(../images/icon4.png) no-repeat;}
.f_nav li p{ width:100%; height:25px; line-height:25px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin-top:7px;}
.f_nav li p img,.f_nav li p span{ display:inline-block; *display:inline; zoom:1; height:25px; line-height:25xp; vertical-align:top;}
.f_nav li .share{ width:100%; text-align:center; height:auto;}
.f_nav li .share img{ width:36px; height:35px;}
.f_nav li.dz p{ width:100%; height:auto; white-space:normal; line-height:145%; position:relative; padding-bottom:5px;}
.f_nav li.dz p .map{ display:inline-block; *display:inline; zoom:1; padding-left:50px; background:url(../images/icon7.png) no-repeat left center; height:35px; float:right; line-height:35px; margin-top:-5px;}
.f_nav li.dz .f_s{ width:100%; height:30px; background:#FFF; border-radius:7px; -moz-border-radius:7px; -webkit-border-radius:7px; position:relative; background:#FFF; overflow:hidden;}
.f_nav li.dz .f_s input[type="text"]{ width:220px; height:30px; border:0; background:none; line-height:30px; padding:0 5px; position:absolute; left:0; top:0;}
.f_nav li.dz .f_s input[type="submit"]{ width:70px; height:30px; position:absolute; right:0; top:0; cursor:pointer; background:#FF3333; color:#FFF; text-align:center; line-height:30px; border:0;}
.f_bg{ width:100%; background:#333333; padding:15px 0;}
.bq{ width:1100px; margin:0px auto;}
.bq .bq_l{ width:40%; height:20px; line-height:20px; text-align:left; font-size:12px; color:#FFF; float:left;}
.bq .bq_l a{ color:#FFF;}
.bq .bq_r{ width:50%; height:20px; line-height:20px; text-align:right; float:right; color:#FFF; font-size:12px;}
.banner_s ,.banner_s img{ width:100%; height:auto; vertical-align:top; box-shadow:0 0 0 #FFF;}
.i_line{ width:100%; border-top:1px solid #444; position:relative; height:15px;}
.i_line em{ display:block; width:125px; height:36px; position:absolute; left:50%; top:-1px; z-index:99; margin-left:-62px; background:url(../images/icon3.png) no-repeat;}
.i_ma{ width:1100px; margin:0px auto; text-align:center; padding:50px 0 40px;}
.i_ma li{ display:inline-block;*display:inline; zoom:1; width:260px; text-align:left; vertical-align:top; margin:0 5px;}
.i_ma li img{ width:260px; height:130px; vertical-align:top;}
.i_ma li .title{ width:100%; height:40px; line-height:45px; border-bottom:1px solid #eee;}
.i_ma li .title a{ font-size:16px;font-weight:bold;}
.i_ma li .title a em{ color:#FF3333; padding-right:8px; font-weight:bold;}
.i_ma li .des{ width:100%; margin-top:10px; height:40px; line-height:165%; margin-bottom:8px; overflow:hidden; font-size:12px;}
.i_ma li .more{ width:100%; height:25px; line-height:25px; padding-top:7px; border-top:1px solid #eee;}
.i_ma li .more a{ display:inline-block; *display:inline; zoom:1; font-size:12px; color:#666; padding-left:25px; background:url(../images/icon8.png) no-repeat left center;}
.i_ma li .more a:hover{ color:#FF3333;}
.scd{ width:1100px; margin:0px auto; padding:40px 0 50px; text-align:left; font-size:14px; color:#555; line-height:175%;}
.scd img{ max-width:100%; height:auto; vertical-align:top;}
.pages{ width:100%; text-align:center; margin-bottom:25px;}
.pages a{ display:inline-block; *display:inline; zoom:1; height:22px; line-height:22px; border:2px solid #eee; margin:0 1px; font-size:12px; color:#555; padding:0 5px;}
.pages a.now{ color:#FFF; font-weight:bold; background:#DA251D; border-color:#DA251D;}
.scd_a{ width:1200px; padding:20px 0;}
.scd .scd_l{ width:185px; float:left;}
.scd_l .name{ width:100%; height:50px; line-height:50px; text-align:center; font-size:24px; color:#FFF; background:#DA251D;}
.scd_l .s_nav{ width:183px; border:1px solid #ddd; border-top:0; box-shadow:0 1px 4px #aaa; padding:10px 0;}
.scd_l .s_nav li{ width:100%; height:40px; line-height:40px;}
.scd_l .s_nav li a{ font-size:16px; width:86%; display:block; height:40px; line-height:40px; padding:0 7%;}
.scd .scd_r{ width:900px; float:left; margin-left:30px;}
.scd .scd_r .case{ width:100%;}
.case dl{ width:100%; padding-bottom:15px; margin-bottom:15px; border-bottom:1px solid #ddd;}
.case dl dt,.case dl dt img{ width:170px; height:130px; float:left; vertical-align:top;}
.case dl dd{ width:710px; float:right;}
.case dl dd .title{ width:100%; height:40px; line-height:40px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.case dl dd .title a{ font-size:18px; color:#D9251D;}
.case dl dd .des{ width:100%; height:45px; font-size:14px; color:#000; line-height:175%; overflow:hidden; margin-bottom:20px;}
.case dl dd .more{ width:100%; text-align:left;}
.case dl dd .more a{ font-size:14px;}
.pro{ width:100%;}
.pro dl{ width:1150px; margin:0px auto; padding:25px 0; margin-bottom:25px; background:#F4F4F4;}
.pro dl dt{ width:420px; height:295px; float:right; margin-right:50px;}
.pro dl dt img{ width:420px; height:295px; vertical-align:top;}
.pro dl dd{ width:610px; float:left; margin-left:50px;}
.pro dl dd .name{ width:100%; height:50px; line-height:50px; padding-top:15px; font-size:18px;}
.pro dl dd .des{ width:100%; height:45px; font-size:14px; line-height:175%; overflow:hidden; margin-bottom:30px; color:#000;}
.pro dl dd .more{ width:100%; margin-bottom:40px;}
.pro dl dd .more a{ display:block; width:110px; height:32px; text-align:center; line-height:32px; font-size:14px; color:#FFF; background:#DA251D;}
.pro dl dd .time{ width:100%; height:25px; line-height:25px; background:url(../images/icon9.png) no-repeat left center;}
.pro dl dd .time span{ font-size:13px; margin-left:25px;}
.contact{ width:100%;}
.contact dt{ width:542px; height:319px; float:right; margin-right:50px;}
.contact dt img{ width:524px; height:319px; vertical-align:top;}
.contact dd{ width:500px; float:left; margin-left:50px;}
.contact dd .c_logo,.contact dd .c_logo img{ width:285px; height:44px; vertical-align:top;}
.contact dd .c_logo{ margin:20px 0 10px;}
.contact dd h6{ width:100%; font-size:18px; color:#474747; margin-bottom:30px; font-weight:normal;}
.contact dd .c_m{ width:100%; font-size:12px; line-height:185%;}
.contact dd .c_m p{ width:100%; margin-bottom:10px;}
.contact dd .c_m img,.contact dd .c_m span{ display:inline-block; *display:inline; zoom:1; vertical-align:top;}
.contact dd .c_m img{ width:19px; height:19px; margin-right:10px;}
.join{ width:100%; text-align:center;}
.join img{ max-width:100%; height:auto; vertical-align:top;}


