*{ text-decoration:none; margin:0; padding:0; list-style-type:none;}
body{ font-size:12px; color:#666; background:url(../images/pp.jpg) repeat-x; }
img{border:none;}
a{color:#666}
.top{width:1000px; height:150px; margin:auto;}


.logo{width:649px; height:89px; float:left; margin-top:35px}
.tel{width:296px; height:64px; float:right; margin-top:45px;}

.dh{width:1000px; height:40px; margin:auto}
.dh ul li{float:left; list-style-type:none; width:100px; height:40px; line-height:40px; text-align:center; color:white; font-size:14px;}
.dh ul li:hover , .current{background:url(../images/daohang_hover.jpg); font-weight:bold}


.prodect{width:100%; height:665px; background:url(../images/prodect_bg.jpg) center;}
.prodect1{width:100%; height:665px; background:url(../images/prodect_bg1.jpg) center;}
.prodect_blank{width:1000px; height:26px; margin:auto;}
.prodect_blank1{width:1000px; height:50px; margin:auto;}
.prodect_blank2{width:1000px; height:20px; margin:auto;}
.prodect_search{width:980px; height:24px; margin:auto; }
.search_kuang{width:228px; height:24px; background:url(../images/search.jpg) no-repeat; float:left}
.search_button{width:47px; height:24px; background:url(../images/search_button.jpg) no-repeat; float:left; margin-left:10px;}
.search_link{width: 360px; height:24px; line-height:36px; float:left; text-align:center;}
.search_link a:hover{ text-decoration:underline;}
.prodect_top{width:700px; height:60px; line-height:60px; text-align:center; font-size:40px; margin:auto; color:#c70100; letter-spacing:10px;}
.prodect_pic{width:1000px; height:390px; margin:auto;}
.prodect_xx{width:159px; height:334px; float:left;}
.prodect_xx ul li{width:171px; height:357px; float:left; background:url(../images/prodect_xx.jpg) no-repeat;}
.prodect_xx ul li:hover{background:url(../images/prodect_xxa.jpg) no-repeat;}
.prodect_wz{width:159px; height:20px; line-height:20px; text-align:center; font-size:15px; font-weight:bold; color:#c70100; margin-top:160px;}
.prodect_wz2{width:159px; height:40px; line-height:20px; text-align:center; margin-top:20px;}
.prodect_cp{width:159px; height:334px; float:left; margin-left:50px;}
.prodect_cp ul li{width:159px; height:334px; float:left; background:url(../images/prodect_cp.jpg) no-repeat;}
.prodect_cp ul li:hover{background:url(../images/prodect_cpa.jpg) no-repeat;}
.prodect_zs{width:159px; height:334px; float:left; margin-left:50px;}
.prodect_zs ul li{width:159px; height:334px; float:left; background:url(../images/prodect_zs.jpg) no-repeat;}
.prodect_zs ul li:hover{background:url(../images/prodect_zsa.jpg) no-repeat;}
.prodect_sp{width:159px; height:334px; float:left; margin-left:50px;}
.prodect_sp ul li{width:159px; height:334px; float:left; background:url(../images/prodect_sp.jpg) no-repeat;}
.prodect_sp ul li:hover{background:url(../images/prodect_spa.jpg) no-repeat;}
.prodect_wz3{width:1000px; height:80px; line-height:40px; text-align:center; margin:auto; font-size:28px; letter-spacing:3px; }
.prodect_tg{width:159px; height:334px; float:left; margin-left:50px;}
.prodect_tg ul li{width:159px; height:334px; float:left; background:url(../images/prodect_tg.jpg) no-repeat;}
.prodect_tg ul li:hover{background:url(../images/prodect_tga.jpg) no-repeat;}

.reason{width:100%; height:222px; background:url(../images/reason_bg.jpg) center;}
.reason_wz{width:1000px; height:80px; margin:auto; text-align:center; font-size:45px; color:#393939;}
.reason1{width:1000px; height:364px; margin:auto; background:url(../images/reason1.jpg) no-repeat}
.reason1_blank{width:900px; height:70px;}
.reason1_wz{width:600px; height:80px; margin-left:100px;  color:#ba0005; font-size:35px; letter-spacing:2px;}
.reason1_wz1{width:500px; height:180px; margin-left:100px;  color:#666; font-size:14px; line-height:33px;}
.reason2{width:100%; height:480px; background:url(../images/reason2.jpg) center no-repeat}
.reason2_nr{width:1000px; height:475px; margin:auto}
.reason2_blank{width:900px; height:155px;}
.reason2_wz{width:450px; height:80px;  color:#ba0005; font-size:35px; letter-spacing:2px; margin-left:520px;}
.reason2_wz1{width:400px; height:180px; margin-left:520px;  color:#666; font-size:14px; line-height:33px;}
.reason3{width:1000px; height:364px; margin:auto; background:url(../images/reason3.jpg) no-repeat}
.reason3_blank{width:1000px; height:51px; margin:auto; }
.reason4{width:100%; height:480px; background:url(../images/reason4.jpg) center}
.reason4_blank{width:900px; height:130px;}
.reason4_wz{width:360px; height:80px;  color:#ba0005; font-size:35px; letter-spacing:2px; margin-left:630px;}
.reason4_wz1{width:360px; height:180px; margin-left:630px;  color:#666; font-size:14px; line-height:33px;}

.process{width:1000px; height:129px; line-height:155px; background:url(../images/process.jpg) no-repeat; margin:auto; font-size:40px; text-align:center; letter-spacing:9px; color:#ba0005}
.process_pic{width:1000px; height:185px; background:url(../images/process_pic.jpg); margin:auto}
.process_pic1 span{position:absolute; visibility:hidden; margin-left:-230px; margin-top:-250px}
.process_pic1:hover span{ visibility:visible; }

.process_pic1{width:132px; height:175px; float:left; margin-left:17px; margin-top:7px;}
.process_newnr{width:240px; height:100px; border:3px solid #a9a9a9; position:absolute; margin-left:100px; margin-top:100px; background:#fff; padding:15px; font-size:14px; color:#c80f21; line-height:24px; font-family:"微软雅黑"}
.process_newnr p{color:#000; font-size:12px;}
.process_pic1a{width:132px; height:175px; float:left; position:absolute; background:#eee;}
.process_pic2{width:132px; height:178px; float:left; margin-left:34px; margin-top:7px;}
.process_pic2 span{position:absolute; visibility:hidden; margin-left:-230px; margin-top:-250px}
.process_pic2:hover span{ visibility:visible; }
.process_blank{width:1000px; height:91px; margin:auto}

.dotton_line{width:100%; height:63px; background:url(../images/dotton.jpg) center;}

.problem_top{width:100%; height:128px; background:url(../images/problem.jpg) center no-repeat #e2e2e4}
.problem_pic{width:100%; height:534px; background:url(../images/problem_pic.jpg) center no-repeat}

.dotton_line2{width:100%; height:55px; background:url(../images/dotton2.jpg) center;}

.links_blank{width:100%; height:43px; background:#fff;}
.links_title{width:100%; height:34px; background:url(../images/links_title.jpg) center no-repeat}
.links{width:1000px; height:220px; margin:0 auto;}
.links ul li{width:164px; height:90px; float:left; margin-left:30px; line-height:32px; margin-top:20px; text-align:center}
.links ul li:hover{color:#b90006}

.news{width:100%; height:586px; background:url(../images/news_pp.jpg)}
.news_blank{width:100%; height:75px;}
.newsa{width:1000px; height:460px; margin:0 auto;}
.news_into{width:330px; height:440px; float:left;}
.news_into_title{width:330px; height:34px; background:url(../images/into.png) center no-repeat; color:#ba0005; font-size:14px; line-height:36px;}
.news_into_pic{width:330px; height:71px; margin-top:10px;}
.news_into_nr{width:330px; height:275px; font-family:"宋体"; margin-top:20px;}
.news_into_nr span{float:right;}
.news_into_nr ul li{width:330px; height:32px; line-height:32px; border-bottom:1px dotted #adadad;}
.more{width:41px; height:17px; float:right}
.news_new{width:330px; height:440px; float:left; margin-left:35px;}
.news_wb{width:268px; height:440px; float:left; margin-left:35px; background:#fff; border:1px solid #cccccc;}

.weibo{width:268px; height:82px; background:url(../images/wb_pp.jpg)}
.weibo img{ margin-top:24px; margin-left:20px;}




/* main_image */
.main_visual{height:460px; overflow:hidden;position:relative;}
.main_image{height:460px;overflow:hidden;position:relative;}
.main_image ul{width:9999px;height:460px;overflow:hidden;position:absolute;top:0;left:0}
.main_image li{float:left;width:100%;height:460px;}
.main_image li span{display:block;width:100%;height:460px}
.main_image li a{display:block;width:100%;height:460px}
.main_image li .img_1{background:url(../images/img_main_2.jpg) center top no-repeat}
.main_image li .img_2{background:url(../images/img_main_1.jpg) center top no-repeat}
.main_image li .img_3{background:url(../images/img_main_2.jpg) center top no-repeat}
.main_image li .img_4{background:url(../images/img_main_1.jpg) center top no-repeat}


div.flicking_con{position:absolute;top:400px;left:77%;z-index:999;width:300px;height:21px;margin:0 0 0 -50px;}
div.flicking_con a{float:left;width:21px;height:21px;margin-left:10px;padding:0;background:url('../images/btn_main_img.png') 0 0 no-repeat;display:block;text-indent:-1000px}
div.flicking_con a.on{background-position:0 -21px}
#btn_prev,#btn_next{z-index:11111;position:absolute;display:block;width:73px!important;height:74px!important;top:50%;margin-top:-37px;display:none;}
#btn_prev{background:url(../images/hover_left.png) no-repeat left top;left:100px;}
#btn_next{background:url(../images/hover_right.png) no-repeat right top;right:100px;}




.fh_top{width:135px; height:37px; margin:5px auto;}

.bottom{width:100%; height:180px; background:url(../images/bottom_bg.jpg); float:left}
.bottom_blank{width:1000px; height:30px; margin:0 auto}
.bottom_nr{width:760px; height:110px; margin:0 auto;}
.bottom_pic{width:236px; height:103px; float:left;}
.bottom_jj{width:460px; height:100px; margin-left:25px; font-size:12px; font-family:"宋体"; color:#808080; float:left; line-height:27px;}

.elevatora{width:100%; height:68px; background:url(../images/news_pp.jpg); float:left}
.elevatora_blank{width:1000px; height:20px; margin:0 auto;}
.elevator_item {width:135px; height:68px; margin:0 auto;}
.elevator{width:135px; height:37px; cursor: pointer; margin:0 auto;}


/* 内页css代码   */
.nr{width:980px; height:auto; margin:0 auto; }
.left{width:228px; height:auto; float:left}
.right{width:715px; height:auto; margin-left:10px; float:left}

.up{width:230px; height:36px; line-height:36px; font-size:14px; font-weight:bold; background:url(../images/ny/up.jpg); color:#000; margin-top:8px; float:left}
.nr_lm{width:228px; height:auto; border-left:1px solid #d5d5d5; border-right:1px solid #d5d5d5; float:left}
.nr_lma{width:228px; height:auto; border-left:1px solid #d5d5d5; border-right:1px solid #d5d5d5; text-align:center; float:left}
.nr_lma_blank{width:200px; height:5px; float:left}
.nr_lma ul li{width:190px; height:135px; margin:10px auto; background:#eee; border:1px solid #ccc; padding:1px; }
.nr_lma ul li:hover{border:1px solid #b80002; text-decoration:underline}
.nr_lm_nr{width:200px; height:190px; margin-left:14px;; line-height:24px; float:left}
.nr_lm ul li{width:160px; height:26px; line-height:26px; float:left; border-bottom:1px dotted #dfdfdf; margin-left:30px; margin-top:12px; font-family:"宋体"}
.nr_lm ul li:hover{color:#ba0003; line-height:30px; font-weight:700}
.lm_bottom{width:230px; height:6px; background:url(../images/ny/lm_bottom.jpg); float:left}
.right_up{width:715px; height:36px; line-height:36px; background:url(../images/ny/right_up.jpg); margin-top:8px; font-family:"宋体"; margin-bottom:10px;}
.right_top{width:715px; height:4px;}
.right_center{width:713px; height:auto; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; float:left;}
.right_center_nr{width:670px; height:auto; margin:0 auto; line-height:24px;}
.right_center ul li{width:300px; height:187px; background:#eee; margin-left:35px; margin-top:40px; float:left;border:1px solid #ccc; padding:1px; text-align:center; line-height:24px;}
.right_center ul li:hover{border:1px solid #b80002;}
.right_center_fy{width:700px; height:80px; line-height:100px; float:left; margin:auto; text-align:center}
.right_center_fy a:hover{color:#b80002; font-weight:normal}
.right_center_fy span{font-size:14px; font-family:Arial, Helvetica, sans-serif; color:#b80002}
.right_center_pic{width:675px; height:auto; margin:0 20px;}


.right_centera{width:713px; height:auto; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; float:left; font-family:"宋体"}
.right_centera ul li{ width:660px; height:88px; line-height:40px; background:#fff; border-bottom:1px dotted #ccc; margin-left:25px;}
.right_centera ul li:hover{color:#b80002; background:#fefefe;}
.wenzhang{ width:660px; height:30px; line-height:30px; font-size:14px; font-weight:bold; color:#000;}
.wenzhang2{ width:640px; height:58px; line-height:24px; margin-left:20px; }
.wenzhang span{float:right; font-size:12px; color:#4d4d4d; font-weight:normal; font-family:Arial, Helvetica, sans-serif}
.right_blank{width:700px; height:20px;}
.right_blank1{width:700px; height:2px;}
.right_blanka{width:1000px; height:20px; margin:0 auto; float:left}

/*  */
.voide_banner{height:460px; overflow:hidden; background:url(../images/ny/voide_banner.jpg) center no-repeat}
.voide_pica{width:100%; height:411px; background:url(../images/ny/voide_pic.jpg) center no-repeat #fff;}
.voide_picanr{width:1000px; height:400px; margin:0 auto;}
.voide_picanra{width:520px; height:360px; float:left;}
.voide_picanra1{width:480px; height:100px; line-height:120px; font-size:36px; font-weight:bold; font-family:"微软雅黑"; color:#c0061b;  margin-left:16px;}
.voide_picanra2{width:480px; height:100px;margin-left:73px; margin-top:16px;}
.voide_picanra2 ul li{width:240px; height:32px; line-height:35px; font-size:16px; font-family:"微软雅黑"; float:left; }
.voide_picanra3{width:217px; height:36px; line-height:38px; font-size:16px;  margin-left:85px; margin-top:50px; color:#fff; text-align:center;}
.voide_picanra4{width:250px; height:32px; margin-left:120px; margin-top:20px; font-size:22px; color:#000; font-family:Arial, Helvetica, sans-serif;color:#c0061b;}
.voide_picanra4 span{font-size:13px;font-family:"微软雅黑"; color:#000}
.voide_picanrb{width:100px; height:360px; float:right; text-align:center; margin-right:33px; font-size:11px; color:#9c9da2; font-family:Arial, Helvetica, sans-serif; line-height:18px;}
.voide_picanrb p{font-size:34px;}
.voide_picanrb span{font-size:21px; font-family:"微软雅黑"; color:#000; font-weight:bold}
.video_pp{width:100%; height:207px; background:url(../images/ny/voide_pp.jpg)}
.video_pic{font-family:"微软雅黑";width:900px; height:143px; line-height:130px; margin:0 auto; background:url(../images/ny/video_pic1.jpg);color:#c0061b; font-size:30px; text-align:center}
.video_pic span{font-weight:bold}
.video_nr{width:100%; height:auto; background:#f7f3f4}
.video_pic2{width:100%; height:461px; margin:0 auto; background:url(../images/ny/video_pic2.jpg) center no-repeat #f7f3f4;}
.video_pic2nr{width:1000px; height:450px; margin:0 auto;}
.video_pic2nra{width:500px; height:280px; margin-left:21px; float:left;}
.video_pic2nrb{width:280px; height:320px; float:right; margin-right:100px;}
.video_pic2nrba{width:260px; height:80px; font-family:"微软雅黑"; font-size:28px; color:#000}
.video_pic2nrbb{width:200px; height:140px; font-size:14px; color:#666; margin-top:20px; line-height:30px; margin-left:60px;}
.video_pic2nrba span{font-weight:bold; color:#c0061b}
.video_pic2nrbc{width:217px; height:36px; line-height:36px; text-align:center; background:#b3b3b3; font-size:18px; color:#fff;font-family:"微软雅黑"; margin-left:60px;}
.video_pic3{width:100%; height:454px; margin:0 auto; background:url(../images/ny/video_pic3.jpg) center no-repeat #f7f3f4;}
.video_pic3nra{width:500px; height:280px; margin-right:21px; float:right;}
.video_pic3nrb{width:280px; height:320px; float:left; margin-left:100px;}
.video_pic4{width:100%; height:446px; margin:0 auto; background:url(../images/ny/video_pp.jpg)}
.video_pic4_a{width:1059px; height:445px; margin:0 auto; background:url(../images/ny/video_pic4.jpg)}
.video_pic5{width:100%; height:773px; margin:0 auto; background:url(../images/ny/video_pic5.jpg) center no-repeat #fff;}
.video_pic5_blank{width:1000px; height:50px; margin:0 auto}
.video_pic5a{width:700px; height:130px; margin:0 auto; font-family:"微软雅黑"; font-size:36px; color:#9a9a9a}
.video_pic5a span{font-weight:bold; color:#ef1e37; font-size:40px;}
.video_pic5b{width:1000px; height:540px;margin:0 auto}
.video_pic5ba{width:940px; height:540px; margin-left:60px;}
.video_pic5ba1{width:363px; height:540px; float:left}
.video_pic5ba1 ul li{width:240px; height:80px; margin-top:45px; margin-left:60px; font-size:16px; font-family:"微软雅黑"; color:#c80f21}
.video_pic5ba2{width:232px; height:540px; float:left;}
.video_pic5ba2 ul li{width:230px; height:135px; line-height:120px; text-align:center; font-size:16px; font-family:"微软雅黑"; color:#c80f21}
.video_pic5ba3{width:300px; height:540px; float:left;}
.video_pic5ba3 ul li{width:240px; height:80px; margin-top:45px; margin-left:60px; font-size:16px; font-family:"微软雅黑"; color:#9a9a9a}

.video_a2{width:100%; height:1200px; background:url(../images/video_pp3.jpg) repeat-x; }
.video_a{width:1044px; height:auto; margin:30px auto;}
.video_a1{width:1044px; height:80px; margin:30px auto;}
.video_a_a{width:300px; height:80px; float:left; margin-left:90px; font-size:18px; font-family:"微软雅黑"; color:#c80f21; line-height:24px;}
.video_a_a span,.video_a_da span{font-size:20px; font-weight:bold; color:#acacac}
.video_a_b{width:600px; height:80px; float:left;}
.video_a_b ul li{width:120px; height:20px; line-height:16px; float:left; font-size:12px; color:#858585}
.video_a_b ul li a:hover{ text-decoration:underline}
.video_a_c1{width:999px; height:250px; float:left; margin-left:54px; overflow:hidden}
.video_a_c{width:999px; height:250px; float:left;}
.video_a_c ul a li{width:294px; height:182px; float:left; border:2px solid #cecece; padding:2px; text-align:center; line-height:45px; margin-left:28px;}
.video_a_c ul a:hover li{ text-decoration:underline}
.video_a_d{width:962px; height:78px; margin-left:82px; background:url(../images/video_pic1.jpg); float:left;}
.video_a_da{width:300px; height:78px; line-height:78px; float:left; margin-left:20px; font-size:18px; color:#c80f21; font-family:"微软雅黑";}
.video_a_db{width:100px; height:78px; line-height:120px; float:right; font-size:14px; color:#858585; font-size:13px;}
.video_a_db a:hover{text-decoration:underline}
.video_a_e{width:962px; height:473px; margin-left:82px; background:url(../images/video_pp.jpg); float:left;}
.video_a_ea, .video_a_eb{width:457px; height:176px; float:left; margin-top:30px;}
.video_a_ea img{border:2px solid #cecece; padding:2px; background:#f8f2ed; float:left}
.video_a_ea p{width:200px; height:auto; float:left; margin-left:10px; font-size:14px; line-height:20px;}
.video_a_ea p a:hover{text-decoration:underline}
.video_a_eb{margin-left:48px;}
.video_a_eb img{border:2px solid #cecece; padding:2px; background:#f8f2ed; float:left}
.video_a_eb p{width:200px; height:auto; float:left; margin-left:10px; font-size:14px; line-height:20px;}
.video_a_eb p a:hover{ text-decoration:underline}
.video_a_f{width:962px; height:136px; margin-left:82px; background:url(../images/video_pp2.jpg); float:left;}
.video_a_fa{width:500px; height:32px; line-height:32px; margin:auto; margin-top:40px; text-align:center; color:#383838; font-size:24px; font-family:"微软雅黑"}
.video_a_fb{width:217px; height:36px; margin:auto; margin-top:10px;}
.video_a_g{width:962px; height:42px; margin-left:82px; background:url(../images/video_pic3.jpg); float:left;}
.video_a_ga{width:250px; height:42px; line-height:42px; font-size:16px; font-family:"微软雅黑"; margin-left:400px; color:#350000}
.video_a_h{width:962px; height:380px; margin-left:82px; float:left; margin-top:20px;}
.video_a_ha{width:548px; height:380px; float:left;}
.video_a_hb{width:300px; height:70px; float:left; margin-left:70px; border-bottom:1px solid #c53226; margin-top:20px; color:#c80f21; font-size:21px; font-family:"微软雅黑"; line-height:30px;}
.video_a_hb span{font-size:15px;}
.video_a_hc{width:340px; height:200px; float:left; margin-left:70px;}
.video_a_hd{width:300px; height:440px; float:right; color:#000; font-size:12px; line-height:16px;}
.video_a_he{width:300px; height:70px; border-bottom:1px solid #c30d23; font-size:21px; font-family:"微软雅黑"; color:#b90005; line-height:32px;}
/*   */
.company_banner{height:460px; overflow:hidden; background:url(../images/ny/company_banner.jpg) center no-repeat}

/* 企业之路  */
.brank_banner{height:460px; overflow:hidden; background:url(../images/ny/brank_banner.jpg) center no-repeat}
.brank_nr{width:100%; height:385px; background:#fff;}
.brank_trouble{width:1000px; height:385px; margin:0 auto; background:url(../images/ny/brank_1.jpg)}
.brank_trouble1{width:420px; height:385px; margin-left:550px; font-size:12px; font-weight:700; line-height:28px; font-family:"微软雅黑"}
.brank_trouble1 span{font-size:26px; color:#b90005; line-height:32px;}
.brank_reason1{width:1000px; height:450px; margin:auto; background:url(../images/ny/brank_reason1.jpg) no-repeat}
.brank_reason2{width:100%; height:480px; background:url(../images/ny/brank_reason2.jpg) center no-repeat}
.brank_reason3{width:1000px; height:450px; margin:auto; background:url(../images/ny/brank_reason3.jpg) no-repeat}
.brank_reason4{width:100%; height:480px; background:url(../images/ny/brank_reason4.jpg) center}
.brank_anli{width:1000px; height:450px; margin:0 auto;}
.brank_anli ul li{width:300px; height:450px; float:left; margin-left:33px;}
.brank_anli_blank{width:300px; height:50px;}
.brank_anli_title{width:300px; height:36px; border-bottom:2px solid #c30d23; font-size:20px; font-family:"微软雅黑"; color:#b90005}
.brank_anli_video{width:300px; height:200px; margin-top:30px;}
.brank_anli_name{width:300px; height:40px; line-height:40px; text-align:center; color:#433a38; font-family:"微软雅黑"; font-size:14px;}
.brank_anli_name a:hover{ text-decoration:underline;}
.brank_anli_itr{width:300px; height:400px; background:url(../images/ny/brank_anli_itr.jpg); line-height:24px; font-family:"微软雅黑";}
.brank_anli_itr span{font-size:14px; font-weight:bold; color:#b90005}
.brank_new{width:660px; height:440px; float:left; margin-left:10px; background:url(../images/ny/brank_app.jpg) no-repeat}
.brank_new_nr{width:300px; height:440px; float:right;}
.brank_new_nr1{width:300px; height:70px; border-bottom:1px solid #c30d23; font-size:21px; font-family:"微软雅黑"; color:#b90005; line-height:32px;}
.brank_new_nr1 span{font-size:16px;}
/*   */
.road_banner{height:460px; overflow:hidden; background:url(../images/ny/road_banner.jpg) center no-repeat}

/*   */
.picture_banner{height:460px; overflow:hidden; background:url(../images/ny/picture_banner.jpg) center no-repeat}
.picture_trouble{width:1000px; height:385px; margin:0 auto; background:url(../images/ny/picture_1.jpg)}
.picture_trouble1{width:420px; height:385px; font-size:12px; font-weight:700; line-height:28px; font-family:"微软雅黑"}
.picture_trouble1 span{font-size:26px; color:#b90005; line-height:45px;}
.picture_reason1{width:1000px; height:450px; margin:auto; background:url(../images/ny/picture_reason1.jpg) no-repeat}
.picture_reason2{width:100%; height:480px; background:url(../images/ny/picture_reason2.jpg) center no-repeat}
.picture_reason3{width:1000px; height:450px; margin:auto; background:url(../images/ny/picture_reason3.jpg) no-repeat}
.picture_reason4{width:100%; height:480px; background:url(../images/ny/picture_reason4.jpg) center}
/*   */
.join_banner{height:460px; overflow:hidden; background:url(../images/ny/join_banner.jpg) center no-repeat}
.join_trouble{width:1000px; height:385px; margin:0 auto; background:url(../images/ny/join_1.jpg)}
.join_reason1{width:1000px; height:450px; margin:auto; background:url(../images/ny/join_reason1.jpg) no-repeat}
.join_reason2{width:100%; height:480px; background:url(../images/ny/join_reason2.jpg) center no-repeat}
.join_reason3{width:1000px; height:450px; margin:auto; background:url(../images/ny/join_reason3.jpg) no-repeat}
.join_reason4{width:100%; height:480px; background:url(../images/ny/join_reason4.jpg) center}
/*   */
.center_banner{height:460px; overflow:hidden; background:url(../images/ny/center_banner.jpg) center no-repeat}

/*   */
.team_banner{height:460px; overflow:hidden; background:url(../images/ny/team_banner.jpg) center no-repeat}

/*   */
.news_banner{height:460px; overflow:hidden; background:url(../images/ny/news_banner.jpg) center no-repeat}
.news_title{width:660px; height:40px; line-height:30px; text-align:center; font-size:21px; font-weight:bold; color:#444; margin-left:26px; line-height:24px; border-bottom:1px dotted #cbcbcb;}
.news_time{width:640px; height:40px; line-height:40px; font-size:12px; color:#cbcbcb; margin-left:56px; line-height:40px; }
.news_time span{width:110px; height:40px; float:left}
.news_end{width:660px; height:auto; margin-left:26px; line-height:24px;}
.news_end p{ text-indent:2em;}

/*   */
.zhuce_banner{height:514px;background:url(../images/ny/emali_pic.jpg) center no-repeat}


/*   */
.la{width: 268px; height: 82px; background:url(../images/wb_pp.jpg)}
.la li{width:100px; height: 32px;  float: left; margin-left: 20px; margin-top:24px;}
.lb{width:268px; height:358px; background:red; overflow:hidden}


.new_blanka{width:230px; height:15px;}

.end_left{width:715px; height:auto; float:left}
.end_right{width:228px; height:auto; float:left; margin-left:10px;}
.end_up{width:230px; height:36px; line-height:36px; font-size:14px; font-weight:bold; background:url(../images/ny/up.jpg); color:#000; margin-top:8px; float:left}
.end_lm{width:228px; height:auto; border-left:1px solid #d5d5d5; border-right:1px solid #d5d5d5; float:left}
.end_lm ul li{width:200px; height:26px; line-height:26px; float:left; border-bottom:1px dotted #dfdfdf; margin-left:14px; margin-top:3px; font-family:"宋体"}
.end_lm ul li:hover{color:#ba0003; line-height:30px; font-weight:700}
.end_lm span{color:#ba0003}
.end_bottom{width:230px; height:6px; background:url(../images/ny/lm_bottom.jpg); float:left;}


.blank_team{width:200px; height:10px; float:left}


.right_centerf{width:713px; height:auto; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; float:left;}
.right_centerf ul li{width:660px; height:128px; margin-top:23px; margin-left:26px;}
.right_centerf img, .right_centerf span, .right_centerf p{float:left;}
.right_centerf img{border:1px solid #cfe9ff}
.right_centerf span{width:458px; height:25px; line-height:25px; margin-left:19px; font-size:14px; font-weight:bold;}
.right_centerf span a{color:#000;}
.right_centerf span a:hover{ text-decoration:underline}
.right_centerf p{width:458px; height:103px; margin-left:19px; font-size:12px; line-height:24px;}


