/*
KISSY CSS Reset
*/

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
   font-size: 14px;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 14px/1 "微软雅黑" Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}
h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var, i { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; color: #333; }
a:hover { text-decoration: none; color: #cca60e; }
/* 重置表单元素 */
input,select,textarea,button{outline:medium;}
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
input {vertical-align:middle;border: none; background: none;outline:none;}\n

/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; min-width: 320px;}
/*设置左右浮动*/
.fl{float: left;}
.fr{float: right;}
/*清楚浮动*/
.clearfix:after{visibility:hidden; display:block; font-size:0; content: " "; clear:both; height:0;}
.clearfix{*zoom:1;}
.mt20{ margin-top: 20px;}

/*网站头部样式*/

#header .top-bar{ background: #353535;  color: #fff; line-height: 40px; display: none;}
#header .top-a a{ float: left; padding: 0 10px; color: #fff;}
#header .top-a a:hover,#header .top-a a:active{ color: #fff; background: #000;}

#header .nav-box{ background: #272727; padding: 10px 0;}

#header .nav ul{ display: none;}
#header .nav i{ float: left; margin-left: 25px;}

.xs-nav{ height: 100%; background: #1a1a1a; position: fixed; right: -200px; top: 0; width: 200px; overflow: hidden; display: none;}
.xs-nav ul{ padding: 15px;}
.xs-nav a{ display: block; height: 40px; line-height: 40px; padding-left: 5px; color: #fff;}
.xs-nav a:active{ background: #000; color: #fff;}
.xs-nav li{    border-bottom: 1px solid #373a3d;}
#header .language-txt{background: #000;height: 40px; line-height: 40px; display: none;}
#header .language-txt a{color: #fff;display: inline-block; width: 49%; text-align: center;}
#header .language-txt a:active{ background: #000; color: #fff;}
#header .nav i img{ width: 26px; height: auto;}
#header img.logo{ margin: 10px; height: 70px;}
 .top-ban {width: 100%;height: 100%;}
 .swiper-slide{text-align: center;font-size: 18px;background: #fff; display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;
        -webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;
    }    
.swiper-slide img{ max-width: 100%;height: auto;}
#header .nav ul li{float: left;height: 95px; line-height: 95px;}
#header .nav ul li a{ display: block; padding: 0 8px; color: #fff;}
#header .nav ul li a:hover,#header .nav ul li a:active,#header .nav ul li.active a{background: #ffcd11; color: #1a1a1a;}





@media (min-width: 768px) {
	#header .top-bar{ display: block;}
	#header .nav-box{border-bottom: 5px solid #ffcd11; padding: 0;}
	#header .nav ul{ display: block;}

	#header .nav i{ display: none;}
	#header .language-txt{ display: none;}
	.container{ padding: 0;}
}
@media (min-width: 992px) {
	.container{ padding: 0 15px;}
	#header .nav ul li a{  padding: 0 20px;}
	
}
@media (min-width:1200px) {
	
}
@media only screen and ( max-width:768px ) {
	.container{ padding: 0 10px;}
	#header img.logo{ height: 30px; margin: 0;}	
}

/*网站头部样式 结束*/

/*首页-最新产品区域*/

.title-01{ text-align: center; padding-top: 30px;}
.title-01 h2{color: #2e2949; font-size: 20px; margin-bottom: 10px;}
.title-01 h3{font-size: 14px; color: #999;}
#sy-cplist{ padding: 30PX 0; text-align: center;}
.sy-cpbox p{ height: 30px; margin-top: 10px; overflow: hidden; line-height: 30px;}
.sy-cpbox .cp-img img{ width: 100%; height: auto; max-width: 100%;}
.swiper-container-horizontal>.swiper-pagination{ bottom: 15px;}
a.cp-gd{  display:block;*zoom:1; line-height:34px; text-align: center; width: 110px; margin: 0 auto; border:1px solid #ffcc12; background-color:#ffcc12; color:#333;}

/*首页-最新产品结束*/

/*首页-关于我们*/
.box2{ background: #f2f2f2; margin-top: 20px;}
.box2 .sy-about{ padding: 20px 0;}
.box2 .about-img{ max-width: 100%;}
.box2 .about-txt{ padding-top: 10px; line-height: 1.8;}
.box2 a.cp-gd{  display:block;*zoom:1; line-height:34px; text-align: center; width: 110px; margin: 0 auto; border:1px solid #ffcc12; background-color:#ffcc12; color:#333;}
.box2 .title-01{ text-align: center; padding-top: 30px;}
.box2 .title-01 h2{color: #2e2949; font-size: 20px; margin-bottom: 10px;}
.box2 .title-01 h3{font-size: 14px; color: #999;}
@media (min-width: 768px) {
	.about-img{float: left; margin-right: 20px; width: 50%; line-height: 2;}

}
@media only screen and ( max-width:768px ) {
	.box2 .about-img{  width: 100%;}
}

/*首页-关于我们结束*/

/*首页-新闻资讯*/
.sy-newsbox{ padding: 20px 0;}
.sy-newsbox .sy-n-img{ float: left; margin-right: 10px;}
.sy-newsbox .sy-n-txt{ line-height: 1.2;}
.sy-newsbox .sy-n-txt h2{ line-height: 1.4; max-height: 40px; margin-bottom: 7px; overflow: hidden;}

.sy-newsbox li{ height: 80px; margin-bottom: 15px; overflow: hidden;}
.sy-newsbox .sy-n-img img{ max-width: 110px;max-height: 80px;}	
.sy-newsbox .sy-n-txt p{ max-height: 33px; overflow: hidden;}


@media (min-width: 768px) {
	.sy-newsbox .sy-n-img img{width: 100%; max-width: 165px; max-height: 120px;}
	.sy-newsbox .sy-n-txt p{max-height: 65px; line-height: 1.6;}
	.sy-newsbox li{ height: 120px;}
	.sy-newsbox .sy-n-txt h2{ line-height: 1.6; max-height: 45px; }
}


/*首页-新闻资讯结束*/

/*网页底部*/

#footer{ overflow:hidden; background-color:#202427; color:#999; border-top:4px solid #ffcd11; }
#footer .b-navbox{ padding: 20px 0; display: none;}
#footer .b-nav li{ float: left; width: 20%; color: #fff; margin-left: 5%;}
#footer .b-nav { width: 100%;}
#footer .b-nav li a{ display: block; color: #999; line-height: 30px;}
#footer .b-nav li h2{ height: 40px; line-height: 40px;}
#footer .b-nav li a:hover,#footer .b-nav li a:active{ color: #ffcd11;}
#footer .rmw{ display: none; text-align: center; line-height: 40px; color: #999;}
#footer .rmw img{ width: 150px;}
#footer .copy{background: #111619; line-height: 45px; color: #999;}
#footer .copy a{ display: inline-block; margin: 0 5px; padding: 0 10px;color: #999;}
#footer .copy a:hover,#footer .copy a:active{ background: #202427; color: #999;}
@media (min-width: 768px) {
	#footer .b-navbox{ display: block;}
}

@media (min-width: 992px) {
	#footer .b-nav { width: 80%;}
	#footer .rmw{ display: block;}
}
@media only screen and ( max-width:480px ) {
	#footer .copy div.fr{ display: none;}
}

/*网页底部-结束*/


/*列表页面与内页通用样式*/
.r-list{ padding-bottom: 30px;}
.r-list .mpx-box{ border-bottom: 1px #e5e5e5 solid; margin-bottom: 20px; line-height: 40px; height: 40px; overflow: hidden;}
.r-list .mpx-box h2{ line-height: 40px;}
.r-list .wz{ float: right;}
.ab-ban img{ width: 100%; height: auto;}
.l-list .l-title{ background: #333; padding:15px 0 15px 15px; line-height:normal; color:#ffce12; font-size:18px; font-weight:normal;}
.l-list .l-sub{ background: #f2f2f2;}
.l-list .l-sub li{ height: 45px; line-height: 45px;}
.l-list .l-sub a{ display: block; color: #808080; padding-left: 15px; border-left: 2px #F2F2F2 solid;}
.l-list .l-sub a:hover,.l-list .l-sub a:active,.l-list .l-sub li.active a{ border-left: 2px solid #ffcd11; color: #cca60e;}
.l-list .l-sub li.active a{background: #fff; border-left: 2px solid #ffcd11; color: #cca60e;}

@media only screen and ( max-width:768px ) {
	.r-list .mpx-box h2{ float: none; text-align: center; font-weight: bold;}
}


/*关于我们*/
.r-list .ab-txt{ line-height: 1.8;}


/*关于我们 结束*/



/*产品列表*/
.cp-list .pic-img img{ width: 100%; height: auto; overflow: hidden;}
.cp-list li{ text-align: center; margin-bottom: 10px;}
.cp-list p{ line-height: 40px; height: 40px; overflow: hidden; padding-top: 5px;}
/*产品列表 结束*/


/*产品列表-详细;*/

.cp-xqbox img{ max-width: 100%; height: auto; }
.cp-xqbox .cp-tt{ margin-top: 10px;text-align: center;padding: 10px 20px;}
.cp-xqbox .cp-txt{ line-height: 2; padding-top: 10px 0 ;}

/*产品列表-详细 结束*/


/*服务网点;*/
.ffwd-box{}
.ffwd-box .ffwd-title{ padding: 5px 0;    margin-bottom: 20px;border-bottom: 1px solid #d6d6d6;}
.ffwd-box .ffwd-title h2{font-size: 22px; color: #ee330a; line-height: 40px;}
.ffwd-box li{ line-height: 30px; margin-bottom: 15px;}
/*服务网点 结束*/

/*下载中心;*/
.xz-list li{ height: 40px; line-height: 40px; overflow: hidden; display: block;    border-bottom: 1px solid #e5e5e5;}
/*下载中心 结束*/


/*新闻中心*/
.news-list li{border-bottom: 1px dotted #d9d9d9; margin-bottom: 15px; padding-bottom: 15px; }
.news-list .news-img{ margin-right: 10px;}
.news-list .news-img img{ max-width: 110px;}
.news-list h2 a{ display: block; font-size: 14px; line-height:1.5;max-height: 42px; overflow: hidden;}
.news-list p{ line-height: 1.4; height: 32px; overflow: hidden; font-size: 12px; margin-top: 5px;}
@media (min-width: 768px) {
	.news-list h2 a{ font-size: 16px; line-height: 2.2;height: auto;}
	.news-list li p{ line-height: 1.8; height: auto; font-size: 14px;}
	.news-list .news-img img{ max-width: 160px; height: auto;}
	.news-list .news-img{ margin-right: 20px;}
	.news-list li{border-bottom: 1px dotted #d9d9d9; margin-bottom: 20px; padding-bottom: 20px; }
}

@media only screen and ( min-width:400px ) {
	.news-list h2 a{ font-size: 15px; line-height:1.8; max-height: 54px;}
	.news-list li p{ line-height: 1.6; height: 60px; font-size: 13px;}
	.news-list .news-img img{ max-width: 160px; height: auto;}
	.news-list .news-img{ margin-right: 20px;}
}


/*新闻中心 结束*/


/*新闻中心-详细*/
.news-t{ text-align: center;}
.news-t h1{ line-height: 30px;}
.news-t .info{ font-size: 12px; color: #999; }
.nr-txt{ line-height: 1.8;  padding: 20px 0;}

@media only screen and ( max-width:768px ) {
	.news-t h1{  font-size: 18px;}
}


/*新闻中心-结束*/

/*人才理念*/
.nr-txt{ line-height: 1.8;  padding: 20px 0;}

/*人才理念 结束*/

/*人才招聘*/
.job-list{border-bottom: 1px dotted #d9d9d9; margin-bottom: 15px; padding-bottom: 15px;}
.job-list dt{ padding-bottom: 8px; font-size: 16px;}
.job-list dd{ line-height: 1.8;}

/*人才招聘 结束*/

/*联系我们*/
.lxwm-txt{ line-height:2; padding-bottom: 20px;}
.map-box{ margin-top: 15px;}
.map-box img{ max-width: 100%;}

@media only screen and ( max-width:600px ) {
	.lxwm-txt h1.h3{  font-size: 20px;}
}

/*联系我们 结束*/








