@charset "utf-8";
/* CSS Document */
body{margin:0; padding:0; font-family:"宋体"; font-size:12px; color:#606060; background:url(../images/body_bg.jpg) no-repeat center top;}
h1,h2,h3,h4,ul,li,dl,dt,dd,p,img{margin:0; padding:0; list-style:none; border:0;}
a:link,a:visited{color:#5F5F5F; text-decoration:none;}
a:hover{text-decoration:underline;}
/*header*/
#header{width:975px; height:99px; margin:0 auto; padding:20px 0 0 5px;}
/*nav*/
#nav{width:980px; height:58px; margin:0 auto;}
.navLeft{display:block; width:17px; height:58px; float:left; background:url(../images/navLeft.jpg) no-repeat;}
.navCenter{width:946px; height:52px; padding-top:6px; float:left; background:url(../images/navBg.jpg) repeat-x;}
.navCenter li{width:105px; height:31px; line-height:31px; float:left; text-align:center; background:url(../images/navLine.jpg) no-repeat right center;}
.navCenter a:link,.navCenter a:visited{font-size:14px; color:#fff; text-decoration:none; font-weight:bold;}
.navCenter a:hover{text-decoration:underline;}
.navCenter li.noBg{background:none;}
.navRight{display:block; width:17px; height:58px; float:left; background:url(../images/navRight.jpg) no-repeat;}
/*banner*/
#banner{width:980px; height:382px; margin:0 auto; padding-top:3px;}
/*content*/
#content{width:980px; overflow:hidden; margin:8px auto 0; background:url(../images/content_bg.jpg) no-repeat #fff; padding-top:9px;}
.conTop{width:970px; height:92px; border-bottom:1px solid #E0E0E0; padding-left:10px;}
.conTop li{width:211px; height:73px; background:url(../images/li_bg.jpg) no-repeat; float:left; margin-right:7px; padding:10px 12px 0;}
.conTop p{color:#9d9d9d; padding-left:38px; line-height:18px;}
.conBot{width:980px; height:209px; background:url(../images/content_bg1.jpg) repeat-x left bottom;}
.conBotL{width:302px; height:199px; float:left; background:url(../images/line_bg.jpg) no-repeat right top; padding:10px 10px 0;}
.conBotL h2{height:38px; position:relative;}
.conBotL span{display:block; width:35px; height:20px; position:absolute; right:0; top:10px;}
.conBotL dl{height:135px; margin-top:22px;}
.conBotL dt{width:100px; height:135px; float:left;}
.conBotL dl img{width:94px; height:80px; border:1px solid #d8d8d8; padding:2px;}
.conBotL dd{width:189px; height:135px; float:right; line-height:20px;}
.conBotL a:link,.conBotL a:visited{color:#398C00; text-decoration:none;}
.conBotL a:hover{text-decoration:underline;}
.conBotC{width:388px; height:199px; float:left; background:url(../images/line_bg.jpg) no-repeat right top; padding:10px 10px 0;}
.conBotC h2{height:38px; position:relative;}
.conBotC span{display:block; width:35px; height:20px; position:absolute; right:0; top:10px;}
.conBotC ul{width:388px; height:125px; margin-top:22px;}
.conBotC li{width:120px; height:125px; float:left; margin-right:13px;}
.conBotC .noMargin{margin:0;}
.one{height:94px;}
.one img{width:114px; height:88px; border:1px solid #E0E0E0; padding:2px;}
.two{height:28px; line-height:28px; text-align:center;}
.conBotR{width:230px; height:199px; float:left; padding:10px 10px 0;}
.conBotR p{margin-top:22px; line-height:22px;}
/*botNav*/
#botNav{width:980px; height:35px; line-height:35px; text-align:center; margin:10px auto 1px; background:url(../images/nav_bg.jpg) repeat-x; color:#fff;}
#botNav a:link,#botNav a:visited{color:#fff;}
#botNav span{margin:0 5px;}
/*footer*/
#footer{width:100%; height:87px; background:url(../images/bot_bg.jpg) repeat-x; border-bottom:2px solid #69BA17;}
.foot{width:980px; height:70px; margin:0 auto; padding-top:17px; line-height:23px; position:relative;}
.foot img{ position:absolute; right:5px; top:17px;}
/*listWrap*/
#listWrap{width:960px; overflow:hidden; margin:8px auto 0; background:url(../images/content_bg.jpg) no-repeat #fff; padding:9px 10px 0;}
.listWrapL{width:214px; float:left;}
.listWrapL h2{height:56px; background:url(../images/tit_bg8.jpg) no-repeat; text-indent:-999px;}
.listWrapL ul{width:198px; border-left:1px solid #e0e0e0; border-right:1px solid #e0e0e0; background-color:#f4f4f4; margin:0 auto; padding-bottom:6px;}
.listWrapL li{height:32px; line-height:32px; background:url(../images/line_bg1.jpg) no-repeat left bottom; padding-left:11px;}
.listWrapL li a{background:url(../images/arrow.gif) no-repeat left center; padding-left:10px;}
.bot{width:200px; height:20px; background:url(../images/bot_bg1.jpg) no-repeat; margin:0 auto;}
.listWrapL .contact{height:56px; background:url(../images/tit_bg9.jpg) no-repeat; text-indent:-999px; margin-top:13px;}
.listWrapL .box{width:174px; height:120px; line-height:20px; border-left:1px solid #e0e0e0; border-right:1px solid #e0e0e0; background-color:#f4f4f4; margin:0 auto; padding:0 12px;}
.listWrapR{width:734px; float:right;}
h3{height:31px; font-size:14px; background:url(../images/tit_bg10.jpg) no-repeat; padding:19px 0 0 46px; position:relative;}
h3 span{position:absolute; right:26px; top:23px; font-size:12px; font-weight:normal;}
.listWrapR .box{padding:0 16px;}
.listWrapR dl{height:37px; line-height:37px; padding-top:8px; background:url(../images/dot_bg.jpg) repeat-x left bottom;}
.listWrapR dt{width:530px; height:37px; float:left; background:url(../images/dot_bg1.jpg) no-repeat left center; padding-left:10px;}
.listWrapR dd{width:80px; height:37px; float:right;}
.pageList{height:68px; line-height:68px; text-align:center;}
/*news*/
h4{height:40px; line-height:40px; text-align:center; font-size:16px;}
.listWrapR p{line-height:20px; text-indent:2em; padding-bottom:20px;}