body{text-align:center;	font-family:"Microsoft Yahei";text-align:center;	font-size:12px;color:#4F4F4F;}
input,textarea,select{font-family:"Microsoft Yahei";}
/*头部*/
.h_bg{ width:100%; height:119px; background:url(../images/h_bg.jpg) repeat-x; min-width:1200px;}
.head{ width:1200px; height:119px; margin:0px auto;}
.head .logo{ width:420px; height:95px; float:left; position:relative; margin-top:7px;}
.head .logo img{ width:420px; height:95px; vertical-align:top; position:relative; z-index:3;}
.head .logo .bg_a{ width:257px; height:119px; position:absolute; left:-70px; top:-7px;z-index:1; background:url(../images/bg_a.png) no-repeat;}
.head .head_r{ width:755px; float:right; text-align:right; padding-top:23px;}
.head_r .tel{ display:inline-block; *display:inline; zoom:1; height:20px; line-height:20px; padding-left:30px; background:url(../images/icon1.png) no-repeat left center; font-size:22px; color:#89B500; font-weight:bold;}
.head_r .nav{ width:100%; height:25px; line-height:25px; text-align:right; margin-top:20px;}
.head_r .nav a{ display:inline-block;*display:inline; zoom:1; width:auto; font-size:14px; color:#7F7F7F; height:25px; line-height:25px; margin-left:20px; font-weight:bold;}
.head_r .nav a.now{ height:23px; line-height:25px; border-bottom:2px solid #89B500; color:#89B500;}
.banner{ width:100%; min-width:1200px; overflow:hidden; height:498px; margin:0px auto;}
.i_maina{ width:1200px; margin:0px auto; margin-top:10px;}
.i_maina .box{ float:left; margin-right:20px;}
.i_maina .box .box_h{ width:100%; height:55px; line-height:55px; text-align:left; border-bottom:1px solid #aaa; font-size:18px; color:#5F5F5F; font-weight:bold;}
.i_maina .box .box_m{ width:100%; height:200px; margin-top:10px;}
.i_maina .a{ width:355px;}
.i_maina .b{ width:475px;}
.i_maina .c{ width:330px; margin-right:0px;}
.i_abt{ width:355px; height:200px; position:relative;}
.i_abt img{ width:355px; height:200px; vertical-align:top;}
.i_abt .des{ width:100%; height:63px; background:url(../images/bg_d.png) repeat; position:absolute; left:0px; bottom:0px; z-index:2;}
.i_abt .des p{ width:315px; margin-left:20px; padding-top:10px; height:43px; overflow:hidden; font-size:12px; color:#FFF; line-height:180%; text-align:left;}
.i_maina .b dl{ width:100%; margin-bottom:20px;}
.i_maina .b dl dt,.i_maina .b dl dt img{ width:114px; height:86px; float:left; vertical-align:top;}
.i_maina .b dl dd{ width:345px; float:right; text-align:left;}
.i_maina .b dl dd h5{ width:100%; height:30px; line-height:30px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.i_maina .b dl dd h5 a{ font-size:14px; color:#878787; font-weight:bold;}
.i_maina .b dl dd h5 a:hover{ color:#89B500;}
.i_maina .b dl dd .time{ width:100%; height:20px; line-height:20px; font-size:12px; color:#999;}
.i_maina .b dl dd .des{ width:100%; height:40px; font-size:12px; color:#7F7F7F; line-height:165%; overflow:hidden;}
.i_mainb{ width:1200px; margin:0px auto;}
.i_mainb .title,.i_mainc .title{ width:100%; height:90px; line-height:90px;}
.i_mainb .title a,.i_mainc .title a{ font-size:20px; color:#89B500; font-weight:bold;}
.i_mainb .box{ width:100%;}
.i_mainb .box dl{ width:235px; height:70px; border:1px dashed #bbb; float:left; margin-right:3px; margin-bottom:10px;}
.i_mainb .box dl a{ font-size:14px; color:#333;}
.i_mainb .box dl a:hover{ color:#89B500;}
.i_mainb .box dl dt{ width:82px; height:59px; float:left; margin:5px;}
.i_mainb .box dl dt img{ width:82px; height:59px; vertical-align:top;}
.i_mainb .box dl dd{ width:138px; height:70px; overflow:hidden; line-height:150%; float:right; text-align:left; margin-right:5px;}
.i_mainc{ width:100%; min-width:1200px; margin:0px auto;}
.i_mainc .title a{ color:#FF5100;} 
.i_pro,.scd_bg{ width:100%; min-width:1200px; background:#E5E5E5; padding:30px 0 24px; box-shadow:0px 0px 5px #666 inset;}
.i_pro ul{ width:1200px; margin:0px auto;}
.i_pro ul li{ width:294px; height:255px; float:left; position:relative; margin-right:6px; margin-bottom:6px;}
.i_pro ul li img{ width:294px; height:255px; vertical-align:top;}
.i_pro ul li .name{ width:234px; height:40px; line-height:40px; text-align:left; position:absolute; left:30px; top:15px; font-size:22px; color:#727272;}
.i_pro ul li a:hover .name{ color:#97C50D;}
.f_nav{ width:1200px; margin:0px auto; height:250px; position:relative;}
.f_nav ul{ width:760px; float:left;}
.f_nav ul li{ width:155px; float:left; padding-top:20px; text-align:left; margin-right:15px;}
.f_nav ul li b{ display:block; width:100%; height:50px; line-height:50px; font-size:18px; color:#333333; font-weight:bold; text-align:left;}
.f_nav ul li p{ width:100%; height:25px; line-height:25px; text-align:left;}
.f_nav ul li p a{ font-size:12px; color:#A7A7A7;}
.f_nav ul li.f_pro{ width:215px;}
.f_nav ul li.f_pro a{ display:inline-block; *display:inline; zoom:1; height:25px; line-height:25px; width:80px; margin-right:10px;font-size:12px; color:#A7A7A7;}
.f_nav ul li p a:hover,.f_nav ul li.f_pro a:hover,.friend a:hover{ color:#80AA00;}
.f_nav .f_navr{ width:430px; height:250px; float:right; background:url(../images/bg_b.jpg) repeat; color:#FFF; position:relative;}
.f_navr .r_m{ width:190px; margin-left:40px; text-align:left;}
.f_navr .r_m b{ display:block; width:100%; height:70px; line-height:70px; font-size:18px; font-weight:bold;}
.f_navr .r_m p{ font-size:12px; line-height:200%;}
.f_navr .f_code{ width:122px; height:152px; position:absolute; right:25px; top:50px;}
.f_navr .f_code p{ width:100%; height:30px; line-height:30px; font-size:14px; text-align:center;}
.f_navr .f_code img{ width:122px; height:122px; vertical-align:top;}
.line{ width:100%; height:5px; min-width:1200px; margin:0px auto; background:#CDCDCD;}
.friend{ width:1200px; margin:0px auto; text-align:left; padding:25px 0 15px;}
.friend b , .friend a{ display:inline-block; *display:inline; zoom:1; height:23px; line-height:23px; margin-bottom:10px; vertical-align:top; margin-right:12px;}
.friend b{ font-size:18px; color:#ADADAD; font-weight:bold;}
.friend a{ font-size:12px; color:#7F7F7F;}
.bq{ width:100%; height:50px; text-align:center; min-width:1200px; margin:0px auto; font-size:12px; color:#A6A6A6; line-height:50px; background:url(../images/bg_c.jpg) repeat-x;}
.banner_s{ width:100%; height:auto;}
.banner_s img{ width:1920px; height:220px; vertical-align:top;}
.scd{ width:1200px; margin:0px auto;}
.scd .s_head{ width:100%; height:48px; position:relative; text-align:left;}
.scd .s_head a{ display:inline-block; *display:inline; zoom:1; width:128px; height:48px; text-align:center; line-height:48px; color:#FFF; background:#45494B; font-size:18px; margin-right:10px; float:left;}
.scd .s_head a.on,.scd .s_head a:hover{ background:#7FA900;}
.scd .s_head .pst{ width:50%; text-align:right; position:absolute; right:0px; top:0px; height:48px; line-height:48px; z-index:999;}
.scd .s_head .pst a{ display:inline; width:auto; font-size:14px; color:#5F5F5F; background:none; float:none;}
.scd .s_head .pst a:hover{ color:#7FA900;}
.scd_m{ width:1200px; margin:0px auto; background:#Fff; padding:50px 0; margin-top:25px; margin-bottom:15px; overflow:hidden;}
.about, .join{ width:1040px; margin:0px auto; padding:20px 0;}
.about dt,.about dt img{ width:420px; height:400px; float:left; vertical-align:top;}
.about dd{ width:550px; float:right; text-align:left; font-size:14px; color:#46494B; line-height:170%;}
.join{ text-align:center;}
.join .name{ font-size:36px; color:#212121; padding-top:25px; font-weight:bold;}
.join .des{ width:100%; margin-top:10px; font-size:20px; color:#838383; text-align:center; margin-bottom:50px;}
.join>img{ margin-bottom:50px;}
.join .tab{ width:560px; margin:0px auto; position:relative;}
.join .tab .l_bg , .join .tab .r_bg{ width:25px; height:415px; position:absolute; top:0px;}
.join .tab .l_bg{ left:-25px; background:url(../images/bg_e.jpg) no-repeat;}
.join .tab .r_bg{ right:-25px; background:url(../images/bg_f.jpg) no-repeat;}
.join .tab li{ width:380px; margin:0px auto; margin-bottom:20px;}
.join .tab li span,.join .tab li a{ display:inline-block; *display:inline; zoom:1; vertical-align:top;}
.join .tab li span{ width:75px; height:32px; line-height:32px; float:left; font-size:16px; color:#777; text-align:left;}
.join .tab li .li_m{ width:300px; float:left; text-align:left;}
.join .tab li .li_m input{ width:290px; height:30px; border:1px solid #ddd; vertical-align:top; padding:0 5px;}
.join .tab li .li_m textarea{ width:290px; height:80px; padding:5px; border:1px solid #ddd;}
.join .tab li .li_m select{ width:94px; height:30px; border:1px solid #ddd;}
.join .tab li.yzm .li_m input{ width:100px;}
.join .tab li.yzm .li_m a{ height:32px; line-height:32px; vertical-align:top; font-size:12px; color:#888;}
.join .tab li .li_m input[type="submit"] { height:34px; font-size:16px; color:#777; background:url(../images/bg_g.jpg) repeat-x; cursor:pointer; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.pro{ width:100%; position:relative; top:-50px;}
.pro_m{ width:100%; padding-bottom:40px; border-bottom:1px solid #eee; margin-bottom:40px;}
.pro_m .lei{ width:100%; height:55px; line-height:55px; text-align:left; font-size:20px; color:#333;}
.pro_m ul{ width:100%;}
.pro_m ul li{ width:218px; float:left; margin:30px 27px 10px 0;}
.pro_m ul li .tu{ width:218px; height:226px; background:url(../images/bg_h.png) no-repeat; text-align:center;}
.pro_m ul li .tu img{ width:200px; height:220px; vertical-align:top;}
.pro_m ul li p{ width:100%; height:30px; line-height:30px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; text-align:center; margin-top:15px; font-size:18px; color:#555555; font-size:18px;}
.pro_m ul li a:hover p{ color:#80AA00;}
.s_head .p_lei{ width:180px; position:relative;}
.p_lei .lei_m{ width:180px; height:48px; line-height:48px; background:#80AA00; color:#FFF; position:relative; cursor:pointer;}
.lei_m span{ font-size:18px; margin-left:15px;}
.lei_m em{ display:block; width:18px; height:9px; background:url(../images/icon5.png) no-repeat; position:absolute; right:20px; top:20px;}
.p_lei ul{ width:100%; position:absolute; left:0px; top:48px; background:url(../images/bg_d.png) repeat; display:none;}
.p_lei ul li{ width:100%; height:40px; line-height:40px; border-bottom:1px solid #aaa; cursor:pointer;}
.p_lei ul li span{ font-size:14px; color:#FFF; margin-left:15px;}
.pro_d{ width:100%;}
.pro_d .pro_da{ width:100%;}
.pro_da .pro_dar{ width:535px; float:right; text-align:left;}
.pro_da .pro_dar h1{ width:100%; line-height:180%; font-size:24px; color:#46494B; margin-bottom:10px;}
.pro_da .pro_dar .title{ width:100%; height:70px; line-height:70px; font-size:20px; color:#89B500;}
.pro_da .pro_dar .des{ width:100%; line-height:185%; font-size:16px; color:#555555; margin-top:8px;}

.pro_da .pro_dal{ width:665px; float:left;}
#preview{ float:none; margin:0px auto; text-align:center; width:435px;}
.jqzoom{ width:435px; height:385px; position:relative;}

.zoomdiv{ left:859px; height:400px; width:400px;}
.list-h li{ float:left;}
#spec-n5{width:605px; height:100px; padding-top:20px; overflow:hidden; position:relative; left:-100px;}
#spec-left{ background:url(../images/prev.png) no-repeat; width:27px; height:48px; float:left; cursor:pointer; margin-top:30px;}
#spec-right{background::url(../images/next.png) no-repeat; width:27px; height:48px; float:left;cursor:pointer; margin-top:30px; position:absolute; right:0px;}
#spec-list{ width:530px; float:left; overflow:hidden; display:inline; left:7px;}
#spec-list ul li{ float:left; display:inline; width:135px;}
#spec-list ul li img{ width:106px; height:96px;}

/*jqzoom*/
.jqzoom{position:relative;padding:0;}
.zoomdiv{z-index:100;position:absolute;top:1px;left:0px;width:400px;height:400px;display:none;text-align:center;overflow: hidden;}
.bigimg{width:800px;height:800px;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:118px;height:86px;background:#333 50% top no-repeat;opacity:0.5;-moz-opacity:0.5;-khtml-opacity:0.5;filter:alpha(Opacity=50);cursor:move;}
#spec-list{ position:relative;}
#spec-list div{ margin-top:0; *margin-left:0;}
.pro_dm{ width:1100px; margin:0px auto; text-align:center; line-height:180%; margin-top:100px; overflow:hidden;}
.pro_dm img{ max-width:1100px;}
.brand{ width:1040px; margin:0px auto;}
.brand dl{ width:100%;}
.brand dl dt,.brand dl dt img{ width:465px; height:380px; vertical-align:top;}
.brand dl dd{ width:430px; text-align:left;}
.brand dl dd .name{ width:100%; height:100px; line-height:100px; font-size:36px; color:#333;}
.brand dl dd .name em{ color:#E95F1B;}
.brand dl dd .des{ width:100%; height:125px; overflow:hidden; font-size:14px; color:#656565; line-height:185%;}
.brand dl dd .tip{ width:100%; margin-top:20px; color:#A5A5A5; font-size:14px;}
.brand dl .f_l,.company dl .f_l{ float:left;}
.brand dl .f_r,.company dl .f_r{ float:right;}
.company{ width:1100px; margin:0px auto;}
.company .name{ width:100%; text-align:center; font-size:36px; color:#46494B; font-weight:bold; text-align:center; margin:20px 0 10px;}
.company .tip{ width:100%; text-align:center; font-size:20px; color:#838383; margin-bottom:50px;}
.company dl{ width:100%; margin-bottom:40px;}
.company dl dt,.company dl dt img{ width:350px; height:256px; vertical-align:top;}
.company dl dd{ width:615px; text-align:left;}
.company dl dd h6{ width:100%; height:80px; line-height:80px; font-size:26px; color:#ccc; font-weight:bold;}
.company dl dd h6 i{ font-size:50px; color:#89B500; margin-right:8px;}
.company dl dd .des{ width:565px; margin:20px 0; margin-left:50px; text-align:left; font-size:16px; color:#333;}
.company dl dd .tip{ width:565px; margin-left:50px; font-size:14px; color:#ccc; margin-bottom:10px; text-align:left; height:30px; line-height:30px; margin-bottom:10px;}
.company dl dd .more{ width:100%; margin-top:10px;}
.company dl dd .more a{ display:block; width:136px; height:35px; line-height:35px; background:url(../images/icon6.png) no-repeat; margin-left:50px; color:#333;}
.company dl dd .more a span{ font-size:14px; margin-left:25px;}