body{margin:0;padding:0;font-family:"微软雅黑",Arial,"宋体",sans-serif; background-color:#f7f7f7;}
a{text-decoration-line:none}
ul{list-style-type:none;padding:0}
.fl{ float:left;}
a{text-decoration:none}
.top{width:100%;height:auto;float:left; padding:10px 0;}
.logo{float:left}
.nav{float:right}
.nav li{float:left;padding-right:5px;padding-left:5px;line-height:55px}
.nav a{color:#0b529c;text-decoration:none;font-family:"微软雅黑"}
.foot{font-size:16px;line-height: 25px;padding: 20px 0;width: 100%;color: #ff3c01;}
.b1{ width: 100%;height: 200px;background: url("images/b1.jpg"/*tpa=http://www.ka-cn.com/special/20150812/images/b1.jpg*/) center no-repeat;}
.b2{ width: 100%;height: 270px;background: url("images/b2.jpg"/*tpa=http://www.ka-cn.com/special/20150812/images/b2.jpg*/) center no-repeat;}
.main-box{ width:100%; height:auto; background-color:#ffdb01;}
.dao {float: right;width: 350px;font-size: 36px;height: 60px;margin:80px 150px 0 0;}
.dao .d_bg {color: #ffe001;float: left;line-height: 60px;height: 60px;width: 50px;background: url("images/bg-b.png"/*tpa=http://www.ka-cn.com/special/20150812/images/bg-b.png*/) no-repeat;}
.dao span {float: left;height: 60px;width: 40px;line-height: 60px;text-align: center;}
.js {float: right;margin: 85px 250px 0 0;}
.i1{height: 350px;margin: 0 auto;padding:0 40px;}
.i1 img {float: left;margin:0 30px;}
.f1{ height: 150px;margin: 0 auto;padding:0 40px;}
.f1 img {float: left;margin:0 30px;}
.v1{ width:1000px;height:200px; margin:0 auto;background: url("images/b3.jpg"/*tpa=http://www.ka-cn.com/special/20150812/images/b3.jpg*/) center no-repeat;}
.j1{ width:1000px;height:130px; margin:0 auto;background: url("images/c1.jpg"/*tpa=http://www.ka-cn.com/special/20150812/images/c1.jpg*/) no-repeat; padding-top:96px;}
.center{width:1000px; margin:0 auto;}
.table{width:850px; color:#f11c54; margin: 0 auto; font-size:16px;}
.td_1{font-size:20px; font-weight:bold;}


@media only screen and (min-width: 670px) and (max-width: 1024px) {
.center{width:650px; margin:0 auto;}
.logo{width:100%; text-align:center;float:left}
.nav{width:100%; float:left}
.nav li{float: left;line-height: 50px;width: 16%;padding: 0;margin: 0;text-align: center;}
.b1{ width: 100%;height: 330px;background: url("images/b1-1.jpg"/*tpa=http://www.ka-cn.com/special/20150812/images/b1-1.jpg*/) center no-repeat;}
.b2{ display:none;}
.v1{ width:650px; height:120px; margin:0 auto; background-size:650px auto;}
.dao {width: 250px;font-size: 26px;height: 40px;margin:47px 70px 0 0;}
.dao .d_bg {background-size:35px auto; line-height:40px; height:45px;width:35px;}
.dao span {float: left;height: 40px;width: 40px;line-height: 40px;}
.js {float: right;margin: 55px 200px 0 0;}
.js img{width:100px; height:auto}
.i1{height: 250px;padding:0 10px;}
.i1 img { width:150px; height:auto}
.j1{ width:650px;height:160px;background: none; padding-top:20px;}
.table{width:650px; }
.f1{ height: 100px;margin: 0 auto;padding:0 30px;}
.f1 img { width:170px; height:auto;margin:0 13px;}
}

@media only screen and (min-width: 600px) and (max-width: 670px) {
.center{width:590px; margin:0 auto;}
.logo{width:100%; text-align:center;float:left}
.nav{width:100%; float:left}
.nav li{float: left;line-height: 50px;width: 16%;padding: 0;margin: 0;text-align: center;}
.b1{ width: 100%;height: 330px;background: url("images/b1-1.jpg"/*tpa=http://www.ka-cn.com/special/20150812/images/b1-1.jpg*/) center no-repeat;}
.b2{ display:none;}
.v1{ width:590px; height:120px; margin:0 auto; background-size:590px auto;}
.dao {width: 230px;font-size: 24px;height: 40px;margin:47px 60px 0 0;}
.dao .d_bg {background-size:32px auto; line-height:40px; height:45px;width:30px;}
.dao span {float: left;height: 40px;width: 30px;line-height: 40px;}
.js {float: right;margin: 50px 180px 0 0;}
.js img{width:100px; height:auto}
.i1{height: 200px;padding:0 10px;}
.i1 img { width:130px; height:auto}
.j1{ width:590px;height:160px;background: none; padding-top:20px;}
.table{width:590px; }
.f1{ height: 100px;margin: 0 auto;padding:0 30px;}
.f1 img { width:150px; height:auto;margin:0 13px;}
}

@media only screen and (min-width: 540px) and (max-width: 600px) {
.center{width:530px; margin:0 auto;}
.logo{width:100%; text-align:center;float:left}
.nav{width:100%; float:left}
.nav li{float: left;line-height: 50px;width: 16%;padding: 0;margin: 0;text-align: center;}
.b1{ width: 100%;height: 300px;background: url("images/b1-2.jpg"/*tpa=http://www.ka-cn.com/special/20150812/images/b1-2.jpg*/) center no-repeat;}
.b2{ display:none;}
.v1{ width:530px; height:120px; margin:0 auto; background-size:590px auto;}
.dao {width: 210px;font-size: 20px;height: 36px;margin:52px 70px 0 0;}
.dao .d_bg {background-size:28px auto; line-height:36px; height:36px; width:30px;}
.dao span {float: left;height: 36px;width: 25px;line-height: 36px;}
.js {float: right;margin: 50px 150px 0 0;}
.js img{width:100px; height:auto}
.i1{height: 200px;padding:0 5px;}
.i1 img { width:130px; height:auto; margin:0 20px;}
.j1{width:530px;height:160px;background: none; padding-top:20px;}
.table{width:530px; }
.f1{ height: 100px;margin: 0 auto;padding:0 20px;}
.f1 img { width:150px; height:auto;margin:0 5px;}
.td_1{font-size:18px; font-weight:bold;}

	
}
@media only screen and (min-width: 320px) and (max-width: 540px) {
.center{width:310px; margin:0 auto;}
.logo{width:100%; text-align:center;float:left}
.logo img{width:200px; height:auto;}
.nav{width:100%; float:left}
.nav li{float: left;line-height: 35px;padding: 0 5px;margin: 0;text-align: center;}
.b1{ width: 100%;height: 300px;background: url("images/b1-3.jpg"/*tpa=http://www.ka-cn.com/special/20150812/images/b1-3.jpg*/) center no-repeat;}
.b2{ display:none;}
.v1{ width:310px; height:120px; margin:0 auto; background-size:310px auto;background: url("images/b3-1.jpg"/*tpa=http://www.ka-cn.com/special/20150812/images/b3-1.jpg*/) no-repeat;}
.dao {width: 180px;font-size: 20px;height: 36px;margin:52px 10px 0 0;}
.dao .d_bg {background-size:28px auto; line-height:36px; height:36px; width:30px;}
.dao span {float: left;height: 36px;width: 25px;line-height: 36px;}
.js {float: right;margin: 55px 80px 0 0;}
.js img{width:100px; height:auto}.i1{height: auto;padding:0 40px;}
.i1 img { width:170px; height:auto; margin:5px 30px;}
.j1{ width:310px;height:250px;background: none; padding-top:20px;}
.table{width:310px; }
.f1{ height: 300px;margin: 0 auto;padding:0 40px;}
.f1 img { width:170px; height:auto;margin:5px 30px;}
.td_1{font-size:16px; font-weight:bold;}
}
@media only screen and (max-width: 320px) {
.center{width:250px; margin:0 auto;}
.logo{width:100%; text-align:center;float:left}
.logo img{width:200px; height:auto;}
.nav{width: 100%;float: left;}
.nav li{float: left;line-height: 30px;padding: 0 5px;margin: 0;text-align: center;}
.b1{ width: 100%;height: 300px;background: url("images/b1-3.jpg"/*tpa=http://www.ka-cn.com/special/20150812/images/b1-3.jpg*/) center no-repeat;}
.b2{ display:none;}
.v1{ width:250px; height:120px; margin:0 auto; background-size:250px auto;background: url("images/b3-1.jpg"/*tpa=http://www.ka-cn.com/special/20150812/images/b3-1.jpg*/) no-repeat;}
.dao {width: 140px;font-size: 16px;height: 36px;margin:60px 0 0 0;}
.dao .d_bg {background-size:22px auto; line-height:32px; height:32px; width:22px;}
.dao span {float: left;height: 32px;width: 22px;line-height: 32px;}
.js {float: right;margin: 55px 30px 0 0;}
.js img{width:100px; height:auto}.i1{height: auto;padding:0 40px;}
.i1{width:220px;height: auto;padding:0 30px;}
.i1 img { width:170px; height:auto; margin:5px 20px;}
.j1{width:250px;height:280px;background: none; padding-top:20px;}
.table{width:240px; font-size:14px; }
.f1{ height: 300px;margin: 0 auto;padding:0 0px; width:250px;}
.f1 img { width:180px; height:auto;margin:5px 40px;}
.td_1{font-size:14px; font-weight:bold;}
}

