@charset "utf-8";
#pc_nav{height:7.5rem; overflow:hidden;}
#pc_nav ul li{float:left; line-height:7.5rem; font-size:1.6rem;}
#pc_nav ul li a{display:block; border-top:5px solid #fff; line-height:6.5rem; padding:0 4rem;}
#pc_nav ul li.current a,#pc_nav ul li a:hover{color:#51B44F; border-color:#51B44F;}
#phone_nav{display:none;}
#phone_nav .navbar-brand{padding:0; padding-top:0.5rem;}
.navbar-default{background:#fff; border:none;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{background:#51B44F; color:#fff;}

/*banner*/
.carousel-control {
    background: #222 none repeat scroll 0 0;
    border: 3px solid #fff;
    border-radius: 23px;
    color: #fff;
    font-size: 60px;
    font-weight: 100;
    height: 40px;
    left: 15px;
    line-height: 20px;
    margin-top: -20px;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 45%;
    width: 40px;
}
.carousel-control.right {
    left: auto;
    right: 15px;
}
.carousel-control:hover, .carousel-control:focus {
    color: #fff;
    opacity: 0.9;
    text-decoration: none;
}

/*index_title*/
.index_title{width:100%; font-size:2.3rem;}
.index_title span{font-size:1.2rem; color:#999; padding-left:0.5rem;}
.index_title p{font-size:1.2rem; height:4rem; line-height:4rem; overflow:hidden;}

/*products*/
#products{padding-bottom:2.2rem;}
#products li .con{border:1px solid #EFEFEF;}
#products .con h2{margin:0; font-size:1.8rem; padding-bottom:0.5rem;}
#products .con div{background:#EFEFEF; height:5.8rem; padding:1rem;}
#products a{display:block;}
#products a.img{text-align:center;}
#products a.more{height:2.5rem; line-height:2.5rem; background:#EFEFEF;}

/*application*/
#applicationBg{background:#EBEBEB; padding-bottom:2rem;}
#application li{margin-bottom:1rem;}
#application li div{position:relative; text-align:center;}
#application li div>img{width:100%;}
#application li a{display:none;}
#application li:hover a{display:block;}
#application li a img{position:absolute; top:38%; left:45%;}
#application li a span{position:relative; top:52%;}
#application a{display:block; position:absolute; width:100%; height:100%; background:rgba(0,0,0,0.5); left:0; top:0; color:#fff;}

/*about*/
#aboutBg{background:url(../images/jianjie.png) repeat-x; height:35rem;}
#about .index_title,#about .index_title span{color:#fff;}
#about p{color:#fff; margin-top:8rem;}
#about a{display:block; width:8.5rem; height:3rem; text-align:center; line-height:3rem; background:#5cb85c; color:#fff; font-size:1.2rem; margin:0 auto; margin-top:3rem; border-radius:0.3rem;}
#about a:hover{text-decoration:none; background:#449D44;}

/*forum*/ 
#forum{padding-bottom:2rem;}
#forum li{margin-bottom:1rem;}
#forum li div{width:70%; padding-left:3%}
#forum li .title{font-size:1.4rem; white-space:nowrap;}
#forum li p{color:#999; padding-top:1rem;}
#forum li a.more{display:block; width:8.5rem; height:3rem; text-align:center; line-height:3rem; background:#5cb85c; color:#fff; font-size:1.2rem; margin-top:0.5rem; border-radius:0.3rem;}
#forum li a.more:hover{text-decoration:none; background:#449D44;}

/*partners*/
#partnersBg{background:#EBEBEB; padding-bottom:2rem;}
#partners li{float:left; padding:1.5rem;}

/*phone*/
#phoneBg{background:#2A2A2A;}
#phone{padding:1.5rem 0;}

/*footer*/
#footerBg{background:#141414; padding:1.5rem 0 2.5rem 0;}
#footer li{float:left; margin-right:2%}
#footer dt{color:#ccc;}
#footer dd{margin:1rem 0;}

/*copy*/
#copy{background:#000; padding:1.5rem 0;}

@media (max-width:1199px){
	#pc_nav ul li a{padding:0 3rem;}
}

@media (max-width:991px){
	#pc_nav ul li a{padding:0 2rem;}
	#forum li div{width:60%; padding-left:3%}
}

@media (max-width:767px){
	#phone_nav{display:block}
	#forum li div{width:80%; padding-left:3%}
}

@media (max-width:589px){
	#forum li div{width:70%; padding-left:3%}
}

@media (max-width:589px){
	#forum li div{width:60%; padding-left:3%}
}

@media (max-width:550px){
	#banner img{height:15rem;}
}