z@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0 auto;
	font-size: 12px;
	word-break: break-all;
	font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
}
div, input, dl, dd, dt, ul, li, p, h1, h2, h3, h4, h5, h6, p, fieldset {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
img, input{
	border: none;
}
a {
	color:inherit;
	text-decoration: none;
	cursor:pointer;
}
.br{border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px;}
.c{ clear:both;}
.left{float:left;}
.right{float:right;}
.clearfix:after{content:".";display:block;clear:both;font-size:0;overflow:hidden;height:0;}
.clearfix{zoom:1;}

/*星星*/

.b_sun_1, .b_s1, .b_s2, .b_s3, .b_s4, .b_s5, .b_s6, .b_s7, .b_s8, .b_s9, .b_s10, .b_s11, .s_sun_1, .s_s1, .s_s2, .s_s3, .s_s4, .s_s5, .s_s6, .s_s7, .s_s8, .s_s9, .s_s10, .b_star_1, .b_d1, .b_d2, .b_d3, .b_d4, .b_d5, .b_d6, .b_d7, .b_d8, .b_d9, .b_d10, .s_star_1, .s_d1, .s_d2, .s_d3, .s_d4, .s_d5, .s_d6, .s_d7, .s_d8, .s_d9, .s_d10, .sa_star_1, .sa_d1, .sa_d2, .sa_d3, .sa_d4, .sa_d5, .sa_d6, .sa_d7, .sa_d8, .sa_d9, .sa_d10{background:url(../images/sun_star.gif) no-repeat scroll 347px 300px transparent;}
.s_star_1{background-position:-100px -231px;width:96px;height:20px;display:block; float:left;}
.s_d1, .s_d2, .s_d3, .s_d4, .s_d5, .s_d6, .s_d7, .s_d8, .s_d9, .s_d10{background-position:0 -231px;height:20px;display:block;} 
.s_d1{width:8px;}/*0.5*/
.s_d2{width:16px;}/*1*/
.s_d3{width:28px;}/*1.5*/
.s_d4{width:36px;}/*2*/
.s_d5{width:48px;}/*2.5*/
.s_d6{width:56px;}/*3*/
.s_d7{width:68px;}/*3.5*/
.s_d8{width:76px;}/*4*/
.s_d9{width:88px;}/*4.5*/
.s_d10{width:94px;}/*5*/

.sa_star_1{background-position:-65px -265px;width:64px;height:15px;display:block;}
.sa_d1, .sa_d2, .sa_d3, .sa_d4, .sa_d5, .sa_d6, .sa_d7, .sa_d8, .sa_d9, .sa_d10{background-position:0 -265px;height:15px;display:block;} 
.sa_d1{width:6px;}/*0.5*/
.sa_d2{width:12px;}/*1*/
.sa_d3{width:19px;}/*1.5*/
.sa_d4{width:25px;}/*2*/
.sa_d5{width:32px;}/*2.5*/
.sa_d6{width:38px;}/*3*/
.sa_d7{width:45px;}/*3.5*/
.sa_d8{width:51px;}/*4*/
.sa_d9{width:58px;}/*4.5*/
.sa_d10{width:64px;}/*5*/