
/*menu*/
.logBox {
	background: #fff;
	height: 83px;
	width: 100%;
	z-index: 999;
}
.login {
	position: relative;
	width: 1000px;
	background:url(../images/denglu_02.jpg) no-repeat;
	height:83px;
	color: #fff;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 0;
	padding-bottom: 0;
}
.login .siderNav {
	position: absolute;
	right: 0;
	top: 0;
}
.topmenu {
	margin-top: 25px;
	line-height: 22px;
	color: #e77e11;
	font-size: 14px;
}
.topmenu li {
	float: left;
	position: relative;
	padding: 5px 20px;
}

.topmenu .first {
	background: #fff;
	color: #5a5a5a;
}
.topmenu .first a{ padding:0px 20px; }

.main{ 
width:1000px;
margin:0 auto;

}

/*search*/
.search-box {
	width: 100%;
	padding: 12px 0;
}
.search-form {
	float: right;
}
.search-text {
	height: 25px;
	line-height: 25px;
	float: left;
	width: 200px;
	border: 0;
	outline: none;
	border: 1px solid #ddd;
}
.search-button {
	background:url(../images/search_03.jpg) 3px -2px no-repeat,#fff;;
	width: 40px;
	height: 27px;
	float: left;
	border: 0;
	color: #FFF;
	margin-left: 3px;
	border:1px solid #ddd;
}
/* demo */
.demo{
	font-size:12px;
	margin:0px auto 20px auto;
	background:#eeeeee;
}

.demo-left{ width:20%; float:left; background:#eeeeee; overflow:hidden;}
.demo-left-top{overflow:hidden;}
.demo-left-top p{ text-align:center; padding-top:20px;}
.demo-left-top h3{ text-align:center;font-size:25px; line-height:50px; font-weight:500; height:50px;color:#000;}
.demo-left ul li{height:50px; line-height:50px; color:#424242; text-align:center; font-size:14px; border-left:3px solid #999999;}
.demo-left ul li:hover{ background:#fff; color:#258e39;border-left:3px solid #258e39;  }
.title2-on{ background:#fff; color:#258e39 !important;border-left:3px solid #258e39;  }

.demo-right{ width:80%; float:right; background:#fff; min-height:700px;}
.demo-right h2{ width:780px; margin:0 auto; border-bottom:1px solid #ddd; padding:20px 0px; text-indent:15px;}
.demo-right-tb{ text-indent:20px; width:750px; margin:0 auto; margin-top:20px; border-left:1px solid #ddd;border-right:1px solid #ddd;}
.demo-right-th{border-bottom:1px solid #ddd; background:#f8f8f6;}
.demo-right-th p{ font-size:16px; padding:15px 0px;}
.demo-right-th p span{ float:right; padding-right:20px;}
.demo-right-tr{}
.demo-right-s1{ width:50%; background:#f8f8f8; float:left; border-bottom:1px solid #ddd; padding:10px 0px;}
.demo-right-s2{ width:50%; background:#fff; float:left; border-bottom:1px dashed #ddd;padding:10px 0px;}
.demo-right-last1{ height:90px; position:relative; border-bottom:none; background:url(../images/line_03.jpg) 0 bottom repeat-x,#f8f8f8;}
.demo-right-last1 span{ position:absolute; right:20px; top:30px; }
.demo-right-last1 span b{ font-size:20px; color:#dc0000; font-weight:normal;}
.demo-right-last2{ height:90px;border-bottom:none; background:url(../images/line_05.jpg) 0 bottom repeat-x,#fff;}

/*个人资料*/
.demo-table{ margin:20px; font-size:14px;}

.demo-table td{ padding:15px;}

.demo-table td a{color:#258e3a; font-weight:bold;}

/*个人资-弹出层*/
.tsgl-top{ margin:0px 30px 50px 30px; position:relative; border:1px solid #ddd; padding:20px 0px 80px 10px; background:#fff; max-width:560px;}

.tsgl-top-p1 input{ height:40px; line-height:40px; border:1px solid #ddd; width:370px; text-indent:10px;}
.tsgl-top-p1{ padding:13px 0px; }

.tsgl-top-p1 .p1-text{ display:block; width:80px; float:left; height:40px; line-height:40px; text-align:center; font-size:14px; }
.tsgl-top #form1{ padding:10px 0 10px 80px;}
.tsgl-top #form1 label{ padding-right:15px;}

.tsgl-top .tijiao{ position:absolute; left:90px;padding:10px 0px; color:#fff; background:#ff6634;font-size:15px; width:373px; text-align:center; margin-top:10px;}
.tsgl-top .closeBtn{ position:absolute; font-size:30px; top:-10px; right:0px;}
/* foot鏍峰紡 */

.footer-b { background:#2c2c2c; padding:20px 0px; color:#666666;}
.footer-b ul{ text-align:center; width:400px; padding:10px 0px; margin:0 auto; }
.footer-b ul li { float:left; border-right:1px solid #3e3e3e; padding:0px 10px;}
.footer-b ul>li:nth-child(6){border-right:none;}
.footer-b p{ text-align:center; width:1000px; margin:0 auto;}