/*menu*/
.logBox {
	background: #fff;
	height: 83px;
	width: 100%;
	z-index: 999;
}
.login {
	position: relative;
	width: 1000px;
	background:url(../images/denglu_02.jpg) no-repeat;
	height:83px;
	color: #fff;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 0;
	padding-bottom: 0;
}
.login .siderNav {
	position: absolute;
	right: 0;
	top: 0;
}
.topmenu {
	margin-top: 25px;
	line-height: 22px;
	color: #e77e11;
	font-size: 14px;
}
.topmenu li {
	float: left;
	position: relative;
	padding: 5px 20px;
}

.topmenu .first {
	background: #fff;
	color: #5a5a5a;
}
.topmenu .first a{ padding:0px 20px; }


/*denglu*/
.title2 {
	margin: 5px 0px 30px 0px;
	height: 35px;
	line-height: 35px;
	font-size: 23px;
	color: #59626e;
	border-bottom:1px solid #ddd;
	font-weight:normal;
	padding:10px;
}
.title2 a {
	font-size: 12px;
	font-weight: lighter;
	float: right;
	padding: 0 5px;
	color: #ff6633;
}

/*content*/
.main-content {
	width: 100%;
	background: url(../images/denglu_04.jpg) 50% 50% no-repeat;
	background-size: cover;
	height: 670px;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	padding-top: 75px;
}
/* zcform */
.zcform {
	width: 330px;
	height: 350px;
	position: absolute;
	right: 0px;
	padding-top: 100px;
	background:#fff;
	padding: 0 15px;
}
.zcform p {
	margin-bottom: 25px;
}
.zcform p.last {
	margin-left: 310px;
	font-size: 16px;
}
.zcform p.last input {
	cursor: pointer;
}
.zcform label {
	text-align:right;
	width:80px;
	display: block;
	float: left;
	height: 22px;
	line-height: 22px;
	text-indent: 10px;
}

.zcform input {
	float: left;
	font-size: 16px;
	font-family: "微软雅黑";
	color: #666;
}
.zcform .submit {
	background: #3199e8;
	letter-spacing: 4px;
	color: #fff;
	cursor: pointer;
	width: 330px;
	height: 40px;
	text-indent: 10px;
}
#telphone {
		border: 1px solid #ccc;
	width: 180px;
	height: 22px;
}
#password {
	border: 1px solid #ccc;
	width: 180px;
	height: 22px;

}
.question select{ width:165px; border-color:#ddd;}
.identifying_code {
	height: 35px;
	width: 150px;
	line-height: 35px;
	text-indent: 10px;
	border: 1px solid #ccc;
}

.agreement {
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	padding-left:80px;
}
.agreement input {
	display: block;
	line-height: 30px;
	height: 12px;
	margin: 10px 4px 0 0px;
	border: none;
	width: 12px;
}
