@charset "utf-8";
/* CSS Document */

/* por reset.css V1.0  Start*/
body, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, form, button, input, textarea, th, td {
	margin: 0px;
	padding: 0px;
}
body, button, input, select, textarea {
	font: normal 12px Microsoft YaHei, Arial, "\5b8b\4f53", tahoma;
	color:#5d5d5d;
}
ul, ol, li {
	list-style: none;
}
a {
	text-decoration: none;
	cursor: pointer;
	color:inherit;
}
a:hover {
	text-decoration: none;
}
img {
	border: 0;
	vertical-align: top;
}
button, input, select, textarea {
	font-size: 100%;
	vertical-align: middle;
	outline: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.fixed:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.fixed {
*zoom:1;
}
/*需要块状元素并且给定宽高*/

/*--------------mutual--------------*/
/*CSS3运动基础*/
/*top*/
.topall {
	clear: both;
	width: auto;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
.top-line {
	width: 100%;
	height: 40px;
	background: #333333;
}
.top-line div {
	width: 1000px;
	height: 40px;
	color: #FFF;
	margin: 0 auto;
	line-height: 40px;
}
.top-line div a {
	display:block;
	width:70px;
	height:22px;
	line-height:22px;
	text-align:center;
	margin:10px 10px;
	float: right;
	color:#3e3e3e;
	background:#fff;
	border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	-border-radius:4px;
}
.top-line-a-on{ background:#e60012 !important; color:#fff !important;}
.top {
	width: 1000px;
	height: 92px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
/*search*/

.search-form {
	margin-top:9px;
	float: right;
	background-color: #fff;
}
.search-text {
	height: 22px;
	line-height: 22px;
	float: left;
	width: 180px;
	border: 0;
	outline: none;
}
.search-button {
	background:url(../images/index_03_03.jpg) no-repeat;
	width: 29px;
	height: 22px;
	float: left;
	border: 0
}

/*menu*/
.nav {
	height: 39px;
	margin: 0 auto;
	overflow: hidden;
	background:url(../images/index_06.jpg) repeat-x;
	text-transform: capitalize;
}
.nav ul {
	width: 1000px;
	height: 21px;
	margin: 9px auto;
	display: block;
	overflow: hidden;
}
.nav ul li {
	float: left;
	width: 16.5%;
	height: 21px;
	display: block;
	overflow: hidden;
	line-height: 21px;
	text-align: center;
	color: #5a5a5a;
	box-sizing: border-box;
	border-right:1px solid #ccc;
}
.nav ul li a{ color:inherit; padding:3px 25px;}
.wbg a{
	color:#fff !important; background:#258e39;
}

.nav ul li a:hover {
	color:#fff !important; background:#258e39;
}
/*banner*/
.banner {
	width: 100%;
	min-width: 1000px;
	position: relative;
	margin: 0 auto;
}
.banner .bd ul {
	text-align: center;
	width: 100% !important;
}
.banner .bd ul li {
	width: 100% !important;
	height: 406px;
	float: left;
}
.banner .hd {
	position: absolute;
	left: 0px;
	right: 50px;
	z-index: 99;
	bottom: 30px;
}
.banner .hd ul {
	width:70px;
	padding-left: 50%;
}
.banner .hd ul li {
	display: inline-block;
	zoom: 1;
 *display: inline;
	margin: 0px 5px;
	width: 12px;
	height: 12px;
	background: url(../images/dian.png) center top no-repeat;
	cursor: pointer;
}
.banner .hd ul li.on {
	background-position: center bottom;
}
.main {
	width: 1000px;
	height: auto;
	margin:0 auto;
}


.qzhd {
	margin: 0 auto;
}
.title{ padding-top:20px; position:relative; padding-bottom:10px;}
.title i{ font-style:normal; font-size:22px; color:#258e39; padding:0px 3px; font-weight:bold;}
.title b{ font-style:normal; font-size:16px; padding:0px 3px; }
.title span{ font-size:12px; color:#a5a5a5; padding:0px 3px;text-transform: uppercase;}
.title .more{
	text-indent:5px;
	background:#9d9d9d;
	color:#fff;
	width: 45px;
	height: 18px;
	position: absolute;
	top: 30px;
	right: 0px;
	text-transform: uppercase;
	border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	-webkit-border-radius:20px;
	}
.title .more:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}


/*--活动展示--*/
.hdzs-main{ padding-top:20px; background:url(../images/index-line_03.jpg) repeat-x;}
.hdzs-main li{ width:236px; float:left;position:relative; margin-bottom:15px;}
.hdzs-main li:not([class="last"]){margin-right:18px; }
.hdzs-main li span{ position:absolute; bottom:0px; left:0px; background:rgba(0,0,0,0.5); height:40px; line-height:40px; width:100%; text-align:center; color:#fff; font-size:14px; cursor:pointer; }
/*分页页码*/
.page-normal{
	color:#000;
	text-align:center;
	height:50px;
	padding:30px 30px 20px 0;
}
.page-normal a,.page-normal .page-current,.page-normal .page-prev{
	padding:5px 10px;
	font-size:14px;
	margin-left:5px;
}
.page-normal a{
	border:1px solid #ccc;
	color:#258e39;
	text-decoration:none;
}
.page-normal a:hover{
	border:1px solid #258e39;
	color:#fff;
	background:#258e39;
}

.page-normal .page-current{
	color:#fff;
	background:#258e39;
}
.page-normal .page-prev{
	border:1px solid #CCC;
	color:#ccc;
}
/*--footer--**/
.footer-b { background:#2c2c2c; padding:20px 0px;}
.footer-b ul{ text-align:center; width:400px; padding:10px 0px; margin:0 auto; }
.footer-b ul li { float:left; border-right:1px solid #3e3e3e; padding:0px 10px;}
.footer-b ul>li:nth-child(6){border-right:none;}
.footer-b p{ text-align:center; width:1000px; margin:0 auto;}