@charset "utf-8";
/* CSS Document */

/* por reset.css V1.0  Start*/
body, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, form, button, input, textarea, th, td {
	margin: 0px;
	padding: 0px;
}
body, button, input, select, textarea {
	font: normal 12px Microsoft YaHei, Arial, "\5b8b\4f53", tahoma;
	color:#5d5d5d;
}
ul, ol, li {
	list-style: none;
}
a {
	text-decoration: none;
	cursor: pointer;
	color:inherit;
}
a:hover {
	text-decoration: none;
}
img {
	border: 0;
	vertical-align: top;
}
button, input, select, textarea {
	font-size: 100%;
	vertical-align: middle;
	outline: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.fixed:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.fixed {
*zoom:1;
}
/*需要块状元素并且给定宽高*/

/*--------------mutual--------------*/
/*CSS3运动基础*/
/*top*/
.topall {
	clear: both;
	width: auto;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
.top-line {
	width: 100%;
	height: 40px;
	background: #333333;
}
.top-line div {
	width: 1000px;
	height: 40px;
	color: #FFF;
	margin: 0 auto;
	line-height: 40px;
}
.top-line div a {
	display:block;
	width:70px;
	height:22px;
	line-height:22px;
	text-align:center;
	margin:10px 10px;
	float: right;
	color:#3e3e3e;
	background:#fff;
	border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	-border-radius:4px;
}
.top-line-a-on{ background:#e60012 !important; color:#fff !important;}
.top {
	width: 1000px;
	height: 92px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
/*search*/

.search-form {
	margin-top:9px;
	float: right;
	background-color: #fff;
}
.search-text {
	height: 22px;
	line-height: 22px;
	float: left;
	width: 180px;
	border: 0;
	outline: none;
}
.search-button {
	background:url(../images/index_03_03.jpg) no-repeat;
	width: 29px;
	height: 22px;
	float: left;
	border: 0
}

/*menu*/
.nav {
	height: 39px;
	margin: 0 auto;
	overflow: hidden;
	background:url(../images/index_06.jpg) repeat-x;
	text-transform: capitalize;
}
.nav ul {
	width: 1000px;
	height: 21px;
	margin: 9px auto;
	display: block;
	overflow: hidden;
}
.nav ul li {
	float: left;
	width: 16.5%;
	height: 21px;
	display: block;
	overflow: hidden;
	line-height: 21px;
	text-align: center;
	color: #5a5a5a;
	box-sizing: border-box;
	border-right:1px solid #ccc;
}
.nav ul li a{ color:inherit; padding:3px 25px;}
.wbg a{
	color:#fff !important; background:#258e39;
}

.nav ul li a:hover {
	color:#fff !important; background:#258e39;
}

.main {
	width: 1000px;
	height: auto;
	margin:0 auto;
}
/*all*/
.qzhd {
	margin: 0 auto;
}
.qzhd-back{ padding:10px 0px; color:#258e39;}
.qzhd-all {
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #fff;
	margin:0px auto 20px auto;
	float:left;
	box-sizing:border-box;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-top:3px solid #258e39;
}
.qzhd-all h2{ height:50px; line-height:50px; text-indent:20px; font-size:12px; border-bottom:1px solid #daeafe; font-weight:normal; position:relative;}
.qzhd-all h2 span{ position:absolute; right:20px; top:0px;}
.qzhd-all h2 span i{ font-style:normal; color:#F00;}
.qzhd-all .qzhd-all-d{ height:50px; line-height:50px; font-size:16px;border-bottom:1px solid #daeafe; color:#9a9a9a; background:#f4f4f4;}
.qzhd-all .qzhd-all-d p{ float:left; text-align:right; width:100px;}
.qzhd-all .qzhd-all-d a{ padding:5px 10px; margin:0px 5px;}
.qzhd-all .qzhd-all-d a:hover{background:#68a32e; color:#FFF;}
.all-p-a{background:#68a32e; color:#FFF; }
/*--qzhd-ul--*/
.qzhd-main{}
.qzhd-main li{ width:305px; float:left;position:relative; margin-bottom:15px;border:2px solid #fff; }
.qzhd-main li:hover{ border:2px solid #258e39; box-sizing:content-box;}
.qzhd-li-t{ padding:10px 15px; border:1px solid #ccc; border-top:none; }
.qzhd-li-t p{font-size:15px; padding:3px 0px;}
.qzhd-li-t a{ color:#fd4444; font-size:19px; display:block; padding:5px 0px; }
.qzhd-li-t span{ color:#a6a6a6; font-size:12px; display:block; }
.qzhd-li-t a b{ font-size:14px;}
.qzhd-main .jinxin{ background:rgba(37,142,57,0.8); position:absolute; top:160px; right:-5px; color:#fff; height:30px; width:80px;border-radius:20px 0px 0px 20px; display:inline; font-size:15px; text-align:center; line-height:30px;}
/*分页页码*/
.page-normal{
	color:#000;
	text-align:center;
	height:50px;
	padding:30px 30px 20px 0;
}
.page-normal a,.page-normal .page-current,.page-normal .page-prev{
	padding:5px 10px;
	font-size:14px;
	margin-left:5px;
}
.page-normal a{
	border:1px solid #ccc;
	color:#258e39;
	text-decoration:none;
}
.page-normal a:hover{
	border:1px solid #258e39;
	color:#fff;
	background:#258e39;
}

.page-normal .page-current{
	color:#fff;
	background:#258e39;
}
.page-normal .page-prev{
	border:1px solid #CCC;
	color:#ccc;
}
/*--footer--**/

.footer-b { background:#2c2c2c; padding:20px 0px;}
.footer-b ul{ text-align:center; width:400px; padding:10px 0px; margin:0 auto; }
.footer-b ul li { float:left; border-right:1px solid #3e3e3e; padding:0px 10px;}
.footer-b ul>li:nth-child(6){border-right:none;}
.footer-b p{ text-align:center; width:1000px; margin:0 auto;}