@charset "utf-8";
/* CSS Document */

/* por reset.css V1.0  Start*/
body, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, form, button, input, textarea, th, td {
	margin: 0px;
	padding: 0px;
}
body, button, input, select, textarea {
	font: normal 12px Microsoft YaHei, Arial, "\5b8b\4f53", tahoma;
	color:#5d5d5d;
}
ul, ol, li {
	list-style: none;
}
a {
	text-decoration: none;
	cursor: pointer;
	color:inherit;
}
a:hover {
	text-decoration: none;
}
img {
	border: 0;
	vertical-align: top;
}
button, input, select, textarea {
	font-size: 100%;
	vertical-align: middle;
	outline: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.fixed:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.fixed {
*zoom:1;
}
/*需要块状元素并且给定宽高*/

/*--------------mutual--------------*/
/*top*/
.topall {
	clear: both;
	width: auto;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
.top-line {
	width: 100%;
	height: 40px;
	background: #333333;
}
.top-line div {
	width: 1000px;
	height: 40px;
	color: #FFF;
	margin: 0 auto;
	line-height: 40px;
}
.top-line div a {
	display:block;
	width:70px;
	height:22px;
	line-height:22px;
	text-align:center;
	margin:10px 10px;
	float: right;
	color:#3e3e3e;
	background:#fff;
	border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	-border-radius:4px;
}
.top-line-a-on{ background:#e60012 !important; color:#fff !important;}
.top {
	width: 1000px;
	height: 92px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
/*search*/

.search-form {
	margin-top:9px;
	float: right;
	background-color: #fff;
}
.search-text {
	height: 22px;
	line-height: 22px;
	float: left;
	width: 180px;
	border: 0;
	outline: none;
}
.search-button {
	background:url(../images/index_03_03.jpg) no-repeat;
	width: 29px;
	height: 22px;
	float: left;
	border: 0
}

/*menu*/
.nav {
	height: 39px;
	margin: 0 auto;
	overflow: hidden;
	background:url(../images/index_06.jpg) repeat-x;
	text-transform: capitalize;
}
.nav ul {
	width: 1000px;
	height: 21px;
	margin: 9px auto;
	display: block;
	overflow: hidden;
}
.nav ul li {
	float: left;
	width: 16.5%;
	height: 21px;
	display: block;
	overflow: hidden;
	line-height: 21px;
	text-align: center;
	color: #5a5a5a;
	box-sizing: border-box;
	border-right:1px solid #ccc;
}
.nav ul li a{ color:inherit; padding:3px 25px;}
.wbg a{
	color:#fff !important; background:#258e39;
}

.nav ul li a:hover {
	color:#fff !important; background:#258e39;
}

.main {
	width: 1000px;
	height: auto;
	margin:0 auto;
}
.main-top h2{ padding:25px 0 10px 0; font-size:20px; text-indent:5px;}
/*picBtnTop*/
	.picBtnTop{
	width: 511px;
	height: 275px;
	position: relative;
	overflow: hidden;
	zoom: 1;
	float: left;
	margin-bottom:20px;
}
	.picBtnTop .hd{ width:117px;  height:275px; position:absolute; right:5px; overflow:hidden; }
	.picBtnTop .hd ul li{ width:112px; text-align:center; padding:0 0 5px 5px;  }
	.picBtnTop .hd ul li img{ width:107px; height:84px; border:2px solid #fff; cursor:pointer; vertical-align:bottom; }
	.picBtnTop .hd ul li.on{ background:url("images/icoleft.gif") no-repeat 0 28px; }
	.picBtnTop .hd ul li.on img{ border-color:#258e39;  }
	.picBtnTop .bd{ width:387px;  height:275px; position:relative;  }
	.picBtnTop .bd li{ position:relative; zoom:1; vertical-align:middle;}
	.picBtnTop .bd li .pic{ position:relative; z-index:0;  }
	.picBtnTop .bd li .pic img{ width:387px;  height:275px; vertical-align:bottom; }
	
	
	
	
	
	.table-right{ float:right; width:480px; position:relative; margin-bottom:20px;}
	.table-right h1{ background:#ffa400; color:#fff; height:45px; line-height:45px; font-size:25px; text-indent:10px;}
	.table-right h1 b{ font-size:14px; padding:0 5px;}
	.table-right span{ display:block; line-height:20px; padding:5px 0px;}
	.goumai{ padding:10px 20px; color:#fff;background:#ffa400; border:1px solid #ff6a00;  font-size:14px; position:absolute; bottom:-43px; left:0px;}
	.table-right-b-t1,.table-right-b-t2{ margin-bottom:10px;}
	.table-right-b-t1 p{ float:left; width:80px; text-align:center; height:24px; line-height:24px;}
	.table-right-b-t1 span{ float:left; border:1px solid #ddd; padding:2px 10px; margin-right:10px;}
	.table-right-b-t1 span:hover{border:1px solid #ff8c00; cursor:pointer;} 
	.table-span{border:1px solid #ff8c00 !important; cursor:pointer;}
	.table-right-b-t2 p{ float:left; width:80px;text-align:center; height:24px; line-height:24px;}
	.table-right-b-s{  float:left; border:1px solid #ddd; padding:0px 10px; height:23px;  margin:0px 24px; position:relative; line-height:23px;}
	.table-right-b-t2-box{ float:right; width:400px;}
	.table-right-b-t2-m{ padding-right:15px; float:left; }
	.table-right-b-t2-m b{ font-weight:normal; display:block; float:left; padding:0px 8px; height:23px; line-height:23px; font-size:14px;}
	.table-right-b-t2-m i{ font-style:normal; display:block; float:left; color:#ffa400; line-height:23px; font-size:16px;}
	.table-right-b-s:before{border:1px solid #ddd; width:23px; height:23px; position:absolute; top:-1px; left:-25px; content:"-"; text-align:center;  }
	.table-right-b-s:after{border:1px solid #ddd; width:23px; height:23px;position:absolute; top:-1px; left:27px; content:"+"; text-align:center;   }
/* qzly */
.qzly-main{ padding-top:20px; margin-bottom:20px;}
		.content2-main{ width:100%; text-align:left; float:left;  border:1px solid #ddd; }
		.content2-main .hd{ height:30px; line-height:30px;  padding:0 10px 0 20px;  position:relative;border-bottom:2px solid #258e39;}
		.content2-main .hd ul{ float:left;  position:absolute; left:0px; top:0px; height:32px; }
		.content2-main .hd ul li{ float:left; padding:0 15px; cursor:pointer; font-size:14px;}
		.content2-main .hd ul li.on{ height:30px;  background:#258e39; color:#fff; }
		.content2-main .bd{float:left; width:770px;}
		.content2-main .bd ul{ padding:15px; border-right:1px solid #ddd;}
		.content2-main .bd ul p{ line-height:25px; text-indent:2em; margin-bottom:20px; letter-spacing:1px; font-size:14px; }
		.content2-main .bd ul span{ display:block; text-align:center;}
		.content2-main-r{ width:200px; float:right;  padding:0 10px;}
		.content2-main-r p{ position:relative;}
		.content2-main-r p img{ width:200px; height:150px; margin-bottom:20px;}
		.content2-main-r p span{ position:absolute; bottom:20px; left:0px; background:rgba(0,0,0,0.5); height:40px; line-height:40px; width:100%; text-align:center; color:#fff; font-size:14px; cursor:pointer; }
/*分页页码*/
.page-normal{
	color:#000;
	text-align:center;
	height:50px;
	padding:30px 30px 20px 0;
}
.page-normal a,.page-normal .page-current,.page-normal .page-prev{
	padding:5px 10px;
	font-size:14px;
	margin-left:5px;
}
.page-normal a{
	border:1px solid #ccc;
	color:#258e39;
	text-decoration:none;
}
.page-normal a:hover{
	border:1px solid #258e39;
	color:#fff;
	background:#258e39;
}

.page-normal .page-current{
	color:#fff;
	background:#258e39;
}
.page-normal .page-prev{
	border:1px solid #CCC;
	color:#ccc;
}

/*增减*/

.Spinner{display:block;overflow:hidden;width:85px;margin:0 auto 10px auto; float:left;}
.Spinner .Amount{width:17px;height:17px;padding:4px 5px;line-height:17px;border-width:1px 0;border-style:solid;border-color:#d9d9d9;float:left;text-align:center;color:#565656;outline:0;}
.Spinner a{display:inline-block;width:25px;height:25px;border:1px solid #d9d9d9;background-color:#f7f7f7;float:left;cursor:pointer;outline:0;}
.Spinner a i{font-style:normal;background:url(../images/BuynBtn.png) no-repeat;display:block;width:9px;height:9px;margin:8px;text-indent:999999%;overflow:hidden;}
.Spinner .Decrease i{background-position:-9px -9px;}
.Spinner .Increase i{background-position:-9px -0px;}
.Spinner .DisDe i{background-position:-0px -9px;}
.Spinner .DisIn i{background-position:-0px -0px;}
/*--footer--**/

.footer-b { background:#2c2c2c; padding:20px 0px;}
.footer-b ul{ text-align:center; width:400px; padding:10px 0px; margin:0 auto; }
.footer-b ul li { float:left; border-right:1px solid #3e3e3e; padding:0px 10px;}
.footer-b ul>li:nth-child(6){border-right:none;}
.footer-b p{ text-align:center; width:1000px; margin:0 auto;}
