z@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0 auto;
	font-size: 12px;
	word-break: break-all;
	font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
}
div, input, dl, dd, dt, ul, li, p, h1, h2, h3, h4, h5, h6, p, fieldset {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
img, input{
}
a {
	color:inherit;
	text-decoration: none;
	cursor:pointer;
}
.br{border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px;}
.c{ clear:both;}
.left{float:left;}
.right{float:right;}
.clearfix:after{content:".";display:block;clear:both;font-size:0;overflow:hidden;height:0;}
.clearfix{zoom:1;}





.logo{ margin-top:20px; margin-left:50px; width:174px; height:71px; float:left; background:url(../images/logo.png) ;}
.content{
	width:100%;
	background:url(../images/demo-bg.jpg) 50% 50% no-repeat;
	background-size:cover;
	height:768px;
	padding-top:5%;
}
.title img{ display:block; float:left; padding-left:30px; padding-top:20px;}
.title p{
	float:left;
	line-height:30px;
	margin-top:45px;
	font-size:25px;
}
.demo{
	width:950px;
	height:600px;
	border:1px solid #CCC;
	margin:0 auto;
	margin-left:auto;
	margin-right:auto;
	background:#fafcfe;
	border-radius: 5px;
	position:relative;
}
#thisForm{ padding-top:20px;}
.demo table td{height:40px;vertical-align:top;}
.demo table .tdcon{text-align:right;width:160px;padding: 0;height:35px;}
.demo table .stext{border:solid 1px #ddd;height:20px;line-height:20px;font-size:12px;padding-left:2px;width:220px;float:left;}
.tdcon select{ width:150px; border-color:#ddd;}
.tipinfo{float:left;}
.tipinfo font.error{background:url("images/unchecked.jpg") no-repeat left;padding-left:15px;color:#eb0000;width:270px;display:block;}
.tipinfo font.valid{background:url("images/checked.gif") no-repeat left;width:14px;height:13px;overflow:hidden;padding:0;margin:2px 0 0 2px;display:inline-block;} 


.agreement {
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	padding-left:160px;
}
.agreement input {
	display: block;
	float:left;
	line-height: 30px;
	height: 12px;
	margin: 10px 4px 0 0px;
	border: none;
	width: 12px;
}




.Button{
	border:0px;
	background:#3199e8;
	display:block;
	color:#fff;
	height:40px;
	width:200px;
	float:left;
	cursor:pointer; 
	
}

.erweima{ position:absolute; width:50%; height:350px; border-left:1px solid #ddd; top:130px; right:0px;}
.erweima img{ display:block; margin:0 auto; border:1px solid #ccc; margin-bottom:20px;}
.erweima p { text-align:center; margin-bottom:50px; }
