
/*menu*/
.logBox {
	background: #fff;
	height: 83px;
	width: 100%;
	z-index: 999;
}
.login {
	position: relative;
	width: 1000px;
	background:url(../images/denglu_02.jpg) no-repeat;
	height:83px;
	color: #fff;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 0;
	padding-bottom: 0;
}
.login .siderNav {
	position: absolute;
	right: 0;
	top: 0;
}
.topmenu {
	margin-top: 25px;
	line-height: 22px;
	color: #e77e11;
	font-size: 14px;
}
.topmenu li {
	float: left;
	position: relative;
	padding: 5px 20px;
}

.topmenu .first {
	background: #fff;
	color: #5a5a5a;
}
.topmenu .first a{ padding:0px 20px; }

.main{ 
width:1000px;
margin:0 auto;

}

/*search*/
.search-box {
	width: 100%;
	padding: 12px 0;
}
.search-form {
	float: right;
}
.search-text {
	height: 25px;
	line-height: 25px;
	float: left;
	width: 200px;
	border: 0;
	outline: none;
	border: 1px solid #ddd;
}
.search-button {
	background:url(../images/search_03.jpg) 3px -2px no-repeat,#fff;;
	width: 40px;
	height: 27px;
	float: left;
	border: 0;
	color: #FFF;
	margin-left: 3px;
	border:1px solid #ddd;
}


.demo{
	font-size:12px;
	margin:0px auto 20px auto;
	background:#eeeeee;
}
.demo-left{ width:20%; float:left; background:#eeeeee; overflow:hidden;}
.demo-left-top{overflow:hidden;}
.demo-left-top p{ text-align:center; padding-top:20px;}
.demo-left-top h3{ text-align:center;font-size:25px; line-height:50px; font-weight:500; height:50px;color:#000;}
.title2{height:50px; line-height:50px; color:#424242; text-align:center; font-size:14px; border-left:3px solid #999999;}
.title2:hover{ background:#fff; color:#258e39;border-left:3px solid #258e39;  }

/*分页页码*/
.page-normal{
	color:#000;
	text-align:right;
	height:50px;
	padding:30px 30px 20px 0;
}
.page-normal a,.page-normal .page-current,.page-normal .page-prev{
	padding:5px 10px;
	font-size:14px;
	margin-left:5px;
}
.page-normal a{
	border:1px solid #ccc;
	color:#258e39;
	text-decoration:none;
}
.page-normal a:hover{
	border:1px solid #258e39;
	color:#fff;
	background:#258e39;
}

.page-normal .page-current{
	color:#fff;
	background:#258e39;
}
.page-normal .page-prev{
	border:1px solid #CCC;
	color:#ccc;
}
/* foot鏍峰紡 */

.footer-b { background:#2c2c2c; padding:20px 0px; color:#666666;}
.footer-b ul{ text-align:center; width:400px; padding:10px 0px; margin:0 auto; }
.footer-b ul li { float:left; border-right:1px solid #3e3e3e; padding:0px 10px;}
.footer-b ul>li:nth-child(6){border-right:none;}
.footer-b p{ text-align:center; width:1000px; margin:0 auto;}