

/*base*/
body{font-size: 13px; font-family: "Microsoft Yahei"; font-family: "微软雅黑";}
.grey{background-color: #f8f8f8; }
.red{color: #da482e; }
.textIndent{text-indent: 2em; }
.fs14{font-size: 14px; }
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

.footer-bg {width:100%;height:150px;}
.bg-footer {width:100%;height:267px;position:fixed;bottom:-267px;left:0px;z-index:9;background:url("../images/bg_foot.png") center bottom no-repeat;}
/*右侧客服和返回顶部*/
.side{position:fixed;width:54px;height:220px;right:0;bottom:60px;z-index:100;}
.side ul li{width:54px;height:54px;float:left;position:relative;border-bottom:1px solid #444;}
.side ul li .sidebox{position:absolute;width:54px;height:54px;top:0;right:0;transition:all 0.3s;background:#000;opacity:0.8;filter:Alpha(opacity=80);color:#fff;font:13px/54px "微软雅黑";overflow:hidden;}
.side ul li .sidetop{width:54px;height:54px;line-height:54px;display:inline-block;background:#000;opacity:0.8;filter:Alpha(opacity=80);transition:all 0.3s;}
.side ul li .sidetop:hover{background:#da482e;opacity:1;filter:Alpha(opacity=100);}
.side ul li img{float:left;}
.f_qq{ float:left; height:36px; }
.f_qq a{ padding:0 5px; color:#cecece;}

/*2015右侧客服和返回顶部*/
#rocket-to-top div {
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 149px;
}
#rocket-to-top {
    background: url("../images/rocket_button_up.png") no-repeat scroll 0 0 transparent;
    cursor: default;
    display: block;
    height: 250px;
    margin: -15px 0 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    right: 0;
    top: 80%;
    width: 149px;
    z-index: 11;
}
#rocket-to-top .level-2 {
    background: url("../images/rocket_button_up.png") no-repeat scroll -149px 0 transparent;
    display: none;
    height: 250px;
    opacity: 0;
    z-index: 1;
}
#rocket-to-top .level-3 {
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 150px;
    z-index: 2;
}
/*scrollbar*/
.mCustomScrollbar{ -ms-touch-action: none; touch-action: none; /* MSPointer events - direct all pointer events to js */ }
.mCustomScrollbar.mCS_no_scrollbar{ -ms-touch-action: auto; touch-action: auto; }
.mCustomScrollBox{ /* contains plugin's markup */ position: relative; overflow: hidden; height: 100%; max-width: 100%; outline: none; direction: ltr; }
.mCSB_container{ /* contains the original content */ overflow: hidden; width: auto; height: auto; }
/*VERTICAL SCROLLBAR */
.mCSB_inside > .mCSB_container{ margin-right: 30px; }
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{ margin-right: 0; } /* non-visible scrollbar */
.mCS-dir-rtl > .mCSB_inside > .mCSB_container{ /* RTL direction/left-side scrollbar */ margin-right: 0; margin-left: 30px; }
.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{ margin-left: 0; } /* RTL direction/left-side scrollbar */
.mCSB_scrollTools{ /* contains scrollbar markup (draggable element, dragger rail, buttons etc.) */ position: absolute; width: 16px; height: auto; left: auto; top: 0; right: 0; bottom: 0; }
.mCSB_outside + .mCSB_scrollTools{ right: -26px; } /* scrollbar position: outside */
.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools, 
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools{ /* RTL direction/left-side scrollbar */ right: auto; left: 0; }
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools{ left: -26px; } /* RTL direction/left-side scrollbar (scrollbar position: outside) */
.mCSB_scrollTools .mCSB_draggerContainer{ /* contains the draggable element and dragger rail markup */ position: absolute; top: 0; left: 0; bottom: 0; right: 0;  height: auto; }
.mCSB_scrollTools a + .mCSB_draggerContainer{ margin: 20px 0; }
.mCSB_scrollTools .mCSB_draggerRail{ width: 2px; height: 100%; margin: 0 auto; -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px; }
.mCSB_scrollTools .mCSB_dragger{ /* the draggable element */ cursor: pointer; width: 100%; height: 30px; /* minimum dragger height */ z-index: 1; }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ /* the dragger element */ position: relative; width: 4px; height: 100%; margin: 0 auto; -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px; text-align: center; }
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, 
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar{ width: 12px; /* auto-expanded scrollbar */ }
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, 
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail{ width: 8px; /* auto-expanded scrollbar */ }
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown{display: block; position: absolute; height: 20px; width: 100%; overflow: hidden; margin: 0 auto; cursor: pointer; }
.mCSB_scrollTools .mCSB_buttonDown{ bottom: 0; }


/*头部开始*/
.header{position: fixed; left: 0; right: 0; z-index: 999; height: 103px; width: 100%; min-width: 1000px; }
.header_bg{height: 103px; background: #ffffff; }
.header_bar{position: relative; z-index: 9; height: 34px; background: #303030 url(../images/menu_shadow_top.png) repeat-x center bottom; }
.logo{position: absolute; left: 50px; top: 0; height: 43px; width: 209px; padding: 22px 0 0; background: url(../images/logo_bg.png) no-repeat center bottom; text-align: center; font-size: 0; line-height: 0; }
.social{float: right; padding: 8px 0 6px; }
.slist{position: relative; float: left; z-index: 0; }
.slist.active{z-index: 9; }
.sfocus{margin: 0 18px 0 10px; padding: 0 16px 0 0; background: url(../images/header_arrow.png) no-repeat right center; color: #999999; text-decoration: none; }
.slist.active .sfocus{background-image: url(../images/header_arrow_hover.png); color: #ffffff; }
.sqrcode_wrap{display: none; position: absolute; top: 0px; right: 0; opacity: 0.8; filter: alpha( opacity = 80 ); width: 200px; height: 229px; padding: 25px 4px 4px; background: url(../images/qr_code_shadow.png) no-repeat center bottom; text-align: center; }
.sqrcode{display: block; cursor: default; padding: 8px 0 4px; font-size: 0; line-height: 0; }
.slink{display: block; cursor: default; color: #676767; text-decoration: none; line-height: 24px; }

.menu{position: relative; height: 69px; background: #ffffff; }
.mshadow{position: absolute; bottom: -5px; left: 0; right: 0; clear: both; height: 5px; background: url(../images/menu_shadow_bottom.png) repeat-x left bottom; }
.mwrap{float: right; }
.mli{float: left; height: 69px; border-left: 1px solid #bfbfbf; }
.mlink{display: block; width: 101px; height: 45px; padding: 12px 0; background: #ffffff; text-align: center; text-decoration: none; }
.mlink.curr{background: #4d4d4d; }
.mico{position: relative; display: block; width: 24px; height: 24px; margin: 0 auto; overflow: hidden;  }
.micoi{position: absolute; top: 0; left: 0; width: 24px; height: 432px; background: url(../images/menu_ico.png) no-repeat center center; }
.mname{line-height: 20px; color: #373737; }
.curr .mname{color: #ffffff; }
.mico_home .micoi{top: 0; }
.curr .mico_home .micoi{top: -48px; }
.mico_about .micoi{top: -72px; }
.curr .mico_about .micoi{top: -120px; }
.mico_service .micoi{top: -144px; }
.curr .mico_service .micoi{top: -192px; }
.mico_case .micoi{top: -216px; }
.curr .mico_case .micoi{top: -264px; }
.mico_news .micoi{top: -288px; }
.curr .mico_news .micoi{top: -336px; }
.mico_contact .micoi{top: -360px; }
.curr .mico_contact .micoi{top: -408px; }
/*头部结束*/
.banner{height:570px; overflow:hidden;; margin:0 auto; position: relative; min-width:1024px;}
.bwrap{position: relative; z-index: 0; }
.bquery{position: relative; z-index: 0; height: 570px; }
.blist{display: none; position: absolute; top: 0; left: 0; z-index: 0; height: 570px; font-size: 0; line-height: 0; }
.blist a{display: block; position: absolute; left: 0; top: 0; }
.blist img{ }
/*.bannerTmpBox{display: none; position: absolute; left: 0; top: 0; z-index: 9; height: 570px; }
.bannerTmpBox a{position: absolute; overflow: hidden; font-size: 0; line-height: 0; }
.bannerTmpBox a img{position: absolute; }*/
.bfilter{position: absolute; top: 0; left: 0; z-index: 9; width: 100%; height: 570px; font-size: 0; line-height: 0; }
.bfilter a{position: absolute; top: 0; left: 0; width: 5%; height: 570px; overflow: hidden; }
.bfilter a img{position: absolute; left: 0; top: 0; }

.bctrl{position: absolute; bottom: 10px; left: 0; z-index: 9; width: 100%; height: 24px; }
.bctrli{text-align: center; font-size: 0; line-height: 0; }
.bctrli a{display: inline-block; width: 24px; height: 24px; margin: 0 5px; background: url(../images/banner_control.png) no-repeat left center; }
.bctrli a:hover,
.bctrli a.curr{background-position: right center; }
.bctrli a{*display: inline; *zoom: 1; }

/*服务范围类别开始*/
.service{width: 1000px; margin: 0 auto; padding: 0 0 15px; }
.serQuery{margin: 0 0 0 -14px; width: 1028px; height: 346px; overflow: hidden; padding: 38px 0 0; overflow: hidden; }
.serLi{position: relative; float: left; width: 229px; height: 346px; margin: 0 14px; }
.serWrap{position: absolute; top: 0; left: 0; width: 227px; height: 344px; border: 1px solid #cecece; }
.serIco{width: 103px; height: 103px; margin: 24px auto 0; background: #666666 url(../images/service_ico_circle.png) no-repeat center center; font-size: 0; line-height: 0; text-align: center; }
.serTitle{margin: 16px 0 4px; line-height: 28px; font-size: 18px; color: #454545; text-align: center; }
.serIntro{padding: 0 0 16px; text-align: center; line-height: 24px; color: #484848; }
.serLink{width: 192px; margin: 0 auto; border-top: 1px dotted #8d8d8d; padding: 21px 0 0; }
.serBtn{display: block; position: relative; width: 120px; height: 37px; overflow: hidden; margin: 0 auto; line-height: 36px; text-align: center; }
.serBtnLink,
.serBtnHover{position: absolute; top: 0; left: 0; width: 120px; height: 37px; background: url(../images/service_button.png) no-repeat center top; }
.serBtnLink{z-index: 1; background-position: center top; color: #3f3f3f; }
.serBtnHover{z-index: 0; background-position: center center; color: #ffffff; }
/*服务范围类别结束*/

/*案例 关于 新闻 开始*/
.introShow{margin: 0 0 19px; background: #ebebeb; overflow:hidden;;position: relative; min-width:1024px;}

/*案例开始*/
.icaseWrap{width: 1000px; margin: 0 auto; padding: 24px 0 16px; }
.icaseHeader{height: 36px; overflow: hidden; padding: 0 0 12px; }
.icaseDetLink{float: right; width: 78px; height: 28px; margin: 4px 0 0; padding: 0 18px 0 0; background: #cbcbcb url(../images/case_more_arrow.png) no-repeat 70px center; line-height: 28px; color: #ffffff; text-align: center; text-decoration: none; }
.icaseName{float: left; height: 24px; padding: 12px 0 0 110px; background: url(../images/case_title.png) no-repeat left center; line-height: 20px; font-size: 14px; }
.icaseBody{overflow: hidden; }

.icaseLeft{position: relative; float: left; width: 402px; overflow: hidden; padding: 20px 0 0; background: #ffffff; }
.icaseLeftTitle{height: 28px; padding: 0 0 0 18px; color: #858585; line-height: 28px; font-size: 15px; }
.icaseLeftIntro{position: relative; margin: 16px 0 0; }
.icasebPrev,
.icasebNext{position: absolute; z-index: 9; top: 120px; width: 31px; height: 31px; background: url(../images/case_control.png) no-repeat; }
.icasebPrev{left: 0; background-position: left bottom; }
.icasebPrev:hover{background-position: left top; }
.icasebNext{right: 0;  background-position: right bottom; }
.icasebNext:hover{background-position: right top; }
.icaseBanner{position: relative; z-index: 0; height: 441px; }
.icasebli{position: absolute; left: 0; top: 0; width: 402px; }
.icasePic{display: block; width: 400px; height: 300px; overflow: hidden; font-size: 0; line-height: 0; }
.icaseInfo{border-bottom: 1px solid #ececec; padding: 19px 21px 7px; }
.icaseTitle{line-height: 28px; font-size: 18px; color: #353535; }
.icaseDate{line-height: 22px; font-size: 14px; color: #adadad; }
.icaseIntro{padding: 20px; line-height: 20px; color: #868686; }

.icaseRight{float: right; width: 598px; overflow: hidden; }
.icaserQuery{float: left; width: 284px; margin: 0 0 14px 15px; padding: 8px 0 0; background: #ffffff; }
.icaserTitle{display: block; padding: 0 0 0 15px; font-size: 14px; color: #353535; line-height: 24px; text-decoration: none; }
.icaserQuery:hover .icaserTitle{color: #ffffff; }
.icaserDate{display: block; padding: 0 0 0 15px; line-height: 20px; color: #adadad; }
.icaserPic{position: relative; width: 284px; height: 180px; overflow: hidden; margin: 13px 0 0; font-size: 0; line-height: 0; }
.icaserMask{display: none; position: absolute; top: 0; left: 0; z-index: 8; width: 100%; height: 100%; background: #000000; opacity: 0.8; filter: alpha( opacity = 80 );  }
.icaserLink{position: absolute; top: -45px; left: 120px; z-index: 9; width: 45px; height: 45px; background: url(../images/case_detail1.png) no-repeat center center; }/*68px;*/
/*案例结束*/

.iaAndn{width: 1000px; margin: 0 auto; padding: 0 0 46px; overflow: hidden; }
/*关于开始*/
.iabout{float: left; width: 402px; margin: 0 1px 0 0; background: #ffffff; overflow: hidden; }
.iaHeader{position: relative; z-index: 9; height: 54px; border-bottom: 1px solid #eaeaea; }
.iaPrev,
.iaNext{position: absolute; top: 11px; width: 33px; height: 33px; background: #bbbbbb url(../images/about_control.png) no-repeat; }
.iaPrev{right: 51px; background-position: left center; }
.iaNext{right: 17px; background-position: right center; }
.iaPrev:hover,
.iaNext:hover{background-color: #606060; }
.iaQuery{position: relative; z-index: 0; height: 225px; width: 402px; }
.iaList{position: absolute; height: 225px; width: 402px; background: #ffffff; }
.iaName{position: absolute; top: -55px; left: 0; height: 32px; width: 379px; padding: 11px 0 11px 23px; }
.iaNameEn{font-size: 24px; color: #777777; line-height: 32px; }
.iaNameCn{margin: 0 0 0 8px; color: #9c9c9c; line-height: 20px; vertical-align: 2px; }
.iaBody{height: 225px; }
.iaPic{position: absolute; left: 20px; top: 25px; width: 172px; height: 175px; font-size: 0; line-height: 0; overflow: hidden;  }
.iaPicMask{position: absolute; left: 0; right: 0; bottom: 0; height: 36px; opacity: 0.8; filter: alpha( opacity = 80 ); background: #000000; }
.iaPicName{position: absolute; left: 0; right: 0; bottom: 0; padding: 0 10px; font-size: 12px; line-height: 36px; color: #ffffff; }
.iaIntro{position: absolute; right: 14px; top: 25px; width: 176px; }
.iaTitle{font-size: 16px; color: #515151; line-height: 24px; }
.iaContent{padding: 15px 0 0; line-height: 24px; color: #515151; }
.iaCtrl{height: 31px; border-top: 1px solid #eaeaea; padding: 19px 14px 0 0; text-align: right; }
.iaCtrl a{display: inline-block; width: 11px; height: 11px; margin: 0 3px; background: #e0e0e0; }
.iaCtrl a{*display: inline; *zoom: 1;}
.iaCtrl a:hover,
.iaCtrl a.curr{background: #4b4b4b; }
/*关于结束*/

/*新闻开始*/
.iNews{float: left; width: 597px; background: #ffffff; }
.inHeader{height: 54px; padding: 0 0 0 28px; }
.inMore{float: right; width: 72px; height: 54px; border-left: 1px solid #eaeaea; background: #ffffff; text-align: center; line-height: 54px; color: #5f5f5f; font-size: 14px; text-decoration: none; }
.inMore:hover{/*background: #545454;*/ color: #ffffff;  }
.inPrev,
.inNext{float: right; width: 56px; height: 54px; border-left: 1px solid #eaeaea; background: #ffffff url(../images/news_control.png) no-repeat; }
.inPrev{background-position: left bottom; }
.inNext{background-position: right bottom; }
.inPrev:hover{/*background-color: #545454;*/ background-position: left top; }
.inNext:hover{/*background-color: #545454;*/ background-position: right top; }

.inNameEn{font-size: 24px; color: #777777; line-height: 54px; }
.inNameCn{margin: 0 0 0 8px; color: #9c9c9c; line-height: 20px; vertical-align: 2px; }

.inQueryWrap{position: relative; width: 598px; height: 277px; overflow: hidden; }
.inQuery{position: absolute; left: 0; top: 0; width: 1196px; height: 277px; }
.inList{position: relative; height: 112px; width: 486px; border-top: 1px solid #eaeaea; padding: 26px 0 0 112px; }
.inList.inListTop{position: absolute; left: 598px; top : 0; }
.inList.inListBottom{position: absolute; left: 598px; top : 139px; }
.inLableDate{position: absolute; top: 26px; left: 28px; width: 65px; height: 73px; background-color: #9b9b9b; color: #ffffff; text-align: center; }
.indDay{display: block; height: 45px; font-size: 36px; line-height: 45px; border-bottom: 1px dotted #ffffff; }
.indMonth{display: block; font-size: 14px; line-height: 24px; }
.inDate{position: absolute; right: 28px; top: 28px; line-height: 24px; color: #b6b6b6; }
.inTitle{font-size: 14px; line-height: 28px; color: #393939; text-decoration: none; }
.inList:hover .inTitle{color: #ff6600; }
.inIntro{padding: 10px 28px 0 0; line-height: 20px; color: #868686; }
/*新闻结束*/
/*案例 关于 新闻 结束*/

/*图片友链开始*/
.picLink{overflow: hidden; width: 1000px; height: 78px; margin: 0 auto 18px; border: 1px solid #eaeaea; border-left: none; }
.plQuery{overflow: hidden; height: 78px; }
.plList{float: left; width: 199px; height: 78px; border-left: 1px solid #eaeaea; }
.plList a{display: block; position: relative; width: 199px; height: 78px; font-size: 0; line-height: 0; }
.plGrey{position: absolute; left: 0; top: 0; z-index: 9; }
.plColor{position: absolute; left: 0; top: 0; z-index: 1; }
/*图片友链结束*/

/*底部网站地图开始*/
.webSite{width: 998px; margin: 0 auto; border: 1px solid #eaeaea; overflow: hidden; padding: 28px 0 32px; background: #ffffff; }
.wsLink{overflow: hidden; float: left; }
.wslList{float: left; border-right: 1px solid #dedede; padding: 0 60px 0 48px }
.wslName{font-size: 14px; color: #393939; line-height: 24px; }
.wslcQuery{height: 128px; padding: 8px 0 0; }
.wslcQuery li{ }
.wslcQuery a{line-height: 24px; color: #717171;  text-decoration: none; }
.wslcQuery a:hover{color: #0195D3; }

.wsContact{float: left; padding: 0px 0 0 30px;}
.wsContact li{overflow: hidden; }
.wscKey{float: left;}
.wscVal{float: left; color: #454545; }
/*底部网站地图结束

/*文字友情链接开始*/
.textLink{width: 998px; margin: 0 auto 9px; border: 1px solid #eaeaea; border-top: none; padding: 0 0 14px; background: #ffffff; }
.tlHeader{padding: 8px 0 14px 18px; font-size: 14px; color: #000000; line-height: 32px; }
.tlNameEn{color: #b6b6b6; }
.linkQuery{overflow: hidden; }
.linkQuery li{float: left; margin: 0 0 0 15px; }
.linkQuery a{color: #717171; text-decoration: none; line-height: 24px; }
.linkQuery a:hover{color: #ff6600; }
.marquee1{ height:125px; background:url(../images/mar_yy.gif) no-repeat bottom;}
/*文字友情链接结束*/

/*底部图片*/
.add_sc_p{
	width:1000px;
	height:72px;
	margin:0 auto; overflow:hidden;}
/*底部图片结束*/

/*footer*/
.footer{background-color: #232323; }
.footerWrap{overflow: hidden; width: 1000px; margin: 0 auto; padding:5px 10px 5px 10px; line-height: 24px; color: #717171; }
.footLeft{float:center;  text-align: center; width: 1000px; padding:5px 10px 5px 10px; line-height: 25px; color: #9c9c9c;}
.footRight{float: right; padding: 24px 0 0; }
.footRight a{text-decoration: none; color: #717171; }
.footRight a:hover{color: #ffffff; }
/*footer*/

/*分页开始*/
.pagination{text-align: center; }
.pgWrap{position: relative; display: inline-block; height: 36px; padding: 0 60px; background: url(../images/pagination_bg.png) repeat-x left center; font-size: 0; line-height: 0; }
.pgWrap{*display: inline; zoom: 1; }
.plRounded{position: absolute; left: -17px; top: 0; width: 17px; height: 36px; background: url(../images/pagination_bg.png) repeat-x left top; }
.prRounded{position: absolute; right: -17px; top: 0; width: 17px; height: 36px; background: url(../images/pagination_bg.png) repeat-x right -72px;  }
.pgQuery{height: 36px; }
.pgQuery a,
.pgQuery .curr{display: inline-block; width: 32px; height: 3px; overflow: hidden; margin: 16px 5px 0; background: #ffffff; }
.pgQuery .curr,
.pgQuery a:hover{background: #d21f3d; }
.pgQuery a{*display: inline; zoom: 1; }
/*分页结束*/

/*案例页开始*/
.clBody{position: relative; width:  1000px; margin: 36px auto 20px; padding: 0 0 66px; background-color: #ebebeb; }

.clsideWrap{position: absolute; left: -80px; top: 0; width: 80px; height: 76px; }
.clsLabel{position: absolute; left: 0; top: 0; z-index: 9; height: 76px; width: 80px; background: #d21f3d url(../images/side_show.png) no-repeat center 28px; cursor: pointer; }
.clside{position: absolute; top: 0; left: 0; z-index: 1; }
.clside li{position: absolute; top: 0; left: 0; display: block; }
.clside li a{display: block; height: 76px; width: 80px; border-bottom: 1px solid #686868; background: #585858; color: #ffffff; line-height: 76px; text-align: center; text-decoration: none; }
.clside li a:hover{background: #272727; }

.csQuery{position: relative; overflow: hidden; padding: 42px 0 50px 31px; }
.csli{position: relative; float: left; width: 271px; height: 391px; overflow: hidden; margin: 0 9px 18px; padding: 13px 13px 0; box-shadow: 2px 2px 2px #dddddd,-2px -2px 2px #dadada; background: #ffffff; }
.cslPic{display: block; width: 273px; height: 205px; overflow: hidden; margin: 0 0 16px; font-size: 0; line-height: 0; background: #000000; }
/*.csli:hover img{opacity: 0.4; filter: alpha( opacity = 40 );  }*/
/*.cslPic img{ }*/
.cslName{line-height: 24px; color: #000000; font-size: 14px; text-decoration: none; }
.cslDate{color: #929292; line-height: 20px; }
.cslSum{padding: 10px 0 44px; line-height: 24px; color: #414141; }
.cslLink{position: absolute; right: 0; bottom: 0; width: 126px; height: 42px; background: #4d4d4d url(../images/case_qmore.png) no-repeat center center; font-size: 0; line-height: 0; }
/*.csli:hover .cslLink{background-color: #d21f3d; }*/

.caseHeader{position: fixed; top: 0; left: 0; right: 0; z-index: 9; height: 58px; background: url(../images/case_header.png) repeat-x left center; }
.caseHeaderWrap{width: 1000px; height: 56px; margin: 0 auto; }
.chLeft{float: left; font-size: 0; line-height: 0; }
.caseList{float: left; }
.caseList a{display: block; width: 61px; height: 53px; background: #000000 url(../images/side_show.png) no-repeat center center; }
.casePrev{float: left; margin: 0 0 0 1px; }
.casePrev a{display: block; width: 57px; height: 53px; background: #000000 url(../images/case_arrow.png) no-repeat 20px center; }
.caseNext{float: left; margin: 0 0 0 1px; }
.caseNext a{display: block; width: 57px; height: 53px; background: #000000 url(../images/case_arrow.png) no-repeat -36px center; }
.caseList:hover,
.casePrev:hover,
.caseNext:hover{background-color: #b70b2c; }

.chRight{float: right; }
.chRight li{position: relative; float: left; width: 62px; height: 53px; margin: 0 1px 0 0; overflow: hidden; background: #000000;  }
.chShareWb,
.chShareTx,
.chShareQz,
.chShareWx{position: absolute; top: 0; left: 0; width: 62px; height: 106px; background: url(../images/case_share.png) no-repeat center top; }
/*.chShareWb:hover,
.chShareTx:hover,
.chShareQz:hover,
.chShareWx:hover{background-color: #b70b2c; }*/
.chShareWb{background-position: center top; }
/*.chShareWb:hover{background-position: center -53px; }*/
.chShareTx{background-position: center -106px; }
/*.chShareTx:hover{background-position: center -159px; }*/
.chShareQz{background-position: center -212px; }
/*.chShareQz:hover{background-position: center -265px; }*/
.chShareWx{background-position: center -318px; }
/*.chShareWx:hover{background-position: center -371px; }*/

.caseDetBanner{height: 492px; position: relative; z-index: 0; width: 100%; overflow: hidden; min-width:1024px;/*background: url(../images/case_top.png) no-repeat center center;*/ }
.caseDbinner{position: absolute; left: 50%; width: 1920px; margin-left: -960px; text-align: center; }
.caseDbinner img{ }
.caseDetBody{margin: 0 0 24px; padding: 36px 0 0px; /*background: #ececec; */}
.casedbWrap{width: 1000px; margin: 0 auto;}

.casedTop{height: 38px; border-bottom: 1px solid #7f6776; padding: 46px 162px 0; background: url(../images/case_logo.png) no-repeat 50px 42px; line-height: 24px; color: #ffffff; }
.casedQuery{width: 1000px; margin: 0 auto }
.casedList{padding: 0px 0px 0px 0px; border-bottom: 1px dotted #848484; line-height: 2em; font-size: 13px; font-family: "Microsoft Yahei"; font-family: "微软雅黑"; color: #555555;}
.casedList img{text-align:center;}
.casedBottom{height: 52px; border-bottom: 1px solid #7f6776; padding: 32px 162px 0; background: url(../images/case_logo.png) no-repeat 50px 28px; line-height: 24px; color: #ffffff; }
/*案例页结束*/

/*新闻页开始*/
.nqBody{width: 1000px; margin: 18px auto 0; padding: 0 0 10px;  }

.nqType{position: relative; overflow: hidden; height: 54px; margin: 0 0 28px; padding: 0 0 0 20px; background: #ffffff; }
.nqtWrap{float: right; overflow: hidden; }
.nqtWrap li{float: left; }
.nqtWrap li a{display: block; height: 51px; padding: 0 23px; border-bottom: 3px solid #ffffff; line-height: 54px; color: #505050; text-decoration: none; }
.nqtWrap li a:hover{ /*border-bottom-color: #e21326;*/ color: #e21326; }
.nqpNameCn{line-height: 54px; color: #555555; font-size: 14px; }
.nqpNameEn{margin: 0 0 0 4px; line-height: 54px; color: #c6c6c6; font-size: 14px; }
.nqUnderline{position: absolute; bottom: 0; right: 0; height: 3px; background: #e21326; width: 72px; }

.nqlWrap{padding: 0 0 17px; }
.nqli{position: relative; margin: 0 0 25px; padding: 20px 34px 26px 42px; background: #ffffff; }
.nqlDate{position: absolute; top: 0; left: -78px; width: 78px; height: 114px; background: #787878 url(../images/news_clock.png) no-repeat center 78px; }
/*.nqli:hover .nqlDate{background-color: #ec173a; }*/
.nqldDay{display: block; font-size: 36px; color: #ffffff; text-align: center; line-height: 50px; }
.nqldMy{display: block; font-size: 13px; color: #bababa; text-align: center; line-height: 24px; }
.nqlTitle{font-size: 14px; color: #000000; line-height: 32px; text-decoration: none; }
.nqli:hover .nqlTitle{color: #ec173a; }
.nqlSum{padding: 12px 0 16px; line-height: 24px; color: #616161; }
.nqlDetDate{line-height: 24px; color: #616161; }


.ndBody{width: 1000px; margin: 38px auto 0; padding: 0 0 20px;  }
.ndContent{position: relative; padding: 42px 26px 48px; background: #ffffff; }
.ndTitle{text-align: center; font-size: 24px; color: #212121; line-height: 36px; }
.ndInfo{padding: 0 0 28px; border-bottom: 1px dotted #848484; text-align: center; line-height: 24px; }
.ndili{margin: 0 14px; }
.ndIntro{margin: 0 0 42px; padding: 34px 0 40px; border-bottom: 1px dotted #848484; line-height: 2em; color: #6f6f6f; }
.ndLabel{padding: 0 0 6px; line-height: 24px; color: #000000; }
.ndLabel a{margin: 0 6px; color: #3f3f3f; text-decoration: none; }
.ndLabel a:hover{color: #ff6600; }
.prevAnext{line-height: 24px; color: #3f3f3f; }
.prevAnext li a{margin: 0 0 0 14px; color: #3f3f3f; text-decoration: none; }
.prevAnext li a:hover{color: #ff6600; }
.ndBottom{overflow: hidden; }
.ndBack{float: right; width: 75px; height: 32px; background: #b3b3b3; color: #ffffff; line-height: 32px; text-align: center; text-decoration: none; }
.ndBack:hover{background: #ff6600; }
.ndShare{height: 36px; padding: 10px 0 0; line-height: 36px; }
.ndShareLabel{vertical-align: middle; }
/*新闻页结束*/

/*服务页开始*/
.serBody{width: 1000px; margin: 0 auto; }
.serlist{padding: 52px 0 0; }
.serli{overflow: hidden; margin: 0 0 26px; border: 1px solid #cecece; padding: 28px 0 24px; background: #ffffff; }
.serLeft{float: left; width: 174px; padding: 38px 20px 0 40px; }
.serlIco{width: 103px; height: 103px; margin: 24px auto 0; background: #666666 url(../images/service_ico_circle.png) no-repeat center center; font-size: 0; line-height: 0; text-align: center; }
/*.serli:hover .serlIco{background-color: #ff6600; }*/
.serlTitle{margin: 14px 0 0; line-height: 36px; text-align: center; font-size: 18px; color: #000000; }

.serRight{overflow: hidden; float: left; width: 678px; border-left: 1px dotted #8d8d8d; padding: 18px 0 16px 48px; }
.serLabel{line-height: 32px; font-size: 18px; color: #0CF; }
.serLabel span{margin: 0 20px 0 0; }
.serSum{padding: 15px 0 40px; line-height: 24px; color: #666666; }
.serCon{display: none; }
.serDet{float: right; display: block; position: relative; width: 120px; height: 37px; overflow: hidden; margin: 0 auto; line-height: 36px; text-align: center; text-decoration: none; }
.serdLink,
.serdHover{position: absolute; top: 0; left: 0; width: 120px; height: 37px; background: url(../images/service_button.png) no-repeat center top; }
.serdLink{z-index: 1; background-position: center top; color: #3f3f3f; }
/*.serli:hover .serdLink{display: none; }*/
.serdHover{z-index: 0; background-position: center center; color: #ffffff; }
.p0{font-family:'Microsoft Yahei';background-color:#FFFFFF;font-size: 14px; color: #666666;}

/*body{overflow: hidden; }*/
.serDetaile{display: none; position: fixed; z-index: 1001; left: 50%; top: -606px; width: 1000px; height: 606px; box-shadow: 5px 5px 5px rgba(0,0,0,0.3), -5px -5px 5px rgba(0,0,0,0.3); margin: -303px 0 0 -500px; background: #ffffff; }
.serDetaile .serCon{display: block; }
.sdCloseBtn{position: absolute; right: -68px; top: 0; width: 68px; height: 68px; background: #e00025 url(../images/dialog_close.png) no-repeat center center }
.sdCloseBtn:hover{background-color: #ef0229; }
.sdTitle{margin: 45px 0 0; font-size: 24px; line-height: 36px; text-align: center; }
.sdContent{overflow: hidden; height: 400px; margin: 42px 40px 0; padding: 14px 28px 0 0; line-height: 30px; }
.sdContent .mCSB_scrollTools,
.sdContent .mCSB_draggerContainer{width: 10px; }
.sdContent .mCSB_dragger{background: #676767; width: 10px; border-radius: 0; }
.sdContent .mCSB_draggerRail{width: 10px; border-radius: 0; background: #c2c2c2; }
.sdContent .mCSB_dragger_bar{display: none; }
.mask{display: none; opacity: 0; filter: alpha( opacity = 0 ); position: fixed; z-index: 1000; left: 0; top: 0; right: 0; bottom: 0; background: #000000; opacity: 0.5; filter: alpha( opacity = 50 ); }
/*服务页结束*/

/*关于我们开始*/
.aboutWrap{width:100%; margin:500px 0px 500px 0px; }
.aboutSide{position: fixed; z-index: 99; top: 192px; right: 28px; width: 47px; }
.aboutSideTop{height: 24px; background: url(../images/about_slide.png) no-repeat left top; }
.aboutSideLink{padding: 24px 0 12px; background: url(../images/about_slide.png) repeat-y -47px top; }
.aboutSideLink a{display: block; width: 19px; height: 19px; margin: 0 auto 14px; background: url(../images/about_slide.png) no-repeat -141px top; }
.aboutSideLink a:hover,
.aboutSideLink a.curr{background-position: -160px top; }
.aboutSideBottom{height: 24px; background: url(../images/about_slide.png) no-repeat -94px top; }

.astepWrap{ }
.astep{ }

.asTitle{font-size: 50px; color: #454545; text-align: center; line-height: 36px;  }
.asContent{line-height: 24px; }

.astep_1{height: 680px; background: url(../images/about_banner_01.png) no-repeat center center; }
.astep_1 .asTitle{color: #000000;  }
.astep_1 .asContent{padding: 55px 0 0; color: #000000; line-height: 36px; font-size: 18px; width:1000px; margin: 0 auto; }

.astep_2{width: 1000px; margin: 0 auto; padding: 58px 0 80px; }
.astep_2 .asContent{padding: 40px 0 0; color: #3e3e3e; min-height:440px; }

.astep_3{height: 596px; padding: 84px 0 0; background: url(../images/about_banner_02.png) no-repeat center center; text-align: center; }
.astep_3 .asTitle{color: #000000;  }
.astep_3 .asContent{padding: 65px 0 0; color: #000000; line-height: 36px; font-size: 18px; }

.astep_4{width: 1000px; margin: 0  auto; padding: 38px 0 38px; overflow: hidden; }
.astep_4 .asSup{overflow: hidden; width: 1050px; padding: 58px 0 0; }
.astep_4 .asSupl{float: left; width: 290px; margin: 0 60px 0 0; }
.astep_4 .asSuplTitle{line-height: 36px; font-size: 24px; color: #2f2f2f; }
.astep_4 .asSuplIntro{padding: 24px 0 0; line-height:31px;color:#666666;font-size:18px;}

.astep_5{position: relative; z-index: 0; height: 680px; overflow: hidden; }
.as5Prev{position: absolute; left: 0; top: 266px; z-index: 9; width: 56px; height: 115px; background: url(../images/about_banner_ctrl.png) no-repeat left top; }
.as5Next{position: absolute; right: 0; top: 266px; z-index: 9; width: 56px; height: 115px; background: url(../images/about_banner_ctrl.png) no-repeat right top; }
.as5Prev:hover{background-position: left bottom; }
.as5Next:hover{background-position: right bottom; }
.as5Query{position: relative; z-index: 0; height: 680px; overflow: hidden; }
.as5Query li{position: absolute; top: 0; left: 0; height: 680px; width: 1000px; overflow: hidden; font-size: 0; line-height: 0; overflow: hidden; text-align: center; }
.as5Query li img{position: absolute; top: 0; }


.astep_6{height: 680px; width: 1000px; margin: 0 auto; background: url(../images/about_banner_04.png) no-repeat center 172px; }
.astep_6 .asTitle{padding: 84px 0 68px; color: #464646; }
.astep_6 .asContent{line-height: 30px; font-size: 14px; color: #464646; }

.astep_7{height: 680px; background: url(../images/about_banner_05.png) no-repeat center center; }
.as7Wrap{width: 920px; margin: 0 auto; padding: 80px 40px 0; }
.astep_7 .asTitle{text-align: center; color: #ffffff; }
.astep_7 .asContent{padding: 44px 0 0; font-size: 14px; line-height: 30px; color: #ffffff; }
.astep_7 .asjbWrap{padding: 14px 0 0; text-align: center; }
.astep_7 .asJoinBtn{display: inline-block; width: 214px; height: 66px; border: 2px solid #a5a5a5; background: url(../images/white_opacity.png); line-height: 66px; text-decoration: none; color: #ffffff; text-align: center; font-size: 18px; }
.astep_7 .asJoinBtn{*display: inline; zoom: 1;  }
.astep_7 .asJoinBtn:hover{background-image: url(../images/white_opacity_hover.png); }
/*关于我们结束*/

/*招聘页开始*/
.joinBody{width: 1000px; margin: 37px auto 0; background: #ffffff; }
.joWrap{ }
.joList{margin: 0 0 8px; border-bottom: 1px dotted #848484; padding: 48px 40px 58px; }
.joList.noBottomBorder{border-bottom: none; }
.joName{padding: 0 0 40px; color: #000000; font-size: 18px; line-height: 28px; }
.joContent{line-height: 24px; color: #535353; }
.jocTitle{line-height: 28px; color: #000000; font-size: 14px; }
.jocIntro{padding: 20px 0 48px; }
.joSendBtn{display: block; position: relative; margin: 6px 0 0; width: 122px; height: 34px; overflow: hidden; line-height: 34px; text-align: center; }
.josbLink,
.josbHover{position: absolute; top: 0; left: 0; width: 122px; height: 34px; background: url(../images/join_btn.png) no-repeat center top; }
.josbLink{z-index: 1; background-position: center top; color: #3f3f3f; }
/*.joSendBtn:hover .josbLink{display: none; }*/
.josbHover{z-index: 0; background-position: center bottom; color: #ffffff; }

/*body{overflow: hidden; }*/
.joinDialog{position: fixed; z-index: 1001; left: 50%; top: -606px; width: 1000px; height: 606px; box-shadow: 5px 5px 5px rgba(0,0,0,0.3), -5px -5px 5px rgba(0,0,0,0.3); margin: -303px 0 0 -500px; background: #ffffff; }
.jfWrap{width: 420px; margin: 0 auto; padding: 53px 0 0; }
.jfWrap input,
.jfWrap textarea{border: 1px solid #989898; font-size: 14px; line-height: 38px; }
.jfWrap input{height: 38px; }
.jfiName{padding: 0 0 18px; }
.jfiName input{width: 380px; padding: 0 4px; }
.jfiSex{padding: 0 0 18px; }
.jfiSex input{width: 177px; margin: 0 17px 0 0; padding: 0 4px; }
.jfiPosi{padding: 0 0 18px; }
.jfiPosi input{width: 177px; margin: 0 17px 0 0; padding: 0 4px; }
.jfIntro{padding: 0 0 18px; }
.jfIntro textarea{width: 381px; height: 178px; padding: 0 4px; line-height: 24px; }
.jfBtn .jfSubmit,
.jfBtn .jfCancel{position: relative; float: left; width: 186px; height: 41px; margin: 0 19px 0 0; }
.jfBtn input{position: absolute; width: 186px; height: 41px; border: none; background: url(../images/join_form.png) no-repeat center bottom;}
.jfBtn .jfBtnLink{z-index: 9; background-position: center bottom; }
.jfBtn .jfBtnHover{z-index: 0; background-position: center top; color: #ffffff; }
/*.jfBtn .jfSubmit:hover .jfBtnLink,
.jfBtn .jfCancel:hover .jfBtnLink{display: none; }
.jfBtn .jfSubmit:hover .jfBtnHover,
.jfBtn .jfCancel:hover .jfBtnHover{display: block; }*/
/*招聘页结束*/

/*联系我们开始*/
.catBody{width: 1000px; margin: 0 auto; padding: 60px 0 0; }
.catTab{overflow: hidden; padding: 0 0 20px; }
.catLabel{float: left; width: 100px; height: 71px; margin: 0 18px 0 0; border: 1px solid #dadada; background: #ffffff; line-height: 72px; color: #828282; text-align: center; text-decoration: none; font-size: 14px; }
.catLabel.curr,
.catLabel:hover{border: 1px solid #ffffff; background: #303030; color: #ffffff; }
.catQuery{padding: 0 0 23px; }
.catCon{border: 1px solid #d7d7d7; overflow: hidden; }

.catContact{ }
.catConTop{overflow: hidden; padding: 0 0 48px; border-bottom: 1px dotted #9f9f9f; }
.catContl{float: left; width: 680px; padding: 50px 0 0 60px; }
.catctlTitle{font-size: 24px; color: #484848; }
.catctlCon{padding: 42px 0 0; line-height: 32px; color: #484848; }
.catContr{position: relative; float: right; margin: 54px 58px 0 0; width: 192px; height: 77px; border: 1px solid #d9d9d9; border-right: none; }
.catQrcode{float: left; }
.catqTab{display: block; width: 95px; height: 35px; padding: 42px 0 0; border-right: 1px solid #d9d9d9; background: #f2f2f2; text-align: center; color: #4d4c4d; text-decoration: none; line-height: 24px; }
.catqTab.curr{background-color: #dadada; }
.catqTabwx{background: url(../images/ico_wx.png) no-repeat center 10px; }
.catqTabwb{background: url(../images/ico_wb.png) no-repeat center 8px; }
.catqc{position: absolute; left: 0; top: 78px; width: 190px; border: 1px solid #d9d9d9; padding: 12px 0; text-align: center; }

.catConBottom{overflow: hidden; padding: 68px 0 60px; }
.catBuss{float: left; width: 210px; padding: 0 61px; border-right: 1px dotted #8f8f8f; }
.catBuss:last-child,
.catBussLast{border-right: none; }
.catbTitle{color: #114394; line-height: 24px; font-size: 14px; }
.catbCon{padding: 16px 0 0; line-height: 24px; color: #555555; }

.catWork{padding: 40px 0 64px 38px; }
.catwHead{padding: 0 0 58px; color: #787878; font-size: 14px; line-height: 32px; }
.catwTitle{font-size: 18px; color: #555555; }
.catwInput{padding: 0 0 32px; }
.catwInput input{width: 399px; height: 24px; margin: 0 30px 0 0; border: 1px solid #c6c6c6; padding: 11px 12px 10px; font-size: 14px; line-height: 24px; }
.catwText{padding: 0 0 32px; }
.catwText textarea{width: 860px; height: 118px; border: 1px solid #c6c6c6; padding: 4px 12px; line-height: 24px; font-size: 14px; }
.catwVer{overflow: hidden; padding: 4px; }
.catwVer input{float: left; width: 236px; height: 24px; margin: 0 12px 0 0; border: 1px solid #c6c6c6; padding: 11px 12px 10px; font-size: 14px; line-height: 24px; }
.catwVerImg{float: left; font-size: 0; line-height: 0; vertical-align: -16px; }
.catwVerImg img{ }
.catwBtn{padding: 34px 0 0; }
.catwSubmit,
.catwReset{position: relative; float: left; width: 134px; height: 45px; margin: 0 16px 0 0; font-size: 14px; }
.catwSubmit input,
.catwReset input{position: absolute; top: 0; left: 0; width: 134px; height: 45px; border: none; background-image: url(../images/feed_btn.png); background-repeat: no-repeat; color: #ffffff; }
.catwBtnLink{z-index: 9; background-position: right center; }
.catwBtnHover{z-index: 0; background-position: left center; }
/*.catwSubmit:hover,
.catwReset:hover{background-position: left center; }*/
.catwTip{color: #cf0000; }
.catWork input.focus,
input,
textarea{font-family: "Microsoft Yahei"; }
input:focus,
textarea:focus{outline: none; border: 1px solid #d57a87; box-shadow: 1px 1px 3px #d57a87,-1px -1px 3px #d57a87; }
input.placeholder,
textarea.placeholder{color: #999999; }
input.focus,
textarea.focus{border: 1px solid #d57a87; }

.catMap{text-align: center; padding: 10px 0 0 10px; }
.catMap iframe{border: none; }
/*联系我们结束*/

/*站内动态开始*/
.wrapper{width: 1000px; margin: 0 auto;}
.articles .explain{}
.articles .explain .e_left{float:left; width:300px; height:275px; overflow:hidden; position:relative;}
.articles .explain .e_right{float:right; width:170px; height:275px; position:relative;}
.articles .explain .e_summary{line-height:20px; width:170px; height:140px; overflow:hidden; position:relative;}

.articles .explain .e_left .e_cover_image{width:300px; height:275px; position:absolute; z-index:2;}
.articles .explain .e_left .e_image_bg{width:267px; height:152px; overflow:hidden; position:absolute; z-index:1; left:13px; top:15px;}
.articles .explain .e_left .e_image{width:1068px; height:152px;}
.articles .explain .e_summary .e_summary_box{width:680px; height:140px; overflow:hidden;}
.articles .explain .e_summary .e_summary_txt{width:170px; height:140px; overflow:hidden; float:left;color: #666666;}

.articles .e_control_sc{position:absolute; right:20px; top:5px; width:20px; height:56px;}
.articles .esc_up,
.articles .esc_down{width:20px; height:28px; background:url(../images/icons.gif) no-repeat; cursor:pointer;}
.articles .esc_up{background-position:left -500px;}
.articles .esc_up_over{background-position:-20px -500px;}
.articles .esc_down{background-position:left -528px;}
.articles .esc_down_over{background-position:-20px -528px;}

.articles .e_control{position:absolute; width:170px; height:120px; left:0; bottom:0;}
.articles .e_control dl{padding:0; margin:0;}
.articles .e_control dd{padding:0; margin:0; height:30px;}
.articles .e_control dd img{width:103px; height:30px; cursor:pointer; background:url(../images/icons.gif) no-repeat;}
.articles .e_control dd.ecm_1 img{background-position:right -380px;}
.articles .e_control dd.ecm_2 img{background-position:right -410px;}
.articles .e_control dd.ecm_3 img{background-position:right -440px;}
.articles .e_control dd.ecm_4 img{background-position:right -470px;}
.articles .e_control dd.ecm_1 img.over{background-position:left -380px;}
.articles .e_control dd.ecm_2 img.over{background-position:left -410px;}
.articles .e_control dd.ecm_3 img.over{background-position:left -440px;}
.articles .e_control dd.ecm_4 img.over{background-position:left -470px;}


#xwzx {float: left;width: 485px; margin:0; }
#xwzx li{height:40px;padding-left:2px;margin-top:10px;padding-bottom:9px;float:left;width:445px;border-bottom: 1px dashed #999999;}
#xwzx .xw{float:right; width:350px;font-size: 14px;color:#333333;line-height: 1.6em;}
#main_bottom #xwzx .xwlj01 .sj {background:url(../images/sj_bg.jpg) 4px top no-repeat;}
.sj {float:left;width:80px;background:url(../images/sj_01.png) 0px top no-repeat;padding-top:6px;color:#FFFFFF;height: 46px; text-align:center;line-height: 1.4em;}
.sj .sjys_01 {font-size: 20px;font-weight:bold;}
#xwzx li a {font-size: 14px;color: #454545;text-decoration: none;line-height: 1.5em; padding:0px 0px 0px 5px;}
#xwzx li a:hover{color: #0195D3;}
#xwzx .xw p {font-size:12px;color:#999999; line-height:1.5em; padding:0px 0px 0px 5px;}
.clr10{ margin:0px; height:15px; overflow:hidden;  padding:0px; clear:both;}

/*2014-08-13 new page*/
.nav li {                   
 display: inline;     
 }
 .sort-page {
text-align: center;
_padding-bottom: 2px;
}
.sort-page a {
display: -moz-inline-stack;
display: inline-block;
vertical-align: middle;
zoom: 1;
}
.sort-page .page_yes{
background: #616161;
border-color: #616161;
color: #fff;
}
.sort-page a.page-btn-dis {
border-color: #ededed;
color: #bcbcbc;
cursor: default!important;
background-color: #e3e3e3!important;
}
.sort-page .page-pre-btn,.sort-page .page-next-btn,.sort-page a {
height: 38px;
line-height: 38px;
width: 78px;
background: #fff;
font-size: 16px;
border: 1px solid #d9d9d9;
color: #333;
text-align: center;
position: relative;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-ms-border-radius: 2px;
-o-border-radius: 2px;
border-radius: 2px;
margin-right: 3px;
}
.sort-page a.page:hover{background: #f1f1f1;}
/*2015 新 关于我们*/
.wrappere{ width:1100px; margin:0 auto;}
.about-banner{ background:#000 url(../images/about-bj.jpg) center no-repeat; height:290px;}
.who{ background:#e7e7e7 url(../images/about.gif); height:310px; border-bottom:15px solid #f9f8f8}
.whocon{ background:url(../images/about-who.png) no-repeat; height:310px;}
.whocon p{ width:705px; float:right; font-size:14px; color:#555555; line-height:30px; padding:120px 0px 0px 0px;}
.members{ height:443px; background:#213d3c url(../images/about2.gif); overflow:hidden}
.member-left{ background:url(../images/about-mem.png) no-repeat; width:330px;color:#fff; height:243px; font:16px/30px Microsoft Yahei; padding:202px 0 0 43px; overflow:hidden}
.member-left ul{ width:276px;}
.mlone{ font-size:12px; margin-bottom:16px}
.about-per{ width:712px; margin-top:71px; color:#fff;}
.about-per li{ width:171px; float:left; margin-left:7px;line-height:24px; font-size:10.3px;}
.about-per li p{}
.about-per li img{ width:171px; height:188px;}
.about-per li h2{ font-size:16px; margin:7px 0 10px}
.about-per li span{ color:#ffa935;}
.aboutding{ background:url(../images/aboutbottom.jpg) center repeat-x; height:123px; margin:35px auto 0; padding-top:35px; }
.aboutding p{ background:url(../images/about.png) no-repeat 0; height:21px; width:1100px; margin:0 auto;}
.aboutbottom{ background:#887b50; height:85px; padding-top:18px;}
.aboutbottom li{ font-size:14px; line-height:28px; color:#f1f0ed;}
.aboutbottom li span{ font-size:18px;}


.personalized{ background:#fdfdfd url(../images/ser-1.jpg) bottom repeat-x; height:494px; text-align:center; padding-top:66px;}
.personalized dl{ background:url(../images/ser-top.jpg) no-repeat bottom; height:332px}
.personalized dl dt{ width:446px; height:58px; background:url(../images/ser-title.png) no-repeat; margin:0px auto 30px}
.personalized dl dd{ margin: 0 64px; color:#585858; font-size:14px; line-height:24px}
.personalized p{ font-weight:bold; margin-top:52px; font-size:40px; color:#fff;}
.personalized p span{ font-size:40px; color:#ffc600}
.come{ background:url(../images/ser-one.jpg) center; height:410px; padding-top:51px}
.come p{ background:url(../images/come.png) no-repeat; height:298px; width:1100px; margin:0 auto}
.advantage{ background:url(../images/ser-ser.jpg) center; height:217px; padding-top:167px; text-align:center}
.advantage span{ text-align:center; color:#f1f0ed; font-size:16px;}
.brand{ overflow:hidden; height:100%; padding:80px 0 102px;}
.brand h2{ background:url(../images/ser-title.png) no-repeat 0 -81px; width:190px; height:61px; margin:0 auto 40px;}
.brand ul{ background:#fdfdfd; margin-left:-5px;}
.brand ul li{ width:179px; height:87px; float:left; margin:0 0 6px 5px;}
/*套餐表格*/
#content {width:100%; max-width:980px;  margin:1% auto 0;}
table {
	overflow:hidden;
	border:1px solid #d3d3d3;
	background:#fefefe;
	width:100%;
	margin:10px 0px 10px 0px;
	-moz-border-radius:5px; /* FF1+ */
	-webkit-border-radius:5px; /* Saf3-4 */
	border-radius:5px;
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
th, td {padding:14px 0px 14px 20px; text-align:left; }
th {padding-top:22px; text-shadow: 1px 1px 1px #fff; background:#e8eaeb;}
td {border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0;}
tr.odd-row td {background:#f6f6f6;}
td.first, th.first {text-align:left}
td.last {border-right:none;}
td {
	background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
	background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
}
tr.odd-row td {
background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
}
th {
	background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
	background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
}
tr:first-child th.first {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px; /* Saf3-4 */
}
tr:first-child th.last {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px; /* Saf3-4 */
}
tr:last-child td.first {
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px; /* Saf3-4 */
}
tr:last-child td.last {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px; /* Saf3-4 */
}

/*2015新底部*/
.container_12{margin-left:auto;margin-right:auto;width:980px;}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{display:inline;float:left;margin-left:0px;margin-right:0px;}
.container_12 .grid_1{width:60px;}
.container_12 .grid_2{width:140px;}
.container_12 .grid_3{width:180px;}
.container_12 .grid_4{width:260px;}
.container_12 .grid_5{width:380px;}
.container_12 .grid_6{width:550px;}

#site_footer{ 
	background-image: url(../images/62.png);
	background-color: #222222;
	background-repeat: repeat; 
	background-position: center top; 
}
#site_footer
#site_footer .widgetized_footer,
#site_footer .widgetized_footer .widget-title,
#site_footer .widgetized_footer .widget ul li{
	color: #cccccc;
}
#site_footer .widgetized_footer a,
#site_footer .widgetized_footer .widget ul li a{
	color: #cccccc;
}
#site_footer a:hover,
#site_footer .widgetized_footer a:hover,
#site_footer .widgetized_footer .widget ul li a:hover{
	color: #7dbcff;
}
#site_footer_second{
	background: #333333;
	border-top: 1px solid #49475C;
}
#site_footer_second,
#site_footer_second .site_footer_inner,
.site_copyright{
	color: #cccccc;
}
#site_footer_second a,
#site_footer_second .site_footer_inner a{
	color: #cccccc;
}
#site_footer_second a:hover,
#site_footer_second .site_footer_inner a:hover{
	color: #7dbcff;
}

#site_footer_second{
	background: #333333;
	border-top: 1px solid #49475C;
}
#site_footer_second,
#site_footer_second .site_footer_inner,
.site_copyright{
	color: #cccccc;
}
#site_footer_second a,
#site_footer_second .site_footer_inner a{
	color: #cccccc;
}
#site_footer_second a:hover,
#site_footer_second .site_footer_inner a:hover{
	color: #7dbcff;
}
#site_footer {
	background: url(../../images/62.png) repeat center top #222222;
	border: 0;
	color: #f3eafd;
	margin-top: 0;
	padding: 10px 0 10px;
	overflow: hidden;
	position: relative;
}

#site_footer .widgetized_footer {
	position: relative;
	padding: 10px 0;
	z-index: 50
}

#site_footer .widgetized_footer .widget {
	margin: 20px 0 20px
}

#site_footer .widgetized_footer .widget-title {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 15px;
	background: 0;
	color: #fff;
	border-bottom: 0
}

#site_footer .widgetized_footer .widget-title span {
	background: 0;
	margin: 0;
	padding: 0
	
}

#site_footer .widgetized_footer .widget p {
	margin: 10px 0;
	
}

#site_footer .widgetized_footer .widget ul li {
	margin: 0
}

#site_footer .widgetized_footer .widget ul li a {
	display: block;
	padding: 1px 0 9px 0;
	font-weight: 400;
	text-decoration: none;
	border: 0;
	background: 0;
	transition: color .3s;
	-moz-transition: color .3s;
	-webkit-transition: color .3s;
	-o-transition: color .3s
}

#site_footer .widgetized_footer a,#site_footer_second a {
	text-decoration: none
}

#site_footer .widgetized_footer a:hover,#site_footer_second a:hover,#site_footer .widgetized_footer .widget ul li a:hover,#site_footer .widgetized_footer .widget ul li a:focus,#site_footer .widgetized_footer .widget ul li a:active,#site_footer .widgetized_footer .widget ul li.current-menu-item a {
	text-decoration: none
}

#site_footer .widgetized_footer .widget ul li:first-of-type a {
	border-top: 0
}

#site_footer .widgetized_footer .widget ul li:last-of-type a {
	border-bottom: 0
}

#site_footer .footer_glare {
	display: block;
	position: absolute;
	width: 1500px;
	height: 500px;
	background: url(../images/footer_gl.png) no-repeat center top;
	top: 0;
	left: 50%;
	margin-left: -750px;
	z-index: 40
}

#site_footer_second {
	position: relative;
	background: #333333;
	color: #f3eafd;
	border: 0;
	height: 60px;
	border-top: 1px solid #49475c;
	box-shadow: 0 0 15px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 0 15px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.15)
}

#site_footer_second .site_footer_inner {
	padding: 10px 0
}

.site_copyright {
	float: left;
    padding: 10px 0 10px;
	font-size: 13px;
	
}

.footer2_right {
	float: right;
	padding: 10px 0 10px;
	font-size: 13px;
	color: #cccccc;	
}

.footer_social a {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 0;
	background: url(../images/socialsprite_footer.png) 0 0 no-repeat;
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	opacity: .65;
	filter: alpha(opacity:65)
}

.footer_social a:hover {
	opacity: 1;
	filter: alpha(opacity:100)
}

.footer_social a.youtube {
	background-position: 0 2px
}

.footer_social a.vimeo {
	background-position: -24px 2px
}

.footer_social a.twitter {
	background-position: -48px 2px
}

.footer_social a.tumblr {
	background-position: -72px 2px
}

.footer_social a.stumbleupon {
	background-position: -96px 2px
}

.footer_social a.pinterest {
	background-position: -120px 2px
}

.footer_social a.linkedin {
	background-position: -144px 2px
}

.footer_social a.lastfm {
	background-position: -168px 2px
}

.footer_social a.friendfeed {
	background-position: -192px 2px
}

.footer_social a.flickr {
	background-position: -216px 2px
}

.footer_social a.facebook {
	background-position: -240px 2px
}

.footer_social a.digg {
	background-position: -264px 2px
}

.footer_social a.deviantart {
	background-position: -288px 2px
}

.footer_social a.delicious {
	background-position: -312px 2px
}

.footer_social a.brightkite {
	background-position: -336px 2px
}

/*2015 新视差滚动 关于我们开始*/

.clear{ clear:both}
li{ list-style:none;}
/* 右侧导航 */
#fullPage-nav { _display: none; font-size: 12px;}
#fullPage-nav li { width: 90px; height: 21px; margin: 3px 0 0; vertical-align: middle;}
#fullPage-nav li a { float: right; width: 21px; height: 21px; color: #8F9DA4; text-decoration: none; text-align: right; background: url(../images/dot.png) 5px 5px no-repeat;}
#fullPage-nav li .active { background-position: 5px -30px;}
#fullPage-nav span { display: none;}
.fullPage-tooltip { float: left; top: 0; margin-right: 5px; font: 12px "Microsoft Yahei"; color: #8F9DA4; line-height: 21px;}


.section { position: relative; overflow: hidden;}
.section .bg { position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.section .bg img { display: block; width: 100%; height: 100%;}
.fullimg{ width:100%; height:auto;}

/* 板块一 */
.section1 .bg{ background:#fff;}
.section1 .bg11{ width:100%; height:auto; position:absolute; top:-100px;left:0; opacity: 0;  transition: all 1s;}
.section1 .bg12{ width:22%; height:auto; position:absolute; top:-16%; left:39%; opacity: 0;  transition: all 1s;}
.section1 .bg13{ width:70%; height:auto; position:absolute; bottom:-50%; left:15%; opacity: 0;  transition: all 1s; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); -moz-transform:scale(0.5,0.5);}
.section1 .bg14{ width:63%; height:auto; position:absolute; bottom:-50%; left:16%; opacity: 0;  transition: all 1s;}

.active .bg11{ top:100px; opacity: 1;  transition-delay: 1s;}
.active .bg12{ top:20%;  opacity: 1;  transition-delay: 1.2s;}
.active .bg13{ bottom:-10px; opacity: 1;  transition-delay: 0.7s; -webkit-transform:scale(1, 1); transform:scale(1, 1); -moz-transform:scale(1,1);}
.active .bg14{ bottom:-50px; opacity: 1;  transition-delay: 1s;}

.ltie10 .bg11{ top:0; opacity: 1;}
.ltie10 .bg12{ top:16%;  opacity: 1;}
.ltie10 .bg13{ bottom:-10px; opacity: 1;}
.ltie10 .bg14{ bottom:-50px; opacity: 1;}
/* 板块一 end */

/* 板块�?*/
.section2 .bg21{ width:30%; height:auto; position:absolute; top:-11%; left:35%; opacity: 0;  transition: all 1s;}
.section2 .bg22{ width:58%; height:auto; position:absolute; bottom:-50%; left:21%; opacity: 0;  transition: all 1s;}
.section2 .bg23{ width:48%; height:auto; position:absolute; bottom:0; left:-24%; opacity: 0;  transition: all 1s;}
.section2 .bg23 div{ position:relative;}
.section2 .bg23 img{ position:absolute; left:0; top:0;}
.section2 .bg23 .bg232{ display:none;}

.active .bg21{ top:20%; opacity: 1;  transition-delay: .7s;}
.active .bg22{ bottom:10%; opacity: 1;  transition-delay: 1s;}
.active .bg23{ bottom:70%; left:24%; opacity: 1;  transition-delay: 1s;}

.ltie10 .bg21{ top:11%; opacity: 1;}
.ltie10 .bg22{ bottom:10%; opacity: 1;}
.ltie10 .bg23{ bottom:70%; left:24%;}
/* 板块�?end */

/* 板块�?*/
.section3 .bg{ background:#fff;}
.section3 .bg31{ width:30%; height:auto; position:absolute; top:-11%; left:35%; opacity: 0;  transition: all 1s;}
.section3 .bg32{ width:52%; height:auto; position:absolute; bottom:10%; left:-24%; opacity: 0;  transition: all 1s;}
.section3 .bg32 img{ width:19%; float:left; margin:0 3%;}

.active .bg31{ top:17%; opacity: 1;  transition-delay: .7s;}
.active .bg32{ left:24%; opacity: 1;  transition-delay: 1s;}

.ltie10 .bg31{ top:11%; opacity: 1;}
.ltie10 .bg32{ left:24%; opacity: 1;}
/* 板块�?end */

/* 板块�?*/
.section4 .bg{ background:#454545;}
.section4 .bg44{ width:100%; position:absolute; left:0; top:0;}
.section4 .bg41{ width:32%; height:auto; position:absolute; top:-10%; left:34%; opacity: 0;  transition: all 1s;}
.section4 .bg42{ width:100%; height:auto; position:absolute; bottom:-50%; left:0; opacity: 0;  transition: all 1s;}
.section4 .bg43{ width:10%; height:auto; position:absolute; bottom:10%; right:0; opacity: 0;  transition: all 1s;}

.active .bg41{ top:17%; opacity: 1;  transition-delay: .7s;}
.active .bg42{ bottom:-10px; opacity: 1;  transition-delay: .7s;}
.active .bg43{ bottom:53%; right:18%; opacity: 1;  transition-delay: 1.3s;}

.ltie10 .bg41{ top:10%; opacity: 1;}
.ltie10 .bg42{ bottom:-10px; opacity: 1;}
.ltie10 .bg43{ bottom:53%; right:18%; opacity: 1;}
/* 板块�?end */

/* 板块�?*/
.section5 .bg{ background:#fff;}
.section5 .bg51{ width:34%; height:auto; position:absolute; top:-10%; left:32%; opacity: 0;  transition: all 1s;}
.section5 .bg52{ width:34%; height:auto; position:absolute; top:38%; left:32%;}
.section5 .bg52 dl{ margin-bottom:10px;}
.section5 .bg52 dt{ width:9.5%; float:left;}
.section5 .bg52 dd{ width:88%; float:right; position:relative;}
.section5 .bg521{ position:absolute; left:0; top:0; }
.section5 .bg522{ position:absolute; left:0%; top:0;  transition: all 1s; -webkit-transform:scale(0,1); transform:scale(0,1); -moz-transform:scale(0,1); }
.section5 .bg53{ width:240px; height:58px; position:absolute; left:50%; margin-left:-120px; bottom:-10%; opacity: 0;  transition: all 1s;}
.section5 .bg53 a{ display:block; line-height:58px; width:100%; height:100%; background:#fff; border:1px solid #d1d1d1; text-align:center; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
.section5 .bg53 a i{ display:inline-block; font-style:normal; font-size:20px; background:url(../images/bg_54.png) no-repeat left center; padding-left:30px;}
.section5 .bg53 a:hover{ background:#ea7d57;}
.section5 .bg53 a i.on{background:url(../images/bg_53.png) no-repeat left center;}
.section5 .bg53 a:active{ background:#d46f4c;}
.section5 .bg54{ position:absolute; bottom:2%; width:100%; left:0; text-align:center;}
.section5 .bg54 p{ display:inline-block; background:url(../images/logo1.gif) no-repeat left top; height:30px; line-height:42px; font-size:13px; color:#7c7c7c; padding-left:280px; position:relative;}
.section5 .bg54 .a1{ position:absolute; display:block; width:98px; height:29px; left:0; top:0;}
.section5 .bg54 .a2{ position:absolute; display:block; width:155px; height:29px; left:105px; top:0;}

.active .bg51{ top:20%; opacity: 1;  transition-delay: .7s;}
.active .bg53{ bottom:20%; opacity: 1;  transition-delay: .7s;}
.active .bg522{ transition-delay: .7s; -webkit-transform:scale(1); transform:scale(1);}

.ltie10 .bg51{ top:10%; opacity: 1;  }
.ltie10 .bg53{ bottom:20%; opacity: 1; }
/* 板块�?end */

.section h1{ position:absolute; top:30px; left:-30%; z-index:999; opacity: 0;  transition: all 1s; background:url(../images/logo.png) no-repeat; background-position:left top; width:306px; height:35px;} 
.section h1 .a1{ width:118px; height:35px; display:block; float:left}
.section h1 .a2{ width:187px; height:35px; display:block; float:right}
.active h1{left:30px; opacity: 1; transition-delay: .5s;}
.section2 h1,.section4 h1{background-position:left bottom;}
.ltie10 h1{left:30px; opacity: 1;}
