/*km-jz.cn À¥Ã÷´´ÒâCSS*/
html, body, div, p, span, strong, em, a, i, dl, dt, dd, small, ol, ul, li, h1, h2, h3, h4, h5, h6, img, input, textarea, table, tr, td {
	margin: 0;
	padding: 0;
}
body {
	background: #fff;
	min-width: 1000px;
	font-size: 13px; font-family: "Microsoft Yahei"; font-family: "Î¢ÈíÑÅºÚ";
	color:#666666;
	overflow-x: hidden;
}
body a, input, button, textarea {
	outline:none;
blr:expression(this.onFocus=this.blur());
}
ol, ul, li {
	list-style: none;
}
img, input {
	vertical-align: middle
}
a {
	color: #666666;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #00a2e9;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}
em {
	font-style: normal;
}
img {
	 border: 0 none;
}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
}
::selection {
 background:#d54544;
 color:#fff;
}
::-moz-selection {
 background:#00a2e9;
 color:#fff;
}
::-webkit-selection {
 background:#00a2e9;
 color:#fff;
}
.btn:hover {
	cursor: pointer;
}
.container {
	width: 1200px;
	margin: 0 auto;
	min-width:1024px;
	
}
.date:after, .row:after, .container:after, .clear:after, .hd:after, .bd:after, .mod:after {
	display: block;
	height: 0;
	clear: both;
	content: " ";
}
.date, .row, .container, .clear, .hd, .bd, .mod {
	zoom: 1;
}
.arrow {
	display:block;
	width:0;
	height:0;
	overflow:hidden;
	border-width:5px;
	border-style:solid;
	border-color: transparent;
*zoom:1
}
.arrowR {
	border-left-color:#c7c4c4;
	border-right-width:0
}
.arrowL {
	border-right-color:#f60;
	border-left-width:0
}
.arrowT {
	border-bottom-color:#f60;
	border-top-width:0
}
.arrowB {
	border-top-color:#f60;
	border-bottom-width:0
}
.table tr th, .table tr td {
	text-align: center;
	border: 1px solid #ddd;
	padding: 8px 0;
}
.table tr th {
	background: #eee;
}
.line {
	height: 0px;
	width: 100%;
	overflow: hidden;
	border-top: 1px solid #ccc;
}
/* reset.css end */

.hidden {
	overflow:hidden;
}
#loader {
	width:100%;
	height:1500px;
	background-color:#e1e1e1;
	position:fixed;
	z-index:100000;
}
#loadercon {
	width:333px;
	height:91px;
	margin:350px auto 0px auto;
	background:url("../images/loadback.png") no-repeat;
	position:relative;
}
#loaderstate {
	width:0px;
	height:91px;
	background:url("../images/loading.png") no-repeat
}
#loaderper {
	width:100px;
	height:38px;
	position:absolute;
	border-right:2px solid #0e75bf;
	top:110px;
	left:-100px;
	color:#0e75bf;
}
#loadernum {
	margin:10px 8px 0px 0px;
	width:76px;
	text-align:right;
	font-size:30px;
	float:right;
}
.footer .footer-logo, .icon, .hd .bor-bton {
	background: url("../images/u_icon.png") no-repeat 0 0;
}
.mt140 {
	margin-top: 140px;
}


/*Í·²¿¿ªÊ¼*/
.header{position: fixed; left: 0; right: 0; z-index: 999; height: 103px; width: 100%; min-width: 960px; }
.header_bg{height: 103px; background: #ffffff; }
.header_bar{position: relative; z-index: 9; height: 34px; background: #303030 url("../images/menu_shadow_top.png") repeat-x center bottom; }
.logo{position: absolute; left: 50px; top: 0; height: 43px; width: 209px; padding: 22px 0 0; background: url("../images/logo_bg.png") no-repeat center bottom; text-align: center; font-size: 0; line-height: 0; }
.social{float: right; padding: 8px 0 6px; }
.slist{position: relative; float: left; z-index: 0; }
.slist.active{z-index: 9; }
.sfocus{margin: 0 18px 0 10px; padding: 0 16px 0 0; background: url("../images/header_arrow.png") no-repeat right center; color: #999999; text-decoration: none; }
.slist.active .sfocus{background-image: url("../images/header_arrow_hover.png"); color: #ffffff; }
.sqrcode_wrap{display: none; position: absolute; top: 0px; right: 0; opacity: 0.8; filter: alpha( opacity = 80 ); width: 200px; height: 229px; padding: 25px 4px 4px; background: url("../images/qr_code_shadow.png") no-repeat center bottom; text-align: center; }
.sqrcode{display: block; cursor: default; padding: 8px 0 4px; font-size: 0; line-height: 0; }
.slink{display: block; cursor: default; color: #676767; text-decoration: none; line-height: 24px; }

.menu{position: relative; height: 69px; background: #ffffff; }
.mshadow{position: absolute; bottom: -5px; left: 0; right: 0; clear: both; height: 5px; background: url("../images/menu_shadow_bottom.png") repeat-x left bottom; }
.mwrap{float: right; }
.mli{float: left; height: 69px; border-left: 1px solid #bfbfbf; }
.mlink{display: block; width: 101px; height: 45px; padding: 12px 0; background: #ffffff; text-align: center; text-decoration: none; }
.mlink.curr{background: #4d4d4d; }
.mico{position: relative; display: block; width: 24px; height: 24px; margin: 0 auto; overflow: hidden;  }
.micoi{position: absolute; top: 0; left: 0; width: 24px; height: 432px; background: url("../images/menu_ico.png") no-repeat center center; }
.mname{line-height: 20px; color: #373737; }
.curr .mname{color: #ffffff; }
.mico_home .micoi{top: 0; }
.curr .mico_home .micoi{top: -48px; }
.mico_about .micoi{top: -72px; }
.curr .mico_about .micoi{top: -120px; }
.mico_service .micoi{top: -144px; }
.curr .mico_service .micoi{top: -192px; }
.mico_case .micoi{top: -216px; }
.curr .mico_case .micoi{top: -264px; }
.mico_news .micoi{top: -288px; }
.curr .mico_news .micoi{top: -336px; }
.mico_contact .micoi{top: -360px; }
.curr .mico_contact .micoi{top: -408px; }
/*Í·²¿½áÊø*/
.banner{height:530px; overflow:hidden;; margin:0 auto; position: relative; min-width:1024px; max-width:100%;height:auto;}
.bwrap{position: relative; z-index: 0; }
.bquery{position: relative; z-index: 0; height: 530px; }
.blist{display: none; position: absolute; top: 0; left: 0; z-index: 0; height:530px; font-size: 0; line-height: 0; }
.blist a{display: block; position: absolute; left: 0; top: 0; }
.blist img{ }
/*.bannerTmpBox{display: none; position: absolute; left: 0; top: 0; z-index: 9; height: 570px; }
.bannerTmpBox a{position: absolute; overflow: hidden; font-size: 0; line-height: 0; }
.bannerTmpBox a img{position: absolute; }*/
.bfilter{position: absolute; top: 0; left: 0; z-index: 9; width: 100%; height: 530px; font-size: 0; line-height: 0; }
.bfilter a{position: absolute; top: 0; left: 0; width: 5%; height: 530px; overflow: hidden; }
.bfilter a img{position: absolute; left: 0; top: 0; }

.bctrl{position: absolute; bottom: 15px; left: 0; z-index: 9; width: 100%; height: 24px; }
.bctrli{text-align: center; font-size: 0; line-height: 0; }
.bctrli a{display: inline-block; width: 24px; height: 24px; margin: 0 5px; background: url(../images/banner_control.png) no-repeat left center; }
.bctrli a:hover,
.bctrli a.curr{background-position: right center; }
.bctrli a{*display: inline; *zoom: 1; }

/*=========banner å¹¿å‘ŠåŒ?=======*/

.hd {
	height: 70px;
	text-align: center;
	padding-top: 1px;
}
.hd strong {
	display: block;
	width: 100%;
	height: 63px;
	text-align: center;
	font-size: 30px;
	line-height: 70px;
	font-weight: normal;
}
.hd .bor-bton {
	height: 6px;
	width: 435px;
	margin: 0 auto;
	background-position: 0 -55px;
}
/*==========é¦–é¡µæœåŠ¡é¡¶ç›®==========*/

.h-service {
	width:100%
	height:380px;
	overflow:hidden;
	position: relative;
}
.h-service .bd .service-list li {
	float: left;
	width: 25%;
 transition: all .5s;
}
.h-service .bd .service-list li .mod {
	margin: 30px 20px 20px;
	text-align: center;
}
.h-service .bd .service-list li .mod .icon {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	background-position: 0 -61px;
	transform: rotate(0deg) scale(1);
	-webkit-transform: rotate(0deg) scale(1);
 -webkit-transition: all .5s;
 transition: all .5s;
}
.animation {
 -webkit-animation:flipInX 1s .2s ease both;
 -moz-animation:flipInX 1s .2s ease both;
}
@-webkit-keyframes flipInX {
 0% {
-webkit-transform:perspective(400px) rotateX(90deg);
 opacity:0
}
 40% {
-webkit-transform:perspective(400px) rotateX(-10deg)
}
 70% {
-webkit-transform:perspective(400px) rotateX(10deg)
}
 100% {
-webkit-transform:perspective(400px) rotateX(0deg);
 opacity:1
}
}
@-moz-keyframes flipInX {
 0% {
-moz-transform:perspective(400px) rotateX(90deg);
opacity:0
}
 40% {
-moz-transform:perspective(400px) rotateX(-10deg)
}
 70% {
-moz-transform:perspective(400px) rotateX(10deg)
}
 100% {
-moz-transform:perspective(400px) rotateX(0deg);
opacity:1
}
}
.h-service .bd .service-list li:hover .icon {
	-webkit-transform: rotate(360deg) scale(1.2);
	transform: rotate(360deg) scale(1.2);
}
.h-service .bd .service-list li .mod .i2 {
	background-position: -100px -61px;
}
.h-service .bd .service-list li .mod .i3 {
	background-position: -200px -61px;
}
.h-service .bd .service-list li .mod .i4 {
	background-position: -300px -61px;
}
.h-service .bd .service-list li .mod strong {
	display: block;
	text-align: center;
	padding: 20px 0 10px;
	font: 18px/26px "Microsoft Yahei";
}
.h-service .bd .service-list li .mod p {
	color: #595757;
	font-size: 14px;
}
/*==========æ¡ˆä¾‹å±•ç¤º==========*/
.h-case {
	 background: url("../images/test-bg.jpg") no-repeat 0px 0px;
      background-size: cover;
      padding: 2em 0;

    
	background: url("../images/case_bg.jpg") no-repeat center top;
	overflow:hidden;
	position: relative;
	width: 100%;
	height: 484px;
	min-width: 1024px;
}
.h-case1 {
	background: #fff; 
	overflow:hidden;
	position: relative; 
	width: 100%;
	height: 484px;
	min-width: 1024px;
}
.h-case .container {
	position: relative;
}
.h-case .bd .case-list {
	width: 1300px;
	margin: 40px 0 0;
}
.h-case .bd .case-list li {
	position: relative;
	float: left;
	width: 288px;
	height: 292px;
	margin: 0 16px 0 0;
	overflow: hidden;
	background: #fff;
}
.h-case .bd .case-list li:hover {
	background: #00a2e9; 
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	color:#999999;
	
}

.h-case .bd .case-list li:hover strong, .h-case .bd .case-list li:hover span {
	color:#fff;
	
}
.h-case .bd .case-list li:hover .bg {
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	opacity: 1;
}
.h-case .bd .case-list .bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 288px;
	height: 292px;
	z-index: 1;
	background: #00a2e9;
	opacity: 0;
	-moz-transform: scale(.9);
	-webkit-transform: scale(.9);
 -moz-transition: .3s;
 -webkit-transition: .3s;
}
.h-case .bd .case-list li a {
	display: block;
	position: relative;
	overflow: hidden;
	z-index: 2;
	margin: 10px;
	width: 266px;
	height: 272px;
	text-align: center;/* background: #fff; */
}
.h-case .bd .case-list li a img {
	display: block;
}
.h-case .bd .case-list li a strong {
	display: block;
	height: 40px;
	margin: 20px 0 0;
	font: normal 18px/40px "Microsoft Yahei";
}
.item-hover strong, .item-hover span {
	color:#fff;
}
/*==========å·¥ä½œæµç¨‹==========*/
.h-mission {
	width: 100%;
	background: #fff;
	overflow: hidden;
	min-width:1024px;
	border-bottom: #cccccc 1px dashed;
}
.h-mission .bd {
	position: relative;
	width: 1200px;
	height: 310px;
	background: url("../images/mission_bg.jpg") no-repeat left top;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0)
}
.h-mission .scale-animate {
 -webkit-animation: move .8s .5s both;
 -moz-animation: move .8s .5s both;
 -o-animation: move .8s .5s both;
}
@-webkit-keyframes move {
 0% {
-webkit-transform: scale(0)
}
 100% {
-webkit-transform: scale(1)
}
}
@-moz-keyframes move {
 0% {
-moz-transform: scale(0)
}
 100% {
-moz-transform: scale(1)
}
}
@-o-keyframes move {
 0% {
-moz-transform: scale(0)
}
 100% {
-moz-transform: scale(1)
}
}
.h-mission .bd span {
	position: absolute;
}
.h-mission .bd span .icon {
	display: block;
	width: 17px;
	height: 21px;
	background-position: -148px 0;
}
.h-mission .bd .s1 {
	left: 37px;
	top: 79px;
}
.h-mission .bd span .s-animate {
 -webkit-animation:fadeOutLeftBig 1s .2s infinite;
 -moz-animation:fadeOutLeftBig 1s .2s infinite
}
@-webkit-keyframes fadeOutLeftBig {
 0% {
 -webkit-transform:scale(1)
}
 50% {
 -webkit-transform:scale(1.05)
}
 100% {
 -webkit-transform:scale(1)
}
}
@-moz-keyframes fadeOutLeftBig {
 0% {
 -moz-transform:scale(1)
}
 50% {
 -moz-transform:scale(1.05)
}
 100% {
 -moz-transform:scale(1)
}
}
.h-mission .bd .s1 .icon {
	width: 160px;
	height: 160px;
	background-position: 0 -162px;
}
.h-mission .bd .s2 {
	left: 232px;
	top: 137px;
}
.h-mission .bd .s3 {
	left: 261px;
	top: 215px;
}
.h-mission .bd .s4 {
	top: 130px;
	left: 261px;
}
.h-mission .bd .s4 .icon {
	width: 82px;
	height: 82px;
	background-position: -161px -162px;
}
.h-mission .bd .s5 {
	left: 339px;
	top: 21px;
}
.h-mission .bd .s5 .icon {
	width: 73px;
	height: 73px;
	background-position: -244px -162px;
}
.h-mission .bd .s6 {
	left: 403px;
	top: 161px;
}
.h-mission .bd .s6 .icon {
	width: 73px;
	height: 73px;
	background-position: -318px -162px;
}
.h-mission .bd .s7 {
	left: 535px;
	top: 42px;
}
.h-mission .bd .s8 {
	left: 532px;
	top: 171px;
}
.h-mission .bd .s9 {
	left: 641px;
	top: 173px;
}
.h-mission .bd .s10 {
	left: 535px;
	top: 59px;
}
.h-mission .bd .s10 .icon {
	width: 130px;
	height: 130px;
	background-position: -392px -162px;
}
.h-mission .bd .s11 {
	left: 745px;
	top: 20px;
}
.h-mission .bd .s11 .icon {
	width: 104px;
	height: 104px;
	background-position: -523px -162px;
}
.h-mission .bd .s12 {
	left: 752px;
	top: 168px;
}
.h-mission .bd .s12 .icon {
	width: 104px;
	height: 104px;
	background-position: -628px -162px;
}
.h-mission .bd .s13 {
	left: 855px;
	top: 62px;
}
.h-mission .bd .s14 {
	left: 846px;
	top: 255px;
}
.h-mission .bd .s15 {
	left: 918px;
	top: 115px;
}
.h-mission .bd .s15 .icon {
	width: 72px;
	height: 72px;
	background-position: -733px -162px;
}
.h-mission .bd .s16 {
	left: 941px;
	top: 199px;
}
.h-mission .bd .s17 {
	left: 1047px;
	top: 62px;
}
.h-mission .bd .s17 .icon {
	width: 123px;
	height: 123px;
	background-position: 0 -321px;
}
.h-mission .bd .s18 {
	left: 1104px;
	top: 33px;
}
.h-mission .bd .ab em {
	position: absolute;
	top: 70px;
	left: 31px;
	color: #fff;
}
.h-mission .bd .ab .a5 {
	top: 39px;
	left: 11px;
}
.h-mission .bd .ab .a4 {
	top: 47px;
	left: 16px;
}
.h-mission .bd .ab .a6 {
	top: 41px;
	left: 18px;
}
.h-mission .bd .ab .a15 {
	top: 40px;
	left: 20px;
}
.h-mission .bd .ab .a7 {
	left: 22px;
	top: -7px;
	width: 120px;
	color: #333;
}
.h-mission .bd .ab .a3 {
	left: 19px;
	top: 19px;
	width: 100px;
	color: #333;
}
.h-mission .bd .ab .a2 {
	left: -14px;
	top: -20px;
	width: 100px;
	color: #333;
}
.h-mission .bd .ab .a10 {
	left: 44px;
	top: 60px;
	color: #fff;
	width: 60px;
	text-shadow:2px 2px 2px #000;
}
.h-mission .bd .ab .a17 {
	font-size: 24px;
	top: 56px;
	left: 41px;
}
.h-mission .bd .ab .a18 {
	left: -3px;
}
.s1-user {
	position: absolute;
	top: 86px;
	left: 30px;
}
.s1-user, .s2-user {
	font-size: 24px;
	color:#fff;
}
/*==========å…³äºŽ ä¼˜ç¾Žè¿?åŠ¨æ€?=========*/

.umeixun {
	width: 100%;
	height: 521px;
	background: url("../images/umeixun_bg.jpg") no-repeat fixed left top;
	background-size: cover;
	overflow: hidden;
	min-width:1024px;
}
.umeixun .mod-l {
	float: right;
	width: 541px;
	height: 378px;
	margin: 95px 0 0 0px;
	background: url("../images/umeixun_img_bg.png") no-repeat left top;
}
.umeixun .mod-r {
	float: left;
	width: 550px;
	margin: 10px 0 0 20px;
}
.umeixun .mod-r .hd {
	height: 50px;
	line-height: 50px;
	margin: 0;
}
.umeixun .mod-r .hd strong {
	font-size: 18px;
	color: #ebebeb;
	text-align: left;
}
.umeixun .mod-r .bd p {
	line-height: 24px;
	color: #fff;
	margin-bottom: 10px;
}
.umeixun .mod-r .bd .link-more {
	display: block;
	width: 100px;
	margin-top: 8px;
	padding: 6px 5px;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 8px;
	text-align: center;
}
.umeixun .mod-r .bd a.link-more:hover {
	border: 1px solid #00a2e9;
	background: #00a2e9;
	-webkit-transition: all 300ms ease-in;
	-o-transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;
}
.umeixun .mod-r .bd .h-news-list li {
	line-height: 30px;
}
.umeixun .mod-r .bd .h-news-list li a {
	color: #dedede;
	font-size: 14px;
}
/*==========å®¢æˆ·å±•ç¤º==========*/
.h-client {
	padding-bottom: 40px;
}
.h-client .bd {
	padding: 0 0 40px 0;
}
.h-client .bd .h-client-list {
	position: relative;
	margin: 35px 0 0;
	width: 1200px;
	height: 121px;
	overflow: hidden;
}
.h-client .bd .h-client-list li {
	float: left;
	width: 218px;
	margin: 0 27px 0 0;
}
.h-client .bd .h-client-list li a {
	display: block;
}
.h-client .bd .h-client-list li a img {
	border: 1px solid #a0a0a0;
}
.b-mod {
	height: 40px;
	position: relative;
	text-align: right;
}
.b-mod span {
	position: absolute;
	top: 20px;
	right: 2px;
	width: 30px;
	height: 30px;
	background: #ccc;
}
.b-mod .preve {
	right: 40px;
}
.b-mod span .arrow {
	position: absolute;
	top: 5px;
	left: 12px;
	border-width: 10px;
	overflow: hidden;
}
.b-mod span .arrowR {
	border-left-color: #fff;
}
.b-mod span .s-arrow {
	border-left-color: #ccc;
	left: 10px;
}
.b-mod .preve .arrowL {
	border-right-color: #fff;
	left: 0px;
}
.b-mod span:hover {
	background: #999;
}
.b-mod span:hover .s-arrow {
	border-left-color: #999;
}
.b-mod .preve .l-s-arrow {
	border-right-color: #ccc;
	left: 2px;
}
.b-mod span:hover .l-s-arrow {
	border-right-color: #999;
}
.b-mod .link-more {
	position: relative;
	top: 28px;
	right: 80px;
}
/*==========é¡µè„š==========*/
.footer {
	width: 100%;
	border-top: 10px solid #00a2e9;
	background: #393e45;
}
.footer .container {
	position: relative;
}
.footer .container .bg-icon {
	position: absolute;
	right: 0;
	top: 0;
	background: url("../images/footer_top_bg.png") no-repeat left top;
	width: 779px;
	height: 97px;
}
.footer .footer-logo {
	float: left;
	width: 181px;
	height: 182px;
	margin: 55px 30px 0 0;
	background-position: -123px -321px;
}
.footer .footer-menu {
	float: right;
	width: 930px;
}
.footer .footer-menu dl {
	float: left;
	width: 245px;
	padding-left: 65px;
	min-height: 280px;
	margin: 65px 0 0;
	background: url("../images/11.png") no-repeat left top;
}
.footer .footer-menu dl dt {
	color: #a3a4a6;
	font-size: 20px;
	line-height: 50px;
}
.footer .footer-menu dl dt .icon {
	float: left;
	width: 32px;
	height: 28px;
	margin: 10px 10px 0 0;
	background-position: -165px 0;
}
.footer .footer-menu .d2 dt .icon {
	width: 32px;
	height: 30px;
	background-position: -197px 0;
}
.footer .footer-menu dl dd {
	margin: 0 0 0 40px;
}
.footer .footer-menu dl dd a {
	color: #a3a4a6;
}
.footer .footer-menu .d3 dd {
	margin: 0;
	line-height: 35px;
	font-size: 14px;
}
.footer .footer-menu .d3 dd .icon {
	float: left;
	width: 18px;
	height: 17px;
	margin: 6px 8px 0 0;
	background-position: -229px 0;
}
.footer .footer-menu .d3 dd .i2 {
	width: 14px;
	height: 19px;
	background-position: -248px 0;
}
.footer .footer-menu .d3 dd .i3 {
	width: 17px;
	height: 17px;
	background-position: -263px 0;
}
.footer .copyright {
	width: 100%;
	height: 78px;
	background: #2e3238;
	line-height: 78px;
}
.footer .copyright p {
	color: #6b6d70;
}
.footer .copyright p img {
	display: none;
}
.case-list-mod {
	background: none;
	height: auto;
}
.case-list-mod .hd {
	height: 40px;
	line-height: 40px;
	text-align: left;
	padding: 30px 0 0;
}
.case-list-mod .hd .l a {
	padding: 0 15px;
	background: #ccc;
	margin-right: 10px;
}
.case-list-mod .hd .r {
	margin: 0 0 0 70px;
}
.case-list-mod .hd .r a {
	margin-right: 10px;
}
.case-list-mod .bd .case-list li {
	margin-bottom: 20px;
}
.case-list-mod .hd .l .c1 {
	background: #e9302e
}
.case-list-mod .hd .l .c2 {
	background: #843dbf;
}
.case-list-mod .hd .l .c3 {
	background: #3896ed;
}
.case-list-mod .hd .l .c4 {
	background: #77c730;
}
.case-list-mod .hd .l .c5 {
	background: #ff9137;
}
.case-list-mod .hd .l .c6 {
	background: #9d999a;
}
/*  è¿”å›žé¡¶éƒ¨  */
#goTop {
	position: fixed;
	right: 0;
	bottom: 78px;
	display: none;
}
#goTop a {
	display: block;
	width: 58px;
	height: 55px;
	background: #292b2f url('../images/goTop.png') no-repeat 15px 20px;
	text-indent: -99999px;
}
#goTop a:hover {
	background-color:#555354;
}
/* link */
#link {
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #E0E0E0;
	color:#CCC;
	padding:15px;
	font-size: 14px;
}
#link .link-con {
	margin:auto;
	width:1200px;
}
#link span {
	margin:0;
	font-weight: bold
}
#link span, #link a {
	color:gray;
	display:inline-block;
	margin:0 5px;
}
#link a:hover {
	text-decoration: underline;
	color:#f60;
}
.page {
	clear:both;
	height:30px;
	margin:20px;
	overflow:hidden;
	margin-left:550px;
}
.mbbody_body .page {
	margin-left:20px;
}
.page ul {
}
.page ul li {
	float:left;
	border:1px solid #ccc;
	padding:2px 9px;
	margin:0 3px;
	line-height:20px;
	background:#fff;
}
.page ul li.thisclass {
	display:inline-block;
	border:1px solid #1f82b7;
	padding:2px 9px;
	margin:0 3px;
	background:#1c82b7;
	color:#fff;
}
.page ul li.thisclass a {
	color:#fff;
}
.page ul li a:hover {
	color:#1f9652;
}
.page ul li span {
	display:inline-block;
	padding:0;
}



/*¹ØÓÚ¿ªÊ¼*/

.iaAndn{width: 1200px; margin:15px 0px 15px 0px;  overflow: hidden; border:1px solid #DEDEDE;}
.iabout{float: left; width: 502px;  background: #ffffff; overflow: hidden; }
.iaHeader{position: relative; z-index: 9; height: 54px; border-bottom: 1px solid #eaeaea; }
.iaPrev,
.iaNext{position: absolute; top: 11px; width: 33px; height: 33px; background: #bbbbbb url("../images/about_control.png") no-repeat; }
.iaPrev{right: 51px; background-position: left center; }
.iaNext{right: 17px; background-position: right center; }
.iaPrev:hover,
.iaNext:hover{background-color: #606060; }
.iaQuery{position: relative; z-index: 0; height: 225px; width: 502px; }
.iaList{position: absolute; height: 225px; width: 502px; background: #ffffff; }
.iaName{position: absolute; top: -55px; left: 0; height: 32px; width: 379px; padding: 11px 0 11px 23px; }
.iaNameEn{font-size: 24px; color: #777777; line-height: 32px; }
.iaNameCn{margin: 0 0 0 8px; color: #9c9c9c; line-height: 20px; vertical-align: 2px; }
.iaBody{height: 225px; }
.iaPic{position: absolute; left: 20px; top: 25px; width: 172px; height: 175px; font-size: 0; line-height: 0; overflow: hidden;  }
.iaPicMask{position: absolute; left: 0; right: 0; bottom: 0; height: 36px; opacity: 0.8; filter: alpha( opacity = 80 ); background: #000000; }
.iaPicName{position: absolute; left: 0; right: 0; bottom: 0; padding: 0 10px; font-size: 12px; line-height: 36px; color: #ffffff; }
.iaIntro{position: absolute; right: 40px; top: 25px; width: 276px; }
.iaTitle{font-size: 16px; color: #515151; line-height: 24px; }
.iaContent{padding: 15px 0 0; line-height: 24px; color: #515151; }
.iaCtrl{height: 31px; border-top: 1px solid #eaeaea; padding: 19px 14px 0 0; text-align: right; }
.iaCtrl a{display: inline-block; width: 11px; height: 11px; margin: 0 3px; background: #e0e0e0; }
.iaCtrl a{*display: inline; *zoom: 1;}
.iaCtrl a:hover,
.iaCtrl a.curr{background: #4b4b4b; }
/*¹ØÓÚ½áÊø*/

/*ÐÂÎÅ¿ªÊ¼*/
.iNews{float: left; width: 697px;  background: #ffffff; }
.inHeader{height: 54px; padding: 0 0 0 28px; }
.inMore{float: right; width: 72px; height: 54px; border-left: 1px solid #eaeaea; background: #ffffff; text-align: center; line-height: 54px; color: #5f5f5f; font-size: 14px; text-decoration: none; }
.inMore:hover{/*background: #545454;*/ color: #ffffff;  }
.inPrev,
.inNext{float: right; width: 56px; height: 54px; border-left: 1px solid #eaeaea; background: #ffffff url("../images/news_control.png") no-repeat; }
.inPrev{background-position: left bottom; }
.inNext{background-position: right bottom; }
.inPrev:hover{/*background-color: #545454;*/ background-position: left top; }
.inNext:hover{/*background-color: #545454;*/ background-position: right top; }

.inNameEn{font-size: 24px; color: #777777; line-height: 54px; }
.inNameCn{margin: 0 0 0 8px; color: #9c9c9c; line-height: 20px; vertical-align: 2px; }

.inQueryWrap{position: relative; width: 697px; height: 277px; overflow: hidden; }
.inQuery{position: absolute; left: 0; top: 0; width: 1196px; height: 277px; }
.inList{position: relative; height: 112px; width: 586px; border-top: 1px solid #eaeaea; padding: 26px 0 0 112px; }
.inList.inListTop{position: absolute; left: 697px; top : 0; }
.inList.inListBottom{position: absolute; left: 697px; top : 139px; }
.inLableDate{position: absolute; top: 26px; left: 28px; width: 65px; height: 73px; background-color: #9b9b9b; color: #ffffff; text-align: center; }
.indDay{display: block; height: 45px; font-size: 36px; line-height: 45px; border-bottom: 1px dotted #ffffff; }
.indMonth{display: block; font-size: 14px; line-height: 24px; }
.inDate{position: absolute; right: 28px; top: 28px; line-height: 24px; color: #b6b6b6; }
.inTitle{font-size: 14px; line-height: 28px; color: #393939; text-decoration: none; }
.inList:hover .inTitle{color: #0195D3; }
.inIntro{padding: 10px 28px 0 0; line-height: 20px; color: #868686; }
/*ÐÂÎÅ½áÊø*/
#contents {background:url(../images/wraptop.jpg) 0 0px repeat-x; min-height:50px; overflow:hidden;; margin:0 auto; position: relative; min-width:1024px;}
/*
本代码由js代码网网友上传，js代码网收集并编辑整理;
尊重他人劳动成果;
转载请保留js代码链接 - www.jsdaima.com
*/